{
  "title": "Google Docs API",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "revision": "20260401",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/workspace/docs/",
  "servicePath": "",
  "description": "Reads and writes Google Docs documents.",
  "name": "docs",
  "basePath": "",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "TableStyle": {
      "type": "object",
      "id": "TableStyle",
      "description": "Styles that apply to a table.",
      "properties": {
        "tableColumnProperties": {
          "description": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style.",
          "type": "array",
          "items": {
            "$ref": "TableColumnProperties"
          }
        }
      }
    },
    "CropProperties": {
      "type": "object",
      "id": "CropProperties",
      "description": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped.",
      "properties": {
        "offsetRight": {
          "format": "float",
          "description": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width.",
          "type": "number"
        },
        "offsetLeft": {
          "type": "number",
          "description": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width.",
          "format": "float"
        },
        "offsetTop": {
          "format": "float",
          "description": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height.",
          "type": "number"
        },
        "angle": {
          "type": "number",
          "format": "float",
          "description": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets."
        },
        "offsetBottom": {
          "format": "float",
          "description": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height.",
          "type": "number"
        }
      }
    },
    "PositionedObjectPositioningSuggestionState": {
      "type": "object",
      "id": "PositionedObjectPositioningSuggestionState",
      "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "topOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to top_offset."
        },
        "layoutSuggested": {
          "description": "Indicates if there was a suggested change to layout.",
          "type": "boolean"
        },
        "leftOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to left_offset."
        }
      }
    },
    "ImageProperties": {
      "description": "The properties of an image.",
      "properties": {
        "sourceUri": {
          "description": "The source URI is the URI used to insert the image. The source URI can be empty.",
          "type": "string"
        },
        "brightness": {
          "type": "number",
          "format": "float",
          "description": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect."
        },
        "contentUri": {
          "description": "A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change.",
          "type": "string"
        },
        "transparency": {
          "type": "number",
          "format": "float",
          "description": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means transparent."
        },
        "contrast": {
          "type": "number",
          "description": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "format": "float"
        },
        "cropProperties": {
          "$ref": "CropProperties",
          "description": "The crop properties of the image."
        },
        "angle": {
          "format": "float",
          "description": "The clockwise rotation angle of the image, in radians.",
          "type": "number"
        }
      },
      "id": "ImageProperties",
      "type": "object"
    },
    "BatchUpdateDocumentRequest": {
      "type": "object",
      "id": "BatchUpdateDocumentRequest",
      "description": "Request message for BatchUpdateDocument.",
      "properties": {
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "requests": {
          "description": "A list of updates to apply to the document.",
          "type": "array",
          "items": {
            "$ref": "Request"
          }
        }
      }
    },
    "ShadingSuggestionState": {
      "id": "ShadingSuggestionState",
      "description": "A mask that indicates which of the fields on the base Shading have been changed in this suggested change. For any field set to true, there's a new suggested value.",
      "properties": {
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to the Shading.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListPropertiesSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "nestingLevelsSuggestionStates": {
          "type": "array",
          "items": {
            "$ref": "NestingLevelSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first."
        }
      },
      "id": "ListPropertiesSuggestionState"
    },
    "UnmergeTableCellsRequest": {
      "type": "object",
      "id": "UnmergeTableCellsRequest",
      "description": "Unmerges cells in a Table.",
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise.",
          "$ref": "TableRange"
        }
      }
    },
    "RichLink": {
      "type": "object",
      "id": "RichLink",
      "description": "A link to a Google resource (such as a file in Drive, a YouTube video, or a Calendar event).",
      "properties": {
        "richLinkId": {
          "description": "Output only. The ID of this link.",
          "readOnly": true,
          "type": "string"
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this link from the document. A RichLink might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "richLinkProperties": {
          "description": "Output only. The properties of this RichLink. This field is always present.",
          "readOnly": true,
          "$ref": "RichLinkProperties"
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this RichLink, keyed by suggestion ID."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that insert this link into the document. A RichLink might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this RichLink."
        }
      }
    },
    "RichLinkProperties": {
      "description": "Properties specific to a RichLink.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI to the RichLink. This is always present."
        },
        "mimeType": {
          "description": "The [MIME type](https://developers.google.com/drive/api/v3/mime-types) of the RichLink, if there's one (for example, when it's a file in Drive).",
          "type": "string"
        },
        "title": {
          "description": "The title of the RichLink as displayed in the link. This title matches the title of the linked resource at the time of the insertion or last update of the link. This field is always present.",
          "type": "string"
        }
      },
      "id": "RichLinkProperties",
      "type": "object"
    },
    "EmbeddedObjectBorderSuggestionState": {
      "type": "object",
      "id": "EmbeddedObjectBorderSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "colorSuggested": {
          "description": "Indicates if there was a suggested change to color.",
          "type": "boolean"
        },
        "widthSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to width."
        },
        "dashStyleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to dash_style."
        },
        "propertyStateSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to property_state."
        }
      }
    },
    "TabsCriteria": {
      "id": "TabsCriteria",
      "description": "A criteria that specifies in which tabs a request executes.",
      "properties": {
        "tabIds": {
          "description": "The list of tab IDs in which the request executes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Document": {
      "description": "A Google Docs document.",
      "properties": {
        "headers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Header"
          },
          "description": "Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "documentStyle": {
          "description": "Output only. The style of the document. Legacy field: Instead, use Document.tabs.documentTab.documentStyle, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "DocumentStyle"
        },
        "namedStyles": {
          "$ref": "NamedStyles",
          "description": "Output only. The named styles of the document. Legacy field: Instead, use Document.tabs.documentTab.namedStyles, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "revisionId": {
          "description": "Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes.",
          "type": "string"
        },
        "positionedObjects": {
          "description": "Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "type": "object"
        },
        "body": {
          "description": "Output only. The main body of the document. Legacy field: Instead, use Document.tabs.documentTab.body, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "Body"
        },
        "namedRanges": {
          "description": "Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "type": "object"
        },
        "suggestedDocumentStyleChanges": {
          "description": "Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "type": "object"
        },
        "tabs": {
          "type": "array",
          "items": {
            "$ref": "Tab"
          },
          "description": "Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field."
        },
        "documentId": {
          "description": "Output only. The ID of the document.",
          "type": "string"
        },
        "lists": {
          "additionalProperties": {
            "$ref": "List"
          },
          "description": "Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object"
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "inlineObjects": {
          "type": "object",
          "description": "Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "InlineObject"
          }
        },
        "footnotes": {
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "description": "Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object"
        },
        "footers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Footer"
          },
          "description": "Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "suggestionsViewMode": {
          "type": "string",
          "enumDescriptions": [
            "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
            "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
          ],
          "description": "Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE.",
          "enum": [
            "DEFAULT_FOR_CURRENT_ACCESS",
            "SUGGESTIONS_INLINE",
            "PREVIEW_SUGGESTIONS_ACCEPTED",
            "PREVIEW_WITHOUT_SUGGESTIONS"
          ]
        },
        "suggestedNamedStylesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "description": "Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object"
        }
      },
      "id": "Document",
      "type": "object"
    },
    "UpdateTableColumnPropertiesRequest": {
      "type": "object",
      "description": "Updates the TableColumnProperties of columns in a table.",
      "properties": {
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        },
        "columnIndices": {
          "description": "The list of zero-based column indices whose property should be updated. If no indices are specified, all columns will be updated.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "tableColumnProperties": {
          "$ref": "TableColumnProperties",
          "description": "The table column properties to update. If the value of `table_column_properties#width` is less than 5 points (5/72 inch), a 400 bad request error is returned."
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"width\"`."
        }
      },
      "id": "UpdateTableColumnPropertiesRequest"
    },
    "CreateHeaderRequest": {
      "type": "object",
      "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned.",
      "properties": {
        "sectionBreakLocation": {
          "$ref": "Location",
          "description": "The location of the SectionBreak which begins the section this header should belong to. If `section_break_location' is unset or if it refers to the first section break in the document body, the header applies to the DocumentStyle"
        },
        "type": {
          "description": "The type of header to create.",
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ]
        }
      },
      "id": "CreateHeaderRequest"
    },
    "CreateFooterResponse": {
      "type": "object",
      "description": "The result of creating a footer.",
      "properties": {
        "footerId": {
          "description": "The ID of the created footer.",
          "type": "string"
        }
      },
      "id": "CreateFooterResponse"
    },
    "SectionStyle": {
      "type": "object",
      "description": "The styling that applies to a section.",
      "properties": {
        "firstPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it's false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginLeft": {
          "description": "The left page margin of the section. If unset, the value defaults to margin_left from DocumentStyle. Updating the left margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "evenPageFooterId": {
          "description": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages use the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "marginFooter": {
          "$ref": "Dimension",
          "description": "The footer margin of the section. If unset, the value defaults to margin_footer from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a footer margin is being respected for this section If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "firstPageHeaderId": {
          "description": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it's false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "marginHeader": {
          "description": "The header margin of the section. If unset, the value defaults to margin_header from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a header margin is being respected for this section. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "marginTop": {
          "description": "The top page margin of the section. If unset, the value defaults to margin_top from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "flipPageOrientation": {
          "type": "boolean",
          "description": "Optional. Indicates whether to flip the dimensions of DocumentStyle's page_size for this section, which allows changing the page orientation between portrait and landscape. If unset, the value inherits from DocumentStyle's flip_page_orientation. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "pageNumberStart": {
          "type": "integer",
          "format": "int32",
          "description": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "columnSeparatorStyle": {
          "enumDescriptions": [
            "An unspecified column separator style.",
            "No column separator lines between columns.",
            "Renders a column separator line between each column."
          ],
          "type": "string",
          "description": "The style of column separators. This style can be set even when there's one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "enum": [
            "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
            "NONE",
            "BETWEEN_EACH_COLUMN"
          ]
        },
        "columnProperties": {
          "description": "The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than 3 columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error.",
          "type": "array",
          "items": {
            "$ref": "SectionColumnProperties"
          }
        },
        "sectionType": {
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ],
          "type": "string",
          "description": "Output only. The type of section.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ]
        },
        "marginRight": {
          "description": "The right page margin of the section. If unset, the value defaults to margin_right from DocumentStyle. Updating the right margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "useFirstPageHeaderFooter": {
          "description": "Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "boolean"
        },
        "contentDirection": {
          "description": "The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ]
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom page margin of the section. If unset, the value defaults to margin_bottom from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "evenPageHeaderId": {
          "description": "The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages use the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "defaultHeaderId": {
          "type": "string",
          "description": "The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "defaultFooterId": {
          "description": "The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        }
      },
      "id": "SectionStyle"
    },
    "Person": {
      "type": "object",
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.",
      "properties": {
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this Person, keyed by suggestion ID.",
          "type": "object"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this Person."
        },
        "personId": {
          "description": "Output only. The unique ID of this link.",
          "readOnly": true,
          "type": "string"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "personProperties": {
          "readOnly": true,
          "$ref": "PersonProperties",
          "description": "Output only. The properties of this Person. This field is always present."
        }
      },
      "id": "Person"
    },
    "InsertTableRowRequest": {
      "type": "object",
      "description": "Inserts an empty row into a table.",
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell.",
          "$ref": "TableCellLocation"
        },
        "insertBelow": {
          "type": "boolean",
          "description": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell."
        }
      },
      "id": "InsertTableRowRequest"
    },
    "EmbeddedObject": {
      "id": "EmbeddedObject",
      "description": "An embedded object in the document.",
      "properties": {
        "marginLeft": {
          "$ref": "Dimension",
          "description": "The left margin of the embedded object."
        },
        "imageProperties": {
          "description": "The properties of an image.",
          "$ref": "ImageProperties"
        },
        "title": {
          "type": "string",
          "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text."
        },
        "linkedContentReference": {
          "$ref": "LinkedContentReference",
          "description": "A reference to the external linked source content. For example, it contains a reference to the source Google Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked."
        },
        "embeddedDrawingProperties": {
          "description": "The properties of an embedded drawing.",
          "$ref": "EmbeddedDrawingProperties"
        },
        "marginTop": {
          "description": "The top margin of the embedded object.",
          "$ref": "Dimension"
        },
        "description": {
          "type": "string",
          "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text."
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom margin of the embedded object."
        },
        "embeddedObjectBorder": {
          "$ref": "EmbeddedObjectBorder",
          "description": "The border of the embedded object."
        },
        "size": {
          "description": "The visible size of the image after cropping.",
          "$ref": "Size"
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right margin of the embedded object."
        }
      },
      "type": "object"
    },
    "InlineObjectPropertiesSuggestionState": {
      "id": "InlineObjectPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "embeddedObjectSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion.",
          "$ref": "EmbeddedObjectSuggestionState"
        }
      },
      "type": "object"
    },
    "NamedStyleSuggestionState": {
      "type": "object",
      "description": "A suggestion state of a NamedStyle message.",
      "properties": {
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in paragraph style have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "namedStyleType": {
          "description": "The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle.",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ]
        }
      },
      "id": "NamedStyleSuggestionState"
    },
    "TabProperties": {
      "type": "object",
      "description": "Properties of a tab.",
      "properties": {
        "title": {
          "description": "The user-visible name of the tab.",
          "type": "string"
        },
        "nestingLevel": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The depth of the tab within the document. Root-level tabs start at 0."
        },
        "parentTabId": {
          "description": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The immutable ID of the tab."
        },
        "iconEmoji": {
          "description": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon.",
          "type": "string"
        },
        "index": {
          "format": "int32",
          "description": "The zero-based index of the tab within the parent.",
          "type": "integer"
        }
      },
      "id": "TabProperties"
    },
    "InsertInlineImageRequest": {
      "id": "InsertInlineImageRequest",
      "description": "Inserts an InlineObject containing an image at the given location.",
      "properties": {
        "location": {
          "description": "Inserts the image at a specific index in the document. The image must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Inline images cannot be inserted inside a footnote or equation.",
          "$ref": "Location"
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer or the document body. Inline images cannot be inserted inside a footnote."
        },
        "uri": {
          "description": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI must be publicly accessible and at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field.",
          "type": "string"
        },
        "objectSize": {
          "description": "The size that the image should appear as in the document. This property is optional and the final size of the image in the document is determined by the following rules: * If neither width nor height is specified, then a default size of the image is calculated based on its resolution. * If one dimension is specified then the other dimension is calculated to preserve the aspect ratio of the image. * If both width and height are specified, the image is scaled to fit within the provided dimensions while maintaining its aspect ratio.",
          "$ref": "Size"
        }
      },
      "type": "object"
    },
    "SectionColumnProperties": {
      "description": "Properties that apply to a section's column.",
      "properties": {
        "width": {
          "description": "Output only. The width of the column.",
          "$ref": "Dimension"
        },
        "paddingEnd": {
          "$ref": "Dimension",
          "description": "The padding at the end of the column."
        }
      },
      "id": "SectionColumnProperties",
      "type": "object"
    },
    "RgbColor": {
      "type": "object",
      "id": "RgbColor",
      "description": "An RGB color.",
      "properties": {
        "green": {
          "format": "float",
          "description": "The green component of the color, from 0.0 to 1.0.",
          "type": "number"
        },
        "red": {
          "format": "float",
          "description": "The red component of the color, from 0.0 to 1.0.",
          "type": "number"
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The blue component of the color, from 0.0 to 1.0."
        }
      }
    },
    "ImagePropertiesSuggestionState": {
      "type": "object",
      "id": "ImagePropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "contentUriSuggested": {
          "description": "Indicates if there was a suggested change to content_uri.",
          "type": "boolean"
        },
        "brightnessSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to brightness."
        },
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        },
        "contrastSuggested": {
          "description": "Indicates if there was a suggested change to contrast.",
          "type": "boolean"
        },
        "transparencySuggested": {
          "description": "Indicates if there was a suggested change to transparency.",
          "type": "boolean"
        },
        "cropPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion.",
          "$ref": "CropPropertiesSuggestionState"
        },
        "sourceUriSuggested": {
          "description": "Indicates if there was a suggested change to source_uri.",
          "type": "boolean"
        }
      }
    },
    "PositionedObjectPositioning": {
      "type": "object",
      "id": "PositionedObjectPositioning",
      "description": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it's tethered to.",
      "properties": {
        "layout": {
          "description": "The layout of this positioned object.",
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT",
            "BEHIND_TEXT"
          ],
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on the right.",
            "Breaks text such that the positioned object is on the right and text is on the left.",
            "Breaks text such that there's no text on the left or right of the positioned object.",
            "The positioned object is in front of the text.",
            "The positioned object is behind the text."
          ],
          "type": "string"
        },
        "topOffset": {
          "$ref": "Dimension",
          "description": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
        },
        "leftOffset": {
          "description": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        }
      }
    },
    "NamedStyles": {
      "type": "object",
      "id": "NamedStyles",
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles.",
      "properties": {
        "styles": {
          "type": "array",
          "items": {
            "$ref": "NamedStyle"
          },
          "description": "The named styles. There's an entry for each of the possible named style types."
        }
      }
    },
    "PositionedObject": {
      "type": "object",
      "id": "PositionedObject",
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "properties": {
        "suggestedPositionedObjectPropertiesChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          },
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID."
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "positionedObjectProperties": {
          "$ref": "PositionedObjectProperties",
          "description": "The properties of this positioned object."
        },
        "objectId": {
          "description": "The ID of this positioned object.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        }
      }
    },
    "SuggestedDateElementProperties": {
      "type": "object",
      "description": "A suggested change to a DateElementProperties.",
      "properties": {
        "dateElementPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion.",
          "$ref": "DateElementPropertiesSuggestionState"
        },
        "dateElementProperties": {
          "$ref": "DateElementProperties",
          "description": "DateElementProperties that only includes the changes made in this suggestion. This can be used along with the date_element_properties_suggestion_state to see which fields have changed and their new values."
        }
      },
      "id": "SuggestedDateElementProperties"
    },
    "InlineObjectElement": {
      "type": "object",
      "description": "A ParagraphElement that contains an InlineObject.",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "inlineObjectId": {
          "type": "string",
          "description": "The ID of the InlineObject this element contains."
        },
        "textStyle": {
          "description": "The text style of this InlineObjectElement. Similar to text content, like text runs and footnote references, the text style of an inline object element can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        }
      },
      "id": "InlineObjectElement"
    },
    "BookmarkLink": {
      "description": "A reference to a bookmark in this document.",
      "properties": {
        "tabId": {
          "description": "The ID of the tab containing this bookmark.",
          "type": "string"
        },
        "id": {
          "description": "The ID of a bookmark in this document.",
          "type": "string"
        }
      },
      "id": "BookmarkLink",
      "type": "object"
    },
    "TabStop": {
      "description": "A tab stop within a paragraph.",
      "properties": {
        "offset": {
          "description": "The offset between this tab stop and the start margin.",
          "$ref": "Dimension"
        },
        "alignment": {
          "type": "string",
          "enumDescriptions": [
            "The tab stop alignment is unspecified.",
            "The tab stop is aligned to the start of the line. This is the default.",
            "The tab stop is aligned to the center of the line.",
            "The tab stop is aligned to the end of the line."
          ],
          "description": "The alignment of this tab stop. If unset, the value defaults to START.",
          "enum": [
            "TAB_STOP_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        }
      },
      "id": "TabStop",
      "type": "object"
    },
    "BackgroundSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value.",
      "properties": {
        "backgroundColorSuggested": {
          "description": "Indicates whether the current background color has been modified in this suggestion.",
          "type": "boolean"
        }
      },
      "id": "BackgroundSuggestionState"
    },
    "SuggestedParagraphStyle": {
      "type": "object",
      "id": "SuggestedParagraphStyle",
      "description": "A suggested change to a ParagraphStyle.",
      "properties": {
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "A ParagraphStyle that only includes the changes made in this suggestion. This can be used along with the paragraph_style_suggestion_state to see which fields have changed and their new values."
        }
      }
    },
    "Bullet": {
      "description": "Describes the bullet of a paragraph.",
      "properties": {
        "nestingLevel": {
          "description": "The nesting level of this paragraph in the list.",
          "format": "int32",
          "type": "integer"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The paragraph-specific text style applied to this bullet."
        },
        "listId": {
          "description": "The ID of the list this paragraph belongs to.",
          "type": "string"
        }
      },
      "id": "Bullet",
      "type": "object"
    },
    "CropPropertiesSuggestionState": {
      "id": "CropPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "offsetLeftSuggested": {
          "description": "Indicates if there was a suggested change to offset_left.",
          "type": "boolean"
        },
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        },
        "offsetRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_right."
        },
        "offsetBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_bottom."
        },
        "offsetTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_top."
        }
      },
      "type": "object"
    },
    "TextRun": {
      "type": "object",
      "id": "TextRun",
      "description": "A ParagraphElement that represents a run of text that all has the same styling.",
      "properties": {
        "content": {
          "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907.",
          "type": "string"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this run."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this run, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        }
      }
    },
    "OptionalColor": {
      "type": "object",
      "id": "OptionalColor",
      "description": "A color that can either be fully opaque or fully transparent.",
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color."
        }
      }
    },
    "InsertTableColumnRequest": {
      "id": "InsertTableColumnRequest",
      "description": "Inserts an empty column into a table.",
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell."
        },
        "insertRight": {
          "description": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "TableRowStyleSuggestionState": {
      "id": "TableRowStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "UpdateDocumentStyleRequest": {
      "type": "object",
      "id": "UpdateDocumentStyleRequest",
      "description": "Updates the DocumentStyle.",
      "properties": {
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`."
        },
        "tabId": {
          "description": "The tab that contains the style to update. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If not provided, the request applies to the first tab in the document.",
          "type": "string"
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "The styles to set on the document. Certain document style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of DocumentStyle for more information."
        }
      }
    },
    "InlineObject": {
      "id": "InlineObject",
      "description": "An object that appears inline with text. An InlineObject contains an EmbeddedObject such as an image.",
      "properties": {
        "suggestedInlineObjectPropertiesChanges": {
          "description": "The suggested changes to the inline object properties, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedInlineObjectProperties"
          },
          "type": "object"
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "inlineObjectProperties": {
          "$ref": "InlineObjectProperties",
          "description": "The properties of this inline object."
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "objectId": {
          "type": "string",
          "description": "The ID of this inline object. Can be used to update an object’s properties."
        }
      },
      "type": "object"
    },
    "ParagraphStyleSuggestionState": {
      "id": "ParagraphStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "avoidWidowAndOrphanSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to avoid_widow_and_orphan."
        },
        "keepWithNextSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to keep_with_next."
        },
        "indentFirstLineSuggested": {
          "description": "Indicates if there was a suggested change to indent_first_line.",
          "type": "boolean"
        },
        "borderTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_top."
        },
        "indentStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_start."
        },
        "borderBetweenSuggested": {
          "description": "Indicates if there was a suggested change to border_between.",
          "type": "boolean"
        },
        "borderLeftSuggested": {
          "description": "Indicates if there was a suggested change to border_left.",
          "type": "boolean"
        },
        "keepLinesTogetherSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to keep_lines_together."
        },
        "directionSuggested": {
          "description": "Indicates if there was a suggested change to direction.",
          "type": "boolean"
        },
        "pageBreakBeforeSuggested": {
          "description": "Indicates if there was a suggested change to page_break_before.",
          "type": "boolean"
        },
        "spaceAboveSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to space_above."
        },
        "indentEndSuggested": {
          "description": "Indicates if there was a suggested change to indent_end.",
          "type": "boolean"
        },
        "headingIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to heading_id."
        },
        "spacingModeSuggested": {
          "description": "Indicates if there was a suggested change to spacing_mode.",
          "type": "boolean"
        },
        "borderBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_bottom."
        },
        "borderRightSuggested": {
          "description": "Indicates if there was a suggested change to border_right.",
          "type": "boolean"
        },
        "lineSpacingSuggested": {
          "description": "Indicates if there was a suggested change to line_spacing.",
          "type": "boolean"
        },
        "spaceBelowSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to space_below."
        },
        "alignmentSuggested": {
          "description": "Indicates if there was a suggested change to alignment.",
          "type": "boolean"
        },
        "shadingSuggestionState": {
          "description": "A mask that indicates which of the fields in shading have been changed in this suggestion.",
          "$ref": "ShadingSuggestionState"
        },
        "namedStyleTypeSuggested": {
          "description": "Indicates if there was a suggested change to named_style_type.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AddDocumentTabRequest": {
      "id": "AddDocumentTabRequest",
      "description": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented.",
      "properties": {
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the tab to add. All properties are optional."
        }
      },
      "type": "object"
    },
    "LinkedContentReferenceSuggestionState": {
      "id": "LinkedContentReferenceSuggestionState",
      "description": "A mask that indicates which of the fields on the base LinkedContentReference have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "sheetsChartReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in sheets_chart_reference have been changed in this suggestion.",
          "$ref": "SheetsChartReferenceSuggestionState"
        }
      },
      "type": "object"
    },
    "InsertPageBreakRequest": {
      "type": "object",
      "description": "Inserts a page break followed by a newline at the specified location.",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Inserts the page break at a specific index in the document. The page break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Page breaks cannot be inserted inside a table, equation, footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the page break at the end of the document body. Page breaks cannot be inserted inside a footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty."
        }
      },
      "id": "InsertPageBreakRequest"
    },
    "ParagraphStyle": {
      "description": "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that's contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "properties": {
        "pageBreakBefore": {
          "type": "boolean",
          "description": "Whether the current paragraph should always start at the beginning of a page. If unset, the value is inherited from the parent. Attempting to update page_break_before for paragraphs in unsupported regions, including Table, Header, Footer and Footnote, can result in an invalid document state that returns a 400 bad request error."
        },
        "borderLeft": {
          "$ref": "ParagraphBorder",
          "description": "The border to the left of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "keepWithNext": {
          "type": "boolean",
          "description": "Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent."
        },
        "namedStyleType": {
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "type": "string",
          "description": "The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated.",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ]
        },
        "indentStart": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the start of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "keepLinesTogether": {
          "description": "Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "indentFirstLine": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the first line of the paragraph. If unset, the value is inherited from the parent."
        },
        "shading": {
          "description": "The shading of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Shading"
        },
        "spacingMode": {
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ],
          "type": "string",
          "description": "The spacing mode for the paragraph.",
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ]
        },
        "alignment": {
          "description": "The text alignment for this paragraph.",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ],
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ],
          "type": "string"
        },
        "indentEnd": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the paragraph on the side that corresponds to the end of the text, based on the current paragraph direction. If unset, the value is inherited from the parent."
        },
        "spaceBelow": {
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "borderBetween": {
          "$ref": "ParagraphBorder",
          "description": "The border between this paragraph and the next and previous paragraphs. If unset, the value is inherited from the parent. The between border is rendered when the adjacent paragraph has the same border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "spaceAbove": {
          "$ref": "Dimension",
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent."
        },
        "direction": {
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited.",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ],
          "type": "string"
        },
        "borderTop": {
          "description": "The border at the top of this paragraph. If unset, the value is inherited from the parent. The top border is rendered when the paragraph above has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "tabStops": {
          "type": "array",
          "items": {
            "$ref": "TabStop"
          },
          "description": "A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only."
        },
        "borderBottom": {
          "$ref": "ParagraphBorder",
          "description": "The border at the bottom of this paragraph. If unset, the value is inherited from the parent. The bottom border is rendered when the paragraph below has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "avoidWidowAndOrphan": {
          "description": "Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "borderRight": {
          "description": "The border to the right of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "lineSpacing": {
          "type": "number",
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.",
          "format": "float"
        },
        "headingId": {
          "description": "The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only.",
          "type": "string"
        }
      },
      "id": "ParagraphStyle",
      "type": "object"
    },
    "NamedStylesSuggestionState": {
      "id": "NamedStylesSuggestionState",
      "description": "The suggestion state of a NamedStyles message.",
      "properties": {
        "stylesSuggestionStates": {
          "type": "array",
          "items": {
            "$ref": "NamedStyleSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NamedStyle in styles have been changed in this suggestion. The order of these named style suggestion states matches the order of the corresponding named style within the named styles suggestion."
        }
      },
      "type": "object"
    },
    "ParagraphElement": {
      "description": "A ParagraphElement describes content within a Paragraph.",
      "properties": {
        "autoText": {
          "$ref": "AutoText",
          "description": "An auto text paragraph element."
        },
        "pageBreak": {
          "description": "A page break paragraph element.",
          "$ref": "PageBreak"
        },
        "inlineObjectElement": {
          "description": "An inline object paragraph element.",
          "$ref": "InlineObjectElement"
        },
        "richLink": {
          "$ref": "RichLink",
          "description": "A paragraph element that links to a Google resource (such as a file in Google Drive, a YouTube video, or a Calendar event.)"
        },
        "startIndex": {
          "description": "The zero-based start index of this paragraph element, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "footnoteReference": {
          "description": "A footnote reference paragraph element.",
          "$ref": "FootnoteReference"
        },
        "endIndex": {
          "description": "The zero-base end index of this paragraph element, exclusive, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "textRun": {
          "$ref": "TextRun",
          "description": "A text run paragraph element."
        },
        "dateElement": {
          "description": "A paragraph element that represents a date.",
          "$ref": "DateElement"
        },
        "horizontalRule": {
          "$ref": "HorizontalRule",
          "description": "A horizontal rule paragraph element."
        },
        "equation": {
          "description": "An equation paragraph element.",
          "$ref": "Equation"
        },
        "columnBreak": {
          "description": "A column break paragraph element.",
          "$ref": "ColumnBreak"
        },
        "person": {
          "description": "A paragraph element that links to a person or email address.",
          "$ref": "Person"
        }
      },
      "id": "ParagraphElement",
      "type": "object"
    },
    "Response": {
      "type": "object",
      "description": "A single response from an update.",
      "properties": {
        "createNamedRange": {
          "$ref": "CreateNamedRangeResponse",
          "description": "The result of creating a named range."
        },
        "replaceAllText": {
          "$ref": "ReplaceAllTextResponse",
          "description": "The result of replacing text."
        },
        "createFooter": {
          "description": "The result of creating a footer.",
          "$ref": "CreateFooterResponse"
        },
        "createFootnote": {
          "description": "The result of creating a footnote.",
          "$ref": "CreateFootnoteResponse"
        },
        "insertInlineSheetsChart": {
          "description": "The result of inserting an inline Google Sheets chart.",
          "$ref": "InsertInlineSheetsChartResponse"
        },
        "insertInlineImage": {
          "$ref": "InsertInlineImageResponse",
          "description": "The result of inserting an inline image."
        },
        "createHeader": {
          "description": "The result of creating a header.",
          "$ref": "CreateHeaderResponse"
        },
        "addDocumentTab": {
          "description": "The result of adding a document tab.",
          "$ref": "AddDocumentTabResponse"
        }
      },
      "id": "Response"
    },
    "CreateFootnoteRequest": {
      "id": "CreateFootnoteRequest",
      "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character.",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        }
      },
      "type": "object"
    },
    "UpdateTableRowStyleRequest": {
      "description": "Updates the TableRowStyle of rows in a table.",
      "properties": {
        "rowIndices": {
          "description": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        },
        "tableRowStyle": {
          "description": "The styles to be set on the rows.",
          "$ref": "TableRowStyle"
        }
      },
      "id": "UpdateTableRowStyleRequest",
      "type": "object"
    },
    "SuggestedTableRowStyle": {
      "description": "A suggested change to a TableRowStyle.",
      "properties": {
        "tableRowStyle": {
          "description": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableRowStyle"
        },
        "tableRowStyleSuggestionState": {
          "$ref": "TableRowStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion."
        }
      },
      "id": "SuggestedTableRowStyle",
      "type": "object"
    },
    "ReplaceAllTextRequest": {
      "type": "object",
      "description": "Replaces all instances of text matching a criteria with replace text.",
      "properties": {
        "containsText": {
          "description": "Finds text in the document matching this substring.",
          "$ref": "SubstringMatchCriteria"
        },
        "replaceText": {
          "description": "The text that will replace the matched text.",
          "type": "string"
        },
        "tabsCriteria": {
          "$ref": "TabsCriteria",
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs."
        }
      },
      "id": "ReplaceAllTextRequest"
    },
    "CreateNamedRangeResponse": {
      "id": "CreateNamedRangeResponse",
      "description": "The result of creating a named range.",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the created named range.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EmbeddedDrawingProperties": {
      "id": "EmbeddedDrawingProperties",
      "description": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported.",
      "properties": {},
      "type": "object"
    },
    "SuggestedNamedStyles": {
      "id": "SuggestedNamedStyles",
      "description": "A suggested change to the NamedStyles.",
      "properties": {
        "namedStyles": {
          "description": "A NamedStyles that only includes the changes made in this suggestion. This can be used along with the named_styles_suggestion_state to see which fields have changed and their new values.",
          "$ref": "NamedStyles"
        },
        "namedStylesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base NamedStyles have been changed in this suggestion.",
          "$ref": "NamedStylesSuggestionState"
        }
      },
      "type": "object"
    },
    "SubstringMatchCriteria": {
      "type": "object",
      "id": "SubstringMatchCriteria",
      "description": "A criteria that matches a specific string of text in the document.",
      "properties": {
        "searchByRegex": {
          "description": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching.",
          "type": "boolean"
        },
        "text": {
          "description": "The text to search for in the document.",
          "type": "string"
        },
        "matchCase": {
          "type": "boolean",
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive."
        }
      }
    },
    "PersonProperties": {
      "description": "Properties specific to a linked Person.",
      "properties": {
        "name": {
          "description": "The name of the person if it's displayed in the link text instead of the person's email address.",
          "type": "string"
        },
        "email": {
          "description": "The email address linked to this Person. This field is always present.",
          "type": "string"
        }
      },
      "id": "PersonProperties",
      "type": "object"
    },
    "SuggestedListProperties": {
      "type": "object",
      "description": "A suggested change to ListProperties.",
      "properties": {
        "listProperties": {
          "description": "A ListProperties that only includes the changes made in this suggestion. This can be used along with the list_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "ListProperties"
        },
        "listPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion.",
          "$ref": "ListPropertiesSuggestionState"
        }
      },
      "id": "SuggestedListProperties"
    },
    "SuggestedTextStyle": {
      "type": "object",
      "description": "A suggested change to a TextStyle.",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "A TextStyle that only includes the changes made in this suggestion. This can be used along with the text_style_suggestion_state to see which fields have changed and their new values."
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion."
        }
      },
      "id": "SuggestedTextStyle"
    },
    "DateElementPropertiesSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "dateFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to date_format."
        },
        "timestampSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to timestamp."
        },
        "localeSuggested": {
          "description": "Indicates if there was a suggested change to locale.",
          "type": "boolean"
        },
        "timeFormatSuggested": {
          "description": "Indicates if there was a suggested change to time_format.",
          "type": "boolean"
        },
        "timeZoneIdSuggested": {
          "description": "Indicates if there was a suggested change to time_zone_id.",
          "type": "boolean"
        }
      },
      "id": "DateElementPropertiesSuggestionState"
    },
    "StructuralElement": {
      "description": "A StructuralElement describes content that provides structure to the document.",
      "properties": {
        "tableOfContents": {
          "$ref": "TableOfContents",
          "description": "A table of contents type of structural element."
        },
        "endIndex": {
          "type": "integer",
          "description": "The zero-based end index of this structural element, exclusive, in UTF-16 code units.",
          "format": "int32"
        },
        "sectionBreak": {
          "$ref": "SectionBreak",
          "description": "A section break type of structural element."
        },
        "table": {
          "$ref": "Table",
          "description": "A table type of structural element."
        },
        "paragraph": {
          "$ref": "Paragraph",
          "description": "A paragraph type of structural element."
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based start index of this structural element, in UTF-16 code units."
        }
      },
      "id": "StructuralElement",
      "type": "object"
    },
    "ObjectReferences": {
      "id": "ObjectReferences",
      "description": "A collection of object IDs.",
      "properties": {
        "objectIds": {
          "description": "The object IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "DocumentFormat": {
      "type": "object",
      "description": "Represents document-level format settings.",
      "properties": {
        "documentMode": {
          "description": "Whether the document has pages or is pageless.",
          "enum": [
            "DOCUMENT_MODE_UNSPECIFIED",
            "PAGES",
            "PAGELESS"
          ],
          "enumDescriptions": [
            "The document mode is unspecified.",
            "The document has pages.",
            "The document is pageless."
          ],
          "type": "string"
        }
      },
      "id": "DocumentFormat"
    },
    "UpdateDocumentTabPropertiesRequest": {
      "type": "object",
      "id": "UpdateDocumentTabPropertiesRequest",
      "description": "Update the properties of a document tab.",
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tab_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "tabProperties": {
          "description": "The tab properties to update.",
          "$ref": "TabProperties"
        }
      }
    },
    "Header": {
      "type": "object",
      "id": "Header",
      "description": "A document header.",
      "properties": {
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the header. The indexes for a header's content begin at zero."
        },
        "headerId": {
          "description": "The ID of the header.",
          "type": "string"
        }
      }
    },
    "ListProperties": {
      "id": "ListProperties",
      "description": "The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list.",
      "properties": {
        "nestingLevels": {
          "type": "array",
          "items": {
            "$ref": "NestingLevel"
          },
          "description": "Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first."
        }
      },
      "type": "object"
    },
    "DeleteNamedRangeRequest": {
      "description": "Deletes a NamedRange.",
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range to delete."
        },
        "tabsCriteria": {
          "$ref": "TabsCriteria",
          "description": "Optional. The criteria used to specify which tab(s) the range deletion should occur in. When omitted, the range deletion is applied to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the range deletion applies to the singular tab. In a document containing multiple tabs: - If provided, the range deletion applies to the specified tabs. - If not provided, the range deletion applies to all tabs."
        },
        "name": {
          "type": "string",
          "description": "The name of the range(s) to delete. All named ranges with the given name will be deleted."
        }
      },
      "id": "DeleteNamedRangeRequest",
      "type": "object"
    },
    "TableCellLocation": {
      "type": "object",
      "id": "TableCellLocation",
      "description": "Location of a single cell within a table.",
      "properties": {
        "rowIndex": {
          "type": "integer",
          "description": "The zero-based row index. For example, the second row in the table has a row index of 1.",
          "format": "int32"
        },
        "columnIndex": {
          "format": "int32",
          "description": "The zero-based column index. For example, the second column in the table has a column index of 1.",
          "type": "integer"
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        }
      }
    },
    "TableCell": {
      "type": "object",
      "id": "TableCell",
      "description": "The contents and style of a cell in a Table.",
      "properties": {
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The content of the cell."
        },
        "suggestedInsertionIds": {
[...]
