{
  "resources": {
    "documents": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "Document"
          },
          "id": "docs.documents.create",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "v1/documents",
          "flatPath": "v1/documents",
          "response": {
            "$ref": "Document"
          },
          "parameterOrder": [],
          "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document."
        },
        "get": {
          "description": "Gets the latest version of the specified document.",
          "parameterOrder": [
            "documentId"
          ],
          "response": {
            "$ref": "Document"
          },
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/documents.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "v1/documents/{documentId}",
          "flatPath": "v1/documents/{documentId}",
          "id": "docs.documents.get",
          "httpMethod": "GET",
          "parameters": {
            "documentId": {
              "required": true,
              "description": "The ID of the document to retrieve.",
              "location": "path",
              "type": "string"
            },
            "includeTabsContent": {
              "description": "Whether to populate the Document.tabs field instead of the text content fields like `body` and `documentStyle` on Document. - When `True`: Document content populates in the Document.tabs field instead of the text content fields in Document. - When `False`: The content of the document's first tab populates the content fields in Document excluding Document.tabs. If a document has only one tab, then that tab is used to populate the document content. Document.tabs will be empty.",
              "location": "query",
              "type": "boolean"
            },
            "suggestionsViewMode": {
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
                "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
              ]
            }
          }
        },
        "batchUpdate": {
          "id": "docs.documents.batchUpdate",
          "httpMethod": "POST",
          "parameters": {
            "documentId": {
              "description": "The ID of the document to update.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "BatchUpdateDocumentRequest"
          },
          "path": "v1/documents/{documentId}:batchUpdate",
          "flatPath": "v1/documents/{documentId}:batchUpdate",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "BatchUpdateDocumentResponse"
          },
          "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "parameterOrder": [
            "documentId"
          ]
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Docs",
  "basePath": "",
  "schemas": {
    "ReplaceAllTextRequest": {
      "type": "object",
      "description": "Replaces all instances of text matching a criteria with replace text.",
      "id": "ReplaceAllTextRequest",
      "properties": {
        "replaceText": {
          "description": "The text that will replace the matched text.",
          "type": "string"
        },
        "containsText": {
          "description": "Finds text in the document matching this substring.",
          "$ref": "SubstringMatchCriteria"
        },
        "tabsCriteria": {
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs.",
          "$ref": "TabsCriteria"
        }
      }
    },
    "CreateFootnoteRequest": {
      "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character.",
      "type": "object",
      "id": "CreateFootnoteRequest",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
        }
      }
    },
    "SuggestedTableCellStyle": {
      "description": "A suggested change to a TableCellStyle.",
      "type": "object",
      "id": "SuggestedTableCellStyle",
      "properties": {
        "tableCellStyleSuggestionState": {
          "$ref": "TableCellStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion."
        },
        "tableCellStyle": {
          "$ref": "TableCellStyle",
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values."
        }
      }
    },
    "TabProperties": {
      "type": "object",
      "description": "Properties of a tab.",
      "id": "TabProperties",
      "properties": {
        "title": {
          "type": "string",
          "description": "The user-visible name of the tab."
        },
        "index": {
          "description": "The zero-based index of the tab within the parent.",
          "type": "integer",
          "format": "int32"
        },
        "parentTabId": {
          "description": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents.",
          "type": "string"
        },
        "nestingLevel": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The depth of the tab within the document. Root-level tabs start at 0."
        },
        "tabId": {
          "description": "The immutable ID of the tab.",
          "type": "string"
        },
        "iconEmoji": {
          "type": "string",
          "description": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon."
        }
      }
    },
    "MergeTableCellsRequest": {
      "description": "Merges cells in a Table.",
      "type": "object",
      "id": "MergeTableCellsRequest",
      "properties": {
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range specifying which cells of the table to merge. Any text in the cells being merged will be concatenated and stored in the \"head\" cell of the range. This is the upper-left cell of the range when the content direction is left to right, and the upper-right cell of the range otherwise. If the range is non-rectangular (which can occur in some cases where the range covers cells that are already merged or where the table is non-rectangular), a 400 bad request error is returned."
        }
      }
    },
    "TableStyle": {
      "type": "object",
      "description": "Styles that apply to a table.",
      "id": "TableStyle",
      "properties": {
        "tableColumnProperties": {
          "description": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style.",
          "type": "array",
          "items": {
            "$ref": "TableColumnProperties"
          }
        }
      }
    },
    "Equation": {
      "type": "object",
      "description": "A ParagraphElement representing an equation.",
      "id": "Equation",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An Equation may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SectionBreak": {
      "description": "A StructuralElement representing a section break. A section is a range of content that has the same SectionStyle. A section break represents the start of a new section, and the section style applies to the section after the section break. The document body always begins with a section break.",
      "type": "object",
      "id": "SectionBreak",
      "properties": {
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "sectionStyle": {
          "description": "The style of the section after this section break.",
          "$ref": "SectionStyle"
        }
      }
    },
    "OptionalColor": {
      "description": "A color that can either be fully opaque or fully transparent.",
      "type": "object",
      "id": "OptionalColor",
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color."
        }
      }
    },
    "ObjectReferences": {
      "id": "ObjectReferences",
      "properties": {
        "objectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The object IDs."
        }
      },
      "description": "A collection of object IDs.",
      "type": "object"
    },
    "SuggestedTextStyle": {
      "description": "A suggested change to a TextStyle.",
      "type": "object",
      "id": "SuggestedTextStyle",
      "properties": {
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        },
        "textStyle": {
          "description": "A TextStyle that only includes the changes made in this suggestion. This can be used along with the text_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TextStyle"
        }
      }
    },
    "Response": {
      "type": "object",
      "description": "A single response from an update.",
      "id": "Response",
      "properties": {
        "replaceAllText": {
          "description": "The result of replacing text.",
          "$ref": "ReplaceAllTextResponse"
        },
        "createNamedRange": {
          "$ref": "CreateNamedRangeResponse",
          "description": "The result of creating a named range."
        },
        "createFooter": {
          "$ref": "CreateFooterResponse",
          "description": "The result of creating a footer."
        },
        "createHeader": {
          "description": "The result of creating a header.",
          "$ref": "CreateHeaderResponse"
        },
        "insertInlineImage": {
          "$ref": "InsertInlineImageResponse",
          "description": "The result of inserting an inline image."
        },
        "createFootnote": {
          "description": "The result of creating a footnote.",
          "$ref": "CreateFootnoteResponse"
        },
        "addDocumentTab": {
          "description": "The result of adding a document tab.",
          "$ref": "AddDocumentTabResponse"
        },
        "insertInlineSheetsChart": {
          "description": "The result of inserting an inline Google Sheets chart.",
          "$ref": "InsertInlineSheetsChartResponse"
        }
      }
    },
    "ShadingSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Shading have been changed in this suggested change. For any field set to true, there's a new suggested value.",
      "id": "ShadingSuggestionState",
      "properties": {
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the Shading."
        }
      }
    },
    "CropPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "CropPropertiesSuggestionState",
      "properties": {
        "offsetRightSuggested": {
          "description": "Indicates if there was a suggested change to offset_right.",
          "type": "boolean"
        },
        "offsetTopSuggested": {
          "description": "Indicates if there was a suggested change to offset_top.",
          "type": "boolean"
        },
        "offsetLeftSuggested": {
          "description": "Indicates if there was a suggested change to offset_left.",
          "type": "boolean"
        },
        "offsetBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_bottom."
        },
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        }
      }
    },
    "ListPropertiesSuggestionState": {
      "id": "ListPropertiesSuggestionState",
      "properties": {
        "nestingLevelsSuggestionStates": {
          "type": "array",
          "items": {
            "$ref": "NestingLevelSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first."
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "InsertRichLinkRequest": {
      "type": "object",
      "description": "Inserts a RichLink at the specified location.",
      "id": "InsertRichLinkRequest",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Inserts the rich link at a specific index in the document. The rich link must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The rich link cannot be inserted inside an equation."
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the rich link at the end of a header, footer, footnote or the document body."
        },
        "richLinkProperties": {
          "$ref": "RichLinkProperties",
          "description": "The properties of the rich link to insert."
        }
      }
    },
    "RichLinkProperties": {
      "id": "RichLinkProperties",
      "properties": {
        "uri": {
          "description": "The URI to the RichLink. This is always present.",
          "type": "string"
        },
        "mimeType": {
          "description": "The [MIME type](https://developers.google.com/drive/api/v3/mime-types) of the RichLink, if there's one (for example, when it's a file in Drive).",
          "type": "string"
        },
        "title": {
          "description": "The title of the RichLink as displayed in the link. This title matches the title of the linked resource at the time of the insertion or last update of the link. This field is always present.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Properties specific to a RichLink."
    },
    "PersonProperties": {
      "type": "object",
      "description": "Properties specific to a linked Person.",
      "id": "PersonProperties",
      "properties": {
        "name": {
          "description": "The name of the person if it's displayed in the link text instead of the person's email address.",
          "type": "string"
        },
        "email": {
          "description": "The email address linked to this Person. This field is always present.",
          "type": "string"
        }
      }
    },
    "SectionColumnProperties": {
      "id": "SectionColumnProperties",
      "properties": {
        "width": {
          "$ref": "Dimension",
          "description": "Output only. The width of the column."
        },
        "paddingEnd": {
          "description": "The padding at the end of the column.",
          "$ref": "Dimension"
        }
      },
      "type": "object",
      "description": "Properties that apply to a section's column."
    },
    "UpdateDocumentTabPropertiesRequest": {
      "id": "UpdateDocumentTabPropertiesRequest",
      "properties": {
        "tabProperties": {
          "description": "The tab properties to update.",
          "$ref": "TabProperties"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tab_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Update the properties of a document tab.",
      "type": "object"
    },
    "TableCell": {
      "id": "TableCell",
      "properties": {
        "endIndex": {
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The content of the cell."
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based start index of this cell, in UTF-16 code units."
        },
        "suggestedTableCellStyleChanges": {
          "type": "object",
          "description": "The suggested changes to the table cell style, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          }
        }
      },
      "type": "object",
      "description": "The contents and style of a cell in a Table."
    },
    "NamedStylesSuggestionState": {
      "type": "object",
      "description": "The suggestion state of a NamedStyles message.",
      "id": "NamedStylesSuggestionState",
      "properties": {
        "stylesSuggestionStates": {
          "type": "array",
          "items": {
            "$ref": "NamedStyleSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NamedStyle in styles have been changed in this suggestion. The order of these named style suggestion states matches the order of the corresponding named style within the named styles suggestion."
        }
      }
    },
    "PositionedObject": {
      "id": "PositionedObject",
      "properties": {
        "suggestedInsertionId": {
          "type": "string",
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion."
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          },
          "type": "object",
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID."
        },
        "objectId": {
          "type": "string",
          "description": "The ID of this positioned object."
        },
        "positionedObjectProperties": {
          "$ref": "PositionedObjectProperties",
          "description": "The properties of this positioned object."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        }
      },
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "type": "object"
    },
    "DocumentTab": {
      "type": "object",
      "description": "A tab with document contents.",
      "id": "DocumentTab",
      "properties": {
        "positionedObjects": {
          "description": "The positioned objects in the document tab, keyed by object ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "PositionedObject"
          }
        },
        "suggestedDocumentStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "type": "object",
          "description": "The suggested changes to the style of the document tab, keyed by suggestion ID."
        },
        "headers": {
          "additionalProperties": {
            "$ref": "Header"
          },
          "description": "The headers in the document tab, keyed by header ID.",
          "type": "object"
        },
        "footers": {
          "description": "The footers in the document tab, keyed by footer ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Footer"
          }
        },
        "namedStyles": {
          "description": "The named styles of the document tab.",
          "$ref": "NamedStyles"
        },
        "footnotes": {
          "type": "object",
          "description": "The footnotes in the document tab, keyed by footnote ID.",
          "additionalProperties": {
            "$ref": "Footnote"
          }
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "The style of the document tab."
        },
        "suggestedNamedStylesChanges": {
          "description": "The suggested changes to the named styles of the document tab, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          }
        },
        "lists": {
          "additionalProperties": {
            "$ref": "List"
          },
          "description": "The lists in the document tab, keyed by list ID.",
          "type": "object"
        },
        "inlineObjects": {
          "description": "The inline objects in the document tab, keyed by object ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "InlineObject"
          }
        },
        "body": {
          "$ref": "Body",
          "description": "The main body of the document tab."
        },
        "namedRanges": {
          "type": "object",
          "description": "The named ranges in the document tab, keyed by name.",
          "additionalProperties": {
            "$ref": "NamedRanges"
          }
        }
      }
    },
    "InsertTableColumnRequest": {
      "id": "InsertTableColumnRequest",
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell."
        },
        "insertRight": {
          "type": "boolean",
          "description": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left."
        }
      },
      "type": "object",
      "description": "Inserts an empty column into a table."
    },
    "UpdateTableCellStyleRequest": {
      "description": "Updates the style of a range of table cells.",
      "type": "object",
      "id": "UpdateTableCellStyleRequest",
      "properties": {
        "tableRange": {
          "description": "The table range representing the subset of the table to which the updates are applied.",
          "$ref": "TableRange"
        },
        "tableCellStyle": {
          "description": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`",
          "$ref": "TableCellStyle"
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table.",
          "$ref": "Location"
        }
      }
    },
    "DeleteTableRowRequest": {
      "type": "object",
      "description": "Deletes a row from a table.",
      "id": "DeleteTableRowRequest",
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which the row will be deleted. The row this cell spans will be deleted. If this is a merged cell that spans multiple rows, all rows that the cell spans will be deleted. If no rows remain in the table after this deletion, the whole table is deleted.",
          "$ref": "TableCellLocation"
        }
      }
    },
    "Footnote": {
      "id": "Footnote",
      "properties": {
        "footnoteId": {
          "description": "The ID of the footnote.",
          "type": "string"
        },
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero."
        }
      },
      "description": "A document footnote.",
      "type": "object"
    },
    "SheetsChartReferenceSuggestionState": {
      "id": "SheetsChartReferenceSuggestionState",
      "properties": {
        "chartIdSuggested": {
          "description": "Indicates if there was a suggested change to chart_id.",
          "type": "boolean"
        },
        "spreadsheetIdSuggested": {
          "description": "Indicates if there was a suggested change to spreadsheet_id.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base SheetsChartReference have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "InsertTableRowRequest": {
      "id": "InsertTableRowRequest",
      "properties": {
        "insertBelow": {
          "type": "boolean",
          "description": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell."
        },
        "tableCellLocation": {
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell.",
          "$ref": "TableCellLocation"
        }
      },
      "description": "Inserts an empty row into a table.",
      "type": "object"
    },
    "SuggestedNamedStyles": {
      "id": "SuggestedNamedStyles",
      "properties": {
        "namedStyles": {
          "$ref": "NamedStyles",
          "description": "A NamedStyles that only includes the changes made in this suggestion. This can be used along with the named_styles_suggestion_state to see which fields have changed and their new values."
        },
        "namedStylesSuggestionState": {
          "$ref": "NamedStylesSuggestionState",
          "description": "A mask that indicates which of the fields on the base NamedStyles have been changed in this suggestion."
        }
      },
      "description": "A suggested change to the NamedStyles.",
      "type": "object"
    },
    "EmbeddedObjectSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "EmbeddedObjectSuggestionState",
      "properties": {
        "imagePropertiesSuggestionState": {
          "$ref": "ImagePropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in image_properties have been changed in this suggestion."
        },
        "marginLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_left."
        },
        "embeddedDrawingPropertiesSuggestionState": {
          "$ref": "EmbeddedDrawingPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_drawing_properties have been changed in this suggestion."
        },
        "descriptionSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to description."
        },
        "linkedContentReferenceSuggestionState": {
          "$ref": "LinkedContentReferenceSuggestionState",
          "description": "A mask that indicates which of the fields in linked_content_reference have been changed in this suggestion."
        },
        "sizeSuggestionState": {
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion.",
          "$ref": "SizeSuggestionState"
        },
        "titleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to title."
        },
        "embeddedObjectBorderSuggestionState": {
          "$ref": "EmbeddedObjectBorderSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object_border have been changed in this suggestion."
        },
        "marginRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_right."
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        },
        "marginBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_bottom."
        }
      }
    },
    "DocumentStyle": {
      "description": "The style of the document.",
      "type": "object",
      "id": "DocumentStyle",
      "properties": {
        "marginHeader": {
          "$ref": "Dimension",
          "description": "The amount of space between the top of the page and the contents of the header. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "marginBottom": {
          "description": "The bottom page margin. Updating the bottom page margin on the document style clears the bottom page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right page margin. Updating the right page margin on the document style clears the right page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "pageNumberStart": {
          "type": "integer",
          "format": "int32",
          "description": "The page number from which to start counting the number of pages. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "flipPageOrientation": {
          "type": "boolean",
          "description": "Optional. Indicates whether to flip the dimensions of the page_size, which allows changing the page orientation between portrait and landscape. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "marginFooter": {
          "$ref": "Dimension",
          "description": "The amount of space between the bottom of the page and the contents of the footer. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "useFirstPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the first page header / footer IDs for the first page. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "pageSize": {
          "$ref": "Size",
          "description": "The size of a page in the document. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "evenPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "background": {
          "$ref": "Background",
          "description": "The background of the document. Documents cannot have a transparent background color."
        },
        "evenPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "firstPageHeaderId": {
          "description": "The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "marginTop": {
          "description": "The top page margin. Updating the top page margin on the document style clears the top page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "defaultHeaderId": {
          "type": "string",
          "description": "The ID of the default header. If not set, there's no default header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "firstPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "useEvenPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the even page header / footer IDs for the even pages. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "defaultFooterId": {
          "type": "string",
          "description": "The ID of the default footer. If not set, there's no default footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginLeft": {
          "description": "The left page margin. Updating the left page margin on the document style clears the left page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "useCustomHeaderFooterMargins": {
          "type": "boolean",
          "description": "Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin is used. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "documentFormat": {
          "$ref": "DocumentFormat",
          "description": "Specifies document-level format settings, such as the document mode (pages vs pageless)."
        }
      }
    },
    "ImageProperties": {
      "id": "ImageProperties",
      "properties": {
        "brightness": {
          "type": "number",
          "format": "float",
          "description": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect."
        },
        "transparency": {
          "description": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means transparent.",
          "type": "number",
          "format": "float"
        },
        "sourceUri": {
          "description": "The source URI is the URI used to insert the image. The source URI can be empty.",
          "type": "string"
        },
        "cropProperties": {
          "description": "The crop properties of the image.",
          "$ref": "CropProperties"
        },
        "contentUri": {
          "description": "A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change.",
          "type": "string"
        },
        "angle": {
          "type": "number",
          "format": "float",
          "description": "The clockwise rotation angle of the image, in radians."
        },
        "contrast": {
          "description": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "The properties of an image."
    },
    "InlineObjectPropertiesSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "InlineObjectPropertiesSuggestionState",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      }
    },
    "Bullet": {
      "id": "Bullet",
      "properties": {
        "listId": {
          "type": "string",
          "description": "The ID of the list this paragraph belongs to."
        },
        "nestingLevel": {
          "description": "The nesting level of this paragraph in the list.",
          "type": "integer",
          "format": "int32"
        },
        "textStyle": {
          "description": "The paragraph-specific text style applied to this bullet.",
          "$ref": "TextStyle"
        }
      },
      "description": "Describes the bullet of a paragraph.",
      "type": "object"
    },
    "CreateNamedRangeResponse": {
      "type": "object",
      "description": "The result of creating a named range.",
      "id": "CreateNamedRangeResponse",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the created named range.",
          "type": "string"
        }
      }
    },
    "ImagePropertiesSuggestionState": {
      "id": "ImagePropertiesSuggestionState",
      "properties": {
        "cropPropertiesSuggestionState": {
          "$ref": "CropPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion."
        },
        "contrastSuggested": {
          "description": "Indicates if there was a suggested change to contrast.",
          "type": "boolean"
        },
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "sourceUriSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to source_uri."
        },
        "transparencySuggested": {
          "description": "Indicates if there was a suggested change to transparency.",
          "type": "boolean"
        },
        "contentUriSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to content_uri."
        },
        "brightnessSuggested": {
          "description": "Indicates if there was a suggested change to brightness.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "ReplaceAllTextResponse": {
      "id": "ReplaceAllTextResponse",
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "format": "int32",
          "description": "The number of occurrences changed by replacing all text."
        }
      },
      "description": "The result of replacing text.",
      "type": "object"
    },
    "Background": {
      "id": "Background",
      "properties": {
        "color": {
          "description": "The background color.",
          "$ref": "OptionalColor"
        }
      },
      "description": "Represents the background of a document.",
      "type": "object"
    },
    "SubstringMatchCriteria": {
      "description": "A criteria that matches a specific string of text in the document.",
      "type": "object",
      "id": "SubstringMatchCriteria",
      "properties": {
        "searchByRegex": {
          "description": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching.",
          "type": "boolean"
        },
        "text": {
          "type": "string",
          "description": "The text to search for in the document."
        },
        "matchCase": {
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.",
          "type": "boolean"
        }
      }
    },
    "SuggestedListProperties": {
      "type": "object",
      "description": "A suggested change to ListProperties.",
      "id": "SuggestedListProperties",
      "properties": {
        "listProperties": {
          "$ref": "ListProperties",
          "description": "A ListProperties that only includes the changes made in this suggestion. This can be used along with the list_properties_suggestion_state to see which fields have changed and their new values."
        },
        "listPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion.",
          "$ref": "ListPropertiesSuggestionState"
        }
      }
    },
    "UpdateParagraphStyleRequest": {
      "id": "UpdateParagraphStyleRequest",
      "properties": {
        "paragraphStyle": {
          "description": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information.",
          "$ref": "ParagraphStyle"
        },
        "range": {
          "description": "The range overlapping the paragraphs to style.",
          "$ref": "Range"
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        }
      },
      "type": "object",
      "description": "Update the styling of all paragraphs that overlap with the given range."
    },
    "PageBreak": {
      "id": "PageBreak",
      "properties": {
        "textStyle": {
          "description": "The text style of this PageBreak. Similar to text content, like text runs and footnote references, the text style of a page break can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A PageBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this PageBreak, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        }
      },
      "description": "A ParagraphElement representing a page break. A page break makes the subsequent text start at the top of the next page.",
      "type": "object"
    },
    "InsertPersonRequest": {
      "id": "InsertPersonRequest",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the person mention at the end of a header, footer, footnote or the document body."
        },
        "location": {
          "description": "Inserts the person mention at a specific index in the document. The person mention must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Person mentions cannot be inserted inside an equation.",
          "$ref": "Location"
        },
        "personProperties": {
          "$ref": "PersonProperties",
          "description": "The properties of the person mention to insert."
        }
      },
      "type": "object",
      "description": "Inserts a person mention."
    },
    "SizeSuggestionState": {
      "id": "SizeSuggestionState",
      "properties": {
        "heightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to height."
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value.",
      "type": "object"
    },
    "Tab": {
      "id": "Tab",
      "properties": {
        "documentTab": {
          "$ref": "DocumentTab",
          "description": "A tab with document contents, like text and images."
        },
        "childTabs": {
          "description": "The child tabs nested within this tab.",
          "type": "array",
          "items": {
            "$ref": "Tab"
          }
        },
        "tabProperties": {
          "description": "The properties of the tab, like ID and title.",
          "$ref": "TabProperties"
        }
      },
      "type": "object",
      "description": "A tab in a document."
    },
    "ParagraphBorder": {
      "type": "object",
      "description": "A border around a paragraph.",
      "id": "ParagraphBorder",
      "properties": {
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border."
        },
        "padding": {
          "$ref": "Dimension",
          "description": "The padding of the border."
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the border."
        },
        "dashStyle": {
          "description": "The dash style of the border.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ]
        }
      }
    },
    "ReplaceImageRequest": {
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor.",
      "type": "object",
      "id": "ReplaceImageRequest",
      "properties": {
        "uri": {
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field.",
          "type": "string"
        },
        "imageObjectId": {
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        },
        "imageReplaceMethod": {
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as the original image."
          ],
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ],
          "description": "The replacement method.",
          "type": "string"
        }
      }
    },
    "DeletePositionedObjectRequest": {
      "type": "object",
      "description": "Deletes a PositionedObject from the document.",
      "id": "DeletePositionedObjectRequest",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the positioned object to delete."
        },
        "tabId": {
          "description": "The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      }
    },
    "DeleteFooterRequest": {
      "id": "DeleteFooterRequest",
      "properties": {
        "footerId": {
          "description": "The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The tab that contains the footer to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        }
      },
      "description": "Deletes a Footer from the document.",
      "type": "object"
    },
    "PositionedObjectPositioning": {
      "description": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it's tethered to.",
      "type": "object",
      "id": "PositionedObjectPositioning",
      "properties": {
        "layout": {
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on the right.",
            "Breaks text such that the positioned object is on the right and text is on the left.",
            "Breaks text such that there's no text on the left or right of the positioned object.",
            "The positioned object is in front of the text.",
            "The positioned object is behind the text."
          ],
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT",
            "BEHIND_TEXT"
          ],
          "type": "string",
          "description": "The layout of this positioned object."
        },
        "topOffset": {
          "description": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        },
        "leftOffset": {
          "description": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        }
      }
    },
    "PositionedObjectPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "PositionedObjectPropertiesSuggestionState",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        },
        "positioningSuggestionState": {
          "$ref": "PositionedObjectPositioningSuggestionState",
          "description": "A mask that indicates which of the fields in positioning have been changed in this suggestion."
        }
      }
    },
    "Size": {
      "description": "A width and height.",
      "type": "object",
      "id": "Size",
      "properties": {
        "height": {
          "$ref": "Dimension",
          "description": "The height of the object."
        },
        "width": {
          "description": "The width of the object.",
          "$ref": "Dimension"
        }
      }
    },
    "TextStyleSuggestionState": {
      "id": "TextStyleSuggestionState",
      "properties": {
        "smallCapsSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to small_caps."
        },
        "underlineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to underline."
        },
        "fontSizeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to font_size."
        },
        "weightedFontFamilySuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to weighted_font_family."
        },
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to background_color."
        },
        "strikethroughSuggested": {
          "description": "Indicates if there was a suggested change to strikethrough.",
          "type": "boolean"
        },
        "baselineOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to baseline_offset."
        },
        "italicSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to italic."
        },
        "foregroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to foreground_color."
        },
        "linkSuggested": {
          "description": "Indicates if there was a suggested change to link.",
          "type": "boolean"
        },
        "boldSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to bold."
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "TableRow": {
      "type": "object",
      "description": "The contents and style of a row in a Table.",
      "id": "TableRow",
      "properties": {
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based start index of this row, in UTF-16 code units."
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tableRowStyle": {
          "description": "The style of the table row.",
          "$ref": "TableRowStyle"
        },
        "suggestedTableRowStyleChanges": {
          "type": "object",
          "description": "The suggested style changes to this row, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTableRowStyle"
          }
        },
        "tableCells": {
          "type": "array",
          "items": {
            "$ref": "TableCell"
          },
          "description": "The contents and style of each cell in this row. It's possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table."
        },
        "endIndex": {
          "description": "The zero-based end index of this row, exclusive, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableRow may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PinTableHeaderRowsRequest": {
      "description": "Updates the number of pinned table header rows in a table.",
      "type": "object",
      "id": "PinTableHeaderRowsRequest",
      "properties": {
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        },
        "pinnedHeaderRowsCount": {
          "description": "The number of table rows to pin, where 0 implies that all rows are unpinned.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NamedStyles": {
      "type": "object",
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles.",
      "id": "NamedStyles",
      "properties": {
        "styles": {
          "type": "array",
          "items": {
            "$ref": "NamedStyle"
          },
          "description": "The named styles. There's an entry for each of the possible named style types."
        }
      }
    },
    "Dimension": {
      "id": "Dimension",
      "properties": {
        "magnitude": {
          "description": "The magnitude.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ],
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ],
          "description": "The units for magnitude.",
          "type": "string"
        }
      },
      "description": "A magnitude in a single direction in the specified units.",
      "type": "object"
    },
    "CreateFootnoteResponse": {
      "id": "CreateFootnoteResponse",
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the created footnote."
        }
      },
      "description": "The result of creating a footnote.",
      "type": "object"
    },
    "CreateHeaderResponse": {
      "description": "The result of creating a header.",
      "type": "object",
      "id": "CreateHeaderResponse",
      "properties": {
        "headerId": {
          "description": "The ID of the created header.",
          "type": "string"
        }
      }
    },
    "CreateFooterResponse": {
      "id": "CreateFooterResponse",
      "properties": {
        "footerId": {
          "type": "string",
          "description": "The ID of the created footer."
        }
      },
      "description": "The result of creating a footer.",
      "type": "object"
    },
    "TableOfContents": {
      "type": "object",
      "description": "A StructuralElement representing a table of contents.",
      "id": "TableOfContents",
      "properties": {
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The content of the table of contents."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InsertInlineImageResponse": {
      "description": "The result of inserting an inline image.",
      "type": "object",
      "id": "InsertInlineImageResponse",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the created InlineObject."
        }
      }
    },
    "BulletSuggestionState": {
      "id": "BulletSuggestionState",
      "properties": {
        "listIdSuggested": {
          "description": "Indicates if there was a suggested change to the list_id.",
          "type": "boolean"
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "nestingLevelSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the nesting_level."
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "SuggestedInlineObjectProperties": {
      "id": "SuggestedInlineObjectProperties",
      "properties": {
        "inlineObjectProperties": {
          "description": "An InlineObjectProperties that only includes the changes made in this suggestion. This can be used along with the inline_object_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "InlineObjectProperties"
        },
        "inlineObjectPropertiesSuggestionState": {
          "$ref": "InlineObjectPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion."
        }
      },
      "description": "A suggested change to InlineObjectProperties.",
      "type": "object"
    },
    "UnmergeTableCellsRequest": {
      "id": "UnmergeTableCellsRequest",
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise.",
          "$ref": "TableRange"
        }
      },
      "type": "object",
      "description": "Unmerges cells in a Table."
    },
    "WeightedFontFamily": {
      "id": "WeightedFontFamily",
      "properties": {
        "fontFamily": {
          "description": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`.",
          "type": "string"
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight."
        }
      },
      "type": "object",
      "description": "Represents a font family and weight of text."
    },
    "Request": {
      "type": "object",
      "description": "A single update to apply to a document.",
      "id": "Request",
      "properties": {
        "insertText": {
          "description": "Inserts text at the specified location.",
          "$ref": "InsertTextRequest"
        },
        "insertTableRow": {
          "$ref": "InsertTableRowRequest",
          "description": "Inserts an empty row into a table."
        },
        "deleteTableRow": {
          "description": "Deletes a row from a table.",
          "$ref": "DeleteTableRowRequest"
        },
        "deleteTab": {
          "$ref": "DeleteTabRequest",
          "description": "Deletes a document tab."
        },
        "createNamedRange": {
          "description": "Creates a named range.",
          "$ref": "CreateNamedRangeRequest"
        },
        "deleteContentRange": {
          "$ref": "DeleteContentRangeRequest",
          "description": "Deletes content from the document."
        },
        "insertInlineImage": {
          "$ref": "InsertInlineImageRequest",
          "description": "Inserts an inline image at the specified location."
        },
        "replaceImage": {
          "$ref": "ReplaceImageRequest",
          "description": "Replaces an image in the document."
        },
        "createFooter": {
          "$ref": "CreateFooterRequest",
          "description": "Creates a footer."
        },
        "insertSectionBreak": {
          "description": "Inserts a section break at the specified location.",
          "$ref": "InsertSectionBreakRequest"
        },
        "insertTableColumn": {
          "description": "Inserts an empty column into a table.",
          "$ref": "InsertTableColumnRequest"
        },
        "unmergeTableCells": {
          "description": "Unmerges cells in a table.",
          "$ref": "UnmergeTableCellsRequest"
        },
        "createHeader": {
          "description": "Creates a header.",
          "$ref": "CreateHeaderRequest"
        },
        "deleteParagraphBullets": {
          "$ref": "DeleteParagraphBulletsRequest",
          "description": "Deletes bullets from paragraphs."
        },
        "deleteNamedRange": {
          "$ref": "DeleteNamedRangeRequest",
          "description": "Deletes a named range."
        },
        "updateTextStyle": {
          "$ref": "UpdateTextStyleRequest",
          "description": "Updates the text style at the specified range."
        },
        "createParagraphBullets": {
          "description": "Creates bullets for paragraphs.",
          "$ref": "CreateParagraphBulletsRequest"
        },
        "updateTableCellStyle": {
          "description": "Updates the style of table cells.",
          "$ref": "UpdateTableCellStyleRequest"
        },
        "updateSectionStyle": {
          "description": "Updates the section style of the specified range.",
          "$ref": "UpdateSectionStyleRequest"
        },
        "updateNamedStyle": {
          "description": "Updates a named style.",
          "$ref": "UpdateNamedStyleRequest"
        },
        "replaceNamedRangeContent": {
          "$ref": "ReplaceNamedRangeContentRequest",
          "description": "Replaces the content in a named range."
        },
        "deletePositionedObject": {
          "description": "Deletes a positioned object from the document.",
          "$ref": "DeletePositionedObjectRequest"
        },
        "updateTableColumnProperties": {
          "$ref": "UpdateTableColumnPropertiesRequest",
          "description": "Updates the properties of columns in a table."
        },
        "updateParagraphStyle": {
          "$ref": "UpdateParagraphStyleRequest",
          "description": "Updates the paragraph style at the specified range."
        },
        "insertTable": {
          "$ref": "InsertTableRequest",
          "description": "Inserts a table at the specified location."
        },
        "deleteTableColumn": {
          "$ref": "DeleteTableColumnRequest",
          "description": "Deletes a column from a table."
        },
        "addDocumentTab": {
          "description": "Adds a document tab.",
          "$ref": "AddDocumentTabRequest"
        },
        "insertRichLink": {
          "description": "Insert a rich link.",
          "$ref": "InsertRichLinkRequest"
        },
        "mergeTableCells": {
          "description": "Merges cells in a table.",
          "$ref": "MergeTableCellsRequest"
        },
        "replaceAllText": {
          "description": "Replaces all instances of the specified text.",
          "$ref": "ReplaceAllTextRequest"
        },
        "deleteHeader": {
          "$ref": "DeleteHeaderRequest",
          "description": "Deletes a header from the document."
        },
        "updateDocumentTabProperties": {
          "$ref": "UpdateDocumentTabPropertiesRequest",
          "description": "Updates the properties of a document tab."
        },
        "updateTableRowStyle": {
          "description": "Updates the row style in a table.",
          "$ref": "UpdateTableRowStyleRequest"
        },
        "createFootnote": {
          "description": "Creates a footnote.",
          "$ref": "CreateFootnoteRequest"
        },
        "deleteFooter": {
          "$ref": "DeleteFooterRequest",
          "description": "Deletes a footer from the document."
        },
        "insertPageBreak": {
          "$ref": "InsertPageBreakRequest",
          "description": "Inserts a page break at the specified location."
        },
        "pinTableHeaderRows": {
          "$ref": "PinTableHeaderRowsRequest",
          "description": "Updates the number of pinned header rows in a table."
        },
        "insertDate": {
          "$ref": "InsertDateRequest",
          "description": "Inserts a date."
        },
        "updateDocumentStyle": {
          "description": "Updates the style of the document.",
          "$ref": "UpdateDocumentStyleRequest"
        },
        "insertPerson": {
          "$ref": "InsertPersonRequest",
          "description": "Inserts a person mention."
        }
      }
    },
    "Paragraph": {
      "description": "A StructuralElement representing a paragraph. A paragraph is a range of content that's terminated with a newline character.",
      "type": "object",
      "id": "Paragraph",
      "properties": {
        "positionedObjectIds": {
          "description": "The IDs of the positioned objects tethered to this paragraph.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedPositionedObjectIds": {
          "description": "The IDs of the positioned objects suggested to be attached to this paragraph, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ObjectReferences"
          }
        },
        "suggestedBulletChanges": {
          "description": "The suggested changes to this paragraph's bullet.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedBullet"
          }
        },
        "suggestedParagraphStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedParagraphStyle"
          },
          "description": "The suggested paragraph style changes to this paragraph, keyed by suggestion ID.",
          "type": "object"
        },
        "elements": {
          "description": "The content of the paragraph, broken down into its component parts.",
          "type": "array",
          "items": {
            "$ref": "ParagraphElement"
          }
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The style of this paragraph."
        },
        "bullet": {
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list.",
          "$ref": "Bullet"
        }
      }
    },
    "Table": {
      "description": "A StructuralElement representing a table.",
      "type": "object",
      "id": "Table",
      "properties": {
        "columns": {
          "type": "integer",
          "format": "int32",
          "description": "Number of columns in the table. It's possible for a table to be non-rectangular, so some rows may have a different number of cells."
        },
        "tableStyle": {
          "description": "The style of the table.",
          "$ref": "TableStyle"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rows": {
          "description": "Number of rows in the table.",
          "type": "integer",
          "format": "int32"
        },
        "tableRows": {
          "type": "array",
          "items": {
            "$ref": "TableRow"
          },
          "description": "The contents and style of each row."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A Table may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        }
      }
    },
    "TableCellStyleSuggestionState": {
      "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "TableCellStyleSuggestionState",
      "properties": {
        "paddingTopSuggested": {
          "description": "Indicates if there was a suggested change to padding_top.",
          "type": "boolean"
        },
        "borderBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_bottom."
        },
        "paddingLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_left."
        },
        "paddingBottomSuggested": {
          "description": "Indicates if there was a suggested change to padding_bottom.",
          "type": "boolean"
        },
        "borderRightSuggested": {
          "description": "Indicates if there was a suggested change to border_right.",
          "type": "boolean"
        },
        "paddingRightSuggested": {
          "description": "Indicates if there was a suggested change to padding_right.",
          "type": "boolean"
        },
        "borderLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_left."
        },
        "borderTopSuggested": {
          "description": "Indicates if there was a suggested change to border_top.",
          "type": "boolean"
        },
        "contentAlignmentSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to content_alignment."
        },
        "rowSpanSuggested": {
          "description": "Indicates if there was a suggested change to row_span.",
          "type": "boolean"
        },
        "columnSpanSuggested": {
          "description": "Indicates if there was a suggested change to column_span.",
          "type": "boolean"
        },
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to background_color.",
          "type": "boolean"
        }
      }
    },
    "BatchUpdateDocumentResponse": {
      "id": "BatchUpdateDocumentResponse",
      "properties": {
        "writeControl": {
          "$ref": "WriteControl",
          "description": "The updated write control after applying the request."
        },
        "documentId": {
          "description": "The ID of the document to which the updates were applied to.",
          "type": "string"
        },
        "replies": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "Response"
          }
        }
      },
      "type": "object",
      "description": "Response message from a BatchUpdateDocument request."
    },
    "BookmarkLink": {
      "description": "A reference to a bookmark in this document.",
      "type": "object",
      "id": "BookmarkLink",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of a bookmark in this document."
        },
        "tabId": {
          "description": "The ID of the tab containing this bookmark.",
          "type": "string"
        }
      }
    },
    "CropProperties": {
      "description": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped.",
      "type": "object",
      "id": "CropProperties",
      "properties": {
        "offsetBottom": {
          "description": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height.",
          "type": "number",
          "format": "float"
        },
        "offsetTop": {
          "description": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height.",
          "type": "number",
          "format": "float"
        },
        "offsetRight": {
          "description": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width.",
          "type": "number",
          "format": "float"
        },
        "angle": {
          "description": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets.",
          "type": "number",
          "format": "float"
        },
        "offsetLeft": {
          "description": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "UpdateTextStyleRequest": {
      "type": "object",
      "description": "Update the styling of text.",
      "id": "UpdateTextStyleRequest",
      "properties": {
        "range": {
          "description": "The range of text to style. The range may be extended to include adjacent newlines. If the range fully contains a paragraph belonging to a list, the paragraph's bullet is also updated with the matching text style. Ranges cannot be inserted inside a relative UpdateTextStyleRequest.",
          "$ref": "Range"
        },
        "textStyle": {
          "description": "The styles to set on the text. If the value for a particular style matches that of the parent, that style will be set to inherit. Certain text style changes may cause other changes in order to to mirror the behavior of the Docs editor. See the documentation of TextStyle for more information.",
          "$ref": "TextStyle"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `text_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "InsertTextRequest": {
      "id": "InsertTextRequest",
      "properties": {
        "text": {
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.",
          "type": "string"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph.",
          "$ref": "Location"
        }
      },
      "description": "Inserts text at the specified location.",
      "type": "object"
    },
    "AddDocumentTabRequest": {
      "description": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented.",
      "type": "object",
      "id": "AddDocumentTabRequest",
      "properties": {
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the tab to add. All properties are optional."
        }
      }
    },
    "DeleteHeaderRequest": {
      "description": "Deletes a Header from the document.",
      "type": "object",
      "id": "DeleteHeaderRequest",
      "properties": {
        "headerId": {
          "description": "The id of the header to delete. If this header is defined on DocumentStyle, the reference to this header is removed, resulting in no header of that type for the first section of the document. If this header is defined on a SectionStyle, the reference to this header is removed and the header of that type is now continued from the previous section.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The tab containing the header to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        }
      }
    },
    "NamedRanges": {
      "description": "A collection of all the NamedRanges in the document that share a given name.",
      "type": "object",
      "id": "NamedRanges",
      "properties": {
        "namedRanges": {
          "description": "The NamedRanges that share the same name.",
          "type": "array",
          "items": {
            "$ref": "NamedRange"
          }
        },
        "name": {
          "type": "string",
          "description": "The name that all the named ranges share."
        }
      }
    },
    "StructuralElement": {
      "id": "StructuralElement",
      "properties": {
        "table": {
          "description": "A table type of structural element.",
          "$ref": "Table"
        },
        "startIndex": {
          "description": "The zero-based start index of this structural element, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        },
        "endIndex": {
          "description": "The zero-based end index of this structural element, exclusive, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        },
        "paragraph": {
          "description": "A paragraph type of structural element.",
          "$ref": "Paragraph"
        },
        "sectionBreak": {
          "description": "A section break type of structural element.",
          "$ref": "SectionBreak"
        },
        "tableOfContents": {
          "$ref": "TableOfContents",
          "description": "A table of contents type of structural element."
        }
      },
      "type": "object",
      "description": "A StructuralElement describes content that provides structure to the document."
    },
    "InsertDateRequest": {
      "type": "object",
      "description": "Inserts a date at the specified location.",
      "id": "InsertDateRequest",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the date at the end of the given header, footer or document body."
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the date at a specific index in the document. The date must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph)."
        },
        "dateElementProperties": {
          "$ref": "DateElementProperties",
          "description": "The properties of the date to insert."
        }
      }
    },
    "Location": {
      "id": "Location",
      "properties": {
        "index": {
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id.",
          "type": "integer",
          "format": "int32"
        },
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        }
      },
      "type": "object",
      "description": "A particular location in the document."
    },
    "NamedStyleSuggestionState": {
      "id": "NamedStyleSuggestionState",
      "properties": {
        "namedStyleType": {
          "type": "string",
          "description": "The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle.",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ]
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "paragraphStyleSuggestionState": {
          "$ref": "ParagraphStyleSuggestionState",
          "description": "A mask that indicates which of the fields in paragraph style have been changed in this suggestion."
        }
      },
      "type": "object",
      "description": "A suggestion state of a NamedStyle message."
    },
    "InlineObjectProperties": {
      "id": "InlineObjectProperties",
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this inline object.",
          "$ref": "EmbeddedObject"
        }
      },
      "type": "object",
      "description": "Properties of an InlineObject."
    },
    "TextRun": {
      "description": "A ParagraphElement that represents a run of text that all has the same styling.",
      "type": "object",
      "id": "TextRun",
      "properties": {
        "textStyle": {
          "description": "The text style of this run.",
          "$ref": "TextStyle"
        },
[...]
