{
  "version_module": true,
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Reads and writes Google Docs documents.",
  "canonicalName": "Docs",
  "basePath": "",
  "baseUrl": "https://docs.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/documents.readonly": {
          "description": "See all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "documents": {
      "methods": {
        "create": {
          "request": {
            "$ref": "Document"
          },
          "path": "v1/documents",
          "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
          "id": "docs.documents.create",
          "response": {
            "$ref": "Document"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "v1/documents",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {}
        },
        "batchUpdate": {
          "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "request": {
            "$ref": "BatchUpdateDocumentRequest"
          },
          "path": "v1/documents/{documentId}:batchUpdate",
          "id": "docs.documents.batchUpdate",
          "response": {
            "$ref": "BatchUpdateDocumentResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "documentId"
          ],
          "flatPath": "v1/documents/{documentId}:batchUpdate",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "documentId": {
              "description": "The ID of the document to update.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "documentId"
          ],
          "flatPath": "v1/documents/{documentId}",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/documents.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "documentId": {
              "description": "The ID of the document to retrieve.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "includeTabsContent": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to populate the Document.tabs field instead of the text content fields like `body` and `documentStyle` on Document. - When `True`: Document content populates in the Document.tabs field instead of the text content fields in Document. - When `False`: The content of the document's first tab populates the content fields in Document excluding Document.tabs. If a document has only one tab, then that tab is used to populate the document content. Document.tabs will be empty."
            },
            "suggestionsViewMode": {
              "type": "string",
              "location": "query",
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.",
              "enumDescriptions": [
                "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
                "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
              ],
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ]
            }
          },
          "path": "v1/documents/{documentId}",
          "description": "Gets the latest version of the specified document.",
          "id": "docs.documents.get",
          "response": {
            "$ref": "Document"
          }
        }
      }
    }
  },
  "protocol": "rest",
  "id": "docs:v1",
  "schemas": {
    "HorizontalRule": {
      "type": "object",
      "id": "HorizontalRule",
      "description": "A ParagraphElement representing a horizontal line.",
      "properties": {
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "textStyle": {
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID."
        }
      }
    },
    "DeleteContentRangeRequest": {
      "id": "DeleteContentRangeRequest",
      "description": "Deletes content from the document.",
      "properties": {
        "range": {
          "description": "The range of content to delete. Deleting text that crosses a paragraph boundary may result in changes to paragraph styles, lists, positioned objects and bookmarks as the two paragraphs are merged. Attempting to delete certain ranges can result in an invalid document structure in which case a 400 bad request error is returned. Some examples of invalid delete requests include: * Deleting one code unit of a surrogate pair. * Deleting the last newline character of a Body, Header, Footer, Footnote, TableCell or TableOfContents. * Deleting the start or end of a Table, TableOfContents or Equation without deleting the entire element. * Deleting the newline character before a Table, TableOfContents or SectionBreak without deleting the element. * Deleting individual rows or cells of a table. Deleting the content within a table cell is allowed.",
          "$ref": "Range"
        }
      },
      "type": "object"
    },
    "Paragraph": {
      "id": "Paragraph",
      "description": "A StructuralElement representing a paragraph. A paragraph is a range of content that's terminated with a newline character.",
      "properties": {
        "suggestedParagraphStyleChanges": {
          "description": "The suggested paragraph style changes to this paragraph, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedParagraphStyle"
          },
          "type": "object"
        },
        "elements": {
          "description": "The content of the paragraph, broken down into its component parts.",
          "items": {
            "$ref": "ParagraphElement"
          },
          "type": "array"
        },
        "paragraphStyle": {
          "description": "The style of this paragraph.",
          "$ref": "ParagraphStyle"
        },
        "suggestedBulletChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedBullet"
          },
          "description": "The suggested changes to this paragraph's bullet."
        },
        "suggestedPositionedObjectIds": {
          "description": "The IDs of the positioned objects suggested to be attached to this paragraph, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ObjectReferences"
          }
        },
        "bullet": {
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list.",
          "$ref": "Bullet"
        },
        "positionedObjectIds": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of the positioned objects tethered to this paragraph.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "UpdateTableCellStyleRequest": {
      "type": "object",
      "id": "UpdateTableCellStyleRequest",
      "description": "Updates the style of a range of table cells.",
      "properties": {
        "tableStartLocation": {
          "description": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table.",
          "$ref": "Location"
        },
        "tableCellStyle": {
          "description": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`",
          "$ref": "TableCellStyle"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "tableRange": {
          "description": "The table range representing the subset of the table to which the updates are applied.",
          "$ref": "TableRange"
        }
      }
    },
    "DocumentStyleSuggestionState": {
      "id": "DocumentStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "useCustomHeaderFooterMarginsSuggested": {
          "description": "Indicates if there was a suggested change to use_custom_header_footer_margins.",
          "type": "boolean"
        },
        "marginHeaderSuggested": {
          "description": "Indicates if there was a suggested change to margin_header.",
          "type": "boolean"
        },
        "firstPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to first_page_footer_id.",
          "type": "boolean"
        },
        "pageNumberStartSuggested": {
          "description": "Indicates if there was a suggested change to page_number_start.",
          "type": "boolean"
        },
        "defaultFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to default_footer_id.",
          "type": "boolean"
        },
        "defaultHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to default_header_id.",
          "type": "boolean"
        },
        "marginLeftSuggested": {
          "description": "Indicates if there was a suggested change to margin_left.",
          "type": "boolean"
        },
        "marginFooterSuggested": {
          "description": "Indicates if there was a suggested change to margin_footer.",
          "type": "boolean"
        },
        "evenPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_footer_id.",
          "type": "boolean"
        },
        "backgroundSuggestionState": {
          "description": "A mask that indicates which of the fields in background have been changed in this suggestion.",
          "$ref": "BackgroundSuggestionState"
        },
        "useFirstPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_first_page_header_footer.",
          "type": "boolean"
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "firstPageHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to first_page_header_id.",
          "type": "boolean"
        },
        "useEvenPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_even_page_header_footer.",
          "type": "boolean"
        },
        "evenPageHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_header_id.",
          "type": "boolean"
        },
        "flipPageOrientationSuggested": {
          "description": "Optional. Indicates if there was a suggested change to flip_page_orientation.",
          "type": "boolean"
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "pageSizeSuggestionState": {
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion.",
          "$ref": "SizeSuggestionState"
        }
      },
      "type": "object"
    },
    "TableCellLocation": {
      "id": "TableCellLocation",
      "description": "Location of a single cell within a table.",
      "properties": {
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        },
        "columnIndex": {
          "description": "The zero-based column index. For example, the second column in the table has a column index of 1.",
          "type": "integer",
          "format": "int32"
        },
        "rowIndex": {
          "description": "The zero-based row index. For example, the second row in the table has a row index of 1.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ReplaceImageRequest": {
      "id": "ReplaceImageRequest",
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor.",
      "properties": {
        "uri": {
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field.",
          "type": "string"
        },
        "imageReplaceMethod": {
          "description": "The replacement method.",
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as the original image."
          ]
        },
        "tabId": {
          "description": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "imageObjectId": {
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateParagraphBulletsRequest": {
      "id": "CreateParagraphBulletsRequest",
      "description": "Creates bullets for all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.",
      "properties": {
        "range": {
          "description": "The range to apply the bullet preset to.",
          "$ref": "Range"
        },
        "bulletPreset": {
          "enum": [
            "BULLET_GLYPH_PRESET_UNSPECIFIED",
            "BULLET_DISC_CIRCLE_SQUARE",
            "BULLET_DIAMONDX_ARROW3D_SQUARE",
            "BULLET_CHECKBOX",
            "BULLET_ARROW_DIAMOND_DISC",
            "BULLET_STAR_CIRCLE_SQUARE",
            "BULLET_ARROW3D_CIRCLE_SQUARE",
            "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
            "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
            "BULLET_DIAMOND_CIRCLE_SQUARE",
            "NUMBERED_DECIMAL_ALPHA_ROMAN",
            "NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS",
            "NUMBERED_DECIMAL_NESTED",
            "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
            "NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL",
            "NUMBERED_ZERODECIMAL_ALPHA_ROMAN"
          ],
          "description": "The kinds of bullet glyphs to be used.",
          "enumDescriptions": [
            "The bullet glyph preset is unspecified.",
            "A bulleted list with a `DISC`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `ARROW3D` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with `CHECKBOX` bullet glyphs for all list nesting levels.",
            "A bulleted list with a `ARROW`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `STAR`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `ARROW3D`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `LEFTTRIANGLE`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `HOLLOWDIAMOND` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMOND`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by parenthesis.",
            "A numbered list with `DECIMAL` numeric glyphs separated by periods, where each nesting level uses the previous nesting level's glyph as a prefix. For example: '1.', '1.1.', '2.', '2.2.'.",
            "A numbered list with `UPPERALPHA`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `UPPERROMAN`, `UPPERALPHA` and `DECIMAL` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `ZERODECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Person": {
      "type": "object",
      "id": "Person",
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.",
      "properties": {
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object",
          "description": "The suggested text style changes to this Person, keyed by suggestion ID."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion."
        },
        "suggestedInsertionIds": {
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "personId": {
          "description": "Output only. The unique ID of this link.",
          "readOnly": true,
          "type": "string"
        },
        "textStyle": {
          "description": "The text style of this Person.",
          "$ref": "TextStyle"
        },
        "personProperties": {
          "readOnly": true,
          "description": "Output only. The properties of this Person. This field is always present.",
          "$ref": "PersonProperties"
        }
      }
    },
    "LinkedContentReference": {
      "id": "LinkedContentReference",
      "description": "A reference to the external linked source content.",
      "properties": {
        "sheetsChartReference": {
          "description": "A reference to the linked chart.",
          "$ref": "SheetsChartReference"
        }
      },
      "type": "object"
    },
    "PositionedObjectPropertiesSuggestionState": {
      "id": "PositionedObjectPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "positioningSuggestionState": {
          "description": "A mask that indicates which of the fields in positioning have been changed in this suggestion.",
          "$ref": "PositionedObjectPositioningSuggestionState"
        },
        "embeddedObjectSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion.",
          "$ref": "EmbeddedObjectSuggestionState"
        }
      },
      "type": "object"
    },
    "NestingLevelSuggestionState": {
      "id": "NestingLevelSuggestionState",
      "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "glyphSymbolSuggested": {
          "description": "Indicates if there was a suggested change to glyph_symbol.",
          "type": "boolean"
        },
        "glyphTypeSuggested": {
          "description": "Indicates if there was a suggested change to glyph_type.",
          "type": "boolean"
        },
        "glyphFormatSuggested": {
          "description": "Indicates if there was a suggested change to glyph_format.",
          "type": "boolean"
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        },
        "startNumberSuggested": {
          "description": "Indicates if there was a suggested change to start_number.",
          "type": "boolean"
        },
        "indentFirstLineSuggested": {
          "description": "Indicates if there was a suggested change to indent_first_line.",
          "type": "boolean"
        },
        "indentStartSuggested": {
          "description": "Indicates if there was a suggested change to indent_start.",
          "type": "boolean"
        },
        "bulletAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to bullet_alignment.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "TableStyle": {
      "id": "TableStyle",
      "description": "Styles that apply to a table.",
      "properties": {
        "tableColumnProperties": {
          "items": {
            "$ref": "TableColumnProperties"
          },
          "description": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "RichLink": {
      "id": "RichLink",
      "description": "A link to a Google resource (such as a file in Drive, a YouTube video, or a Calendar event).",
      "properties": {
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that remove this link from the document. A RichLink might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion."
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this RichLink, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "richLinkProperties": {
          "description": "Output only. The properties of this RichLink. This field is always present.",
          "$ref": "RichLinkProperties",
          "readOnly": true
        },
        "textStyle": {
          "description": "The text style of this RichLink.",
          "$ref": "TextStyle"
        },
        "richLinkId": {
          "type": "string",
          "description": "Output only. The ID of this link.",
          "readOnly": true
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that insert this link into the document. A RichLink might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
        }
      },
      "type": "object"
    },
    "NamedRange": {
      "type": "object",
      "id": "NamedRange",
      "description": "A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges.",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the named range.",
          "type": "string"
        },
        "name": {
          "description": "The name of the named range.",
          "type": "string"
        },
        "ranges": {
          "items": {
            "$ref": "Range"
          },
          "description": "The ranges that belong to this named range.",
          "type": "array"
        }
      }
    },
    "TableCellBorder": {
      "id": "TableCellBorder",
      "description": "A border around a table cell. Table cell borders cannot be transparent. To hide a table cell border, make its width 0.",
      "properties": {
        "color": {
          "description": "The color of the border. This color cannot be transparent.",
          "$ref": "OptionalColor"
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "dashStyle": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "description": "The dash style of the border.",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ]
        }
      },
      "type": "object"
    },
    "SuggestedTableCellStyle": {
      "id": "SuggestedTableCellStyle",
      "description": "A suggested change to a TableCellStyle.",
      "properties": {
        "tableCellStyle": {
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableCellStyle"
        },
        "tableCellStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion.",
          "$ref": "TableCellStyleSuggestionState"
        }
      },
      "type": "object"
    },
    "ReplaceAllTextResponse": {
      "id": "ReplaceAllTextResponse",
      "description": "The result of replacing text.",
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "format": "int32",
          "description": "The number of occurrences changed by replacing all text."
        }
      },
      "type": "object"
    },
    "SuggestedParagraphStyle": {
      "type": "object",
      "id": "SuggestedParagraphStyle",
      "description": "A suggested change to a ParagraphStyle.",
      "properties": {
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "paragraphStyle": {
          "description": "A ParagraphStyle that only includes the changes made in this suggestion. This can be used along with the paragraph_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "ParagraphStyle"
        }
      }
    },
    "AddDocumentTabRequest": {
      "type": "object",
      "id": "AddDocumentTabRequest",
      "description": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented.",
      "properties": {
        "tabProperties": {
          "description": "The properties of the tab to add. All properties are optional.",
          "$ref": "TabProperties"
        }
      }
    },
    "UpdateDocumentStyleRequest": {
      "type": "object",
      "id": "UpdateDocumentStyleRequest",
      "description": "Updates the DocumentStyle.",
      "properties": {
        "documentStyle": {
          "description": "The styles to set on the document. Certain document style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of DocumentStyle for more information.",
          "$ref": "DocumentStyle"
        },
        "tabId": {
          "description": "The tab that contains the style to update. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If not provided, the request applies to the first tab in the document.",
          "type": "string"
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`."
        }
      }
    },
    "DateElementPropertiesSuggestionState": {
      "type": "object",
      "id": "DateElementPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "localeSuggested": {
          "description": "Indicates if there was a suggested change to locale.",
          "type": "boolean"
        },
        "dateFormatSuggested": {
          "description": "Indicates if there was a suggested change to date_format.",
          "type": "boolean"
        },
        "timestampSuggested": {
          "description": "Indicates if there was a suggested change to timestamp.",
          "type": "boolean"
        },
        "timeFormatSuggested": {
          "description": "Indicates if there was a suggested change to time_format.",
          "type": "boolean"
        },
        "timeZoneIdSuggested": {
          "description": "Indicates if there was a suggested change to time_zone_id.",
          "type": "boolean"
        }
      }
    },
    "SectionBreak": {
      "id": "SectionBreak",
      "description": "A StructuralElement representing a section break. A section is a range of content that has the same SectionStyle. A section break represents the start of a new section, and the section style applies to the section after the section break. The document body always begins with a section break.",
      "properties": {
        "sectionStyle": {
          "description": "The style of the section after this section break.",
          "$ref": "SectionStyle"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "InlineObject": {
      "type": "object",
      "id": "InlineObject",
      "description": "An object that appears inline with text. An InlineObject contains an EmbeddedObject such as an image.",
      "properties": {
        "objectId": {
          "description": "The ID of this inline object. Can be used to update an object’s properties.",
          "type": "string"
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "inlineObjectProperties": {
          "description": "The properties of this inline object.",
          "$ref": "InlineObjectProperties"
        },
        "suggestedInlineObjectPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedInlineObjectProperties"
          },
          "type": "object",
          "description": "The suggested changes to the inline object properties, keyed by suggestion ID."
        }
      }
    },
    "Link": {
      "type": "object",
      "id": "Link",
      "description": "A reference to another portion of a document or an external URL resource.",
      "properties": {
        "bookmark": {
          "description": "A bookmark in this document. In documents containing a single tab, links to bookmarks within the singular tab continue to return Link.bookmarkId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned.",
          "$ref": "BookmarkLink"
        },
        "headingId": {
          "description": "The ID of a heading in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.heading for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a heading within the singular tab. Otherwise, Link.heading is returned. If this field is used in a write request, the heading is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document.",
          "type": "string"
        },
        "tabId": {
          "description": "The ID of a tab in this document.",
          "type": "string"
        },
        "bookmarkId": {
          "description": "The ID of a bookmark in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.bookmark for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a bookmark within the singular tab. Otherwise, Link.bookmark is returned. If this field is used in a write request, the bookmark is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document.",
          "type": "string"
        },
        "heading": {
          "description": "A heading in this document. In documents containing a single tab, links to headings within the singular tab continue to return Link.headingId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned.",
          "$ref": "HeadingLink"
        },
        "url": {
          "description": "An external URL.",
          "type": "string"
        }
      }
    },
    "InsertTextRequest": {
      "type": "object",
      "id": "InsertTextRequest",
      "description": "Inserts text at the specified location.",
      "properties": {
        "location": {
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph.",
          "$ref": "Location"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "text": {
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.",
          "type": "string"
        }
      }
    },
    "BatchUpdateDocumentResponse": {
      "id": "BatchUpdateDocumentResponse",
      "description": "Response message from a BatchUpdateDocument request.",
      "properties": {
        "documentId": {
          "description": "The ID of the document to which the updates were applied to.",
          "type": "string"
        },
        "writeControl": {
          "description": "The updated write control after applying the request.",
          "$ref": "WriteControl"
        },
        "replies": {
          "type": "array",
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "items": {
            "$ref": "Response"
          }
        }
      },
      "type": "object"
    },
    "DeleteNamedRangeRequest": {
      "id": "DeleteNamedRangeRequest",
      "description": "Deletes a NamedRange.",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the named range to delete.",
          "type": "string"
        },
        "name": {
          "description": "The name of the range(s) to delete. All named ranges with the given name will be deleted.",
          "type": "string"
        },
        "tabsCriteria": {
          "description": "Optional. The criteria used to specify which tab(s) the range deletion should occur in. When omitted, the range deletion is applied to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the range deletion applies to the singular tab. In a document containing multiple tabs: - If provided, the range deletion applies to the specified tabs. - If not provided, the range deletion applies to all tabs.",
          "$ref": "TabsCriteria"
        }
      },
      "type": "object"
    },
    "InsertPersonRequest": {
      "id": "InsertPersonRequest",
      "description": "Inserts a person mention.",
      "properties": {
        "location": {
          "description": "Inserts the person mention at a specific index in the document. The person mention must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Person mentions cannot be inserted inside an equation.",
          "$ref": "Location"
        },
        "personProperties": {
          "description": "The properties of the person mention to insert.",
          "$ref": "PersonProperties"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the person mention at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        }
      },
      "type": "object"
    },
    "ListProperties": {
      "id": "ListProperties",
      "description": "The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list.",
      "properties": {
        "nestingLevels": {
          "items": {
            "$ref": "NestingLevel"
          },
          "description": "Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "EmbeddedDrawingProperties": {
      "type": "object",
      "id": "EmbeddedDrawingProperties",
      "description": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported.",
      "properties": {}
    },
    "List": {
      "type": "object",
      "id": "List",
      "description": "A List represents the list attributes for a group of paragraphs that all belong to the same list. A paragraph that's part of a list has a reference to the list's ID in its bullet.",
      "properties": {
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this list.",
          "items": {
            "type": "string"
          }
        },
        "listProperties": {
          "description": "The properties of the list.",
          "$ref": "ListProperties"
        },
        "suggestedListPropertiesChanges": {
          "description": "The suggested changes to the list properties, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedListProperties"
          }
        }
      }
    },
    "EndOfSegmentLocation": {
      "type": "object",
      "id": "EndOfSegmentLocation",
      "description": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment.",
      "properties": {
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        },
        "tabId": {
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      }
    },
    "InsertPageBreakRequest": {
      "type": "object",
      "id": "InsertPageBreakRequest",
      "description": "Inserts a page break followed by a newline at the specified location.",
      "properties": {
        "location": {
          "description": "Inserts the page break at a specific index in the document. The page break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Page breaks cannot be inserted inside a table, equation, footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Location"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the page break at the end of the document body. Page breaks cannot be inserted inside a footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        }
      }
    },
    "Equation": {
      "id": "Equation",
      "description": "A ParagraphElement representing an equation.",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. An Equation may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        }
      },
      "type": "object"
    },
    "SubstringMatchCriteria": {
      "id": "SubstringMatchCriteria",
      "description": "A criteria that matches a specific string of text in the document.",
      "properties": {
        "matchCase": {
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.",
          "type": "boolean"
        },
        "text": {
          "description": "The text to search for in the document.",
          "type": "string"
        },
        "searchByRegex": {
          "description": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListPropertiesSuggestionState": {
      "id": "ListPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "nestingLevelsSuggestionStates": {
          "type": "array",
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.",
          "items": {
            "$ref": "NestingLevelSuggestionState"
          }
        }
      },
      "type": "object"
    },
    "InsertTableRequest": {
      "type": "object",
      "id": "InsertTableRequest",
      "description": "Inserts a table at the specified location. A newline character will be inserted before the inserted table.",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote.",
          "$ref": "EndOfSegmentLocation"
        },
        "rows": {
          "description": "The number of rows in the table.",
          "type": "integer",
          "format": "int32"
        },
        "columns": {
          "description": "The number of columns in the table.",
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "description": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation.",
          "$ref": "Location"
        }
      }
    },
    "CreateNamedRangeRequest": {
      "type": "object",
      "id": "CreateNamedRangeRequest",
      "description": "Creates a NamedRange referencing the given range.",
      "properties": {
        "range": {
          "description": "The range to apply the name to.",
          "$ref": "Range"
        },
        "name": {
          "description": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units.",
          "type": "string"
        }
      }
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "type": "object",
      "id": "EmbeddedDrawingPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {}
    },
    "PositionedObjectProperties": {
      "type": "object",
      "id": "PositionedObjectProperties",
      "description": "Properties of a PositionedObject.",
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this positioned object.",
          "$ref": "EmbeddedObject"
        },
        "positioning": {
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object.",
          "$ref": "PositionedObjectPositioning"
        }
      }
    },
    "InlineObjectProperties": {
      "type": "object",
      "id": "InlineObjectProperties",
      "description": "Properties of an InlineObject.",
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this inline object.",
          "$ref": "EmbeddedObject"
        }
      }
    },
    "SheetsChartReference": {
      "type": "object",
      "id": "SheetsChartReference",
      "description": "A reference to a linked chart embedded from Google Sheets.",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart.",
          "type": "string"
        },
        "chartId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that's embedded."
        }
      }
    },
    "Request": {
      "type": "object",
      "id": "Request",
      "description": "A single update to apply to a document.",
      "properties": {
        "updateTableRowStyle": {
          "description": "Updates the row style in a table.",
          "$ref": "UpdateTableRowStyleRequest"
        },
        "insertDate": {
          "description": "Inserts a date.",
          "$ref": "InsertDateRequest"
        },
        "deleteHeader": {
          "description": "Deletes a header from the document.",
          "$ref": "DeleteHeaderRequest"
        },
        "deleteTab": {
          "description": "Deletes a document tab.",
          "$ref": "DeleteTabRequest"
        },
        "insertRichLink": {
          "description": "Insert a rich link.",
          "$ref": "InsertRichLinkRequest"
        },
        "insertInlineImage": {
          "description": "Inserts an inline image at the specified location.",
          "$ref": "InsertInlineImageRequest"
        },
        "createFootnote": {
          "description": "Creates a footnote.",
          "$ref": "CreateFootnoteRequest"
        },
        "deleteTableColumn": {
          "description": "Deletes a column from a table.",
          "$ref": "DeleteTableColumnRequest"
        },
        "updateDocumentStyle": {
          "description": "Updates the style of the document.",
          "$ref": "UpdateDocumentStyleRequest"
        },
        "updateParagraphStyle": {
          "description": "Updates the paragraph style at the specified range.",
          "$ref": "UpdateParagraphStyleRequest"
        },
        "replaceAllText": {
          "description": "Replaces all instances of the specified text.",
          "$ref": "ReplaceAllTextRequest"
        },
        "replaceNamedRangeContent": {
          "description": "Replaces the content in a named range.",
          "$ref": "ReplaceNamedRangeContentRequest"
        },
        "unmergeTableCells": {
          "description": "Unmerges cells in a table.",
          "$ref": "UnmergeTableCellsRequest"
        },
        "createNamedRange": {
          "description": "Creates a named range.",
          "$ref": "CreateNamedRangeRequest"
        },
        "insertPageBreak": {
          "description": "Inserts a page break at the specified location.",
          "$ref": "InsertPageBreakRequest"
        },
        "updateSectionStyle": {
          "description": "Updates the section style of the specified range.",
          "$ref": "UpdateSectionStyleRequest"
        },
        "addDocumentTab": {
          "description": "Adds a document tab.",
          "$ref": "AddDocumentTabRequest"
        },
        "updateTextStyle": {
          "description": "Updates the text style at the specified range.",
          "$ref": "UpdateTextStyleRequest"
        },
        "deleteParagraphBullets": {
          "description": "Deletes bullets from paragraphs.",
          "$ref": "DeleteParagraphBulletsRequest"
        },
        "insertTable": {
          "description": "Inserts a table at the specified location.",
          "$ref": "InsertTableRequest"
        },
        "insertTableColumn": {
          "description": "Inserts an empty column into a table.",
          "$ref": "InsertTableColumnRequest"
        },
        "pinTableHeaderRows": {
          "description": "Updates the number of pinned header rows in a table.",
          "$ref": "PinTableHeaderRowsRequest"
        },
        "insertPerson": {
          "description": "Inserts a person mention.",
          "$ref": "InsertPersonRequest"
        },
        "deleteContentRange": {
          "description": "Deletes content from the document.",
          "$ref": "DeleteContentRangeRequest"
        },
        "insertTableRow": {
          "description": "Inserts an empty row into a table.",
          "$ref": "InsertTableRowRequest"
        },
        "mergeTableCells": {
          "description": "Merges cells in a table.",
          "$ref": "MergeTableCellsRequest"
        },
        "deleteFooter": {
          "description": "Deletes a footer from the document.",
          "$ref": "DeleteFooterRequest"
        },
        "deleteNamedRange": {
          "description": "Deletes a named range.",
          "$ref": "DeleteNamedRangeRequest"
        },
        "updateNamedStyle": {
          "description": "Updates a named style.",
          "$ref": "UpdateNamedStyleRequest"
        },
        "createHeader": {
          "description": "Creates a header.",
          "$ref": "CreateHeaderRequest"
        },
        "insertSectionBreak": {
          "description": "Inserts a section break at the specified location.",
          "$ref": "InsertSectionBreakRequest"
        },
        "insertText": {
          "description": "Inserts text at the specified location.",
          "$ref": "InsertTextRequest"
        },
        "replaceImage": {
          "description": "Replaces an image in the document.",
          "$ref": "ReplaceImageRequest"
        },
        "updateTableColumnProperties": {
          "description": "Updates the properties of columns in a table.",
          "$ref": "UpdateTableColumnPropertiesRequest"
        },
        "updateDocumentTabProperties": {
          "description": "Updates the properties of a document tab.",
          "$ref": "UpdateDocumentTabPropertiesRequest"
        },
        "deletePositionedObject": {
          "description": "Deletes a positioned object from the document.",
          "$ref": "DeletePositionedObjectRequest"
        },
        "deleteTableRow": {
          "description": "Deletes a row from a table.",
          "$ref": "DeleteTableRowRequest"
        },
        "createFooter": {
          "description": "Creates a footer.",
          "$ref": "CreateFooterRequest"
        },
        "createParagraphBullets": {
          "description": "Creates bullets for paragraphs.",
          "$ref": "CreateParagraphBulletsRequest"
        },
        "updateTableCellStyle": {
          "description": "Updates the style of table cells.",
          "$ref": "UpdateTableCellStyleRequest"
        }
      }
    },
    "TableRowStyleSuggestionState": {
      "type": "object",
      "id": "TableRowStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      }
    },
    "InsertInlineImageResponse": {
      "type": "object",
      "id": "InsertInlineImageResponse",
      "description": "The result of inserting an inline image.",
      "properties": {
        "objectId": {
          "description": "The ID of the created InlineObject.",
          "type": "string"
        }
      }
    },
    "SuggestedTextStyle": {
      "type": "object",
      "id": "SuggestedTextStyle",
      "description": "A suggested change to a TextStyle.",
      "properties": {
        "textStyle": {
          "description": "A TextStyle that only includes the changes made in this suggestion. This can be used along with the text_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TextStyle"
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        }
      }
    },
    "AddDocumentTabResponse": {
      "type": "object",
      "id": "AddDocumentTabResponse",
      "description": "The result of adding a document tab.",
      "properties": {
        "tabProperties": {
          "description": "The properties of the newly added tab.",
          "$ref": "TabProperties"
        }
      }
    },
    "EmbeddedObject": {
      "id": "EmbeddedObject",
      "description": "An embedded object in the document.",
      "properties": {
        "title": {
          "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "size": {
          "description": "The visible size of the image after cropping.",
          "$ref": "Size"
        },
        "marginTop": {
          "description": "The top margin of the embedded object.",
          "$ref": "Dimension"
        },
        "marginRight": {
          "description": "The right margin of the embedded object.",
          "$ref": "Dimension"
        },
        "linkedContentReference": {
          "description": "A reference to the external linked source content. For example, it contains a reference to the source Google Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked.",
          "$ref": "LinkedContentReference"
        },
        "imageProperties": {
          "description": "The properties of an image.",
          "$ref": "ImageProperties"
        },
        "description": {
          "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "marginBottom": {
          "description": "The bottom margin of the embedded object.",
          "$ref": "Dimension"
        },
        "embeddedObjectBorder": {
          "description": "The border of the embedded object.",
          "$ref": "EmbeddedObjectBorder"
        },
        "embeddedDrawingProperties": {
          "description": "The properties of an embedded drawing.",
          "$ref": "EmbeddedDrawingProperties"
        },
        "marginLeft": {
          "description": "The left margin of the embedded object.",
          "$ref": "Dimension"
        }
      },
      "type": "object"
    },
    "CreateFootnoteResponse": {
      "type": "object",
      "id": "CreateFootnoteResponse",
      "description": "The result of creating a footnote.",
      "properties": {
        "footnoteId": {
          "description": "The ID of the created footnote.",
          "type": "string"
        }
      }
    },
    "StructuralElement": {
      "id": "StructuralElement",
      "description": "A StructuralElement describes content that provides structure to the document.",
      "properties": {
        "paragraph": {
          "description": "A paragraph type of structural element.",
          "$ref": "Paragraph"
        },
        "sectionBreak": {
          "description": "A section break type of structural element.",
          "$ref": "SectionBreak"
        },
        "tableOfContents": {
          "description": "A table of contents type of structural element.",
          "$ref": "TableOfContents"
        },
        "table": {
          "description": "A table type of structural element.",
          "$ref": "Table"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based start index of this structural element, in UTF-16 code units."
        },
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based end index of this structural element, exclusive, in UTF-16 code units."
        }
      },
      "type": "object"
    },
    "TableCellStyleSuggestionState": {
      "id": "TableCellStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "paddingLeftSuggested": {
          "description": "Indicates if there was a suggested change to padding_left.",
          "type": "boolean"
        },
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to background_color.",
          "type": "boolean"
        },
        "borderRightSuggested": {
          "description": "Indicates if there was a suggested change to border_right.",
          "type": "boolean"
        },
        "paddingRightSuggested": {
          "description": "Indicates if there was a suggested change to padding_right.",
          "type": "boolean"
        },
        "paddingBottomSuggested": {
          "description": "Indicates if there was a suggested change to padding_bottom.",
          "type": "boolean"
        },
        "borderTopSuggested": {
          "description": "Indicates if there was a suggested change to border_top.",
          "type": "boolean"
        },
        "borderLeftSuggested": {
          "description": "Indicates if there was a suggested change to border_left.",
          "type": "boolean"
        },
        "contentAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to content_alignment.",
          "type": "boolean"
        },
        "paddingTopSuggested": {
          "description": "Indicates if there was a suggested change to padding_top.",
          "type": "boolean"
        },
        "borderBottomSuggested": {
          "description": "Indicates if there was a suggested change to border_bottom.",
          "type": "boolean"
        },
        "rowSpanSuggested": {
          "description": "Indicates if there was a suggested change to row_span.",
          "type": "boolean"
        },
        "columnSpanSuggested": {
          "description": "Indicates if there was a suggested change to column_span.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "EmbeddedObjectSuggestionState": {
      "id": "EmbeddedObjectSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "sizeSuggestionState": {
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion.",
          "$ref": "SizeSuggestionState"
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "linkedContentReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in linked_content_reference have been changed in this suggestion.",
          "$ref": "LinkedContentReferenceSuggestionState"
        },
        "imagePropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in image_properties have been changed in this suggestion.",
          "$ref": "ImagePropertiesSuggestionState"
        },
        "embeddedDrawingPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_drawing_properties have been changed in this suggestion.",
          "$ref": "EmbeddedDrawingPropertiesSuggestionState"
        },
        "marginLeftSuggested": {
          "description": "Indicates if there was a suggested change to margin_left.",
          "type": "boolean"
        },
        "embeddedObjectBorderSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_object_border have been changed in this suggestion.",
          "$ref": "EmbeddedObjectBorderSuggestionState"
        },
        "descriptionSuggested": {
          "description": "Indicates if there was a suggested change to description.",
          "type": "boolean"
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        },
        "titleSuggested": {
          "description": "Indicates if there was a suggested change to title.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "TextStyle": {
      "id": "TextStyle",
      "description": "Represents the styling that can be applied to text. Inherited text styles are represented as unset fields in this message. A text style's parent depends on where the text style is defined: * The TextStyle of text in a Paragraph inherits from the paragraph's corresponding named style type. * The TextStyle on a named style inherits from the normal text named style. * The TextStyle of the normal text named style inherits from the default text style in the Docs editor. * The TextStyle on a Paragraph element that's contained in a table may inherit its text style from the table style. If the text style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "properties": {
        "underline": {
          "description": "Whether or not the text is underlined.",
          "type": "boolean"
        },
        "smallCaps": {
          "description": "Whether or not the text is in small capital letters.",
          "type": "boolean"
        },
        "link": {
          "description": "The hyperlink destination of the text. If unset, there's no link. Links are not inherited from parent text. Changing the link in an update request causes some other changes to the text style of the range: * When setting a link, the text foreground color will be updated to the default link color and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults. * Setting a link on a text range that overlaps with an existing link will also update the existing link to point to the new URL. * Links are not settable on newline characters. As a result, setting a link on a text range that crosses a paragraph boundary, such as `\"ABC\\n123\"`, will separate the newline character(s) into their own text runs. The link will be applied separately to the runs before and after the newline. * Removing a link will update the text style of the range to match the style of the preceding text (or the default text styles if the preceding text is another link) unless different styles are being set in the same request.",
          "$ref": "Link"
        },
        "foregroundColor": {
          "description": "The foreground color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field.",
          "$ref": "OptionalColor"
        },
        "weightedFontFamily": {
          "description": "The font family and rendered weight of the text. If an update request specifies values for both `weighted_font_family` and `bold`, the `weighted_font_family` is applied first, then `bold`. If `weighted_font_family#weight` is not set, it defaults to `400`. If `weighted_font_family` is set, then `weighted_font_family#font_family` must also be set with a non-empty value. Otherwise, a 400 bad request error is returned.",
          "$ref": "WeightedFontFamily"
        },
        "strikethrough": {
          "description": "Whether or not the text is struck through.",
          "type": "boolean"
        },
        "fontSize": {
          "description": "The size of the text's font.",
          "$ref": "Dimension"
        },
        "baselineOffset": {
          "enumDescriptions": [
            "The text's baseline offset is inherited from the parent.",
            "The text is not vertically offset.",
            "The text is vertically offset upwards (superscript).",
            "The text is vertically offset downwards (subscript)."
          ],
          "type": "string",
          "enum": [
            "BASELINE_OFFSET_UNSPECIFIED",
            "NONE",
            "SUPERSCRIPT",
            "SUBSCRIPT"
          ],
          "description": "The text's vertical offset from its normal position. Text with `SUPERSCRIPT` or `SUBSCRIPT` baseline offsets is automatically rendered in a smaller font size, computed based on the `font_size` field. Changes in this field don't affect the `font_size`."
        },
        "bold": {
          "description": "Whether or not the text is rendered as bold.",
          "type": "boolean"
        },
        "italic": {
          "description": "Whether or not the text is italicized.",
          "type": "boolean"
        },
        "backgroundColor": {
          "description": "The background color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field.",
          "$ref": "OptionalColor"
        }
      },
      "type": "object"
    },
    "TableRow": {
      "type": "object",
      "id": "TableRow",
      "description": "The contents and style of a row in a Table.",
      "properties": {
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based start index of this row, in UTF-16 code units."
        },
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based end index of this row, exclusive, in UTF-16 code units."
        },
        "tableCells": {
          "description": "The contents and style of each cell in this row. It's possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table.",
          "items": {
            "$ref": "TableCell"
          },
          "type": "array"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A TableRow may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "tableRowStyle": {
          "description": "The style of the table row.",
          "$ref": "TableRowStyle"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "suggestedTableRowStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTableRowStyle"
          },
          "description": "The suggested style changes to this row, keyed by suggestion ID."
        }
      }
    },
    "TabProperties": {
      "id": "TabProperties",
      "description": "Properties of a tab.",
      "properties": {
        "title": {
          "description": "The user-visible name of the tab.",
          "type": "string"
        },
        "parentTabId": {
          "description": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents.",
          "type": "string"
        },
        "tabId": {
          "description": "The immutable ID of the tab.",
          "type": "string"
        },
        "iconEmoji": {
          "description": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon.",
          "type": "string"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based index of the tab within the parent."
        },
        "nestingLevel": {
          "description": "Output only. The depth of the tab within the document. Root-level tabs start at 0.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Bullet": {
      "type": "object",
      "id": "Bullet",
      "description": "Describes the bullet of a paragraph.",
      "properties": {
        "nestingLevel": {
          "type": "integer",
          "format": "int32",
          "description": "The nesting level of this paragraph in the list."
        },
        "textStyle": {
          "description": "The paragraph-specific text style applied to this bullet.",
          "$ref": "TextStyle"
        },
        "listId": {
          "description": "The ID of the list this paragraph belongs to.",
          "type": "string"
        }
      }
    },
    "ImagePropertiesSuggestionState": {
      "type": "object",
      "id": "ImagePropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "contrastSuggested": {
          "description": "Indicates if there was a suggested change to contrast.",
          "type": "boolean"
        },
        "cropPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion.",
          "$ref": "CropPropertiesSuggestionState"
        },
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "contentUriSuggested": {
          "description": "Indicates if there was a suggested change to content_uri.",
          "type": "boolean"
        },
        "transparencySuggested": {
          "description": "Indicates if there was a suggested change to transparency.",
          "type": "boolean"
        },
        "sourceUriSuggested": {
          "description": "Indicates if there was a suggested change to source_uri.",
          "type": "boolean"
        },
        "brightnessSuggested": {
          "description": "Indicates if there was a suggested change to brightness.",
          "type": "boolean"
        }
      }
    },
    "DeleteTabRequest": {
      "id": "DeleteTabRequest",
      "description": "Deletes a tab. If the tab has child tabs, they are deleted as well.",
      "properties": {
        "tabId": {
          "description": "The ID of the tab to delete.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Header": {
      "id": "Header",
      "description": "A document header.",
      "properties": {
        "headerId": {
          "description": "The ID of the header.",
          "type": "string"
        },
        "content": {
          "description": "The contents of the header. The indexes for a header's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PersonProperties": {
      "id": "PersonProperties",
      "description": "Properties specific to a linked Person.",
      "properties": {
        "name": {
          "description": "The name of the person if it's displayed in the link text instead of the person's email address.",
          "type": "string"
        },
        "email": {
          "description": "The email address linked to this Person. This field is always present.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WeightedFontFamily": {
      "type": "object",
      "id": "WeightedFontFamily",
      "description": "Represents a font family and weight of text.",
      "properties": {
        "fontFamily": {
          "description": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`.",
          "type": "string"
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight."
        }
      }
    },
    "RgbColor": {
      "type": "object",
      "id": "RgbColor",
      "description": "An RGB color.",
      "properties": {
        "green": {
          "description": "The green component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        },
        "red": {
          "type": "number",
          "format": "float",
          "description": "The red component of the color, from 0.0 to 1.0."
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The blue component of the color, from 0.0 to 1.0."
        }
      }
    },
    "InsertInlineSheetsChartResponse": {
      "type": "object",
      "id": "InsertInlineSheetsChartResponse",
      "description": "The result of inserting an embedded Google Sheets chart.",
      "properties": {
        "objectId": {
          "description": "The object ID of the inserted chart.",
          "type": "string"
        }
      }
    },
    "Color": {
      "type": "object",
      "id": "Color",
      "description": "A solid color.",
      "properties": {
        "rgbColor": {
          "description": "The RGB color value.",
          "$ref": "RgbColor"
        }
      }
    },
    "InsertTableRowRequest": {
      "id": "InsertTableRowRequest",
      "description": "Inserts an empty row into a table.",
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell.",
          "$ref": "TableCellLocation"
        },
        "insertBelow": {
          "description": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AutoText": {
      "type": "object",
      "id": "AutoText",
      "description": "A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number.",
      "properties": {
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this AutoText, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PAGE_NUMBER",
            "PAGE_COUNT"
          ],
          "description": "The type of this auto text.",
          "enumDescriptions": [
            "An unspecified auto text type.",
            "Type for auto text that represents the current page number.",
            "Type for auto text that represents the total number of pages in the document."
          ],
          "type": "string"
        },
        "textStyle": {
          "description": "The text style of this AutoText.",
          "$ref": "TextStyle"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        }
      }
    },
    "DeleteParagraphBulletsRequest": {
      "id": "DeleteParagraphBulletsRequest",
      "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.",
      "properties": {
        "range": {
          "description": "The range to delete bullets from.",
          "$ref": "Range"
        }
      },
      "type": "object"
    },
    "SizeSuggestionState": {
      "id": "SizeSuggestionState",
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value.",
      "properties": {
        "heightSuggested": {
          "description": "Indicates if there was a suggested change to height.",
          "type": "boolean"
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "TableCell": {
      "type": "object",
      "id": "TableCell",
      "description": "The contents and style of a cell in a Table.",
      "properties": {
        "suggestedTableCellStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          },
          "description": "The suggested changes to the table cell style, keyed by suggestion ID."
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based start index of this cell, in UTF-16 code units."
        },
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units."
        },
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The content of the cell.",
          "type": "array"
        }
      }
    },
    "CreateHeaderResponse": {
      "type": "object",
      "id": "CreateHeaderResponse",
      "description": "The result of creating a header.",
      "properties": {
        "headerId": {
          "description": "The ID of the created header.",
          "type": "string"
        }
      }
    },
    "CropPropertiesSuggestionState": {
      "id": "CropPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "offsetLeftSuggested": {
          "description": "Indicates if there was a suggested change to offset_left.",
          "type": "boolean"
        },
        "offsetBottomSuggested": {
          "description": "Indicates if there was a suggested change to offset_bottom.",
          "type": "boolean"
        },
        "offsetRightSuggested": {
          "description": "Indicates if there was a suggested change to offset_right.",
          "type": "boolean"
        },
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "offsetTopSuggested": {
          "description": "Indicates if there was a suggested change to offset_top.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DeleteTableColumnRequest": {
      "type": "object",
      "id": "DeleteTableColumnRequest",
      "description": "Deletes a column from a table.",
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which the column will be deleted. The column this cell spans will be deleted. If this is a merged cell that spans multiple columns, all columns that the cell spans will be deleted. If no columns remain in the table after this deletion, the whole table is deleted.",
          "$ref": "TableCellLocation"
        }
      }
    },
    "Footer": {
      "type": "object",
      "id": "Footer",
      "description": "A document footer.",
      "properties": {
        "footerId": {
          "description": "The ID of the footer.",
          "type": "string"
        },
        "content": {
          "description": "The contents of the footer. The indexes for a footer's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        }
      }
    },
    "DeleteHeaderRequest": {
      "type": "object",
      "id": "DeleteHeaderRequest",
      "description": "Deletes a Header from the document.",
      "properties": {
        "headerId": {
          "description": "The id of the header to delete. If this header is defined on DocumentStyle, the reference to this header is removed, resulting in no header of that type for the first section of the document. If this header is defined on a SectionStyle, the reference to this header is removed and the header of that type is now continued from the previous section.",
          "type": "string"
        },
        "tabId": {
          "description": "The tab containing the header to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      }
    },
    "Body": {
      "id": "Body",
      "description": "The document body. The body typically contains the full document contents except for headers, footers, and footnotes.",
      "properties": {
        "content": {
          "description": "The contents of the body. The indexes for the body's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SectionStyle": {
      "type": "object",
      "id": "SectionStyle",
      "description": "The styling that applies to a section.",
      "properties": {
        "firstPageFooterId": {
          "description": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it's false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "firstPageHeaderId": {
          "description": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it's false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "pageNumberStart": {
          "description": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "integer",
          "format": "int32"
        },
        "evenPageFooterId": {
          "description": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages use the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "marginLeft": {
          "description": "The left page margin of the section. If unset, the value defaults to margin_left from DocumentStyle. Updating the left margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "marginFooter": {
[...]
