{
  "discoveryVersion": "v1",
  "id": "docs:v1",
  "resources": {
    "documents": {
      "methods": {
        "get": {
          "path": "v1/documents/{documentId}",
          "parameters": {
            "includeTabsContent": {
              "description": "Whether to populate the Document.tabs field instead of the text content fields like `body` and `documentStyle` on Document. - When `True`: Document content populates in the Document.tabs field instead of the text content fields in Document. - When `False`: The content of the document's first tab populates the content fields in Document excluding Document.tabs. If a document has only one tab, then that tab is used to populate the document content. Document.tabs will be empty.",
              "location": "query",
              "type": "boolean"
            },
            "documentId": {
              "required": true,
              "type": "string",
              "description": "The ID of the document to retrieve.",
              "location": "path"
            },
            "suggestionsViewMode": {
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "enumDescriptions": [
                "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
                "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
              ],
              "location": "query",
              "type": "string",
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used."
            }
          },
          "description": "Gets the latest version of the specified document.",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/documents.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "v1/documents/{documentId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "documentId"
          ],
          "id": "docs.documents.get",
          "response": {
            "$ref": "Document"
          }
        },
        "create": {
          "path": "v1/documents",
          "parameters": {},
          "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "v1/documents",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "docs.documents.create",
          "request": {
            "$ref": "Document"
          },
          "response": {
            "$ref": "Document"
          }
        },
        "batchUpdate": {
          "flatPath": "v1/documents/{documentId}:batchUpdate",
          "httpMethod": "POST",
          "id": "docs.documents.batchUpdate",
          "parameterOrder": [
            "documentId"
          ],
          "request": {
            "$ref": "BatchUpdateDocumentRequest"
          },
          "response": {
            "$ref": "BatchUpdateDocumentResponse"
          },
          "parameters": {
            "documentId": {
              "description": "The ID of the document to update.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/documents/{documentId}:batchUpdate",
          "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "baseUrl": "https://docs.googleapis.com/",
  "title": "Google Docs API",
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "schemas": {
    "HeadingLink": {
      "id": "HeadingLink",
      "type": "object",
      "description": "A reference to a heading in this document.",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The ID of the tab containing this heading."
        },
        "id": {
          "type": "string",
          "description": "The ID of a heading in this document."
        }
      }
    },
    "BatchUpdateDocumentRequest": {
      "type": "object",
      "id": "BatchUpdateDocumentRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "description": "A list of updates to apply to the document.",
          "type": "array"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "WriteControl"
        }
      },
      "description": "Request message for BatchUpdateDocument."
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {},
      "id": "EmbeddedDrawingPropertiesSuggestionState",
      "type": "object"
    },
    "PinTableHeaderRowsRequest": {
      "type": "object",
      "id": "PinTableHeaderRowsRequest",
      "properties": {
        "pinnedHeaderRowsCount": {
          "description": "The number of table rows to pin, where 0 implies that all rows are unpinned.",
          "format": "int32",
          "type": "integer"
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        }
      },
      "description": "Updates the number of pinned table header rows in a table."
    },
    "TableColumnProperties": {
      "id": "TableColumnProperties",
      "type": "object",
      "description": "The properties of a column in a table.",
      "properties": {
        "widthType": {
          "enum": [
            "WIDTH_TYPE_UNSPECIFIED",
            "EVENLY_DISTRIBUTED",
            "FIXED_WIDTH"
          ],
          "type": "string",
          "description": "The width type of the column.",
          "enumDescriptions": [
            "The column width type is unspecified.",
            "The column width is evenly distributed among the other evenly distributed columns. The width of the column is automatically determined and will have an equal portion of the width remaining for the table after accounting for all columns with specified widths.",
            "A fixed column width. The width property contains the column's width."
          ]
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the column. Set when the column's `width_type` is FIXED_WIDTH."
        }
      }
    },
    "Footnote": {
      "description": "A document footnote.",
      "properties": {
        "footnoteId": {
          "description": "The ID of the footnote.",
          "type": "string"
        },
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero.",
          "type": "array"
        }
      },
      "id": "Footnote",
      "type": "object"
    },
    "SubstringMatchCriteria": {
      "properties": {
        "text": {
          "description": "The text to search for in the document.",
          "type": "string"
        },
        "matchCase": {
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.",
          "type": "boolean"
        },
        "searchByRegex": {
          "description": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching.",
          "type": "boolean"
        }
      },
      "description": "A criteria that matches a specific string of text in the document.",
      "type": "object",
      "id": "SubstringMatchCriteria"
    },
    "ListPropertiesSuggestionState": {
      "properties": {
        "nestingLevelsSuggestionStates": {
          "type": "array",
          "items": {
            "$ref": "NestingLevelSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first."
        }
      },
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "ListPropertiesSuggestionState"
    },
    "NamedStyleSuggestionState": {
      "properties": {
        "namedStyleType": {
          "description": "The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle.",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "type": "string",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ]
        },
        "paragraphStyleSuggestionState": {
          "$ref": "ParagraphStyleSuggestionState",
          "description": "A mask that indicates which of the fields in paragraph style have been changed in this suggestion."
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        }
      },
      "description": "A suggestion state of a NamedStyle message.",
      "type": "object",
      "id": "NamedStyleSuggestionState"
    },
    "PersonProperties": {
      "description": "Properties specific to a linked Person.",
      "properties": {
        "email": {
          "description": "The email address linked to this Person. This field is always present.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the person if it's displayed in the link text instead of the person's email address."
        }
      },
      "id": "PersonProperties",
      "type": "object"
    },
    "InsertTableRequest": {
      "type": "object",
      "id": "InsertTableRequest",
      "properties": {
        "columns": {
          "type": "integer",
          "description": "The number of columns in the table.",
          "format": "int32"
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote."
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation."
        },
        "rows": {
          "type": "integer",
          "description": "The number of rows in the table.",
          "format": "int32"
        }
      },
      "description": "Inserts a table at the specified location. A newline character will be inserted before the inserted table."
    },
    "Bullet": {
      "id": "Bullet",
      "type": "object",
      "description": "Describes the bullet of a paragraph.",
      "properties": {
        "listId": {
          "description": "The ID of the list this paragraph belongs to.",
          "type": "string"
        },
        "nestingLevel": {
          "type": "integer",
          "description": "The nesting level of this paragraph in the list.",
          "format": "int32"
        },
        "textStyle": {
          "description": "The paragraph-specific text style applied to this bullet.",
          "$ref": "TextStyle"
        }
      }
    },
    "AutoText": {
      "properties": {
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this AutoText, keyed by suggestion ID."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "textStyle": {
          "description": "The text style of this AutoText.",
          "$ref": "TextStyle"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PAGE_NUMBER",
            "PAGE_COUNT"
          ],
          "type": "string",
          "description": "The type of this auto text.",
          "enumDescriptions": [
            "An unspecified auto text type.",
            "Type for auto text that represents the current page number.",
            "Type for auto text that represents the total number of pages in the document."
          ]
        }
      },
      "description": "A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number.",
      "type": "object",
      "id": "AutoText"
    },
    "Footer": {
      "id": "Footer",
      "type": "object",
      "description": "A document footer.",
      "properties": {
        "footerId": {
          "type": "string",
          "description": "The ID of the footer."
        },
        "content": {
          "description": "The contents of the footer. The indexes for a footer's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        }
      }
    },
    "DeletePositionedObjectRequest": {
      "id": "DeletePositionedObjectRequest",
      "type": "object",
      "description": "Deletes a PositionedObject from the document.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the positioned object to delete."
        },
        "tabId": {
          "description": "The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      }
    },
    "InlineObjectProperties": {
      "description": "Properties of an InlineObject.",
      "properties": {
        "embeddedObject": {
          "$ref": "EmbeddedObject",
          "description": "The embedded object of this inline object."
        }
      },
      "id": "InlineObjectProperties",
      "type": "object"
    },
    "Header": {
      "type": "object",
      "id": "Header",
      "properties": {
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the header. The indexes for a header's content begin at zero.",
          "type": "array"
        },
        "headerId": {
          "description": "The ID of the header.",
          "type": "string"
        }
      },
      "description": "A document header."
    },
    "ReplaceAllTextResponse": {
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "description": "The number of occurrences changed by replacing all text.",
          "format": "int32"
        }
      },
      "description": "The result of replacing text.",
      "type": "object",
      "id": "ReplaceAllTextResponse"
    },
    "LinkedContentReferenceSuggestionState": {
      "description": "A mask that indicates which of the fields on the base LinkedContentReference have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "sheetsChartReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in sheets_chart_reference have been changed in this suggestion.",
          "$ref": "SheetsChartReferenceSuggestionState"
        }
      },
      "id": "LinkedContentReferenceSuggestionState",
      "type": "object"
    },
    "InsertInlineImageRequest": {
      "description": "Inserts an InlineObject containing an image at the given location.",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer or the document body. Inline images cannot be inserted inside a footnote."
        },
        "uri": {
          "description": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI must be publicly accessible and at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field.",
          "type": "string"
        },
        "location": {
          "description": "Inserts the image at a specific index in the document. The image must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Inline images cannot be inserted inside a footnote or equation.",
          "$ref": "Location"
        },
        "objectSize": {
          "$ref": "Size",
          "description": "The size that the image should appear as in the document. This property is optional and the final size of the image in the document is determined by the following rules: * If neither width nor height is specified, then a default size of the image is calculated based on its resolution. * If one dimension is specified then the other dimension is calculated to preserve the aspect ratio of the image. * If both width and height are specified, the image is scaled to fit within the provided dimensions while maintaining its aspect ratio."
        }
      },
      "id": "InsertInlineImageRequest",
      "type": "object"
    },
    "SuggestedParagraphStyle": {
      "description": "A suggested change to a ParagraphStyle.",
      "properties": {
        "paragraphStyle": {
          "description": "A ParagraphStyle that only includes the changes made in this suggestion. This can be used along with the paragraph_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "ParagraphStyle"
        },
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        }
      },
      "id": "SuggestedParagraphStyle",
      "type": "object"
    },
    "ShadingSuggestionState": {
      "properties": {
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the Shading."
        }
      },
      "description": "A mask that indicates which of the fields on the base Shading have been changed in this suggested change. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "ShadingSuggestionState"
    },
    "EmbeddedDrawingProperties": {
      "id": "EmbeddedDrawingProperties",
      "type": "object",
      "description": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported.",
      "properties": {}
    },
    "Table": {
      "type": "object",
      "id": "Table",
      "properties": {
        "rows": {
          "description": "Number of rows in the table.",
          "format": "int32",
          "type": "integer"
        },
        "tableStyle": {
          "description": "The style of the table.",
          "$ref": "TableStyle"
        },
        "tableRows": {
          "type": "array",
          "items": {
            "$ref": "TableRow"
          },
          "description": "The contents and style of each row."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A Table may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "columns": {
          "description": "Number of columns in the table. It's possible for a table to be non-rectangular, so some rows may have a different number of cells.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A StructuralElement representing a table."
    },
    "StructuralElement": {
      "id": "StructuralElement",
      "type": "object",
      "description": "A StructuralElement describes content that provides structure to the document.",
      "properties": {
        "paragraph": {
          "description": "A paragraph type of structural element.",
          "$ref": "Paragraph"
        },
        "endIndex": {
          "description": "The zero-based end index of this structural element, exclusive, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "sectionBreak": {
          "description": "A section break type of structural element.",
          "$ref": "SectionBreak"
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this structural element, in UTF-16 code units.",
          "format": "int32"
        },
        "table": {
          "$ref": "Table",
          "description": "A table type of structural element."
        },
        "tableOfContents": {
          "$ref": "TableOfContents",
          "description": "A table of contents type of structural element."
        }
      }
    },
    "SuggestedListProperties": {
      "description": "A suggested change to ListProperties.",
      "properties": {
        "listProperties": {
          "description": "A ListProperties that only includes the changes made in this suggestion. This can be used along with the list_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "ListProperties"
        },
        "listPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion.",
          "$ref": "ListPropertiesSuggestionState"
        }
      },
      "id": "SuggestedListProperties",
      "type": "object"
    },
    "TableCellBorder": {
      "properties": {
        "dashStyle": {
          "description": "The dash style of the border.",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "type": "string",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ]
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border. This color cannot be transparent."
        }
      },
      "description": "A border around a table cell. Table cell borders cannot be transparent. To hide a table cell border, make its width 0.",
      "type": "object",
      "id": "TableCellBorder"
    },
    "DeleteNamedRangeRequest": {
      "type": "object",
      "id": "DeleteNamedRangeRequest",
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range to delete."
        },
        "tabsCriteria": {
          "$ref": "TabsCriteria",
          "description": "Optional. The criteria used to specify which tab(s) the range deletion should occur in. When omitted, the range deletion is applied to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the range deletion applies to the singular tab. In a document containing multiple tabs: - If provided, the range deletion applies to the specified tabs. - If not provided, the range deletion applies to all tabs."
        },
        "name": {
          "description": "The name of the range(s) to delete. All named ranges with the given name will be deleted.",
          "type": "string"
        }
      },
      "description": "Deletes a NamedRange."
    },
    "TextStyle": {
      "properties": {
        "foregroundColor": {
          "description": "The foreground color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field.",
          "$ref": "OptionalColor"
        },
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field."
        },
        "underline": {
          "type": "boolean",
          "description": "Whether or not the text is underlined."
        },
        "strikethrough": {
          "type": "boolean",
          "description": "Whether or not the text is struck through."
        },
        "baselineOffset": {
          "enum": [
            "BASELINE_OFFSET_UNSPECIFIED",
            "NONE",
            "SUPERSCRIPT",
            "SUBSCRIPT"
          ],
          "type": "string",
          "description": "The text's vertical offset from its normal position. Text with `SUPERSCRIPT` or `SUBSCRIPT` baseline offsets is automatically rendered in a smaller font size, computed based on the `font_size` field. Changes in this field don't affect the `font_size`.",
          "enumDescriptions": [
            "The text's baseline offset is inherited from the parent.",
            "The text is not vertically offset.",
            "The text is vertically offset upwards (superscript).",
            "The text is vertically offset downwards (subscript)."
          ]
        },
        "bold": {
          "description": "Whether or not the text is rendered as bold.",
          "type": "boolean"
        },
        "smallCaps": {
          "description": "Whether or not the text is in small capital letters.",
          "type": "boolean"
        },
        "weightedFontFamily": {
          "$ref": "WeightedFontFamily",
          "description": "The font family and rendered weight of the text. If an update request specifies values for both `weighted_font_family` and `bold`, the `weighted_font_family` is applied first, then `bold`. If `weighted_font_family#weight` is not set, it defaults to `400`. If `weighted_font_family` is set, then `weighted_font_family#font_family` must also be set with a non-empty value. Otherwise, a 400 bad request error is returned."
        },
        "fontSize": {
          "$ref": "Dimension",
          "description": "The size of the text's font."
        },
        "italic": {
          "type": "boolean",
          "description": "Whether or not the text is italicized."
        },
        "link": {
          "$ref": "Link",
          "description": "The hyperlink destination of the text. If unset, there's no link. Links are not inherited from parent text. Changing the link in an update request causes some other changes to the text style of the range: * When setting a link, the text foreground color will be updated to the default link color and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults. * Setting a link on a text range that overlaps with an existing link will also update the existing link to point to the new URL. * Links are not settable on newline characters. As a result, setting a link on a text range that crosses a paragraph boundary, such as `\"ABC\\n123\"`, will separate the newline character(s) into their own text runs. The link will be applied separately to the runs before and after the newline. * Removing a link will update the text style of the range to match the style of the preceding text (or the default text styles if the preceding text is another link) unless different styles are being set in the same request."
        }
      },
      "description": "Represents the styling that can be applied to text. Inherited text styles are represented as unset fields in this message. A text style's parent depends on where the text style is defined: * The TextStyle of text in a Paragraph inherits from the paragraph's corresponding named style type. * The TextStyle on a named style inherits from the normal text named style. * The TextStyle of the normal text named style inherits from the default text style in the Docs editor. * The TextStyle on a Paragraph element that's contained in a table may inherit its text style from the table style. If the text style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "type": "object",
      "id": "TextStyle"
    },
    "CreateFooterRequest": {
      "id": "CreateFooterRequest",
      "type": "object",
      "description": "Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "description": "The type of footer to create.",
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ]
        },
        "sectionBreakLocation": {
          "description": "The location of the SectionBreak immediately preceding the section whose SectionStyle this footer should belong to. If this is unset or refers to the first section break in the document, the footer applies to the document style.",
          "$ref": "Location"
        }
      }
    },
    "AddDocumentTabResponse": {
      "id": "AddDocumentTabResponse",
      "type": "object",
      "description": "The result of adding a document tab.",
      "properties": {
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the newly added tab."
        }
      }
    },
    "BulletSuggestionState": {
      "properties": {
        "nestingLevelSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the nesting_level."
        },
        "listIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the list_id."
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        }
      },
      "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "BulletSuggestionState"
    },
    "UpdateTableRowStyleRequest": {
      "type": "object",
      "id": "UpdateTableRowStyleRequest",
      "properties": {
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        },
        "rowIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated.",
          "type": "array"
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`.",
          "format": "google-fieldmask"
        },
        "tableRowStyle": {
          "description": "The styles to be set on the rows.",
          "$ref": "TableRowStyle"
        }
      },
      "description": "Updates the TableRowStyle of rows in a table."
    },
    "TabStop": {
      "properties": {
        "offset": {
          "description": "The offset between this tab stop and the start margin.",
          "$ref": "Dimension"
        },
        "alignment": {
          "description": "The alignment of this tab stop. If unset, the value defaults to START.",
          "enumDescriptions": [
            "The tab stop alignment is unspecified.",
            "The tab stop is aligned to the start of the line. This is the default.",
            "The tab stop is aligned to the center of the line.",
            "The tab stop is aligned to the end of the line."
          ],
          "type": "string",
          "enum": [
            "TAB_STOP_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        }
      },
      "description": "A tab stop within a paragraph.",
      "type": "object",
      "id": "TabStop"
    },
    "SuggestedTextStyle": {
      "type": "object",
      "id": "SuggestedTextStyle",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "A TextStyle that only includes the changes made in this suggestion. This can be used along with the text_style_suggestion_state to see which fields have changed and their new values."
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        }
      },
      "description": "A suggested change to a TextStyle."
    },
    "ReplaceNamedRangeContentRequest": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Replaces the content of the specified named range(s) with the given text."
        },
        "tabsCriteria": {
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs.",
          "$ref": "TabsCriteria"
        },
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range whose content will be replaced. If there is no named range with the given ID a 400 bad request error is returned."
        },
        "namedRangeName": {
          "description": "The name of the NamedRanges whose content will be replaced. If there are multiple named ranges with the given name, then the content of each one will be replaced. If there are no named ranges with the given name, then the request will be a no-op.",
          "type": "string"
        }
      },
      "description": "Replaces the contents of the specified NamedRange or NamedRanges with the given replacement content. Note that an individual NamedRange may consist of multiple discontinuous ranges. In this case, only the content in the first range will be replaced. The other ranges and their content will be deleted. In cases where replacing or deleting any ranges would result in an invalid document structure, a 400 bad request error is returned.",
      "type": "object",
      "id": "ReplaceNamedRangeContentRequest"
    },
    "DeleteTabRequest": {
      "description": "Deletes a tab. If the tab has child tabs, they are deleted as well.",
      "properties": {
        "tabId": {
          "description": "The ID of the tab to delete.",
          "type": "string"
        }
      },
      "id": "DeleteTabRequest",
      "type": "object"
    },
    "ParagraphElement": {
      "type": "object",
      "id": "ParagraphElement",
      "properties": {
        "dateElement": {
          "$ref": "DateElement",
          "description": "A paragraph element that represents a date."
        },
        "pageBreak": {
          "$ref": "PageBreak",
          "description": "A page break paragraph element."
        },
        "columnBreak": {
          "description": "A column break paragraph element.",
          "$ref": "ColumnBreak"
        },
        "textRun": {
          "$ref": "TextRun",
          "description": "A text run paragraph element."
        },
        "startIndex": {
          "description": "The zero-based start index of this paragraph element, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "endIndex": {
          "type": "integer",
          "description": "The zero-base end index of this paragraph element, exclusive, in UTF-16 code units.",
          "format": "int32"
        },
        "richLink": {
          "description": "A paragraph element that links to a Google resource (such as a file in Google Drive, a YouTube video, or a Calendar event.)",
          "$ref": "RichLink"
        },
        "autoText": {
          "$ref": "AutoText",
          "description": "An auto text paragraph element."
        },
        "footnoteReference": {
          "$ref": "FootnoteReference",
          "description": "A footnote reference paragraph element."
        },
        "equation": {
          "$ref": "Equation",
          "description": "An equation paragraph element."
        },
        "horizontalRule": {
          "$ref": "HorizontalRule",
          "description": "A horizontal rule paragraph element."
        },
        "inlineObjectElement": {
          "$ref": "InlineObjectElement",
          "description": "An inline object paragraph element."
        },
        "person": {
          "description": "A paragraph element that links to a person or email address.",
          "$ref": "Person"
        }
      },
      "description": "A ParagraphElement describes content within a Paragraph."
    },
    "ParagraphStyle": {
      "description": "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that's contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "properties": {
        "headingId": {
          "description": "The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only.",
          "type": "string"
        },
        "avoidWidowAndOrphan": {
          "type": "boolean",
          "description": "Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent."
        },
        "pageBreakBefore": {
          "type": "boolean",
          "description": "Whether the current paragraph should always start at the beginning of a page. If unset, the value is inherited from the parent. Attempting to update page_break_before for paragraphs in unsupported regions, including Table, Header, Footer and Footnote, can result in an invalid document state that returns a 400 bad request error."
        },
        "alignment": {
          "description": "The text alignment for this paragraph.",
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ],
          "type": "string",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ]
        },
        "borderLeft": {
          "$ref": "ParagraphBorder",
          "description": "The border to the left of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "keepWithNext": {
          "description": "Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "tabStops": {
          "items": {
            "$ref": "TabStop"
          },
          "description": "A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only.",
          "type": "array"
        },
        "spaceBelow": {
          "$ref": "Dimension",
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent."
        },
        "spaceAbove": {
          "$ref": "Dimension",
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent."
        },
        "indentFirstLine": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the first line of the paragraph. If unset, the value is inherited from the parent."
        },
        "borderTop": {
          "$ref": "ParagraphBorder",
          "description": "The border at the top of this paragraph. If unset, the value is inherited from the parent. The top border is rendered when the paragraph above has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "borderBottom": {
          "description": "The border at the bottom of this paragraph. If unset, the value is inherited from the parent. The bottom border is rendered when the paragraph below has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "shading": {
          "$ref": "Shading",
          "description": "The shading of the paragraph. If unset, the value is inherited from the parent."
        },
        "spacingMode": {
          "type": "string",
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ],
          "description": "The spacing mode for the paragraph.",
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ]
        },
        "indentEnd": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the end of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "borderRight": {
          "description": "The border to the right of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "indentStart": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the paragraph on the side that corresponds to the start of the text, based on the current paragraph direction. If unset, the value is inherited from the parent."
        },
        "lineSpacing": {
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.",
          "format": "float",
          "type": "number"
        },
        "namedStyleType": {
          "description": "The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated.",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "type": "string"
        },
        "keepLinesTogether": {
          "type": "boolean",
          "description": "Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent."
        },
        "borderBetween": {
          "$ref": "ParagraphBorder",
          "description": "The border between this paragraph and the next and previous paragraphs. If unset, the value is inherited from the parent. The between border is rendered when the adjacent paragraph has the same border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "direction": {
          "type": "string",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited.",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ]
        }
      },
      "id": "ParagraphStyle",
      "type": "object"
    },
    "InlineObjectElement": {
      "id": "InlineObjectElement",
      "type": "object",
      "description": "A ParagraphElement that contains an InlineObject.",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textStyle": {
          "description": "The text style of this InlineObjectElement. Similar to text content, like text runs and footnote references, the text style of an inline object element can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "inlineObjectId": {
          "type": "string",
          "description": "The ID of the InlineObject this element contains."
        }
      }
    },
    "ListProperties": {
      "id": "ListProperties",
      "type": "object",
      "description": "The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list.",
      "properties": {
        "nestingLevels": {
          "type": "array",
          "description": "Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first.",
          "items": {
            "$ref": "NestingLevel"
          }
        }
      }
    },
    "UpdateDocumentStyleRequest": {
      "description": "Updates the DocumentStyle.",
      "properties": {
        "documentStyle": {
          "description": "The styles to set on the document. Certain document style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of DocumentStyle for more information.",
          "$ref": "DocumentStyle"
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`.",
          "format": "google-fieldmask"
        },
        "tabId": {
          "type": "string",
          "description": "The tab that contains the style to update. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If not provided, the request applies to the first tab in the document."
        }
      },
      "id": "UpdateDocumentStyleRequest",
      "type": "object"
    },
    "List": {
      "id": "List",
      "type": "object",
      "description": "A List represents the list attributes for a group of paragraphs that all belong to the same list. A paragraph that's part of a list has a reference to the list's ID in its bullet.",
      "properties": {
        "suggestedInsertionId": {
          "type": "string",
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion."
        },
        "listProperties": {
          "$ref": "ListProperties",
          "description": "The properties of the list."
        },
        "suggestedListPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedListProperties"
          },
          "type": "object",
          "description": "The suggested changes to the list properties, keyed by suggestion ID."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this list.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UpdateTextStyleRequest": {
      "id": "UpdateTextStyleRequest",
      "type": "object",
      "description": "Update the styling of text.",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range of text to style. The range may be extended to include adjacent newlines. If the range fully contains a paragraph belonging to a list, the paragraph's bullet is also updated with the matching text style. Ranges cannot be inserted inside a relative UpdateTextStyleRequest."
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `text_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask"
        },
        "textStyle": {
          "description": "The styles to set on the text. If the value for a particular style matches that of the parent, that style will be set to inherit. Certain text style changes may cause other changes in order to to mirror the behavior of the Docs editor. See the documentation of TextStyle for more information.",
          "$ref": "TextStyle"
        }
      }
    },
    "InsertInlineSheetsChartResponse": {
      "description": "The result of inserting an embedded Google Sheets chart.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the inserted chart."
        }
      },
      "id": "InsertInlineSheetsChartResponse",
      "type": "object"
    },
    "PositionedObjectProperties": {
      "type": "object",
      "id": "PositionedObjectProperties",
      "properties": {
        "positioning": {
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object.",
          "$ref": "PositionedObjectPositioning"
        },
        "embeddedObject": {
          "description": "The embedded object of this positioned object.",
          "$ref": "EmbeddedObject"
        }
      },
      "description": "Properties of a PositionedObject."
    },
    "WriteControl": {
      "type": "object",
      "id": "WriteControl",
      "properties": {
        "requiredRevisionId": {
          "description": "The optional revision ID of the document the write request is applied to. If this is not the latest revision of the document, the request is not processed and returns a 400 bad request error. When a required revision ID is returned in a response, it indicates the revision ID of the document after the request was applied.",
          "type": "string"
        },
        "targetRevisionId": {
          "type": "string",
          "description": "The optional target revision ID of the document the write request is applied to. If collaborator changes have occurred after the document was read using the API, the changes produced by this write request are applied against the collaborator changes. This results in a new revision of the document that incorporates both the collaborator changes and the changes in the request, with the Docs server resolving conflicting changes. When using target revision ID, the API client can be thought of as another collaborator of the document. The target revision ID can only be used to write to recent versions of a document. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 bad request error. The request should be tried again after retrieving the latest version of the document. Usually a revision ID remains valid for use as a target revision for several minutes after it's read, but for frequently edited documents this window might be shorter."
        }
      },
      "description": "Provides control over how write requests are executed."
    },
    "SectionBreak": {
      "description": "A StructuralElement representing a section break. A section is a range of content that has the same SectionStyle. A section break represents the start of a new section, and the section style applies to the section after the section break. The document body always begins with a section break.",
      "properties": {
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "sectionStyle": {
          "description": "The style of the section after this section break.",
          "$ref": "SectionStyle"
        }
      },
      "id": "SectionBreak",
      "type": "object"
    },
    "InsertTableColumnRequest": {
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell.",
          "$ref": "TableCellLocation"
        },
        "insertRight": {
          "description": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left.",
          "type": "boolean"
        }
      },
      "description": "Inserts an empty column into a table.",
      "type": "object",
      "id": "InsertTableColumnRequest"
    },
    "TableRowStyle": {
      "description": "Styles that apply to a table row.",
      "properties": {
        "minRowHeight": {
          "$ref": "Dimension",
          "description": "The minimum height of the row. The row will be rendered in the Docs editor at a height equal to or greater than this value in order to show all the content in the row's cells."
        },
        "tableHeader": {
          "description": "Whether the row is a table header.",
          "type": "boolean"
        },
        "preventOverflow": {
          "type": "boolean",
          "description": "Whether the row cannot overflow across page or column boundaries."
        }
      },
      "id": "TableRowStyle",
      "type": "object"
    },
    "EndOfSegmentLocation": {
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        },
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        }
      },
      "description": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment.",
      "type": "object",
      "id": "EndOfSegmentLocation"
    },
    "BatchUpdateDocumentResponse": {
      "description": "Response message from a BatchUpdateDocument request.",
      "properties": {
        "replies": {
          "type": "array",
          "items": {
            "$ref": "Response"
          },
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty."
        },
        "documentId": {
          "type": "string",
          "description": "The ID of the document to which the updates were applied to."
        },
        "writeControl": {
          "$ref": "WriteControl",
          "description": "The updated write control after applying the request."
        }
      },
      "id": "BatchUpdateDocumentResponse",
      "type": "object"
    },
    "TextStyleSuggestionState": {
      "id": "TextStyleSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "smallCapsSuggested": {
          "description": "Indicates if there was a suggested change to small_caps.",
          "type": "boolean"
        },
        "fontSizeSuggested": {
          "description": "Indicates if there was a suggested change to font_size.",
          "type": "boolean"
        },
        "italicSuggested": {
          "description": "Indicates if there was a suggested change to italic.",
          "type": "boolean"
        },
        "baselineOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to baseline_offset."
        },
        "weightedFontFamilySuggested": {
          "description": "Indicates if there was a suggested change to weighted_font_family.",
          "type": "boolean"
        },
        "linkSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to link."
        },
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to background_color."
        },
        "strikethroughSuggested": {
          "description": "Indicates if there was a suggested change to strikethrough.",
          "type": "boolean"
        },
        "boldSuggested": {
          "description": "Indicates if there was a suggested change to bold.",
          "type": "boolean"
        },
        "underlineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to underline."
        },
        "foregroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to foreground_color."
        }
      }
    },
    "EmbeddedObjectSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "marginRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_right."
        },
        "marginLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_left."
        },
        "marginTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_top."
        },
        "embeddedDrawingPropertiesSuggestionState": {
          "$ref": "EmbeddedDrawingPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_drawing_properties have been changed in this suggestion."
        },
        "descriptionSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to description."
        },
        "marginBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_bottom."
        },
        "titleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to title."
        },
        "embeddedObjectBorderSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_object_border have been changed in this suggestion.",
          "$ref": "EmbeddedObjectBorderSuggestionState"
        },
        "linkedContentReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in linked_content_reference have been changed in this suggestion.",
          "$ref": "LinkedContentReferenceSuggestionState"
        },
        "sizeSuggestionState": {
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion.",
          "$ref": "SizeSuggestionState"
        },
        "imagePropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in image_properties have been changed in this suggestion.",
          "$ref": "ImagePropertiesSuggestionState"
        }
      },
      "id": "EmbeddedObjectSuggestionState",
      "type": "object"
    },
    "ImagePropertiesSuggestionState": {
      "type": "object",
      "id": "ImagePropertiesSuggestionState",
      "properties": {
        "contentUriSuggested": {
          "description": "Indicates if there was a suggested change to content_uri.",
          "type": "boolean"
        },
        "cropPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion.",
          "$ref": "CropPropertiesSuggestionState"
        },
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        },
        "contrastSuggested": {
          "description": "Indicates if there was a suggested change to contrast.",
          "type": "boolean"
        },
        "sourceUriSuggested": {
          "description": "Indicates if there was a suggested change to source_uri.",
          "type": "boolean"
        },
        "brightnessSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to brightness."
        },
        "transparencySuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to transparency."
        }
      },
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "UnmergeTableCellsRequest": {
      "type": "object",
      "id": "UnmergeTableCellsRequest",
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise.",
          "$ref": "TableRange"
        }
      },
      "description": "Unmerges cells in a Table."
    },
    "TextRun": {
      "properties": {
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "textStyle": {
          "description": "The text style of this run.",
          "$ref": "TextStyle"
        },
        "content": {
          "type": "string",
          "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907."
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this run, keyed by suggestion ID."
        }
      },
      "description": "A ParagraphElement that represents a run of text that all has the same styling.",
      "type": "object",
      "id": "TextRun"
    },
    "CreateNamedRangeRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units."
        },
        "range": {
          "$ref": "Range",
          "description": "The range to apply the name to."
        }
      },
      "description": "Creates a NamedRange referencing the given range.",
      "type": "object",
      "id": "CreateNamedRangeRequest"
    },
    "SuggestedBullet": {
      "properties": {
        "bulletSuggestionState": {
          "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion.",
          "$ref": "BulletSuggestionState"
        },
        "bullet": {
          "description": "A Bullet that only includes the changes made in this suggestion. This can be used along with the bullet_suggestion_state to see which fields have changed and their new values.",
          "$ref": "Bullet"
        }
      },
      "description": "A suggested change to a Bullet.",
      "type": "object",
      "id": "SuggestedBullet"
    },
    "SheetsChartReference": {
      "properties": {
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that's embedded.",
          "format": "int32",
          "type": "integer"
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart."
        }
      },
      "description": "A reference to a linked chart embedded from Google Sheets.",
      "type": "object",
      "id": "SheetsChartReference"
    },
    "DateElementPropertiesSuggestionState": {
      "type": "object",
      "id": "DateElementPropertiesSuggestionState",
      "properties": {
        "timestampSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to timestamp."
        },
        "timeZoneIdSuggested": {
          "description": "Indicates if there was a suggested change to time_zone_id.",
          "type": "boolean"
        },
        "localeSuggested": {
          "description": "Indicates if there was a suggested change to locale.",
          "type": "boolean"
        },
        "dateFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to date_format."
        },
        "timeFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to time_format."
        }
      },
      "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "SuggestedNamedStyles": {
      "properties": {
        "namedStyles": {
          "$ref": "NamedStyles",
          "description": "A NamedStyles that only includes the changes made in this suggestion. This can be used along with the named_styles_suggestion_state to see which fields have changed and their new values."
        },
        "namedStylesSuggestionState": {
          "$ref": "NamedStylesSuggestionState",
          "description": "A mask that indicates which of the fields on the base NamedStyles have been changed in this suggestion."
        }
      },
      "description": "A suggested change to the NamedStyles.",
      "type": "object",
      "id": "SuggestedNamedStyles"
    },
    "DeleteParagraphBulletsRequest": {
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range to delete bullets from."
        }
      },
      "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.",
      "type": "object",
      "id": "DeleteParagraphBulletsRequest"
    },
    "EmbeddedObjectBorderSuggestionState": {
      "type": "object",
      "id": "EmbeddedObjectBorderSuggestionState",
      "properties": {
        "propertyStateSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to property_state."
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "dashStyleSuggested": {
          "description": "Indicates if there was a suggested change to dash_style.",
          "type": "boolean"
        },
        "colorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to color."
        }
      },
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "TableRowStyleSuggestionState": {
      "type": "object",
      "id": "TableRowStyleSuggestionState",
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "EmbeddedObjectBorder": {
      "id": "EmbeddedObjectBorder",
      "type": "object",
      "description": "A border around an EmbeddedObject.",
      "properties": {
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "dashStyle": {
          "description": "The dash style of the border.",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "type": "string"
        },
        "propertyState": {
          "description": "The property state of the border property.",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered in the document. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered in the document."
          ],
          "enum": [
            "RENDERED",
            "NOT_RENDERED"
          ],
          "type": "string"
        },
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border."
        }
      }
    },
    "ReplaceAllTextRequest": {
      "type": "object",
      "id": "ReplaceAllTextRequest",
      "properties": {
        "containsText": {
          "description": "Finds text in the document matching this substring.",
          "$ref": "SubstringMatchCriteria"
        },
        "tabsCriteria": {
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs.",
          "$ref": "TabsCriteria"
        },
        "replaceText": {
          "type": "string",
          "description": "The text that will replace the matched text."
        }
      },
      "description": "Replaces all instances of text matching a criteria with replace text."
    },
    "CreateNamedRangeResponse": {
      "description": "The result of creating a named range.",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the created named range.",
          "type": "string"
        }
      },
      "id": "CreateNamedRangeResponse",
      "type": "object"
    },
    "PositionedObjectPositioningSuggestionState": {
      "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "layoutSuggested": {
          "description": "Indicates if there was a suggested change to layout.",
          "type": "boolean"
        },
        "topOffsetSuggested": {
          "description": "Indicates if there was a suggested change to top_offset.",
          "type": "boolean"
        },
        "leftOffsetSuggested": {
          "description": "Indicates if there was a suggested change to left_offset.",
          "type": "boolean"
        }
      },
      "id": "PositionedObjectPositioningSuggestionState",
      "type": "object"
    },
    "InsertInlineImageResponse": {
      "type": "object",
      "id": "InsertInlineImageResponse",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the created InlineObject."
        }
      },
      "description": "The result of inserting an inline image."
    },
    "UpdateSectionStyleRequest": {
      "description": "Updates the SectionStyle.",
      "properties": {
        "range": {
          "description": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Range"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "sectionStyle": {
          "$ref": "SectionStyle",
          "description": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information."
        }
      },
      "id": "UpdateSectionStyleRequest",
      "type": "object"
    },
    "Document": {
      "type": "object",
      "id": "Document",
      "properties": {
        "positionedObjects": {
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "type": "object",
          "description": "Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "footnotes": {
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "type": "object",
          "description": "Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "lists": {
          "description": "Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object",
          "additionalProperties": {
            "$ref": "List"
          }
        },
        "body": {
          "$ref": "Body",
          "description": "Output only. The main body of the document. Legacy field: Instead, use Document.tabs.documentTab.body, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "title": {
          "type": "string",
          "description": "The title of the document."
        },
        "footers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Footer"
          },
          "description": "Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "documentId": {
          "type": "string",
          "description": "Output only. The ID of the document."
        },
        "namedRanges": {
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "type": "object",
          "description": "Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "tabs": {
          "type": "array",
          "items": {
            "$ref": "Tab"
          },
          "description": "Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field."
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes."
        },
        "documentStyle": {
          "description": "Output only. The style of the document. Legacy field: Instead, use Document.tabs.documentTab.documentStyle, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "DocumentStyle"
        },
        "inlineObjects": {
          "type": "object",
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "description": "Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "suggestedDocumentStyleChanges": {
          "description": "Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "type": "object"
        },
        "headers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Header"
          },
          "description": "Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "namedStyles": {
          "description": "Output only. The named styles of the document. Legacy field: Instead, use Document.tabs.documentTab.namedStyles, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "NamedStyles"
        },
        "suggestedNamedStylesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "type": "object",
          "description": "Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "suggestionsViewMode": {
          "description": "Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE.",
          "enumDescriptions": [
            "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
            "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
          ],
          "enum": [
            "DEFAULT_FOR_CURRENT_ACCESS",
            "SUGGESTIONS_INLINE",
            "PREVIEW_SUGGESTIONS_ACCEPTED",
            "PREVIEW_WITHOUT_SUGGESTIONS"
          ],
          "type": "string"
        }
      },
      "description": "A Google Docs document."
    },
    "InlineObjectPropertiesSuggestionState": {
      "type": "object",
      "id": "InlineObjectPropertiesSuggestionState",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      },
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "Person": {
      "type": "object",
      "id": "Person",
      "properties": {
        "personId": {
          "type": "string",
          "description": "Output only. The unique ID of this link.",
          "readOnly": true
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this Person, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "personProperties": {
          "readOnly": true,
          "$ref": "PersonProperties",
          "description": "Output only. The properties of this Person. This field is always present."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion.",
          "type": "array"
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this Person."
        }
      },
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address."
    },
    "SuggestedTableRowStyle": {
      "description": "A suggested change to a TableRowStyle.",
      "properties": {
        "tableRowStyle": {
          "description": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableRowStyle"
        },
        "tableRowStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion.",
          "$ref": "TableRowStyleSuggestionState"
        }
      },
      "id": "SuggestedTableRowStyle",
      "type": "object"
    },
    "UpdateTableCellStyleRequest": {
      "description": "Updates the style of a range of table cells.",
      "properties": {
        "tableStartLocation": {
          "description": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table.",
          "$ref": "Location"
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask"
        },
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range representing the subset of the table to which the updates are applied."
        },
        "tableCellStyle": {
          "description": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`",
          "$ref": "TableCellStyle"
        }
      },
      "id": "UpdateTableCellStyleRequest",
      "type": "object"
    },
    "InsertTableRowRequest": {
      "id": "InsertTableRowRequest",
      "type": "object",
      "description": "Inserts an empty row into a table.",
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell.",
          "$ref": "TableCellLocation"
        },
        "insertBelow": {
          "description": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.",
          "type": "boolean"
        }
      }
    },
    "Size": {
      "type": "object",
      "id": "Size",
      "properties": {
        "height": {
          "$ref": "Dimension",
          "description": "The height of the object."
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the object."
        }
      },
      "description": "A width and height."
    },
    "SuggestedTableCellStyle": {
      "id": "SuggestedTableCellStyle",
      "type": "object",
      "description": "A suggested change to a TableCellStyle.",
      "properties": {
        "tableCellStyleSuggestionState": {
          "$ref": "TableCellStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion."
        },
        "tableCellStyle": {
          "$ref": "TableCellStyle",
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values."
        }
      }
    },
    "DocumentStyle": {
      "description": "The style of the document.",
      "properties": {
        "background": {
[...]
