{
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "version_module": true,
  "canonicalName": "Document",
  "revision": "20260309",
  "schemas": {
    "GoogleCloudDocumentaiV1DeployProcessorVersionRequest": {
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionRequest",
      "description": "Request message for the DeployProcessorVersion method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat": {
      "properties": {
        "totalDocumentCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of documents with the given dataset split type to be exported."
        },
        "splitType": {
          "description": "The dataset split type.",
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat",
      "description": "The statistic representing a dataset split type for this export.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1SchemaGenerationIteration": {
      "type": "object",
      "properties": {
        "adjustedSchema": {
          "description": "Optional. The previous schema version adjusted by the model.",
          "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
        },
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt used for the iteration."
        },
        "generatedSchema": {
          "description": "Required. The schema version generated by the model.",
          "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
        }
      },
      "id": "GoogleCloudDocumentaiV1SchemaGenerationIteration",
      "description": "A single iteration of the schema generation."
    },
    "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig",
      "description": "Configuration specific to the Document AI Warehouse-based implementation.",
      "properties": {
        "collection": {
          "readOnly": true,
          "description": "Output only. The collection in Document AI Warehouse associated with the dataset.",
          "type": "string"
        },
        "schema": {
          "readOnly": true,
          "description": "Output only. The schema in Document AI Warehouse associated with the dataset.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus": {
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of resyncing the dataset with regards to the detected inconsistency. Empty if ResyncDatasetRequest.validate_only is `true`."
        },
        "datasetInconsistencyType": {
          "description": "The type of the inconsistency of the dataset.",
          "enumDescriptions": [
            "Default value.",
            "The marker file under the dataset folder is not found."
          ],
          "enum": [
            "DATASET_INCONSISTENCY_TYPE_UNSPECIFIED",
            "DATASET_INCONSISTENCY_TYPE_NO_STORAGE_MARKER"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus",
      "description": "Resync status against inconsistency types on the dataset level.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3Schema": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name to show users."
        },
        "description": {
          "description": "Description of the schema.",
          "type": "string"
        },
        "entityTypes": {
          "description": "Entity types of the schema.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3Schema",
      "description": "The schema defines the output of the processed document by a processor."
    },
    "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata",
      "description": "Metadata for Human Review config.",
      "properties": {
        "enableValidation": {
          "description": "Whether to enable human review validation.",
          "type": "boolean"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "The confidence threshold if human review validation is enabled."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter": {
      "properties": {
        "pageSpan": {
          "description": "Page span of the footer.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
        },
        "text": {
          "type": "string",
          "description": "Footer in text format."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter",
      "description": "Represents the page footer associated with the chunk.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentEntityRelation": {
      "id": "GoogleCloudDocumentaiV1DocumentEntityRelation",
      "description": "Relationship between Entities.",
      "properties": {
        "subjectId": {
          "description": "Subject entity id.",
          "type": "string"
        },
        "relation": {
          "type": "string",
          "description": "Relationship description."
        },
        "objectId": {
          "description": "Object entity id.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3RevisionRef": {
      "id": "GoogleCloudDocumentaiUiv1beta3RevisionRef",
      "description": "The revision reference specifies which revision on the document to read.",
      "properties": {
        "revisionCase": {
          "enumDescriptions": [
            "Unspecified case, fall back to read the `LATEST_HUMAN_REVIEW`.",
            "The latest revision made by a human.",
            "The latest revision based on timestamp.",
            "The first (OCR) revision."
          ],
          "enum": [
            "REVISION_CASE_UNSPECIFIED",
            "LATEST_HUMAN_REVIEW",
            "LATEST_TIMESTAMP",
            "BASE_OCR_REVISION"
          ],
          "type": "string",
          "description": "Reads the revision by the predefined case."
        },
        "latestProcessorVersion": {
          "type": "string",
          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
        },
        "revisionId": {
          "type": "string",
          "description": "Reads the revision given by the id."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentEntitiesRevision": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentEntitiesRevision",
      "description": "Entity revision.",
      "properties": {
        "entityValidationOutput": {
          "description": "The entity validation output for this revision.",
          "$ref": "GoogleCloudDocumentaiV1DocumentEntityValidationOutput"
        },
        "revisionId": {
          "type": "string",
          "description": "The revision id."
        },
        "entities": {
          "description": "The entities in this revision.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          }
        },
        "provenance": {
          "description": "Optional. The history of this revision.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        }
      }
    },
    "GoogleCloudDocumentaiV1ProcessorVersionAlias": {
      "id": "GoogleCloudDocumentaiV1ProcessorVersionAlias",
      "description": "Contains the alias and the aliased resource name of processor version.",
      "properties": {
        "alias": {
          "description": "The alias in the form of `processor_version` resource name.",
          "type": "string"
        },
        "processorVersion": {
          "type": "string",
          "description": "The resource name of aliased processor version."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1GcsDocuments": {
      "type": "object",
      "properties": {
        "documents": {
          "description": "The list of documents.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1GcsDocument"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1GcsDocuments",
      "description": "Specifies a set of documents on Cloud Storage."
    },
    "GoogleCloudDocumentaiV1ProcessorTypeLocationInfo": {
      "id": "GoogleCloudDocumentaiV1ProcessorTypeLocationInfo",
      "description": "The location information about where the processor is available.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The location ID. For supported locations, refer to [regional and multi-regional support](/document-ai/docs/regions)."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ReviewDocumentRequest": {
      "id": "GoogleCloudDocumentaiV1ReviewDocumentRequest",
      "description": "Request message for the ReviewDocument method.",
      "properties": {
        "priority": {
          "enumDescriptions": [
            "The default priority level.",
            "The urgent priority level. The labeling manager should allocate labeler resource to the urgent task queue to respect this priority level."
          ],
          "enum": [
            "DEFAULT",
            "URGENT"
          ],
          "type": "string",
          "description": "The priority of the human review task."
        },
        "inlineDocument": {
          "description": "An inline document proto.",
          "$ref": "GoogleCloudDocumentaiV1Document"
        },
        "enableSchemaValidation": {
          "type": "boolean",
          "description": "Whether the validation should be performed on the ad-hoc review request."
        },
        "documentSchema": {
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema",
          "description": "The document schema of the human review task."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1BoundingPoly": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1BoundingPoly",
      "description": "A bounding polygon for the detected image annotation.",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1Vertex"
          },
          "type": "array",
          "description": "The bounding polygon vertices."
        },
        "normalizedVertices": {
          "description": "The bounding polygon normalized vertices.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1NormalizedVertex"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1EvaluationReference": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1EvaluationReference",
      "description": "Gives a short summary of an evaluation, and links to the evaluation itself.",
      "properties": {
        "operation": {
          "description": "The resource name of the Long Running Operation for the evaluation.",
          "type": "string"
        },
        "evaluation": {
          "type": "string",
          "description": "The resource name of the evaluation."
        },
        "aggregateMetrics": {
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching on.",
          "$ref": "GoogleCloudDocumentaiV1EvaluationMetrics"
        },
        "aggregateMetricsExact": {
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching off.",
          "$ref": "GoogleCloudDocumentaiV1EvaluationMetrics"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3Dataset": {
      "properties": {
        "unmanagedDatasetConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig",
          "description": "Optional. Unmanaged dataset configuration. Use this configuration if the dataset documents are managed by the document service internally (not user-managed)."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "documentWarehouseConfig": {
          "deprecated": true,
          "description": "Optional. Deprecated. Warehouse-based dataset configuration is not supported.",
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "gcsManagedConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig",
          "description": "Optional. User-managed Cloud Storage dataset configuration. Use this configuration if the dataset documents are stored under a user-managed Cloud Storage location."
        },
        "name": {
          "type": "string",
          "description": "Dataset resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset`"
        },
        "state": {
          "description": "Required. State of the dataset. Ignored when updating dataset.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified enum, should not be used.",
            "Dataset has not been initialized.",
            "Dataset is being initialized.",
            "Dataset has been initialized."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNINITIALIZED",
            "INITIALIZING",
            "INITIALIZED"
          ]
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3Dataset",
      "description": "A singleton resource under a Processor which configures a collection of documents.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageLayout": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageLayout",
      "description": "Visual element describing a layout unit on a page.",
      "properties": {
        "orientation": {
          "description": "Detected orientation for the Layout.",
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ],
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ],
          "type": "string"
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor",
          "description": "Text anchor indexing into the Document.text."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of the current Layout within context of the object this layout is for. For example, confidence can be for a single token, a table, a visual element, etc. depending on context. Range `[0, 1]`."
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly",
          "description": "The bounding polygon for the Layout."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessResponse",
      "description": "Response message for BatchProcessDocuments.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata",
      "description": "The long-running operation metadata for the DeleteProcessor method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EvaluationEvaluationRevision": {
      "properties": {
        "documentCounters": {
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1EvaluationCounters",
          "description": "Output only. Counters for the documents used in the evaluation."
        },
        "entityMetrics": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics"
          },
          "description": "Output only. Metrics across confidence levels, for different entities.",
          "type": "object"
        },
        "allEntitiesMetrics": {
          "description": "Output only. Metrics for all the entities in aggregate.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics"
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The revision ID of the evaluation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1EvaluationEvaluationRevision",
      "description": "A revision of the evaluation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse": {
      "type": "object",
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse",
      "description": "Response of the EvaluateProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1DocumentPageSymbol": {
      "type": "object",
      "properties": {
        "layout": {
          "description": "Layout for Symbol.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageSymbol",
      "description": "A detected symbol."
    },
    "GoogleCloudDocumentaiV1DocumentShardInfo": {
      "id": "GoogleCloudDocumentaiV1DocumentShardInfo",
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is.",
      "properties": {
        "shardIndex": {
          "format": "int64",
          "type": "string",
          "description": "The 0-based index of this shard."
        },
        "shardCount": {
          "description": "Total number of shards.",
          "type": "string",
          "format": "int64"
        },
        "textOffset": {
          "type": "string",
          "format": "int64",
          "description": "The index of the first character in Document.text in the overall document global text."
        },
        "pageOffset": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the first page in Document.pages in the overall document global pages. Available for document shards created by the document splitter."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader": {
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader",
      "description": "Represents the page header associated with the chunk.",
      "properties": {
        "pageSpan": {
          "description": "Page span of the header.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
        },
        "text": {
          "description": "Header in text format.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponse": {
      "properties": {
        "sampleTestStatus": {
          "description": "The status of sampling documents in test split.",
          "$ref": "GoogleRpcStatus"
        },
        "selectedDocuments": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument"
          },
          "type": "array",
          "description": "The result of the sampling process."
        },
        "sampleTrainingStatus": {
          "description": "The status of sampling documents in training split.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponse",
      "description": "Response of the sample documents operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorMetadata",
      "description": "The long-running operation metadata for the DeleteProcessor method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionAlias": {
      "properties": {
        "alias": {
          "type": "string",
          "description": "The alias in the form of `processor_version` resource name."
        },
        "processorVersion": {
          "description": "The resource name of aliased processor version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionAlias",
      "description": "Contains the alias and the aliased resource name of processor version.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo",
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs.",
      "properties": {
        "customModelType": {
          "description": "The type of custom model created by the user.",
          "type": "string",
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ],
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ]
        },
        "baseProcessorVersionId": {
          "description": "The base processor version ID for the custom model.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfigShardingConfig": {
      "type": "object",
      "properties": {
        "pagesOverlap": {
          "description": "The number of overlapping pages between consecutive shards.",
          "type": "integer",
          "format": "int32"
        },
        "pagesPerShard": {
          "description": "The number of pages per shard.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfigShardingConfig",
      "description": "The sharding config for the output document."
    },
    "GoogleCloudDocumentaiV1ListProcessorVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next processor, otherwise empty."
        },
        "processorVersions": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorVersion"
          },
          "type": "array",
          "description": "The list of processors."
        }
      },
      "id": "GoogleCloudDocumentaiV1ListProcessorVersionsResponse",
      "description": "Response message for the ListProcessorVersions method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorResponse",
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "properties": {}
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionRequest": {
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionRequest",
      "description": "Request message for the TrainProcessorVersion method.",
      "properties": {
        "customDocumentExtractionOptions": {
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestCustomDocumentExtractionOptions",
          "description": "Options to control Custom Document Extraction (CDE) Processor."
        },
        "documentSchema": {
          "description": "Optional. The schema the processor version will be trained with.",
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema"
        },
        "inputData": {
          "description": "Optional. The input data used to train the ProcessorVersion.",
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestInputData"
        },
        "baseProcessorVersion": {
          "description": "Optional. The processor version to use as a base for training. This processor version must be a child of `parent`. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`.",
          "type": "string"
        },
        "foundationModelTuningOptions": {
          "description": "Options to control foundation model tuning of a processor.",
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestFoundationModelTuningOptions"
        },
        "processorVersion": {
          "description": "Required. The processor version to be created.",
          "$ref": "GoogleCloudDocumentaiV1ProcessorVersion"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse",
      "description": "Response message for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse",
      "description": "The response proto of ExportDocuments method.",
      "properties": {},
      "type": "object"
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata",
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1SetDefaultProcessorVersionRequest": {
      "properties": {
        "defaultProcessorVersion": {
          "type": "string",
          "description": "Required. The resource name of child ProcessorVersion to use as default. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{version}`"
        }
      },
      "id": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionRequest",
      "description": "Request message for the SetDefaultProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata",
      "description": "The long-running operation metadata for the EnableProcessor method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata",
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocument": {
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocument",
      "description": "Represents the chunks that the document is divided into.",
      "properties": {
        "chunks": {
          "description": "List of chunks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus": {
      "properties": {
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1beta3HumanReviewStatus"
        },
        "inputGcsSource": {
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started.",
          "type": "string"
        },
        "outputGcsDestination": {
          "type": "string",
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty."
        },
        "humanReviewOperation": {
          "type": "string",
          "deprecated": true,
          "description": "The name of the operation triggered by the processed document. If the human review process isn't triggered, this field will be empty. It has the same response type and metadata as the long-running operation returned by the ReviewDocument method."
        },
        "status": {
          "description": "The status processing the document.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus",
      "description": "The status of a each individual document in the batch process.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaEntityType": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Name of the type. It must satisfy the following constraints: 1. Must be unique within the set of same level types (with case-insensitive match). 2. Maximum 64 characters. 3. Must start with a letter. 4. Allowed characters: ASCII letters [a-zA-Z], ASCII digits [0-9], or one of the following punctuation characters: * underscore '_' (recommended) * hyphen '-' (allowed, not recommended) * colon ':' (allowed, not recommended) NOTE: Whitespace characters are not allowed. 5. Cannot end with a punctuation character. 6. Cannot contain the following restricted strings: \"google\", \"DocumentAI\" (case-insensitive match). 7. A slash character '/' is reserved as a separator in flattened representations of nested entity types (e.g., \"line_item/amount\") in which case each part (e.g., \"line_item\", \"amount\") must comply with the rules defined above. We recommend using the snake case (\"snake_case\") in entity type names."
        },
        "occurrenceType": {
          "description": "Occurrence type limits the number of times an entity type appears in the document.",
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "The entity type will appear zero times or once.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once.",
            "The entity type will appear once or more times."
          ],
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ],
          "type": "string"
        },
        "source": {
          "description": "Source of this entity type.",
          "enumDescriptions": [
            "Unspecified source.",
            "The entity type is in the predefined schema of a pretrained version of a processor.",
            "The entity type is added by the users either: - during an uptraining of an existing processor, or - during the process of creating a customized processor."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "PREDEFINED",
            "USER_INPUT"
          ],
          "type": "string"
        },
        "enumValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If specified, lists all the possible values for this entity."
        },
        "method": {
          "description": "Specifies how the entity's value is obtained.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ]
        },
        "baseType": {
          "type": "string"
        },
        "properties": {
          "description": "Describing the nested structure of an entity. An EntityType may consist of several other EntityTypes. For example, in a document there can be an EntityType `ID`, which consists of EntityType `name` and `address`, with corresponding attributes, such as TEXT for both types and ONCE for occurrence types.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Description of the entity type."
        },
        "hide": {
          "type": "boolean",
          "description": "If the entity type is hidden in the schema. This provides the functionality to temporally \"disable\" an entity without deleting it."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType",
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types.",
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule": {
      "properties": {
        "alignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule",
          "description": "The alignment rule to apply to the fields."
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          },
          "description": "The fields to be aligned."
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule",
      "description": "A rule that aligns specified fields with each other.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "totalDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of documents deleting from dataset."
        },
        "errorDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of documents that failed to be deleted in storage."
        },
        "individualBatchDeleteStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchor": {
      "type": "object",
      "properties": {
        "textSegments": {
          "description": "The text segments from the Document.text.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment"
          }
        },
        "content": {
          "type": "string",
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchor",
      "description": "Text reference indexing into the Document.text."
    },
    "GoogleCloudDocumentaiV1DocumentPageTableTableRow": {
      "id": "GoogleCloudDocumentaiV1DocumentPageTableTableRow",
      "description": "A row of table cells.",
      "properties": {
        "cells": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableCell"
          },
          "type": "array",
          "description": "Cells that make up this row."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3PropertyMetadata": {
      "type": "object",
      "properties": {
        "inactive": {
          "type": "boolean",
          "description": "Whether the property should be considered as \"inactive\"."
        },
        "fieldExtractionMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata",
          "description": "Field extraction metadata on the property."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3PropertyMetadata",
      "description": "Metadata about a property."
    },
    "GoogleCloudDocumentaiUiv1beta3Processor": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3Processor",
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
      "properties": {
        "defaultProcessorVersion": {
          "description": "The default processor version.",
          "type": "string"
        },
        "activeSchemaVersion": {
          "type": "string",
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "type": {
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes.",
          "type": "string"
        },
        "processorVersionAliases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionAlias"
          },
          "readOnly": true,
          "description": "Output only. The processor version aliases."
        },
        "processEndpoint": {
          "readOnly": true,
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "kmsKeyName": {
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the processor.",
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the processor was created."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata",
      "description": "Metadata about an entity type.",
      "properties": {
        "inactive": {
          "description": "Whether the entity type should be considered inactive.",
          "type": "boolean"
        },
        "humanReviewLabelingMetadata": {
          "description": "Human review labeling config on the entity.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata"
        },
        "fieldTierMetadata": {
          "description": "Field tier metadata on the property",
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata"
        },
        "schemaInferenceMetadata": {
          "description": "Schema inference metadata on the entity.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata"
        },
        "humanReviewMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata",
          "description": "Human review config on the entity."
        },
        "schemaEditabilityMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata",
          "description": "Schema editability metadata on the entity."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse",
      "description": "The response proto of AutoLabelDocuments method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionResponse",
      "description": "Response message for the DeployProcessorVersion method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId": {
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId",
      "description": "Identifies a document uniquely within the scope of a dataset in unmanaged option.",
      "properties": {
        "docId": {
          "type": "string",
          "description": "Required. The id of the document."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayout": {
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayout",
      "description": "Represents the parsed layout of a document as a collection of blocks that the document is divided into.",
      "properties": {
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "description": "List of blocks in the document."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentId": {
      "properties": {
        "gcsManagedDocId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId",
          "description": "A document id within user-managed Cloud Storage."
        },
        "revisionRef": {
          "description": "Points to a specific revision of the document if set.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3RevisionRef"
        },
        "unmanagedDocId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId",
          "description": "A document id within unmanaged dataset."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentId",
      "description": "Document Identifier.",
      "type": "object"
    },
    "GoogleTypeDate": {
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleCloudDocumentaiV1DocumentSchema": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentSchema",
      "description": "The schema defines the output of the processed document by a processor.",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentSchemaEntityType"
          },
          "type": "array",
          "description": "Entity types of the schema."
        },
        "displayName": {
          "description": "Display name to show users.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata of the schema.",
          "$ref": "GoogleCloudDocumentaiV1DocumentSchemaMetadata"
        },
        "description": {
          "description": "Description of the schema.",
          "type": "string"
        },
        "documentPrompt": {
          "description": "Optional. Document level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse",
      "description": "The response proto of ResyncDataset method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias": {
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias",
      "description": "Contains the alias and the aliased resource name of processor version.",
      "properties": {
        "alias": {
          "description": "The alias in the form of `processor_version` resource name.",
          "type": "string"
        },
        "processorVersion": {
          "description": "The resource name of aliased processor version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock": {
      "type": "object",
      "properties": {
        "listEntries": {
          "description": "List entries that constitute a list block.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry"
          }
        },
        "type": {
          "description": "Type of the list_entries (if exist). Available options are `ordered` and `unordered`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock",
      "description": "Represents a list type block."
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata for the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateProcessorVersionMetadata",
      "description": "The long-running operation metadata for the UpdateProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPage": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPage",
      "description": "A page in a Document.",
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "image": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageImage",
          "description": "Rendered image for this page. This image is preprocessed to remove any skew, rotation, and distortions such that the annotation bounding boxes can be upright and axis-aligned."
        },
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageBlock"
          },
          "description": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation."
        },
        "detectedBarcodes": {
          "description": "A list of detected barcodes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedBarcode"
          }
        },
        "layout": {
          "description": "Layout for the page.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "description": "The history of this page.",
          "deprecated": true
        },
        "dimension": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageDimension",
          "description": "Physical dimension of the page."
        },
        "visualElements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageVisualElement"
          },
          "description": "A list of detected non-text visual elements, for example, checkbox, signature etc. on the page."
        },
        "tokens": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageToken"
          },
          "type": "array",
          "description": "A list of visually detected tokens on the page."
        },
        "tables": {
          "description": "A list of visually detected tables on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTable"
          },
          "type": "array"
        },
        "transforms": {
          "description": "Transformation matrices that were applied to the original document image to produce Page.image.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageMatrix"
          }
        },
        "lines": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageLine"
          },
          "type": "array",
          "description": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line."
        },
        "symbols": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageSymbol"
          },
          "description": "A list of visually detected symbols on the page."
        },
        "pageNumber": {
          "description": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing.",
          "type": "integer",
          "format": "int32"
        },
        "paragraphs": {
          "description": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageParagraph"
          },
          "type": "array"
        },
        "imageQualityScores": {
          "description": "Image quality scores.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageImageQualityScores"
        },
        "formFields": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageFormField"
          },
          "description": "A list of visually detected form fields on the page."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentEntityValidationOutput": {
      "id": "GoogleCloudDocumentaiV1DocumentEntityValidationOutput",
      "description": "The output of the validation given the document and the validation rules.",
      "properties": {
        "validationResults": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntityValidationOutputValidationResult"
          },
          "type": "array",
          "description": "The result of each validation rule."
        },
        "passAllRules": {
          "type": "boolean",
          "description": "The overall result of the validation, true if all applicable rules are valid."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus": {
      "type": "object",
      "properties": {
        "documentId": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentId",
          "description": "The document id of the document."
        },
        "status": {
          "description": "The status of deleting the document in storage.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus",
      "description": "The status of each individual document in the batch delete process."
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType": {
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the entity type. Could be used to provide more information about the entity type for model calls.",
          "type": "string"
        },
        "name": {
          "description": "Name of the type. It must be unique within the schema file and cannot be a \"Common Type\". The following naming conventions are used: - Use `snake_casing`. - Name matching is case-sensitive. - Maximum 64 characters. - Must start with a letter. - Allowed characters: ASCII letters `[a-z0-9_-]`. (For backward compatibility, internal infrastructure and tooling can handle any ASCII character.) - The `/` is sometimes used to denote a property of a type. For example `line_item/amount`. This convention is deprecated, but will still be honored for backward compatibility.",
          "type": "string"
        },
        "properties": {
          "description": "Description the nested structure, or composition of an entity.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty"
          },
          "type": "array"
        },
        "entityTypeMetadata": {
          "description": "Metadata for the entity type.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata"
        },
        "enumValues": {
          "description": "If specified, lists all the possible values for this entity. This should not be more than a handful of values. If the number of values is >10 or could change frequently, use the `EntityType.value_ontology` field and specify a list of all possible values in a value ontology file.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeEnumValues"
        },
        "displayName": {
          "description": "User defined name for the type.",
          "type": "string"
        },
        "baseTypes": {
          "description": "The entity type that this type is derived from. For now, one and only one should be set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType",
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The common metadata about the operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata",
      "description": "Metadata message associated with the ExportProcessorVersion operation."
    },
    "GoogleCloudDocumentaiV1Processor": {
      "id": "GoogleCloudDocumentaiV1Processor",
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
      "properties": {
        "defaultProcessorVersion": {
          "description": "The default processor version.",
          "type": "string"
        },
        "activeSchemaVersion": {
          "type": "string",
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes."
        },
        "processorVersionAliases": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorVersionAlias"
          },
          "type": "array",
          "description": "Output only. The processor version aliases.",
          "readOnly": true
        },
        "processEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "kmsKeyName": {
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the processor.",
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the processor was created."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata",
      "description": "The long-running operation metadata for the DisableProcessor method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SummaryOptions": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SummaryOptions",
      "description": "Metadata for document summarization.",
      "properties": {
        "length": {
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "A brief summary of one or two sentences.",
            "A paragraph-length summary.",
            "The longest option available."
          ],
          "enum": [
            "LENGTH_UNSPECIFIED",
            "BRIEF",
            "MODERATE",
            "COMPREHENSIVE"
          ],
          "description": "How long the summary should be."
        },
        "format": {
          "description": "The format the summary should be in.",
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Format the output in paragraphs.",
            "Format the output in bullets."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARAGRAPH",
            "BULLETS"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus",
      "description": "The status of each individual document in the import process.",
      "properties": {
        "outputGcsDestination": {
          "description": "The output_gcs_destination of the processed document if it was successful, otherwise empty.",
          "type": "string"
        },
        "outputDocumentId": {
          "description": "The document id of imported document if it was successful, otherwise empty.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        },
        "status": {
          "description": "The status of the importing of the document.",
          "$ref": "GoogleRpcStatus"
        },
        "inputGcsSource": {
          "description": "The source Cloud Storage URI of the document.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentRevisionHumanReview": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentRevisionHumanReview",
      "description": "Human Review information of the document.",
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`."
        },
        "state": {
          "description": "Human review state. For example, `requested`, `succeeded`, `rejected`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock": {
      "type": "object",
      "properties": {
        "blocks": {
          "description": "A text block could further have child blocks. Repeated blocks support further hierarchies and nested blocks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          }
        },
        "text": {
          "description": "Text content stored in the block.",
          "type": "string"
        },
        "type": {
          "description": "Type of the text in the block. Available options are: `paragraph`, `subtitle`, `heading-1`, `heading-2`, `heading-3`, `heading-4`, `heading-5`, `header`, `footer`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock",
      "description": "Represents a text type block."
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo": {
      "properties": {
        "finetuningAllowed": {
          "type": "boolean",
          "description": "Whether fine tuning is allowed for this base processor version."
        },
        "minTrainLabeledDocuments": {
          "description": "The minimum number of labeled documents in the training dataset required for fine tuning.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo",
      "description": "Information for a pretrained Google-managed foundation model.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata": {
      "properties": {
        "questionId": {
          "description": "The Crowd Compute question ID.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Used only when Operation.done is false.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata",
      "description": "The long-running operation metadata for the ReviewDocument method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentEntityValidationOutputValidationResult": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentEntityValidationOutputValidationResult",
      "description": "Validation result for a single validation rule.",
      "properties": {
        "validationResultType": {
          "type": "string",
          "enumDescriptions": [
            "The validation result type is unspecified.",
            "The validation is valid.",
            "The validation is invalid.",
            "The validation is skipped.",
            "The validation is not applicable."
          ],
          "enum": [
            "VALIDATION_RESULT_TYPE_UNSPECIFIED",
            "VALIDATION_RESULT_TYPE_VALID",
            "VALIDATION_RESULT_TYPE_INVALID",
            "VALIDATION_RESULT_TYPE_SKIPPED",
            "VALIDATION_RESULT_TYPE_NOT_APPLICABLE"
          ],
          "description": "The result of the validation rule."
        },
        "ruleName": {
          "description": "The display name of the validation rule.",
          "type": "string"
        },
        "ruleDescription": {
          "type": "string",
          "description": "The description of the validation rule."
        },
        "validationDetails": {
          "description": "The detailed information of the running the validation process using the entity from the document based on the validation rule.",
          "type": "string"
        },
        "rule": {
          "description": "Optional. The name of the rule resource that is used for validation. Format: `projects/{project}/locations/{location}/rules/{rule}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageImageQualityScores": {
      "properties": {
        "detectedDefects": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect"
          },
          "type": "array",
          "description": "A list of detected defects."
        },
        "qualityScore": {
          "type": "number",
          "format": "float",
          "description": "The overall quality score. Range `[0, 1]` where `1` is perfect quality."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageImageQualityScores",
      "description": "Image quality scores for the page image.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ProcessResponse": {
      "id": "GoogleCloudDocumentaiV1ProcessResponse",
      "description": "Response message for the ProcessDocument method.",
      "properties": {
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1HumanReviewStatus"
        },
        "document": {
          "description": "The document payload, will populate fields based on the processor's behavior.",
          "$ref": "GoogleCloudDocumentaiV1Document"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionResponse",
      "description": "Response message for the SetDefaultProcessorVersion method.",
      "properties": {}
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId": {
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Required. The Cloud Storage URI where the actual document is stored."
        },
        "cwDocId": {
          "description": "Id of the document (indexed) managed by Content Warehouse.",
          "type": "string",
          "deprecated": true
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId",
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option."
    },
    "GoogleCloudDocumentaiV1DocumentPageMatrix": {
      "id": "GoogleCloudDocumentaiV1DocumentPageMatrix",
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation.",
      "properties": {
        "cols": {
          "format": "int32",
          "type": "integer",
          "description": "Number of columns in the matrix."
        },
        "type": {
          "format": "int32",
          "type": "integer",
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html"
        },
        "rows": {
          "format": "int32",
          "type": "integer",
          "description": "Number of rows in the matrix."
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The matrix data."
        }
      },
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation": {
      "type": "object",
      "properties": {
        "fields": {
          "description": "A list of fields to be used as operands.",
          "type": "array",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          }
        },
        "constants": {
          "description": "A list of constants to be used as operands.",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant"
          },
          "type": "array"
        },
        "operationType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPERATION_TYPE_SUM",
            "OPERATION_TYPE_SUB",
            "OPERATION_TYPE_MUL",
            "OPERATION_TYPE_DIV",
            "OPERATION_TYPE_MAX",
            "OPERATION_TYPE_MIN",
            "OPERATION_TYPE_ABS",
            "OPERATION_TYPE_UNIQUE",
            "OPERATION_TYPE_COUNT"
          ],
          "type": "string",
          "description": "The operation type to be applied to all the operands."
        },
        "operations": {
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
          },
          "type": "array",
          "description": "A list of recursive operations to be used as operands."
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata",
      "description": "The long-running operation metadata for DeleteLabelerPool.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageFormField": {
      "properties": {
        "valueDetectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for value together with confidence."
        },
        "valueType": {
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the `field_value` is normal text) - `unfilled_checkbox` - `filled_checkbox`",
          "type": "string"
        },
        "correctedKeyText": {
          "description": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction.",
          "type": "string"
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "description": "The history of this annotation."
        },
        "fieldValue": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for the FormField value."
        },
        "fieldName": {
          "description": "Layout for the FormField name. For example, `Address`, `Email`, `Grand total`, `Phone number`, etc.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "correctedValueText": {
          "description": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction.",
          "type": "string"
        },
        "nameDetectedLanguages": {
          "description": "A list of detected languages for name together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageFormField",
      "description": "A form field detected on the page.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo",
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs.",
      "properties": {
        "baseProcessorVersionId": {
          "type": "string",
          "description": "The base processor version ID for the custom model."
        },
        "customModelType": {
          "description": "The type of custom model created by the user.",
          "type": "string",
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ],
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata",
      "description": "Metadata of the import document operation.",
      "properties": {
        "individualImportStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus"
          },
          "description": "The list of response details of each document."
        },
        "importConfigValidationResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult"
          },
          "description": "Validation statuses of the batch documents import config."
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "totalDocumentCount": {
          "description": "Total number of the documents that are qualified for importing.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageImage": {
      "type": "object",
      "properties": {
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Height of the image in pixels."
        },
        "content": {
          "description": "Raw byte content of the image.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image.",
          "type": "string"
        },
        "width": {
          "description": "Width of the image in pixels.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageImage",
      "description": "Rendered image contents for this page."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk": {
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk",
      "description": "Represents a chunk.",
      "properties": {
        "content": {
          "description": "Text content of the chunk.",
          "type": "string"
        },
        "sourceBlockIds": {
          "description": "Unused.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pageHeaders": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader"
          },
          "type": "array",
          "description": "Page headers associated with the chunk."
        },
        "pageFooters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter"
          },
          "description": "Page footers associated with the chunk."
        },
        "chunkId": {
          "type": "string",
          "description": "ID of the chunk."
        },
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan",
          "description": "Page span of the chunk."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3Processor": {
      "id": "GoogleCloudDocumentaiV1beta3Processor",
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes."
        },
        "displayName": {
          "description": "The display name of the processor.",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "processorVersionAliases": {
          "readOnly": true,
          "description": "Output only. The processor version aliases.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias"
          }
        },
        "defaultProcessorVersion": {
          "type": "string",
          "description": "The default processor version."
        },
        "activeSchemaVersion": {
          "type": "string",
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}"
        },
        "createTime": {
          "description": "Output only. The time the processor was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "processEndpoint": {
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ],
          "readOnly": true,
          "description": "Output only. The state of the processor."
        },
        "kmsKeyName": {
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleTypeDateTime": {
      "type": "object",
      "id": "GoogleTypeDateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "properties": {
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "type": "integer",
          "format": "int32"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "GoogleTypeTimeZone"
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1ReviewDocumentResponse": {
      "properties": {
        "rejectionReason": {
          "type": "string",
          "description": "The reason why the review is rejected by reviewer."
        },
        "gcsDestination": {
          "description": "The Cloud Storage uri for the human reviewed document if the review is succeeded.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The review operation is rejected by the reviewer.",
            "The review operation is succeeded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "REJECTED",
            "SUCCEEDED"
          ],
          "description": "The state of the review operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1ReviewDocumentResponse",
      "description": "Response message for the ReviewDocument method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorMetadata",
      "description": "The long-running operation metadata for the EnableProcessor method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus",
      "description": "The status of each individual document in the batch delete process.",
      "properties": {
        "documentId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
          "description": "The document id of the document."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of deleting the document in storage."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentEntity": {
      "id": "GoogleCloudDocumentaiV1DocumentEntity",
      "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location.",
      "properties": {
        "textAnchor": {
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor"
        },
        "type": {
          "type": "string",
          "description": "Required. Entity type from a schema, for example, `Address`."
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "description": "Optional. The history of this annotation."
        },
        "pageAnchor": {
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageAnchor"
        },
        "method": {
          "description": "Optional. Specifies how the entity's value is obtained.",
          "type": "string",
          "enumDescriptions": [
            "When the method is not specified, it should be treated as `EXTRACT`.",
[...]
