{
  "id": "documentai:v1",
  "basePath": "",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "schemas": {
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule": {
      "type": "object",
      "properties": {
        "alignmentType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ALIGNMENT_TYPE_UNSPECIFIED",
            "ALIGNMENT_TYPE_HORIZONTAL",
            "ALIGNMENT_TYPE_VERTICAL"
          ]
        },
        "tolerance": {
          "type": "number",
          "format": "float",
          "description": "The tolerance to use when comparing coordinates."
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule",
      "description": "A rule for checking field alignment. Horizontal alignment checks if fields are on the same row by comparing y-coordinates of bounding box centers, while vertical alignment checks if fields are on the same column by comparing x-coordinates of bounding box centers."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse",
      "description": "The response proto of ExportDocuments method."
    },
    "GoogleTypeColor": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object",
      "properties": {
        "red": {
          "type": "number",
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        },
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "type": "number",
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        }
      },
      "id": "GoogleTypeColor"
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader": {
      "type": "object",
      "properties": {
        "text": {
          "description": "Header in text format.",
          "type": "string"
        },
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan",
          "description": "Page span of the header."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader",
      "description": "Represents the page header associated with the chunk."
    },
    "GoogleCloudDocumentaiV1BoundingPoly": {
      "id": "GoogleCloudDocumentaiV1BoundingPoly",
      "type": "object",
      "properties": {
        "normalizedVertices": {
          "type": "array",
          "description": "The bounding polygon normalized vertices.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1NormalizedVertex"
          }
        },
        "vertices": {
          "description": "The bounding polygon vertices.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1Vertex"
          },
          "type": "array"
        }
      },
      "description": "A bounding polygon for the detected image annotation."
    },
    "GoogleCloudDocumentaiV1CommonOperationMetadata": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "string",
          "description": "A related resource to this operation."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the operation."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the operation."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "type": "string",
          "description": "The state of the operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1CommonOperationMetadata",
      "description": "The common metadata for long running operations."
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadata": {
      "description": "The metadata that represents a processor version being created.",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadata",
      "type": "object",
      "properties": {
        "testDatasetValidation": {
          "description": "The test dataset validation information.",
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation"
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        },
        "trainingDatasetValidation": {
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation",
          "description": "The training dataset validation information."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentStyle": {
      "id": "GoogleCloudDocumentaiV1DocumentStyle",
      "type": "object",
      "properties": {
        "fontFamily": {
          "type": "string",
          "description": "Font family such as `Arial`, `Times New Roman`. https://www.w3schools.com/cssref/pr_font_font-family.asp"
        },
        "fontWeight": {
          "type": "string",
          "description": "[Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp). Possible values are `normal`, `bold`, `bolder`, and `lighter`."
        },
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Text background color."
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor",
          "description": "Text anchor indexing into the Document.text."
        },
        "fontSize": {
          "$ref": "GoogleCloudDocumentaiV1DocumentStyleFontSize",
          "description": "Font size."
        },
        "color": {
          "description": "Text color.",
          "$ref": "GoogleTypeColor"
        },
        "textDecoration": {
          "type": "string",
          "description": "[Text decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp). Follows CSS standard. "
        },
        "textStyle": {
          "description": "[Text style](https://www.w3schools.com/cssref/pr_font_font-style.asp). Possible values are `normal`, `italic`, and `oblique`.",
          "type": "string"
        }
      },
      "description": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible."
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudDocumentaiV1DocumentEntityValidationOutputValidationResult": {
      "description": "Validation result for a single validation rule.",
      "id": "GoogleCloudDocumentaiV1DocumentEntityValidationOutputValidationResult",
      "type": "object",
      "properties": {
        "validationDetails": {
          "description": "The detailed information of the running the validation process using the entity from the document based on the validation rule.",
          "type": "string"
        },
        "validationResultType": {
          "enumDescriptions": [
            "The validation result type is unspecified.",
            "The validation is valid.",
            "The validation is invalid.",
            "The validation is skipped.",
            "The validation is not applicable."
          ],
          "type": "string",
          "description": "The result of the validation rule.",
          "enum": [
            "VALIDATION_RESULT_TYPE_UNSPECIFIED",
            "VALIDATION_RESULT_TYPE_VALID",
            "VALIDATION_RESULT_TYPE_INVALID",
            "VALIDATION_RESULT_TYPE_SKIPPED",
            "VALIDATION_RESULT_TYPE_NOT_APPLICABLE"
          ]
        },
        "ruleName": {
          "type": "string",
          "description": "The display name of the validation rule."
        },
        "rule": {
          "description": "Optional. The name of the rule resource that is used for validation. Format: `projects/{project}/locations/{location}/rules/{rule}`",
          "type": "string"
        },
        "ruleDescription": {
          "description": "The description of the validation rule.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "individualBatchMoveStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus"
          },
          "type": "array"
        },
        "destDatasetType": {
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "deprecated": true,
          "type": "string",
          "description": "The destination dataset split type."
        },
        "destSplitType": {
          "type": "string",
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "description": "The destination dataset split type."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the UndeployProcessorVersion method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan": {
      "description": "Represents where the chunk starts and ends in the document.",
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan",
      "type": "object",
      "properties": {
        "pageStart": {
          "type": "integer",
          "format": "int32",
          "description": "Page where chunk starts in the document."
        },
        "pageEnd": {
          "description": "Page where chunk ends in the document.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageDimension": {
      "id": "GoogleCloudDocumentaiV1DocumentPageDimension",
      "type": "object",
      "properties": {
        "width": {
          "type": "number",
          "format": "float",
          "description": "Page width."
        },
        "height": {
          "description": "Page height.",
          "type": "number",
          "format": "float"
        },
        "unit": {
          "type": "string",
          "description": "Dimension unit."
        }
      },
      "description": "Dimension for the page."
    },
    "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId": {
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "Required. The Cloud Storage URI where the actual document is stored.",
          "type": "string"
        },
        "cwDocId": {
          "description": "Id of the document (indexed) managed by Content Warehouse.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId",
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option."
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics": {
      "description": "Evaluation metrics, either in aggregate or about a specific entity.",
      "type": "object",
      "properties": {
        "precision": {
          "type": "number",
          "format": "float",
          "description": "The calculated precision."
        },
        "groundTruthOccurrencesCount": {
          "description": "The amount of occurrences in ground truth documents.",
          "type": "integer",
          "format": "int32"
        },
        "truePositivesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of true positives."
        },
        "falsePositivesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of false positives."
        },
        "totalDocumentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of documents that had an occurrence of this label."
        },
        "falseNegativesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of false negatives."
        },
        "predictedDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of documents with a predicted occurrence."
        },
        "recall": {
          "type": "number",
          "format": "float",
          "description": "The calculated recall."
        },
        "groundTruthDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of documents with a ground truth occurrence."
        },
        "f1Score": {
          "description": "The calculated F1 score.",
          "type": "number",
          "format": "float"
        },
        "predictedOccurrencesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of occurrences in predicted documents."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkField": {
      "type": "object",
      "properties": {
        "imageChunkField": {
          "description": "The image chunk field in the chunk.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkImageChunkField"
        },
        "tableChunkField": {
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkTableChunkField",
          "description": "The table chunk field in the chunk."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkField",
      "description": "The chunk field in the chunk. A chunk field could be one of the various types (for example, image, table) supported."
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the importing of the document.",
          "$ref": "GoogleRpcStatus"
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI of the document."
        },
        "outputDocumentId": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentId",
          "description": "The document id of imported document if it was successful, otherwise empty."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus",
      "description": "The status of each individual document in the import process."
    },
    "GoogleCloudDocumentaiV1DeleteProcessorMetadata": {
      "id": "GoogleCloudDocumentaiV1DeleteProcessorMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessor method."
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo": {
      "description": "Information about Generative AI model-based processor versions.",
      "type": "object",
      "properties": {
        "foundationGenAiModelInfo": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo",
          "description": "Information for a pretrained Google-managed foundation model."
        },
        "customGenAiModelInfo": {
          "description": "Information for a custom Generative AI model created by the user.",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo"
    },
    "GoogleCloudDocumentaiV1RawDocument": {
      "description": "Payload message of raw document content (bytes).",
      "id": "GoogleCloudDocumentaiV1RawDocument",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "format": "byte",
          "description": "Inline document content."
        },
        "mimeType": {
          "type": "string",
          "description": "An IANA MIME type (RFC6838) indicating the nature and format of the content."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the document, it supports all Unicode characters except the following: `*`, `?`, `[`, `]`, `%`, `{`, `}`,`'`, `\\\"`, `,` `~`, `=` and `:` are reserved. If not specified, a default ID is generated."
        }
      }
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage": {
      "id": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of detected language. Range `[0, 1]`."
        },
        "languageCode": {
          "type": "string",
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`."
        }
      },
      "description": "Detected language for a structural component."
    },
    "GoogleCloudDocumentaiV1SchemaGenerationHistory": {
      "type": "object",
      "properties": {
        "iterations": {
          "type": "array",
          "description": "Required. Previous prompt-answers in a chronological order.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1SchemaGenerationIteration"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1SchemaGenerationHistory",
      "description": "The history of schema generation iterations."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocument": {
      "description": "Represents the chunks that the document is divided into.",
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocument",
      "type": "object",
      "properties": {
        "chunks": {
          "type": "array",
          "description": "List of chunks.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk"
          }
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat": {
      "description": "The statistic representing a dataset split type for this export.",
      "type": "object",
      "properties": {
        "splitType": {
          "type": "string",
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "description": "The dataset split type."
        },
        "totalDocumentCount": {
          "description": "Total number of documents with the given dataset split type to be exported.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat"
    },
    "GoogleCloudDocumentaiV1ProcessorType": {
      "id": "GoogleCloudDocumentaiV1ProcessorType",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "The processor category, used by UI to group processor types."
        },
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`."
        },
        "name": {
          "description": "The resource name of the processor type. Format: `projects/{project}/processorTypes/{processor_type}`",
          "type": "string"
        },
        "availableLocations": {
          "description": "The locations in which this processor is available.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorTypeLocationInfo"
          },
          "type": "array"
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "type": "string",
          "description": "Launch stage of the processor type",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "allowCreation": {
          "type": "boolean",
          "description": "Whether the processor type allows creation. If true, users can create a processor of this processor type. Otherwise, users need to request access."
        },
        "sampleDocumentUris": {
          "description": "A set of Cloud Storage URIs of sample documents for this processor.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A processor type is responsible for performing a certain document understanding task on a certain type of document."
    },
    "GoogleCloudDocumentaiV1GenerateSchemaVersionRequestGenerateSchemaVersionParams": {
      "description": "The parameters for the schema generation.",
      "id": "GoogleCloudDocumentaiV1GenerateSchemaVersionRequestGenerateSchemaVersionParams",
      "type": "object",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt used for the schema generation."
        },
        "history": {
          "$ref": "GoogleCloudDocumentaiV1SchemaGenerationHistory",
          "description": "Optional. Previous prompt-answers in a chronological order."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics": {
      "type": "object",
      "properties": {
        "confidenceLevelMetrics": {
          "description": "Metrics across confidence levels with fuzzy matching enabled.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics"
          },
          "type": "array"
        },
        "auprc": {
          "type": "number",
          "format": "float",
          "description": "The calculated area under the precision recall curve (AUPRC), computed by integrating over all confidence thresholds."
        },
        "estimatedCalibrationError": {
          "description": "The Estimated Calibration Error (ECE) of the confidence of the predicted entities.",
          "type": "number",
          "format": "float"
        },
        "estimatedCalibrationErrorExact": {
          "description": "The ECE for the predicted entities with fuzzy matching disabled, i.e., exact matching only.",
          "type": "number",
          "format": "float"
        },
        "confidenceLevelMetricsExact": {
          "type": "array",
          "description": "Metrics across confidence levels with only exact matching.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics"
          }
        },
        "auprcExact": {
          "description": "The AUPRC for metrics with fuzzy matching disabled, i.e., exact matching only.",
          "type": "number",
          "format": "float"
        },
        "metricsType": {
          "description": "The metrics type for the label.",
          "enum": [
            "METRICS_TYPE_UNSPECIFIED",
            "AGGREGATE"
          ],
          "enumDescriptions": [
            "The metrics type is unspecified. By default, metrics without a particular specification are for leaf entity types (i.e., top-level entity types without child types, or child types which are not parent types themselves).",
            "Indicates whether metrics for this particular label type represent an aggregate of metrics for other types instead of being based on actual TP/FP/FN values for the label type. Metrics for parent (i.e., non-leaf) entity types are an aggregate of metrics for their children."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics",
      "description": "Metrics across multiple confidence levels."
    },
    "GoogleCloudDocumentaiV1SchemaVersion": {
      "description": "SchemaVersion is a version of the Schema which is created in SchemaGroup.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The user-defined name of the SchemaVersion.",
          "type": "string"
        },
        "schema": {
          "description": "Required. The schema of the SchemaVersion.",
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the SchemaVersion was created.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The {{gcp_name_short}} labels for the SchemaVersion.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDocumentaiV1SchemaVersion"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias": {
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias",
      "type": "object",
      "properties": {
        "alias": {
          "description": "The alias in the form of `processor_version` resource name.",
          "type": "string"
        },
        "processorVersion": {
          "type": "string",
          "description": "The resource name of aliased processor version."
        }
      },
      "description": "Contains the alias and the aliased resource name of processor version."
    },
    "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadataIndividualBatchUpdateStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadataIndividualBatchUpdateStatus",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of updating the document in storage.",
          "$ref": "GoogleRpcStatus"
        },
        "documentId": {
          "description": "The document id of the document.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        }
      },
      "description": "The status of each individual document in the batch update process."
    },
    "GoogleCloudDocumentaiV1DocumentPageFormField": {
      "description": "A form field detected on the page.",
      "id": "GoogleCloudDocumentaiV1DocumentPageFormField",
      "type": "object",
      "properties": {
        "correctedValueText": {
          "description": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction.",
          "type": "string"
        },
        "correctedKeyText": {
          "type": "string",
          "description": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction."
        },
        "fieldName": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for the FormField name. For example, `Address`, `Email`, `Grand total`, `Phone number`, etc."
        },
        "nameDetectedLanguages": {
          "description": "A list of detected languages for name together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "valueDetectedLanguages": {
          "description": "A list of detected languages for value together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "valueType": {
          "type": "string",
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the `field_value` is normal text) - `unfilled_checkbox` - `filled_checkbox`"
        },
        "fieldValue": {
          "description": "Layout for the FormField value.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        }
      }
    },
    "GoogleCloudDocumentaiV1Barcode": {
      "description": "Encodes the detailed information of a barcode.",
      "id": "GoogleCloudDocumentaiV1Barcode",
      "type": "object",
      "properties": {
        "format": {
          "description": "Format of a barcode. The supported formats are: - `CODE_128`: Code 128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. - `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. - `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. - `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. - `DATABAR`: GS1 DataBar code type.",
          "type": "string"
        },
        "valueFormat": {
          "description": "Value format describes the format of the value that a barcode encodes. The supported formats are: - `CONTACT_INFO`: Contact information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. - `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. - `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar event. - `DRIVER_LICENSE`: Driver's license.",
          "type": "string"
        },
        "rawValue": {
          "description": "Raw value encoded in the barcode. For example: `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorMetadata": {
      "description": "The long-running operation metadata for the EnableProcessor method.",
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeleteProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter": {
      "description": "Represents the page footer associated with the chunk.",
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter",
      "type": "object",
      "properties": {
        "text": {
          "description": "Footer in text format.",
          "type": "string"
        },
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan",
          "description": "Page span of the footer."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry": {
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry",
      "type": "object",
      "properties": {
        "blocks": {
          "type": "array",
          "description": "A list entry is a list of blocks. Repeated blocks support further hierarchies and nested blocks.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          }
        }
      },
      "description": "Represents an entry in the list."
    },
    "GoogleCloudDocumentaiV1DocumentSchemaEntityTypeEnumValues": {
      "description": "Defines the a list of enum values.",
      "id": "GoogleCloudDocumentaiV1DocumentSchemaEntityTypeEnumValues",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "The individual values that this enum values type can include.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The validation status of import config."
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI specified in the import config."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult"
    },
    "GoogleCloudDocumentaiV1DocumentSchemaMetadata": {
      "type": "object",
      "properties": {
        "documentAllowMultipleLabels": {
          "description": "If true, on a given page, there can be multiple `document` annotations covering it.",
          "type": "boolean"
        },
        "prefixedNamingOnProperties": {
          "description": "If set, all the nested entities must be prefixed with the parents.",
          "type": "boolean"
        },
        "skipNamingValidation": {
          "type": "boolean",
          "description": "If set, this will skip the naming format validation in the schema. So the string values in `DocumentSchema.EntityType.name` and `DocumentSchema.EntityType.Property.name` will not be checked."
        },
        "documentSplitter": {
          "description": "If true, a `document` entity type can be applied to subdocument (splitting). Otherwise, it can only be applied to the entire document (classification).",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentSchemaMetadata",
      "description": "Metadata for global schema behavior."
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the UndeployProcessorVersion method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse",
      "description": "The response proto of ResyncDataset method."
    },
    "GoogleCloudDocumentaiV1beta3UpdateProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3UpdateProcessorVersionMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata for the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the UpdateProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionResponse": {
      "type": "object",
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The resource name of the processor version produced by training."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionResponse",
      "description": "The response for TrainProcessorVersion."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkTableChunkField": {
      "type": "object",
      "properties": {
        "annotations": {
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations",
          "description": "Annotation of the table chunk field."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkTableChunkField",
      "description": "The table chunk field in the chunk."
    },
    "GoogleCloudDocumentaiV1DocumentEntitiesRevision": {
      "type": "object",
      "properties": {
        "entityValidationOutput": {
          "$ref": "GoogleCloudDocumentaiV1DocumentEntityValidationOutput",
          "description": "The entity validation output for this revision."
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "description": "Optional. The history of this revision."
        },
        "revisionId": {
          "type": "string",
          "description": "The revision id."
        },
        "entities": {
          "description": "The entities in this revision.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentEntitiesRevision",
      "description": "Entity revision."
    },
    "GoogleCloudDocumentaiV1BatchProcessRequest": {
      "description": "Request message for BatchProcessDocuments.",
      "type": "object",
      "properties": {
        "documentOutputConfig": {
          "description": "The output configuration for the BatchProcessDocuments method.",
          "$ref": "GoogleCloudDocumentaiV1DocumentOutputConfig"
        },
        "processOptions": {
          "$ref": "GoogleCloudDocumentaiV1ProcessOptions",
          "description": "Inference-time options for the process API"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inputDocuments": {
          "description": "The input documents for the BatchProcessDocuments method.",
          "$ref": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig"
        },
        "skipHumanReview": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether human review should be skipped for this request. Default to `false`."
        }
      },
      "id": "GoogleCloudDocumentaiV1BatchProcessRequest"
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata": {
      "type": "object",
      "properties": {
        "inferred": {
          "type": "boolean",
          "description": "True if is inferred by schema inference."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata",
      "description": "Metadata for schema inference. Only used on dataset.schema for schema inference, can be safely ignored elsewhere."
    },
    "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeleteProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1Vertex": {
      "type": "object",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "type": "integer",
          "format": "int32"
        },
        "y": {
          "description": "Y coordinate (starts from the top of the image).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1Vertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image."
    },
    "GoogleCloudDocumentaiV1DocumentBlobAsset": {
      "description": "Represents a blob asset. It's used to store the content of the inline blob in this document, for example, image bytes, such that it can be referenced by other fields in the document via asset ID.",
      "type": "object",
      "properties": {
        "content": {
          "description": "Optional. The content of the blob asset, for example, image bytes.",
          "type": "string",
          "format": "byte"
        },
        "mimeType": {
          "description": "The mime type of the blob asset. An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml).",
          "type": "string"
        },
        "assetId": {
          "description": "Optional. The id of the blob asset.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentBlobAsset"
    },
    "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfigShardingConfig": {
      "description": "The sharding config for the output document.",
      "id": "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfigShardingConfig",
      "type": "object",
      "properties": {
        "pagesPerShard": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pages per shard."
        },
        "pagesOverlap": {
          "type": "integer",
          "format": "int32",
          "description": "The number of overlapping pages between consecutive shards."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3PropertyMetadata": {
      "type": "object",
      "properties": {
        "inactive": {
          "type": "boolean",
          "description": "Whether the property should be considered as \"inactive\"."
        },
        "fieldExtractionMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata",
          "description": "Field extraction metadata on the property."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3PropertyMetadata",
      "description": "Metadata about a property."
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionRequest": {
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionRequest",
      "type": "object",
      "properties": {
        "customDocumentExtractionOptions": {
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestCustomDocumentExtractionOptions",
          "description": "Options to control Custom Document Extraction (CDE) Processor."
        },
        "foundationModelTuningOptions": {
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestFoundationModelTuningOptions",
          "description": "Options to control foundation model tuning of a processor."
        },
        "inputData": {
          "description": "Optional. The input data used to train the ProcessorVersion.",
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestInputData"
        },
        "baseProcessorVersion": {
          "description": "Optional. The processor version to use as a base for training. This processor version must be a child of `parent`. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`.",
          "type": "string"
        },
        "processorVersion": {
          "$ref": "GoogleCloudDocumentaiV1ProcessorVersion",
          "description": "Required. The processor version to be created."
        },
        "documentSchema": {
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema",
          "description": "Optional. The schema the processor version will be trained with."
        }
      },
      "description": "Request message for the TrainProcessorVersion method."
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse": {
      "type": "object",
      "properties": {
        "evaluation": {
          "type": "string",
          "description": "The resource name of the created evaluation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse",
      "description": "Response of the EvaluateProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect": {
      "description": "Image Quality Defects",
      "id": "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Name of the defect type. Supported values are: - `quality/defect_blurry` - `quality/defect_noisy` - `quality/defect_dark` - `quality/defect_faint` - `quality/defect_text_too_small` - `quality/defect_document_cutoff` - `quality/defect_text_cutoff` - `quality/defect_glare`"
        },
        "confidence": {
          "description": "Confidence of detected defect. Range `[0, 1]` where `1` indicates strong confidence that the defect exists.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EvaluationReference": {
      "id": "GoogleCloudDocumentaiV1beta3EvaluationReference",
      "type": "object",
      "properties": {
        "evaluation": {
          "description": "The resource name of the evaluation.",
          "type": "string"
        },
        "aggregateMetricsExact": {
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching off.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMetrics"
        },
        "operation": {
          "description": "The resource name of the Long Running Operation for the evaluation.",
          "type": "string"
        },
        "aggregateMetrics": {
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMetrics",
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching on."
        }
      },
      "description": "Gives a short summary of an evaluation, and links to the evaluation itself."
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput": {
      "type": "object",
      "properties": {
        "validationRules": {
          "type": "array",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule"
          }
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput",
      "description": "Definition of the validation rules. Those are the input to the validator logic and they are used to validate a document. Next ID: 3"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the validation rule."
        },
        "description": {
          "type": "string",
          "description": "Description of the validation rule. This has no use but for documentation."
        },
        "childAlignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule"
        },
        "fieldOccurrences": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences"
        },
        "formValidation": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation"
        },
        "ruleId": {
          "type": "string",
          "description": "Unique identifier of the rule. Optional."
        },
        "fieldRegex": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex"
        },
        "entityAlignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule"
        }
      },
      "description": "Next ID: 9"
    },
    "GoogleCloudDocumentaiUiv1beta3RevisionRef": {
      "description": "The revision reference specifies which revision on the document to read.",
      "id": "GoogleCloudDocumentaiUiv1beta3RevisionRef",
      "type": "object",
      "properties": {
        "revisionCase": {
          "description": "Reads the revision by the predefined case.",
          "enum": [
            "REVISION_CASE_UNSPECIFIED",
            "LATEST_HUMAN_REVIEW",
            "LATEST_TIMESTAMP",
            "BASE_OCR_REVISION"
          ],
          "enumDescriptions": [
            "Unspecified case, fall back to read the `LATEST_HUMAN_REVIEW`.",
            "The latest revision made by a human.",
            "The latest revision based on timestamp.",
            "The first (OCR) revision."
          ],
          "type": "string"
        },
        "latestProcessorVersion": {
          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "string"
        },
        "revisionId": {
          "description": "Reads the revision given by the id.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessMetadata": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was being cancelled.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "type": "string",
          "description": "The state of the current batch processing.",
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ]
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed.",
          "type": "string"
        },
        "individualProcessStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the operation."
        },
        "createTime": {
          "description": "The creation time of the operation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessMetadata",
      "description": "The long-running operation metadata for BatchProcessDocuments."
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata": {
      "description": "The long-running operation metadata for UpdateLabelerPool.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs.",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo",
      "type": "object",
      "properties": {
        "customModelType": {
          "description": "The type of custom model created by the user.",
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ],
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ],
          "type": "string"
        },
        "baseProcessorVersionId": {
          "description": "The base processor version ID for the custom model.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1ListProcessorsResponse": {
      "description": "Response message for the ListProcessors method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Points to the next processor, otherwise empty.",
          "type": "string"
        },
        "processors": {
          "description": "The list of processors.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1Processor"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1ListProcessorsResponse"
    },
    "GoogleCloudDocumentaiV1GenerateSchemaVersionResponse": {
      "id": "GoogleCloudDocumentaiV1GenerateSchemaVersionResponse",
      "type": "object",
      "properties": {
        "schemaVersion": {
          "description": "The schema version generated by the model.",
          "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
        }
      },
      "description": "Response message for GenerateSchemaVersion."
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "description": "Represents a table type block.",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
      "type": "object",
      "properties": {
        "bodyRows": {
          "type": "array",
          "description": "Body rows containing main table content.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          }
        },
        "caption": {
          "description": "Table caption/title.",
          "type": "string"
        },
        "headerRows": {
          "type": "array",
          "description": "Header rows at the top of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          }
        },
        "annotations": {
          "description": "Annotation of the table block.",
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations"
        }
      }
    },
    "GoogleTypeDateTime": {
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "type": "object",
      "properties": {
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
        },
        "timeZone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Time zone."
        },
        "utcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
        }
      },
      "id": "GoogleTypeDateTime"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock": {
      "description": "Represents a block. A block could be one of the various types (text, table, list) supported.",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock",
      "type": "object",
      "properties": {
        "pageSpan": {
          "description": "Page span of the block.",
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan"
        },
        "imageBlock": {
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock",
          "description": "Block consisting of image content."
        },
        "blockId": {
          "type": "string",
          "description": "ID of the block."
        },
        "tableBlock": {
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
          "description": "Block consisting of table content/structure."
        },
        "textBlock": {
          "description": "Block consisting of text content.",
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock"
        },
        "boundingBox": {
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly",
          "description": "Identifies the bounding box for the block."
        },
        "listBlock": {
          "description": "Block consisting of list content/structure.",
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3GcsPrefix": {
      "description": "Specifies all documents on Cloud Storage with a common prefix.",
      "id": "GoogleCloudDocumentaiV1beta3GcsPrefix",
      "type": "object",
      "properties": {
        "gcsUriPrefix": {
          "description": "The URI prefix.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse": {
      "type": "object",
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The resource name of the processor version produced by training."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse",
      "description": "The response for TrainProcessorVersion."
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponse": {
      "type": "object",
      "properties": {
        "selectedDocuments": {
          "type": "array",
          "description": "The result of the sampling process.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument"
          }
        },
        "sampleTestStatus": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of sampling documents in test split."
        },
        "sampleTrainingStatus": {
          "description": "The status of sampling documents in training split.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponse",
      "description": "Response of the sample documents operation."
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata": {
      "description": "The long-running operation metadata for DeleteLabelerPool.",
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues": {
      "description": "Defines the a list of enum values.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "The individual values that this enum values type can include.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata": {
      "description": "The long-running operation metadata for the CreateLabelerPool method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsResponse": {
      "description": "Response of the delete documents operation.",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3EntityTypeMetadata": {
      "type": "object",
      "properties": {
        "inactive": {
          "type": "boolean",
          "description": "Whether the entity type should be considered inactive."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EntityTypeMetadata",
      "description": "Metadata about an entity type."
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock": {
      "description": "Represents a list type block.",
      "type": "object",
      "properties": {
        "listEntries": {
          "description": "List entries that constitute a list block.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "Type of the list_entries (if exist). Available options are `ordered` and `unordered`."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock"
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionRequestInputData": {
      "type": "object",
      "properties": {
        "trainingDocuments": {
          "$ref": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig",
          "description": "The documents used for training the new version."
        },
        "testDocuments": {
          "$ref": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig",
          "description": "The documents used for testing the trained version."
        }
      },
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestInputData",
      "description": "The input data used to train a new ProcessorVersion."
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadata": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was being cancelled.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "description": "The state of the current batch processing."
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed."
        },
        "individualProcessStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the operation."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadata",
      "description": "The long-running operation metadata for BatchProcessDocuments."
    },
    "GoogleCloudDocumentaiV1Document": {
      "id": "GoogleCloudDocumentaiV1Document",
      "type": "object",
      "properties": {
        "chunkedDocument": {
          "description": "Document chunked based on chunking config.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocument"
        },
        "content": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64."
        },
        "text": {
          "type": "string",
          "description": "Optional. UTF-8 encoded text in reading order from the document."
        },
        "uri": {
          "type": "string",
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. For more information, refer to [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris)."
        },
        "entitiesRevisionId": {
          "description": "The entity revision ID that `document.entities` field is based on. If this field is set and `entities_revisions` is not empty, the entities in `document.entities` field are the entities in the entity revision with this id and `document.entity_validation_output` field is the `entity_validation_output` field in this entity revision.",
          "type": "string"
        },
        "pages": {
          "description": "Visual page layout for the Document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPage"
          },
          "type": "array"
        },
        "entities": {
          "type": "array",
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          }
        },
        "blobAssets": {
          "description": "Optional. The blob assets in this document. This is used to store the content of the inline blobs in this document, for example, image bytes, such that it can be referenced by other fields in the document via asset id.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentBlobAsset"
          },
          "type": "array"
        },
        "textStyles": {
          "deprecated": true,
          "type": "array",
          "description": "Styles for the Document.text.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentStyle"
          }
        },
        "docid": {
          "description": "Optional. An internal identifier for document. Should be loggable (no PII).",
          "type": "string"
        },
        "error": {
          "description": "Any error that occurred while processing this document.",
          "$ref": "GoogleRpcStatus"
        },
        "entityValidationOutput": {
          "description": "The entity validation output for the document. This is the validation output for `document.entities` field.",
          "$ref": "GoogleCloudDocumentaiV1DocumentEntityValidationOutput"
        },
        "entitiesRevisions": {
          "description": "A list of entity revisions. The entity revisions are appended to the document in the processing order. This field can be used for comparing the entity extraction results at different stages of the processing.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntitiesRevision"
          },
          "type": "array"
        },
        "shardInfo": {
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified.",
          "$ref": "GoogleCloudDocumentaiV1DocumentShardInfo"
        },
        "revisions": {
          "type": "array",
          "description": "Placeholder. Revision history of this document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentRevision"
          }
        },
        "mimeType": {
          "type": "string",
          "description": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml)."
        },
        "entityRelations": {
          "type": "array",
          "description": "Placeholder. Relationship among Document.entities.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntityRelation"
          }
        },
        "textChanges": {
          "description": "Placeholder. A list of text corrections made to Document.text. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentTextChange"
          },
          "type": "array"
        },
        "documentLayout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayout",
          "description": "Parsed layout of the document."
        }
      },
      "description": "Document represents the canonical document resource in Document AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document AI to iterate and optimize for quality."
    },
    "GoogleCloudDocumentaiV1DocumentEntityValidationOutput": {
      "description": "The output of the validation given the document and the validation rules.",
      "id": "GoogleCloudDocumentaiV1DocumentEntityValidationOutput",
      "type": "object",
      "properties": {
        "validationResults": {
          "type": "array",
          "description": "The result of each validation rule.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntityValidationOutputValidationResult"
          }
        },
        "passAllRules": {
          "description": "The overall result of the validation, true if all applicable rules are valid.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDocumentaiV1Documents": {
      "description": "A set of inline documents.",
      "type": "object",
      "properties": {
        "documents": {
          "description": "The list of documents.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1Document"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1Documents"
    },
    "GoogleCloudDocumentaiV1DisableProcessorRequest": {
      "description": "Request message for the DisableProcessor method.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1DisableProcessorRequest"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo": {
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo",
      "type": "object",
      "properties": {
        "minTrainLabeledDocuments": {
          "description": "The minimum number of labeled documents in the training dataset required for fine tuning.",
          "type": "integer",
          "format": "int32"
        },
        "finetuningAllowed": {
          "description": "Whether fine tuning is allowed for this base processor version.",
          "type": "boolean"
        }
      },
      "description": "Information for a pretrained Google-managed foundation model."
    },
    "GoogleCloudDocumentaiV1beta3SummaryOptions": {
      "description": "Metadata for document summarization.",
      "id": "GoogleCloudDocumentaiV1beta3SummaryOptions",
      "type": "object",
      "properties": {
        "length": {
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "A brief summary of one or two sentences.",
            "A paragraph-length summary.",
            "The longest option available."
          ],
          "enum": [
            "LENGTH_UNSPECIFIED",
            "BRIEF",
            "MODERATE",
            "COMPREHENSIVE"
          ],
          "description": "How long the summary should be."
        },
        "format": {
          "description": "The format the summary should be in.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARAGRAPH",
            "BULLETS"
          ],
          "enumDescriptions": [
            "Default.",
            "Format the output in paragraphs.",
            "Format the output in bullets."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata": {
      "description": "The long-running operation metadata for the DisableProcessor method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayout": {
      "description": "Represents the parsed layout of a document as a collection of blocks that the document is divided into.",
      "type": "object",
      "properties": {
        "blocks": {
          "type": "array",
          "description": "List of blocks in the document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayout"
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus": {
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus",
      "type": "object",
      "properties": {
        "outputGcsDestination": {
          "type": "string",
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status processing the document."
        },
        "inputGcsSource": {
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started.",
          "type": "string"
        },
        "humanReviewStatus": {
          "$ref": "GoogleCloudDocumentaiV1HumanReviewStatus",
          "description": "The status of human review on the processed document."
        }
      },
      "description": "The status of a each individual document in the batch process."
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaMetadata",
      "type": "object",
      "properties": {
        "skipNamingValidation": {
          "type": "boolean",
          "description": "If set, this will skip the naming format validation in the schema. So the string values in `DocumentSchema.EntityType.name` and `DocumentSchema.EntityType.Property.name` will not be checked."
        },
        "documentSplitter": {
          "description": "If true, a `document` entity type can be applied to subdocument (splitting). Otherwise, it can only be applied to the entire document (classification).",
          "type": "boolean"
        },
        "documentAllowMultipleLabels": {
          "description": "If true, on a given page, there can be multiple `document` annotations covering it.",
          "type": "boolean"
        },
        "prefixedNamingOnProperties": {
          "description": "If set, all the nested entities must be prefixed with the parents.",
          "type": "boolean"
        }
      },
      "description": "Metadata for global schema behavior."
    },
    "GoogleCloudDocumentaiV1OcrConfigHints": {
      "id": "GoogleCloudDocumentaiV1OcrConfigHints",
      "type": "object",
      "properties": {
        "languageHints": {
          "description": "List of BCP-47 language codes to use for OCR. In most cases, not specifying it yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting hints is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Hints for OCR Engine"
    },
    "GoogleCloudDocumentaiUiv1beta3SummaryOptions": {
      "id": "GoogleCloudDocumentaiUiv1beta3SummaryOptions",
      "type": "object",
      "properties": {
        "length": {
          "description": "How long the summary should be.",
          "enum": [
            "LENGTH_UNSPECIFIED",
            "BRIEF",
            "MODERATE",
            "COMPREHENSIVE"
          ],
          "enumDescriptions": [
            "Default.",
            "A brief summary of one or two sentences.",
            "A paragraph-length summary.",
            "The longest option available."
          ],
          "type": "string"
        },
        "format": {
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Format the output in paragraphs.",
            "Format the output in bullets."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARAGRAPH",
            "BULLETS"
          ],
          "description": "The format the summary should be in."
        }
      },
      "description": "Metadata for document summarization."
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the type. It must be unique within the schema file and cannot be a \"Common Type\". The following naming conventions are used: - Use `snake_casing`. - Name matching is case-sensitive. - Maximum 64 characters. - Must start with a letter. - Allowed characters: ASCII letters `[a-z0-9_-]`. (For backward compatibility, internal infrastructure and tooling can handle any ASCII character.) - The `/` is sometimes used to denote a property of a type. For example `line_item/amount`. This convention is deprecated, but will still be honored for backward compatibility.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the entity type. Could be used to provide more information about the entity type for model calls."
        },
        "entityTypeMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3EntityTypeMetadata",
          "description": "Metadata for the entity type."
        },
        "enumValues": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues",
          "description": "If specified, lists all the possible values for this entity. This should not be more than a handful of values. If the number of values is >10 or could change frequently, use the `EntityType.value_ontology` field and specify a list of all possible values in a value ontology file."
        },
        "displayName": {
          "description": "User defined name for the type.",
          "type": "string"
        },
        "properties": {
          "description": "Description the nested structure, or composition of an entity.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty"
          },
          "type": "array"
        },
        "baseTypes": {
          "type": "array",
          "description": "The entity type that this type is derived from. For now, one and only one should be set.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType",
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types."
    },
    "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfig": {
      "id": "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfig",
      "type": "object",
      "properties": {
        "enableTableAnnotation": {
          "description": "Optional. Whether to include table annotations in layout parser response.",
          "type": "boolean"
        },
        "chunkingConfig": {
          "$ref": "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfigChunkingConfig",
          "description": "Optional. Config for chunking in layout parser processor."
        },
        "returnBoundingBoxes": {
          "type": "boolean",
          "description": "Optional. Whether to include bounding boxes in layout parser processor response."
        },
        "enableImageAnnotation": {
          "type": "boolean",
          "description": "Optional. Whether to include image annotations in layout parser response."
        },
        "returnImages": {
          "description": "Optional. Whether to include images in layout parser processor response.",
          "type": "boolean"
        }
      },
      "description": "Serving config for layout parser processor."
    },
    "GoogleCloudDocumentaiV1ProcessRequest": {
      "description": "Request message for the ProcessDocument method.",
      "type": "object",
      "properties": {
        "skipHumanReview": {
[...]
