{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "title": "Cloud Document AI API",
  "canonicalName": "Document",
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "rootUrl": "https://documentai.googleapis.com/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "name": "documentai",
  "endpoints": [
    {
      "endpointUrl": "https://documentai.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://documentai.eu.rep.googleapis.com/",
      "location": "eu"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://documentai.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://documentai.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://documentai.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://documentai.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://documentai.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://documentai.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    }
  ],
  "revision": "20260503",
  "fullyEncodeReservedExpansion": true,
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "servicePath": "",
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock": {
      "description": "Represents a block. A block could be one of the various types (text, table, list) supported.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock",
      "properties": {
        "textBlock": {
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock",
          "description": "Block consisting of text content."
        },
        "blockId": {
          "type": "string",
          "description": "ID of the block."
        },
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan",
          "description": "Page span of the block."
        },
        "listBlock": {
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock",
          "description": "Block consisting of list content/structure."
        },
        "imageBlock": {
          "description": "Block consisting of image content.",
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock"
        },
        "tableBlock": {
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
          "description": "Block consisting of table content/structure."
        },
        "boundingBox": {
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly",
          "description": "Identifies the bounding box for the block."
        }
      }
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse": {
      "type": "object",
      "description": "Response message for the UndeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1DocumentPageDimension": {
      "type": "object",
      "description": "Dimension for the page.",
      "id": "GoogleCloudDocumentaiV1DocumentPageDimension",
      "properties": {
        "width": {
          "type": "number",
          "description": "Page width.",
          "format": "float"
        },
        "unit": {
          "description": "Dimension unit.",
          "type": "string"
        },
        "height": {
          "format": "float",
          "type": "number",
          "description": "Page height."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadataIndividualBatchUpdateStatus": {
      "description": "The status of each individual document in the batch update process.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadataIndividualBatchUpdateStatus",
      "properties": {
        "documentId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
          "description": "The document id of the document."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of updating the document in storage."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata": {
      "description": "Metadata for schema inference. Only used on dataset.schema for schema inference, can be safely ignored elsewhere.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata",
      "properties": {
        "inferred": {
          "type": "boolean",
          "description": "True if is inferred by schema inference."
        }
      }
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule",
      "properties": {
        "alignmentType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ALIGNMENT_TYPE_UNSPECIFIED",
            "ALIGNMENT_TYPE_HORIZONTAL",
            "ALIGNMENT_TYPE_VERTICAL"
          ]
        },
        "tolerance": {
          "format": "float",
          "description": "The tolerance to use when comparing coordinates.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "A rule for checking field alignment. Horizontal alignment checks if fields are on the same row by comparing y-coordinates of bounding box centers, while vertical alignment checks if fields are on the same column by comparing x-coordinates of bounding box centers."
    },
    "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect": {
      "id": "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Confidence of detected defect. Range `[0, 1]` where `1` indicates strong confidence that the defect exists.",
          "type": "number"
        },
        "type": {
          "type": "string",
          "description": "Name of the defect type. Supported values are: - `quality/defect_blurry` - `quality/defect_noisy` - `quality/defect_dark` - `quality/defect_faint` - `quality/defect_text_too_small` - `quality/defect_document_cutoff` - `quality/defect_text_cutoff` - `quality/defect_glare`"
        }
      },
      "description": "Image Quality Defects",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo": {
      "type": "object",
      "description": "Information about Generative AI model-based processor versions.",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo",
      "properties": {
        "foundationGenAiModelInfo": {
          "description": "Information for a pretrained Google-managed foundation model.",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo"
        },
        "customGenAiModelInfo": {
          "description": "Information for a custom Generative AI model created by the user.",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageToken": {
      "description": "A detected token.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageToken",
      "properties": {
        "layout": {
          "description": "Layout for Token.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "detectedBreak": {
          "description": "Detected break at the end of a Token.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak"
        },
        "provenance": {
          "description": "The history of this annotation.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "styleInfo": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo",
          "description": "Text style attributes."
        }
      }
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata": {
      "type": "object",
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues",
      "properties": {
        "values": {
          "description": "The individual values that this enum values type can include.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Defines the a list of enum values."
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo": {
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo",
      "properties": {
        "deprecationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this processor version will be deprecated."
        },
        "replacementProcessorVersion": {
          "type": "string",
          "description": "If set, the processor version that will be used as a replacement."
        }
      },
      "description": "Information about the upcoming deprecation of this processor version.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1SetDefaultProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object",
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata": {
      "description": "Metadata of the import document operation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "importConfigValidationResults": {
          "description": "Validation statuses of the batch documents import config.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult"
          }
        },
        "totalDocumentCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of the documents that are qualified for importing."
        },
        "individualImportStatuses": {
          "description": "The list of response details of each document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1DisableProcessorRequest": {
      "description": "Request message for the DisableProcessor method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DisableProcessorRequest",
      "properties": {}
    },
    "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata": {
      "description": "Metadata for Human Review config.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata",
      "properties": {
        "confidenceThreshold": {
          "description": "The confidence threshold if human review validation is enabled.",
          "type": "number",
          "format": "float"
        },
        "enableValidation": {
          "type": "boolean",
          "description": "Whether to enable human review validation."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Required. The Cloud Storage URI where the actual document is stored."
        },
        "cwDocId": {
          "type": "string",
          "description": "Id of the document (indexed) managed by Content Warehouse.",
          "deprecated": true
        }
      },
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata",
      "properties": {
        "totalDocumentCount": {
          "description": "Total number of the auto-labeling documents.",
          "type": "integer",
          "format": "int32"
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "individualAutoLabelStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus"
          },
          "description": "The list of individual auto-labeling statuses of the dataset documents."
        }
      },
      "description": "Metadata of the auto-labeling documents operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DisableProcessorMetadata": {
      "id": "GoogleCloudDocumentaiV1DisableProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "type": "object",
      "description": "The long-running operation metadata for the DisableProcessor method."
    },
    "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata",
      "properties": {
        "summaryOptions": {
          "$ref": "GoogleCloudDocumentaiV1beta3SummaryOptions",
          "description": "Summary options config."
        }
      },
      "type": "object",
      "description": "Metadata for how this field value is extracted."
    },
    "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfigChunkingConfig": {
      "description": "Serving config for chunking.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfigChunkingConfig",
      "properties": {
        "chunkSize": {
          "type": "integer",
          "description": "Optional. The chunk sizes to use when splitting documents, in order of level.",
          "format": "int32"
        },
        "includeAncestorHeadings": {
          "type": "boolean",
          "description": "Optional. Whether or not to include ancestor headings when splitting."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata",
      "properties": {
        "individualBatchDeleteStatuses": {
          "description": "The list of response details of each document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          }
        },
        "totalDocumentCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of documents deleting from dataset."
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        },
        "errorDocumentCount": {
          "format": "int32",
          "description": "Total number of documents that failed to be deleted in storage.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata": {
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
      "properties": {
        "caption": {
          "type": "string",
          "description": "Table caption/title."
        },
        "bodyRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "description": "Body rows containing main table content."
        },
        "headerRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "description": "Header rows at the top of the table."
        },
        "annotations": {
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations",
          "description": "Annotation of the table block."
        }
      },
      "description": "Represents a table type block.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "type": "object",
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs.",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo",
      "properties": {
        "baseProcessorVersionId": {
          "type": "string",
          "description": "The base processor version ID for the custom model."
        },
        "customModelType": {
          "type": "string",
          "description": "The type of custom model created by the user.",
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ],
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3SummaryOptions": {
      "id": "GoogleCloudDocumentaiUiv1beta3SummaryOptions",
      "properties": {
        "length": {
          "enumDescriptions": [
            "Default.",
            "A brief summary of one or two sentences.",
            "A paragraph-length summary.",
            "The longest option available."
          ],
          "enum": [
            "LENGTH_UNSPECIFIED",
            "BRIEF",
            "MODERATE",
            "COMPREHENSIVE"
          ],
          "type": "string",
          "description": "How long the summary should be."
        },
        "format": {
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARAGRAPH",
            "BULLETS"
          ],
          "enumDescriptions": [
            "Default.",
            "Format the output in paragraphs.",
            "Format the output in bullets."
          ],
          "description": "The format the summary should be in.",
          "type": "string"
        }
      },
      "description": "Metadata for document summarization.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentId": {
      "description": "Document Identifier.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentId",
      "properties": {
        "unmanagedDocId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId",
          "description": "A document id within unmanaged dataset."
        },
        "revisionRef": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3RevisionRef",
          "description": "Points to a specific revision of the document if set."
        },
        "gcsManagedDocId": {
          "description": "A document id within user-managed Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessResponse": {
      "type": "object",
      "description": "Response message for BatchProcessDocuments.",
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentResponse",
      "properties": {
        "rejectionReason": {
          "description": "The reason why the review is rejected by reviewer.",
          "type": "string"
        },
        "gcsDestination": {
          "description": "The Cloud Storage uri for the human reviewed document if the review is succeeded.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The review operation is rejected by the reviewer.",
            "The review operation is succeeded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "REJECTED",
            "SUCCEEDED"
          ],
          "type": "string",
          "description": "The state of the review operation."
        }
      },
      "description": "Response message for the ReviewDocument method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageFormField": {
      "id": "GoogleCloudDocumentaiV1DocumentPageFormField",
      "properties": {
        "nameDetectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for name together with confidence."
        },
        "correctedValueText": {
          "type": "string",
          "description": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction."
        },
        "valueType": {
          "type": "string",
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the `field_value` is normal text) - `unfilled_checkbox` - `filled_checkbox`"
        },
        "fieldName": {
          "description": "Layout for the FormField name. For example, `Address`, `Email`, `Grand total`, `Phone number`, etc.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "valueDetectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for value together with confidence."
        },
        "fieldValue": {
          "description": "Layout for the FormField value.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "description": "The history of this annotation."
        },
        "correctedKeyText": {
          "type": "string",
          "description": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction."
        }
      },
      "description": "A form field detected on the page.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse": {
      "description": "Response of the EvaluateProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse",
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      }
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences": {
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences",
      "properties": {
        "maxOccurrences": {
          "type": "integer",
          "format": "uint32"
        },
        "field": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "minOccurrences": {
          "format": "uint32",
          "description": "Min and max occurrences of the field. If not set, there is limit set. The defined interval is a closed-closed interval, i.e. [min, max].",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata": {
      "description": "Metadata of the import document operation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "importConfigValidationResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult"
          },
          "description": "Validation statuses of the batch documents import config."
        },
        "totalDocumentCount": {
          "description": "Total number of the documents that are qualified for importing.",
          "type": "integer",
          "format": "int32"
        },
        "individualImportStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus"
          },
          "description": "The list of response details of each document."
        }
      }
    },
    "GoogleCloudDocumentaiV1ReviewDocumentResponse": {
      "description": "Response message for the ReviewDocument method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ReviewDocumentResponse",
      "properties": {
        "rejectionReason": {
          "description": "The reason why the review is rejected by reviewer.",
          "type": "string"
        },
        "gcsDestination": {
          "type": "string",
          "description": "The Cloud Storage uri for the human reviewed document if the review is succeeded."
        },
        "state": {
          "type": "string",
          "description": "The state of the review operation.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The review operation is rejected by the reviewer.",
            "The review operation is succeeded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "REJECTED",
            "SUCCEEDED"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object",
      "description": "The long-running operation metadata for the EnableProcessor method."
    },
    "GoogleCloudDocumentaiV1SetDefaultProcessorVersionResponse": {
      "description": "Response message for the SetDefaultProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3PropertyMetadata": {
      "type": "object",
      "description": "Metadata about a property.",
      "id": "GoogleCloudDocumentaiV1beta3PropertyMetadata",
      "properties": {
        "inactive": {
          "description": "Whether the property should be considered as \"inactive\".",
          "type": "boolean"
        },
        "fieldExtractionMetadata": {
          "description": "Field extraction metadata on the property.",
          "$ref": "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsResponse": {
      "type": "object",
      "description": "Response of the delete documents operation.",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1ProcessorVersion": {
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ProcessorVersion",
      "properties": {
        "latestEvaluation": {
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1EvaluationReference",
          "description": "Output only. The most recently invoked evaluation for the processor version."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ],
          "type": "string",
          "description": "Output only. The state of the processor version.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the processor version was created."
        },
        "documentSchema": {
          "description": "Output only. The schema of the processor version. Describes the output.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`"
        },
        "kmsKeyVersionName": {
          "type": "string",
          "description": "Output only. The KMS key version with which data is encrypted.",
          "readOnly": true
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "modelType": {
          "readOnly": true,
          "enumDescriptions": [
            "The processor version has unspecified model type.",
            "The processor version has generative model type.",
            "The processor version has custom model type."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_GENERATIVE",
            "MODEL_TYPE_CUSTOM"
          ],
          "description": "Output only. The model type of this processor version.",
          "type": "string"
        },
        "deprecationInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1ProcessorVersionDeprecationInfo",
          "description": "Output only. If set, information about the eventual deprecation of this version."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor version."
        },
        "googleManaged": {
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google.",
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "kmsKeyName": {
          "readOnly": true,
          "description": "Output only. The KMS key name used for encryption.",
          "type": "string"
        },
        "genAiModelInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1ProcessorVersionGenAiModelInfo",
          "description": "Output only. Information about Generative AI model-based processor versions."
        }
      }
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput": {
      "description": "Definition of the validation rules. Those are the input to the validator logic and they are used to validate a document. Next ID: 3",
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput",
      "properties": {
        "validationRules": {
          "type": "array",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule"
          }
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchema": {
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchema",
      "properties": {
        "description": {
          "description": "Description of the schema.",
          "type": "string"
        },
        "entityTypes": {
          "description": "Entity types of the schema.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType"
          }
        },
        "displayName": {
          "description": "Display name to show users.",
          "type": "string"
        },
        "metadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata",
          "description": "Metadata of the schema."
        },
        "documentPrompt": {
          "description": "Optional. Document level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing.",
          "type": "string"
        }
      },
      "description": "The schema defines the output of the processed document by a processor.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType": {
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User defined name for the type."
        },
        "entityTypeMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata",
          "description": "Metadata for the entity type."
        },
        "description": {
          "description": "The description of the entity type. Could be used to provide more information about the entity type for model calls.",
          "type": "string"
        },
        "enumValues": {
          "description": "If specified, lists all the possible values for this entity. This should not be more than a handful of values. If the number of values is >10 or could change frequently, use the `EntityType.value_ontology` field and specify a list of all possible values in a value ontology file.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeEnumValues"
        },
        "baseTypes": {
          "description": "The entity type that this type is derived from. For now, one and only one should be set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the type. It must be unique within the schema file and cannot be a \"Common Type\". The following naming conventions are used: - Use `snake_casing`. - Name matching is case-sensitive. - Maximum 64 characters. - Must start with a letter. - Allowed characters: ASCII letters `[a-z0-9_-]`. (For backward compatibility, internal infrastructure and tooling can handle any ASCII character.) - The `/` is sometimes used to denote a property of a type. For example `line_item/amount`. This convention is deprecated, but will still be honored for backward compatibility."
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty"
          },
          "description": "Description the nested structure, or composition of an entity."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageLayout": {
      "type": "object",
      "description": "Visual element describing a layout unit on a page.",
      "id": "GoogleCloudDocumentaiV1DocumentPageLayout",
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of the current Layout within context of the object this layout is for. For example, confidence can be for a single token, a table, a visual element, etc. depending on context. Range `[0, 1]`."
        },
        "orientation": {
          "type": "string",
          "description": "Detected orientation for the Layout.",
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ],
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ]
        },
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor"
        },
        "boundingPoly": {
          "description": "The bounding polygon for the Layout.",
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock": {
      "description": "Represents a list type block.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock",
      "properties": {
        "listEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry"
          },
          "description": "List entries that constitute a list block."
        },
        "type": {
          "type": "string",
          "description": "Type of the list_entries (if exist). Available options are `ordered` and `unordered`."
        }
      }
    },
    "GoogleCloudDocumentaiV1ReviewDocumentRequest": {
      "id": "GoogleCloudDocumentaiV1ReviewDocumentRequest",
      "properties": {
        "enableSchemaValidation": {
          "description": "Whether the validation should be performed on the ad-hoc review request.",
          "type": "boolean"
        },
        "priority": {
          "type": "string",
          "description": "The priority of the human review task.",
          "enumDescriptions": [
            "The default priority level.",
            "The urgent priority level. The labeling manager should allocate labeler resource to the urgent task queue to respect this priority level."
          ],
          "enum": [
            "DEFAULT",
            "URGENT"
          ]
        },
        "documentSchema": {
          "description": "The document schema of the human review task.",
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema"
        },
        "inlineDocument": {
          "description": "An inline document proto.",
          "$ref": "GoogleCloudDocumentaiV1Document"
        }
      },
      "description": "Request message for the ReviewDocument method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry": {
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry",
      "properties": {
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "description": "A list entry is a list of blocks. Repeated blocks support further hierarchies and nested blocks."
        }
      },
      "type": "object",
      "description": "Represents an entry in the list."
    },
    "GoogleCloudDocumentaiV1BoundingPoly": {
      "description": "A bounding polygon for the detected image annotation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1BoundingPoly",
      "properties": {
        "vertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1Vertex"
          },
          "description": "The bounding polygon vertices."
        },
        "normalizedVertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1NormalizedVertex"
          },
          "description": "The bounding polygon normalized vertices."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocument": {
      "type": "object",
      "description": "Represents the chunks that the document is divided into.",
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocument",
      "properties": {
        "chunks": {
          "description": "List of chunks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk"
          }
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata",
      "properties": {
        "schemaInferenceMetadata": {
          "description": "Schema inference metadata on the entity.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata"
        },
        "schemaEditabilityMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata",
          "description": "Schema editability metadata on the entity."
        },
        "humanReviewLabelingMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata",
          "description": "Human review labeling config on the entity."
        },
        "fieldTierMetadata": {
          "description": "Field tier metadata on the property",
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata"
        },
        "inactive": {
          "description": "Whether the entity type should be considered inactive.",
          "type": "boolean"
        },
        "humanReviewMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata",
          "description": "Human review config on the entity."
        }
      },
      "type": "object",
      "description": "Metadata about an entity type."
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorMetadata": {
      "type": "object",
      "description": "The long-running operation metadata for the DisableProcessor method.",
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          },
          "description": "The fields to be aligned."
        },
        "alignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule",
          "description": "The alignment rule to apply to the fields."
        }
      },
      "description": "A rule that aligns specified fields with each other.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock": {
      "type": "object",
      "description": "Represents a text type block.",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock",
      "properties": {
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "description": "A text block could further have child blocks. Repeated blocks support further hierarchies and nested blocks."
        },
        "annotations": {
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations",
          "description": "Annotation of the text block."
        },
        "type": {
          "type": "string",
          "description": "Type of the text in the block. Available options are: `paragraph`, `subtitle`, `heading-1`, `heading-2`, `heading-3`, `heading-4`, `heading-5`, `header`, `footer`."
        },
        "text": {
          "description": "Text content stored in the block.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "testDatasetValidation": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
          "description": "The test dataset validation information."
        },
        "trainingDatasetValidation": {
          "description": "The training dataset validation information.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation"
        }
      },
      "description": "The metadata that represents a processor version being created.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell": {
      "description": "Represents a cell in a table row.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell",
      "properties": {
        "blocks": {
          "description": "A table cell is a list of blocks. Repeated blocks support further hierarchies and nested blocks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          }
        },
        "colSpan": {
          "format": "int32",
          "type": "integer",
          "description": "How many columns this cell spans."
        },
        "rowSpan": {
          "format": "int32",
          "description": "How many rows this cell spans.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfigShardingConfig": {
      "id": "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfigShardingConfig",
      "properties": {
        "pagesOverlap": {
          "type": "integer",
          "description": "The number of overlapping pages between consecutive shards.",
          "format": "int32"
        },
        "pagesPerShard": {
          "format": "int32",
          "description": "The number of pages per shard.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The sharding config for the output document."
    },
    "GoogleCloudDocumentaiV1DocumentPageImage": {
      "id": "GoogleCloudDocumentaiV1DocumentPageImage",
      "properties": {
        "content": {
          "description": "Raw byte content of the image.",
          "type": "string",
          "format": "byte"
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Width of the image in pixels."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Height of the image in pixels."
        },
        "mimeType": {
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image.",
          "type": "string"
        }
      },
      "description": "Rendered image contents for this page.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentEntityRelation": {
      "description": "Relationship between Entities.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentEntityRelation",
      "properties": {
        "subjectId": {
          "type": "string",
          "description": "Subject entity id."
        },
        "relation": {
          "description": "Relationship description.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "Object entity id."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentRevision": {
      "id": "GoogleCloudDocumentaiV1DocumentRevision",
      "properties": {
        "agent": {
          "description": "If the change was made by a person specify the name or id of that person.",
          "type": "string"
        },
        "parentIds": {
          "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "The time that the revision was created, internally generated by doc proto storage at the time of create.",
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "description": "Id of the revision, internally generated by doc proto storage. Unique within the context of the document.",
          "type": "string"
        },
        "parent": {
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "humanReview": {
          "$ref": "GoogleCloudDocumentaiV1DocumentRevisionHumanReview",
          "description": "Human Review information of this revision."
        },
        "processor": {
          "type": "string",
          "description": "If the annotation was made by processor identify the processor by its resource name."
        }
      },
      "type": "object",
      "description": "Contains past or forward revisions of this document."
    },
    "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig": {
      "id": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig",
      "properties": {
        "collection": {
          "type": "string",
          "description": "Output only. The collection in Document AI Warehouse associated with the dataset.",
          "readOnly": true
        },
        "schema": {
          "type": "string",
          "description": "Output only. The schema in Document AI Warehouse associated with the dataset.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Configuration specific to the Document AI Warehouse-based implementation."
    },
    "GoogleCloudDocumentaiV1ProcessRequest": {
      "type": "object",
      "description": "Request message for the ProcessDocument method.",
      "id": "GoogleCloudDocumentaiV1ProcessRequest",
      "properties": {
        "imagelessMode": {
          "description": "Optional. Option to remove images from the document.",
          "type": "boolean"
        },
        "gcsDocument": {
          "description": "A raw document on Google Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1GcsDocument"
        },
        "fieldMask": {
          "format": "google-fieldmask",
          "description": "Specifies which fields to include in the ProcessResponse.document output. Only supports top-level document and pages field, so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`.",
          "type": "string"
        },
        "inlineDocument": {
          "description": "An inline document proto.",
          "$ref": "GoogleCloudDocumentaiV1Document"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "skipHumanReview": {
          "description": "Whether human review should be skipped for this request. Default to `false`.",
          "deprecated": true,
          "type": "boolean"
        },
        "rawDocument": {
          "description": "A raw document content (bytes).",
          "$ref": "GoogleCloudDocumentaiV1RawDocument"
        },
        "processOptions": {
          "description": "Inference-time options for the process API",
          "$ref": "GoogleCloudDocumentaiV1ProcessOptions"
        }
      }
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionRequest": {
      "description": "Evaluates the given ProcessorVersion against the supplied documents.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionRequest",
      "properties": {
        "evaluationDocuments": {
          "description": "Optional. The documents used in the evaluation. If unspecified, use the processor's dataset as evaluation input.",
          "$ref": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageSymbol": {
      "description": "A detected symbol.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageSymbol",
      "properties": {
        "layout": {
          "description": "Layout for Symbol.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "properties": {
        "inputGcsSource": {
          "description": "The source Cloud Storage URI specified in the import config.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The validation status of import config."
        }
      },
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "id": "GoogleCloudDocumentaiV1ProcessorVersionGenAiModelInfoCustomGenAiModelInfo",
      "properties": {
        "baseProcessorVersionId": {
          "description": "The base processor version ID for the custom model.",
          "type": "string"
        },
        "customModelType": {
          "description": "The type of custom model created by the user.",
          "type": "string",
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ],
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ]
        }
      },
      "type": "object",
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs."
    },
    "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics": {
      "type": "object",
      "description": "Metrics across multiple confidence levels.",
      "id": "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics",
      "properties": {
        "confidenceLevelMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics"
          },
          "description": "Metrics across confidence levels with fuzzy matching enabled."
        },
        "estimatedCalibrationError": {
          "format": "float",
          "description": "The Estimated Calibration Error (ECE) of the confidence of the predicted entities.",
          "type": "number"
        },
        "auprcExact": {
          "format": "float",
          "description": "The AUPRC for metrics with fuzzy matching disabled, i.e., exact matching only.",
          "type": "number"
        },
        "estimatedCalibrationErrorExact": {
          "description": "The ECE for the predicted entities with fuzzy matching disabled, i.e., exact matching only.",
          "type": "number",
          "format": "float"
        },
        "metricsType": {
          "description": "The metrics type for the label.",
          "type": "string",
          "enum": [
            "METRICS_TYPE_UNSPECIFIED",
            "AGGREGATE"
          ],
          "enumDescriptions": [
            "The metrics type is unspecified. By default, metrics without a particular specification are for leaf entity types (i.e., top-level entity types without child types, or child types which are not parent types themselves).",
            "Indicates whether metrics for this particular label type represent an aggregate of metrics for other types instead of being based on actual TP/FP/FN values for the label type. Metrics for parent (i.e., non-leaf) entity types are an aggregate of metrics for their children."
          ]
        },
        "auprc": {
          "format": "float",
          "type": "number",
          "description": "The calculated area under the precision recall curve (AUPRC), computed by integrating over all confidence thresholds."
        },
        "confidenceLevelMetricsExact": {
          "description": "Metrics across confidence levels with only exact matching.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo": {
      "type": "object",
      "description": "Information about the upcoming deprecation of this processor version.",
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo",
      "properties": {
        "deprecationTime": {
          "type": "string",
          "description": "The time at which this processor version will be deprecated.",
          "format": "google-datetime"
        },
        "replacementProcessorVersion": {
          "type": "string",
          "description": "If set, the processor version that will be used as a replacement."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        },
        "updateTime": {
          "type": "string",
          "description": "The last update time of the operation.",
          "format": "google-datetime"
        },
        "state": {
          "description": "The state of the operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ]
        },
        "resource": {
          "description": "A related resource to this operation.",
          "type": "string"
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        }
      },
      "description": "The common metadata for long running operations.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3GcsPrefix": {
      "id": "GoogleCloudDocumentaiV1beta3GcsPrefix",
      "properties": {
        "gcsUriPrefix": {
          "type": "string",
          "description": "The URI prefix."
        }
      },
      "description": "Specifies all documents on Cloud Storage with a common prefix.",
      "type": "object"
    },
    "GoogleTypePostalAddress": {
      "id": "GoogleTypePostalAddress",
      "properties": {
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer",
          "format": "int32"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district.",
          "type": "string"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States)."
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "recipients": {
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`."
        },
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan": {
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan",
      "properties": {
        "pageStart": {
          "format": "int32",
          "description": "Page where chunk starts in the document.",
          "type": "integer"
        },
        "pageEnd": {
          "format": "int32",
          "description": "Page where chunk ends in the document.",
          "type": "integer"
        }
      },
      "description": "Represents where the chunk starts and ends in the document.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageAnchor": {
      "id": "GoogleCloudDocumentaiV1DocumentPageAnchor",
      "properties": {
        "pageRefs": {
          "description": "One or more references to visual page elements",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageAnchorPageRef"
          }
        }
      },
      "type": "object",
      "description": "Referencing the visual context of the entity in the Document.pages. Page anchors can be cross-page, consist of multiple bounding polygons and optionally reference specific layout element types."
    },
    "GoogleCloudDocumentaiV1GenerateSchemaVersionRequest": {
      "description": "Request message for GenerateSchemaVersion.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1GenerateSchemaVersionRequest",
      "properties": {
        "gcsPrefix": {
          "description": "The common prefix of documents placed on Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1GcsPrefix"
        },
        "gcsDocuments": {
          "description": "The set of documents placed on Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1GcsDocuments"
        },
        "baseSchemaVersion": {
          "type": "string",
          "description": "The base schema version name to use for the schema generation. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`"
        },
        "inlineDocuments": {
          "$ref": "GoogleCloudDocumentaiV1Documents",
          "description": "The set of documents specified inline. For each document, its `uri` or `content` field must be set."
        },
        "rawDocuments": {
          "description": "The set of raw documents.",
          "$ref": "GoogleCloudDocumentaiV1RawDocuments"
        },
        "generateSchemaVersionParams": {
          "$ref": "GoogleCloudDocumentaiV1GenerateSchemaVersionRequestGenerateSchemaVersionParams",
          "description": "Optional. User specified parameters for the schema generation."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorResponse": {
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorResponse",
      "properties": {},
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayout": {
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayout",
      "properties": {
        "blocks": {
          "description": "List of blocks in the document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          }
        }
      },
      "description": "Represents the parsed layout of a document as a collection of blocks that the document is divided into.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ListSchemasResponse": {
      "id": "GoogleCloudDocumentaiV1ListSchemasResponse",
      "properties": {
        "nextPageToken": {
          "description": "Points to the next Schema, otherwise empty.",
          "type": "string"
        },
        "schemas": {
          "description": "The list of Schemas.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1NextSchema"
          }
        }
      },
      "description": "Response message for ListSchemas.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentProvenance": {
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentProvenance",
      "properties": {
        "revision": {
          "format": "int32",
          "description": "The index of the revision that produced this element.",
          "deprecated": true,
          "type": "integer"
        },
        "type": {
          "description": "The type of provenance operation.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "UPDATE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ],
          "enumDescriptions": [
            "Operation type unspecified. If no operation is specified a provenance entry is simply used to match against a `parent`.",
            "Add an element.",
            "Remove an element identified by `parent`.",
            "Updates any fields within the given provenance scope of the message. It overwrites the fields rather than replacing them. Use this when you want to update a field value of an entity without also updating all the child properties.",
            "Currently unused. Replace an element identified by `parent`.",
            "Deprecated. Request human review for the element identified by `parent`.",
            "Deprecated. Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Deprecated. Element is skipped in the validation process."
          ]
        },
        "parents": {
          "description": "References to the original elements that are replaced.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentProvenanceParent"
          }
        },
        "id": {
          "format": "int32",
          "description": "The Id of this operation. Needs to be unique within the scope of the revision.",
          "deprecated": true,
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object",
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1DocumentSchema": {
      "type": "object",
      "description": "The schema defines the output of the processed document by a processor.",
      "id": "GoogleCloudDocumentaiV1DocumentSchema",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name to show users."
        },
        "metadata": {
          "description": "Metadata of the schema.",
          "$ref": "GoogleCloudDocumentaiV1DocumentSchemaMetadata"
        },
        "description": {
          "type": "string",
          "description": "Description of the schema."
        },
        "entityTypes": {
          "description": "Entity types of the schema.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentSchemaEntityType"
          }
        },
        "documentPrompt": {
          "type": "string",
          "description": "Optional. Document level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig": {
      "id": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig",
      "properties": {
        "gcsPrefix": {
          "description": "Required. The Cloud Storage URI (a directory) where the documents belonging to the dataset must be stored.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix"
        }
      },
      "type": "object",
      "description": "Configuration specific to the Cloud Storage-based implementation."
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1Vertex": {
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "id": "GoogleCloudDocumentaiV1Vertex",
      "properties": {
        "x": {
          "type": "integer",
          "description": "X coordinate.",
          "format": "int32"
        },
        "y": {
          "format": "int32",
          "description": "Y coordinate (starts from the top of the image).",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId": {
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId",
      "properties": {
        "gcsUri": {
          "description": "Required. The Cloud Storage URI where the actual document is stored.",
          "type": "string"
        },
        "cwDocId": {
          "type": "string",
          "description": "Id of the document (indexed) managed by Content Warehouse.",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option."
    },
    "GoogleCloudDocumentaiV1ProcessorType": {
      "id": "GoogleCloudDocumentaiV1ProcessorType",
      "properties": {
        "allowCreation": {
          "type": "boolean",
          "description": "Whether the processor type allows creation. If true, users can create a processor of this processor type. Otherwise, users need to request access."
        },
        "sampleDocumentUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of Cloud Storage URIs of sample documents for this processor."
        },
        "name": {
          "description": "The resource name of the processor type. Format: `projects/{project}/processorTypes/{processor_type}`",
          "type": "string"
        },
        "category": {
          "description": "The processor category, used by UI to group processor types.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`."
        },
        "availableLocations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorTypeLocationInfo"
          },
          "description": "The locations in which this processor is available."
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "type": "string",
          "description": "Launch stage of the processor type"
        }
      },
      "type": "object",
      "description": "A processor type is responsible for performing a certain document understanding task on a certain type of document."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter": {
      "type": "object",
      "description": "Represents the page footer associated with the chunk.",
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter",
      "properties": {
        "text": {
          "type": "string",
          "description": "Footer in text format."
        },
        "pageSpan": {
          "description": "Page span of the footer.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentEntitiesRevision": {
      "id": "GoogleCloudDocumentaiV1DocumentEntitiesRevision",
      "properties": {
        "revisionId": {
          "description": "The revision id.",
          "type": "string"
        },
        "entityValidationOutput": {
          "description": "The entity validation output for this revision.",
          "$ref": "GoogleCloudDocumentaiV1DocumentEntityValidationOutput"
        },
        "provenance": {
          "description": "Optional. The history of this revision.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "entities": {
          "description": "The entities in this revision.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          }
        }
      },
      "type": "object",
      "description": "Entity revision."
    },
    "GoogleCloudDocumentaiV1OcrConfig": {
      "description": "Config for Document OCR.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1OcrConfig",
      "properties": {
        "computeStyleInfo": {
          "type": "boolean",
          "description": "Turn on font identification model and return font style information. Deprecated, use PremiumFeatures.compute_style_info instead.",
          "deprecated": true
        },
        "advancedOcrOptions": {
          "description": "A list of advanced OCR options to further fine-tune OCR behavior. Current valid values are: - `legacy_layout`: a heuristics layout detection algorithm, which serves as an alternative to the current ML-based layout detection algorithm. Customers can choose the best suitable layout algorithm based on their situation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableSymbol": {
          "description": "Includes symbol level OCR information if set to true.",
          "type": "boolean"
        },
        "hints": {
          "description": "Hints for the OCR model.",
          "$ref": "GoogleCloudDocumentaiV1OcrConfigHints"
        },
        "disableCharacterBoxesDetection": {
          "type": "boolean",
          "description": "Turn off character box detector in OCR engine. Character box detection is enabled by default in OCR 2.0 (and later) processors."
        },
        "premiumFeatures": {
          "description": "Configurations for premium OCR features.",
          "$ref": "GoogleCloudDocumentaiV1OcrConfigPremiumFeatures"
        },
        "enableNativePdfParsing": {
          "type": "boolean",
          "description": "Enables special handling for PDFs with existing text information. Results in better text extraction quality in such PDF inputs."
        },
        "enableImageQualityScores": {
          "type": "boolean",
          "description": "Enables intelligent document quality scores after OCR. Can help with diagnosing why OCR responses are of poor quality for a given input. Adds additional latency comparable to regular OCR to the process call."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "properties": {
        "inputGcsSource": {
          "description": "The source Cloud Storage URI specified in the import config.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The validation status of import config."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse",
      "properties": {},
      "description": "The response proto of AutoLabelDocuments method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1RawDocument": {
      "type": "object",
      "description": "Payload message of raw document content (bytes).",
      "id": "GoogleCloudDocumentaiV1RawDocument",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "An IANA MIME type (RFC6838) indicating the nature and format of the content."
        },
        "content": {
          "type": "string",
          "description": "Inline document content.",
          "format": "byte"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the document, it supports all Unicode characters except the following: `*`, `?`, `[`, `]`, `%`, `{`, `}`,`'`, `\\\"`, `,` `~`, `=` and `:` are reserved. If not specified, a default ID is generated."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3RevisionRef": {
      "id": "GoogleCloudDocumentaiUiv1beta3RevisionRef",
      "properties": {
        "revisionCase": {
          "enumDescriptions": [
            "Unspecified case, fall back to read the `LATEST_HUMAN_REVIEW`.",
            "The latest revision made by a human.",
            "The latest revision based on timestamp.",
            "The first (OCR) revision."
          ],
          "enum": [
            "REVISION_CASE_UNSPECIFIED",
            "LATEST_HUMAN_REVIEW",
            "LATEST_TIMESTAMP",
            "BASE_OCR_REVISION"
          ],
          "type": "string",
          "description": "Reads the revision by the predefined case."
        },
        "revisionId": {
          "description": "Reads the revision given by the id.",
          "type": "string"
        },
        "latestProcessorVersion": {
          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The revision reference specifies which revision on the document to read."
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus": {
      "description": "The status of a each individual document in the batch process.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus",
      "properties": {
        "status": {
          "description": "The status processing the document.",
          "$ref": "GoogleRpcStatus"
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started."
        },
        "outputGcsDestination": {
          "type": "string",
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty."
        },
        "humanReviewStatus": {
          "$ref": "GoogleCloudDocumentaiV1beta3HumanReviewStatus",
          "description": "The status of human review on the processed document."
        },
        "humanReviewOperation": {
          "type": "string",
          "description": "The name of the operation triggered by the processed document. If the human review process isn't triggered, this field will be empty. It has the same response type and metadata as the long-running operation returned by the ReviewDocument method.",
          "deprecated": true
        }
      }
    },
    "GoogleCloudDocumentaiV1Processor": {
      "id": "GoogleCloudDocumentaiV1Processor",
      "properties": {
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "description": "Output only. The state of the processor.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ]
        },
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios.",
          "type": "string"
        },
        "defaultProcessorVersion": {
          "type": "string",
          "description": "The default processor version."
        },
        "processorVersionAliases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorVersionAlias"
          },
          "description": "Output only. The processor version aliases.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the processor was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "processEndpoint": {
          "readOnly": true,
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the processor.",
          "type": "string"
        },
        "activeSchemaVersion": {
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document."
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse",
      "properties": {},
      "description": "Response of the import document operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata": {
      "type": "object",
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
[...]
