{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "id": "doubleclicksearch.savedColumns.list",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "parameters": {
            "advertiserId": {
              "type": "string",
              "required": true,
              "description": "DS ID of the advertiser.",
              "location": "path",
              "format": "int64"
            },
            "agencyId": {
              "type": "string",
              "required": true,
              "description": "DS ID of the agency.",
              "location": "path",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "SavedColumnList"
          },
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "httpMethod": "GET",
          "description": "Retrieve the list of saved columns for a specified advertiser."
        }
      }
    },
    "conversion": {
      "methods": {
        "insert": {
          "id": "doubleclicksearch.conversion.insert",
          "request": {
            "$ref": "ConversionList"
          },
          "parameters": {},
          "path": "doubleclicksearch/v2/conversion",
          "parameterOrder": [],
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "httpMethod": "POST",
          "flatPath": "doubleclicksearch/v2/conversion"
        },
        "updateAvailability": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "httpMethod": "POST",
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "id": "doubleclicksearch.conversion.updateAvailability",
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          }
        },
        "get": {
          "parameters": {
            "startRow": {
              "type": "integer",
              "required": true,
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query",
              "format": "uint32"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "endDate": {
              "required": true,
              "minimum": "20091101",
              "type": "integer",
              "maximum": "99991231",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "format": "int32"
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query",
              "type": "string"
            },
            "engineAccountId": {
              "required": true,
              "type": "string",
              "description": "Numeric ID of the engine account.",
              "location": "path",
              "format": "int64"
            },
            "advertiserId": {
              "required": true,
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "location": "path",
              "format": "int64"
            },
            "rowCount": {
              "minimum": "1",
              "type": "integer",
              "maximum": "1000",
              "required": true,
              "description": "The number of conversions to return per call.",
              "location": "query",
              "format": "int32"
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "startDate": {
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "format": "int32",
              "required": true,
              "minimum": "20091101",
              "type": "integer",
              "maximum": "99991231"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "id": "doubleclicksearch.conversion.get",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "ConversionList"
          }
        },
        "getByCustomerId": {
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "parameters": {
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "rowCount": {
              "description": "The number of conversions to return per call.",
              "location": "query",
              "format": "int32",
              "required": true,
              "minimum": "1",
              "type": "integer",
              "maximum": "1000"
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "customerId": {
              "required": true,
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "path",
              "type": "string"
            },
            "endDate": {
              "minimum": "20091101",
              "type": "integer",
              "maximum": "99991231",
              "required": true,
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "format": "int32"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "startRow": {
              "type": "integer",
              "required": true,
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query",
              "format": "uint32"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "startDate": {
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "format": "int32",
              "minimum": "20091101",
              "type": "integer",
              "maximum": "99991231",
              "required": true
            },
            "adId": {
              "type": "string",
              "description": "Numeric ID of the ad.",
              "location": "query",
              "format": "int64"
            },
            "campaignId": {
              "type": "string",
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "format": "int64"
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "format": "int64",
              "type": "string"
            }
          },
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "update": {
          "path": "doubleclicksearch/v2/conversion",
          "parameterOrder": [],
          "request": {
            "$ref": "ConversionList"
          },
          "parameters": {},
          "id": "doubleclicksearch.conversion.update",
          "httpMethod": "PUT",
          "flatPath": "doubleclicksearch/v2/conversion",
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    },
    "reports": {
      "methods": {
        "request": {
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Inserts a report request into the reporting system.",
          "httpMethod": "POST",
          "flatPath": "doubleclicksearch/v2/reports",
          "id": "doubleclicksearch.reports.request",
          "request": {
            "$ref": "ReportRequest"
          },
          "parameters": {},
          "path": "doubleclicksearch/v2/reports",
          "parameterOrder": []
        },
        "get": {
          "parameters": {
            "reportId": {
              "description": "ID of the report request being polled.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "parameterOrder": [
            "reportId"
          ],
          "id": "doubleclicksearch.reports.get",
          "description": "Polls for the status of a report request.",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "Report"
          }
        },
        "generate": {
          "id": "doubleclicksearch.reports.generate",
          "parameters": {},
          "request": {
            "$ref": "ReportRequest"
          },
          "path": "doubleclicksearch/v2/reports/generate",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "Report"
          },
          "description": "Generates and returns a report immediately.",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "httpMethod": "POST"
        },
        "getIdMappingFile": {
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "parameters": {
            "agencyId": {
              "required": true,
              "type": "string",
              "description": "Legacy SA360 agency ID.",
              "location": "path",
              "format": "int64"
            },
            "advertiserId": {
              "description": "Legacy SA360 advertiser ID.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "response": {
            "$ref": "IdMappingFile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "useMediaDownloadService": true,
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "supportsMediaDownload": true
        },
        "getFile": {
          "description": "Downloads a report file encoded in UTF-8.",
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "useMediaDownloadService": true,
          "parameters": {
            "reportId": {
              "required": true,
              "description": "ID of the report.",
              "location": "path",
              "type": "string"
            },
            "reportFragment": {
              "description": "The index of the report fragment to download.",
              "location": "path",
              "format": "int32",
              "required": true,
              "minimum": "0",
              "type": "integer"
            }
          },
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "id": "doubleclicksearch.reports.getFile"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "revision": "20260304",
  "documentationLink": "https://developers.google.com/search-ads",
  "servicePath": "",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "protocol": "rest",
  "name": "doubleclicksearch",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "canonicalName": "Doubleclicksearch",
  "version": "v2",
  "ownerDomain": "google.com",
  "schemas": {
    "Availability": {
      "type": "object",
      "id": "Availability",
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "properties": {
        "advertiserId": {
          "type": "string",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64"
        },
        "agencyId": {
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "availabilityTimestamp": {
          "type": "string",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64"
        }
      }
    },
    "ReportRequest": {
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "reportType": {
          "type": "string",
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "columns": {
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "type": "array"
        },
        "startRow": {
          "type": "integer",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32"
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "rowCount": {
          "type": "integer",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32"
        },
        "timeRange": {
          "type": "object",
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "properties": {
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            }
          }
        },
        "filters": {
          "type": "array",
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "values": {
                "type": "array",
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "items": {
                  "type": "any"
                }
              },
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              }
            }
          }
        },
        "maxRowsPerFile": {
          "type": "integer",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32"
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "downloadFormat": {
          "type": "string",
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "reportScope": {
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "keywordId": {
              "description": "DS keyword ID.",
              "format": "int64",
              "type": "string"
            },
            "agencyId": {
              "type": "string",
              "description": "DS agency ID.",
              "format": "int64"
            },
            "engineAccountId": {
              "type": "string",
              "description": "DS engine account ID.",
              "format": "int64"
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "format": "int64",
              "type": "string"
            },
            "campaignId": {
              "description": "DS campaign ID.",
              "format": "int64",
              "type": "string"
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "type": "string",
              "description": "DS ad ID.",
              "format": "int64"
            }
          },
          "type": "object"
        },
        "statisticsCurrency": {
          "type": "string",
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        }
      },
      "id": "ReportRequest",
      "type": "object"
    },
    "ConversionList": {
      "type": "object",
      "id": "ConversionList",
      "description": "A list of conversions.",
      "properties": {
        "conversion": {
          "type": "array",
          "description": "The conversions being requested.",
          "items": {
            "$ref": "Conversion"
          }
        },
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        }
      }
    },
    "Report": {
      "type": "object",
      "id": "Report",
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "properties": {
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "files": {
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              },
              "byteCount": {
                "description": "The size of this report file in bytes.",
                "format": "int64",
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "rowCount": {
          "description": "The number of report rows generated by the report, not including headers.",
          "format": "int32",
          "type": "integer"
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "items": {
            "$ref": "ReportRow"
          },
          "type": "array"
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        }
      }
    },
    "ReportApiColumnSpec": {
      "type": "object",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "endDate": {
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`.",
          "type": "string"
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string"
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        },
        "groupByColumn": {
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`.",
          "type": "boolean"
        }
      },
      "id": "ReportApiColumnSpec"
    },
    "CustomMetric": {
      "type": "object",
      "description": "A message containing the custom metric.",
      "properties": {
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        },
        "value": {
          "description": "Custom metric numeric value.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "CustomMetric"
    },
    "IdMappingFile": {
      "id": "IdMappingFile",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "properties": {},
      "type": "object"
    },
    "UpdateAvailabilityResponse": {
      "id": "UpdateAvailabilityResponse",
      "description": "The response to a update availability request.",
      "properties": {
        "availabilities": {
          "description": "The availabilities being returned.",
          "items": {
            "$ref": "Availability"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SavedColumnList": {
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        },
        "items": {
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          },
          "type": "array"
        }
      },
      "id": "SavedColumnList",
      "type": "object"
    },
    "Conversion": {
      "type": "object",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "properties": {
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "quantityMillis": {
          "type": "string",
          "description": "The quantity of this conversion, in millis.",
          "format": "int64"
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "format": "int64",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "productGroupId": {
          "type": "string",
          "description": "DS product group ID.",
          "format": "int64"
        },
        "engineAccountId": {
          "type": "string",
          "description": "DS engine account ID.",
          "format": "int64"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "segmentationId": {
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64"
        },
        "agencyId": {
          "description": "DS agency ID.",
          "format": "int64",
          "type": "string"
        },
        "conversionId": {
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "customMetric": {
          "type": "array",
          "description": "Custom metrics for the conversion.",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "conversionModifiedTimestamp": {
          "type": "string",
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "format": "int64"
        },
        "adUserDataConsent": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty."
        },
        "customDimension": {
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          },
          "type": "array"
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "format": "int64",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "criterionId": {
          "type": "string",
          "description": "DS criterion (keyword) ID.",
          "format": "int64"
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "adId": {
          "type": "string",
          "description": "DS ad ID.",
          "format": "int64"
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "campaignId": {
          "description": "DS campaign ID.",
          "format": "int64",
          "type": "string"
        },
        "conversionTimestamp": {
          "type": "string",
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "dsConversionId": {
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64"
        },
        "adGroupId": {
          "type": "string",
          "description": "DS ad group ID.",
          "format": "int64"
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        }
      },
      "id": "Conversion"
    },
    "CustomDimension": {
      "id": "CustomDimension",
      "description": "A message containing the custom dimension.",
      "properties": {
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        },
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateAvailabilityRequest": {
      "type": "object",
      "id": "UpdateAvailabilityRequest",
      "description": "The request to update availability.",
      "properties": {
        "availabilities": {
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          },
          "type": "array"
        }
      }
    },
    "ReportRow": {
      "type": "object",
      "id": "ReportRow",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      },
      "description": "A row in a DoubleClick Search report."
    },
    "SavedColumn": {
      "id": "SavedColumn",
      "description": "A saved column",
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "id": "doubleclicksearch:v2",
  "basePath": "",
  "batchPath": "batch",
  "title": "Search Ads 360 API",
  "kind": "discovery#restDescription"
}