{
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "basePath": "/v2/",
  "resources": {
    "queries": {
      "resources": {
        "reports": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "queryId"
              ],
              "flatPath": "queries/{queryId}/reports",
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "format": "int32"
                },
                "queryId": {
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the query that generated the reports.",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists reports generated by the provided query.",
              "response": {
                "$ref": "ListReportsResponse"
              },
              "id": "doubleclickbidmanager.queries.reports.list",
              "path": "queries/{queryId}/reports"
            },
            "get": {
              "description": "Retrieves a report.",
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "parameters": {
                "reportId": {
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The ID of the query to retrieve.",
                  "type": "string"
                },
                "queryId": {
                  "format": "int64",
                  "description": "Required. The ID of the query that generated the report.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "queries/{queryId}/reports/{reportId}",
              "response": {
                "$ref": "Report"
              },
              "id": "doubleclickbidmanager.queries.reports.get",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "Query"
          },
          "flatPath": "queries",
          "parameters": {},
          "description": "Creates a new query.",
          "response": {
            "$ref": "Query"
          },
          "id": "doubleclickbidmanager.queries.create",
          "path": "queries"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "queryId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "response": {
            "$ref": "Query"
          },
          "id": "doubleclickbidmanager.queries.get",
          "path": "queries/{queryId}",
          "flatPath": "queries/{queryId}",
          "parameters": {
            "queryId": {
              "type": "string",
              "description": "Required. The ID of the query to retrieve.",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves a query."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists queries created by the current user.",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "format": "int32"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned."
            }
          },
          "flatPath": "queries",
          "path": "queries",
          "id": "doubleclickbidmanager.queries.list",
          "response": {
            "$ref": "ListQueriesResponse"
          }
        },
        "delete": {
          "id": "doubleclickbidmanager.queries.delete",
          "httpMethod": "DELETE",
          "path": "queries/{queryId}",
          "parameterOrder": [
            "queryId"
          ],
          "flatPath": "queries/{queryId}",
          "parameters": {
            "queryId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the query to delete.",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "description": "Deletes an existing query as well as its generated reports."
        },
        "run": {
          "id": "doubleclickbidmanager.queries.run",
          "response": {
            "$ref": "Report"
          },
          "path": "queries/{queryId}:run",
          "parameters": {
            "queryId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the query to run.",
              "type": "string"
            },
            "synchronous": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**."
            }
          },
          "flatPath": "queries/{queryId}:run",
          "description": "Runs an existing query to generate a report.",
          "httpMethod": "POST",
          "parameterOrder": [
            "queryId"
          ],
          "request": {
            "$ref": "RunQueryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ]
        }
      }
    }
  },
  "schemas": {
    "Query": {
      "description": "A single query used to generate a report.",
      "type": "object",
      "properties": {
        "queryId": {
          "description": "Output only. The unique ID of the query.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "metadata": {
          "$ref": "QueryMetadata",
          "description": "The metadata of the query."
        },
        "params": {
          "description": "The parameters of the report generated by the query.",
          "$ref": "Parameters"
        },
        "schedule": {
          "$ref": "QuerySchedule",
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called."
        }
      },
      "id": "Query"
    },
    "Options": {
      "id": "Options",
      "type": "object",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      },
      "description": "Report parameter options."
    },
    "ReportMetadata": {
      "id": "ReportMetadata",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "ReportStatus",
          "description": "The status of the report."
        },
        "reportDataEndDate": {
          "description": "The end date of the report data date range.",
          "$ref": "Date"
        },
        "reportDataStartDate": {
          "description": "The start date of the report data date range.",
          "$ref": "Date"
        },
        "googleCloudStoragePath": {
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The metadata of a report."
    },
    "QuerySchedule": {
      "id": "QuerySchedule",
      "type": "object",
      "properties": {
        "endDate": {
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "frequency": {
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "type": "string",
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called.",
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ]
        },
        "startDate": {
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "nextRunTimezoneCode": {
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`.",
          "type": "string"
        }
      },
      "description": "Settings on when and how frequently to run a query."
    },
    "QueryMetadata": {
      "id": "QueryMetadata",
      "type": "object",
      "properties": {
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        },
        "format": {
          "type": "string",
          "description": "The format of the report generated by the query.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        },
        "title": {
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query.",
          "type": "string"
        },
        "dataRange": {
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser.",
          "$ref": "DataRange"
        },
        "shareEmailAddress": {
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The metadata of the query."
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      }
    },
    "Parameters": {
      "type": "object",
      "properties": {
        "metrics": {
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "type": "string",
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ]
        },
        "groupBys": {
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "FilterPair"
          },
          "description": "Filters to limit the scope of reported data."
        },
        "options": {
          "$ref": "Options",
          "description": "Additional report parameter options."
        }
      },
      "description": "Parameters of a generated report.",
      "id": "Parameters"
    },
    "DataRange": {
      "id": "DataRange",
      "description": "The date range to be reported on.",
      "type": "object",
      "properties": {
        "range": {
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range.",
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "type": "string"
        },
        "customStartDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "customEndDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        }
      }
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results."
        },
        "reports": {
          "description": "The list of reports. This field will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        }
      }
    },
    "Report": {
      "description": "A single report generated by its parent report.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "ReportMetadata",
          "description": "The metadata of the report."
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report."
        },
        "key": {
          "$ref": "ReportKey",
          "description": "The key information identifying the report."
        }
      },
      "id": "Report"
    },
    "FilterPair": {
      "id": "FilterPair",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value.",
          "type": "string"
        },
        "value": {
          "description": "The identifying value to filter by, such as a relevant resource ID.",
          "type": "string"
        }
      },
      "description": "Represents a single filter rule."
    },
    "RunQueryRequest": {
      "type": "object",
      "properties": {
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used."
        }
      },
      "description": "Details specifying how to run a query.",
      "id": "RunQueryRequest"
    },
    "ReportKey": {
      "type": "object",
      "properties": {
        "reportId": {
          "description": "Output only. The unique ID of the report.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "queryId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the query that generated the report."
        }
      },
      "description": "Identifying information of a report.",
      "id": "ReportKey"
    },
    "ReportStatus": {
      "description": "The status of a report.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the report generation.",
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ],
          "readOnly": true
        },
        "format": {
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "type": "string",
          "description": "The format of the generated report file.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ]
        },
        "finishTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`."
        }
      },
      "id": "ReportStatus"
    },
    "ListQueriesResponse": {
      "type": "object",
      "properties": {
        "queries": {
          "description": "The list of queries. This field will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Query"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results."
        }
      },
      "id": "ListQueriesResponse"
    }
  },
  "version": "v2",
  "name": "doubleclickbidmanager",
  "batchPath": "batch",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "canonicalName": "DoubleClick Bid Manager",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "revision": "20260415",
  "title": "DoubleClick Bid Manager API",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/bid-manager/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "id": "doubleclickbidmanager:v2",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "v2/"
}