{
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "basePath": "/v2/",
  "id": "doubleclickbidmanager:v2",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v2",
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "name": "doubleclickbidmanager",
  "revision": "20260506",
  "title": "DoubleClick Bid Manager API",
  "servicePath": "v2/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "resources": {
    "queries": {
      "methods": {
        "get": {
          "path": "queries/{queryId}",
          "id": "doubleclickbidmanager.queries.get",
          "flatPath": "queries/{queryId}",
          "httpMethod": "GET",
          "parameters": {
            "queryId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the query to retrieve.",
              "location": "path"
            }
          },
          "description": "Retrieves a query.",
          "parameterOrder": [
            "queryId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "response": {
            "$ref": "Query"
          }
        },
        "run": {
          "id": "doubleclickbidmanager.queries.run",
          "flatPath": "queries/{queryId}:run",
          "httpMethod": "POST",
          "path": "queries/{queryId}:run",
          "parameters": {
            "queryId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Required. The ID of the query to run."
            },
            "synchronous": {
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**.",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Runs an existing query to generate a report.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "response": {
            "$ref": "Report"
          },
          "parameterOrder": [
            "queryId"
          ],
          "request": {
            "$ref": "RunQueryRequest"
          }
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "response": {
            "$ref": "Query"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "Query"
          },
          "id": "doubleclickbidmanager.queries.create",
          "flatPath": "queries",
          "httpMethod": "POST",
          "path": "queries",
          "parameters": {},
          "description": "Creates a new query."
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.delete",
          "flatPath": "queries/{queryId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "queryId"
          ],
          "path": "queries/{queryId}",
          "parameters": {
            "queryId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Required. The ID of the query to delete."
            }
          },
          "description": "Deletes an existing query as well as its generated reports."
        },
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "id": "doubleclickbidmanager.queries.list",
          "flatPath": "queries",
          "httpMethod": "GET",
          "path": "queries",
          "parameters": {
            "orderBy": {
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned."
            }
          },
          "description": "Lists queries created by the current user."
        }
      },
      "resources": {
        "reports": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListReportsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "parameterOrder": [
                "queryId"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned."
                },
                "orderBy": {
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`.",
                  "location": "query",
                  "type": "string"
                },
                "queryId": {
                  "description": "Required. The ID of the query that generated the reports.",
                  "type": "string",
                  "format": "int64",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Lists reports generated by the provided query.",
              "path": "queries/{queryId}/reports",
              "id": "doubleclickbidmanager.queries.reports.list",
              "flatPath": "queries/{queryId}/reports",
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "response": {
                "$ref": "Report"
              },
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "path": "queries/{queryId}/reports/{reportId}",
              "id": "doubleclickbidmanager.queries.reports.get",
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "httpMethod": "GET",
              "parameters": {
                "queryId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the query that generated the report."
                },
                "reportId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the query to retrieve."
                }
              },
              "description": "Retrieves a report."
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/bid-manager/",
  "canonicalName": "DoubleClick Bid Manager",
  "schemas": {
    "DataRange": {
      "description": "The date range to be reported on.",
      "id": "DataRange",
      "type": "object",
      "properties": {
        "customEndDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "customStartDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "range": {
          "type": "string",
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range.",
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ]
        }
      }
    },
    "Parameters": {
      "description": "Parameters of a generated report.",
      "id": "Parameters",
      "type": "object",
      "properties": {
        "groupBys": {
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "filters": {
          "description": "Filters to limit the scope of reported data.",
          "items": {
            "$ref": "FilterPair"
          },
          "type": "array"
        },
        "type": {
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ]
        },
        "metrics": {
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "options": {
          "description": "Additional report parameter options.",
          "$ref": "Options"
        }
      }
    },
    "ReportMetadata": {
      "description": "The metadata of a report.",
      "id": "ReportMetadata",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the report.",
          "$ref": "ReportStatus"
        },
        "reportDataEndDate": {
          "description": "The end date of the report data date range.",
          "$ref": "Date"
        },
        "reportDataStartDate": {
          "description": "The start date of the report data date range.",
          "$ref": "Date"
        },
        "googleCloudStoragePath": {
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Report": {
      "id": "Report",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "The metadata of the report.",
          "$ref": "ReportMetadata"
        },
        "params": {
          "description": "The parameters of the report.",
          "$ref": "Parameters"
        },
        "key": {
          "description": "The key information identifying the report.",
          "$ref": "ReportKey"
        }
      },
      "description": "A single report generated by its parent report."
    },
    "Options": {
      "id": "Options",
      "type": "object",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "type": "boolean",
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters."
        }
      },
      "description": "Report parameter options."
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "type": "object",
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "type": "array",
          "description": "The list of reports. This field will be absent if empty."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results."
        }
      }
    },
    "QuerySchedule": {
      "description": "Settings on when and how frequently to run a query.",
      "id": "QuerySchedule",
      "type": "object",
      "properties": {
        "endDate": {
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "frequency": {
          "type": "string",
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called."
        },
        "nextRunTimezoneCode": {
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`.",
          "type": "string"
        },
        "startDate": {
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        }
      }
    },
    "Query": {
      "id": "Query",
      "type": "object",
      "properties": {
        "queryId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the query."
        },
        "metadata": {
          "description": "The metadata of the query.",
          "$ref": "QueryMetadata"
        },
        "params": {
          "description": "The parameters of the report generated by the query.",
          "$ref": "Parameters"
        },
        "schedule": {
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called.",
          "$ref": "QuerySchedule"
        }
      },
      "description": "A single query used to generate a report."
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "type": "object",
      "properties": {
        "dataRange": {
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used.",
          "$ref": "DataRange"
        }
      },
      "description": "Details specifying how to run a query."
    },
    "FilterPair": {
      "id": "FilterPair",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value."
        },
        "value": {
          "description": "The identifying value to filter by, such as a relevant resource ID.",
          "type": "string"
        }
      },
      "description": "Represents a single filter rule."
    },
    "ReportKey": {
      "description": "Identifying information of a report.",
      "id": "ReportKey",
      "type": "object",
      "properties": {
        "queryId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the query that generated the report."
        },
        "reportId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the report."
        }
      }
    },
    "QueryMetadata": {
      "id": "QueryMetadata",
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "description": "The format of the report generated by the query.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        },
        "shareEmailAddress": {
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataRange": {
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser.",
          "$ref": "DataRange"
        },
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        },
        "title": {
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query.",
          "type": "string"
        }
      },
      "description": "The metadata of the query."
    },
    "ListQueriesResponse": {
      "id": "ListQueriesResponse",
      "type": "object",
      "properties": {
        "queries": {
          "type": "array",
          "items": {
            "$ref": "Query"
          },
          "description": "The list of queries. This field will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "ReportStatus": {
      "description": "The status of a report.",
      "id": "ReportStatus",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the report generation.",
          "type": "string",
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ],
          "readOnly": true
        },
        "format": {
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "The format of the generated report file.",
          "type": "string",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ]
        },
        "finishTime": {
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    }
  }
}