{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "name": "doubleclicksearch",
  "basePath": "",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "batchPath": "batch",
  "title": "Search Ads 360 API",
  "schemas": {
    "ReportRequest": {
      "id": "ReportRequest",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "rowCount": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "format": "int32"
        },
        "filters": {
          "type": "array",
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "items": {
            "properties": {
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "values": {
                "type": "array",
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "items": {
                  "type": "any"
                }
              },
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              }
            },
            "type": "object"
          }
        },
        "startRow": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "format": "int32"
        },
        "reportScope": {
          "type": "object",
          "properties": {
            "campaignId": {
              "description": "DS campaign ID.",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "format": "int64",
              "type": "string"
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "description": "DS ad ID.",
              "format": "int64",
              "type": "string"
            },
            "keywordId": {
              "type": "string",
              "description": "DS keyword ID.",
              "format": "int64"
            },
            "engineAccountId": {
              "description": "DS engine account ID.",
              "format": "int64",
              "type": "string"
            },
            "agencyId": {
              "description": "DS agency ID.",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required."
        },
        "reportType": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string",
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type."
        },
        "statisticsCurrency": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string",
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower)."
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "downloadFormat": {
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "timeRange": {
          "type": "object",
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "properties": {
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            }
          }
        },
        "maxRowsPerFile": {
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "integer"
        },
        "columns": {
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "type": "array"
        },
        "orderBy": {
          "type": "array",
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "properties": {
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              },
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              }
            },
            "type": "object"
          }
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ReportApiColumnSpec": {
      "type": "object",
      "id": "ReportApiColumnSpec",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string"
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "groupByColumn": {
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`.",
          "type": "boolean"
        },
        "endDate": {
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`.",
          "type": "string"
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        }
      }
    },
    "Conversion": {
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "properties": {
        "adId": {
          "type": "string",
          "description": "DS ad ID.",
          "format": "int64"
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "format": "int64",
          "type": "string"
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64",
          "type": "string"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "format": "int64",
          "type": "string"
        },
        "adGroupId": {
          "type": "string",
          "description": "DS ad group ID.",
          "format": "int64"
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "dsConversionId": {
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64"
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "engineAccountId": {
          "type": "string",
          "description": "DS engine account ID.",
          "format": "int64"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "inventoryAccountId": {
          "type": "string",
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "format": "int64"
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "format": "int64",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "conversionId": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions."
        },
        "conversionTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "The time at which the conversion took place, in epoch millis UTC."
        },
        "customDimension": {
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          },
          "type": "array"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "conversionModifiedTimestamp": {
          "type": "string",
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "format": "int64"
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "customMetric": {
          "type": "array",
          "description": "Custom metrics for the conversion.",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "adUserDataConsent": {
          "type": "string",
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ]
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "campaignId": {
          "description": "DS campaign ID.",
          "format": "int64",
          "type": "string"
        },
        "agencyId": {
          "description": "DS agency ID.",
          "format": "int64",
          "type": "string"
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`)."
        },
        "criterionId": {
          "type": "string",
          "description": "DS criterion (keyword) ID.",
          "format": "int64"
        },
        "quantityMillis": {
          "description": "The quantity of this conversion, in millis.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Availability": {
      "type": "object",
      "properties": {
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "availabilityTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "format": "int64"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`)."
        },
        "segmentationId": {
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64"
        },
        "agencyId": {
          "description": "DS agency ID.",
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        }
      },
      "id": "Availability",
      "description": "A message containing availability data relevant to DoubleClick Search."
    },
    "ConversionList": {
      "id": "ConversionList",
      "description": "A list of conversions.",
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "type": "array",
          "description": "The conversions being requested.",
          "items": {
            "$ref": "Conversion"
          }
        }
      },
      "type": "object"
    },
    "CustomMetric": {
      "properties": {
        "value": {
          "description": "Custom metric numeric value.",
          "format": "double",
          "type": "number"
        },
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        }
      },
      "id": "CustomMetric",
      "description": "A message containing the custom metric.",
      "type": "object"
    },
    "SavedColumnList": {
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          }
        }
      },
      "id": "SavedColumnList",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "type": "object"
    },
    "CustomDimension": {
      "type": "object",
      "id": "CustomDimension",
      "description": "A message containing the custom dimension.",
      "properties": {
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        },
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        }
      }
    },
    "UpdateAvailabilityRequest": {
      "type": "object",
      "id": "UpdateAvailabilityRequest",
      "description": "The request to update availability.",
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          }
        }
      }
    },
    "UpdateAvailabilityResponse": {
      "type": "object",
      "id": "UpdateAvailabilityResponse",
      "description": "The response to a update availability request.",
      "properties": {
        "availabilities": {
          "description": "The availabilities being returned.",
          "items": {
            "$ref": "Availability"
          },
          "type": "array"
        }
      }
    },
    "IdMappingFile": {
      "type": "object",
      "properties": {},
      "id": "IdMappingFile",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile."
    },
    "ReportRow": {
      "id": "ReportRow",
      "description": "A row in a DoubleClick Search report.",
      "type": "object",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      }
    },
    "Report": {
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "description": "Synchronous report only. Generated report rows.",
          "items": {
            "$ref": "ReportRow"
          }
        },
        "files": {
          "type": "array",
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "items": {
            "properties": {
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              },
              "byteCount": {
                "description": "The size of this report file in bytes.",
                "format": "int64",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "rowCount": {
          "type": "integer",
          "description": "The number of report rows generated by the report, not including headers.",
          "format": "int32"
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        }
      },
      "id": "Report",
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files."
    },
    "SavedColumn": {
      "type": "object",
      "id": "SavedColumn",
      "description": "A saved column",
      "properties": {
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        }
      }
    }
  },
  "servicePath": "",
  "canonicalName": "Doubleclicksearch",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "version": "v2",
  "revision": "20260407",
  "id": "doubleclicksearch:v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/search-ads",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "parameters": {
            "agencyId": {
              "description": "DS ID of the agency.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "advertiserId": {
              "location": "path",
              "type": "string",
              "description": "DS ID of the advertiser.",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "id": "doubleclicksearch.savedColumns.list",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "response": {
            "$ref": "SavedColumnList"
          },
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns"
        }
      }
    },
    "conversion": {
      "methods": {
        "updateAvailability": {
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "id": "doubleclicksearch.conversion.updateAvailability",
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {}
        },
        "get": {
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "parameters": {
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "adGroupId": {
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the ad group.",
              "format": "int64"
            },
            "criterionId": {
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the criterion.",
              "format": "int64"
            },
            "endDate": {
              "minimum": "20091101",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "format": "int32",
              "location": "query",
              "maximum": "99991231",
              "type": "integer"
            },
            "startRow": {
              "description": "The 0-based starting index for retrieving conversions results.",
              "required": true,
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "engineAccountId": {
              "location": "path",
              "type": "string",
              "description": "Numeric ID of the engine account.",
              "required": true,
              "format": "int64"
            },
            "adId": {
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the ad.",
              "format": "int64"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "rowCount": {
              "minimum": "1",
              "description": "The number of conversions to return per call.",
              "required": true,
              "format": "int32",
              "location": "query",
              "maximum": "1000",
              "type": "integer"
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "startDate": {
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "format": "int32",
              "maximum": "99991231",
              "type": "integer",
              "location": "query",
              "minimum": "20091101"
            }
          },
          "id": "doubleclicksearch.conversion.get",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "httpMethod": "GET",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion"
        },
        "update": {
          "parameters": {},
          "path": "doubleclicksearch/v2/conversion",
          "httpMethod": "PUT",
          "parameterOrder": [],
          "request": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.update",
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "response": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion"
        },
        "insert": {
          "id": "doubleclicksearch.conversion.insert",
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "path": "doubleclicksearch/v2/conversion",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "flatPath": "doubleclicksearch/v2/conversion",
          "response": {
            "$ref": "ConversionList"
          }
        },
        "getByCustomerId": {
          "response": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameters": {
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "startDate": {
              "minimum": "20091101",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "format": "int32",
              "location": "query",
              "maximum": "99991231",
              "type": "integer"
            },
            "customerId": {
              "location": "path",
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "required": true
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "campaignId": {
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the campaign.",
              "format": "int64"
            },
            "rowCount": {
              "description": "The number of conversions to return per call.",
              "required": true,
              "format": "int32",
              "maximum": "1000",
              "type": "integer",
              "location": "query",
              "minimum": "1"
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "criterionId": {
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the criterion.",
              "format": "int64"
            },
            "endDate": {
              "minimum": "20091101",
              "maximum": "99991231",
              "type": "integer",
              "location": "query",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "format": "int32"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "format": "int64"
            },
            "startRow": {
              "location": "query",
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "required": true,
              "format": "uint32"
            }
          },
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "httpMethod": "GET",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account."
        }
      }
    },
    "reports": {
      "methods": {
        "getFile": {
          "useMediaDownloadService": true,
          "id": "doubleclicksearch.reports.getFile",
          "description": "Downloads a report file encoded in UTF-8.",
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "httpMethod": "GET",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "reportId": {
              "description": "ID of the report.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "reportFragment": {
              "minimum": "0",
              "type": "integer",
              "location": "path",
              "description": "The index of the report fragment to download.",
              "required": true,
              "format": "int32"
            }
          },
          "supportsMediaDownload": true,
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}"
        },
        "get": {
          "response": {
            "$ref": "Report"
          },
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "parameters": {
            "reportId": {
              "description": "ID of the report request being polled.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "reportId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "id": "doubleclicksearch.reports.get",
          "description": "Polls for the status of a report request."
        },
        "request": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "ReportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports",
          "id": "doubleclicksearch.reports.request",
          "description": "Inserts a report request into the reporting system.",
          "parameters": {},
          "response": {
            "$ref": "Report"
          },
          "flatPath": "doubleclicksearch/v2/reports"
        },
        "generate": {
          "response": {
            "$ref": "Report"
          },
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "ReportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports/generate",
          "id": "doubleclicksearch.reports.generate",
          "description": "Generates and returns a report immediately.",
          "parameters": {}
        },
        "getIdMappingFile": {
          "parameters": {
            "agencyId": {
              "location": "path",
              "type": "string",
              "description": "Legacy SA360 agency ID.",
              "required": true,
              "format": "int64"
            },
            "advertiserId": {
              "type": "string",
              "location": "path",
              "description": "Legacy SA360 advertiser ID.",
              "required": true,
              "format": "int64"
            }
          },
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "response": {
            "$ref": "IdMappingFile"
          },
          "supportsMediaDownload": true
        }
      }
    }
  },
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/"
}