{
  "version": "v2",
  "documentationLink": "https://developers.google.com/search-ads",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "id": "doubleclicksearch:v2",
  "servicePath": "",
  "name": "doubleclicksearch",
  "discoveryVersion": "v1",
  "canonicalName": "Doubleclicksearch",
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameters": {
            "agencyId": {
              "type": "string",
              "required": true,
              "description": "DS ID of the agency.",
              "location": "path",
              "format": "int64"
            },
            "advertiserId": {
              "required": true,
              "type": "string",
              "description": "DS ID of the advertiser.",
              "location": "path",
              "format": "int64"
            }
          },
          "id": "doubleclicksearch.savedColumns.list",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "response": {
            "$ref": "SavedColumnList"
          },
          "description": "Retrieve the list of saved columns for a specified advertiser."
        }
      }
    },
    "reports": {
      "methods": {
        "getIdMappingFile": {
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "response": {
            "$ref": "IdMappingFile"
          },
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "useMediaDownloadService": true,
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameters": {
            "agencyId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Legacy SA360 agency ID.",
              "location": "path"
            },
            "advertiserId": {
              "required": true,
              "type": "string",
              "description": "Legacy SA360 advertiser ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "supportsMediaDownload": true,
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping"
        },
        "getFile": {
          "description": "Downloads a report file encoded in UTF-8.",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "id": "doubleclicksearch.reports.getFile",
          "useMediaDownloadService": true,
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameters": {
            "reportId": {
              "required": true,
              "description": "ID of the report.",
              "location": "path",
              "type": "string"
            },
            "reportFragment": {
              "minimum": "0",
              "type": "integer",
              "required": true,
              "description": "The index of the report fragment to download.",
              "location": "path",
              "format": "int32"
            }
          },
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}"
        },
        "generate": {
          "response": {
            "$ref": "Report"
          },
          "parameterOrder": [],
          "description": "Generates and returns a report immediately.",
          "request": {
            "$ref": "ReportRequest"
          },
          "path": "doubleclicksearch/v2/reports/generate",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "parameters": {},
          "id": "doubleclicksearch.reports.generate"
        },
        "get": {
          "description": "Polls for the status of a report request.",
          "response": {
            "$ref": "Report"
          },
          "parameterOrder": [
            "reportId"
          ],
          "id": "doubleclicksearch.reports.get",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "parameters": {
            "reportId": {
              "required": true,
              "type": "string",
              "description": "ID of the report request being polled.",
              "location": "path"
            }
          },
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "request": {
          "request": {
            "$ref": "ReportRequest"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "Report"
          },
          "description": "Inserts a report request into the reporting system.",
          "flatPath": "doubleclicksearch/v2/reports",
          "parameters": {},
          "id": "doubleclicksearch.reports.request",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports"
        }
      }
    },
    "conversion": {
      "methods": {
        "get": {
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameters": {
            "adId": {
              "description": "Numeric ID of the ad.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "criterionId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the criterion.",
              "location": "query"
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query",
              "type": "string"
            },
            "engineAccountId": {
              "type": "string",
              "required": true,
              "description": "Numeric ID of the engine account.",
              "location": "path",
              "format": "int64"
            },
            "rowCount": {
              "minimum": "1",
              "maximum": "1000",
              "type": "integer",
              "required": true,
              "format": "int32",
              "description": "The number of conversions to return per call.",
              "location": "query"
            },
            "endDate": {
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "format": "int32",
              "required": true,
              "minimum": "20091101",
              "maximum": "99991231",
              "type": "integer"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "startDate": {
              "required": true,
              "minimum": "20091101",
              "maximum": "99991231",
              "type": "integer",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "format": "int32"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "startRow": {
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "required": true
            },
            "advertiserId": {
              "required": true,
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "location": "path",
              "format": "int64"
            }
          },
          "id": "doubleclicksearch.conversion.get",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "getByCustomerId": {
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameters": {
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the campaign.",
              "location": "query"
            },
            "startRow": {
              "required": true,
              "type": "integer",
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "startDate": {
              "minimum": "20091101",
              "maximum": "99991231",
              "type": "integer",
              "required": true,
              "format": "int32",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query"
            },
            "endDate": {
              "format": "int32",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "minimum": "20091101",
              "maximum": "99991231",
              "type": "integer",
              "required": true
            },
            "rowCount": {
              "format": "int32",
              "description": "The number of conversions to return per call.",
              "location": "query",
              "required": true,
              "minimum": "1",
              "maximum": "1000",
              "type": "integer"
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "customerId": {
              "required": true,
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "path",
              "type": "string"
            },
            "criterionId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the criterion.",
              "location": "query"
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion"
        },
        "update": {
          "request": {
            "$ref": "ConversionList"
          },
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "id": "doubleclicksearch.conversion.update",
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "path": "doubleclicksearch/v2/conversion",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "updateAvailability": {
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "parameterOrder": [],
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "id": "doubleclicksearch.conversion.updateAvailability",
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "parameters": {}
        },
        "insert": {
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "id": "doubleclicksearch.conversion.insert",
          "path": "doubleclicksearch/v2/conversion",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ConversionList"
          },
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "description": "Inserts a batch of new conversions into DoubleClick Search."
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "protocol": "rest",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "revision": "20260422",
  "title": "Search Ads 360 API",
  "schemas": {
    "ConversionList": {
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The conversions being requested.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ConversionList",
      "description": "A list of conversions."
    },
    "IdMappingFile": {
      "id": "IdMappingFile",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "type": "object",
      "properties": {}
    },
    "SavedColumn": {
      "id": "SavedColumn",
      "description": "A saved column",
      "type": "object",
      "properties": {
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn."
        }
      }
    },
    "UpdateAvailabilityResponse": {
      "id": "UpdateAvailabilityResponse",
      "description": "The response to a update availability request.",
      "type": "object",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "type": "array",
          "description": "The availabilities being returned."
        }
      }
    },
    "UpdateAvailabilityRequest": {
      "id": "UpdateAvailabilityRequest",
      "description": "The request to update availability.",
      "type": "object",
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          }
        }
      }
    },
    "Report": {
      "type": "object",
      "id": "Report",
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "properties": {
        "rows": {
          "items": {
            "$ref": "ReportRow"
          },
          "description": "Synchronous report only. Generated report rows.",
          "type": "array"
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "files": {
          "type": "array",
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              },
              "byteCount": {
                "type": "string",
                "format": "int64",
                "description": "The size of this report file in bytes."
              }
            }
          }
        },
        "rowCount": {
          "description": "The number of report rows generated by the report, not including headers.",
          "type": "integer",
          "format": "int32"
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "request": {
          "$ref": "ReportRequest",
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values."
        }
      }
    },
    "CustomMetric": {
      "properties": {
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        },
        "value": {
          "description": "Custom metric numeric value.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "CustomMetric",
      "description": "A message containing the custom metric."
    },
    "CustomDimension": {
      "type": "object",
      "id": "CustomDimension",
      "description": "A message containing the custom dimension.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        },
        "value": {
          "type": "string",
          "description": "Custom dimension value."
        }
      }
    },
    "Availability": {
      "id": "Availability",
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "type": "object",
      "properties": {
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "type": "string",
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "agencyId": {
          "type": "string",
          "format": "int64",
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        }
      }
    },
    "SavedColumnList": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        },
        "items": {
          "items": {
            "$ref": "SavedColumn"
          },
          "description": "The saved columns being requested.",
          "type": "array"
        }
      },
      "id": "SavedColumnList",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "type": "object"
    },
    "ReportRow": {
      "id": "ReportRow",
      "description": "A row in a DoubleClick Search report.",
      "type": "object",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      }
    },
    "ReportRequest": {
      "id": "ReportRequest",
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object",
      "properties": {
        "filters": {
          "items": {
            "type": "object",
            "properties": {
              "operator": {
                "type": "string",
                "description": "Operator to use in the filter. See the filter reference for a list of available operators."
              },
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "values": {
                "items": {
                  "type": "any"
                },
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "type": "array"
              }
            }
          },
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "type": "array"
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "maxRowsPerFile": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "integer",
          "format": "int32",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive."
        },
        "includeRemovedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`."
        },
        "columns": {
          "type": "array",
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "items": {
            "$ref": "ReportApiColumnSpec"
          }
        },
        "reportScope": {
          "properties": {
            "keywordId": {
              "type": "string",
              "format": "int64",
              "description": "DS keyword ID."
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "type": "string",
              "format": "int64"
            },
            "adGroupId": {
              "type": "string",
              "format": "int64",
              "description": "DS ad group ID."
            },
            "adId": {
              "description": "DS ad ID.",
              "type": "string",
              "format": "int64"
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "description": "DS engine account ID."
            },
            "campaignId": {
              "type": "string",
              "format": "int64",
              "description": "DS campaign ID."
            },
            "agencyId": {
              "type": "string",
              "format": "int64",
              "description": "DS agency ID."
            }
          },
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "type": "object"
        },
        "startRow": {
          "type": "integer",
          "format": "int32",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              }
            }
          }
        },
        "reportType": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "type": "string"
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "rowCount": {
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "type": "integer",
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "downloadFormat": {
          "type": "string",
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "timeRange": {
          "type": "object",
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "properties": {
            "changedMetricsSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work."
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            }
          }
        }
      }
    },
    "ReportApiColumnSpec": {
      "id": "ReportApiColumnSpec",
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object",
      "properties": {
        "productReportPerspective": {
          "type": "string",
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold "
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "columnName": {
          "type": "string",
          "description": "Name of a DoubleClick Search column to include in the report."
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\"."
        },
        "endDate": {
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`.",
          "type": "string"
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        }
      }
    },
    "Conversion": {
      "properties": {
        "segmentationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "storeId": {
          "type": "string",
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\"."
        },
        "agencyId": {
          "description": "DS agency ID.",
          "type": "string",
          "format": "int64"
        },
        "adGroupId": {
          "type": "string",
          "format": "int64",
          "description": "DS ad group ID."
        },
        "dsConversionId": {
          "description": "ID that DoubleClick Search generates for each conversion.",
          "type": "string",
          "format": "int64"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "type": "string",
          "format": "int64"
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "type": "string",
          "format": "int64"
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "inventoryAccountId": {
          "type": "string",
          "format": "int64",
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product."
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "conversionTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "type": "string"
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "adUserDataConsent": {
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty."
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "conversionModifiedTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the conversion was last modified, in epoch millis UTC."
        },
        "channel": {
          "type": "string",
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store "
        },
        "customDimension": {
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "type": "array",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "quantityMillis": {
          "description": "The quantity of this conversion, in millis.",
          "type": "string",
          "format": "int64"
        },
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion.",
          "type": "array"
        },
        "campaignId": {
          "description": "DS campaign ID.",
          "type": "string",
          "format": "int64"
        },
        "countMillis": {
          "type": "string",
          "format": "int64",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "engineAccountId": {
          "type": "string",
          "format": "int64",
          "description": "DS engine account ID."
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`)."
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "criterionId": {
          "type": "string",
          "format": "int64",
          "description": "DS criterion (keyword) ID."
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format."
        },
        "adId": {
          "description": "DS ad ID.",
          "type": "string",
          "format": "int64"
        },
        "conversionId": {
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        }
      },
      "type": "object",
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33"
    }
  },
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription"
}