{
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "basePath": "/v2/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/bid-manager/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "doubleclickbidmanager",
  "title": "DoubleClick Bid Manager API",
  "servicePath": "v2/",
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "schemas": {
    "Options": {
      "id": "Options",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      },
      "description": "Report parameter options.",
      "type": "object"
    },
    "ListQueriesResponse": {
      "id": "ListQueriesResponse",
      "properties": {
        "queries": {
          "description": "The list of queries. This field will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Query"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "QuerySchedule": {
      "description": "Settings on when and how frequently to run a query.",
      "type": "object",
      "id": "QuerySchedule",
      "properties": {
        "startDate": {
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "frequency": {
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called.",
          "type": "string",
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ]
        },
        "nextRunTimezoneCode": {
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`.",
          "type": "string"
        }
      }
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "description": "The list of reports. This field will be absent if empty.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Query": {
      "description": "A single query used to generate a report.",
      "type": "object",
      "id": "Query",
      "properties": {
        "params": {
          "description": "The parameters of the report generated by the query.",
          "$ref": "Parameters"
        },
        "metadata": {
          "description": "The metadata of the query.",
          "$ref": "QueryMetadata"
        },
        "schedule": {
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called.",
          "$ref": "QuerySchedule"
        },
        "queryId": {
          "description": "Output only. The unique ID of the query.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "properties": {
        "dataRange": {
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used.",
          "$ref": "DataRange"
        }
      },
      "description": "Details specifying how to run a query.",
      "type": "object"
    },
    "ReportMetadata": {
      "id": "ReportMetadata",
      "properties": {
        "status": {
          "description": "The status of the report.",
          "$ref": "ReportStatus"
        },
        "reportDataStartDate": {
          "description": "The start date of the report data date range.",
          "$ref": "Date"
        },
        "reportDataEndDate": {
          "description": "The end date of the report data date range.",
          "$ref": "Date"
        },
        "googleCloudStoragePath": {
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The metadata of a report.",
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "Parameters": {
      "description": "Parameters of a generated report.",
      "type": "object",
      "id": "Parameters",
      "properties": {
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "type": "array"
        },
        "type": {
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ],
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ]
        },
        "filters": {
          "items": {
            "$ref": "FilterPair"
          },
          "description": "Filters to limit the scope of reported data.",
          "type": "array"
        },
        "options": {
          "description": "Additional report parameter options.",
          "$ref": "Options"
        },
        "groupBys": {
          "items": {
            "type": "string"
          },
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values.",
          "type": "array"
        }
      }
    },
    "Report": {
      "id": "Report",
      "properties": {
        "params": {
          "description": "The parameters of the report.",
          "$ref": "Parameters"
        },
        "metadata": {
          "description": "The metadata of the report.",
          "$ref": "ReportMetadata"
        },
        "key": {
          "description": "The key information identifying the report.",
          "$ref": "ReportKey"
        }
      },
      "description": "A single report generated by its parent report.",
      "type": "object"
    },
    "DataRange": {
      "id": "DataRange",
      "properties": {
        "customStartDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "customEndDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "range": {
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range.",
          "type": "string"
        }
      },
      "description": "The date range to be reported on.",
      "type": "object"
    },
    "FilterPair": {
      "description": "Represents a single filter rule.",
      "type": "object",
      "id": "FilterPair",
      "properties": {
        "type": {
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value.",
          "type": "string"
        },
        "value": {
          "description": "The identifying value to filter by, such as a relevant resource ID.",
          "type": "string"
        }
      }
    },
    "ReportKey": {
      "description": "Identifying information of a report.",
      "type": "object",
      "id": "ReportKey",
      "properties": {
        "reportId": {
          "description": "Output only. The unique ID of the report.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "queryId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the query that generated the report.",
          "type": "string"
        }
      }
    },
    "QueryMetadata": {
      "id": "QueryMetadata",
      "properties": {
        "shareEmailAddress": {
          "items": {
            "type": "string"
          },
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface.",
          "type": "array"
        },
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        },
        "format": {
          "description": "The format of the report generated by the query.",
          "type": "string",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        },
        "dataRange": {
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser.",
          "$ref": "DataRange"
        },
        "title": {
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query.",
          "type": "string"
        }
      },
      "description": "The metadata of the query.",
      "type": "object"
    },
    "ReportStatus": {
      "id": "ReportStatus",
      "properties": {
        "finishTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the report generation.",
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ]
        },
        "format": {
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "The format of the generated report file.",
          "type": "string"
        }
      },
      "description": "The status of a report.",
      "type": "object"
    }
  },
  "revision": "20260408",
  "version": "v2",
  "resources": {
    "queries": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "flatPath": "queries/{queryId}",
          "parameters": {
            "queryId": {
              "description": "Required. The ID of the query to retrieve.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Query"
          },
          "path": "queries/{queryId}",
          "parameterOrder": [
            "queryId"
          ],
          "id": "doubleclickbidmanager.queries.get",
          "httpMethod": "GET",
          "description": "Retrieves a query."
        },
        "delete": {
          "id": "doubleclickbidmanager.queries.delete",
          "flatPath": "queries/{queryId}",
          "httpMethod": "DELETE",
          "parameters": {
            "queryId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the query to delete.",
              "location": "path"
            }
          },
          "description": "Deletes an existing query as well as its generated reports.",
          "parameterOrder": [
            "queryId"
          ],
          "path": "queries/{queryId}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ]
        },
        "create": {
          "parameterOrder": [],
          "id": "doubleclickbidmanager.queries.create",
          "httpMethod": "POST",
          "description": "Creates a new query.",
          "response": {
            "$ref": "Query"
          },
          "path": "queries",
          "flatPath": "queries",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "request": {
            "$ref": "Query"
          }
        },
        "list": {
          "flatPath": "queries",
          "parameters": {
            "pageSize": {
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [],
          "description": "Lists queries created by the current user.",
          "id": "doubleclickbidmanager.queries.list",
          "httpMethod": "GET",
          "path": "queries",
          "response": {
            "$ref": "ListQueriesResponse"
          }
        },
        "run": {
          "id": "doubleclickbidmanager.queries.run",
          "httpMethod": "POST",
          "description": "Runs an existing query to generate a report.",
          "parameterOrder": [
            "queryId"
          ],
          "response": {
            "$ref": "Report"
          },
          "path": "queries/{queryId}:run",
          "flatPath": "queries/{queryId}:run",
          "parameters": {
            "queryId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the query to run.",
              "location": "path"
            },
            "synchronous": {
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**.",
              "location": "query",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "request": {
            "$ref": "RunQueryRequest"
          }
        }
      },
      "resources": {
        "reports": {
          "methods": {
            "get": {
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "description": "Retrieves a report.",
              "id": "doubleclickbidmanager.queries.reports.get",
              "httpMethod": "GET",
              "path": "queries/{queryId}/reports/{reportId}",
              "response": {
                "$ref": "Report"
              },
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "parameters": {
                "reportId": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the query to retrieve.",
                  "location": "path"
                },
                "queryId": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the query that generated the report.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "flatPath": "queries/{queryId}/reports",
              "parameters": {
                "pageToken": {
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`.",
                  "location": "query",
                  "type": "string"
                },
                "queryId": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the query that generated the reports.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "queries/{queryId}/reports",
              "response": {
                "$ref": "ListReportsResponse"
              },
              "description": "Lists reports generated by the provided query.",
              "id": "doubleclickbidmanager.queries.reports.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "queryId"
              ]
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "canonicalName": "DoubleClick Bid Manager",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "id": "doubleclickbidmanager:v2"
}