{
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "kind": "discovery#restDescription",
  "basePath": "",
  "revision": "20260415",
  "title": "Search Ads 360 API",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "batchPath": "batch",
  "canonicalName": "Doubleclicksearch",
  "protocol": "rest",
  "schemas": {
    "SavedColumnList": {
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "id": "SavedColumnList",
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "SavedColumn"
          },
          "description": "The saved columns being requested."
        }
      },
      "type": "object"
    },
    "ReportRequest": {
      "type": "object",
      "id": "ReportRequest",
      "properties": {
        "maxRowsPerFile": {
          "type": "integer",
          "format": "int32",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "columns": {
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "type": "array"
        },
        "orderBy": {
          "items": {
            "type": "object",
            "properties": {
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              },
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              }
            }
          },
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "type": "array"
        },
        "filters": {
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "values": {
                "items": {
                  "type": "any"
                },
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "type": "array"
              }
            }
          },
          "type": "array"
        },
        "rowCount": {
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "format": "int32"
        },
        "reportType": {
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "downloadFormat": {
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "startRow": {
          "type": "integer",
          "format": "int32",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "timeRange": {
          "properties": {
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range."
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "reportScope": {
          "type": "object",
          "properties": {
            "adId": {
              "description": "DS ad ID.",
              "type": "string",
              "format": "int64"
            },
            "keywordId": {
              "description": "DS keyword ID.",
              "type": "string",
              "format": "int64"
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "type": "string",
              "format": "int64"
            },
            "engineAccountId": {
              "description": "DS engine account ID.",
              "type": "string",
              "format": "int64"
            },
            "agencyId": {
              "description": "DS agency ID.",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "description": "DS campaign ID.",
              "type": "string",
              "format": "int64"
            },
            "adGroupId": {
              "type": "string",
              "format": "int64",
              "description": "DS ad group ID."
            }
          },
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required."
        }
      },
      "description": "A request object used to create a DoubleClick Search report."
    },
    "ReportRow": {
      "id": "ReportRow",
      "type": "object",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      },
      "description": "A row in a DoubleClick Search report."
    },
    "ConversionList": {
      "type": "object",
      "id": "ConversionList",
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The conversions being requested.",
          "type": "array"
        }
      },
      "description": "A list of conversions."
    },
    "CustomMetric": {
      "description": "A message containing the custom metric.",
      "id": "CustomMetric",
      "properties": {
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Custom metric numeric value."
        }
      },
      "type": "object"
    },
    "SavedColumn": {
      "description": "A saved column",
      "id": "SavedColumn",
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateAvailabilityResponse": {
      "id": "UpdateAvailabilityResponse",
      "properties": {
        "availabilities": {
          "description": "The availabilities being returned.",
          "items": {
            "$ref": "Availability"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response to a update availability request."
    },
    "IdMappingFile": {
      "type": "object",
      "id": "IdMappingFile",
      "properties": {},
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile."
    },
    "UpdateAvailabilityRequest": {
      "id": "UpdateAvailabilityRequest",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being requested.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The request to update availability."
    },
    "Availability": {
      "id": "Availability",
      "properties": {
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "format": "int64"
        },
        "segmentationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "format": "int64"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "agencyId": {
          "type": "string",
          "format": "int64",
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        }
      },
      "type": "object",
      "description": "A message containing availability data relevant to DoubleClick Search."
    },
    "Conversion": {
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "id": "Conversion",
      "properties": {
        "adId": {
          "type": "string",
          "format": "int64",
          "description": "DS ad ID."
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "adGroupId": {
          "type": "string",
          "format": "int64",
          "description": "DS ad group ID."
        },
        "adUserDataConsent": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ]
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "conversionModifiedTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the conversion was last modified, in epoch millis UTC."
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "conversionId": {
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "criterionId": {
          "description": "DS criterion (keyword) ID.",
          "type": "string",
          "format": "int64"
        },
        "dsConversionId": {
          "type": "string",
          "format": "int64",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "segmentationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "DS campaign ID."
        },
        "customDimension": {
          "type": "array",
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "customMetric": {
          "type": "array",
          "description": "Custom metrics for the conversion.",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "type": "string",
          "format": "int64"
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "conversionTimestamp": {
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "quantityMillis": {
          "description": "The quantity of this conversion, in millis.",
          "type": "string",
          "format": "int64"
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string",
          "format": "int64"
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "type": "string",
          "format": "int64"
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "agencyId": {
          "type": "string",
          "format": "int64",
          "description": "DS agency ID."
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "type": "string",
          "format": "int64"
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportApiColumnSpec": {
      "type": "object",
      "id": "ReportApiColumnSpec",
      "properties": {
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "endDate": {
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`.",
          "type": "string"
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "groupByColumn": {
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`.",
          "type": "boolean"
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string"
        }
      },
      "description": "A request object used to create a DoubleClick Search report."
    },
    "CustomDimension": {
      "type": "object",
      "id": "CustomDimension",
      "properties": {
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        },
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        }
      },
      "description": "A message containing the custom dimension."
    },
    "Report": {
      "type": "object",
      "id": "Report",
      "properties": {
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "rowCount": {
          "description": "The number of report rows generated by the report, not including headers.",
          "type": "integer",
          "format": "int32"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "ReportRow"
          },
          "description": "Synchronous report only. Generated report rows."
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "files": {
          "type": "array",
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              },
              "byteCount": {
                "description": "The size of this report file in bytes.",
                "type": "string",
                "format": "int64"
              }
            }
          }
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        }
      },
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files."
    }
  },
  "documentationLink": "https://developers.google.com/search-ads",
  "name": "doubleclicksearch",
  "id": "doubleclicksearch:v2",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "id": "doubleclicksearch.savedColumns.list",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameters": {
            "agencyId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "DS ID of the agency."
            },
            "advertiserId": {
              "description": "DS ID of the advertiser.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "SavedColumnList"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "httpMethod": "GET"
        }
      }
    },
    "conversion": {
      "methods": {
        "getByCustomerId": {
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "parameters": {
            "adGroupId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the ad group."
            },
            "rowCount": {
              "description": "The number of conversions to return per call.",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "required": true,
              "maximum": "1000",
              "minimum": "1"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "customerId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the advertiser."
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "campaignId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the campaign."
            },
            "startRow": {
              "description": "The 0-based starting index for retrieving conversions results.",
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "required": true
            },
            "endDate": {
              "required": true,
              "minimum": "20091101",
              "maximum": "99991231",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the engine account."
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "startDate": {
              "minimum": "20091101",
              "maximum": "99991231",
              "required": true,
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd."
            }
          },
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "httpMethod": "GET"
        },
        "insert": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "httpMethod": "POST",
          "request": {
            "$ref": "ConversionList"
          },
          "path": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.insert",
          "flatPath": "doubleclicksearch/v2/conversion"
        },
        "get": {
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "id": "doubleclicksearch.conversion.get",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameters": {
            "engineAccountId": {
              "required": true,
              "description": "Numeric ID of the engine account.",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "criterionId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the criterion."
            },
            "startDate": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101",
              "maximum": "99991231",
              "required": true
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "startRow": {
              "required": true,
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "The 0-based starting index for retrieving conversions results."
            },
            "endDate": {
              "maximum": "99991231",
              "minimum": "20091101",
              "required": true,
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd."
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "adGroupId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the ad group."
            },
            "rowCount": {
              "required": true,
              "maximum": "1000",
              "minimum": "1",
              "description": "The number of conversions to return per call.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "httpMethod": "GET"
        },
        "updateAvailability": {
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "id": "doubleclicksearch.conversion.updateAvailability",
          "parameters": {},
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "httpMethod": "POST"
        },
        "update": {
          "path": "doubleclicksearch/v2/conversion",
          "request": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion",
          "id": "doubleclicksearch.conversion.update",
          "parameters": {},
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "httpMethod": "PUT"
        }
      }
    },
    "reports": {
      "methods": {
        "get": {
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "id": "doubleclicksearch.reports.get",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "parameters": {
            "reportId": {
              "description": "ID of the report request being polled.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Report"
          },
          "parameterOrder": [
            "reportId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Polls for the status of a report request.",
          "httpMethod": "GET"
        },
        "generate": {
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "id": "doubleclicksearch.reports.generate",
          "parameters": {},
          "response": {
            "$ref": "Report"
          },
          "path": "doubleclicksearch/v2/reports/generate",
          "request": {
            "$ref": "ReportRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Generates and returns a report immediately."
        },
        "request": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Inserts a report request into the reporting system.",
          "parameters": {},
          "response": {
            "$ref": "Report"
          },
          "flatPath": "doubleclicksearch/v2/reports",
          "id": "doubleclicksearch.reports.request",
          "request": {
            "$ref": "ReportRequest"
          },
          "path": "doubleclicksearch/v2/reports"
        },
        "getFile": {
          "httpMethod": "GET",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Downloads a report file encoded in UTF-8.",
          "id": "doubleclicksearch.reports.getFile",
          "useMediaDownloadService": true,
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameters": {
            "reportFragment": {
              "location": "path",
              "type": "integer",
              "format": "int32",
              "description": "The index of the report fragment to download.",
              "minimum": "0",
              "required": true
            },
            "reportId": {
              "type": "string",
              "location": "path",
              "description": "ID of the report.",
              "required": true
            }
          },
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "supportsMediaDownload": true
        },
        "getIdMappingFile": {
          "supportsMediaDownload": true,
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameters": {
            "agencyId": {
              "required": true,
              "description": "Legacy SA360 agency ID.",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "advertiserId": {
              "description": "Legacy SA360 advertiser ID.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "IdMappingFile"
          },
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "useMediaDownloadService": true,
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "httpMethod": "GET"
        }
      }
    }
  },
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "version": "v2",
  "servicePath": "",
  "ownerName": "Google"
}