{
  "revision": "20260427",
  "batchPath": "batch/drive/v2",
  "id": "drive:v2",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "version": "v2",
  "title": "Google Drive API",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "files": {
      "methods": {
        "generateCseToken": {
          "parameters": {
            "fileId": {
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "location": "query"
            }
          },
          "path": "files/generateCseToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "files/generateCseToken",
          "parameterOrder": [],
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "id": "drive.files.generateCseToken",
          "httpMethod": "GET"
        },
        "emptyTrash": {
          "id": "drive.files.emptyTrash",
          "flatPath": "files/trash",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "files/trash",
          "description": "Permanently deletes all of the user's trashed files.",
          "parameters": {
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "driveId": {
              "type": "string",
              "description": "If set, empties the trash of the provided shared drive.",
              "location": "query"
            }
          },
          "parameterOrder": []
        },
        "update": {
          "flatPath": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "path": "files/{fileId}",
          "supportsMediaUpload": true,
          "parameters": {
            "modifiedDateBehavior": {
              "type": "string",
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "location": "query",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ]
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file to update.",
              "location": "path"
            },
            "removeParents": {
              "type": "string",
              "description": "Comma-separated list of parent IDs to remove.",
              "location": "query"
            },
            "convert": {
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "default": "false",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to use the content as indexable text.",
              "location": "query"
            },
            "pinned": {
              "default": "false",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
              "location": "query",
              "type": "boolean"
            },
            "newRevision": {
              "type": "boolean",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045).",
              "location": "query",
              "default": "true"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "setModifiedDate": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "location": "query"
            },
            "ocr": {
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query",
              "default": "false"
            },
            "updateViewedDate": {
              "type": "boolean",
              "default": "true",
              "description": "Whether to update the view date after successfully updating the file.",
              "location": "query"
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query",
              "type": "string"
            },
            "addParents": {
              "description": "Comma-separated list of parent IDs to add.",
              "location": "query",
              "type": "string"
            },
            "timedTextLanguage": {
              "type": "string",
              "description": "The language of the timed text.",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            }
          },
          "id": "drive.files.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "File"
          },
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/drive/v2/files/{fileId}",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files/{fileId}"
              }
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          }
        },
        "insert": {
          "parameterOrder": [],
          "response": {
            "$ref": "File"
          },
          "mediaUpload": {
            "maxSize": "5497558138880",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files"
              },
              "simple": {
                "path": "/upload/drive/v2/files",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "request": {
            "$ref": "File"
          },
          "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "id": "drive.files.insert",
          "httpMethod": "POST",
          "parameters": {
            "ocrLanguage": {
              "type": "string",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query"
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "location": "query",
              "type": "string"
            },
            "pinned": {
              "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true
            },
            "convert": {
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "location": "query",
              "deprecated": true
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to use the content as indexable text.",
              "location": "query"
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "location": "query",
              "type": "string"
            },
            "visibility": {
              "type": "string",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when `convert=false`.",
              "location": "query",
              "default": "DEFAULT"
            }
          },
          "supportsMediaUpload": true,
          "path": "files",
          "flatPath": "files",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "path": "files/{fileId}",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}",
          "parameters": {
            "projection": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "deprecated": true,
              "type": "string"
            },
            "updateViewedDate": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "location": "query",
              "deprecated": true
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "revisionId": {
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "description": "The ID for the file in question.",
              "location": "path",
              "required": true
            },
            "acknowledgeAbuse": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true
            }
          },
          "supportsMediaDownload": true,
          "supportsSubscription": true,
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "id": "drive.files.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          }
        },
        "trash": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "id": "drive.files.trash",
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file to trash.",
              "location": "path",
              "required": true
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            }
          },
          "path": "files/{fileId}/trash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/trash"
        },
        "delete": {
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "location": "query",
              "deprecated": true
            },
            "fileId": {
              "description": "The ID of the file to delete.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "id": "drive.files.delete",
          "flatPath": "files/{fileId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "patch": {
          "parameters": {
            "modifiedDateBehavior": {
              "type": "string",
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "location": "query"
            },
            "timedTextTrackName": {
              "type": "string",
              "description": "The timed text track name.",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file to update.",
              "location": "path",
              "type": "string"
            },
            "removeParents": {
              "type": "string",
              "description": "Comma-separated list of parent IDs to remove.",
              "location": "query"
            },
            "convert": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "deprecated": true
            },
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "description": "Whether to use the content as indexable text.",
              "location": "query",
              "default": "false"
            },
            "newRevision": {
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request.",
              "location": "query",
              "default": "true",
              "type": "boolean"
            },
            "pinned": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request.",
              "location": "query"
            },
            "setModifiedDate": {
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "updateViewedDate": {
              "type": "boolean",
              "description": "Whether to update the view date after successfully updating the file.",
              "location": "query",
              "default": "true"
            },
            "ocrLanguage": {
              "type": "string",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query"
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "location": "query",
              "type": "string"
            },
            "addParents": {
              "type": "string",
              "description": "Comma-separated list of parent IDs to add.",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "files/{fileId}",
          "flatPath": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "request": {
            "$ref": "File"
          },
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "id": "drive.files.patch",
          "httpMethod": "PATCH"
        },
        "watch": {
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID for the file in question.",
              "location": "path"
            },
            "revisionId": {
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "updateViewedDate": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
              "location": "query",
              "deprecated": true
            },
            "projection": {
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "deprecated": true,
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "type": "string"
            }
          },
          "supportsSubscription": true,
          "path": "files/{fileId}/watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/watch",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "Channel"
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "description": "Subscribes to changes to a file.",
          "id": "drive.files.watch",
          "httpMethod": "POST"
        },
        "copy": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.copy",
          "httpMethod": "POST",
          "request": {
            "$ref": "File"
          },
          "description": "Creates a copy of the specified file.",
          "parameters": {
            "convert": {
              "default": "false",
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "location": "query",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "timedTextTrackName": {
              "type": "string",
              "description": "The timed text track name.",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file to copy.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "visibility": {
              "type": "string",
              "default": "DEFAULT",
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`.",
              "location": "query",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ]
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "ocrLanguage": {
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query",
              "type": "string"
            },
            "timedTextLanguage": {
              "type": "string",
              "description": "The language of the timed text.",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "pinned": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "flatPath": "files/{fileId}/copy",
          "path": "files/{fileId}/copy"
        },
        "export": {
          "id": "drive.files.export",
          "httpMethod": "GET",
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "flatPath": "files/{fileId}/export",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/export",
          "supportsMediaDownload": true,
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "mimeType": {
              "required": true,
              "description": "Required. The MIME type of the format requested for this export.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "touch": {
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file to update.",
              "location": "path"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/touch",
          "flatPath": "files/{fileId}/touch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "description": "Set the file's updated time to the current server time.",
          "id": "drive.files.touch",
          "httpMethod": "POST"
        },
        "untrash": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "id": "drive.files.untrash",
          "httpMethod": "POST",
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file to untrash.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "files/{fileId}/untrash",
          "flatPath": "files/{fileId}/untrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "modifyLabels": {
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.",
          "id": "drive.files.modifyLabels",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "path": "files/{fileId}/modifyLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/modifyLabels",
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file to which the labels belong.",
              "location": "path"
            }
          }
        },
        "list": {
          "parameters": {
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true,
              "type": "string"
            },
            "driveId": {
              "description": "ID of the shared drive to search.",
              "location": "query",
              "type": "string"
            },
            "includeTeamDriveItems": {
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "includeItemsFromAllDrives": {
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query",
              "default": "false"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "corpus": {
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "location": "query",
              "deprecated": true,
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ],
              "type": "string"
            },
            "corpora": {
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "location": "query"
            },
            "q": {
              "type": "string",
              "description": "Query string for searching files.",
              "location": "query"
            },
            "projection": {
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "deprecated": true,
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "type": "string"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "pageToken": {
              "description": "Page token for files.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "default": "100",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "location": "query",
              "minimum": "0"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files",
          "path": "files",
          "parameterOrder": [],
          "response": {
            "$ref": "FileList"
          },
          "id": "drive.files.list",
          "httpMethod": "GET",
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results."
        },
        "generateIds": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/generateIds",
          "path": "files/generateIds",
          "parameters": {
            "maxResults": {
              "maximum": "1000",
              "minimum": "1",
              "default": "10",
              "description": "Maximum number of IDs to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "space": {
              "type": "string",
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)",
              "location": "query",
              "default": "drive"
            },
            "type": {
              "type": "string",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)",
              "location": "query",
              "default": "files"
            }
          },
          "id": "drive.files.generateIds",
          "httpMethod": "GET",
          "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
          "parameterOrder": [],
          "response": {
            "$ref": "GeneratedIds"
          }
        },
        "listLabels": {
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID for the file.",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "default": "100",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "location": "query",
              "maximum": "100",
              "minimum": "1"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query"
            }
          },
          "path": "files/{fileId}/listLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/listLabels",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "LabelList"
          },
          "description": "Lists the labels on a file.",
          "id": "drive.files.listLabels",
          "httpMethod": "GET"
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Deletes a comment.",
          "path": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.comments.delete",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "DELETE"
        },
        "insert": {
          "path": "files/{fileId}/comments",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "description": "Creates a new comment on the given file.",
          "id": "drive.comments.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "Comment"
          }
        },
        "list": {
          "parameters": {
            "includeDeleted": {
              "type": "boolean",
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
              "location": "query",
              "default": "false"
            },
            "updatedMin": {
              "type": "string",
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
              "location": "query"
            },
            "maxResults": {
              "default": "20",
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "location": "query",
              "maximum": "100",
              "minimum": "0",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments",
          "path": "files/{fileId}/comments",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "CommentList"
          },
          "id": "drive.comments.list",
          "httpMethod": "GET",
          "description": "Lists a file's comments."
        },
        "patch": {
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "description": "Updates an existing comment.",
          "id": "drive.comments.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments/{commentId}",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "update": {
          "path": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "description": "Updates an existing comment.",
          "id": "drive.comments.update",
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "Comment"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "path": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "default": "false",
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
              "location": "query",
              "type": "boolean"
            },
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "drive.comments.get",
          "httpMethod": "GET",
          "description": "Gets a comment by ID.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "Comment"
          }
        }
      }
    },
    "replies": {
      "methods": {
        "delete": {
          "id": "drive.replies.delete",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Deletes a reply.",
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "replyId": {
              "type": "string",
              "description": "The ID of the reply.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ]
        },
        "get": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "description": "Gets a reply.",
          "id": "drive.replies.get",
          "httpMethod": "GET",
          "parameters": {
            "commentId": {
              "type": "string",
              "description": "The ID of the comment.",
              "location": "path",
              "required": true
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "replyId": {
              "description": "The ID of the reply.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "type": "boolean",
              "default": "false",
              "description": "If set, this will succeed when retrieving a deleted reply.",
              "location": "query"
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "patch": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "id": "drive.replies.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CommentReply"
          },
          "description": "Updates an existing reply.",
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "replyId": {
              "type": "string",
              "description": "The ID of the reply.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "update": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "id": "drive.replies.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "CommentReply"
          },
          "description": "Updates an existing reply.",
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "replyId": {
              "type": "string",
              "required": true,
              "description": "The ID of the reply.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "insert": {
          "id": "drive.replies.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "CommentReply"
          },
          "description": "Creates a new reply to the given comment.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies",
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            },
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "list": {
          "id": "drive.replies.list",
          "httpMethod": "GET",
          "description": "Lists all of the replies to a comment.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "CommentReplyList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "parameters": {
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string"
            },
            "includeDeleted": {
              "description": "If set, all replies, including deleted replies (with content stripped) will be returned.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "pageToken": {
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "maximum": "100",
              "description": "The maximum number of replies to include in the response, used for paging.",
              "location": "query",
              "default": "20"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "changes": {
      "methods": {
        "get": {
          "parameterOrder": [
            "changeId"
          ],
          "response": {
            "$ref": "Change"
          },
          "id": "drive.changes.get",
          "httpMethod": "GET",
          "description": "Deprecated: Use `changes.getStartPageToken` and `changes.list` to retrieve recent changes.",
          "parameters": {
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true,
              "type": "string"
            },
            "changeId": {
              "required": true,
              "description": "The ID of the change.",
              "location": "path",
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "driveId": {
              "type": "string",
              "description": "The shared drive from which the change will be returned.",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            }
          },
          "flatPath": "changes/{changeId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "changes/{changeId}"
        },
        "getStartPageToken": {
          "path": "changes/startPageToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "changes/startPageToken",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true,
              "type": "string"
            }
          },
          "description": "Gets the starting pageToken for listing future changes.",
          "id": "drive.changes.getStartPageToken",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "StartPageToken"
          }
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ChangeList"
          },
          "description": "Lists the changes for a user or shared drive.",
          "id": "drive.changes.list",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "default": "100",
              "description": "Maximum number of changes to return.",
              "location": "query",
              "minimum": "1"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "location": "query"
            },
            "includeDeleted": {
              "type": "boolean",
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "location": "query"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includeSubscribed": {
              "type": "boolean",
              "default": "true",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "location": "query"
            },
            "startChangeId": {
              "type": "string",
              "format": "int64",
              "description": "Deprecated: Use `pageToken` instead.",
              "location": "query",
              "deprecated": true
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "includeCorpusRemovals": {
              "default": "false",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query",
              "type": "boolean"
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "includeTeamDriveItems": {
              "default": "false",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "driveId": {
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "location": "query",
              "type": "string"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true,
              "type": "string"
            }
          },
          "supportsSubscription": true,
          "path": "changes",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "changes"
        },
        "watch": {
          "parameterOrder": [],
          "response": {
            "$ref": "Channel"
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "description": "Subscribe to changes for a user.",
          "id": "drive.changes.watch",
          "httpMethod": "POST",
          "parameters": {
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true,
              "type": "string"
            },
            "driveId": {
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "includeItemsFromAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query"
            },
            "includeCorpusRemovals": {
              "type": "boolean",
              "default": "false",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query"
            },
            "startChangeId": {
              "type": "string",
              "format": "int64",
              "description": "Deprecated: Use `pageToken` instead.",
              "location": "query",
              "deprecated": true
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "includeSubscribed": {
              "type": "boolean",
              "default": "true",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "location": "query"
            },
            "spaces": {
              "type": "string",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "includeDeleted": {
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "default": "100",
              "description": "Maximum number of changes to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "supportsSubscription": true,
          "path": "changes/watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "changes/watch"
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "description": "Gets the information about the current user along with Drive API settings",
          "id": "drive.about.get",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "About"
          },
          "path": "about",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "about",
          "parameters": {
            "includeSubscribed": {
              "default": "true",
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`.",
              "location": "query",
              "type": "boolean"
            },
            "maxChangeIdCount": {
              "type": "string",
              "format": "int64",
              "default": "1",
              "description": "Maximum number of remaining change IDs to count",
              "location": "query"
            },
            "startChangeId": {
              "description": "Change ID to start counting from when calculating number of remaining change IDs",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          }
        }
      }
    },
    "apps": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "apps/{appId}",
          "path": "apps/{appId}",
          "parameters": {
            "appId": {
              "type": "string",
              "required": true,
              "description": "The ID of the app.",
              "location": "path"
            }
          },
          "id": "drive.apps.get",
          "httpMethod": "GET",
          "description": "Gets a specific app.",
          "parameterOrder": [
            "appId"
          ],
          "response": {
            "$ref": "App"
          }
        },
        "list": {
          "id": "drive.apps.list",
          "httpMethod": "GET",
          "description": "Lists a user's installed apps.",
          "parameterOrder": [],
          "response": {
            "$ref": "AppList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "flatPath": "apps",
          "path": "apps",
          "parameters": {
            "appFilterMimeTypes": {
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query",
              "default": "",
              "type": "string"
            },
            "appFilterExtensions": {
              "type": "string",
              "default": "",
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query"
            },
            "languageCode": {
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "properties": {
      "methods": {
        "get": {
          "parameters": {
            "propertyKey": {
              "required": true,
              "description": "The key of the property.",
              "location": "path",
              "type": "string"
            },
            "visibility": {
              "default": "private",
              "description": "The visibility of the property.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "response": {
            "$ref": "Property"
          },
          "id": "drive.properties.get",
          "httpMethod": "GET",
          "description": "Gets a property by its key."
        },
        "insert": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "Property"
          },
          "id": "drive.properties.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "Property"
          },
          "description": "Adds a property to a file, or updates it if it already exists.",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "files/{fileId}/properties",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "path": "files/{fileId}/properties"
        },
        "list": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "PropertyList"
          },
          "id": "drive.properties.list",
          "httpMethod": "GET",
          "description": "Lists a file's properties.",
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "flatPath": "files/{fileId}/properties",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
[...]
