{
  "name": "drive",
  "discoveryVersion": "v1",
  "title": "Google Drive API",
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "batchPath": "batch/drive/v3",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260305",
  "version": "v3",
  "rootUrl": "https://www.googleapis.com/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "id": "drive:v3",
  "schemas": {
    "Change": {
      "description": "A change to a file or shared drive.",
      "type": "object",
      "properties": {
        "removed": {
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access.",
          "type": "boolean"
        },
        "file": {
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes.",
          "$ref": "File"
        },
        "type": {
          "description": "Deprecated: Use `changeType` instead.",
          "type": "string",
          "deprecated": true
        },
        "teamDrive": {
          "description": "Deprecated: Use `drive` instead.",
          "$ref": "TeamDrive",
          "deprecated": true
        },
        "fileId": {
          "description": "The ID of the file which has changed.",
          "type": "string"
        },
        "time": {
          "description": "The time of this change (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#change\"`.",
          "type": "string",
          "default": "drive#change"
        },
        "teamDriveId": {
          "description": "Deprecated: Use `driveId` instead.",
          "type": "string",
          "deprecated": true
        },
        "drive": {
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted.",
          "$ref": "Drive"
        },
        "driveId": {
          "description": "The ID of the shared drive associated with this change.",
          "type": "string"
        }
      },
      "id": "Change"
    },
    "DownloadRestrictionsMetadata": {
      "id": "DownloadRestrictionsMetadata",
      "properties": {
        "itemDownloadRestriction": {
          "description": "The download restriction of the file applied directly by the owner or organizer. This doesn't take into account shared drive settings or DLP rules.",
          "$ref": "DownloadRestriction"
        },
        "effectiveDownloadRestrictionWithContext": {
          "description": "Output only. The effective download restriction applied to this file. This considers all restriction settings and DLP rules.",
          "$ref": "DownloadRestriction"
        }
      },
      "description": "Download restrictions applied to the file.",
      "type": "object"
    },
    "FileList": {
      "properties": {
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results might be missing, since all documents were not searched. This can occur when searching multiple drives with the `allDrives` corpora, but all corpora couldn't be searched. When this happens, it's suggested that clients narrow their query by choosing a different corpus such as `user` or `drive`.",
          "type": "boolean"
        },
        "files": {
          "description": "The list of files. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#fileList\"`.",
          "type": "string",
          "default": "drive#fileList"
        }
      },
      "id": "FileList",
      "description": "A list of files.",
      "type": "object"
    },
    "TeamDriveList": {
      "description": "A list of Team Drives.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives. This will be absent if the end of the Team Drives list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDriveList\"`.",
          "type": "string",
          "default": "drive#teamDriveList"
        },
        "teamDrives": {
          "description": "The list of Team Drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "TeamDrive"
          }
        }
      },
      "id": "TeamDriveList"
    },
    "About": {
      "id": "About",
      "properties": {
        "canCreateTeamDrives": {
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "teamDriveThemes": {
          "deprecated": true,
          "description": "Deprecated: Use `driveThemes` instead.",
          "type": "array",
          "items": {
            "properties": {
              "id": {
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "type": "string",
                "deprecated": true
              },
              "backgroundImageLink": {
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "type": "string",
                "deprecated": true
              },
              "colorRgb": {
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "default": "drive#about",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#about\"`.",
          "type": "string"
        },
        "folderColorPalette": {
          "description": "The currently supported folder colors as RGB hex strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxImportSizes": {
          "description": "A map of maximum import sizes by MIME type, in bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "maxUploadSize": {
          "description": "The maximum upload size in bytes.",
          "type": "string",
          "format": "int64"
        },
        "exportFormats": {
          "description": "A map of source MIME type to possible targets for all supported exports.",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "importFormats": {
          "description": "A map of source MIME type to possible targets for all supported imports.",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "storageQuota": {
          "description": "The user's storage quota limits and usage. For users that are part of an organization with pooled storage, information about the limit and usage across all services is for the organization, rather than the individual user. All fields are measured in bytes.",
          "type": "object",
          "properties": {
            "usageInDrive": {
              "description": "The usage by all files in Google Drive.",
              "type": "string",
              "format": "int64"
            },
            "usageInDriveTrash": {
              "description": "The usage by trashed files in Google Drive.",
              "type": "string",
              "format": "int64"
            },
            "usage": {
              "description": "The total usage across all services. For users that are part of an organization with pooled storage, this is the usage across all services for the organization, rather than the individual user.",
              "type": "string",
              "format": "int64"
            },
            "limit": {
              "description": "The usage limit, if applicable. This will not be present if the user has unlimited storage. For users that are part of an organization with pooled storage, this is the limit for the organization, rather than the individual user.",
              "type": "string",
              "format": "int64"
            }
          }
        },
        "driveThemes": {
          "description": "A list of themes that are supported for shared drives.",
          "type": "array",
          "items": {
            "properties": {
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              },
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
              "colorRgb": {
                "description": "The color of this theme as an RGB hex string.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "appInstalled": {
          "description": "Whether the user has installed the requesting app.",
          "type": "boolean"
        }
      },
      "description": "Information about the user, the user's Drive, and system capabilities.",
      "type": "object"
    },
    "LabelField": {
      "description": "Representation of field, which is a typed key-value pair.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of this label field.",
          "type": "string"
        },
        "dateString": {
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          }
        },
        "kind": {
          "description": "This is always drive#labelField.",
          "type": "string"
        },
        "integer": {
          "description": "Only present if `valueType` is `integer`.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "text": {
          "description": "Only present if `valueType` is `text`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "valueType": {
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`",
          "type": "string"
        },
        "selection": {
          "description": "Only present if `valueType` is `selection`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "user": {
          "description": "Only present if `valueType` is `user`.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      },
      "id": "LabelField"
    },
    "Revision": {
      "properties": {
        "md5Checksum": {
          "description": "Output only. The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "size": {
          "description": "Output only. The size of the revision's content in bytes. This is only applicable to files with binary content in Drive.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "mimeType": {
          "description": "Output only. The MIME type of the revision.",
          "type": "string"
        },
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "keepForever": {
          "description": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file. This field is only applicable to files with binary content in Drive.",
          "type": "boolean"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "modifiedTime": {
          "description": "The last time the revision was modified (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#revision\"`.",
          "type": "string",
          "default": "drive#revision"
        },
        "originalFilename": {
          "description": "Output only. The original filename used to create this revision. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "published": {
          "description": "Whether this revision is published. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        }
      },
      "id": "Revision",
      "description": "The metadata for a revision to a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "type": "object"
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "properties": {
        "id": {
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive.",
          "type": "string"
        },
        "name": {
          "description": "The name of this Team Drive.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDrive\"`.",
          "type": "string",
          "default": "drive#teamDrive"
        },
        "createdTime": {
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "type": "object",
          "properties": {
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            },
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "type": "number",
              "format": "float"
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number",
              "format": "float"
            }
          }
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "backgroundImageLink": {
          "description": "A short-lived link to this Team Drive's background image.",
          "type": "string"
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "capabilities": {
          "properties": {
            "canAddChildren": {
              "description": "Whether the current user can add children to folders in this Team Drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Whether the current user can trash children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamMembersOnlyRestriction": {
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canResetTeamDriveRestrictions": {
              "description": "Whether the current user can reset the Team Drive restrictions to defaults.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "description": "Whether the current user can change the background of this Team Drive.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canChangeDownloadRestriction": {
              "description": "Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Whether the current user can list the children of folders in this Team Drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Whether the current user can rename files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Whether the current user can share files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Whether the current user can copy files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "deprecated": true,
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Whether the current user can edit files in this Team Drive",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive.",
              "type": "boolean"
            }
          },
          "description": "Capabilities the current user has on this Team Drive.",
          "type": "object"
        },
        "restrictions": {
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive.",
          "type": "object",
          "properties": {
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            },
            "downloadRestriction": {
              "description": "Download restrictions applied by shared drive managers.",
              "$ref": "DownloadRestriction"
            },
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            },
            "teamMembersOnly": {
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive.",
              "type": "boolean"
            }
          }
        }
      },
      "description": "Deprecated: use the drive collection instead.",
      "type": "object"
    },
    "Reply": {
      "id": "Reply",
      "properties": {
        "deleted": {
          "description": "Output only. Whether the reply has been deleted. A deleted reply has no content.",
          "type": "boolean"
        },
        "action": {
          "description": "The action the reply performed to the parent comment. The supported values are: * `resolve` * `reopen`",
          "type": "string"
        },
        "mentionedEmailAddresses": {
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "htmlContent": {
          "description": "Output only. The content of the reply with HTML formatting.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#reply\"`.",
          "type": "string",
          "default": "drive#reply"
        },
        "createdTime": {
          "description": "The time at which the reply was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Output only. The ID of the reply.",
          "type": "string"
        },
        "modifiedTime": {
          "description": "The last time the reply was modified (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "author": {
          "description": "Output only. The author of the reply. The author's email address and permission ID won't be populated.",
          "$ref": "User"
        },
        "content": {
          "annotations": {
            "required": [
              "drive.replies.update"
            ]
          },
          "description": "The plain text content of the reply. This field is used for setting the content, while `htmlContent` should be displayed. This field is required by the `create` method if no `action` value is specified.",
          "type": "string"
        },
        "assigneeEmailAddress": {
          "readOnly": true,
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset.",
          "type": "string"
        }
      },
      "description": "A reply to a comment on a file. Some resource methods (such as `replies.update`) require a `replyId`. Use the `replies.list` method to retrieve the ID for a reply.",
      "type": "object"
    },
    "LabelList": {
      "id": "LabelList",
      "properties": {
        "labels": {
          "description": "The list of labels.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "kind": {
          "description": "This is always `\"drive#labelList\"`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        }
      },
      "description": "A list of labels applied to a file.",
      "type": "object"
    },
    "ModifyLabelsRequest": {
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "type": "object",
      "id": "ModifyLabelsRequest",
      "properties": {
        "kind": {
          "description": "This is always `\"drive#modifyLabelsRequest\"`.",
          "type": "string"
        },
        "labelModifications": {
          "description": "The list of modifications to apply to the labels on the file.",
          "type": "array",
          "items": {
            "$ref": "LabelModification"
          }
        }
      }
    },
    "AppIcons": {
      "type": "object",
      "properties": {
        "size": {
          "description": "Size of the icon. Represented as the maximum of the width and height.",
          "type": "integer",
          "format": "int32"
        },
        "iconUrl": {
          "description": "URL for the icon.",
          "type": "string"
        },
        "category": {
          "description": "Category of the icon. Allowed values are: * `application` - The icon for the application. * `document` - The icon for a file associated with the app. * `documentShared` - The icon for a shared file associated with the app.",
          "type": "string"
        }
      },
      "id": "AppIcons"
    },
    "DownloadRestriction": {
      "description": "A restriction for copy and download of the file.",
      "type": "object",
      "id": "DownloadRestriction",
      "properties": {
        "restrictedForWriters": {
          "description": "Whether download and copy is restricted for writers. If `true`, download is also restricted for readers.",
          "type": "boolean"
        },
        "restrictedForReaders": {
          "description": "Whether download and copy is restricted for readers.",
          "type": "boolean"
        }
      }
    },
    "PermissionList": {
      "description": "A list of permissions for a file.",
      "type": "object",
      "id": "PermissionList",
      "properties": {
        "permissions": {
          "description": "The list of permissions. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "default": "drive#permissionList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#permissionList\"`.",
          "type": "string"
        }
      }
    },
    "App": {
      "description": "The `apps` resource provides a list of apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "type": "object",
      "id": "App",
      "properties": {
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "createUrl": {
          "description": "The URL to create a file with this app.",
          "type": "string"
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "icons": {
          "description": "The various icons for the app.",
          "type": "array",
          "items": {
            "$ref": "AppIcons"
          }
        },
        "createInFolderTemplate": {
          "description": "The template URL to create a file with this app in a given folder. The template contains the {folderId} to be replaced by the folder ID house the new file.",
          "type": "string"
        },
        "secondaryFileExtensions": {
          "description": "The list of secondary file extensions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "secondaryMimeTypes": {
          "description": "The list of secondary MIME types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "primaryFileExtensions": {
          "description": "The list of primary file extensions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "drive#app",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#app\".",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "primaryMimeTypes": {
          "description": "The list of primary MIME types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productUrl": {
          "description": "A link to the product listing for this app.",
          "type": "string"
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "objectType": {
          "description": "The type of object this app creates such as a Chart. If empty, the app name should be used instead.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the app.",
          "type": "string"
        },
        "hasDriveWideScope": {
          "description": "Whether the app has Drive-wide scope. An app with Drive-wide scope can access all files in the user's Drive.",
          "type": "boolean"
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating files when offline.",
          "type": "boolean"
        },
        "openUrlTemplate": {
          "description": "The template URL for opening files with this app. The template contains {ids} or {exportIds} to be replaced by the actual file IDs. For more information, see Open Files for the full documentation.",
          "type": "string"
        },
        "supportsCreate": {
          "description": "Whether this app supports creating objects.",
          "type": "boolean"
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "supportsImport": {
          "description": "Whether this app supports importing from Google Docs.",
          "type": "boolean"
        },
        "longDescription": {
          "description": "A long description of the app.",
          "type": "string"
        }
      }
    },
    "Label": {
      "properties": {
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        },
        "fields": {
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LabelField"
          }
        },
        "kind": {
          "description": "This is always drive#label",
          "type": "string"
        }
      },
      "id": "Label",
      "description": "Representation of label and label fields.",
      "type": "object"
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "properties": {
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "restrictionTime": {
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string",
          "format": "date-time"
        },
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        },
        "systemRestricted": {
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.",
          "type": "boolean"
        },
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly=true`.",
          "$ref": "User"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        }
      },
      "description": "A restriction for accessing the content of the file.",
      "type": "object"
    },
    "RevisionList": {
      "description": "A list of revisions of a file.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#revisionList\"`.",
          "type": "string",
          "default": "drive#revisionList"
        },
        "revisions": {
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Revision"
          }
        }
      },
      "id": "RevisionList"
    },
    "Drive": {
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "type": "object",
      "properties": {
        "backgroundImageLink": {
          "description": "Output only. A short-lived link to this shared drive's background image.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "restrictions": {
          "properties": {
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            },
            "driveMembersOnly": {
              "description": "Whether access to items inside this shared drive is restricted to its members.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            },
            "downloadRestriction": {
              "description": "Download restrictions applied by shared drive managers.",
              "$ref": "DownloadRestriction"
            }
          },
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive. Note that restrictions can't be set when creating a shared drive. To add a restriction, first create a shared drive and then use `drives.update` to add restrictions.",
          "type": "object"
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "type": "object",
          "properties": {
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            },
            "canResetDriveRestrictions": {
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit files in this shared drive",
              "type": "boolean"
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy files in this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children from folders in this shared drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to folders in this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive.",
              "type": "boolean"
            },
            "canChangeDownloadRestriction": {
              "description": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "type": "boolean"
            }
          }
        },
        "id": {
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive.",
          "type": "string"
        },
        "name": {
          "description": "The name of this shared drive.",
          "type": "string"
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#drive",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#drive\"`.",
          "type": "string"
        },
        "createdTime": {
          "description": "The time at which the shared drive was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "type": "object",
          "properties": {
            "id": {
              "description": "The ID of an image file in Google Drive to use for the background image.",
              "type": "string"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            },
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "type": "number",
              "format": "float"
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number",
              "format": "float"
            }
          }
        }
      },
      "id": "Drive"
    },
    "CommentList": {
      "properties": {
        "comments": {
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#commentList\"`.",
          "type": "string",
          "default": "drive#commentList"
        }
      },
      "id": "CommentList",
      "description": "A list of comments on a file.",
      "type": "object"
    },
    "User": {
      "id": "User",
      "properties": {
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "type": "string",
          "default": "drive#user",
          "readOnly": true
        },
        "me": {
          "description": "Output only. Whether this user is the requesting user.",
          "type": "boolean",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. A plain text displayable name for this user.",
          "type": "string"
        },
        "permissionId": {
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string",
          "readOnly": true
        },
        "emailAddress": {
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "type": "string",
          "readOnly": true
        },
        "photoLink": {
          "readOnly": true,
          "description": "Output only. A link to the user's profile photo, if available.",
          "type": "string"
        }
      },
      "description": "Information about a Drive user.",
      "type": "object"
    },
    "ReplyList": {
      "description": "A list of replies to a comment on a file.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#replyList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#replyList\"`.",
          "type": "string"
        },
        "replies": {
          "description": "The list of replies. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Reply"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        }
      },
      "id": "ReplyList"
    },
    "AccessProposalRoleAndView": {
      "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
      "type": "object",
      "properties": {
        "role": {
          "description": "The role that was proposed by the requester. The supported values are: * `writer` * `commenter` * `reader`",
          "type": "string"
        },
        "view": {
          "description": "Indicates the view for this access proposal. Only populated for proposals that belong to a view. Only `published` is supported.",
          "type": "string"
        }
      },
      "id": "AccessProposalRoleAndView"
    },
    "Permission": {
      "properties": {
        "allowFileDiscovery": {
          "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`.",
          "type": "boolean"
        },
        "type": {
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "description": "The type of the grantee. Supported values include: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. If `type` is `domain`, you must provide a `domain`. If `type` is `anyone`, no extra information is required.",
          "type": "string"
        },
        "inheritedPermissionsDisabled": {
          "description": "When `true`, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        },
        "role": {
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "description": "The role granted by this permission. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to permissions of type `user` or `group`.",
          "type": "boolean"
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for permissions of type `user` for files that aren't in a shared drive.",
          "type": "boolean"
        },
        "photoLink": {
          "description": "Output only. A link to the user's profile photo, if available.",
          "type": "string"
        },
        "domain": {
          "description": "The domain to which this permission refers.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`.",
          "type": "string",
          "default": "drive#permission"
        },
        "permissionDetails": {
          "readOnly": true,
          "description": "Output only. Details of whether the permissions on this item are inherited or are directly on this item.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "role": {
                "description": "Output only. The primary role for this user. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
                "type": "string"
              },
              "permissionType": {
                "description": "Output only. The permission type for this user. Supported values include: * `file` * `member`",
                "type": "string"
              },
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string"
              },
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field.",
                "type": "boolean"
              }
            }
          }
        },
        "displayName": {
          "description": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google Account, such as \"Dana A.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"cymbalgroup.com.\" * `anyone` - No `displayName` is present.",
          "type": "string"
        },
        "expirationTime": {
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future",
          "type": "string",
          "format": "date-time"
        },
        "teamDrivePermissionDetails": {
          "description": "Output only. Deprecated: Output only. Use `permissionDetails` instead.",
          "type": "array",
          "readOnly": true,
          "items": {
            "properties": {
              "role": {
                "deprecated": true,
                "description": "Deprecated: Output only. Use `permissionDetails/role` instead.",
                "type": "string"
              },
              "teamDrivePermissionType": {
                "description": "Deprecated: Output only. Use `permissionDetails/permissionType` instead.",
                "type": "string",
                "deprecated": true
              },
              "inheritedFrom": {
                "deprecated": true,
                "description": "Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead.",
                "type": "string"
              },
              "inherited": {
                "deprecated": true,
                "description": "Deprecated: Output only. Use `permissionDetails/inherited` instead.",
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "deprecated": true
        },
        "id": {
          "description": "Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in the [User resource](https://developers.google.com/workspace/drive/api/reference/rest/v3/User) as `permissionId`. IDs should be treated as opaque values.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the user or group to which this permission refers.",
          "type": "string"
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. The only supported values are `published` and `metadata`: * `published`: The permission's role is `publishedReader`. * `metadata`: The item is only visible to the `metadata` view because the item has limited access and the scope has at least read access to the parent. The `metadata` view is only supported on folders. For more information, see [Views](https://developers.google.com/workspace/drive/api/guides/ref-roles#views).",
          "type": "string"
        }
      },
      "id": "Permission",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). By default, permission requests only return a subset of fields. Permission `kind`, `ID`, `type`, and `role` are always returned. To retrieve specific fields, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter). Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "type": "object"
    },
    "LabelFieldModification": {
      "id": "LabelFieldModification",
      "properties": {
        "setTextValues": {
          "description": "Sets the value of a `text` field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setSelectionValues": {
          "description": "Replaces a `selection` field with these new values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setIntegerValues": {
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "kind": {
          "description": "This is always `\"drive#labelFieldModification\"`.",
          "type": "string"
        },
        "setDateValues": {
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          }
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "setUserValues": {
          "description": "Replaces a `user` field with these new values. The values must be a valid email addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        }
      },
      "description": "A modification to a label's field.",
      "type": "object"
    },
    "DriveList": {
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "drives": {
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Drive"
          }
        },
        "kind": {
          "default": "drive#driveList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`.",
          "type": "string"
        }
      },
      "id": "DriveList",
      "description": "A list of shared drives.",
      "type": "object"
    },
    "ResolveAccessProposalRequest": {
      "properties": {
        "view": {
          "description": "Optional. Indicates the view for this access proposal. This should only be set when the proposal belongs to a view. Only `published` is supported.",
          "type": "string"
        },
        "action": {
          "description": "Required. The action to take on the access proposal.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified action",
            "The user accepts the access proposal. Note: If this action is used, the `role` field must have at least one value.",
            "The user denies the access proposal."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ACCEPT",
            "DENY"
          ]
        },
        "role": {
          "description": "Optional. The roles that the approver has allowed, if any. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles). Note: This field is required for the `ACCEPT` action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sendNotification": {
          "description": "Optional. Whether to send an email to the requester when the access proposal is denied or accepted.",
          "type": "boolean"
        }
      },
      "id": "ResolveAccessProposalRequest",
      "description": "Request message for resolving an AccessProposal on a file.",
      "type": "object"
    },
    "ReviewerResponse": {
      "properties": {
        "response": {
          "enum": [
            "RESPONSE_UNSPECIFIED",
            "NO_RESPONSE",
            "APPROVED",
            "DECLINED"
          ],
          "description": "A Reviewer’s Response for the Approval.",
          "type": "string",
          "enumDescriptions": [
            "Response was set to an unrecognized value.",
            "The reviewer has not yet responded",
            "The Reviewer has approved the item.",
            "The Reviewer has declined the item."
          ]
        },
        "kind": {
          "description": "This is always drive#reviewerResponse.",
          "type": "string"
        },
        "reviewer": {
          "description": "The user that is responsible for this response.",
          "$ref": "User"
        }
      },
      "id": "ReviewerResponse",
      "description": "A response on an Approval made by a specific Reviewer.",
      "type": "object"
    },
    "Channel": {
      "properties": {
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "type": "string",
          "default": "api#channel"
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\".",
          "type": "string"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string",
          "format": "int64"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        }
      },
      "id": "Channel",
      "description": "A notification channel used to watch for resource changes.",
      "type": "object"
    },
    "ChangeList": {
      "description": "A list of changes for a user.",
      "type": "object",
      "properties": {
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`.",
          "type": "string",
          "default": "drive#changeList"
        },
        "changes": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Change"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire.",
          "type": "string"
        }
      },
      "id": "ChangeList"
    },
    "Approval": {
      "description": "Metadata for an approval. An approval is a review/approve process for a Drive item.",
      "type": "object",
      "id": "Approval",
      "properties": {
        "targetFileId": {
          "description": "Target file id of the approval.",
          "type": "string"
        },
        "completeTime": {
          "readOnly": true,
          "description": "Output only. The time the approval was completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "readOnly": true,
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "APPROVED",
            "CANCELLED",
            "DECLINED"
          ],
          "description": "Output only. The status of the approval at the time this resource was requested.",
          "type": "string",
          "enumDescriptions": [
            "Approval status has not been set or was set to an invalid value.",
            "The approval process has started and not finished.",
            "The approval process is finished and the target was approved.",
            "The approval process was cancelled before it finished.",
            "The approval process is finished and the target was declined."
          ]
        },
        "approvalId": {
          "description": "The Approval ID.",
          "type": "string"
        },
        "modifyTime": {
          "readOnly": true,
          "description": "Output only. The most recent time the approval was modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "kind": {
          "description": "This is always drive#approval.",
          "type": "string"
        },
        "initiator": {
          "description": "The user that requested the Approval.",
          "$ref": "User"
        },
        "reviewerResponses": {
          "description": "The responses made on the Approval by reviewers.",
          "type": "array",
          "items": {
            "$ref": "ReviewerResponse"
          }
        },
        "dueTime": {
          "description": "The time that the approval is due.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time the approval was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "AppList": {
      "id": "AppList",
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "defaultAppIds": {
          "description": "The list of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "drive#appList",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#appList\".",
          "type": "string"
        },
        "items": {
          "description": "The list of apps.",
          "type": "array",
          "items": {
            "$ref": "App"
          }
        }
      },
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "type": "object"
    },
    "ApprovalList": {
      "description": "The response of an Approvals list request.",
      "type": "object",
      "id": "ApprovalList",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of Approvals. This will be absent if the end of the Approvals list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always drive#approvalList",
          "type": "string"
        },
        "items": {
          "description": "The list of Approvals. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Approval"
          }
        }
      }
    },
    "StartPageToken": {
      "type": "object",
      "properties": {
        "startPageToken": {
          "description": "The starting page token for listing future changes. The page token doesn't expire.",
          "type": "string"
        },
        "kind": {
          "default": "drive#startPageToken",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "type": "string"
        }
      },
      "id": "StartPageToken"
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ModifyLabelsResponse": {
      "properties": {
        "kind": {
          "description": "This is always `\"drive#modifyLabelsResponse\"`.",
          "type": "string"
        },
        "modifiedLabels": {
          "description": "The list of labels which were added or updated by the request.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      },
      "id": "ModifyLabelsResponse",
      "description": "Response to a `ModifyLabels` request. This contains only those labels which were added or updated by the request.",
      "type": "object"
    },
    "AccessProposal": {
      "id": "AccessProposal",
      "properties": {
        "requesterEmailAddress": {
          "description": "The email address of the requesting user.",
          "type": "string"
        },
        "createTime": {
          "description": "The creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "rolesAndViews": {
          "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "type": "array",
          "items": {
            "$ref": "AccessProposalRoleAndView"
          }
        },
        "requestMessage": {
          "description": "The message that the requester added to the proposal.",
          "type": "string"
        },
        "fileId": {
          "description": "The file ID that the proposal for access is on.",
          "type": "string"
        },
        "recipientEmailAddress": {
          "description": "The email address of the user that will receive permissions, if accepted.",
          "type": "string"
        },
        "proposalId": {
          "description": "The ID of the access proposal.",
          "type": "string"
        }
      },
      "description": "Manage outstanding access proposals on a file.",
      "type": "object"
    },
    "Comment": {
      "id": "Comment",
      "properties": {
        "replies": {
          "description": "Output only. The full list of replies to the comment in chronological order.",
          "type": "array",
          "items": {
            "$ref": "Reply"
          }
        },
        "mentionedEmailAddresses": {
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "deleted": {
          "description": "Output only. Whether the comment has been deleted. A deleted comment has no content.",
          "type": "boolean"
        },
        "content": {
          "annotations": {
            "required": [
              "drive.comments.create",
              "drive.comments.update"
            ]
          },
          "description": "The plain text content of the comment. This field is used for setting the content, while `htmlContent` should be displayed.",
          "type": "string"
        },
        "assigneeEmailAddress": {
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset.",
          "type": "string",
          "readOnly": true
        },
        "kind": {
          "default": "drive#comment",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#comment\"`.",
          "type": "string"
        },
        "createdTime": {
          "description": "The time at which the comment was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "modifiedTime": {
          "description": "The last time the comment or any of its replies was modified (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "author": {
          "description": "Output only. The author of the comment. The author's email address and permission ID will not be populated.",
          "$ref": "User"
        },
        "resolved": {
          "description": "Output only. Whether the comment has been resolved by one of its replies.",
          "type": "boolean"
        },
        "anchor": {
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments).",
          "type": "string"
        },
        "htmlContent": {
          "description": "Output only. The content of the comment with HTML formatting.",
          "type": "string"
        },
        "quotedFileContent": {
          "description": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.",
          "type": "object",
          "properties": {
            "mimeType": {
              "description": "The MIME type of the quoted content.",
              "type": "string"
            },
            "value": {
              "description": "The quoted content itself. This is interpreted as plain text if set through the API.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "Output only. The ID of the comment.",
          "type": "string"
        }
      },
      "description": "A comment on a file. Some resource methods (such as `comments.update`) require a `commentId`. Use the `comments.list` method to retrieve the ID for a comment in a file.",
      "type": "object"
    },
    "LabelModification": {
      "description": "A modification to a label on a file. A `LabelModification` can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "type": "object",
      "properties": {
        "labelId": {
          "description": "The ID of the label to modify.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          }
        },
        "fieldModifications": {
          "description": "The list of modifications to this label's fields.",
          "type": "array",
          "items": {
            "$ref": "LabelFieldModification"
          }
        },
        "kind": {
          "description": "This is always `\"drive#labelModification\"`.",
          "type": "string"
        },
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        }
      },
      "id": "LabelModification"
    },
    "ListAccessProposalsResponse": {
      "description": "The response to an access proposal list request.",
      "type": "object",
      "id": "ListAccessProposalsResponse",
      "properties": {
        "accessProposals": {
          "description": "The list of access proposals. This field is only populated in Drive API v3.",
          "type": "array",
          "items": {
            "$ref": "AccessProposal"
          }
        },
        "nextPageToken": {
          "description": "The continuation token for the next page of results. This will be absent if the end of the results list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "File": {
      "id": "File",
      "properties": {
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This is currently only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This doesn't indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "permissions": {
          "description": "Output only. The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "explicitlyTrashed": {
          "description": "Output only. Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder.",
          "type": "boolean"
        },
        "appProperties": {
          "description": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceKey": {
          "description": "Output only. A key needed to access the item via a shared link.",
          "type": "string"
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive.",
          "type": "string"
        },
        "copyRequiresWriterPermission": {
          "description": "Whether the options to copy, print, or download this file should be disabled for readers and commenters.",
          "type": "boolean"
        },
        "fullFileExtension": {
          "description": "Output only. The full file extension extracted from the `name` field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Google Drive. This is automatically updated when the `name` field changes, however it's not cleared if the new name doesn't contain a valid extension.",
          "type": "string"
        },
        "properties": {
          "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "quotaBytesUsed": {
          "description": "Output only. The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with `keepForever` enabled.",
          "type": "string",
          "format": "int64"
        },
        "sharingUser": {
          "description": "Output only. The user who shared the file with the requesting user, if applicable.",
          "$ref": "User"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify the file. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "trashed": {
          "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, and other users cannot see files in the owner's trash.",
          "type": "boolean"
        },
        "modifiedTime": {
          "description": "he last time the file was modified by anyone (RFC 3339 date-time). Note that setting modifiedTime will also update modifiedByMeTime for the user.",
          "type": "string",
          "format": "date-time"
        },
        "sharedWithMeTime": {
          "description": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#file\"`.",
          "type": "string",
          "default": "drive#file"
        },
        "version": {
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user.",
          "type": "string",
          "format": "int64"
        },
        "iconLink": {
          "description": "Output only. A static, unauthenticated link to the file's icon.",
          "type": "string"
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "fileExtension": {
          "description": "Output only. The final component of `fullFileExtension`. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "contentRestrictions": {
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "type": "array",
          "items": {
            "$ref": "ContentRestriction"
          }
        },
        "parents": {
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of a create request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        },
        "starred": {
          "description": "Whether the user has starred the file.",
          "type": "boolean"
        },
        "permissionIds": {
          "description": "Output only. List of permission IDs for users with access to this file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "labelInfo": {
          "description": "Output only. An overview of the labels on the file.",
          "type": "object",
          "properties": {
            "labels": {
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "type": "array",
              "items": {
                "$ref": "Label"
              }
            }
          }
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "spaces": {
          "description": "Output only. The list of spaces which contain the file. The currently supported values are `drive`, `appDataFolder`, and `photos`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "modifiedByMeTime": {
          "description": "The last time the file was modified by the user (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "modifiedByMe": {
          "description": "Output only. Whether the file has been modified by this user.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the file. This isn't necessarily unique within a folder. Note that for immutable items such as the top-level folders of shared drives, the My Drive root folder, and the Application Data folder, the name is constant.",
          "type": "string"
        },
        "viewedByMe": {
          "description": "Output only. Whether the file has been viewed by this user.",
          "type": "boolean"
        },
        "contentHints": {
          "description": "Additional information about the content of the file. These fields are never populated in responses.",
          "type": "object",
          "properties": {
            "indexableText": {
              "description": "Text to be indexed for the file to improve fullText queries. This is limited to 128 KB in length and may contain HTML elements.",
              "type": "string"
            },
            "thumbnail": {
              "properties": {
                "image": {
                  "description": "The thumbnail data encoded with URL-safe Base64 ([RFC 4648 section 5](https://datatracker.ietf.org/doc/html/rfc4648#section-5)).",
                  "type": "string",
                  "format": "byte"
                },
                "mimeType": {
                  "description": "The MIME type of the thumbnail.",
                  "type": "string"
                }
              },
              "description": "A thumbnail for the file. This will only be used if Google Drive cannot generate a standard thumbnail.",
              "type": "object"
            }
          }
        },
        "webViewLink": {
[...]
