{
  "ownerDomain": "google.com",
  "rootUrl": "https://drivelabels.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260504",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "title": "Drive Labels API",
  "description": "An API for managing Drive Labels",
  "basePath": "",
  "batchPath": "batch",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "servicePath": "",
  "id": "drivelabels:v2",
  "version": "v2",
  "canonicalName": "Drive Labels",
  "resources": {
    "limits": {
      "methods": {
        "getLabel": {
          "httpMethod": "GET",
          "path": "v2/limits/label",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Label revision resource name must be: \"limits/label\".",
              "location": "query"
            }
          },
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "id": "drivelabels.limits.getLabel",
          "flatPath": "v2/limits/label",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLimits"
          }
        }
      }
    },
    "users": {
      "methods": {
        "getCapabilities": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "parameters": {
            "name": {
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "required": true,
              "pattern": "^users/[^/]+/capabilities$",
              "type": "string",
              "location": "path"
            },
            "customer": {
              "location": "query",
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v2/{+name}",
          "description": "Gets the user capabilities.",
          "id": "drivelabels.users.getCapabilities",
          "flatPath": "v2/users/{usersId}/capabilities",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2UserCapabilities"
          }
        }
      }
    },
    "labels": {
      "resources": {
        "permissions": {
          "methods": {
            "batchUpdate": {
              "path": "v2/{+parent}/permissions:batchUpdate",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^labels/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "id": "drivelabels.labels.permissions.batchUpdate",
              "flatPath": "v2/labels/{labelsId}/permissions:batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
              },
              "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
            },
            "list": {
              "description": "Lists a label's permissions.",
              "id": "drivelabels.labels.permissions.list",
              "flatPath": "v2/labels/{labelsId}/permissions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
              },
              "httpMethod": "GET",
              "path": "v2/{+parent}/permissions",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The token of the page to return.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                  "required": true,
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "useAdminAccess": {
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean"
                }
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                  "required": true
                },
                "useAdminAccess": {
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query"
                }
              },
              "httpMethod": "POST",
              "path": "v2/{+parent}/permissions",
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "id": "drivelabels.labels.permissions.create",
              "flatPath": "v2/labels/{labelsId}/permissions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              }
            },
            "delete": {
              "id": "drivelabels.labels.permissions.delete",
              "flatPath": "v2/labels/{labelsId}/permissions/{permissionsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "parameters": {
                "name": {
                  "description": "Required. Label permission resource name.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^labels/[^/]+/permissions/[^/]+$"
                },
                "useAdminAccess": {
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "path": "v2/{+name}",
              "httpMethod": "DELETE"
            },
            "batchDelete": {
              "httpMethod": "POST",
              "path": "v2/{+parent}/permissions:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "required": true
                }
              },
              "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "id": "drivelabels.labels.permissions.batchDelete",
              "flatPath": "v2/labels/{labelsId}/permissions:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        },
        "revisions": {
          "methods": {
            "updatePermissions": {
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "id": "drivelabels.labels.revisions.updatePermissions",
              "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "httpMethod": "PATCH",
              "path": "v2/{+parent}/permissions",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent label resource name.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^labels/[^/]+/revisions/[^/]+$"
                },
                "useAdminAccess": {
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              }
            }
          },
          "resources": {
            "locks": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/locks",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The token of the page to return.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                      "required": true,
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum number of locks to return per page. Default: 100. Max: 200."
                    }
                  },
                  "description": "Lists the label locks on a label.",
                  "id": "drivelabels.labels.revisions.locks.list",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/locks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
                  }
                }
              }
            },
            "permissions": {
              "methods": {
                "create": {
                  "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "id": "drivelabels.labels.revisions.permissions.create",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/permissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                      "required": true
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
                  }
                },
                "delete": {
                  "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "id": "drivelabels.labels.revisions.permissions.delete",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Label permission resource name.",
                      "required": true,
                      "location": "path",
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/[^/]+$",
                      "type": "string"
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query",
                      "type": "boolean"
                    }
                  }
                },
                "list": {
                  "id": "drivelabels.labels.revisions.permissions.list",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
                  },
                  "description": "Lists a label's permissions.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                      "required": true,
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "useAdminAccess": {
                      "type": "boolean",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The token of the page to return.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "path": "v2/{+parent}/permissions",
                  "httpMethod": "GET"
                },
                "batchUpdate": {
                  "path": "v2/{+parent}/permissions:batchUpdate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
                  },
                  "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
                },
                "batchDelete": {
                  "id": "drivelabels.labels.revisions.permissions.batchDelete",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "path": "v2/{+parent}/permissions:batchDelete",
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "locks": {
          "methods": {
            "list": {
              "id": "drivelabels.labels.locks.list",
              "flatPath": "v2/labels/{labelsId}/locks",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
              },
              "description": "Lists the label locks on a label.",
              "parameters": {
                "parent": {
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^labels/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token of the page to return.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "path": "v2/{+parent}/locks",
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "disable": {
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "required": true,
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DisableLabelRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2/{+name}:disable",
          "httpMethod": "POST",
          "id": "drivelabels.labels.disable",
          "flatPath": "v2/labels/{labelsId}:disable",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "description": "Disable a published label. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Disabling a label will result in a new disabled published revision based on the current published revision. If there's a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`."
        },
        "enable": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2EnableLabelRequest"
          },
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "description": "Required. Label resource name.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "path": "v2/{+name}:enable",
          "description": "Enable a disabled label and restore it to its published state. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). This will result in a new published revision based on the current disabled published revision. If there's an existing disabled draft revision, a new revision will be created based on that draft and will be enabled.",
          "id": "drivelabels.labels.enable",
          "flatPath": "v2/labels/{labelsId}:enable",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        },
        "updateLabelCopyMode": {
          "httpMethod": "POST",
          "path": "v2/{+name}:updateLabelCopyMode",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest"
          },
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update.",
              "required": true,
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates a label's `CopyMode`. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately.",
          "id": "drivelabels.labels.updateLabelCopyMode",
          "flatPath": "v2/labels/{labelsId}:updateLabelCopyMode",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        },
        "publish": {
          "description": "Publish all draft changes to the label. Once published, the label may not return to its draft state. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label). Publishing a label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label will be rejected. For example, the following changes to a label will be rejected after the label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * `Field.FieldType` cannot be changed. * Changes to field validation options cannot reject something that was previously accepted. * Reducing the maximum entries.",
          "id": "drivelabels.labels.publish",
          "flatPath": "v2/labels/{labelsId}:publish",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "httpMethod": "POST",
          "path": "v2/{+name}:publish",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "description": "Required. Label resource name.",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2PublishLabelRequest"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "parameters": {
            "writeControl.requiredRevisionId": {
              "type": "string",
              "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
              "location": "query"
            },
            "name": {
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "description": "Required. Label resource name.",
              "required": true
            },
            "useAdminAccess": {
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
              "type": "boolean"
            }
          },
          "description": "Permanently deletes a label and related metadata on Drive items. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Once deleted, the label and related Drive item metadata will be deleted. Only draft labels and disabled labels may be deleted.",
          "id": "drivelabels.labels.delete",
          "flatPath": "v2/labels/{labelsId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        },
        "get": {
          "id": "drivelabels.labels.get",
          "flatPath": "v2/labels/{labelsId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "description": "Get a label by its resource name. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label). Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "path": "v2/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ]
            },
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "path",
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "required": true
            },
            "useAdminAccess": {
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ]
        },
        "updateLabelEnabledAppSettings": {
          "description": "Updates a label's `EnabledAppSettings`. Enabling a label in a Google Workspace app allows it to be used in that app. This change isn't revisioned, doesn't require publishing, and takes effect immediately.",
          "id": "drivelabels.labels.updateLabelEnabledAppSettings",
          "flatPath": "v2/labels/{labelsId}:updateLabelEnabledAppSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest"
          },
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update. The resource name of the label to update.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^labels/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "path": "v2/{+name}:updateLabelEnabledAppSettings"
        },
        "delta": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The resource name of the label to update.",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest"
          },
          "httpMethod": "POST",
          "path": "v2/{+name}:delta",
          "description": "Updates a single label by applying a set of update requests resulting in a new draft revision. For more information, see [Update a label](https://developers.google.com/workspace/drive/labels/guides/update-label). The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive items.",
          "id": "drivelabels.labels.delta",
          "flatPath": "v2/labels/{labelsId}:delta",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse"
          }
        },
        "create": {
          "httpMethod": "POST",
          "path": "v2/labels",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "parameters": {
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access.",
              "location": "query",
              "type": "boolean"
            },
            "languageCode": {
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used.",
              "location": "query"
            }
          },
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label).",
          "id": "drivelabels.labels.create",
          "flatPath": "v2/labels",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        },
        "updatePermissions": {
          "httpMethod": "PATCH",
          "path": "v2/{+parent}/permissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "parameters": {
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
            },
            "parent": {
              "description": "Required. The parent label resource name.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^labels/[^/]+$"
            }
          },
          "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
          "id": "drivelabels.labels.updatePermissions",
          "flatPath": "v2/labels/{labelsId}/permissions",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "parameters": {
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. This will return all labels within the customer."
            },
            "minimumRole": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ],
              "description": "Specifies the level of access the user must have on the returned labels. The minimum role a user must have on a label. Defaults to `READER`.",
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ]
            },
            "publishedOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`)."
            },
            "customer": {
              "type": "string",
              "location": "query",
              "description": "The customer to scope this list request to. For example: `customers/abcd1234`. If unset, will return all labels within the current customer."
            },
            "pageToken": {
              "type": "string",
              "description": "The token of the page to return.",
              "location": "query"
            },
            "view": {
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "type": "string",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200.",
              "format": "int32",
              "type": "integer"
            },
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used."
            }
          },
          "httpMethod": "GET",
          "path": "v2/labels",
          "description": "List labels. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label).",
          "id": "drivelabels.labels.list",
          "flatPath": "v2/labels",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2ListLabelsResponse"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.labels": {
          "description": "See, edit, create, and delete your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.admin.labels.readonly": {
          "description": "See all Google Drive labels and label-related admin policies in your organization"
        },
        "https://www.googleapis.com/auth/drive.admin.labels": {
          "description": "See, edit, create, and delete all Google Drive labels in your organization, and see your organization's label-related admin policies"
        },
        "https://www.googleapis.com/auth/drive.labels.readonly": {
          "description": "See your Google Drive labels"
        }
      }
    }
  },
  "schemas": {
    "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest": {
      "description": "Deletes one or more label permissions.",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        },
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest"
          }
        }
      },
      "id": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse": {
      "description": "Response following field delete.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
      "type": "object",
      "description": "The capabilities related to this label when editing the label.",
      "properties": {
        "canDelete": {
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can change this label.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "description": "The UI display hints for rendering the label.",
      "properties": {
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "priority": {
          "description": "The order to display labels in a list.",
          "type": "string",
          "format": "int64"
        },
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelDisplayHints",
      "type": "object"
    },
    "GoogleTypeColor": {
      "id": "GoogleTypeColor",
      "type": "object",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "alpha": {
          "type": "number",
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        },
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse",
      "type": "object",
      "description": "Response following field disable.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "type": "object",
      "description": "Updates basic properties of a label.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties",
          "description": "Required. Label properties to update."
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints": {
      "description": "UI display hints for rendering an option.",
      "properties": {
        "hiddenInSearch": {
          "description": "This option should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This option should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "darkBadgeColors": {
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors",
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
        },
        "badgeColors": {
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors",
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
        },
        "badgePriority": {
          "format": "int64",
          "type": "string",
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority."
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "description": "Response following choice delete.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2Field": {
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "properties": {
        "updater": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who modified this field.",
          "readOnly": true
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
        },
        "queryKey": {
          "type": "string",
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this field was created.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this field was updated.",
          "readOnly": true
        },
        "id": {
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who created this field.",
          "readOnly": true
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities this user has when editing this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities"
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "readOnly": true
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LockStatus"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties",
          "description": "The basic properties of the field."
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "description": "Output only. The lifecycle of this field.",
          "readOnly": true
        },
        "displayHints": {
          "$ref": "GoogleAppsDriveLabelsV2FieldDisplayHints",
          "description": "Output only. UI display hints for rendering a field.",
          "readOnly": true
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published.",
          "readOnly": true
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities"
        },
        "selectionOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions",
          "description": "Selection field options."
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions",
          "description": "User field options."
        },
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions"
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions"
        },
        "disableTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2Field",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2BadgeColors": {
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "properties": {
        "backgroundColor": {
          "description": "Output only. Badge background that pairs with the foreground.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        },
        "foregroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge foreground that pairs with the background.",
          "readOnly": true
        },
        "soloColor": {
          "$ref": "GoogleTypeColor",
          "description": "Output only. Color that can be used for text without a background.",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2BadgeColors",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp": {
      "id": "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp",
      "type": "object",
      "description": "An app where the label can be used.",
      "properties": {
        "app": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "description": "Optional. The name of the app.",
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2SelectionLimits": {
      "id": "GoogleAppsDriveLabelsV2SelectionLimits",
      "type": "object",
      "description": "Limits for selection field type.",
      "properties": {
        "maxDisplayNameLength": {
          "description": "Maximum length for display name.",
          "type": "integer",
          "format": "int32"
        },
        "maxDeletedChoices": {
          "description": "Maximum number of deleted choices.",
          "format": "int32",
          "type": "integer"
        },
        "listLimits": {
          "$ref": "GoogleAppsDriveLabelsV2ListLimits",
          "description": "Limits for list-variant of a field type."
        },
        "maxIdLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum ID length for a selection option."
        },
        "maxChoices": {
          "description": "Maximum number of choices.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "description": "Request to delete a choice.",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field from which a choice will be deleted.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "id": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
      "type": "object",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "properties": {
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        },
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldTextOptions",
      "type": "object",
      "description": "Options for the Text field type.",
      "properties": {
        "maxLength": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The maximum valid length of values for the text field.",
          "readOnly": true
        },
        "minLength": {
          "description": "Output only. The minimum valid length of values for the text field.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldListOptions": {
      "description": "Options for a multi-valued variant of an associated field type.",
      "properties": {
        "maxEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of entries permitted."
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldListOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelLimits": {
      "id": "GoogleAppsDriveLabelsV2LabelLimits",
      "type": "object",
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "properties": {
        "name": {
          "description": "Resource name.",
          "type": "string"
        },
        "maxFields": {
          "description": "The maximum number of fields allowed within the label.",
          "format": "int32",
          "type": "integer"
        },
        "maxDescriptionLength": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of characters allowed for the description."
        },
        "maxTitleLength": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of characters allowed for the title."
        },
        "maxDeletedFields": {
          "description": "The maximum number of published fields that can be deleted.",
          "format": "int32",
          "type": "integer"
        },
        "fieldLimits": {
          "$ref": "GoogleAppsDriveLabelsV2FieldLimits",
          "description": "The limits for fields."
        },
        "maxDraftRevisions": {
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
      "type": "object",
      "description": "The capabilities related to this choice on applied metadata.",
      "properties": {
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "type": "object",
      "description": "Request to update a choice property.",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field to update.",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
          "description": "Required. The choice properties to update."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "id": {
          "description": "Required. The choice to update.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "description": "Request to update field properties.",
      "properties": {
        "properties": {
          "description": "Required. Basic field properties.",
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest": {
      "id": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest",
      "type": "object",
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "properties": {
        "copyMode": {
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ]
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2Lifecycle": {
      "id": "GoogleAppsDriveLabelsV2Lifecycle",
      "type": "object",
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "properties": {
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "description": "Output only. The state of the object associated with this lifecycle.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ]
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DateLimits": {
      "description": "Limits for date field type.",
      "properties": {
        "minValue": {
          "$ref": "GoogleTypeDate",
          "description": "Minimum value for the date field type."
        },
        "maxValue": {
          "$ref": "GoogleTypeDate",
          "description": "Maximum value for the date field type."
        }
      },
      "id": "GoogleAppsDriveLabelsV2DateLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLabelLocksResponse": {
      "id": "GoogleAppsDriveLabelsV2ListLabelLocksResponse",
      "type": "object",
      "description": "The response to a `ListLabelLocksRequest`.",
      "properties": {
        "labelLocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLock"
          },
          "description": "Label locks."
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse",
      "type": "object",
      "description": "A single response from an update.",
      "properties": {
        "updateSelectionChoiceProperties": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
          "description": "Updates a choice within a selection field."
        },
        "disableField": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse",
          "description": "Disables field."
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "disableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
          "description": "Disables a choice within a selection field."
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a choice from a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse",
          "description": "Enables a choice within a selection field."
        },
        "createSelectionChoice": {
          "description": "Creates a selection list option to add to a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelLock": {
      "description": "A lock that can be applied to a label, field, or choice.",
      "properties": {
        "fieldId": {
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked.",
          "type": "string"
        },
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "readOnly": true,
          "description": "Output only. This label lock's state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this label lock was created.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of this label lock.",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "readOnly": true
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "readOnly": true
        },
        "capabilities": {
          "description": "Output only. The user's capabilities on this label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelLockCapabilities"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelLock",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LongTextLimits": {
      "description": "Limits for long text field type.",
      "properties": {
        "maxLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum length allowed for a long text field type."
        },
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum length allowed for a long text field type."
        }
      },
      "id": "GoogleAppsDriveLabelsV2LongTextLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2Label": {
      "id": "GoogleAppsDriveLabelsV2Label",
      "type": "object",
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`.",
          "readOnly": true
        },
        "disableTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "readOnly": true,
          "type": "string"
        },
        "publisher": {
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "readOnly": true
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering the label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelDisplayHints"
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "readOnly": true
        },
        "labelType": {
          "description": "Required. The type of label.",
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ]
        },
        "id": {
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "description": "Output only. The user who created this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "revisionCreator": {
          "description": "Output only. The user who created this label revision.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "publishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "readOnly": true
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Field"
          },
          "description": "List of fields in descending priority order."
        },
        "enabledAppSettings": {
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings",
          "description": "Optional. The `EnabledAppSettings` for this Label."
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "readOnly": true
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities the user has on this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities"
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy"
        },
        "revisionCreateTime": {
          "description": "Output only. The time this label revision was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "learnMoreUri": {
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used.",
          "type": "string"
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "description": "Output only. The `LockStatus` of this label.",
          "readOnly": true
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this label was created.",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest",
      "type": "object",
      "description": "Request to disable the field.",
      "properties": {
        "id": {
          "description": "Required. Key of the field to disable.",
          "type": "string"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "Required. Field disabled policy."
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest",
      "type": "object",
      "description": "Request to enable the field.",
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelProperties": {
      "id": "GoogleAppsDriveLabelsV2LabelProperties",
      "type": "object",
      "description": "Basic properties of the label.",
      "properties": {
        "description": {
          "description": "The description of the label.",
          "type": "string"
        },
        "title": {
          "description": "Required. Title of the label.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest",
      "type": "object",
      "description": "Request to delete the field.",
      "properties": {
        "id": {
          "description": "Required. ID of the field to delete.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice disable.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest": {
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "properties": {
        "labelPermission": {
          "$ref": "GoogleAppsDriveLabelsV2LabelPermission",
          "description": "Required. The permission to create or update on the label."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLabelsResponse": {
      "description": "Response for listing labels.",
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "description": "Labels."
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2ListLabelsResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
      "type": "object",
      "description": "The capabilities a user has on this label's applied metadata.",
      "properties": {
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        },
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DisableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2DisableLabelRequest",
      "type": "object",
      "description": "Request to deprecate a published label.",
      "properties": {
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "Disabled policy to use."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2IntegerLimits": {
      "id": "GoogleAppsDriveLabelsV2IntegerLimits",
      "type": "object",
      "description": "Limits for integer field type.",
      "properties": {
        "minValue": {
          "description": "Minimum value for an integer field type.",
          "format": "int64",
          "type": "string"
        },
        "maxValue": {
          "description": "Maximum value for an integer field type.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse": {
      "description": "Response following field create.",
      "properties": {
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest": {
[...]
