{
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "revision": "20260407",
  "servicePath": "drive/v3/",
  "title": "Google Drive API",
  "id": "drive:v3",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "basePath": "/drive/v3/",
  "version": "v3",
  "rootUrl": "https://www.googleapis.com/",
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        }
      }
    }
  },
  "schemas": {
    "LabelFieldModification": {
      "id": "LabelFieldModification",
      "type": "object",
      "description": "A modification to a label's field.",
      "properties": {
        "kind": {
          "description": "This is always `\"drive#labelFieldModification\"`.",
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field to be modified."
        },
        "setUserValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Replaces a `user` field with these new values. The values must be a valid email addresses."
        },
        "unsetValues": {
          "type": "boolean",
          "description": "Unsets the values for this field."
        },
        "setDateValues": {
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          }
        },
        "setSelectionValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Replaces a `selection` field with these new values."
        },
        "setTextValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Sets the value of a `text` field."
        },
        "setIntegerValues": {
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "LabelField": {
      "id": "LabelField",
      "type": "object",
      "description": "Representation of field, which is a typed key-value pair.",
      "properties": {
        "kind": {
          "description": "This is always drive#labelField.",
          "type": "string"
        },
        "dateString": {
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          }
        },
        "valueType": {
          "type": "string",
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`"
        },
        "id": {
          "type": "string",
          "description": "The identifier of this label field."
        },
        "integer": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Only present if `valueType` is `integer`."
        },
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only present if `valueType` is `text`."
        },
        "user": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "Only present if `valueType` is `user`."
        },
        "selection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only present if `valueType` is `selection`"
        }
      }
    },
    "Comment": {
      "id": "Comment",
      "type": "object",
      "description": "A comment on a file. Some resource methods (such as `comments.update`) require a `commentId`. Use the `comments.list` method to retrieve the ID for a comment in a file.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. The ID of the comment."
        },
        "deleted": {
          "description": "Output only. Whether the comment has been deleted. A deleted comment has no content.",
          "type": "boolean"
        },
        "createdTime": {
          "format": "date-time",
          "description": "The time at which the comment was created (RFC 3339 date-time).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#comment",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#comment\"`."
        },
        "content": {
          "description": "The plain text content of the comment. This field is used for setting the content, while `htmlContent` should be displayed.",
          "annotations": {
            "required": [
              "drive.comments.create",
              "drive.comments.update"
            ]
          },
          "type": "string"
        },
        "replies": {
          "description": "Output only. The full list of replies to the comment in chronological order.",
          "type": "array",
          "items": {
            "$ref": "Reply"
          }
        },
        "htmlContent": {
          "type": "string",
          "description": "Output only. The content of the comment with HTML formatting."
        },
        "resolved": {
          "type": "boolean",
          "description": "Output only. Whether the comment has been resolved by one of its replies."
        },
        "assigneeEmailAddress": {
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset.",
          "type": "string",
          "readOnly": true
        },
        "anchor": {
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments).",
          "type": "string"
        },
        "author": {
          "description": "Output only. The author of the comment. The author's email address and permission ID will not be populated.",
          "$ref": "User"
        },
        "quotedFileContent": {
          "description": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.",
          "properties": {
            "mimeType": {
              "description": "The MIME type of the quoted content.",
              "type": "string"
            },
            "value": {
              "description": "The quoted content itself. This is interpreted as plain text if set through the API.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "modifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last time the comment or any of its replies was modified (RFC 3339 date-time)."
        },
        "mentionedEmailAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty."
        }
      }
    },
    "ModifyLabelsResponse": {
      "id": "ModifyLabelsResponse",
      "type": "object",
      "description": "Response to a `ModifyLabels` request. This contains only those labels which were added or updated by the request.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#modifyLabelsResponse\"`."
        },
        "modifiedLabels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          },
          "description": "The list of labels which were added or updated by the request."
        }
      }
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "type": "object",
      "description": "A restriction for accessing the content of the file.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`."
        },
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly=true`.",
          "$ref": "User"
        },
        "systemRestricted": {
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.",
          "type": "boolean"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified."
        },
        "restrictionTime": {
          "format": "date-time",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string"
        },
        "ownerRestricted": {
          "type": "boolean",
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction."
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
        }
      }
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "type": "object",
      "description": "Deprecated: use the drive collection instead.",
      "properties": {
        "kind": {
          "default": "drive#teamDrive",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDrive\"`."
        },
        "capabilities": {
          "type": "object",
          "description": "Capabilities the current user has on this Team Drive.",
          "properties": {
            "canAddChildren": {
              "description": "Whether the current user can add children to folders in this Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Whether the current user can trash children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "type": "boolean",
              "description": "Whether the current user can change the background of this Team Drive."
            },
            "canCopy": {
              "type": "boolean",
              "description": "Whether the current user can copy files in this Team Drive."
            },
            "canDownload": {
              "type": "boolean",
              "description": "Whether the current user can download files in this Team Drive."
            },
            "canChangeTeamMembersOnlyRestriction": {
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Whether the current user can list the children of folders in this Team Drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Whether the current user can rename files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canShare": {
              "type": "boolean",
              "description": "Whether the current user can share files or folders in this Team Drive."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive."
            },
            "canResetTeamDriveRestrictions": {
              "type": "boolean",
              "description": "Whether the current user can reset the Team Drive restrictions to defaults."
            },
            "canChangeDownloadRestriction": {
              "description": "Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Whether the current user can edit files in this Team Drive"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive."
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "deprecated": true,
              "type": "boolean"
            }
          }
        },
        "createdTime": {
          "type": "string",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "format": "date-time"
        },
        "backgroundImageFile": {
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "yCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            },
            "id": {
              "type": "string",
              "description": "The ID of an image file in Drive to use for the background image."
            },
            "xCoordinate": {
              "type": "number",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "format": "float"
            },
            "width": {
              "format": "float",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number"
            }
          }
        },
        "name": {
          "type": "string",
          "description": "The name of this Team Drive."
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "restrictions": {
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive.",
          "properties": {
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive."
            },
            "downloadRestriction": {
              "description": "Download restrictions applied by shared drive managers.",
              "$ref": "DownloadRestriction"
            },
            "teamMembersOnly": {
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive."
            }
          },
          "type": "object"
        },
        "id": {
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive.",
          "type": "string"
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "A short-lived link to this Team Drive's background image."
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        }
      }
    },
    "Revision": {
      "id": "Revision",
      "type": "object",
      "description": "The metadata for a revision to a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "properties": {
        "size": {
          "type": "string",
          "description": "Output only. The size of the revision's content in bytes. This is only applicable to files with binary content in Drive.",
          "format": "int64"
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "published": {
          "type": "boolean",
          "description": "Whether this revision is published. This is only applicable to Docs Editors files."
        },
        "publishAuto": {
          "type": "boolean",
          "description": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files."
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "modifiedTime": {
          "format": "date-time",
          "description": "The last time the revision was modified (RFC 3339 date-time).",
          "type": "string"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "publishedLink": {
          "type": "string",
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files."
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the revision."
        },
        "keepForever": {
          "description": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file. This field is only applicable to files with binary content in Drive.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#revision",
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#revision\"`."
        },
        "originalFilename": {
          "description": "Output only. The original filename used to create this revision. This is only applicable to files with binary content in Drive.",
          "type": "string"
        }
      }
    },
    "LabelModification": {
      "id": "LabelModification",
      "type": "object",
      "description": "A modification to a label on a file. A `LabelModification` can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "properties": {
        "labelId": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "description": "The ID of the label to modify."
        },
        "fieldModifications": {
          "type": "array",
          "items": {
            "$ref": "LabelFieldModification"
          },
          "description": "The list of modifications to this label's fields."
        },
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#labelModification\"`."
        }
      }
    },
    "RevisionList": {
      "id": "RevisionList",
      "type": "object",
      "description": "A list of revisions of a file.",
      "properties": {
        "kind": {
          "default": "drive#revisionList",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#revisionList\"`."
        },
        "revisions": {
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Revision"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        }
      }
    },
    "AccessProposal": {
      "id": "AccessProposal",
      "type": "object",
      "description": "Manage outstanding access proposals on a file.",
      "properties": {
        "rolesAndViews": {
          "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "type": "array",
          "items": {
            "$ref": "AccessProposalRoleAndView"
          }
        },
        "requesterEmailAddress": {
          "description": "The email address of the requesting user.",
          "type": "string"
        },
        "createTime": {
          "description": "The creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "proposalId": {
          "description": "The ID of the access proposal.",
          "type": "string"
        },
        "fileId": {
          "description": "The file ID that the proposal for access is on.",
          "type": "string"
        },
        "recipientEmailAddress": {
          "description": "The email address of the user that will receive permissions, if accepted.",
          "type": "string"
        },
        "requestMessage": {
          "description": "The message that the requester added to the proposal.",
          "type": "string"
        }
      }
    },
    "Channel": {
      "description": "A notification channel used to watch for resource changes.",
      "properties": {
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional."
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\"."
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "type": "string",
          "default": "api#channel"
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Channel",
      "type": "object"
    },
    "Approval": {
      "id": "Approval",
      "type": "object",
      "description": "Metadata for an approval. An approval is a review/approve process for a Drive item.",
      "properties": {
        "reviewerResponses": {
          "description": "The responses made on the Approval by reviewers.",
          "type": "array",
          "items": {
            "$ref": "ReviewerResponse"
          }
        },
        "kind": {
          "description": "This is always drive#approval.",
          "type": "string"
        },
        "targetFileId": {
          "type": "string",
          "description": "Target file id of the approval."
        },
        "approvalId": {
          "type": "string",
          "description": "The Approval ID."
        },
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the approval was completed.",
          "format": "google-datetime"
        },
        "status": {
          "description": "Output only. The status of the approval at the time this resource was requested.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Approval status has not been set or was set to an invalid value.",
            "The approval process has started and not finished.",
            "The approval process is finished and the target was approved.",
            "The approval process was cancelled before it finished.",
            "The approval process is finished and the target was declined."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "APPROVED",
            "CANCELLED",
            "DECLINED"
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the approval was created."
        },
        "modifyTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time the approval was modified.",
          "format": "google-datetime"
        },
        "initiator": {
          "description": "The user that requested the Approval.",
          "$ref": "User"
        },
        "dueTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the approval is due."
        }
      }
    },
    "About": {
      "id": "About",
      "type": "object",
      "description": "Information about the user, the user's Drive, and system capabilities.",
      "properties": {
        "appInstalled": {
          "description": "Whether the user has installed the requesting app.",
          "type": "boolean"
        },
        "importFormats": {
          "description": "A map of source MIME type to possible targets for all supported imports.",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "teamDriveThemes": {
          "deprecated": true,
          "type": "array",
          "items": {
            "properties": {
              "id": {
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "deprecated": true,
                "type": "string"
              },
              "backgroundImageLink": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead."
              },
              "colorRgb": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Use `driveThemes/colorRgb` instead."
              }
            },
            "type": "object"
          },
          "description": "Deprecated: Use `driveThemes` instead."
        },
        "maxUploadSize": {
          "format": "int64",
          "description": "The maximum upload size in bytes.",
          "type": "string"
        },
        "canCreateTeamDrives": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated: Use `canCreateDrives` instead."
        },
        "storageQuota": {
          "description": "The user's storage quota limits and usage. For users that are part of an organization with pooled storage, information about the limit and usage across all services is for the organization, rather than the individual user. All fields are measured in bytes.",
          "properties": {
            "usage": {
              "format": "int64",
              "description": "The total usage across all services. For users that are part of an organization with pooled storage, this is the usage across all services for the organization, rather than the individual user.",
              "type": "string"
            },
            "limit": {
              "description": "The usage limit, if applicable. This will not be present if the user has unlimited storage. For users that are part of an organization with pooled storage, this is the limit for the organization, rather than the individual user.",
              "format": "int64",
              "type": "string"
            },
            "usageInDrive": {
              "type": "string",
              "format": "int64",
              "description": "The usage by all files in Google Drive."
            },
            "usageInDriveTrash": {
              "format": "int64",
              "description": "The usage by trashed files in Google Drive.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "folderColorPalette": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The currently supported folder colors as RGB hex strings."
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "exportFormats": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": "A map of source MIME type to possible targets for all supported exports."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#about\"`.",
          "default": "drive#about",
          "type": "string"
        },
        "maxImportSizes": {
          "description": "A map of maximum import sizes by MIME type, in bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "driveThemes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              },
              "colorRgb": {
                "type": "string",
                "description": "The color of this theme as an RGB hex string."
              }
            }
          },
          "description": "A list of themes that are supported for shared drives."
        }
      }
    },
    "DownloadRestrictionsMetadata": {
      "id": "DownloadRestrictionsMetadata",
      "type": "object",
      "description": "Download restrictions applied to the file.",
      "properties": {
        "effectiveDownloadRestrictionWithContext": {
          "description": "Output only. The effective download restriction applied to this file. This considers all restriction settings and DLP rules.",
          "$ref": "DownloadRestriction"
        },
        "itemDownloadRestriction": {
          "description": "The download restriction of the file applied directly by the owner or organizer. This doesn't take into account shared drive settings or DLP rules.",
          "$ref": "DownloadRestriction"
        }
      }
    },
    "GeneratedIds": {
      "id": "GeneratedIds",
      "type": "object",
      "description": "A list of generated file IDs which can be provided in create requests.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#generatedIds\"`.",
          "type": "string",
          "default": "drive#generatedIds"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs generated for the requesting user in the specified space."
        },
        "space": {
          "description": "The type of file that can be created with these IDs.",
          "type": "string"
        }
      }
    },
    "App": {
      "id": "App",
      "type": "object",
      "description": "The `apps` resource provides a list of apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the app."
        },
        "primaryFileExtensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of primary file extensions."
        },
        "productUrl": {
          "type": "string",
          "description": "A link to the product listing for this app."
        },
        "primaryMimeTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of primary MIME types."
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "createInFolderTemplate": {
          "type": "string",
          "description": "The template URL to create a file with this app in a given folder. The template contains the {folderId} to be replaced by the folder ID house the new file."
        },
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "secondaryFileExtensions": {
          "description": "The list of secondary file extensions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#app\".",
          "default": "drive#app",
          "type": "string"
        },
        "longDescription": {
          "type": "string",
          "description": "A long description of the app."
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating files when offline.",
          "type": "boolean"
        },
        "hasDriveWideScope": {
          "description": "Whether the app has Drive-wide scope. An app with Drive-wide scope can access all files in the user's Drive.",
          "type": "boolean"
        },
        "shortDescription": {
          "type": "string",
          "description": "A short description of the app."
        },
        "supportsCreate": {
          "type": "boolean",
          "description": "Whether this app supports creating objects."
        },
        "openUrlTemplate": {
          "description": "The template URL for opening files with this app. The template contains {ids} or {exportIds} to be replaced by the actual file IDs. For more information, see Open Files for the full documentation.",
          "type": "string"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "supportsMultiOpen": {
          "type": "boolean",
          "description": "Whether this app supports opening more than one file."
        },
        "createUrl": {
          "description": "The URL to create a file with this app.",
          "type": "string"
        },
        "objectType": {
          "description": "The type of object this app creates such as a Chart. If empty, the app name should be used instead.",
          "type": "string"
        },
        "supportsImport": {
          "description": "Whether this app supports importing from Google Docs.",
          "type": "boolean"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product listing for this app."
        },
        "secondaryMimeTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of secondary MIME types."
        },
        "icons": {
          "description": "The various icons for the app.",
          "type": "array",
          "items": {
            "$ref": "AppIcons"
          }
        }
      }
    },
    "Reply": {
      "description": "A reply to a comment on a file. Some resource methods (such as `replies.update`) require a `replyId`. Use the `replies.list` method to retrieve the ID for a reply.",
      "properties": {
        "author": {
          "description": "Output only. The author of the reply. The author's email address and permission ID won't be populated.",
          "$ref": "User"
        },
        "htmlContent": {
          "type": "string",
          "description": "Output only. The content of the reply with HTML formatting."
        },
        "assigneeEmailAddress": {
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Output only. The ID of the reply.",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether the reply has been deleted. A deleted reply has no content.",
          "type": "boolean"
        },
        "mentionedEmailAddresses": {
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "action": {
          "type": "string",
          "description": "The action the reply performed to the parent comment. The supported values are: * `resolve` * `reopen`"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#reply\"`.",
          "default": "drive#reply",
          "type": "string"
        },
        "content": {
          "annotations": {
            "required": [
              "drive.replies.update"
            ]
          },
          "description": "The plain text content of the reply. This field is used for setting the content, while `htmlContent` should be displayed. This field is required by the `create` method if no `action` value is specified.",
          "type": "string"
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the reply was created (RFC 3339 date-time)."
        },
        "modifiedTime": {
          "format": "date-time",
          "description": "The last time the reply was modified (RFC 3339 date-time).",
          "type": "string"
        }
      },
      "id": "Reply",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "type": "object"
    },
    "User": {
      "description": "Information about a Drive user.",
      "properties": {
        "kind": {
          "default": "drive#user",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`."
        },
        "photoLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to the user's profile photo, if available."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A plain text displayable name for this user."
        },
        "me": {
          "description": "Output only. Whether this user is the requesting user.",
          "type": "boolean",
          "readOnly": true
        },
        "permissionId": {
          "description": "Output only. The user's ID as visible in Permission resources.",
          "readOnly": true,
          "type": "string"
        },
        "emailAddress": {
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "User",
      "type": "object"
    },
    "CommentList": {
      "id": "CommentList",
      "type": "object",
      "description": "A list of comments on a file.",
      "properties": {
        "kind": {
          "default": "drive#commentList",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#commentList\"`."
        },
        "comments": {
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        }
      }
    },
    "DownloadRestriction": {
      "id": "DownloadRestriction",
      "type": "object",
      "description": "A restriction for copy and download of the file.",
      "properties": {
        "restrictedForReaders": {
          "description": "Whether download and copy is restricted for readers.",
          "type": "boolean"
        },
        "restrictedForWriters": {
          "description": "Whether download and copy is restricted for writers. If `true`, download is also restricted for readers.",
          "type": "boolean"
        }
      }
    },
    "Label": {
      "id": "Label",
      "type": "object",
      "description": "Representation of label and label fields.",
      "properties": {
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#label"
        },
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        },
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "LabelField"
          },
          "description": "A map of the fields on the label, keyed by the field's ID."
        }
      }
    },
    "AppIcons": {
      "properties": {
        "size": {
          "type": "integer",
          "format": "int32",
          "description": "Size of the icon. Represented as the maximum of the width and height."
        },
        "category": {
          "type": "string",
          "description": "Category of the icon. Allowed values are: * `application` - The icon for the application. * `document` - The icon for a file associated with the app. * `documentShared` - The icon for a shared file associated with the app."
        },
        "iconUrl": {
          "type": "string",
          "description": "URL for the icon."
        }
      },
      "id": "AppIcons",
      "type": "object"
    },
    "ChangeList": {
      "id": "ChangeList",
      "type": "object",
      "description": "A list of changes for a user.",
      "properties": {
        "kind": {
          "default": "drive#changeList",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`."
        },
        "newStartPageToken": {
          "type": "string",
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire."
        },
        "changes": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Change"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire."
        }
      }
    },
    "GenerateCseTokenResponse": {
      "id": "GenerateCseTokenResponse",
      "type": "object",
      "description": "JWT and associated metadata used to generate CSE files.",
      "properties": {
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`."
        },
        "currentKaclsName": {
          "type": "string",
          "description": "Name of the KACLs that the returned KACLs ID points to."
        },
        "currentKaclsId": {
          "type": "string",
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "format": "int64"
        },
        "fileId": {
          "type": "string",
          "description": "The fileId for which the JWT was generated."
        }
      }
    },
    "Permission": {
      "id": "Permission",
      "type": "object",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). By default, permission requests only return a subset of fields. Permission `kind`, `ID`, `type`, and `role` are always returned. To retrieve specific fields, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter). Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "properties": {
        "expirationTime": {
          "type": "string",
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future",
          "format": "date-time"
        },
        "photoLink": {
          "description": "Output only. A link to the user's profile photo, if available.",
          "type": "string"
        },
        "role": {
          "description": "The role granted by this permission. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the user or group to which this permission refers.",
          "type": "string"
        },
        "pendingOwner": {
          "type": "boolean",
          "description": "Whether the account associated with this permission is a pending owner. Only populated for permissions of type `user` for files that aren't in a shared drive."
        },
        "displayName": {
          "description": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google Account, such as \"Dana A.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"cymbalgroup.com.\" * `anyone` - No `displayName` is present.",
          "type": "string"
        },
        "permissionDetails": {
          "description": "Output only. Details of whether the permissions on this item are inherited or are directly on this item.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "inheritedFrom": {
                "type": "string",
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives."
              },
              "role": {
                "description": "Output only. The primary role for this user. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
                "type": "string"
              },
              "permissionType": {
                "type": "string",
                "description": "Output only. The permission type for this user. Supported values include: * `file` * `member`"
              },
              "inherited": {
                "type": "boolean",
                "description": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field."
              }
            }
          },
          "readOnly": true
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. The only supported values are `published` and `metadata`: * `published`: The permission's role is `publishedReader`. * `metadata`: The item is only visible to the `metadata` view because the item has limited access and the scope has at least read access to the parent. The `metadata` view is only supported on folders. For more information, see [Views](https://developers.google.com/workspace/drive/api/guides/ref-roles#views).",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in the [User resource](https://developers.google.com/workspace/drive/api/reference/rest/v3/User) as `permissionId`. IDs should be treated as opaque values."
        },
        "type": {
          "description": "The type of the grantee. Supported values include: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. If `type` is `domain`, you must provide a `domain`. If `type` is `anyone`, no extra information is required.",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "type": "string"
        },
        "allowFileDiscovery": {
          "type": "boolean",
          "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`."
        },
        "deleted": {
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to permissions of type `user` or `group`.",
          "type": "boolean"
        },
        "domain": {
          "description": "The domain to which this permission refers.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`.",
          "default": "drive#permission",
          "type": "string"
        },
        "teamDrivePermissionDetails": {
          "description": "Output only. Deprecated: Output only. Use `permissionDetails` instead.",
          "deprecated": true,
          "type": "array",
          "readOnly": true,
          "items": {
            "properties": {
              "teamDrivePermissionType": {
                "description": "Deprecated: Output only. Use `permissionDetails/permissionType` instead.",
                "deprecated": true,
                "type": "string"
              },
              "inheritedFrom": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead."
              },
              "role": {
                "description": "Deprecated: Output only. Use `permissionDetails/role` instead.",
                "deprecated": true,
                "type": "string"
              },
              "inherited": {
                "description": "Deprecated: Output only. Use `permissionDetails/inherited` instead.",
                "deprecated": true,
                "type": "boolean"
              }
            },
            "type": "object"
          }
        },
        "inheritedPermissionsDisabled": {
          "description": "When `true`, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        }
      }
    },
    "ReviewerResponse": {
      "id": "ReviewerResponse",
      "type": "object",
      "description": "A response on an Approval made by a specific Reviewer.",
      "properties": {
        "kind": {
          "description": "This is always drive#reviewerResponse.",
          "type": "string"
        },
        "response": {
          "description": "A Reviewer’s Response for the Approval.",
          "enumDescriptions": [
            "Response was set to an unrecognized value.",
            "The reviewer has not yet responded",
            "The Reviewer has approved the item.",
            "The Reviewer has declined the item."
          ],
          "type": "string",
          "enum": [
            "RESPONSE_UNSPECIFIED",
            "NO_RESPONSE",
            "APPROVED",
            "DECLINED"
          ]
        },
        "reviewer": {
          "description": "The user that is responsible for this response.",
          "$ref": "User"
        }
      }
    },
    "FileList": {
      "description": "A list of files.",
      "properties": {
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results might be missing, since all documents were not searched. This can occur when searching multiple drives with the `allDrives` corpora, but all corpora couldn't be searched. When this happens, it's suggested that clients narrow their query by choosing a different corpus such as `user` or `drive`.",
          "type": "boolean"
        },
        "files": {
          "description": "The list of files. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "kind": {
          "type": "string",
          "default": "drive#fileList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#fileList\"`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        }
      },
      "id": "FileList",
      "type": "object"
    },
    "DriveList": {
      "description": "A list of shared drives.",
      "properties": {
        "kind": {
          "default": "drive#driveList",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`."
        },
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "drives": {
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Drive"
          }
        }
      },
      "id": "DriveList",
      "type": "object"
    },
    "ApprovalList": {
      "description": "The response of an Approvals list request.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of Approvals. This will be absent if the end of the Approvals list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#approvalList"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Approval"
          },
          "description": "The list of Approvals. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        }
      },
      "id": "ApprovalList",
      "type": "object"
    },
    "LabelList": {
      "id": "LabelList",
      "type": "object",
      "description": "A list of labels applied to a file.",
      "properties": {
        "kind": {
          "description": "This is always `\"drive#labelList\"`.",
          "type": "string"
        },
        "labels": {
          "description": "The list of labels.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        }
      }
    },
    "ListAccessProposalsResponse": {
      "id": "ListAccessProposalsResponse",
      "type": "object",
      "description": "The response to an access proposal list request.",
      "properties": {
        "accessProposals": {
          "type": "array",
          "items": {
            "$ref": "AccessProposal"
          },
          "description": "The list of access proposals. This field is only populated in Drive API v3."
        },
        "nextPageToken": {
          "description": "The continuation token for the next page of results. This will be absent if the end of the results list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      }
    },
    "File": {
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "properties": {
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This doesn't indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "quotaBytesUsed": {
          "description": "Output only. The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with `keepForever` enabled.",
          "format": "int64",
          "type": "string"
        },
        "ownedByMe": {
          "description": "Output only. Whether the user owns the file. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "viewedByMeTime": {
          "description": "The last time the file was viewed by the user (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "thumbnailLink": {
          "type": "string",
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policies. Consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `files.thumbnailLink` must be fetched using a credentialed request."
        },
        "viewersCanCopyContent": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated: Use `copyRequiresWriterPermission` instead."
        },
        "contentRestrictions": {
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "type": "array",
          "items": {
            "$ref": "ContentRestriction"
          }
        },
        "sha256Checksum": {
          "type": "string",
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files."
        },
        "properties": {
          "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fullFileExtension": {
          "type": "string",
          "description": "Output only. The full file extension extracted from the `name` field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Google Drive. This is automatically updated when the `name` field changes, however it's not cleared if the new name doesn't contain a valid extension."
        },
        "trashed": {
          "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, but other users can still access the file in the owner's trash until it's permanently deleted.",
          "type": "boolean"
        },
        "originalFilename": {
          "type": "string",
          "description": "The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive."
        },
        "contentHints": {
          "type": "object",
          "description": "Additional information about the content of the file. These fields are never populated in responses.",
          "properties": {
            "indexableText": {
              "type": "string",
              "description": "Text to be indexed for the file to improve fullText queries. This is limited to 128 KB in length and may contain HTML elements."
            },
            "thumbnail": {
              "type": "object",
              "description": "A thumbnail for the file. This will only be used if Google Drive cannot generate a standard thumbnail.",
              "properties": {
                "mimeType": {
                  "type": "string",
                  "description": "The MIME type of the thumbnail."
                },
                "image": {
                  "description": "The thumbnail data encoded with URL-safe Base64 ([RFC 4648 section 5](https://datatracker.ietf.org/doc/html/rfc4648#section-5)).",
                  "format": "byte",
                  "type": "string"
                }
              }
            }
          }
        },
        "sharingUser": {
          "description": "Output only. The user who shared the file with the requesting user, if applicable.",
          "$ref": "User"
        },
        "hasAugmentedPermissions": {
          "type": "boolean",
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives."
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "size": {
          "description": "Output only. Size in bytes of blobs and Google Workspace editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "format": "int64",
          "type": "string"
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive.",
          "type": "string"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of a create request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list."
        },
        "downloadRestrictions": {
          "description": "Download restrictions applied on the file.",
          "$ref": "DownloadRestrictionsMetadata"
        },
        "folderColorRgb": {
          "description": "The color for a folder or a shortcut to a folder as an RGB hex string. The supported colors are published in the `folderColorPalette` field of the [`about`](/workspace/drive/api/reference/rest/v3/about) resource. If an unsupported color is specified, the closest color in the palette is used instead.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file. Google Drive attempts to automatically detect an appropriate value from uploaded content, if no value is provided. The value cannot be changed unless a new revision is uploaded. If a file is created with a Google Doc MIME type, the uploaded content is imported, if possible. The supported import formats are published in the [`about`](/workspace/drive/api/reference/rest/v3/about) resource."
        },
        "shortcutDetails": {
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`. Can only be set on `files.create` requests.",
          "properties": {
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            },
            "targetResourceKey": {
              "description": "Output only. The `resourceKey` for the target file.",
              "type": "string"
            },
            "targetId": {
              "type": "string",
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.create` requests."
            }
          },
          "type": "object"
        },
        "sha1Checksum": {
          "type": "string",
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files."
        },
        "starred": {
          "type": "boolean",
          "description": "Whether the user has starred the file."
        },
        "isAppAuthorized": {
          "description": "Output only. Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "webViewLink": {
          "type": "string",
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer in a browser."
        },
        "appProperties": {
          "description": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the file. This isn't necessarily unique within a folder. Note that for immutable items such as the top-level folders of shared drives, the My Drive root folder, and the Application Data folder, the name is constant."
        },
        "modifiedByMeTime": {
          "format": "date-time",
          "description": "The last time the file was modified by the user (RFC 3339 date-time).",
          "type": "string"
        },
        "linkShareMetadata": {
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "properties": {
            "securityUpdateEligible": {
              "type": "boolean",
              "description": "Output only. Whether the file is eligible for security update."
            },
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "writersCanShare": {
          "type": "boolean",
          "description": "Whether users with only `writer` permission can modify the file's permissions. Not populated for items in shared drives."
        },
        "modifiedTime": {
          "description": "he last time the file was modified by anyone (RFC 3339 date-time). Note that setting modifiedTime will also update modifiedByMeTime for the user.",
          "format": "date-time",
          "type": "string"
        },
        "videoMediaMetadata": {
          "description": "Output only. Additional metadata about video media. This may not be available immediately upon upload.",
          "properties": {
            "durationMillis": {
              "type": "string",
              "format": "int64",
              "description": "Output only. The duration of the video in milliseconds."
            },
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "height": {
              "format": "int32",
              "description": "Output only. The height of the video in pixels.",
              "type": "integer"
            }
          },
          "type": "object"
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This is currently only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "permissions": {
          "description": "Output only. The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "id": {
          "type": "string",
          "description": "The ID of the file."
        },
        "resourceKey": {
          "type": "string",
          "description": "Output only. A key needed to access the item via a shared link."
        },
        "thumbnailVersion": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation."
        },
        "labelInfo": {
          "type": "object",
          "description": "Output only. An overview of the labels on the file.",
          "properties": {
            "labels": {
              "type": "array",
              "items": {
                "$ref": "Label"
              },
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned."
            }
          }
        },
        "inheritedPermissionsDisabled": {
          "type": "boolean",
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default."
        },
        "version": {
          "type": "string",
          "format": "int64",
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user."
        },
        "driveId": {
          "type": "string",
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives."
        },
        "teamDriveId": {
          "description": "Deprecated: Output only. Use `driveId` instead.",
          "deprecated": true,
          "type": "string"
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "copyRequiresWriterPermission": {
          "type": "boolean",
          "description": "Whether the options to copy, print, or download this file should be disabled for readers and commenters."
        },
        "explicitlyTrashed": {
          "type": "boolean",
          "description": "Output only. Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder."
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify the file. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "modifiedByMe": {
          "type": "boolean",
          "description": "Output only. Whether the file has been modified by this user."
        },
        "sharedWithMeTime": {
          "description": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take. For more information, see [Understand file capabilities](https://developers.google.com/workspace/drive/api/guides/manage-sharing#capabilities).",
          "properties": {
            "canEnableInheritedPermissions": {
              "type": "boolean",
              "description": "Whether a user can re-enable inherited permissions."
            },
            "canRemoveMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files."
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canRename": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename this file."
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canModifyContent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the content of this file."
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that's being added.",
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveChildrenWithinDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files."
            },
            "canModifyOwnerContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead."
            },
            "canTrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this file to trash."
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item if it's not a folder."
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download this file."
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on this file."
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item if it's not a folder, can be read."
            },
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that's being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveChildrenOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canChangeViewersCanCopyContent": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only."
            },
            "canModifyContentRestriction": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction`, or `canRemoveContentRestriction`."
            },
            "canChangeItemDownloadRestriction": {
              "description": "Output only. Whether the current user can change the owner or organizer-applied download restrictions of the file.",
              "type": "boolean"
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can list the children of this folder. This is always `false` when the item isn't a folder."
            },
            "canReadTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canReadDrive` instead."
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always `false` when the item isn't a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canReadDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives."
            },
            "canChangeSecurityUpdateEnabled": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `securityUpdateEnabled` field on link share metadata."
            },
            "canDisableInheritedPermissions": {
              "description": "Whether a user can disable inherited permissions.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to this folder. This is always `false` when the item isn't a folder."
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives."
            },
            "canMoveChildrenWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is `false` when the item isn't a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder."
            },
            "canRemoveContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether there's a content restriction on the file that can be removed by the current user."
            },
            "canMoveTeamDriveItem": {
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canDelete": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this file."
            }
          },
          "type": "object"
        },
        "viewedByMe": {
          "description": "Output only. Whether the file has been viewed by this user.",
          "type": "boolean"
        },
        "imageMediaMetadata": {
          "type": "object",
          "description": "Output only. Additional metadata about image media, if available.",
          "properties": {
            "location": {
              "type": "object",
              "description": "Output only. Geographic location information stored in the image.",
              "properties": {
                "latitude": {
                  "type": "number",
                  "description": "Output only. The latitude stored in the image.",
                  "format": "double"
                },
                "altitude": {
                  "type": "number",
                  "description": "Output only. The altitude stored in the image.",
                  "format": "double"
                },
                "longitude": {
                  "type": "number",
                  "format": "double",
                  "description": "Output only. The longitude stored in the image."
                }
              }
            },
            "maxApertureValue": {
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "format": "float",
              "type": "number"
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "meteringMode": {
              "type": "string",
              "description": "Output only. The metering mode used to create the photo."
            },
            "sensor": {
              "type": "string",
              "description": "Output only. The type of sensor used to create the photo."
            },
            "cameraMake": {
              "type": "string",
              "description": "Output only. The make of the camera used to create the photo."
            },
            "isoSpeed": {
              "description": "Output only. The ISO speed used to create the photo.",
              "format": "int32",
              "type": "integer"
            },
            "whiteBalance": {
              "type": "string",
[...]
