{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "protocol": "rest",
  "description": "An API for managing Drive Labels",
  "resources": {
    "users": {
      "methods": {
        "getCapabilities": {
          "parameters": {
            "customer": {
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "pattern": "^users/[^/]+/capabilities$",
              "location": "path",
              "required": true
            }
          },
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/users/{usersId}/capabilities",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2UserCapabilities"
          },
          "id": "drivelabels.users.getCapabilities",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "Gets the user capabilities."
        }
      }
    },
    "labels": {
      "methods": {
        "create": {
          "parameterOrder": [],
          "path": "v2/labels",
          "parameters": {
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used.",
              "location": "query",
              "type": "string"
            },
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access.",
              "location": "query",
              "type": "boolean"
            }
          },
          "id": "drivelabels.labels.create",
          "flatPath": "v2/labels",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label).",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "httpMethod": "POST"
        },
        "updatePermissions": {
          "parameters": {
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
              "location": "query",
              "type": "boolean"
            },
            "parent": {
              "type": "string",
              "description": "Required. The parent label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "path": "v2/{+parent}/permissions",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v2/labels/{labelsId}/permissions",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "id": "drivelabels.labels.updatePermissions",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
        },
        "enable": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2EnableLabelRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Enable a disabled label and restore it to its published state. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). This will result in a new published revision based on the current disabled published revision. If there's an existing disabled draft revision, a new revision will be created based on that draft and will be enabled.",
          "httpMethod": "POST",
          "flatPath": "v2/labels/{labelsId}:enable",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "id": "drivelabels.labels.enable",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v2/{+name}:enable"
        },
        "list": {
          "flatPath": "v2/labels",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2ListLabelsResponse"
          },
          "id": "drivelabels.labels.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "List labels. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label).",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query",
              "type": "string"
            },
            "publishedOnly": {
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`).",
              "location": "query",
              "type": "boolean"
            },
            "customer": {
              "description": "The customer to scope this list request to. For example: `customers/abcd1234`. If unset, will return all labels within the current customer.",
              "location": "query",
              "type": "string"
            },
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. This will return all labels within the customer.",
              "location": "query",
              "type": "boolean"
            },
            "minimumRole": {
              "description": "Specifies the level of access the user must have on the returned labels. The minimum role a user must have on a label. Defaults to `READER`.",
              "location": "query",
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ],
              "type": "string",
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ]
            },
            "pageSize": {
              "format": "int32",
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200.",
              "location": "query",
              "type": "integer"
            },
            "view": {
              "type": "string",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "location": "query",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ]
            },
            "pageToken": {
              "description": "The token of the page to return.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2/labels"
        },
        "delete": {
          "flatPath": "v2/labels/{labelsId}",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "id": "drivelabels.labels.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Permanently deletes a label and related metadata on Drive items. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Once deleted, the label and related Drive item metadata will be deleted. Only draft labels and disabled labels may be deleted.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
              "location": "query",
              "type": "boolean"
            },
            "writeControl.requiredRevisionId": {
              "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+name}"
        },
        "updateLabelEnabledAppSettings": {
          "flatPath": "v2/labels/{labelsId}:updateLabelEnabledAppSettings",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "id": "drivelabels.labels.updateLabelEnabledAppSettings",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest"
          },
          "description": "Updates a label's `EnabledAppSettings`. Enabling a label in a Google Workspace app allows it to be used in that app. This change isn't revisioned, doesn't require publishing, and takes effect immediately.",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update. The resource name of the label to update.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+name}:updateLabelEnabledAppSettings"
        },
        "publish": {
          "path": "v2/{+name}:publish",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Publish all draft changes to the label. Once published, the label may not return to its draft state. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label). Publishing a label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label will be rejected. For example, the following changes to a label will be rejected after the label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * `Field.FieldType` cannot be changed. * Changes to field validation options cannot reject something that was previously accepted. * Reducing the maximum entries.",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2PublishLabelRequest"
          },
          "id": "drivelabels.labels.publish",
          "flatPath": "v2/labels/{labelsId}:publish",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        },
        "disable": {
          "id": "drivelabels.labels.disable",
          "flatPath": "v2/labels/{labelsId}:disable",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Disable a published label. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Disabling a label will result in a new disabled published revision based on the current published revision. If there's a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`.",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DisableLabelRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}:disable",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "id": "drivelabels.labels.get",
          "flatPath": "v2/labels/{labelsId}",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "Get a label by its resource name. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label). Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}",
          "parameters": {
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access.",
              "location": "query",
              "type": "boolean"
            },
            "name": {
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query",
              "type": "string"
            },
            "view": {
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "location": "query",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "type": "string",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ]
            }
          }
        },
        "delta": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the label to update.",
              "pattern": "^labels/[^/]+$",
              "location": "path"
            }
          },
          "path": "v2/{+name}:delta",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Updates a single label by applying a set of update requests resulting in a new draft revision. For more information, see [Update a label](https://developers.google.com/workspace/drive/labels/guides/update-label). The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive items.",
          "httpMethod": "POST",
          "flatPath": "v2/labels/{labelsId}:delta",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse"
          },
          "id": "drivelabels.labels.delta"
        },
        "updateLabelCopyMode": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name of the label to update.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "path": "v2/{+name}:updateLabelCopyMode",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Updates a label's `CopyMode`. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately.",
          "httpMethod": "POST",
          "flatPath": "v2/labels/{labelsId}:updateLabelCopyMode",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "id": "drivelabels.labels.updateLabelCopyMode"
        }
      },
      "resources": {
        "revisions": {
          "methods": {
            "updatePermissions": {
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "httpMethod": "PATCH",
              "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "id": "drivelabels.labels.revisions.updatePermissions",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent label resource name.",
                  "pattern": "^labels/[^/]+/revisions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v2/{+parent}/permissions"
            }
          },
          "resources": {
            "permissions": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "description": "Lists a label's permissions.",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
                  },
                  "id": "drivelabels.labels.revisions.permissions.list",
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The token of the page to return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/permissions",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "id": "drivelabels.labels.revisions.permissions.delete",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Label permission resource name.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v2/{+parent}/permissions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
                  },
                  "id": "drivelabels.labels.revisions.permissions.create"
                },
                "batchUpdate": {
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "httpMethod": "POST",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
                  },
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2/{+parent}/permissions:batchUpdate"
                },
                "batchDelete": {
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "drivelabels.labels.revisions.permissions.batchDelete",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2/{+parent}/permissions:batchDelete"
                }
              }
            },
            "locks": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "description": "Lists the label locks on a label.",
                  "id": "drivelabels.labels.revisions.locks.list",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/locks",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
                  },
                  "path": "v2/{+parent}/locks",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The token of the page to return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "locks": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "description": "Lists the label locks on a label.",
              "flatPath": "v2/labels/{labelsId}/locks",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
              },
              "id": "drivelabels.labels.locks.list",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/locks",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "permissions": {
          "methods": {
            "list": {
              "flatPath": "v2/labels/{labelsId}/permissions",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
              },
              "id": "drivelabels.labels.permissions.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "description": "Lists a label's permissions.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageSize": {
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "v2/{+parent}/permissions",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "id": "drivelabels.labels.permissions.delete",
              "flatPath": "v2/labels/{labelsId}/permissions/{permissionsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Label permission resource name.",
                  "pattern": "^labels/[^/]+/permissions/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "flatPath": "v2/labels/{labelsId}/permissions",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "id": "drivelabels.labels.permissions.create",
              "parameters": {
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v2/{+parent}/permissions",
              "parameterOrder": [
                "parent"
              ]
            },
            "batchUpdate": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/permissions:batchUpdate",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
              },
              "httpMethod": "POST",
              "id": "drivelabels.labels.permissions.batchUpdate",
              "flatPath": "v2/labels/{labelsId}/permissions:batchUpdate",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
              }
            },
            "batchDelete": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
              },
              "id": "drivelabels.labels.permissions.batchDelete",
              "flatPath": "v2/labels/{labelsId}/permissions:batchDelete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+parent}/permissions:batchDelete",
              "parameters": {
                "parent": {
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "limits": {
      "methods": {
        "getLabel": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "id": "drivelabels.limits.getLabel",
          "flatPath": "v2/limits/label",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLimits"
          },
          "path": "v2/limits/label",
          "parameters": {
            "name": {
              "description": "Required. Label revision resource name must be: \"limits/label\".",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": []
        }
      }
    }
  },
  "baseUrl": "https://drivelabels.googleapis.com/",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "canonicalName": "Drive Labels",
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    }
  },
  "rootUrl": "https://drivelabels.googleapis.com/",
  "ownerDomain": "google.com",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "revision": "20260504",
  "version": "v2",
  "kind": "discovery#restDescription",
  "id": "drivelabels:v2",
  "title": "Drive Labels API",
  "name": "drivelabels",
  "ownerName": "Google",
  "schemas": {
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "properties": {
        "fieldId": {
          "description": "The server-generated ID of the field.",
          "type": "string"
        },
        "id": {
          "description": "The server-generated ID of the created choice within the field.",
          "type": "string"
        }
      },
      "description": "Response following selection choice create.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "description": "Response following choice delete.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2FieldAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
      "properties": {
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this field on applied metadata.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelLimits": {
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelLimits",
      "properties": {
        "fieldLimits": {
          "$ref": "GoogleAppsDriveLabelsV2FieldLimits",
          "description": "The limits for fields."
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        },
        "maxDeletedFields": {
          "format": "int32",
          "description": "The maximum number of published fields that can be deleted.",
          "type": "integer"
        },
        "maxDescriptionLength": {
          "description": "The maximum number of characters allowed for the description.",
          "type": "integer",
          "format": "int32"
        },
        "maxTitleLength": {
          "description": "The maximum number of characters allowed for the title.",
          "type": "integer",
          "format": "int32"
        },
        "maxFields": {
          "description": "The maximum number of fields allowed within the label.",
          "type": "integer",
          "format": "int32"
        },
        "maxDraftRevisions": {
          "format": "int32",
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "description": "Response following update to label properties.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2BadgeColors": {
      "id": "GoogleAppsDriveLabelsV2BadgeColors",
      "properties": {
        "foregroundColor": {
          "description": "Output only. Badge foreground that pairs with the background.",
          "$ref": "GoogleTypeColor",
          "readOnly": true
        },
        "backgroundColor": {
          "readOnly": true,
          "description": "Output only. Badge background that pairs with the foreground.",
          "$ref": "GoogleTypeColor"
        },
        "soloColor": {
          "description": "Output only. Color that can be used for text without a background.",
          "$ref": "GoogleTypeColor",
          "readOnly": true
        }
      },
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSchemaCapabilities": {
      "description": "The capabilities related to this field when editing the field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
      "properties": {
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
      "properties": {
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2BadgeConfig"
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "insertBeforeChoice": {
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list.",
          "type": "string"
        }
      },
      "description": "Basic properties of the choice.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelPermission": {
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelPermission",
      "properties": {
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        },
        "group": {
          "description": "Group resource name.",
          "type": "string"
        },
        "role": {
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ],
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "description": "The role the principal should have.",
          "type": "string"
        },
        "person": {
          "description": "Person resource name.",
          "type": "string"
        },
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        },
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2UserInfo": {
      "description": "Information about a user.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2UserInfo",
      "properties": {
        "person": {
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse",
      "properties": {
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "type": "integer"
        }
      },
      "description": "Response following field create.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "description": "The UI display hints for rendering the label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelDisplayHints",
      "properties": {
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "priority": {
          "format": "int64",
          "description": "The order to display labels in a list.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2WriteControl": {
      "id": "GoogleAppsDriveLabelsV2WriteControl",
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
          "type": "string"
        }
      },
      "description": "Provides control over how write requests are executed. When not specified, the last write wins.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest": {
      "description": "Request to enable the field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest",
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to enable.",
          "type": "string"
        }
      },
      "description": "Request to enable a choice.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2EnableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2EnableLabelRequest",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2WriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "description": "Request to enable a label.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2ListLimits": {
      "id": "GoogleAppsDriveLabelsV2ListLimits",
      "properties": {
        "maxEntries": {
          "format": "int32",
          "description": "Maximum number of values allowed for the field type.",
          "type": "integer"
        }
      },
      "description": "Limits for list-variant of a field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelLock": {
      "description": "A lock that can be applied to a label, field, or choice.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelLock",
      "properties": {
        "fieldId": {
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this label lock was created.",
          "type": "string"
        },
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "capabilities": {
          "readOnly": true,
          "description": "Output only. The user's capabilities on this label lock.",
          "$ref": "GoogleAppsDriveLabelsV2LabelLockCapabilities"
        },
        "state": {
          "description": "Output only. This label lock's state.",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ]
        },
        "name": {
          "description": "Output only. Resource name of this label lock.",
          "type": "string",
          "readOnly": true
        },
        "creator": {
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest": {
      "description": "Updates one or more label permissions.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update.",
          "type": "array"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy": {
      "id": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
      "properties": {
        "copyMode": {
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "type": "string",
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ]
        }
      },
      "description": "Behavior of this label when it's applied to Drive items.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
      "properties": {
        "canUpdate": {
          "description": "Whether the user can change this label.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this label when editing the label.",
      "type": "object"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2FieldDisplayHints",
      "properties": {
        "required": {
          "description": "Whether the field should be shown as required in the UI.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "description": "This field should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This field should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        }
      },
      "description": "UI display hints for rendering a field.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest": {
      "id": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "copyMode": {
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "type": "string",
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ]
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        }
      },
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities": {
      "description": "The capabilities related to this choice on applied metadata.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
      "properties": {
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldProperties": {
      "description": "The basic properties of the field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldProperties",
      "properties": {
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest": {
      "description": "Request to create a field within a label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest",
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2Field"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
      "properties": {
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        },
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints": {
      "description": "UI display hints for rendering an option.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
      "properties": {
        "hiddenInSearch": {
          "description": "This option should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "badgeColors": {
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        },
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "badgePriority": {
          "format": "int64",
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "type": "string"
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        },
        "shownInApply": {
          "description": "This option should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2TextLimits": {
      "id": "GoogleAppsDriveLabelsV2TextLimits",
      "properties": {
        "maxLength": {
          "format": "int32",
          "description": "Maximum length allowed for a text field type.",
          "type": "integer"
        },
        "minLength": {
          "format": "int32",
          "description": "Minimum length allowed for a text field type.",
          "type": "integer"
        }
      },
      "description": "Limits for text field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DisableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2DisableLabelRequest",
      "properties": {
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "Disabled policy to use."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "description": "Request to deprecate a published label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "properties": {
        "id": {
          "description": "Required. The choice to update.",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
          "description": "Required. The choice properties to update."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "fieldId": {
          "description": "Required. The selection field to update.",
          "type": "string"
        }
      },
      "description": "Request to update a choice property.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldUserOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldUserOptions",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        }
      },
      "description": "Options for the user field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "description": "Response following update to selection choice properties.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "properties": {
        "priority": {
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest": {
      "id": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest",
      "properties": {
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
        },
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      },
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "type": "object"
    },
    "GoogleTypeColor": {
      "id": "GoogleTypeColor",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "type": "number"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp": {
      "description": "An app where the label can be used.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp",
      "properties": {
        "app": {
          "description": "Optional. The name of the app.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "description": "Updates basic properties of a label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "properties": {
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties",
          "description": "Required. Label properties to update."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BadgeConfig": {
      "id": "GoogleAppsDriveLabelsV2BadgeConfig",
      "properties": {
        "priorityOverride": {
          "format": "int64",
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "type": "string"
        },
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color."
        }
      },
      "description": "Badge status of the label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DateLimits": {
      "id": "GoogleAppsDriveLabelsV2DateLimits",
      "properties": {
        "minValue": {
          "description": "Minimum value for the date field type.",
          "$ref": "GoogleTypeDate"
        },
        "maxValue": {
          "$ref": "GoogleTypeDate",
          "description": "Maximum value for the date field type."
        }
      },
      "description": "Limits for date field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
      "properties": {
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this choice.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this choice when editing the choice.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LockStatus": {
      "description": "Contains information about whether a label component should be considered locked.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LockStatus",
      "properties": {
        "locked": {
          "readOnly": true,
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest"
          }
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        }
      },
      "description": "Deletes one or more label permissions.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelAppliedCapabilities": {
      "description": "The capabilities a user has on this label's applied metadata.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
      "properties": {
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        },
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldIntegerOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldIntegerOptions",
      "properties": {
        "maxValue": {
          "description": "Output only. The maximum valid value for the integer field.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "minValue": {
          "description": "Output only. The minimum valid value for the integer field.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "description": "Options for the Integer field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptions": {
      "description": "Options for the selection field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptions",
      "properties": {
        "choices": {
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
          }
        },
        "listOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions",
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest": {
      "description": "Request to delete the field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest",
      "properties": {
        "id": {
          "description": "Required. ID of the field to delete.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse": {
      "description": "A single response from an update.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse",
      "properties": {
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse",
          "description": "Enables a choice within a selection field."
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse",
          "description": "Creates a selection list option to add to a selection field."
        },
        "updateSelectionChoiceProperties": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
          "description": "Updates a choice within a selection field."
        },
        "disableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
          "description": "Disables a choice within a selection field."
        },
        "updateLabel": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
          "description": "Updates basic properties of a label."
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse"
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse"
        },
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
          "description": "Deletes a choice from a selection field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "properties": {},
      "description": "Response following choice disable.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UserCapabilities": {
      "id": "GoogleAppsDriveLabelsV2UserCapabilities",
      "properties": {
        "canAdministrateLabels": {
          "readOnly": true,
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "type": "boolean"
        },
        "canCreateSharedLabels": {
          "readOnly": true,
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name for the user capabilities.",
          "type": "string",
          "readOnly": true
        },
        "canCreateAdminLabels": {
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "type": "boolean",
          "readOnly": true
        },
        "canAccessLabelManager": {
          "readOnly": true,
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "type": "boolean"
        }
      },
      "description": "The capabilities of a user.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "description": "Request to disable a choice.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be disabled.",
          "type": "string"
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "Required. The disabled policy to update."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to disable.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelLockCapabilities": {
      "description": "A description of a user's capabilities on a label lock.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelLockCapabilities",
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldDateOptions": {
      "description": "Options for the date field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldDateOptions",
      "properties": {
        "dateFormatType": {
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "type": "string",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ]
        },
        "maxValue": {
          "$ref": "GoogleTypeDate",
          "description": "Output only. Maximum valid value (year, month, day).",
          "readOnly": true
        },
        "minValue": {
          "readOnly": true,
          "description": "Output only. Minimum valid value (year, month, day).",
          "$ref": "GoogleTypeDate"
        },
[...]
