{
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "version": "v2",
  "id": "drive:v2",
  "rootUrl": "https://www.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch/drive/v2",
  "ownerName": "Google",
  "basePath": "/drive/v2/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "ModifyLabelsRequest": {
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "properties": {
        "labelModifications": {
          "description": "The list of modifications to apply to the labels on the file.",
          "type": "array",
          "items": {
            "$ref": "LabelModification"
          }
        },
        "kind": {
          "default": "drive#modifyLabelsRequest",
          "type": "string",
          "description": "This is always `drive#modifyLabelsRequest`."
        }
      },
      "id": "ModifyLabelsRequest",
      "type": "object"
    },
    "PermissionList": {
      "description": "A list of permissions associated with a file.",
      "properties": {
        "kind": {
          "description": "This is always `drive#permissionList`.",
          "default": "drive#permissionList",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "description": "The list of permissions.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "id": "PermissionList",
      "type": "object"
    },
    "Permission": {
      "type": "object",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "properties": {
        "role": {
          "description": "The primary role for this user. While new values may be supported in the future, the following are currently allowed: * `owner` * `organizer` * `fileOrganizer` * `writer` * `reader`",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          },
          "type": "string"
        },
        "authKey": {
          "type": "string",
          "description": "Output only. Deprecated.",
          "deprecated": true
        },
        "teamDrivePermissionDetails": {
          "description": "Output only. Deprecated: Use `permissionDetails` instead.",
          "deprecated": true,
          "readOnly": true,
          "type": "array",
          "items": {
            "properties": {
              "inheritedFrom": {
                "type": "string",
                "description": "Output only. Deprecated: Use `permissionDetails/inheritedFrom` instead.",
                "deprecated": true
              },
              "teamDrivePermissionType": {
                "type": "string",
                "description": "Output only. Deprecated: Use `permissionDetails/permissionType` instead.",
                "deprecated": true
              },
              "inherited": {
                "type": "boolean",
                "description": "Output only. Deprecated: Use `permissionDetails/inherited` instead.",
                "deprecated": true
              },
              "role": {
                "description": "Output only. Deprecated: Use `permissionDetails/role` instead.",
                "deprecated": true,
                "type": "string"
              },
              "additionalRoles": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Output only. Deprecated: Use `permissionDetails/additionalRoles` instead.",
                "deprecated": true
              }
            },
            "type": "object"
          }
        },
        "name": {
          "description": "Output only. The name for this permission.",
          "type": "string"
        },
        "permissionDetails": {
          "description": "Output only. Details of whether the permissions on this item are inherited or directly on this item.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "role": {
                "description": "Output only. The primary role for this user. While new values may be added in the future, the following are currently possible: * `organizer` * `fileOrganizer` * `writer` * `reader`",
                "type": "string"
              },
              "additionalRoles": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Output only. Additional roles for this user. Only `commenter` is currently possible, though more may be supported in the future."
              },
              "permissionType": {
                "type": "string",
                "description": "Output only. The permission type for this user. While new values may be added in future, the following are currently possible: * `file` * `member`"
              },
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated.",
                "type": "boolean"
              },
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string"
              }
            }
          }
        },
        "id": {
          "type": "string",
          "description": "The ID of the user this permission refers to, and identical to the `permissionId` in the About and Files resources. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored."
        },
        "withLink": {
          "description": "Whether the link is required for this permission.",
          "type": "boolean"
        },
        "inheritedPermissionsDisabled": {
          "type": "boolean",
          "description": "When true, only organizers, owners, and users with permissions added directly on the item can access it."
        },
        "emailAddress": {
          "description": "Output only. The email address of the user or group this permission refers to. This is an output-only field which is present when the permission type is `user` or `group`.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this permission.",
          "type": "string"
        },
        "view": {
          "type": "string",
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. published and metadata are the only supported values. - published: The permission's role is published_reader. - metadata: The item is only visible to the metadata view because the item has limited access and the scope has at least read access to the parent. Note: The metadata view is currently only supported on folders. "
        },
        "type": {
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          },
          "description": "The account type. Allowed values are: * `user` * `group` * `domain` * `anyone`",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions.",
          "type": "boolean"
        },
        "additionalRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional roles for this user. Only `commenter` is currently allowed, though more may be supported in the future."
        },
        "domain": {
          "description": "Output only. The domain name of the entity this permission refers to. This is an output-only field which is present when the permission type is `user`, `group` or `domain`.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. The ETag of the permission.",
          "type": "string"
        },
        "kind": {
          "default": "drive#permission",
          "type": "string",
          "description": "Output only. This is always `drive#permission`."
        },
        "expirationDate": {
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration dates have the following restrictions: - They can only be set on user and group permissions - The date must be in the future - The date cannot be more than a year in the future - The date can only be set on drive.permissions.update or drive.permissions.patch requests",
          "format": "date-time",
          "type": "string"
        },
        "value": {
          "description": "The email address or domain name for the entity. This is used during inserts and is not populated in responses. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        },
        "photoLink": {
          "description": "Output only. A link to the profile photo, if available.",
          "type": "string"
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for `user` type permissions for files that are not in a shared drive.",
          "type": "boolean"
        }
      },
      "id": "Permission"
    },
    "Comment": {
      "description": "A comment on a file in Google Drive.",
      "properties": {
        "context": {
          "description": "Context of a file which is being commented on.",
          "properties": {
            "value": {
              "description": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "The MIME type of the context snippet."
            }
          },
          "type": "object"
        },
        "author": {
          "description": "The user who wrote this comment.",
          "$ref": "User"
        },
        "deleted": {
          "description": "Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed.",
          "type": "boolean"
        },
        "fileId": {
          "description": "The file which this comment is addressing.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this comment."
        },
        "kind": {
          "default": "drive#comment",
          "type": "string",
          "description": "This is always drive#comment."
        },
        "fileTitle": {
          "description": "The title of the file which this comment is addressing.",
          "type": "string"
        },
        "createdDate": {
          "description": "The date when this comment was first created.",
          "type": "string",
          "format": "date-time"
        },
        "modifiedDate": {
          "description": "The date when this comment or any of its replies were last modified.",
          "format": "date-time",
          "type": "string"
        },
        "htmlContent": {
          "description": "HTML formatted content for this comment.",
          "type": "string"
        },
        "replies": {
          "type": "array",
          "items": {
            "$ref": "CommentReply"
          },
          "description": "Replies to this post."
        },
        "anchor": {
          "type": "string",
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments)."
        },
        "commentId": {
          "description": "The ID of the comment.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content.",
          "annotations": {
            "required": [
              "drive.comments.insert",
              "drive.comments.patch",
              "drive.comments.update"
            ]
          }
        },
        "status": {
          "type": "string",
          "description": "The status of this comment. Status can be changed by posting a reply to a comment with the desired status. Possible values are: * `open` - The comment is still open. * `resolved` - The comment has been resolved by one of its replies."
        }
      },
      "id": "Comment",
      "type": "object"
    },
    "ChildReference": {
      "type": "object",
      "description": "A reference to a folder's child. Some resource methods (such as `children.get`) require a `childId`. Use the `children.list` method to retrieve the ID of the child.",
      "properties": {
        "childLink": {
          "description": "Output only. A link to the child.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#childReference`.",
          "default": "drive#childReference",
          "type": "string"
        },
        "id": {
          "description": "The ID of the child.",
          "annotations": {
            "required": [
              "drive.children.insert"
            ]
          },
          "type": "string"
        }
      },
      "id": "ChildReference"
    },
    "LabelList": {
      "description": "A list of labels applied to a file.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Label"
          },
          "description": "The list of labels."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "kind": {
          "default": "drive#labelList",
          "type": "string",
          "description": "This is always `drive#labelList`"
        }
      },
      "id": "LabelList",
      "type": "object"
    },
    "AppList": {
      "type": "object",
      "id": "AppList",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "properties": {
        "kind": {
          "default": "drive#appList",
          "type": "string",
          "description": "This is always `drive#appList`."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "defaultAppIds": {
          "description": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps."
        }
      }
    },
    "CommentReplyList": {
      "id": "CommentReplyList",
      "description": "A list of replies to a comment on a file in Google Drive.",
      "properties": {
        "items": {
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "CommentReply"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of replies."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#commentReplyList",
          "type": "string",
          "description": "This is always `drive#commentReplyList`."
        }
      },
      "type": "object"
    },
    "File": {
      "type": "object",
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "properties": {
        "indexableText": {
          "description": "Indexable text attributes for the file (can only be written)",
          "properties": {
            "text": {
              "type": "string",
              "description": "The text to be indexed for this file."
            }
          },
          "type": "object"
        },
        "shareable": {
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead.",
          "deprecated": true
        },
        "canReadRevisions": {
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canReadRevisions` instead.",
          "deprecated": true
        },
        "originalFilename": {
          "type": "string",
          "description": "The original filename of the uploaded content if available, or else the original value of the `title` field. This is only available for files with binary content in Google Drive."
        },
        "thumbnail": {
          "description": "A thumbnail for the file. This will only be used if a standard thumbnail cannot be generated.",
          "properties": {
            "mimeType": {
              "type": "string",
              "description": "The MIME type of the thumbnail."
            },
            "image": {
              "description": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
              "format": "byte",
              "type": "string"
            }
          },
          "type": "object"
        },
        "writersCanShare": {
          "description": "Whether writers can share the document with other users. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "isAppAuthorized": {
          "type": "boolean",
          "description": "Output only. Whether the file was created or opened by the requesting app."
        },
        "fileExtension": {
          "type": "string",
          "description": "Output only. The final component of `fullFileExtension` with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "sharedWithMeDate": {
          "description": "Time at which this file was shared with the user (formatted RFC 3339 timestamp).",
          "type": "string",
          "format": "date-time"
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "webViewLink": {
          "description": "Output only. A link only available on public folders for viewing their static web assets (HTML, CSS, JS, etc) via Google Drive's Website Hosting.",
          "type": "string"
        },
        "copyable": {
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canCopy` instead.",
          "deprecated": true
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "properties": {
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canModifyOwnerContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted."
            },
            "canRemoveChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder."
            },
            "canMoveChildrenOutOfDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added.",
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction` or `canRemoveContentRestriction`.",
              "deprecated": true,
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "deprecated": true
            },
            "canModifyEditorContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted."
            },
            "canAddFolderFromAnotherDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder."
            },
            "canChangeSecurityUpdateEnabled": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata."
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`."
            },
            "canMoveTeamDriveItem": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canDisableInheritedPermissions": {
              "description": "Output only. Whether a user can disable inherited permissions.",
              "readOnly": true,
              "type": "boolean"
            },
            "canAcceptOwnership": {
              "type": "boolean",
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files."
            },
            "canMoveChildrenOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveChildrenOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveChildrenWithinDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canTrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this file to trash."
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download this file."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder."
            },
            "canModifyLabels": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the labels on the file."
            },
            "canChangeRestrictedDownload": {
              "description": "Output only. Deprecated.",
              "deprecated": true,
              "type": "boolean"
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canReadDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives."
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there is a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canEnableInheritedPermissions": {
              "description": "Output only. Whether a user can re-enable inherited permissions.",
              "readOnly": true,
              "type": "boolean"
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read."
            },
            "canModifyContent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the content of this file."
            }
          },
          "type": "object"
        },
        "shortcutDetails": {
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`. Can only be set on `files.insert` requests.",
          "properties": {
            "targetMimeType": {
              "type": "string",
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created."
            },
            "targetResourceKey": {
              "description": "Output only. The ResourceKey for the target file.",
              "type": "string"
            },
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.insert` requests.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "thumbnailVersion": {
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "type": "string",
          "format": "int64"
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `Files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of this file. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the title is constant."
        },
        "videoMediaMetadata": {
          "type": "object",
          "description": "Output only. Metadata about video media. This will only be present for video types.",
          "properties": {
            "height": {
              "type": "integer",
              "format": "int32",
              "description": "Output only. The height of the video in pixels."
            },
            "durationMillis": {
              "format": "int64",
              "type": "string",
              "description": "Output only. The duration of the video in milliseconds."
            },
            "width": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The width of the video in pixels."
            }
          }
        },
        "labelInfo": {
          "description": "Output only. An overview of the labels on the file.",
          "properties": {
            "labels": {
              "type": "array",
              "items": {
                "$ref": "Label"
              },
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned."
            }
          },
          "type": "object"
        },
        "mimeType": {
          "description": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type.",
          "type": "string"
        },
        "spaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of spaces which contain the file. Supported values are `drive`, `appDataFolder` and `photos`."
        },
        "parents": {
          "type": "array",
          "items": {
            "$ref": "ParentReference"
          },
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of an insert request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list."
        },
        "editable": {
          "description": "Output only. Deprecated: Use `capabilities/canEdit` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "owners": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives."
        },
        "modifiedByMeDate": {
          "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date.",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        },
        "ownerNames": {
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Output only. ETag of the file.",
          "type": "string"
        },
        "kind": {
          "default": "drive#file",
          "type": "string",
          "description": "Output only. The type of file. This is always `drive#file`."
        },
        "copyRequiresWriterPermission": {
          "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters.",
          "type": "boolean"
        },
        "shared": {
          "type": "boolean",
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives."
        },
        "defaultOpenWithLink": {
          "type": "string",
          "description": "Output only. A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used."
        },
        "labels": {
          "description": "A group of labels for the file.",
          "properties": {
            "restricted": {
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "hidden": {
              "type": "boolean",
              "description": "Output only. Deprecated.",
              "deprecated": true
            },
            "trashed": {
              "type": "boolean",
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files."
            },
            "viewed": {
              "type": "boolean",
              "description": "Whether this file has been viewed by this user."
            },
            "starred": {
              "description": "Whether this file is starred by the user.",
              "type": "boolean"
            },
            "modified": {
              "description": "Output only. Whether the file has been modified by this user.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "sha256Checksum": {
          "type": "string",
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "md5Checksum": {
          "type": "string",
          "description": "Output only. An MD5 checksum for the content of this file. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "fullFileExtension": {
          "description": "Output only. The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "lastViewedByMeDate": {
          "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp).",
          "type": "string",
          "format": "date-time"
        },
        "contentRestrictions": {
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "type": "array",
          "items": {
            "$ref": "ContentRestriction"
          }
        },
        "embedLink": {
          "type": "string",
          "description": "Output only. A link for embedding the file."
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "Property"
          },
          "description": "The list of properties."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this file."
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials.",
          "type": "string"
        },
        "downloadUrl": {
          "type": "string",
          "description": "Output only. Short lived download URL for the file. This field is only populated for files with content stored in Google Drive; it is not populated for Google Docs or shortcut files."
        },
        "quotaBytesUsed": {
          "description": "Output only. The number of quota bytes used by this file.",
          "type": "string",
          "format": "int64"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this file.",
          "type": "string"
        },
        "fileSize": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders."
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives."
        },
        "description": {
          "type": "string",
          "description": "A short description of the file."
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "Create time for this file (formatted RFC 3339 timestamp)."
        },
        "modifiedDate": {
          "format": "date-time",
          "type": "string",
          "description": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set."
        },
        "sharingUser": {
          "description": "Output only. User that shared the item with the current user, if available.",
          "$ref": "User"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this file. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "ownedByMe": {
          "type": "boolean",
          "description": "Output only. Whether the file is owned by the current user. Not populated for items in shared drives."
        },
        "canComment": {
          "description": "Output only. Deprecated: Use `capabilities/canComment` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "alternateLink": {
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer.",
          "type": "string"
        },
        "explicitlyTrashed": {
          "type": "boolean",
          "description": "Output only. Whether this file has been explicitly trashed, as opposed to recursively trashed."
        },
        "trashedDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for items in shared drives."
        },
        "sha1Checksum": {
          "type": "string",
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "appDataContents": {
          "description": "Output only. Whether this file is in the Application Data folder.",
          "type": "boolean"
        },
        "linkShareMetadata": {
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "properties": {
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            },
            "securityUpdateEligible": {
              "description": "Output only. Whether the file is eligible for security update.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "userPermission": {
          "description": "Output only. The permissions for the authenticated user on this file.",
          "$ref": "Permission"
        },
        "iconLink": {
          "description": "Output only. A link to the file's icon.",
          "type": "string"
        },
        "permissionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of permission IDs for users with access to this file."
        },
        "resourceKey": {
          "type": "string",
          "description": "Output only. A key needed to access the item via a shared link."
        },
        "version": {
          "type": "string",
          "format": "int64",
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user."
        },
        "imageMediaMetadata": {
          "description": "Output only. Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content.",
          "properties": {
            "exposureTime": {
              "description": "Output only. The length of the exposure, in seconds.",
              "type": "number",
              "format": "float"
            },
            "exposureBias": {
              "type": "number",
              "format": "float",
              "description": "Output only. The exposure bias of the photo (APEX value)."
            },
            "location": {
              "type": "object",
              "description": "Output only. Geographic location information stored in the image.",
              "properties": {
                "latitude": {
                  "format": "double",
                  "type": "number",
                  "description": "Output only. The latitude stored in the image."
                },
                "longitude": {
                  "description": "Output only. The longitude stored in the image.",
                  "type": "number",
                  "format": "double"
                },
                "altitude": {
                  "type": "number",
                  "format": "double",
                  "description": "Output only. The altitude stored in the image."
                }
              }
            },
            "isoSpeed": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The ISO speed used to create the photo."
            },
            "aperture": {
              "description": "Output only. The aperture used to create the photo (f-number).",
              "type": "number",
              "format": "float"
            },
            "exposureMode": {
              "type": "string",
              "description": "Output only. The exposure mode used to create the photo."
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            },
            "date": {
              "type": "string",
              "description": "Output only. The date and time the photo was taken (EXIF format timestamp)."
            },
            "flashUsed": {
              "type": "boolean",
              "description": "Output only. Whether a flash was used to create the photo."
            },
            "sensor": {
              "type": "string",
              "description": "Output only. The type of sensor used to create the photo."
            },
            "meteringMode": {
              "type": "string",
              "description": "Output only. The metering mode used to create the photo."
            },
            "subjectDistance": {
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "type": "integer",
              "format": "int32"
            },
            "cameraModel": {
              "description": "Output only. The model of the camera used to create the photo.",
              "type": "string"
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "width": {
              "description": "Output only. The width of the image in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            },
            "rotation": {
              "type": "integer",
              "format": "int32",
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation."
            },
            "height": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The height of the image in pixels."
            },
            "maxApertureValue": {
              "format": "float",
              "type": "number",
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value)."
            },
            "colorSpace": {
              "description": "Output only. The color space of the photo.",
              "type": "string"
            },
            "focalLength": {
              "type": "number",
              "format": "float",
              "description": "Output only. The focal length used to create the photo, in millimeters."
            }
          },
          "type": "object"
        },
        "teamDriveId": {
          "description": "Output only. Deprecated: Use `driveId` instead.",
          "deprecated": true,
          "type": "string"
        },
        "inheritedPermissionsDisabled": {
          "type": "boolean",
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default."
        },
        "markedViewedByMeDate": {
          "description": "Deprecated.",
          "type": "string",
          "format": "date-time"
        },
        "openWithLinks": {
          "description": "Output only. A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "folderColorRgb": {
          "type": "string",
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette."
        }
      },
      "id": "File"
    },
    "PermissionId": {
      "id": "PermissionId",
      "description": "An ID for a user or group as seen in Permission items.",
      "properties": {
        "kind": {
          "default": "drive#permissionId",
          "type": "string",
          "description": "This is always `drive#permissionId`."
        },
        "id": {
          "type": "string",
          "description": "The permission ID."
        }
      },
      "type": "object"
    },
    "FileList": {
      "id": "FileList",
      "description": "A list of files.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "nextLink": {
          "description": "A link to the next page of files.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "kind": {
          "description": "This is always `drive#fileList`.",
          "default": "drive#fileList",
          "type": "string"
        },
        "incompleteSearch": {
          "type": "boolean",
          "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\"."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "User": {
      "id": "User",
      "description": "Information about a Drive user.",
      "properties": {
        "permissionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user's ID as visible in Permission resources."
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "readOnly": true,
          "type": "string"
        },
        "isAuthenticatedUser": {
          "description": "Output only. Whether this user is the same as the authenticated user for whom the request was made.",
          "readOnly": true,
          "type": "boolean"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "default": "drive#user",
          "readOnly": true,
          "type": "string"
        },
        "emailAddress": {
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "readOnly": true,
          "type": "string"
        },
        "picture": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. The user's profile picture.",
          "properties": {
            "url": {
              "description": "Output only. A URL that points to a profile picture of this user.",
              "readOnly": true,
              "type": "string"
            }
          }
        }
      },
      "type": "object"
    },
    "Label": {
      "type": "object",
      "id": "Label",
      "description": "Representation of a label and label fields.",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "The revision ID of the label."
        },
        "kind": {
          "description": "This is always `drive#label`",
          "default": "drive#label",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the label."
        },
        "fields": {
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LabelField"
          }
        }
      }
    },
    "CommentList": {
      "type": "object",
      "id": "CommentList",
      "description": "A list of comments on a file in Google Drive.",
      "properties": {
        "kind": {
          "description": "This is always drive#commentList.",
          "default": "drive#commentList",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of comments.",
          "type": "string"
        },
        "items": {
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        }
      }
    },
    "DriveList": {
      "type": "object",
      "id": "DriveList",
      "description": "A list of shared drives.",
      "properties": {
        "kind": {
          "description": "This is always `drive#driveList`",
          "default": "drive#driveList",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "items": {
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Drive"
          }
        }
      }
    },
    "About": {
      "id": "About",
      "description": "An item with user information and settings.",
      "properties": {
        "selfLink": {
          "description": "A link back to this item.",
          "type": "string"
        },
        "features": {
          "description": "List of additional features enabled on this account.",
          "type": "array",
          "items": {
            "properties": {
              "featureName": {
                "type": "string",
                "description": "The name of the feature."
              },
              "featureRate": {
                "description": "The request limit rate for this feature, in queries per second.",
                "type": "number",
                "format": "double"
              }
            },
            "type": "object"
          }
        },
        "maxUploadSizes": {
          "description": "List of max upload sizes for each file type. The most specific type takes precedence.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The file type."
              },
              "size": {
                "description": "The max upload size for this type.",
                "type": "string",
                "format": "int64"
              }
            }
          }
        },
        "quotaBytesTotal": {
          "description": "The total number of quota bytes. This is only relevant when quotaType is LIMITED.",
          "type": "string",
          "format": "int64"
        },
        "additionalRoleInfo": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "The content type that this additional role info applies to.",
                "type": "string"
              },
              "roleSets": {
                "description": "The supported additional roles per primary role.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "additionalRoles": {
                      "description": "The supported additional roles with the primary role.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "primaryRole": {
                      "type": "string",
                      "description": "A primary permission role."
                    }
                  }
                }
              }
            }
          },
          "description": "Information about supported additional roles per file type. The most specific type takes precedence."
        },
        "quotaBytesUsedInTrash": {
          "description": "The number of quota bytes used by trashed items.",
          "type": "string",
          "format": "int64"
        },
        "quotaBytesUsed": {
          "type": "string",
          "format": "int64",
          "description": "The number of quota bytes used by Google Drive."
        },
        "languageCode": {
          "type": "string",
          "description": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
        },
        "permissionId": {
          "description": "The current user's ID as visible in the permissions collection.",
          "type": "string"
        },
        "canCreateTeamDrives": {
          "type": "boolean",
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "deprecated": true
        },
        "teamDriveThemes": {
          "description": "Deprecated: Use `driveThemes` instead.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "colorRgb": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "deprecated": true
              },
              "id": {
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "deprecated": true,
                "type": "string"
              },
              "backgroundImageLink": {
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "deprecated": true,
                "type": "string"
              }
            }
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the current user."
        },
        "rootFolderId": {
          "type": "string",
          "description": "The id of the root folder."
        },
        "quotaBytesUsedAggregate": {
          "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.).",
          "type": "string",
          "format": "int64"
        },
        "quotaBytesByService": {
          "description": "The amount of storage quota used by different Google services.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "serviceName": {
                "type": "string",
                "description": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS."
              },
              "bytesUsed": {
                "description": "The storage quota bytes used by the service.",
                "type": "string",
                "format": "int64"
              }
            }
          }
        },
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "isCurrentAppInstalled": {
          "description": "A boolean indicating whether the authenticated app is installed by the authenticated user.",
          "type": "boolean"
        },
        "folderColorPalette": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The palette of allowable folder colors as RGB hex strings."
        },
        "kind": {
          "default": "drive#about",
          "type": "string",
          "description": "This is always `drive#about`."
        },
        "etag": {
          "description": "The ETag of the item.",
          "type": "string"
        },
        "quotaType": {
          "description": "The type of the user's storage quota. Possible values are: * `LIMITED` * `UNLIMITED`",
          "type": "string"
        },
        "remainingChangeIds": {
          "type": "string",
          "format": "int64",
          "description": "The number of remaining change ids, limited to no more than 2500."
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "domainSharingPolicy": {
          "description": "The domain sharing policy for the current user. Possible values are: * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed`",
          "type": "string"
        },
        "largestChangeId": {
          "description": "The largest change id.",
          "format": "int64",
          "type": "string"
        },
        "driveThemes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "colorRgb": {
                "description": "The color of this theme as an RGB hex string.",
                "type": "string"
              },
              "id": {
                "type": "string",
                "description": "The ID of the theme."
              },
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              }
            }
          },
          "description": "A list of themes that are supported for shared drives."
        },
        "importFormats": {
          "description": "The allowable import formats.",
          "type": "array",
          "items": {
            "properties": {
              "targets": {
                "description": "The possible content types to convert to.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "source": {
                "type": "string",
                "description": "The imported file's content type to convert from."
              }
            },
            "type": "object"
          }
        },
        "exportFormats": {
          "description": "The allowable export formats.",
          "type": "array",
          "items": {
            "properties": {
              "source": {
                "description": "The content type to convert from.",
                "type": "string"
              },
              "targets": {
                "description": "The possible content types to convert to.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        }
      },
      "type": "object"
    },
    "ParentReference": {
      "id": "ParentReference",
      "description": "A reference to a file's parent. A file can only have one parent folder; specifying multiple parents isn't supported. Some resource methods (such as `parents.get`) require a `parentId`. Use the `parents.list` method to retrieve the ID for a parent.",
      "properties": {
        "parentLink": {
          "description": "Output only. A link to the parent.",
          "type": "string"
        },
        "kind": {
          "default": "drive#parentReference",
          "type": "string",
          "description": "Output only. This is always `drive#parentReference`."
        },
        "id": {
          "description": "The ID of the parent.",
          "annotations": {
            "required": [
              "drive.parents.insert"
            ]
          },
          "type": "string"
        },
        "isRoot": {
          "type": "boolean",
          "description": "Output only. Whether or not the parent is the root folder."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this reference."
        }
      },
      "type": "object"
    },
    "Revision": {
      "type": "object",
      "description": "A revision of a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "properties": {
        "pinned": {
          "description": "Whether this revision is pinned to prevent automatic purging. If not set, the revision is automatically purged 30 days after newer content is uploaded. This field can only be modified on files with content stored in Drive, excluding Docs Editors files. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter. Pinned revisions are stored indefinitely using additional storage quota, up to a maximum of 200 revisions.",
          "type": "boolean"
        },
        "modifiedDate": {
          "description": "Last time this revision was modified (formatted RFC 3339 timestamp).",
          "format": "date-time",
          "type": "string"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "mimeType": {
          "description": "Output only. The MIME type of the revision.",
          "type": "string"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "originalFilename": {
          "type": "string",
          "description": "Output only. The original filename when this revision was created. This will only be populated on files with content stored in Drive."
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "md5Checksum": {
          "type": "string",
          "description": "Output only. An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive."
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "downloadUrl": {
          "description": "Output only. Short term download URL for the file. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this revision."
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "published": {
          "description": "Whether this revision is published. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this revision.",
          "type": "string"
        },
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#revision",
          "type": "string",
          "description": "Output only. This is always `drive#revision`."
        },
        "etag": {
          "description": "Output only. The ETag of the revision.",
          "type": "string"
        },
        "fileSize": {
          "description": "Output only. The size of the revision in bytes. This will only be populated on files with content stored in Drive.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Revision"
    },
    "CommentReply": {
      "id": "CommentReply",
      "description": "A reply to a comment on a file in Google Drive.",
      "properties": {
        "content": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.replies.patch",
              "drive.replies.update"
            ]
          },
          "description": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen)."
        },
        "replyId": {
          "type": "string",
          "description": "The ID of the reply."
        },
        "kind": {
          "description": "This is always drive#commentReply.",
          "default": "drive#commentReply",
          "type": "string"
        },
        "author": {
          "description": "The user who wrote this reply.",
          "$ref": "User"
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed."
        },
        "htmlContent": {
          "description": "HTML formatted content for this reply.",
          "type": "string"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when this reply was first created."
        },
        "modifiedDate": {
          "description": "The date when this reply was last modified.",
          "type": "string",
          "format": "date-time"
        },
        "verb": {
          "description": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform tSo the parent comment. Possible values are: * `resolve` - To resolve a comment. * `reopen` - To reopen (un-resolve) a comment.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "description": "Deprecated: Use the `drive` collection instead.",
      "properties": {
        "kind": {
          "default": "drive#teamDrive",
          "type": "string",
          "description": "This is always `drive#teamDrive`"
        },
        "backgroundImageLink": {
          "description": "A short-lived link to this Team Drive's background image.",
          "type": "string"
        },
        "name": {
          "annotations": {
            "required": [
              "drive.teamdrives.insert"
            ]
          },
          "description": "The name of this Team Drive.",
          "type": "string"
        },
        "restrictions": {
          "type": "object",
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive.",
          "properties": {
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            },
            "teamMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive."
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive."
            }
          }
        },
        "id": {
          "type": "string",
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive."
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            },
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "format": "float",
              "type": "number"
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number",
              "format": "float"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            }
          },
          "type": "object"
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "capabilities": {
          "type": "object",
          "description": "Capabilities the current user has on this Team Drive.",
          "properties": {
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive."
            },
            "canRemoveChildren": {
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canEdit": {
              "description": "Whether the current user can edit files in this Team Drive",
              "type": "boolean"
            },
            "canShare": {
              "type": "boolean",
              "description": "Whether the current user can share files or folders in this Team Drive."
            },
            "canChangeTeamMembersOnlyRestriction": {
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive."
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Whether the current user can delete children from folders in this Team Drive."
            },
            "canRenameTeamDrive": {
              "type": "boolean",
              "description": "Whether the current user can rename this Team Drive."
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Whether the current user can trash children from folders in this Team Drive."
            },
            "canDownload": {
              "type": "boolean",
              "description": "Whether the current user can download files in this Team Drive."
            },
            "canRename": {
              "description": "Whether the current user can rename files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Whether the current user can list the children of folders in this Team Drive."
            },
            "canResetTeamDriveRestrictions": {
              "type": "boolean",
              "description": "Whether the current user can reset the Team Drive restrictions to defaults."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Whether the current user can add children to folders in this Team Drive."
            },
            "canChangeTeamDriveBackground": {
              "description": "Whether the current user can change the background of this Team Drive.",
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Whether the current user can copy files in this Team Drive."
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Whether the current user can read the revisions resource of files in this Team Drive."
            }
          }
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time)."
        }
      },
      "type": "object"
    },
    "RevisionList": {
      "type": "object",
      "description": "A list of revisions of a file.",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "kind": {
          "default": "drive#revisionList",
          "type": "string",
          "description": "This is always `drive#revisionList`."
        },
        "nextPageToken": {
          "description": "The page token for the next page of revisions. This field will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Revision"
          },
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        }
      },
      "id": "RevisionList"
    },
    "ParentList": {
      "id": "ParentList",
      "description": "A list of a file's parents.",
      "properties": {
        "kind": {
          "default": "drive#parentList",
          "type": "string",
          "description": "This is always `drive#parentList`."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "ParentReference"
          },
          "description": "The list of parents."
        }
      },
      "type": "object"
    },
    "StartPageToken": {
      "type": "object",
      "id": "StartPageToken",
      "properties": {
        "kind": {
          "default": "drive#startPageToken",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`."
        },
        "startPageToken": {
          "type": "string",
          "description": "The starting page token for listing changes."
        }
      }
    },
    "ModifyLabelsResponse": {
      "description": "Response to a ModifyLabels request. This contains only those labels which were added or updated by the request.",
      "properties": {
        "modifiedLabels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          },
          "description": "The list of labels which were added or updated by the request."
        },
        "kind": {
          "description": "This is always `drive#modifyLabelsResponse`",
          "default": "drive#modifyLabelsResponse",
          "type": "string"
        }
      },
      "id": "ModifyLabelsResponse",
      "type": "object"
    },
    "TeamDriveList": {
      "id": "TeamDriveList",
      "description": "A list of Team Drives.",
      "properties": {
        "kind": {
          "default": "drive#teamDriveList",
          "type": "string",
          "description": "This is always `drive#teamDriveList`"
        },
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives.",
          "type": "string"
        },
        "items": {
          "description": "The list of Team Drives.",
          "type": "array",
          "items": {
            "$ref": "TeamDrive"
          }
        }
      },
      "type": "object"
    },
    "ContentRestriction": {
      "type": "object",
      "id": "ContentRestriction",
      "description": "A restriction for accessing the content of the file.",
      "properties": {
        "readOnly": {
          "type": "boolean",
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified."
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
        },
        "ownerRestricted": {
          "type": "boolean",
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction."
        },
        "systemRestricted": {
          "type": "boolean",
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions."
        },
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true.",
          "$ref": "User"
        },
        "restrictionDate": {
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "format": "date-time",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`."
        }
      }
    },
    "LabelModification": {
      "description": "A modification to a label on a file. A LabelModification can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "properties": {
        "kind": {
          "description": "This is always `drive#labelModification`.",
          "default": "drive#labelModification",
          "type": "string"
        },
        "labelId": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "description": "The ID of the label to modify."
        },
        "fieldModifications": {
          "type": "array",
          "items": {
            "$ref": "LabelFieldModification"
          },
          "description": "The list of modifications to this label's fields."
        },
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        }
      },
      "id": "LabelModification",
      "type": "object"
    },
    "ChangeList": {
      "description": "A list of changes for a user.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Change"
          },
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "largestChangeId": {
          "description": "The current largest change ID.",
          "type": "string",
          "format": "int64"
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of changes."
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#changeList",
          "type": "string",
          "description": "This is always `drive#changeList`."
        }
      },
      "id": "ChangeList",
      "type": "object"
    },
    "Property": {
      "type": "object",
      "description": "A key-value pair attached to a file that is either public or private to an application. The following limits apply to file properties: * Maximum of 100 properties total per file * Maximum of 30 private properties per app * Maximum of 30 public properties * Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property Some resource methods (such as `properties.update`) require a `propertyKey`. Use the `properties.list` method to retrieve the key for a property.",
      "properties": {
        "value": {
          "description": "The value of this property.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. The link back to this property.",
          "type": "string"
        },
        "visibility": {
          "description": "The visibility of this property. Allowed values are PRIVATE (default) and PUBLIC. Private properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#property`.",
          "default": "drive#property",
          "type": "string"
        },
        "etag": {
          "description": "Output only. ETag of the property.",
[...]
