{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "description": "An API for managing Drive Labels",
  "schemas": {
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse",
      "description": "Response following update to field type.",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "description": "Request to update field properties.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties",
          "description": "Required. Basic field properties."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
      "description": "The capabilities related to this field on applied metadata.",
      "properties": {
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean"
        },
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read related applied metadata on items."
        },
        "canWrite": {
          "type": "boolean",
          "description": "Whether the user can set this field on Drive items."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleAppsDriveLabelsV2betaWriteControl": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaWriteControl",
      "description": "Provides control over how write requests are executed. When not specified, the last write wins.",
      "properties": {
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest": {
      "properties": {
        "enabledAppSettings": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings",
          "description": "Required. The new `EnabledAppSettings` value for the label."
        },
        "view": {
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "useAdminAccess": {
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest",
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaEnableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaEnableLabelRequest",
      "description": "Request to enable a label.",
      "type": "object",
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelLock": {
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked."
        },
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this label lock was created.",
          "readOnly": true
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "capabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
          "description": "Output only. The user's capabilities on this label lock.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this label lock.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ],
          "description": "Output only. This label lock's state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ]
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelLock",
      "description": "A lock that can be applied to a label, field, or choice.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelPermission": {
      "properties": {
        "audience": {
          "type": "string",
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label."
        },
        "role": {
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ],
          "description": "The role the principal should have.",
          "type": "string",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ]
        },
        "person": {
          "type": "string",
          "description": "Person resource name."
        },
        "group": {
          "description": "Group resource name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of this permission."
        },
        "email": {
          "type": "string",
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelPermission",
      "description": "The permission that applies to a principal (user, group, audience) on a label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "description": "Request to change the type of a field.",
      "properties": {
        "integerOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
          "description": "Update field to Integer."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
          "description": "Update field to User."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints": {
      "properties": {
        "hiddenInSearch": {
          "description": "This option should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "badgePriority": {
          "type": "string",
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "format": "int64"
        },
        "badgeColors": {
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors",
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the option should be shown in the UI as disabled."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This option should be shown in the apply menu when applying values to a Drive item."
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints",
      "description": "UI display hints for rendering an option."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "description": "Response following update to label properties."
    },
    "GoogleTypeColor": {
      "id": "GoogleTypeColor",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object",
      "properties": {
        "green": {
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "red": {
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelLimits": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name."
        },
        "maxFields": {
          "type": "integer",
          "description": "The maximum number of fields allowed within the label.",
          "format": "int32"
        },
        "maxDeletedFields": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of published fields that can be deleted."
        },
        "maxDraftRevisions": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts."
        },
        "fieldLimits": {
          "description": "The limits for fields.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldLimits"
        },
        "maxDescriptionLength": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of characters allowed for the description."
        },
        "maxTitleLength": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of characters allowed for the title."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelLimits",
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
      "description": "The UI display hints for rendering the label.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This label should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This label should be shown in the apply menu when applying values to a Drive item."
        },
        "priority": {
          "format": "int64",
          "description": "The order to display labels in a list.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
      "description": "The capabilities related to this field when editing the field.",
      "properties": {
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaListLabelsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelsResponse",
      "description": "Response for listing labels.",
      "type": "object",
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "description": "Labels."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "description": "Updates basic properties of a label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "properties": {
        "fieldId": {
          "description": "Required. The selection field to update.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. The choice to update."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "properties": {
          "description": "Required. The choice properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "description": "Request to update a choice property.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest": {
      "properties": {
        "requests": {
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest"
          }
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`."
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest",
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDisableLabelRequest": {
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "disabledPolicy": {
          "description": "Disabled policy to use.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDisableLabelRequest",
      "description": "Request to deprecate a published label."
    },
    "GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "properties": {
        "canViewPolicy": {
          "type": "boolean",
          "description": "True if the user is authorized to view the policy."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
      "description": "A description of a user's capabilities on a label lock.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptions": {
      "properties": {
        "choices": {
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
          }
        },
        "listOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions",
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
      "description": "Options for the selection field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice",
      "description": "Selection field choice.",
      "properties": {
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
          "description": "Basic properties of the choice."
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints"
        },
        "disabler": {
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "disableTime": {
          "format": "google-datetime",
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "readOnly": true,
          "type": "string"
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
          "description": "Output only. The capabilities related to this option when editing the option.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this choice was created.",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "description": "Output only. The user who created this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "publisher": {
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities"
        },
        "updater": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who updated this choice last.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this choice was updated last.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "description": "Output only. Lifecycle of the choice.",
          "readOnly": true
        },
        "publishTime": {
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "properties": {
        "id": {
          "description": "Required. ID of the field to delete.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
      "description": "Request to delete the field.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
      "description": "Behavior of this label when it's applied to Drive items.",
      "properties": {
        "copyMode": {
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaField": {
      "properties": {
        "disableTime": {
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
          "description": "User field options."
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "readOnly": true
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties",
          "description": "The basic properties of the field."
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDisplayHints"
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "selectionOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
          "description": "Selection field options."
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "description": "Output only. The lifecycle of this field.",
          "readOnly": true
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "description": "Output only. The `LockStatus` of this field.",
          "readOnly": true
        },
        "dateOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
          "description": "Date field options."
        },
        "queryKey": {
          "type": "string",
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true
        },
        "creator": {
          "description": "Output only. The user who created this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published.",
          "readOnly": true
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities"
        },
        "updater": {
          "description": "Output only. The user who modified this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this field was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
          "description": "Output only. The capabilities this user has when editing this field.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time this field was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaField",
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item."
    },
    "GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "properties": {
        "minValue": {
          "type": "string",
          "description": "Output only. The minimum valid value for the integer field.",
          "readOnly": true,
          "format": "int64"
        },
        "maxValue": {
          "format": "int64",
          "description": "Output only. The maximum valid value for the integer field.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
      "description": "Options for the Integer field type."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
      "description": "Response following field create.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here."
        },
        "priority": {
          "format": "int32",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties": {
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "badgeConfig": {
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeConfig",
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\"."
        },
        "insertBeforeChoice": {
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
      "description": "Basic properties of the choice."
    },
    "GoogleTypeDate": {
      "type": "object",
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest",
      "description": "A single kind of update to apply to a label.",
      "properties": {
        "enableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest",
          "description": "Enables the field."
        },
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
          "description": "Delete a choice within a selection field."
        },
        "disableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
          "description": "Disables the field."
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest"
        },
        "deleteField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
          "description": "Deletes a field from the label."
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
          "description": "Create a choice within a selection field."
        },
        "updateSelectionChoiceProperties": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
          "description": "Update a choice property within a selection field."
        },
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
          "description": "Enable a choice within a selection field."
        },
        "disableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest",
          "description": "Disable a choice within a selection field."
        },
        "updateLabel": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
          "description": "Updates the label properties."
        },
        "updateFieldType": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
          "description": "Update field type and/or type options."
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "description": "Request to disable a choice.",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be disabled.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to disable."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "description": "Required. The disabled policy to update."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaPublishLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaPublishLabelRequest",
      "description": "Request to publish a label.",
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaIntegerLimits": {
      "properties": {
        "minValue": {
          "type": "string",
          "description": "Minimum value for an integer field type.",
          "format": "int64"
        },
        "maxValue": {
          "description": "Maximum value for an integer field type.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaIntegerLimits",
      "description": "Limits for integer field type."
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
      "description": "The capabilities related to this choice when editing the choice.",
      "type": "object",
      "properties": {
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this choice."
        },
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean"
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this choice."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
      "description": "Request to create a field within a label.",
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaField"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be created.",
          "type": "string"
        },
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "description": "Request to create a selection choice."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
      "description": "Response following field enable.",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        },
        "labelPermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "description": "Label permissions."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse",
      "description": "Response for listing the permissions on a label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
      "description": "Options for the Text field type.",
      "properties": {
        "minLength": {
          "description": "Output only. The minimum valid length of values for the text field.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "maxLength": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The maximum valid length of values for the text field.",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaBadgeColors": {
      "id": "GoogleAppsDriveLabelsV2betaBadgeColors",
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "type": "object",
      "properties": {
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge background that pairs with the foreground.",
          "readOnly": true
        },
        "foregroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge foreground that pairs with the background.",
          "readOnly": true
        },
        "soloColor": {
          "$ref": "GoogleTypeColor",
          "description": "Output only. Color that can be used for text without a background.",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUserLimits": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaUserLimits",
      "description": "Limits for Field.Type.USER.",
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities": {
      "properties": {
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        },
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read applied metadata related to this label."
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
      "description": "The capabilities a user has on this label's applied metadata."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "description": "Response following update to field properties.",
      "properties": {
        "priority": {
          "format": "int32",
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest": {
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest",
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "type": "object",
      "properties": {
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabel": {
      "id": "GoogleAppsDriveLabelsV2betaLabel",
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "type": "object",
      "properties": {
        "learnMoreUri": {
          "type": "string",
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used."
        },
        "disableTime": {
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering the label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelDisplayHints"
        },
        "labelType": {
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ],
          "description": "Required. The type of label.",
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ]
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this label revision was created.",
          "readOnly": true
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "readOnly": true,
          "type": "string"
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "readOnly": true
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "id": {
          "type": "string",
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true
        },
        "appliedLabelPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "readOnly": true
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who created this label.",
          "readOnly": true
        },
        "revisionCreator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who created this label revision.",
          "readOnly": true
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>",
          "readOnly": true
        },
        "enabledAppSettings": {
          "description": "Optional. The `EnabledAppSettings` for this Label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities"
        },
        "customer": {
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`.",
          "readOnly": true,
          "type": "string"
        },
        "revisionId": {
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities",
          "description": "Output only. The capabilities the user has on this label.",
          "readOnly": true
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaField"
          },
          "description": "List of fields in descending priority order."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this label was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "properties": {
        "priority": {
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "description": "Response following update to selection choice properties."
    },
    "GoogleAppsDriveLabelsV2betaFieldLimits": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldLimits",
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "properties": {
        "maxDescriptionLength": {
          "format": "int32",
          "description": "Limits for field description, also called help text.",
          "type": "integer"
        },
        "dateLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaDateLimits",
          "description": "Date field limits."
        },
        "integerLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaIntegerLimits",
          "description": "Integer field limits."
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserLimits"
        },
        "textLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaTextLimits",
          "description": "The relevant limits for the specified Field.Type. Text field limits."
        },
        "maxDisplayNameLength": {
          "type": "integer",
          "description": "Limits for field title.",
          "format": "int32"
        },
        "maxIdLength": {
          "format": "int32",
          "description": "Maximum length for the id.",
          "type": "integer"
        },
        "longTextLimits": {
          "description": "Long text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaLongTextLimits"
        },
        "selectionLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaSelectionLimits",
          "description": "Selection field limits."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest",
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "properties": {
        "name": {
          "description": "Required. Label permission resource name.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy": {
      "properties": {
        "showInApply": {
          "type": "boolean",
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI."
        },
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts."
    },
    "GoogleAppsDriveLabelsV2betaListLimits": {
      "id": "GoogleAppsDriveLabelsV2betaListLimits",
      "description": "Limits for list-variant of a field type.",
      "type": "object",
      "properties": {
        "maxEntries": {
          "description": "Maximum number of values allowed for the field type.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelProperties": {
      "properties": {
        "title": {
          "description": "Required. Title of the label.",
          "type": "string"
        },
        "description": {
          "description": "The description of the label.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelProperties",
      "description": "Basic properties of the label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "properties": {
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a choice from a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        },
        "disableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
          "description": "Disables field."
        },
        "createField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
          "description": "Creates a field."
        },
        "deleteField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
          "description": "Deletes a field from the label."
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
          "description": "Creates a selection list option to add to a selection field."
        },
        "updateSelectionChoiceProperties": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
          "description": "Updates a choice within a selection field."
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "updateField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
          "description": "Updates basic properties of a field."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse",
      "description": "A single response from an update.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
      "description": "The capabilities related to this choice on applied metadata.",
      "type": "object",
      "properties": {
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read related applied metadata on items."
        },
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        },
        "canSelect": {
          "type": "boolean",
          "description": "Whether the user can select this choice on an item."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
      "description": "Response following field delete."
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp": {
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp",
      "description": "An app where the label can be used.",
      "type": "object",
      "properties": {
        "app": {
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ],
          "description": "Optional. The name of the app.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDateLimits": {
      "properties": {
        "minValue": {
          "$ref": "GoogleTypeDate",
          "description": "Minimum value for the date field type."
        },
        "maxValue": {
          "$ref": "GoogleTypeDate",
          "description": "Maximum value for the date field type."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDateLimits",
      "description": "Limits for date field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUserCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaUserCapabilities",
      "description": "The capabilities of a user.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name for the user capabilities.",
          "readOnly": true,
          "type": "string"
        },
        "canAccessLabelManager": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "readOnly": true
        },
        "canCreateSharedLabels": {
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "readOnly": true,
          "type": "boolean"
        },
        "canAdministrateLabels": {
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "readOnly": true,
          "type": "boolean"
        },
        "canCreateAdminLabels": {
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldListOptions": {
      "properties": {
        "maxEntries": {
          "type": "integer",
          "description": "Maximum number of entries permitted.",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldListOptions",
      "description": "Options for a multi-valued variant of an associated field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field from which a choice will be deleted."
        },
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "description": "Request to delete a choice."
    },
    "GoogleAppsDriveLabelsV2betaListLabelLocksResponse": {
      "properties": {
        "labelLocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLock"
          },
          "description": "Label locks."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse",
      "description": "The response to a `ListLabelLocksRequest`."
    },
    "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities": {
      "properties": {
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this label."
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled."
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled."
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities",
      "description": "The capabilities related to this label when editing the label."
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest",
      "description": "Updates one or more label permissions.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse",
      "description": "Response for label update.",
      "type": "object",
      "properties": {
        "responses": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse"
          }
        },
        "updatedLabel": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabel",
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "description": "Response following choice delete.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest": {
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest"
          }
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest",
      "description": "Deletes one or more label permissions.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldProperties": {
      "id": "GoogleAppsDriveLabelsV2betaFieldProperties",
      "description": "The basic properties of the field.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "required": {
          "type": "boolean",
          "description": "Whether the field should be marked as required."
        },
        "insertBeforeField": {
          "type": "string",
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Key of the field to disable."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "disabledPolicy": {
          "description": "Required. Field disabled policy.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
      "description": "Request to disable the field."
    },
    "GoogleAppsDriveLabelsV2betaLockStatus": {
      "id": "GoogleAppsDriveLabelsV2betaLockStatus",
      "description": "Contains information about whether a label component should be considered locked.",
      "type": "object",
      "properties": {
        "locked": {
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaSelectionLimits": {
      "properties": {
        "maxDeletedChoices": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of deleted choices."
        },
        "maxChoices": {
          "format": "int32",
          "description": "Maximum number of choices.",
          "type": "integer"
        },
        "listLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits",
          "description": "Limits for list-variant of a field type."
        },
        "maxIdLength": {
          "description": "Maximum ID length for a selection option.",
          "type": "integer",
          "format": "int32"
        },
        "maxDisplayNameLength": {
          "type": "integer",
          "description": "Maximum length for display name.",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaSelectionLimits",
      "description": "Limits for selection field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaTextLimits": {
      "properties": {
        "minLength": {
          "format": "int32",
          "description": "Minimum length allowed for a text field type.",
          "type": "integer"
        },
        "maxLength": {
          "format": "int32",
          "description": "Maximum length allowed for a text field type.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaTextLimits",
      "description": "Limits for text field type."
    },
    "GoogleAppsDriveLabelsV2betaLifecycle": {
      "id": "GoogleAppsDriveLabelsV2betaLifecycle",
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "description": "Output only. The state of the object associated with this lifecycle.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ]
        },
        "hasUnpublishedChanges": {
          "type": "boolean",
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "readOnly": true
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "description": "The policy that governs how to show a disabled label, field, or selection choice."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "description": "Request to enable a choice.",
      "type": "object",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be enabled."
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to enable."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest": {
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "copyMode": {
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        },
        "view": {
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest",
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest",
      "description": "Request to enable the field.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
      "description": "Response following field disable.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "description": "Required. Permissions updated."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse",
      "description": "Response for updating one or more label permissions.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBadgeConfig": {
      "properties": {
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        },
        "priorityOverride": {
          "format": "int64",
          "type": "string",
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaBadgeConfig",
      "description": "Badge status of the label."
    },
    "GoogleAppsDriveLabelsV2betaUserInfo": {
      "properties": {
        "person": {
          "type": "string",
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUserInfo",
      "description": "Information about a user.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldUserOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
      "description": "Options for the user field type.",
      "type": "object",
      "properties": {
        "listOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions",
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLongTextLimits": {
      "properties": {
        "minLength": {
          "format": "int32",
          "description": "Minimum length allowed for a long text field type.",
          "type": "integer"
        },
        "maxLength": {
          "description": "Maximum length allowed for a long text field type.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLongTextLimits",
      "description": "Limits for long text field type."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "description": "Response following selection choice create.",
      "properties": {
        "fieldId": {
          "description": "The server-generated ID of the field.",
          "type": "string"
        },
        "id": {
          "description": "The server-generated ID of the created choice within the field.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "description": "Response following choice disable.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldDateOptions": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
      "description": "Options for the date field type.",
      "properties": {
        "dateFormat": {
          "description": "Output only. ICU date format.",
          "readOnly": true,
          "type": "string"
        },
        "dateFormatType": {
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "type": "string",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ]
        },
        "minValue": {
          "$ref": "GoogleTypeDate",
          "description": "Output only. Minimum valid value (year, month, day).",
          "readOnly": true
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2betaFieldDisplayHints",
      "description": "UI display hints for rendering a field.",
      "type": "object",
      "properties": {
        "required": {
          "type": "boolean",
          "description": "Whether the field should be shown as required in the UI."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the field should be shown in the UI as disabled."
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This field should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "description": "This field should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings": {
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings",
      "description": "Describes the Google Workspace apps in which the label can be used.",
      "type": "object",
      "properties": {
        "enabledApps": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp"
          },
          "description": "Optional. The list of apps where the label can be used."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "description": "Response following choice enable.",
      "properties": {}
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "drivelabels",
  "version_module": true,
  "kind": "discovery#restDescription",
  "basePath": "",
  "id": "drivelabels:v2beta",
  "fullyEncodeReservedExpansion": true,
  "title": "Drive Labels API",
  "version": "v2beta",
  "rootUrl": "https://drivelabels.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.admin.labels": {
          "description": "See, edit, create, and delete all Google Drive labels in your organization, and see your organization's label-related admin policies"
        },
        "https://www.googleapis.com/auth/drive.admin.labels.readonly": {
          "description": "See all Google Drive labels and label-related admin policies in your organization"
        },
        "https://www.googleapis.com/auth/drive.labels": {
          "description": "See, edit, create, and delete your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.labels.readonly": {
          "description": "See your Google Drive labels"
        }
      }
    }
  },
  "resources": {
    "users": {
      "methods": {
        "getCapabilities": {
          "flatPath": "v2beta/users/{usersId}/capabilities",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "type": "string",
              "pattern": "^users/[^/]+/capabilities$",
              "location": "path"
            },
            "customer": {
              "location": "query",
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer.",
              "type": "string"
            }
          },
          "id": "drivelabels.users.getCapabilities",
          "description": "Gets the user capabilities.",
          "path": "v2beta/{+name}",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaUserCapabilities"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ]
        }
      }
    },
    "labels": {
      "methods": {
        "create": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "parameterOrder": [],
          "parameters": {
            "useAdminAccess": {
              "location": "query",
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access.",
              "type": "boolean"
            },
            "languageCode": {
              "location": "query",
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used.",
              "type": "string"
            }
          },
          "id": "drivelabels.labels.create",
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label).",
          "flatPath": "v2beta/labels",
          "path": "v2beta/labels"
        },
        "updateLabelEnabledAppSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest"
          },
          "httpMethod": "POST",
          "path": "v2beta/{+name}:updateLabelEnabledAppSettings",
          "flatPath": "v2beta/labels/{labelsId}:updateLabelEnabledAppSettings",
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the label to update. The resource name of the label to update.",
              "type": "string",
              "required": true
            }
          },
          "id": "drivelabels.labels.updateLabelEnabledAppSettings",
[...]
