{
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "servicePath": "",
  "title": "Drive Activity API",
  "ownerName": "Google",
  "schemas": {
    "Integer": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Integer value.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Integer",
      "description": "Wrapper for Integer Field value."
    },
    "Assignment": {
      "type": "object",
      "properties": {
        "subtype": {
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "description": "The sub-type of this event."
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      },
      "id": "Assignment",
      "description": "A comment with an assignment."
    },
    "RestrictionChange": {
      "id": "RestrictionChange",
      "description": "Information about restriction policy changes to a feature.",
      "type": "object",
      "properties": {
        "newRestriction": {
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "type": "string",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "description": "The restriction in place after the change."
        },
        "feature": {
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "description": "The feature which had a change in restriction policy.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ]
        }
      }
    },
    "Folder": {
      "id": "Folder",
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "type": {
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ]
        }
      }
    },
    "FileComment": {
      "type": "object",
      "properties": {
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        }
      },
      "id": "FileComment",
      "description": "A comment on a file."
    },
    "DeletedUser": {
      "id": "DeletedUser",
      "description": "A user whose account has since been deleted.",
      "type": "object",
      "properties": {}
    },
    "Target": {
      "type": "object",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        }
      },
      "id": "Target",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory)."
    },
    "Legacy": {
      "id": "Legacy",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "type": "object",
      "properties": {}
    },
    "DriveReference": {
      "id": "DriveReference",
      "description": "A lightweight reference to a shared drive.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      }
    },
    "UnknownUser": {
      "type": "object",
      "properties": {},
      "id": "UnknownUser",
      "description": "A user about whom nothing is currently known."
    },
    "Copy": {
      "id": "Copy",
      "description": "An object was created by copying an existing object.",
      "type": "object",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      }
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "description": "This item is deprecated; please see `Drive` instead.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        }
      }
    },
    "AppliedLabelChangeDetail": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The human-readable title of the label that changed."
        },
        "fieldChanges": {
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "items": {
            "$ref": "FieldValueChange"
          },
          "type": "array"
        },
        "types": {
          "type": "array",
          "description": "The types of changes made to the Label on the Target.",
          "items": {
            "type": "string",
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ]
          }
        },
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        }
      },
      "id": "AppliedLabelChangeDetail",
      "description": "A change made to a Label on the Target."
    },
    "Selection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Selection value as Field Choice ID."
        },
        "displayName": {
          "type": "string",
          "description": "Selection value as human-readable display string."
        }
      },
      "id": "Selection",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice."
    },
    "Group": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the group."
        }
      },
      "id": "Group",
      "description": "Information about a group."
    },
    "QueryDriveActivityRequest": {
      "type": "object",
      "properties": {
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` "
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "pageSize": {
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "QueryDriveActivityRequest",
      "description": "The request message for querying Drive activity."
    },
    "Owner": {
      "id": "Owner",
      "description": "Information about the owner of a Drive item.",
      "type": "object",
      "properties": {
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead."
        }
      }
    },
    "DriveFolder": {
      "id": "DriveFolder",
      "description": "A Drive item which is a folder.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "description": "The type of Drive folder."
        }
      }
    },
    "Create": {
      "type": "object",
      "properties": {
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        },
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        }
      },
      "id": "Create",
      "description": "An object was created."
    },
    "KnownUser": {
      "id": "KnownUser",
      "description": "A known user.",
      "type": "object",
      "properties": {
        "isCurrentUser": {
          "type": "boolean",
          "description": "True if this is the user making the request."
        },
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        }
      }
    },
    "Domain": {
      "id": "Domain",
      "description": "Information about a domain.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "type": "string",
          "description": "An opaque string used to identify this domain."
        }
      }
    },
    "Rename": {
      "type": "object",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      },
      "id": "Rename",
      "description": "An object was renamed."
    },
    "FieldValueChange": {
      "id": "FieldValueChange",
      "description": "Change to a Field value.",
      "type": "object",
      "properties": {
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        }
      }
    },
    "FieldValue": {
      "id": "FieldValue",
      "description": "Contains a value of a Field.",
      "type": "object",
      "properties": {
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        }
      }
    },
    "ConsolidationStrategy": {
      "type": "object",
      "properties": {
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        },
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        }
      },
      "id": "ConsolidationStrategy",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related."
    },
    "Drive": {
      "id": "Drive",
      "description": "Information about a shared drive.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        },
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        }
      }
    },
    "File": {
      "id": "File",
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "deprecated": true,
      "type": "object",
      "properties": {}
    },
    "Edit": {
      "id": "Edit",
      "description": "An empty message indicating an object was edited.",
      "type": "object",
      "properties": {}
    },
    "Actor": {
      "id": "Actor",
      "description": "The actor of a Drive activity.",
      "type": "object",
      "properties": {
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        }
      }
    },
    "Administrator": {
      "id": "Administrator",
      "description": "Empty message representing an administrator.",
      "type": "object",
      "properties": {}
    },
    "PermissionChange": {
      "id": "PermissionChange",
      "description": "A change of the permission setting on an item.",
      "type": "object",
      "properties": {
        "addedPermissions": {
          "type": "array",
          "description": "The set of permissions added by this change.",
          "items": {
            "$ref": "Permission"
          }
        },
        "removedPermissions": {
          "type": "array",
          "description": "The set of permissions removed by this change.",
          "items": {
            "$ref": "Permission"
          }
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Wrapper for Date Field value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Date value.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ApplicationReference": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "description": "The reference type corresponding to this event."
        }
      },
      "id": "ApplicationReference",
      "description": "Activity in applications other than Drive."
    },
    "SystemEvent": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "description": "The type of the system event that may triggered activity."
        }
      },
      "id": "SystemEvent",
      "description": "Event triggered by system operations instead of end users."
    },
    "DriveActivity": {
      "id": "DriveActivity",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "type": "object",
      "properties": {
        "targets": {
          "items": {
            "$ref": "Target"
          },
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "type": "array"
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "actions": {
          "type": "array",
          "description": "Details on all actions in this activity.",
          "items": {
            "$ref": "Action"
          }
        },
        "actors": {
          "items": {
            "$ref": "Actor"
          },
          "description": "All actor(s) responsible for the activity.",
          "type": "array"
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "DriveFile": {
      "type": "object",
      "properties": {},
      "id": "DriveFile",
      "description": "A Drive item which is a file."
    },
    "User": {
      "type": "object",
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        }
      },
      "id": "User",
      "description": "Information about an end user."
    },
    "Anyone": {
      "type": "object",
      "properties": {},
      "id": "Anyone",
      "description": "Represents any user (including a logged out user)."
    },
    "Text": {
      "id": "Text",
      "description": "Wrapper for Text Field value.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of Text Field."
        }
      }
    },
    "SettingsChange": {
      "type": "object",
      "properties": {
        "restrictionChanges": {
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          },
          "description": "The set of changes made to restrictions."
        }
      },
      "id": "SettingsChange",
      "description": "Information about settings changes."
    },
    "DriveItemReference": {
      "type": "object",
      "properties": {
        "file": {
          "$ref": "File",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "folder": {
          "$ref": "Folder",
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        }
      },
      "id": "DriveItemReference",
      "description": "A lightweight reference to a Drive item, such as a file or folder."
    },
    "Action": {
      "type": "object",
      "properties": {
        "timestamp": {
          "description": "The action occurred at this specific time.",
          "format": "google-datetime",
          "type": "string"
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        }
      },
      "id": "Action",
      "description": "Information about the action."
    },
    "DataLeakPreventionChange": {
      "id": "DataLeakPreventionChange",
      "description": "A change in the object's data leak prevention status.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ]
        }
      }
    },
    "AppliedLabelChange": {
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target.",
      "type": "object",
      "properties": {
        "changes": {
          "description": "Changes that were made to the Label on the Target.",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "type": "array"
        }
      }
    },
    "DriveItem": {
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        }
      },
      "id": "DriveItem",
      "description": "A Drive item, such as a file or folder."
    },
    "TeamDriveReference": {
      "type": "object",
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        }
      },
      "id": "TeamDriveReference",
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "deprecated": true
    },
    "Move": {
      "id": "Move",
      "description": "An object was moved.",
      "type": "object",
      "properties": {
        "addedParents": {
          "type": "array",
          "description": "The added parent object(s).",
          "items": {
            "$ref": "TargetReference"
          }
        },
        "removedParents": {
          "description": "The removed parent object(s).",
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array"
        }
      }
    },
    "TextList": {
      "id": "TextList",
      "description": "Wrapper for Text List Field value.",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Text"
          },
          "description": "Text values."
        }
      }
    },
    "Suggestion": {
      "type": "object",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ]
        }
      },
      "id": "Suggestion",
      "description": "A suggestion."
    },
    "Restore": {
      "id": "Restore",
      "description": "A deleted object was restored.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of restore action taken.",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      }
    },
    "Upload": {
      "type": "object",
      "properties": {},
      "id": "Upload",
      "description": "An object was uploaded into Drive."
    },
    "Delete": {
      "id": "Delete",
      "description": "An object was deleted.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of delete action taken.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ]
        }
      }
    },
    "SelectionList": {
      "type": "object",
      "properties": {
        "values": {
          "description": "Selection values.",
          "items": {
            "$ref": "Selection"
          },
          "type": "array"
        }
      },
      "id": "SelectionList",
      "description": "Wrapper for SelectionList Field value."
    },
    "NoConsolidation": {
      "id": "NoConsolidation",
      "description": "A strategy that does no consolidation of individual activities.",
      "type": "object",
      "properties": {}
    },
    "Comment": {
      "type": "object",
      "properties": {
        "mentionedUsers": {
          "type": "array",
          "description": "Users who are mentioned in this comment.",
          "items": {
            "$ref": "User"
          }
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        }
      },
      "id": "Comment",
      "description": "A change about comments on an object."
    },
    "Impersonation": {
      "id": "Impersonation",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "type": "object",
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      }
    },
    "AnonymousUser": {
      "type": "object",
      "properties": {},
      "id": "AnonymousUser",
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized."
    },
    "UserList": {
      "id": "UserList",
      "description": "Wrapper for UserList Field value.",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          },
          "description": "User values."
        }
      }
    },
    "New": {
      "id": "New",
      "description": "An object was created from scratch.",
      "type": "object",
      "properties": {}
    },
    "SingleUser": {
      "type": "object",
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "id": "SingleUser",
      "description": "Wrapper for User Field value."
    },
    "TimeRange": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The start of the time range.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The end of the time range.",
          "format": "google-datetime"
        }
      },
      "id": "TimeRange",
      "description": "Information about time ranges."
    },
    "Post": {
      "id": "Post",
      "description": "A regular posted comment.",
      "type": "object",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ]
        }
      }
    },
    "TargetReference": {
      "id": "TargetReference",
      "description": "A lightweight reference to the target of activity.",
      "type": "object",
      "properties": {
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        }
      }
    },
    "QueryDriveActivityResponse": {
      "id": "QueryDriveActivityResponse",
      "description": "Response message for querying Drive activity.",
      "type": "object",
      "properties": {
        "activities": {
          "description": "List of activity requested.",
          "items": {
            "$ref": "DriveActivity"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "ActionDetail": {
      "id": "ActionDetail",
      "description": "Data describing the type and additional information of an action.",
      "type": "object",
      "properties": {
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        }
      }
    },
    "Permission": {
      "id": "Permission",
      "description": "The permission setting of an object.",
      "type": "object",
      "properties": {
        "user": {
          "description": "The user to whom this permission applies.",
          "$ref": "User"
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items."
        },
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        }
      }
    }
  },
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "parameters": {},
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "path": "v2/activity:query",
          "id": "driveactivity.activity.query",
          "flatPath": "v2/activity:query",
          "description": "Query past activity in Google Drive.",
          "parameterOrder": []
        }
      }
    }
  },
  "revision": "20260428",
  "id": "driveactivity:v2",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "protocol": "rest",
  "version_module": true,
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "canonicalName": "Drive Activity",
  "version": "v2",
  "batchPath": "batch",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "name": "driveactivity",
  "description": "Provides a historical view of activity in Google Drive."
}