{
  "title": "Drive Activity API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "id": "driveactivity:v2",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "schemas": {
    "ConsolidationStrategy": {
      "id": "ConsolidationStrategy",
      "type": "object",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "properties": {
        "none": {
          "$ref": "NoConsolidation",
          "description": "The individual activities are not consolidated."
        },
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        }
      }
    },
    "FileComment": {
      "description": "A comment on a file.",
      "properties": {
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "type": "string",
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`."
        },
        "parent": {
          "$ref": "DriveItem",
          "description": "The Drive item containing this comment."
        },
        "legacyDiscussionId": {
          "type": "string",
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        }
      },
      "type": "object",
      "id": "FileComment"
    },
    "DriveItemReference": {
      "id": "DriveItemReference",
      "type": "object",
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        }
      }
    },
    "Drive": {
      "id": "Drive",
      "description": "Information about a shared drive.",
      "properties": {
        "root": {
          "$ref": "DriveItem",
          "description": "The root of this shared drive."
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Move": {
      "description": "An object was moved.",
      "properties": {
        "addedParents": {
          "description": "The added parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        },
        "removedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array",
          "description": "The removed parent object(s)."
        }
      },
      "type": "object",
      "id": "Move"
    },
    "UnknownUser": {
      "type": "object",
      "description": "A user about whom nothing is currently known.",
      "properties": {},
      "id": "UnknownUser"
    },
    "Create": {
      "type": "object",
      "description": "An object was created.",
      "properties": {
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        },
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        }
      },
      "id": "Create"
    },
    "PermissionChange": {
      "id": "PermissionChange",
      "type": "object",
      "description": "A change of the permission setting on an item.",
      "properties": {
        "removedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions removed by this change.",
          "type": "array"
        },
        "addedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The set of permissions added by this change."
        }
      }
    },
    "ActionDetail": {
      "description": "Data describing the type and additional information of an action.",
      "properties": {
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        },
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "delete": {
          "$ref": "Delete",
          "description": "An object was deleted."
        },
        "dlpChange": {
          "$ref": "DataLeakPreventionChange",
          "description": "A change happened in data leak prevention status."
        },
        "edit": {
          "$ref": "Edit",
          "description": "An object was edited."
        },
        "permissionChange": {
          "$ref": "PermissionChange",
          "description": "The permission on an object was changed."
        },
        "comment": {
          "$ref": "Comment",
          "description": "A change about comments was made."
        },
        "rename": {
          "$ref": "Rename",
          "description": "An object was renamed."
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "move": {
          "$ref": "Move",
          "description": "An object was moved."
        }
      },
      "type": "object",
      "id": "ActionDetail"
    },
    "SystemEvent": {
      "id": "SystemEvent",
      "type": "object",
      "description": "Event triggered by system operations instead of end users.",
      "properties": {
        "type": {
          "description": "The type of the system event that may triggered activity.",
          "type": "string",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      }
    },
    "Upload": {
      "description": "An object was uploaded into Drive.",
      "properties": {},
      "type": "object",
      "id": "Upload"
    },
    "Action": {
      "id": "Action",
      "description": "Information about the action.",
      "properties": {
        "target": {
          "$ref": "Target",
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred."
        },
        "timestamp": {
          "description": "The action occurred at this specific time.",
          "format": "google-datetime",
          "type": "string"
        },
        "actor": {
          "$ref": "Actor",
          "description": "The actor responsible for this action (or empty if all actors are responsible)."
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        }
      },
      "type": "object"
    },
    "TimeRange": {
      "id": "TimeRange",
      "description": "Information about time ranges.",
      "properties": {
        "startTime": {
          "description": "The start of the time range.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The end of the time range.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Comment": {
      "description": "A change about comments on an object.",
      "properties": {
        "mentionedUsers": {
          "type": "array",
          "description": "Users who are mentioned in this comment.",
          "items": {
            "$ref": "User"
          }
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        },
        "post": {
          "$ref": "Post",
          "description": "A change on a regular posted comment."
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        }
      },
      "type": "object",
      "id": "Comment"
    },
    "Legacy": {
      "type": "object",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "properties": {},
      "id": "Legacy"
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "properties": {},
      "type": "object",
      "id": "DriveFile"
    },
    "Restore": {
      "id": "Restore",
      "type": "object",
      "description": "A deleted object was restored.",
      "properties": {
        "type": {
          "description": "The type of restore action taken.",
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      }
    },
    "QueryDriveActivityResponse": {
      "description": "Response message for querying Drive activity.",
      "properties": {
        "activities": {
          "type": "array",
          "description": "List of activity requested.",
          "items": {
            "$ref": "DriveActivity"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "id": "QueryDriveActivityResponse"
    },
    "Actor": {
      "type": "object",
      "description": "The actor of a Drive activity.",
      "properties": {
        "anonymous": {
          "$ref": "AnonymousUser",
          "description": "An anonymous user."
        },
        "user": {
          "$ref": "User",
          "description": "An end user."
        },
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        },
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        }
      },
      "id": "Actor"
    },
    "New": {
      "id": "New",
      "type": "object",
      "description": "An object was created from scratch.",
      "properties": {}
    },
    "DriveActivity": {
      "type": "object",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "properties": {
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "type": "array",
          "items": {
            "$ref": "Actor"
          }
        },
        "actions": {
          "type": "array",
          "description": "Details on all actions in this activity.",
          "items": {
            "$ref": "Action"
          }
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "targets": {
          "items": {
            "$ref": "Target"
          },
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "type": "array"
        },
        "timestamp": {
          "type": "string",
          "description": "The activity occurred at this specific time.",
          "format": "google-datetime"
        }
      },
      "id": "DriveActivity"
    },
    "Rename": {
      "id": "Rename",
      "type": "object",
      "description": "An object was renamed.",
      "properties": {
        "newTitle": {
          "type": "string",
          "description": "The new title of the drive object."
        },
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        }
      }
    },
    "DriveReference": {
      "description": "A lightweight reference to a shared drive.",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        }
      },
      "type": "object",
      "id": "DriveReference"
    },
    "Delete": {
      "id": "Delete",
      "description": "An object was deleted.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "description": "The type of delete action taken."
        }
      },
      "type": "object"
    },
    "Permission": {
      "id": "Permission",
      "type": "object",
      "description": "The permission setting of an object.",
      "properties": {
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "user": {
          "description": "The user to whom this permission applies.",
          "$ref": "User"
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items."
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        }
      }
    },
    "User": {
      "id": "User",
      "description": "Information about an end user.",
      "properties": {
        "deletedUser": {
          "$ref": "DeletedUser",
          "description": "A user whose account has since been deleted."
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        },
        "unknownUser": {
          "$ref": "UnknownUser",
          "description": "A user about whom nothing is currently known."
        }
      },
      "type": "object"
    },
    "KnownUser": {
      "type": "object",
      "description": "A known user.",
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "type": "boolean",
          "description": "True if this is the user making the request."
        }
      },
      "id": "KnownUser"
    },
    "SelectionList": {
      "type": "object",
      "description": "Wrapper for SelectionList Field value.",
      "properties": {
        "values": {
          "items": {
            "$ref": "Selection"
          },
          "description": "Selection values.",
          "type": "array"
        }
      },
      "id": "SelectionList"
    },
    "ApplicationReference": {
      "description": "Activity in applications other than Drive.",
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ]
        }
      },
      "type": "object",
      "id": "ApplicationReference"
    },
    "Post": {
      "id": "Post",
      "type": "object",
      "description": "A regular posted comment.",
      "properties": {
        "subtype": {
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "description": "The sub-type of this event."
        }
      }
    },
    "FieldValueChange": {
      "id": "FieldValueChange",
      "description": "Change to a Field value.",
      "properties": {
        "newValue": {
          "$ref": "FieldValue",
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set."
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable display name for this field."
        }
      },
      "type": "object"
    },
    "DriveFolder": {
      "id": "DriveFolder",
      "description": "A Drive item which is a folder.",
      "properties": {
        "type": {
          "description": "The type of Drive folder.",
          "type": "string",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "type": "object"
    },
    "DataLeakPreventionChange": {
      "id": "DataLeakPreventionChange",
      "description": "A change in the object's data leak prevention status.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "description": "The type of Data Leak Prevention (DLP) change."
        }
      },
      "type": "object"
    },
    "AppliedLabelChangeDetail": {
      "id": "AppliedLabelChangeDetail",
      "type": "object",
      "description": "A change made to a Label on the Target.",
      "properties": {
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "types": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          },
          "type": "array",
          "description": "The types of changes made to the Label on the Target."
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        },
        "fieldChanges": {
          "type": "array",
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "items": {
            "$ref": "FieldValueChange"
          }
        }
      }
    },
    "TeamDrive": {
      "type": "object",
      "description": "This item is deprecated; please see `Drive` instead.",
      "deprecated": true,
      "properties": {
        "root": {
          "$ref": "DriveItem",
          "description": "This field is deprecated; please see `Drive.root` instead."
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        }
      },
      "id": "TeamDrive"
    },
    "UserList": {
      "type": "object",
      "description": "Wrapper for UserList Field value.",
      "properties": {
        "values": {
          "description": "User values.",
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          }
        }
      },
      "id": "UserList"
    },
    "TeamDriveReference": {
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        }
      },
      "id": "TeamDriveReference",
      "type": "object",
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "deprecated": true
    },
    "Text": {
      "description": "Wrapper for Text Field value.",
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Text"
    },
    "RestrictionChange": {
      "type": "object",
      "description": "Information about restriction policy changes to a feature.",
      "properties": {
        "feature": {
          "type": "string",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "description": "The feature which had a change in restriction policy.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ]
        },
        "newRestriction": {
          "description": "The restriction in place after the change.",
          "type": "string",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ]
        }
      },
      "id": "RestrictionChange"
    },
    "Assignment": {
      "type": "object",
      "description": "A comment with an assignment.",
      "properties": {
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        },
        "subtype": {
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "description": "The sub-type of this event."
        }
      },
      "id": "Assignment"
    },
    "FieldValue": {
      "description": "Contains a value of a Field.",
      "properties": {
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "userList": {
          "$ref": "UserList",
          "description": "User List Field value."
        },
        "selection": {
          "$ref": "Selection",
          "description": "Selection Field value."
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        }
      },
      "type": "object",
      "id": "FieldValue"
    },
    "TargetReference": {
      "description": "A lightweight reference to the target of activity.",
      "properties": {
        "teamDrive": {
          "deprecated": true,
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        }
      },
      "type": "object",
      "id": "TargetReference"
    },
    "TextList": {
      "type": "object",
      "description": "Wrapper for Text List Field value.",
      "properties": {
        "values": {
          "description": "Text values.",
          "type": "array",
          "items": {
            "$ref": "Text"
          }
        }
      },
      "id": "TextList"
    },
    "Folder": {
      "properties": {
        "type": {
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "type": "string",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "id": "Folder",
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "type": "object",
      "deprecated": true
    },
    "SingleUser": {
      "id": "SingleUser",
      "type": "object",
      "description": "Wrapper for User Field value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      }
    },
    "Impersonation": {
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      },
      "type": "object",
      "id": "Impersonation"
    },
    "QueryDriveActivityRequest": {
      "id": "QueryDriveActivityRequest",
      "description": "The request message for querying Drive activity.",
      "properties": {
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "itemName": {
          "type": "string",
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`."
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Edit": {
      "id": "Edit",
      "type": "object",
      "description": "An empty message indicating an object was edited.",
      "properties": {}
    },
    "Integer": {
      "id": "Integer",
      "description": "Wrapper for Integer Field value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Integer value.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "Target": {
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "drive": {
          "$ref": "Drive",
          "description": "The target is a shared drive."
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDrive"
        }
      },
      "type": "object",
      "id": "Target"
    },
    "Owner": {
      "type": "object",
      "description": "Information about the owner of a Drive item.",
      "properties": {
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDriveReference"
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain of the Drive item owner."
        }
      },
      "id": "Owner"
    },
    "AppliedLabelChange": {
      "id": "AppliedLabelChange",
      "type": "object",
      "description": "Label changes that were made on the Target.",
      "properties": {
        "changes": {
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "description": "Changes that were made to the Label on the Target.",
          "type": "array"
        }
      }
    },
    "File": {
      "type": "object",
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "deprecated": true,
      "properties": {},
      "id": "File"
    },
    "Group": {
      "id": "Group",
      "description": "Information about a group.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the group."
        },
        "title": {
          "type": "string",
          "description": "The title of the group."
        }
      },
      "type": "object"
    },
    "Anyone": {
      "id": "Anyone",
      "type": "object",
      "description": "Represents any user (including a logged out user).",
      "properties": {}
    },
    "DriveItem": {
      "id": "DriveItem",
      "type": "object",
      "description": "A Drive item, such as a file or folder.",
      "properties": {
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types."
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        }
      }
    },
    "AnonymousUser": {
      "id": "AnonymousUser",
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "properties": {},
      "type": "object"
    },
    "Selection": {
      "id": "Selection",
      "type": "object",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "properties": {
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        },
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        }
      }
    },
    "DeletedUser": {
      "type": "object",
      "description": "A user whose account has since been deleted.",
      "properties": {},
      "id": "DeletedUser"
    },
    "NoConsolidation": {
      "description": "A strategy that does no consolidation of individual activities.",
      "properties": {},
      "type": "object",
      "id": "NoConsolidation"
    },
    "Copy": {
      "description": "An object was created by copying an existing object.",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "type": "object",
      "id": "Copy"
    },
    "Suggestion": {
      "id": "Suggestion",
      "description": "A suggestion.",
      "properties": {
        "subtype": {
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "description": "The sub-type of this event."
        }
      },
      "type": "object"
    },
    "Date": {
      "description": "Wrapper for Date Field value.",
      "properties": {
        "value": {
          "description": "Date value.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Date"
    },
    "SettingsChange": {
      "description": "Information about settings changes.",
      "properties": {
        "restrictionChanges": {
          "items": {
            "$ref": "RestrictionChange"
          },
          "description": "The set of changes made to restrictions.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "SettingsChange"
    },
    "Domain": {
      "id": "Domain",
      "description": "Information about a domain.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the domain, e.g. `google.com`."
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Administrator": {
      "description": "Empty message representing an administrator.",
      "properties": {},
      "type": "object",
      "id": "Administrator"
    }
  },
  "version": "v2",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "name": "driveactivity",
  "basePath": "",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "version_module": true,
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "revision": "20260503",
  "servicePath": "",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "canonicalName": "Drive Activity",
  "description": "Provides a historical view of activity in Google Drive.",
  "protocol": "rest",
  "batchPath": "batch",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "flatPath": "v2/activity:query",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "path": "v2/activity:query",
          "description": "Query past activity in Google Drive.",
          "httpMethod": "POST",
          "id": "driveactivity.activity.query"
        }
      }
    }
  }
}