{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "resources": {
    "labels": {
      "methods": {
        "list": {
          "id": "drivelabels.labels.list",
          "flatPath": "v2beta/labels",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "List labels. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label).",
          "path": "v2beta/labels",
          "parameters": {
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. This will return all labels within the customer.",
              "type": "boolean",
              "location": "query"
            },
            "minimumRole": {
              "location": "query",
              "description": "Specifies the level of access the user must have on the returned labels. The minimum role a user must have on a label. Defaults to `READER`.",
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ],
              "type": "string",
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ]
            },
            "publishedOnly": {
              "location": "query",
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`).",
              "type": "boolean"
            },
            "pageSize": {
              "location": "query",
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "The token of the page to return.",
              "type": "string",
              "location": "query"
            },
            "view": {
              "type": "string",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "location": "query"
            },
            "customer": {
              "description": "The customer to scope this list request to. For example: `customers/abcd1234`. If unset, will return all labels within the current customer.",
              "type": "string",
              "location": "query"
            },
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaListLabelsResponse"
          }
        },
        "enable": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "required": true,
              "description": "Required. Label resource name.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaEnableLabelRequest"
          },
          "description": "Enable a disabled label and restore it to its published state. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). This will result in a new published revision based on the current disabled published revision. If there's an existing disabled draft revision, a new revision will be created based on that draft and will be enabled.",
          "path": "v2beta/{+name}:enable",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "flatPath": "v2beta/labels/{labelsId}:enable",
          "id": "drivelabels.labels.enable"
        },
        "get": {
          "parameters": {
            "languageCode": {
              "location": "query",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "type": "string"
            },
            "name": {
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "required": true
            },
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access.",
              "type": "boolean",
              "location": "query"
            },
            "view": {
              "type": "string",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "location": "query",
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ]
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "path": "v2beta/{+name}",
          "description": "Get a label by its resource name. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label). Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "flatPath": "v2beta/labels/{labelsId}",
          "id": "drivelabels.labels.get"
        },
        "updateLabelCopyMode": {
          "path": "v2beta/{+name}:updateLabelCopyMode",
          "description": "Updates a label's `CopyMode`. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately.",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest"
          },
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The resource name of the label to update.",
              "required": true,
              "pattern": "^labels/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "flatPath": "v2beta/labels/{labelsId}:updateLabelCopyMode",
          "id": "drivelabels.labels.updateLabelCopyMode",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ]
        },
        "disable": {
          "description": "Disable a published label. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Disabling a label will result in a new disabled published revision based on the current published revision. If there's a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`.",
          "path": "v2beta/{+name}:disable",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "description": "Required. Label resource name.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaDisableLabelRequest"
          },
          "flatPath": "v2beta/labels/{labelsId}:disable",
          "id": "drivelabels.labels.disable",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ]
        },
        "create": {
          "parameters": {
            "languageCode": {
              "location": "query",
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used.",
              "type": "string"
            },
            "useAdminAccess": {
              "location": "query",
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access.",
              "type": "boolean"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label).",
          "path": "v2beta/labels",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "id": "drivelabels.labels.create",
          "flatPath": "v2beta/labels"
        },
        "updateLabelEnabledAppSettings": {
          "flatPath": "v2beta/labels/{labelsId}:updateLabelEnabledAppSettings",
          "id": "drivelabels.labels.updateLabelEnabledAppSettings",
          "httpMethod": "POST",
          "description": "Updates a label's `EnabledAppSettings`. Enabling a label in a Google Workspace app allows it to be used in that app. This change isn't revisioned, doesn't require publishing, and takes effect immediately.",
          "path": "v2beta/{+name}:updateLabelEnabledAppSettings",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update. The resource name of the label to update.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^labels/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest"
          }
        },
        "publish": {
          "flatPath": "v2beta/labels/{labelsId}:publish",
          "id": "drivelabels.labels.publish",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2beta/{+name}:publish",
          "description": "Publish all draft changes to the label. Once published, the label may not return to its draft state. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label). Publishing a label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label will be rejected. For example, the following changes to a label will be rejected after the label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * `Field.FieldType` cannot be changed. * Changes to field validation options cannot reject something that was previously accepted. * Reducing the maximum entries.",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaPublishLabelRequest"
          },
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^labels/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          }
        },
        "delete": {
          "flatPath": "v2beta/labels/{labelsId}",
          "id": "drivelabels.labels.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Permanently deletes a label and related metadata on Drive items. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Once deleted, the label and related Drive item metadata will be deleted. Only draft labels and disabled labels may be deleted.",
          "path": "v2beta/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "required": true,
              "description": "Required. Label resource name.",
              "location": "path"
            },
            "useAdminAccess": {
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
              "type": "boolean"
            },
            "writeControl.requiredRevisionId": {
              "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        },
        "delta": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "flatPath": "v2beta/labels/{labelsId}:delta",
          "id": "drivelabels.labels.delta",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest"
          },
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^labels/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse"
          },
          "path": "v2beta/{+name}:delta",
          "description": "Updates a single label by applying a set of update requests resulting in a new draft revision. For more information, see [Update a label](https://developers.google.com/workspace/drive/labels/guides/update-label). The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive items."
        },
        "updatePermissions": {
          "id": "drivelabels.labels.updatePermissions",
          "flatPath": "v2beta/labels/{labelsId}/permissions",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
          "path": "v2beta/{+parent}/permissions",
          "parameters": {
            "parent": {
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The parent label resource name.",
              "required": true
            },
            "useAdminAccess": {
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          }
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`."
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "path": "v2beta/{+parent}/permissions",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "id": "drivelabels.labels.permissions.create",
              "flatPath": "v2beta/labels/{labelsId}/permissions"
            },
            "batchUpdate": {
              "path": "v2beta/{+parent}/permissions:batchUpdate",
              "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "required": true,
                  "pattern": "^labels/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse"
              },
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchUpdate",
              "id": "drivelabels.labels.permissions.batchUpdate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "id": "drivelabels.labels.permissions.delete",
              "flatPath": "v2beta/labels/{labelsId}/permissions/{permissionsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^labels/[^/]+/permissions/[^/]+$",
                  "description": "Required. Label permission resource name.",
                  "required": true,
                  "location": "path"
                },
                "useAdminAccess": {
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2beta/{+name}",
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "id": "drivelabels.labels.permissions.list",
              "flatPath": "v2beta/labels/{labelsId}/permissions",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The token of the page to return.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                  "required": true,
                  "pattern": "^labels/[^/]+$",
                  "type": "string"
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
              },
              "description": "Lists a label's permissions.",
              "path": "v2beta/{+parent}/permissions"
            },
            "batchDelete": {
              "path": "v2beta/{+parent}/permissions:batchDelete",
              "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "pattern": "^labels/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchDelete",
              "id": "drivelabels.labels.permissions.batchDelete",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ]
            }
          }
        },
        "locks": {
          "methods": {
            "list": {
              "description": "Lists the label locks on a label.",
              "path": "v2beta/{+parent}/locks",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The token of the page to return.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
              },
              "flatPath": "v2beta/labels/{labelsId}/locks",
              "id": "drivelabels.labels.locks.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ]
            }
          }
        },
        "revisions": {
          "methods": {
            "updatePermissions": {
              "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
              "id": "drivelabels.labels.revisions.updatePermissions",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "path": "v2beta/{+parent}/permissions",
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent label resource name.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^labels/[^/]+/revisions/[^/]+$"
                },
                "useAdminAccess": {
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              }
            }
          },
          "resources": {
            "permissions": {
              "methods": {
                "batchDelete": {
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v2beta/{+parent}/permissions:batchDelete",
                  "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete",
                  "id": "drivelabels.labels.revisions.permissions.batchDelete"
                },
                "list": {
                  "id": "drivelabels.labels.revisions.permissions.list",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "path": "v2beta/{+parent}/permissions",
                  "description": "Lists a label's permissions.",
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The token of the page to return.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`."
                    },
                    "useAdminAccess": {
                      "location": "query",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
                  }
                },
                "batchUpdate": {
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "required": true,
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse"
                  },
                  "path": "v2beta/{+parent}/permissions:batchUpdate",
                  "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate"
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.create",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    },
                    "useAdminAccess": {
                      "location": "query",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
                  },
                  "path": "v2beta/{+parent}/permissions",
                  "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Label permission resource name.",
                      "required": true,
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/[^/]+$",
                      "type": "string"
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "path": "v2beta/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.delete",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}"
                }
              }
            },
            "locks": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The token of the page to return.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
                  },
                  "description": "Lists the label locks on a label.",
                  "path": "v2beta/{+parent}/locks",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "id": "drivelabels.labels.revisions.locks.list",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/locks"
                }
              }
            }
          }
        }
      }
    },
    "limits": {
      "methods": {
        "getLabel": {
          "id": "drivelabels.limits.getLabel",
          "flatPath": "v2beta/limits/label",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "path": "v2beta/limits/label",
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "parameters": {
            "name": {
              "location": "query",
              "description": "Required. Label revision resource name must be: \"limits/label\".",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLimits"
          }
        }
      }
    },
    "users": {
      "methods": {
        "getCapabilities": {
          "description": "Gets the user capabilities.",
          "path": "v2beta/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "location": "path",
              "type": "string",
              "pattern": "^users/[^/]+/capabilities$"
            },
            "customer": {
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaUserCapabilities"
          },
          "flatPath": "v2beta/users/{usersId}/capabilities",
          "id": "drivelabels.users.getCapabilities",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ]
        }
      }
    }
  },
  "version": "v2beta",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "canonicalName": "Drive Labels",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "rootUrl": "https://drivelabels.googleapis.com/",
  "ownerName": "Google",
  "servicePath": "",
  "schemas": {
    "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest",
      "description": "Deletes one or more label permissions.",
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        },
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaIntegerLimits": {
      "properties": {
        "maxValue": {
          "description": "Maximum value for an integer field type.",
          "type": "string",
          "format": "int64"
        },
        "minValue": {
          "description": "Minimum value for an integer field type.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaIntegerLimits",
      "description": "Limits for integer field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest": {
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "id": {
          "description": "Required. Key of the field to disable.",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "Required. Field disabled policy.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
      "description": "Request to disable the field.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse",
      "description": "Response for updating one or more label permissions.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "Required. Permissions updated.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLongTextLimits": {
      "id": "GoogleAppsDriveLabelsV2betaLongTextLimits",
      "description": "Limits for long text field type.",
      "type": "object",
      "properties": {
        "minLength": {
          "description": "Minimum length allowed for a long text field type.",
          "type": "integer",
          "format": "int32"
        },
        "maxLength": {
          "description": "Maximum length allowed for a long text field type.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLifecycle": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "description": "Output only. The state of the object associated with this lifecycle.",
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "readOnly": true
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        },
        "hasUnpublishedChanges": {
          "readOnly": true,
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLifecycle",
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice": {
      "properties": {
        "displayHints": {
          "readOnly": true,
          "description": "Output only. UI display hints for rendering a choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints"
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities related to this choice on applied metadata."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "publishTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "type": "string",
          "format": "google-datetime"
        },
        "disableTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "type": "string",
          "format": "google-datetime"
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        },
        "updater": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who updated this choice last."
        },
        "updateTime": {
          "description": "Output only. The time this choice was updated last.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "description": "Output only. Lifecycle of the choice.",
          "readOnly": true
        },
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string"
        },
        "disabler": {
          "readOnly": true,
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities related to this option when editing the option.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities"
        },
        "creator": {
          "description": "Output only. The user who created this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "readOnly": true,
          "description": "Output only. The `LockStatus` of this choice."
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice",
      "description": "Selection field choice.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBadgeConfig": {
      "properties": {
        "priorityOverride": {
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "type": "string",
          "format": "int64"
        },
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBadgeConfig",
      "description": "Badge status of the label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
      "description": "A description of a user's capabilities on a label lock.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to enable.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "description": "Request to enable a choice.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "description": "Response following choice enable.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse",
      "description": "Response for label update.",
      "type": "object",
      "properties": {
        "updatedLabel": {
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabel"
        },
        "responses": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest": {
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        },
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update.",
          "type": "array"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest",
      "description": "Updates one or more label permissions.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest",
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLockStatus": {
      "properties": {
        "locked": {
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLockStatus",
      "description": "Contains information about whether a label component should be considered locked.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
      "description": "Options for the Text field type.",
      "type": "object",
      "properties": {
        "maxLength": {
          "readOnly": true,
          "description": "Output only. The maximum valid length of values for the text field.",
          "type": "integer",
          "format": "int32"
        },
        "minLength": {
          "description": "Output only. The minimum valid length of values for the text field.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp": {
      "properties": {
        "app": {
          "description": "Optional. The name of the app.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ]
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp",
      "description": "An app where the label can be used.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDisableLabelRequest": {
      "properties": {
        "disabledPolicy": {
          "description": "Disabled policy to use.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDisableLabelRequest",
      "description": "Request to deprecate a published label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "properties": {
        "minValue": {
          "description": "Output only. The minimum valid value for the integer field.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "maxValue": {
          "description": "Output only. The maximum valid value for the integer field.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
      "description": "Options for the Integer field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest",
      "description": "A single kind of update to apply to a label.",
      "type": "object",
      "properties": {
        "disableField": {
          "description": "Disables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest"
        },
        "createSelectionChoice": {
          "description": "Create a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest"
        },
        "enableField": {
          "description": "Enables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest"
        },
        "deleteSelectionChoice": {
          "description": "Delete a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
        },
        "updateLabel": {
          "description": "Updates the label properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        },
        "updateFieldType": {
          "description": "Update field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest"
        },
        "updateSelectionChoiceProperties": {
          "description": "Update a choice property within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest"
        },
        "disableSelectionChoice": {
          "description": "Disable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "enableSelectionChoice": {
          "description": "Enable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "fieldId": {
          "description": "Required. The selection field to update.",
          "type": "string"
        },
        "id": {
          "description": "Required. The choice to update.",
          "type": "string"
        },
        "properties": {
          "description": "Required. The choice properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "description": "Request to update a choice property.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
      "description": "Request to delete the field.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the field to delete.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
      "description": "Behavior of this label when it's applied to Drive items.",
      "type": "object",
      "properties": {
        "copyMode": {
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
      "description": "The capabilities related to this choice on applied metadata.",
      "type": "object",
      "properties": {
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        },
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldDateOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
      "description": "Options for the date field type.",
      "type": "object",
      "properties": {
        "minValue": {
          "$ref": "GoogleTypeDate",
          "readOnly": true,
          "description": "Output only. Minimum valid value (year, month, day)."
        },
        "dateFormatType": {
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "type": "string",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ]
        },
        "dateFormat": {
          "description": "Output only. ICU date format.",
          "type": "string",
          "readOnly": true
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptions": {
      "properties": {
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        },
        "choices": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
          },
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "type": "array"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
      "description": "Options for the selection field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities": {
      "properties": {
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
      "description": "The capabilities a user has on this label's applied metadata.",
      "type": "object"
    },
    "GoogleTypeDate": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest": {
      "properties": {
        "enabledAppSettings": {
          "description": "Required. The new `EnabledAppSettings` value for the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        },
        "useAdminAccess": {
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "view": {
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest",
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
      "description": "Basic properties of the choice.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeConfig"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "insertBeforeChoice": {
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy": {
      "properties": {
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        },
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldLimits": {
      "properties": {
        "maxIdLength": {
          "description": "Maximum length for the id.",
          "type": "integer",
          "format": "int32"
        },
        "longTextLimits": {
          "description": "Long text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaLongTextLimits"
        },
        "selectionLimits": {
          "description": "Selection field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaSelectionLimits"
        },
        "dateLimits": {
          "description": "Date field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaDateLimits"
        },
        "integerLimits": {
          "description": "Integer field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaIntegerLimits"
        },
        "maxDescriptionLength": {
          "description": "Limits for field description, also called help text.",
          "type": "integer",
          "format": "int32"
        },
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaTextLimits"
        },
        "maxDisplayNameLength": {
          "description": "Limits for field title.",
          "type": "integer",
          "format": "int32"
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserLimits"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldLimits",
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest",
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Label permission resource name.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings": {
      "properties": {
        "enabledApps": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp"
          },
          "description": "Optional. The list of apps where the label can be used.",
          "type": "array"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings",
      "description": "Describes the Google Workspace apps in which the label can be used.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaField": {
      "properties": {
        "selectionOptions": {
          "description": "Selection field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        },
        "queryKey": {
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "type": "string",
          "readOnly": true
        },
        "displayHints": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDisplayHints",
          "description": "Output only. UI display hints for rendering a field.",
          "readOnly": true
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities"
        },
        "createTime": {
          "description": "Output only. The time this field was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "disableTime": {
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "updater": {
          "readOnly": true,
          "description": "Output only. The user who modified this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "updateTime": {
          "description": "Output only. The time this field was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "readOnly": true,
          "description": "Output only. The lifecycle of this field."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "type": "string"
        },
        "schemaCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities this user has when editing this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities"
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled."
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "description": "Output only. The `LockStatus` of this field.",
          "readOnly": true
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The user who created this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published."
        },
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaField",
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldUserOptions": {
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
      "description": "Options for the user field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaListLimits": {
      "properties": {
        "maxEntries": {
          "description": "Maximum number of values allowed for the field type.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaListLimits",
      "description": "Limits for list-variant of a field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUserCapabilities": {
      "properties": {
        "canCreateAdminLabels": {
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "type": "boolean",
          "readOnly": true
        },
        "canAdministrateLabels": {
          "readOnly": true,
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "type": "boolean"
        },
        "canCreateSharedLabels": {
          "readOnly": true,
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "type": "boolean"
        },
        "canAccessLabelManager": {
          "readOnly": true,
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name for the user capabilities.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUserCapabilities",
      "description": "The capabilities of a user.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldProperties": {
      "id": "GoogleAppsDriveLabelsV2betaFieldProperties",
      "description": "The basic properties of the field.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        },
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string"
        }
      }
    },
    "GoogleTypeColor": {
      "id": "GoogleTypeColor",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "type": "number",
          "format": "float"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelProperties": {
      "properties": {
        "title": {
          "description": "Required. Title of the label.",
          "type": "string"
        },
        "description": {
          "description": "The description of the label.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelProperties",
      "description": "Basic properties of the label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaTextLimits": {
      "id": "GoogleAppsDriveLabelsV2betaTextLimits",
      "description": "Limits for text field type.",
      "type": "object",
      "properties": {
        "maxLength": {
          "description": "Maximum length allowed for a text field type.",
          "type": "integer",
          "format": "int32"
        },
        "minLength": {
          "description": "Minimum length allowed for a text field type.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
      "description": "Request to create a field within a label.",
      "type": "object",
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaField"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "description": "Response following update to field properties.",
      "type": "object",
      "properties": {
        "priority": {
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaListLabelLocksResponse": {
      "properties": {
        "labelLocks": {
          "description": "Label locks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLock"
          }
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse",
      "description": "The response to a `ListLabelLocksRequest`.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be created.",
          "type": "string"
        },
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "description": "Request to create a selection choice.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse": {
      "properties": {
        "labelPermissions": {
          "description": "Label permissions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          }
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse",
      "description": "Response for listing the permissions on a label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBadgeColors": {
      "properties": {
        "foregroundColor": {
          "$ref": "GoogleTypeColor",
          "readOnly": true,
          "description": "Output only. Badge foreground that pairs with the background."
        },
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge background that pairs with the foreground.",
          "readOnly": true
        },
        "soloColor": {
          "readOnly": true,
          "description": "Output only. Color that can be used for text without a background.",
          "$ref": "GoogleTypeColor"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBadgeColors",
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities": {
      "properties": {
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
      "description": "The capabilities related to this field when editing the field.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "description": "Response following choice delete.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUserInfo": {
      "properties": {
        "person": {
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUserInfo",
      "description": "Information about a user.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
      "description": "Response following field enable.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
      "description": "The capabilities related to this field on applied metadata.",
      "type": "object",
      "properties": {
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean"
        },
        "canRead": {
[...]
