{
  "discoveryVersion": "v1",
  "servicePath": "drive/v2/",
  "name": "drive",
  "title": "Google Drive API",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "id": "drive:v2",
  "ownerName": "Google",
  "version": "v2",
  "protocol": "rest",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "schemas": {
    "LabelField": {
      "type": "object",
      "properties": {
        "selection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only present if `valueType` is `selection`"
        },
        "user": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "Only present if `valueType` is `user`."
        },
        "id": {
          "description": "The identifier of this label field.",
          "type": "string"
        },
        "integer": {
          "description": "Only present if `valueType` is `integer`.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "kind": {
          "description": "This is always `drive#labelField`.",
          "default": "drive#labelField",
          "type": "string"
        },
        "dateString": {
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          }
        },
        "text": {
          "description": "Only present if `valueType` is `text`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "valueType": {
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`",
          "type": "string"
        }
      },
      "id": "LabelField",
      "description": "Representation of field, which is a typed key-value pair."
    },
    "Label": {
      "id": "Label",
      "description": "Representation of a label and label fields.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        },
        "kind": {
          "default": "drive#label",
          "type": "string",
          "description": "This is always `drive#label`"
        },
        "fields": {
          "type": "object",
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "additionalProperties": {
            "$ref": "LabelField"
          }
        }
      }
    },
    "Drive": {
      "type": "object",
      "properties": {
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "properties": {
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy files in this shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit files in this shared drive",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canResetDriveRestrictions": {
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to folders in this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children from folders in this shared drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role.",
              "type": "boolean"
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.drives.insert"
            ]
          },
          "description": "The name of this shared drive."
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "restrictions": {
          "type": "object",
          "properties": {
            "domainUsersOnly": {
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            },
            "driveMembersOnly": {
              "description": "Whether access to items inside this shared drive is restricted to its members.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            }
          },
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive."
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive.",
          "type": "string"
        },
        "backgroundImageFile": {
          "properties": {
            "id": {
              "description": "The ID of an image file in Google Drive to use for the background image.",
              "type": "string"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number",
              "format": "float"
            },
            "yCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            }
          },
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set."
        },
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the shared drive was created (RFC 3339 date-time)."
        },
        "backgroundImageLink": {
          "description": "Output only. A short-lived link to this shared drive's background image.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#drive`",
          "default": "drive#drive",
          "type": "string"
        }
      },
      "id": "Drive",
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive."
    },
    "ChildReference": {
      "id": "ChildReference",
      "description": "A reference to a folder's child. Some resource methods (such as `children.get`) require a `childId`. Use the `children.list` method to retrieve the ID of the child.",
      "properties": {
        "kind": {
          "description": "Output only. This is always `drive#childReference`.",
          "default": "drive#childReference",
          "type": "string"
        },
        "childLink": {
          "description": "Output only. A link to the child.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "id": {
          "annotations": {
            "required": [
              "drive.children.insert"
            ]
          },
          "type": "string",
          "description": "The ID of the child."
        }
      },
      "type": "object"
    },
    "User": {
      "id": "User",
      "description": "Information about a Drive user.",
      "type": "object",
      "properties": {
        "picture": {
          "type": "object",
          "readOnly": true,
          "properties": {
            "url": {
              "readOnly": true,
              "type": "string",
              "description": "Output only. A URL that points to a profile picture of this user."
            }
          },
          "description": "Output only. The user's profile picture."
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "type": "string",
          "readOnly": true
        },
        "isAuthenticatedUser": {
          "description": "Output only. Whether this user is the same as the authenticated user for whom the request was made.",
          "type": "boolean",
          "readOnly": true
        },
        "emailAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester."
        },
        "permissionId": {
          "description": "Output only. The user's ID as visible in Permission resources.",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "default": "drive#user",
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`."
        }
      }
    },
    "Channel": {
      "id": "Channel",
      "description": "A notification channel used to watch for resource changes.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\".",
          "type": "string"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "default": "api#channel",
          "type": "string"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "expiration": {
          "format": "int64",
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        }
      }
    },
    "CommentReply": {
      "id": "CommentReply",
      "description": "A reply to a comment on a file in Google Drive.",
      "type": "object",
      "properties": {
        "verb": {
          "description": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform tSo the parent comment. Possible values are: * `resolve` - To resolve a comment. * `reopen` - To reopen (un-resolve) a comment.",
          "type": "string"
        },
        "deleted": {
          "description": "Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed.",
          "type": "boolean"
        },
        "content": {
          "annotations": {
            "required": [
              "drive.replies.patch",
              "drive.replies.update"
            ]
          },
          "type": "string",
          "description": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen)."
        },
        "createdDate": {
          "description": "The date when this reply was first created.",
          "type": "string",
          "format": "date-time"
        },
        "replyId": {
          "description": "The ID of the reply.",
          "type": "string"
        },
        "kind": {
          "description": "This is always drive#commentReply.",
          "default": "drive#commentReply",
          "type": "string"
        },
        "author": {
          "description": "The user who wrote this reply.",
          "$ref": "User"
        },
        "modifiedDate": {
          "description": "The date when this reply was last modified.",
          "type": "string",
          "format": "date-time"
        },
        "htmlContent": {
          "description": "HTML formatted content for this reply.",
          "type": "string"
        }
      }
    },
    "FileList": {
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\".",
          "type": "boolean"
        },
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of files.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#fileList`.",
          "default": "drive#fileList",
          "type": "string"
        },
        "items": {
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      },
      "type": "object",
      "id": "FileList",
      "description": "A list of files."
    },
    "Permission": {
      "id": "Permission",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "properties": {
        "type": {
          "description": "The account type. Allowed values are: * `user` * `group` * `domain` * `anyone`",
          "type": "string",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          }
        },
        "domain": {
          "description": "Output only. The domain name of the entity this permission refers to. This is an output-only field which is present when the permission type is `user`, `group` or `domain`.",
          "type": "string"
        },
        "additionalRoles": {
          "description": "Additional roles for this user. Only `commenter` is currently allowed, though more may be supported in the future.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "photoLink": {
          "description": "Output only. A link to the profile photo, if available.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. The ETag of the permission.",
          "type": "string"
        },
        "withLink": {
          "description": "Whether the link is required for this permission.",
          "type": "boolean"
        },
        "permissionDetails": {
          "readOnly": true,
          "type": "array",
          "items": {
            "properties": {
              "role": {
                "description": "Output only. The primary role for this user. While new values may be added in the future, the following are currently possible: * `organizer` * `fileOrganizer` * `writer` * `reader`",
                "type": "string"
              },
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated.",
                "type": "boolean"
              },
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string"
              },
              "permissionType": {
                "description": "Output only. The permission type for this user. While new values may be added in future, the following are currently possible: * `file` * `member`",
                "type": "string"
              },
              "additionalRoles": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Output only. Additional roles for this user. Only `commenter` is currently possible, though more may be supported in the future."
              }
            },
            "type": "object"
          },
          "description": "Output only. Details of whether the permissions on this item are inherited or directly on this item."
        },
        "expirationDate": {
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration dates have the following restrictions: - They can only be set on user and group permissions - The date must be in the future - The date cannot be more than a year in the future - The date can only be set on drive.permissions.update or drive.permissions.patch requests",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "The ID of the user this permission refers to, and identical to the `permissionId` in the About and Files resources. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        },
        "teamDrivePermissionDetails": {
          "type": "array",
          "description": "Output only. Deprecated: Use `permissionDetails` instead.",
          "deprecated": true,
          "items": {
            "properties": {
              "additionalRoles": {
                "description": "Output only. Deprecated: Use `permissionDetails/additionalRoles` instead.",
                "deprecated": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "inheritedFrom": {
                "description": "Output only. Deprecated: Use `permissionDetails/inheritedFrom` instead.",
                "deprecated": true,
                "type": "string"
              },
              "inherited": {
                "description": "Output only. Deprecated: Use `permissionDetails/inherited` instead.",
                "deprecated": true,
                "type": "boolean"
              },
              "role": {
                "type": "string",
                "description": "Output only. Deprecated: Use `permissionDetails/role` instead.",
                "deprecated": true
              },
              "teamDrivePermissionType": {
                "description": "Output only. Deprecated: Use `permissionDetails/permissionType` instead.",
                "deprecated": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "readOnly": true
        },
        "kind": {
          "default": "drive#permission",
          "type": "string",
          "description": "Output only. This is always `drive#permission`."
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for `user` type permissions for files that are not in a shared drive.",
          "type": "boolean"
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. published and metadata are the only supported values. - published: The permission's role is published_reader. - metadata: The item is only visible to the metadata view because the item has limited access and the scope has at least read access to the parent. Note: The metadata view is currently only supported on folders. ",
          "type": "string"
        },
        "value": {
          "description": "The email address or domain name for the entity. This is used during inserts and is not populated in responses. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions.",
          "type": "boolean"
        },
        "authKey": {
          "type": "string",
          "description": "Output only. Deprecated.",
          "deprecated": true
        },
        "selfLink": {
          "description": "Output only. A link back to this permission.",
          "type": "string"
        },
        "emailAddress": {
          "description": "Output only. The email address of the user or group this permission refers to. This is an output-only field which is present when the permission type is `user` or `group`.",
          "type": "string"
        },
        "role": {
          "description": "The primary role for this user. While new values may be supported in the future, the following are currently allowed: * `owner` * `organizer` * `fileOrganizer` * `writer` * `reader`",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          },
          "type": "string"
        },
        "name": {
          "description": "Output only. The name for this permission.",
          "type": "string"
        },
        "inheritedPermissionsDisabled": {
          "description": "When true, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Revision": {
      "id": "Revision",
      "description": "A revision of a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "properties": {
        "published": {
          "description": "Whether this revision is published. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "originalFilename": {
          "description": "Output only. The original filename when this revision was created. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "exportLinks": {
          "type": "object",
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "downloadUrl": {
          "description": "Output only. Short term download URL for the file. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this revision.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. The ETag of the revision.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "kind": {
          "default": "drive#revision",
          "type": "string",
          "description": "Output only. This is always `drive#revision`."
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this revision.",
          "type": "string"
        },
        "fileSize": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The size of the revision in bytes. This will only be populated on files with content stored in Drive."
        },
        "mimeType": {
          "description": "Output only. The MIME type of the revision.",
          "type": "string"
        },
        "modifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Last time this revision was modified (formatted RFC 3339 timestamp)."
        },
        "pinned": {
          "description": "Whether this revision is pinned to prevent automatic purging. If not set, the revision is automatically purged 30 days after newer content is uploaded. This field can only be modified on files with content stored in Drive, excluding Docs Editors files. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter. Pinned revisions are stored indefinitely using additional storage quota, up to a maximum of 200 revisions.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PermissionId": {
      "properties": {
        "kind": {
          "default": "drive#permissionId",
          "type": "string",
          "description": "This is always `drive#permissionId`."
        },
        "id": {
          "description": "The permission ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PermissionId",
      "description": "An ID for a user or group as seen in Permission items."
    },
    "AppList": {
      "properties": {
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "defaultAppIds": {
          "description": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#appList`.",
          "default": "drive#appList",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps."
        }
      },
      "type": "object",
      "id": "AppList",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive."
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "description": "A restriction for accessing the content of the file.",
      "properties": {
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true.",
          "$ref": "User"
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "systemRestricted": {
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.",
          "type": "boolean"
        },
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        },
        "restrictionDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true."
        }
      },
      "type": "object"
    },
    "ChangeList": {
      "id": "ChangeList",
      "description": "A list of changes for a user.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of changes.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached.",
          "type": "string"
        },
        "largestChangeId": {
          "format": "int64",
          "type": "string",
          "description": "The current largest change ID."
        },
        "kind": {
          "default": "drive#changeList",
          "type": "string",
          "description": "This is always `drive#changeList`."
        },
        "items": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Change"
          }
        }
      },
      "type": "object"
    },
    "GenerateCseTokenResponse": {
      "id": "GenerateCseTokenResponse",
      "description": "JWT and associated metadata used to generate CSE files.",
      "properties": {
        "currentKaclsName": {
          "description": "Name of the KACLs that the returned KACLs ID points to.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`.",
          "type": "string"
        },
        "currentKaclsId": {
          "format": "int64",
          "type": "string",
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT."
        },
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DriveList": {
      "id": "DriveList",
      "description": "A list of shared drives.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#driveList`",
          "default": "drive#driveList",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Drive"
          },
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        }
      },
      "type": "object"
    },
    "PermissionList": {
      "properties": {
        "kind": {
          "default": "drive#permissionList",
          "type": "string",
          "description": "This is always `drive#permissionList`."
        },
        "items": {
          "description": "The list of permissions.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PermissionList",
      "description": "A list of permissions associated with a file."
    },
    "ChildList": {
      "id": "ChildList",
      "description": "A list of children of a file.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of children. This will be absent if the end of the children list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of children.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#childList",
          "type": "string",
          "description": "This is always `drive#childList`."
        },
        "items": {
          "description": "The list of children. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "ChildReference"
          }
        }
      }
    },
    "StartPageToken": {
      "properties": {
        "startPageToken": {
          "description": "The starting page token for listing changes.",
          "type": "string"
        },
        "kind": {
          "default": "drive#startPageToken",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`."
        }
      },
      "type": "object",
      "id": "StartPageToken"
    },
    "App": {
      "id": "App",
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "properties": {
        "id": {
          "description": "The ID of the app.",
          "type": "string"
        },
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "primaryMimeTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of primary mime types."
        },
        "kind": {
          "default": "drive#app",
          "type": "string",
          "description": "This is always `drive#app`."
        },
        "supportsCreate": {
          "description": "Whether this app supports creating new objects.",
          "type": "boolean"
        },
        "productUrl": {
          "description": "A link to the product listing for this app.",
          "type": "string"
        },
        "createUrl": {
          "description": "The url to create a new file with this app.",
          "type": "string"
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating new files when offline.",
          "type": "boolean"
        },
        "primaryFileExtensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of primary file extensions."
        },
        "longDescription": {
          "description": "A long description of the app.",
          "type": "string"
        },
        "supportsImport": {
          "description": "Whether this app supports importing from Docs Editors.",
          "type": "boolean"
        },
        "icons": {
          "description": "The various icons for the app.",
          "type": "array",
          "items": {
            "properties": {
              "category": {
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app",
                "type": "string"
              },
              "size": {
                "description": "Size of the icon. Represented as the maximum of the width and height.",
                "type": "integer",
                "format": "int32"
              },
              "iconUrl": {
                "description": "URL for the icon.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "secondaryMimeTypes": {
          "description": "The list of secondary mime types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "hasDriveWideScope": {
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive.",
          "type": "boolean"
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "objectType": {
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead.",
          "type": "string"
        },
        "secondaryFileExtensions": {
          "description": "The list of secondary file extensions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "openUrlTemplate": {
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation.",
          "type": "string"
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "createInFolderTemplate": {
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClientEncryptionDetails": {
      "id": "ClientEncryptionDetails",
      "description": "Details about the client-side encryption applied to the file.",
      "type": "object",
      "properties": {
        "encryptionState": {
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted ",
          "type": "string"
        },
        "decryptionMetadata": {
          "description": "The metadata used for client-side operations.",
          "$ref": "DecryptionMetadata"
        }
      }
    },
    "LabelFieldModification": {
      "id": "LabelFieldModification",
      "description": "A modification to a label's field.",
      "properties": {
        "setIntegerValues": {
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "setDateValues": {
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          }
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "setTextValues": {
          "description": "Sets the value of a `text` field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setSelectionValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Replaces a `selection` field with these new values."
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always `drive#labelFieldModification`.",
          "default": "drive#labelFieldModification",
          "type": "string"
        },
        "setUserValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Replaces a `user` field with these new values. The values must be valid email addresses."
        }
      },
      "type": "object"
    },
    "PropertyList": {
      "id": "PropertyList",
      "description": "A collection of properties, key-value pairs that are either public or private to an application.",
      "properties": {
        "kind": {
          "description": "This is always `drive#propertyList`.",
          "default": "drive#propertyList",
          "type": "string"
        },
        "items": {
          "description": "The list of properties.",
          "type": "array",
          "items": {
            "$ref": "Property"
          }
        },
        "selfLink": {
          "description": "The link back to this list.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "File": {
      "type": "object",
      "properties": {
        "userPermission": {
          "description": "Output only. The permissions for the authenticated user on this file.",
          "$ref": "Permission"
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        },
        "shareable": {
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "videoMediaMetadata": {
          "properties": {
            "durationMillis": {
              "description": "Output only. The duration of the video in milliseconds.",
              "format": "int64",
              "type": "string"
            },
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "height": {
              "description": "Output only. The height of the video in pixels.",
              "format": "int32",
              "type": "integer"
            }
          },
          "type": "object",
          "description": "Output only. Metadata about video media. This will only be present for video types."
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "Create time for this file (formatted RFC 3339 timestamp)."
        },
        "sha1Checksum": {
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "parents": {
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of an insert request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "type": "array",
          "items": {
            "$ref": "ParentReference"
          }
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "inheritedPermissionsDisabled": {
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default.",
          "type": "boolean"
        },
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "defaultOpenWithLink": {
          "description": "Output only. A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used.",
          "type": "string"
        },
        "copyRequiresWriterPermission": {
          "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters.",
          "type": "boolean"
        },
        "downloadUrl": {
          "description": "Output only. Short lived download URL for the file. This field is only populated for files with content stored in Google Drive; it is not populated for Google Docs or shortcut files.",
          "type": "string"
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `title` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "appDataContents": {
          "description": "Output only. Whether this file is in the Application Data folder.",
          "type": "boolean"
        },
        "modifiedByMeDate": {
          "format": "date-time",
          "type": "string",
          "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date."
        },
        "properties": {
          "description": "The list of properties.",
          "type": "array",
          "items": {
            "$ref": "Property"
          }
        },
        "imageMediaMetadata": {
          "type": "object",
          "properties": {
            "colorSpace": {
              "description": "Output only. The color space of the photo.",
              "type": "string"
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "sensor": {
              "description": "Output only. The type of sensor used to create the photo.",
              "type": "string"
            },
            "focalLength": {
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "format": "float",
              "type": "number"
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            },
            "location": {
              "type": "object",
              "properties": {
                "latitude": {
                  "description": "Output only. The latitude stored in the image.",
                  "type": "number",
                  "format": "double"
                },
                "longitude": {
                  "type": "number",
                  "format": "double",
                  "description": "Output only. The longitude stored in the image."
                },
                "altitude": {
                  "format": "double",
                  "type": "number",
                  "description": "Output only. The altitude stored in the image."
                }
              },
              "description": "Output only. Geographic location information stored in the image."
            },
            "isoSpeed": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The ISO speed used to create the photo."
            },
            "exposureMode": {
              "description": "Output only. The exposure mode used to create the photo.",
              "type": "string"
            },
            "height": {
              "description": "Output only. The height of the image in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            },
            "width": {
              "description": "Output only. The width of the image in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "exposureTime": {
              "type": "number",
              "format": "float",
              "description": "Output only. The length of the exposure, in seconds."
            },
            "date": {
              "description": "Output only. The date and time the photo was taken (EXIF format timestamp).",
              "type": "string"
            },
            "cameraModel": {
              "description": "Output only. The model of the camera used to create the photo.",
              "type": "string"
            },
            "aperture": {
              "description": "Output only. The aperture used to create the photo (f-number).",
              "format": "float",
              "type": "number"
            },
            "exposureBias": {
              "format": "float",
              "type": "number",
              "description": "Output only. The exposure bias of the photo (APEX value)."
            },
            "maxApertureValue": {
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "format": "float",
              "type": "number"
            },
            "subjectDistance": {
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "type": "integer",
              "format": "int32"
            },
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "rotation": {
              "type": "integer",
              "format": "int32",
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation."
            }
          },
          "description": "Output only. Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content."
        },
        "thumbnailVersion": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation."
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives."
        },
        "quotaBytesUsed": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of quota bytes used by this file."
        },
        "ownedByMe": {
          "description": "Output only. Whether the file is owned by the current user. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "teamDriveId": {
          "type": "string",
          "description": "Output only. Deprecated: Use `driveId` instead.",
          "deprecated": true
        },
        "isAppAuthorized": {
          "description": "Output only. Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "indexableText": {
          "type": "object",
          "properties": {
            "text": {
              "description": "The text to be indexed for this file.",
              "type": "string"
            }
          },
          "description": "Indexable text attributes for the file (can only be written)"
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "copyable": {
          "description": "Output only. Deprecated: Use `capabilities/canCopy` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "sharedWithMeDate": {
          "format": "date-time",
          "type": "string",
          "description": "Time at which this file was shared with the user (formatted RFC 3339 timestamp)."
        },
        "clientEncryptionDetails": {
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts.",
          "$ref": "ClientEncryptionDetails"
        },
        "exportLinks": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "lastViewedByMeDate": {
          "format": "date-time",
          "type": "string",
          "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp)."
        },
        "thumbnail": {
          "properties": {
            "mimeType": {
              "description": "The MIME type of the thumbnail.",
              "type": "string"
            },
            "image": {
              "description": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
              "format": "byte",
              "type": "string"
            }
          },
          "type": "object",
          "description": "A thumbnail for the file. This will only be used if a standard thumbnail cannot be generated."
        },
        "labels": {
          "description": "A group of labels for the file.",
          "type": "object",
          "properties": {
            "trashed": {
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files.",
              "type": "boolean"
            },
            "modified": {
              "description": "Output only. Whether the file has been modified by this user.",
              "type": "boolean"
            },
            "starred": {
              "description": "Whether this file is starred by the user.",
              "type": "boolean"
            },
            "restricted": {
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "hidden": {
              "type": "boolean",
              "description": "Output only. Deprecated.",
              "deprecated": true
            },
            "viewed": {
              "description": "Whether this file has been viewed by this user.",
              "type": "boolean"
            }
          }
        },
        "sha256Checksum": {
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. The type of file. This is always `drive#file`.",
          "default": "drive#file",
          "type": "string"
        },
        "canComment": {
          "description": "Output only. Deprecated: Use `capabilities/canComment` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "permissionIds": {
          "description": "Output only. List of permission IDs for users with access to this file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileSize": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders."
        },
        "shortcutDetails": {
          "type": "object",
          "properties": {
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            },
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.insert` requests.",
              "type": "string"
            },
            "targetResourceKey": {
              "description": "Output only. The ResourceKey for the target file.",
              "type": "string"
            }
          },
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`. Can only be set on `files.insert` requests."
        },
        "labelInfo": {
          "type": "object",
          "properties": {
            "labels": {
              "type": "array",
              "items": {
                "$ref": "Label"
              },
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned."
            }
          },
          "description": "Output only. An overview of the labels on the file."
        },
        "webViewLink": {
          "description": "Output only. A link only available on public folders for viewing their static web assets (HTML, CSS, JS, etc) via Google Drive's Website Hosting.",
          "type": "string"
        },
        "modifiedDate": {
          "format": "date-time",
          "type": "string",
          "description": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set."
        },
        "resourceKey": {
          "description": "Output only. A key needed to access the item via a shared link.",
          "type": "string"
        },
        "openWithLinks": {
          "type": "object",
          "description": "Output only. A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "etag": {
          "description": "Output only. ETag of the file.",
          "type": "string"
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this file.",
          "type": "string"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this file. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "fileExtension": {
          "description": "Output only. The final component of `fullFileExtension` with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "ownerNames": {
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "embedLink": {
          "description": "Output only. A link for embedding the file.",
          "type": "string"
        },
        "version": {
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user.",
          "type": "string",
          "format": "int64"
        },
        "linkShareMetadata": {
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "type": "object",
          "properties": {
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            },
            "securityUpdateEligible": {
              "description": "Output only. Whether the file is eligible for security update.",
              "type": "boolean"
            }
          }
        },
        "folderColorRgb": {
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette.",
          "type": "string"
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this file. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials.",
          "type": "string"
        },
        "trashedDate": {
          "description": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for items in shared drives.",
          "type": "string",
          "format": "date-time"
        },
        "mimeType": {
          "description": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type.",
          "type": "string"
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "properties": {
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read.",
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "deprecated": true
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canMoveTeamDriveItem": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "deprecated": true
            },
            "canMoveChildrenWithinTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveChildrenWithinDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canReadDrive": {
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction` or `canRemoveContentRestriction`.",
              "deprecated": true,
              "type": "boolean"
            },
            "canModifyOwnerContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canDisableInheritedPermissions": {
              "readOnly": true,
              "type": "boolean",
              "description": "Output only. Whether a user can disable inherited permissions."
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata.",
              "type": "boolean"
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canEnableInheritedPermissions": {
              "readOnly": true,
              "type": "boolean",
              "description": "Output only. Whether a user can re-enable inherited permissions."
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there is a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveChildrenOutOfDrive` instead.",
              "deprecated": true
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            },
            "canChangeRestrictedDownload": {
              "type": "boolean",
              "description": "Output only. Deprecated.",
              "deprecated": true
            }
          },
          "type": "object"
        },
        "alternateLink": {
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this file.",
          "type": "string"
        },
        "title": {
          "description": "The title of this file. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the title is constant.",
          "type": "string"
        },
        "iconLink": {
          "description": "Output only. A link to the file's icon.",
          "type": "string"
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "fullFileExtension": {
          "description": "Output only. The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "editable": {
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canEdit` instead.",
          "deprecated": true
        },
        "contentRestrictions": {
          "type": "array",
          "items": {
            "$ref": "ContentRestriction"
          },
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists."
        },
        "writersCanShare": {
          "description": "Whether writers can share the document with other users. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "sharingUser": {
          "description": "Output only. User that shared the item with the current user, if available.",
          "$ref": "User"
        },
        "explicitlyTrashed": {
          "description": "Output only. Whether this file has been explicitly trashed, as opposed to recursively trashed.",
          "type": "boolean"
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `Files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "spaces": {
          "description": "Output only. The list of spaces which contain the file. Supported values are `drive`, `appDataFolder` and `photos`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "canReadRevisions": {
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canReadRevisions` instead.",
          "deprecated": true
        },
        "markedViewedByMeDate": {
          "description": "Deprecated.",
          "format": "date-time",
          "type": "string"
        }
      },
      "id": "File",
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file."
    },
    "About": {
      "id": "About",
      "description": "An item with user information and settings.",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
          "type": "string"
        },
        "features": {
          "description": "List of additional features enabled on this account.",
          "type": "array",
          "items": {
            "properties": {
              "featureName": {
                "description": "The name of the feature.",
                "type": "string"
              },
              "featureRate": {
                "format": "double",
                "type": "number",
                "description": "The request limit rate for this feature, in queries per second."
              }
            },
            "type": "object"
          }
        },
        "exportFormats": {
          "type": "array",
          "items": {
            "properties": {
              "source": {
                "description": "The content type to convert from.",
                "type": "string"
              },
              "targets": {
                "description": "The possible content types to convert to.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          },
          "description": "The allowable export formats."
        },
        "quotaBytesByService": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "serviceName": {
                "description": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS.",
                "type": "string"
              },
              "bytesUsed": {
                "description": "The storage quota bytes used by the service.",
                "type": "string",
                "format": "int64"
              }
            }
          },
          "description": "The amount of storage quota used by different Google services."
        },
        "isCurrentAppInstalled": {
          "description": "A boolean indicating whether the authenticated app is installed by the authenticated user.",
          "type": "boolean"
        },
        "quotaBytesUsedAggregate": {
          "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.).",
          "format": "int64",
          "type": "string"
        },
        "canCreateTeamDrives": {
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "quotaBytesUsed": {
          "type": "string",
          "format": "int64",
          "description": "The number of quota bytes used by Google Drive."
        },
        "selfLink": {
          "description": "A link back to this item.",
          "type": "string"
        },
        "quotaType": {
          "description": "The type of the user's storage quota. Possible values are: * `LIMITED` * `UNLIMITED`",
          "type": "string"
        },
        "quotaBytesTotal": {
          "description": "The total number of quota bytes. This is only relevant when quotaType is LIMITED.",
          "format": "int64",
          "type": "string"
        },
        "teamDriveThemes": {
          "description": "Deprecated: Use `driveThemes` instead.",
          "deprecated": true,
          "type": "array",
          "items": {
            "properties": {
              "id": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "deprecated": true
              },
              "colorRgb": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "deprecated": true
              },
              "backgroundImageLink": {
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "deprecated": true,
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "maxUploadSizes": {
          "type": "array",
          "items": {
            "properties": {
              "type": {
                "description": "The file type.",
                "type": "string"
              },
              "size": {
                "type": "string",
                "format": "int64",
                "description": "The max upload size for this type."
              }
            },
            "type": "object"
          },
          "description": "List of max upload sizes for each file type. The most specific type takes precedence."
        },
        "folderColorPalette": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The palette of allowable folder colors as RGB hex strings."
        },
        "etag": {
          "description": "The ETag of the item.",
          "type": "string"
        },
        "additionalRoleInfo": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "The content type that this additional role info applies to.",
                "type": "string"
              },
              "roleSets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "primaryRole": {
                      "description": "A primary permission role.",
                      "type": "string"
                    },
                    "additionalRoles": {
                      "description": "The supported additional roles with the primary role.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "description": "The supported additional roles per primary role."
              }
            }
          },
          "description": "Information about supported additional roles per file type. The most specific type takes precedence."
        },
        "name": {
          "description": "The name of the current user.",
          "type": "string"
        },
        "domainSharingPolicy": {
          "type": "string",
          "description": "Deprecated: Does not granularly represent allowlisted domains or Trust Rules. The domain sharing policy for the current user. Possible values are: * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed` Note that if the user is enrolled in Trust Rules, `disallowed` will always be returned. If sharing is restricted to allowlisted domains, either `incomingOnly` or `allowedWithWarning` will be returned, depending on whether receiving files from outside the allowlisted domains is permitted.",
          "deprecated": true
        },
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "quotaBytesUsedInTrash": {
          "description": "The number of quota bytes used by trashed items.",
          "format": "int64",
          "type": "string"
        },
        "largestChangeId": {
          "type": "string",
          "format": "int64",
          "description": "The largest change id."
        },
        "permissionId": {
          "description": "The current user's ID as visible in the permissions collection.",
          "type": "string"
        },
        "driveThemes": {
          "description": "A list of themes that are supported for shared drives.",
          "type": "array",
          "items": {
            "properties": {
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
[...]
