{
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "description": "An API for managing Drive Labels",
  "servicePath": "",
  "batchPath": "batch",
  "version": "v2",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest": {
      "description": "Request to delete the field.",
      "properties": {
        "id": {
          "description": "Required. ID of the field to delete.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest": {
      "description": "A single kind of update to apply to a label.",
      "properties": {
        "disableField": {
          "description": "Disables the field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest"
        },
        "deleteSelectionChoice": {
          "description": "Delete a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest"
        },
        "updateFieldType": {
          "description": "Update field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest"
        },
        "enableField": {
          "description": "Enables the field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest"
        },
        "createSelectionChoice": {
          "description": "Create a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest"
        },
        "updateLabel": {
          "description": "Updates the label properties.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        },
        "enableSelectionChoice": {
          "description": "Enable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest"
        },
        "disableSelectionChoice": {
          "description": "Disable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "updateSelectionChoiceProperties": {
          "description": "Update a choice property within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelEnabledAppSettings": {
      "id": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings",
      "type": "object",
      "description": "Describes the Google Workspace apps in which the label can be used.",
      "properties": {
        "enabledApps": {
          "description": "Optional. The list of apps where the label can be used.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp"
          },
          "type": "array"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp": {
      "description": "An app where the label can be used.",
      "properties": {
        "app": {
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ],
          "description": "Optional. The name of the app.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse",
      "type": "object",
      "description": "Response following field disable.",
      "properties": {}
    },
    "GoogleTypeColor": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "green": {
          "type": "number",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "red": {
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "alpha": {
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float"
        }
      },
      "id": "GoogleTypeColor",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldListOptions": {
      "description": "Options for a multi-valued variant of an associated field type.",
      "properties": {
        "maxEntries": {
          "description": "Maximum number of entries permitted.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldListOptions",
      "type": "object"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DateLimits": {
      "description": "Limits for date field type.",
      "properties": {
        "minValue": {
          "description": "Minimum value for the date field type.",
          "$ref": "GoogleTypeDate"
        },
        "maxValue": {
          "description": "Maximum value for the date field type.",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DateLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "description": "Response following update to selection choice properties.",
      "properties": {
        "priority": {
          "type": "integer",
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2WriteControl": {
      "id": "GoogleAppsDriveLabelsV2WriteControl",
      "type": "object",
      "description": "Provides control over how write requests are executed. When not specified, the last write wins.",
      "properties": {
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
        }
      }
    },
    "GoogleAppsDriveLabelsV2UserInfo": {
      "description": "Information about a user.",
      "properties": {
        "person": {
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2UserInfo",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest",
      "type": "object",
      "description": "Request to disable the field.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "id": {
          "description": "Required. Key of the field to disable.",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "Required. Field disabled policy.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        }
      }
    },
    "GoogleAppsDriveLabelsV2Label": {
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this label was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "revisionCreator": {
          "readOnly": true,
          "description": "Output only. The user who created this label revision.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "creator": {
          "description": "Output only. The user who created this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "lifecycle": {
          "readOnly": true,
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle"
        },
        "learnMoreUri": {
          "type": "string",
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used."
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "readOnly": true
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities related to this label on applied metadata."
        },
        "customer": {
          "readOnly": true,
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`.",
          "type": "string"
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`."
        },
        "labelType": {
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ],
          "description": "Required. The type of label.",
          "type": "string"
        },
        "publisher": {
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "displayHints": {
          "readOnly": true,
          "description": "Output only. UI display hints for rendering the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelDisplayHints"
        },
        "appliedLabelPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "readOnly": true
        },
        "publishTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "format": "google-datetime"
        },
        "fields": {
          "type": "array",
          "description": "List of fields in descending priority order.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Field"
          }
        },
        "revisionCreateTime": {
          "type": "string",
          "description": "Output only. The time this label revision was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "schemaCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities the user has on this label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities"
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "readOnly": true,
          "description": "Output only. The `LockStatus` of this label."
        },
        "disableTime": {
          "readOnly": true,
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below."
        },
        "enabledAppSettings": {
          "description": "Optional. The `EnabledAppSettings` for this Label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings"
        }
      },
      "id": "GoogleAppsDriveLabelsV2Label",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest": {
      "id": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest",
      "type": "object",
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Label permission resource name."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2ListLabelsResponse": {
      "id": "GoogleAppsDriveLabelsV2ListLabelsResponse",
      "type": "object",
      "description": "Response for listing labels.",
      "properties": {
        "labels": {
          "type": "array",
          "description": "Labels.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "description": "Response following update to field properties.",
      "properties": {
        "priority": {
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "description": "Response following update to field type.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UserLimits": {
      "description": "Limits for Field.Type.USER.",
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2ListLimits"
        }
      },
      "id": "GoogleAppsDriveLabelsV2UserLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldAppliedCapabilities": {
      "description": "The capabilities related to this field on applied metadata.",
      "properties": {
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can search for Drive items referencing this field."
        },
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelPermission": {
      "id": "GoogleAppsDriveLabelsV2LabelPermission",
      "type": "object",
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "properties": {
        "group": {
          "description": "Group resource name.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ],
          "description": "The role the principal should have."
        },
        "email": {
          "type": "string",
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified."
        },
        "audience": {
          "type": "string",
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label."
        },
        "person": {
          "description": "Person resource name.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "description": "The UI display hints for rendering the label.",
      "properties": {
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "priority": {
          "type": "string",
          "description": "The order to display labels in a list.",
          "format": "int64"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the label should be shown in the UI as disabled."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This label should be shown in the apply menu when applying values to a Drive item."
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelDisplayHints",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelLockCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelLockCapabilities",
      "type": "object",
      "description": "A description of a user's capabilities on a label lock.",
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse",
      "type": "object",
      "description": "Response following field delete.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse": {
      "description": "A single response from an update.",
      "properties": {
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse"
        },
        "createSelectionChoice": {
          "description": "Creates a selection list option to add to a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse"
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a choice from a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest",
      "type": "object",
      "description": "Deletes one or more label permissions.",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the resources to update.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest"
          }
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse",
      "type": "object",
      "description": "Response following field create.",
      "properties": {
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        },
        "priority": {
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2UserCapabilities": {
      "id": "GoogleAppsDriveLabelsV2UserCapabilities",
      "type": "object",
      "description": "The capabilities of a user.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for the user capabilities."
        },
        "canCreateAdminLabels": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the user is allowed to create admin labels."
        },
        "canAdministrateLabels": {
          "readOnly": true,
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "type": "boolean"
        },
        "canAccessLabelManager": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "readOnly": true
        },
        "canCreateSharedLabels": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the user is allowed to create shared labels."
        }
      }
    },
    "GoogleAppsDriveLabelsV2SelectionLimits": {
      "id": "GoogleAppsDriveLabelsV2SelectionLimits",
      "type": "object",
      "description": "Limits for selection field type.",
      "properties": {
        "maxDeletedChoices": {
          "type": "integer",
          "description": "Maximum number of deleted choices.",
          "format": "int32"
        },
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2ListLimits"
        },
        "maxDisplayNameLength": {
          "type": "integer",
          "description": "Maximum length for display name.",
          "format": "int32"
        },
        "maxChoices": {
          "type": "integer",
          "description": "Maximum number of choices.",
          "format": "int32"
        },
        "maxIdLength": {
          "description": "Maximum ID length for a selection option.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest",
      "type": "object",
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied.",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`.",
          "type": "string"
        },
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned."
        },
        "requests": {
          "type": "array",
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "type": "object",
      "description": "Request to update a choice property.",
      "properties": {
        "properties": {
          "description": "Required. The choice properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties"
        },
        "fieldId": {
          "description": "Required. The selection field to update.",
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "id": {
          "type": "string",
          "description": "Required. The choice to update."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "description": "Request to enable a choice.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be enabled."
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to enable."
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldTextOptions",
      "type": "object",
      "description": "Options for the Text field type.",
      "properties": {
        "maxLength": {
          "readOnly": true,
          "description": "Output only. The maximum valid length of values for the text field.",
          "format": "int32",
          "type": "integer"
        },
        "minLength": {
          "description": "Output only. The minimum valid length of values for the text field.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest": {
      "description": "Request to enable the field.",
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse": {
      "description": "Response following field enable.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelProperties": {
      "id": "GoogleAppsDriveLabelsV2LabelProperties",
      "type": "object",
      "description": "Basic properties of the label.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. Title of the label."
        },
        "description": {
          "description": "The description of the label.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice disable.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2Field": {
      "id": "GoogleAppsDriveLabelsV2Field",
      "type": "object",
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "properties": {
        "selectionOptions": {
          "description": "Selection field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "description": "Output only. The lifecycle of this field.",
          "readOnly": true
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who created this field."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time this field was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this field was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
        },
        "id": {
          "type": "string",
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true
        },
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions"
        },
        "disabler": {
          "readOnly": true,
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions"
        },
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties"
        },
        "appliedCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items.",
          "$ref": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities"
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldDisplayHints"
        },
        "updater": {
          "description": "Output only. The user who modified this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published."
        },
        "queryKey": {
          "type": "string",
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "readOnly": true
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LockStatus"
        },
        "disableTime": {
          "type": "string",
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "format": "google-datetime",
          "readOnly": true
        },
        "schemaCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities this user has when editing this field.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "type": "object",
      "description": "Request to change the type of a field.",
      "properties": {
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions"
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
        },
        "id": {
          "type": "string",
          "description": "Required. The field to update."
        },
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions"
        },
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "integerOptions": {
          "description": "Update field to Integer.",
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
        },
        "userOptions": {
          "description": "Update field to User.",
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions"
        }
      }
    },
    "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest": {
      "id": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest",
      "type": "object",
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "view": {
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string"
        },
        "copyMode": {
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelLock": {
      "id": "GoogleAppsDriveLabelsV2LabelLock",
      "type": "object",
      "description": "A lock that can be applied to a label, field, or choice.",
      "properties": {
        "capabilities": {
          "$ref": "GoogleAppsDriveLabelsV2LabelLockCapabilities",
          "description": "Output only. The user's capabilities on this label lock.",
          "readOnly": true
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked."
        },
        "name": {
          "description": "Output only. Resource name of this label lock.",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this label lock was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ],
          "description": "Output only. This label lock's state.",
          "type": "string"
        },
        "choiceId": {
          "type": "string",
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present."
        }
      }
    },
    "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "properties": {
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        },
        "showInApply": {
          "type": "boolean",
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI."
        }
      },
      "id": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse": {
      "description": "Response for listing the permissions on a label.",
      "properties": {
        "labelPermissions": {
          "type": "array",
          "description": "Label permissions.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          }
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelLimits": {
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "properties": {
        "maxDescriptionLength": {
          "type": "integer",
          "description": "The maximum number of characters allowed for the description.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "Resource name."
        },
        "maxTitleLength": {
          "type": "integer",
          "description": "The maximum number of characters allowed for the title.",
          "format": "int32"
        },
        "fieldLimits": {
          "description": "The limits for fields.",
          "$ref": "GoogleAppsDriveLabelsV2FieldLimits"
        },
        "maxFields": {
          "type": "integer",
          "description": "The maximum number of fields allowed within the label.",
          "format": "int32"
        },
        "maxDeletedFields": {
          "type": "integer",
          "description": "The maximum number of published fields that can be deleted.",
          "format": "int32"
        },
        "maxDraftRevisions": {
          "type": "integer",
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldProperties": {
      "id": "GoogleAppsDriveLabelsV2FieldProperties",
      "type": "object",
      "description": "The basic properties of the field.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display text to show in the UI identifying this field."
        },
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string"
        },
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelSchemaCapabilities": {
      "description": "The capabilities related to this label when editing the label.",
      "properties": {
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled."
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled."
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this label."
        },
        "canDisable": {
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy": {
      "id": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
      "type": "object",
      "description": "Behavior of this label when it's applied to Drive items.",
      "properties": {
        "copyMode": {
          "type": "string",
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2Lifecycle": {
      "id": "GoogleAppsDriveLabelsV2Lifecycle",
      "type": "object",
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "properties": {
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "readOnly": true,
          "type": "boolean"
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "description": "Output only. The state of the object associated with this lifecycle.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LongTextLimits": {
      "id": "GoogleAppsDriveLabelsV2LongTextLimits",
      "type": "object",
      "description": "Limits for long text field type.",
      "properties": {
        "maxLength": {
          "type": "integer",
          "description": "Maximum length allowed for a long text field type.",
          "format": "int32"
        },
        "minLength": {
          "description": "Minimum length allowed for a long text field type.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BadgeConfig": {
      "description": "Badge status of the label.",
      "properties": {
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        },
        "priorityOverride": {
          "type": "string",
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "format": "int64"
        }
      },
      "id": "GoogleAppsDriveLabelsV2BadgeConfig",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "type": "object",
      "description": "Request to update field properties.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "properties": {
          "description": "Required. Basic field properties.",
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptions": {
      "description": "Options for the selection field type.",
      "properties": {
        "choices": {
          "type": "array",
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
          }
        },
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptions",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest": {
      "description": "Request to create a field within a label.",
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2Field"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSchemaCapabilities": {
      "description": "The capabilities related to this field when editing the field.",
      "properties": {
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated."
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled."
        },
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled."
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse",
      "type": "object",
      "description": "Response for label update.",
      "properties": {
        "updatedLabel": {
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors.",
          "$ref": "GoogleAppsDriveLabelsV2Label"
        },
        "responses": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse"
          },
          "type": "array"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
      "type": "object",
      "description": "Basic properties of the choice.",
      "properties": {
        "insertBeforeChoice": {
          "type": "string",
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display text to show in the UI identifying this field."
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2BadgeConfig"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DisableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2DisableLabelRequest",
      "type": "object",
      "description": "Request to deprecate a published label.",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "disabledPolicy": {
          "description": "Disabled policy to use.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "description": "Updates basic properties of a label.",
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest",
      "type": "object",
      "description": "Updates one or more label permissions.",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
        },
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the resources to update.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints": {
      "description": "UI display hints for rendering an option.",
      "properties": {
        "shownInApply": {
          "type": "boolean",
          "description": "This option should be shown in the apply menu when applying values to a Drive item."
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        },
        "badgePriority": {
          "type": "string",
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "format": "int64"
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This option should be hidden in the search menu when searching for Drive items."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the option should be shown in the UI as disabled."
        },
        "badgeColors": {
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2TextLimits": {
      "description": "Limits for text field type.",
      "properties": {
        "maxLength": {
          "description": "Maximum length allowed for a text field type.",
          "format": "int32",
          "type": "integer"
        },
        "minLength": {
          "type": "integer",
          "description": "Minimum length allowed for a text field type.",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2TextLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse",
      "type": "object",
      "description": "Response for updating one or more label permissions.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "Required. Permissions updated.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
      "type": "object",
      "description": "The capabilities related to this choice when editing the choice.",
      "properties": {
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this choice."
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this choice."
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2FieldDisplayHints",
      "type": "object",
      "description": "UI display hints for rendering a field.",
      "properties": {
        "hiddenInSearch": {
          "description": "This field should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "required": {
          "type": "boolean",
          "description": "Whether the field should be shown as required in the UI."
        },
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This field should be shown in the apply menu when applying values to a Drive item."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "description": "Response following update to label properties.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2EnableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2EnableLabelRequest",
      "type": "object",
      "description": "Request to enable a label.",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LockStatus": {
      "id": "GoogleAppsDriveLabelsV2LockStatus",
      "type": "object",
      "description": "Contains information about whether a label component should be considered locked.",
      "properties": {
        "locked": {
          "type": "boolean",
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2IntegerLimits": {
      "id": "GoogleAppsDriveLabelsV2IntegerLimits",
      "type": "object",
      "description": "Limits for integer field type.",
      "properties": {
        "maxValue": {
          "description": "Maximum value for an integer field type.",
          "format": "int64",
          "type": "string"
        },
        "minValue": {
          "type": "string",
          "description": "Minimum value for an integer field type.",
          "format": "int64"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldIntegerOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldIntegerOptions",
      "type": "object",
      "description": "Options for the Integer field type.",
      "properties": {
        "maxValue": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The maximum valid value for the integer field.",
          "format": "int64"
        },
        "minValue": {
          "type": "string",
          "description": "Output only. The minimum valid value for the integer field.",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2BadgeColors": {
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "properties": {
        "foregroundColor": {
          "readOnly": true,
          "description": "Output only. Badge foreground that pairs with the background.",
          "$ref": "GoogleTypeColor"
        },
        "soloColor": {
          "$ref": "GoogleTypeColor",
          "readOnly": true,
          "description": "Output only. Color that can be used for text without a background."
        },
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge background that pairs with the foreground.",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2BadgeColors",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldUserOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldUserOptions",
      "type": "object",
      "description": "Options for the user field type.",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "description": "Request to delete a choice.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field from which a choice will be deleted."
        },
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "type": "object",
      "description": "Request to create a selection choice.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be created."
        },
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "type": "object",
      "description": "Response following selection choice create.",
      "properties": {
        "fieldId": {
          "description": "The server-generated ID of the field.",
          "type": "string"
        },
        "id": {
          "description": "The server-generated ID of the created choice within the field.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice enable.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
      "type": "object",
      "description": "The capabilities related to this choice on applied metadata.",
      "properties": {
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can use this choice in search queries."
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2ListLimits": {
      "description": "Limits for list-variant of a field type.",
      "properties": {
        "maxEntries": {
          "description": "Maximum number of values allowed for the field type.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAppsDriveLabelsV2ListLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "description": "Request to disable a choice.",
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to disable."
        },
        "disabledPolicy": {
          "description": "Required. The disabled policy to update.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        },
        "fieldId": {
          "description": "Required. The selection field in which a choice will be disabled.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice delete.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2PublishLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2PublishLabelRequest",
      "type": "object",
      "description": "Request to publish a label.",
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldLimits": {
      "id": "GoogleAppsDriveLabelsV2FieldLimits",
      "type": "object",
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "properties": {
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2TextLimits"
        },
        "selectionLimits": {
          "description": "Selection field limits.",
          "$ref": "GoogleAppsDriveLabelsV2SelectionLimits"
        },
        "longTextLimits": {
          "description": "Long text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2LongTextLimits"
        },
        "integerLimits": {
          "description": "Integer field limits.",
          "$ref": "GoogleAppsDriveLabelsV2IntegerLimits"
        },
        "maxIdLength": {
          "type": "integer",
          "description": "Maximum length for the id.",
          "format": "int32"
        },
        "maxDisplayNameLength": {
          "description": "Limits for field title.",
          "format": "int32",
          "type": "integer"
        },
        "dateLimits": {
          "description": "Date field limits.",
          "$ref": "GoogleAppsDriveLabelsV2DateLimits"
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2UserLimits"
        },
        "maxDescriptionLength": {
          "type": "integer",
          "description": "Limits for field description, also called help text.",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest": {
      "id": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest",
      "type": "object",
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "properties": {
        "enabledAppSettings": {
          "description": "Required. The new `EnabledAppSettings` value for the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "view": {
          "type": "string",
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelAppliedCapabilities": {
      "description": "The capabilities a user has on this label's applied metadata.",
      "properties": {
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read applied metadata related to this label."
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        },
        "canRemove": {
          "type": "boolean",
          "description": "Whether the user can remove this label from items."
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice": {
      "description": "Selection field choice.",
      "properties": {
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "readOnly": true,
          "description": "Output only. Lifecycle of the choice."
        },
        "creator": {
          "description": "Output only. The user who created this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was updated last.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`."
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled."
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities"
        },
        "displayHints": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
          "description": "Output only. UI display hints for rendering a choice.",
          "readOnly": true
        },
        "publishTime": {
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updater": {
          "description": "Output only. The user who updated this choice last.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published."
        },
        "schemaCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities related to this option when editing the option.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities"
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "description": "Output only. The `LockStatus` of this choice.",
          "readOnly": true
        },
        "disableTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest": {
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent label resource name."
        },
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        }
      },
      "id": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLabelLocksResponse": {
      "id": "GoogleAppsDriveLabelsV2ListLabelLocksResponse",
      "type": "object",
      "description": "The response to a `ListLabelLocksRequest`.",
      "properties": {
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        },
        "labelLocks": {
          "type": "array",
          "description": "Label locks.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLock"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldDateOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldDateOptions",
      "type": "object",
      "description": "Options for the date field type.",
      "properties": {
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "dateFormatType": {
          "type": "string",
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ]
        },
        "dateFormat": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ICU date format."
        },
        "minValue": {
          "description": "Output only. Minimum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        }
      }
    }
  },
  "title": "Drive Labels API",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "id": "drivelabels:v2",
  "kind": "discovery#restDescription",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "version_module": true,
  "rootUrl": "https://drivelabels.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "users": {
      "methods": {
        "getCapabilities": {
          "flatPath": "v2/users/{usersId}/capabilities",
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^users/[^/]+/capabilities$",
              "required": true,
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "location": "path",
              "type": "string"
            },
            "customer": {
              "location": "query",
              "type": "string",
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer."
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2UserCapabilities"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "id": "drivelabels.users.getCapabilities",
          "description": "Gets the user capabilities."
        }
      }
    },
    "limits": {
      "methods": {
        "getLabel": {
          "parameters": {
            "name": {
              "description": "Required. Label revision resource name must be: \"limits/label\".",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLimits"
          },
          "parameterOrder": [],
          "path": "v2/limits/label",
          "flatPath": "v2/limits/label",
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "id": "drivelabels.limits.getLabel",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ]
        }
      }
    },
    "labels": {
      "methods": {
        "updateLabelCopyMode": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest"
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The resource name of the label to update.",
              "pattern": "^labels/[^/]+$",
              "required": true
            }
          },
          "path": "v2/{+name}:updateLabelCopyMode",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/labels/{labelsId}:updateLabelCopyMode",
          "description": "Updates a label's `CopyMode`. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately.",
          "id": "drivelabels.labels.updateLabelCopyMode",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ]
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "required": true,
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "location": "path",
              "type": "string"
            },
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query",
              "type": "string"
            },
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access.",
              "location": "query",
              "type": "boolean"
            },
            "view": {
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "location": "query",
              "type": "string",
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ]
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "flatPath": "v2/labels/{labelsId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}",
[...]
