{
  "servicePath": "",
  "kind": "discovery#restDescription",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "canonicalName": "Drive Activity",
  "basePath": "",
  "discoveryVersion": "v1",
  "name": "driveactivity",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version_module": true,
  "baseUrl": "https://driveactivity.googleapis.com/",
  "id": "driveactivity:v2",
  "protocol": "rest",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "description": "Query past activity in Google Drive.",
          "id": "driveactivity.activity.query",
          "path": "v2/activity:query",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "parameterOrder": [],
          "flatPath": "v2/activity:query",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "QueryDriveActivityRequest"
          }
        }
      }
    }
  },
  "revision": "20260407",
  "version": "v2",
  "description": "Provides a historical view of activity in Google Drive.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Drive Activity API",
  "schemas": {
    "Delete": {
      "id": "Delete",
      "description": "An object was deleted.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of delete action taken.",
          "type": "string",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ]
        }
      }
    },
    "Selection": {
      "id": "Selection",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        },
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        }
      }
    },
    "Rename": {
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      },
      "description": "An object was renamed.",
      "type": "object",
      "id": "Rename"
    },
    "NoConsolidation": {
      "properties": {},
      "description": "A strategy that does no consolidation of individual activities.",
      "type": "object",
      "id": "NoConsolidation"
    },
    "DriveActivity": {
      "properties": {
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "type": "array",
          "items": {
            "$ref": "Actor"
          }
        },
        "targets": {
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "actions": {
          "description": "Details on all actions in this activity.",
          "type": "array",
          "items": {
            "$ref": "Action"
          }
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "DriveActivity",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "type": "object"
    },
    "Action": {
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "description": "The action occurred at this specific time.",
          "type": "string"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        }
      },
      "id": "Action",
      "description": "Information about the action.",
      "type": "object"
    },
    "SelectionList": {
      "properties": {
        "values": {
          "description": "Selection values.",
          "type": "array",
          "items": {
            "$ref": "Selection"
          }
        }
      },
      "description": "Wrapper for SelectionList Field value.",
      "type": "object",
      "id": "SelectionList"
    },
    "FieldValue": {
      "description": "Contains a value of a Field.",
      "type": "object",
      "id": "FieldValue",
      "properties": {
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        },
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        }
      }
    },
    "ApplicationReference": {
      "id": "ApplicationReference",
      "description": "Activity in applications other than Drive.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "description": "The reference type corresponding to this event.",
          "type": "string"
        }
      }
    },
    "Group": {
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "description": "Information about a group.",
      "type": "object",
      "id": "Group"
    },
    "Owner": {
      "description": "Information about the owner of a Drive item.",
      "type": "object",
      "id": "Owner",
      "properties": {
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDriveReference"
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Wrapper for Date Field value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Date value.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Suggestion": {
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "description": "The sub-type of this event.",
          "type": "string"
        }
      },
      "id": "Suggestion",
      "description": "A suggestion.",
      "type": "object"
    },
    "SystemEvent": {
      "description": "Event triggered by system operations instead of end users.",
      "type": "object",
      "id": "SystemEvent",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "description": "The type of the system event that may triggered activity.",
          "type": "string"
        }
      }
    },
    "Actor": {
      "description": "The actor of a Drive activity.",
      "type": "object",
      "id": "Actor",
      "properties": {
        "user": {
          "description": "An end user.",
          "$ref": "User"
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        }
      }
    },
    "Assignment": {
      "description": "A comment with an assignment.",
      "type": "object",
      "id": "Assignment",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ]
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      }
    },
    "TeamDriveReference": {
      "id": "TeamDriveReference",
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "type": "object",
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        }
      },
      "deprecated": true
    },
    "File": {
      "id": "File",
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "type": "object",
      "properties": {},
      "deprecated": true
    },
    "KnownUser": {
      "id": "KnownUser",
      "description": "A known user.",
      "type": "object",
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      }
    },
    "RestrictionChange": {
      "properties": {
        "feature": {
          "description": "The feature which had a change in restriction policy.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ]
        },
        "newRestriction": {
          "description": "The restriction in place after the change.",
          "type": "string",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ]
        }
      },
      "id": "RestrictionChange",
      "description": "Information about restriction policy changes to a feature.",
      "type": "object"
    },
    "Administrator": {
      "id": "Administrator",
      "description": "Empty message representing an administrator.",
      "type": "object",
      "properties": {}
    },
    "Post": {
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ]
        }
      },
      "id": "Post",
      "description": "A regular posted comment.",
      "type": "object"
    },
    "Target": {
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "teamDrive": {
          "deprecated": true,
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        }
      },
      "id": "Target",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "type": "object"
    },
    "SettingsChange": {
      "properties": {
        "restrictionChanges": {
          "description": "The set of changes made to restrictions.",
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          }
        }
      },
      "description": "Information about settings changes.",
      "type": "object",
      "id": "SettingsChange"
    },
    "TeamDrive": {
      "properties": {
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        }
      },
      "description": "This item is deprecated; please see `Drive` instead.",
      "type": "object",
      "id": "TeamDrive",
      "deprecated": true
    },
    "Text": {
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "id": "Text",
      "description": "Wrapper for Text Field value.",
      "type": "object"
    },
    "ConsolidationStrategy": {
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "type": "object",
      "id": "ConsolidationStrategy",
      "properties": {
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        },
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        }
      }
    },
    "Integer": {
      "properties": {
        "value": {
          "format": "int64",
          "description": "Integer value.",
          "type": "string"
        }
      },
      "description": "Wrapper for Integer Field value.",
      "type": "object",
      "id": "Integer"
    },
    "AnonymousUser": {
      "properties": {},
      "id": "AnonymousUser",
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "type": "object"
    },
    "DataLeakPreventionChange": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "description": "The type of Data Leak Prevention (DLP) change.",
          "type": "string"
        }
      },
      "description": "A change in the object's data leak prevention status.",
      "type": "object",
      "id": "DataLeakPreventionChange"
    },
    "DriveReference": {
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "description": "A lightweight reference to a shared drive.",
      "type": "object",
      "id": "DriveReference"
    },
    "SingleUser": {
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "description": "Wrapper for User Field value.",
      "type": "object",
      "id": "SingleUser"
    },
    "Move": {
      "description": "An object was moved.",
      "type": "object",
      "id": "Move",
      "properties": {
        "addedParents": {
          "description": "The added parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        },
        "removedParents": {
          "description": "The removed parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        }
      }
    },
    "Restore": {
      "properties": {
        "type": {
          "description": "The type of restore action taken.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ]
        }
      },
      "description": "A deleted object was restored.",
      "type": "object",
      "id": "Restore"
    },
    "Permission": {
      "properties": {
        "role": {
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "type": "string"
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "user": {
          "description": "The user to whom this permission applies.",
          "$ref": "User"
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        }
      },
      "id": "Permission",
      "description": "The permission setting of an object.",
      "type": "object"
    },
    "UnknownUser": {
      "description": "A user about whom nothing is currently known.",
      "type": "object",
      "id": "UnknownUser",
      "properties": {}
    },
    "TimeRange": {
      "properties": {
        "startTime": {
          "description": "The start of the time range.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The end of the time range.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Information about time ranges.",
      "type": "object",
      "id": "TimeRange"
    },
    "New": {
      "properties": {},
      "id": "New",
      "description": "An object was created from scratch.",
      "type": "object"
    },
    "FieldValueChange": {
      "properties": {
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        }
      },
      "description": "Change to a Field value.",
      "type": "object",
      "id": "FieldValueChange"
    },
    "FileComment": {
      "description": "A comment on a file.",
      "type": "object",
      "id": "FileComment",
      "properties": {
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        }
      }
    },
    "Legacy": {
      "properties": {},
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "type": "object",
      "id": "Legacy"
    },
    "AppliedLabelChangeDetail": {
      "properties": {
        "fieldChanges": {
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "type": "array",
          "items": {
            "$ref": "FieldValueChange"
          }
        },
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "types": {
          "description": "The types of changes made to the Label on the Target.",
          "type": "array",
          "items": {
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "type": "string"
          }
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        }
      },
      "description": "A change made to a Label on the Target.",
      "type": "object",
      "id": "AppliedLabelChangeDetail"
    },
    "DeletedUser": {
      "description": "A user whose account has since been deleted.",
      "type": "object",
      "id": "DeletedUser",
      "properties": {}
    },
    "Copy": {
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "description": "An object was created by copying an existing object.",
      "type": "object",
      "id": "Copy"
    },
    "Comment": {
      "description": "A change about comments on an object.",
      "type": "object",
      "id": "Comment",
      "properties": {
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        }
      }
    },
    "QueryDriveActivityResponse": {
      "properties": {
        "activities": {
          "description": "List of activity requested.",
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "QueryDriveActivityResponse",
      "description": "Response message for querying Drive activity.",
      "type": "object"
    },
    "Impersonation": {
      "id": "Impersonation",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "type": "object",
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      }
    },
    "Upload": {
      "description": "An object was uploaded into Drive.",
      "type": "object",
      "id": "Upload",
      "properties": {}
    },
    "TargetReference": {
      "properties": {
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "teamDrive": {
          "deprecated": true,
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead."
        }
      },
      "id": "TargetReference",
      "description": "A lightweight reference to the target of activity.",
      "type": "object"
    },
    "DriveItemReference": {
      "id": "DriveItemReference",
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "file": {
          "deprecated": true,
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "folder": {
          "deprecated": true,
          "$ref": "Folder",
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        }
      }
    },
    "Folder": {
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "type": "object",
      "id": "Folder",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "type": "string"
        }
      }
    },
    "DriveItem": {
      "id": "DriveItem",
      "description": "A Drive item, such as a file or folder.",
      "type": "object",
      "properties": {
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        },
        "file": {
          "$ref": "File",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "folder": {
          "$ref": "Folder",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        }
      }
    },
    "AppliedLabelChange": {
      "properties": {
        "changes": {
          "description": "Changes that were made to the Label on the Target.",
          "type": "array",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          }
        }
      },
      "description": "Label changes that were made on the Target.",
      "type": "object",
      "id": "AppliedLabelChange"
    },
    "Create": {
      "properties": {
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        },
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        }
      },
      "description": "An object was created.",
      "type": "object",
      "id": "Create"
    },
    "Edit": {
      "id": "Edit",
      "description": "An empty message indicating an object was edited.",
      "type": "object",
      "properties": {}
    },
    "User": {
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        }
      },
      "description": "Information about an end user.",
      "type": "object",
      "id": "User"
    },
    "UserList": {
      "description": "Wrapper for UserList Field value.",
      "type": "object",
      "id": "UserList",
      "properties": {
        "values": {
          "description": "User values.",
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          }
        }
      }
    },
    "QueryDriveActivityRequest": {
      "properties": {
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "type": "integer"
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        }
      },
      "id": "QueryDriveActivityRequest",
      "description": "The request message for querying Drive activity.",
      "type": "object"
    },
    "DriveFolder": {
      "id": "DriveFolder",
      "description": "A Drive item which is a folder.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of Drive folder.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ]
        }
      }
    },
    "PermissionChange": {
      "properties": {
        "addedPermissions": {
          "description": "The set of permissions added by this change.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "removedPermissions": {
          "description": "The set of permissions removed by this change.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "description": "A change of the permission setting on an item.",
      "type": "object",
      "id": "PermissionChange"
    },
    "ActionDetail": {
      "properties": {
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        }
      },
      "id": "ActionDetail",
      "description": "Data describing the type and additional information of an action.",
      "type": "object"
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "type": "object",
      "id": "DriveFile",
      "properties": {}
    },
    "TextList": {
      "properties": {
        "values": {
          "description": "Text values.",
          "type": "array",
          "items": {
            "$ref": "Text"
          }
        }
      },
      "description": "Wrapper for Text List Field value.",
      "type": "object",
      "id": "TextList"
    },
    "Anyone": {
      "description": "Represents any user (including a logged out user).",
      "type": "object",
      "id": "Anyone",
      "properties": {}
    },
    "Drive": {
      "properties": {
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "description": "Information about a shared drive.",
      "type": "object",
      "id": "Drive"
    },
    "Domain": {
      "id": "Domain",
      "description": "Information about a domain.",
      "type": "object",
      "properties": {
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        },
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        }
      }
    }
  }
}