{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        }
      }
    }
  },
  "id": "driveactivity:v2",
  "version": "v2",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "path": "v2/activity:query",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "id": "driveactivity.activity.query",
          "flatPath": "v2/activity:query",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Query past activity in Google Drive."
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "canonicalName": "Drive Activity",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260414",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "name": "driveactivity",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "description": "Provides a historical view of activity in Google Drive.",
  "basePath": "",
  "version_module": true,
  "ownerDomain": "google.com",
  "schemas": {
    "KnownUser": {
      "id": "KnownUser",
      "type": "object",
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      },
      "description": "A known user."
    },
    "Delete": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of delete action taken.",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "type": "string"
        }
      },
      "id": "Delete",
      "description": "An object was deleted."
    },
    "Upload": {
      "id": "Upload",
      "type": "object",
      "properties": {},
      "description": "An object was uploaded into Drive."
    },
    "NoConsolidation": {
      "type": "object",
      "properties": {},
      "id": "NoConsolidation",
      "description": "A strategy that does no consolidation of individual activities."
    },
    "DataLeakPreventionChange": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ]
        }
      },
      "id": "DataLeakPreventionChange",
      "description": "A change in the object's data leak prevention status."
    },
    "TextList": {
      "id": "TextList",
      "type": "object",
      "properties": {
        "values": {
          "description": "Text values.",
          "type": "array",
          "items": {
            "$ref": "Text"
          }
        }
      },
      "description": "Wrapper for Text List Field value."
    },
    "DriveItemReference": {
      "type": "object",
      "properties": {
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "file": {
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        }
      },
      "id": "DriveItemReference",
      "description": "A lightweight reference to a Drive item, such as a file or folder."
    },
    "TimeRange": {
      "description": "Information about time ranges.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The start of the time range.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end of the time range."
        }
      },
      "id": "TimeRange"
    },
    "Anyone": {
      "description": "Represents any user (including a logged out user).",
      "type": "object",
      "properties": {},
      "id": "Anyone"
    },
    "SelectionList": {
      "description": "Wrapper for SelectionList Field value.",
      "id": "SelectionList",
      "type": "object",
      "properties": {
        "values": {
          "description": "Selection values.",
          "type": "array",
          "items": {
            "$ref": "Selection"
          }
        }
      }
    },
    "RestrictionChange": {
      "description": "Information about restriction policy changes to a feature.",
      "type": "object",
      "properties": {
        "feature": {
          "type": "string",
          "description": "The feature which had a change in restriction policy.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ]
        },
        "newRestriction": {
          "type": "string",
          "description": "The restriction in place after the change.",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ]
        }
      },
      "id": "RestrictionChange"
    },
    "DriveFolder": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of Drive folder.",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "id": "DriveFolder",
      "description": "A Drive item which is a folder."
    },
    "Selection": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        },
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        }
      },
      "id": "Selection",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice."
    },
    "Folder": {
      "deprecated": true,
      "id": "Folder",
      "properties": {
        "type": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "type": "object"
    },
    "ActionDetail": {
      "description": "Data describing the type and additional information of an action.",
      "id": "ActionDetail",
      "type": "object",
      "properties": {
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        }
      }
    },
    "Legacy": {
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "id": "Legacy",
      "type": "object",
      "properties": {}
    },
    "Text": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "id": "Text",
      "description": "Wrapper for Text Field value."
    },
    "FieldValueChange": {
      "id": "FieldValueChange",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        }
      },
      "description": "Change to a Field value."
    },
    "FieldValue": {
      "description": "Contains a value of a Field.",
      "type": "object",
      "properties": {
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        },
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        }
      },
      "id": "FieldValue"
    },
    "TargetReference": {
      "description": "A lightweight reference to the target of activity.",
      "type": "object",
      "properties": {
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        }
      },
      "id": "TargetReference"
    },
    "Post": {
      "type": "object",
      "properties": {
        "subtype": {
          "type": "string",
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ]
        }
      },
      "id": "Post",
      "description": "A regular posted comment."
    },
    "AnonymousUser": {
      "type": "object",
      "properties": {},
      "id": "AnonymousUser",
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized."
    },
    "FileComment": {
      "type": "object",
      "properties": {
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        }
      },
      "id": "FileComment",
      "description": "A comment on a file."
    },
    "Group": {
      "description": "Information about a group.",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the group.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        }
      },
      "id": "Group"
    },
    "New": {
      "type": "object",
      "properties": {},
      "id": "New",
      "description": "An object was created from scratch."
    },
    "Drive": {
      "type": "object",
      "properties": {
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "id": "Drive",
      "description": "Information about a shared drive."
    },
    "TeamDriveReference": {
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "type": "object",
      "deprecated": true,
      "id": "TeamDriveReference",
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        }
      }
    },
    "Edit": {
      "description": "An empty message indicating an object was edited.",
      "id": "Edit",
      "type": "object",
      "properties": {}
    },
    "AppliedLabelChange": {
      "type": "object",
      "properties": {
        "changes": {
          "description": "Changes that were made to the Label on the Target.",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "type": "array"
        }
      },
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target."
    },
    "DriveReference": {
      "description": "A lightweight reference to a shared drive.",
      "id": "DriveReference",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        }
      }
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "value": {
          "description": "Date value.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Wrapper for Date Field value."
    },
    "Action": {
      "id": "Action",
      "type": "object",
      "properties": {
        "timestamp": {
          "description": "The action occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        }
      },
      "description": "Information about the action."
    },
    "UnknownUser": {
      "type": "object",
      "properties": {},
      "id": "UnknownUser",
      "description": "A user about whom nothing is currently known."
    },
    "File": {
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "type": "object",
      "deprecated": true,
      "properties": {},
      "id": "File"
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "type": "object",
      "properties": {},
      "id": "DriveFile"
    },
    "UserList": {
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "SingleUser"
          },
          "type": "array",
          "description": "User values."
        }
      },
      "id": "UserList",
      "description": "Wrapper for UserList Field value."
    },
    "SettingsChange": {
      "id": "SettingsChange",
      "type": "object",
      "properties": {
        "restrictionChanges": {
          "description": "The set of changes made to restrictions.",
          "items": {
            "$ref": "RestrictionChange"
          },
          "type": "array"
        }
      },
      "description": "Information about settings changes."
    },
    "DriveActivity": {
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "type": "object",
      "properties": {
        "actions": {
          "items": {
            "$ref": "Action"
          },
          "type": "array",
          "description": "Details on all actions in this activity."
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "targets": {
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The activity occurred at this specific time."
        },
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "type": "array",
          "items": {
            "$ref": "Actor"
          }
        }
      },
      "id": "DriveActivity"
    },
    "DriveItem": {
      "description": "A Drive item, such as a file or folder.",
      "id": "DriveItem",
      "type": "object",
      "properties": {
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "file": {
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true
        },
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        }
      }
    },
    "TeamDrive": {
      "deprecated": true,
      "id": "TeamDrive",
      "properties": {
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        }
      },
      "description": "This item is deprecated; please see `Drive` instead.",
      "type": "object"
    },
    "SingleUser": {
      "description": "Wrapper for User Field value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "id": "SingleUser"
    },
    "Assignment": {
      "description": "A comment with an assignment.",
      "type": "object",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "type": "string"
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      },
      "id": "Assignment"
    },
    "Move": {
      "id": "Move",
      "type": "object",
      "properties": {
        "removedParents": {
          "description": "The removed parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        },
        "addedParents": {
          "description": "The added parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        }
      },
      "description": "An object was moved."
    },
    "DeletedUser": {
      "description": "A user whose account has since been deleted.",
      "id": "DeletedUser",
      "type": "object",
      "properties": {}
    },
    "Rename": {
      "description": "An object was renamed.",
      "id": "Rename",
      "type": "object",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      }
    },
    "Domain": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      },
      "id": "Domain",
      "description": "Information about a domain."
    },
    "SystemEvent": {
      "id": "SystemEvent",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "type": "string"
        }
      },
      "description": "Event triggered by system operations instead of end users."
    },
    "Suggestion": {
      "description": "A suggestion.",
      "type": "object",
      "properties": {
        "subtype": {
          "type": "string",
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ]
        }
      },
      "id": "Suggestion"
    },
    "Comment": {
      "description": "A change about comments on an object.",
      "type": "object",
      "properties": {
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        },
        "mentionedUsers": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "Users who are mentioned in this comment."
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        }
      },
      "id": "Comment"
    },
    "Create": {
      "id": "Create",
      "type": "object",
      "properties": {
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        },
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        }
      },
      "description": "An object was created."
    },
    "Target": {
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "id": "Target",
      "type": "object",
      "properties": {
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDrive"
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        }
      }
    },
    "Actor": {
      "id": "Actor",
      "type": "object",
      "properties": {
        "user": {
          "description": "An end user.",
          "$ref": "User"
        },
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        }
      },
      "description": "The actor of a Drive activity."
    },
    "ConsolidationStrategy": {
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "id": "ConsolidationStrategy",
      "type": "object",
      "properties": {
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        },
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        }
      }
    },
    "Administrator": {
      "description": "Empty message representing an administrator.",
      "type": "object",
      "properties": {},
      "id": "Administrator"
    },
    "ApplicationReference": {
      "description": "Activity in applications other than Drive.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The reference type corresponding to this event.",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ]
        }
      },
      "id": "ApplicationReference"
    },
    "QueryDriveActivityRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "pageSize": {
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "type": "integer",
          "format": "int32"
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        }
      },
      "id": "QueryDriveActivityRequest",
      "description": "The request message for querying Drive activity."
    },
    "QueryDriveActivityResponse": {
      "id": "QueryDriveActivityResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "activities": {
          "description": "List of activity requested.",
          "items": {
            "$ref": "DriveActivity"
          },
          "type": "array"
        }
      },
      "description": "Response message for querying Drive activity."
    },
    "PermissionChange": {
      "description": "A change of the permission setting on an item.",
      "id": "PermissionChange",
      "type": "object",
      "properties": {
        "addedPermissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change."
        },
        "removedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The set of permissions removed by this change."
        }
      }
    },
    "Integer": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value."
        }
      },
      "id": "Integer",
      "description": "Wrapper for Integer Field value."
    },
    "Impersonation": {
      "id": "Impersonation",
      "type": "object",
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      },
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available."
    },
    "Owner": {
      "type": "object",
      "properties": {
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDriveReference"
        }
      },
      "id": "Owner",
      "description": "Information about the owner of a Drive item."
    },
    "Copy": {
      "id": "Copy",
      "type": "object",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "description": "An object was created by copying an existing object."
    },
    "User": {
      "id": "User",
      "type": "object",
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        }
      },
      "description": "Information about an end user."
    },
    "AppliedLabelChangeDetail": {
      "description": "A change made to a Label on the Target.",
      "type": "object",
      "properties": {
        "types": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          },
          "description": "The types of changes made to the Label on the Target."
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        },
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "fieldChanges": {
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "type": "array",
          "items": {
            "$ref": "FieldValueChange"
          }
        }
      },
      "id": "AppliedLabelChangeDetail"
    },
    "Restore": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of restore action taken.",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "type": "string"
        }
      },
      "id": "Restore",
      "description": "A deleted object was restored."
    },
    "Permission": {
      "description": "The permission setting of an object.",
      "type": "object",
      "properties": {
        "user": {
          "description": "The user to whom this permission applies.",
          "$ref": "User"
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        },
        "role": {
          "type": "string",
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ]
        }
      },
      "id": "Permission"
    }
  },
  "servicePath": "",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "title": "Drive Activity API",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "ownerName": "Google"
}