{
  "rootUrl": "https://drivelabels.googleapis.com/",
  "title": "Drive Labels API",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.admin.labels": {
          "description": "See, edit, create, and delete all Google Drive labels in your organization, and see your organization's label-related admin policies"
        },
        "https://www.googleapis.com/auth/drive.labels": {
          "description": "See, edit, create, and delete your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.labels.readonly": {
          "description": "See your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.admin.labels.readonly": {
          "description": "See all Google Drive labels and label-related admin policies in your organization"
        }
      }
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "version": "v2beta",
  "id": "drivelabels:v2beta",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "basePath": "",
  "revision": "20260504",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "canonicalName": "Drive Labels",
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "fullyEncodeReservedExpansion": true,
  "name": "drivelabels",
  "schemas": {
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice",
      "type": "object",
      "properties": {
        "disabler": {
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "creator": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who created this choice."
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published."
        },
        "id": {
          "type": "string",
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`."
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities related to this option when editing the option.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
          "readOnly": true
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints"
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities related to this choice on applied metadata."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this choice was updated last.",
          "format": "google-datetime",
          "readOnly": true
        },
        "lifecycle": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "description": "Output only. Lifecycle of the choice."
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "updater": {
          "description": "Output only. The user who updated this choice last.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "publishTime": {
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "disableTime": {
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this choice was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Selection field choice."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field to update."
        },
        "id": {
          "description": "Required. The choice to update.",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
          "description": "Required. The choice properties to update."
        }
      },
      "description": "Request to update a choice property."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "description": "Request to delete a choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "type": "object",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field from which a choice will be deleted."
        },
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "description": "Response following choice enable.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
      "type": "object",
      "properties": {},
      "description": "Response following field disable."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "description": "Request to enable a choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to enable."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaListLimits": {
      "id": "GoogleAppsDriveLabelsV2betaListLimits",
      "type": "object",
      "properties": {
        "maxEntries": {
          "format": "int32",
          "description": "Maximum number of values allowed for the field type.",
          "type": "integer"
        }
      },
      "description": "Limits for list-variant of a field type."
    },
    "GoogleAppsDriveLabelsV2betaUserInfo": {
      "id": "GoogleAppsDriveLabelsV2betaUserInfo",
      "type": "object",
      "properties": {
        "person": {
          "type": "string",
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`."
        }
      },
      "description": "Information about a user."
    },
    "GoogleAppsDriveLabelsV2betaFieldLimits": {
      "id": "GoogleAppsDriveLabelsV2betaFieldLimits",
      "type": "object",
      "properties": {
        "maxIdLength": {
          "type": "integer",
          "description": "Maximum length for the id.",
          "format": "int32"
        },
        "maxDescriptionLength": {
          "format": "int32",
          "description": "Limits for field description, also called help text.",
          "type": "integer"
        },
        "selectionLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaSelectionLimits",
          "description": "Selection field limits."
        },
        "integerLimits": {
          "description": "Integer field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaIntegerLimits"
        },
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaTextLimits"
        },
        "longTextLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaLongTextLimits",
          "description": "Long text field limits."
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserLimits"
        },
        "maxDisplayNameLength": {
          "format": "int32",
          "type": "integer",
          "description": "Limits for field title."
        },
        "dateLimits": {
          "description": "Date field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaDateLimits"
        }
      },
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc."
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest": {
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest",
      "type": "object",
      "properties": {
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ]
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "copyMode": {
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        }
      },
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\"
    },
    "GoogleAppsDriveLabelsV2betaDateLimits": {
      "description": "Limits for date field type.",
      "id": "GoogleAppsDriveLabelsV2betaDateLimits",
      "type": "object",
      "properties": {
        "minValue": {
          "$ref": "GoogleTypeDate",
          "description": "Minimum value for the date field type."
        },
        "maxValue": {
          "$ref": "GoogleTypeDate",
          "description": "Maximum value for the date field type."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptions": {
      "description": "Options for the selection field type.",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
      "type": "object",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        },
        "choices": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
          },
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "type": "array"
        }
      }
    },
    "GoogleTypeColor": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "id": "GoogleTypeColor",
      "type": "object",
      "properties": {
        "red": {
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "green": {
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "alpha": {
          "format": "float",
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse",
      "type": "object",
      "properties": {
        "updatedLabel": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabel",
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors."
        },
        "responses": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse"
          }
        }
      },
      "description": "Response for label update."
    },
    "GoogleAppsDriveLabelsV2betaLabelPermission": {
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "id": "GoogleAppsDriveLabelsV2betaLabelPermission",
      "type": "object",
      "properties": {
        "person": {
          "type": "string",
          "description": "Person resource name."
        },
        "group": {
          "description": "Group resource name.",
          "type": "string"
        },
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        },
        "audience": {
          "type": "string",
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label."
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "description": "The role the principal should have.",
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLongTextLimits": {
      "id": "GoogleAppsDriveLabelsV2betaLongTextLimits",
      "type": "object",
      "properties": {
        "minLength": {
          "type": "integer",
          "description": "Minimum length allowed for a long text field type.",
          "format": "int32"
        },
        "maxLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum length allowed for a long text field type."
        }
      },
      "description": "Limits for long text field type."
    },
    "GoogleAppsDriveLabelsV2betaFieldDisplayHints": {
      "description": "UI display hints for rendering a field.",
      "id": "GoogleAppsDriveLabelsV2betaFieldDisplayHints",
      "type": "object",
      "properties": {
        "required": {
          "description": "Whether the field should be shown as required in the UI.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This field should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This field should be shown in the apply menu when applying values to a Drive item."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Label permission resource name.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      },
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings": {
      "description": "Describes the Google Workspace apps in which the label can be used.",
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings",
      "type": "object",
      "properties": {
        "enabledApps": {
          "type": "array",
          "description": "Optional. The list of apps where the label can be used.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUserLimits": {
      "description": "Limits for Field.Type.USER.",
      "id": "GoogleAppsDriveLabelsV2betaUserLimits",
      "type": "object",
      "properties": {
        "listLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits",
          "description": "Limits for list-variant of a field type."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldUserOptions": {
      "description": "Options for the user field type.",
      "id": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
      "type": "object",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
      "type": "object",
      "properties": {
        "badgeConfig": {
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeConfig",
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\"."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display text to show in the UI identifying this field."
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "insertBeforeChoice": {
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list.",
          "type": "string"
        }
      },
      "description": "Basic properties of the choice."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
      "type": "object",
      "properties": {},
      "description": "Response following field delete."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be disabled."
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to disable."
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "description": "Required. The disabled policy to update."
        }
      },
      "description": "Request to disable a choice."
    },
    "GoogleAppsDriveLabelsV2betaListLabelLocksResponse": {
      "description": "The response to a `ListLabelLocksRequest`.",
      "id": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        },
        "labelLocks": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLock"
          },
          "description": "Label locks.",
          "type": "array"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLifecycle": {
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "id": "GoogleAppsDriveLabelsV2betaLifecycle",
      "type": "object",
      "properties": {
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "description": "The policy that governs how to show a disabled label, field, or selection choice."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "type": "string",
          "description": "Output only. The state of the object associated with this lifecycle.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ]
        },
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy": {
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "id": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
      "type": "object",
      "properties": {
        "hideInSearch": {
          "type": "boolean",
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items."
        },
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "description": "Request to change the type of a field.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "integerOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
          "description": "Update field to Integer."
        },
        "textOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
          "description": "Update field to Text."
        },
        "selectionOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
          "description": "Update field to Selection."
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "dateOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
          "description": "Update field to Date."
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
          "description": "Update field to User."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "description": "Request to update field properties.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The field to update."
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties",
          "description": "Required. Basic field properties."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
      "type": "object",
      "properties": {
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled."
        },
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled."
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this field."
        }
      },
      "description": "The capabilities related to this field when editing the field."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "description": "Response following update to field type.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaLabelDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "priority": {
          "type": "string",
          "description": "The order to display labels in a list.",
          "format": "int64"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This label should be shown in the apply menu when applying values to a Drive item."
        }
      },
      "description": "The UI display hints for rendering the label."
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
      "type": "object",
      "properties": {
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can use this choice in search queries."
        },
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this choice on applied metadata."
    },
    "GoogleAppsDriveLabelsV2betaIntegerLimits": {
      "description": "Limits for integer field type.",
      "id": "GoogleAppsDriveLabelsV2betaIntegerLimits",
      "type": "object",
      "properties": {
        "maxValue": {
          "format": "int64",
          "type": "string",
          "description": "Maximum value for an integer field type."
        },
        "minValue": {
          "type": "string",
          "description": "Minimum value for an integer field type.",
          "format": "int64"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelProperties": {
      "description": "Basic properties of the label.",
      "id": "GoogleAppsDriveLabelsV2betaLabelProperties",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. Title of the label."
        },
        "description": {
          "type": "string",
          "description": "The description of the label."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest": {
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest"
          }
        },
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDisableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDisableLabelRequest",
      "type": "object",
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "disabledPolicy": {
          "description": "Disabled policy to use.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "description": "Request to deprecate a published label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      },
      "description": "Request to enable the field."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "description": "Response following update to selection choice properties.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabel": {
      "id": "GoogleAppsDriveLabelsV2betaLabel",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`.",
          "type": "string"
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities the user has on this label."
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true
        },
        "learnMoreUri": {
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used.",
          "type": "string"
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>"
        },
        "revisionCreator": {
          "description": "Output only. The user who created this label revision.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled."
        },
        "creator": {
          "description": "Output only. The user who created this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "publishTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "type": "string"
        },
        "disableTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "type": "string"
        },
        "fields": {
          "type": "array",
          "description": "List of fields in descending priority order.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaField"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this label was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
          "readOnly": true
        },
        "labelType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ],
          "description": "Required. The type of label.",
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ]
        },
        "enabledAppSettings": {
          "description": "Optional. The `EnabledAppSettings` for this Label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        },
        "lifecycle": {
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "type": "string",
          "readOnly": true
        },
        "revisionCreateTime": {
          "type": "string",
          "description": "Output only. The time this label revision was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "readOnly": true
        },
        "displayHints": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
          "description": "Output only. UI display hints for rendering the label."
        },
        "customer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`."
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
          "readOnly": true
        }
      },
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items."
    },
    "GoogleAppsDriveLabelsV2betaBadgeColors": {
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "id": "GoogleAppsDriveLabelsV2betaBadgeColors",
      "type": "object",
      "properties": {
        "foregroundColor": {
          "readOnly": true,
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge foreground that pairs with the background."
        },
        "backgroundColor": {
          "readOnly": true,
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge background that pairs with the foreground."
        },
        "soloColor": {
          "description": "Output only. Color that can be used for text without a background.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUserCapabilities": {
      "description": "The capabilities of a user.",
      "id": "GoogleAppsDriveLabelsV2betaUserCapabilities",
      "type": "object",
      "properties": {
        "canAccessLabelManager": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the user is allowed access to the label manager."
        },
        "canCreateSharedLabels": {
          "readOnly": true,
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "type": "boolean"
        },
        "canAdministrateLabels": {
          "readOnly": true,
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for the user capabilities.",
          "type": "string"
        },
        "canCreateAdminLabels": {
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "description": "Options for the Integer field type.",
      "id": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
      "type": "object",
      "properties": {
        "maxValue": {
          "type": "string",
          "description": "Output only. The maximum valid value for the integer field.",
          "format": "int64",
          "readOnly": true
        },
        "minValue": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The minimum valid value for the integer field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
      "type": "object",
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaField"
        }
      },
      "description": "Request to create a field within a label."
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest": {
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest",
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "view": {
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ]
        },
        "enabledAppSettings": {
          "description": "Required. The new `EnabledAppSettings` value for the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest": {
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        },
        "labelPermission": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission",
          "description": "Required. The permission to create or update on the label."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        }
      },
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
    },
    "GoogleAppsDriveLabelsV2betaSelectionLimits": {
      "description": "Limits for selection field type.",
      "id": "GoogleAppsDriveLabelsV2betaSelectionLimits",
      "type": "object",
      "properties": {
        "maxDisplayNameLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum length for display name."
        },
        "listLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits",
          "description": "Limits for list-variant of a field type."
        },
        "maxIdLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum ID length for a selection option."
        },
        "maxChoices": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of choices."
        },
        "maxDeletedChoices": {
          "type": "integer",
          "description": "Maximum number of deleted choices.",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "type": "object",
      "properties": {},
      "description": "Response following choice disable."
    },
    "GoogleAppsDriveLabelsV2betaBadgeConfig": {
      "id": "GoogleAppsDriveLabelsV2betaBadgeConfig",
      "type": "object",
      "properties": {
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        },
        "priorityOverride": {
          "type": "string",
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "format": "int64"
        }
      },
      "description": "Badge status of the label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
      "type": "object",
      "properties": {},
      "description": "Response following field enable."
    },
    "GoogleAppsDriveLabelsV2betaLabelLimits": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLimits",
      "type": "object",
      "properties": {
        "maxDescriptionLength": {
          "description": "The maximum number of characters allowed for the description.",
          "type": "integer",
          "format": "int32"
        },
        "maxFields": {
          "description": "The maximum number of fields allowed within the label.",
          "type": "integer",
          "format": "int32"
        },
        "maxDeletedFields": {
          "format": "int32",
          "description": "The maximum number of published fields that can be deleted.",
          "type": "integer"
        },
        "fieldLimits": {
          "description": "The limits for fields.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldLimits"
        },
        "maxDraftRevisions": {
          "format": "int32",
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "type": "integer"
        },
        "maxTitleLength": {
          "description": "The maximum number of characters allowed for the title.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        }
      },
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "type": "object",
      "properties": {},
      "description": "Response following update to label properties."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "description": "Updates basic properties of a label.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties",
          "description": "Required. Label properties to update."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "description": "Response following field create.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
      "type": "object",
      "properties": {
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaField": {
      "id": "GoogleAppsDriveLabelsV2betaField",
      "type": "object",
      "properties": {
        "creator": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who created this field."
        },
        "disabler": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled."
        },
        "publisher": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published."
        },
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
          "description": "User field options."
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "selectionOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
          "description": "Selection field options."
        },
        "id": {
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "type": "string",
          "readOnly": true
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities this user has when editing this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
          "readOnly": true
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities"
        },
        "displayHints": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDisplayHints",
          "readOnly": true,
          "description": "Output only. UI display hints for rendering a field."
        },
        "queryKey": {
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "type": "string",
          "readOnly": true
        },
        "lockStatus": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "description": "Output only. The `LockStatus` of this field."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this field was updated.",
          "type": "string"
        },
        "lifecycle": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "description": "Output only. The lifecycle of this field."
        },
        "updater": {
          "description": "Output only. The user who modified this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this field was created."
        },
        "disableTime": {
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        }
      },
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item."
    },
    "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities": {
      "description": "The capabilities related to this label when editing the label.",
      "id": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities",
      "type": "object",
      "properties": {
        "canDelete": {
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this label."
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse",
      "type": "object",
      "properties": {
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
          "description": "Creates a selection list option to add to a selection field."
        },
        "createField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
          "description": "Creates a field."
        },
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a choice from a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "enableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
          "description": "Enables field."
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "updateSelectionChoiceProperties": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
          "description": "Updates a choice within a selection field."
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        }
      },
      "description": "A single response from an update."
    },
    "GoogleAppsDriveLabelsV2betaTextLimits": {
      "id": "GoogleAppsDriveLabelsV2betaTextLimits",
      "type": "object",
      "properties": {
        "minLength": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum length allowed for a text field type."
        },
        "maxLength": {
          "description": "Maximum length allowed for a text field type.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Limits for text field type."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "description": "Response following update to field properties.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "description": "Response following selection choice create.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "The server-generated ID of the field.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The server-generated ID of the created choice within the field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "id": {
          "type": "string",
          "description": "Required. Key of the field to disable."
        },
        "disabledPolicy": {
          "description": "Required. Field disabled policy.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "description": "Request to disable the field."
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp": {
      "description": "An app where the label can be used.",
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp",
      "type": "object",
      "properties": {
        "app": {
          "description": "Optional. The name of the app.",
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest"
          }
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        }
      },
      "description": "Deletes one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
      "type": "object",
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      },
      "description": "A description of a user's capabilities on a label lock."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "description": "Request to delete the field.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the field to delete.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLockStatus": {
      "description": "Contains information about whether a label component should be considered locked.",
      "id": "GoogleAppsDriveLabelsV2betaLockStatus",
      "type": "object",
      "properties": {
        "locked": {
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaWriteControl": {
      "id": "GoogleAppsDriveLabelsV2betaWriteControl",
      "type": "object",
      "properties": {
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
        }
      },
      "description": "Provides control over how write requests are executed. When not specified, the last write wins."
    },
    "GoogleAppsDriveLabelsV2betaListLabelsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelsResponse",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Labels.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          }
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "description": "Response for listing labels."
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update.",
          "type": "array"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        }
      },
      "description": "Updates one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "Required. Permissions updated.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          }
        }
      },
      "description": "Response for updating one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities": {
      "description": "The capabilities a user has on this label's applied metadata.",
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
      "type": "object",
      "properties": {
        "canApply": {
          "type": "boolean",
          "description": "Whether the user can apply this label to items."
        },
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        },
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read applied metadata related to this label."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "description": "Behavior of this label when it's applied to Drive items.",
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
      "type": "object",
      "properties": {
        "copyMode": {
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldListOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldListOptions",
      "type": "object",
      "properties": {
        "maxEntries": {
          "description": "Maximum number of entries permitted.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Options for a multi-valued variant of an associated field type."
    },
    "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse": {
      "description": "Response for listing the permissions on a label.",
      "id": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        },
        "labelPermissions": {
          "description": "Label permissions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
      "type": "object",
      "properties": {
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this choice."
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this choice."
        }
      },
      "description": "The capabilities related to this choice when editing the choice."
    },
    "GoogleAppsDriveLabelsV2betaFieldProperties": {
      "description": "The basic properties of the field.",
      "id": "GoogleAppsDriveLabelsV2betaFieldProperties",
      "type": "object",
      "properties": {
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display text to show in the UI identifying this field."
        },
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "description": "Response following choice delete.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaPublishLabelRequest": {
      "description": "Request to publish a label.",
      "id": "GoogleAppsDriveLabelsV2betaPublishLabelRequest",
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldDateOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
      "type": "object",
      "properties": {
        "dateFormatType": {
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ]
        },
        "dateFormat": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ICU date format."
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        },
        "minValue": {
          "description": "Output only. Minimum valid value (year, month, day).",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        }
      },
      "description": "Options for the date field type."
    },
    "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
      "type": "object",
      "properties": {
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can search for Drive items referencing this field."
        },
        "canWrite": {
          "type": "boolean",
          "description": "Whether the user can set this field on Drive items."
        }
      },
      "description": "The capabilities related to this field on applied metadata."
    },
    "GoogleAppsDriveLabelsV2betaLabelLock": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLock",
      "type": "object",
      "properties": {
        "capabilities": {
          "description": "Output only. The user's capabilities on this label lock.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "type": "string",
          "description": "Output only. This label lock's state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ]
        },
        "fieldId": {
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this label lock.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this label lock was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock."
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "A lock that can be applied to a label, field, or choice."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "description": "Request to create a selection choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be created.",
          "type": "string"
        },
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaEnableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaEnableLabelRequest",
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "description": "Request to enable a label."
    },
    "GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "description": "Options for the Text field type.",
      "id": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
      "type": "object",
      "properties": {
        "minLength": {
          "type": "integer",
          "description": "Output only. The minimum valid length of values for the text field.",
          "format": "int32",
          "readOnly": true
        },
        "maxLength": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The maximum valid length of values for the text field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints",
      "type": "object",
      "properties": {
        "badgeColors": {
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        },
        "badgePriority": {
          "type": "string",
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "format": "int64"
        },
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This option should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This option should be shown in the apply menu when applying values to a Drive item."
        }
      },
      "description": "UI display hints for rendering an option."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest",
      "type": "object",
      "properties": {
        "updateLabel": {
          "description": "Updates the label properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        },
        "createSelectionChoice": {
          "description": "Create a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest"
        },
        "updateFieldType": {
          "description": "Update field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest"
        },
        "disableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest",
          "description": "Disable a choice within a selection field."
        },
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
          "description": "Delete a choice within a selection field."
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        },
        "enableField": {
          "description": "Enables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest"
        },
        "updateSelectionChoiceProperties": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
          "description": "Update a choice property within a selection field."
        },
        "disableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
          "description": "Disables the field."
        },
        "enableSelectionChoice": {
          "description": "Enable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest"
        }
      },
      "description": "A single kind of update to apply to a label."
    }
  },
  "resources": {
    "users": {
      "methods": {
        "getCapabilities": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "flatPath": "v2beta/users/{usersId}/capabilities",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaUserCapabilities"
          },
          "path": "v2beta/{+name}",
          "id": "drivelabels.users.getCapabilities",
          "description": "Gets the user capabilities.",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "pattern": "^users/[^/]+/capabilities$",
              "type": "string",
              "location": "path",
              "required": true
            },
            "customer": {
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "labels": {
      "resources": {
        "permissions": {
          "methods": {
            "create": {
              "flatPath": "v2beta/labels/{labelsId}/permissions",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`."
                },
                "useAdminAccess": {
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query"
                }
              },
              "path": "v2beta/{+parent}/permissions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "id": "drivelabels.labels.permissions.create"
            },
            "list": {
              "flatPath": "v2beta/labels/{labelsId}/permissions",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "parameters": {
                "useAdminAccess": {
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token of the page to return.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200."
                }
              },
              "id": "drivelabels.labels.permissions.list",
              "description": "Lists a label's permissions.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
              },
              "path": "v2beta/{+parent}/permissions"
            },
            "batchUpdate": {
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
[...]
