{
  "discoveryVersion": "v1",
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "name": "drive",
  "basePath": "/drive/v3/",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        }
      }
    }
  },
  "schemas": {
    "About": {
      "type": "object",
      "id": "About",
      "description": "Information about the user, the user's Drive, and system capabilities.",
      "properties": {
        "folderColorPalette": {
          "type": "array",
          "description": "The currently supported folder colors as RGB hex strings.",
          "items": {
            "type": "string"
          }
        },
        "importFormats": {
          "type": "object",
          "description": "A map of source MIME type to possible targets for all supported imports.",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "canCreateTeamDrives": {
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "storageQuota": {
          "description": "The user's storage quota limits and usage. For users that are part of an organization with pooled storage, information about the limit and usage across all services is for the organization, rather than the individual user. All fields are measured in bytes.",
          "properties": {
            "limit": {
              "type": "string",
              "description": "The usage limit, if applicable. This will not be present if the user has unlimited storage. For users that are part of an organization with pooled storage, this is the limit for the organization, rather than the individual user.",
              "format": "int64"
            },
            "usageInDrive": {
              "type": "string",
              "description": "The usage by all files in Google Drive.",
              "format": "int64"
            },
            "usageInDriveTrash": {
              "type": "string",
              "description": "The usage by trashed files in Google Drive.",
              "format": "int64"
            },
            "usage": {
              "description": "The total usage across all services. For users that are part of an organization with pooled storage, this is the usage across all services for the organization, rather than the individual user.",
              "format": "int64",
              "type": "string"
            }
          },
          "type": "object"
        },
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "driveThemes": {
          "description": "A list of themes that are supported for shared drives.",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              },
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
              "colorRgb": {
                "description": "The color of this theme as an RGB hex string.",
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "maxImportSizes": {
          "description": "A map of maximum import sizes by MIME type, in bytes.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        },
        "appInstalled": {
          "description": "Whether the user has installed the requesting app.",
          "type": "boolean"
        },
        "maxUploadSize": {
          "type": "string",
          "description": "The maximum upload size in bytes.",
          "format": "int64"
        },
        "teamDriveThemes": {
          "description": "Deprecated: Use `driveThemes` instead.",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "deprecated": true,
                "type": "string"
              },
              "backgroundImageLink": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "deprecated": true
              },
              "colorRgb": {
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "deprecated": true,
                "type": "string"
              }
            }
          },
          "deprecated": true,
          "type": "array"
        },
        "exportFormats": {
          "description": "A map of source MIME type to possible targets for all supported exports.",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#about\"`.",
          "default": "drive#about",
          "type": "string"
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        }
      }
    },
    "AppList": {
      "type": "object",
      "id": "AppList",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "properties": {
        "defaultAppIds": {
          "description": "The list of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#appList",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#appList\"."
        },
        "items": {
          "type": "array",
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          }
        }
      }
    },
    "TeamDrive": {
      "description": "Deprecated: use the drive collection instead.",
      "properties": {
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive.",
          "type": "string"
        },
        "backgroundImageLink": {
          "description": "A short-lived link to this Team Drive's background image.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#teamDrive",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDrive\"`."
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "format": "float",
              "type": "number"
            },
            "width": {
              "type": "number",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "format": "float",
              "type": "number"
            },
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "createdTime": {
          "type": "string",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "format": "date-time"
        },
        "restrictions": {
          "type": "object",
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive.",
          "properties": {
            "downloadRestriction": {
              "$ref": "DownloadRestriction",
              "description": "Download restrictions applied by shared drive managers."
            },
            "teamMembersOnly": {
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            }
          }
        },
        "capabilities": {
          "type": "object",
          "description": "Capabilities the current user has on this Team Drive.",
          "properties": {
            "canAddChildren": {
              "description": "Whether the current user can add children to folders in this Team Drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Whether the current user can share files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Whether the current user can list the children of folders in this Team Drive.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "deprecated": true,
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamMembersOnlyRestriction": {
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Whether the current user can trash children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeDownloadRestriction": {
              "description": "Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Whether the current user can edit files in this Team Drive",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Whether the current user can copy files in this Team Drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "description": "Whether the current user can change the background of this Team Drive.",
              "type": "boolean"
            },
            "canResetTeamDriveRestrictions": {
              "description": "Whether the current user can reset the Team Drive restrictions to defaults.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Whether the current user can rename files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive.",
              "type": "boolean"
            }
          }
        },
        "name": {
          "description": "The name of this Team Drive.",
          "type": "string"
        }
      },
      "id": "TeamDrive",
      "type": "object"
    },
    "Label": {
      "type": "object",
      "id": "Label",
      "description": "Representation of label and label fields.",
      "properties": {
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "kind": {
          "description": "This is always drive#label",
          "type": "string"
        },
        "fields": {
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "additionalProperties": {
            "$ref": "LabelField"
          },
          "type": "object"
        },
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        }
      }
    },
    "ModifyLabelsResponse": {
      "type": "object",
      "description": "Response to a `ModifyLabels` request. This contains only those labels which were added or updated by the request.",
      "properties": {
        "modifiedLabels": {
          "type": "array",
          "description": "The list of labels which were added or updated by the request.",
          "items": {
            "$ref": "Label"
          }
        },
        "kind": {
          "description": "This is always `\"drive#modifyLabelsResponse\"`.",
          "type": "string"
        }
      },
      "id": "ModifyLabelsResponse"
    },
    "ContentRestriction": {
      "type": "object",
      "id": "ContentRestriction",
      "description": "A restriction for accessing the content of the file.",
      "properties": {
        "restrictionTime": {
          "type": "string",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "format": "date-time"
        },
        "systemRestricted": {
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.",
          "type": "boolean"
        },
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        },
        "restrictingUser": {
          "$ref": "User",
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly=true`."
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        }
      }
    },
    "ReplyList": {
      "type": "object",
      "id": "ReplyList",
      "description": "A list of replies to a comment on a file.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#replyList\"`.",
          "default": "drive#replyList"
        },
        "replies": {
          "type": "array",
          "description": "The list of replies. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Reply"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        }
      }
    },
    "AppIcons": {
      "type": "object",
      "id": "AppIcons",
      "properties": {
        "category": {
          "description": "Category of the icon. Allowed values are: * `application` - The icon for the application. * `document` - The icon for a file associated with the app. * `documentShared` - The icon for a shared file associated with the app.",
          "type": "string"
        },
        "size": {
          "description": "Size of the icon. Represented as the maximum of the width and height.",
          "format": "int32",
          "type": "integer"
        },
        "iconUrl": {
          "description": "URL for the icon.",
          "type": "string"
        }
      }
    },
    "ModifyLabelsRequest": {
      "id": "ModifyLabelsRequest",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "properties": {
        "labelModifications": {
          "type": "array",
          "description": "The list of modifications to apply to the labels on the file.",
          "items": {
            "$ref": "LabelModification"
          }
        },
        "kind": {
          "description": "This is always `\"drive#modifyLabelsRequest\"`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RevisionList": {
      "description": "A list of revisions of a file.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#revisionList\"`.",
          "default": "drive#revisionList"
        },
        "revisions": {
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Revision"
          },
          "type": "array"
        }
      },
      "id": "RevisionList",
      "type": "object"
    },
    "CommentList": {
      "id": "CommentList",
      "description": "A list of comments on a file.",
      "properties": {
        "kind": {
          "default": "drive#commentList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#commentList\"`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "comments": {
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Comment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Reply": {
      "id": "Reply",
      "description": "A reply to a comment on a file. Some resource methods (such as `replies.update`) require a `replyId`. Use the `replies.list` method to retrieve the ID for a reply.",
      "properties": {
        "content": {
          "description": "The plain text content of the reply. This field is used for setting the content, while `htmlContent` should be displayed. This field is required by the `create` method if no `action` value is specified.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.replies.update"
            ]
          }
        },
        "modifiedTime": {
          "description": "The last time the reply was modified (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "createdTime": {
          "type": "string",
          "description": "The time at which the reply was created (RFC 3339 date-time).",
          "format": "date-time"
        },
        "action": {
          "description": "The action the reply performed to the parent comment. The supported values are: * `resolve` * `reopen`",
          "type": "string"
        },
        "author": {
          "$ref": "User",
          "description": "Output only. The author of the reply. The author's email address and permission ID won't be populated."
        },
        "htmlContent": {
          "description": "Output only. The content of the reply with HTML formatting.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of the reply.",
          "type": "string"
        },
        "assigneeEmailAddress": {
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset.",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#reply\"`.",
          "default": "drive#reply",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether the reply has been deleted. A deleted reply has no content.",
          "type": "boolean"
        },
        "mentionedEmailAddresses": {
          "readOnly": true,
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DownloadRestrictionsMetadata": {
      "description": "Download restrictions applied to the file.",
      "properties": {
        "itemDownloadRestriction": {
          "$ref": "DownloadRestriction",
          "description": "The download restriction of the file applied directly by the owner or organizer. This doesn't take into account shared drive settings or DLP rules."
        },
        "effectiveDownloadRestrictionWithContext": {
          "description": "Output only. The effective download restriction applied to this file. This considers all restriction settings and DLP rules.",
          "$ref": "DownloadRestriction"
        }
      },
      "id": "DownloadRestrictionsMetadata",
      "type": "object"
    },
    "DownloadRestriction": {
      "description": "A restriction for copy and download of the file.",
      "properties": {
        "restrictedForWriters": {
          "description": "Whether download and copy is restricted for writers. If `true`, download is also restricted for readers.",
          "type": "boolean"
        },
        "restrictedForReaders": {
          "description": "Whether download and copy is restricted for readers.",
          "type": "boolean"
        }
      },
      "id": "DownloadRestriction",
      "type": "object"
    },
    "Revision": {
      "type": "object",
      "id": "Revision",
      "description": "The metadata for a revision to a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "properties": {
        "md5Checksum": {
          "description": "Output only. The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "keepForever": {
          "description": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file. This field is only applicable to files with binary content in Drive.",
          "type": "boolean"
        },
        "size": {
          "description": "Output only. The size of the revision's content in bytes. This is only applicable to files with binary content in Drive.",
          "format": "int64",
          "type": "string"
        },
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "modifiedTime": {
          "description": "The last time the revision was modified (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "exportLinks": {
          "type": "object",
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#revision\"`.",
          "default": "drive#revision"
        },
        "originalFilename": {
          "description": "Output only. The original filename used to create this revision. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "published": {
          "description": "Whether this revision is published. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "mimeType": {
          "description": "Output only. The MIME type of the revision.",
          "type": "string"
        }
      }
    },
    "TeamDriveList": {
      "id": "TeamDriveList",
      "description": "A list of Team Drives.",
      "properties": {
        "teamDrives": {
          "type": "array",
          "description": "The list of Team Drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "TeamDrive"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives. This will be absent if the end of the Team Drives list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#teamDriveList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDriveList\"`."
        }
      },
      "type": "object"
    },
    "LabelFieldModification": {
      "id": "LabelFieldModification",
      "description": "A modification to a label's field.",
      "properties": {
        "setIntegerValues": {
          "type": "array",
          "description": "Replaces the value of an `integer` field with these new values.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "kind": {
          "description": "This is always `\"drive#labelFieldModification\"`.",
          "type": "string"
        },
        "setDateValues": {
          "type": "array",
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "items": {
            "type": "string",
            "format": "date"
          }
        },
        "setSelectionValues": {
          "description": "Replaces a `selection` field with these new values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "setTextValues": {
          "description": "Sets the value of a `text` field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "setUserValues": {
          "type": "array",
          "description": "Replaces a `user` field with these new values. The values must be a valid email addresses.",
          "items": {
            "type": "string"
          }
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DecryptionMetadata": {
      "type": "object",
      "id": "DecryptionMetadata",
      "description": "Representation of the CSE DecryptionMetadata.",
      "properties": {
        "wrappedKey": {
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file.",
          "type": "string"
        },
        "kaclsId": {
          "type": "string",
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "format": "int64"
        },
        "keyFormat": {
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`.",
          "type": "string"
        },
        "kaclsName": {
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        },
        "aes256GcmChunkSize": {
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small ",
          "type": "string"
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file.",
          "type": "string"
        },
        "encryptionResourceKeyHash": {
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference",
          "type": "string"
        }
      }
    },
    "GeneratedIds": {
      "description": "A list of generated file IDs which can be provided in create requests.",
      "properties": {
        "kind": {
          "default": "drive#generatedIds",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#generatedIds\"`.",
          "type": "string"
        },
        "ids": {
          "description": "The IDs generated for the requesting user in the specified space.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "space": {
          "description": "The type of file that can be created with these IDs.",
          "type": "string"
        }
      },
      "id": "GeneratedIds",
      "type": "object"
    },
    "ChangeList": {
      "type": "object",
      "description": "A list of changes for a user.",
      "properties": {
        "changes": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Change"
          },
          "type": "array"
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#changeList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`."
        },
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire.",
          "type": "string"
        }
      },
      "id": "ChangeList"
    },
    "File": {
      "type": "object",
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "properties": {
        "sharingUser": {
          "$ref": "User",
          "description": "Output only. The user who shared the file with the requesting user, if applicable."
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "thumbnailVersion": {
          "type": "string",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "format": "int64"
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive.",
          "type": "string"
        },
        "isAppAuthorized": {
          "description": "Output only. Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "fileExtension": {
          "description": "Output only. The final component of `fullFileExtension`. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "explicitlyTrashed": {
          "description": "Output only. Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder.",
          "type": "boolean"
        },
        "inheritedPermissionsDisabled": {
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default.",
          "type": "boolean"
        },
        "writersCanShare": {
          "description": "Whether users with only `writer` permission can modify the file's permissions. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "mimeType": {
          "description": "The MIME type of the file. Google Drive attempts to automatically detect an appropriate value from uploaded content, if no value is provided. The value cannot be changed unless a new revision is uploaded. If a file is created with a Google Doc MIME type, the uploaded content is imported, if possible. The supported import formats are published in the [`about`](/workspace/drive/api/reference/rest/v3/about) resource.",
          "type": "string"
        },
        "videoMediaMetadata": {
          "type": "object",
          "description": "Output only. Additional metadata about video media. This may not be available immediately upon upload.",
          "properties": {
            "durationMillis": {
              "type": "string",
              "description": "Output only. The duration of the video in milliseconds.",
              "format": "int64"
            },
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "height": {
              "description": "Output only. The height of the video in pixels.",
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "parents": {
          "type": "array",
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of a create request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "items": {
            "type": "string"
          }
        },
        "permissions": {
          "type": "array",
          "description": "Output only. The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives.",
          "items": {
            "$ref": "Permission"
          }
        },
        "linkShareMetadata": {
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "properties": {
            "securityUpdateEligible": {
              "description": "Output only. Whether the file is eligible for security update.",
              "type": "boolean"
            },
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "permissionIds": {
          "description": "Output only. List of permission IDs for users with access to this file.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "imageMediaMetadata": {
          "description": "Output only. Additional metadata about image media, if available.",
          "properties": {
            "maxApertureValue": {
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "format": "float",
              "type": "number"
            },
            "height": {
              "type": "integer",
              "description": "Output only. The height of the image in pixels.",
              "format": "int32"
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "time": {
              "description": "Output only. The date and time the photo was taken (EXIF DateTime).",
              "type": "string"
            },
            "cameraModel": {
              "description": "Output only. The model of the camera used to create the photo.",
              "type": "string"
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "sensor": {
              "description": "Output only. The type of sensor used to create the photo.",
              "type": "string"
            },
            "colorSpace": {
              "description": "Output only. The color space of the photo.",
              "type": "string"
            },
            "focalLength": {
              "type": "number",
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "format": "float"
            },
            "exposureBias": {
              "type": "number",
              "description": "Output only. The exposure bias of the photo (APEX value).",
              "format": "float"
            },
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            },
            "aperture": {
              "type": "number",
              "description": "Output only. The aperture used to create the photo (f-number).",
              "format": "float"
            },
            "isoSpeed": {
              "type": "integer",
              "description": "Output only. The ISO speed used to create the photo.",
              "format": "int32"
            },
            "width": {
              "description": "Output only. The width of the image in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            },
            "subjectDistance": {
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "format": "int32",
              "type": "integer"
            },
            "exposureMode": {
              "description": "Output only. The exposure mode used to create the photo.",
              "type": "string"
            },
            "exposureTime": {
              "description": "Output only. The length of the exposure, in seconds.",
              "format": "float",
              "type": "number"
            },
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "location": {
              "type": "object",
              "description": "Output only. Geographic location information stored in the image.",
              "properties": {
                "latitude": {
                  "type": "number",
                  "description": "Output only. The latitude stored in the image.",
                  "format": "double"
                },
                "longitude": {
                  "description": "Output only. The longitude stored in the image.",
                  "format": "double",
                  "type": "number"
                },
                "altitude": {
                  "type": "number",
                  "description": "Output only. The altitude stored in the image.",
                  "format": "double"
                }
              }
            },
            "rotation": {
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.",
              "format": "int32",
              "type": "integer"
            }
          },
          "type": "object"
        },
        "shortcutDetails": {
          "type": "object",
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`. Can only be set on `files.create` requests.",
          "properties": {
            "targetResourceKey": {
              "description": "Output only. The `resourceKey` for the target file.",
              "type": "string"
            },
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.create` requests.",
              "type": "string"
            },
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            }
          }
        },
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "teamDriveId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: Output only. Use `driveId` instead."
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "name": {
          "description": "The name of the file. This isn't necessarily unique within a folder. Note that for immutable items such as the top-level folders of shared drives, the My Drive root folder, and the Application Data folder, the name is constant.",
          "type": "string"
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This doesn't indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "modifiedTime": {
          "type": "string",
          "description": "he last time the file was modified by anyone (RFC 3339 date-time). Note that setting modifiedTime will also update modifiedByMeTime for the user.",
          "format": "date-time"
        },
        "createdTime": {
          "description": "The time at which the file was created (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take. For more information, see [Understand file capabilities](https://developers.google.com/workspace/drive/api/guides/manage-sharing#capabilities).",
          "properties": {
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item if it's not a folder.",
              "type": "boolean"
            },
            "canDisableInheritedPermissions": {
              "description": "Whether a user can disable inherited permissions.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead."
            },
            "canAddFolderFromAnotherDrive": {
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the `securityUpdateEnabled` field on link share metadata.",
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveChildrenWithinDrive` instead.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always `false` when the item isn't a folder.",
              "type": "boolean"
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canReadDrive` instead."
            },
            "canMoveItemWithinTeamDrive": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` instead.",
              "deprecated": true
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that's being added.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveChildrenOutOfDrive` instead.",
              "deprecated": true
            },
            "canMoveItemIntoTeamDrive": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead."
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is `false` when the item isn't a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item if it's not a folder, can be read.",
              "type": "boolean"
            },
            "canMoveTeamDriveItem": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "deprecated": true
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that's being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canChangeItemDownloadRestriction": {
              "description": "Output only. Whether the current user can change the owner or organizer-applied download restrictions of the file.",
              "type": "boolean"
            },
            "canChangeViewersCanCopyContent": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Output only."
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always `false` when the item isn't a folder.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canModifyOwnerContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction`, or `canRemoveContentRestriction`.",
              "deprecated": true,
              "type": "boolean"
            },
            "canReadDrive": {
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always `false` when the item isn't a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canEnableInheritedPermissions": {
              "description": "Whether a user can re-enable inherited permissions.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there's a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "sha1Checksum": {
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "iconLink": {
          "description": "Output only. A static, unauthenticated link to the file's icon.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#file\"`.",
          "default": "drive#file",
          "type": "string"
        },
        "resourceKey": {
          "description": "Output only. A key needed to access the item via a shared link.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        },
        "trashedTime": {
          "type": "string",
          "description": "The time that the item was trashed (RFC 3339 date-time). Only populated for items in shared drives.",
          "format": "date-time"
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policies. Consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "contentRestrictions": {
          "type": "array",
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "items": {
            "$ref": "ContentRestriction"
          }
        },
        "clientEncryptionDetails": {
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts.",
          "$ref": "ClientEncryptionDetails"
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This is currently only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "trashed": {
          "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, but other users can still access the file in the owner's trash until it's permanently deleted.",
          "type": "boolean"
        },
        "appProperties": {
          "type": "object",
          "description": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "starred": {
          "description": "Whether the user has starred the file.",
          "type": "boolean"
        },
        "folderColorRgb": {
          "description": "The color for a folder or a shortcut to a folder as an RGB hex string. The supported colors are published in the `folderColorPalette` field of the [`about`](/workspace/drive/api/reference/rest/v3/about) resource. If an unsupported color is specified, the closest color in the palette is used instead.",
          "type": "string"
        },
        "modifiedByMe": {
          "description": "Output only. Whether the file has been modified by this user.",
          "type": "boolean"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify the file. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "ownedByMe": {
          "description": "Output only. Whether the user owns the file. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "viewedByMeTime": {
          "description": "The last time the file was viewed by the user (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "viewedByMe": {
          "description": "Output only. Whether the file has been viewed by this user.",
          "type": "boolean"
        },
        "modifiedByMeTime": {
          "type": "string",
          "description": "The last time the file was modified by the user (RFC 3339 date-time).",
          "format": "date-time"
        },
        "size": {
          "type": "string",
          "description": "Output only. Size in bytes of blobs and Google Workspace editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "format": "int64"
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "downloadRestrictions": {
          "$ref": "DownloadRestrictionsMetadata",
          "description": "Download restrictions applied on the file."
        },
        "sharedWithMeTime": {
          "description": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "viewersCanCopyContent": {
          "description": "Deprecated: Use `copyRequiresWriterPermission` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "copyRequiresWriterPermission": {
          "description": "Whether the options to copy, print, or download this file should be disabled for readers and commenters.",
          "type": "boolean"
        },
        "quotaBytesUsed": {
          "type": "string",
          "description": "Output only. The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with `keepForever` enabled.",
          "format": "int64"
        },
        "sha256Checksum": {
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "webViewLink": {
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer in a browser.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user.",
          "format": "int64"
        },
        "labelInfo": {
          "description": "Output only. An overview of the labels on the file.",
          "properties": {
            "labels": {
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "items": {
                "$ref": "Label"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "spaces": {
          "type": "array",
          "description": "Output only. The list of spaces which contain the file. The currently supported values are `drive`, `appDataFolder`, and `photos`.",
          "items": {
            "type": "string"
          }
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "contentHints": {
          "description": "Additional information about the content of the file. These fields are never populated in responses.",
          "properties": {
            "indexableText": {
              "description": "Text to be indexed for the file to improve fullText queries. This is limited to 128 KB in length and may contain HTML elements.",
              "type": "string"
            },
            "thumbnail": {
              "description": "A thumbnail for the file. This will only be used if Google Drive cannot generate a standard thumbnail.",
              "properties": {
                "image": {
                  "description": "The thumbnail data encoded with URL-safe Base64 ([RFC 4648 section 5](https://datatracker.ietf.org/doc/html/rfc4648#section-5)).",
                  "format": "byte",
                  "type": "string"
                },
                "mimeType": {
                  "description": "The MIME type of the thumbnail.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "fullFileExtension": {
          "description": "Output only. The full file extension extracted from the `name` field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Google Drive. This is automatically updated when the `name` field changes, however it's not cleared if the new name doesn't contain a valid extension.",
          "type": "string"
        }
      },
      "id": "File"
    },
    "ClientEncryptionDetails": {
      "type": "object",
      "id": "ClientEncryptionDetails",
      "description": "Details about the client-side encryption applied to the file.",
      "properties": {
        "encryptionState": {
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted ",
          "type": "string"
        },
        "decryptionMetadata": {
          "$ref": "DecryptionMetadata",
          "description": "The metadata used for client-side operations."
        }
      }
    },
    "ApprovalList": {
      "type": "object",
      "id": "ApprovalList",
      "description": "The response of an Approvals list request.",
      "properties": {
        "kind": {
          "description": "This is always drive#approvalList",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of Approvals. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Approval"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of Approvals. This will be absent if the end of the Approvals list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      }
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). By default, permission requests only return a subset of fields. Permission `kind`, `ID`, `type`, and `role` are always returned. To retrieve specific fields, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter). Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#permission",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`."
        },
        "deleted": {
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to permissions of type `user` or `group`.",
          "type": "boolean"
        },
        "role": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "description": "The role granted by this permission. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
        },
        "allowFileDiscovery": {
          "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`.",
          "type": "boolean"
        },
        "domain": {
          "description": "The domain to which this permission refers.",
          "type": "string"
        },
        "inheritedPermissionsDisabled": {
          "description": "When `true`, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        },
        "emailAddress": {
          "description": "The email address of the user or group to which this permission refers.",
          "type": "string"
        },
        "teamDrivePermissionDetails": {
          "description": "Output only. Deprecated: Output only. Use `permissionDetails` instead.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "role": {
                "description": "Deprecated: Output only. Use `permissionDetails/role` instead.",
                "deprecated": true,
                "type": "string"
              },
              "teamDrivePermissionType": {
                "type": "string",
                "description": "Deprecated: Output only. Use `permissionDetails/permissionType` instead.",
                "deprecated": true
              },
              "inheritedFrom": {
                "type": "string",
                "description": "Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead.",
                "deprecated": true
              },
              "inherited": {
                "description": "Deprecated: Output only. Use `permissionDetails/inherited` instead.",
                "deprecated": true,
                "type": "boolean"
              }
            }
          },
          "readOnly": true
        },
        "id": {
          "description": "Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in the [User resource](https://developers.google.com/workspace/drive/api/reference/rest/v3/User) as `permissionId`. IDs should be treated as opaque values.",
          "type": "string"
        },
        "photoLink": {
          "description": "Output only. A link to the user's profile photo, if available.",
          "type": "string"
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. The only supported values are `published` and `metadata`: * `published`: The permission's role is `publishedReader`. * `metadata`: The item is only visible to the `metadata` view because the item has limited access and the scope has at least read access to the parent. The `metadata` view is only supported on folders. For more information, see [Views](https://developers.google.com/workspace/drive/api/guides/ref-roles#views).",
          "type": "string"
        },
        "permissionDetails": {
          "readOnly": true,
          "description": "Output only. Details of whether the permissions on this item are inherited or are directly on this item.",
          "items": {
            "type": "object",
            "properties": {
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string"
              },
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field.",
                "type": "boolean"
              },
              "permissionType": {
                "description": "Output only. The permission type for this user. Supported values include: * `file` * `member`",
                "type": "string"
              },
              "role": {
                "description": "Output only. The primary role for this user. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "type": {
          "description": "The type of the grantee. Supported values include: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. If `type` is `domain`, you must provide a `domain`. If `type` is `anyone`, no extra information is required.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          }
        },
        "expirationTime": {
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future",
          "format": "date-time",
          "type": "string"
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for permissions of type `user` for files that aren't in a shared drive.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google Account, such as \"Dana A.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"cymbalgroup.com.\" * `anyone` - No `displayName` is present.",
          "type": "string"
        }
      }
    },
    "ListAccessProposalsResponse": {
      "description": "The response to an access proposal list request.",
      "properties": {
        "accessProposals": {
          "type": "array",
          "description": "The list of access proposals. This field is only populated in Drive API v3.",
          "items": {
            "$ref": "AccessProposal"
          }
        },
        "nextPageToken": {
          "description": "The continuation token for the next page of results. This will be absent if the end of the results list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "id": "ListAccessProposalsResponse",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "id": "Operation"
    },
    "LabelModification": {
      "description": "A modification to a label on a file. A `LabelModification` can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "properties": {
        "fieldModifications": {
          "type": "array",
          "description": "The list of modifications to this label's fields.",
          "items": {
            "$ref": "LabelFieldModification"
          }
        },
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "labelId": {
          "description": "The ID of the label to modify.",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "type": "string"
        },
        "kind": {
          "description": "This is always `\"drive#labelModification\"`.",
          "type": "string"
        }
      },
      "id": "LabelModification",
      "type": "object"
    },
    "DriveList": {
      "id": "DriveList",
      "description": "A list of shared drives.",
      "properties": {
        "drives": {
          "type": "array",
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Drive"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`.",
          "default": "drive#driveList",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PermissionList": {
      "description": "A list of permissions for a file.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The list of permissions. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Permission"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#permissionList\"`.",
          "default": "drive#permissionList"
        }
      },
      "id": "PermissionList",
      "type": "object"
    },
    "User": {
      "id": "User",
      "description": "Information about a Drive user.",
      "properties": {
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "default": "drive#user",
          "readOnly": true,
          "type": "string"
        },
        "permissionId": {
          "readOnly": true,
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string"
        },
        "emailAddress": {
          "readOnly": true,
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "type": "string"
        },
        "photoLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A link to the user's profile photo, if available."
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "readOnly": true,
          "type": "string"
        },
        "me": {
          "readOnly": true,
          "description": "Output only. Whether this user is the requesting user.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Change": {
      "type": "object",
      "id": "Change",
      "description": "A change to a file or shared drive.",
      "properties": {
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "deprecated": true,
          "description": "Deprecated: Use `drive` instead."
        },
        "time": {
          "description": "The time of this change (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "driveId": {
          "description": "The ID of the shared drive associated with this change.",
          "type": "string"
        },
        "fileId": {
          "description": "The ID of the file which has changed.",
          "type": "string"
        },
        "teamDriveId": {
          "description": "Deprecated: Use `driveId` instead.",
          "deprecated": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Deprecated: Use `changeType` instead.",
          "deprecated": true
        },
        "drive": {
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted.",
          "$ref": "Drive"
        },
        "file": {
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes.",
          "$ref": "File"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#change\"`.",
          "default": "drive#change"
        },
        "removed": {
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access.",
          "type": "boolean"
        }
      }
    },
    "LabelList": {
      "type": "object",
      "id": "LabelList",
      "description": "A list of labels applied to a file.",
      "properties": {
        "labels": {
          "type": "array",
          "description": "The list of labels.",
          "items": {
            "$ref": "Label"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `\"drive#labelList\"`.",
          "type": "string"
        }
      }
    },
    "ResolveAccessProposalRequest": {
      "type": "object",
      "description": "Request message for resolving an AccessProposal on a file.",
      "properties": {
        "view": {
          "description": "Optional. Indicates the view for this access proposal. This should only be set when the proposal belongs to a view. Only `published` is supported.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified action",
            "The user accepts the access proposal. Note: If this action is used, the `role` field must have at least one value.",
            "The user denies the access proposal."
          ],
          "description": "Required. The action to take on the access proposal.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ACCEPT",
            "DENY"
          ]
        },
        "role": {
[...]
