{
  "baseUrl": "https://driveactivity.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Drive Activity",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version_module": true,
  "name": "driveactivity",
  "protocol": "rest",
  "id": "driveactivity:v2",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Drive": {
      "type": "object",
      "id": "Drive",
      "description": "Information about a shared drive.",
      "properties": {
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        }
      }
    },
    "DataLeakPreventionChange": {
      "id": "DataLeakPreventionChange",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "description": "The type of Data Leak Prevention (DLP) change."
        }
      },
      "description": "A change in the object's data leak prevention status."
    },
    "DriveItem": {
      "id": "DriveItem",
      "type": "object",
      "properties": {
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File",
          "deprecated": true
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder",
          "deprecated": true
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        },
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        }
      },
      "description": "A Drive item, such as a file or folder."
    },
    "Folder": {
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "id": "Folder",
      "deprecated": true,
      "properties": {
        "type": {
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "type": "string",
          "description": "This field is deprecated; please see `DriveFolder.type` instead."
        }
      },
      "type": "object"
    },
    "DriveFolder": {
      "type": "object",
      "id": "DriveFolder",
      "description": "A Drive item which is a folder.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "The type of Drive folder."
        }
      }
    },
    "Impersonation": {
      "type": "object",
      "id": "Impersonation",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      }
    },
    "UserList": {
      "properties": {
        "values": {
          "description": "User values.",
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          }
        }
      },
      "description": "Wrapper for UserList Field value.",
      "id": "UserList",
      "type": "object"
    },
    "Permission": {
      "description": "The permission setting of an object.",
      "properties": {
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        },
        "role": {
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "type": "string",
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items."
        },
        "user": {
          "description": "The user to whom this permission applies.",
          "$ref": "User"
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        }
      },
      "type": "object",
      "id": "Permission"
    },
    "TeamDrive": {
      "description": "This item is deprecated; please see `Drive` instead.",
      "id": "TeamDrive",
      "deprecated": true,
      "properties": {
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Suggestion": {
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "type": "string",
          "description": "The sub-type of this event."
        }
      },
      "description": "A suggestion.",
      "id": "Suggestion",
      "type": "object"
    },
    "RestrictionChange": {
      "type": "object",
      "id": "RestrictionChange",
      "description": "Information about restriction policy changes to a feature.",
      "properties": {
        "feature": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "description": "The feature which had a change in restriction policy."
        },
        "newRestriction": {
          "description": "The restriction in place after the change.",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "type": "string"
        }
      }
    },
    "Date": {
      "description": "Wrapper for Date Field value.",
      "properties": {
        "value": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date value."
        }
      },
      "type": "object",
      "id": "Date"
    },
    "Selection": {
      "properties": {
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        },
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        }
      },
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "id": "Selection",
      "type": "object"
    },
    "AppliedLabelChange": {
      "properties": {
        "changes": {
          "type": "array",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "description": "Changes that were made to the Label on the Target."
        }
      },
      "description": "Label changes that were made on the Target.",
      "id": "AppliedLabelChange",
      "type": "object"
    },
    "Create": {
      "type": "object",
      "id": "Create",
      "description": "An object was created.",
      "properties": {
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        },
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        },
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        }
      }
    },
    "Comment": {
      "type": "object",
      "id": "Comment",
      "description": "A change about comments on an object.",
      "properties": {
        "mentionedUsers": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "Users who are mentioned in this comment."
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        }
      }
    },
    "SingleUser": {
      "type": "object",
      "id": "SingleUser",
      "description": "Wrapper for User Field value.",
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      }
    },
    "Group": {
      "description": "Information about a group.",
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Group"
    },
    "Edit": {
      "id": "Edit",
      "type": "object",
      "properties": {},
      "description": "An empty message indicating an object was edited."
    },
    "AppliedLabelChangeDetail": {
      "properties": {
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "types": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "type": "string"
          },
          "description": "The types of changes made to the Label on the Target."
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        },
        "fieldChanges": {
          "type": "array",
          "items": {
            "$ref": "FieldValueChange"
          },
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`."
        }
      },
      "description": "A change made to a Label on the Target.",
      "id": "AppliedLabelChangeDetail",
      "type": "object"
    },
    "Assignment": {
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "type": "string",
          "description": "The sub-type of this event."
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      },
      "description": "A comment with an assignment.",
      "id": "Assignment",
      "type": "object"
    },
    "Rename": {
      "type": "object",
      "id": "Rename",
      "description": "An object was renamed.",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      }
    },
    "FieldValueChange": {
      "type": "object",
      "id": "FieldValueChange",
      "description": "Change to a Field value.",
      "properties": {
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        }
      }
    },
    "TargetReference": {
      "description": "A lightweight reference to the target of activity.",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        },
        "teamDrive": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference"
        }
      },
      "type": "object",
      "id": "TargetReference"
    },
    "ConsolidationStrategy": {
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "properties": {
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        },
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        }
      },
      "type": "object",
      "id": "ConsolidationStrategy"
    },
    "SelectionList": {
      "id": "SelectionList",
      "type": "object",
      "properties": {
        "values": {
          "description": "Selection values.",
          "type": "array",
          "items": {
            "$ref": "Selection"
          }
        }
      },
      "description": "Wrapper for SelectionList Field value."
    },
    "QueryDriveActivityRequest": {
      "id": "QueryDriveActivityRequest",
      "type": "object",
      "properties": {
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "pageSize": {
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The request message for querying Drive activity."
    },
    "Administrator": {
      "type": "object",
      "id": "Administrator",
      "description": "Empty message representing an administrator.",
      "properties": {}
    },
    "QueryDriveActivityResponse": {
      "type": "object",
      "id": "QueryDriveActivityResponse",
      "description": "Response message for querying Drive activity.",
      "properties": {
        "activities": {
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          },
          "description": "List of activity requested."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "DriveActivity": {
      "properties": {
        "actors": {
          "type": "array",
          "items": {
            "$ref": "Actor"
          },
          "description": "All actor(s) responsible for the activity."
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        },
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "Details on all actions in this activity."
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred."
        }
      },
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "id": "DriveActivity",
      "type": "object"
    },
    "Copy": {
      "id": "Copy",
      "type": "object",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "description": "An object was created by copying an existing object."
    },
    "Post": {
      "id": "Post",
      "type": "object",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "type": "string"
        }
      },
      "description": "A regular posted comment."
    },
    "ApplicationReference": {
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ]
        }
      },
      "description": "Activity in applications other than Drive.",
      "id": "ApplicationReference",
      "type": "object"
    },
    "Owner": {
      "type": "object",
      "id": "Owner",
      "description": "Information about the owner of a Drive item.",
      "properties": {
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference",
          "deprecated": true
        }
      }
    },
    "NoConsolidation": {
      "description": "A strategy that does no consolidation of individual activities.",
      "properties": {},
      "type": "object",
      "id": "NoConsolidation"
    },
    "DriveFile": {
      "id": "DriveFile",
      "type": "object",
      "properties": {},
      "description": "A Drive item which is a file."
    },
    "SystemEvent": {
      "description": "Event triggered by system operations instead of end users.",
      "properties": {
        "type": {
          "description": "The type of the system event that may triggered activity.",
          "type": "string",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      },
      "type": "object",
      "id": "SystemEvent"
    },
    "New": {
      "id": "New",
      "type": "object",
      "properties": {},
      "description": "An object was created from scratch."
    },
    "FieldValue": {
      "id": "FieldValue",
      "type": "object",
      "properties": {
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        }
      },
      "description": "Contains a value of a Field."
    },
    "Domain": {
      "type": "object",
      "id": "Domain",
      "description": "Information about a domain.",
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      }
    },
    "TextList": {
      "type": "object",
      "id": "TextList",
      "description": "Wrapper for Text List Field value.",
      "properties": {
        "values": {
          "description": "Text values.",
          "type": "array",
          "items": {
            "$ref": "Text"
          }
        }
      }
    },
    "Legacy": {
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "properties": {},
      "type": "object",
      "id": "Legacy"
    },
    "Delete": {
      "type": "object",
      "id": "Delete",
      "description": "An object was deleted.",
      "properties": {
        "type": {
          "description": "The type of delete action taken.",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "type": "string"
        }
      }
    },
    "User": {
      "id": "User",
      "type": "object",
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        }
      },
      "description": "Information about an end user."
    },
    "DriveItemReference": {
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "properties": {
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File",
          "deprecated": true
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder",
          "deprecated": true
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DriveItemReference"
    },
    "AnonymousUser": {
      "id": "AnonymousUser",
      "type": "object",
      "properties": {},
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized."
    },
    "UnknownUser": {
      "type": "object",
      "id": "UnknownUser",
      "description": "A user about whom nothing is currently known.",
      "properties": {}
    },
    "Integer": {
      "properties": {
        "value": {
          "description": "Integer value.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Wrapper for Integer Field value.",
      "id": "Integer",
      "type": "object"
    },
    "TimeRange": {
      "type": "object",
      "id": "TimeRange",
      "description": "Information about time ranges.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start of the time range."
        },
        "endTime": {
          "description": "The end of the time range.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "PermissionChange": {
      "type": "object",
      "id": "PermissionChange",
      "description": "A change of the permission setting on an item.",
      "properties": {
        "addedPermissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change."
        },
        "removedPermissions": {
          "description": "The set of permissions removed by this change.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      }
    },
    "Move": {
      "type": "object",
      "id": "Move",
      "description": "An object was moved.",
      "properties": {
        "addedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The added parent object(s)."
        },
        "removedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The removed parent object(s)."
        }
      }
    },
    "Target": {
      "type": "object",
      "id": "Target",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "teamDrive": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDrive"
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        }
      }
    },
    "File": {
      "properties": {},
      "type": "object",
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "id": "File",
      "deprecated": true
    },
    "Restore": {
      "type": "object",
      "id": "Restore",
      "description": "A deleted object was restored.",
      "properties": {
        "type": {
          "description": "The type of restore action taken.",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "type": "string"
        }
      }
    },
    "Actor": {
      "description": "The actor of a Drive activity.",
      "properties": {
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        },
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        }
      },
      "type": "object",
      "id": "Actor"
    },
    "TeamDriveReference": {
      "properties": {
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        },
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "id": "TeamDriveReference",
      "deprecated": true
    },
    "DriveReference": {
      "type": "object",
      "id": "DriveReference",
      "description": "A lightweight reference to a shared drive.",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      }
    },
    "KnownUser": {
      "id": "KnownUser",
      "type": "object",
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      },
      "description": "A known user."
    },
    "ActionDetail": {
      "properties": {
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        }
      },
      "description": "Data describing the type and additional information of an action.",
      "id": "ActionDetail",
      "type": "object"
    },
    "Anyone": {
      "description": "Represents any user (including a logged out user).",
      "properties": {},
      "type": "object",
      "id": "Anyone"
    },
    "SettingsChange": {
      "description": "Information about settings changes.",
      "properties": {
        "restrictionChanges": {
          "description": "The set of changes made to restrictions.",
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          }
        }
      },
      "type": "object",
      "id": "SettingsChange"
    },
    "DeletedUser": {
      "description": "A user whose account has since been deleted.",
      "properties": {},
      "type": "object",
      "id": "DeletedUser"
    },
    "FileComment": {
      "id": "FileComment",
      "type": "object",
      "properties": {
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        }
      },
      "description": "A comment on a file."
    },
    "Action": {
      "id": "Action",
      "type": "object",
      "properties": {
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        },
        "timestamp": {
          "description": "The action occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        }
      },
      "description": "Information about the action."
    },
    "Upload": {
      "properties": {},
      "description": "An object was uploaded into Drive.",
      "id": "Upload",
      "type": "object"
    },
    "Text": {
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "description": "Wrapper for Text Field value.",
      "id": "Text",
      "type": "object"
    }
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "description": "Provides a historical view of activity in Google Drive.",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "revision": "20260310",
  "basePath": "",
  "ownerName": "Google",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "id": "driveactivity.activity.query",
          "description": "Query past activity in Google Drive.",
          "flatPath": "v2/activity:query",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "path": "v2/activity:query",
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "response": {
            "$ref": "QueryDriveActivityResponse"
          }
        }
      }
    }
  },
  "version": "v2",
  "title": "Drive Activity API",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/"
}