{
  "ownerDomain": "google.com",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "discoveryVersion": "v1",
  "resources": {
    "about": {
      "methods": {
        "get": {
          "parameterOrder": [],
          "response": {
            "$ref": "About"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets the information about the current user along with Drive API settings",
          "parameters": {
            "includeSubscribed": {
              "location": "query",
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`.",
              "type": "boolean",
              "default": "true"
            },
            "maxChangeIdCount": {
              "location": "query",
              "type": "string",
              "default": "1",
              "format": "int64",
              "description": "Maximum number of remaining change IDs to count"
            },
            "startChangeId": {
              "location": "query",
              "description": "Change ID to start counting from when calculating number of remaining change IDs",
              "type": "string",
              "format": "int64"
            }
          },
          "id": "drive.about.get",
          "httpMethod": "GET",
          "path": "about",
          "flatPath": "about"
        }
      }
    },
    "children": {
      "methods": {
        "list": {
          "path": "files/{folderId}/children",
          "flatPath": "files/{folderId}/children",
          "id": "drive.children.list",
          "httpMethod": "GET",
          "parameters": {
            "orderBy": {
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "type": "string"
            },
            "q": {
              "location": "query",
              "description": "Query string for searching children.",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of children to return.",
              "default": "100",
              "format": "int32",
              "minimum": "0",
              "type": "integer",
              "location": "query"
            },
            "folderId": {
              "location": "path",
              "description": "The ID of the folder.",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "Page token for children.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Lists a folder's children.",
          "response": {
            "$ref": "ChildList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "folderId"
          ]
        },
        "delete": {
          "description": "Removes a child from a folder.",
          "parameters": {
            "folderId": {
              "description": "The ID of the folder.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "childId": {
              "location": "path",
              "description": "The ID of the child.",
              "required": true,
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            }
          },
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "id": "drive.children.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{folderId}/children/{childId}",
          "flatPath": "files/{folderId}/children/{childId}"
        },
        "insert": {
          "path": "files/{folderId}/children",
          "flatPath": "files/{folderId}/children",
          "id": "drive.children.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "ChildReference"
          },
          "parameters": {
            "folderId": {
              "description": "The ID of the folder.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Inserts a file into a folder.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "ChildReference"
          },
          "parameterOrder": [
            "folderId"
          ]
        },
        "get": {
          "parameters": {
            "folderId": {
              "description": "The ID of the folder.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "childId": {
              "description": "The ID of the child.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets a specific child reference.",
          "path": "files/{folderId}/children/{childId}",
          "flatPath": "files/{folderId}/children/{childId}",
          "id": "drive.children.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "response": {
            "$ref": "ChildReference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "files": {
      "methods": {
        "untrash": {
          "id": "drive.files.untrash",
          "httpMethod": "POST",
          "path": "files/{fileId}/untrash",
          "flatPath": "files/{fileId}/untrash",
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "parameters": {
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file to untrash.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.update",
          "httpMethod": "PUT",
          "mediaUpload": {
            "maxSize": "5497558138880",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files/{fileId}"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files/{fileId}"
              }
            }
          },
          "request": {
            "$ref": "File"
          },
          "path": "files/{fileId}",
          "flatPath": "files/{fileId}",
          "supportsMediaUpload": true,
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            },
            "setModifiedDate": {
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "ocrLanguage": {
              "location": "query",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string"
            },
            "pinned": {
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file to update.",
              "required": true,
              "type": "string"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "type": "string",
              "location": "query"
            },
            "removeParents": {
              "description": "Comma-separated list of parent IDs to remove.",
              "type": "string",
              "location": "query"
            },
            "modifiedDateBehavior": {
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`."
            },
            "updateViewedDate": {
              "default": "true",
              "location": "query",
              "description": "Whether to update the view date after successfully updating the file.",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the content as indexable text.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "addParents": {
              "description": "Comma-separated list of parent IDs to add.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "convert": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: This parameter has no function."
            },
            "newRevision": {
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045).",
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "ocr": {
              "default": "false",
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean"
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "emptyTrash": {
          "description": "Permanently deletes all of the user's trashed files.",
          "parameters": {
            "enforceSingleParent": {
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root."
            },
            "driveId": {
              "description": "If set, empties the trash of the provided shared drive.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "id": "drive.files.emptyTrash",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "files/trash",
          "flatPath": "files/trash"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "File"
          },
          "useMediaDownloadService": true,
          "parameterOrder": [
            "fileId"
          ],
          "supportsMediaDownload": true,
          "supportsSubscription": true,
          "id": "drive.files.get",
          "httpMethod": "GET",
          "path": "files/{fileId}",
          "flatPath": "files/{fileId}",
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "parameters": {
            "projection": {
              "description": "Deprecated: This parameter has no function.",
              "deprecated": true,
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query"
            },
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file in question.",
              "required": true,
              "type": "string"
            },
            "revisionId": {
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "updateViewedDate": {
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            }
          }
        },
        "modifyLabels": {
          "path": "files/{fileId}/modifyLabels",
          "flatPath": "files/{fileId}/modifyLabels",
          "id": "drive.files.modifyLabels",
          "httpMethod": "POST",
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file to which the labels belong.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.",
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameterOrder": [
            "fileId"
          ]
        },
        "touch": {
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "fileId": {
              "description": "The ID of the file to update.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Set the file's updated time to the current server time.",
          "path": "files/{fileId}/touch",
          "flatPath": "files/{fileId}/touch",
          "id": "drive.files.touch",
          "httpMethod": "POST"
        },
        "delete": {
          "id": "drive.files.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}",
          "flatPath": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file to delete.",
              "required": true,
              "type": "string"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root."
            }
          }
        },
        "copy": {
          "path": "files/{fileId}/copy",
          "flatPath": "files/{fileId}/copy",
          "id": "drive.files.copy",
          "httpMethod": "POST",
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "visibility": {
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`.",
              "default": "DEFAULT",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "type": "string",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file to copy.",
              "required": true,
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "timedTextTrackName": {
              "location": "query",
              "description": "The timed text track name.",
              "type": "string"
            },
            "ocrLanguage": {
              "location": "query",
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string"
            },
            "pinned": {
              "location": "query",
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.",
              "type": "boolean",
              "default": "false"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "convert": {
              "default": "false",
              "location": "query",
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "ocr": {
              "default": "false",
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean"
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "type": "string",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Creates a copy of the specified file.",
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ]
        },
        "insert": {
          "supportsMediaUpload": true,
          "parameters": {
            "useContentAsIndexableText": {
              "default": "false",
              "description": "Whether to use the content as indexable text.",
              "type": "boolean",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "convert": {
              "default": "false",
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "type": "boolean",
              "location": "query"
            },
            "ocr": {
              "default": "false",
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean"
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "type": "string",
              "location": "query"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "visibility": {
              "default": "DEFAULT",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when `convert=false`."
            },
            "ocrLanguage": {
              "location": "query",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string"
            },
            "pinned": {
              "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Creating files in multiple folders is no longer supported."
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "type": "string",
              "location": "query"
            }
          },
          "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "path": "files",
          "flatPath": "files",
          "id": "drive.files.insert",
          "httpMethod": "POST",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files"
              }
            },
            "maxSize": "5497558138880"
          },
          "request": {
            "$ref": "File"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "File"
          }
        },
        "generateCseToken": {
          "id": "drive.files.generateCseToken",
          "httpMethod": "GET",
          "path": "files/generateCseToken",
          "flatPath": "files/generateCseToken",
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "location": "query",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "parameterOrder": []
        },
        "generateIds": {
          "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
          "parameters": {
            "space": {
              "location": "query",
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)",
              "type": "string",
              "default": "drive"
            },
            "type": {
              "default": "files",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of IDs to return.",
              "maximum": "1000",
              "default": "10",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer"
            }
          },
          "id": "drive.files.generateIds",
          "httpMethod": "GET",
          "path": "files/generateIds",
          "flatPath": "files/generateIds",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "GeneratedIds"
          }
        },
        "patch": {
          "id": "drive.files.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "File"
          },
          "path": "files/{fileId}",
          "flatPath": "files/{fileId}",
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "parameters": {
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "setModifiedDate": {
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "modifiedDateBehavior": {
              "location": "query",
              "type": "string",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`."
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string",
              "location": "query"
            },
            "pinned": {
              "default": "false",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request.",
              "type": "boolean",
              "location": "query"
            },
            "removeParents": {
              "location": "query",
              "description": "Comma-separated list of parent IDs to remove.",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file to update.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "enforceSingleParent": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "type": "string",
              "location": "query"
            },
            "useContentAsIndexableText": {
              "location": "query",
              "description": "Whether to use the content as indexable text.",
              "type": "boolean",
              "default": "false"
            },
            "updateViewedDate": {
              "location": "query",
              "description": "Whether to update the view date after successfully updating the file.",
              "type": "boolean",
              "default": "true"
            },
            "addParents": {
              "description": "Comma-separated list of parent IDs to add.",
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "ocr": {
              "default": "false",
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean"
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "type": "string",
              "location": "query"
            },
            "newRevision": {
              "location": "query",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request.",
              "type": "boolean",
              "default": "true"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "convert": {
              "description": "Deprecated: This parameter has no function.",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ]
        },
        "trash": {
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "parameters": {
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "fileId": {
              "description": "The ID of the file to trash.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            }
          },
          "id": "drive.files.trash",
          "httpMethod": "POST",
          "path": "files/{fileId}/trash",
          "flatPath": "files/{fileId}/trash",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "File"
          }
        },
        "export": {
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "mimeType": {
              "description": "Required. The MIME type of the format requested for this export.",
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "id": "drive.files.export",
          "httpMethod": "GET",
          "path": "files/{fileId}/export",
          "flatPath": "files/{fileId}/export",
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "watch": {
          "parameters": {
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "updateViewedDate": {
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "revisionId": {
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file in question.",
              "required": true,
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "acknowledgeAbuse": {
              "default": "false",
              "location": "query",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "projection": {
              "location": "query",
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "deprecated": true,
              "description": "Deprecated: This parameter has no function."
            }
          },
          "description": "Subscribes to changes to a file.",
          "path": "files/{fileId}/watch",
          "flatPath": "files/{fileId}/watch",
          "id": "drive.files.watch",
          "httpMethod": "POST",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "parameterOrder": [
            "fileId"
          ],
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Channel"
          }
        },
        "list": {
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "parameters": {
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true
            },
            "corpora": {
              "location": "query",
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency.",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token for files.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "corpus": {
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "location": "query",
              "type": "string",
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ],
              "deprecated": true
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean",
              "default": "false"
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`.",
              "type": "string"
            },
            "includeTeamDriveItems": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "driveId": {
              "description": "ID of the shared drive to search.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "type": "string",
              "location": "query"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "projection": {
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "deprecated": true,
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "description": "Deprecated: This parameter has no function."
            },
            "q": {
              "location": "query",
              "description": "Query string for searching files.",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "minimum": "0",
              "type": "integer",
              "location": "query",
              "default": "100",
              "format": "int32"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            }
          },
          "id": "drive.files.list",
          "httpMethod": "GET",
          "path": "files",
          "flatPath": "files",
          "parameterOrder": [],
          "response": {
            "$ref": "FileList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "listLabels": {
          "path": "files/{fileId}/listLabels",
          "flatPath": "files/{fileId}/listLabels",
          "id": "drive.files.listLabels",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "maximum": "100",
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "default": "100",
              "format": "int32"
            }
          },
          "description": "Lists the labels on a file.",
          "response": {
            "$ref": "LabelList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ]
        }
      }
    },
    "apps": {
      "methods": {
        "get": {
          "path": "apps/{appId}",
          "flatPath": "apps/{appId}",
          "id": "drive.apps.get",
          "httpMethod": "GET",
          "parameters": {
            "appId": {
              "description": "The ID of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets a specific app.",
          "response": {
            "$ref": "App"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "appId"
          ]
        },
        "list": {
          "parameters": {
            "languageCode": {
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "type": "string",
              "location": "query"
            },
            "appFilterMimeTypes": {
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "type": "string",
              "location": "query",
              "default": ""
            },
            "appFilterExtensions": {
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "type": "string",
              "location": "query",
              "default": ""
            }
          },
          "description": "Lists a user's installed apps.",
          "path": "apps",
          "flatPath": "apps",
          "id": "drive.apps.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "response": {
            "$ref": "AppList"
          }
        }
      }
    },
    "replies": {
      "methods": {
        "get": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a reply.",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "description": "If set, this will succeed when retrieving a deleted reply.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "replyId": {
              "description": "The ID of the reply.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "drive.replies.get",
          "httpMethod": "GET",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "description": "If set, all replies, including deleted replies (with content stripped) will be returned.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "maxResults": {
              "default": "20",
              "format": "int32",
              "location": "query",
              "minimum": "0",
              "type": "integer",
              "description": "The maximum number of replies to include in the response, used for paging.",
              "maximum": "100"
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Lists all of the replies to a comment.",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "id": "drive.replies.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "CommentReplyList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "parameters": {
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "required": true,
              "type": "string"
            },
            "replyId": {
              "location": "path",
              "description": "The ID of the reply.",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates an existing reply.",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "CommentReply"
          }
        },
        "delete": {
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "replyId": {
              "description": "The ID of the reply.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deletes a reply."
        },
        "insert": {
          "path": "files/{fileId}/comments/{commentId}/replies",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "id": "drive.replies.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "CommentReply"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Creates a new reply to the given comment.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "patch": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "replyId": {
              "description": "The ID of the reply.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates an existing reply.",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CommentReply"
          }
        }
      }
    },
    "comments": {
      "methods": {
        "get": {
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "default": "false",
              "location": "query",
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
              "type": "boolean"
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets a comment by ID.",
          "path": "files/{fileId}/comments/{commentId}",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.get",
          "httpMethod": "GET"
        },
        "list": {
          "description": "Lists a file's comments.",
          "parameters": {
            "pageToken": {
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "location": "query",
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
              "type": "boolean",
              "default": "false"
            },
            "maxResults": {
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "maximum": "100",
              "default": "20",
              "format": "int32",
              "minimum": "0",
              "type": "integer",
              "location": "query"
            },
            "updatedMin": {
              "location": "query",
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
              "type": "string"
            }
          },
          "id": "drive.comments.list",
          "httpMethod": "GET",
          "path": "files/{fileId}/comments",
          "flatPath": "files/{fileId}/comments",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "CommentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Comment"
          },
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates an existing comment."
        },
        "delete": {
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deletes a comment.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "insert": {
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.comments.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "Comment"
          },
          "path": "files/{fileId}/comments",
          "flatPath": "files/{fileId}/comments",
          "description": "Creates a new comment on the given file.",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            }
          }
        },
        "patch": {
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates an existing comment.",
          "path": "files/{fileId}/comments/{commentId}",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    },
    "teamdrives": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "description": "The ID of the Team Drive",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deprecated: Use `drives.delete` instead.",
          "path": "teamdrives/{teamDriveId}",
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "TeamDrive"
          },
          "parameterOrder": [
            "requestId"
          ],
          "id": "drive.teamdrives.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "TeamDrive"
          },
          "path": "teamdrives",
          "flatPath": "teamdrives",
          "description": "Deprecated: Use `drives.insert` instead.",
          "parameters": {
            "requestId": {
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "required": true,
              "type": "string",
              "location": "query"
            }
          }
        },
        "update": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "response": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean"
            }
          },
          "description": "Deprecated: Use `drives.update` instead.",
          "path": "teamdrives/{teamDriveId}",
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "TeamDrive"
          }
        },
        "list": {
          "parameters": {
            "q": {
              "location": "query",
              "description": "Query string for searching Team Drives.",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token for Team Drives.",
              "type": "string",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean"
            },
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "default": "10",
              "format": "int32",
              "description": "Maximum number of Team Drives to return.",
              "maximum": "100"
            }
          },
          "description": "Deprecated: Use `drives.list` instead.",
          "path": "teamdrives",
          "flatPath": "teamdrives",
          "id": "drive.teamdrives.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "TeamDriveList"
          }
        },
        "get": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.get` instead.",
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "drive.teamdrives.get",
          "httpMethod": "GET",
          "path": "teamdrives/{teamDriveId}",
          "flatPath": "teamdrives/{teamDriveId}"
        }
      }
    },
    "drives": {
      "methods": {
        "unhide": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.unhide",
          "httpMethod": "POST",
          "path": "drives/{driveId}/unhide",
          "flatPath": "drives/{driveId}/unhide",
          "description": "Restores a shared drive to the default view.",
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "parameterOrder": [
            "driveId"
          ],
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items.",
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query"
            },
            "allowItemDeletion": {
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "id": "drive.drives.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}"
        },
        "insert": {
          "description": "Creates a new shared drive.",
          "parameters": {
            "requestId": {
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "id": "drive.drives.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "Drive"
          },
          "path": "drives",
          "flatPath": "drives",
          "parameterOrder": [
            "requestId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "update": {
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}",
          "id": "drive.drives.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Drive"
          },
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "description": "Updates the metadata for a shared drive.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "driveId"
          ]
        },
        "hide": {
          "id": "drive.drives.hide",
          "httpMethod": "POST",
          "path": "drives/{driveId}/hide",
          "flatPath": "drives/{driveId}/hide",
          "description": "Hides a shared drive from the default view.",
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "driveId"
          ]
        },
        "list": {
          "id": "drive.drives.list",
          "httpMethod": "GET",
          "path": "drives",
          "flatPath": "drives",
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "parameters": {
            "maxResults": {
              "default": "10",
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of shared drives to return per page.",
              "maximum": "100"
            },
            "q": {
              "description": "Query string for searching shared drives.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token for shared drives.",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean",
              "location": "query"
            }
          },
          "response": {
            "$ref": "DriveList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": []
        },
        "get": {
          "id": "drive.drives.get",
          "httpMethod": "GET",
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}",
          "description": "Gets a shared drive's metadata by ID.",
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "driveId"
          ]
        }
      }
    },
    "properties": {
      "methods": {
        "delete": {
          "path": "files/{fileId}/properties/{propertyKey}",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "propertyKey": {
              "description": "The key of the property.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "visibility": {
              "default": "private",
              "location": "query",
              "description": "The visibility of the property.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes a property.",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ]
        },
        "insert": {
          "response": {
            "$ref": "Property"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.properties.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties",
          "flatPath": "files/{fileId}/properties",
          "description": "Adds a property to a file, or updates it if it already exists.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "patch": {
          "path": "files/{fileId}/properties/{propertyKey}",
[...]
