{
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "rootUrl": "https://www.googleapis.com/",
  "protocol": "rest",
  "ownerName": "Google",
  "name": "drive",
  "discoveryVersion": "v1",
  "schemas": {
    "DriveList": {
      "id": "DriveList",
      "description": "A list of shared drives.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#driveList",
          "description": "This is always `drive#driveList`",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Drive"
          },
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        }
      }
    },
    "RevisionList": {
      "id": "RevisionList",
      "description": "A list of revisions of a file.",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#revisionList",
          "description": "This is always `drive#revisionList`.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of revisions. This field will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "items": {
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Revision"
          }
        }
      }
    },
    "Revision": {
      "id": "Revision",
      "description": "A revision of a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#revision",
          "description": "Output only. This is always `drive#revision`.",
          "type": "string"
        },
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "etag": {
          "description": "Output only. The ETag of the revision.",
          "type": "string"
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "fileSize": {
          "description": "Output only. The size of the revision in bytes. This will only be populated on files with content stored in Drive.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "downloadUrl": {
          "description": "Output only. Short term download URL for the file. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user."
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "Last time this revision was modified (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "originalFilename": {
          "description": "Output only. The original filename when this revision was created. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "pinned": {
          "description": "Whether this revision is pinned to prevent automatic purging. If not set, the revision is automatically purged 30 days after newer content is uploaded. This field can only be modified on files with content stored in Drive, excluding Docs Editors files. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter. Pinned revisions are stored indefinitely using additional storage quota, up to a maximum of 200 revisions.",
          "type": "boolean"
        },
        "exportLinks": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object"
        },
        "selfLink": {
          "description": "Output only. A link back to this revision.",
          "type": "string"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this revision.",
          "type": "string"
        },
        "published": {
          "description": "Whether this revision is published. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "mimeType": {
          "description": "Output only. The MIME type of the revision.",
          "type": "string"
        }
      }
    },
    "Property": {
      "id": "Property",
      "description": "A key-value pair attached to a file that is either public or private to an application. The following limits apply to file properties: * Maximum of 100 properties total per file * Maximum of 30 private properties per app * Maximum of 30 public properties * Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property Some resource methods (such as `properties.update`) require a `propertyKey`. Use the `properties.list` method to retrieve the key for a property.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of this property.",
          "type": "string"
        },
        "visibility": {
          "description": "The visibility of this property. Allowed values are PRIVATE (default) and PUBLIC. Private properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. The link back to this property.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#property`.",
          "type": "string",
          "default": "drive#property"
        },
        "etag": {
          "description": "Output only. ETag of the property.",
          "type": "string"
        },
        "key": {
          "annotations": {
            "required": [
              "drive.properties.insert"
            ]
          },
          "description": "The key of this property.",
          "type": "string"
        }
      }
    },
    "LabelField": {
      "id": "LabelField",
      "description": "Representation of field, which is a typed key-value pair.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `drive#labelField`.",
          "type": "string",
          "default": "drive#labelField"
        },
        "dateString": {
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          }
        },
        "selection": {
          "items": {
            "type": "string"
          },
          "description": "Only present if `valueType` is `selection`",
          "type": "array"
        },
        "id": {
          "description": "The identifier of this label field.",
          "type": "string"
        },
        "valueType": {
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`",
          "type": "string"
        },
        "integer": {
          "description": "Only present if `valueType` is `integer`.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "user": {
          "items": {
            "$ref": "User"
          },
          "description": "Only present if `valueType` is `user`.",
          "type": "array"
        },
        "text": {
          "items": {
            "type": "string"
          },
          "description": "Only present if `valueType` is `text`.",
          "type": "array"
        }
      }
    },
    "Label": {
      "id": "Label",
      "description": "Representation of a label and label fields.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "kind": {
          "default": "drive#label",
          "description": "This is always `drive#label`",
          "type": "string"
        },
        "fields": {
          "additionalProperties": {
            "$ref": "LabelField"
          },
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "type": "object"
        },
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        }
      }
    },
    "LabelFieldModification": {
      "id": "LabelFieldModification",
      "description": "A modification to a label's field.",
      "type": "object",
      "properties": {
        "setIntegerValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array"
        },
        "setTextValues": {
          "description": "Sets the value of a `text` field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setDateValues": {
          "items": {
            "format": "date",
            "type": "string"
          },
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array"
        },
        "setSelectionValues": {
          "description": "Replaces a `selection` field with these new values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setUserValues": {
          "description": "Replaces a `user` field with these new values. The values must be valid email addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "kind": {
          "default": "drive#labelFieldModification",
          "description": "This is always `drive#labelFieldModification`.",
          "type": "string"
        }
      }
    },
    "LabelList": {
      "id": "LabelList",
      "description": "A list of labels applied to a file.",
      "type": "object",
      "properties": {
        "items": {
          "description": "The list of labels.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#labelList`",
          "type": "string",
          "default": "drive#labelList"
        }
      }
    },
    "Permission": {
      "id": "Permission",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "type": "object",
      "properties": {
        "expirationDate": {
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration dates have the following restrictions: - They can only be set on user and group permissions - The date must be in the future - The date cannot be more than a year in the future - The date can only be set on drive.permissions.update or drive.permissions.patch requests",
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "description": "Output only. The name for this permission.",
          "type": "string"
        },
        "type": {
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          },
          "description": "The account type. Allowed values are: * `user` * `group` * `domain` * `anyone`",
          "type": "string"
        },
        "value": {
          "description": "The email address or domain name for the entity. This is used during inserts and is not populated in responses. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for `user` type permissions for files that are not in a shared drive.",
          "type": "boolean"
        },
        "selfLink": {
          "description": "Output only. A link back to this permission.",
          "type": "string"
        },
        "withLink": {
          "description": "Whether the link is required for this permission.",
          "type": "boolean"
        },
        "emailAddress": {
          "description": "Output only. The email address of the user or group this permission refers to. This is an output-only field which is present when the permission type is `user` or `group`.",
          "type": "string"
        },
        "photoLink": {
          "description": "Output only. A link to the profile photo, if available.",
          "type": "string"
        },
        "permissionDetails": {
          "description": "Output only. Details of whether the permissions on this item are inherited or directly on this item.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "permissionType": {
                "description": "Output only. The permission type for this user. While new values may be added in future, the following are currently possible: * `file` * `member`",
                "type": "string"
              },
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string"
              },
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated.",
                "type": "boolean"
              },
              "role": {
                "description": "Output only. The primary role for this user. While new values may be added in the future, the following are currently possible: * `organizer` * `fileOrganizer` * `writer` * `reader`",
                "type": "string"
              },
              "additionalRoles": {
                "description": "Output only. Additional roles for this user. Only `commenter` is currently possible, though more may be supported in the future.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "readOnly": true
        },
        "inheritedPermissionsDisabled": {
          "description": "When true, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        },
        "domain": {
          "description": "Output only. The domain name of the entity this permission refers to. This is an output-only field which is present when the permission type is `user`, `group` or `domain`.",
          "type": "string"
        },
        "additionalRoles": {
          "description": "Additional roles for this user. Only `commenter` is currently allowed, though more may be supported in the future.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Output only. This is always `drive#permission`.",
          "type": "string",
          "default": "drive#permission"
        },
        "role": {
          "description": "The primary role for this user. While new values may be supported in the future, the following are currently allowed: * `owner` * `organizer` * `fileOrganizer` * `writer` * `reader`",
          "type": "string",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          }
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. published and metadata are the only supported values. - published: The permission's role is published_reader. - metadata: The item is only visible to the metadata view because the item has limited access and the scope has at least read access to the parent. Note: The metadata view is currently only supported on folders. ",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions.",
          "type": "boolean"
        },
        "teamDrivePermissionDetails": {
          "description": "Output only. Deprecated: Use `permissionDetails` instead.",
          "type": "array",
          "readOnly": true,
          "deprecated": true,
          "items": {
            "type": "object",
            "properties": {
              "teamDrivePermissionType": {
                "deprecated": true,
                "description": "Output only. Deprecated: Use `permissionDetails/permissionType` instead.",
                "type": "string"
              },
              "inheritedFrom": {
                "deprecated": true,
                "description": "Output only. Deprecated: Use `permissionDetails/inheritedFrom` instead.",
                "type": "string"
              },
              "role": {
                "description": "Output only. Deprecated: Use `permissionDetails/role` instead.",
                "type": "string",
                "deprecated": true
              },
              "inherited": {
                "deprecated": true,
                "description": "Output only. Deprecated: Use `permissionDetails/inherited` instead.",
                "type": "boolean"
              },
              "additionalRoles": {
                "description": "Output only. Deprecated: Use `permissionDetails/additionalRoles` instead.",
                "type": "array",
                "deprecated": true,
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "etag": {
          "description": "Output only. The ETag of the permission.",
          "type": "string"
        },
        "authKey": {
          "description": "Output only. Deprecated.",
          "type": "string",
          "deprecated": true
        },
        "id": {
          "description": "The ID of the user this permission refers to, and identical to the `permissionId` in the About and Files resources. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        }
      }
    },
    "ChildList": {
      "id": "ChildList",
      "description": "A list of children of a file.",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#childList`.",
          "type": "string",
          "default": "drive#childList"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of children.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of children. This will be absent if the end of the children list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "items": {
          "description": "The list of children. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "ChildReference"
          }
        }
      }
    },
    "ParentList": {
      "id": "ParentList",
      "description": "A list of a file's parents.",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#parentList",
          "description": "This is always `drive#parentList`.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "ParentReference"
          },
          "description": "The list of parents.",
          "type": "array"
        }
      }
    },
    "About": {
      "id": "About",
      "description": "An item with user information and settings.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "The ETag of the item.",
          "type": "string"
        },
        "folderColorPalette": {
          "description": "The palette of allowable folder colors as RGB hex strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "permissionId": {
          "description": "The current user's ID as visible in the permissions collection.",
          "type": "string"
        },
        "remainingChangeIds": {
          "format": "int64",
          "description": "The number of remaining change ids, limited to no more than 2500.",
          "type": "string"
        },
        "user": {
          "$ref": "User",
          "description": "The authenticated user."
        },
        "quotaBytesUsedInTrash": {
          "description": "The number of quota bytes used by trashed items.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "default": "drive#about",
          "description": "This is always `drive#about`.",
          "type": "string"
        },
        "features": {
          "items": {
            "type": "object",
            "properties": {
              "featureName": {
                "description": "The name of the feature.",
                "type": "string"
              },
              "featureRate": {
                "description": "The request limit rate for this feature, in queries per second.",
                "type": "number",
                "format": "double"
              }
            }
          },
          "description": "List of additional features enabled on this account.",
          "type": "array"
        },
        "maxUploadSizes": {
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "The file type.",
                "type": "string"
              },
              "size": {
                "description": "The max upload size for this type.",
                "type": "string",
                "format": "int64"
              }
            }
          },
          "description": "List of max upload sizes for each file type. The most specific type takes precedence.",
          "type": "array"
        },
        "domainSharingPolicy": {
          "description": "Deprecated: Does not granularly represent allowlisted domains or Trust Rules. The domain sharing policy for the current user. Possible values are: * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed` Note that if the user is enrolled in Trust Rules, `disallowed` will always be returned. If sharing is restricted to allowlisted domains, either `incomingOnly` or `allowedWithWarning` will be returned, depending on whether receiving files from outside the allowlisted domains is permitted.",
          "type": "string",
          "deprecated": true
        },
        "selfLink": {
          "description": "A link back to this item.",
          "type": "string"
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "quotaBytesUsedAggregate": {
          "format": "int64",
          "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.).",
          "type": "string"
        },
        "name": {
          "description": "The name of the current user.",
          "type": "string"
        },
        "quotaBytesUsed": {
          "description": "The number of quota bytes used by Google Drive.",
          "type": "string",
          "format": "int64"
        },
        "quotaBytesTotal": {
          "format": "int64",
          "description": "The total number of quota bytes. This is only relevant when quotaType is LIMITED.",
          "type": "string"
        },
        "importFormats": {
          "items": {
            "type": "object",
            "properties": {
              "source": {
                "description": "The imported file's content type to convert from.",
                "type": "string"
              },
              "targets": {
                "description": "The possible content types to convert to.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "description": "The allowable import formats.",
          "type": "array"
        },
        "largestChangeId": {
          "description": "The largest change id.",
          "type": "string",
          "format": "int64"
        },
        "teamDriveThemes": {
          "description": "Deprecated: Use `driveThemes` instead.",
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "object",
            "properties": {
              "colorRgb": {
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "type": "string",
                "deprecated": true
              },
              "backgroundImageLink": {
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "type": "string"
              },
              "id": {
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "type": "string"
              }
            }
          }
        },
        "isCurrentAppInstalled": {
          "description": "A boolean indicating whether the authenticated app is installed by the authenticated user.",
          "type": "boolean"
        },
        "canCreateTeamDrives": {
          "deprecated": true,
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "type": "boolean"
        },
        "additionalRoleInfo": {
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "The content type that this additional role info applies to.",
                "type": "string"
              },
              "roleSets": {
                "description": "The supported additional roles per primary role.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "primaryRole": {
                      "description": "A primary permission role.",
                      "type": "string"
                    },
                    "additionalRoles": {
                      "items": {
                        "type": "string"
                      },
                      "description": "The supported additional roles with the primary role.",
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "description": "Information about supported additional roles per file type. The most specific type takes precedence.",
          "type": "array"
        },
        "rootFolderId": {
          "description": "The id of the root folder.",
          "type": "string"
        },
        "exportFormats": {
          "items": {
            "type": "object",
            "properties": {
              "source": {
                "description": "The content type to convert from.",
                "type": "string"
              },
              "targets": {
                "items": {
                  "type": "string"
                },
                "description": "The possible content types to convert to.",
                "type": "array"
              }
            }
          },
          "description": "The allowable export formats.",
          "type": "array"
        },
        "quotaType": {
          "description": "The type of the user's storage quota. Possible values are: * `LIMITED` * `UNLIMITED`",
          "type": "string"
        },
        "languageCode": {
          "description": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
          "type": "string"
        },
        "driveThemes": {
          "items": {
            "type": "object",
            "properties": {
              "colorRgb": {
                "description": "The color of this theme as an RGB hex string.",
                "type": "string"
              },
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              }
            }
          },
          "description": "A list of themes that are supported for shared drives.",
          "type": "array"
        },
        "quotaBytesByService": {
          "description": "The amount of storage quota used by different Google services.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "serviceName": {
                "description": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS.",
                "type": "string"
              },
              "bytesUsed": {
                "format": "int64",
                "description": "The storage quota bytes used by the service.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "PermissionId": {
      "id": "PermissionId",
      "description": "An ID for a user or group as seen in Permission items.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#permissionId",
          "description": "This is always `drive#permissionId`.",
          "type": "string"
        },
        "id": {
          "description": "The permission ID.",
          "type": "string"
        }
      }
    },
    "ChangeList": {
      "id": "ChangeList",
      "description": "A list of changes for a user.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Change"
          },
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "largestChangeId": {
          "description": "The current largest change ID.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "This is always `drive#changeList`.",
          "type": "string",
          "default": "drive#changeList"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of changes.",
          "type": "string"
        }
      }
    },
    "User": {
      "id": "User",
      "description": "Information about a Drive user.",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. A plain text displayable name for this user.",
          "type": "string"
        },
        "kind": {
          "default": "drive#user",
          "readOnly": true,
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "type": "string"
        },
        "isAuthenticatedUser": {
          "description": "Output only. Whether this user is the same as the authenticated user for whom the request was made.",
          "type": "boolean",
          "readOnly": true
        },
        "picture": {
          "description": "Output only. The user's profile picture.",
          "type": "object",
          "properties": {
            "url": {
              "readOnly": true,
              "description": "Output only. A URL that points to a profile picture of this user.",
              "type": "string"
            }
          },
          "readOnly": true
        },
        "permissionId": {
          "readOnly": true,
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string"
        },
        "emailAddress": {
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ParentReference": {
      "id": "ParentReference",
      "description": "A reference to a file's parent. A file can only have one parent folder; specifying multiple parents isn't supported. Some resource methods (such as `parents.get`) require a `parentId`. Use the `parents.list` method to retrieve the ID for a parent.",
      "type": "object",
      "properties": {
        "id": {
          "annotations": {
            "required": [
              "drive.parents.insert"
            ]
          },
          "description": "The ID of the parent.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "parentLink": {
          "description": "Output only. A link to the parent.",
          "type": "string"
        },
        "isRoot": {
          "description": "Output only. Whether or not the parent is the root folder.",
          "type": "boolean"
        },
        "kind": {
          "description": "Output only. This is always `drive#parentReference`.",
          "type": "string",
          "default": "drive#parentReference"
        }
      }
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "description": "A restriction for accessing the content of the file.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "systemRestricted": {
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.",
          "type": "boolean"
        },
        "restrictionDate": {
          "format": "date-time",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string"
        },
        "restrictingUser": {
          "$ref": "User",
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true."
        }
      }
    },
    "Channel": {
      "id": "Channel",
      "description": "A notification channel used to watch for resource changes.",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "expiration": {
          "format": "int64",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\".",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "type": "string",
          "default": "api#channel"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        }
      }
    },
    "ChildReference": {
      "id": "ChildReference",
      "description": "A reference to a folder's child. Some resource methods (such as `children.get`) require a `childId`. Use the `children.list` method to retrieve the ID of the child.",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the child.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.children.insert"
            ]
          }
        },
        "kind": {
          "default": "drive#childReference",
          "description": "Output only. This is always `drive#childReference`.",
          "type": "string"
        },
        "childLink": {
          "description": "Output only. A link to the child.",
          "type": "string"
        }
      }
    },
    "Comment": {
      "id": "Comment",
      "description": "A comment on a file in Google Drive.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#comment",
          "description": "This is always drive#comment.",
          "type": "string"
        },
        "context": {
          "description": "Context of a file which is being commented on.",
          "type": "object",
          "properties": {
            "value": {
              "description": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about.",
              "type": "string"
            },
            "type": {
              "description": "The MIME type of the context snippet.",
              "type": "string"
            }
          }
        },
        "anchor": {
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments).",
          "type": "string"
        },
        "fileTitle": {
          "description": "The title of the file which this comment is addressing.",
          "type": "string"
        },
        "deleted": {
          "description": "Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed.",
          "type": "boolean"
        },
        "commentId": {
          "description": "The ID of the comment.",
          "type": "string"
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "The date when this comment or any of its replies were last modified.",
          "type": "string"
        },
        "fileId": {
          "description": "The file which this comment is addressing.",
          "type": "string"
        },
        "replies": {
          "description": "Replies to this post.",
          "type": "array",
          "items": {
            "$ref": "CommentReply"
          }
        },
        "htmlContent": {
          "description": "HTML formatted content for this comment.",
          "type": "string"
        },
        "content": {
          "annotations": {
            "required": [
              "drive.comments.insert",
              "drive.comments.patch",
              "drive.comments.update"
            ]
          },
          "description": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this comment.",
          "type": "string"
        },
        "author": {
          "description": "The user who wrote this comment.",
          "$ref": "User"
        },
        "createdDate": {
          "format": "date-time",
          "description": "The date when this comment was first created.",
          "type": "string"
        },
        "status": {
          "description": "The status of this comment. Status can be changed by posting a reply to a comment with the desired status. Possible values are: * `open` - The comment is still open. * `resolved` - The comment has been resolved by one of its replies.",
          "type": "string"
        }
      }
    },
    "ModifyLabelsResponse": {
      "id": "ModifyLabelsResponse",
      "description": "Response to a ModifyLabels request. This contains only those labels which were added or updated by the request.",
      "type": "object",
      "properties": {
        "modifiedLabels": {
          "items": {
            "$ref": "Label"
          },
          "description": "The list of labels which were added or updated by the request.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `drive#modifyLabelsResponse`",
          "type": "string",
          "default": "drive#modifyLabelsResponse"
        }
      }
    },
    "CommentReply": {
      "id": "CommentReply",
      "description": "A reply to a comment on a file in Google Drive.",
      "type": "object",
      "properties": {
        "createdDate": {
          "description": "The date when this reply was first created.",
          "type": "string",
          "format": "date-time"
        },
        "author": {
          "$ref": "User",
          "description": "The user who wrote this reply."
        },
        "verb": {
          "description": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform tSo the parent comment. Possible values are: * `resolve` - To resolve a comment. * `reopen` - To reopen (un-resolve) a comment.",
          "type": "string"
        },
        "deleted": {
          "description": "Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#commentReply",
          "description": "This is always drive#commentReply.",
          "type": "string"
        },
        "htmlContent": {
          "description": "HTML formatted content for this reply.",
          "type": "string"
        },
        "content": {
          "description": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen).",
          "type": "string",
          "annotations": {
            "required": [
              "drive.replies.patch",
              "drive.replies.update"
            ]
          }
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "The date when this reply was last modified.",
          "type": "string"
        },
        "replyId": {
          "description": "The ID of the reply.",
          "type": "string"
        }
      }
    },
    "StartPageToken": {
      "id": "StartPageToken",
      "type": "object",
      "properties": {
        "startPageToken": {
          "description": "The starting page token for listing changes.",
          "type": "string"
        },
        "kind": {
          "default": "drive#startPageToken",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "type": "string"
        }
      }
    },
    "TeamDriveList": {
      "id": "TeamDriveList",
      "description": "A list of Team Drives.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "TeamDrive"
          },
          "description": "The list of Team Drives.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `drive#teamDriveList`",
          "type": "string",
          "default": "drive#teamDriveList"
        }
      }
    },
    "CommentList": {
      "id": "CommentList",
      "description": "A list of comments on a file in Google Drive.",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#commentList",
          "description": "This is always drive#commentList.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of comments.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Comment"
          },
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        }
      }
    },
    "AppList": {
      "id": "AppList",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "type": "object",
      "properties": {
        "defaultAppIds": {
          "description": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "items": {
          "description": "The list of apps.",
          "type": "array",
          "items": {
            "$ref": "App"
          }
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#appList",
          "description": "This is always `drive#appList`.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        }
      }
    },
    "App": {
      "id": "App",
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "type": "object",
      "properties": {
        "primaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "description": "The list of primary file extensions.",
          "type": "array"
        },
        "productUrl": {
          "description": "A link to the product listing for this app.",
          "type": "string"
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "supportsCreate": {
          "description": "Whether this app supports creating new objects.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#app",
          "description": "This is always `drive#app`.",
          "type": "string"
        },
        "longDescription": {
          "description": "A long description of the app.",
          "type": "string"
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "id": {
          "description": "The ID of the app.",
          "type": "string"
        },
        "supportsImport": {
          "description": "Whether this app supports importing from Docs Editors.",
          "type": "boolean"
        },
        "openUrlTemplate": {
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation.",
          "type": "string"
        },
        "secondaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "description": "The list of secondary mime types.",
          "type": "array"
        },
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "createUrl": {
          "description": "The url to create a new file with this app.",
          "type": "string"
        },
        "primaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "description": "The list of primary mime types.",
          "type": "array"
        },
        "createInFolderTemplate": {
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.",
          "type": "string"
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "hasDriveWideScope": {
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive.",
          "type": "boolean"
        },
        "secondaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "description": "The list of secondary file extensions.",
          "type": "array"
        },
        "objectType": {
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead.",
          "type": "string"
        },
        "icons": {
          "items": {
            "type": "object",
            "properties": {
              "size": {
                "format": "int32",
                "description": "Size of the icon. Represented as the maximum of the width and height.",
                "type": "integer"
              },
              "category": {
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app",
                "type": "string"
              },
              "iconUrl": {
                "description": "URL for the icon.",
                "type": "string"
              }
            }
          },
          "description": "The various icons for the app.",
          "type": "array"
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating new files when offline.",
          "type": "boolean"
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        }
      }
    },
    "Drive": {
      "id": "Drive",
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "type": "object",
      "properties": {
        "backgroundImageLink": {
          "description": "Output only. A short-lived link to this shared drive's background image.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive.",
          "type": "string"
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "type": "object",
          "properties": {
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children from folders in this shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit files in this shared drive",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy files in this shared drive.",
              "type": "boolean"
            },
            "canResetDriveRestrictions": {
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults.",
              "type": "boolean"
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to folders in this shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            }
          }
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "description": "The time at which the shared drive was created (RFC 3339 date-time).",
          "type": "string"
        },
        "name": {
          "description": "The name of this shared drive.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.drives.insert"
            ]
          }
        },
        "kind": {
          "description": "Output only. This is always `drive#drive`",
          "type": "string",
          "default": "drive#drive"
        },
        "restrictions": {
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive.",
          "type": "object",
          "properties": {
            "driveMembersOnly": {
              "description": "Whether access to items inside this shared drive is restricted to its members.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            }
          }
        },
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "type": "object",
          "properties": {
            "id": {
              "description": "The ID of an image file in Google Drive to use for the background image.",
              "type": "string"
            },
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "type": "number",
              "format": "float"
            },
            "xCoordinate": {
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number"
            },
            "width": {
              "format": "float",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number"
            }
          }
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        }
      }
    },
    "PropertyList": {
      "id": "PropertyList",
      "description": "A collection of properties, key-value pairs that are either public or private to an application.",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "The link back to this list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#propertyList`.",
          "type": "string",
          "default": "drive#propertyList"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "items": {
          "description": "The list of properties.",
          "type": "array",
          "items": {
            "$ref": "Property"
          }
        }
      }
    },
    "CommentReplyList": {
      "id": "CommentReplyList",
      "description": "A list of replies to a comment on a file in Google Drive.",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#commentReplyList`.",
          "type": "string",
          "default": "drive#commentReplyList"
        },
        "nextLink": {
          "description": "A link to the next page of replies.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "CommentReply"
          },
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        }
      }
    },
    "Change": {
      "id": "Change",
      "description": "Representation of a change to a file or shared drive.",
      "type": "object",
      "properties": {
        "drive": {
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted.",
          "$ref": "Drive"
        },
        "deleted": {
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access.",
          "type": "boolean"
        },
        "id": {
          "description": "The ID of the change.",
          "type": "string",
          "format": "int64"
        },
        "file": {
          "$ref": "File",
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
        },
        "modificationDate": {
          "description": "The time of this modification.",
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "default": "drive#change",
          "description": "This is always `drive#change`.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this change.",
          "type": "string"
        },
        "teamDrive": {
          "deprecated": true,
          "description": "Deprecated: Use `drive` instead.",
          "$ref": "TeamDrive"
        },
        "fileId": {
          "description": "The ID of the file associated with this change.",
          "type": "string"
        },
        "type": {
          "deprecated": true,
          "description": "Deprecated: Use `changeType` instead.",
          "type": "string"
        },
        "driveId": {
          "description": "The ID of the shared drive associated with this change.",
          "type": "string"
        },
        "teamDriveId": {
          "description": "Deprecated: Use `driveId` instead.",
          "type": "string",
          "deprecated": true
        },
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        }
      }
    },
    "GeneratedIds": {
      "id": "GeneratedIds",
      "description": "A list of generated IDs which can be provided in insert requests",
      "type": "object",
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs generated for the requesting user in the specified space.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `drive#generatedIds`",
          "type": "string",
          "default": "drive#generatedIds"
        },
        "space": {
          "description": "The type of file that can be created with these IDs.",
          "type": "string"
        }
      }
    },
    "LabelModification": {
      "id": "LabelModification",
      "description": "A modification to a label on a file. A LabelModification can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "type": "object",
      "properties": {
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "labelId": {
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "description": "The ID of the label to modify.",
          "type": "string"
        },
        "fieldModifications": {
          "description": "The list of modifications to this label's fields.",
          "type": "array",
          "items": {
            "$ref": "LabelFieldModification"
          }
        },
        "kind": {
          "description": "This is always `drive#labelModification`.",
          "type": "string",
          "default": "drive#labelModification"
        }
      }
    },
    "PermissionList": {
      "id": "PermissionList",
      "description": "A list of permissions associated with a file.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The list of permissions.",
          "type": "array"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#permissionList",
          "description": "This is always `drive#permissionList`.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      }
    },
    "FileList": {
      "id": "FileList",
      "description": "A list of files.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#fileList",
          "description": "This is always `drive#fileList`.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\".",
          "type": "boolean"
        },
        "nextLink": {
          "description": "A link to the next page of files.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "File"
          },
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      }
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "description": "Deprecated: Use the `drive` collection instead.",
      "type": "object",
      "properties": {
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "type": "object",
          "properties": {
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "type": "number",
              "format": "float"
            },
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number",
              "format": "float"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            }
          }
        },
        "name": {
          "description": "The name of this Team Drive.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.teamdrives.insert"
            ]
          }
        },
        "kind": {
          "description": "This is always `drive#teamDrive`",
          "type": "string",
          "default": "drive#teamDrive"
        },
        "restrictions": {
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive.",
          "type": "object",
          "properties": {
            "teamMembersOnly": {
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive.",
              "type": "boolean"
            }
          }
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive.",
          "type": "string"
        },
        "capabilities": {
          "description": "Capabilities the current user has on this Team Drive.",
          "type": "object",
          "properties": {
            "canTrashChildren": {
              "description": "Whether the current user can trash children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "description": "Whether the current user can change the background of this Team Drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canResetTeamDriveRestrictions": {
              "description": "Whether the current user can reset the Team Drive restrictions to defaults.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Whether the current user can share files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Whether the current user can edit files in this Team Drive",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Whether the current user can rename files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Whether the current user can list the children of folders in this Team Drive.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Whether the current user can copy files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamMembersOnlyRestriction": {
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Whether the current user can add children to folders in this Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role.",
              "type": "boolean"
            }
          }
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "type": "string"
        },
        "backgroundImageLink": {
          "description": "A short-lived link to this Team Drive's background image.",
          "type": "string"
        }
      }
    },
    "ModifyLabelsRequest": {
      "id": "ModifyLabelsRequest",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "type": "object",
      "properties": {
        "labelModifications": {
          "items": {
            "$ref": "LabelModification"
          },
          "description": "The list of modifications to apply to the labels on the file.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `drive#modifyLabelsRequest`.",
          "type": "string",
          "default": "drive#modifyLabelsRequest"
        }
      }
    },
    "File": {
      "id": "File",
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "type": "object",
      "properties": {
        "spaces": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of spaces which contain the file. Supported values are `drive`, `appDataFolder` and `photos`.",
          "type": "array"
        },
        "permissionIds": {
          "description": "Output only. List of permission IDs for users with access to this file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mimeType": {
          "description": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type.",
          "type": "string"
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "properties": {
          "items": {
            "$ref": "Property"
          },
          "description": "The list of properties.",
          "type": "array"
        },
        "canComment": {
          "description": "Output only. Deprecated: Use `capabilities/canComment` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials.",
          "type": "string"
        },
        "folderColorRgb": {
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette.",
          "type": "string"
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "thumbnail": {
          "description": "A thumbnail for the file. This will only be used if a standard thumbnail cannot be generated.",
          "type": "object",
          "properties": {
            "image": {
              "description": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
              "type": "string",
              "format": "byte"
            },
            "mimeType": {
              "description": "The MIME type of the thumbnail.",
              "type": "string"
            }
          }
        },
        "shortcutDetails": {
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`. Can only be set on `files.insert` requests.",
          "type": "object",
          "properties": {
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.insert` requests.",
              "type": "string"
            },
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            },
            "targetResourceKey": {
              "description": "Output only. The ResourceKey for the target file.",
              "type": "string"
            }
          }
        },
        "downloadUrl": {
          "description": "Output only. Short lived download URL for the file. This field is only populated for files with content stored in Google Drive; it is not populated for Google Docs or shortcut files.",
          "type": "string"
        },
        "labels": {
          "description": "A group of labels for the file.",
          "type": "object",
          "properties": {
            "viewed": {
              "description": "Whether this file has been viewed by this user.",
              "type": "boolean"
            },
            "starred": {
              "description": "Whether this file is starred by the user.",
              "type": "boolean"
            },
            "modified": {
              "description": "Output only. Whether the file has been modified by this user.",
              "type": "boolean"
            },
            "restricted": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead.",
              "type": "boolean"
            },
            "hidden": {
              "description": "Output only. Deprecated.",
              "type": "boolean",
              "deprecated": true
            },
            "trashed": {
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files.",
              "type": "boolean"
            }
          }
        },
        "fullFileExtension": {
          "description": "Output only. The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `Files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "canReadRevisions": {
          "description": "Output only. Deprecated: Use `capabilities/canReadRevisions` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "modifiedByMeDate": {
          "format": "date-time",
          "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date.",
          "type": "string"
        },
        "lastViewedByMeDate": {
          "format": "date-time",
          "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "defaultOpenWithLink": {
          "description": "Output only. A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used.",
          "type": "string"
        },
        "editable": {
          "deprecated": true,
          "description": "Output only. Deprecated: Use `capabilities/canEdit` instead.",
          "type": "boolean"
        },
        "thumbnailVersion": {
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "type": "string",
          "format": "int64"
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "createdDate": {
          "format": "date-time",
          "description": "Create time for this file (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this file.",
          "type": "string"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this file.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer.",
          "type": "string"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this file. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "embedLink": {
          "description": "Output only. A link for embedding the file.",
          "type": "string"
        },
        "quotaBytesUsed": {
          "description": "Output only. The number of quota bytes used by this file.",
          "type": "string",
          "format": "int64"
        },
        "ownerNames": {
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "shareable": {
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "type": "object",
          "properties": {
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there is a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata.",
              "type": "boolean"
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canChangeCopyRequiresWriterPermission": {
[...]
