{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        }
      }
    }
  },
  "basePath": "/drive/v2/",
  "batchPath": "batch/drive/v2",
  "revision": "20260311",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "name": "drive",
  "ownerName": "Google",
  "protocol": "rest",
  "servicePath": "drive/v2/",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "version": "v2",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "id": "drive:v2",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "title": "Google Drive API",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "resources": {
    "files": {
      "methods": {
        "patch": {
          "parameters": {
            "enforceSingleParent": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "updateViewedDate": {
              "description": "Whether to update the view date after successfully updating the file.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file to update."
            },
            "convert": {
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "newRevision": {
              "location": "query",
              "type": "boolean",
              "default": "true",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request."
            },
            "modifiedDateBehavior": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ]
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "addParents": {
              "location": "query",
              "type": "string",
              "description": "Comma-separated list of parent IDs to add."
            },
            "setModifiedDate": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`."
            },
            "pinned": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request."
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the content as indexable text.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "timedTextTrackName": {
              "location": "query",
              "type": "string",
              "description": "The timed text track name."
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "removeParents": {
              "location": "query",
              "type": "string",
              "description": "Comma-separated list of parent IDs to remove."
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "location": "query",
              "type": "string"
            },
            "ocr": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads."
            }
          },
          "id": "drive.files.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "flatPath": "files/{fileId}",
          "response": {
            "$ref": "File"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "path": "files/{fileId}",
          "request": {
            "$ref": "File"
          }
        },
        "export": {
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "path": "files/{fileId}/export",
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "supportsMediaDownload": true,
          "id": "drive.files.export",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/export",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "mimeType": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Required. The MIME type of the format requested for this export."
            }
          }
        },
        "modifyLabels": {
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.",
          "path": "files/{fileId}/modifyLabels",
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file to which the labels belong."
            }
          },
          "flatPath": "files/{fileId}/modifyLabels",
          "id": "drive.files.modifyLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ]
        },
        "touch": {
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}/touch",
          "description": "Set the file's updated time to the current server time.",
          "parameters": {
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "fileId": {
              "description": "The ID of the file to update.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "files/{fileId}/touch",
          "id": "drive.files.touch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ]
        },
        "listLabels": {
          "path": "files/{fileId}/listLabels",
          "description": "Lists the labels on a file.",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "LabelList"
          },
          "flatPath": "files/{fileId}/listLabels",
          "id": "drive.files.listLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID for the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "minimum": "1",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "default": "100",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "maximum": "100"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            }
          }
        },
        "trash": {
          "parameters": {
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file to trash."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "flatPath": "files/{fileId}/trash",
          "id": "drive.files.trash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "File"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "path": "files/{fileId}/trash"
        },
        "copy": {
          "parameters": {
            "pinned": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "timedTextTrackName": {
              "location": "query",
              "type": "string",
              "description": "The timed text track name."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "timedTextLanguage": {
              "location": "query",
              "type": "string",
              "description": "The language of the timed text."
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            },
            "visibility": {
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`.",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "default": "DEFAULT",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ]
            },
            "ocrLanguage": {
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file to copy.",
              "required": true
            },
            "convert": {
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "drive.files.copy",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "flatPath": "files/{fileId}/copy",
          "response": {
            "$ref": "File"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Creates a copy of the specified file.",
          "path": "files/{fileId}/copy",
          "request": {
            "$ref": "File"
          }
        },
        "list": {
          "id": "drive.files.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files",
          "parameters": {
            "includeItemsFromAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results."
            },
            "maxResults": {
              "format": "int32",
              "default": "100",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "minimum": "0"
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "location": "query",
              "type": "string"
            },
            "projection": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Deprecated: This parameter has no function.",
              "deprecated": true,
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ]
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "type": "string",
              "deprecated": true
            },
            "q": {
              "description": "Query string for searching files.",
              "location": "query",
              "type": "string"
            },
            "spaces": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`."
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includeTeamDriveItems": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "corpus": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ],
              "deprecated": true,
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead."
            },
            "corpora": {
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for files."
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "ID of the shared drive to search."
            }
          },
          "description": " Lists the user's files. For more information, see [Search for files and folders](/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "path": "files",
          "response": {
            "$ref": "FileList"
          },
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "get": {
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](/workspace/drive/api/guides/manage-downloads).",
          "path": "files/{fileId}",
          "useMediaDownloadService": true,
          "response": {
            "$ref": "File"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "supportsMediaDownload": true,
          "id": "drive.files.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}",
          "supportsSubscription": true,
          "parameters": {
            "projection": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "deprecated": true,
              "description": "Deprecated: This parameter has no function.",
              "enum": [
                "BASIC",
                "FULL"
              ]
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID for the file in question."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "updateViewedDate": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "revisionId": {
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "watch": {
          "description": "Subscribes to changes to a file.",
          "path": "files/{fileId}/watch",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "response": {
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/watch",
          "supportsSubscription": true,
          "id": "drive.files.watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "revisionId": {
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "description": "The ID for the file in question.",
              "location": "path",
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "projection": {
              "deprecated": true,
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "description": "Deprecated: This parameter has no function.",
              "enum": [
                "BASIC",
                "FULL"
              ]
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "acknowledgeAbuse": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides."
            },
            "updateViewedDate": {
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            }
          }
        },
        "insert": {
          "response": {
            "$ref": "File"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "path": "files",
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "timedTextLanguage": {
              "location": "query",
              "type": "string",
              "description": "The language of the timed text."
            },
            "pinned": {
              "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "timedTextTrackName": {
              "location": "query",
              "type": "string",
              "description": "The timed text track name."
            },
            "useContentAsIndexableText": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to use the content as indexable text."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query",
              "type": "string"
            },
            "visibility": {
              "default": "DEFAULT",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when `convert=false`.",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ]
            },
            "enforceSingleParent": {
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "convert": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to convert this file to the corresponding Docs Editors format."
            }
          },
          "flatPath": "files",
          "id": "drive.files.insert",
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files"
              }
            }
          }
        },
        "emptyTrash": {
          "flatPath": "files/trash",
          "description": "Permanently deletes all of the user's trashed files.",
          "path": "files/trash",
          "id": "drive.files.emptyTrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "driveId": {
              "description": "If set, empties the trash of the provided shared drive.",
              "location": "query",
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            }
          },
          "parameterOrder": []
        },
        "generateIds": {
          "parameters": {
            "maxResults": {
              "format": "int32",
              "maximum": "1000",
              "default": "10",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of IDs to return.",
              "minimum": "1"
            },
            "space": {
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)",
              "default": "drive",
              "location": "query",
              "type": "string"
            },
            "type": {
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)",
              "location": "query",
              "type": "string",
              "default": "files"
            }
          },
          "flatPath": "files/generateIds",
          "id": "drive.files.generateIds",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "GeneratedIds"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
          "path": "files/generateIds"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file to delete."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root."
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}",
          "flatPath": "files/{fileId}",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted."
        },
        "untrash": {
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}/untrash",
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file to untrash.",
              "required": true
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "drive.files.untrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/untrash"
        },
        "update": {
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files/{fileId}"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files/{fileId}"
              }
            }
          },
          "id": "drive.files.update",
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "flatPath": "files/{fileId}",
          "parameters": {
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "useContentAsIndexableText": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to use the content as indexable text."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "location": "query",
              "type": "string"
            },
            "pinned": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions."
            },
            "timedTextLanguage": {
              "location": "query",
              "type": "string",
              "description": "The language of the timed text."
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "removeParents": {
              "description": "Comma-separated list of parent IDs to remove.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file to update."
            },
            "convert": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: This parameter has no function."
            },
            "newRevision": {
              "location": "query",
              "type": "boolean",
              "default": "true",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045)."
            },
            "updateViewedDate": {
              "default": "true",
              "location": "query",
              "type": "boolean",
              "description": "Whether to update the view date after successfully updating the file."
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query",
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "addParents": {
              "location": "query",
              "type": "string",
              "description": "Comma-separated list of parent IDs to add."
            },
            "setModifiedDate": {
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "modifiedDateBehavior": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`."
            }
          },
          "path": "files/{fileId}",
          "request": {
            "$ref": "File"
          },
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](/workspace/drive/api/guides/manage-uploads).",
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          }
        }
      }
    },
    "replies": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "replyId": {
              "description": "The ID of the reply.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Deletes a reply.",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "response": {
            "$ref": "CommentReply"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "description": "Gets a reply.",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "includeDeleted": {
              "description": "If set, this will succeed when retrieving a deleted reply.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "replyId": {
              "required": true,
              "description": "The ID of the reply.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "drive.replies.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "request": {
            "$ref": "CommentReply"
          },
          "description": "Updates an existing reply.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "replyId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the reply."
            }
          },
          "id": "drive.replies.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "insert": {
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "id": "drive.replies.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the comment."
            }
          },
          "description": "Creates a new reply to the given comment.",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "request": {
            "$ref": "CommentReply"
          },
          "response": {
            "$ref": "CommentReply"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "list": {
          "id": "drive.replies.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "parameters": {
            "includeDeleted": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "If set, all replies, including deleted replies (with content stripped) will be returned."
            },
            "maxResults": {
              "minimum": "0",
              "description": "The maximum number of replies to include in the response, used for paging.",
              "location": "query",
              "type": "integer",
              "default": "20",
              "maximum": "100",
              "format": "int32"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Lists all of the replies to a comment.",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "response": {
            "$ref": "CommentReplyList"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "update": {
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "request": {
            "$ref": "CommentReply"
          },
          "description": "Updates an existing reply.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "replyId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the reply.",
              "required": true
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the comment."
            }
          }
        }
      }
    },
    "teamdrives": {
      "methods": {
        "insert": {
          "flatPath": "teamdrives",
          "id": "drive.teamdrives.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "required": true
            }
          },
          "description": "Deprecated: Use `drives.insert` instead.",
          "path": "teamdrives",
          "request": {
            "$ref": "TeamDrive"
          },
          "response": {
            "$ref": "TeamDrive"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "requestId"
          ]
        },
        "list": {
          "parameters": {
            "maxResults": {
              "default": "10",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "maximum": "100",
              "minimum": "1",
              "description": "Maximum number of Team Drives to return."
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching Team Drives."
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for Team Drives."
            }
          },
          "flatPath": "teamdrives",
          "id": "drive.teamdrives.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "TeamDriveList"
          },
          "path": "teamdrives",
          "description": "Deprecated: Use `drives.list` instead."
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "teamDriveId"
          ],
          "response": {
            "$ref": "TeamDrive"
          },
          "path": "teamdrives/{teamDriveId}",
          "request": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.update` instead.",
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the Team Drive"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
            }
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the Team Drive"
            }
          },
          "parameterOrder": [
            "teamDriveId"
          ],
          "id": "drive.teamdrives.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "teamdrives/{teamDriveId}",
          "flatPath": "teamdrives/{teamDriveId}",
          "description": "Deprecated: Use `drives.delete` instead."
        },
        "get": {
          "parameters": {
            "teamDriveId": {
              "required": true,
              "description": "The ID of the Team Drive",
              "location": "path",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          },
          "id": "drive.teamdrives.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "response": {
            "$ref": "TeamDrive"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.get` instead.",
          "path": "teamdrives/{teamDriveId}"
        }
      }
    },
    "children": {
      "methods": {
        "insert": {
          "description": "Inserts a file into a folder.",
          "path": "files/{folderId}/children",
          "request": {
            "$ref": "ChildReference"
          },
          "response": {
            "$ref": "ChildReference"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "folderId"
          ],
          "id": "drive.children.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{folderId}/children",
          "parameters": {
            "folderId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the folder.",
              "required": true
            },
            "enforceSingleParent": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            }
          }
        },
        "list": {
          "description": "Lists a folder's children.",
          "path": "files/{folderId}/children",
          "response": {
            "$ref": "ChildList"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "folderId"
          ],
          "flatPath": "files/{folderId}/children",
          "id": "drive.children.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching children."
            },
            "folderId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the folder.",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for children."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "default": "100",
              "format": "int32",
              "minimum": "0",
              "description": "Maximum number of children to return."
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "childId": {
              "description": "The ID of the child.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "folderId": {
              "description": "The ID of the folder.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            }
          },
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "id": "drive.children.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{folderId}/children/{childId}",
          "flatPath": "files/{folderId}/children/{childId}",
          "description": "Removes a child from a folder."
        },
        "get": {
          "parameters": {
            "childId": {
              "description": "The ID of the child.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "folderId": {
              "required": true,
              "description": "The ID of the folder.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "files/{folderId}/children/{childId}",
          "id": "drive.children.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "response": {
            "$ref": "ChildReference"
          },
          "path": "files/{folderId}/children/{childId}",
          "description": "Gets a specific child reference."
        }
      }
    },
    "drives": {
      "methods": {
        "insert": {
          "description": "Creates a new shared drive.",
          "path": "drives",
          "request": {
            "$ref": "Drive"
          },
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "requestId"
          ],
          "flatPath": "drives",
          "id": "drive.drives.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "required": true
            }
          }
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for shared drives."
            },
            "maxResults": {
              "format": "int32",
              "maximum": "100",
              "default": "10",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of shared drives to return per page.",
              "minimum": "1"
            },
            "q": {
              "description": "Query string for searching shared drives.",
              "location": "query",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned."
            }
          },
          "id": "drive.drives.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "drives",
          "response": {
            "$ref": "DriveList"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](/workspace/drive/api/guides/search-shareddrives) guide.",
          "path": "drives"
        },
        "unhide": {
          "parameters": {
            "driveId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the shared drive."
            }
          },
          "flatPath": "drives/{driveId}/unhide",
          "id": "drive.drives.unhide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "driveId"
          ],
          "description": "Restores a shared drive to the default view.",
          "path": "drives/{driveId}/unhide"
        },
        "update": {
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "driveId"
          ],
          "description": "Updates the metadata for a shared drive.",
          "path": "drives/{driveId}",
          "request": {
            "$ref": "Drive"
          },
          "parameters": {
            "driveId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the shared drive.",
              "required": true
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            }
          },
          "flatPath": "drives/{driveId}",
          "id": "drive.drives.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "driveId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the shared drive."
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            },
            "allowItemDeletion": {
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "drives/{driveId}",
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items.",
          "path": "drives/{driveId}"
        },
        "get": {
          "id": "drive.drives.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "drives/{driveId}",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            }
          },
          "description": "Gets a shared drive's metadata by ID.",
          "path": "drives/{driveId}",
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "driveId"
          ]
        },
        "hide": {
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "driveId"
          ],
          "description": "Hides a shared drive from the default view.",
          "path": "drives/{driveId}/hide",
          "parameters": {
            "driveId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the shared drive."
            }
          },
          "id": "drive.drives.hide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "drives/{driveId}/hide"
        }
      }
    },
    "properties": {
      "methods": {
        "insert": {
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "id": "drive.properties.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/properties",
          "response": {
            "$ref": "Property"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Adds a property to a file, or updates it if it already exists.",
          "path": "files/{fileId}/properties",
          "request": {
            "$ref": "Property"
          }
        },
        "list": {
          "id": "drive.properties.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/properties",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "files/{fileId}/properties",
          "description": "Lists a file's properties.",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "PropertyList"
          }
        },
        "update": {
          "parameters": {
            "propertyKey": {
              "location": "path",
              "type": "string",
              "description": "The key of the property.",
              "required": true
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "visibility": {
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "default": "private",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "Property"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "description": "Updates a property.",
          "path": "files/{fileId}/properties/{propertyKey}",
          "request": {
            "$ref": "Property"
          }
        },
        "delete": {
          "id": "drive.properties.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "path": "files/{fileId}/properties/{propertyKey}",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "description": "Deletes a property.",
          "httpMethod": "DELETE",
          "parameters": {
            "propertyKey": {
              "description": "The key of the property.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            },
            "visibility": {
              "description": "The visibility of the property.",
              "location": "query",
              "type": "string",
              "default": "private"
            }
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ]
        },
        "get": {
          "parameters": {
            "propertyKey": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The key of the property."
            },
            "visibility": {
              "description": "The visibility of the property.",
              "default": "private",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "drive.properties.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "response": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "description": "Gets a property by its key."
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "response": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "request": {
            "$ref": "Property"
          },
          "description": "Updates a property.",
          "parameters": {
            "visibility": {
              "default": "private",
              "location": "query",
              "type": "string",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "propertyKey": {
              "description": "The key of the property.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ]
        }
      }
    },
    "apps": {
      "methods": {
        "list": {
          "id": "drive.apps.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "flatPath": "apps",
          "parameters": {
            "appFilterMimeTypes": {
              "location": "query",
              "type": "string",
              "default": "",
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists."
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
            },
            "appFilterExtensions": {
              "default": "",
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists."
            }
          },
          "description": "Lists a user's installed apps.",
          "path": "apps",
          "response": {
            "$ref": "AppList"
          },
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "get": {
          "response": {
            "$ref": "App"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "appId"
          ],
          "description": "Gets a specific app.",
          "path": "apps/{appId}",
          "parameters": {
            "appId": {
              "description": "The ID of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "drive.apps.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "apps/{appId}"
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the comment.",
              "required": true
            }
          },
          "parameterOrder": [
[...]
