{
  "batchPath": "batch/drive/v2",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "id": "drive:v2",
  "ownerName": "Google",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "schemas": {
    "PermissionList": {
      "id": "PermissionList",
      "properties": {
        "kind": {
          "description": "This is always `drive#permissionList`.",
          "default": "drive#permissionList",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "description": "The list of permissions.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "description": "A list of permissions associated with a file.",
      "type": "object"
    },
    "Channel": {
      "id": "Channel",
      "properties": {
        "expiration": {
          "format": "int64",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\".",
          "type": "string"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "default": "api#channel",
          "type": "string"
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        }
      },
      "description": "A notification channel used to watch for resource changes.",
      "type": "object"
    },
    "Comment": {
      "description": "A comment on a file in Google Drive.",
      "type": "object",
      "id": "Comment",
      "properties": {
        "kind": {
          "description": "This is always drive#comment.",
          "default": "drive#comment",
          "type": "string"
        },
        "content": {
          "annotations": {
            "required": [
              "drive.comments.insert",
              "drive.comments.patch",
              "drive.comments.update"
            ]
          },
          "description": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content.",
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "description": "The date when this comment was first created.",
          "type": "string"
        },
        "replies": {
          "description": "Replies to this post.",
          "type": "array",
          "items": {
            "$ref": "CommentReply"
          }
        },
        "status": {
          "description": "The status of this comment. Status can be changed by posting a reply to a comment with the desired status. Possible values are: * `open` - The comment is still open. * `resolved` - The comment has been resolved by one of its replies.",
          "type": "string"
        },
        "htmlContent": {
          "description": "HTML formatted content for this comment.",
          "type": "string"
        },
        "author": {
          "description": "The user who wrote this comment.",
          "$ref": "User"
        },
        "fileId": {
          "description": "The file which this comment is addressing.",
          "type": "string"
        },
        "context": {
          "description": "Context of a file which is being commented on.",
          "type": "object",
          "properties": {
            "type": {
              "description": "The MIME type of the context snippet.",
              "type": "string"
            },
            "value": {
              "description": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about.",
              "type": "string"
            }
          }
        },
        "selfLink": {
          "description": "A link back to this comment.",
          "type": "string"
        },
        "commentId": {
          "description": "The ID of the comment.",
          "type": "string"
        },
        "anchor": {
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments).",
          "type": "string"
        },
        "modifiedDate": {
          "description": "The date when this comment or any of its replies were last modified.",
          "type": "string",
          "format": "date-time"
        },
        "fileTitle": {
          "description": "The title of the file which this comment is addressing.",
          "type": "string"
        },
        "deleted": {
          "description": "Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed.",
          "type": "boolean"
        }
      }
    },
    "CommentReply": {
      "id": "CommentReply",
      "properties": {
        "kind": {
          "description": "This is always drive#commentReply.",
          "default": "drive#commentReply",
          "type": "string"
        },
        "author": {
          "$ref": "User",
          "description": "The user who wrote this reply."
        },
        "content": {
          "description": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen).",
          "type": "string",
          "annotations": {
            "required": [
              "drive.replies.patch",
              "drive.replies.update"
            ]
          }
        },
        "replyId": {
          "description": "The ID of the reply.",
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "description": "The date when this reply was first created.",
          "type": "string"
        },
        "deleted": {
          "description": "Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed.",
          "type": "boolean"
        },
        "verb": {
          "description": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform tSo the parent comment. Possible values are: * `resolve` - To resolve a comment. * `reopen` - To reopen (un-resolve) a comment.",
          "type": "string"
        },
        "htmlContent": {
          "description": "HTML formatted content for this reply.",
          "type": "string"
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "The date when this reply was last modified.",
          "type": "string"
        }
      },
      "description": "A reply to a comment on a file in Google Drive.",
      "type": "object"
    },
    "User": {
      "description": "Information about a Drive user.",
      "type": "object",
      "id": "User",
      "properties": {
        "kind": {
          "readOnly": true,
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "default": "drive#user",
          "type": "string"
        },
        "isAuthenticatedUser": {
          "description": "Output only. Whether this user is the same as the authenticated user for whom the request was made.",
          "type": "boolean",
          "readOnly": true
        },
        "permissionId": {
          "readOnly": true,
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "type": "string",
          "readOnly": true
        },
        "emailAddress": {
          "readOnly": true,
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "type": "string"
        },
        "picture": {
          "readOnly": true,
          "properties": {
            "url": {
              "description": "Output only. A URL that points to a profile picture of this user.",
              "type": "string",
              "readOnly": true
            }
          },
          "description": "Output only. The user's profile picture.",
          "type": "object"
        }
      }
    },
    "App": {
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "type": "object",
      "id": "App",
      "properties": {
        "primaryMimeTypes": {
          "description": "The list of primary mime types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "primaryFileExtensions": {
          "description": "The list of primary file extensions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "secondaryFileExtensions": {
          "description": "The list of secondary file extensions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "openUrlTemplate": {
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#app`.",
          "default": "drive#app",
          "type": "string"
        },
        "supportsCreate": {
          "description": "Whether this app supports creating new objects.",
          "type": "boolean"
        },
        "hasDriveWideScope": {
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive.",
          "type": "boolean"
        },
        "id": {
          "description": "The ID of the app.",
          "type": "string"
        },
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "createUrl": {
          "description": "The url to create a new file with this app.",
          "type": "string"
        },
        "longDescription": {
          "description": "A long description of the app.",
          "type": "string"
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "createInFolderTemplate": {
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.",
          "type": "string"
        },
        "supportsImport": {
          "description": "Whether this app supports importing from Docs Editors.",
          "type": "boolean"
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating new files when offline.",
          "type": "boolean"
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "secondaryMimeTypes": {
          "description": "The list of secondary mime types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "icons": {
          "description": "The various icons for the app.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "category": {
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app",
                "type": "string"
              },
              "size": {
                "format": "int32",
                "description": "Size of the icon. Represented as the maximum of the width and height.",
                "type": "integer"
              },
              "iconUrl": {
                "description": "URL for the icon.",
                "type": "string"
              }
            }
          }
        },
        "objectType": {
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead.",
          "type": "string"
        },
        "productUrl": {
          "description": "A link to the product listing for this app.",
          "type": "string"
        }
      }
    },
    "ChildList": {
      "description": "A list of children of a file.",
      "type": "object",
      "id": "ChildList",
      "properties": {
        "items": {
          "description": "The list of children. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "ChildReference"
          }
        },
        "nextLink": {
          "description": "A link to the next page of children.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of children. This will be absent if the end of the children list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#childList`.",
          "default": "drive#childList",
          "type": "string"
        }
      }
    },
    "File": {
      "id": "File",
      "properties": {
        "canComment": {
          "description": "Output only. Deprecated: Use `capabilities/canComment` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "shortcutDetails": {
          "properties": {
            "targetResourceKey": {
              "description": "Output only. The ResourceKey for the target file.",
              "type": "string"
            },
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.insert` requests.",
              "type": "string"
            },
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            }
          },
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`. Can only be set on `files.insert` requests.",
          "type": "object"
        },
        "openWithLinks": {
          "description": "Output only. A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "exportLinks": {
          "readOnly": true,
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labelInfo": {
          "properties": {
            "labels": {
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "type": "array",
              "items": {
                "$ref": "Label"
              }
            }
          },
          "description": "Output only. An overview of the labels on the file.",
          "type": "object"
        },
        "permissionIds": {
          "description": "Output only. List of permission IDs for users with access to this file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sharedWithMeDate": {
          "format": "date-time",
          "description": "Time at which this file was shared with the user (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "inheritedPermissionsDisabled": {
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default.",
          "type": "boolean"
        },
        "createdDate": {
          "description": "Create time for this file (formatted RFC 3339 timestamp).",
          "type": "string",
          "format": "date-time"
        },
        "teamDriveId": {
          "deprecated": true,
          "description": "Output only. Deprecated: Use `driveId` instead.",
          "type": "string"
        },
        "permissions": {
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "canReadRevisions": {
          "deprecated": true,
          "description": "Output only. Deprecated: Use `capabilities/canReadRevisions` instead.",
          "type": "boolean"
        },
        "copyRequiresWriterPermission": {
          "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters.",
          "type": "boolean"
        },
        "resourceKey": {
          "description": "Output only. A key needed to access the item via a shared link.",
          "type": "string"
        },
        "fileExtension": {
          "description": "Output only. The final component of `fullFileExtension` with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "parents": {
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of an insert request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "type": "array",
          "items": {
            "$ref": "ParentReference"
          }
        },
        "markedViewedByMeDate": {
          "format": "date-time",
          "description": "Deprecated.",
          "type": "string"
        },
        "spaces": {
          "description": "Output only. The list of spaces which contain the file. Supported values are `drive`, `appDataFolder` and `photos`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "writersCanShare": {
          "description": "Whether writers can share the document with other users. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "properties": {
          "description": "The list of properties.",
          "type": "array",
          "items": {
            "$ref": "Property"
          }
        },
        "indexableText": {
          "description": "Indexable text attributes for the file (can only be written)",
          "type": "object",
          "properties": {
            "text": {
              "description": "The text to be indexed for this file.",
              "type": "string"
            }
          }
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this file. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this file.",
          "type": "string"
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this file. This field is only populated when the last modification was performed by a signed-in user."
        },
        "downloadUrl": {
          "description": "Output only. Short lived download URL for the file. This field is only populated for files with content stored in Google Drive; it is not populated for Google Docs or shortcut files.",
          "type": "string"
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `title` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "ownedByMe": {
          "description": "Output only. Whether the file is owned by the current user. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "fileSize": {
          "description": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Output only. The type of file. This is always `drive#file`.",
          "default": "drive#file",
          "type": "string"
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "type": "object",
          "properties": {
            "canCopy": {
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder.",
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canChangeRestrictedDownload": {
              "description": "Output only. Deprecated.",
              "type": "boolean",
              "deprecated": true
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction` or `canRemoveContentRestriction`.",
              "type": "boolean",
              "deprecated": true
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canDisableInheritedPermissions": {
              "readOnly": true,
              "description": "Output only. Whether a user can disable inherited permissions.",
              "type": "boolean"
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canModifyOwnerContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted.",
              "type": "boolean"
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveChildrenWithinDrive` instead.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` instead.",
              "type": "boolean"
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there is a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canEnableInheritedPermissions": {
              "description": "Output only. Whether a user can re-enable inherited permissions.",
              "type": "boolean",
              "readOnly": true
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveChildrenOutOfDrive` instead.",
              "type": "boolean"
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveTeamDriveItem": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "type": "boolean"
            },
            "canReadDrive": {
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            }
          }
        },
        "imageMediaMetadata": {
          "properties": {
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "exposureBias": {
              "description": "Output only. The exposure bias of the photo (APEX value).",
              "type": "number",
              "format": "float"
            },
            "exposureTime": {
              "description": "Output only. The length of the exposure, in seconds.",
              "type": "number",
              "format": "float"
            },
            "height": {
              "description": "Output only. The height of the image in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "date": {
              "description": "Output only. The date and time the photo was taken (EXIF format timestamp).",
              "type": "string"
            },
            "subjectDistance": {
              "format": "int32",
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "type": "integer"
            },
            "focalLength": {
              "format": "float",
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "type": "number"
            },
            "maxApertureValue": {
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "type": "number",
              "format": "float"
            },
            "colorSpace": {
              "description": "Output only. The color space of the photo.",
              "type": "string"
            },
            "cameraModel": {
              "description": "Output only. The model of the camera used to create the photo.",
              "type": "string"
            },
            "width": {
              "description": "Output only. The width of the image in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "rotation": {
              "format": "int32",
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.",
              "type": "integer"
            },
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            },
            "isoSpeed": {
              "format": "int32",
              "description": "Output only. The ISO speed used to create the photo.",
              "type": "integer"
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "sensor": {
              "description": "Output only. The type of sensor used to create the photo.",
              "type": "string"
            },
            "exposureMode": {
              "description": "Output only. The exposure mode used to create the photo.",
              "type": "string"
            },
            "location": {
              "properties": {
                "longitude": {
                  "format": "double",
                  "description": "Output only. The longitude stored in the image.",
                  "type": "number"
                },
                "latitude": {
                  "description": "Output only. The latitude stored in the image.",
                  "type": "number",
                  "format": "double"
                },
                "altitude": {
                  "format": "double",
                  "description": "Output only. The altitude stored in the image.",
                  "type": "number"
                }
              },
              "description": "Output only. Geographic location information stored in the image.",
              "type": "object"
            },
            "aperture": {
              "format": "float",
              "description": "Output only. The aperture used to create the photo (f-number).",
              "type": "number"
            }
          },
          "description": "Output only. Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content.",
          "type": "object"
        },
        "quotaBytesUsed": {
          "format": "int64",
          "description": "Output only. The number of quota bytes used by this file.",
          "type": "string"
        },
        "linkShareMetadata": {
          "properties": {
            "securityUpdateEligible": {
              "description": "Output only. Whether the file is eligible for security update.",
              "type": "boolean"
            },
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            }
          },
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "type": "object"
        },
        "fullFileExtension": {
          "description": "Output only. The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. ETag of the file.",
          "type": "string"
        },
        "lastViewedByMeDate": {
          "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp).",
          "type": "string",
          "format": "date-time"
        },
        "userPermission": {
          "$ref": "Permission",
          "description": "Output only. The permissions for the authenticated user on this file."
        },
        "labels": {
          "description": "A group of labels for the file.",
          "type": "object",
          "properties": {
            "hidden": {
              "description": "Output only. Deprecated.",
              "type": "boolean",
              "deprecated": true
            },
            "starred": {
              "description": "Whether this file is starred by the user.",
              "type": "boolean"
            },
            "modified": {
              "description": "Output only. Whether the file has been modified by this user.",
              "type": "boolean"
            },
            "viewed": {
              "description": "Whether this file has been viewed by this user.",
              "type": "boolean"
            },
            "trashed": {
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files.",
              "type": "boolean"
            },
            "restricted": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead.",
              "type": "boolean"
            }
          }
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `Files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "webViewLink": {
          "description": "Output only. A link only available on public folders for viewing their static web assets (HTML, CSS, JS, etc) via Google Drive's Website Hosting.",
          "type": "string"
        },
        "shareable": {
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "isAppAuthorized": {
          "description": "Output only. Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "defaultOpenWithLink": {
          "description": "Output only. A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used.",
          "type": "string"
        },
        "editable": {
          "deprecated": true,
          "description": "Output only. Deprecated: Use `capabilities/canEdit` instead.",
          "type": "boolean"
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "ownerNames": {
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "copyable": {
          "description": "Output only. Deprecated: Use `capabilities/canCopy` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "explicitlyTrashed": {
          "description": "Output only. Whether this file has been explicitly trashed, as opposed to recursively trashed.",
          "type": "boolean"
        },
        "iconLink": {
          "description": "Output only. A link to the file's icon.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer.",
          "type": "string"
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "trashedDate": {
          "format": "date-time",
          "description": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for items in shared drives.",
          "type": "string"
        },
        "videoMediaMetadata": {
          "properties": {
            "durationMillis": {
              "format": "int64",
              "description": "Output only. The duration of the video in milliseconds.",
              "type": "string"
            },
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "height": {
              "description": "Output only. The height of the video in pixels.",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Output only. Metadata about video media. This will only be present for video types.",
          "type": "object"
        },
        "selfLink": {
          "description": "Output only. A link back to this file.",
          "type": "string"
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "sha1Checksum": {
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "appDataContents": {
          "description": "Output only. Whether this file is in the Application Data folder.",
          "type": "boolean"
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "sha256Checksum": {
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "embedLink": {
          "description": "Output only. A link for embedding the file.",
          "type": "string"
        },
        "modifiedByMeDate": {
          "format": "date-time",
          "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date.",
          "type": "string"
        },
        "thumbnail": {
          "description": "A thumbnail for the file. This will only be used if a standard thumbnail cannot be generated.",
          "type": "object",
          "properties": {
            "image": {
              "description": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
              "type": "string",
              "format": "byte"
            },
            "mimeType": {
              "description": "The MIME type of the thumbnail.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        },
        "modifiedDate": {
          "description": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set.",
          "type": "string",
          "format": "date-time"
        },
        "version": {
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user.",
          "type": "string",
          "format": "int64"
        },
        "folderColorRgb": {
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette.",
          "type": "string"
        },
        "thumbnailVersion": {
          "format": "int64",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "type": "string"
        },
        "sharingUser": {
          "description": "Output only. User that shared the item with the current user, if available.",
          "$ref": "User"
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials.",
          "type": "string"
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "title": {
          "description": "The title of this file. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the title is constant.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type.",
          "type": "string"
        },
        "contentRestrictions": {
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "type": "array",
          "items": {
            "$ref": "ContentRestriction"
          }
        }
      },
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "type": "object"
    },
    "Drive": {
      "id": "Drive",
      "properties": {
        "createdDate": {
          "description": "The time at which the shared drive was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "backgroundImageLink": {
          "description": "Output only. A short-lived link to this shared drive's background image.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#drive`",
          "default": "drive#drive",
          "type": "string"
        },
        "capabilities": {
          "properties": {
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit files in this shared drive",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canResetDriveRestrictions": {
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to folders in this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy files in this shared drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role.",
              "type": "boolean"
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children from folders in this shared drive.",
              "type": "boolean"
            }
          },
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "type": "object"
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "type": "object",
          "properties": {
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "type": "number",
              "format": "float"
            },
            "width": {
              "format": "float",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            },
            "id": {
              "description": "The ID of an image file in Google Drive to use for the background image.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive.",
          "type": "string"
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "restrictions": {
          "properties": {
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            },
            "driveMembersOnly": {
              "description": "Whether access to items inside this shared drive is restricted to its members.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive.",
              "type": "boolean"
            }
          },
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive.",
          "type": "object"
        },
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "name": {
          "annotations": {
            "required": [
              "drive.drives.insert"
            ]
          },
          "description": "The name of this shared drive.",
          "type": "string"
        }
      },
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "type": "object"
    },
    "ParentList": {
      "description": "A list of a file's parents.",
      "type": "object",
      "id": "ParentList",
      "properties": {
        "kind": {
          "description": "This is always `drive#parentList`.",
          "default": "drive#parentList",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "description": "The list of parents.",
          "type": "array",
          "items": {
            "$ref": "ParentReference"
          }
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      }
    },
    "CommentList": {
      "id": "CommentList",
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        },
        "nextLink": {
          "description": "A link to the next page of comments.",
          "type": "string"
        },
        "kind": {
          "description": "This is always drive#commentList.",
          "default": "drive#commentList",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "description": "A list of comments on a file in Google Drive.",
      "type": "object"
    },
    "ParentReference": {
      "id": "ParentReference",
      "properties": {
        "id": {
          "description": "The ID of the parent.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.parents.insert"
            ]
          }
        },
        "isRoot": {
          "description": "Output only. Whether or not the parent is the root folder.",
          "type": "boolean"
        },
        "parentLink": {
          "description": "Output only. A link to the parent.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#parentReference`.",
          "default": "drive#parentReference",
          "type": "string"
        }
      },
      "description": "A reference to a file's parent. A file can only have one parent folder; specifying multiple parents isn't supported. Some resource methods (such as `parents.get`) require a `parentId`. Use the `parents.list` method to retrieve the ID for a parent.",
      "type": "object"
    },
    "LabelFieldModification": {
      "description": "A modification to a label's field.",
      "type": "object",
      "id": "LabelFieldModification",
      "properties": {
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "setSelectionValues": {
          "description": "Replaces a `selection` field with these new values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setIntegerValues": {
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "setUserValues": {
          "description": "Replaces a `user` field with these new values. The values must be valid email addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setTextValues": {
          "description": "Sets the value of a `text` field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always `drive#labelFieldModification`.",
          "default": "drive#labelFieldModification",
          "type": "string"
        },
        "setDateValues": {
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          }
        }
      }
    },
    "PermissionId": {
      "id": "PermissionId",
      "properties": {
        "kind": {
          "description": "This is always `drive#permissionId`.",
          "default": "drive#permissionId",
          "type": "string"
        },
        "id": {
          "description": "The permission ID.",
          "type": "string"
        }
      },
      "description": "An ID for a user or group as seen in Permission items.",
      "type": "object"
    },
    "Property": {
      "description": "A key-value pair attached to a file that is either public or private to an application. The following limits apply to file properties: * Maximum of 100 properties total per file * Maximum of 30 private properties per app * Maximum of 30 public properties * Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property Some resource methods (such as `properties.update`) require a `propertyKey`. Use the `properties.list` method to retrieve the key for a property.",
      "type": "object",
      "id": "Property",
      "properties": {
        "kind": {
          "description": "Output only. This is always `drive#property`.",
          "default": "drive#property",
          "type": "string"
        },
        "visibility": {
          "description": "The visibility of this property. Allowed values are PRIVATE (default) and PUBLIC. Private properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. ETag of the property.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. The link back to this property.",
          "type": "string"
        },
        "value": {
          "description": "The value of this property.",
          "type": "string"
        },
        "key": {
          "annotations": {
            "required": [
              "drive.properties.insert"
            ]
          },
          "description": "The key of this property.",
          "type": "string"
        }
      }
    },
    "LabelField": {
      "id": "LabelField",
      "properties": {
        "kind": {
          "description": "This is always `drive#labelField`.",
          "default": "drive#labelField",
          "type": "string"
        },
        "selection": {
          "description": "Only present if `valueType` is `selection`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "text": {
          "description": "Only present if `valueType` is `text`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dateString": {
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "format": "date",
            "type": "string"
          }
        },
        "integer": {
          "description": "Only present if `valueType` is `integer`.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "id": {
          "description": "The identifier of this label field.",
          "type": "string"
        },
        "valueType": {
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`",
          "type": "string"
        },
        "user": {
          "description": "Only present if `valueType` is `user`.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      },
      "description": "Representation of field, which is a typed key-value pair.",
      "type": "object"
    },
    "FileList": {
      "description": "A list of files.",
      "type": "object",
      "id": "FileList",
      "properties": {
        "kind": {
          "description": "This is always `drive#fileList`.",
          "default": "drive#fileList",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\".",
          "type": "boolean"
        },
        "nextLink": {
          "description": "A link to the next page of files.",
          "type": "string"
        }
      }
    },
    "LabelList": {
      "description": "A list of labels applied to a file.",
      "type": "object",
      "id": "LabelList",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "items": {
          "description": "The list of labels.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "kind": {
          "description": "This is always `drive#labelList`",
          "default": "drive#labelList",
          "type": "string"
        }
      }
    },
    "PropertyList": {
      "description": "A collection of properties, key-value pairs that are either public or private to an application.",
      "type": "object",
      "id": "PropertyList",
      "properties": {
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "items": {
          "description": "The list of properties.",
          "type": "array",
          "items": {
            "$ref": "Property"
          }
        },
        "kind": {
          "description": "This is always `drive#propertyList`.",
          "default": "drive#propertyList",
          "type": "string"
        },
        "selfLink": {
          "description": "The link back to this list.",
          "type": "string"
        }
      }
    },
    "About": {
      "description": "An item with user information and settings.",
      "type": "object",
      "id": "About",
      "properties": {
        "folderColorPalette": {
          "description": "The palette of allowable folder colors as RGB hex strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isCurrentAppInstalled": {
          "description": "A boolean indicating whether the authenticated app is installed by the authenticated user.",
          "type": "boolean"
        },
        "exportFormats": {
          "description": "The allowable export formats.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "source": {
                "description": "The content type to convert from.",
                "type": "string"
              },
              "targets": {
                "description": "The possible content types to convert to.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "driveThemes": {
          "description": "A list of themes that are supported for shared drives.",
          "type": "array",
          "items": {
            "properties": {
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              },
              "colorRgb": {
                "description": "The color of this theme as an RGB hex string.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "description": "This is always `drive#about`.",
          "default": "drive#about",
          "type": "string"
        },
        "quotaType": {
          "description": "The type of the user's storage quota. Possible values are: * `LIMITED` * `UNLIMITED`",
          "type": "string"
        },
        "rootFolderId": {
          "description": "The id of the root folder.",
          "type": "string"
        },
        "quotaBytesUsed": {
          "description": "The number of quota bytes used by Google Drive.",
          "type": "string",
          "format": "int64"
        },
        "maxUploadSizes": {
          "description": "List of max upload sizes for each file type. The most specific type takes precedence.",
          "type": "array",
          "items": {
            "properties": {
              "type": {
                "description": "The file type.",
                "type": "string"
              },
              "size": {
                "description": "The max upload size for this type.",
                "type": "string",
                "format": "int64"
              }
            },
            "type": "object"
          }
        },
        "importFormats": {
          "description": "The allowable import formats.",
          "type": "array",
          "items": {
            "properties": {
              "targets": {
                "description": "The possible content types to convert to.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "source": {
                "description": "The imported file's content type to convert from.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "user": {
          "$ref": "User",
          "description": "The authenticated user."
        },
        "quotaBytesTotal": {
          "format": "int64",
          "description": "The total number of quota bytes. This is only relevant when quotaType is LIMITED.",
          "type": "string"
        },
        "permissionId": {
          "description": "The current user's ID as visible in the permissions collection.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the item.",
          "type": "string"
        },
        "name": {
          "description": "The name of the current user.",
          "type": "string"
        },
        "canCreateTeamDrives": {
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "domainSharingPolicy": {
          "description": "Deprecated: Does not granularly represent allowlisted domains or Trust Rules. The domain sharing policy for the current user. Possible values are: * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed` Note that if the user is enrolled in Trust Rules, `disallowed` will always be returned. If sharing is restricted to allowlisted domains, either `incomingOnly` or `allowedWithWarning` will be returned, depending on whether receiving files from outside the allowlisted domains is permitted.",
          "type": "string",
          "deprecated": true
        },
        "quotaBytesUsedInTrash": {
          "format": "int64",
          "description": "The number of quota bytes used by trashed items.",
          "type": "string"
        },
        "quotaBytesByService": {
          "description": "The amount of storage quota used by different Google services.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "serviceName": {
                "description": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS.",
                "type": "string"
              },
              "bytesUsed": {
                "description": "The storage quota bytes used by the service.",
                "type": "string",
                "format": "int64"
              }
            }
          }
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "features": {
          "description": "List of additional features enabled on this account.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "featureName": {
                "description": "The name of the feature.",
                "type": "string"
              },
              "featureRate": {
                "description": "The request limit rate for this feature, in queries per second.",
                "type": "number",
                "format": "double"
              }
            }
          }
        },
        "additionalRoleInfo": {
          "description": "Information about supported additional roles per file type. The most specific type takes precedence.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "The content type that this additional role info applies to.",
                "type": "string"
              },
              "roleSets": {
                "description": "The supported additional roles per primary role.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "primaryRole": {
                      "description": "A primary permission role.",
                      "type": "string"
                    },
                    "additionalRoles": {
                      "description": "The supported additional roles with the primary role.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "teamDriveThemes": {
          "deprecated": true,
          "description": "Deprecated: Use `driveThemes` instead.",
          "type": "array",
          "items": {
            "properties": {
              "backgroundImageLink": {
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "type": "string"
              },
              "id": {
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "type": "string",
                "deprecated": true
              },
              "colorRgb": {
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "selfLink": {
          "description": "A link back to this item.",
          "type": "string"
        },
        "largestChangeId": {
          "format": "int64",
          "description": "The largest change id.",
          "type": "string"
        },
        "remainingChangeIds": {
          "format": "int64",
          "description": "The number of remaining change ids, limited to no more than 2500.",
          "type": "string"
        },
        "languageCode": {
          "description": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
          "type": "string"
        },
        "quotaBytesUsedAggregate": {
          "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ModifyLabelsRequest": {
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "type": "object",
      "id": "ModifyLabelsRequest",
      "properties": {
        "kind": {
          "description": "This is always `drive#modifyLabelsRequest`.",
          "default": "drive#modifyLabelsRequest",
          "type": "string"
        },
        "labelModifications": {
          "description": "The list of modifications to apply to the labels on the file.",
          "type": "array",
          "items": {
            "$ref": "LabelModification"
          }
        }
      }
    },
    "AppList": {
      "id": "AppList",
      "properties": {
        "items": {
          "description": "The list of apps.",
          "type": "array",
          "items": {
            "$ref": "App"
          }
        },
        "defaultAppIds": {
          "description": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#appList`.",
          "default": "drive#appList",
          "type": "string"
        }
      },
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "type": "object"
    },
    "GeneratedIds": {
      "id": "GeneratedIds",
      "properties": {
        "space": {
          "description": "The type of file that can be created with these IDs.",
          "type": "string"
        },
        "ids": {
          "description": "The IDs generated for the requesting user in the specified space.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "This is always `drive#generatedIds`",
          "default": "drive#generatedIds",
          "type": "string"
        }
      },
      "description": "A list of generated IDs which can be provided in insert requests",
      "type": "object"
    },
    "Change": {
      "id": "Change",
      "properties": {
        "drive": {
          "$ref": "Drive",
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted."
        },
        "selfLink": {
          "description": "A link back to this change.",
          "type": "string"
        },
        "driveId": {
          "description": "The ID of the shared drive associated with this change.",
          "type": "string"
        },
        "fileId": {
          "description": "The ID of the file associated with this change.",
          "type": "string"
        },
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        },
        "deleted": {
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access.",
          "type": "boolean"
        },
        "file": {
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes.",
          "$ref": "File"
        },
        "id": {
          "description": "The ID of the change.",
          "type": "string",
          "format": "int64"
        },
        "teamDriveId": {
          "description": "Deprecated: Use `driveId` instead.",
          "type": "string",
          "deprecated": true
        },
        "modificationDate": {
          "format": "date-time",
          "description": "The time of this modification.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#change`.",
          "default": "drive#change",
          "type": "string"
        },
        "type": {
          "deprecated": true,
          "description": "Deprecated: Use `changeType` instead.",
          "type": "string"
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "deprecated": true,
          "description": "Deprecated: Use `drive` instead."
        }
      },
      "description": "Representation of a change to a file or shared drive.",
      "type": "object"
    },
    "Revision": {
      "id": "Revision",
      "properties": {
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#revision`.",
          "default": "drive#revision",
          "type": "string"
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "originalFilename": {
          "description": "Output only. The original filename when this revision was created. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "fileSize": {
          "description": "Output only. The size of the revision in bytes. This will only be populated on files with content stored in Drive.",
          "type": "string",
          "format": "int64"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "downloadUrl": {
          "description": "Output only. Short term download URL for the file. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "mimeType": {
          "description": "Output only. The MIME type of the revision.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this revision.",
          "type": "string"
        },
        "published": {
          "description": "Whether this revision is published. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this revision.",
          "type": "string"
        },
        "pinned": {
          "description": "Whether this revision is pinned to prevent automatic purging. If not set, the revision is automatically purged 30 days after newer content is uploaded. This field can only be modified on files with content stored in Drive, excluding Docs Editors files. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter. Pinned revisions are stored indefinitely using additional storage quota, up to a maximum of 200 revisions.",
          "type": "boolean"
        },
        "etag": {
          "description": "Output only. The ETag of the revision.",
          "type": "string"
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "Last time this revision was modified (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        }
      },
      "description": "A revision of a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "type": "object"
    },
    "ContentRestriction": {
      "description": "A restriction for accessing the content of the file.",
      "type": "object",
      "id": "ContentRestriction",
      "properties": {
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        },
        "systemRestricted": {
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.",
          "type": "boolean"
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        },
        "restrictionDate": {
          "format": "date-time",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string"
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "restrictingUser": {
          "$ref": "User",
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true."
        }
      }
    },
    "ChangeList": {
      "id": "ChangeList",
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Change"
          }
        },
        "largestChangeId": {
          "format": "int64",
          "description": "The current largest change ID.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of changes.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#changeList`.",
          "default": "drive#changeList",
          "type": "string"
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      },
      "description": "A list of changes for a user.",
      "type": "object"
    },
    "CommentReplyList": {
      "description": "A list of replies to a comment on a file in Google Drive.",
      "type": "object",
      "id": "CommentReplyList",
      "properties": {
        "items": {
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "CommentReply"
          }
        },
        "nextLink": {
          "description": "A link to the next page of replies.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#commentReplyList`.",
          "default": "drive#commentReplyList",
          "type": "string"
        }
      }
    },
    "RevisionList": {
      "description": "A list of revisions of a file.",
      "type": "object",
      "id": "RevisionList",
      "properties": {
        "kind": {
          "description": "This is always `drive#revisionList`.",
          "default": "drive#revisionList",
          "type": "string"
        },
        "nextPageToken": {
[...]
