{
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "canonicalName": "Drive Labels",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.labels.readonly": {
          "description": "See your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.admin.labels.readonly": {
          "description": "See all Google Drive labels and label-related admin policies in your organization"
        },
        "https://www.googleapis.com/auth/drive.admin.labels": {
          "description": "See, edit, create, and delete all Google Drive labels in your organization, and see your organization's label-related admin policies"
        },
        "https://www.googleapis.com/auth/drive.labels": {
          "description": "See, edit, create, and delete your Google Drive labels"
        }
      }
    }
  },
  "description": "An API for managing Drive Labels",
  "protocol": "rest",
  "servicePath": "",
  "batchPath": "batch",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "schemas": {
    "GoogleAppsDriveLabelsV2betaListLabelsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        },
        "labels": {
          "description": "Labels.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          }
        }
      },
      "description": "Response for listing labels."
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities": {
      "properties": {
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can update this choice."
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this choice."
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this choice."
        },
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
      "type": "object",
      "description": "The capabilities related to this choice when editing the choice."
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities": {
      "description": "The capabilities related to this choice on applied metadata.",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
      "type": "object",
      "properties": {
        "canSelect": {
          "type": "boolean",
          "description": "Whether the user can select this choice on an item."
        },
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read related applied metadata on items."
        },
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "description": "A single response from an update.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse",
      "type": "object",
      "properties": {
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse"
        },
        "createSelectionChoice": {
          "description": "Creates a selection list option to add to a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse"
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a choice from a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy": {
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "id": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
      "type": "object",
      "properties": {
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        },
        "showInApply": {
          "type": "boolean",
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse": {
      "description": "Response following field disable.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelProperties": {
      "id": "GoogleAppsDriveLabelsV2betaLabelProperties",
      "type": "object",
      "properties": {
        "title": {
          "description": "Required. Title of the label.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the label."
        }
      },
      "description": "Basic properties of the label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest": {
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest"
          },
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`.",
          "type": "string"
        },
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest",
      "type": "object",
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The server-generated ID of the created choice within the field."
        },
        "fieldId": {
          "type": "string",
          "description": "The server-generated ID of the field."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "type": "object",
      "description": "Response following selection choice create."
    },
    "GoogleAppsDriveLabelsV2betaFieldProperties": {
      "id": "GoogleAppsDriveLabelsV2betaFieldProperties",
      "type": "object",
      "properties": {
        "insertBeforeField": {
          "type": "string",
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list."
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "required": {
          "type": "boolean",
          "description": "Whether the field should be marked as required."
        }
      },
      "description": "The basic properties of the field."
    },
    "GoogleAppsDriveLabelsV2betaLabelLimits": {
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "id": "GoogleAppsDriveLabelsV2betaLabelLimits",
      "type": "object",
      "properties": {
        "maxDeletedFields": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of published fields that can be deleted."
        },
        "maxFields": {
          "description": "The maximum number of fields allowed within the label.",
          "format": "int32",
          "type": "integer"
        },
        "maxDraftRevisions": {
          "type": "integer",
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "format": "int32"
        },
        "maxDescriptionLength": {
          "description": "The maximum number of characters allowed for the description.",
          "format": "int32",
          "type": "integer"
        },
        "fieldLimits": {
          "description": "The limits for fields.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldLimits"
        },
        "name": {
          "type": "string",
          "description": "Resource name."
        },
        "maxTitleLength": {
          "format": "int32",
          "description": "The maximum number of characters allowed for the title.",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "id": {
          "type": "string",
          "description": "Required. The field to update."
        },
        "properties": {
          "description": "Required. Basic field properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        }
      },
      "description": "Request to update field properties."
    },
    "GoogleAppsDriveLabelsV2betaUserInfo": {
      "description": "Information about a user.",
      "properties": {
        "person": {
          "type": "string",
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUserInfo",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBadgeColors": {
      "properties": {
        "foregroundColor": {
          "description": "Output only. Badge foreground that pairs with the background.",
          "$ref": "GoogleTypeColor",
          "readOnly": true
        },
        "soloColor": {
          "description": "Output only. Color that can be used for text without a background.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        },
        "backgroundColor": {
          "description": "Output only. Badge background that pairs with the foreground.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBadgeColors",
      "type": "object",
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest",
      "type": "object",
      "properties": {
        "disableField": {
          "description": "Disables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest"
        },
        "createSelectionChoice": {
          "description": "Create a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest"
        },
        "updateSelectionChoiceProperties": {
          "description": "Update a choice property within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
        },
        "deleteSelectionChoice": {
          "description": "Delete a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
        },
        "updateFieldType": {
          "description": "Update field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest"
        },
        "updateLabel": {
          "description": "Updates the label properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        },
        "enableSelectionChoice": {
          "description": "Enable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest"
        },
        "disableSelectionChoice": {
          "description": "Disable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest"
        },
        "enableField": {
          "description": "Enables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest"
        }
      },
      "description": "A single kind of update to apply to a label."
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptions": {
      "properties": {
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        },
        "choices": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
          },
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
      "type": "object",
      "description": "Options for the selection field type."
    },
    "GoogleAppsDriveLabelsV2betaFieldDisplayHints": {
      "description": "UI display hints for rendering a field.",
      "id": "GoogleAppsDriveLabelsV2betaFieldDisplayHints",
      "type": "object",
      "properties": {
        "required": {
          "description": "Whether the field should be shown as required in the UI.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "description": "This field should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This field should be shown in the apply menu when applying values to a Drive item."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice delete."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "type": "object",
      "properties": {},
      "description": "Response following choice enable."
    },
    "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Label permission resource name."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest",
      "type": "object",
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
    },
    "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities": {
      "description": "The capabilities related to this label when editing the label.",
      "id": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities",
      "type": "object",
      "properties": {
        "canUpdate": {
          "description": "Whether the user can change this label.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled."
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice disable."
    },
    "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities": {
      "properties": {
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
      "type": "object",
      "description": "The capabilities related to this field when editing the field."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest": {
      "description": "Request to enable the field.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the field to enable."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabel": {
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "id": "GoogleAppsDriveLabelsV2betaLabel",
      "type": "object",
      "properties": {
        "appliedLabelPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
          "readOnly": true,
          "description": "Output only. Behavior of this label when it's applied to Drive items."
        },
        "revisionCreateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this label revision was created."
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        },
        "lifecycle": {
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "readOnly": true
        },
        "learnMoreUri": {
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used.",
          "type": "string"
        },
        "labelType": {
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ],
          "description": "Required. The type of label.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below."
        },
        "disabler": {
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>"
        },
        "createTime": {
          "description": "Output only. The time this label was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "readOnly": true,
          "type": "string"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering the label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelDisplayHints"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
          "readOnly": true
        },
        "revisionCreator": {
          "description": "Output only. The user who created this label revision.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "customer": {
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`.",
          "readOnly": true,
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaField"
          },
          "description": "List of fields in descending priority order."
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`."
        },
        "lockStatus": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "description": "Output only. The `LockStatus` of this label."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`."
        },
        "schemaCapabilities": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities",
          "description": "Output only. The capabilities the user has on this label."
        },
        "enabledAppSettings": {
          "description": "Optional. The `EnabledAppSettings` for this Label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        },
        "disableTime": {
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who created this label."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaSelectionLimits": {
      "description": "Limits for selection field type.",
      "properties": {
        "maxDeletedChoices": {
          "type": "integer",
          "description": "Maximum number of deleted choices.",
          "format": "int32"
        },
        "maxIdLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum ID length for a selection option."
        },
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits"
        },
        "maxDisplayNameLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum length for display name."
        },
        "maxChoices": {
          "type": "integer",
          "description": "Maximum number of choices.",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaSelectionLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "description": "Request to create a selection choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be created.",
          "type": "string"
        },
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp": {
      "properties": {
        "app": {
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ],
          "description": "Optional. The name of the app.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp",
      "type": "object",
      "description": "An app where the label can be used."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "type": "object",
      "description": "Response following update to label properties."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
      "type": "object",
      "description": "Response following field enable."
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest": {
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "useAdminAccess": {
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned."
        },
        "enabledAppSettings": {
          "description": "Required. The new `EnabledAppSettings` value for the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        }
      },
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest": {
      "description": "Request to create a field within a label.",
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaField"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest": {
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest",
      "type": "object",
      "properties": {
        "copyMode": {
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "view": {
          "type": "string",
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be enabled."
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to enable."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "type": "object",
      "description": "Request to enable a choice."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse": {
      "description": "Response following field delete.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaTextLimits": {
      "description": "Limits for text field type.",
      "id": "GoogleAppsDriveLabelsV2betaTextLimits",
      "type": "object",
      "properties": {
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum length allowed for a text field type."
        },
        "maxLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum length allowed for a text field type."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelDisplayHints": {
      "properties": {
        "priority": {
          "type": "string",
          "description": "The order to display labels in a list.",
          "format": "int64"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the label should be shown in the UI as disabled."
        },
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This label should be shown in the apply menu when applying values to a Drive item."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
      "type": "object",
      "description": "The UI display hints for rendering the label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "Updates basic properties of a label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "description": "Response following update to selection choice properties.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "type": "object",
      "properties": {
        "priority": {
          "format": "int32",
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest": {
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest",
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent label resource name."
        },
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the option should be shown in the UI as disabled."
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This option should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "description": "This option should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        },
        "badgePriority": {
          "format": "int64",
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "type": "string"
        },
        "badgeColors": {
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        }
      },
      "description": "UI display hints for rendering an option."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "properties": {
        "priority": {
          "type": "integer",
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "type": "object",
      "description": "Response following update to field properties."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "type": "object",
      "properties": {
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "integerOptions": {
          "description": "Update field to Integer.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        },
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "userOptions": {
          "description": "Update field to User.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions"
        },
        "id": {
          "type": "string",
          "description": "Required. The field to update."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        }
      },
      "description": "Request to change the type of a field."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "description": "Request to update a choice property.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field to update."
        },
        "properties": {
          "description": "Required. The choice properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "id": {
          "description": "Required. The choice to update.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
      "type": "object",
      "properties": {
        "disabledPolicy": {
          "description": "Required. Field disabled policy.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Key of the field to disable."
        }
      },
      "description": "Request to disable the field."
    },
    "GoogleAppsDriveLabelsV2betaDateLimits": {
      "description": "Limits for date field type.",
      "properties": {
        "minValue": {
          "description": "Minimum value for the date field type.",
          "$ref": "GoogleTypeDate"
        },
        "maxValue": {
          "description": "Maximum value for the date field type.",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDateLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaWriteControl": {
      "description": "Provides control over how write requests are executed. When not specified, the last write wins.",
      "properties": {
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaWriteControl",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLifecycle": {
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "description": "Output only. The state of the object associated with this lifecycle.",
          "readOnly": true
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        },
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLifecycle",
      "type": "object"
    },
    "GoogleTypeColor": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "id": "GoogleTypeColor",
      "type": "object",
      "properties": {
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "blue": {
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "red": {
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "alpha": {
          "type": "number",
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaIntegerLimits": {
      "id": "GoogleAppsDriveLabelsV2betaIntegerLimits",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "Minimum value for an integer field type.",
          "format": "int64",
          "type": "string"
        },
        "maxValue": {
          "format": "int64",
          "description": "Maximum value for an integer field type.",
          "type": "string"
        }
      },
      "description": "Limits for integer field type."
    },
    "GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
      "type": "object",
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      },
      "description": "A description of a user's capabilities on a label lock."
    },
    "GoogleAppsDriveLabelsV2betaPublishLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaPublishLabelRequest",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        }
      },
      "description": "Request to publish a label."
    },
    "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse": {
      "description": "Response for listing the permissions on a label.",
      "id": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse",
      "type": "object",
      "properties": {
        "labelPermissions": {
          "description": "Label permissions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          }
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
      "type": "object",
      "properties": {
        "minLength": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The minimum valid length of values for the text field."
        },
        "maxLength": {
          "description": "Output only. The maximum valid length of values for the text field.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Options for the Text field type."
    },
    "GoogleAppsDriveLabelsV2betaFieldLimits": {
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "properties": {
        "maxDescriptionLength": {
          "type": "integer",
          "description": "Limits for field description, also called help text.",
          "format": "int32"
        },
        "integerLimits": {
          "description": "Integer field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaIntegerLimits"
        },
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaTextLimits"
        },
        "longTextLimits": {
          "description": "Long text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaLongTextLimits"
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserLimits"
        },
        "dateLimits": {
          "description": "Date field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaDateLimits"
        },
        "maxIdLength": {
          "format": "int32",
          "description": "Maximum length for the id.",
          "type": "integer"
        },
        "maxDisplayNameLength": {
          "type": "integer",
          "description": "Limits for field title.",
          "format": "int32"
        },
        "selectionLimits": {
          "description": "Selection field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaSelectionLimits"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldLimits",
      "type": "object"
    },
    "GoogleTypeDate": {
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleAppsDriveLabelsV2betaField": {
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "properties": {
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "readOnly": true,
          "description": "Output only. The lifecycle of this field."
        },
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "publisher": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published."
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "disabler": {
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`."
        },
        "queryKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\"."
        },
        "selectionOptions": {
          "description": "Selection field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "readOnly": true
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items."
        },
        "displayHints": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDisplayHints",
          "readOnly": true,
          "description": "Output only. UI display hints for rendering a field."
        },
        "createTime": {
          "description": "Output only. The time this field was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this field was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who created this field."
        },
        "disableTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "format": "google-datetime"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities this user has when editing this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities"
        },
        "updater": {
          "description": "Output only. The user who modified this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaField",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDisableLabelRequest": {
      "description": "Request to deprecate a published label.",
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "disabledPolicy": {
          "description": "Disabled policy to use.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDisableLabelRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaListLabelLocksResponse": {
      "description": "The response to a `ListLabelLocksRequest`.",
      "id": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse",
      "type": "object",
      "properties": {
        "labelLocks": {
          "description": "Label locks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLock"
          }
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUserCapabilities": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name for the user capabilities."
        },
        "canAccessLabelManager": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the user is allowed access to the label manager."
        },
        "canCreateAdminLabels": {
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "readOnly": true,
          "type": "boolean"
        },
        "canAdministrateLabels": {
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "readOnly": true,
          "type": "boolean"
        },
        "canCreateSharedLabels": {
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUserCapabilities",
      "type": "object",
      "description": "The capabilities of a user."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field from which a choice will be deleted.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        }
      },
      "description": "Request to delete a choice."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "description": "Request to delete the field.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the field to delete."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldUserOptions": {
      "description": "Options for the user field type.",
      "id": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
      "type": "object",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelPermission": {
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "id": "GoogleAppsDriveLabelsV2betaLabelPermission",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified."
        },
        "person": {
          "description": "Person resource name.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "The role the principal should have.",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ]
        },
        "name": {
          "type": "string",
          "description": "Resource name of this permission."
        },
        "group": {
          "type": "string",
          "description": "Group resource name."
        },
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelLock": {
      "properties": {
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "format": "google-datetime"
        },
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this label lock was created.",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this label lock."
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked."
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock."
        },
        "capabilities": {
          "description": "Output only. The user's capabilities on this label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "description": "Output only. This label lock's state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ]
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelLock",
      "type": "object",
      "description": "A lock that can be applied to a label, field, or choice."
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings": {
      "description": "Describes the Google Workspace apps in which the label can be used.",
      "properties": {
        "enabledApps": {
          "description": "Optional. The list of apps where the label can be used.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp"
          }
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLongTextLimits": {
      "properties": {
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum length allowed for a long text field type."
        },
        "maxLength": {
          "type": "integer",
          "description": "Maximum length allowed for a long text field type.",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLongTextLimits",
      "type": "object",
      "description": "Limits for long text field type."
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "description": "Behavior of this label when it's applied to Drive items.",
      "properties": {
        "copyMode": {
          "type": "string",
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse",
      "type": "object",
      "description": "Response following update to field type."
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest",
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
        },
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update."
        }
      },
      "description": "Updates one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities": {
      "description": "The capabilities a user has on this label's applied metadata.",
      "properties": {
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        },
        "canApply": {
          "type": "boolean",
          "description": "Whether the user can apply this label to items."
        },
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
      "type": "object",
      "properties": {
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean"
        },
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can search for Drive items referencing this field."
        }
      },
      "description": "The capabilities related to this field on applied metadata."
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice": {
      "properties": {
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string"
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "readOnly": true
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities"
        },
        "displayHints": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints",
          "readOnly": true,
          "description": "Output only. UI display hints for rendering a choice."
        },
        "createTime": {
          "description": "Output only. The time this choice was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this choice was updated last."
        },
        "publishTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published."
        },
        "creator": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who created this choice."
        },
        "disableTime": {
          "format": "google-datetime",
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "readOnly": true,
          "type": "string"
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities related to this option when editing the option."
        },
        "updater": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who updated this choice last."
        },
        "lifecycle": {
          "description": "Output only. Lifecycle of the choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle"
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        },
        "publisher": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published."
        },
        "disabler": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice",
      "type": "object",
      "description": "Selection field choice."
    },
    "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest": {
      "description": "Deletes one or more label permissions.",
      "id": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest",
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field."
        },
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
      "type": "object",
      "properties": {
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeConfig"
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "insertBeforeChoice": {
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        }
      },
      "description": "Basic properties of the choice."
    },
    "GoogleAppsDriveLabelsV2betaFieldListOptions": {
      "properties": {
        "maxEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of entries permitted."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldListOptions",
      "type": "object",
      "description": "Options for a multi-valued variant of an associated field type."
    },
    "GoogleAppsDriveLabelsV2betaLockStatus": {
      "properties": {
        "locked": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLockStatus",
      "type": "object",
      "description": "Contains information about whether a label component should be considered locked."
    },
    "GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "properties": {
        "minValue": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The minimum valid value for the integer field."
        },
        "maxValue": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The maximum valid value for the integer field.",
          "format": "int64"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
      "type": "object",
      "description": "Options for the Integer field type."
    },
    "GoogleAppsDriveLabelsV2betaListLimits": {
      "description": "Limits for list-variant of a field type.",
      "properties": {
        "maxEntries": {
          "format": "int32",
          "description": "Maximum number of values allowed for the field type.",
          "type": "integer"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaListLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaEnableLabelRequest": {
      "description": "Request to enable a label.",
      "id": "GoogleAppsDriveLabelsV2betaEnableLabelRequest",
      "type": "object",
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse": {
      "description": "Response for updating one or more label permissions.",
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "description": "Required. Permissions updated."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUserLimits": {
      "description": "Limits for Field.Type.USER.",
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUserLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "description": "Response following field create.",
      "properties": {
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        },
        "priority": {
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldDateOptions": {
      "properties": {
        "dateFormatType": {
          "type": "string",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ],
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale."
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        },
        "dateFormat": {
          "description": "Output only. ICU date format.",
          "readOnly": true,
          "type": "string"
        },
        "minValue": {
          "description": "Output only. Minimum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
      "type": "object",
      "description": "Options for the date field type."
    },
    "GoogleAppsDriveLabelsV2betaBadgeConfig": {
      "properties": {
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        },
        "priorityOverride": {
          "type": "string",
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "format": "int64"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBadgeConfig",
      "type": "object",
      "description": "Badge status of the label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to disable."
        },
        "fieldId": {
          "description": "Required. The selection field in which a choice will be disabled.",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "Required. The disabled policy to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "type": "object",
      "description": "Request to disable a choice."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse": {
      "properties": {
        "updatedLabel": {
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabel"
        },
        "responses": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse"
          }
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse",
      "type": "object",
      "description": "Response for label update."
    }
  },
  "resources": {
    "labels": {
      "resources": {
        "locks": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta/labels/{labelsId}/locks",
              "path": "v2beta/{+parent}/locks",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token of the page to return.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "id": "drivelabels.labels.locks.list",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
              },
              "description": "Lists the label locks on a label.",
              "httpMethod": "GET"
            }
          }
        },
        "permissions": {
          "methods": {
            "create": {
              "path": "v2beta/{+parent}/permissions",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`."
                },
                "useAdminAccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "flatPath": "v2beta/labels/{labelsId}/permissions",
              "id": "drivelabels.labels.permissions.create",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "httpMethod": "POST",
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta/{+name}",
              "parameters": {
                "useAdminAccess": {
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean"
                },
                "name": {
                  "description": "Required. Label permission resource name.",
                  "pattern": "^labels/[^/]+/permissions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "flatPath": "v2beta/labels/{labelsId}/permissions/{permissionsId}",
              "id": "drivelabels.labels.permissions.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
            },
            "batchDelete": {
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchDelete",
              "path": "v2beta/{+parent}/permissions:batchDelete",
              "parameters": {
                "parent": {
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "id": "drivelabels.labels.permissions.batchDelete",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
              },
              "response": {
[...]
