{
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "version": "v2",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "version_module": true,
  "ownerName": "Google",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "id": "driveactivity:v2",
  "servicePath": "",
  "canonicalName": "Drive Activity",
  "discoveryVersion": "v1",
  "revision": "20260505",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "title": "Drive Activity API",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "path": "v2/activity:query",
          "httpMethod": "POST",
          "description": "Query past activity in Google Drive.",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "id": "driveactivity.activity.query",
          "flatPath": "v2/activity:query",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "schemas": {
    "Edit": {
      "description": "An empty message indicating an object was edited.",
      "id": "Edit",
      "type": "object",
      "properties": {}
    },
    "Suggestion": {
      "type": "object",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "type": "string"
        }
      },
      "description": "A suggestion.",
      "id": "Suggestion"
    },
    "Create": {
      "id": "Create",
      "description": "An object was created.",
      "properties": {
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        },
        "new": {
          "$ref": "New",
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object."
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        }
      },
      "type": "object"
    },
    "ActionDetail": {
      "properties": {
        "restore": {
          "$ref": "Restore",
          "description": "A deleted object was restored."
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "edit": {
          "$ref": "Edit",
          "description": "An object was edited."
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "move": {
          "$ref": "Move",
          "description": "An object was moved."
        },
        "delete": {
          "$ref": "Delete",
          "description": "An object was deleted."
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        },
        "rename": {
          "$ref": "Rename",
          "description": "An object was renamed."
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "reference": {
          "$ref": "ApplicationReference",
          "description": "An object was referenced in an application outside of Drive/Docs."
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        }
      },
      "type": "object",
      "id": "ActionDetail",
      "description": "Data describing the type and additional information of an action."
    },
    "Group": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "description": "Information about a group.",
      "id": "Group"
    },
    "DeletedUser": {
      "description": "A user whose account has since been deleted.",
      "id": "DeletedUser",
      "type": "object",
      "properties": {}
    },
    "DriveFile": {
      "properties": {},
      "type": "object",
      "id": "DriveFile",
      "description": "A Drive item which is a file."
    },
    "Text": {
      "id": "Text",
      "description": "Wrapper for Text Field value.",
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Legacy": {
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "id": "Legacy",
      "type": "object",
      "properties": {}
    },
    "Restore": {
      "description": "A deleted object was restored.",
      "id": "Restore",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "description": "The type of restore action taken.",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ]
        }
      }
    },
    "DriveItem": {
      "id": "DriveItem",
      "description": "A Drive item, such as a file or folder.",
      "properties": {
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "folder": {
          "$ref": "Folder",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Selection": {
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "id": "Selection",
      "type": "object",
      "properties": {
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        },
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        }
      }
    },
    "Post": {
      "id": "Post",
      "description": "A regular posted comment.",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "description": "The sub-type of this event."
        }
      },
      "type": "object"
    },
    "NoConsolidation": {
      "properties": {},
      "type": "object",
      "id": "NoConsolidation",
      "description": "A strategy that does no consolidation of individual activities."
    },
    "SettingsChange": {
      "properties": {
        "restrictionChanges": {
          "items": {
            "$ref": "RestrictionChange"
          },
          "type": "array",
          "description": "The set of changes made to restrictions."
        }
      },
      "type": "object",
      "id": "SettingsChange",
      "description": "Information about settings changes."
    },
    "DriveActivity": {
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "id": "DriveActivity",
      "type": "object",
      "properties": {
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "Details on all actions in this activity."
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The activity occurred at this specific time.",
          "type": "string"
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The activity occurred over this time range."
        },
        "actors": {
          "type": "array",
          "items": {
            "$ref": "Actor"
          },
          "description": "All actor(s) responsible for the activity."
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred."
        }
      }
    },
    "UserList": {
      "description": "Wrapper for UserList Field value.",
      "id": "UserList",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "SingleUser"
          },
          "type": "array",
          "description": "User values."
        }
      }
    },
    "Actor": {
      "id": "Actor",
      "description": "The actor of a Drive activity.",
      "properties": {
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        }
      },
      "type": "object"
    },
    "FieldValue": {
      "description": "Contains a value of a Field.",
      "id": "FieldValue",
      "type": "object",
      "properties": {
        "textList": {
          "$ref": "TextList",
          "description": "Text List Field value."
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        },
        "date": {
          "$ref": "Date",
          "description": "Date Field value."
        },
        "selectionList": {
          "$ref": "SelectionList",
          "description": "Selection List Field value."
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        }
      }
    },
    "Rename": {
      "description": "An object was renamed.",
      "id": "Rename",
      "type": "object",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      }
    },
    "Move": {
      "id": "Move",
      "description": "An object was moved.",
      "properties": {
        "removedParents": {
          "description": "The removed parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        },
        "addedParents": {
          "description": "The added parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        }
      },
      "type": "object"
    },
    "User": {
      "description": "Information about an end user.",
      "id": "User",
      "type": "object",
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        }
      }
    },
    "Drive": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        }
      },
      "description": "Information about a shared drive.",
      "id": "Drive"
    },
    "RestrictionChange": {
      "id": "RestrictionChange",
      "description": "Information about restriction policy changes to a feature.",
      "properties": {
        "feature": {
          "description": "The feature which had a change in restriction policy.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "type": "string",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ]
        },
        "newRestriction": {
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "description": "The restriction in place after the change.",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeRange": {
      "properties": {
        "startTime": {
          "description": "The start of the time range.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end of the time range."
        }
      },
      "type": "object",
      "id": "TimeRange",
      "description": "Information about time ranges."
    },
    "TeamDriveReference": {
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "type": "object",
      "id": "TeamDriveReference",
      "deprecated": true,
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        }
      }
    },
    "KnownUser": {
      "type": "object",
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      },
      "description": "A known user.",
      "id": "KnownUser"
    },
    "Target": {
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "id": "Target",
      "type": "object",
      "properties": {
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDrive"
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "drive": {
          "$ref": "Drive",
          "description": "The target is a shared drive."
        }
      }
    },
    "Date": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Date value.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Wrapper for Date Field value.",
      "id": "Date"
    },
    "Folder": {
      "id": "Folder",
      "deprecated": true,
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ]
        }
      },
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "type": "object"
    },
    "Assignment": {
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ]
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      },
      "type": "object",
      "id": "Assignment",
      "description": "A comment with an assignment."
    },
    "Comment": {
      "description": "A change about comments on an object.",
      "id": "Comment",
      "type": "object",
      "properties": {
        "assignment": {
          "$ref": "Assignment",
          "description": "A change on an assignment."
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        },
        "post": {
          "$ref": "Post",
          "description": "A change on a regular posted comment."
        },
        "mentionedUsers": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "Users who are mentioned in this comment."
        }
      }
    },
    "TextList": {
      "id": "TextList",
      "description": "Wrapper for Text List Field value.",
      "properties": {
        "values": {
          "items": {
            "$ref": "Text"
          },
          "type": "array",
          "description": "Text values."
        }
      },
      "type": "object"
    },
    "AnonymousUser": {
      "type": "object",
      "properties": {},
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "id": "AnonymousUser"
    },
    "Integer": {
      "properties": {
        "value": {
          "description": "Integer value.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Integer",
      "description": "Wrapper for Integer Field value."
    },
    "Administrator": {
      "properties": {},
      "type": "object",
      "id": "Administrator",
      "description": "Empty message representing an administrator."
    },
    "QueryDriveActivityResponse": {
      "type": "object",
      "properties": {
        "activities": {
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          },
          "description": "List of activity requested."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response message for querying Drive activity.",
      "id": "QueryDriveActivityResponse"
    },
    "Upload": {
      "type": "object",
      "properties": {},
      "description": "An object was uploaded into Drive.",
      "id": "Upload"
    },
    "DriveItemReference": {
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "id": "DriveItemReference",
      "type": "object",
      "properties": {
        "file": {
          "$ref": "File",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "folder": {
          "$ref": "Folder",
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true
        }
      }
    },
    "SingleUser": {
      "type": "object",
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "description": "Wrapper for User Field value.",
      "id": "SingleUser"
    },
    "Delete": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "description": "The type of delete action taken.",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ]
        }
      },
      "type": "object",
      "id": "Delete",
      "description": "An object was deleted."
    },
    "Action": {
      "id": "Action",
      "description": "Information about the action.",
      "properties": {
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "actor": {
          "$ref": "Actor",
          "description": "The actor responsible for this action (or empty if all actors are responsible)."
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The action occurred at this specific time.",
          "type": "string"
        },
        "target": {
          "$ref": "Target",
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred."
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        }
      },
      "type": "object"
    },
    "QueryDriveActivityRequest": {
      "type": "object",
      "properties": {
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "pageSize": {
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        }
      },
      "description": "The request message for querying Drive activity.",
      "id": "QueryDriveActivityRequest"
    },
    "SelectionList": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Selection"
          },
          "description": "Selection values."
        }
      },
      "type": "object",
      "id": "SelectionList",
      "description": "Wrapper for SelectionList Field value."
    },
    "ApplicationReference": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "description": "The reference type corresponding to this event."
        }
      },
      "description": "Activity in applications other than Drive.",
      "id": "ApplicationReference"
    },
    "SystemEvent": {
      "id": "SystemEvent",
      "description": "Event triggered by system operations instead of end users.",
      "properties": {
        "type": {
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      },
      "type": "object"
    },
    "TeamDrive": {
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        },
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        }
      },
      "id": "TeamDrive",
      "deprecated": true,
      "type": "object",
      "description": "This item is deprecated; please see `Drive` instead."
    },
    "PermissionChange": {
      "type": "object",
      "properties": {
        "removedPermissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions removed by this change."
        },
        "addedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The set of permissions added by this change."
        }
      },
      "description": "A change of the permission setting on an item.",
      "id": "PermissionChange"
    },
    "FieldValueChange": {
      "description": "Change to a Field value.",
      "id": "FieldValueChange",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "newValue": {
          "$ref": "FieldValue",
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set."
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        }
      }
    },
    "Permission": {
      "properties": {
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "anyone": {
          "$ref": "Anyone",
          "description": "If set, this permission applies to anyone, even logged out users."
        },
        "role": {
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ]
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Permission",
      "description": "The permission setting of an object."
    },
    "FileComment": {
      "description": "A comment on a file.",
      "id": "FileComment",
      "type": "object",
      "properties": {
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        }
      }
    },
    "UnknownUser": {
      "id": "UnknownUser",
      "description": "A user about whom nothing is currently known.",
      "properties": {},
      "type": "object"
    },
    "AppliedLabelChangeDetail": {
      "type": "object",
      "properties": {
        "types": {
          "items": {
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "type": "string",
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          },
          "type": "array",
          "description": "The types of changes made to the Label on the Target."
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        },
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "fieldChanges": {
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "type": "array",
          "items": {
            "$ref": "FieldValueChange"
          }
        }
      },
      "description": "A change made to a Label on the Target.",
      "id": "AppliedLabelChangeDetail"
    },
    "DriveReference": {
      "id": "DriveReference",
      "description": "A lightweight reference to a shared drive.",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Domain": {
      "type": "object",
      "properties": {
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        },
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        }
      },
      "description": "Information about a domain.",
      "id": "Domain"
    },
    "DriveFolder": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "description": "The type of Drive folder.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "type": "string"
        }
      },
      "description": "A Drive item which is a folder.",
      "id": "DriveFolder"
    },
    "Copy": {
      "id": "Copy",
      "description": "An object was created by copying an existing object.",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "type": "object"
    },
    "File": {
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "type": "object",
      "id": "File",
      "deprecated": true,
      "properties": {}
    },
    "TargetReference": {
      "type": "object",
      "properties": {
        "drive": {
          "$ref": "DriveReference",
          "description": "The target is a shared drive."
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "driveItem": {
          "$ref": "DriveItemReference",
          "description": "The target is a Drive item."
        }
      },
      "description": "A lightweight reference to the target of activity.",
      "id": "TargetReference"
    },
    "Anyone": {
      "id": "Anyone",
      "description": "Represents any user (including a logged out user).",
      "properties": {},
      "type": "object"
    },
    "AppliedLabelChange": {
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target.",
      "properties": {
        "changes": {
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "type": "array",
          "description": "Changes that were made to the Label on the Target."
        }
      },
      "type": "object"
    },
    "New": {
      "id": "New",
      "description": "An object was created from scratch.",
      "properties": {},
      "type": "object"
    },
    "Owner": {
      "description": "Information about the owner of a Drive item.",
      "id": "Owner",
      "type": "object",
      "properties": {
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        }
      }
    },
    "ConsolidationStrategy": {
      "id": "ConsolidationStrategy",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "properties": {
        "none": {
          "$ref": "NoConsolidation",
          "description": "The individual activities are not consolidated."
        },
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        }
      },
      "type": "object"
    },
    "DataLeakPreventionChange": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "type": "string",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "description": "The type of Data Leak Prevention (DLP) change."
        }
      },
      "description": "A change in the object's data leak prevention status.",
      "id": "DataLeakPreventionChange"
    },
    "Impersonation": {
      "id": "Impersonation",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      },
      "type": "object"
    }
  },
  "description": "Provides a historical view of activity in Google Drive.",
  "basePath": "",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "name": "driveactivity",
  "protocol": "rest"
}