{
  "title": "Essential Contacts API",
  "basePath": "",
  "canonicalName": "Essentialcontacts",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/essentialcontacts/docs/",
  "baseUrl": "https://essentialcontacts.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "rootUrl": "https://essentialcontacts.googleapis.com/",
  "mtlsRootUrl": "https://essentialcontacts.mtls.googleapis.com/",
  "version": "v1",
  "discoveryVersion": "v1",
  "id": "essentialcontacts:v1",
  "schemas": {
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleCloudEssentialcontactsV1ComputeContactsResponse": {
      "type": "object",
      "id": "GoogleCloudEssentialcontactsV1ComputeContactsResponse",
      "description": "Response message for the ComputeContacts method.",
      "properties": {
        "contacts": {
          "description": "All contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudEssentialcontactsV1Contact"
          }
        },
        "nextPageToken": {
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token` and the rest of the parameters the same as the original request.",
          "type": "string"
        }
      }
    },
    "GoogleCloudEssentialcontactsV1ListContactsResponse": {
      "type": "object",
      "id": "GoogleCloudEssentialcontactsV1ListContactsResponse",
      "description": "Response message for the ListContacts method.",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudEssentialcontactsV1Contact"
          },
          "description": "The contacts for the specified resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token` and the rest of the parameters the same as the original request."
        }
      }
    },
    "GoogleCloudEssentialcontactsV1Contact": {
      "type": "object",
      "id": "GoogleCloudEssentialcontactsV1Contact",
      "description": "A contact that will receive notifications from Google Cloud.",
      "properties": {
        "notificationCategorySubscriptions": {
          "type": "array",
          "items": {
            "enum": [
              "NOTIFICATION_CATEGORY_UNSPECIFIED",
              "ALL",
              "SUSPENSION",
              "SECURITY",
              "TECHNICAL",
              "BILLING",
              "LEGAL",
              "PRODUCT_UPDATES",
              "TECHNICAL_INCIDENTS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Notification category is unrecognized or unspecified.",
              "All notifications related to the resource, including notifications pertaining to categories added in the future.",
              "Notifications related to imminent account suspension.",
              "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
              "Notifications related to technical events and issues such as outages, errors, or bugs.",
              "Notifications related to billing and payments notifications, price updates, errors, or credits.",
              "Notifications related to enforcement actions, regulatory compliance, or government notices.",
              "Notifications related to new versions, product terms updates, or deprecations.",
              "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
            ]
          },
          "description": "Required. The categories of notifications that the contact will receive communications for."
        },
        "name": {
          "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
          "type": "string",
          "readOnly": true
        },
        "email": {
          "type": "string",
          "description": "Required. The email address to send notifications to. The email address does not need to be a Google Account."
        },
        "languageTag": {
          "description": "Required. The preferred language for notifications, as a ISO 639-1 language code. See [Supported languages](https://cloud.google.com/resource-manager/docs/managing-notification-contacts#supported-languages) for a list of supported languages.",
          "type": "string"
        },
        "validateTime": {
          "readOnly": true,
          "description": "Output only. The last time the validation_state was updated, either manually or automatically. A contact is considered stale if its validation state was updated more than 1 year ago.",
          "type": "string",
          "format": "google-datetime"
        },
        "validationState": {
          "description": "Output only. The validity of the contact. A contact is considered valid if it is the correct recipient for notifications for a particular resource.",
          "type": "string",
          "enumDescriptions": [
            "The validation state is unknown or unspecified.",
            "The contact is marked as valid. This is usually done manually by the contact admin. All new contacts begin in the valid state.",
            "The contact is considered invalid. This may become the state if the contact's email is found to be unreachable."
          ],
          "enum": [
            "VALIDATION_STATE_UNSPECIFIED",
            "VALID",
            "INVALID"
          ],
          "readOnly": true
        }
      }
    },
    "GoogleCloudEssentialcontactsV1SendTestMessageRequest": {
      "type": "object",
      "id": "GoogleCloudEssentialcontactsV1SendTestMessageRequest",
      "description": "Request message for the SendTestMessage method.",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of names of the contacts to send a test message to. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)"
        },
        "notificationCategory": {
          "type": "string",
          "enumDescriptions": [
            "Notification category is unrecognized or unspecified.",
            "All notifications related to the resource, including notifications pertaining to categories added in the future.",
            "Notifications related to imminent account suspension.",
            "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
            "Notifications related to technical events and issues such as outages, errors, or bugs.",
            "Notifications related to billing and payments notifications, price updates, errors, or credits.",
            "Notifications related to enforcement actions, regulatory compliance, or government notices.",
            "Notifications related to new versions, product terms updates, or deprecations.",
            "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
          ],
          "description": "Required. The notification category to send the test message for. All contacts must be subscribed to this category.",
          "enum": [
            "NOTIFICATION_CATEGORY_UNSPECIFIED",
            "ALL",
            "SUSPENSION",
            "SECURITY",
            "TECHNICAL",
            "BILLING",
            "LEGAL",
            "PRODUCT_UPDATES",
            "TECHNICAL_INCIDENTS"
          ]
        }
      }
    }
  },
  "revision": "20260409",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "servicePath": "",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "name": "essentialcontacts",
  "resources": {
    "folders": {
      "resources": {
        "contacts": {
          "methods": {
            "sendTestMessage": {
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "essentialcontacts.folders.contacts.sendTestMessage",
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/folders/{foldersId}/contacts:sendTestMessage"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "essentialcontacts.folders.contacts.delete",
              "path": "v1/{+name}",
              "description": "Deletes a contact.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "flatPath": "v1/folders/{foldersId}/contacts",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "type": "string"
                }
              },
              "id": "essentialcontacts.folders.contacts.list",
              "path": "v1/{+parent}/contacts",
              "description": "Lists the contacts that have been set on a resource."
            },
            "compute": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "essentialcontacts.folders.contacts.compute",
              "path": "v1/{+parent}/contacts:compute",
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100."
                },
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "type": "string"
                },
                "notificationCategories": {
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "type": "string",
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "location": "query",
                  "repeated": true
                }
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/contacts:compute"
            },
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "id": "essentialcontacts.folders.contacts.patch",
              "path": "v1/{+name}",
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "type": "string"
                }
              },
              "id": "essentialcontacts.folders.contacts.create",
              "path": "v1/{+parent}/contacts",
              "description": "Adds a new contact for a resource.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "flatPath": "v1/folders/{foldersId}/contacts"
            },
            "get": {
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)"
                }
              },
              "id": "essentialcontacts.folders.contacts.get",
              "path": "v1/{+name}",
              "description": "Gets a single contact.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "contacts": {
          "methods": {
            "sendTestMessage": {
              "id": "essentialcontacts.projects.contacts.sendTestMessage",
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/contacts:sendTestMessage",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "location": "path",
                  "required": true
                }
              },
              "id": "essentialcontacts.projects.contacts.delete",
              "path": "v1/{+name}",
              "description": "Deletes a contact."
            },
            "list": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query"
                }
              },
              "id": "essentialcontacts.projects.contacts.list",
              "path": "v1/{+parent}/contacts",
              "description": "Lists the contacts that have been set on a resource.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/contacts",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              }
            },
            "compute": {
              "id": "essentialcontacts.projects.contacts.compute",
              "path": "v1/{+parent}/contacts:compute",
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "parameters": {
                "notificationCategories": {
                  "repeated": true,
                  "location": "query",
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned."
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/contacts:compute",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "essentialcontacts.projects.contacts.patch",
              "path": "v1/{+name}",
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH"
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/contacts",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "essentialcontacts.projects.contacts.create",
              "path": "v1/{+parent}/contacts",
              "description": "Adds a new contact for a resource.",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "essentialcontacts.projects.contacts.get",
              "path": "v1/{+name}",
              "description": "Gets a single contact.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "location": "path"
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "contacts": {
          "methods": {
            "sendTestMessage": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/organizations/{organizationsId}/contacts:sendTestMessage",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "essentialcontacts.organizations.contacts.sendTestMessage",
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "location": "path",
                  "required": true
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "essentialcontacts.organizations.contacts.list",
              "path": "v1/{+parent}/contacts",
              "description": "Lists the contacts that have been set on a resource.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts"
            },
            "compute": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts:compute",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query"
                },
                "notificationCategories": {
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "location": "query",
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "type": "string",
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "repeated": true
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "required": true
                }
              },
              "id": "essentialcontacts.organizations.contacts.compute",
              "path": "v1/{+parent}/contacts:compute",
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "essentialcontacts.organizations.contacts.delete",
              "path": "v1/{+name}",
              "description": "Deletes a contact."
            },
            "create": {
              "flatPath": "v1/organizations/{organizationsId}/contacts",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "essentialcontacts.organizations.contacts.create",
              "path": "v1/{+parent}/contacts",
              "description": "Adds a new contact for a resource.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                }
              },
              "id": "essentialcontacts.organizations.contacts.patch",
              "path": "v1/{+name}",
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "essentialcontacts.organizations.contacts.get",
              "path": "v1/{+name}",
              "description": "Gets a single contact."
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription"
}