{
  "ownerName": "Google",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "folders": {
      "resources": {
        "contacts": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "required": true
                }
              },
              "id": "essentialcontacts.folders.contacts.get",
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Gets a single contact.",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "sendTestMessage": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "httpMethod": "POST",
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.folders.contacts.sendTestMessage",
              "flatPath": "v1/folders/{foldersId}/contacts:sendTestMessage",
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "type": "string"
                }
              },
              "id": "essentialcontacts.folders.contacts.patch",
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a contact. Note: A contact's email address cannot be changed."
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists the contacts that have been set on a resource.",
              "path": "v1/{+parent}/contacts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.folders.contacts.list",
              "flatPath": "v1/folders/{foldersId}/contacts",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "compute": {
              "parameters": {
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "notificationCategories": {
                  "type": "string",
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "repeated": true,
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "location": "query"
                }
              },
              "flatPath": "v1/folders/{foldersId}/contacts:compute",
              "id": "essentialcontacts.folders.contacts.compute",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/contacts:compute",
              "httpMethod": "GET",
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources."
            },
            "create": {
              "flatPath": "v1/folders/{foldersId}/contacts",
              "id": "essentialcontacts.folders.contacts.create",
              "parameters": {
                "parent": {
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "httpMethod": "POST",
              "description": "Adds a new contact for a resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/contacts"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "required": true
                }
              },
              "id": "essentialcontacts.folders.contacts.delete",
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a contact.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "contacts": {
          "methods": {
            "delete": {
              "id": "essentialcontacts.projects.contacts.delete",
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a contact.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "httpMethod": "POST",
              "description": "Adds a new contact for a resource.",
              "path": "v1/{+parent}/contacts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.projects.contacts.create",
              "flatPath": "v1/projects/{projectsId}/contacts",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "compute": {
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/contacts:compute",
              "flatPath": "v1/projects/{projectsId}/contacts:compute",
              "id": "essentialcontacts.projects.contacts.compute",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string"
                },
                "notificationCategories": {
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "repeated": true,
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ]
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "id": "essentialcontacts.projects.contacts.patch",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a contact. Note: A contact's email address cannot be changed."
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "id": "essentialcontacts.projects.contacts.list",
              "flatPath": "v1/projects/{projectsId}/contacts",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "path": "v1/{+parent}/contacts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists the contacts that have been set on a resource."
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "essentialcontacts.projects.contacts.get",
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Gets a single contact."
            },
            "sendTestMessage": {
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "essentialcontacts.projects.contacts.sendTestMessage",
              "flatPath": "v1/projects/{projectsId}/contacts:sendTestMessage"
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "contacts": {
          "methods": {
            "compute": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/contacts:compute",
              "id": "essentialcontacts.organizations.contacts.compute",
              "parameters": {
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^organizations/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "notificationCategories": {
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "repeated": true,
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ]
                }
              },
              "httpMethod": "GET",
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/contacts:compute",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "essentialcontacts.organizations.contacts.patch",
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "essentialcontacts.organizations.contacts.list",
              "flatPath": "v1/organizations/{organizationsId}/contacts",
              "path": "v1/{+parent}/contacts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists the contacts that have been set on a resource.",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "required": true
                }
              },
              "id": "essentialcontacts.organizations.contacts.get",
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Gets a single contact.",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "sendTestMessage": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "httpMethod": "POST",
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.organizations.contacts.sendTestMessage",
              "flatPath": "v1/organizations/{organizationsId}/contacts:sendTestMessage",
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a contact.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.organizations.contacts.delete",
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "essentialcontacts.organizations.contacts.create",
              "flatPath": "v1/organizations/{organizationsId}/contacts",
              "path": "v1/{+parent}/contacts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Adds a new contact for a resource.",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/essentialcontacts/docs/",
  "schemas": {
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleCloudEssentialcontactsV1ListContactsResponse": {
      "id": "GoogleCloudEssentialcontactsV1ListContactsResponse",
      "properties": {
        "contacts": {
          "description": "The contacts for the specified resource.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudEssentialcontactsV1Contact"
          }
        },
        "nextPageToken": {
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token` and the rest of the parameters the same as the original request.",
          "type": "string"
        }
      },
      "description": "Response message for the ListContacts method.",
      "type": "object"
    },
    "GoogleCloudEssentialcontactsV1ComputeContactsResponse": {
      "id": "GoogleCloudEssentialcontactsV1ComputeContactsResponse",
      "properties": {
        "contacts": {
          "items": {
            "$ref": "GoogleCloudEssentialcontactsV1Contact"
          },
          "description": "All contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token` and the rest of the parameters the same as the original request.",
          "type": "string"
        }
      },
      "description": "Response message for the ComputeContacts method.",
      "type": "object"
    },
    "GoogleCloudEssentialcontactsV1Contact": {
      "description": "A contact that will receive notifications from Google Cloud.",
      "type": "object",
      "id": "GoogleCloudEssentialcontactsV1Contact",
      "properties": {
        "validateTime": {
          "description": "Output only. The last time the validation_state was updated, either manually or automatically. A contact is considered stale if its validation state was updated more than 1 year ago.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "notificationCategorySubscriptions": {
          "items": {
            "enumDescriptions": [
              "Notification category is unrecognized or unspecified.",
              "All notifications related to the resource, including notifications pertaining to categories added in the future.",
              "Notifications related to imminent account suspension.",
              "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
              "Notifications related to technical events and issues such as outages, errors, or bugs.",
              "Notifications related to billing and payments notifications, price updates, errors, or credits.",
              "Notifications related to enforcement actions, regulatory compliance, or government notices.",
              "Notifications related to new versions, product terms updates, or deprecations.",
              "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
            ],
            "type": "string",
            "enum": [
              "NOTIFICATION_CATEGORY_UNSPECIFIED",
              "ALL",
              "SUSPENSION",
              "SECURITY",
              "TECHNICAL",
              "BILLING",
              "LEGAL",
              "PRODUCT_UPDATES",
              "TECHNICAL_INCIDENTS"
            ]
          },
          "description": "Required. The categories of notifications that the contact will receive communications for.",
          "type": "array"
        },
        "name": {
          "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
          "readOnly": true,
          "type": "string"
        },
        "languageTag": {
          "description": "Required. The preferred language for notifications, as a ISO 639-1 language code. See [Supported languages](https://cloud.google.com/resource-manager/docs/managing-notification-contacts#supported-languages) for a list of supported languages.",
          "type": "string"
        },
        "email": {
          "description": "Required. The email address to send notifications to. The email address does not need to be a Google Account.",
          "type": "string"
        },
        "validationState": {
          "enumDescriptions": [
            "The validation state is unknown or unspecified.",
            "The contact is marked as valid. This is usually done manually by the contact admin. All new contacts begin in the valid state.",
            "The contact is considered invalid. This may become the state if the contact's email is found to be unreachable."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "VALIDATION_STATE_UNSPECIFIED",
            "VALID",
            "INVALID"
          ],
          "description": "Output only. The validity of the contact. A contact is considered valid if it is the correct recipient for notifications for a particular resource."
        }
      }
    },
    "GoogleCloudEssentialcontactsV1SendTestMessageRequest": {
      "id": "GoogleCloudEssentialcontactsV1SendTestMessageRequest",
      "properties": {
        "contacts": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of names of the contacts to send a test message to. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
          "type": "array"
        },
        "notificationCategory": {
          "description": "Required. The notification category to send the test message for. All contacts must be subscribed to this category.",
          "type": "string",
          "enum": [
            "NOTIFICATION_CATEGORY_UNSPECIFIED",
            "ALL",
            "SUSPENSION",
            "SECURITY",
            "TECHNICAL",
            "BILLING",
            "LEGAL",
            "PRODUCT_UPDATES",
            "TECHNICAL_INCIDENTS"
          ],
          "enumDescriptions": [
            "Notification category is unrecognized or unspecified.",
            "All notifications related to the resource, including notifications pertaining to categories added in the future.",
            "Notifications related to imminent account suspension.",
            "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
            "Notifications related to technical events and issues such as outages, errors, or bugs.",
            "Notifications related to billing and payments notifications, price updates, errors, or credits.",
            "Notifications related to enforcement actions, regulatory compliance, or government notices.",
            "Notifications related to new versions, product terms updates, or deprecations.",
            "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
          ]
        }
      },
      "description": "Request message for the SendTestMessage method.",
      "type": "object"
    }
  },
  "mtlsRootUrl": "https://essentialcontacts.mtls.googleapis.com/",
  "rootUrl": "https://essentialcontacts.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "description": "",
  "protocol": "rest",
  "baseUrl": "https://essentialcontacts.googleapis.com/",
  "batchPath": "batch",
  "id": "essentialcontacts:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "revision": "20260507",
  "basePath": "",
  "version_module": true,
  "ownerDomain": "google.com",
  "name": "essentialcontacts",
  "version": "v1",
  "title": "Essential Contacts API",
  "canonicalName": "Essentialcontacts"
}