{
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1alpha1",
  "discoveryVersion": "v1",
  "version_module": true,
  "mtlsRootUrl": "https://factchecktools.mtls.googleapis.com/",
  "batchPath": "batch",
  "description": "",
  "rootUrl": "https://factchecktools.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "schemas": {
    "GoogleFactcheckingFactchecktoolsV1alpha1Publisher": {
      "properties": {
        "name": {
          "description": "The name of this publisher. For instance, \"Awesome Fact Checks\".",
          "type": "string"
        },
        "site": {
          "description": "Host-level site name, without the protocol or \"www\" prefix. For instance, \"awesomefactchecks.com\". This value of this field is based purely on the claim review URL.",
          "type": "string"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher",
      "description": "Information about the publisher.",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup": {
      "properties": {
        "url": {
          "description": "This field is optional, and will default to the page URL. We provide this field to allow you the override the default value, but the only permitted override is the page URL plus an optional anchor link (\"page jump\"). Corresponds to `ClaimReview.url`",
          "type": "string"
        },
        "claimReviewed": {
          "description": "A short summary of the claim being evaluated. Corresponds to `ClaimReview.claimReviewed`.",
          "type": "string"
        },
        "claimAuthor": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
          "description": "Info about the author of this claim."
        },
        "rating": {
          "description": "Info about the rating of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"
        },
        "claimLocation": {
          "description": "The location where this claim was made. Corresponds to `ClaimReview.itemReviewed.name`.",
          "type": "string"
        },
        "claimDate": {
          "description": "The date when the claim was made or entered public discourse. Corresponds to `ClaimReview.itemReviewed.datePublished`.",
          "type": "string"
        },
        "claimFirstAppearance": {
          "description": "A link to a work in which this claim first appears. Corresponds to `ClaimReview.itemReviewed[@type=Claim].firstAppearance.url`.",
          "type": "string"
        },
        "claimAppearances": {
          "description": "A list of links to works in which this claim appears, aside from the one specified in `claim_first_appearance`. Corresponds to `ClaimReview.itemReviewed[@type=Claim].appearance.url`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup",
      "description": "Fields for an individual `ClaimReview` element. Except for sub-messages that group fields together, each of these fields correspond those in https://schema.org/ClaimReview. We list the precise mapping for each field.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview",
      "description": "Information about a claim review.",
      "type": "object",
      "properties": {
        "publisher": {
          "description": "The publisher of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher"
        },
        "title": {
          "description": "The title of this claim review, if it can be determined.",
          "type": "string"
        },
        "reviewDate": {
          "description": "The date the claim was reviewed.",
          "type": "string",
          "format": "google-datetime"
        },
        "url": {
          "description": "The URL of this claim review.",
          "type": "string"
        },
        "textualRating": {
          "description": "Textual rating. For instance, \"Mostly false\".",
          "type": "string"
        },
        "languageCode": {
          "description": "The language this review was written in. For instance, \"en\" or \"de\".",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor": {
      "properties": {
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.image`.",
          "type": "string"
        },
        "jobTitle": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.jobTitle`.",
          "type": "string"
        },
        "sameAs": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.sameAs`.",
          "type": "string"
        },
        "name": {
          "description": "A person or organization stating the claim. For instance, \"John Doe\". Corresponds to `ClaimReview.itemReviewed.author.name`.",
          "type": "string"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
      "description": "Information about the claim author.",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse",
      "description": "Response from searching fact-checked claims by image.",
      "type": "object",
      "properties": {
        "results": {
          "description": "The list of claims and all of their associated information.",
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult"
          }
        },
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating",
      "description": "Information about the claim rating.",
      "type": "object",
      "properties": {
        "textualRating": {
          "description": "The truthfulness rating as a human-readible short word or phrase. Corresponds to `ClaimReview.reviewRating.alternateName`.",
          "type": "string"
        },
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.reviewRating.image`.",
          "type": "string"
        },
        "bestRating": {
          "description": "For numeric ratings, the best value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.bestRating`.",
          "type": "integer",
          "format": "int32"
        },
        "worstRating": {
          "description": "For numeric ratings, the worst value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.worstRating`.",
          "type": "integer",
          "format": "int32"
        },
        "ratingExplanation": {
          "description": "Corresponds to `ClaimReview.reviewRating.ratingExplanation`.",
          "type": "string"
        },
        "ratingValue": {
          "description": "A numeric rating of this claim, in the range worstRating — bestRating inclusive. Corresponds to `ClaimReview.reviewRating.ratingValue`.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor": {
      "properties": {
        "name": {
          "description": "Name of the organization that is publishing the fact check. Corresponds to `ClaimReview.author.name`.",
          "type": "string"
        },
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.author.image`.",
          "type": "string"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor",
      "description": "Information about the claim review author.",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Claim": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
      "description": "Information about the claim.",
      "type": "object",
      "properties": {
        "claimReview": {
          "description": "One or more reviews of this claim (namely, a fact-checking article).",
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"
          }
        },
        "claimDate": {
          "description": "The date that the claim was made.",
          "type": "string",
          "format": "google-datetime"
        },
        "claimant": {
          "description": "A person or organization stating the claim. For instance, \"John Doe\".",
          "type": "string"
        },
        "text": {
          "description": "The claim text. For instance, \"Crime has doubled in the last 2 years.\"",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult": {
      "properties": {
        "claim": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
          "description": "A claim which matched the query."
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult",
      "description": "A claim and its associated information.",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse",
      "description": "Response from searching fact-checked claims.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        },
        "claims": {
          "description": "The list of claims and all of their associated information.",
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
          }
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage",
      "description": "Holds one or more instances of `ClaimReview` markup for a webpage.",
      "type": "object",
      "properties": {
        "versionId": {
          "description": "The version ID for this markup. Except for update requests, this field is output-only and should not be set by the user.",
          "type": "string"
        },
        "publishDate": {
          "description": "The date when the fact check was published. Similar to the URL, semantically this is a page-level field, and each `ClaimReview` on this page will contain the same value. Corresponds to `ClaimReview.datePublished`",
          "type": "string"
        },
        "claimReviewAuthor": {
          "description": "Info about the author of this claim review. Similar to the above, semantically these are page-level fields, and each `ClaimReview` on this page will contain the same values.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor"
        },
        "name": {
          "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user.",
          "type": "string"
        },
        "pageUrl": {
          "description": "The URL of the page associated with this `ClaimReview` markup. While every individual `ClaimReview` has its own URL field, semantically this is a page-level field, and each `ClaimReview` on this page will use this value unless individually overridden. Corresponds to `ClaimReview.url`",
          "type": "string"
        },
        "claimReviewMarkups": {
          "description": "A list of individual claim reviews for this page. Each item in the list corresponds to one `ClaimReview` element.",
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup"
          }
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse",
      "description": "Response from listing `ClaimReview` markup.",
      "type": "object",
      "properties": {
        "claimReviewMarkupPages": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "description": "The result list of pages of `ClaimReview` markup.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      }
    }
  },
  "name": "factchecktools",
  "revision": "20260412",
  "documentationLink": "https://developers.google.com/fact-check/tools/api/",
  "kind": "discovery#restDescription",
  "id": "factchecktools:v1alpha1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/factchecktools": {
          "description": "Read, create, update, and delete your ClaimReview data."
        }
      }
    }
  },
  "baseUrl": "https://factchecktools.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "Fact Check Tools",
  "resources": {
    "claims": {
      "methods": {
        "search": {
          "httpMethod": "GET",
          "id": "factchecktools.claims.search",
          "description": "Search through fact-checked claims.",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse"
          },
          "flatPath": "v1alpha1/claims:search",
          "parameterOrder": [],
          "path": "v1alpha1/claims:search",
          "parameters": {
            "languageCode": {
              "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "type": "string",
              "location": "query"
            },
            "maxAgeDays": {
              "location": "query",
              "description": "The maximum age of the returned search results, in days. Age is determined by either claim date or review date, whichever is newer.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "type": "string"
            },
            "query": {
              "description": "Textual query string. Required unless `review_publisher_site_filter` is specified.",
              "type": "string",
              "location": "query"
            },
            "offset": {
              "location": "query",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "type": "integer",
              "format": "int32"
            },
            "reviewPublisherSiteFilter": {
              "description": "The review publisher site to filter results by, e.g. nytimes.com.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "imageSearch": {
          "parameterOrder": [],
          "flatPath": "v1alpha1/claims:imageSearch",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "Optional. The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "type": "integer",
              "format": "int32"
            },
            "offset": {
              "description": "Optional. An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "languageCode": {
              "location": "query",
              "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "type": "string",
              "location": "query"
            },
            "imageUri": {
              "location": "query",
              "description": "Required. The URI of the source image. This must be a publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications.",
              "type": "string"
            }
          },
          "path": "v1alpha1/claims:imageSearch",
          "id": "factchecktools.claims.imageSearch",
          "description": "Search through fact-checked claims using an image as the query.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse"
          }
        }
      }
    },
    "pages": {
      "methods": {
        "list": {
          "id": "factchecktools.pages.list",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/pages",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "description": "List the `ClaimReview` markup pages for a specific URL or for an organization.",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "url": {
              "location": "query",
              "description": "The URL from which to get `ClaimReview` markup. There will be at most one result. If markup is associated with a more canonical version of the URL provided, we will return that URL instead. Cannot be specified along with an organization.",
              "type": "string"
            },
            "offset": {
              "location": "query",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset, and if the request is not for a specific URL. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "type": "integer",
              "format": "int32"
            },
            "pageSize": {
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set. Has no effect if a URL is requested.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "type": "string"
            },
            "organization": {
              "location": "query",
              "description": "The organization for which we want to fetch markups for. For instance, \"site.com\". Cannot be specified along with an URL.",
              "type": "string"
            }
          },
          "path": "v1alpha1/pages"
        },
        "delete": {
          "flatPath": "v1alpha1/pages/{pagesId}",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "id": "factchecktools.pages.delete",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The name of the resource to delete, in the form of `pages/{page_id}`.",
              "location": "path",
              "pattern": "^pages/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "path": "v1alpha1/{+name}",
          "description": "Delete all `ClaimReview` markup on a page.",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        },
        "create": {
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "description": "Create `ClaimReview` markup on a page.",
          "parameters": {},
          "path": "v1alpha1/pages",
          "parameterOrder": [],
          "id": "factchecktools.pages.create",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "flatPath": "v1alpha1/pages"
        },
        "get": {
          "description": "Get all `ClaimReview` markup on a page.",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the resource to get, in the form of `pages/{page_id}`.",
              "required": true,
              "pattern": "^pages/[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "factchecktools.pages.get",
          "flatPath": "v1alpha1/pages/{pagesId}",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ]
        },
        "update": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^pages/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user."
            }
          },
          "description": "Update for all `ClaimReview` markup on a page Note that this is a full update. To retain the existing `ClaimReview` markup on a page, first perform a Get operation, then modify the returned markup, and finally call Update with the entire `ClaimReview` markup as the body.",
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "flatPath": "v1alpha1/pages/{pagesId}",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "httpMethod": "PUT",
          "id": "factchecktools.pages.update"
        }
      }
    }
  },
  "protocol": "rest",
  "ownerName": "Google",
  "title": "Fact Check Tools API"
}