{
  "discoveryVersion": "v1",
  "basePath": "",
  "baseUrl": "https://factchecktools.googleapis.com/",
  "revision": "20260419",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "version_module": true,
  "resources": {
    "claims": {
      "methods": {
        "search": {
          "id": "factchecktools.claims.search",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse"
          },
          "parameters": {
            "maxAgeDays": {
              "type": "integer",
              "description": "The maximum age of the returned search results, in days. Age is determined by either claim date or review date, whichever is newer.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "location": "query",
              "format": "int32"
            },
            "languageCode": {
              "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "location": "query",
              "type": "string"
            },
            "offset": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result."
            },
            "reviewPublisherSiteFilter": {
              "type": "string",
              "location": "query",
              "description": "The review publisher site to filter results by, e.g. nytimes.com."
            },
            "query": {
              "description": "Textual query string. Required unless `review_publisher_site_filter` is specified.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1alpha1/claims:search",
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v1alpha1/claims:search",
          "description": "Search through fact-checked claims."
        },
        "imageSearch": {
          "description": "Search through fact-checked claims using an image as the query.",
          "flatPath": "v1alpha1/claims:imageSearch",
          "path": "v1alpha1/claims:imageSearch",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "type": "string"
            },
            "imageUri": {
              "description": "Required. The URI of the source image. This must be a publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "languageCode": {
              "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "location": "query",
              "type": "string"
            },
            "offset": {
              "type": "integer",
              "description": "Optional. An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "location": "query",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse"
          },
          "id": "factchecktools.claims.imageSearch"
        }
      }
    },
    "pages": {
      "methods": {
        "get": {
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^pages/[^/]+$",
              "required": true,
              "type": "string",
              "description": "The name of the resource to get, in the form of `pages/{page_id}`.",
              "location": "path"
            }
          },
          "id": "factchecktools.pages.get",
          "flatPath": "v1alpha1/pages/{pagesId}",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "description": "Get all `ClaimReview` markup on a page.",
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET"
        },
        "create": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "flatPath": "v1alpha1/pages",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "description": "Create `ClaimReview` markup on a page.",
          "path": "v1alpha1/pages",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "parameters": {},
          "id": "factchecktools.pages.create"
        },
        "delete": {
          "flatPath": "v1alpha1/pages/{pagesId}",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "description": "Delete all `ClaimReview` markup on a page.",
          "path": "v1alpha1/{+name}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^pages/[^/]+$",
              "description": "The name of the resource to delete, in the form of `pages/{page_id}`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "factchecktools.pages.delete",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        },
        "list": {
          "path": "v1alpha1/pages",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/pages",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "description": "List the `ClaimReview` markup pages for a specific URL or for an organization.",
          "id": "factchecktools.pages.list",
          "parameters": {
            "offset": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset, and if the request is not for a specific URL. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result."
            },
            "url": {
              "type": "string",
              "location": "query",
              "description": "The URL from which to get `ClaimReview` markup. There will be at most one result. If markup is associated with a more canonical version of the URL provided, we will return that URL instead. Cannot be specified along with an organization."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request."
            },
            "organization": {
              "description": "The organization for which we want to fetch markups for. For instance, \"site.com\". Cannot be specified along with an URL.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set. Has no effect if a URL is requested.",
              "type": "integer"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
          }
        },
        "update": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "flatPath": "v1alpha1/pages/{pagesId}",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "description": "Update for all `ClaimReview` markup on a page Note that this is a full update. To retain the existing `ClaimReview` markup on a page, first perform a Get operation, then modify the returned markup, and finally call Update with the entire `ClaimReview` markup as the body.",
          "path": "v1alpha1/{+name}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "parameters": {
            "name": {
              "pattern": "^pages/[^/]+$",
              "location": "path",
              "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user.",
              "required": true,
              "type": "string"
            }
          },
          "id": "factchecktools.pages.update"
        }
      }
    }
  },
  "version": "v1alpha1",
  "name": "factchecktools",
  "documentationLink": "https://developers.google.com/fact-check/tools/api/",
  "servicePath": "",
  "id": "factchecktools:v1alpha1",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Fact Check Tools",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "rootUrl": "https://factchecktools.googleapis.com/",
  "schemas": {
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor": {
      "description": "Information about the claim review author.",
      "properties": {
        "imageUrl": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.author.image`."
        },
        "name": {
          "type": "string",
          "description": "Name of the organization that is publishing the fact check. Corresponds to `ClaimReview.author.name`."
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse",
      "type": "object",
      "description": "Response from listing `ClaimReview` markup.",
      "properties": {
        "claimReviewMarkupPages": {
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "description": "The result list of pages of `ClaimReview` markup."
        },
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse": {
      "description": "Response from searching fact-checked claims by image.",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult"
          },
          "description": "The list of claims and all of their associated information.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results."
        }
      },
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Publisher": {
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher",
      "description": "Information about the publisher.",
      "properties": {
        "name": {
          "description": "The name of this publisher. For instance, \"Awesome Fact Checks\".",
          "type": "string"
        },
        "site": {
          "description": "Host-level site name, without the protocol or \"www\" prefix. For instance, \"awesomefactchecks.com\". This value of this field is based purely on the claim review URL.",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse": {
      "description": "Response from searching fact-checked claims.",
      "properties": {
        "claims": {
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
          },
          "description": "The list of claims and all of their associated information."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results."
        }
      },
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating",
      "type": "object",
      "description": "Information about the claim rating.",
      "properties": {
        "textualRating": {
          "description": "The truthfulness rating as a human-readible short word or phrase. Corresponds to `ClaimReview.reviewRating.alternateName`.",
          "type": "string"
        },
        "bestRating": {
          "type": "integer",
          "format": "int32",
          "description": "For numeric ratings, the best value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.bestRating`."
        },
        "ratingExplanation": {
          "description": "Corresponds to `ClaimReview.reviewRating.ratingExplanation`.",
          "type": "string"
        },
        "worstRating": {
          "type": "integer",
          "format": "int32",
          "description": "For numeric ratings, the worst value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.worstRating`."
        },
        "ratingValue": {
          "type": "integer",
          "format": "int32",
          "description": "A numeric rating of this claim, in the range worstRating — bestRating inclusive. Corresponds to `ClaimReview.reviewRating.ratingValue`."
        },
        "imageUrl": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.reviewRating.image`."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview": {
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview",
      "description": "Information about a claim review.",
      "properties": {
        "publisher": {
          "description": "The publisher of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher"
        },
        "textualRating": {
          "description": "Textual rating. For instance, \"Mostly false\".",
          "type": "string"
        },
        "url": {
          "description": "The URL of this claim review.",
          "type": "string"
        },
        "reviewDate": {
          "description": "The date the claim was reviewed.",
          "format": "google-datetime",
          "type": "string"
        },
        "title": {
          "description": "The title of this claim review, if it can be determined.",
          "type": "string"
        },
        "languageCode": {
          "description": "The language this review was written in. For instance, \"en\" or \"de\".",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Claim": {
      "description": "Information about the claim.",
      "properties": {
        "text": {
          "description": "The claim text. For instance, \"Crime has doubled in the last 2 years.\"",
          "type": "string"
        },
        "claimDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "The date that the claim was made."
        },
        "claimant": {
          "description": "A person or organization stating the claim. For instance, \"John Doe\".",
          "type": "string"
        },
        "claimReview": {
          "type": "array",
          "description": "One or more reviews of this claim (namely, a fact-checking article).",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"
          }
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage",
      "type": "object",
      "description": "Holds one or more instances of `ClaimReview` markup for a webpage.",
      "properties": {
        "pageUrl": {
          "description": "The URL of the page associated with this `ClaimReview` markup. While every individual `ClaimReview` has its own URL field, semantically this is a page-level field, and each `ClaimReview` on this page will use this value unless individually overridden. Corresponds to `ClaimReview.url`",
          "type": "string"
        },
        "claimReviewAuthor": {
          "description": "Info about the author of this claim review. Similar to the above, semantically these are page-level fields, and each `ClaimReview` on this page will contain the same values.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor"
        },
        "claimReviewMarkups": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup"
          },
          "description": "A list of individual claim reviews for this page. Each item in the list corresponds to one `ClaimReview` element.",
          "type": "array"
        },
        "versionId": {
          "description": "The version ID for this markup. Except for update requests, this field is output-only and should not be set by the user.",
          "type": "string"
        },
        "publishDate": {
          "description": "The date when the fact check was published. Similar to the URL, semantically this is a page-level field, and each `ClaimReview` on this page will contain the same value. Corresponds to `ClaimReview.datePublished`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup": {
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup",
      "description": "Fields for an individual `ClaimReview` element. Except for sub-messages that group fields together, each of these fields correspond those in https://schema.org/ClaimReview. We list the precise mapping for each field.",
      "properties": {
        "claimLocation": {
          "description": "The location where this claim was made. Corresponds to `ClaimReview.itemReviewed.name`.",
          "type": "string"
        },
        "claimFirstAppearance": {
          "type": "string",
          "description": "A link to a work in which this claim first appears. Corresponds to `ClaimReview.itemReviewed[@type=Claim].firstAppearance.url`."
        },
        "claimAuthor": {
          "description": "Info about the author of this claim.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor"
        },
        "claimAppearances": {
          "items": {
            "type": "string"
          },
          "description": "A list of links to works in which this claim appears, aside from the one specified in `claim_first_appearance`. Corresponds to `ClaimReview.itemReviewed[@type=Claim].appearance.url`.",
          "type": "array"
        },
        "claimReviewed": {
          "description": "A short summary of the claim being evaluated. Corresponds to `ClaimReview.claimReviewed`.",
          "type": "string"
        },
        "claimDate": {
          "description": "The date when the claim was made or entered public discourse. Corresponds to `ClaimReview.itemReviewed.datePublished`.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "This field is optional, and will default to the page URL. We provide this field to allow you the override the default value, but the only permitted override is the page URL plus an optional anchor link (\"page jump\"). Corresponds to `ClaimReview.url`"
        },
        "rating": {
          "description": "Info about the rating of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult": {
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult",
      "description": "A claim and its associated information.",
      "properties": {
        "claim": {
          "description": "A claim which matched the query.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
      "type": "object",
      "description": "Information about the claim author.",
      "properties": {
        "name": {
          "description": "A person or organization stating the claim. For instance, \"John Doe\". Corresponds to `ClaimReview.itemReviewed.author.name`.",
          "type": "string"
        },
        "jobTitle": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.itemReviewed.author.jobTitle`."
        },
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.image`.",
          "type": "string"
        },
        "sameAs": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.itemReviewed.author.sameAs`."
        }
      }
    }
  },
  "ownerName": "Google",
  "title": "Fact Check Tools API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/factchecktools": {
          "description": "Read, create, update, and delete your ClaimReview data."
        }
      }
    }
  },
  "mtlsRootUrl": "https://factchecktools.mtls.googleapis.com/"
}