{
  "version": "v1beta1",
  "version_module": true,
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "id": "file:v1beta1",
  "documentationLink": "https://cloud.google.com/filestore/",
  "revision": "20260422",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "The Cloud Filestore API is used for creating and managing cloud file servers.",
  "title": "Cloud Filestore API",
  "discoveryVersion": "v1",
  "baseUrl": "https://file.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "id": "file.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "id": "file.projects.locations.get",
              "description": "Gets information about a location.",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "backups": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The backup's project and location, in the format `projects/{project_id}/locations/{location}`. In Filestore, backup locations map to Google Cloud regions, for example **us-west1**."
                    },
                    "backupId": {
                      "type": "string",
                      "description": "Required. The ID to use for the backup. The ID must be unique within the specified project and location. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Backup"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/backups",
                  "id": "file.projects.locations.backups.create",
                  "description": "Creates a backup.",
                  "httpMethod": "POST"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListBackupsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The project and location for which to retrieve backup information, in the format `projects/{project_id}/locations/{location}`. In Filestore, backup locations map to Google Cloud regions, for example **us-west1**. To retrieve backup information for all locations, use \"-\" for the `{location}` value."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "List filter."
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/backups",
                  "id": "file.projects.locations.backups.list",
                  "description": "Lists all backups in a project for either a specified location or for all locations.",
                  "httpMethod": "GET"
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "required": true,
                      "description": "Output only. The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "Backup"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "id": "file.projects.locations.backups.patch",
                  "description": "Updates the settings of a specific backup."
                },
                "delete": {
                  "id": "file.projects.locations.backups.delete",
                  "description": "Deletes a backup.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "required": true,
                      "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backups/{backup_id}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}"
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Backup"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backups/{backup_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "file.projects.locations.backups.get",
                  "description": "Gets the details of a specific backup."
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "id": "file.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "file.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "file.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "file.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  }
                }
              }
            },
            "instances": {
              "resources": {
                "shares": {
                  "methods": {
                    "get": {
                      "id": "file.projects.locations.instances.shares.get",
                      "description": "Gets the details of a specific share.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares/{sharesId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/shares/[^/]+$",
                          "required": true,
                          "description": "Required. The share resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/shares/{share_id}`",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Share"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}"
                    },
                    "delete": {
                      "id": "file.projects.locations.instances.shares.delete",
                      "description": "Deletes a share.",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares/{sharesId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/shares/[^/]+$",
                          "required": true,
                          "description": "Required. The share resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/share/{share_id}`",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "file.projects.locations.instances.shares.list",
                      "description": "Lists all shares for a specified instance.",
                      "path": "v1beta1/{+parent}/shares",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "required": true,
                          "description": "Required. The instance for which to retrieve share information, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`.",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of items to return.",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "description": "List filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListSharesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "id": "file.projects.locations.instances.shares.patch",
                      "description": "Updates the settings of a specific share.",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Share"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares/{sharesId}",
                      "parameters": {
                        "name": {
                          "description": "Output only. The resource name of the share, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/shares/{share_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/shares/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields: * \"description\" * \"capacity_gb\" * \"labels\" * \"nfs_export_options\"",
                          "format": "google-fieldmask"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "id": "file.projects.locations.instances.shares.create",
                      "description": "Creates a share.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "required": true,
                          "description": "Required. The Filestore Instance to create the share for, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                          "location": "path",
                          "type": "string"
                        },
                        "shareId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID to use for the share. The ID must be unique within the specified instance. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/shares",
                      "request": {
                        "$ref": "Share"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "required": true,
                          "description": "Required. The Filestore Instance to create the snapshots of, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                          "location": "path",
                          "type": "string"
                        },
                        "snapshotId": {
                          "type": "string",
                          "description": "Required. The ID to use for the snapshot. The ID must be unique within the specified instance. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/snapshots",
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "file.projects.locations.instances.snapshots.create",
                      "description": "Creates a snapshot."
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/snapshots/{snapshot_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Snapshot"
                      },
                      "id": "file.projects.locations.instances.snapshots.get",
                      "description": "Gets the details of a specific snapshot.",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "file.projects.locations.instances.snapshots.list",
                      "description": "Lists all snapshots in a project for either a specified location or for all locations.",
                      "path": "v1beta1/{+parent}/snapshots",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots",
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted)."
                        },
                        "filter": {
                          "type": "string",
                          "description": "List filter.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of items to return.",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The instance for which to retrieve snapshot information, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "required": true
                        },
                        "returnPartialSuccess": {
                          "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "file.projects.locations.instances.snapshots.patch",
                      "description": "Updates the settings of a specific snapshot.",
                      "path": "v1beta1/{+name}",
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Output only. The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "required": true,
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/snapshots/{snapshot_id}`",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "file.projects.locations.instances.snapshots.delete",
                      "description": "Deletes a snapshot.",
                      "httpMethod": "DELETE"
                    }
                  }
                }
              },
              "methods": {
                "revert": {
                  "request": {
                    "$ref": "RevertInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:revert",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:revert",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "file.projects.locations.instances.revert",
                  "description": "Revert an existing instance's file system to a specified snapshot.",
                  "httpMethod": "POST"
                },
                "delete": {
                  "id": "file.projects.locations.instances.delete",
                  "description": "Deletes an instance.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The instance resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set to true, any snapshots of the instance will also be deleted. (Otherwise, the request will only work if the instance has no snapshots.)"
                    }
                  }
                },
                "restore": {
                  "httpMethod": "POST",
                  "id": "file.projects.locations.instances.restore",
                  "description": "Restores an existing instance's file share from a backup. The capacity of the instance needs to be equal to or larger than the capacity of the backup (and also equal to or larger than the minimum capacity of the tier).",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:restore",
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "file.projects.locations.instances.get",
                  "description": "Gets the details of a specific instance.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Required. The instance resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`."
                    }
                  },
                  "response": {
                    "$ref": "Instance"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "promoteReplica": {
                  "path": "v1beta1/{+name}:promoteReplica",
                  "request": {
                    "$ref": "PromoteReplicaRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:promoteReplica",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "file.projects.locations.instances.promoteReplica",
                  "description": "Promote the standby instance (replica)."
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameters": {
                    "pageToken": {
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "List filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The project and location for which to retrieve instance information, in the format `projects/{project_id}/locations/{location}`. In Cloud Filestore, locations map to Google Cloud zones, for example **us-west1-b**. To retrieve instance information for all locations, use \"-\" for the `{location}` value.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/instances",
                  "id": "file.projects.locations.instances.list",
                  "description": "Lists all instances in a project for either a specified location or for all locations.",
                  "httpMethod": "GET"
                },
                "patch": {
                  "id": "file.projects.locations.instances.patch",
                  "description": "Updates the settings of a specific instance.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields: * \"description\" * \"directory_services\" * \"file_shares\" * \"labels\" * \"performance_config\" * \"deletion_protection_enabled\" * \"deletion_protection_reason\"",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "Output only. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}"
                },
                "resumeReplica": {
                  "path": "v1beta1/{+name}:resumeReplica",
                  "request": {
                    "$ref": "ResumeReplicaRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:resumeReplica",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "file.projects.locations.instances.resumeReplica",
                  "description": "Resume the standby instance (replica). WARNING: Any data written to the standby instance while paused will be lost when the replica is resumed."
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "file.projects.locations.instances.create",
                  "description": "Creates an instance. When creating from a backup, the capacity of the new instance needs to be equal to or larger than the capacity of the backup (and also equal to or larger than the minimum capacity of the tier).",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameters": {
                    "instanceId": {
                      "description": "Required. The ID of the instance to create. The ID must be unique within the specified project and location. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The instance's project and location, in the format `projects/{project_id}/locations/{location}`. In Filestore, locations map to Google Cloud zones, for example **us-west1-b**.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/instances",
                  "request": {
                    "$ref": "Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "pauseReplica": {
                  "id": "file.projects.locations.instances.pauseReplica",
                  "description": "Pause the standby instance (replica). WARNING: This operation makes the standby instance's NFS filesystem writable. Any data written to the standby instance while paused will be lost when the replica is resumed or promoted.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PauseReplicaRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:pauseReplica",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:pauseReplica",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "batchPath": "batch",
  "basePath": "",
  "schemas": {
    "PromoteReplicaRequest": {
      "id": "PromoteReplicaRequest",
      "description": "PromoteReplicaRequest promotes a Filestore standby instance (replica).",
      "properties": {
        "peerInstance": {
          "type": "string",
          "description": "Optional. The resource name of the peer instance to promote, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`. The peer instance is required if the operation is called on an active instance."
        }
      },
      "type": "object"
    },
    "LdapConfig": {
      "type": "object",
      "id": "LdapConfig",
      "description": "LdapConfig contains all the parameters for connecting to LDAP servers.",
      "properties": {
        "groupsOu": {
          "description": "Optional. The groups Organizational Unit (OU) is optional. This parameter is a hint to allow faster lookup in the LDAP namespace. In case that this parameter is not provided, Filestore instance will query the whole LDAP namespace.",
          "type": "string"
        },
        "servers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The servers names are used for specifying the LDAP servers names. The LDAP servers names can come with two formats: 1. DNS name, for example: `ldap.example1.com`, `ldap.example2.com`. 2. IP address, for example: `10.0.0.1`, `10.0.0.2`, `10.0.0.3`. All servers names must be in the same format: either all DNS names or all IP addresses."
        },
        "domain": {
          "type": "string",
          "description": "Required. The LDAP domain name in the format of `my-domain.com`."
        },
        "usersOu": {
          "type": "string",
          "description": "Optional. The users Organizational Unit (OU) is optional. This parameter is a hint to allow faster lookup in the LDAP namespace. In case that this parameter is not provided, Filestore instance will query the whole LDAP namespace."
        }
      }
    },
    "Snapshot": {
      "type": "object",
      "id": "Snapshot",
      "description": "A Filestore snapshot.",
      "properties": {
        "filesystemUsedBytes": {
          "description": "Output only. The amount of bytes needed to allocate a full copy of the snapshot content",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`.",
          "readOnly": true
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value",
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected."
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The time when the snapshot was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING"
          ],
          "description": "Output only. The snapshot state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "Snapshot is being created.",
            "Snapshot is available for use.",
            "Snapshot is being deleted."
          ]
        }
      }
    },
    "Replication": {
      "type": "object",
      "id": "Replication",
      "description": "Optional. The configuration used to replicate an instance.",
      "properties": {
        "role": {
          "type": "string",
          "enumDescriptions": [
            "Role not set.",
            "The instance is the `ACTIVE` replication member, functions as the replication source instance.",
            "The instance is the `STANDBY` replication member, functions as the replication destination instance."
          ],
          "description": "Output only. The replication role. When creating a new replica, this field must be set to `STANDBY`.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "ACTIVE",
            "STANDBY"
          ]
        },
        "replicas": {
          "type": "array",
          "items": {
            "$ref": "ReplicaConfig"
          },
          "description": "Replication configuration for the replica instance associated with this instance. Only a single replica is supported."
        }
      }
    },
    "ReplicaConfig": {
      "type": "object",
      "id": "ReplicaConfig",
      "description": "Replica configuration for the instance.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "REMOVING",
            "FAILED",
            "PROMOTING",
            "PAUSING",
            "PAUSED",
            "RESUMING"
          ],
          "description": "Output only. The replica state.",
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "The replica is being created.",
            "The replica is ready.",
            "The replica is being removed.",
            "The replica is experiencing an issue and might be unusable. You can get further details from the `stateReasons` field of the `ReplicaConfig` object.",
            "The replica is being promoted.",
            "The replica is being paused.",
            "The replica is paused.",
            "The replica is being resumed."
          ]
        },
        "stateReasons": {
          "type": "array",
          "items": {
            "enum": [
              "STATE_REASON_UNSPECIFIED",
              "PEER_INSTANCE_UNREACHABLE",
              "REMOVE_FAILED",
              "PAUSE_FAILED",
              "RESUME_FAILED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Reason not specified.",
              "The peer instance is unreachable.",
              "The remove replica peer instance operation failed.",
              "The pause replica operation failed.",
              "The resume replica operation failed."
            ]
          },
          "description": "Output only. Additional information about the replication state, if available."
        },
        "peerInstance": {
          "type": "string",
          "description": "The name of the source instance for the replica, in the format `projects/{project}/locations/{location}/instances/{instance}`. This field is required when creating a replica."
        },
        "lastActiveSyncTime": {
          "description": "Output only. The timestamp of the latest replication snapshot taken on the active instance and is already replicated safely.",
          "format": "google-datetime",
          "type": "string"
        },
        "stateUpdateTime": {
          "type": "string",
          "description": "Output only. The time when the replica state was updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule",
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "properties": {
        "scheduleDeadlineTime": {
          "type": "string",
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "format": "google-datetime",
          "type": "string"
        },
        "canReschedule": {
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "deprecated": true,
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "description": "The scheduled end time for the maintenance.",
          "format": "google-datetime"
        },
        "rolloutManagementPolicy": {
          "type": "string",
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy."
        }
      },
      "type": "object"
    },
    "FixedIOPS": {
      "type": "object",
      "id": "FixedIOPS",
      "description": "Fixed IOPS (input/output operations per second) parameters.",
      "properties": {
        "maxIops": {
          "type": "string",
          "description": "Required. Maximum IOPS.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata",
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "properties": {
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility"
        },
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The location of the node, if different from instance location."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "FileShareConfig": {
      "id": "FileShareConfig",
      "description": "File share configuration for the instance.",
      "properties": {
        "sourceBackupdrBackup": {
          "type": "string",
          "description": "The resource name of the BackupDR backup, in the format `projects/{project_id}/locations/{location_id}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}`,"
        },
        "capacityGb": {
          "description": "File share capacity in gigabytes (GB). Filestore defines 1 GB as 1024^3 bytes.",
          "format": "int64",
          "type": "string"
        },
        "nfsExportOptions": {
          "type": "array",
          "items": {
            "$ref": "NfsExportOptions"
          },
          "description": "Nfs Export Options. There is a limit of 10 export options per file share."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the file share. Must use 1-16 characters for the basic service tier and 1-63 characters for all other service tiers. Must use lowercase letters, numbers, or underscores `[a-z0-9_]`. Must start with a letter. Immutable."
        },
        "sourceBackup": {
          "type": "string",
          "description": "The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`, that this file share has been restored from."
        }
      },
      "type": "object"
    },
    "RestoreInstanceRequest": {
      "id": "RestoreInstanceRequest",
      "description": "RestoreInstanceRequest restores an existing instance's file share from a backup.",
      "properties": {
        "sourceSnapshot": {
          "type": "string",
          "description": "The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/snapshots/{snapshot_id}`.",
          "deprecated": true
        },
        "fileShare": {
          "description": "Required. Name of the file share in the Filestore instance that the backup is being restored to.",
          "type": "string"
        },
        "sourceBackup": {
          "description": "The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "RevertInstanceRequest": {
      "type": "object",
      "id": "RevertInstanceRequest",
      "description": "RevertInstanceRequest reverts the given instance's file share to the specified snapshot.",
      "properties": {
        "targetSnapshotId": {
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`",
          "type": "string"
        }
      }
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "properties": {
        "backups": {
          "description": "A list of backups in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of backups from all locations. If any location is unreachable, the response will only return backups in reachable locations and the \"unreachable\" field will be populated with a list of unreachable locations.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "DailyCycle": {
      "type": "object",
      "id": "DailyCycle",
      "description": "Time window specified for daily operations.",
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer.",
          "format": "google-duration"
        }
      }
    },
    "ListSnapshotsResponse": {
      "id": "ListSnapshotsResponse",
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "properties": {
        "snapshots": {
          "description": "A list of snapshots in the project for the specified instance.",
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "properties": {
        "exclude": {
          "type": "boolean",
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted."
        },
        "maintenancePolicies": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          }
        },
        "isRollback": {
          "type": "boolean",
          "description": "Optional. If the update call is triggered from rollback, set the value as true."
        }
      },
      "type": "object"
    },
    "UpdatePolicy": {
      "type": "object",
      "id": "UpdatePolicy",
      "description": "Maintenance policy applicable to instance updates.",
      "properties": {
        "channel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "description": "Optional. Relative scheduling channel applied to resource.",
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ]
        },
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "denyMaintenancePeriods": {
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          }
        }
      }
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "ListInstancesResponse is the result of ListInstancesRequest.",
      "properties": {
        "instances": {
          "description": "A list of instances in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of instances from all locations. If any location is unreachable, the response will only return instances in reachable locations and the \"unreachable\" field will be populated with a list of unreachable locations.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "PerformanceLimits": {
      "id": "PerformanceLimits",
      "description": "The enforced performance limits, calculated from the instance's performance configuration.",
      "properties": {
        "maxIops": {
          "description": "Output only. The maximum IOPS.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "maxReadThroughputBps": {
          "type": "string",
          "description": "Output only. The maximum read throughput in bytes per second.",
          "readOnly": true,
          "format": "int64"
        },
        "maxReadIops": {
          "type": "string",
          "description": "Output only. The maximum read IOPS.",
          "readOnly": true,
          "format": "int64"
        },
        "maxWriteThroughputBps": {
          "type": "string",
          "description": "Output only. The maximumwrite throughput in bytes per second.",
          "readOnly": true,
          "format": "int64"
        },
        "maxWriteIops": {
          "description": "Output only. The maximum write IOPS.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MaintenancePolicy": {
      "type": "object",
      "id": "MaintenancePolicy",
      "description": "Defines policies to service maintenance events.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`."
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the resource was created.",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ],
          "description": "Optional. The state of the policy."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the resource was updated.",
          "format": "google-datetime"
        },
        "updatePolicy": {
          "description": "Maintenance policy applicable to instance update.",
          "$ref": "UpdatePolicy"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter": {
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter",
      "description": "Contains notification related data.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Array of string values. e.g. instance's replica information."
        }
      }
    },
    "ListSharesResponse": {
      "id": "ListSharesResponse",
      "description": "ListSharesResponse is the result of ListSharesRequest.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "shares": {
          "description": "A list of shares in the project for the specified instance.",
          "type": "array",
          "items": {
            "$ref": "Share"
          }
        }
      },
      "type": "object"
    },
    "ResumeReplicaRequest": {
      "id": "ResumeReplicaRequest",
      "description": "ResumeReplicaRequest resumes a Filestore standby instance (replica).",
      "properties": {},
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Schedule": {
      "type": "object",
      "id": "Schedule",
      "description": "Configure the schedule.",
      "properties": {
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer.",
          "format": "google-duration"
        },
        "day": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Allows to define schedule that runs specified day of the week."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility",
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "properties": {
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        },
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        }
      }
    },
    "WeeklyCycle": {
      "type": "object",
      "id": "WeeklyCycle",
      "description": "Time window specified for weekly operations.",
      "properties": {
        "schedule": {
          "type": "array",
          "items": {
            "$ref": "Schedule"
          },
          "description": "User can specify multiple windows in a week. Minimum of 1 window."
        }
      }
    },
    "ManagedActiveDirectoryConfig": {
      "type": "object",
      "id": "ManagedActiveDirectoryConfig",
      "description": "ManagedActiveDirectoryConfig contains all the parameters for connecting to Managed Service for Microsoft Active Directory (Managed Microsoft AD).",
      "properties": {
        "domain": {
          "description": "Required. The domain resource name, in the format `projects/{project_id}/locations/global/domains/{domain}`.",
          "type": "string"
        },
        "computer": {
          "type": "string",
          "description": "Required. The computer name is used as a prefix in the command to mount the remote target. For example: if the computer is `my-computer`, the mount command will look like: `$mount -o vers=4.1,sec=krb5 my-computer.filestore.: `."
        }
      }
    },
    "NfsExportOptions": {
      "type": "object",
      "id": "NfsExportOptions",
      "description": "NFS export options specifications.",
      "properties": {
        "ipRanges": {
          "description": "List of either an IPv4 addresses in the format `{octet1}.{octet2}.{octet3}.{octet4}` or CIDR ranges in the format `{octet1}.{octet2}.{octet3}.{octet4}/{mask size}` which may mount the file share. Overlapping IP ranges are not allowed, both within and across NfsExportOptions. An error will be returned. The limit is 64 IP ranges/addresses for each FileShareConfig among all NfsExportOptions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "anonUid": {
          "type": "string",
          "description": "An integer representing the anonymous user id with a default value of 65534. Anon_uid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings.",
          "format": "int64"
        },
        "anonGid": {
          "type": "string",
          "description": "An integer representing the anonymous group id with a default value of 65534. Anon_gid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings.",
          "format": "int64"
        },
        "securityFlavors": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "SecurityFlavor not set.",
              "The user's UNIX user-id and group-ids are transferred \"in the clear\" (not encrypted) on the network, unauthenticated by the NFS server (default).",
              "End-user authentication through Kerberos V5.",
              "krb5 plus integrity protection (data packets are tamper proof).",
              "krb5i plus privacy protection (data packets are tamper proof and encrypted)."
            ],
            "enum": [
              "SECURITY_FLAVOR_UNSPECIFIED",
              "AUTH_SYS",
              "KRB5",
              "KRB5I",
              "KRB5P"
            ]
          },
          "description": "The security flavors allowed for mount operations. The default is AUTH_SYS."
        },
        "accessMode": {
          "description": "Either READ_ONLY, for allowing only read requests on the exported directory, or READ_WRITE, for allowing both read and write requests. The default is READ_WRITE.",
          "type": "string",
          "enumDescriptions": [
            "AccessMode not set.",
            "The client can only read the file share.",
            "The client can read and write the file share (default)."
          ],
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ]
        },
        "squashMode": {
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH"
          ],
          "description": "Either NO_ROOT_SQUASH, for allowing root access on the exported directory, or ROOT_SQUASH, for not allowing root access. The default is NO_ROOT_SQUASH.",
          "type": "string",
          "enumDescriptions": [
            "SquashMode not set.",
            "The Root user has root access to the file share (default).",
            "The Root user has squashed access to the anonymous uid/gid."
          ]
        },
        "network": {
          "description": "Optional. The source VPC network for ip_ranges. Required for instances using Private Service Connect, optional otherwise. If provided, must be the same network specified in the `NetworkConfig.network` field.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DenyMaintenancePeriod": {
      "id": "DenyMaintenancePeriod",
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date.",
      "properties": {
        "time": {
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        },
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end.",
          "$ref": "Date"
        }
      },
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata": {
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
[...]
