{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://file.googleapis.com/",
  "canonicalName": "Cloud Filestore",
  "protocol": "rest",
  "title": "Cloud Filestore API",
  "batchPath": "batch",
  "version_module": true,
  "version": "v1",
  "revision": "20260422",
  "servicePath": "",
  "mtlsRootUrl": "https://file.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "NfsExportOptions": {
      "description": "NFS export options specifications.",
      "id": "NfsExportOptions",
      "type": "object",
      "properties": {
        "squashMode": {
          "description": "Either NO_ROOT_SQUASH, for allowing root access on the exported directory, or ROOT_SQUASH, for not allowing root access. The default is NO_ROOT_SQUASH.",
          "type": "string",
          "enumDescriptions": [
            "SquashMode not set.",
            "The Root user has root access to the file share (default).",
            "The Root user has squashed access to the anonymous uid/gid."
          ],
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH"
          ]
        },
        "accessMode": {
          "description": "Either READ_ONLY, for allowing only read requests on the exported directory, or READ_WRITE, for allowing both read and write requests. The default is READ_WRITE.",
          "enumDescriptions": [
            "AccessMode not set.",
            "The client can only read the file share.",
            "The client can read and write the file share (default)."
          ],
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "type": "string"
        },
        "ipRanges": {
          "items": {
            "type": "string"
          },
          "description": "List of either an IPv4 addresses in the format `{octet1}.{octet2}.{octet3}.{octet4}` or CIDR ranges in the format `{octet1}.{octet2}.{octet3}.{octet4}/{mask size}` which may mount the file share. Overlapping IP ranges are not allowed, both within and across NfsExportOptions. An error will be returned. The limit is 64 IP ranges/addresses for each FileShareConfig among all NfsExportOptions.",
          "type": "array"
        },
        "network": {
          "description": "Optional. The source VPC network for ip_ranges. Required for instances using Private Service Connect, optional otherwise. If provided, must be the same network specified in the `NetworkConfig.network` field.",
          "type": "string"
        },
        "anonUid": {
          "description": "An integer representing the anonymous user id with a default value of 65534. Anon_uid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings.",
          "type": "string",
          "format": "int64"
        },
        "anonGid": {
          "description": "An integer representing the anonymous group id with a default value of 65534. Anon_gid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RevertInstanceRequest": {
      "id": "RevertInstanceRequest",
      "type": "object",
      "properties": {
        "targetSnapshotId": {
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`",
          "type": "string"
        }
      },
      "description": "RevertInstanceRequest reverts the given instance's file share to the specified snapshot."
    },
    "DailyCycle": {
      "id": "DailyCycle",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer."
        }
      },
      "description": "Time window specified for daily operations."
    },
    "PscConfig": {
      "description": "Private Service Connect configuration.",
      "id": "PscConfig",
      "type": "object",
      "properties": {
        "endpointProject": {
          "description": "Optional. Consumer service project in which the Private Service Connect endpoint would be set up. This is optional, and only relevant in case the network is a shared VPC. If this is not specified, the endpoint would be setup in the VPC host project.",
          "type": "string"
        }
      }
    },
    "FileShareConfig": {
      "id": "FileShareConfig",
      "type": "object",
      "properties": {
        "capacityGb": {
          "type": "string",
          "format": "int64",
          "description": "File share capacity in gigabytes (GB). Filestore defines 1 GB as 1024^3 bytes."
        },
        "sourceBackup": {
          "description": "The resource name of the backup, in the format `projects/{project_number}/locations/{location_id}/backups/{backup_id}`, that this file share has been restored from.",
          "type": "string"
        },
        "nfsExportOptions": {
          "type": "array",
          "items": {
            "$ref": "NfsExportOptions"
          },
          "description": "Nfs Export Options. There is a limit of 10 export options per file share."
        },
        "sourceBackupdrBackup": {
          "description": "The resource name of the BackupDR backup, in the format `projects/{project_id}/locations/{location_id}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}`,",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the file share. Must use 1-16 characters for the basic service tier and 1-63 characters for all other service tiers. Must use lowercase letters, numbers, or underscores `[a-z0-9_]`. Must start with a letter. Immutable.",
          "type": "string"
        }
      },
      "description": "File share configuration for the instance."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Array of string values. e.g. instance's replica information."
        }
      },
      "description": "Contains notification related data."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "NetworkConfig": {
      "description": "Network configuration for the instance.",
      "id": "NetworkConfig",
      "type": "object",
      "properties": {
        "pscConfig": {
          "description": "Optional. Private Service Connect configuration. Should only be set when connect_mode is PRIVATE_SERVICE_CONNECT.",
          "$ref": "PscConfig"
        },
        "modes": {
          "description": "Internet protocol versions for which the instance has IP addresses assigned.",
          "items": {
            "enumDescriptions": [
              "Internet protocol not set.",
              "Use the IPv4 internet protocol.",
              "Use the IPv6 internet protocol. Only supported when using Private Service Connect."
            ],
            "enum": [
              "ADDRESS_MODE_UNSPECIFIED",
              "MODE_IPV4",
              "MODE_IPV6"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "connectMode": {
          "description": "The network connect mode of the Filestore instance. If not provided, the connect mode defaults to DIRECT_PEERING.",
          "enumDescriptions": [
            "Not set.",
            "Connect via direct peering to the Filestore service.",
            "Connect to your Filestore instance using Private Service Access. Private services access provides an IP address range for multiple Google Cloud services, including Filestore.",
            "Connect to your Filestore instance using Private Service Connect. A connection policy must exist in the region for the VPC network and the google-cloud-filestore service class."
          ],
          "enum": [
            "CONNECT_MODE_UNSPECIFIED",
            "DIRECT_PEERING",
            "PRIVATE_SERVICE_ACCESS",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "type": "string"
        },
        "ipAddresses": {
          "description": "Output only. IPv4 addresses in the format `{octet1}.{octet2}.{octet3}.{octet4}` or IPv6 addresses in the format `{block1}:{block2}:{block3}:{block4}:{block5}:{block6}:{block7}:{block8}`.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "network": {
          "description": "The name of the Google Compute Engine [VPC network](https://cloud.google.com/vpc/docs/vpc) to which the instance is connected.",
          "type": "string"
        },
        "reservedIpRange": {
          "description": "Optional, reserved_ip_range can have one of the following two types of values. * CIDR range value when using DIRECT_PEERING connect mode. * [Allocated IP address range](https://cloud.google.com/compute/docs/ip-addresses/reserve-static-internal-ip-address) when using PRIVATE_SERVICE_ACCESS connect mode. When the name of an allocated IP address range is specified, it must be one of the ranges associated with the private service access connection. When specified as a direct CIDR value, it must be a /29 CIDR block for Basic tier, a /24 CIDR block for High Scale tier, or a /26 CIDR block for Enterprise tier in one of the [internal IP address ranges](https://www.arin.net/reference/research/statistics/address_filters/) that identifies the range of IP addresses reserved for this instance. For example, 10.0.0.0/29, 192.168.0.0/24 or 192.168.0.0/26, respectively. The range you specify can't overlap with either existing subnets or assigned IP address ranges for other Filestore instances in the selected VPC network.",
          "type": "string"
        }
      }
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "Schedule": {
      "description": "Configure the schedule.",
      "id": "Schedule",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        },
        "day": {
          "description": "Allows to define schedule that runs specified day of the week.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "duration": {
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "PromoteReplicaRequest": {
      "id": "PromoteReplicaRequest",
      "type": "object",
      "properties": {
        "peerInstance": {
          "description": "Optional. The resource name of the peer instance to promote, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`. The peer instance is required if the operation is called on an active instance.",
          "type": "string"
        }
      },
      "description": "PromoteReplicaRequest promotes a Filestore standby instance (replica)."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
      "description": "Describes provisioned dataplane resources.",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\".",
          "type": "string"
        }
      }
    },
    "UpdatePolicy": {
      "id": "UpdatePolicy",
      "type": "object",
      "properties": {
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "channel": {
          "description": "Optional. Relative scheduling channel applied to resource.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ]
        },
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "type": "array"
        }
      },
      "description": "Maintenance policy applicable to instance updates."
    },
    "Backup": {
      "id": "Backup",
      "type": "object",
      "properties": {
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "sourceFileShare": {
          "description": "Name of the file share in the source Filestore instance that the backup is created from.",
          "type": "string"
        },
        "capacityGb": {
          "description": "Output only. Capacity of the source file share when the backup was created.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "downloadBytes": {
          "description": "Output only. Amount of bytes that will be downloaded if the backup is restored. This may be different than storage bytes, since sequential backups of the same disk will share storage.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Output only. The resource name of the backup, in the format `projects/{project_number}/locations/{location_id}/backups/{backup_id}`.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The backup state.",
          "enumDescriptions": [
            "State not set.",
            "Backup is being created.",
            "Backup has been taken and the operation is being finalized. At this point, changes to the file share will not be reflected in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new instances or restoring existing instances."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "FINALIZING",
            "READY",
            "DELETING",
            "INVALID"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the backup was created."
        },
        "sourceInstance": {
          "description": "The resource name of the source Filestore instance, in the format `projects/{project_number}/locations/{location_id}/instances/{instance_id}`, used to create this backup.",
          "type": "string"
        },
        "sourceInstanceTier": {
          "description": "Output only. The service tier of the source Filestore instance that this backup is created from.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "STANDARD tier. BASIC_HDD is the preferred term for this tier.",
            "PREMIUM tier. BASIC_SSD is the preferred term for this tier.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_HDD is an alias for STANDARD Tier, offering economical performance backed by HDD.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_SSD is an alias for PREMIUM Tier, and offers improved performance backed by SSD.",
            "HIGH_SCALE instances offer expanded capacity and performance scaling capabilities.",
            "ENTERPRISE instances offer the features and availability needed for mission-critical workloads.",
            "ZONAL instances offer expanded capacity and performance scaling capabilities.",
            "REGIONAL instances offer the features and availability needed for mission-critical workloads."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "BASIC_HDD",
            "BASIC_SSD",
            "HIGH_SCALE_SSD",
            "ENTERPRISE",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "storageBytes": {
          "description": "Output only. The size of the storage used by the backup. As backups share storage, this number is expected to change with backup creation/deletion.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value"
        },
        "kmsKey": {
          "description": "Immutable. KMS key name used for data encryption.",
          "type": "string"
        },
        "fileSystemProtocol": {
          "enumDescriptions": [
            "FILE_PROTOCOL_UNSPECIFIED serves a \"not set\" default value when a FileProtocol is a separate field in a message.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "enum": [
            "FILE_PROTOCOL_UNSPECIFIED",
            "NFS_V3",
            "NFS_V4_1"
          ],
          "description": "Output only. The file system protocol of the source Filestore instance that this backup is created from.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A Filestore backup."
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "LdapConfig": {
      "id": "LdapConfig",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. The LDAP domain name in the format of `my-domain.com`.",
          "type": "string"
        },
        "servers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The servers names are used for specifying the LDAP servers names. The LDAP servers names can come with two formats: 1. DNS name, for example: `ldap.example1.com`, `ldap.example2.com`. 2. IP address, for example: `10.0.0.1`, `10.0.0.2`, `10.0.0.3`. All servers names must be in the same format: either all DNS names or all IP addresses."
        },
        "usersOu": {
          "description": "Optional. The users Organizational Unit (OU) is optional. This parameter is a hint to allow faster lookup in the LDAP namespace. In case that this parameter is not provided, Filestore instance will query the whole LDAP namespace.",
          "type": "string"
        },
        "groupsOu": {
          "description": "Optional. The groups Organizational Unit (OU) is optional. This parameter is a hint to allow faster lookup in the LDAP namespace. In case that this parameter is not provided, Filestore instance will query the whole LDAP namespace.",
          "type": "string"
        }
      },
      "description": "LdapConfig contains all the parameters for connecting to LDAP servers."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility",
      "type": "object",
      "properties": {
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        },
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        }
      },
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
      "type": "object",
      "properties": {
        "maintenancePolicies": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          }
        },
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        },
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        }
      },
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "DirectoryServicesConfig": {
      "id": "DirectoryServicesConfig",
      "type": "object",
      "properties": {
        "ldap": {
          "description": "Configuration for LDAP servers.",
          "$ref": "LdapConfig"
        }
      },
      "description": "Directory Services configuration for Kerberos-based authentication."
    },
    "MaintenancePolicy": {
      "description": "Defines policies to service maintenance events.",
      "id": "MaintenancePolicy",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
        },
        "state": {
          "description": "Optional. The state of the policy.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ]
        },
        "updatePolicy": {
          "description": "Maintenance policy applicable to instance update.",
          "$ref": "UpdatePolicy"
        },
        "updateTime": {
          "description": "Output only. The time when the resource was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "ListSnapshotsResponse": {
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "id": "ListSnapshotsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "snapshots": {
          "items": {
            "$ref": "Snapshot"
          },
          "description": "A list of snapshots in the project for the specified instance.",
          "type": "array"
        }
      }
    },
    "PauseReplicaRequest": {
      "description": "PauseReplicaRequest pauses a Filestore standby instance (replica).",
      "id": "PauseReplicaRequest",
      "type": "object",
      "properties": {}
    },
    "ListInstancesResponse": {
      "description": "ListInstancesResponse is the result of ListInstancesRequest.",
      "id": "ListInstancesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "instances": {
          "description": "A list of instances in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of instances from all locations. If any location is unreachable, the response will only return instances in reachable locations and the \"unreachable\" field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "Instance"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
      "type": "object",
      "properties": {
        "tier": {
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility"
        },
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
          },
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch.",
          "type": "array"
        }
      },
      "description": "SloMetadata contains resources required for proper SLO classification of the instance."
    },
    "WeeklyCycle": {
      "id": "WeeklyCycle",
      "type": "object",
      "properties": {
        "schedule": {
          "type": "array",
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "items": {
            "$ref": "Schedule"
          }
        }
      },
      "description": "Time window specified for weekly operations."
    },
    "MaintenanceWindow": {
      "description": "MaintenanceWindow definition.",
      "id": "MaintenanceWindow",
      "type": "object",
      "properties": {
        "dailyCycle": {
          "description": "Daily cycle.",
          "$ref": "DailyCycle"
        },
        "weeklyCycle": {
          "description": "Weekly cycle.",
          "$ref": "WeeklyCycle"
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule",
      "type": "object",
      "properties": {
        "scheduleDeadlineTime": {
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "canReschedule": {
          "deprecated": true,
          "type": "boolean",
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance."
        },
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule"
    },
    "FixedIOPS": {
      "id": "FixedIOPS",
      "type": "object",
      "properties": {
        "maxIops": {
          "type": "string",
          "format": "int64",
          "description": "Required. Maximum IOPS."
        }
      },
      "description": "Fixed IOPS (input/output operations per second) parameters."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata",
      "type": "object",
      "properties": {
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility"
        }
      }
    },
    "Replication": {
      "description": "Optional. The configuration used to replicate an instance.",
      "id": "Replication",
      "type": "object",
      "properties": {
        "role": {
          "description": "Optional. The replication role. When creating a new replica, this field must be set to `STANDBY`.",
          "type": "string",
          "enumDescriptions": [
            "Role not set.",
            "The instance is the `ACTIVE` replication member, functions as the replication source instance.",
            "The instance is the `STANDBY` replication member, functions as the replication destination instance."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "ACTIVE",
            "STANDBY"
          ]
        },
        "replicas": {
          "items": {
            "$ref": "ReplicaConfig"
          },
          "description": "Optional. Replication configuration for the replica instance associated with this instance. Only a single replica is supported.",
          "type": "array"
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
      "description": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1Instance",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
        },
        "sloMetadata": {
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description.",
          "readOnly": true,
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata"
        },
        "maintenanceSchedules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
          },
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions."
        },
        "instanceType": {
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not.",
          "type": "string"
        },
        "softwareVersions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services."
        },
        "maintenancePolicyNames": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisionedResources": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
          },
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata."
        },
        "consumerDefinedName": {
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites).",
          "type": "string"
        },
        "consumerProjectNumber": {
          "description": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required.",
          "type": "string"
        },
        "slmInstanceTemplate": {
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified."
        },
        "producerMetadata": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details.",
          "type": "string"
        },
        "notificationParameters": {
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter"
          }
        },
        "maintenanceSettings": {
          "description": "Optional. The MaintenanceSettings associated with instance.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings"
        },
        "tenantProjectId": {
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "PerformanceLimits": {
      "description": "The enforced performance limits, calculated from the instance's performance configuration.",
      "id": "PerformanceLimits",
      "type": "object",
      "properties": {
        "maxReadIops": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum read IOPS."
        },
        "maxWriteIops": {
          "description": "Output only. The maximum write IOPS.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "maxWriteThroughputBps": {
          "description": "Output only. The maximum write throughput in bytes per second.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "maxReadThroughputBps": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum read throughput in bytes per second."
        },
        "maxIops": {
          "description": "Output only. The maximum IOPS.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Server-specified ETag for the instance resource to prevent simultaneous updates from overwriting each other.",
          "type": "string"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "protocol": {
          "description": "Immutable. The protocol indicates the access protocol for all shares in the instance. This field is immutable and it cannot be changed after the instance has been created. Default value: `NFS_V3`.",
          "enumDescriptions": [
            "FILE_PROTOCOL_UNSPECIFIED serves a \"not set\" default value when a FileProtocol is a separate field in a message.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "enum": [
            "FILE_PROTOCOL_UNSPECIFIED",
            "NFS_V3",
            "NFS_V4_1"
          ],
          "type": "string"
        },
        "replication": {
          "description": "Optional. Replication configuration.",
          "$ref": "Replication"
        },
        "directoryServices": {
          "description": "Optional. Directory Services configuration for Kerberos-based authentication. Should only be set if protocol is \"NFS_V4_1\".",
          "$ref": "DirectoryServicesConfig"
        },
        "suspensionReasons": {
          "description": "Output only. Field indicates all the reasons the instance is in \"SUSPENDED\" state.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not set.",
              "The KMS key used by the instance is either revoked or denied access to."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "KMS_KEY_ISSUE"
            ]
          },
          "readOnly": true,
          "type": "array"
        },
        "tier": {
          "enumDescriptions": [
            "Not set.",
            "STANDARD tier. BASIC_HDD is the preferred term for this tier.",
            "PREMIUM tier. BASIC_SSD is the preferred term for this tier.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_HDD is an alias for STANDARD Tier, offering economical performance backed by HDD.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_SSD is an alias for PREMIUM Tier, and offers improved performance backed by SSD.",
            "HIGH_SCALE instances offer expanded capacity and performance scaling capabilities.",
            "ENTERPRISE instances offer the features and availability needed for mission-critical workloads.",
            "ZONAL instances offer expanded capacity and performance scaling capabilities.",
            "REGIONAL instances offer the features and availability needed for mission-critical workloads."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "BASIC_HDD",
            "BASIC_SSD",
            "HIGH_SCALE_SSD",
            "ENTERPRISE",
            "ZONAL",
            "REGIONAL"
          ],
          "type": "string",
          "description": "The service tier of the instance."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "deletionProtectionReason": {
          "description": "Optional. The reason for enabling deletion protection.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "The instance is being created.",
            "The instance is available for use.",
            "Work is being done on the instance. You can get further details from the `statusMessage` field of the `Instance` resource.",
            "The instance is shutting down.",
            "The instance is experiencing an issue and might be unusable. You can get further details from the `statusMessage` field of the `Instance` resource.",
            "The instance is restoring a backup to an existing file share and may be unusable during this time.",
            "The instance is suspended. You can get further details from the `suspension_reasons` field of the `Instance` resource.",
            "The instance is in the process of becoming suspended.",
            "The instance is in the process of becoming active.",
            "The instance is reverting to a snapshot.",
            "The replica instance is being promoted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "REPAIRING",
            "DELETING",
            "ERROR",
            "RESTORING",
            "SUSPENDED",
            "SUSPENDING",
            "RESUMING",
            "REVERTING",
            "PROMOTING"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The instance state."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created."
        },
        "fileShares": {
          "type": "array",
          "description": "File system shares on the instance. For this version, only a single file share is supported.",
          "items": {
            "$ref": "FileShareConfig"
          }
        },
        "kmsKeyName": {
          "description": "KMS key name used for data encryption.",
          "type": "string"
        },
        "deletionProtectionEnabled": {
          "description": "Optional. Indicates whether the instance is protected against deletion.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "performanceConfig": {
          "description": "Optional. Used to configure performance.",
          "$ref": "PerformanceConfig"
        },
        "networks": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "description": "VPC networks to which the instance is connected. For this version, only a single network is supported.",
          "type": "array"
        },
        "capacityStepSizeGb": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The incremental increase or decrease in capacity, designated in some number of GB."
        },
        "maxCapacityGb": {
          "description": "Output only. The maximum capacity of the instance in GB.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "minCapacityGb": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The minimum capacity of the instance in GB."
        },
        "performanceLimits": {
          "description": "Output only. Used for getting performance limits.",
          "readOnly": true,
          "$ref": "PerformanceLimits"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "customPerformanceSupported": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this instance supports configuring its performance. If true, the user can configure the instance's performance by using the 'performance_config' field."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the instance, in the format `projects/{project}/locations/{location}/instances/{instance}`."
        },
        "description": {
          "description": "The description of the instance (2048 characters or less).",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the instance state, if available."
        }
      },
      "description": "A Filestore instance."
    },
    "IOPSPerTB": {
      "description": "IOPS per TB. Filestore defines TB as 1024^4 bytes (TiB).",
      "id": "IOPSPerTB",
      "type": "object",
      "properties": {
        "maxIopsPerTb": {
          "type": "string",
          "format": "int64",
          "description": "Required. Maximum IOPS per TiB."
        }
      }
    },
    "Snapshot": {
      "description": "A Filestore snapshot.",
      "id": "Snapshot",
      "type": "object",
      "properties": {
        "description": {
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The snapshot state.",
          "enumDescriptions": [
            "State not set.",
            "Snapshot is being created.",
            "Snapshot is available for use.",
            "Snapshot is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING"
          ]
        },
        "createTime": {
          "description": "Output only. The time when the snapshot was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`."
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "filesystemUsedBytes": {
          "description": "Output only. The amount of bytes needed to allocate a full copy of the snapshot content",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "ReplicaConfig": {
      "description": "Replica configuration for the instance.",
      "id": "ReplicaConfig",
      "type": "object",
      "properties": {
        "peerInstance": {
          "description": "Optional. The name of the source instance for the replica, in the format `projects/{project}/locations/{location}/instances/{instance}`. This field is required when creating a replica.",
          "type": "string"
        },
        "lastActiveSyncTime": {
          "description": "Output only. The timestamp of the latest replication snapshot taken on the active instance and is already replicated safely.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "stateReasons": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Reason not specified.",
              "The peer instance is unreachable.",
              "The remove replica peer instance operation failed.",
              "The pause replica operation failed.",
              "The resume replica operation failed."
            ],
            "enum": [
              "STATE_REASON_UNSPECIFIED",
              "PEER_INSTANCE_UNREACHABLE",
              "REMOVE_FAILED",
              "PAUSE_FAILED",
              "RESUME_FAILED"
            ]
          },
          "description": "Output only. Additional information about the replication state, if available."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The replica state.",
          "enumDescriptions": [
            "State not set.",
            "The replica is being created.",
            "The replica is ready.",
            "The replica is being removed.",
            "The replica is experiencing an issue and might be unusable. You can get further details from the `stateReasons` field of the `ReplicaConfig` object.",
            "The replica is being promoted.",
            "The replica is being paused.",
            "The replica is paused.",
            "The replica is being resumed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "REMOVING",
            "FAILED",
            "PROMOTING",
            "PAUSING",
            "PAUSED",
            "RESUMING"
          ]
        },
        "stateUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the replica state was updated."
        }
      }
    },
    "RestoreInstanceRequest": {
      "id": "RestoreInstanceRequest",
      "type": "object",
      "properties": {
        "fileShare": {
          "description": "Required. Name of the file share in the Filestore instance that the backup is being restored to.",
          "type": "string"
        },
        "sourceBackup": {
          "description": "The resource name of the backup, in the format `projects/{project_number}/locations/{location_id}/backups/{backup_id}`.",
          "type": "string"
        }
      },
      "description": "RestoreInstanceRequest restores an existing instance's file share from a backup."
    },
    "ListBackupsResponse": {
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "id": "ListBackupsResponse",
      "type": "object",
      "properties": {
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of backups in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of backups from all locations. If any location is unreachable, the response will only return backups in reachable locations and the \"unreachable\" field will be populated with a list of unreachable locations."
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        }
      }
    },
    "ResumeReplicaRequest": {
      "description": "ResumeReplicaRequest resumes a Filestore standby instance (replica).",
      "id": "ResumeReplicaRequest",
      "type": "object",
      "properties": {}
    },
    "PerformanceConfig": {
      "description": "Used for setting the performance configuration. If the user doesn't specify PerformanceConfig, automatically provision the default performance settings as described in https://cloud.google.com/filestore/docs/performance. Larger instances will be linearly set to more IOPS. If the instance's capacity is increased or decreased, its performance will be automatically adjusted upwards or downwards accordingly (respectively).",
      "id": "PerformanceConfig",
      "type": "object",
      "properties": {
        "iopsPerTb": {
          "description": "Provision IOPS dynamically based on the capacity of the instance. Provisioned IOPS will be calculated by multiplying the capacity of the instance in TiB by the `iops_per_tb` value. For example, for a 2 TiB instance with an `iops_per_tb` value of 17000 the provisioned IOPS will be 34000. If the calculated value is outside the supported range for the instance's capacity during instance creation, instance creation will fail with an `InvalidArgument` error. Similarly, if an instance capacity update would result in a value outside the supported range, the update will fail with an `InvalidArgument` error.",
          "$ref": "IOPSPerTB"
        },
        "fixedIops": {
          "description": "Choose a fixed provisioned IOPS value for the instance, which will remain constant regardless of instance capacity. Value must be a multiple of 1000. If the chosen value is outside the supported range for the instance's capacity during instance creation, instance creation will fail with an `InvalidArgument` error. Similarly, if an instance capacity update would result in a value outside the supported range, the update will fail with an `InvalidArgument` error.",
          "$ref": "FixedIOPS"
        }
      }
    },
    "DenyMaintenancePeriod": {
      "id": "DenyMaintenancePeriod",
      "type": "object",
      "properties": {
        "time": {
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        },
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end.",
          "$ref": "Date"
        }
      },
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility": {
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
      "type": "object",
      "properties": {
        "eligibilities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
          },
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted."
        }
      }
    }
  },
  "id": "file:v1",
  "rootUrl": "https://file.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/filestore/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "file.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "id": "file.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "backups": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The backup resource name, in the format `projects/{project_number}/locations/{location}/backups/{backup_id}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the details of a specific backup.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Backup"
                  },
                  "path": "v1/{+name}",
                  "id": "file.projects.locations.backups.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The backup's project and location, in the format `projects/{project_number}/locations/{location}`. In Filestore, backup locations map to Google Cloud regions, for example **us-west1**.",
                      "location": "path",
                      "type": "string"
                    },
                    "backupId": {
                      "type": "string",
                      "description": "Required. The ID to use for the backup. The ID must be unique within the specified project and location. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen. Values that do not match this pattern will trigger an INVALID_ARGUMENT error.",
                      "location": "query"
                    }
                  },
                  "description": "Creates a backup.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/backups",
                  "request": {
                    "$ref": "Backup"
                  },
                  "id": "file.projects.locations.backups.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Backup"
                  },
                  "id": "file.projects.locations.backups.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Output only. The resource name of the backup, in the format `projects/{project_number}/locations/{location_id}/backups/{backup_id}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Updates the settings of a specific backup."
                },
                "delete": {
                  "id": "file.projects.locations.backups.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a backup.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The backup resource name, in the format `projects/{project_number}/locations/{location}/backups/{backup_id}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListBackupsResponse"
                  },
                  "path": "v1/{+parent}/backups",
                  "id": "file.projects.locations.backups.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all backups in a project for either a specified location or for all locations.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The project and location for which to retrieve backup information, in the format `projects/{project_number}/locations/{location}`. In Filestore, backup locations map to Google Cloud regions, for example **us-west1**. To retrieve backup information for all locations, use \"-\" for the `{location}` value.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "List filter.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "file.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "file.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "file.projects.locations.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "id": "file.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "instances": {
              "methods": {
                "restore": {
                  "id": "file.projects.locations.instances.restore",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
[...]
