{
  "rootUrl": "https://firebaseappcheck.googleapis.com/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "jwks": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "pattern": "^jwks$",
              "location": "path",
              "required": true,
              "description": "Required. The relative resource name to the public JWK set. Must always be exactly the string `jwks`.",
              "type": "string"
            }
          },
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1betaPublicJwkSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v1beta/jwks",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "firebaseappcheck.jwks.get",
          "description": "Returns a public JWK set as specified by [RFC 7517](https://tools.ietf.org/html/rfc7517) that can be used to verify App Check tokens. Exactly one of the public keys in the returned set will successfully validate any App Check token that is currently valid."
        }
      }
    },
    "oauthClients": {
      "methods": {
        "exchangeDebugToken": {
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
          },
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest"
          },
          "path": "v1beta/{+app}:exchangeDebugToken",
          "parameters": {
            "app": {
              "required": true,
              "location": "path",
              "pattern": "^oauthClients/[^/]+$",
              "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
              "type": "string"
            }
          },
          "id": "firebaseappcheck.oauthClients.exchangeDebugToken",
          "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse.",
          "parameterOrder": [
            "app"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v1beta/oauthClients/{oauthClientsId}:exchangeDebugToken",
          "httpMethod": "POST"
        },
        "generateAppAttestChallenge": {
          "flatPath": "v1beta/oauthClients/{oauthClientsId}:generateAppAttestChallenge",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "parameterOrder": [
            "app"
          ],
          "id": "firebaseappcheck.oauthClients.generateAppAttestChallenge",
          "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
          "parameters": {
            "app": {
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
              "type": "string",
              "location": "path",
              "pattern": "^oauthClients/[^/]+$",
              "required": true
            }
          },
          "path": "v1beta/{+app}:generateAppAttestChallenge",
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest"
          },
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse"
          }
        },
        "exchangeAppAttestAttestation": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v1beta/oauthClients/{oauthClientsId}:exchangeAppAttestAttestation",
          "httpMethod": "POST",
          "parameterOrder": [
            "app"
          ],
          "id": "firebaseappcheck.oauthClients.exchangeAppAttestAttestation",
          "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful).",
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationRequest"
          },
          "parameters": {
            "app": {
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
              "type": "string",
              "required": true,
              "pattern": "^oauthClients/[^/]+$",
              "location": "path"
            }
          },
          "path": "v1beta/{+app}:exchangeAppAttestAttestation",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationResponse"
          }
        },
        "exchangeAppAttestAssertion": {
          "flatPath": "v1beta/oauthClients/{oauthClientsId}:exchangeAppAttestAssertion",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "parameterOrder": [
            "app"
          ],
          "id": "firebaseappcheck.oauthClients.exchangeAppAttestAssertion",
          "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken.",
          "parameters": {
            "app": {
              "required": true,
              "pattern": "^oauthClients/[^/]+$",
              "location": "path",
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
              "type": "string"
            }
          },
          "path": "v1beta/{+app}:exchangeAppAttestAssertion",
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest"
          },
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
          }
        }
      }
    },
    "projects": {
      "methods": {
        "verifyAppCheckToken": {
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest"
          },
          "path": "v1beta/{+project}:verifyAppCheckToken",
          "parameters": {
            "project": {
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "description": "Required. The relative resource name of the project for which the token was minted, in the format: ``` projects/{project_number} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v1beta/projects/{projectsId}:verifyAppCheckToken",
          "httpMethod": "POST",
          "id": "firebaseappcheck.projects.verifyAppCheckToken",
          "description": "Verifies the given App Check token and returns token usage signals that callers may act upon. This method currently only supports App Check tokens exchanged from the following attestation providers: * Play Integrity API * App Attest * DeviceCheck (`DCDevice` tokens) * reCAPTCHA Enterprise * reCAPTCHA v3 * Custom providers App Check tokens exchanged from debug secrets are also supported. Calling this method on an otherwise valid App Check token with an unsupported provider will cause an HTTP 400 error to be returned. Returns whether this token was already consumed before this call. If this is the first time this method has seen the given App Check token, the field `already_consumed` in the response will be absent. The given token will then be marked as `already_consumed` (set to `true`) for all future invocations of this method for that token. Note that if the given App Check token is invalid, an HTTP 403 error is returned instead of a response object, regardless whether the token was already consumed. Currently, when evaluating whether an App Check token was already consumed, only calls to this exact method are counted. Use of the App Check token elsewhere will not mark the token as being already consumed. The caller must have the [`firebaseappcheck.appCheckTokens.verify`](https://firebase.google.com/docs/projects/iam/permissions#app-check) permission to call this method. This permission is part of the [Firebase App Check Token Verifier role](https://firebase.google.com/docs/projects/iam/roles-predefined-product#app-check).",
          "parameterOrder": [
            "project"
          ]
        }
      },
      "resources": {
        "services": {
          "methods": {
            "batchUpdate": {
              "id": "firebaseappcheck.projects.services.batchUpdate",
              "description": "Atomically updates the specified Service configurations.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/services:batchUpdate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaBatchUpdateServicesResponse"
              },
              "path": "v1beta/{+parent}/services:batchUpdate",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent project name shared by all Service configurations being updated, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaBatchUpdateServicesRequest"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "firebaseappcheck.projects.services.get",
              "description": "Gets the Service configuration for the specified service name.",
              "parameters": {
                "name": {
                  "description": "Required. The relative resource name of the Service to retrieve, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `identitytoolkit.googleapis.com` (Firebase Authentication with Identity Platform) * `oauth2.googleapis.com` (Google Identity for iOS)",
                  "type": "string",
                  "pattern": "^projects/[^/]+/services/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaService"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta/projects/{projectsId}/services",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "firebaseappcheck.projects.services.list",
              "description": "Lists all Service configurations for the specified project. Only Services which were explicitly configured using UpdateService or BatchUpdateServices will be returned.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The relative resource name of the parent project for which to list each associated Service, in the format: ``` projects/{project_number} ```",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token returned from a previous call to ListServices indicating where in the set of Services to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListServices must match the call that provided the page token; if they do not match, the result is undefined.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of Services to return in the response. Only explicitly configured services are returned. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "path": "v1beta/{+parent}/services",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaListServicesResponse"
              }
            },
            "patch": {
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaService"
              },
              "path": "v1beta/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`.",
                  "type": "string"
                },
                "name": {
                  "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `identitytoolkit.googleapis.com` (Firebase Authentication with Identity Platform) * `oauth2.googleapis.com` (Google Identity for iOS)",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/services/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaService"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}",
              "httpMethod": "PATCH",
              "id": "firebaseappcheck.projects.services.patch",
              "description": "Updates the specified Service configuration.",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "resourcePolicies": {
              "methods": {
                "batchUpdate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}/resourcePolicies:batchUpdate",
                  "httpMethod": "POST",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.batchUpdate",
                  "description": "Atomically updates the specified ResourcePolicy configurations.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesRequest"
                  },
                  "path": "v1beta/{+parent}/resourcePolicies:batchUpdate",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "description": "Required. The parent service name, in the format ``` projects/{project_number}/services/{service_id} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesResponse"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}/resourcePolicies",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappcheck.projects.services.resourcePolicies.list",
                  "description": "Lists all ResourcePolicy configurations for the specified project and service.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "location": "path",
                      "description": "Required. The relative resource name of the parent Service for which to list each associated ResourcePolicy, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filters the results by the specified rule. For the exact syntax of this field, please consult the [AIP-160](https://google.aip.dev/160) standard. Currently, since the only fields in the ResourcePolicy resource are the scalar fields `enforcement_mode` and `target_resource`, this method does not support the traversal operator (`.`) or the has operator (`:`). Here are some examples of valid filters: * `enforcement_mode = ENFORCED` * `target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"` * `enforcement_mode = ENFORCED AND target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"`",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of ResourcePolicy objects to return in the response. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Token returned from a previous call to ListResourcePolicies indicating where in the set of ResourcePolicy objects to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListResourcePolicies must match the call that provided the page token; if they do not match, the result is undefined.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+parent}/resourcePolicies",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaListResourcePoliciesResponse"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.services.resourcePolicies.patch",
                  "description": "Updates the specified ResourcePolicy configuration.",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "location": "path",
                      "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The relative resource name of the ResourcePolicy to retrieve, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.services.resourcePolicies.get",
                  "description": "Gets the requested ResourcePolicy configuration."
                },
                "create": {
                  "path": "v1beta/{+parent}/resourcePolicies",
                  "parameters": {
                    "parent": {
                      "description": "Required. The relative resource name of the parent Service in which the specified ResourcePolicy will be created, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}/resourcePolicies",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.services.resourcePolicies.create",
                  "description": "Creates the specified ResourcePolicy configuration.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.services.resourcePolicies.delete",
                  "description": "Deletes the specified ResourcePolicy configuration.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "description": "Required. The relative resource name of the ResourcePolicy to delete, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ```",
                      "type": "string"
                    },
                    "etag": {
                      "description": "The checksum to be validated against the current ResourcePolicy, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the ResourcePolicy object, and can be obtained from the ResourcePolicy object received from the last CreateResourcePolicy, GetResourcePolicy, ListResourcePolicies, UpdateResourcePolicy, or BatchUpdateResourcePolicies call. This etag is strongly validated as defined by RFC 7232.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              }
            }
          }
        },
        "apps": {
          "methods": {
            "exchangeDebugToken": {
              "parameterOrder": [
                "app"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeDebugToken",
              "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse.",
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeDebugToken",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
                  "type": "string"
                }
              },
              "path": "v1beta/{+app}:exchangeDebugToken",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest"
              }
            },
            "exchangeAppAttestAssertion": {
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest"
              },
              "path": "v1beta/{+app}:exchangeAppAttestAssertion",
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true
                }
              },
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAssertion",
              "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken.",
              "parameterOrder": [
                "app"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAssertion",
              "httpMethod": "POST"
            },
            "exchangeSafetyNetToken": {
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "path": "v1beta/{+app}:exchangeSafetyNetToken",
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeSafetyNetTokenRequest"
              },
              "id": "firebaseappcheck.projects.apps.exchangeSafetyNetToken",
              "description": "Validates a [SafetyNet token](https://developer.android.com/training/safetynet/attestation#request-attestation-step). If valid, returns an AppCheckToken.",
              "parameterOrder": [
                "app"
              ],
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeSafetyNetToken",
              "httpMethod": "POST",
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "exchangeRecaptchaToken": {
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta/{+app}:exchangeRecaptchaToken",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaTokenRequest"
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "deprecated": true,
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaToken",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "app"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaToken",
              "description": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken."
            },
            "exchangeRecaptchaEnterpriseToken": {
              "parameterOrder": [
                "app"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaEnterpriseToken",
              "description": "Validates a [reCAPTCHA Enterprise response token](https://cloud.google.com/recaptcha-enterprise/docs/create-assessment#retrieve_token). If valid, returns an App Check token AppCheckToken.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaEnterpriseToken",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaEnterpriseTokenRequest"
              },
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta/{+app}:exchangeRecaptchaEnterpriseToken"
            },
            "exchangeRecaptchaV3Token": {
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta/{+app}:exchangeRecaptchaV3Token",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest"
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaV3Token",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "app"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaV3Token",
              "description": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken."
            },
            "generateAppAttestChallenge": {
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse"
              },
              "parameters": {
                "app": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
                  "type": "string"
                }
              },
              "path": "v1beta/{+app}:generateAppAttestChallenge",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest"
              },
              "parameterOrder": [
                "app"
              ],
              "id": "firebaseappcheck.projects.apps.generateAppAttestChallenge",
              "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:generateAppAttestChallenge",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "exchangeAppAttestAttestation": {
              "parameterOrder": [
                "app"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAttestation",
              "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful).",
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAttestation",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationResponse"
              },
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
                  "type": "string"
                }
              },
              "path": "v1beta/{+app}:exchangeAppAttestAttestation",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationRequest"
              }
            },
            "exchangePlayIntegrityToken": {
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "path": "v1beta/{+app}:exchangePlayIntegrityToken",
              "parameters": {
                "app": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "description": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangePlayIntegrityTokenRequest"
              },
              "id": "firebaseappcheck.projects.apps.exchangePlayIntegrityToken",
              "description": "Validates an [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify). If valid, returns an AppCheckToken.",
              "parameterOrder": [
                "app"
              ],
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangePlayIntegrityToken",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "exchangeCustomToken": {
              "id": "firebaseappcheck.projects.apps.exchangeCustomToken",
              "description": "Validates a custom token signed using your project's Admin SDK service account credentials. If valid, returns an AppCheckToken.",
              "parameterOrder": [
                "app"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeCustomToken",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeCustomTokenRequest"
              },
              "path": "v1beta/{+app}:exchangeCustomToken",
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string"
                }
              }
            },
            "generatePlayIntegrityChallenge": {
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeResponse"
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeRequest"
              },
              "path": "v1beta/{+app}:generatePlayIntegrityChallenge",
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path"
                }
              },
              "id": "firebaseappcheck.projects.apps.generatePlayIntegrityChallenge",
              "description": "Generates a challenge that protects the integrity of an immediately following integrity verdict request to the Play Integrity API. The next call to ExchangePlayIntegrityToken using the resulting integrity token will verify the presence and validity of the challenge. A challenge should not be reused for multiple calls.",
              "parameterOrder": [
                "app"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:generatePlayIntegrityChallenge",
              "httpMethod": "POST"
            },
            "exchangeDeviceCheckToken": {
              "id": "firebaseappcheck.projects.apps.exchangeDeviceCheckToken",
              "description": "Accepts a [`device_token`](https://developer.apple.com/documentation/devicecheck/dcdevice) issued by DeviceCheck, and attempts to validate it with Apple. If valid, returns an AppCheckToken.",
              "parameterOrder": [
                "app"
              ],
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeDeviceCheckToken",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "path": "v1beta/{+app}:exchangeDeviceCheckToken",
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeDeviceCheckTokenRequest"
              }
            }
          },
          "resources": {
            "deviceCheckConfig": {
              "methods": {
                "patch": {
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the DeviceCheckConfig to update. Example: `key_id,private_key`.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$",
                      "required": true,
                      "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig"
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/deviceCheckConfig",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.patch",
                  "description": "Updates the DeviceCheckConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange DeviceCheck tokens for App Check tokens. For security reasons, the `private_key` field is never populated in the response.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$",
                      "description": "Required. The relative resource name of the DeviceCheckConfig, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/deviceCheckConfig",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.get",
                  "description": "Gets the DeviceCheckConfig for the specified app. For security reasons, the `private_key` field is never populated in the response."
                },
                "batchGet": {
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.batchGet",
                  "description": "Atomically gets the DeviceCheckConfigs for the specified list of apps. For security reasons, the `private_key` field is never populated in the response.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/deviceCheckConfig:batchGet",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetDeviceCheckConfigsResponse"
                  },
                  "path": "v1beta/{+parent}/apps/-/deviceCheckConfig:batchGet",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent project name shared by all DeviceCheckConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+$",
                      "location": "path"
                    },
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "description": "Required. The relative resource names of the DeviceCheckConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "recaptchaV3Config": {
              "methods": {
                "patch": {
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaV3Config",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.patch",
                  "description": "Updates the RecaptchaV3Config for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA V3 tokens for App Check tokens. For security reasons, the `site_secret` field is never populated in the response.",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaV3Config to update. Example: `site_secret`.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$",
                      "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
                  }
                },
                "get": {
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.get",
                  "description": "Gets the RecaptchaV3Config for the specified app. For security reasons, the `site_secret` field is never populated in the response.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaV3Config",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the RecaptchaV3Config, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$",
                      "location": "path"
                    }
                  }
                },
                "batchGet": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/recaptchaV3Config:batchGet",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.batchGet",
                  "description": "Atomically gets the RecaptchaV3Configs for the specified list of apps. For security reasons, the `site_secret` field is never populated in the response.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent project name shared by all RecaptchaV3Configs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string",
                      "pattern": "^projects/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "names": {
                      "description": "Required. The relative resource names of the RecaptchaV3Configs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ``` A maximum of 100 objects can be retrieved in a batch.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "path": "v1beta/{+parent}/apps/-/recaptchaV3Config:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaV3ConfigsResponse"
                  }
                }
              }
            },
            "safetyNetConfig": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaSafetyNetConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/safetyNetConfig$",
                      "required": true,
                      "description": "Required. The relative resource name of the SafetyNet configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the SafetyNetConfig to update. Example: `token_ttl`.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaSafetyNetConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.patch",
                  "description": "Updates the SafetyNetConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange SafetyNet tokens for App Check tokens.",
                  "deprecated": true,
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/safetyNetConfig",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "get": {
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the SafetyNetConfig, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/safetyNetConfig$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaSafetyNetConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/safetyNetConfig",
                  "httpMethod": "GET",
                  "deprecated": true,
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.get",
                  "description": "Gets the SafetyNetConfig for the specified app.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchGet": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetSafetyNetConfigsResponse"
                  },
                  "path": "v1beta/{+parent}/apps/-/safetyNetConfig:batchGet",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+$",
                      "description": "Required. The parent project name shared by all SafetyNetConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string"
                    },
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "description": "Required. The relative resource names of the SafetyNetConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "type": "string"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.batchGet",
                  "description": "Atomically gets the SafetyNetConfigs for the specified list of apps.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/safetyNetConfig:batchGet",
                  "httpMethod": "GET",
                  "deprecated": true
                }
              },
              "deprecated": true
            },
            "recaptchaConfig": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "deprecated": true,
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaConfig",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaConfig.get",
                  "description": "Gets the RecaptchaConfig for the specified app. For security reasons, the `site_secret` field is never populated in the response.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaConfig$",
                      "required": true,
                      "description": "Required. The relative resource name of the RecaptchaConfig, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaConfig ```",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaConfig"
                  }
                },
                "batchGet": {
                  "path": "v1beta/{+parent}/apps/-/recaptchaConfig:batchGet",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent project name shared by all RecaptchaConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+$"
                    },
                    "names": {
                      "description": "Required. The relative resource names of the RecaptchaConfigs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaConfigsResponse"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/recaptchaConfig:batchGet",
                  "httpMethod": "GET",
                  "deprecated": true,
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaConfig.batchGet",
                  "description": "Atomically gets the RecaptchaConfigs for the specified list of apps. For security reasons, the `site_secret` field is never populated in the response.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaConfig.patch",
                  "description": "Updates the RecaptchaConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA tokens for App Check tokens. For security reasons, the `site_secret` field is never populated in the response.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "deprecated": true,
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaConfig",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaConfig"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaConfig"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaConfig$",
                      "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaConfig ```",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaConfig to update. Example: `site_secret`.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}"
                }
              },
              "deprecated": true
            },
            "debugTokens": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.get",
                  "description": "Gets the specified DebugToken. For security reasons, the `token` field is never populated in the response."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.create",
                  "description": "Creates a new DebugToken for the specified app. For security reasons, after the creation operation completes, the `token` field cannot be updated or retrieved, but you can revoke the debug token using DeleteDebugToken. Each app can have a maximum of 20 debug tokens.",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "description": "Required. The relative resource name of the parent app in which the specified DebugToken will be created, in the format: ``` projects/{project_number}/apps/{app_id} ```",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+parent}/debugTokens",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the DebugToken to delete, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.delete",
                  "description": "Deletes the specified DebugToken. A deleted debug token cannot be used to exchange for an App Check token. Use this method when you suspect the secret `token` has been compromised or when you no longer need the debug token."
                },
                "list": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaListDebugTokensResponse"
                  },
                  "path": "v1beta/{+parent}/debugTokens",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The relative resource name of the parent app for which to list each associated DebugToken, in the format: ``` projects/{project_number}/apps/{app_id} ```",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of DebugTokens to return in the response. Note that an app can have at most 20 debug tokens. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Token returned from a previous call to ListDebugTokens indicating where in the set of DebugTokens to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListDebugTokens must match the call that provided the page token; if they do not match, the result is undefined.",
                      "type": "string"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.debugTokens.list",
                  "description": "Lists all DebugTokens for the specified app. For security reasons, the `token` field is never populated in the response.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "id": "firebaseappcheck.projects.apps.debugTokens.patch",
                  "description": "Updates the specified DebugToken. For security reasons, the `token` field cannot be updated, nor will it be populated in the response, but you can revoke the debug token using DeleteDebugToken.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "location": "path",
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the DebugToken to update. Example: `display_name`.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  }
                }
              }
            },
            "appAttestConfig": {
              "methods": {
                "get": {
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.get",
                  "description": "Gets the AppAttestConfig for the specified app.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The relative resource name of the AppAttestConfig, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "type": "string"
                    }
                  }
                },
                "batchGet": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent project name shared by all AppAttestConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string"
                    },
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "description": "Required. The relative resource names of the AppAttestConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/appAttestConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+parent}/apps/-/appAttestConfig:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetAppAttestConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/appAttestConfig:batchGet",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.batchGet",
                  "description": "Atomically gets the AppAttestConfigs for the specified list of apps."
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the AppAttestConfig to update. Example: `token_ttl`.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "required": true,
                      "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "type": "string"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.patch",
                  "description": "Updates the AppAttestConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange AppAttest tokens for App Check tokens.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "httpMethod": "PATCH"
                }
              }
            },
            "recaptchaEnterpriseConfig": {
              "methods": {
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.get",
                  "description": "Gets the RecaptchaEnterpriseConfig for the specified app.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "description": "Required. The relative resource name of the RecaptchaEnterpriseConfig, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
                  }
                },
                "batchGet": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaEnterpriseConfigsResponse"
                  },
                  "path": "v1beta/{+parent}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent project name shared by all RecaptchaEnterpriseConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string"
                    },
                    "names": {
                      "description": "Required. The relative resource names of the RecaptchaEnterpriseConfigs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.batchGet",
                  "description": "Atomically gets the RecaptchaEnterpriseConfigs for the specified list of apps.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaEnterpriseConfig to update. Example: `site_key`.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "required": true,
                      "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.patch",
                  "description": "Updates the RecaptchaEnterpriseConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA Enterprise tokens for App Check tokens.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "httpMethod": "PATCH"
                }
              }
            },
            "playIntegrityConfig": {
              "methods": {
                "patch": {
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.patch",
                  "description": "Updates the PlayIntegrityConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange Play Integrity tokens for App Check tokens.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/playIntegrityConfig",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$",
                      "location": "path",
                      "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the PlayIntegrityConfig to update. Example: `token_ttl`.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
[...]
