{
  "version": "v1beta1",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "id": "firebasehosting:v1beta1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://firebase.google.com/docs/hosting/",
  "version_module": true,
  "protocol": "rest",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        }
      }
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://firebasehosting.mtls.googleapis.com/",
  "canonicalName": "Firebase Hosting",
  "baseUrl": "https://firebasehosting.googleapis.com/",
  "rootUrl": "https://firebasehosting.googleapis.com/",
  "description": "The Firebase Hosting REST API enables programmatic and customizable management and deployments to your Firebase-hosted sites. Use this REST API to create and manage channels and sites as well as to deploy new or updated hosting configurations and content files.",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "title": "Firebase Hosting API",
  "basePath": "",
  "revision": "20260426",
  "resources": {
    "projects": {
      "resources": {
        "sites": {
          "resources": {
            "releases": {
              "methods": {
                "create": {
                  "id": "firebasehosting.projects.sites.releases.create",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string"
                    },
                    "versionName": {
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Release"
                  },
                  "response": {
                    "$ref": "Release"
                  },
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "id": "firebasehosting.projects.sites.releases.list"
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases/{releasesId}",
                  "id": "firebasehosting.projects.sites.releases.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/releases/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Release"
                  },
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "versions": {
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/files",
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing."
                        },
                        "status": {
                          "type": "string",
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "description": " The type of files that should be listed for the specified version.",
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "path": "v1beta1/{+parent}/versions",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
                  "id": "firebasehosting.projects.sites.versions.list",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/versions",
                  "parameters": {
                    "versionId": {
                      "location": "query",
                      "deprecated": true,
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID"
                    },
                    "sizeBytes": {
                      "type": "string",
                      "format": "int64",
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Version"
                  },
                  "description": "Creates a new version for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.versions.create",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions"
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the specified version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "populateFiles": {
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}:populateFiles",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID"
                    }
                  },
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "description": " Adds content files to the specified version. Each file must be under 2 GB.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "clone": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "path": "v1beta1/{+parent}/versions:clone",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID"
                    }
                  },
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new version on the specified target site using the content of the specified version."
                },
                "patch": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create)."
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Version"
                  },
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.versions.get",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Version"
                  },
                  "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                }
              }
            },
            "channels": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "id": "firebasehosting.projects.sites.channels.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Channel"
                  },
                  "description": "Retrieves information for the specified channel of the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "description": "A comma-separated list of fields to be updated in this request.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "Channel"
                  },
                  "response": {
                    "$ref": "Channel"
                  },
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "id": "firebasehosting.projects.sites.channels.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListChannelsResponse"
                  },
                  "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/channels",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "id": "firebasehosting.projects.sites.channels.create",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/channels",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID"
                    },
                    "channelId": {
                      "type": "string",
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Channel"
                  },
                  "response": {
                    "$ref": "Channel"
                  },
                  "description": "Creates a new channel in the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "releases": {
                  "methods": {
                    "create": {
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "id": "firebasehosting.projects.sites.channels.releases.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                          "type": "string"
                        },
                        "versionName": {
                          "type": "string",
                          "location": "query",
                          "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                        }
                      },
                      "request": {
                        "$ref": "Release"
                      },
                      "response": {
                        "$ref": "Release"
                      },
                      "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                      "path": "v1beta1/{+parent}/releases",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                      "path": "v1beta1/{+parent}/releases",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "id": "firebasehosting.projects.sites.channels.releases.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+/releases/[^/]+$",
                          "location": "path",
                          "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Release"
                      },
                      "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "id": "firebasehosting.projects.sites.channels.releases.get",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "domains": {
              "methods": {
                "get": {
                  "id": "firebasehosting.projects.sites.domains.get",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the domain configuration to get.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Domain"
                  },
                  "description": "Gets a domain mapping on the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "id": "firebasehosting.projects.sites.domains.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name"
                    }
                  },
                  "request": {
                    "$ref": "Domain"
                  },
                  "response": {
                    "$ref": "Domain"
                  },
                  "description": "Creates a domain mapping on the specified site.",
                  "path": "v1beta1/{+parent}/domains",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the domain association to delete.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "id": "firebasehosting.projects.sites.domains.delete"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "id": "firebasehosting.projects.sites.domains.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The page size to return. Defaults to 50."
                    },
                    "parent": {
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The next_page_token from a previous request, if provided.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "description": "Lists the domains for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/domains"
                },
                "update": {
                  "httpMethod": "PUT",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist."
                    }
                  },
                  "request": {
                    "$ref": "Domain"
                  },
                  "response": {
                    "$ref": "Domain"
                  },
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.domains.update",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "customDomains": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains",
                  "id": "firebasehosting.projects.sites.customDomains.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The custom domain's parent, specifically a Firebase Hosting `Site`.",
                      "type": "string"
                    },
                    "customDomainId": {
                      "location": "query",
                      "description": "Required. The ID of the `CustomDomain`, which is the domain name you'd like to use with Firebase Hosting.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create a new `CustomDomain`.",
                      "type": "boolean"
                    }
                  },
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a `CustomDomain`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/customDomains"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.customDomains.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If true, the request succeeds even if the `CustomDomain` doesn't exist."
                    },
                    "validateOnly": {
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually delete the `CustomDomain`.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the `CustomDomain` to delete."
                    },
                    "etag": {
                      "type": "string",
                      "description": "A tag that represents the state of the `CustomDomain` as you know it. If present, the supplied tag must match the current value on your `CustomDomain`, or the request fails.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes the specified `CustomDomain`."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "showDeleted": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If true, the request returns soft-deleted `CustomDomain`s that haven't been fully-deleted yet. To restore deleted `CustomDomain`s, make an `UndeleteCustomDomain` request."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The Firebase Hosting `Site` with `CustomDomain` entities you'd like to list.",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `ListCustomDomains` that tells the server where to resume listing.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The max number of `CustomDomain` entities to return in a request. Defaults to 10.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListCustomDomainsResponse"
                  },
                  "description": "Lists each `CustomDomain` associated with the specified parent Hosting site. Returns `CustomDomain`s in a consistent, but undefined, order to facilitate pagination.",
                  "path": "v1beta1/{+parent}/customDomains",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains",
                  "id": "firebasehosting.projects.sites.customDomains.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "undelete": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}:undelete",
                  "id": "firebasehosting.projects.sites.customDomains.undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the `CustomDomain` to delete.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "UndeleteCustomDomainRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Undeletes the specified `CustomDomain` if it has been soft-deleted. Hosting retains soft-deleted custom domains for around 30 days before permanently deleting them.",
                  "path": "v1beta1/{+name}:undelete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "description": "If true, Hosting creates the `CustomDomain` if it doesn't already exist.",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create or update the `CustomDomain`.",
                      "type": "boolean"
                    },
                    "updateMask": {
                      "description": "The set of field names from your `CustomDomain` that you want to update. A field will be overwritten if, and only if, it's in the mask. If you don't provide a mask, Hosting updates the entire `CustomDomain`.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Output only. The fully-qualified name of the `CustomDomain`.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the specified `CustomDomain`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "id": "firebasehosting.projects.sites.customDomains.patch",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "id": "firebasehosting.projects.sites.customDomains.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the `CustomDomain` to get."
                    }
                  },
                  "response": {
                    "$ref": "CustomDomain"
                  },
                  "description": "Gets the specified `CustomDomain`.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "parameters": {
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                          "location": "path",
                          "description": "The name of the operation's parent resource.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The standard list page size.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request.",
                      "path": "v1beta1/{+name}/operations",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations",
                      "id": "firebasehosting.projects.sites.customDomains.operations.list",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations/{operationsId}",
                      "id": "firebasehosting.projects.sites.customDomains.operations.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Gets the latest state of a long-running operation. Use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "patch": {
              "id": "firebasehosting.projects.sites.patch",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "A set of field names from your Site that you want to update.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Site"
              },
              "response": {
                "$ref": "Site"
              },
              "description": "Updates attributes of the specified Hosting Site.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "firebasehosting.projects.sites.get",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Site"
              },
              "description": "Gets the specified Hosting Site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "getConfig": {
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.sites.getConfig",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SiteConfig"
              },
              "description": "Gets the Hosting metadata for a specific site."
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "type": "string"
                },
                "siteId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label."
                },
                "validateOnly": {
                  "location": "query",
                  "description": "Optional. If set, validates that the site_id is available and that the request would succeed, returning the expected resulting site or error.",
                  "type": "boolean"
                }
              },
              "request": {
                "$ref": "Site"
              },
              "response": {
                "$ref": "Site"
              },
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/sites",
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "id": "firebasehosting.projects.sites.create"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.projects.sites.delete",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing."
                }
              },
              "response": {
                "$ref": "ListSitesResponse"
              },
              "description": "Lists each Hosting Site associated with the specified parent Firebase project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/sites",
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "id": "firebasehosting.projects.sites.list"
            },
            "updateConfig": {
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.sites.updateConfig",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "httpMethod": "PATCH",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "SiteConfig"
              },
              "response": {
                "$ref": "SiteConfig"
              },
              "description": "Sets the Hosting metadata for a specific site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "id": "firebasehosting.projects.operations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+name}"
            }
          }
        }
      }
    },
    "sites": {
      "resources": {
        "channels": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasehosting.sites.channels.create",
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "path": "v1beta1/{+parent}/channels",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "channelId": {
                  "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Channel"
              },
              "response": {
                "$ref": "Channel"
              },
              "description": "Creates a new channel in the specified site."
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.channels.delete",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "id": "firebasehosting.sites.channels.list",
              "parameters": {
                "parent": {
                  "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                  "type": "string",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing."
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/channels",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID"
                }
              },
              "response": {
                "$ref": "Channel"
              },
              "description": "Retrieves information for the specified channel of the specified site.",
              "id": "firebasehosting.sites.channels.get",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "id": "firebasehosting.sites.channels.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "A comma-separated list of fields to be updated in this request.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "Channel"
              },
              "response": {
                "$ref": "Channel"
              },
              "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH"
            }
          },
          "resources": {
            "releases": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "versionName": {
                      "type": "string",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Release"
                  },
                  "response": {
                    "$ref": "Release"
                  },
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "id": "firebasehosting.sites.channels.releases.create"
                },
                "list": {
                  "id": "firebasehosting.sites.channels.releases.list",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string",
                      "required": true,
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "id": "firebasehosting.sites.channels.releases.get",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "type": "string",
                      "pattern": "^sites/[^/]+/channels/[^/]+/releases/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Release"
                  },
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "versions": {
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "parameters": {
                    "status": {
                      "description": " The type of files that should be listed for the specified version.",
                      "type": "string",
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ],
                      "location": "query",
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ]
                    },
                    "parent": {
                      "pattern": "^sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000."
                    }
                  },
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/files",
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "id": "firebasehosting.sites.versions.files.list",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          },
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "Version"
              },
              "response": {
                "$ref": "Version"
              },
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.versions.patch",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "id": "firebasehosting.sites.versions.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Version"
              },
              "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "populateFiles": {
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "id": "firebasehosting.sites.versions.populateFiles",
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID"
                }
              },
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "description": " Adds content files to the specified version. Each file must be under 2 GB.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}:populateFiles",
              "parameterOrder": [
                "parent"
              ]
            },
            "clone": {
              "path": "v1beta1/{+parent}/versions:clone",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID"
                }
              },
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Creates a new version on the specified target site using the content of the specified version.",
              "id": "firebasehosting.sites.versions.clone",
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "id": "firebasehosting.sites.versions.create",
              "parameters": {
                "parent": {
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                  "type": "string",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path"
                },
                "versionId": {
                  "type": "string",
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                  "location": "query",
                  "deprecated": true
                },
                "sizeBytes": {
                  "type": "string",
                  "format": "int64",
                  "location": "query",
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads."
                }
              },
              "request": {
                "$ref": "Version"
              },
              "response": {
                "$ref": "Version"
              },
              "description": "Creates a new version for the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/versions",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "type": "string",
                  "required": true,
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the specified version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.versions.delete",
[...]
