{
  "ownerDomain": "google.com",
  "canonicalName": "Firebase App Distribution",
  "title": "Firebase App Distribution API",
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "revision": "20260504",
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "schemas": {
    "GdataDiffVersionResponse": {
      "description": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "id": "GdataDiffVersionResponse",
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "The version of the object stored at the server.",
          "type": "string"
        },
        "objectSizeBytes": {
          "description": "The total size of the server object.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GdataCompositeMedia": {
      "description": "A sequence of media data references representing composite data. Introduced to support Bigstore composite objects. For details, visit http://go/bigstore-composites.",
      "id": "GdataCompositeMedia",
      "type": "object",
      "properties": {
        "blobRef": {
          "format": "byte",
          "deprecated": true,
          "type": "string",
          "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF This should be the byte representation of a blobstore.BlobRef. Since Blobstore is deprecating v1, use blobstore2_info instead. For now, any v2 blob will also be represented in this field as v1 BlobRef."
        },
        "crc32cHash": {
          "description": "crc32.c hash for the payload.",
          "type": "integer",
          "format": "uint32"
        },
        "referenceType": {
          "enumDescriptions": [
            "Reference contains a GFS path or a local path.",
            "Reference points to a blobstore object. This could be either a v1 blob_ref or a v2 blobstore2_info. Clients should check blobstore2_info first, since v1 is being deprecated.",
            "Data is included into this proto buffer",
            "Reference points to a bigstore object",
            "Indicates the data is stored in cosmo_binary_reference."
          ],
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "description": "Describes what the field reference contains."
        },
        "cosmoBinaryReference": {
          "type": "string",
          "description": "A binary data reference for a media download. Serves as a technology-agnostic binary reference in some Google infrastructure. This value is a serialized storage_cosmo.BinaryReference proto. Storing it as bytes is a hack to get around the fact that the cosmo proto (as well as others it includes) doesn't support JavaScript. This prevents us from including the actual type of this field.",
          "format": "byte"
        },
        "length": {
          "description": "Size of the data, in bytes",
          "type": "string",
          "format": "int64"
        },
        "md5Hash": {
          "format": "byte",
          "type": "string",
          "description": "MD5 hash for the payload."
        },
        "path": {
          "description": "Path to the data, set if reference_type is PATH",
          "type": "string"
        },
        "blobstore2Info": {
          "$ref": "GdataBlobstore2Info",
          "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers to a v2 blob."
        },
        "inline": {
          "format": "byte",
          "description": "Media data, set if reference_type is INLINE",
          "type": "string"
        },
        "sha1Hash": {
          "format": "byte",
          "type": "string",
          "description": "SHA-1 hash for the payload."
        },
        "objectId": {
          "$ref": "GdataObjectId",
          "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF."
        }
      }
    },
    "GoogleFirebaseAppdistroV1ListTestersResponse": {
      "properties": {
        "testers": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1Tester"
          },
          "description": "The testers listed."
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1ListTestersResponse",
      "type": "object",
      "description": "The response message for `ListTesters`."
    },
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleFirebaseAppdistroV1BatchRemoveTestersResponse": {
      "properties": {
        "emails": {
          "description": "List of deleted tester emails",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for `BatchRemoveTesters`",
      "id": "GoogleFirebaseAppdistroV1BatchRemoveTestersResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1ListGroupsResponse": {
      "id": "GoogleFirebaseAppdistroV1ListGroupsResponse",
      "type": "object",
      "description": "The response message for `ListGroups`.",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1Group"
          },
          "description": "The groups listed."
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GdataDownloadParameters": {
      "id": "GdataDownloadParameters",
      "type": "object",
      "description": "Parameters specific to media downloads.",
      "properties": {
        "allowGzipCompression": {
          "type": "boolean",
          "description": "A boolean to be returned in the response to Scotty. Allows/disallows gzip encoding of the payload content when the server thinks it's advantageous (hence, does not guarantee compression) which allows Scotty to GZip the response to the client."
        },
        "ignoreRange": {
          "description": "Determining whether or not Apiary should skip the inclusion of any Content-Range header on its response to Scotty.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppdistroV1Group": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the group resource. Format: `projects/{project_number}/groups/{group_alias}`"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the group."
        },
        "releaseCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of releases this group is permitted to access.",
          "type": "integer"
        },
        "testerCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of testers who are members of this group."
        },
        "inviteLinkCount": {
          "type": "integer",
          "description": "Output only. The number of invite links for this group.",
          "readOnly": true,
          "format": "int32"
        }
      },
      "id": "GoogleFirebaseAppdistroV1Group",
      "type": "object",
      "description": "A group which can contain testers. A group can be invited to test apps in a Firebase project."
    },
    "GdataBlobstore2Info": {
      "id": "GdataBlobstore2Info",
      "type": "object",
      "description": "Information to read/write to blobstore2.",
      "properties": {
        "uploadFragmentListCreationInfo": {
          "type": "string",
          "description": "A serialized Object Fragment List Creation Info passed from Bigstore -> Scotty for a GCS upload. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "format": "byte"
        },
        "uploadMetadataContainer": {
          "format": "byte",
          "type": "string",
          "description": "Metadata passed from Blobstore -> Scotty for a new GCS upload. This is a signed, serialized blobstore2.BlobMetadataContainer proto which must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads."
        },
        "blobGeneration": {
          "format": "int64",
          "type": "string",
          "description": "The blob generation id."
        },
        "downloadReadHandle": {
          "format": "byte",
          "type": "string",
          "description": "Read handle passed from Bigstore -> Scotty for a GCS download. This is a signed, serialized blobstore2.ReadHandle proto which must never be set outside of Bigstore, and is not applicable to non-GCS media downloads."
        },
        "readToken": {
          "description": "The blob read token. Needed to read blobs that have not been replicated. Might not be available until the final call.",
          "type": "string"
        },
        "downloadExternalReadToken": {
          "format": "byte",
          "description": "A serialized External Read Token passed from Bigstore -> Scotty for a GCS download. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string"
        },
        "blobId": {
          "description": "The blob id, e.g., /blobstore/prod/playground/scotty",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "properties": {
        "result": {
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ],
          "type": "string",
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ],
          "description": "Result of upload release."
        },
        "release": {
          "$ref": "GoogleFirebaseAppdistroV1Release",
          "description": "Release associated with the uploaded binary."
        }
      },
      "description": "Response message for `UploadRelease`.",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1DistributeReleaseResponse": {
      "id": "GoogleFirebaseAppdistroV1DistributeReleaseResponse",
      "type": "object",
      "description": "The response message for `DistributeRelease`.",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1ListReleasesResponse": {
      "id": "GoogleFirebaseAppdistroV1ListReleasesResponse",
      "type": "object",
      "description": "The response message for `ListReleases`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "releases": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1Release"
          },
          "description": "The releases"
        }
      }
    },
    "GoogleFirebaseAppdistroV1BatchRemoveTestersRequest": {
      "properties": {
        "emails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The email addresses of the tester resources to removed. A maximum of 999 and a minimum of 1 testers can be deleted in a batch."
        }
      },
      "description": "The request message for `BatchRemoveTesters`.",
      "id": "GoogleFirebaseAppdistroV1BatchRemoveTestersRequest",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "GdataObjectId": {
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "The name of the bucket to which this object belongs."
        },
        "objectName": {
          "type": "string",
          "description": "The name of the object."
        },
        "generation": {
          "type": "string",
          "description": "Generation of the object. Generations are monotonically increasing across writes, allowing them to be be compared to determine which generation is newer. If this is omitted in a request, then you are requesting the live object. See http://go/bigstore-versions",
          "format": "int64"
        }
      },
      "id": "GdataObjectId",
      "type": "object",
      "description": "This is a copy of the tech.blob.ObjectId proto, which could not be used directly here due to transitive closure issues with JavaScript support; see http://b/8801763."
    },
    "GoogleFirebaseAppdistroV1BatchLeaveGroupRequest": {
      "description": "Request message for `BatchLeaveGroup`",
      "id": "GoogleFirebaseAppdistroV1BatchLeaveGroupRequest",
      "type": "object",
      "properties": {
        "emails": {
          "description": "Required. The email addresses of the testers to be removed from the group. A maximum of 999 and a minimum of 1 testers can be removed in a batch.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GdataDiffUploadResponse": {
      "properties": {
        "objectVersion": {
          "description": "The object version of the object at the server. Must be included in the end notification response. The version in the end notification response must correspond to the new version of the object that is now stored at the server, after the upload.",
          "type": "string"
        },
        "originalObject": {
          "$ref": "GdataCompositeMedia",
          "description": "The location of the original file for a diff upload request. Must be filled in if responding to an upload start notification."
        }
      },
      "description": "Backend response for a Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "id": "GdataDiffUploadResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1Release": {
      "properties": {
        "expireTime": {
          "description": "Output only. The time the release will expire.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes",
          "description": "Notes of the release."
        },
        "displayVersion": {
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the release was created.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the release was last updated.",
          "type": "string"
        },
        "testingUri": {
          "type": "string",
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices.",
          "readOnly": true
        },
        "firebaseConsoleUri": {
          "type": "string",
          "description": "Output only. A link to the Firebase console displaying a single release.",
          "readOnly": true
        },
        "binaryDownloadUri": {
          "readOnly": true,
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
          "type": "string"
        },
        "buildVersion": {
          "readOnly": true,
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`"
        }
      },
      "id": "GoogleFirebaseAppdistroV1Release",
      "type": "object",
      "description": "A release of a Firebase app."
    },
    "GoogleFirebaseAppdistroV1ListFeedbackReportsResponse": {
      "id": "GoogleFirebaseAppdistroV1ListFeedbackReportsResponse",
      "type": "object",
      "description": "The response message for `ListFeedbackReports`.",
      "properties": {
        "feedbackReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1FeedbackReport"
          },
          "description": "The feedback reports"
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GdataDiffUploadRequest": {
      "properties": {
        "checksumsInfo": {
          "description": "The location of the checksums for the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received. For details on the format of the checksums, see http://go/scotty-diff-protocol.",
          "$ref": "GdataCompositeMedia"
        },
        "objectVersion": {
          "type": "string",
          "description": "The object version of the object that is the base version the incoming diff script will be applied to. This field will always be filled in."
        },
        "objectInfo": {
          "$ref": "GdataCompositeMedia",
          "description": "The location of the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received."
        }
      },
      "id": "GdataDiffUploadRequest",
      "type": "object",
      "description": "A Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
    },
    "GoogleFirebaseAppdistroV1BatchJoinGroupRequest": {
      "properties": {
        "emails": {
          "description": "Required. The emails of the testers to be added to the group. A maximum of 999 and a minimum of 1 tester can be created in a batch.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createMissingTesters": {
          "type": "boolean",
          "description": "Indicates whether to create tester resources based on `emails` if they don't exist yet."
        }
      },
      "id": "GoogleFirebaseAppdistroV1BatchJoinGroupRequest",
      "type": "object",
      "description": "The request message for `BatchJoinGroup`"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseRequest": {
      "id": "GoogleFirebaseAppdistroV1UploadReleaseRequest",
      "type": "object",
      "description": "Request message for `UploadRelease`.",
      "properties": {
        "blob": {
          "$ref": "GdataMedia",
          "description": "Binary to upload"
        }
      }
    },
    "GoogleFirebaseAppdistroV1Tester": {
      "description": "A person that can be invited to test apps in a Firebase project.",
      "id": "GoogleFirebaseAppdistroV1Tester",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The resource names of the groups this tester belongs to."
        },
        "name": {
          "description": "The name of the tester resource. Format: `projects/{project_number}/testers/{email_address}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the tester associated with the Google account used to accept the tester invitation."
        },
        "lastActivityTime": {
          "type": "string",
          "description": "Output only. The time the tester was last active. This is the most recent time the tester installed one of the apps. If they've never installed one or if the release no longer exists, this is the time the tester was added to the project.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleFirebaseAppdistroV1TestCertificate": {
      "properties": {
        "hashSha1": {
          "type": "string",
          "description": "Hex string of SHA1 hash of the test certificate used to resign the AAB"
        },
        "hashMd5": {
          "type": "string",
          "description": "Hex string of MD5 hash of the test certificate used to resign the AAB"
        },
        "hashSha256": {
          "description": "Hex string of SHA256 hash of the test certificate used to resign the AAB",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1TestCertificate",
      "type": "object",
      "description": "App bundle test certificate"
    },
    "GoogleFirebaseAppdistroV1DistributeReleaseRequest": {
      "properties": {
        "groupAliases": {
          "description": "Optional. A list of group aliases (IDs) to be given access to this release. A combined maximum of 999 `testerEmails` and `groupAliases` can be specified in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "testerEmails": {
          "description": "Optional. A list of tester email addresses to be given access to this release. A combined maximum of 999 `testerEmails` and `groupAliases` can be specified in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request message for `DistributeRelease`.",
      "id": "GoogleFirebaseAppdistroV1DistributeReleaseRequest",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1BatchAddTestersResponse": {
      "properties": {
        "testers": {
          "description": "The testers which are created and/or already exist",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1Tester"
          }
        }
      },
      "description": "The Response message for `BatchAddTesters`.",
      "id": "GoogleFirebaseAppdistroV1BatchAddTestersResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "description": "Operation metadata for `UploadRelease`.",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata",
      "type": "object",
      "properties": {}
    },
    "GdataMedia": {
      "id": "GdataMedia",
      "type": "object",
      "description": "A reference to data stored on the filesystem, on GFS or in blobstore.",
      "properties": {
        "diffChecksumsResponse": {
          "$ref": "GdataDiffChecksumsResponse",
          "description": "Set if reference_type is DIFF_CHECKSUMS_RESPONSE."
        },
        "hashVerified": {
          "description": "For Scotty uploads only. If a user sends a hash code and the backend has requested that Scotty verify the upload against the client hash, Scotty will perform the check on behalf of the backend and will reject it if the hashes don't match. This is set to true if Scotty performed this verification.",
          "type": "boolean"
        },
        "mediaId": {
          "description": "Media id to forward to the operation GetMedia. Can be set if reference_type is GET_MEDIA.",
          "type": "string",
          "format": "byte"
        },
        "objectId": {
          "$ref": "GdataObjectId",
          "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF."
        },
        "crc32cHash": {
          "format": "uint32",
          "description": "For Scotty Uploads: Scotty-provided hashes for uploads For Scotty Downloads: (WARNING: DO NOT USE WITHOUT PERMISSION FROM THE SCOTTY TEAM.) A Hash provided by the agent to be used to verify the data being downloaded. Currently only supported for inline payloads. Further, only crc32c_hash is currently supported.",
          "type": "integer"
        },
        "referenceType": {
          "enumDescriptions": [
            "Reference contains a GFS path or a local path.",
            "Reference points to a blobstore object. This could be either a v1 blob_ref or a v2 blobstore2_info. Clients should check blobstore2_info first, since v1 is being deprecated.",
            "Data is included into this proto buffer",
            "Data should be accessed from the current service using the operation GetMedia.",
            "The content for this media object is stored across multiple partial media objects under the composite_media field.",
            "Reference points to a bigstore object",
            "Indicates the data is stored in diff_version_response.",
            "Indicates the data is stored in diff_checksums_response.",
            "Indicates the data is stored in diff_download_response.",
            "Indicates the data is stored in diff_upload_request.",
            "Indicates the data is stored in diff_upload_response.",
            "Indicates the data is stored in cosmo_binary_reference.",
            "Informs Scotty to generate a response payload with the size specified in the length field. The contents of the payload are generated by Scotty and are undefined. This is useful for testing download speeds between the user and Scotty without involving a real payload source. Note: range is not supported when using arbitrary_bytes."
          ],
          "description": "Describes what the field reference contains.",
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ]
        },
        "contentType": {
          "type": "string",
          "description": "MIME type of the data"
        },
        "diffUploadRequest": {
          "$ref": "GdataDiffUploadRequest",
          "description": "Set if reference_type is DIFF_UPLOAD_REQUEST."
        },
        "isPotentialRetry": {
          "description": "|is_potential_retry| is set false only when Scotty is certain that it has not sent the request before. When a client resumes an upload, this field must be set true in agent calls, because Scotty cannot be certain that it has never sent the request before due to potential failure in the session state persistence.",
          "type": "boolean"
        },
        "length": {
          "description": "Size of the data, in bytes",
          "type": "string",
          "format": "int64"
        },
        "hash": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated, use one of explicit hash type fields instead. These two hash related fields will only be populated on Scotty based media uploads and will contain the content of the hash group in the NotificationRequest: http://cs/#google3/blobstore2/api/scotty/service/proto/upload_listener.proto&q=class:Hash Hex encoded hash value of the uploaded media."
        },
        "token": {
          "description": "A unique fingerprint/version id for the media data",
          "type": "string"
        },
        "algorithm": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated, use one of explicit hash type fields instead. Algorithm used for calculating the hash. As of 2011/01/21, \"MD5\" is the only possible value for this field. New values may be added at any time."
        },
        "timestamp": {
          "description": "Time at which the media data was last updated, in milliseconds since UNIX epoch",
          "type": "string",
          "format": "uint64"
        },
        "blobRef": {
          "format": "byte",
          "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF This should be the byte representation of a blobstore.BlobRef. Since Blobstore is deprecating v1, use blobstore2_info instead. For now, any v2 blob will also be represented in this field as v1 BlobRef.",
          "deprecated": true,
          "type": "string"
        },
        "compositeMedia": {
          "description": "A composite media composed of one or more media objects, set if reference_type is COMPOSITE_MEDIA. The media length field must be set to the sum of the lengths of all composite media objects. Note: All composite media must have length specified.",
          "type": "array",
          "items": {
            "$ref": "GdataCompositeMedia"
          }
        },
        "md5Hash": {
          "type": "string",
          "description": "Scotty-provided MD5 hash for an upload.",
          "format": "byte"
        },
        "cosmoBinaryReference": {
          "format": "byte",
          "description": "A binary data reference for a media download. Serves as a technology-agnostic binary reference in some Google infrastructure. This value is a serialized storage_cosmo.BinaryReference proto. Storing it as bytes is a hack to get around the fact that the cosmo proto (as well as others it includes) doesn't support JavaScript. This prevents us from including the actual type of this field.",
          "type": "string"
        },
        "sha256Hash": {
          "description": "Scotty-provided SHA256 hash for an upload.",
          "type": "string",
          "format": "byte"
        },
        "blobstore2Info": {
          "$ref": "GdataBlobstore2Info",
          "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers to a v2 blob."
        },
        "contentTypeInfo": {
          "$ref": "GdataContentTypeInfo",
          "description": "Extended content type information provided for Scotty uploads."
        },
        "filename": {
          "type": "string",
          "description": "Original file name"
        },
        "inline": {
          "format": "byte",
          "description": "Media data, set if reference_type is INLINE",
          "type": "string"
        },
        "diffVersionResponse": {
          "$ref": "GdataDiffVersionResponse",
          "description": "Set if reference_type is DIFF_VERSION_RESPONSE."
        },
        "diffDownloadResponse": {
          "description": "Set if reference_type is DIFF_DOWNLOAD_RESPONSE.",
          "$ref": "GdataDiffDownloadResponse"
        },
        "path": {
          "type": "string",
          "description": "Path to the data, set if reference_type is PATH"
        },
        "bigstoreObjectRef": {
          "format": "byte",
          "deprecated": true,
          "type": "string",
          "description": "Use object_id instead."
        },
        "diffUploadResponse": {
          "$ref": "GdataDiffUploadResponse",
          "description": "Set if reference_type is DIFF_UPLOAD_RESPONSE."
        },
        "sha1Hash": {
          "description": "Scotty-provided SHA1 hash for an upload.",
          "type": "string",
          "format": "byte"
        },
        "downloadParameters": {
          "$ref": "GdataDownloadParameters",
          "description": "Parameters for a media download."
        }
      }
    },
    "GdataContentTypeInfo": {
      "description": "Detailed Content-Type information from Scotty. The Content-Type of the media will typically be filled in by the header or Scotty's best_guess, but this extended information provides the backend with more information so that it can make a better decision if needed. This is only used on media upload requests from Scotty.",
      "id": "GdataContentTypeInfo",
      "type": "object",
      "properties": {
        "fromFileName": {
          "type": "string",
          "description": "The content type of the file derived from the file extension of the original file name used by the client."
        },
        "fromHeader": {
          "type": "string",
          "description": "The content type of the file as specified in the request headers, multipart headers, or RUPIO start request."
        },
        "fromUrlPath": {
          "description": "The content type of the file derived from the file extension of the URL path. The URL path is assumed to represent a file name (which is typically only true for agents that are providing a REST API).",
          "type": "string"
        },
        "bestGuess": {
          "type": "string",
          "description": "Scotty's best guess of what the content type of the file is."
        },
        "fromFusionId": {
          "description": "The content type of the file detected by Fusion ID. go/fusionid",
          "type": "string"
        },
        "fusionIdDetectionMetadata": {
          "format": "byte",
          "type": "string",
          "description": "Metadata information from Fusion ID detection. Serialized FusionIdDetectionMetadata proto. Only set if from_fusion_id is set."
        },
        "fromBytes": {
          "type": "string",
          "description": "The content type of the file derived by looking at specific bytes (i.e. \"magic bytes\") of the actual file."
        }
      }
    },
    "GoogleFirebaseAppdistroV1BatchAddTestersRequest": {
      "properties": {
        "emails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The email addresses of the tester resources to create. A maximum of 999 and a minimum of 1 tester can be created in a batch."
        }
      },
      "description": "The Request message for batch adding testers",
      "id": "GoogleFirebaseAppdistroV1BatchAddTestersRequest",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1BatchDeleteReleasesRequest": {
      "id": "GoogleFirebaseAppdistroV1BatchDeleteReleasesRequest",
      "type": "object",
      "description": "The request message for `BatchDeleteReleases`.",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the release resources to delete. Format: `projects/{project_number}/apps/{app}/releases/{release}` A maximum of 100 releases can be deleted per request."
        }
      }
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "properties": {
        "text": {
          "description": "The text of the release notes.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "type": "object",
      "description": "Notes that belong to a release."
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GdataDiffChecksumsResponse": {
      "properties": {
        "objectVersion": {
          "description": "The object version of the object the checksums are being returned for.",
          "type": "string"
        },
        "checksumsLocation": {
          "description": "Exactly one of these fields must be populated. If checksums_location is filled, the server will return the corresponding contents to the user. If object_location is filled, the server will calculate the checksums based on the content there and return that to the user. For details on the format of the checksums, see http://go/scotty-diff-protocol.",
          "$ref": "GdataCompositeMedia"
        },
        "objectLocation": {
          "description": "If set, calculate the checksums based on the contents and return them to the caller.",
          "$ref": "GdataCompositeMedia"
        },
        "objectSizeBytes": {
          "type": "string",
          "description": "The total size of the server object.",
          "format": "int64"
        },
        "chunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The chunk size of checksums. Must be a multiple of 256KB."
        }
      },
      "id": "GdataDiffChecksumsResponse",
      "type": "object",
      "description": "Backend response for a Diff get checksums response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
    },
    "GdataDiffDownloadResponse": {
      "properties": {
        "objectLocation": {
          "$ref": "GdataCompositeMedia",
          "description": "The original object location."
        }
      },
      "description": "Backend response for a Diff download response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "id": "GdataDiffDownloadResponse",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleLongrunningWaitOperationRequest": {
      "properties": {
        "timeout": {
          "type": "string",
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
          "format": "google-duration"
        }
      },
      "description": "The request message for Operations.WaitOperation.",
      "id": "GoogleLongrunningWaitOperationRequest",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1AabInfo": {
      "id": "GoogleFirebaseAppdistroV1AabInfo",
      "type": "object",
      "description": "Android App Bundle (AAB) information for a Firebase app.",
      "properties": {
        "name": {
          "description": "The name of the `AabInfo` resource. Format: `projects/{project_number}/apps/{app}/aabInfo`",
          "type": "string"
        },
        "integrationState": {
          "enumDescriptions": [
            "AAB integration state unspecified.",
            "App can receive app bundle uploads.",
            "Firebase project is not linked to a Play developer account.",
            "There is no app in the linked Play developer account with the same bundle ID.",
            "The app in the Play developer account is not in a published state.",
            "Play App status is unavailable.",
            "Play in-app sharing terms not accepted.",
            "The ad-hoc sharing key has not been generated for this app.",
            "The ad-hoc sharing key is not yet registered in ADI for this app."
          ],
          "description": "App bundle integration state. Only valid for android apps.",
          "type": "string",
          "enum": [
            "AAB_INTEGRATION_STATE_UNSPECIFIED",
            "INTEGRATED",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED",
            "ADHOC_SHARING_KEY_NOT_GENERATED",
            "ADHOC_SHARING_KEY_NOT_REGISTERED"
          ]
        },
        "testCertificate": {
          "$ref": "GoogleFirebaseAppdistroV1TestCertificate",
          "description": "App bundle test certificate generated for the app. Set after the first app bundle is uploaded for this app."
        }
      }
    },
    "GoogleFirebaseAppdistroV1FeedbackReport": {
      "properties": {
        "text": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The text of the feedback report."
        },
        "firebaseConsoleUri": {
          "type": "string",
          "description": "Output only. A link to the Firebase console displaying the feedback report.",
          "readOnly": true
        },
        "tester": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the tester who submitted the feedback report."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the feedback report was created."
        },
        "name": {
          "description": "The name of the feedback report resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/feedbackReports/{feedback_report}`",
          "type": "string"
        },
        "screenshotUri": {
          "description": "Output only. A signed link (which expires in one hour) that lets you directly download the screenshot.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A feedback report submitted by a tester for a release.",
      "id": "GoogleFirebaseAppdistroV1FeedbackReport",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "firebaseappdistribution:v1",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "name": "firebaseappdistribution",
  "version": "v1",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "description": "",
  "resources": {
    "projects": {
      "resources": {
        "testers": {
          "methods": {
            "batchAdd": {
              "parameters": {
                "project": {
                  "description": "Required. The name of the project resource. Format: `projects/{project_number}`",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1BatchAddTestersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.projects.testers.batchAdd",
              "parameterOrder": [
                "project"
              ],
              "description": "Batch adds testers. This call adds testers for the specified emails if they don't already exist. Returns all testers specified in the request, including newly created and previously existing testers. This action is idempotent.",
              "path": "v1/{+project}/testers:batchAdd",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/testers:batchAdd",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1BatchAddTestersRequest"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists testers and their resource ids.",
              "id": "firebaseappdistribution.projects.testers.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the project resource, which is the parent of the tester resources. Format: `projects/{project_number}`",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListTesters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTesters` must match the call that provided the page token.",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. The expression to filter testers listed in the response. To learn more about filtering, refer to [Google's AIP-160 standard](http://aip.dev/160). Supported fields: - `name` - `displayName` - `groups` Example: - `name = \"projects/-/testers/*@example.com\"` - `displayName = \"Joe Sixpack\"` - `groups = \"projects/*/groups/qa-team\"`",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of testers to return. The service may return fewer than this value. The valid range is [1-1000]; If unspecified (0), at most 10 testers are returned. Values above 1000 are coerced to 1000.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1ListTestersResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/testers",
              "flatPath": "v1/projects/{projectsId}/testers"
            },
            "patch": {
              "id": "firebaseappdistribution.projects.testers.patch",
              "parameterOrder": [
                "name"
              ],
              "description": "Update a tester. If the testers joins a group they gain access to all releases that the group has access to.",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The list of fields to update.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/testers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The name of the tester resource. Format: `projects/{project_number}/testers/{email_address}`"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1Tester"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/testers/{testersId}",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1Tester"
              }
            },
            "batchRemove": {
              "parameters": {
                "project": {
                  "required": true,
                  "description": "Required. The name of the project resource. Format: `projects/{project_number}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1BatchRemoveTestersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.projects.testers.batchRemove",
              "parameterOrder": [
                "project"
              ],
              "description": "Batch removes testers. If found, this call deletes testers for the specified emails. Returns all deleted testers.",
              "flatPath": "v1/projects/{projectsId}/testers:batchRemove",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1BatchRemoveTestersRequest"
              },
              "path": "v1/{+project}/testers:batchRemove",
              "httpMethod": "POST"
            }
          }
        },
        "groups": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/groups/{groupsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the group resource to retrieve. Format: `projects/{project_number}/groups/{group_alias}`",
                  "required": true,
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1Group"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Get a group.",
              "id": "firebaseappdistribution.projects.groups.get"
            },
            "batchLeave": {
              "flatPath": "v1/projects/{projectsId}/groups/{groupsId}:batchLeave",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1BatchLeaveGroupRequest"
              },
              "path": "v1/{+group}:batchLeave",
              "httpMethod": "POST",
              "parameters": {
                "group": {
                  "description": "Required. The name of the group resource from which testers are removed. Format: `projects/{project_number}/groups/{group_alias}`",
                  "required": true,
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.projects.groups.batchLeave",
              "parameterOrder": [
                "group"
              ],
              "description": "Batch removed members from a group. The testers will lose access to all releases that the groups have access to."
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The name of the project resource, which is the parent of the group resource. Format: `projects/{project_number}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "groupId": {
                  "type": "string",
                  "description": "Optional. The \"alias\" to use for the group, which will become the final component of the group's resource name. This value must be unique per project. The field is named `groupId` to comply with AIP guidance for user-specified IDs. This value should be 4-63 characters, and valid characters are `/a-z-/`. If not set, it will be generated based on the display name.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1Group"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Create a group.",
              "id": "firebaseappdistribution.projects.groups.create",
              "flatPath": "v1/projects/{projectsId}/groups",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1Group"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/groups"
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/groups",
              "path": "v1/{+parent}/groups",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project resource, which is the parent of the group resources. Format: `projects/{project_number}`"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGroups` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of groups to return. The service may return fewer than this value. The valid range is [1-1000]; If unspecified (0), at most 25 groups are returned. Values above 1000 are coerced to 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1ListGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.projects.groups.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "List groups."
            },
            "patch": {
              "flatPath": "v1/projects/{projectsId}/groups/{groupsId}",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1Group"
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "id": "firebaseappdistribution.projects.groups.patch",
              "parameterOrder": [
                "name"
              ],
              "description": "Update a group.",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The name of the group resource. Format: `projects/{project_number}/groups/{group_alias}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1Group"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/groups/{groupsId}",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Delete a group.",
              "id": "firebaseappdistribution.projects.groups.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the group resource. Format: `projects/{project_number}/groups/{group_alias}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "batchJoin": {
              "id": "firebaseappdistribution.projects.groups.batchJoin",
              "parameterOrder": [
                "group"
              ],
              "description": "Batch adds members to a group. The testers will gain access to all releases that the groups have access to.",
              "parameters": {
                "group": {
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the group resource to which testers are added. Format: `projects/{project_number}/groups/{group_alias}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+group}:batchJoin",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/groups/{groupsId}:batchJoin",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1BatchJoinGroupRequest"
              }
            }
          }
        },
        "apps": {
          "resources": {
            "releases": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists releases. By default, sorts by `createTime` in descending order.",
                  "id": "firebaseappdistribution.projects.apps.releases.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the app resource, which is the parent of the release resources. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListReleases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReleases` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of releases to return. The service may return fewer than this value. The valid range is [1-100]; If unspecified (0), at most 25 releases are returned. Values above 100 are coerced to 100.",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Optional. The fields used to order releases. Supported fields: - `createTime` To specify descending order for a field, append a \"desc\" suffix, for example, `createTime desc`. If this parameter is not set, releases are ordered by `createTime` in descending order.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. The expression to filter releases listed in the response. To learn more about filtering, refer to [Google's AIP-160 standard](http://aip.dev/160). Supported fields: - `releaseNotes.text` supports `=` (can contain a wildcard character (`*`) at the beginning or end of the string) - `createTime` supports `<`, `<=`, `>` and `>=`, and expects an RFC-3339 formatted string Examples: - `createTime <= \"2021-09-08T00:00:00+04:00\"` - `releaseNotes.text=\"fixes\" AND createTime >= \"2021-09-08T00:00:00.0Z\"` - `releaseNotes.text=\"*v1.0.0-rc*\"`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1ListReleasesResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/releases",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1Release"
                  },
                  "id": "firebaseappdistribution.projects.apps.releases.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a release.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. The list of fields to update.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1Release"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a release.",
                  "id": "firebaseappdistribution.projects.apps.releases.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the release resource to retrieve. Format: projects/{project_number}/apps/{app}/releases/{release}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1Release"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}"
                },
                "distribute": {
                  "id": "firebaseappdistribution.projects.apps.releases.distribute",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Distributes a release to testers. This call does the following: 1. Creates testers for the specified emails, if none exist. 2. Adds the testers and groups to the release. 3. Sends new testers an invitation email. 4. Sends existing testers a new release email. The request will fail with a `INVALID_ARGUMENT` if it contains a group that doesn't exist.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the release resource to distribute. Format: `projects/{project_number}/apps/{app}/releases/{release}`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1DistributeReleaseResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}:distribute",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1DistributeReleaseRequest"
                  },
                  "path": "v1/{+name}:distribute",
                  "httpMethod": "POST"
                },
                "batchDelete": {
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases:batchDelete",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1BatchDeleteReleasesRequest"
                  },
                  "path": "v1/{+parent}/releases:batchDelete",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the app resource, which is the parent of the release resources. Format: `projects/{project_number}/apps/{app}`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.releases.batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Deletes releases. A maximum of 100 releases can be deleted per request."
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "cancel": {
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be cancelled.",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "firebaseappdistribution.projects.apps.releases.operations.cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "path": "v1/{+name}:cancel",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/operations/{operationsId}:cancel",
                      "request": {
                        "$ref": "GoogleLongrunningCancelOperationRequest"
                      }
                    },
                    "wait": {
                      "path": "v1/{+name}:wait",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/operations/{operationsId}:wait",
                      "request": {
                        "$ref": "GoogleLongrunningWaitOperationRequest"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name of the operation resource to wait on.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/operations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "firebaseappdistribution.projects.apps.releases.operations.wait",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                    },
                    "list": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation's parent resource."
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The standard list page size.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "firebaseappdistribution.projects.apps.releases.operations.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "path": "v1/{+name}/operations",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/operations"
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/operations/{operationsId}",
                      "id": "firebaseappdistribution.projects.apps.releases.operations.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource to be deleted.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "id": "firebaseappdistribution.projects.apps.releases.operations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/operations/{operationsId}",
                      "path": "v1/{+name}",
                      "httpMethod": "GET"
                    }
                  }
                },
                "feedbackReports": {
                  "methods": {
                    "get": {
                      "id": "firebaseappdistribution.projects.apps.releases.feedbackReports.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a feedback report.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the feedback report to retrieve. Format: projects/{project_number}/apps/{app}/releases/{release}/feedbackReports/{feedback_report}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/feedbackReports/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1FeedbackReport"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/feedbackReports/{feedbackReportsId}"
                    },
                    "list": {
                      "path": "v1/{+parent}/feedbackReports",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/feedbackReports",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The name of the release resource, which is the parent of the feedback report resources. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Output only. A page token, received from a previous `ListFeedbackReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFeedbackReports` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Output only. The maximum number of feedback reports to return. The service may return fewer than this value. The valid range is [1-100]; If unspecified (0), at most 25 feedback reports are returned. Values above 100 are coerced to 100.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1ListFeedbackReportsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "firebaseappdistribution.projects.apps.releases.feedbackReports.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists feedback reports. By default, sorts by `createTime` in descending order."
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/feedbackReports/{feedbackReportsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/feedbackReports/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the feedback report to delete. Format: projects/{project_number}/apps/{app}/releases/{release}/feedbackReports/{feedback_report}",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a feedback report.",
                      "id": "firebaseappdistribution.projects.apps.releases.feedbackReports.delete"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getAabInfo": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}/aabInfo",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the `AabInfo` resource to retrieve. Format: `projects/{project_number}/apps/{app}/aabInfo`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+/aabInfo$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1AabInfo"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.projects.apps.getAabInfo",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets Android App Bundle (AAB) information for a Firebase app."
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "supportsMediaUpload": true,
          "parameters": {
            "app": {
              "description": "Required. The name of the app resource. Format: `projects/{project_number}/apps/{app}`",
              "required": true,
              "pattern": "^projects/[^/]+/apps/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+app}/releases:upload"
              }
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "firebaseappdistribution.media.upload",
          "parameterOrder": [
            "app"
          ],
          "description": "Uploads a binary. Uploading a binary can result in a new release being created, an update to an existing release, or a no-op if a release with the same binary already exists.",
          "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases:upload",
          "request": {
            "$ref": "GoogleFirebaseAppdistroV1UploadReleaseRequest"
          },
          "path": "v1/{+app}/releases:upload",
          "httpMethod": "POST"
        }
      }
    }
  }
}