{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "id": "firebasehosting.projects.operations.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "type": "string"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        },
        "sites": {
          "resources": {
            "customDomains": {
              "methods": {
                "get": {
                  "id": "firebasehosting.projects.sites.customDomains.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "response": {
                    "$ref": "CustomDomain"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the `CustomDomain` to get.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Gets the specified `CustomDomain`.",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "firebasehosting.projects.sites.customDomains.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "description": "If true, the request succeeds even if the `CustomDomain` doesn't exist.",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually delete the `CustomDomain`.",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the `CustomDomain` to delete.",
                      "type": "string"
                    },
                    "etag": {
                      "description": "A tag that represents the state of the `CustomDomain` as you know it. If present, the supplied tag must match the current value on your `CustomDomain`, or the request fails.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Deletes the specified `CustomDomain`."
                },
                "create": {
                  "id": "firebasehosting.projects.sites.customDomains.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+parent}/customDomains",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The custom domain's parent, specifically a Firebase Hosting `Site`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path"
                    },
                    "customDomainId": {
                      "location": "query",
                      "description": "Required. The ID of the `CustomDomain`, which is the domain name you'd like to use with Firebase Hosting.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create a new `CustomDomain`.",
                      "type": "boolean"
                    }
                  },
                  "description": "Creates a `CustomDomain`."
                },
                "undelete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the `CustomDomain` to delete.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Undeletes the specified `CustomDomain` if it has been soft-deleted. Hosting retains soft-deleted custom domains for around 30 days before permanently deleting them.",
                  "path": "v1beta1/{+name}:undelete",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "UndeleteCustomDomainRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}:undelete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebasehosting.projects.sites.customDomains.undelete",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "description": "Output only. The fully-qualified name of the `CustomDomain`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path"
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "If true, Hosting creates the `CustomDomain` if it doesn't already exist.",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create or update the `CustomDomain`.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "The set of field names from your `CustomDomain` that you want to update. A field will be overwritten if, and only if, it's in the mask. If you don't provide a mask, Hosting updates the entire `CustomDomain`.",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates the specified `CustomDomain`.",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebasehosting.projects.sites.customDomains.patch",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "id": "firebasehosting.projects.sites.customDomains.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The Firebase Hosting `Site` with `CustomDomain` entities you'd like to list.",
                      "type": "string",
                      "required": true
                    },
                    "showDeleted": {
                      "location": "query",
                      "description": "If true, the request returns soft-deleted `CustomDomain`s that haven't been fully-deleted yet. To restore deleted `CustomDomain`s, make an `UndeleteCustomDomain` request.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The max number of `CustomDomain` entities to return in a request. Defaults to 10.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `ListCustomDomains` that tells the server where to resume listing.",
                      "type": "string"
                    }
                  },
                  "description": "Lists each `CustomDomain` associated with the specified parent Hosting site. Returns `CustomDomain`s in a consistent, but undefined, order to facilitate pagination.",
                  "path": "v1beta1/{+parent}/customDomains",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains",
                  "response": {
                    "$ref": "ListCustomDomainsResponse"
                  }
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations",
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "path": "v1beta1/{+name}/operations",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "The standard list page size.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "description": "The name of the operation's parent resource.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                          "location": "path"
                        },
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The standard list page token.",
                          "type": "string"
                        }
                      },
                      "description": "Lists operations that match the specified filter in the request.",
                      "id": "firebasehosting.projects.sites.customDomains.operations.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ]
                    },
                    "get": {
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation resource.",
                          "type": "string"
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Use this method to poll the operation result at intervals as recommended by the API service.",
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "firebasehosting.projects.sites.customDomains.operations.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ]
                    }
                  }
                }
              }
            },
            "releases": {
              "methods": {
                "get": {
                  "id": "firebasehosting.projects.sites.releases.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/releases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "type": "string"
                    }
                  },
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases/{releasesId}",
                  "response": {
                    "$ref": "Release"
                  }
                },
                "create": {
                  "id": "firebasehosting.projects.sites.releases.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "response": {
                    "$ref": "Release"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string",
                      "required": true
                    },
                    "versionName": {
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "path": "v1beta1/{+parent}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Release"
                  }
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "type": "string"
                    }
                  },
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+parent}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "id": "firebasehosting.projects.sites.releases.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                }
              }
            },
            "channels": {
              "methods": {
                "get": {
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string"
                    }
                  },
                  "description": "Retrieves information for the specified channel of the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "response": {
                    "$ref": "Channel"
                  },
                  "id": "firebasehosting.projects.sites.channels.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "create": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "response": {
                    "$ref": "Channel"
                  },
                  "path": "v1beta1/{+parent}/channels",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Channel"
                  },
                  "parameters": {
                    "channelId": {
                      "location": "query",
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new channel in the specified site.",
                  "id": "firebasehosting.projects.sites.channels.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Channel"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "A comma-separated list of fields to be updated in this request.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "response": {
                    "$ref": "Channel"
                  },
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "id": "firebasehosting.projects.sites.channels.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
                  "path": "v1beta1/{+parent}/channels",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "response": {
                    "$ref": "ListChannelsResponse"
                  }
                }
              },
              "resources": {
                "releases": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "path": "v1beta1/{+parent}/releases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                          "type": "integer"
                        }
                      },
                      "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                      "id": "firebasehosting.projects.sites.channels.releases.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ]
                    },
                    "get": {
                      "id": "firebasehosting.projects.sites.channels.releases.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}",
                      "response": {
                        "$ref": "Release"
                      },
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+/releases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                          "type": "string"
                        }
                      },
                      "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site."
                    },
                    "create": {
                      "id": "firebasehosting.projects.sites.channels.releases.create",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "response": {
                        "$ref": "Release"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "location": "path"
                        },
                        "versionName": {
                          "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                      "path": "v1beta1/{+parent}/releases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Release"
                      }
                    }
                  }
                }
              }
            },
            "domains": {
              "methods": {
                "create": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "response": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Creates a domain mapping on the specified site.",
                  "path": "v1beta1/{+parent}/domains",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Domain"
                  },
                  "id": "firebasehosting.projects.sites.domains.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "path": "v1beta1/{+parent}/domains",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The page size to return. Defaults to 50.",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token from a previous request, if provided.",
                      "type": "string"
                    }
                  },
                  "description": "Lists the domains for the specified site.",
                  "id": "firebasehosting.projects.sites.domains.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "get": {
                  "id": "firebasehosting.projects.sites.domains.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "response": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the domain configuration to get.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Gets a domain mapping on the specified site.",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "update": {
                  "id": "firebasehosting.projects.sites.domains.update",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "response": {
                    "$ref": "Domain"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the domain association to delete.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "firebasehosting.projects.sites.domains.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "versions": {
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                          "location": "path"
                        },
                        "status": {
                          "description": " The type of files that should be listed for the specified version.",
                          "type": "string",
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "path": "v1beta1/{+parent}/files",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "populateFiles": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": " Adds content files to the specified version. Each file must be under 2 GB.",
                  "path": "v1beta1/{+parent}:populateFiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "id": "firebasehosting.projects.sites.versions.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "type": "string"
                    }
                  },
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+parent}/versions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  }
                },
                "clone": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new version on the specified target site using the content of the specified version.",
                  "path": "v1beta1/{+parent}/versions:clone",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Version"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "response": {
                    "$ref": "Version"
                  }
                },
                "create": {
                  "id": "firebasehosting.projects.sites.versions.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "response": {
                    "$ref": "Version"
                  },
                  "parameters": {
                    "versionId": {
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                      "type": "string",
                      "location": "query",
                      "deprecated": true
                    },
                    "sizeBytes": {
                      "format": "int64",
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Creates a new version for the specified site.",
                  "path": "v1beta1/{+parent}/versions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Version"
                  }
                },
                "delete": {
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes the specified version."
                },
                "get": {
                  "id": "firebasehosting.projects.sites.versions.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "response": {
                    "$ref": "Version"
                  }
                }
              }
            }
          },
          "methods": {
            "getConfig": {
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "response": {
                "$ref": "SiteConfig"
              },
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
                  "type": "string"
                }
              },
              "description": "Gets the Hosting metadata for a specific site.",
              "id": "firebasehosting.projects.sites.getConfig",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "create": {
              "id": "firebasehosting.projects.sites.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "response": {
                "$ref": "Site"
              },
              "path": "v1beta1/{+parent}/sites",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Site"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "validateOnly": {
                  "location": "query",
                  "description": "Optional. If set, validates that the site_id is available and that the request would succeed, returning the expected resulting site or error.",
                  "type": "boolean"
                },
                "siteId": {
                  "location": "query",
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label.",
                  "type": "string"
                }
              },
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems."
            },
            "updateConfig": {
              "id": "firebasehosting.projects.sites.updateConfig",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "response": {
                "$ref": "SiteConfig"
              },
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SiteConfig"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "description": "Sets the Hosting metadata for a specific site."
            },
            "list": {
              "id": "firebasehosting.projects.sites.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "response": {
                "$ref": "ListSitesResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists each Hosting Site associated with the specified parent Firebase project.",
              "path": "v1beta1/{+parent}/sites",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "id": "firebasehosting.projects.sites.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "response": {
                "$ref": "Site"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "A set of field names from your Site that you want to update.",
                  "type": "string"
                }
              },
              "description": "Updates attributes of the specified Hosting Site.",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Site"
              }
            },
            "get": {
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "response": {
                "$ref": "Site"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID",
                  "type": "string"
                }
              },
              "description": "Gets the specified Hosting Site.",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.sites.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "delete": {
              "id": "firebasehosting.projects.sites.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project."
            }
          }
        }
      }
    },
    "sites": {
      "methods": {
        "getConfig": {
          "parameters": {
            "name": {
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
              "type": "string",
              "required": true,
              "pattern": "^sites/[^/]+/config$",
              "location": "path"
            }
          },
          "description": "Gets the Hosting metadata for a specific site.",
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "response": {
            "$ref": "SiteConfig"
          },
          "id": "firebasehosting.sites.getConfig",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ]
        },
        "updateConfig": {
          "id": "firebasehosting.sites.updateConfig",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "response": {
            "$ref": "SiteConfig"
          },
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "SiteConfig"
          },
          "parameters": {
            "name": {
              "pattern": "^sites/[^/]+/config$",
              "location": "path",
              "required": true,
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Sets the Hosting metadata for a specific site."
        }
      },
      "resources": {
        "versions": {
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "path": "v1beta1/{+parent}/files",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                      "type": "string",
                      "location": "query"
                    },
                    "status": {
                      "description": " The type of files that should be listed for the specified version.",
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ],
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ]
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "type": "string"
                    }
                  },
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "id": "firebasehosting.sites.versions.files.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                }
              }
            }
          },
          "methods": {
            "create": {
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "response": {
                "$ref": "Version"
              },
              "path": "v1beta1/{+parent}/versions",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Version"
              },
              "parameters": {
                "versionId": {
                  "location": "query",
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                  "type": "string",
                  "deprecated": true
                },
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                  "type": "string",
                  "required": true
                },
                "sizeBytes": {
                  "format": "int64",
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Creates a new version for the specified site.",
              "id": "firebasehosting.sites.versions.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "populateFiles": {
              "id": "firebasehosting.sites.versions.populateFiles",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+parent}:populateFiles",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                  "type": "string"
                }
              },
              "description": " Adds content files to the specified version. Each file must be under 2 GB.",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              }
            },
            "list": {
              "id": "firebasehosting.sites.versions.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                  "type": "integer"
                }
              },
              "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
              "path": "v1beta1/{+parent}/versions",
              "parameterOrder": [
                "parent"
              ]
            },
            "clone": {
              "path": "v1beta1/{+parent}/versions:clone",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Creates a new version on the specified target site using the content of the specified version.",
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
              "response": {
                "$ref": "Operation"
              },
              "id": "firebasehosting.sites.versions.clone",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "patch": {
              "id": "firebasehosting.sites.versions.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Version"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                  "type": "string",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                  "type": "string"
                }
              },
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "response": {
                "$ref": "Version"
              }
            },
            "get": {
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "response": {
                "$ref": "Version"
              },
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "type": "string"
                }
              },
              "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.versions.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "type": "string",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Deletes the specified version.",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "response": {
                "$ref": "Empty"
              },
              "id": "firebasehosting.sites.versions.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            }
          }
        },
        "releases": {
          "methods": {
            "get": {
              "flatPath": "v1beta1/sites/{sitesId}/releases/{releasesId}",
              "response": {
                "$ref": "Release"
              },
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/releases/[^/]+$",
                  "location": "path",
                  "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.releases.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "create": {
              "id": "firebasehosting.sites.releases.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "location": "path"
                },
                "versionName": {
                  "location": "query",
                  "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                  "type": "string"
                }
              },
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "path": "v1beta1/{+parent}/releases",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Release"
              },
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "response": {
                "$ref": "Release"
              }
            },
            "list": {
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
              "path": "v1beta1/{+parent}/releases",
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasehosting.sites.releases.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            }
          }
        },
        "channels": {
          "resources": {
            "releases": {
              "methods": {
                "get": {
                  "id": "firebasehosting.sites.channels.releases.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "type": "string",
                      "required": true,
                      "pattern": "^sites/[^/]+/channels/[^/]+/releases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}",
                  "response": {
                    "$ref": "Release"
                  }
                },
                "create": {
                  "id": "firebasehosting.sites.channels.releases.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "response": {
                    "$ref": "Release"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path"
                    },
                    "versionName": {
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "path": "v1beta1/{+parent}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Release"
                  }
                },
                "list": {
                  "path": "v1beta1/{+parent}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "id": "firebasehosting.sites.channels.releases.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                }
              }
            }
          },
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "type": "string"
                }
              },
              "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "response": {
[...]
