{
  "canonicalName": "Firebase Realtime Database",
  "baseUrl": "https://firebasedatabase.googleapis.com/",
  "version": "v1beta",
  "discoveryVersion": "v1",
  "title": "Firebase Realtime Database Management API",
  "protocol": "rest",
  "ownerName": "Google",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "name": "firebasedatabase",
  "id": "firebasedatabase:v1beta",
  "rootUrl": "https://firebasedatabase.googleapis.com/",
  "description": "The Firebase Realtime Database API enables programmatic provisioning and management of Realtime Database instances.",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "instances": {
              "methods": {
                "undelete": {
                  "request": {
                    "$ref": "UndeleteDatabaseInstanceRequest"
                  },
                  "response": {
                    "$ref": "DatabaseInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:undelete",
                  "id": "firebasedatabase.projects.locations.instances.undelete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Restores a DatabaseInstance that was previously marked to be deleted. After the delete method is used, DatabaseInstances are set to the DELETED state for 20 days, and will be purged within 30 days. Databases in the DELETED state can be undeleted without losing any data. This method may only be used on a DatabaseInstance in the DELETED state. Purged DatabaseInstances may not be recovered.",
                  "path": "v1beta/{+name}:undelete",
                  "parameters": {
                    "name": {
                      "description": "Required. The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  }
                },
                "reenable": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`"
                    }
                  },
                  "path": "v1beta/{+name}:reenable",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Enables a DatabaseInstance. The database must have been disabled previously using DisableDatabaseInstance. The state of a successfully reenabled DatabaseInstance is ACTIVE.",
                  "id": "firebasedatabase.projects.locations.instances.reenable",
                  "httpMethod": "POST",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:reenable",
                  "response": {
                    "$ref": "DatabaseInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "ReenableDatabaseInstanceRequest"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListDatabaseInstancesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists each DatabaseInstance associated with the specified parent project. The list items are returned in no particular order, but will be a consistent view of the database instances when additional requests are made with a `pageToken`. The resulting list contains instances in any STATE. The list results may be stale by a few seconds. Use GetDatabaseInstance for consistent reads.",
                  "id": "firebasedatabase.projects.locations.instances.list",
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/instances",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Token returned from a previous call to `ListDatabaseInstances` indicating where in the set of database instances to resume listing.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of database instances to return in the response. The server may return fewer than this at its discretion. If no value is specified (or too large a value is specified), then the server will impose its own limit.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent project for which to list database instances, in the form: `projects/{project-number}/locations/{location-id}` To list across all locations, use a parent in the form: `projects/{project-number}/locations/-`",
                      "type": "string"
                    },
                    "showDeleted": {
                      "type": "boolean",
                      "description": "Indicate that DatabaseInstances in the `DELETED` state should also be returned.",
                      "location": "query"
                    }
                  }
                },
                "disable": {
                  "request": {
                    "$ref": "DisableDatabaseInstanceRequest"
                  },
                  "response": {
                    "$ref": "DatabaseInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:disable",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Disables a DatabaseInstance. The database can be re-enabled later using ReenableDatabaseInstance. When a database is disabled, all reads and writes are denied, including view access in the Firebase console.",
                  "id": "firebasedatabase.projects.locations.instances.disable",
                  "httpMethod": "POST",
                  "path": "v1beta/{+name}:disable",
                  "parameters": {
                    "name": {
                      "description": "Required. The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`. `database-id` is a globally unique identifier across all parent collections. For convenience, this method allows you to supply `-` as a wildcard character in place of specific collections under `projects` and `locations`. The resulting wildcarding form of the method is: `projects/-/locations/-/instances/{database-id}`."
                    }
                  },
                  "path": "v1beta/{+name}",
                  "id": "firebasedatabase.projects.locations.instances.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the DatabaseInstance identified by the specified resource name.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "response": {
                    "$ref": "DatabaseInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "delete": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "response": {
                    "$ref": "DatabaseInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Marks a DatabaseInstance to be deleted. The DatabaseInstance will be set to the DELETED state for 20 days, and will be purged within 30 days. The default database cannot be deleted. IDs for deleted database instances may never be recovered or re-used. The Database may only be deleted if it is already in a DISABLED state.",
                  "id": "firebasedatabase.projects.locations.instances.delete",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "id": "firebasedatabase.projects.locations.instances.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Requests that a new DatabaseInstance be created. The state of a successfully created DatabaseInstance is ACTIVE. Only available for projects on the Blaze plan. Projects can be upgraded using the Cloud Billing API https://cloud.google.com/billing/reference/rest/v1/projects/updateBillingInfo. Note that it might take a few minutes for billing enablement state to propagate to Firebase systems.",
                  "path": "v1beta/{+parent}/instances",
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to true, the request will be validated but not submitted."
                    },
                    "databaseId": {
                      "type": "string",
                      "location": "query",
                      "description": "The globally unique identifier of the database instance."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent project for which to create a database instance, in the form: `projects/{project-number}/locations/{location-id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "DatabaseInstance"
                  },
                  "response": {
                    "$ref": "DatabaseInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances"
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://firebase.google.com/docs/reference/rest/database/database-management/rest/",
  "mtlsRootUrl": "https://firebasedatabase.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260308",
  "schemas": {
    "ListDatabaseInstancesResponse": {
      "id": "ListDatabaseInstancesResponse",
      "description": "The response from the ListDatabaseInstances method.",
      "properties": {
        "instances": {
          "items": {
            "$ref": "DatabaseInstance"
          },
          "description": "List of each DatabaseInstance that is in the parent Firebase project.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty, then this response is the last page of results. This token can be used in a subsequent call to `ListDatabaseInstances` to find the next group of database instances. Page tokens are short-lived and should not be persisted.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReenableDatabaseInstanceRequest": {
      "type": "object",
      "description": "The request sent to the ReenableDatabaseInstance method.",
      "properties": {},
      "id": "ReenableDatabaseInstanceRequest"
    },
    "DatabaseInstance": {
      "description": "Representation of a Realtime Database instance. Details on interacting with contents of a DatabaseInstance can be found at: https://firebase.google.com/docs/database/rest/start.",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state, likely the result of an error on the backend. This is only used for distinguishing unset values.",
            "The normal and active state.",
            "The database is in a disabled state. It can be re-enabled later.",
            "The database is in a deleted state."
          ],
          "description": "Output only. The database's lifecycle state. Read-only.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DISABLED",
            "DELETED"
          ]
        },
        "project": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the project this instance belongs to. For example: `projects/{project-number}`."
        },
        "databaseUrl": {
          "type": "string",
          "description": "Output only. Output Only. The globally unique hostname of the database.",
          "readOnly": true
        },
        "type": {
          "description": "Immutable. The database instance type. On creation only USER_DATABASE is allowed, which is also the default when omitted.",
          "enum": [
            "DATABASE_INSTANCE_TYPE_UNSPECIFIED",
            "DEFAULT_DATABASE",
            "USER_DATABASE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown state, likely the result of an error on the backend. This is only used for distinguishing unset values.",
            "The default database that is provisioned when a project is created.",
            "A database that the user created."
          ]
        },
        "name": {
          "description": "The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`.",
          "type": "string"
        }
      },
      "id": "DatabaseInstance",
      "type": "object"
    },
    "UndeleteDatabaseInstanceRequest": {
      "id": "UndeleteDatabaseInstanceRequest",
      "description": "The request sent to UndeleteDatabaseInstance method.",
      "properties": {},
      "type": "object"
    },
    "DisableDatabaseInstanceRequest": {
      "id": "DisableDatabaseInstanceRequest",
      "description": "The request sent to the DisableDatabaseInstance method.",
      "properties": {},
      "type": "object"
    }
  },
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "version_module": true
}