{
  "documentationLink": "https://cloud.google.com/firestore",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "firestore.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "location": "query",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "name": {
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "id": "firestore.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              }
            }
          },
          "resources": {
            "backups": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all the backups.",
                  "path": "v1/{+parent}/backups",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "An expression that filters the list of returned backups. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string, a number, or a boolean. The comparison operator must be one of: `<`, `>`, `<=`, `>=`, `!=`, `=`, or `:`. Colon `:` is the contains operator. Filter rules are not case sensitive. The following fields in the Backup are eligible for filtering: * `database_uid` (supports `=` only)",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The location to list backups from. Format is `projects/{project}/locations/{location}`. Use `{location} = '-'` to list backups from all locations for the given project. This allows listing backups from a single location or from all locations.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1ListBackupsResponse"
                  },
                  "id": "firestore.projects.locations.backups.list"
                },
                "delete": {
                  "description": "Deletes a backup.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the backup to delete. format is `projects/{project}/locations/{location}/backups/{backup}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "firestore.projects.locations.backups.delete"
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets information about a backup.",
                  "id": "firestore.projects.locations.backups.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the backup to fetch. Format is `projects/{project}/locations/{location}/backups/{backup}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1Backup"
                  }
                }
              }
            }
          }
        },
        "databases": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleFirestoreAdminV1Database"
              },
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}`",
                  "pattern": "^projects/[^/]+/databases/[^/]+$"
                }
              },
              "id": "firestore.projects.databases.get",
              "description": "Gets information about a database.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "restore": {
              "id": "firestore.projects.databases.restore",
              "request": {
                "$ref": "GoogleFirestoreAdminV1RestoreDatabaseRequest"
              },
              "flatPath": "v1/projects/{projectsId}/databases:restore",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The project to restore the database in. Format is `projects/{project_id}`.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+parent}/databases:restore",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new database by restoring from an existing backup. The new database must be in the same cloud region or multi-region location as the existing backup. This behaves similar to FirestoreAdmin.CreateDatabase except instead of creating a new empty database, a new database is created with the database type, index configuration, and documents from an existing backup. The long-running operation can be used to track the progress of the restore, with the Operation's metadata field type being the RestoreDatabaseMetadata. The response type is the Database if the restore was successful. The new database is not readable or writeable until the LRO has completed."
            },
            "clone": {
              "description": "Creates a new database by cloning an existing one. The new database must be in the same cloud region or multi-region location as the existing database. This behaves similar to FirestoreAdmin.CreateDatabase except instead of creating a new empty database, a new database is created with the database type, index configuration, and documents from an existing database. The long-running operation can be used to track the progress of the clone, with the Operation's metadata field type being the CloneDatabaseMetadata. The response type is the Database if the clone was successful. The new database is not readable or writeable until the LRO has completed.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/databases:clone",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/databases:clone",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The project to clone the database in. Format is `projects/{project_id}`.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleFirestoreAdminV1CloneDatabaseRequest"
              },
              "id": "firestore.projects.databases.clone"
            },
            "patch": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The resource name of the Database. Format: `projects/{project}/databases/{database}`",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The list of fields to be updated.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleFirestoreAdminV1Database"
              },
              "id": "firestore.projects.databases.patch",
              "description": "Updates a database.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "importDocuments": {
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.importDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1ImportDocumentsRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "path": "v1/{+name}:importDocuments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Create a database.",
              "path": "v1/{+parent}/databases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/databases",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. A parent name of the form `projects/{project_id}`",
                  "pattern": "^projects/[^/]+$"
                },
                "databaseId": {
                  "location": "query",
                  "description": "Required. The ID to use for the database, which will become the final component of the database's resource name. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/. \"(default)\" database ID is also valid if the database is Standard edition.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.create",
              "request": {
                "$ref": "GoogleFirestoreAdminV1Database"
              }
            },
            "exportDocuments": {
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.exportDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1ExportDocumentsRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage. For more details on export behavior and output format, refer to: https://cloud.google.com/firestore/docs/manage-data/export-import",
              "path": "v1/{+name}:exportDocuments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a database.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}`",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true
                },
                "etag": {
                  "description": "The current etag of the Database. If an etag is provided and does not match the current etag of the database, deletion will be blocked and a FAILED_PRECONDITION error will be returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.delete"
            },
            "bulkDeleteDocuments": {
              "parameterOrder": [
                "name"
              ],
              "description": "Bulk deletes a subset of documents from Google Cloud Firestore. Documents created or updated after the underlying system starts to process the request will not be deleted. The bulk delete occurs in the background and its progress can be monitored and managed via the Operation resource that is created. For more details on bulk delete behavior, refer to: https://cloud.google.com/firestore/docs/manage-data/bulk-delete",
              "path": "v1/{+name}:bulkDeleteDocuments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:bulkDeleteDocuments",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Database to operate. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.bulkDeleteDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1BulkDeleteDocumentsRequest"
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleFirestoreAdminV1ListDatabasesResponse"
              },
              "flatPath": "v1/projects/{projectsId}/databases",
              "httpMethod": "GET",
              "parameters": {
                "showDeleted": {
                  "description": "If true, also returns deleted resources.",
                  "type": "boolean",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. A parent name of the form `projects/{project_id}`",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "firestore.projects.databases.list",
              "description": "List all the databases in the project.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/databases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "firestore.projects.databases.operations.delete"
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firestore.projects.databases.operations.list",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "id": "firestore.projects.databases.operations.get",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "firestore.projects.databases.operations.cancel",
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  }
                }
              }
            },
            "documents": {
              "methods": {
                "runAggregationQuery": {
                  "response": {
                    "$ref": "RunAggregationQueryResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runAggregationQuery",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "RunAggregationQueryRequest"
                  },
                  "id": "firestore.projects.databases.documents.runAggregationQuery",
                  "description": "Runs an aggregation query. Rather than producing Document results like Firestore.RunQuery, this API allows running an aggregation to produce a series of AggregationResult server-side. High-Level Example: ``` -- Return the number of documents in table given a filter. SELECT COUNT(*) FROM ( SELECT * FROM k where a = true ); ```",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}:runAggregationQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Deletes a document.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firestore.projects.databases.documents.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the Document to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true
                    },
                    "currentDocument.exists": {
                      "location": "query",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "type": "boolean"
                    },
                    "currentDocument.updateTime": {
                      "location": "query",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "type": "string",
                      "format": "google-datetime"
                    }
                  }
                },
                "list": {
                  "path": "v1/{+parent}/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Lists documents.",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "id": "firestore.projects.databases.documents.list",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "mask.fieldPaths": {
                      "repeated": true,
                      "location": "query",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string"
                    },
                    "transaction": {
                      "description": "Perform the read as part of an already active transaction.",
                      "type": "string",
                      "format": "byte",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`.",
                      "type": "string",
                      "location": "query"
                    },
                    "readTime": {
                      "format": "google-datetime",
                      "description": "Perform the read at the provided time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "collectionId": {
                      "required": true,
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`.",
                      "type": "string",
                      "location": "path"
                    },
                    "showMissing": {
                      "location": "query",
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "type": "boolean"
                    }
                  }
                },
                "executePipeline": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:executePipeline",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Database identifier, in the form `projects/{project}/databases/{database}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ExecutePipelineResponse"
                  },
                  "id": "firestore.projects.databases.documents.executePipeline",
                  "request": {
                    "$ref": "ExecutePipelineRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Executes a pipeline query.",
                  "path": "v1/{+database}/documents:executePipeline",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "listen": {
                  "request": {
                    "$ref": "ListenRequest"
                  },
                  "id": "firestore.projects.databases.documents.listen",
                  "response": {
                    "$ref": "ListenResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+database}/documents:listen",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Listens to changes. This method is only available via gRPC or WebChannel (not REST).",
                  "parameterOrder": [
                    "database"
                  ]
                },
                "listCollectionIds": {
                  "path": "v1/{+parent}:listCollectionIds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Lists all the collection IDs underneath a document.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  },
                  "id": "firestore.projects.databases.documents.listCollectionIds",
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent document. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "rollback": {
                  "path": "v1/{+database}/documents:rollback",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Rolls back a transaction.",
                  "id": "firestore.projects.databases.documents.rollback",
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "write": {
                  "path": "v1/{+database}/documents:write",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Streams batches of document updates and deletes, in order. This method is only available via gRPC or WebChannel (not REST).",
                  "id": "firestore.projects.databases.documents.write",
                  "request": {
                    "$ref": "WriteRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`. This is only required in the first message.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "WriteResponse"
                  }
                },
                "beginTransaction": {
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  },
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+database}/documents:beginTransaction",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Starts a new transaction.",
                  "parameterOrder": [
                    "database"
                  ]
                },
                "batchGet": {
                  "path": "v1/{+database}/documents:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested.",
                  "id": "firestore.projects.databases.documents.batchGet",
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "location": "path"
                    },
                    "transaction": {
                      "location": "query",
                      "description": "Reads the document in a transaction.",
                      "type": "string",
                      "format": "byte"
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string"
                    },
                    "readTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Reads the version of the document at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Document"
                  },
                  "id": "firestore.projects.databases.documents.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a single document.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "createDocument": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                  "httpMethod": "POST",
                  "parameters": {
                    "collectionId": {
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "repeated": true,
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource. For example: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "required": true
                    },
                    "documentId": {
                      "location": "query",
                      "description": "The client-assigned document ID to use for this document. Optional. If not specified, an ID will be assigned by the service.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Document"
                  },
                  "id": "firestore.projects.databases.documents.createDocument",
                  "request": {
                    "$ref": "Document"
                  },
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "description": "Creates a new document.",
                  "path": "v1/{+parent}/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "partitionQuery": {
                  "request": {
                    "$ref": "PartitionQueryRequest"
                  },
                  "id": "firestore.projects.databases.documents.partitionQuery",
                  "response": {
                    "$ref": "PartitionQueryResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents`. Document resource names are not supported; only database resource names can be specified.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}:partitionQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Partitions a query by returning partition cursors that can be used to run the query in parallel. The returned partition cursors are split points that can be used by RunQuery as starting/end points for the query results.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "commit": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "id": "firestore.projects.databases.documents.commit",
                  "request": {
                    "$ref": "CommitRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Commits a transaction, while optionally updating documents.",
                  "path": "v1/{+database}/documents:commit",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "batchWrite": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "BatchWriteResponse"
                  },
                  "id": "firestore.projects.databases.documents.batchWrite",
                  "request": {
                    "$ref": "BatchWriteRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Applies a batch of write operations. The BatchWrite method does not apply the write operations atomically and can apply them out of order. Method does not allow more than one write per document. Each write succeeds or fails independently. See the BatchWriteResponse for the success status of each write. If you require an atomically applied set of writes, use Commit instead.",
                  "path": "v1/{+database}/documents:batchWrite",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "listDocuments": {
                  "id": "firestore.projects.databases.documents.listDocuments",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{collectionId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "collectionId": {
                      "required": true,
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`.",
                      "type": "string",
                      "location": "path"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents$",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "showMissing": {
                      "location": "query",
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "type": "boolean"
                    },
                    "orderBy": {
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`.",
                      "type": "string",
                      "location": "query"
                    },
                    "readTime": {
                      "location": "query",
                      "description": "Perform the read at the provided time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "transaction": {
                      "location": "query",
                      "description": "Perform the read as part of an already active transaction.",
                      "type": "string",
                      "format": "byte"
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Lists documents.",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ]
                },
                "patch": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates or inserts a document.",
                  "id": "firestore.projects.databases.documents.patch",
                  "request": {
                    "$ref": "Document"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true
                    },
                    "currentDocument.exists": {
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "currentDocument.updateTime": {
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "updateMask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "response": {
                    "$ref": "Document"
                  }
                },
                "runQuery": {
                  "description": "Runs a query.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}:runQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "RunQueryResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "id": "firestore.projects.databases.documents.runQuery"
                }
              }
            },
            "userCreds": {
              "methods": {
                "create": {
                  "id": "firestore.projects.databases.userCreds.create",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true
                    },
                    "userCredsId": {
                      "location": "query",
                      "description": "Required. The ID to use for the user creds, which will become the final component of the user creds's resource name. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "path": "v1/{+parent}/userCreds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create a user creds."
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List all user creds in the database. Note that the returned resource does not contain the secret value itself.",
                  "path": "v1/{+parent}/userCreds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. A parent database name of the form `projects/{project_id}/databases/{database_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1ListUserCredsResponse"
                  },
                  "id": "firestore.projects.databases.userCreds.list"
                },
                "enable": {
                  "path": "v1/{+name}:enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Enables a user creds. No-op if the user creds are already enabled.",
                  "id": "firestore.projects.databases.userCreds.enable",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1EnableUserCredsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}:enable",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  }
                },
                "disable": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}:disable",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "id": "firestore.projects.databases.userCreds.disable",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1DisableUserCredsRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Disables a user creds. No-op if the user creds are already disabled.",
                  "path": "v1/{+name}:disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "delete": {
                  "id": "firestore.projects.databases.userCreds.delete",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a user creds."
                },
                "get": {
                  "id": "firestore.projects.databases.userCreds.get",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Gets a user creds resource. Note that the returned resource does not contain the secret value itself.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "resetPassword": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}:resetPassword",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "id": "firestore.projects.databases.userCreds.resetPassword",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1ResetUserPasswordRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Resets the password of a user creds.",
                  "path": "v1/{+name}:resetPassword",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                }
              }
            },
            "collectionGroups": {
              "resources": {
                "indexes": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListIndexesResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "The filter to apply to list results.",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListIndexes, that may be used to get the next page of results.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The number of results to return.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "id": "firestore.projects.databases.collectionGroups.indexes.list",
                      "description": "Lists composite indexes.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/indexes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "create": {
                      "description": "Creates a composite index. This returns a google.longrunning.Operation which may be used to track the status of the creation. The metadata for the operation will be the type IndexOperationMetadata.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/indexes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      },
                      "id": "firestore.projects.databases.collectionGroups.indexes.create"
                    },
                    "delete": {
                      "id": "firestore.projects.databases.collectionGroups.indexes.delete",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a composite index."
                    },
                    "get": {
                      "id": "firestore.projects.databases.collectionGroups.indexes.get",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a composite index."
                    }
                  }
                },
                "fields": {
                  "methods": {
                    "patch": {
                      "id": "firestore.projects.databases.collectionGroups.fields.patch",
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "description": "Required. A field name of the form: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path can be a simple field name, e.g. `address` or a path to fields within `map_value` , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths can be quoted using `` ` `` (backtick). The only character that must be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, `` ` `` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: `` `address.city` `` represents a field named `address.city`, not the map key `city` in the field `address`. `` `*` `` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration.",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "A mask, relative to the field. If specified, only configuration specified by this field_mask will be updated in the field.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a field configuration. Currently, field updates apply only to single field index configuration. However, calls to FirestoreAdmin.UpdateField should provide a field mask to avoid changing any configuration that the caller isn't aware of. The field mask should be specified as: `{ paths: \"index_config\" }`. This call returns a google.longrunning.Operation which may be used to track the status of the field update. The metadata for the operation will be the type FieldOperationMetadata. To configure the default field settings for the database, use the special `Field` with resource name: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*`."
                    },
                    "list": {
                      "path": "v1/{+parent}/fields",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists the field configuration and metadata for this database. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with the filter set to `indexConfig.usesAncestorConfig:false` or `ttlConfig:*`.",
                      "id": "firestore.projects.databases.collectionGroups.fields.list",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The number of results to return.",
                          "type": "integer"
                        },
                        "filter": {
                          "description": "The filter to apply to list results. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with a filter that includes `indexConfig.usesAncestorConfig:false` or `ttlConfig:*`.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListFields, that may be used to get the next page of results.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListFieldsResponse"
                      }
                    },
                    "get": {
                      "id": "firestore.projects.databases.collectionGroups.fields.get",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the metadata and configuration for a Field."
                    }
                  }
                }
              }
            },
            "backupSchedules": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List backup schedules.",
                  "path": "v1/{+parent}/backupSchedules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/backupSchedules",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent database. Format is `projects/{project}/databases/{database}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1ListBackupSchedulesResponse"
                  },
                  "id": "firestore.projects.databases.backupSchedules.list"
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1BackupSchedule"
                  },
                  "id": "firestore.projects.databases.backupSchedules.patch",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1BackupSchedule"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/backupSchedules/{backupSchedulesId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Output only. The unique backup schedule identifier across all locations and databases for the given project. This will be auto-assigned. Format is `projects/{project}/databases/{database}/backupSchedules/{backup_schedule}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/backupSchedules/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Updates a backup schedule.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "description": "Creates a backup schedule on a database. At most two backup schedules can be configured on a database, one daily backup schedule and one weekly backup schedule.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/backupSchedules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1BackupSchedule"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/backupSchedules",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent database. Format `projects/{project}/databases/{database}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1BackupSchedule"
                  },
                  "id": "firestore.projects.databases.backupSchedules.create"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/backupSchedules/{backupSchedulesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the backup schedule. Format `projects/{project}/databases/{database}/backupSchedules/{backup_schedule}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/backupSchedules/[^/]+$"
                    }
                  },
                  "response": {
[...]
