{
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "version": "v1beta1",
  "rootUrl": "https://firestore.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "name": "firestore",
  "batchPath": "batch",
  "canonicalName": "Firestore",
  "title": "Cloud Firestore API",
  "version_module": true,
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "endpointUrl": "https://firestore.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://firestore.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://firestore.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://firestore.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://firestore.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://firestore.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://firestore.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://firestore.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://firestore.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://firestore.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://firestore.europe-west10.rep.googleapis.com/"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://firestore.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://firestore.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://firestore.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://firestore.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://firestore.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://firestore.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://firestore.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://firestore.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://firestore.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://firestore.northamerica-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://firestore.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://firestore.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://firestore.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://firestore.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://firestore.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://firestore.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://firestore.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://batch-firestore.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://batch-firestore.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://batch-firestore.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://batch-firestore.asia-northeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://batch-firestore.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://batch-firestore.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://batch-firestore.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://batch-firestore.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://batch-firestore.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://batch-firestore.europe-west10.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://batch-firestore.europe-west12.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://batch-firestore.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://batch-firestore.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://batch-firestore.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://batch-firestore.me-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://batch-firestore.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://batch-firestore.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://batch-firestore.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://batch-firestore.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://batch-firestore.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://batch-firestore.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://batch-firestore.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.eu.rep.googleapis.com/",
      "location": "eu"
    },
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://firestore.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://batch-firestore.us.rep.googleapis.com/"
    }
  ],
  "revision": "20260405",
  "schemas": {
    "FieldReference": {
      "id": "FieldReference",
      "description": "A reference to a field in a document, ex: `stats.operations`.",
      "type": "object",
      "properties": {
        "fieldPath": {
          "description": "A reference to a field in a document. Requires: * MUST be a dot-delimited (`.`) string of segments, where each segment conforms to document field name limitations.",
          "type": "string"
        }
      }
    },
    "CompositeFilter": {
      "id": "CompositeFilter",
      "description": "A filter that merges multiple other filters using the given operator.",
      "type": "object",
      "properties": {
        "op": {
          "description": "The operator for combining multiple filters.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Documents are required to satisfy all of the combined filters.",
            "Documents are required to satisfy at least one of the combined filters."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ]
        },
        "filters": {
          "description": "The list of filters to combine. Requires: * At least one filter is present.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        }
      }
    },
    "GoogleFirestoreAdminV1PitrSnapshot": {
      "description": "A consistent snapshot of a database at a specific point in time. A PITR (Point-in-time recovery) snapshot with previous versions of a database's data is available for every minute up to the associated database's data retention period. If the PITR feature is enabled, the retention period is 7 days; otherwise, it is one hour.",
      "type": "object",
      "properties": {
        "snapshotTime": {
          "format": "google-datetime",
          "description": "Required. Snapshot time of the database.",
          "type": "string"
        },
        "database": {
          "description": "Required. The name of the database that this was a snapshot of. Format: `projects/{project}/databases/{database}`.",
          "type": "string"
        },
        "databaseUid": {
          "description": "Output only. Public UUID of the database the snapshot was associated with.",
          "type": "string",
          "readOnly": true,
          "format": "byte"
        }
      },
      "id": "GoogleFirestoreAdminV1PitrSnapshot"
    },
    "PlanSummary": {
      "description": "Planning phase information for the query.",
      "type": "object",
      "properties": {
        "indexesUsed": {
          "description": "The indexes selected for the query. For example: [ {\"query_scope\": \"Collection\", \"properties\": \"(foo ASC, __name__ ASC)\"}, {\"query_scope\": \"Collection\", \"properties\": \"(bar ASC, __name__ ASC)\"} ]",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        }
      },
      "id": "PlanSummary"
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata": {
      "description": "Metadata for ImportDocuments operations.",
      "type": "object",
      "properties": {
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "description": "Which collection ids are being imported.",
          "type": "array"
        },
        "progressDocuments": {
          "description": "An estimate of the number of documents processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "endTime": {
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "type": "string",
          "format": "google-datetime"
        },
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the import operation.",
          "type": "string"
        },
        "inputUriPrefix": {
          "description": "The location of the documents being imported.",
          "type": "string"
        },
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "RunAggregationQueryResponse": {
      "description": "The response for Firestore.RunAggregationQuery.",
      "type": "object",
      "properties": {
        "transaction": {
          "description": "The transaction that was started as part of this request. Only present on the first response when the request requested to start a new transaction.",
          "type": "string",
          "format": "byte"
        },
        "explainMetrics": {
          "description": "Query explain metrics. This is only present when the RunAggregationQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream.",
          "$ref": "ExplainMetrics"
        },
        "readTime": {
          "description": "The time at which the aggregate result was computed. This is always monotonically increasing; in this case, the previous AggregationResult in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `result` will be sent, and this represents the time at which the query was run.",
          "type": "string",
          "format": "google-datetime"
        },
        "result": {
          "description": "A single aggregation result. Not present when reporting partial progress.",
          "$ref": "AggregationResult"
        }
      },
      "id": "RunAggregationQueryResponse"
    },
    "GoogleFirestoreAdminV1UpdateDatabaseMetadata": {
      "description": "Metadata related to the update database operation.",
      "type": "object",
      "properties": {},
      "id": "GoogleFirestoreAdminV1UpdateDatabaseMetadata"
    },
    "GoogleFirestoreAdminV1beta1Index": {
      "id": "GoogleFirestoreAdminV1beta1Index",
      "description": "An index definition.",
      "type": "object",
      "properties": {
        "collectionId": {
          "description": "The collection ID to which this index applies. Required.",
          "type": "string"
        },
        "fields": {
          "description": "The fields to index.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1IndexField"
          }
        },
        "name": {
          "description": "The resource name of the index. Output only.",
          "type": "string"
        },
        "state": {
          "description": "The state of the index. Output only.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "ERROR"
          ]
        }
      }
    },
    "Filter": {
      "description": "A filter.",
      "type": "object",
      "properties": {
        "compositeFilter": {
          "description": "A composite filter.",
          "$ref": "CompositeFilter"
        },
        "unaryFilter": {
          "description": "A filter that takes exactly one argument.",
          "$ref": "UnaryFilter"
        },
        "fieldFilter": {
          "description": "A filter on a document field.",
          "$ref": "FieldFilter"
        }
      },
      "id": "Filter"
    },
    "WriteResponse": {
      "description": "The response for Firestore.Write.",
      "type": "object",
      "properties": {
        "streamId": {
          "description": "The ID of the stream. Only set on the first message, when a new stream was created.",
          "type": "string"
        },
        "streamToken": {
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set.",
          "type": "string",
          "format": "byte"
        },
        "writeResults": {
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          }
        },
        "commitTime": {
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "WriteResponse"
    },
    "BeginTransactionRequest": {
      "description": "The request for Firestore.BeginTransaction.",
      "type": "object",
      "properties": {
        "options": {
          "description": "The options for the transaction. Defaults to a read-write transaction.",
          "$ref": "TransactionOptions"
        }
      },
      "id": "BeginTransactionRequest"
    },
    "UnaryFilter": {
      "description": "A filter with a single operand.",
      "type": "object",
      "properties": {
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is equal to `NaN`.",
            "The given `field` is equal to `NULL`.",
            "The given `field` is not equal to `NaN`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is not equal to `NULL`. Requires: * A single `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IS_NAN",
            "IS_NULL",
            "IS_NOT_NAN",
            "IS_NOT_NULL"
          ],
          "description": "The unary operator to apply.",
          "type": "string"
        },
        "field": {
          "description": "The field to which to apply the operator.",
          "$ref": "FieldReference"
        }
      },
      "id": "UnaryFilter"
    },
    "PartitionQueryResponse": {
      "description": "The response for Firestore.PartitionQuery.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A page token that may be used to request an additional set of results, up to the number specified by `partition_count` in the PartitionQuery request. If blank, there are no more results.",
          "type": "string"
        },
        "partitions": {
          "description": "Partition results. Each partition is a split point that can be used by RunQuery as a starting or end point for the query results. The RunQuery requests must be made with the same query supplied to this PartitionQuery request. The partition cursors will be ordered according to same ordering as the results of the query supplied to PartitionQuery. For example, if a PartitionQuery request returns partition cursors A and B, running the following three queries will return the entire result set of the original query: * query, end_at A * query, start_at A, end_at B * query, start_at B An empty result may indicate that the query has too few results to be partitioned, or that the query is not yet supported for partitioning.",
          "type": "array",
          "items": {
            "$ref": "Cursor"
          }
        }
      },
      "id": "PartitionQueryResponse"
    },
    "BitSequence": {
      "description": "A sequence of bits, encoded in a byte array. Each byte in the `bitmap` byte array stores 8 bits of the sequence. The only exception is the last byte, which may store 8 _or fewer_ bits. The `padding` defines the number of bits of the last byte to be ignored as \"padding\". The values of these \"padding\" bits are unspecified and must be ignored. To retrieve the first bit, bit 0, calculate: `(bitmap[0] & 0x01) != 0`. To retrieve the second bit, bit 1, calculate: `(bitmap[0] & 0x02) != 0`. To retrieve the third bit, bit 2, calculate: `(bitmap[0] & 0x04) != 0`. To retrieve the fourth bit, bit 3, calculate: `(bitmap[0] & 0x08) != 0`. To retrieve bit n, calculate: `(bitmap[n / 8] & (0x01 << (n % 8))) != 0`. The \"size\" of a `BitSequence` (the number of bits it contains) is calculated by this formula: `(bitmap.length * 8) - padding`.",
      "type": "object",
      "properties": {
        "bitmap": {
          "description": "The bytes that encode the bit sequence. May have a length of zero.",
          "type": "string",
          "format": "byte"
        },
        "padding": {
          "description": "The number of bits of the last byte in `bitmap` to ignore as \"padding\". If the length of `bitmap` is zero, then this value must be `0`. Otherwise, this value must be between 0 and 7, inclusive.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "BitSequence"
    },
    "DocumentTransform": {
      "description": "A transformation of a document.",
      "type": "object",
      "properties": {
        "document": {
          "description": "The name of the document to transform.",
          "type": "string"
        },
        "fieldTransforms": {
          "items": {
            "$ref": "FieldTransform"
          },
          "description": "The list of transformations to apply to the fields of the document, in order. This must not be empty.",
          "type": "array"
        }
      },
      "id": "DocumentTransform"
    },
    "WriteResult": {
      "description": "The result of applying a write.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time.",
          "type": "string",
          "format": "google-datetime"
        },
        "transformResults": {
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "id": "WriteResult"
    },
    "DocumentsTarget": {
      "id": "DocumentsTarget",
      "description": "A target specified by a set of documents names.",
      "type": "object",
      "properties": {
        "documents": {
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleFirestoreAdminV1beta1Progress": {
      "description": "Measures the progress of a particular metric.",
      "type": "object",
      "properties": {
        "workCompleted": {
          "format": "int64",
          "description": "An estimate of how much work has been completed. Note that this may be greater than `work_estimated`.",
          "type": "string"
        },
        "workEstimated": {
          "description": "An estimate of how much work needs to be performed. Zero if the work estimate is unavailable. May change as work progresses.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleFirestoreAdminV1beta1Progress"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "Stage": {
      "description": "A single operation within a pipeline. A stage is made up of a unique name, and a list of arguments. The exact number of arguments & types is dependent on the stage type. To give an example, the stage `filter(state = \"MD\")` would be encoded as: ``` name: \"filter\" args { function_value { name: \"eq\" args { field_reference_value: \"state\" } args { string_value: \"MD\" } } } ``` See public documentation for the full list.",
      "type": "object",
      "properties": {
        "options": {
          "description": "Optional. Optional named arguments that certain functions may support.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        },
        "name": {
          "description": "Required. The name of the stage to evaluate. **Requires:** * must be in snake case (lower case with underscore separator).",
          "type": "string"
        },
        "args": {
          "description": "Optional. Ordered list of arguments the given stage expects.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "id": "Stage"
    },
    "BatchGetDocumentsRequest": {
      "description": "The request for Firestore.BatchGetDocuments.",
      "type": "object",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string"
        },
        "mask": {
          "description": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response.",
          "$ref": "DocumentMask"
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "documents": {
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transaction": {
          "format": "byte",
          "description": "Reads documents in a transaction.",
          "type": "string"
        }
      },
      "id": "BatchGetDocumentsRequest"
    },
    "Function": {
      "description": "Represents an unevaluated scalar expression. For example, the expression `like(user_name, \"%alice%\")` is represented as: ``` name: \"like\" args { field_reference: \"user_name\" } args { string_value: \"%alice%\" } ```",
      "type": "object",
      "properties": {
        "options": {
          "description": "Optional. Optional named arguments that certain functions may support.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        },
        "name": {
          "description": "Required. The name of the function to evaluate. **Requires:** * must be in snake case (lower case with underscore separator).",
          "type": "string"
        },
        "args": {
          "description": "Optional. Ordered list of arguments the given function expects.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "id": "Function"
    },
    "CommitRequest": {
      "id": "CommitRequest",
      "description": "The request for Firestore.Commit.",
      "type": "object",
      "properties": {
        "writes": {
          "description": "The writes to apply. Always executed atomically and in order.",
          "type": "array",
          "items": {
            "$ref": "Write"
          }
        },
        "transaction": {
          "description": "If set, applies all writes in this transaction, and commits it.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "WriteRequest": {
      "id": "WriteRequest",
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Labels associated with this write request.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "streamId": {
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created.",
          "type": "string"
        },
        "writes": {
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests.",
          "type": "array"
        },
        "streamToken": {
          "format": "byte",
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream.",
          "type": "string"
        }
      }
    },
    "StructuredQuery": {
      "description": "A Firestore query. The query stages are executed in the following order: 1. from 2. where 3. select 4. order_by + start_at + end_at 5. offset 6. limit 7. find_nearest",
      "type": "object",
      "properties": {
        "select": {
          "description": "Optional sub-set of the fields to return. This acts as a DocumentMask over the documents returned from a query. When not set, assumes that the caller wants all fields returned.",
          "$ref": "Projection"
        },
        "limit": {
          "format": "int32",
          "description": "The maximum number of results to return. Applies after all other constraints. Requires: * The value must be greater than or equal to zero if specified.",
          "type": "integer"
        },
        "where": {
          "description": "The filter to apply.",
          "$ref": "Filter"
        },
        "findNearest": {
          "description": "Optional. A potential nearest neighbors search. Applies after all other filters and ordering. Finds the closest vector embeddings to the given query vector.",
          "$ref": "FindNearest"
        },
        "orderBy": {
          "items": {
            "$ref": "Order"
          },
          "description": "The order to apply to the query results. Callers can provide a full ordering, a partial ordering, or no ordering at all. While Firestore will always respect the provided order, the behavior for queries without a full ordering is different per database edition: In Standard edition, Firestore guarantees a stable ordering through the following rules: * The `order_by` is required to reference all fields used with an inequality filter. * All fields that are required to be in the `order_by` but are not already present are appended in lexicographical ordering of the field name. * If an order on `__name__` is not specified, it is appended by default. Fields are appended with the same sort direction as the last order specified, or 'ASCENDING' if no order was specified. For example: * `ORDER BY a` becomes `ORDER BY a ASC, __name__ ASC` * `ORDER BY a DESC` becomes `ORDER BY a DESC, __name__ DESC` * `WHERE a > 1` becomes `WHERE a > 1 ORDER BY a ASC, __name__ ASC` * `WHERE __name__ > ... AND a > 1` becomes `WHERE __name__ > ... AND a > 1 ORDER BY a ASC, __name__ ASC` In Enterprise edition, Firestore does not guarantee a stable ordering. Instead it will pick the most efficient ordering based on the indexes available at the time of query execution. This will result in a different ordering for queries that are otherwise identical. To ensure a stable ordering, always include a unique field in the `order_by` clause, such as `__name__`.",
          "type": "array"
        },
        "offset": {
          "format": "int32",
          "description": "The number of documents to skip before returning the first result. This applies after the constraints specified by the `WHERE`, `START AT`, & `END AT` but before the `LIMIT` clause. Requires: * The value must be greater than or equal to zero if specified.",
          "type": "integer"
        },
        "from": {
          "items": {
            "$ref": "CollectionSelector"
          },
          "description": "The collections to query.",
          "type": "array"
        },
        "startAt": {
          "description": "A potential prefix of a position in the result set to start the query at. The ordering of the result set is based on the `ORDER BY` clause of the original query. ``` SELECT * FROM k WHERE a = 1 AND b > 2 ORDER BY b ASC, __name__ ASC; ``` This query's results are ordered by `(b ASC, __name__ ASC)`. Cursors can reference either the full ordering or a prefix of the location, though it cannot reference more fields than what are in the provided `ORDER BY`. Continuing off the example above, attaching the following start cursors will have varying impact: - `START BEFORE (2, /k/123)`: start the query right before `a = 1 AND b > 2 AND __name__ > /k/123`. - `START AFTER (10)`: start the query right after `a = 1 AND b > 10`. Unlike `OFFSET` which requires scanning over the first N results to skip, a start cursor allows the query to begin at a logical position. This position is not required to match an actual result, it will scan forward from this position to find the next document. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause.",
          "$ref": "Cursor"
        },
        "endAt": {
          "description": "A potential prefix of a position in the result set to end the query at. This is similar to `START_AT` but with it controlling the end position rather than the start position. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause.",
          "$ref": "Cursor"
        }
      },
      "id": "StructuredQuery"
    },
    "Cursor": {
      "id": "Cursor",
      "description": "A position in a query result set.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause.",
          "type": "array"
        },
        "before": {
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query.",
          "type": "boolean"
        }
      }
    },
    "BatchGetDocumentsResponse": {
      "id": "BatchGetDocumentsResponse",
      "description": "The streamed response for Firestore.BatchGetDocuments.",
      "type": "object",
      "properties": {
        "found": {
          "description": "A document that was requested.",
          "$ref": "Document"
        },
        "readTime": {
          "description": "The time at which the document was read. This may be monotically increasing, in this case the previous documents in the result stream are guaranteed not to have changed between their read_time and this one.",
          "type": "string",
          "format": "google-datetime"
        },
        "missing": {
          "description": "A document name that was requested but does not exist. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "transaction": {
          "format": "byte",
          "description": "The transaction that was started as part of this request. Will only be set in the first response, and only if BatchGetDocumentsRequest.new_transaction was set in the request.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1RestoreDatabaseMetadata": {
      "description": "Metadata for the long-running operation from the RestoreDatabase request.",
      "type": "object",
      "properties": {
        "progressPercentage": {
          "description": "How far along the restore is as an estimated percentage of remaining time.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "endTime": {
          "description": "The time the restore finished, unset for ongoing restores.",
          "type": "string",
          "format": "google-datetime"
        },
        "operationState": {
          "description": "The operation state of the restore.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the restore was started.",
          "type": "string"
        },
        "database": {
          "description": "The name of the database being restored to.",
          "type": "string"
        },
        "backup": {
          "description": "The name of the backup restoring from.",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1RestoreDatabaseMetadata"
    },
    "ListCollectionIdsRequest": {
      "id": "ListCollectionIdsRequest",
      "description": "The request for Firestore.ListCollectionIds.",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "A page token. Must be a value from ListCollectionIdsResponse.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "The maximum number of results to return.",
          "type": "integer"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string"
        }
      }
    },
    "RunAggregationQueryRequest": {
      "id": "RunAggregationQueryRequest",
      "description": "The request for Firestore.RunAggregationQuery.",
      "type": "object",
      "properties": {
        "readTime": {
          "description": "Executes the query at the given timestamp. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string",
          "format": "google-datetime"
        },
        "newTransaction": {
          "description": "Starts a new transaction as part of the query, defaulting to read-only. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "structuredAggregationQuery": {
          "description": "An aggregation query.",
          "$ref": "StructuredAggregationQuery"
        },
        "transaction": {
          "format": "byte",
          "description": "Run the aggregation within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "type": "string"
        },
        "explainOptions": {
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned.",
          "$ref": "ExplainOptions"
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ListIndexesResponse": {
      "description": "The response for FirestoreAdmin.ListIndexes.",
      "type": "object",
      "properties": {
        "indexes": {
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1Index"
          },
          "description": "The indexes.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ListIndexesResponse"
    },
    "TransactionOptions": {
      "description": "Options for creating a new transaction.",
      "type": "object",
      "properties": {
        "readOnly": {
          "description": "The transaction can only be used for read operations.",
          "$ref": "ReadOnly"
        },
        "readWrite": {
          "description": "The transaction can be used for both read and write operations.",
          "$ref": "ReadWrite"
        }
      },
      "id": "TransactionOptions"
    },
    "ListenResponse": {
      "id": "ListenResponse",
      "description": "The response for Firestore.Listen.",
      "type": "object",
      "properties": {
        "documentRemove": {
          "description": "A Document has been removed from a target (because it is no longer relevant to that target).",
          "$ref": "DocumentRemove"
        },
        "documentDelete": {
          "description": "A Document has been deleted.",
          "$ref": "DocumentDelete"
        },
        "targetChange": {
          "description": "Targets have changed.",
          "$ref": "TargetChange"
        },
        "documentChange": {
          "description": "A Document has changed.",
          "$ref": "DocumentChange"
        },
        "filter": {
          "description": "A filter to apply to the set of documents previously returned for the given target. Returned when documents may have been removed from the given target, but the exact documents are unknown.",
          "$ref": "ExistenceFilter"
        }
      }
    },
    "FieldTransform": {
      "id": "FieldTransform",
      "description": "A transformation of a field of the document.",
      "type": "object",
      "properties": {
        "setToServerValue": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond precision. If used on multiple fields (same or different documents) in a transaction, all the fields will get the same server timestamp."
          ],
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ],
          "description": "Sets the field to the given server value.",
          "type": "string"
        },
        "fieldPath": {
          "description": "The path of the field. See Document.fields for the field path syntax reference.",
          "type": "string"
        },
        "maximum": {
          "description": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "appendMissingElements": {
          "description": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "removeAllFromArray": {
          "description": "Remove all of the given elements from the array in the field. If the field is not an array, or if the field does not yet exist, it is set to the empty array. Equivalent numbers of the different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and Null is equal to Null. This will remove all equivalent values if there are duplicates. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "increment": {
          "description": "Adds the given value to the field's current value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If either of the given value or the current field value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follow IEEE 754 semantics. If there is positive/negative integer overflow, the field is resolved to the largest magnitude positive/negative integer.",
          "$ref": "Value"
        },
        "minimum": {
          "description": "Sets the field to the minimum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the input value. If a minimum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        }
      }
    },
    "FindNearest": {
      "description": "Nearest Neighbors search config. The ordering provided by FindNearest supersedes the order_by stage. If multiple documents have the same vector distance, the returned document order is not guaranteed to be stable between queries.",
      "type": "object",
      "properties": {
        "vectorField": {
          "description": "Required. An indexed vector field to search upon. Only documents which contain vectors whose dimensionality match the query_vector can be returned.",
          "$ref": "FieldReference"
        },
        "distanceResultField": {
          "description": "Optional. Optional name of the field to output the result of the vector distance calculation. Must conform to document field name limitations.",
          "type": "string"
        },
        "queryVector": {
          "description": "Required. The query vector that we are searching on. Must be a vector of no more than 2048 dimensions.",
          "$ref": "Value"
        },
        "limit": {
          "description": "Required. The number of nearest neighbors to return. Must be a positive integer of no more than 1000.",
          "type": "integer",
          "format": "int32"
        },
        "distanceThreshold": {
          "description": "Optional. Option to specify a threshold for which no less similar documents will be returned. The behavior of the specified `distance_measure` will affect the meaning of the distance threshold. Since DOT_PRODUCT distances increase when the vectors are more similar, the comparison is inverted. * For EUCLIDEAN, COSINE: `WHERE distance <= distance_threshold` * For DOT_PRODUCT: `WHERE distance >= distance_threshold`",
          "type": "number",
          "format": "double"
        },
        "distanceMeasure": {
          "description": "Required. The distance measure to use, required.",
          "type": "string",
          "enumDescriptions": [
            "Should not be set.",
            "Measures the EUCLIDEAN distance between the vectors. See [Euclidean](https://en.wikipedia.org/wiki/Euclidean_distance) to learn more. The resulting distance decreases the more similar two vectors are.",
            "COSINE distance compares vectors based on the angle between them, which allows you to measure similarity that isn't based on the vectors magnitude. We recommend using DOT_PRODUCT with unit normalized vectors instead of COSINE distance, which is mathematically equivalent with better performance. See [Cosine Similarity](https://en.wikipedia.org/wiki/Cosine_similarity) to learn more about COSINE similarity and COSINE distance. The resulting COSINE distance decreases the more similar two vectors are.",
            "Similar to cosine but is affected by the magnitude of the vectors. See [Dot Product](https://en.wikipedia.org/wiki/Dot_product) to learn more. The resulting distance increases the more similar two vectors are."
          ],
          "enum": [
            "DISTANCE_MEASURE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE",
            "DOT_PRODUCT"
          ]
        }
      },
      "id": "FindNearest"
    },
    "ListDocumentsResponse": {
      "id": "ListDocumentsResponse",
      "description": "The response for Firestore.ListDocuments.",
      "type": "object",
      "properties": {
        "documents": {
          "items": {
            "$ref": "Document"
          },
          "description": "The Documents found.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of documents. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ReadWrite": {
      "id": "ReadWrite",
      "description": "Options for a transaction that can be used to read and write documents. Firestore does not allow 3rd party auth requests to create read-write. transactions.",
      "type": "object",
      "properties": {
        "retryTransaction": {
          "format": "byte",
          "description": "An optional transaction to retry.",
          "type": "string"
        }
      }
    },
    "ExecutePipelineResponse": {
      "description": "The response for Firestore.Execute.",
      "type": "object",
      "properties": {
        "executionTime": {
          "format": "google-datetime",
          "description": "The time at which the results are valid. This is a (not strictly) monotonically increasing value across multiple responses in the same stream. The API guarantees that all previously returned results are still valid at the latest `execution_time`. This allows the API consumer to treat the query if it ran at the latest `execution_time` returned. If the query returns no results, a response with `execution_time` and no `results` will be sent, and this represents the time at which the operation was run.",
          "type": "string"
        },
        "transaction": {
          "description": "Newly created transaction identifier. This field is only specified as part of the first response from the server, alongside the `results` field when the original request specified ExecuteRequest.new_transaction.",
          "type": "string",
          "format": "byte"
        },
        "explainStats": {
          "description": "Query explain stats. This is present on the **last** response if the request configured explain to run in 'analyze' or 'explain' mode in the pipeline options. If the query does not return any results, a response with `explain_stats` and no `results` will still be sent.",
          "$ref": "ExplainStats"
        },
        "results": {
          "items": {
            "$ref": "Document"
          },
          "description": "An ordered batch of results returned executing a pipeline. The batch size is variable, and can even be zero for when only a partial progress message is returned. The fields present in the returned documents are only those that were explicitly requested in the pipeline, this includes those like `__name__` and `__update_time__`. This is explicitly a divergence from `Firestore.RunQuery` / `Firestore.GetDocument` RPCs which always return such fields even when they are not specified in the `mask`.",
          "type": "array"
        }
      },
      "id": "ExecutePipelineResponse"
    },
    "RunQueryResponse": {
      "description": "The response for Firestore.RunQuery.",
      "type": "object",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run.",
          "type": "string"
        },
        "skippedResults": {
          "description": "The number of results that have been skipped due to an offset between the last response and the current response.",
          "type": "integer",
          "format": "int32"
        },
        "document": {
          "description": "A query result, not set when reporting partial progress.",
          "$ref": "Document"
        },
        "explainMetrics": {
          "description": "Query explain metrics. This is only present when the RunQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream.",
          "$ref": "ExplainMetrics"
        },
        "transaction": {
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response.",
          "type": "string",
          "format": "byte"
        },
        "done": {
          "description": "If present, Firestore has completely finished the request and no more documents will be returned.",
          "type": "boolean"
        }
      },
      "id": "RunQueryResponse"
    },
    "DocumentMask": {
      "id": "DocumentMask",
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value.",
      "type": "object",
      "properties": {
        "fieldPaths": {
          "items": {
            "type": "string"
          },
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
          "type": "array"
        }
      }
    },
    "BloomFilter": {
      "description": "A bloom filter (https://en.wikipedia.org/wiki/Bloom_filter). The bloom filter hashes the entries with MD5 and treats the resulting 128-bit hash as 2 distinct 64-bit hash values, interpreted as unsigned integers using 2's complement encoding. These two hash values, named `h1` and `h2`, are then used to compute the `hash_count` hash values using the formula, starting at `i=0`: h(i) = h1 + (i * h2) These resulting values are then taken modulo the number of bits in the bloom filter to get the bits of the bloom filter to test for the given entry.",
      "type": "object",
      "properties": {
        "bits": {
          "description": "The bloom filter data.",
          "$ref": "BitSequence"
        },
        "hashCount": {
          "description": "The number of hashes used by the algorithm.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "BloomFilter"
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata": {
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata",
      "description": "Metadata for ExportDocuments operations.",
      "type": "object",
      "properties": {
        "progressDocuments": {
          "description": "An estimate of the number of documents processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "collectionIds": {
          "description": "Which collection ids are being exported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "type": "string"
        },
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the export operation.",
          "type": "string"
        },
        "outputUriPrefix": {
          "description": "Where the entities are being exported to.",
          "type": "string"
        },
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "FieldFilter": {
      "id": "FieldFilter",
      "description": "A filter on a specific field.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value to compare to.",
          "$ref": "Value"
        },
        "field": {
          "description": "The field to filter by.",
          "$ref": "FieldReference"
        },
        "op": {
          "description": "The operator to filter by.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is less than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is less than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is equal to the given `value`.",
            "The given `field` is not equal to the given `value`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is an array that contains the given `value`.",
            "The given `field` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue`, subject to disjunction limits. * No `NOT_IN` filters in the same query.",
            "The given `field` is an array that contains any of the values in the given array. Requires: * That `value` is a non-empty `ArrayValue`, subject to disjunction limits. * No other `ARRAY_CONTAINS_ANY` filters within the same disjunction. * No `NOT_IN` filters in the same query.",
            "The value of the `field` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `OR`, `IN`, `ARRAY_CONTAINS_ANY`, `NOT_IN`, `NOT_EQUAL`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "NOT_EQUAL",
            "ARRAY_CONTAINS",
            "IN",
            "ARRAY_CONTAINS_ANY",
            "NOT_IN"
          ]
        }
      }
    },
    "ExecutionStats": {
      "description": "Execution statistics for the query.",
      "type": "object",
      "properties": {
        "resultsReturned": {
          "description": "Total number of results returned, including documents, projections, aggregation results, keys.",
          "type": "string",
          "format": "int64"
        },
        "readOperations": {
          "description": "Total billable read operations.",
          "type": "string",
          "format": "int64"
        },
        "debugStats": {
          "description": "Debugging statistics from the execution of the query. Note that the debugging stats are subject to change as Firestore evolves. It could include: { \"indexes_entries_scanned\": \"1000\", \"documents_scanned\": \"20\", \"billing_details\" : { \"documents_billable\": \"20\", \"index_entries_billable\": \"1000\", \"min_query_cost\": \"0\" } }",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "executionDuration": {
          "description": "Total time to execute the query in the backend.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "ExecutionStats"
    },
    "ListenRequest": {
      "description": "A request for Firestore.Listen",
      "type": "object",
      "properties": {
        "removeTarget": {
          "description": "The ID of a target to remove from this stream.",
          "type": "integer",
          "format": "int32"
        },
        "addTarget": {
          "description": "A target to add to this stream.",
          "$ref": "Target"
        },
        "labels": {
          "description": "Labels associated with this target change.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ListenRequest"
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsResponse": {
      "description": "Returned in the google.longrunning.Operation response field.",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "description": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully.",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsResponse"
    },
    "ExplainMetrics": {
      "description": "Explain metrics for the query.",
      "type": "object",
      "properties": {
        "planSummary": {
          "description": "Planning phase information for the query.",
          "$ref": "PlanSummary"
        },
        "executionStats": {
          "description": "Aggregated stats from the execution of the query. Only present when ExplainOptions.analyze is set to true.",
          "$ref": "ExecutionStats"
        }
      },
      "id": "ExplainMetrics"
    },
    "ReadOnly": {
      "id": "ReadOnly",
      "description": "Options for a transaction that can only be used to read documents.",
      "type": "object",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "description": "Reads documents at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string"
        }
      }
    },
    "Document": {
      "id": "Document",
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query.",
          "type": "string",
          "format": "google-datetime"
        },
        "fields": {
          "description": "The document's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The field names, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by a dot-delimited (`.`) string of segments. Each segment is either a simple field name (defined below) or a quoted field name. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `` foo.`x&y` ``. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. A quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        },
        "createTime": {
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Value": {
      "id": "Value",
      "description": "A message that can hold any of the supported value types.",
      "type": "object",
      "properties": {
        "fieldReferenceValue": {
          "description": "Value which references a field. This is considered relative (vs absolute) since it only refers to a field and not a field within a particular document. **Requires:** * Must follow field reference limitations. * Not allowed to be used when writing documents.",
          "type": "string"
        },
        "referenceValue": {
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "functionValue": {
          "description": "A value that represents an unevaluated expression. **Requires:** * Not allowed to be used when writing documents.",
          "$ref": "Function"
        },
        "pipelineValue": {
          "description": "A value that represents an unevaluated pipeline. **Requires:** * Not allowed to be used when writing documents.",
          "$ref": "Pipeline"
        },
        "integerValue": {
          "description": "An integer value.",
          "type": "string",
          "format": "int64"
        },
        "bytesValue": {
          "description": "A bytes value. Must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes are considered by queries.",
          "type": "string",
          "format": "byte"
        },
        "doubleValue": {
          "description": "A double value.",
          "type": "number",
          "format": "double"
        },
        "timestampValue": {
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down.",
          "type": "string",
          "format": "google-datetime"
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "nullValue": {
          "description": "A null value.",
          "type": "string",
          "enumDescriptions": [
            "Null value."
          ],
          "enum": [
            "NULL_VALUE"
          ]
        },
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        },
        "variableReferenceValue": {
          "description": "Pointer to a variable defined elsewhere in a pipeline. Unlike `field_reference_value` which references a field within a document, this refers to a variable, defined in a separate namespace than the fields of a document.",
          "type": "string"
        },
        "stringValue": {
          "description": "A string value. The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes of the UTF-8 representation are considered by queries.",
          "type": "string"
        },
        "arrayValue": {
          "description": "An array value. Cannot directly contain another array value, though can contain a map which contains another array.",
          "$ref": "ArrayValue"
        }
      }
    },
    "Projection": {
      "id": "Projection",
      "description": "The projection of document's fields to return.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`.",
          "type": "array",
          "items": {
            "$ref": "FieldReference"
          }
        }
      }
    },
    "ExplainOptions": {
      "description": "Explain options for the query.",
      "type": "object",
      "properties": {
        "analyze": {
          "description": "Optional. Whether to execute this query. When false (the default), the query will be planned, returning only metrics from the planning stages. When true, the query will be planned and executed, returning the full query results along with both planning and execution stage metrics.",
          "type": "boolean"
        }
      },
      "id": "ExplainOptions"
    },
    "ListCollectionIdsResponse": {
      "description": "The response from Firestore.ListCollectionIds.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A page token that may be used to continue the list.",
          "type": "string"
        },
        "collectionIds": {
          "description": "The collection ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListCollectionIdsResponse"
    },
    "DocumentRemove": {
      "id": "DocumentRemove",
      "description": "A Document has been removed from the view of the targets. Sent if the document is no longer relevant to a target and is out of view. Can be sent instead of a DocumentDelete or a DocumentChange if the server can not send the new value of the document. Multiple DocumentRemove messages may be returned for the same logical write or delete, if multiple targets are affected.",
      "type": "object",
      "properties": {
        "readTime": {
          "description": "The read timestamp at which the remove was observed. Greater or equal to the `commit_time` of the change/delete/remove.",
          "type": "string",
          "format": "google-datetime"
        },
        "document": {
          "description": "The resource name of the Document that has gone out of view.",
          "type": "string"
        },
        "removedTargetIds": {
          "description": "A set of target IDs for targets that previously matched this document.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleFirestoreAdminV1DeleteDatabaseMetadata": {
      "description": "Metadata related to the delete database operation.",
      "type": "object",
      "properties": {},
      "id": "GoogleFirestoreAdminV1DeleteDatabaseMetadata"
    },
    "GoogleFirestoreAdminV1BulkDeleteDocumentsMetadata": {
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.BulkDeleteDocuments.",
      "type": "object",
      "properties": {
        "namespaceIds": {
          "description": "Which namespace IDs are being deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "snapshotTime": {
          "format": "google-datetime",
          "description": "The timestamp that corresponds to the version of the database that is being read to get the list of documents to delete. This time can also be used as the timestamp of PITR in case of disaster recovery (subject to PITR window limit).",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time this operation started.",
          "type": "string"
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of the collection groups that are being deleted.",
          "type": "array"
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "type": "string",
          "format": "google-datetime"
        },
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the operation.",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1BulkDeleteDocumentsMetadata"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsRequest": {
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest",
      "description": "The request for FirestoreAdmin.ImportDocuments.",
      "type": "object",
      "properties": {
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "description": "Which collection ids to import. Unspecified means all collections included in the import.",
          "type": "array"
        },
        "inputUriPrefix": {
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1beta1.ExportDocumentsResponse.output_uri_prefix.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1CreateDatabaseMetadata": {
      "id": "GoogleFirestoreAdminV1CreateDatabaseMetadata",
      "description": "Metadata related to the create database operation.",
      "type": "object",
      "properties": {}
    },
    "Precondition": {
      "description": "A precondition on a document, used for conditional operations.",
      "type": "object",
      "properties": {
        "exists": {
          "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
          "type": "string"
        }
      },
      "id": "Precondition"
    },
    "StructuredAggregationQuery": {
      "id": "StructuredAggregationQuery",
      "description": "Firestore query for running an aggregation over a StructuredQuery.",
      "type": "object",
      "properties": {
        "structuredQuery": {
          "description": "Nested structured query.",
          "$ref": "StructuredQuery"
        },
        "aggregations": {
          "description": "Optional. Series of aggregations to apply over the results of the `structured_query`. Requires: * A minimum of one and maximum of five aggregations per query.",
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          }
        }
      }
    },
    "Pipeline": {
      "id": "Pipeline",
      "description": "A Firestore query represented as an ordered list of operations / stages.",
      "type": "object",
      "properties": {
        "stages": {
          "description": "Required. Ordered list of stages to evaluate.",
          "type": "array",
          "items": {
            "$ref": "Stage"
          }
        }
      }
    },
    "TargetChange": {
      "description": "Targets being watched have changed.",
      "type": "object",
      "properties": {
        "cause": {
          "description": "The error that resulted in this change, if applicable.",
          "$ref": "Status"
        },
        "readTime": {
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing.",
          "type": "string",
          "format": "google-datetime"
        },
        "targetChangeType": {
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ],
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ],
          "description": "The type of change that occurred.",
          "type": "string"
        },
        "targetIds": {
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "resumeToken": {
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "TargetChange"
    },
    "Sum": {
      "description": "Sum of the values of the requested field. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns 0. * Returns a 64-bit integer if all aggregated numbers are integers and the sum result does not overflow. Otherwise, the result is returned as a double. Note that even if all the aggregated values are integers, the result is returned as a double if it cannot fit within a 64-bit signed integer. When this occurs, the returned value will lose precision. * When underflow occurs, floating-point aggregation is non-deterministic. This means that running the same query repeatedly without any changes to the underlying values could produce slightly different results each time. In those cases, values should be stored as integers over floating-point numbers.",
      "type": "object",
      "properties": {
        "field": {
          "description": "The field to aggregate on.",
          "$ref": "FieldReference"
        }
      },
      "id": "Sum"
    },
    "GoogleFirestoreAdminV1beta1IndexField": {
      "id": "GoogleFirestoreAdminV1beta1IndexField",
      "description": "A field of an index.",
      "type": "object",
      "properties": {
        "fieldPath": {
[...]
