{
  "revision": "20260307",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "services": {
          "resources": {
            "resourcePolicies": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Deletes the specified ResourcePolicy configuration.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "description": "The checksum to be validated against the current ResourcePolicy, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the ResourcePolicy object, and can be obtained from the ResourcePolicy object received from the last CreateResourcePolicy, GetResourcePolicy, ListResourcePolicies, UpdateResourcePolicy, or BatchUpdateResourcePolicies call. This etag is strongly validated as defined by RFC 7232.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the ResourcePolicy to delete, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "description": "Updates the specified ResourcePolicy configuration.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "id": "firebaseappcheck.projects.services.resourcePolicies.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of ResourcePolicy objects to return in the response. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filters the results by the specified rule. For the exact syntax of this field, please consult the [AIP-160](https://google.aip.dev/160) standard. Currently, since the only fields in the ResourcePolicy resource are the scalar fields `enforcement_mode` and `target_resource`, this method does not support the traversal operator (`.`) or the has operator (`:`). Here are some examples of valid filters: * `enforcement_mode = ENFORCED` * `target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"` * `enforcement_mode = ENFORCED AND target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"`",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Token returned from a previous call to ListResourcePolicies indicating where in the set of ResourcePolicy objects to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListResourcePolicies must match the call that provided the page token; if they do not match, the result is undefined.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The relative resource name of the parent Service for which to list each associated ResourcePolicy, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/resourcePolicies",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ListResourcePoliciesResponse"
                  },
                  "description": "Lists all ResourcePolicy configurations for the specified project and service."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "path": "v1/{+parent}/resourcePolicies",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "description": "Creates the specified ResourcePolicy configuration.",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The relative resource name of the parent Service in which the specified ResourcePolicy will be created, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "required": true
                    }
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "description": "Gets the requested ResourcePolicy configuration.",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the ResourcePolicy to retrieve, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "batchUpdate": {
                  "path": "v1/{+parent}/resourcePolicies:batchUpdate",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Atomically updates the specified ResourcePolicy configurations.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesResponse"
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.batchUpdate",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "required": true,
                      "description": "Required. The parent service name, in the format ``` projects/{project_number}/services/{service_id} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of Services to return in the response. Only explicitly configured services are returned. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the parent project for which to list each associated Service, in the format: ``` projects/{project_number} ```",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token returned from a previous call to ListServices indicating where in the set of Services to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListServices must match the call that provided the page token; if they do not match, the result is undefined.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "firebaseappcheck.projects.services.list",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1ListServicesResponse"
              },
              "description": "Lists all Service configurations for the specified project. Only Services which were explicitly configured using UpdateService or BatchUpdateServices will be returned.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/services",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/services"
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/services/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the Service to retrieve, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `oauth2.googleapis.com` (Google Identity for iOS)",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "firebaseappcheck.projects.services.get",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "description": "Gets the Service configuration for the specified service name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/services/{servicesId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "patch": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/services/{servicesId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "description": "Updates the specified Service configuration.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "id": "firebaseappcheck.projects.services.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/services/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `oauth2.googleapis.com` (Google Identity for iOS)",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              }
            },
            "batchUpdate": {
              "id": "firebaseappcheck.projects.services.batchUpdate",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent project name shared by all Service configurations being updated, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+parent}/services:batchUpdate",
              "flatPath": "v1/projects/{projectsId}/services:batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1BatchUpdateServicesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Atomically updates the specified Service configurations.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1BatchUpdateServicesResponse"
              }
            }
          }
        },
        "apps": {
          "methods": {
            "exchangePlayIntegrityToken": {
              "httpMethod": "POST",
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "firebaseappcheck.projects.apps.exchangePlayIntegrityToken",
              "description": "Validates an [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify). If valid, returns an AppCheckToken.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "path": "v1/{+app}:exchangePlayIntegrityToken",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangePlayIntegrityToken",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangePlayIntegrityTokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "exchangeSafetyNetToken": {
              "description": "Validates a [SafetyNet token](https://developer.android.com/training/safetynet/attestation#request-attestation-step). If valid, returns an AppCheckToken.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "deprecated": true,
              "path": "v1/{+app}:exchangeSafetyNetToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeSafetyNetToken",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeSafetyNetTokenRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "app": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string"
                }
              },
              "id": "firebaseappcheck.projects.apps.exchangeSafetyNetToken"
            },
            "exchangeRecaptchaEnterpriseToken": {
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaEnterpriseToken",
              "httpMethod": "POST",
              "parameters": {
                "app": {
                  "location": "path",
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+app}:exchangeRecaptchaEnterpriseToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaEnterpriseToken",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeRecaptchaEnterpriseTokenRequest"
              },
              "description": "Validates a [reCAPTCHA Enterprise response token](https://cloud.google.com/recaptcha-enterprise/docs/create-assessment#retrieve_token). If valid, returns an AppCheckToken.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              }
            },
            "exchangeDeviceCheckToken": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeDeviceCheckToken",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeDeviceCheckTokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeDeviceCheckToken",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Accepts a [`device_token`](https://developer.apple.com/documentation/devicecheck/dcdevice) issued by DeviceCheck, and attempts to validate it with Apple. If valid, returns an AppCheckToken.",
              "id": "firebaseappcheck.projects.apps.exchangeDeviceCheckToken",
              "httpMethod": "POST",
              "parameters": {
                "app": {
                  "location": "path",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true
                }
              }
            },
            "generateAppAttestChallenge": {
              "path": "v1/{+app}:generateAppAttestChallenge",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:generateAppAttestChallenge",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest"
              },
              "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
              },
              "id": "firebaseappcheck.projects.apps.generateAppAttestChallenge",
              "httpMethod": "POST",
              "parameters": {
                "app": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string"
                }
              }
            },
            "exchangeAppAttestAttestation": {
              "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful).",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse"
              },
              "path": "v1/{+app}:exchangeAppAttestAttestation",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAttestation",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "parameters": {
                "app": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string"
                }
              },
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAttestation"
            },
            "generatePlayIntegrityChallenge": {
              "description": "Generates a challenge that protects the integrity of an immediately following integrity verdict request to the Play Integrity API. The next call to ExchangePlayIntegrityToken using the resulting integrity token will verify the presence and validity of the challenge. A challenge should not be reused for multiple calls.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse"
              },
              "path": "v1/{+app}:generatePlayIntegrityChallenge",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:generatePlayIntegrityChallenge",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "parameters": {
                "app": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string"
                }
              },
              "id": "firebaseappcheck.projects.apps.generatePlayIntegrityChallenge"
            },
            "exchangeRecaptchaV3Token": {
              "httpMethod": "POST",
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaV3Token",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken.",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaV3Token",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeRecaptchaV3Token"
            },
            "exchangeDebugToken": {
              "id": "firebaseappcheck.projects.apps.exchangeDebugToken",
              "httpMethod": "POST",
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+app}:exchangeDebugToken",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeDebugToken",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              }
            },
            "exchangeAppAttestAssertion": {
              "httpMethod": "POST",
              "parameters": {
                "app": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string"
                }
              },
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAssertion",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAssertion",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest"
              },
              "path": "v1/{+app}:exchangeAppAttestAssertion"
            },
            "exchangeCustomToken": {
              "httpMethod": "POST",
              "parameters": {
                "app": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string"
                }
              },
              "id": "firebaseappcheck.projects.apps.exchangeCustomToken",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates a custom token signed using your project's Admin SDK service account credentials. If valid, returns an AppCheckToken.",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeCustomToken",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeCustomTokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeCustomToken"
            }
          },
          "resources": {
            "deviceCheckConfig": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$",
                      "required": true,
                      "description": "Required. The relative resource name of the DeviceCheckConfig, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "type": "string"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.get",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "description": "Gets the DeviceCheckConfig for the specified app. For security reasons, the `private_key` field is never populated in the response.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/deviceCheckConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "batchGet": {
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.batchGet",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent project name shared by all DeviceCheckConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string",
                      "pattern": "^projects/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "names": {
                      "description": "Required. The relative resource names of the DeviceCheckConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/apps/-/deviceCheckConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/apps/-/deviceCheckConfig:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetDeviceCheckConfigsResponse"
                  },
                  "description": "Atomically gets the DeviceCheckConfigs for the specified list of apps. For security reasons, the `private_key` field is never populated in the response."
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/deviceCheckConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "description": "Updates the DeviceCheckConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange DeviceCheck tokens for App Check tokens. For security reasons, the `private_key` field is never populated in the response.",
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. A comma-separated list of names of fields in the DeviceCheckConfig to update. Example: `key_id,private_key`.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "playIntegrityConfig": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the PlayIntegrityConfig, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$",
                      "required": true
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.get",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "description": "Gets the PlayIntegrityConfig for the specified app.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/playIntegrityConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "batchGet": {
                  "httpMethod": "GET",
                  "parameters": {
                    "names": {
                      "description": "Required. The relative resource names of the PlayIntegrityConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "parent": {
                      "description": "Required. The parent project name shared by all PlayIntegrityConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string",
                      "pattern": "^projects/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetPlayIntegrityConfigsResponse"
                  },
                  "description": "Atomically gets the PlayIntegrityConfigs for the specified list of apps.",
                  "flatPath": "v1/projects/{projectsId}/apps/-/playIntegrityConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/apps/-/playIntegrityConfig:batchGet"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/playIntegrityConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "description": "Updates the PlayIntegrityConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange Play Integrity tokens for App Check tokens.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the PlayIntegrityConfig to update. Example: `token_ttl`.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "safetyNetConfig": {
              "methods": {
                "patch": {
                  "deprecated": true,
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/safetyNetConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1SafetyNetConfig"
                  },
                  "description": "Updates the SafetyNetConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange SafetyNet tokens for App Check tokens.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1SafetyNetConfig"
                  },
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the SafetyNet configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/safetyNetConfig$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the SafetyNetConfig to update. Example: `token_ttl`.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/safetyNetConfig$",
                      "required": true,
                      "description": "Required. The relative resource name of the SafetyNetConfig, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.get",
                  "description": "Gets the SafetyNetConfig for the specified app.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1SafetyNetConfig"
                  },
                  "deprecated": true,
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/safetyNetConfig",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchGet": {
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.batchGet",
                  "httpMethod": "GET",
                  "parameters": {
                    "names": {
                      "description": "Required. The relative resource names of the SafetyNetConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+$",
                      "required": true,
                      "description": "Required. The parent project name shared by all SafetyNetConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/apps/-/safetyNetConfig:batchGet",
                  "deprecated": true,
                  "flatPath": "v1/projects/{projectsId}/apps/-/safetyNetConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Atomically gets the SafetyNetConfigs for the specified list of apps.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetSafetyNetConfigsResponse"
                  }
                }
              },
              "deprecated": true
            },
            "appAttestConfig": {
              "methods": {
                "patch": {
                  "description": "Updates the AppAttestConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange AppAttest tokens for App Check tokens.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the AppAttestConfig to update. Example: `token_ttl`.",
                      "type": "string"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.patch"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "description": "Gets the AppAttestConfig for the specified app.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the AppAttestConfig, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "required": true
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.get"
                },
                "batchGet": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/-/appAttestConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/apps/-/appAttestConfig:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetAppAttestConfigsResponse"
                  },
                  "description": "Atomically gets the AppAttestConfigs for the specified list of apps.",
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.batchGet",
                  "httpMethod": "GET",
                  "parameters": {
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "description": "Required. The relative resource names of the AppAttestConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/appAttestConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+$",
                      "required": true,
                      "description": "Required. The parent project name shared by all AppAttestConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "recaptchaV3Config": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaV3Config",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "description": "Gets the RecaptchaV3Config for the specified app. For security reasons, the `site_secret` field is never populated in the response.",
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$",
                      "required": true,
                      "description": "Required. The relative resource name of the RecaptchaV3Config, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "type": "string"
                    }
                  }
                },
                "batchGet": {
                  "path": "v1/{+parent}/apps/-/recaptchaV3Config:batchGet",
                  "flatPath": "v1/projects/{projectsId}/apps/-/recaptchaV3Config:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Atomically gets the RecaptchaV3Configs for the specified list of apps. For security reasons, the `site_secret` field is never populated in the response.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetRecaptchaV3ConfigsResponse"
                  },
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.batchGet",
                  "httpMethod": "GET",
                  "parameters": {
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "description": "Required. The relative resource names of the RecaptchaV3Configs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ``` A maximum of 100 objects can be retrieved in a batch.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent project name shared by all RecaptchaV3Configs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string",
                      "pattern": "^projects/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "patch": {
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$",
                      "required": true,
                      "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaV3Config to update. Example: `site_secret`.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaV3Config",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "description": "Updates the RecaptchaV3Config for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA V3 tokens for App Check tokens. For security reasons, the `site_secret` field is never populated in the response."
                }
              }
            },
            "recaptchaEnterpriseConfig": {
              "methods": {
                "patch": {
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "required": true,
                      "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaEnterpriseConfig to update. Example: `site_key`.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  },
                  "description": "Updates the RecaptchaEnterpriseConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA Enterprise tokens for App Check tokens."
                },
                "get": {
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the RecaptchaEnterpriseConfig, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the RecaptchaEnterpriseConfig for the specified app.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  }
                },
                "batchGet": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+$",
                      "required": true,
                      "description": "Required. The parent project name shared by all RecaptchaEnterpriseConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string"
                    },
                    "names": {
                      "description": "Required. The relative resource names of the RecaptchaEnterpriseConfigs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetRecaptchaEnterpriseConfigsResponse"
                  },
                  "description": "Atomically gets the RecaptchaEnterpriseConfigs for the specified list of apps.",
                  "flatPath": "v1/projects/{projectsId}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/apps/-/recaptchaEnterpriseConfig:batchGet"
                }
              }
            },
            "debugTokens": {
              "methods": {
                "get": {
                  "description": "Gets the specified DebugToken. For security reasons, the `token` field is never populated in the response.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.debugTokens.get"
                },
                "list": {
                  "id": "firebaseappcheck.projects.apps.debugTokens.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of DebugTokens to return in the response. Note that an app can have at most 20 debug tokens. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The relative resource name of the parent app for which to list each associated DebugToken, in the format: ``` projects/{project_number}/apps/{app_id} ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Token returned from a previous call to ListDebugTokens indicating where in the set of DebugTokens to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListDebugTokens must match the call that provided the page token; if they do not match, the result is undefined.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/debugTokens",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ListDebugTokensResponse"
                  },
                  "description": "Lists all DebugTokens for the specified app. For security reasons, the `token` field is never populated in the response."
                },
                "create": {
                  "id": "firebaseappcheck.projects.apps.debugTokens.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The relative resource name of the parent app in which the specified DebugToken will be created, in the format: ``` projects/{project_number}/apps/{app_id} ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/debugTokens",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "description": "Creates a new DebugToken for the specified app. For security reasons, after the creation operation completes, the `token` field cannot be updated or retrieved, but you can revoke the debug token using DeleteDebugToken. Each app can have a maximum of 20 debug tokens.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  }
                },
                "patch": {
                  "description": "Updates the specified DebugToken. For security reasons, the `token` field cannot be updated, nor will it be populated in the response, but you can revoke the debug token using DeleteDebugToken.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the DebugToken to update. Example: `display_name`.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.debugTokens.patch"
                },
                "delete": {
                  "description": "Deletes the specified DebugToken. A deleted debug token cannot be used to exchange for an App Check token. Use this method when you suspect the secret `token` has been compromised or when you no longer need the debug token.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the DebugToken to delete, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.debugTokens.delete"
                }
              }
            }
          }
        }
      }
    },
    "oauthClients": {
      "methods": {
        "exchangeDebugToken": {
          "path": "v1/{+app}:exchangeDebugToken",
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeDebugToken",
          "parameterOrder": [
            "app"
          ],
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse.",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
          },
          "id": "firebaseappcheck.oauthClients.exchangeDebugToken",
          "httpMethod": "POST",
          "parameters": {
            "app": {
              "pattern": "^oauthClients/[^/]+$",
              "required": true,
              "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "exchangeAppAttestAttestation": {
          "id": "firebaseappcheck.oauthClients.exchangeAppAttestAttestation",
          "httpMethod": "POST",
          "parameters": {
            "app": {
              "pattern": "^oauthClients/[^/]+$",
              "required": true,
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1/{+app}:exchangeAppAttestAttestation",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeAppAttestAttestation",
          "parameterOrder": [
            "app"
          ],
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest"
          },
          "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful).",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse"
          }
        },
        "exchangeAppAttestAssertion": {
          "id": "firebaseappcheck.oauthClients.exchangeAppAttestAssertion",
          "httpMethod": "POST",
          "parameters": {
            "app": {
              "location": "path",
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "type": "string",
              "pattern": "^oauthClients/[^/]+$",
              "required": true
            }
          },
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeAppAttestAssertion",
          "parameterOrder": [
            "app"
          ],
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "v1/{+app}:exchangeAppAttestAssertion",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
          },
          "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken."
        },
        "generateAppAttestChallenge": {
          "id": "firebaseappcheck.oauthClients.generateAppAttestChallenge",
          "httpMethod": "POST",
          "parameters": {
            "app": {
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "type": "string",
              "pattern": "^oauthClients/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v1/oauthClients/{oauthClientsId}:generateAppAttestChallenge",
          "parameterOrder": [
            "app"
          ],
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest"
          },
          "path": "v1/{+app}:generateAppAttestChallenge",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
          },
          "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls."
        }
      }
    },
    "jwks": {
      "methods": {
        "get": {
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1PublicJwkSet"
          },
          "description": "Returns a public JWK set as specified by [RFC 7517](https://tools.ietf.org/html/rfc7517) that can be used to verify App Check tokens. Exactly one of the public keys in the returned set will successfully validate any App Check token that is currently valid.",
          "flatPath": "v1/jwks",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^jwks$",
              "required": true,
              "description": "Required. The relative resource name to the public JWK set. Must always be exactly the string `jwks`.",
              "type": "string"
            }
          },
          "id": "firebaseappcheck.jwks.get"
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "id": "firebaseappcheck:v1",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://firebaseappcheck.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://firebaseappcheck.googleapis.com/",
  "rootUrl": "https://firebaseappcheck.googleapis.com/",
  "version": "v1",
  "documentationLink": "https://firebase.google.com/docs/app-check",
  "basePath": "",
  "title": "Firebase App Check API",
  "ownerName": "Google",
  "canonicalName": "Firebaseappcheck",
  "batchPath": "batch",
  "version_module": true,
  "description": "Firebase App Check works alongside other Firebase services to help protect your backend resources from abuse, such as billing fraud or phishing.",
  "schemas": {
    "GoogleFirebaseAppcheckV1Service": {
      "id": "GoogleFirebaseAppcheckV1Service",
      "description": "The enforcement configuration for a Firebase service supported by App Check.",
      "type": "object",
      "properties": {
        "enforcementMode": {
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "description": "Required. The App Check enforcement mode for this service.",
          "type": "string",
          "enumDescriptions": [
            "The relevant App Check protection is not enforced for the service or resource, nor are App Check metrics collected. Though the relevant App Check protection is not applied, other applicable protections, such as user authorization, are still enforced. An unconfigured protection is in this mode by default.",
            "The relevant App Check protection is not enforced for the service or resource. App Check metrics are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by the relevant App Check protection, but that traffic will not be rejected until you turn on enforcement. Though the relevant App Check protection is not enforced, other applicable protections, such as user authorization, are still enforced. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "The relevant App Check protection is enforced for the service or resource. The service or resource will reject any traffic not accompanied by an App Check token that is deemded valid by the relevant protection. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections, such as user authorization, continue to be enforced at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide whether to enforce App Check on your services and resources. If your app has not launched yet, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ]
        },
        "name": {
          "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `oauth2.googleapis.com` (Google Identity for iOS)",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesRequest": {
      "id": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesRequest",
      "description": "Request message for the BatchUpdateResourcePolicies method.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the ResourcePolicy objects to update. A maximum of 100 objects can be updated in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1UpdateResourcePolicyRequest"
          }
        },
        "updateMask": {
          "description": "Optional. A comma-separated list of names of fields in the ResourcePolicy objects to update. Example: `enforcement_mode`. If this field is present, the `update_mask` field in the UpdateResourcePolicyRequest messages must all match this field, or the entire batch fails and no updates will be committed.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleFirebaseAppcheckV1PublicJwkSet": {
      "id": "GoogleFirebaseAppcheckV1PublicJwkSet",
      "description": "The currently active set of public keys that can be used to verify App Check tokens. This object is a JWK set as specified by [section 5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5). For security, the response **must not** be cached for longer than six hours.",
      "type": "object",
      "properties": {
        "keys": {
          "description": "The set of public keys. See [section 5.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5).",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1PublicJwk"
          }
        }
      }
    },
    "GoogleFirebaseAppcheckV1BatchUpdateServicesResponse": {
      "id": "GoogleFirebaseAppcheckV1BatchUpdateServicesResponse",
      "description": "Response message for the BatchUpdateServices method.",
      "type": "object",
      "properties": {
        "services": {
          "description": "Service objects after the updates have been applied.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1Service"
          }
        }
      }
    },
    "GoogleFirebaseAppcheckV1AppCheckToken": {
      "id": "GoogleFirebaseAppcheckV1AppCheckToken",
      "description": "Encapsulates an *App Check token*, which are used to access backend services protected by App Check.",
      "type": "object",
      "properties": {
        "token": {
          "description": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries.",
          "type": "string"
        },
        "ttl": {
          "format": "google-duration",
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest": {
      "id": "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest",
      "description": "Request message for the ExchangeRecaptchaV3Token method.",
      "type": "object",
      "properties": {
        "recaptchaV3Token": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3).",
          "type": "string"
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppcheckV1AppAttestConfig": {
      "id": "GoogleFirebaseAppcheckV1AppAttestConfig",
      "description": "An app's App Attest configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangeAppAttestAttestation and ExchangeAppAttestAssertion, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v11/projects.iosApps/patch).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
          "type": "string"
        },
        "tokenTtl": {
          "description": "Specifies the duration for which App Check tokens exchanged from App Attest artifacts will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse": {
      "id": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse",
      "description": "Response message for the GenerateAppAttestChallenge method.",
      "type": "object",
      "properties": {
        "challenge": {
          "format": "byte",
          "description": "A one-time use challenge for the client to pass to the App Attest API.",
          "type": "string"
        },
        "ttl": {
          "format": "google-duration",
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1PlayIntegrityConfigAppIntegrity": {
      "id": "GoogleFirebaseAppcheckV1PlayIntegrityConfigAppIntegrity",
      "description": "A settings object specifying application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
      "type": "object",
      "properties": {
        "allowUnrecognizedVersion": {
[...]
