{
  "discoveryVersion": "v1",
  "version_module": true,
  "ownerName": "Google",
  "schemas": {
    "GoogleFirebaseAppcheckV1betaExchangePlayIntegrityTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangePlayIntegrityTokenRequest",
      "type": "object",
      "properties": {
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        },
        "playIntegrityToken": {
          "type": "string",
          "description": "Required. The [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify) issued to your app."
        }
      },
      "description": "Request message for the ExchangePlayIntegrityToken method."
    },
    "GoogleFirebaseAppcheckV1betaAppAttestConfig": {
      "description": "An app's App Attest configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangeAppAttestAttestation and ExchangeAppAttestAssertion, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.iosApps/patch).",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```"
        },
        "tokenTtl": {
          "description": "Specifies the duration for which App Check tokens exchanged from App Attest artifacts will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
    },
    "GoogleFirebaseAppcheckV1betaDeviceCheckConfig": {
      "id": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig",
      "description": "An app's DeviceCheck configuration object. This configuration is used by ExchangeDeviceCheckToken to validate device tokens issued to apps by DeviceCheck. It also controls certain properties of the returned `AppCheckToken`, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.iosApps/patch).",
      "type": "object",
      "properties": {
        "tokenTtl": {
          "format": "google-duration",
          "description": "Specifies the duration for which App Check tokens exchanged from DeviceCheck tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "type": "string"
        },
        "keyId": {
          "type": "string",
          "description": "Required. The key identifier of a private key enabled with DeviceCheck, created in your Apple Developer account."
        },
        "name": {
          "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
          "type": "string"
        },
        "privateKey": {
          "description": "Required. Input only. The contents of the private key (`.p8`) file associated with the key specified by `key_id`. For security reasons, this field will never be populated in any response.",
          "type": "string"
        },
        "privateKeySet": {
          "type": "boolean",
          "description": "Output only. Whether the `private_key` field was previously set. Since we will never return the `private_key` field, this field is the only way to find out whether it was previously set.",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaListResourcePoliciesResponse": {
      "id": "GoogleFirebaseAppcheckV1betaListResourcePoliciesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListResourcePolicies to find the next group of ResourcePolicy objects. Page tokens are short-lived and should not be persisted."
        },
        "resourcePolicies": {
          "description": "The ResourcePolicy objects retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
          }
        }
      },
      "description": "Response message for the ListResourcePolicies method."
    },
    "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeRequest": {
      "description": "Request message for the GeneratePlayIntegrityChallenge method.",
      "type": "object",
      "properties": {},
      "id": "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeRequest"
    },
    "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse": {
      "id": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse",
      "description": "Response message for the GenerateAppAttestChallenge method.",
      "type": "object",
      "properties": {
        "ttl": {
          "format": "google-duration",
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "type": "string"
        },
        "challenge": {
          "format": "byte",
          "description": "A one-time use challenge for the client to pass to the App Attest API.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaBatchGetDeviceCheckConfigsResponse": {
      "id": "GoogleFirebaseAppcheckV1betaBatchGetDeviceCheckConfigsResponse",
      "type": "object",
      "properties": {
        "configs": {
          "type": "array",
          "description": "DeviceCheckConfigs retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig"
          }
        }
      },
      "description": "Response message for the BatchGetDeviceCheckConfigs method."
    },
    "GoogleFirebaseAppcheckV1betaBatchGetPlayIntegrityConfigsResponse": {
      "id": "GoogleFirebaseAppcheckV1betaBatchGetPlayIntegrityConfigsResponse",
      "description": "Response message for the BatchGetPlayIntegrityConfigs method.",
      "type": "object",
      "properties": {
        "configs": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
          },
          "description": "PlayIntegrityConfigs retrieved.",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails": {
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails",
      "description": "A settings object specifying account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
      "type": "object",
      "properties": {
        "requireLicensed": {
          "description": "Specifies whether the caller must have received the [`LICENSED` verdict](https://developer.android.com/google/play/integrity/verdicts#account-details-field). For additional details about scenarios where your users will receive this `LICENSED` label, see [the default responses table](https://developer.android.com/google/play/integrity/setup#default). If set to `true`, apps without the `LICENSED` app licensing verdict will be rejected. If set to `false`, any app licensing verdict is allowed. The default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaListDebugTokensResponse": {
      "id": "GoogleFirebaseAppcheckV1betaListDebugTokensResponse",
      "type": "object",
      "properties": {
        "debugTokens": {
          "type": "array",
          "description": "The DebugTokens retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListDebugTokens to find the next group of DebugTokens. Page tokens are short-lived and should not be persisted."
        }
      },
      "description": "Response message for the ListDebugTokens method."
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig": {
      "description": "An app's reCAPTCHA Enterprise configuration object. This configuration is used by ExchangeRecaptchaEnterpriseToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA Enterprise. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "type": "object",
      "properties": {
        "siteKey": {
          "description": "The score-based site key [created in reCAPTCHA Enterprise](https://cloud.google.com/recaptcha-enterprise/docs/create-key#creating_a_site_key) used to [invoke reCAPTCHA and generate the reCAPTCHA tokens](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages) for your application. Important: This is *not* the `site_secret` (as it is in reCAPTCHA v3), but rather your score-based reCAPTCHA Enterprise site key.",
          "type": "string"
        },
        "name": {
          "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
          "type": "string"
        },
        "riskAnalysis": {
          "description": "Specifies risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis"
        },
        "tokenTtl": {
          "format": "google-duration",
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA Enterprise tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
          "type": "string"
        },
        "accountDetails": {
          "description": "Specifies account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails"
        },
        "deviceIntegrity": {
          "description": "Specifies device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity"
        },
        "tokenTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from Play Integrity tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
        },
        "appIntegrity": {
          "description": "Specifies application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity"
        }
      },
      "description": "An app's Play Integrity configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangePlayIntegrityToken, such as its ttl. Note that your registered SHA-256 certificate fingerprints are used to validate tokens issued by the Play Integrity API; please register them via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps.sha/create).",
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
    },
    "GoogleFirebaseAppcheckV1betaService": {
      "id": "GoogleFirebaseAppcheckV1betaService",
      "type": "object",
      "properties": {
        "enforcementMode": {
          "description": "Required. The App Check enforcement mode for this service.",
          "type": "string",
          "enumDescriptions": [
            "The relevant App Check protection is not enforced for the service or resource, nor are App Check metrics collected. Though the relevant App Check protection is not applied, other applicable protections, such as user authorization, are still enforced. An unconfigured protection is in this mode by default.",
            "The relevant App Check protection is not enforced for the service or resource. App Check metrics are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by the relevant App Check protection, but that traffic will not be rejected until you turn on enforcement. Though the relevant App Check protection is not enforced, other applicable protections, such as user authorization, are still enforced. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "The relevant App Check protection is enforced for the service or resource. The service or resource will reject any traffic not accompanied by an App Check token that is deemded valid by the relevant protection. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections, such as user authorization, continue to be enforced at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide whether to enforce App Check on your services and resources. If your app has not launched yet, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ],
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `identitytoolkit.googleapis.com` (Firebase Authentication with Identity Platform) * `oauth2.googleapis.com` (Google Identity for iOS)"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this service configuration object was most recently updated.",
          "readOnly": true
        }
      },
      "description": "The enforcement configuration for a Firebase service supported by App Check."
    },
    "GoogleFirebaseAppcheckV1betaDebugToken": {
      "description": "A *debug token* is a secret used during the development or integration testing of an app. It essentially allows the development or integration testing to bypass app attestation while still allowing App Check to enforce protection on supported production Firebase services.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. A human readable display name used to identify this debug token.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when this debug token was most recently updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```"
        },
        "token": {
          "type": "string",
          "description": "Required. Input only. Immutable. The secret token itself. Must be provided during creation, and must be a UUID4, case insensitive. This field is immutable once set, and cannot be provided during an UpdateDebugToken request. You can, however, delete this debug token using DeleteDebugToken to revoke it. For security reasons, this field will never be populated in any response."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaDebugToken"
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaConfig": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "siteSecretSet": {
          "description": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set.",
          "readOnly": true,
          "type": "boolean"
        },
        "tokenTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive."
        },
        "siteSecret": {
          "type": "string",
          "description": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response."
        },
        "name": {
          "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaConfig ```",
          "type": "string"
        },
        "minValidScore": {
          "format": "float",
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "type": "number"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaConfig",
      "description": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl."
    },
    "GoogleFirebaseAppcheckV1betaSafetyNetConfig": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "tokenTtl": {
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from SafetyNet tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the SafetyNet configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaSafetyNetConfig",
      "description": "An app's SafetyNet configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangeSafetyNetToken, such as its ttl. Note that your registered SHA-256 certificate fingerprints are used to validate tokens issued by SafetyNet; please register them via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps.sha/create)."
    },
    "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeResponse": {
      "id": "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeResponse",
      "type": "object",
      "properties": {
        "challenge": {
          "type": "string",
          "description": "A one-time use [challenge](https://developer.android.com/google/play/integrity/verdict#protect-against-replay-attacks) for the client to pass to the Play Integrity API."
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
        }
      },
      "description": "Response message for the GeneratePlayIntegrityChallenge method."
    },
    "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaEnterpriseConfigsResponse": {
      "type": "object",
      "properties": {
        "configs": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
          },
          "description": "RecaptchaEnterpriseConfigs retrieved.",
          "type": "array"
        }
      },
      "description": "Response message for the BatchGetRecaptchaEnterpriseConfigs method.",
      "id": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaEnterpriseConfigsResponse"
    },
    "GoogleFirebaseAppcheckV1betaExchangeSafetyNetTokenRequest": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "safetyNetToken": {
          "description": "Required. The [SafetyNet attestation response](https://developer.android.com/training/safetynet/attestation#request-attestation-step) issued to your app.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeSafetyNetTokenRequest",
      "description": "Request message for the ExchangeSafetyNetToken method."
    },
    "GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest": {
      "description": "Request message for the ExchangeRecaptchaV3Token method.",
      "type": "object",
      "properties": {
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        },
        "recaptchaV3Token": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3).",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest"
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity": {
      "type": "object",
      "properties": {
        "allowUnrecognizedVersion": {
          "type": "boolean",
          "description": "Specifies whether your running app is allowed to have the `UNRECOGNIZED_VERSION` [app recognition verdict](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field). Note that the app recognition verdict `PLAY_RECOGNIZED` is a strong, comprehensive integrity signal that takes into account various other signals, including conditional and optional device integrity responses that you have opted into. If your app is published off-Play, this field should be set to `true` to allow instances of your app installed from off-Play sources to function. If set to `false`, only `PLAY_RECOGNIZED` verdicts are allowed, and both `UNRECOGNIZED_VERSION` and `UNEVALUATED` will be rejected. If set to `true`, any app recognition verdict is allowed. The default value is `false`."
        }
      },
      "description": "A settings object specifying application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity"
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaV3Config": {
      "description": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaV3Token to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
          "type": "string"
        },
        "minValidScore": {
          "format": "float",
          "type": "number",
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5."
        },
        "siteSecretSet": {
          "type": "boolean",
          "description": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set.",
          "readOnly": true
        },
        "tokenTtl": {
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "type": "string",
          "format": "google-duration"
        },
        "siteSecret": {
          "description": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis": {
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis",
      "description": "A settings object specifying risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended.",
      "type": "object",
      "properties": {
        "minValidScore": {
          "type": "number",
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "format": "float"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaExchangeRecaptchaEnterpriseTokenRequest": {
      "type": "object",
      "properties": {
        "recaptchaEnterpriseToken": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA Enterprise JavaScript API](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages).",
          "type": "string"
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      },
      "description": "Request message for the ExchangeRecaptchaEnterpriseToken method.",
      "id": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaEnterpriseTokenRequest"
    },
    "GoogleFirebaseAppcheckV1betaUpdateServiceRequest": {
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. The Service to update. The Service's `name` field is used to identify the Service to be updated, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `identitytoolkit.googleapis.com` (Firebase Authentication with Identity Platform) * `oauth2.googleapis.com` (Google Identity for iOS) For Firebase Authentication to work with App Check, you must first upgrade to [Firebase Authentication with Identity Platform](https://firebase.google.com/docs/auth#identity-platform).",
          "$ref": "GoogleFirebaseAppcheckV1betaService"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`."
        }
      },
      "description": "Request message for the UpdateService method as well as an individual update message for the BatchUpdateServices method.",
      "id": "GoogleFirebaseAppcheckV1betaUpdateServiceRequest"
    },
    "GoogleFirebaseAppcheckV1betaListServicesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListServices to find the next group of Services. Page tokens are short-lived and should not be persisted.",
          "type": "string"
        },
        "services": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaService"
          },
          "type": "array",
          "description": "The Services retrieved."
        }
      },
      "description": "Response message for the ListServices method.",
      "id": "GoogleFirebaseAppcheckV1betaListServicesResponse"
    },
    "GoogleFirebaseAppcheckV1betaPublicJwkSet": {
      "description": "The currently active set of public keys that can be used to verify App Check tokens. This object is a JWK set as specified by [section 5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5). For security, the response **must not** be cached for longer than six hours.",
      "type": "object",
      "properties": {
        "keys": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaPublicJwk"
          },
          "description": "The set of public keys. See [section 5.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5).",
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaPublicJwkSet"
    },
    "GoogleFirebaseAppcheckV1betaExchangeCustomTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeCustomTokenRequest",
      "description": "Request message for the ExchangeCustomToken method.",
      "type": "object",
      "properties": {
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        },
        "customToken": {
          "type": "string",
          "description": "Required. A custom token signed using your project's Admin SDK service account credentials."
        },
        "jti": {
          "type": "string",
          "description": "Optional. When `limited_use` is set to `true`, this field specifies the desired `jti` claim (Section 4.1.7 of RFC 7519) in the returned App Check token. *Limited use* App Check tokens with the same `jti` will be counted as the same token for the purposes of replay protection. An error is returned if this field is specified without setting `limited_use` to `true`. The size of this field is limited to 500 bytes. If specified, its length must be at least 16 bytes. If this field is omitted or is empty and `limited_use` is set to `true`, a randomly generated `jti` claim with length between 16 and 500 bytes (inclusive) will be used in the returned App Check token. Leaving this field empty is only recommended if your custom attestation provider itself is not vulnerable to replay attacks. When `limited_use` is set to `false`, neither the presence nor the contents of the `jti` claim in the returned App Check token is specified. To ensure that the returned App Check token is eligible for limited use functionality, set `limited_use` to `true`."
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateServicesRequest": {
      "description": "Request message for the BatchUpdateServices method.",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Optional. A comma-separated list of names of fields in the Services to update. Example: `display_name`. If the `update_mask` field is set in both this request and any of the UpdateServiceRequest messages, they must match or the entire batch fails and no updates will be committed.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "requests": {
          "type": "array",
          "description": "Required. The request messages specifying the Services to update. A maximum of 100 objects can be updated in a batch.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaUpdateServiceRequest"
          }
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateServicesRequest"
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity": {
      "description": "A settings object specifying device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended.",
      "type": "object",
      "properties": {
        "minDeviceRecognitionLevel": {
          "enumDescriptions": [
            "Default value. Do not specify this value directly. When this default value is detected in a configuration, the `NO_INTEGRITY` default level takes effect.",
            "If this level is set, no explicit device integrity label requirements will be checked. However, because Play Integrity's other features may perform (and require) their own intrinsic device integrity checks, your `app_integrity` and `account_details` settings may still cause some device integrity checks to be performed.",
            "This level corresponds to the `MEETS_BASIC_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the most basic level of device integrity, and is the minimum allowed in App Check's standard implementation of Play Integrity. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_BASIC_INTEGRITY` but not `MEETS_DEVICE_INTEGRITY`. This API is **not** responsible for any such opt-ins.",
            "This level corresponds to the `MEETS_DEVICE_INTEGRITY` [device recognition verdict](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field). Any app integrated with Play Integrity will automatically be eligible to receive this label without any additional action from you. At this level, devices that have the `MEETS_BASIC_INTEGRITY` label but **not** the `MEETS_DEVICE_INTEGRITY` label will be rejected.",
            "This level corresponds to the `MEETS_STRONG_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the highest level of device integrity. At this level, devices that have the `MEETS_BASIC_INTEGRITY` or `MEETS_DEVICE_INTEGRITY` but **not** the `MEETS_STRONG_INTEGRITY` label will be rejected. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_STRONG_INTEGRITY`. This API is **not** responsible for any such opt-ins."
          ],
          "enum": [
            "DEVICE_RECOGNITION_LEVEL_UNSPECIFIED",
            "NO_INTEGRITY",
            "MEETS_BASIC_INTEGRITY",
            "MEETS_DEVICE_INTEGRITY",
            "MEETS_STRONG_INTEGRITY"
          ],
          "description": "Specifies the minimum device integrity level in order for the device to be considered valid. Any device with a device recognition verdict lower than this level will be rejected. If this is unspecified, the default level is `NO_INTEGRITY`.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity"
    },
    "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest": {
      "description": "Request message for the VerifyAppCheckToken method.",
      "type": "object",
      "properties": {
        "appCheckToken": {
          "description": "Required. The App Check token to verify. App Check tokens exchanged from the SafetyNet provider are not supported; an HTTP 400 error will be returned.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest"
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateServicesResponse": {
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateServicesResponse",
      "type": "object",
      "properties": {
        "services": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaService"
          },
          "description": "Service objects after the updates have been applied.",
          "type": "array"
        }
      },
      "description": "Response message for the BatchUpdateServices method."
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Optional. A comma-separated list of names of fields in the ResourcePolicy objects to update. Example: `enforcement_mode`. If this field is present, the `update_mask` field in the UpdateResourcePolicyRequest messages must all match this field, or the entire batch fails and no updates will be committed.",
          "format": "google-fieldmask"
        },
        "requests": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest"
          },
          "description": "Required. The request messages specifying the ResourcePolicy objects to update. A maximum of 100 objects can be updated in a batch.",
          "type": "array"
        }
      },
      "description": "Request message for the BatchUpdateResourcePolicies method.",
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesRequest"
    },
    "GoogleFirebaseAppcheckV1betaResourcePolicy": {
      "id": "GoogleFirebaseAppcheckV1betaResourcePolicy",
      "description": "App Check enforcement policy for a specific resource of a Google service supported by App Check. Note that this policy will override the service-level configuration.",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this resource policy configuration object was most recently updated.",
          "readOnly": true
        },
        "targetResource": {
          "type": "string",
          "description": "Required. Service specific name of the resource object to which this policy applies, in the format: * **iOS OAuth clients** (Google Identity for iOS): `//oauth2.googleapis.com/projects/{project_number}/oauthClients/{oauth_client_id}` Note that the resource must belong to the service specified in the `name` and be from the same project as this policy, but the resource is allowed to be missing at the time of creation of this policy; in that case, we make a best-effort attempt at respecting this policy, but it may not have any effect until the resource is fully created."
        },
        "enforcementMode": {
          "type": "string",
          "description": "Required. The App Check enforcement mode for this resource. This will override the EnforcementMode setting on the parent service.",
          "enumDescriptions": [
            "The relevant App Check protection is not enforced for the service or resource, nor are App Check metrics collected. Though the relevant App Check protection is not applied, other applicable protections, such as user authorization, are still enforced. An unconfigured protection is in this mode by default.",
            "The relevant App Check protection is not enforced for the service or resource. App Check metrics are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by the relevant App Check protection, but that traffic will not be rejected until you turn on enforcement. Though the relevant App Check protection is not enforced, other applicable protections, such as user authorization, are still enforced. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "The relevant App Check protection is enforced for the service or resource. The service or resource will reject any traffic not accompanied by an App Check token that is deemded valid by the relevant protection. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections, such as user authorization, continue to be enforced at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide whether to enforce App Check on your services and resources. If your app has not launched yet, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ],
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ]
        },
        "name": {
          "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaBatchGetSafetyNetConfigsResponse": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "configs": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaSafetyNetConfig"
          },
          "description": "SafetyNetConfigs retrieved.",
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaBatchGetSafetyNetConfigsResponse",
      "description": "Response message for the BatchGetSafetyNetConfigs method."
    },
    "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationRequest": {
      "description": "Request message for the ExchangeAppAttestAttestation method.",
      "type": "object",
      "properties": {
        "keyId": {
          "description": "Required. The key ID generated by App Attest for the client app.",
          "type": "string",
          "format": "byte"
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        },
        "attestationStatement": {
          "format": "byte",
          "type": "string",
          "description": "Required. The App Attest statement returned by the client-side App Attest API. This is a base64url encoded CBOR object in the JSON response."
        },
        "challenge": {
          "description": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationRequest"
    },
    "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaConfigsResponse": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "configs": {
          "type": "array",
          "description": "RecaptchaConfigs retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaConfig"
          }
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaConfigsResponse",
      "description": "Response message for the BatchGetRecaptchaConfigs method."
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesResponse": {
      "type": "object",
      "properties": {
        "resourcePolicies": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
          },
          "description": "ResourcePolicy objects after the updates have been applied.",
          "type": "array"
        }
      },
      "description": "Response message for the BatchUpdateResourcePolicies method.",
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesResponse"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppcheckV1betaExchangeRecaptchaTokenRequest": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "recaptchaToken": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3).",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaTokenRequest",
      "description": "Request message for the ExchangeRecaptchaToken method."
    },
    "GoogleFirebaseAppcheckV1betaExchangeDeviceCheckTokenRequest": {
      "type": "object",
      "properties": {
        "deviceToken": {
          "type": "string",
          "description": "Required. The `device_token` as returned by Apple's client-side [DeviceCheck API](https://developer.apple.com/documentation/devicecheck/dcdevice). This is the base64 encoded `Data` (Swift) or `NSData` (ObjC) object."
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      },
      "description": "Request message for the ExchangeDeviceCheckToken method.",
      "id": "GoogleFirebaseAppcheckV1betaExchangeDeviceCheckTokenRequest"
    },
    "GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest": {
      "type": "object",
      "properties": {
        "debugToken": {
          "description": "Required. A debug token secret. This string must match a debug token secret previously created using CreateDebugToken.",
          "type": "string"
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        }
      },
      "description": "Request message for the ExchangeDebugToken method.",
      "id": "GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest"
    },
    "GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest": {
      "description": "Request message for the UpdateResourcePolicy method as well as an individual update message for the BatchUpdateResourcePolicies method.",
      "type": "object",
      "properties": {
        "resourcePolicy": {
          "description": "Required. The ResourcePolicy to update. The ResourcePolicy's `name` field is used to identify the ResourcePolicy to be updated, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
          "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
        },
        "updateMask": {
          "type": "string",
          "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest"
    },
    "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationResponse": {
      "type": "object",
      "properties": {
        "artifact": {
          "description": "An artifact that can be used in future calls to ExchangeAppAttestAssertion.",
          "type": "string",
          "format": "byte"
        },
        "attestationToken": {
          "description": "Encapsulates an App Check token.",
          "$ref": "GoogleFirebaseAppcheckV1betaAttestationTokenResponse",
          "deprecated": true
        },
        "appCheckToken": {
          "description": "Encapsulates an App Check token.",
          "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
        }
      },
      "description": "Response message for the ExchangeAppAttestAttestation method.",
      "id": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationResponse"
    },
    "GoogleFirebaseAppcheckV1betaPublicJwk": {
      "type": "object",
      "properties": {
        "kty": {
          "type": "string",
          "description": "See [section 4.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.1)."
        },
        "kid": {
          "type": "string",
          "description": "See [section 4.5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.5)."
        },
        "n": {
          "type": "string",
          "description": "See [section 6.3.1.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.1)."
        },
        "alg": {
          "description": "See [section 4.4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.4).",
          "type": "string"
        },
        "use": {
          "description": "See [section 4.2 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.2).",
          "type": "string"
        },
        "e": {
          "type": "string",
          "description": "See [section 6.3.1.2 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.2)."
        }
      },
      "description": "A JWK as specified by [section 4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4) and [section 6.3.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1).",
      "id": "GoogleFirebaseAppcheckV1betaPublicJwk"
    },
    "GoogleFirebaseAppcheckV1betaAttestationTokenResponse": {
      "description": "Encapsulates an *App Check token*, which are used to access Firebase services protected by App Check.",
      "id": "GoogleFirebaseAppcheckV1betaAttestationTokenResponse",
      "type": "object",
      "properties": {
        "attestationToken": {
          "type": "string",
          "description": "An App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and Firebase project. This token is used to access Firebase services protected by App Check."
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
        }
      },
      "deprecated": true
    },
    "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest": {
      "description": "Request message for the GenerateAppAttestChallenge method.",
      "type": "object",
      "properties": {},
      "id": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest"
    },
    "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaV3ConfigsResponse": {
      "description": "Response message for the BatchGetRecaptchaV3Configs method.",
      "type": "object",
      "properties": {
        "configs": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
          },
          "description": "RecaptchaV3Configs retrieved.",
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaV3ConfigsResponse"
    },
    "GoogleFirebaseAppcheckV1betaAppCheckToken": {
      "id": "GoogleFirebaseAppcheckV1betaAppCheckToken",
      "description": "Encapsulates an *App Check token*, which are used to access backend services protected by App Check.",
      "type": "object",
      "properties": {
        "attestationToken": {
          "description": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries.",
          "type": "string",
          "deprecated": true
        },
        "token": {
          "type": "string",
          "description": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries."
        },
        "ttl": {
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest",
      "description": "Request message for the ExchangeAppAttestAssertion method.",
      "type": "object",
      "properties": {
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        },
        "artifact": {
          "type": "string",
          "description": "Required. The artifact returned by a previous call to ExchangeAppAttestAttestation.",
          "format": "byte"
        },
        "assertion": {
          "description": "Required. The CBOR-encoded assertion returned by the client-side App Attest API.",
          "type": "string",
          "format": "byte"
        },
        "challenge": {
          "type": "string",
          "description": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge.",
          "format": "byte"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse": {
      "description": "Response message for the VerifyAppCheckToken method.",
      "type": "object",
      "properties": {
        "alreadyConsumed": {
          "type": "boolean",
          "description": "Whether this token was already consumed. If this is the first time this method has seen the given App Check token, this field will be omitted from the response. The given token will then be marked as `already_consumed` (set to `true`) for all future invocations of this method for that token. Note that if the given App Check token is invalid, an HTTP 403 error is returned instead of a response containing this field, regardless whether the token was already consumed."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse"
    },
    "GoogleFirebaseAppcheckV1betaBatchGetAppAttestConfigsResponse": {
      "id": "GoogleFirebaseAppcheckV1betaBatchGetAppAttestConfigsResponse",
      "description": "Response message for the BatchGetAppAttestConfigs method.",
      "type": "object",
      "properties": {
        "configs": {
          "description": "AppAttestConfigs retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://firebaseappcheck.googleapis.com/",
  "name": "firebaseappcheck",
  "batchPath": "batch",
  "canonicalName": "Firebaseappcheck",
  "basePath": "",
  "baseUrl": "https://firebaseappcheck.googleapis.com/",
  "id": "firebaseappcheck:v1beta",
  "fullyEncodeReservedExpansion": true,
  "title": "Firebase App Check API",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "recaptchaConfig": {
              "deprecated": true,
              "methods": {
                "get": {
                  "id": "firebaseappcheck.projects.apps.recaptchaConfig.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "deprecated": true,
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaConfig",
                  "description": "Gets the RecaptchaConfig for the specified app. For security reasons, the `site_secret` field is never populated in the response.",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the RecaptchaConfig, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaConfig$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "batchGet": {
                  "path": "v1beta/{+parent}/apps/-/recaptchaConfig:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/recaptchaConfig:batchGet",
                  "description": "Atomically gets the RecaptchaConfigs for the specified list of apps. For security reasons, the `site_secret` field is never populated in the response.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent project name shared by all RecaptchaConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The relative resource names of the RecaptchaConfigs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaConfig ``` A maximum of 100 objects can be retrieved in a batch."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaConfig.batchGet",
                  "deprecated": true,
                  "httpMethod": "GET"
                },
                "patch": {
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaConfig",
                  "description": "Updates the RecaptchaConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA tokens for App Check tokens. For security reasons, the `site_secret` field is never populated in the response.",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaConfig$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaConfig to update. Example: `site_secret`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaConfig.patch",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaConfig"
                  },
                  "httpMethod": "PATCH",
                  "deprecated": true
                }
              }
            },
            "recaptchaV3Config": {
              "methods": {
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaV3Config",
                  "description": "Gets the RecaptchaV3Config for the specified app. For security reasons, the `site_secret` field is never populated in the response.",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The relative resource name of the RecaptchaV3Config, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.get",
                  "httpMethod": "GET"
                },
                "batchGet": {
                  "httpMethod": "GET",
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent project name shared by all RecaptchaV3Configs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$",
                      "location": "path"
                    },
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The relative resource names of the RecaptchaV3Configs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ``` A maximum of 100 objects can be retrieved in a batch."
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/recaptchaV3Config:batchGet",
                  "description": "Atomically gets the RecaptchaV3Configs for the specified list of apps. For security reasons, the `site_secret` field is never populated in the response.",
                  "path": "v1beta/{+parent}/apps/-/recaptchaV3Config:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaV3ConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaV3Config to update. Example: `site_secret`."
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaV3Config",
                  "description": "Updates the RecaptchaV3Config for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA V3 tokens for App Check tokens. For security reasons, the `site_secret` field is never populated in the response.",
                  "httpMethod": "PATCH",
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.patch",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "playIntegrityConfig": {
              "methods": {
                "batchGet": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.batchGet",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent project name shared by all PlayIntegrityConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The relative resource names of the PlayIntegrityConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ``` A maximum of 100 objects can be retrieved in a batch."
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/playIntegrityConfig:batchGet",
                  "description": "Atomically gets the PlayIntegrityConfigs for the specified list of apps.",
                  "path": "v1beta/{+parent}/apps/-/playIntegrityConfig:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetPlayIntegrityConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the PlayIntegrityConfig to update. Example: `token_ttl`."
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/playIntegrityConfig",
                  "description": "Updates the PlayIntegrityConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange Play Integrity tokens for App Check tokens.",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.patch",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The relative resource name of the PlayIntegrityConfig, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/playIntegrityConfig",
                  "description": "Gets the PlayIntegrityConfig for the specified app.",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.get",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "appAttestConfig": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.get",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "description": "Gets the AppAttestConfig for the specified app.",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The relative resource name of the AppAttestConfig, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "type": "string"
                    }
                  }
                },
                "batchGet": {
                  "httpMethod": "GET",
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent project name shared by all AppAttestConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$",
                      "required": true
                    },
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The relative resource names of the AppAttestConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/appAttestConfig ``` A maximum of 100 objects can be retrieved in a batch."
                    }
                  },
                  "path": "v1beta/{+parent}/apps/-/appAttestConfig:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetAppAttestConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/appAttestConfig:batchGet",
                  "description": "Atomically gets the AppAttestConfigs for the specified list of apps."
                },
                "patch": {
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "description": "Updates the AppAttestConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange AppAttest tokens for App Check tokens.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the AppAttestConfig to update. Example: `token_ttl`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.patch",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
                  },
                  "httpMethod": "PATCH"
                }
              }
            },
            "safetyNetConfig": {
              "deprecated": true,
              "methods": {
                "get": {
                  "deprecated": true,
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the SafetyNetConfig, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/safetyNetConfig$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaSafetyNetConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/safetyNetConfig",
                  "description": "Gets the SafetyNetConfig for the specified app."
                },
                "batchGet": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent project name shared by all SafetyNetConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$",
                      "type": "string"
                    },
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The relative resource names of the SafetyNetConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ``` A maximum of 100 objects can be retrieved in a batch."
                    }
                  },
                  "path": "v1beta/{+parent}/apps/-/safetyNetConfig:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetSafetyNetConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/safetyNetConfig:batchGet",
                  "description": "Atomically gets the SafetyNetConfigs for the specified list of apps.",
                  "deprecated": true,
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.batchGet"
                },
                "patch": {
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/safetyNetConfig",
                  "description": "Updates the SafetyNetConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange SafetyNet tokens for App Check tokens.",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaSafetyNetConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the SafetyNet configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/safetyNetConfig$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the SafetyNetConfig to update. Example: `token_ttl`.",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.patch",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaSafetyNetConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "deprecated": true
                }
              }
            },
            "deviceCheckConfig": {
              "methods": {
                "batchGet": {
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/deviceCheckConfig:batchGet",
                  "description": "Atomically gets the DeviceCheckConfigs for the specified list of apps. For security reasons, the `private_key` field is never populated in the response.",
                  "path": "v1beta/{+parent}/apps/-/deviceCheckConfig:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetDeviceCheckConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent project name shared by all DeviceCheckConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$"
                    },
                    "names": {
                      "description": "Required. The relative resource names of the DeviceCheckConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.patch",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/deviceCheckConfig",
                  "description": "Updates the DeviceCheckConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange DeviceCheck tokens for App Check tokens. For security reasons, the `private_key` field is never populated in the response.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the DeviceCheckConfig to update. Example: `key_id,private_key`.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The relative resource name of the DeviceCheckConfig, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/deviceCheckConfig",
                  "description": "Gets the DeviceCheckConfig for the specified app. For security reasons, the `private_key` field is never populated in the response.",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.get"
                }
              }
            },
            "recaptchaEnterpriseConfig": {
              "methods": {
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "description": "Gets the RecaptchaEnterpriseConfig for the specified app.",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The relative resource name of the RecaptchaEnterpriseConfig, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "required": true
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "batchGet": {
                  "path": "v1beta/{+parent}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaEnterpriseConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "description": "Atomically gets the RecaptchaEnterpriseConfigs for the specified list of apps.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
[...]
