{
  "mtlsRootUrl": "https://firebaseappcheck.mtls.googleapis.com/",
  "description": "Firebase App Check works alongside other Firebase services to help protect your backend resources from abuse, such as billing fraud or phishing.",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Firebaseappcheck",
  "servicePath": "",
  "rootUrl": "https://firebaseappcheck.googleapis.com/",
  "documentationLink": "https://firebase.google.com/docs/app-check",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260307",
  "version": "v1",
  "kind": "discovery#restDescription",
  "baseUrl": "https://firebaseappcheck.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "firebaseappcheck:v1",
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "services": {
          "resources": {
            "resourcePolicies": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/resourcePolicies",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.create",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "description": "Creates the specified ResourcePolicy configuration.",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "description": "Required. The relative resource name of the parent Service in which the specified ResourcePolicy will be created, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "id": "firebaseappcheck.projects.services.resourcePolicies.list",
                  "path": "v1/{+parent}/resourcePolicies",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Lists all ResourcePolicy configurations for the specified project and service.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ListResourcePoliciesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "description": "Required. The relative resource name of the parent Service for which to list each associated ResourcePolicy, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filters the results by the specified rule. For the exact syntax of this field, please consult the [AIP-160](https://google.aip.dev/160) standard. Currently, since the only fields in the ResourcePolicy resource are the scalar fields `enforcement_mode` and `target_resource`, this method does not support the traversal operator (`.`) or the has operator (`:`). Here are some examples of valid filters: * `enforcement_mode = ENFORCED` * `target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"` * `enforcement_mode = ENFORCED AND target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"`"
                    },
                    "pageSize": {
                      "description": "The maximum number of ResourcePolicy objects to return in the response. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token returned from a previous call to ListResourcePolicies indicating where in the set of ResourcePolicy objects to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListResourcePolicies must match the call that provided the page token; if they do not match, the result is undefined.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies"
                },
                "patch": {
                  "id": "firebaseappcheck.projects.services.resourcePolicies.patch",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Updates the specified ResourcePolicy configuration.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "type": "string",
                      "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}"
                },
                "batchUpdate": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/resourcePolicies:batchUpdate",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.batchUpdate",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesResponse"
                  },
                  "description": "Atomically updates the specified ResourcePolicy configurations.",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "description": "Required. The parent service name, in the format ``` projects/{project_number}/services/{service_id} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.get",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "type": "string",
                      "description": "Required. The relative resource name of the ResourcePolicy to retrieve, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "description": "Gets the requested ResourcePolicy configuration."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.services.resourcePolicies.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "description": "Deletes the specified ResourcePolicy configuration.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "type": "string",
                      "description": "Required. The relative resource name of the ResourcePolicy to delete, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ```",
                      "required": true
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "The checksum to be validated against the current ResourcePolicy, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the ResourcePolicy object, and can be obtained from the ResourcePolicy object received from the last CreateResourcePolicy, GetResourcePolicy, ListResourcePolicies, UpdateResourcePolicy, or BatchUpdateResourcePolicies call. This etag is strongly validated as defined by RFC 7232."
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "firebaseappcheck.projects.services.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The relative resource name of the Service to retrieve, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `oauth2.googleapis.com` (Google Identity for iOS)",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/services/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Gets the Service configuration for the specified service name.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/services/{servicesId}"
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. The relative resource name of the parent project for which to list each associated Service, in the format: ``` projects/{project_number} ```",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of Services to return in the response. Only explicitly configured services are returned. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token returned from a previous call to ListServices indicating where in the set of Services to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListServices must match the call that provided the page token; if they do not match, the result is undefined.",
                  "location": "query"
                }
              },
              "description": "Lists all Service configurations for the specified project. Only Services which were explicitly configured using UpdateService or BatchUpdateServices will be returned.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1ListServicesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/services",
              "id": "firebaseappcheck.projects.services.list",
              "path": "v1/{+parent}/services",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "patch": {
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/services/[^/]+$",
                  "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `oauth2.googleapis.com` (Google Identity for iOS)",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "description": "Updates the specified Service configuration.",
              "flatPath": "v1/projects/{projectsId}/services/{servicesId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "firebaseappcheck.projects.services.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "batchUpdate": {
              "path": "v1/{+parent}/services:batchUpdate",
              "id": "firebaseappcheck.projects.services.batchUpdate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1BatchUpdateServicesResponse"
              },
              "description": "Atomically updates the specified Service configurations.",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1BatchUpdateServicesRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent project name shared by all Service configurations being updated, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/services:batchUpdate",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "apps": {
          "methods": {
            "exchangeRecaptchaV3Token": {
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken.",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest"
              },
              "parameters": {
                "app": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaV3Token",
              "parameterOrder": [
                "app"
              ],
              "path": "v1/{+app}:exchangeRecaptchaV3Token",
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaV3Token",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "exchangePlayIntegrityToken": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangePlayIntegrityToken",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangePlayIntegrityTokenRequest"
              },
              "parameters": {
                "app": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "description": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates an [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify). If valid, returns an AppCheckToken.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangePlayIntegrityToken",
              "id": "firebaseappcheck.projects.apps.exchangePlayIntegrityToken"
            },
            "generateAppAttestChallenge": {
              "id": "firebaseappcheck.projects.apps.generateAppAttestChallenge",
              "path": "v1/{+app}:generateAppAttestChallenge",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "app": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest"
              },
              "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
              },
              "parameterOrder": [
                "app"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:generateAppAttestChallenge"
            },
            "exchangeDebugToken": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeDebugToken",
              "id": "firebaseappcheck.projects.apps.exchangeDebugToken",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeDebugToken",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest"
              },
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse."
            },
            "exchangeSafetyNetToken": {
              "id": "firebaseappcheck.projects.apps.exchangeSafetyNetToken",
              "path": "v1/{+app}:exchangeSafetyNetToken",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Validates a [SafetyNet token](https://developer.android.com/training/safetynet/attestation#request-attestation-step). If valid, returns an AppCheckToken.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "parameters": {
                "app": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "description": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeSafetyNetTokenRequest"
              },
              "parameterOrder": [
                "app"
              ],
              "deprecated": true,
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeSafetyNetToken"
            },
            "exchangeDeviceCheckToken": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeDeviceCheckToken",
              "parameterOrder": [
                "app"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Accepts a [`device_token`](https://developer.apple.com/documentation/devicecheck/dcdevice) issued by DeviceCheck, and attempts to validate it with Apple. If valid, returns an AppCheckToken.",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeDeviceCheckTokenRequest"
              },
              "parameters": {
                "app": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeDeviceCheckToken",
              "id": "firebaseappcheck.projects.apps.exchangeDeviceCheckToken"
            },
            "exchangeRecaptchaEnterpriseToken": {
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates a [reCAPTCHA Enterprise response token](https://cloud.google.com/recaptcha-enterprise/docs/create-assessment#retrieve_token). If valid, returns an AppCheckToken.",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeRecaptchaEnterpriseTokenRequest"
              },
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaEnterpriseToken",
              "parameterOrder": [
                "app"
              ],
              "path": "v1/{+app}:exchangeRecaptchaEnterpriseToken",
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaEnterpriseToken",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "generatePlayIntegrityChallenge": {
              "path": "v1/{+app}:generatePlayIntegrityChallenge",
              "id": "firebaseappcheck.projects.apps.generatePlayIntegrityChallenge",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeRequest"
              },
              "parameters": {
                "app": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse"
              },
              "description": "Generates a challenge that protects the integrity of an immediately following integrity verdict request to the Play Integrity API. The next call to ExchangePlayIntegrityToken using the resulting integrity token will verify the presence and validity of the challenge. A challenge should not be reused for multiple calls.",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:generatePlayIntegrityChallenge",
              "parameterOrder": [
                "app"
              ]
            },
            "exchangeCustomToken": {
              "path": "v1/{+app}:exchangeCustomToken",
              "id": "firebaseappcheck.projects.apps.exchangeCustomToken",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates a custom token signed using your project's Admin SDK service account credentials. If valid, returns an AppCheckToken.",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeCustomTokenRequest"
              },
              "parameters": {
                "app": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeCustomToken",
              "parameterOrder": [
                "app"
              ]
            },
            "exchangeAppAttestAttestation": {
              "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful).",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse"
              },
              "parameters": {
                "app": {
                  "location": "path",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest"
              },
              "parameterOrder": [
                "app"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAttestation",
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAttestation",
              "path": "v1/{+app}:exchangeAppAttestAttestation",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "exchangeAppAttestAssertion": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAssertion",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest"
              },
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeAppAttestAssertion",
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAssertion"
            }
          },
          "resources": {
            "recaptchaV3Config": {
              "methods": {
                "batchGet": {
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.batchGet",
                  "path": "v1/{+parent}/apps/-/recaptchaV3Config:batchGet",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Atomically gets the RecaptchaV3Configs for the specified list of apps. For security reasons, the `site_secret` field is never populated in the response.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetRecaptchaV3ConfigsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent project name shared by all RecaptchaV3Configs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+$"
                    },
                    "names": {
                      "description": "Required. The relative resource names of the RecaptchaV3Configs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ``` A maximum of 100 objects can be retrieved in a batch.",
                      "repeated": true,
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/-/recaptchaV3Config:batchGet"
                },
                "patch": {
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.patch",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaV3Config to update. Example: `site_secret`.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "description": "Updates the RecaptchaV3Config for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA V3 tokens for App Check tokens. For security reasons, the `site_secret` field is never populated in the response.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaV3Config"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the RecaptchaV3Config, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$",
                      "type": "string"
                    }
                  },
                  "description": "Gets the RecaptchaV3Config for the specified app. For security reasons, the `site_secret` field is never populated in the response.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaV3Config",
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "recaptchaEnterpriseConfig": {
              "methods": {
                "batchGet": {
                  "path": "v1/{+parent}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.batchGet",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent project name shared by all RecaptchaEnterpriseConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "required": true,
                      "pattern": "^projects/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "names": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The relative resource names of the RecaptchaEnterpriseConfigs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "repeated": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetRecaptchaEnterpriseConfigsResponse"
                  },
                  "description": "Atomically gets the RecaptchaEnterpriseConfigs for the specified list of apps.",
                  "flatPath": "v1/projects/{projectsId}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "description": "Updates the RecaptchaEnterpriseConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA Enterprise tokens for App Check tokens.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaEnterpriseConfig to update. Example: `site_key`.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.patch",
                  "path": "v1/{+name}"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the RecaptchaEnterpriseConfig, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Gets the RecaptchaEnterpriseConfig for the specified app.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  }
                }
              }
            },
            "debugTokens": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "description": "Lists all DebugTokens for the specified app. For security reasons, the `token` field is never populated in the response.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ListDebugTokensResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The relative resource name of the parent app for which to list each associated DebugToken, in the format: ``` projects/{project_number}/apps/{app_id} ```",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The maximum number of DebugTokens to return in the response. Note that an app can have at most 20 debug tokens. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Token returned from a previous call to ListDebugTokens indicating where in the set of DebugTokens to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListDebugTokens must match the call that provided the page token; if they do not match, the result is undefined."
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.list",
                  "path": "v1/{+parent}/debugTokens"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the DebugToken to update. Example: `display_name`.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "description": "Updates the specified DebugToken. For security reasons, the `token` field cannot be updated, nor will it be populated in the response, but you can revoke the debug token using DeleteDebugToken.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.patch",
                  "path": "v1/{+name}"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "description": "Creates a new DebugToken for the specified app. For security reasons, after the creation operation completes, the `token` field cannot be updated or retrieved, but you can revoke the debug token using DeleteDebugToken. Each app can have a maximum of 20 debug tokens.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The relative resource name of the parent app in which the specified DebugToken will be created, in the format: ``` projects/{project_number}/apps/{app_id} ```",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.create",
                  "path": "v1/{+parent}/debugTokens"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the DebugToken to delete, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes the specified DebugToken. A deleted debug token cannot be used to exchange for an App Check token. Use this method when you suspect the secret `token` has been compromised or when you no longer need the debug token.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "firebaseappcheck.projects.apps.debugTokens.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "description": "Gets the specified DebugToken. For security reasons, the `token` field is never populated in the response.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$"
                    }
                  }
                }
              }
            },
            "safetyNetConfig": {
              "methods": {
                "batchGet": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "deprecated": true,
                  "flatPath": "v1/projects/{projectsId}/apps/-/safetyNetConfig:batchGet",
                  "description": "Atomically gets the SafetyNetConfigs for the specified list of apps.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetSafetyNetConfigsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+$",
                      "description": "Required. The parent project name shared by all SafetyNetConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "required": true,
                      "location": "path"
                    },
                    "names": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The relative resource names of the SafetyNetConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "repeated": true
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.batchGet",
                  "path": "v1/{+parent}/apps/-/safetyNetConfig:batchGet"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/safetyNetConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true,
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1SafetyNetConfig"
                  },
                  "description": "Updates the SafetyNetConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange SafetyNet tokens for App Check tokens.",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1SafetyNetConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/safetyNetConfig$",
                      "description": "Required. The relative resource name of the SafetyNet configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the SafetyNetConfig to update. Example: `token_ttl`.",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.patch"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.get",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/safetyNetConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true,
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1SafetyNetConfig"
                  },
                  "description": "Gets the SafetyNetConfig for the specified app.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/safetyNetConfig$",
                      "type": "string",
                      "description": "Required. The relative resource name of the SafetyNetConfig, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```",
                      "required": true
                    }
                  }
                }
              },
              "deprecated": true
            },
            "deviceCheckConfig": {
              "methods": {
                "patch": {
                  "description": "Updates the DeviceCheckConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange DeviceCheck tokens for App Check tokens. For security reasons, the `private_key` field is never populated in the response.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the DeviceCheckConfig to update. Example: `key_id,private_key`.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/deviceCheckConfig",
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.patch",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "get": {
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Gets the DeviceCheckConfig for the specified app. For security reasons, the `private_key` field is never populated in the response.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the DeviceCheckConfig, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/deviceCheckConfig"
                },
                "batchGet": {
                  "path": "v1/{+parent}/apps/-/deviceCheckConfig:batchGet",
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.batchGet",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetDeviceCheckConfigsResponse"
                  },
                  "description": "Atomically gets the DeviceCheckConfigs for the specified list of apps. For security reasons, the `private_key` field is never populated in the response.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+$",
                      "description": "Required. The parent project name shared by all DeviceCheckConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "required": true
                    },
                    "names": {
                      "type": "string",
                      "description": "Required. The relative resource names of the DeviceCheckConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "repeated": true,
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/apps/-/deviceCheckConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "playIntegrityConfig": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.patch",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "description": "Updates the PlayIntegrityConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange Play Integrity tokens for App Check tokens.",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the PlayIntegrityConfig to update. Example: `token_ttl`.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/playIntegrityConfig",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "description": "Gets the PlayIntegrityConfig for the specified app.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the PlayIntegrityConfig, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/playIntegrityConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "batchGet": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/-/playIntegrityConfig:batchGet",
                  "description": "Atomically gets the PlayIntegrityConfigs for the specified list of apps.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetPlayIntegrityConfigsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent project name shared by all PlayIntegrityConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+$",
                      "location": "path"
                    },
                    "names": {
                      "type": "string",
                      "description": "Required. The relative resource names of the PlayIntegrityConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "repeated": true,
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.batchGet",
                  "path": "v1/{+parent}/apps/-/playIntegrityConfig:batchGet"
                }
              }
            },
            "appAttestConfig": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.patch",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the AppAttestConfig to update. Example: `token_ttl`.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "description": "Updates the AppAttestConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange AppAttest tokens for App Check tokens."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "description": "Required. The relative resource name of the AppAttestConfig, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Gets the AppAttestConfig for the specified app.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.get",
                  "path": "v1/{+name}"
                },
                "batchGet": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetAppAttestConfigsResponse"
                  },
                  "description": "Atomically gets the AppAttestConfigs for the specified list of apps.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+$",
                      "description": "Required. The parent project name shared by all AppAttestConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "required": true
                    },
                    "names": {
                      "type": "string",
                      "description": "Required. The relative resource names of the AppAttestConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/appAttestConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "repeated": true,
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/apps/-/appAttestConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/apps/-/appAttestConfig:batchGet",
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.batchGet",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "jwks": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "firebaseappcheck.jwks.get",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/jwks",
          "description": "Returns a public JWK set as specified by [RFC 7517](https://tools.ietf.org/html/rfc7517) that can be used to verify App Check tokens. Exactly one of the public keys in the returned set will successfully validate any App Check token that is currently valid.",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1PublicJwkSet"
          },
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^jwks$",
              "type": "string",
              "description": "Required. The relative resource name to the public JWK set. Must always be exactly the string `jwks`.",
              "required": true
            }
          }
        }
      }
    },
    "oauthClients": {
      "methods": {
        "generateAppAttestChallenge": {
          "id": "firebaseappcheck.oauthClients.generateAppAttestChallenge",
          "path": "v1/{+app}:generateAppAttestChallenge",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
          },
          "parameters": {
            "app": {
              "location": "path",
              "pattern": "^oauthClients/[^/]+$",
              "type": "string",
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest"
          },
          "parameterOrder": [
            "app"
          ],
          "flatPath": "v1/oauthClients/{oauthClientsId}:generateAppAttestChallenge"
        },
        "exchangeAppAttestAttestation": {
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeAppAttestAttestation",
          "parameterOrder": [
            "app"
          ],
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse"
          },
          "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful).",
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest"
          },
          "parameters": {
            "app": {
              "type": "string",
              "pattern": "^oauthClients/[^/]+$",
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "v1/{+app}:exchangeAppAttestAttestation",
          "id": "firebaseappcheck.oauthClients.exchangeAppAttestAttestation"
        },
        "exchangeAppAttestAssertion": {
          "id": "firebaseappcheck.oauthClients.exchangeAppAttestAssertion",
          "path": "v1/{+app}:exchangeAppAttestAssertion",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "parameters": {
            "app": {
              "location": "path",
              "pattern": "^oauthClients/[^/]+$",
              "type": "string",
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest"
          },
          "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken.",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
          },
          "parameterOrder": [
            "app"
          ],
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeAppAttestAssertion"
        },
        "exchangeDebugToken": {
          "parameterOrder": [
            "app"
          ],
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeDebugToken",
          "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse.",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
          },
          "parameters": {
            "app": {
              "type": "string",
              "pattern": "^oauthClients/[^/]+$",
              "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "firebaseappcheck.oauthClients.exchangeDebugToken",
          "path": "v1/{+app}:exchangeDebugToken"
        }
      }
    }
  },
  "title": "Firebase App Check API",
  "name": "firebaseappcheck",
  "schemas": {
    "GoogleFirebaseAppcheckV1RecaptchaV3Config": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1RecaptchaV3Config",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```"
        },
        "siteSecretSet": {
          "description": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set.",
          "readOnly": true,
          "type": "boolean"
        },
        "tokenTtl": {
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration"
        },
        "minValidScore": {
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "format": "float",
          "type": "number"
        },
        "siteSecret": {
          "description": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response.",
          "type": "string"
        }
      },
      "description": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaV3Token to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl."
    },
    "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse": {
      "properties": {
        "challenge": {
          "description": "A one-time use challenge for the client to pass to the App Attest API.",
          "format": "byte",
          "type": "string"
        },
        "ttl": {
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Response message for the GenerateAppAttestChallenge method.",
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleFirebaseAppcheckV1PublicJwkSet": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1PublicJwkSet",
      "properties": {
        "keys": {
          "description": "The set of public keys. See [section 5.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5).",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1PublicJwk"
          },
          "type": "array"
        }
      },
      "description": "The currently active set of public keys that can be used to verify App Check tokens. This object is a JWK set as specified by [section 5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5). For security, the response **must not** be cached for longer than six hours."
    },
    "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse": {
      "id": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse",
      "type": "object",
      "description": "Response message for the GeneratePlayIntegrityChallenge method.",
      "properties": {
        "challenge": {
          "type": "string",
          "description": "A one-time use [challenge](https://developer.android.com/google/play/integrity/verdict#protect-against-replay-attacks) for the client to pass to the Play Integrity API."
        },
        "ttl": {
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1ResourcePolicy": {
      "description": "App Check enforcement policy for a specific resource of a Google service supported by App Check. Note that this policy will override the service-level configuration.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when this resource policy configuration object was most recently updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
        },
        "enforcementMode": {
          "type": "string",
          "description": "Required. The App Check enforcement mode for this resource. This will override the App Check overall EnforcementMode setting on the service.",
          "enumDescriptions": [
            "The relevant App Check protection is not enforced for the service or resource, nor are App Check metrics collected. Though the relevant App Check protection is not applied, other applicable protections, such as user authorization, are still enforced. An unconfigured protection is in this mode by default.",
            "The relevant App Check protection is not enforced for the service or resource. App Check metrics are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by the relevant App Check protection, but that traffic will not be rejected until you turn on enforcement. Though the relevant App Check protection is not enforced, other applicable protections, such as user authorization, are still enforced. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "The relevant App Check protection is enforced for the service or resource. The service or resource will reject any traffic not accompanied by an App Check token that is deemded valid by the relevant protection. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections, such as user authorization, continue to be enforced at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide whether to enforce App Check on your services and resources. If your app has not launched yet, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ],
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ]
        },
        "targetResource": {
          "description": "Required. Service specific name of the resource object to which this policy applies, in the format: * **iOS OAuth clients** (Google Identity for iOS): `//oauth2.googleapis.com/projects/{project_number}/oauthClients/{oauth_client_id}` Note that the resource must belong to the service specified in the `name` and be from the same project as this policy, but the resource is allowed to be missing at the time of creation of this policy; in that case, we make a best-effort attempt at respecting this policy, but it may not have any effect until the resource is fully created.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1ResourcePolicy",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1BatchGetPlayIntegrityConfigsResponse": {
      "id": "GoogleFirebaseAppcheckV1BatchGetPlayIntegrityConfigsResponse",
      "type": "object",
      "description": "Response message for the BatchGetPlayIntegrityConfigs method.",
      "properties": {
        "configs": {
          "description": "PlayIntegrityConfigs retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
          },
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppcheckV1ListServicesResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1ListServicesResponse",
      "properties": {
        "services": {
          "description": "The Services retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1Service"
          },
          "type": "array"
        },
        "nextPageToken": {
[...]
