{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://firebasedataconnect.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://firebasedataconnect.mtls.googleapis.com/",
  "description": "Firebase SQL Connect is a relational database service for mobile and web apps that lets you build and scale using a fully-managed PostgreSQL database powered by Cloud SQL. The REST API lets developers manage the connections to their database, change the schema of their database, and query the database.",
  "servicePath": "",
  "version": "v1",
  "title": "Firebase Data Connect API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "id": "firebasedataconnect.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "firebasedataconnect.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "firebasedataconnect.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "firebasedataconnect.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "services": {
              "resources": {
                "connectors": {
                  "methods": {
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Connector"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Value for parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                        },
                        "connectorId": {
                          "description": "Required. The ID to use for the connector, which will become the final component of the connector's resource name.",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. If set, validate the request and preview the Connector, but do not actually create it.",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new Connector in a given project and location. The operations are validated against and must be compatible with the active schema. If the operations and schema are not compatible or if the schema is not present, this will result in an error.",
                      "path": "v1/{+parent}/connectors",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "id": "firebasedataconnect.projects.locations.services.connectors.create"
                    },
                    "executeQuery": {
                      "id": "firebasedataconnect.projects.locations.services.connectors.executeQuery",
                      "httpMethod": "POST",
                      "path": "v1/{+name}:executeQuery",
                      "response": {
                        "$ref": "ExecuteQueryResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Execute a predefined query in a Connector.",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the connector to find the predefined query, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "ExecuteQueryRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}:executeQuery",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Identifier. The relative resource name of the connector, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "description": "Optional. If true and the Connector is not found, a new Connector will be created. In this case, `update_mask` is ignored.",
                          "location": "query"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Connector resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the Connector, but do not actually update it.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "request": {
                        "$ref": "Connector"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "firebasedataconnect.projects.locations.services.connectors.patch",
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates the parameters of a single Connector, and creates a new ConnectorRevision with the updated Connector. The operations are validated against and must be compatible with the live schema. If the operations and schema are not compatible or if the schema is not present, this will result in an error."
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "firebasedataconnect.projects.locations.services.connectors.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Connectors in a given project and location.",
                      "path": "v1/{+parent}/connectors",
                      "response": {
                        "$ref": "ListConnectorsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. Value of parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListConnectors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectors` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "executeMutation": {
                      "httpMethod": "POST",
                      "id": "firebasedataconnect.projects.locations.services.connectors.executeMutation",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Execute a predefined mutation in a Connector.",
                      "path": "v1/{+name}:executeMutation",
                      "response": {
                        "$ref": "ExecuteMutationResponse"
                      },
                      "request": {
                        "$ref": "ExecuteMutationRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the connector to find the predefined mutation, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}:executeMutation",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "impersonateMutation": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}:impersonateMutation",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the connector to find the predefined query/mutation, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "ImpersonateRequest"
                      },
                      "path": "v1/{+name}:impersonateMutation",
                      "response": {
                        "$ref": "GraphqlResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Impersonate a mutation defined on a Firebase SQL Connect connector. It grants the admin SDK access to mutations defined in the given connector. The caller can choose to impersonate a particular Firebase Auth user, or skip @auth completely.",
                      "id": "firebasedataconnect.projects.locations.services.connectors.impersonateMutation",
                      "httpMethod": "POST"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the connector to retrieve, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Connector"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single Connector.",
                      "id": "firebasedataconnect.projects.locations.services.connectors.get",
                      "httpMethod": "GET"
                    },
                    "impersonateQuery": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}:impersonateQuery",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the connector to find the predefined query/mutation, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "ImpersonateRequest"
                      },
                      "path": "v1/{+name}:impersonateQuery",
                      "response": {
                        "$ref": "GraphqlResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Impersonate a query defined on a Firebase SQL Connect connector. It grants the admin SDK access to queries defined in the given connector. The caller can choose to impersonate a particular Firebase Auth user, or skip @auth completely.",
                      "id": "firebasedataconnect.projects.locations.services.connectors.impersonateQuery",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single Connector.",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "id": "firebasedataconnect.projects.locations.services.connectors.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "allowMissing": {
                          "description": "Optional. If true and the Connector is not found, the request will succeed but no action will be taken on the server.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the connector to delete, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "required": true
                        },
                        "force": {
                          "type": "boolean",
                          "description": "Optional. If set to true, any child resources (i.e. ConnectorRevisions) will also be deleted. Otherwise, the request will only work if the Connector has no child resources.",
                          "location": "query"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the Connector, but do not actually delete it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The etag of the Connector. If this is provided, it must match the server's etag.",
                          "location": "query"
                        }
                      }
                    }
                  }
                },
                "schemas": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "id": "firebasedataconnect.projects.locations.services.schemas.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single Schema.",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Schema"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the schema to retrieve, in the format: ``` projects/{project}/locations/{location}/services/{service}/schemas/{schema} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/schemas/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/schemas/{schemasId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "path": "v1/{+parent}/schemas",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new Schema in a given project and location. Only creation of `schemas/main` is supported and calling create with any other schema ID will result in an error.",
                      "id": "firebasedataconnect.projects.locations.services.schemas.create",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/schemas",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "schemaId": {
                          "type": "string",
                          "description": "Required. The ID to use for the schema, which will become the final component of the schema's resource name. Currently, only `main` is supported and any other schema ID will result in an error.",
                          "location": "query"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Value for parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. If set, validate the request and preview the Schema, but do not actually update it.",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "Schema"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "firebasedataconnect.projects.locations.services.schemas.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Schemas in a given project and location.",
                      "path": "v1/{+parent}/schemas",
                      "response": {
                        "$ref": "ListSchemasResponse"
                      },
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filtering results.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Value of parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListSchemas` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSchemas` must match the call that provided the page token.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/schemas",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the schema to delete, in the format: ``` projects/{project}/locations/{location}/services/{service}/schemas/{schema} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/schemas/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "description": "Optional. If true and the Schema is not found, the request will succeed but no action will be taken on the server.",
                          "location": "query"
                        },
                        "force": {
                          "type": "boolean",
                          "description": "Optional. If set to true, any child resources (i.e. SchemaRevisions) will also be deleted.",
                          "location": "query"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. If set, validate the request and preview the Schema, but do not actually delete it.",
                          "location": "query"
                        },
                        "etag": {
                          "description": "Optional. The etag of the Schema. If this is provided, it must match the server's etag.",
                          "location": "query",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/schemas/{schemasId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "id": "firebasedataconnect.projects.locations.services.schemas.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single Schema. Because the schema and connectors must be compatible at all times, if this is called while any connectors are active, this will result in an error.",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates the parameters of a single Schema, and creates a new SchemaRevision with the updated Schema.",
                      "id": "firebasedataconnect.projects.locations.services.schemas.patch",
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/schemas/{schemasId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Identifier. The relative resource name of the schema, in the format: ``` projects/{project}/locations/{location}/services/{service}/schemas/{schema} ``` Right now, the only supported schema is \"main\".",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/schemas/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "description": "Optional. If true and the Schema is not found, a new Schema will be created. In this case, `update_mask` is ignored.",
                          "location": "query"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the Schema, but do not actually update it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Schema resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "Schema"
                      }
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Value of parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListServices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListServices` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Services in a given project and location.",
                  "path": "v1/{+parent}/services",
                  "response": {
                    "$ref": "ListServicesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "firebasedataconnect.projects.locations.services.list"
                },
                "delete": {
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "etag": {
                      "type": "string",
                      "description": "Optional. The etag of the Service. If this is provided, it must match the server's etag.",
                      "location": "query"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, any child resources (i.e. Schema, SchemaRevisions, Connectors, and ConnectorRevisions) will also be deleted. Otherwise, the request will only work if the Service has no child resources.",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request and preview the Service, but do not actually delete it.",
                      "location": "query"
                    },
                    "allowMissing": {
                      "description": "Optional. If true and the Service is not found, the request will succeed but no action will be taken on the server.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The name of the service to delete, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "firebasedataconnect.projects.locations.services.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single Service.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "executeGraphqlRead": {
                  "id": "firebasedataconnect.projects.locations.services.executeGraphqlRead",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:executeGraphqlRead",
                  "response": {
                    "$ref": "GraphqlResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Execute any GraphQL query against the Firebase SQL Connect's generated GraphQL schema. Grants full read to the connected data sources. `ExecuteGraphqlRead` is identical to `ExecuteGraphql` except it only accepts read-only query.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The relative resource name of Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GraphqlRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:executeGraphqlRead",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "allowMissing": {
                      "description": "Optional. If true and the Service is not found, a new Service will be created. In this case, `update_mask` is ignored.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Identifier. The relative resource name of the Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ``` Note that the service ID is specific to Firebase SQL Connect and does not correspond to any of the instance IDs of the underlying data source connections.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request and preview the Service, but do not actually update it.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Service resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "Service"
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single Service.",
                  "id": "firebasedataconnect.projects.locations.services.patch",
                  "httpMethod": "PATCH"
                },
                "executeGraphql": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:executeGraphql",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GraphqlRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The relative resource name of Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Execute any GraphQL query or mutation against the Firebase SQL Connect's generated GraphQL schema. Grants full read and write access to the connected data sources. Note: Use introspection query to explore the generated GraphQL schema.",
                  "path": "v1/{+name}:executeGraphql",
                  "response": {
                    "$ref": "GraphqlResponse"
                  },
                  "httpMethod": "POST",
                  "id": "firebasedataconnect.projects.locations.services.executeGraphql"
                },
                "introspectGraphql": {
                  "id": "firebasedataconnect.projects.locations.services.introspectGraphql",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:introspectGraphql",
                  "response": {
                    "$ref": "GraphqlResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Execute introspection query against the Firebase SQL Connect's generated GraphQL schema. GraphQL introspection query provides metadata such as what tables the schema have, what queries and mutations can be performed on the schema, and so on. Read more at https://graphql.org/learn/introspection. IntrospectGraphql can read schema metadata but cannot read rows from Cloud SQL instance, which can be done via ExecuteGraphqlRead.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The relative resource name of Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GraphqlRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:introspectGraphql",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "firebasedataconnect.projects.locations.services.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Service"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Service.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the service to retrieve, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Value of parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request and preview the Service, but do not actually create it.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "serviceId": {
                      "type": "string",
                      "description": "Required. The ID to use for the service, which will become the final component of the service's resource name.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Service"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebasedataconnect.projects.locations.services.create",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/services",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Service in a given project and location."
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "firebasedataconnect.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "firebasedataconnect.projects.locations.get",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "id": "firebasedataconnect:v1",
  "rootUrl": "https://firebasedataconnect.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "ownerName": "Google",
  "basePath": "",
  "protocol": "rest",
  "name": "firebasedataconnect",
  "documentationLink": "https://firebase.google.com/docs/data-connect",
  "revision": "20260426",
  "canonicalName": "Firebase Data Connect",
  "schemas": {
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "id": "Location",
      "type": "object"
    },
    "CloudSqlInstance": {
      "description": "Settings for CloudSQL instance configuration.",
      "properties": {
        "instance": {
          "description": "Required. Name of the CloudSQL instance, in the format: ``` projects/{project}/locations/{location}/instances/{instance} ```",
          "type": "string"
        }
      },
      "id": "CloudSqlInstance",
      "type": "object"
    },
    "GraphqlErrorExtensions": {
      "description": "GraphqlErrorExtensions contains additional information of `GraphqlError`.",
      "properties": {
        "warningLevel": {
          "description": "Warning level describes the severity and required action to suppress this warning when Firebase CLI run into it.",
          "enum": [
            "WARNING_LEVEL_UNKNOWN",
            "LOG_ONLY",
            "INTERACTIVE_ACK",
            "REQUIRE_ACK",
            "REQUIRE_FORCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Warning level is not specified.",
            "Display a warning without action needed.",
            "Request a confirmation in interactive deployment flow.",
            "Require an explicit confirmation in all deployment flows.",
            "Require --force in all deployment flows."
          ]
        },
        "debugDetails": {
          "description": "More detailed error message to assist debugging. It contains application business logic that are inappropriate to leak publicly. In the emulator, SQL Connect API always includes it to assist local development and debugging. In the backend, ConnectorService always hides it. GraphqlService without impersonation always include it. GraphqlService with impersonation includes it only if explicitly opted-in with `include_debug_details` in `GraphqlRequestExtensions`.",
          "type": "string"
        },
        "file": {
          "description": "The source file name where the error occurred. Included only for `UpdateSchema` and `UpdateConnector`, it corresponds to `File.path` of the provided `Source`.",
          "type": "string"
        },
        "code": {
          "description": "Maps to canonical gRPC codes. If not specified, it represents `Code.INTERNAL`.",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ]
        },
        "workarounds": {
          "items": {
            "$ref": "Workaround"
          },
          "type": "array",
          "description": "Workarounds provide suggestions to address the compile errors or warnings."
        }
      },
      "id": "GraphqlErrorExtensions",
      "type": "object"
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "description": "A Firebase SQL Connect service.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp.",
          "format": "google-datetime"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A field that if true, indicates that the system is working update the service."
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs.",
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Update time stamp.",
          "format": "google-datetime"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Stores small amounts of arbitrary data.",
          "type": "object"
        },
        "displayName": {
          "description": "Optional. Mutable human-readable name. 63 character limit.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. [AIP-154](https://google.aip.dev/154)",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The relative resource name of the Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ``` Note that the service ID is specific to Firebase SQL Connect and does not correspond to any of the instance IDs of the underlying data source connections.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      }
    },
    "HttpGraphql": {
      "id": "HttpGraphql",
      "type": "object",
      "description": "Settings for HTTP GraphQL server webhook.",
      "properties": {
        "uri": {
          "description": "Required. The endpoint of the HTTP GraphQL server.",
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "description": "Optional. Timeout duration for the HTTP request.",
          "format": "google-duration"
        }
      }
    },
    "Datasource": {
      "id": "Datasource",
      "type": "object",
      "description": "A data source that backs Firebase SQL Connect services.",
      "properties": {
        "postgresql": {
          "description": "PostgreSQL configurations.",
          "$ref": "PostgreSql"
        },
        "httpGraphql": {
          "description": "HTTP GraphQL server webhook configurations.",
          "$ref": "HttpGraphql"
        }
      }
    },
    "Workaround": {
      "description": "Workaround provides suggestions to address errors and warnings.",
      "properties": {
        "description": {
          "description": "Description of this workaround.",
          "type": "string"
        },
        "reason": {
          "description": "Why would this workaround address the error and warning.",
          "type": "string"
        },
        "replace": {
          "description": "A suggested code snippet to fix the error and warning.",
          "type": "string"
        }
      },
      "id": "Workaround",
      "type": "object"
    },
    "ClientCache": {
      "description": "Client caching settings of a connector.",
      "properties": {
        "strictValidationEnabled": {
          "description": "Optional. A field that, if true, enables stricter validation on the connector source code to make sure the operation response shapes are suitable for client-side caching. This can include additional errors and warnings. For example, using the same alias for different fields is disallowed, as it may cause conflicts or confusion with normalized caching. (This field is off by default for compatibility, but enabling it is highly recommended to catch common caching pitfalls.)",
          "type": "boolean"
        },
        "entityIdIncluded": {
          "description": "Optional. A field that, if true, means that responses served by this connector will include entityIds in GraphQL response extensions. This helps the client SDK cache responses in an improved way, known as \"normalized caching\", if caching is enabled on the client. Each entityId is a stable key based on primary key values. Therefore, this field should only be set to true if the primary keys of accessed tables do not contain sensitive information.",
          "type": "boolean"
        }
      },
      "id": "ClientCache",
      "type": "object"
    },
    "GraphqlError": {
      "id": "GraphqlError",
      "type": "object",
      "description": "GraphqlError conforms to the GraphQL error spec. https://spec.graphql.org/draft/#sec-Errors Firebase SQL Connect API surfaces `GraphqlError` in various APIs: - Upon compile error, `UpdateSchema` and `UpdateConnector` return Code.Invalid_Argument with a list of `GraphqlError` in error details. - Upon query compile error, `ExecuteGraphql`, `ExecuteGraphqlRead` and `IntrospectGraphql` return Code.OK with a list of `GraphqlError` in response body. - Upon query execution error, `ExecuteGraphql`, `ExecuteGraphqlRead`, `ExecuteMutation`, `ExecuteQuery`, `IntrospectGraphql`, `ImpersonateQuery` and `ImpersonateMutation` all return Code.OK with a list of `GraphqlError` in response body.",
      "properties": {
        "message": {
          "description": "The detailed error message. The message should help developer understand the underlying problem without leaking internal data.",
          "type": "string"
        },
        "extensions": {
          "description": "Additional error information.",
          "$ref": "GraphqlErrorExtensions"
        },
        "path": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "The result field which could not be populated due to error. Clients can use path to identify whether a null result is intentional or caused by a runtime error. It should be a list of string or index from the root of GraphQL query document."
        },
        "locations": {
          "description": "The source locations where the error occurred. Locations should help developers and toolings identify the source of error quickly. Included in admin endpoints (`ExecuteGraphql`, `ExecuteGraphqlRead`, `IntrospectGraphql`, `ImpersonateQuery`, `ImpersonateMutation`, `UpdateSchema` and `UpdateConnector`) to reference the provided GraphQL GQL document. Omitted in `ExecuteMutation` and `ExecuteQuery` since the caller shouldn't have access access the underlying GQL source.",
          "type": "array",
          "items": {
            "$ref": "SourceLocation"
          }
        }
      }
    },
    "GraphqlRequestExtensions": {
      "description": "GraphqlRequestExtensions contains additional information of `GraphqlRequest`.",
      "properties": {
        "impersonate": {
          "description": "Optional. If set, impersonate a request with given Firebase Auth context and evaluate the auth policies on the operation. If omitted, bypass any defined auth policies.",
          "$ref": "Impersonation"
        }
      },
      "id": "GraphqlRequestExtensions",
      "type": "object"
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "description": "Used to represent a set of source files.",
      "properties": {
        "files": {
          "description": "Required. The files that comprise the source set.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        }
      }
    },
    "GraphqlResponseExtensions": {
      "description": "GraphqlResponseExtensions contains additional information of `GraphqlResponse` or `ExecuteQueryResponse`.",
      "properties": {
        "dataConnect": {
          "description": "SQL Connect specific GraphQL extension, a list of paths and properties.",
          "type": "array",
          "items": {
            "$ref": "DataConnectProperties"
          }
        }
      },
      "id": "GraphqlResponseExtensions",
      "type": "object"
    },
    "File": {
      "description": "Individual files.",
      "properties": {
        "path": {
          "description": "Required. The file name including folder path, if applicable. The path should be relative to a local workspace (e.g. dataconnect/(schema|connector)/*.gql) and not an absolute path (e.g. /absolute/path/(schema|connector)/*.gql).",
          "type": "string"
        },
        "content": {
          "description": "Required. The file's textual content.",
          "type": "string"
        }
      },
      "id": "File",
      "type": "object"
    },
    "ListConnectorsResponse": {
      "id": "ListConnectorsResponse",
      "type": "object",
      "description": "Message for response to listing Connectors. By default, `connectors.source` will not be included in the response. To specify the fields included in the response, the response field mask can be provided by using the query parameter `$fields` or the header `X-Goog-FieldMask`.",
      "properties": {
        "connectors": {
          "description": "The list of Connectors.",
          "type": "array",
          "items": {
            "$ref": "Connector"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "Impersonation": {
      "description": "Impersonation configures the Firebase Auth context to impersonate.",
      "properties": {
        "authClaims": {
          "description": "Evaluate the auth policy with a customized JWT auth token. Should follow the Firebase Auth token format. https://firebase.google.com/docs/rules/rules-and-auth For example: a verified user may have auth_claims of {\"sub\": , \"email_verified\": true}",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "unauthenticated": {
          "description": "Evaluate the auth policy as an unauthenticated request. Can only be set to true.",
          "type": "boolean"
        },
        "includeDebugDetails": {
          "description": "Optional. If set, include debug details in GraphQL error extensions.",
          "type": "boolean"
        }
      },
      "id": "Impersonation",
      "type": "object"
    },
    "Connector": {
      "id": "Connector",
      "type": "object",
      "description": "Connector consists of a set of operations, i.e. queries and mutations.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp.",
          "format": "google-datetime"
        },
        "reconciling": {
          "description": "Output only. A field that if true, indicates that the system is working to compile and deploy the connector.",
          "readOnly": true,
          "type": "boolean"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-assigned, unique identifier."
        },
        "source": {
          "description": "Required. The source files that comprise the connector.",
          "$ref": "Source"
        },
        "name": {
          "description": "Identifier. The relative resource name of the connector, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Stores small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "Optional. Mutable human-readable name. 63 character limit.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. [AIP-154](https://google.aip.dev/154)",
          "readOnly": true,
          "type": "string"
        },
        "clientCache": {
          "description": "Optional. The client cache settings of the connector.",
          "$ref": "ClientCache"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation. Note: This message is auto-generated by CCFE. CCFE's storage, called Resource Metadata Store (RMS), holds metadata about long-running operations (i.e. OperationMetadata) and resources (i.e. ResourceMetadata). OperationMetadata documents the status of the operation. See [CCFE documentation for sidechannel data](https://g3doc.corp.google.com/cloud/control2/g3doc/dev/codelab_extras/sidechannel.md?cl=head#sidechannel-data) and yaqs/4289526912465764352.",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Schema": {
      "description": "The application schema of a Firebase SQL Connect service.",
      "properties": {
        "name": {
          "description": "Identifier. The relative resource name of the schema, in the format: ``` projects/{project}/locations/{location}/services/{service}/schemas/{schema} ``` Right now, the only supported schema is \"main\".",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Stores small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Optional. Mutable human-readable name. 63 character limit.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. [AIP-154](https://google.aip.dev/154)"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "datasources": {
          "items": {
            "$ref": "Datasource"
          },
          "type": "array",
          "description": "Required. The data sources linked in the schema."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Update time stamp.",
          "format": "google-datetime"
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true,
          "type": "string"
        },
        "source": {
          "description": "Required. The source files that comprise the application schema.",
          "$ref": "Source"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp.",
          "format": "google-datetime"
        },
        "reconciling": {
          "description": "Output only. A field that if true, indicates that the system is working to compile and deploy the schema.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "Schema",
      "type": "object"
    },
    "ExecuteQueryRequest": {
      "id": "ExecuteQueryRequest",
      "type": "object",
      "description": "The ExecuteQuery request to Firebase SQL Connect.",
      "properties": {
        "operationName": {
          "description": "Required. The name of the GraphQL operation name. Required because all Connector operations must be named. See https://graphql.org/learn/queries/#operation-name.",
          "type": "string"
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Values for GraphQL variables provided in this request."
        }
      }
    },
    "DataConnectProperties": {
      "description": "SQL Connect specific properties for a path under response.data.",
      "properties": {
        "entityIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Entity IDs. Set if the path points to an array of entities. An ID is present for each element of the array at the corresponding index."
        },
        "path": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "The path under response.data where the rest of the fields apply. Each element may be a string (field name) or number (array index). The root of response.data is denoted by the empty list `[]`."
        },
        "entityId": {
[...]
