{
  "name": "firestore",
  "servicePath": "",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://firestore.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.australia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-central2.rep.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-north2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-west12.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.me-central1.rep.googleapis.com/"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.me-central2.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.me-west1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "northamerica-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.northamerica-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.us-west1.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.asia-east1.rep.googleapis.com/"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.asia-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.asia-northeast3.rep.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.asia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.australia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-north1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west15",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-west15.rep.googleapis.com/"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.southamerica-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "canonicalName": "Firestore",
  "version": "v1beta1",
  "baseUrl": "https://firestore.googleapis.com/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "protocol": "rest",
  "revision": "20260310",
  "basePath": "",
  "rootUrl": "https://firestore.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "databases": {
          "methods": {
            "exportDocuments": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "firestore.projects.databases.exportDocuments",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "path": "v1beta1/{+name}:exportDocuments",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "importDocuments": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "path": "v1beta1/{+name}:importDocuments",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$"
                }
              },
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "firestore.projects.databases.importDocuments"
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "write": {
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`. This is only required in the first message.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Streams batches of document updates and deletes, in order. This method is only available via gRPC or WebChannel (not REST).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.write",
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "WriteRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "path": "v1beta1/{+database}/documents:write",
                  "response": {
                    "$ref": "WriteResponse"
                  }
                },
                "partitionQuery": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents`. Document resource names are not supported; only database resource names can be specified.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$"
                    }
                  },
                  "description": "Partitions a query by returning partition cursors that can be used to run the query in parallel. The returned partition cursors are split points that can be used by RunQuery as starting/end points for the query results.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.partitionQuery",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "PartitionQueryRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                  "path": "v1beta1/{+parent}:partitionQuery",
                  "response": {
                    "$ref": "PartitionQueryResponse"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "Document"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Document"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates or inserts a document.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$"
                    },
                    "mask.fieldPaths": {
                      "type": "string",
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query"
                    },
                    "updateMask.fieldPaths": {
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true
                    },
                    "currentDocument.updateTime": {
                      "format": "google-datetime",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "location": "query",
                      "type": "string"
                    },
                    "currentDocument.exists": {
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "id": "firestore.projects.databases.documents.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "executePipeline": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:executePipeline",
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "ExecutePipelineRequest"
                  },
                  "response": {
                    "$ref": "ExecutePipelineResponse"
                  },
                  "path": "v1beta1/{+database}/documents:executePipeline",
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. Database identifier, in the form `projects/{project}/databases/{database}`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Executes a pipeline query.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.executePipeline"
                },
                "runAggregationQuery": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "RunAggregationQueryRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runAggregationQuery",
                  "path": "v1beta1/{+parent}:runAggregationQuery",
                  "response": {
                    "$ref": "RunAggregationQueryResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$"
                    }
                  },
                  "description": "Runs an aggregation query. Rather than producing Document results like Firestore.RunQuery, this API allows running an aggregation to produce a series of AggregationResult server-side. High-Level Example: ``` -- Return the number of documents in table given a filter. SELECT COUNT(*) FROM ( SELECT * FROM k where a = true ); ```",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.runAggregationQuery"
                },
                "beginTransaction": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Starts a new transaction.",
                  "path": "v1beta1/{+database}/documents:beginTransaction",
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction"
                },
                "list": {
                  "id": "firestore.projects.databases.documents.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists documents.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "location": "query"
                    },
                    "mask.fieldPaths": {
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$"
                    },
                    "transaction": {
                      "description": "Perform the read as part of an already active transaction.",
                      "location": "query",
                      "format": "byte",
                      "type": "string"
                    },
                    "readTime": {
                      "description": "Perform the read at the provided time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "collectionId": {
                      "type": "string",
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`.",
                      "location": "path",
                      "required": true
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`.",
                      "location": "query"
                    },
                    "showMissing": {
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}"
                },
                "createDocument": {
                  "httpMethod": "POST",
                  "description": "Creates a new document.",
                  "parameters": {
                    "collectionId": {
                      "required": true,
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`.",
                      "location": "path",
                      "type": "string"
                    },
                    "documentId": {
                      "type": "string",
                      "description": "The client-assigned document ID to use for this document. Optional. If not specified, an ID will be assigned by the service.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "description": "Required. The parent resource. For example: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`",
                      "location": "path"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.documents.createDocument",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "request": {
                    "$ref": "Document"
                  },
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "response": {
                    "$ref": "Document"
                  }
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Document to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "type": "string"
                    },
                    "currentDocument.exists": {
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "currentDocument.updateTime": {
                      "type": "string",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "location": "query",
                      "format": "google-datetime"
                    }
                  },
                  "description": "Deletes a document."
                },
                "listen": {
                  "description": "Listens to changes. This method is only available via gRPC or WebChannel (not REST).",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.listen",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "request": {
                    "$ref": "ListenRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "response": {
                    "$ref": "ListenResponse"
                  },
                  "path": "v1beta1/{+database}/documents:listen"
                },
                "batchGet": {
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  },
                  "path": "v1beta1/{+database}/documents:batchGet",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.batchGet",
                  "parameters": {
                    "database": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested.",
                  "httpMethod": "POST"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Document"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "readTime": {
                      "type": "string",
                      "description": "Reads the version of the document at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "location": "path"
                    },
                    "mask.fieldPaths": {
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true
                    },
                    "transaction": {
                      "format": "byte",
                      "description": "Reads the document in a transaction.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Gets a single document.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.get"
                },
                "rollback": {
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "path": "v1beta1/{+database}/documents:rollback",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "description": "Rolls back a transaction.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.rollback"
                },
                "listCollectionIds": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.listCollectionIds",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The parent document. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Lists all the collection IDs underneath a document.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  },
                  "path": "v1beta1/{+parent}:listCollectionIds",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  }
                },
                "runQuery": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$"
                    }
                  },
                  "description": "Runs a query.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.runQuery",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery",
                  "path": "v1beta1/{+parent}:runQuery",
                  "response": {
                    "$ref": "RunQueryResponse"
                  }
                },
                "commit": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.commit",
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Commits a transaction, while optionally updating documents.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "path": "v1beta1/{+database}/documents:commit",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "CommitRequest"
                  }
                },
                "batchWrite": {
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "description": "Applies a batch of write operations. The BatchWrite method does not apply the write operations atomically and can apply them out of order. Method does not allow more than one write per document. Each write succeeds or fails independently. See the BatchWriteResponse for the success status of each write. If you require an atomically applied set of writes, use Commit instead.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.batchWrite",
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "BatchWriteRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite",
                  "path": "v1beta1/{+database}/documents:batchWrite",
                  "response": {
                    "$ref": "BatchWriteResponse"
                  }
                },
                "listDocuments": {
                  "id": "firestore.projects.databases.documents.listDocuments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists documents.",
                  "parameters": {
                    "collectionId": {
                      "type": "string",
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`.",
                      "location": "path",
                      "required": true
                    },
                    "orderBy": {
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`.",
                      "location": "query",
                      "type": "string"
                    },
                    "showMissing": {
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "location": "query",
                      "format": "int32"
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Perform the read at the provided time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "location": "query"
                    },
                    "transaction": {
                      "description": "Perform the read as part of an already active transaction.",
                      "location": "query",
                      "format": "byte",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents$"
                    }
                  },
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{collectionId}"
                }
              }
            },
            "indexes": {
              "methods": {
                "delete": {
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.indexes.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The index name. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/indexes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Deletes an index."
                },
                "create": {
                  "id": "firestore.projects.databases.indexes.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Creates the specified index. A newly created index's initial state is `CREATING`. On completion of the returned google.longrunning.Operation, the state will be `READY`. If the index already exists, the call will return an `ALREADY_EXISTS` status. During creation, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, removing the index with delete, then re-creating the index with create. Indexes with a single field cannot be created.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the database this index will apply to. For example: `projects/{project_id}/databases/{database_id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1beta1/{+parent}/indexes",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1ListIndexesResponse"
                  },
                  "path": "v1beta1/{+parent}/indexes",
                  "parameters": {
                    "parent": {
                      "description": "The database name. For example: `projects/{project_id}/databases/{database_id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard List page size.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard List page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists the indexes that match the specified filters.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.indexes.list"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.indexes.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the index. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/indexes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets an index.",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}"
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "ownerDomain": "google.com",
  "title": "Cloud Firestore API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "schemas": {
    "Projection": {
      "type": "object",
      "properties": {
        "fields": {
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`.",
          "type": "array",
          "items": {
            "$ref": "FieldReference"
          }
        }
      },
      "id": "Projection",
      "description": "The projection of document's fields to return."
    },
    "ExplainOptions": {
      "type": "object",
      "properties": {
        "analyze": {
          "description": "Optional. Whether to execute this query. When false (the default), the query will be planned, returning only metrics from the planning stages. When true, the query will be planned and executed, returning the full query results along with both planning and execution stage metrics.",
          "type": "boolean"
        }
      },
      "id": "ExplainOptions",
      "description": "Explain options for the query."
    },
    "ExecutePipelineResponse": {
      "properties": {
        "explainStats": {
          "description": "Query explain stats. This is present on the **last** response if the request configured explain to run in 'analyze' or 'explain' mode in the pipeline options. If the query does not return any results, a response with `explain_stats` and no `results` will still be sent.",
          "$ref": "ExplainStats"
        },
        "transaction": {
          "type": "string",
          "description": "Newly created transaction identifier. This field is only specified as part of the first response from the server, alongside the `results` field when the original request specified ExecuteRequest.new_transaction.",
          "format": "byte"
        },
        "results": {
          "description": "An ordered batch of results returned executing a pipeline. The batch size is variable, and can even be zero for when only a partial progress message is returned. The fields present in the returned documents are only those that were explicitly requested in the pipeline, this includes those like `__name__` and `__update_time__`. This is explicitly a divergence from `Firestore.RunQuery` / `Firestore.GetDocument` RPCs which always return such fields even when they are not specified in the `mask`.",
          "items": {
            "$ref": "Document"
          },
          "type": "array"
        },
        "executionTime": {
          "description": "The time at which the results are valid. This is a (not strictly) monotonically increasing value across multiple responses in the same stream. The API guarantees that all previously returned results are still valid at the latest `execution_time`. This allows the API consumer to treat the query if it ran at the latest `execution_time` returned. If the query returns no results, a response with `execution_time` and no `results` will be sent, and this represents the time at which the operation was run.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ExecutePipelineResponse",
      "description": "The response for Firestore.Execute.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1Progress": {
      "id": "GoogleFirestoreAdminV1beta1Progress",
      "description": "Measures the progress of a particular metric.",
      "properties": {
        "workCompleted": {
          "description": "An estimate of how much work has been completed. Note that this may be greater than `work_estimated`.",
          "format": "int64",
          "type": "string"
        },
        "workEstimated": {
          "type": "string",
          "format": "int64",
          "description": "An estimate of how much work needs to be performed. Zero if the work estimate is unavailable. May change as work progresses."
        }
      },
      "type": "object"
    },
    "StructuredPipeline": {
      "properties": {
        "pipeline": {
          "$ref": "Pipeline",
          "description": "Required. The pipeline query to execute."
        },
        "options": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "Optional. Optional query-level arguments. "
        }
      },
      "id": "StructuredPipeline",
      "description": "A Firestore query represented as an ordered list of operations / stages. This is considered the top-level function which plans and executes a query. It is logically equivalent to `query(stages, options)`, but prevents the client from having to build a function wrapper.",
      "type": "object"
    },
    "WriteResult": {
      "type": "object",
      "properties": {
        "transformResults": {
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time.",
          "format": "google-datetime"
        }
      },
      "id": "WriteResult",
      "description": "The result of applying a write."
    },
    "RunQueryRequest": {
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in."
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        },
        "explainOptions": {
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned.",
          "$ref": "ExplainOptions"
        },
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query."
        }
      },
      "id": "RunQueryRequest",
      "description": "The request for Firestore.RunQuery.",
      "type": "object"
    },
    "StructuredAggregationQuery": {
      "type": "object",
      "id": "StructuredAggregationQuery",
      "description": "Firestore query for running an aggregation over a StructuredQuery.",
      "properties": {
        "structuredQuery": {
          "description": "Nested structured query.",
          "$ref": "StructuredQuery"
        },
        "aggregations": {
          "description": "Optional. Series of aggregations to apply over the results of the `structured_query`. Requires: * A minimum of one and maximum of five aggregations per query.",
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          }
        }
      }
    },
    "ExecutePipelineRequest": {
      "type": "object",
      "properties": {
        "structuredPipeline": {
          "$ref": "StructuredPipeline",
          "description": "A pipelined operation."
        },
        "transaction": {
          "type": "string",
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "format": "byte"
        },
        "newTransaction": {
          "description": "Execute the pipeline in a new transaction. The identifier of the newly created transaction will be returned in the first response on the stream. This defaults to a read-only transaction.",
          "$ref": "TransactionOptions"
        },
        "readTime": {
          "type": "string",
          "description": "Execute the pipeline in a snapshot transaction at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime"
        }
      },
      "id": "ExecutePipelineRequest",
      "description": "The request for Firestore.ExecutePipeline."
    },
    "ReadOnly": {
      "id": "ReadOnly",
      "description": "Options for a transaction that can only be used to read documents.",
      "properties": {
        "readTime": {
          "description": "Reads documents at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DocumentRemove": {
      "type": "object",
      "id": "DocumentRemove",
      "description": "A Document has been removed from the view of the targets. Sent if the document is no longer relevant to a target and is out of view. Can be sent instead of a DocumentDelete or a DocumentChange if the server can not send the new value of the document. Multiple DocumentRemove messages may be returned for the same logical write or delete, if multiple targets are affected.",
      "properties": {
        "removedTargetIds": {
          "description": "A set of target IDs for targets that previously matched this document.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "document": {
          "description": "The resource name of the Document that has gone out of view.",
          "type": "string"
        },
        "readTime": {
          "description": "The read timestamp at which the remove was observed. Greater or equal to the `commit_time` of the change/delete/remove.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CollectionSelector": {
      "id": "CollectionSelector",
      "description": "A selection of a collection, such as `messages as m1`.",
      "properties": {
        "collectionId": {
          "description": "The collection ID. When set, selects only collections with this ID.",
          "type": "string"
        },
        "allDescendants": {
          "description": "When false, selects only collections that are immediate children of the `parent` specified in the containing `RunQueryRequest`. When true, selects all descendant collections.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1Index": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "The state of the index. Output only.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "ERROR"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist."
          ]
        },
        "collectionId": {
          "description": "The collection ID to which this index applies. Required.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the index. Output only.",
          "type": "string"
        },
        "fields": {
          "description": "The fields to index.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1IndexField"
          }
        }
      },
      "id": "GoogleFirestoreAdminV1beta1Index",
      "description": "An index definition."
    },
    "GoogleFirestoreAdminV1beta1IndexField": {
      "id": "GoogleFirestoreAdminV1beta1IndexField",
      "description": "A field of an index.",
      "properties": {
        "fieldPath": {
          "description": "The path of the field. Must match the field path specification described by google.firestore.v1beta1.Document.fields. Special field path `__name__` may be used by itself or at the end of a path. `__type__` may be used only at the end of path.",
          "type": "string"
        },
        "mode": {
          "type": "string",
          "description": "The field's mode.",
          "enum": [
            "MODE_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING",
            "ARRAY_CONTAINS"
          ],
          "enumDescriptions": [
            "The mode is unspecified.",
            "The field's values are indexed so as to support sequencing in ascending order and also query by <, >, <=, >=, and =.",
            "The field's values are indexed so as to support sequencing in descending order and also query by <, >, <=, >=, and =.",
            "The field's array values are indexed so as to support membership using ARRAY_CONTAINS queries."
          ]
        }
      },
      "type": "object"
    },
    "Aggregation": {
      "properties": {
        "count": {
          "description": "Count aggregator.",
          "$ref": "Count"
        },
        "sum": {
          "$ref": "Sum",
          "description": "Sum aggregator."
        },
        "alias": {
          "description": "Optional. Optional name of the field to store the result of the aggregation into. If not provided, Firestore will pick a default name following the format `field_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS field_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) AS field_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to document field name limitations.",
          "type": "string"
        },
        "avg": {
          "$ref": "Avg",
          "description": "Average aggregator."
        }
      },
      "id": "Aggregation",
      "description": "Defines an aggregation that produces a single result.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1IndexOperationMetadata": {
      "id": "GoogleFirestoreAdminV1beta1IndexOperationMetadata",
      "description": "Metadata for index operations. This metadata populates the metadata field of google.longrunning.Operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active."
        },
        "index": {
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`",
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Never set by server.",
            "The operation is creating the index. Initiated by a `CreateIndex` call."
          ],
          "description": "The type of index operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATING_INDEX"
          ]
        },
        "cancelled": {
          "description": "True if the [google.longrunning.Operation] was cancelled. If the cancellation is in progress, cancelled will be true but google.longrunning.Operation.done will be false.",
          "type": "boolean"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that work began on the operation."
        },
        "documentProgress": {
          "$ref": "GoogleFirestoreAdminV1beta1Progress",
          "description": "Progress of the existing operation, measured in number of documents."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata": {
      "properties": {
        "startTime": {
          "description": "The time that work began on the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The state of the import operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "inputUriPrefix": {
          "description": "The location of the documents being imported.",
          "type": "string"
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1beta1Progress",
          "description": "An estimate of the number of documents processed."
        },
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which collection ids are being imported."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata",
      "description": "Metadata for ImportDocuments operations.",
      "type": "object"
    },
    "TargetChange": {
      "type": "object",
      "id": "TargetChange",
      "description": "Targets being watched have changed.",
      "properties": {
        "cause": {
          "$ref": "Status",
          "description": "The error that resulted in this change, if applicable."
        },
        "targetChangeType": {
          "type": "string",
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ],
          "description": "The type of change that occurred.",
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ]
        },
        "targetIds": {
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "resumeToken": {
          "format": "byte",
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing."
        }
      }
    },
    "Cursor": {
      "id": "Cursor",
      "description": "A position in a query result set.",
      "properties": {
        "values": {
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        },
        "before": {
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "RunAggregationQueryRequest": {
      "properties": {
        "explainOptions": {
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned.",
          "$ref": "ExplainOptions"
        },
        "readTime": {
          "description": "Executes the query at the given timestamp. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime",
          "type": "string"
        },
        "transaction": {
          "description": "Run the aggregation within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "format": "byte",
          "type": "string"
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction as part of the query, defaulting to read-only. The new transaction ID will be returned as the first response in the stream."
        },
        "structuredAggregationQuery": {
          "description": "An aggregation query.",
          "$ref": "StructuredAggregationQuery"
        }
      },
      "id": "RunAggregationQueryRequest",
      "description": "The request for Firestore.RunAggregationQuery.",
      "type": "object"
    },
    "BitSequence": {
      "id": "BitSequence",
      "description": "A sequence of bits, encoded in a byte array. Each byte in the `bitmap` byte array stores 8 bits of the sequence. The only exception is the last byte, which may store 8 _or fewer_ bits. The `padding` defines the number of bits of the last byte to be ignored as \"padding\". The values of these \"padding\" bits are unspecified and must be ignored. To retrieve the first bit, bit 0, calculate: `(bitmap[0] & 0x01) != 0`. To retrieve the second bit, bit 1, calculate: `(bitmap[0] & 0x02) != 0`. To retrieve the third bit, bit 2, calculate: `(bitmap[0] & 0x04) != 0`. To retrieve the fourth bit, bit 3, calculate: `(bitmap[0] & 0x08) != 0`. To retrieve bit n, calculate: `(bitmap[n / 8] & (0x01 << (n % 8))) != 0`. The \"size\" of a `BitSequence` (the number of bits it contains) is calculated by this formula: `(bitmap.length * 8) - padding`.",
      "properties": {
        "padding": {
          "format": "int32",
          "description": "The number of bits of the last byte in `bitmap` to ignore as \"padding\". If the length of `bitmap` is zero, then this value must be `0`. Otherwise, this value must be between 0 and 7, inclusive.",
          "type": "integer"
        },
        "bitmap": {
          "description": "The bytes that encode the bit sequence. May have a length of zero.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1ListIndexesResponse": {
      "type": "object",
      "properties": {
        "indexes": {
          "description": "The indexes.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1Index"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ListIndexesResponse",
      "description": "The response for FirestoreAdmin.ListIndexes."
    },
    "DocumentMask": {
      "type": "object",
      "properties": {
        "fieldPaths": {
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "DocumentMask",
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value."
    },
    "Precondition": {
      "properties": {
        "exists": {
          "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned."
        }
      },
      "id": "Precondition",
      "description": "A precondition on a document, used for conditional operations.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1PitrSnapshot": {
      "id": "GoogleFirestoreAdminV1PitrSnapshot",
      "description": "A consistent snapshot of a database at a specific point in time. A PITR (Point-in-time recovery) snapshot with previous versions of a database's data is available for every minute up to the associated database's data retention period. If the PITR feature is enabled, the retention period is 7 days; otherwise, it is one hour.",
      "properties": {
        "databaseUid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Public UUID of the database the snapshot was associated with.",
          "format": "byte"
        },
        "database": {
          "description": "Required. The name of the database that this was a snapshot of. Format: `projects/{project}/databases/{database}`.",
          "type": "string"
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Snapshot time of the database."
        }
      },
      "type": "object"
    },
    "DocumentsTarget": {
      "id": "DocumentsTarget",
      "description": "A target specified by a set of documents names.",
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
        }
      },
      "type": "object"
    },
    "BeginTransactionRequest": {
      "type": "object",
      "id": "BeginTransactionRequest",
      "description": "The request for Firestore.BeginTransaction.",
      "properties": {
        "options": {
          "$ref": "TransactionOptions",
          "description": "The options for the transaction. Defaults to a read-write transaction."
        }
      }
    },
    "PlanSummary": {
      "id": "PlanSummary",
      "description": "Planning phase information for the query.",
      "properties": {
        "indexesUsed": {
          "description": "The indexes selected for the query. For example: [ {\"query_scope\": \"Collection\", \"properties\": \"(foo ASC, __name__ ASC)\"}, {\"query_scope\": \"Collection\", \"properties\": \"(bar ASC, __name__ ASC)\"} ]",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          }
        }
      },
      "type": "object"
    },
    "ListCollectionIdsRequest": {
      "properties": {
        "pageToken": {
          "description": "A page token. Must be a value from ListCollectionIdsResponse.",
          "type": "string"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of results to return.",
          "format": "int32"
        }
      },
      "id": "ListCollectionIdsRequest",
      "description": "The request for Firestore.ListCollectionIds.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "RollbackRequest": {
      "type": "object",
      "id": "RollbackRequest",
      "description": "The request for Firestore.Rollback.",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "Required. The transaction to roll back."
        }
      }
    },
    "Filter": {
      "type": "object",
      "properties": {
        "fieldFilter": {
          "description": "A filter on a document field.",
          "$ref": "FieldFilter"
        },
        "compositeFilter": {
          "description": "A composite filter.",
          "$ref": "CompositeFilter"
        },
        "unaryFilter": {
          "$ref": "UnaryFilter",
          "description": "A filter that takes exactly one argument."
        }
      },
      "id": "Filter",
      "description": "A filter."
    },
    "CommitRequest": {
      "type": "object",
      "properties": {
        "writes": {
          "description": "The writes to apply. Always executed atomically and in order.",
          "items": {
            "$ref": "Write"
          },
          "type": "array"
        },
        "transaction": {
          "format": "byte",
          "description": "If set, applies all writes in this transaction, and commits it.",
          "type": "string"
        }
      },
      "id": "CommitRequest",
      "description": "The request for Firestore.Commit."
    },
    "Target": {
      "type": "object",
      "properties": {
        "targetId": {
          "type": "integer",
          "description": "The target ID that identifies the target on the stream. Must be a positive number and non-zero. If `target_id` is 0 (or unspecified), the server will assign an ID for this target and return that in a `TargetChange::ADD` event. Once a target with `target_id=0` is added, all subsequent targets must also have `target_id=0`. If an `AddTarget` request with `target_id != 0` is sent to the server after a target with `target_id=0` is added, the server will immediately send a response with a `TargetChange::Remove` event. Note that if the client sends multiple `AddTarget` requests without an ID, the order of IDs returned in `TargetChange.target_ids` are undefined. Therefore, clients should provide a target ID instead of relying on the server to assign one. If `target_id` is non-zero, there must not be an existing active target on this stream with the same ID.",
          "format": "int32"
        },
        "query": {
          "$ref": "QueryTarget",
          "description": "A target specified by a query."
        },
        "once": {
          "description": "If the target should be removed once it is current and consistent.",
          "type": "boolean"
        },
        "documents": {
          "description": "A target specified by a set of document names.",
          "$ref": "DocumentsTarget"
        },
        "resumeToken": {
          "type": "string",
          "format": "byte",
          "description": "A resume token from a prior TargetChange for an identical target. Using a resume token with a different target is unsupported and may fail."
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start listening after a specific `read_time`. The client must know the state of matching documents at this time."
        },
        "expectedCount": {
          "type": "integer",
[...]
