{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "id": "firebasehosting:v1beta1",
  "revision": "20260308",
  "basePath": "",
  "documentationLink": "https://firebase.google.com/docs/hosting/",
  "mtlsRootUrl": "https://firebasehosting.mtls.googleapis.com/",
  "resources": {
    "sites": {
      "methods": {
        "getConfig": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
              "required": true,
              "pattern": "^sites/[^/]+/config$",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "response": {
            "$ref": "SiteConfig"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "path": "v1beta1/{+name}",
          "httpMethod": "GET",
          "id": "firebasehosting.sites.getConfig",
          "description": "Gets the Hosting metadata for a specific site."
        },
        "updateConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "response": {
            "$ref": "SiteConfig"
          },
          "parameters": {
            "name": {
              "pattern": "^sites/[^/]+/config$",
              "location": "path",
              "type": "string",
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "SiteConfig"
          },
          "id": "firebasehosting.sites.updateConfig",
          "description": "Sets the Hosting metadata for a specific site.",
          "path": "v1beta1/{+name}",
          "httpMethod": "PATCH"
        }
      },
      "resources": {
        "versions": {
          "methods": {
            "delete": {
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "id": "firebasehosting.sites.versions.delete",
              "description": "Deletes the specified version.",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "populateFiles": {
              "id": "firebasehosting.sites.versions.populateFiles",
              "description": " Adds content files to the specified version. Each file must be under 2 GB.",
              "path": "v1beta1/{+parent}:populateFiles",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                  "required": true
                }
              },
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "id": "firebasehosting.sites.versions.get",
              "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "required": true
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "response": {
                "$ref": "Version"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "required": true
                }
              },
              "id": "firebasehosting.sites.versions.list",
              "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
              "path": "v1beta1/{+parent}/versions",
              "httpMethod": "GET"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "sizeBytes": {
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                },
                "versionId": {
                  "location": "query",
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                  "deprecated": true,
                  "type": "string"
                },
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                  "required": true
                }
              },
              "request": {
                "$ref": "Version"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "response": {
                "$ref": "Version"
              },
              "id": "firebasehosting.sites.versions.create",
              "description": "Creates a new version for the specified site.",
              "path": "v1beta1/{+parent}/versions",
              "httpMethod": "POST"
            },
            "clone": {
              "id": "firebasehosting.sites.versions.clone",
              "description": "Creates a new version on the specified target site using the content of the specified version.",
              "path": "v1beta1/{+parent}/versions:clone",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH",
              "id": "firebasehosting.sites.versions.patch",
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used."
                },
                "name": {
                  "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                  "required": true,
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Version"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "response": {
                "$ref": "Version"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            }
          },
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "id": "firebasehosting.sites.versions.files.list",
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "path": "v1beta1/{+parent}/files",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                      "location": "query",
                      "type": "string"
                    },
                    "status": {
                      "location": "query",
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ],
                      "type": "string",
                      "description": " The type of files that should be listed for the specified version.",
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ]
                    },
                    "pageSize": {
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID"
                    }
                  },
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  }
                }
              }
            }
          }
        },
        "channels": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "response": {
                "$ref": "Channel"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "A comma-separated list of fields to be updated in this request.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                  "type": "string",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Channel"
              },
              "id": "firebasehosting.sites.channels.patch",
              "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH"
            },
            "create": {
              "path": "v1beta1/{+parent}/channels",
              "httpMethod": "POST",
              "id": "firebasehosting.sites.channels.create",
              "description": "Creates a new channel in the specified site.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID"
                },
                "channelId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Immutable. A unique ID within the site that identifies the channel."
                }
              },
              "request": {
                "$ref": "Channel"
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "response": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "list": {
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+parent}/channels",
              "httpMethod": "GET",
              "id": "firebasehosting.sites.channels.list",
              "description": "Lists the channels for the specified site. All sites have a default `live` channel."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "response": {
                "$ref": "Channel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "id": "firebasehosting.sites.channels.get",
              "description": "Retrieves information for the specified channel of the specified site."
            },
            "delete": {
              "id": "firebasehosting.sites.channels.delete",
              "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "type": "string",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "releases": {
              "methods": {
                "get": {
                  "id": "firebasehosting.sites.channels.releases.get",
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}",
                  "response": {
                    "$ref": "Release"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^sites/[^/]+/channels/[^/]+/releases/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "response": {
                    "$ref": "Release"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "required": true,
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "versionName": {
                      "type": "string",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Release"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "POST",
                  "id": "firebasehosting.sites.channels.releases.create",
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s)."
                },
                "list": {
                  "id": "firebasehosting.sites.channels.releases.list",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100."
                    }
                  }
                }
              }
            }
          }
        },
        "domains": {
          "methods": {
            "list": {
              "path": "v1beta1/{+parent}/domains",
              "httpMethod": "GET",
              "id": "firebasehosting.sites.domains.list",
              "description": "Lists the domains for the specified site.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "response": {
                "$ref": "ListDomainsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page size to return. Defaults to 50.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token from a previous request, if provided.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the domain configuration to get."
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "response": {
                "$ref": "Domain"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "id": "firebasehosting.sites.domains.get",
              "description": "Gets a domain mapping on the specified site."
            },
            "delete": {
              "id": "firebasehosting.sites.domains.delete",
              "description": "Deletes the existing domain mapping on the specified site.",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the domain association to delete.",
                  "type": "string",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "update": {
              "id": "firebasehosting.sites.domains.update",
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
              "path": "v1beta1/{+name}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                  "required": true
                }
              },
              "request": {
                "$ref": "Domain"
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "response": {
                "$ref": "Domain"
              }
            },
            "create": {
              "id": "firebasehosting.sites.domains.create",
              "description": "Creates a domain mapping on the specified site.",
              "path": "v1beta1/{+parent}/domains",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Domain"
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "response": {
                "$ref": "Domain"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "releases": {
          "methods": {
            "get": {
              "id": "firebasehosting.sites.releases.get",
              "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/releases/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                  "required": true
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/releases/{releasesId}",
              "response": {
                "$ref": "Release"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "response": {
                "$ref": "Release"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "location": "path"
                },
                "versionName": {
                  "type": "string",
                  "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "Release"
              },
              "id": "firebasehosting.sites.releases.create",
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "path": "v1beta1/{+parent}/releases",
              "httpMethod": "POST"
            },
            "list": {
              "id": "firebasehosting.sites.releases.list",
              "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
              "path": "v1beta1/{+parent}/releases",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The name of the operation resource."
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "id": "firebasehosting.projects.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            }
          }
        },
        "sites": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values."
                },
                "siteId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label."
                },
                "validateOnly": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. If set, validates that the site_id is available and that the request would succeed, returning the expected resulting site or error."
                }
              },
              "request": {
                "$ref": "Site"
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "response": {
                "$ref": "Site"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasehosting.projects.sites.create",
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems.",
              "path": "v1beta1/{+parent}/sites",
              "httpMethod": "POST"
            },
            "patch": {
              "id": "firebasehosting.projects.sites.patch",
              "description": "Updates attributes of the specified Hosting Site.",
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "A set of field names from your Site that you want to update."
                }
              },
              "request": {
                "$ref": "Site"
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "response": {
                "$ref": "Site"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "getConfig": {
              "id": "firebasehosting.projects.sites.getConfig",
              "description": "Gets the Hosting metadata for a specific site.",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "response": {
                "$ref": "SiteConfig"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "response": {
                "$ref": "Site"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "id": "firebasehosting.projects.sites.get",
              "description": "Gets the specified Hosting Site."
            },
            "delete": {
              "id": "firebasehosting.projects.sites.delete",
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project.",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1beta1/{+parent}/sites",
              "httpMethod": "GET",
              "id": "firebasehosting.projects.sites.list",
              "description": "Lists each Hosting Site associated with the specified parent Firebase project.",
              "parameters": {
                "parent": {
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing."
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "response": {
                "$ref": "ListSitesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "updateConfig": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config"
                },
                "updateMask": {
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "SiteConfig"
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "response": {
                "$ref": "SiteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH",
              "id": "firebasehosting.projects.sites.updateConfig",
              "description": "Sets the Hosting metadata for a specific site."
            }
          },
          "resources": {
            "customDomains": {
              "methods": {
                "get": {
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "id": "firebasehosting.projects.sites.customDomains.get",
                  "description": "Gets the specified `CustomDomain`.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the `CustomDomain` to get.",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "response": {
                    "$ref": "CustomDomain"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "delete": {
                  "id": "firebasehosting.projects.sites.customDomains.delete",
                  "description": "Deletes the specified `CustomDomain`.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "etag": {
                      "description": "A tag that represents the state of the `CustomDomain` as you know it. If present, the supplied tag must match the current value on your `CustomDomain`, or the request fails.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the `CustomDomain` to delete."
                    },
                    "allowMissing": {
                      "description": "If true, the request succeeds even if the `CustomDomain` doesn't exist.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually delete the `CustomDomain`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "firebasehosting.projects.sites.customDomains.list",
                  "description": "Lists each `CustomDomain` associated with the specified parent Hosting site. Returns `CustomDomain`s in a consistent, but undefined, order to facilitate pagination.",
                  "path": "v1beta1/{+parent}/customDomains",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The Firebase Hosting `Site` with `CustomDomain` entities you'd like to list.",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The max number of `CustomDomain` entities to return in a request. Defaults to 10.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "showDeleted": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If true, the request returns soft-deleted `CustomDomain`s that haven't been fully-deleted yet. To restore deleted `CustomDomain`s, make an `UndeleteCustomDomain` request."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token from a previous call to `ListCustomDomains` that tells the server where to resume listing."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains",
                  "response": {
                    "$ref": "ListCustomDomainsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The custom domain's parent, specifically a Firebase Hosting `Site`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create a new `CustomDomain`.",
                      "location": "query"
                    },
                    "customDomainId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID of the `CustomDomain`, which is the domain name you'd like to use with Firebase Hosting."
                    }
                  },
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.customDomains.create",
                  "description": "Creates a `CustomDomain`.",
                  "path": "v1beta1/{+parent}/customDomains",
                  "httpMethod": "POST"
                },
                "undelete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the `CustomDomain` to delete.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "UndeleteCustomDomainRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}:undelete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}:undelete",
                  "httpMethod": "POST",
                  "id": "firebasehosting.projects.sites.customDomains.undelete",
                  "description": "Undeletes the specified `CustomDomain` if it has been soft-deleted. Hosting retains soft-deleted custom domains for around 30 days before permanently deleting them."
                },
                "patch": {
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "id": "firebasehosting.projects.sites.customDomains.patch",
                  "description": "Updates the specified `CustomDomain`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Output only. The fully-qualified name of the `CustomDomain`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If true, Hosting creates the `CustomDomain` if it doesn't already exist."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create or update the `CustomDomain`.",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The set of field names from your `CustomDomain` that you want to update. A field will be overwritten if, and only if, it's in the mask. If you don't provide a mask, Hosting updates the entire `CustomDomain`.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "id": "firebasehosting.projects.sites.customDomains.operations.get",
                      "description": "Gets the latest state of a long-running operation. Use this method to poll the operation result at intervals as recommended by the API service.",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ]
                    },
                    "list": {
                      "path": "v1beta1/{+name}/operations",
                      "httpMethod": "GET",
                      "id": "firebasehosting.projects.sites.customDomains.operations.list",
                      "description": "Lists operations that match the specified filter in the request.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The standard list page size.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation's parent resource."
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations",
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ]
                    }
                  }
                }
              }
            },
            "versions": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "description": "Deletes the specified version."
                },
                "populateFiles": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}:populateFiles",
                  "httpMethod": "POST",
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "description": " Adds content files to the specified version. Each file must be under 2 GB."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "response": {
                    "$ref": "Version"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.versions.get",
                  "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                    },
                    "pageSize": {
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "id": "firebasehosting.projects.sites.versions.list",
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+parent}/versions",
                  "httpMethod": "GET"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "response": {
                    "$ref": "Version"
                  },
                  "parameters": {
                    "sizeBytes": {
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "location": "query",
                      "type": "string",
                      "format": "int64"
                    },
                    "parent": {
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "versionId": {
                      "type": "string",
                      "deprecated": true,
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Version"
                  },
                  "id": "firebasehosting.projects.sites.versions.create",
                  "description": "Creates a new version for the specified site.",
                  "path": "v1beta1/{+parent}/versions",
                  "httpMethod": "POST"
                },
                "clone": {
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "description": "Creates a new version on the specified target site using the content of the specified version.",
                  "path": "v1beta1/{+parent}/versions:clone",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID"
                    }
                  },
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create)."
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used."
                    }
                  },
                  "request": {
                    "$ref": "Version"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "response": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH"
                }
              },
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "path": "v1beta1/{+parent}/files",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "parameters": {
                        "status": {
                          "description": " The type of files that should be listed for the specified version.",
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "location": "query",
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID"
                        },
                        "pageSize": {
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "channels": {
              "methods": {
                "patch": {
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "response": {
                    "$ref": "Channel"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "A comma-separated list of fields to be updated in this request."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID"
                    }
                  },
                  "request": {
                    "$ref": "Channel"
                  }
                },
                "create": {
                  "path": "v1beta1/{+parent}/channels",
                  "httpMethod": "POST",
                  "id": "firebasehosting.projects.sites.channels.create",
                  "description": "Creates a new channel in the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "response": {
                    "$ref": "Channel"
                  },
                  "parameters": {
                    "channelId": {
                      "type": "string",
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "Channel"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "id": "firebasehosting.projects.sites.channels.list",
                  "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
                  "path": "v1beta1/{+parent}/channels",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "response": {
                    "$ref": "ListChannelsResponse"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "response": {
                    "$ref": "Channel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "id": "firebasehosting.projects.sites.channels.get",
                  "description": "Retrieves information for the specified channel of the specified site."
                },
                "delete": {
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              },
              "resources": {
                "releases": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}",
                      "response": {
                        "$ref": "Release"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+/releases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID "
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "id": "firebasehosting.projects.sites.channels.releases.get",
                      "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site."
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "response": {
                        "$ref": "Release"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                          "required": true
                        },
                        "versionName": {
                          "location": "query",
                          "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Release"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "path": "v1beta1/{+parent}/releases",
                      "httpMethod": "POST",
                      "id": "firebasehosting.projects.sites.channels.releases.create",
                      "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s)."
                    },
                    "list": {
                      "path": "v1beta1/{+parent}/releases",
                      "httpMethod": "GET",
                      "id": "firebasehosting.projects.sites.channels.releases.list",
                      "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
[...]
