{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "id": "firebaseappdistribution:v1alpha",
  "basePath": "",
  "title": "Firebase App Distribution API",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "revision": "20260413",
  "ownerName": "Google",
  "version_module": true,
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "description": "Release notes for a release.",
      "properties": {
        "releaseNotes": {
          "type": "string",
          "description": "The actual release notes text from the user."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse",
      "description": "The response message for `GetUploadStatus`.",
      "properties": {
        "status": {
          "description": "The status of the upload",
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ],
          "type": "string"
        },
        "release": {
          "description": "The release that was created from the upload (only set on \"SUCCESS\")",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        },
        "message": {
          "type": "string",
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client"
        },
        "errorCode": {
          "description": "The error code associated with (only set on \"FAILURE\")",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction"
          ],
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND"
          ],
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "id": "GoogleFirebaseAppdistroV1alphaApp",
      "type": "object",
      "description": "An app.",
      "properties": {
        "appId": {
          "description": "Firebase gmp app id",
          "type": "string"
        },
        "bundleId": {
          "type": "string",
          "description": "Bundle identifier"
        },
        "aabState": {
          "type": "string",
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ],
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ]
        },
        "projectNumber": {
          "type": "string",
          "description": "Project number of the Firebase project, for example 300830567303."
        },
        "contactEmail": {
          "type": "string",
          "description": "Developer contact email for testers to reach out to about privacy or support issues."
        },
        "platform": {
          "type": "string",
          "description": "iOS or Android"
        },
        "aabCertificate": {
          "description": "App bundle test certificate generated for the app.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice",
      "description": "A device on which automated tests can be run.",
      "properties": {
        "model": {
          "description": "Required. The device model.",
          "type": "string"
        },
        "version": {
          "description": "Required. The version of the device (API level on Android).",
          "type": "string"
        },
        "orientation": {
          "type": "string",
          "description": "Optional. The orientation of the device during the test."
        },
        "locale": {
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "properties": {
        "steps": {
          "description": "Required. Steps to be accomplished by the AI",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "description": "The request message for `BatchUpdateTestCase`.",
      "properties": {
        "requests": {
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          },
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest",
      "type": "object"
    },
    "AndroidxCrawlerOutputPoint": {
      "description": "Point for describing bounding boxes tap locations Top left is 0,0",
      "properties": {
        "yCoordinate": {
          "type": "integer",
          "format": "int32"
        },
        "xCoordinate": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AndroidxCrawlerOutputPoint",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
      "description": "Information to help the customer understand why the agent took this action.",
      "properties": {
        "annotatedScreenshotUri": {
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
          "type": "string",
          "readOnly": true
        },
        "jsonUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Structured data explaining the agent's choice."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse",
      "type": "object",
      "description": "The (empty) response message for `CancelReleaseTest`.",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "description": "Details for an assertion step.",
      "properties": {
        "result": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The result of the assertion."
        },
        "screenshot": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "description": "Output only. The screenshot used in the context of this assertion."
        },
        "explanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An explanation justifying the assertion result."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails"
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "type": "object",
      "description": "The request message for `UpdateTestCase`.",
      "properties": {
        "testCase": {
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
      "type": "object",
      "description": "Configuration for Robo crawler",
      "properties": {
        "loginCredential": {
          "description": "Optional. Login credential for automated tests",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "description": "Proto defining a release object",
      "properties": {
        "lastActivityAt": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last activity timestamp"
        },
        "displayVersion": {
          "description": "Release version",
          "type": "string"
        },
        "testerWithInstallCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of testers who have installed the release"
        },
        "openInvitationCount": {
          "description": "Number of testers who have open invitations for the release",
          "type": "integer",
          "format": "int32"
        },
        "buildVersion": {
          "type": "string",
          "description": "Release build version"
        },
        "id": {
          "type": "string",
          "description": "Release Id"
        },
        "testerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of testers added to the release"
        },
        "instanceId": {
          "description": "Instance id of the release",
          "type": "string"
        },
        "distributedAt": {
          "description": "Timestamp when the release was created",
          "format": "google-datetime",
          "type": "string"
        },
        "receivedAt": {
          "format": "google-datetime",
          "type": "string",
          "description": "unused. ",
          "deprecated": true
        },
        "releaseNotesSummary": {
          "type": "string",
          "description": "Release notes summary"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "description": "Statistics collected during a Robo test.",
      "properties": {
        "crawlDuration": {
          "description": "Output only. Duration of crawl.",
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        },
        "mainActivityCrawlTimedOut": {
          "description": "Output only. Whether the main activity crawl timed out.",
          "readOnly": true,
          "type": "boolean"
        },
        "actionsPerformed": {
          "description": "Output only. Number of actions that crawler performed.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "distinctVisitedScreens": {
          "description": "Output only. Number of distinct screens visited.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
      "type": "object",
      "description": "Hints to the crawler for identifying input fields",
      "properties": {
        "usernameResourceName": {
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        },
        "passwordResourceName": {
          "type": "string",
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "id": "GoogleFirebaseAppdistroV1alphaTestCase",
      "type": "object",
      "description": "AI test cases",
      "properties": {
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "createTime": {
          "description": "Output only. Timestamp when the test case was created",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "dependentTestCases": {
          "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Required. Display name of the test case.",
          "type": "string"
        },
        "prerequisiteTestCase": {
          "description": "Optional. Test case that must be run before this test case.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "description": "Details for a goal step.",
      "properties": {
        "goalActions": {
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "description": "Login credential for automated tests",
      "properties": {
        "google": {
          "type": "boolean",
          "description": "Optional. Are these credentials for Google?"
        },
        "fieldHints": {
          "description": "Optional. Hints to the crawler for identifying input fields",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints"
        },
        "password": {
          "description": "Optional. Password for automated tests",
          "type": "string"
        },
        "username": {
          "description": "Optional. Username for automated tests",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential"
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate",
      "type": "object",
      "description": "App bundle test certificate",
      "properties": {
        "certificateHashSha1": {
          "type": "string",
          "description": "SHA1 hash of the certificate used to resign the AAB"
        },
        "certificateHashSha256": {
          "description": "SHA256 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashMd5": {
          "type": "string",
          "description": "MD5 hash of the certificate used to resign the AAB"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "type": "object",
      "description": "The response message for `ListTestCases`.",
      "properties": {
        "testCases": {
          "description": "The test cases from the specified app.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota",
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests.",
      "properties": {
        "usage": {
          "description": "Output only. Number of `ReleaseTests` run in the current month",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`"
        },
        "limit": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "description": "An interaction with the device, such as a tap, text entry, wait, etc.",
      "properties": {
        "textInput": {
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one.",
          "readOnly": true,
          "type": "string"
        },
        "enterText": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text."
        },
        "tap": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. A tap action."
        },
        "wait": {
          "description": "Output only. A wait action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait"
        },
        "longPress": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. A long press (tap and hold) action."
        },
        "keyCode": {
          "description": "Output only. Key code for a key event action.",
          "readOnly": true,
          "type": "string"
        },
        "swipe": {
          "description": "Output only. A swipe action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe"
        },
        "dragAndDrop": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
          "description": "Output only. A drag and drop action."
        },
        "screenshot": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken."
        },
        "backAction": {
          "description": "Output only. A back action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest",
      "type": "object",
      "description": "The request message for `BatchDeleteTestCase`.",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest",
      "description": "Instance of an automated test for a release.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals."
        },
        "testCase": {
          "type": "string",
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the test was run."
        },
        "deviceExecutions": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          },
          "description": "Required. The results of the test on each device."
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "testState": {
          "description": "Output only. The state of the release test.",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`"
        },
        "loginCredential": {
          "description": "Optional. Input only. Login credentials for the test. Input only.",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction",
      "description": "An action taken by the AI to end the goal.",
      "properties": {
        "screenshot": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "description": "Output only. The screenshot used in the context of this terminal action."
        },
        "reason": {
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason why this goal was ended.",
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ]
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "description": "The results of running an automated test on a particular device.",
      "properties": {
        "name": {
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "description": "Output only. The state of the test.",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "roboStats": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats",
          "description": "Output only. The statistics collected during the Robo test."
        },
        "aiStepResults": {
          "description": "Output only. Results of the AI steps if passed in",
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          },
          "type": "array"
        },
        "executionType": {
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of execution for the test.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ]
        },
        "device": {
          "description": "Required. The device that the test was run on.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
        },
        "videoStartTime": {
          "description": "Output only. The time at which the video started recording.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "originDeviceExecution": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`"
        },
        "crawlGraphUri": {
          "description": "Output only. A URI to an image of the Robo crawl graph.",
          "readOnly": true,
          "type": "string"
        },
        "finalAiAssertionMissing": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion."
        },
        "inconclusiveReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The reason why the test was inconclusive.",
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ]
        },
        "appCrash": {
          "description": "Output only. An app crash, if any occurred during the test.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash"
        },
        "videoUri": {
          "description": "Output only. A URI to a video of the test run.",
          "readOnly": true,
          "type": "string"
        },
        "resultsStoragePath": {
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait.",
          "type": "string",
          "readOnly": true
        },
        "screenshotUris": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken."
        },
        "failedReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The reason why the test failed.",
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ],
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ]
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "description": "A swipe action.",
      "properties": {
        "start": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. The start point of the swipe."
        },
        "end": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. The end point of the swipe."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe"
    },
    "GoogleFirebaseAppdistroV1Release": {
      "description": "A release of a Firebase app.",
      "properties": {
        "firebaseConsoleUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to the Firebase console displaying a single release."
        },
        "testingUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices."
        },
        "binaryDownloadUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file."
        },
        "name": {
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time the release was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "buildVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`."
        },
        "createTime": {
          "description": "Output only. The time the release was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "releaseNotes": {
          "description": "Notes of the release.",
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes"
        },
        "displayVersion": {
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the release will expire."
        }
      },
      "id": "GoogleFirebaseAppdistroV1Release",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "description": "A device screenshot taken during a test.",
      "properties": {
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the screenshot."
        },
        "width": {
          "description": "Output only. The width of the screenshot, in pixels.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "height": {
          "description": "Output only. The height of the screenshot, in pixels.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot"
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "description": "The request message for `CreateReleaseNotes`.",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes body from the user",
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "description": "Request message for `ClearTestCaseCache`.",
      "properties": {
        "testDevices": {
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
      "type": "object",
      "description": "A wait action.",
      "properties": {
        "duration": {
          "readOnly": true,
          "format": "google-duration",
          "type": "string",
          "description": "Output only. The duration of the wait."
        }
      }
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata",
      "type": "object",
      "description": "Operation metadata for `UploadRelease`.",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "description": "The response message for `CreateReleaseNotes`.",
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "description": "The request message for `EnableAccessOnRelease`.",
      "properties": {
        "displayVersion": {
          "type": "string",
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id.",
          "deprecated": true
        },
        "buildVersion": {
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id.",
          "deprecated": true,
          "type": "string"
        },
        "groupIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools"
        },
        "emails": {
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "description": "Captures the results of an AiStep",
      "properties": {
        "state": {
          "description": "Output only. The current state of the step",
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ]
        },
        "goalDetails": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails",
          "description": "Output only. Details for a goal step."
        },
        "step": {
          "description": "Required. The step performed by the AI",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
        },
        "assertionDetails": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
          "description": "Output only. Details for an assertion step."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
      "description": "A drag and drop action.",
      "properties": {
        "start": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. The start point of the drag and drop."
        },
        "end": {
          "description": "Output only. The end point of the drag and drop.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "description": "A JWT token.",
      "properties": {
        "token": {
          "description": "The JWT token (three Base64URL-encoded strings joined by dots).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaJwt"
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "description": "Notes that belong to a release.",
      "properties": {
        "text": {
          "description": "The text of the release notes.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes"
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "description": "Response containing the UDIDs of tester iOS devices in a project",
      "properties": {
        "testerUdids": {
          "description": "The UDIDs of tester iOS devices in a project",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          },
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "description": "The response message for `ListReleaseTests`.",
      "properties": {
        "releaseTests": {
          "description": "The tests listed.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          }
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "description": "Response object to get the release given a upload hash",
      "properties": {
        "release": {
          "description": "Release object",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse",
      "type": "object"
    },
    "AndroidxCrawlerOutputRectangle": {
      "type": "object",
      "id": "AndroidxCrawlerOutputRectangle",
      "description": "Rectangle for describing bounding boxes",
      "properties": {
        "bottom": {
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "type": "integer",
          "format": "int32"
        },
        "right": {
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse",
      "description": "The response message for `EnableAccessOnRelease`.",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "description": "An action taken by the AI agent while attempting to accomplish a goal.",
      "properties": {
        "deviceAction": {
          "description": "Output only. A high level action taken by the AI on the device.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction"
        },
        "terminalAction": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction",
          "description": "Output only. An action taken by the AI to end the goal."
        },
        "debugInfo": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
          "description": "Output only. Debug information explaining why the agent to the specific action."
        },
        "explanation": {
          "description": "Output only. An explanation justifying why the action was taken.",
          "readOnly": true,
          "type": "string"
        },
        "cachingType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of caching used to determine the action.",
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ],
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ]
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the action started."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction"
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "description": "The UDIDs of a tester's iOS device",
      "properties": {
        "name": {
          "description": "The name of the tester's device",
          "type": "string"
        },
        "platform": {
          "type": "string",
          "description": "The platform of the tester's device"
        },
        "udid": {
          "description": "The UDID of the tester's device",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction",
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc.",
      "properties": {
        "description": {
          "description": "Output only. A short description of the high level action taken by the AI agent.",
          "type": "string",
          "readOnly": true
        },
        "deviceInteractions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          },
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash",
      "type": "object",
      "description": "An app crash that occurred during an automated test.",
      "properties": {
        "stackTrace": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The raw stack trace."
        },
        "message": {
          "description": "Output only. The message associated with the crash.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "description": "Configuration for automated tests",
      "properties": {
        "roboCrawler": {
          "description": "Optional. Configuration for Robo crawler",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler"
        },
        "testDevices": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "description": "Optional. Tests will be run on this list of devices"
        },
        "name": {
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse",
      "description": "Response message for `UploadRelease`.",
      "properties": {
        "result": {
          "type": "string",
          "description": "Result of upload release.",
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ],
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ]
        },
        "release": {
          "description": "Release associated with the uploaded binary.",
          "$ref": "GoogleFirebaseAppdistroV1Release"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "description": "The response message for `BatchUpdateTestCase`.",
      "properties": {
        "testCases": {
          "description": "The updated test cases.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "description": "A back action.",
      "properties": {},
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field.",
      "properties": {
        "text": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The text to enter."
        },
        "elementBounds": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputRectangle",
          "description": "Output only. The visible bounds of the element to enter text into."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "description": "A step to be accomplished by the AI",
      "properties": {
        "successCriteria": {
          "type": "string",
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps."
        },
        "assertion": {
          "type": "string",
          "description": "An assertion to be checked by the AI"
        },
        "testCase": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "goal": {
          "type": "string",
          "description": "A goal to be accomplished by the AI"
        },
        "hint": {
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiStep"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    }
  },
  "ownerDomain": "google.com",
  "name": "firebaseappdistribution",
  "canonicalName": "Firebase App Distribution",
  "description": "",
  "version": "v1alpha",
  "resources": {
    "apps": {
      "resources": {
        "releases": {
          "methods": {
            "enable_access": {
              "parameters": {
                "mobilesdkAppId": {
                  "location": "path",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "type": "string"
                },
                "releaseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Release identifier"
                }
              },
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "description": "Enable access on a release for testers.",
              "id": "firebaseappdistribution.apps.releases.enable_access",
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "description": "Create release notes on a release.",
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "parameters": {
                    "mobilesdkAppId": {
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "releaseId": {
                      "location": "path",
                      "description": "Required. Release identifier",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  },
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ]
                }
              }
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "id": "firebaseappdistribution.apps.release_by_hash.get",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "uploadHash": {
                  "location": "path",
                  "description": "Required. The hash for the upload",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "GET Release by binary upload hash",
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}"
            }
          }
        },
        "testers": {
          "methods": {
            "getTesterUdids": {
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "parameters": {
                "mobilesdkAppId": {
                  "location": "path",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "type": "string"
                },
                "project": {
                  "type": "string",
                  "location": "query",
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`"
                }
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              }
            }
          }
        },
        "upload_status": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              },
              "id": "firebaseappdistribution.apps.upload_status.get",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "parameters": {
                "mobilesdkAppId": {
                  "location": "path",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "type": "string"
                },
                "uploadToken": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The token for the upload",
                  "location": "path"
                }
              },
              "description": "GET Binary upload status by token",
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}"
            }
          }
        }
      },
      "methods": {
        "get": {
          "parameters": {
            "mobilesdkAppId": {
              "location": "path",
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "required": true,
              "type": "string"
            },
            "appView": {
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ],
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set.",
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "description": "Get the app, if it exists",
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          },
          "id": "firebaseappdistribution.apps.get",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha/apps/{mobilesdkAppId}"
        },
        "getJwt": {
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "firebaseappdistribution.apps.getJwt",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          },
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "description": "Get a JWT token",
          "parameters": {
            "mobilesdkAppId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "testers": {
          "methods": {
            "getUdids": {
              "parameters": {
                "project": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "path"
                },
                "mobilesdkAppId": {
                  "location": "query",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+project}/testers:udids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "parameterOrder": [
                "project"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "apps": {
          "resources": {
            "testCases": {
              "methods": {
                "list": {
                  "description": "List test cases.",
                  "path": "v1alpha/{+parent}/testCases",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "clearTestCaseCache": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache",
                  "parameterOrder": [
                    "testCase"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "parameters": {
                    "testCase": {
                      "location": "path",
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "path": "v1alpha/{+testCase}:clearTestCaseCache"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Delete a test case.",
                  "id": "firebaseappdistribution.projects.apps.testCases.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a test case.",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "batchDelete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`"
                    }
                  },
                  "description": "Deletes multiple test cases.",
                  "path": "v1alpha/{+parent}/testCases:batchDelete"
                },
                "batchUpdate": {
                  "description": "Updates multiple test cases.",
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "testCaseId": {
                      "location": "query",
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string"
                    }
                  },
                  "description": "Create a new test case.",
                  "path": "v1alpha/{+parent}/testCases"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
                    }
                  },
                  "description": "Update a test case.",
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "create": {
                      "description": "Run automated test(s) on release.",
                      "path": "v1alpha/{+parent}/tests",
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "releaseTestId": {
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "view": {
                          "type": "string",
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view.",
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ]
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "description": "List results for automated tests run on release.",
                      "path": "v1alpha/{+parent}/tests"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Get results for automated test run on release.",
                      "path": "v1alpha/{+name}"
                    },
                    "cancel": {
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "location": "path"
                        }
                      },
                      "path": "v1alpha/{+name}:cancel",
                      "description": "Abort automated test run on release."
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "updateTestConfig": {
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "id": "firebaseappdistribution.projects.apps.updateTestConfig",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "required": true,
                  "type": "string",
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Optional. The list of fields to update.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates automated test configuration.",
              "path": "v1alpha/{+name}"
            },
            "getTestConfig": {
              "description": "Gets configuration for automated tests.",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "id": "firebaseappdistribution.projects.apps.getTestConfig",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      },
      "methods": {
        "getTestQuota": {
          "path": "v1alpha/{+name}",
          "description": "Get information about the quota for `ReleaseTests`.",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/testQuota$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`",
              "location": "path"
            }
          },
          "flatPath": "v1alpha/projects/{projectsId}/testQuota",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "firebaseappdistribution.projects.getTestQuota",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          }
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/"
}