{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "version": "v1alpha",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260430",
  "version_module": true,
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Firebase App Distribution",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "servicePath": "",
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "description": "",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "properties": {
        "testCases": {
          "description": "The test cases from the specified app.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response message for `ListTestCases`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "properties": {
        "buildVersion": {
          "description": "Release build version",
          "type": "string"
        },
        "id": {
          "description": "Release Id",
          "type": "string"
        },
        "lastActivityAt": {
          "description": "Last activity timestamp",
          "type": "string",
          "format": "google-datetime"
        },
        "receivedAt": {
          "deprecated": true,
          "format": "google-datetime",
          "description": "unused. ",
          "type": "string"
        },
        "openInvitationCount": {
          "description": "Number of testers who have open invitations for the release",
          "type": "integer",
          "format": "int32"
        },
        "distributedAt": {
          "description": "Timestamp when the release was created",
          "type": "string",
          "format": "google-datetime"
        },
        "testerWithInstallCount": {
          "description": "Number of testers who have installed the release",
          "type": "integer",
          "format": "int32"
        },
        "instanceId": {
          "description": "Instance id of the release",
          "type": "string"
        },
        "displayVersion": {
          "description": "Release version",
          "type": "string"
        },
        "releaseNotesSummary": {
          "description": "Release notes summary",
          "type": "string"
        },
        "testerCount": {
          "description": "Count of testers added to the release",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Proto defining a release object",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1Release": {
      "id": "GoogleFirebaseAppdistroV1Release",
      "properties": {
        "buildVersion": {
          "readOnly": true,
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the release was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. The time the release will expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "firebaseConsoleUri": {
          "description": "Output only. A link to the Firebase console displaying a single release.",
          "type": "string",
          "readOnly": true
        },
        "releaseNotes": {
          "description": "Notes of the release.",
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes"
        },
        "testingUri": {
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices.",
          "type": "string",
          "readOnly": true
        },
        "binaryDownloadUri": {
          "readOnly": true,
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time the release was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayVersion": {
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
          "type": "string"
        }
      },
      "description": "A release of a Firebase app.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "id": "GoogleFirebaseAppdistroV1alphaJwt",
      "properties": {
        "token": {
          "description": "The JWT token (three Base64URL-encoded strings joined by dots).",
          "type": "string"
        }
      },
      "description": "A JWT token.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "description": "Hints to the crawler for identifying input fields",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
      "properties": {
        "usernameResourceName": {
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        },
        "passwordResourceName": {
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "description": "The results of running an automated test on a particular device.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution",
      "properties": {
        "inconclusiveReason": {
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "description": "Output only. The reason why the test was inconclusive."
        },
        "originDeviceExecution": {
          "readOnly": true,
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        },
        "resultsStoragePath": {
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait.",
          "type": "string",
          "readOnly": true
        },
        "finalAiAssertionMissing": {
          "readOnly": true,
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion.",
          "type": "boolean"
        },
        "device": {
          "description": "Required. The device that the test was run on.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
        },
        "roboStats": {
          "readOnly": true,
          "description": "Output only. The statistics collected during the Robo test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats"
        },
        "aiStepResults": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          },
          "description": "Output only. Results of the AI steps if passed in",
          "type": "array"
        },
        "videoStartTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the video started recording.",
          "type": "string",
          "readOnly": true
        },
        "crawlGraphUri": {
          "readOnly": true,
          "description": "Output only. A URI to an image of the Robo crawl graph.",
          "type": "string"
        },
        "failedReason": {
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ],
          "description": "Output only. The reason why the test failed."
        },
        "executionType": {
          "description": "Output only. The type of execution for the test.",
          "readOnly": true,
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ]
        },
        "appCrash": {
          "description": "Output only. An app crash, if any occurred during the test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        },
        "screenshotUris": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken.",
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "description": "Output only. The state of the test."
        },
        "videoUri": {
          "description": "Output only. A URI to a video of the test run.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "description": "The UDIDs of a tester's iOS device",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid",
      "properties": {
        "name": {
          "description": "The name of the tester's device",
          "type": "string"
        },
        "udid": {
          "description": "The UDID of the tester's device",
          "type": "string"
        },
        "platform": {
          "description": "The platform of the tester's device",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "description": "Information to help the customer understand why the agent took this action.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
      "properties": {
        "annotatedScreenshotUri": {
          "readOnly": true,
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
          "type": "string"
        },
        "jsonUri": {
          "readOnly": true,
          "description": "Output only. Structured data explaining the agent's choice.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction",
      "properties": {
        "wait": {
          "readOnly": true,
          "description": "Output only. A wait action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait"
        },
        "textInput": {
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one.",
          "type": "string",
          "readOnly": true
        },
        "longPress": {
          "description": "Output only. A long press (tap and hold) action.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        },
        "tap": {
          "description": "Output only. A tap action.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        },
        "dragAndDrop": {
          "readOnly": true,
          "description": "Output only. A drag and drop action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop"
        },
        "swipe": {
          "readOnly": true,
          "description": "Output only. A swipe action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe"
        },
        "keyCode": {
          "readOnly": true,
          "description": "Output only. Key code for a key event action.",
          "type": "string"
        },
        "enterText": {
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
          "readOnly": true
        },
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true
        },
        "backAction": {
          "description": "Output only. A back action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
          "readOnly": true
        },
        "targetOrientation": {
          "readOnly": true,
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PORTRAIT",
            "LANDSCAPE"
          ],
          "description": "Output only. The target orientation of the device in a set orientation action.",
          "enumDescriptions": [
            "Orientation unspecified.",
            "Portrait orientation.",
            "Landscape orientation."
          ],
          "type": "string"
        },
        "targetFoldedState": {
          "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An interaction with the device, such as a tap, text entry, wait, etc.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
      "properties": {
        "duration": {
          "readOnly": true,
          "description": "Output only. The duration of the wait.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "A wait action.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse",
      "properties": {},
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "description": "The response message for `CreateReleaseNotes`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "properties": {}
    },
    "AndroidxCrawlerOutputPoint": {
      "description": "Point for describing bounding boxes tap locations Top left is 0,0",
      "type": "object",
      "id": "AndroidxCrawlerOutputPoint",
      "properties": {
        "xCoordinate": {
          "type": "integer",
          "format": "int32"
        },
        "yCoordinate": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "description": "The request message for `UpdateTestCase`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "properties": {
        "testCase": {
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest",
      "properties": {
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "loginCredential": {
          "description": "Optional. Input only. Login credentials for the test. Input only.",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "name": {
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "testCase": {
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "deviceExecutions": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          },
          "description": "Required. The results of the test on each device.",
          "type": "array"
        },
        "testState": {
          "description": "Output only. The state of the release test.",
          "readOnly": true,
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the test was run.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Instance of an automated test for a release.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
      "properties": {
        "loginCredential": {
          "description": "Optional. Login credential for automated tests",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        }
      },
      "description": "Configuration for Robo crawler",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction",
      "properties": {
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this terminal action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true
        },
        "reason": {
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ],
          "description": "Output only. The reason why this goal was ended."
        }
      },
      "description": "An action taken by the AI to end the goal.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest",
      "properties": {
        "testDevices": {
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        }
      },
      "description": "Request message for `ClearTestCaseCache`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "description": "Captures the results of an AiStep",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult",
      "properties": {
        "state": {
          "description": "Output only. The current state of the step",
          "readOnly": true,
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ]
        },
        "goalDetails": {
          "readOnly": true,
          "description": "Output only. Details for a goal step.",
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails"
        },
        "step": {
          "description": "Required. The step performed by the AI",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
        },
        "assertionDetails": {
          "readOnly": true,
          "description": "Output only. Details for an assertion step.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "description": "A step to be accomplished by the AI",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiStep",
      "properties": {
        "goal": {
          "description": "A goal to be accomplished by the AI",
          "type": "string"
        },
        "assertion": {
          "description": "An assertion to be checked by the AI",
          "type": "string"
        },
        "testCase": {
          "readOnly": true,
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "hint": {
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal",
          "type": "string"
        },
        "successCriteria": {
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "description": "An app.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaApp",
      "properties": {
        "projectNumber": {
          "description": "Project number of the Firebase project, for example 300830567303.",
          "type": "string"
        },
        "bundleId": {
          "description": "Bundle identifier",
          "type": "string"
        },
        "contactEmail": {
          "description": "Developer contact email for testers to reach out to about privacy or support issues.",
          "type": "string"
        },
        "aabState": {
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ],
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ],
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
          "type": "string"
        },
        "aabCertificate": {
          "description": "App bundle test certificate generated for the app.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate"
        },
        "platform": {
          "description": "iOS or Android",
          "type": "string"
        },
        "appId": {
          "description": "Firebase gmp app id",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "description": "The request message for `CreateReleaseNotes`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes body from the user",
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction",
      "properties": {
        "explanation": {
          "description": "Output only. An explanation justifying why the action was taken.",
          "type": "string",
          "readOnly": true
        },
        "deviceAction": {
          "description": "Output only. A high level action taken by the AI on the device.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction",
          "readOnly": true
        },
        "terminalAction": {
          "description": "Output only. An action taken by the AI to end the goal.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction",
          "readOnly": true
        },
        "cachingType": {
          "type": "string",
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ],
          "description": "Output only. The type of caching used to determine the action.",
          "readOnly": true,
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ]
        },
        "debugInfo": {
          "description": "Output only. Debug information explaining why the agent to the specific action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the action started.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An action taken by the AI agent while attempting to accomplish a goal.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "description": "Details for a goal step.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails",
      "properties": {
        "goalActions": {
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse",
      "properties": {
        "release": {
          "description": "Release object",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      },
      "description": "Response object to get the release given a upload hash",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "description": "The response message for `ListReleaseTests`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "releaseTests": {
          "description": "The tests listed.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "description": "The request message for `EnableAccessOnRelease`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest",
      "properties": {
        "groupIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools",
          "type": "array"
        },
        "displayVersion": {
          "deprecated": true,
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id.",
          "type": "string"
        },
        "buildVersion": {
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id.",
          "type": "string",
          "deprecated": true
        },
        "emails": {
          "items": {
            "type": "string"
          },
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "description": "Response containing the UDIDs of tester iOS devices in a project",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse",
      "properties": {
        "testerUdids": {
          "description": "The UDIDs of tester iOS devices in a project",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
      "properties": {
        "end": {
          "readOnly": true,
          "description": "Output only. The end point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "start": {
          "readOnly": true,
          "description": "Output only. The start point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      },
      "description": "A drag and drop action.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "id": "GoogleFirebaseAppdistroV1alphaTestCase",
      "properties": {
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "name": {
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the test case.",
          "type": "string"
        },
        "dependentTestCases": {
          "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the test case was created",
          "type": "string",
          "format": "google-datetime"
        },
        "prerequisiteTestCase": {
          "description": "Optional. Test case that must be run before this test case.",
          "type": "string"
        }
      },
      "description": "AI test cases",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential",
      "properties": {
        "google": {
          "description": "Optional. Are these credentials for Google?",
          "type": "boolean"
        },
        "username": {
          "description": "Optional. Username for automated tests",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for automated tests",
          "type": "string"
        },
        "fieldHints": {
          "description": "Optional. Hints to the crawler for identifying input fields",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints"
        }
      },
      "description": "Login credential for automated tests",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest",
      "properties": {
        "names": {
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request message for `BatchDeleteTestCase`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "description": "The request message for `BatchUpdateTestCase`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          },
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "description": "Configuration for automated tests",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig",
      "properties": {
        "name": {
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "testDevices": {
          "description": "Optional. Tests will be run on this list of devices",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        },
        "roboCrawler": {
          "description": "Optional. Configuration for Robo crawler",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler"
        }
      }
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "properties": {
        "text": {
          "description": "The text of the release notes.",
          "type": "string"
        }
      },
      "description": "Notes that belong to a release.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "description": "An app crash that occurred during an automated test.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash",
      "properties": {
        "message": {
          "readOnly": true,
          "description": "Output only. The message associated with the crash.",
          "type": "string"
        },
        "stackTrace": {
          "readOnly": true,
          "description": "Output only. The raw stack trace.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "description": "A device on which automated tests can be run.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice",
      "properties": {
        "model": {
          "description": "Required. The device model.",
          "type": "string"
        },
        "locale": {
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test.",
          "type": "string"
        },
        "orientation": {
          "description": "Optional. The orientation of the device during the test.",
          "type": "string"
        },
        "version": {
          "description": "Required. The version of the device (API level on Android).",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "description": "The response message for `BatchUpdateTestCase`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse",
      "properties": {
        "testCases": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "description": "The updated test cases.",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse",
      "properties": {
        "status": {
          "description": "The status of the upload",
          "type": "string",
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ]
        },
        "message": {
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client",
          "type": "string"
        },
        "release": {
          "description": "The release that was created from the upload (only set on \"SUCCESS\")",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        },
        "errorCode": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction",
            ""
          ],
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND",
            "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED"
          ],
          "description": "The error code associated with (only set on \"FAILURE\")",
          "type": "string"
        }
      },
      "description": "The response message for `GetUploadStatus`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota",
      "properties": {
        "limit": {
          "format": "int64",
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`",
          "type": "string"
        },
        "usage": {
          "description": "Output only. Number of `ReleaseTests` run in the current month",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "description": "The response message for `EnableAccessOnRelease`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot",
      "properties": {
        "uri": {
          "description": "Output only. The URI of the screenshot.",
          "type": "string",
          "readOnly": true
        },
        "height": {
          "readOnly": true,
          "description": "Output only. The height of the screenshot, in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "format": "int32",
          "description": "Output only. The width of the screenshot, in pixels.",
          "type": "integer",
          "readOnly": true
        }
      },
      "description": "A device screenshot taken during a test.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
      "properties": {
        "screenshot": {
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this assertion.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        },
        "explanation": {
          "readOnly": true,
          "description": "Output only. An explanation justifying the assertion result.",
          "type": "string"
        },
        "result": {
          "description": "Output only. The result of the assertion.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "Details for an assertion step.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "description": "A swipe action.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
      "properties": {
        "start": {
          "readOnly": true,
          "description": "Output only. The start point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "end": {
          "description": "Output only. The end point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions",
      "properties": {
        "steps": {
          "description": "Required. Steps to be accomplished by the AI",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          }
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
      "properties": {},
      "description": "A back action.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "description": "App bundle test certificate",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate",
      "properties": {
        "certificateHashSha1": {
          "description": "SHA1 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashMd5": {
          "description": "MD5 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashSha256": {
          "description": "SHA256 hash of the certificate used to resign the AAB",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats",
      "properties": {
        "crawlDuration": {
          "readOnly": true,
          "description": "Output only. Duration of crawl.",
          "type": "string",
          "format": "google-duration"
        },
        "distinctVisitedScreens": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of distinct screens visited.",
          "type": "integer"
        },
        "actionsPerformed": {
          "description": "Output only. Number of actions that crawler performed.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "mainActivityCrawlTimedOut": {
          "description": "Output only. Whether the main activity crawl timed out.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "Statistics collected during a Robo test.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction",
      "properties": {
        "deviceInteractions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          },
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc.",
          "type": "array"
        },
        "description": {
          "description": "Output only. A short description of the high level action taken by the AI agent.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "description": "The (empty) response message for `CancelReleaseTest`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse",
      "properties": {
        "result": {
          "description": "Result of upload release.",
          "type": "string",
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ],
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ]
        },
        "release": {
          "description": "Release associated with the uploaded binary.",
          "$ref": "GoogleFirebaseAppdistroV1Release"
        }
      },
      "description": "Response message for `UploadRelease`.",
      "type": "object"
    },
    "AndroidxCrawlerOutputRectangle": {
      "id": "AndroidxCrawlerOutputRectangle",
      "properties": {
        "left": {
          "type": "integer",
          "format": "int32"
        },
        "top": {
          "type": "integer",
          "format": "int32"
        },
        "right": {
          "type": "integer",
          "format": "int32"
        },
        "bottom": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Rectangle for describing bounding boxes",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata",
      "properties": {},
      "description": "Operation metadata for `UploadRelease`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "description": "Release notes for a release.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes text from the user.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
      "properties": {
        "text": {
          "readOnly": true,
          "description": "Output only. The text to enter.",
          "type": "string"
        },
        "elementBounds": {
          "description": "Output only. The visible bounds of the element to enter text into.",
          "$ref": "AndroidxCrawlerOutputRectangle",
          "readOnly": true
        }
      }
    }
  },
  "protocol": "rest",
  "title": "Firebase App Distribution API",
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "name": "firebaseappdistribution",
  "basePath": "",
  "id": "firebaseappdistribution:v1alpha",
  "resources": {
    "apps": {
      "resources": {
        "testers": {
          "methods": {
            "getTesterUdids": {
              "description": "Get UDIDs of tester iOS devices in a project",
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              }
            }
          }
        },
        "upload_status": {
          "methods": {
            "get": {
              "description": "GET Binary upload status by token",
              "id": "firebaseappdistribution.apps.upload_status.get",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "mobilesdkAppId": {
                  "required": true,
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "type": "string"
                },
                "uploadToken": {
                  "required": true,
                  "description": "Required. The token for the upload",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              }
            }
          }
        },
        "releases": {
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "description": "Create release notes on a release.",
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  },
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "mobilesdkAppId": {
                      "required": true,
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "location": "path",
                      "type": "string"
                    },
                    "releaseId": {
                      "description": "Required. Release identifier",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "enable_access": {
              "parameters": {
                "mobilesdkAppId": {
                  "required": true,
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "type": "string"
                },
                "releaseId": {
                  "required": true,
                  "description": "Required. Release identifier",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              },
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Enable access on a release for testers.",
              "id": "firebaseappdistribution.apps.releases.enable_access"
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "description": "GET Release by binary upload hash",
              "id": "firebaseappdistribution.apps.release_by_hash.get",
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "uploadHash": {
                  "required": true,
                  "description": "Required. The hash for the upload",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "getJwt": {
          "id": "firebaseappdistribution.apps.getJwt",
          "description": "Get a JWT token",
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "mobilesdkAppId": {
              "required": true,
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "mobilesdkAppId": {
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "location": "path",
              "type": "string",
              "required": true
            },
            "appView": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ],
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set.",
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            }
          },
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          },
          "description": "Get the app, if it exists",
          "id": "firebaseappdistribution.apps.get",
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha/apps/{mobilesdkAppId}",
          "parameterOrder": [
            "mobilesdkAppId"
          ]
        }
      }
    },
    "projects": {
      "resources": {
        "testers": {
          "methods": {
            "getUdids": {
              "httpMethod": "GET",
              "parameters": {
                "project": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "pattern": "^projects/[^/]+$"
                },
                "mobilesdkAppId": {
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids",
              "parameterOrder": [
                "project"
              ],
              "path": "v1alpha/{+project}/testers:udids",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "apps": {
          "resources": {
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/tests",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List results for automated tests run on release.",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "view": {
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ],
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view.",
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ]
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`"
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "httpMethod": "GET",
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Get results for automated test run on release.",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get"
                    },
                    "create": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/tests",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create",
                      "description": "Run automated test(s) on release.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`"
                        },
                        "releaseTestId": {
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "httpMethod": "POST"
                    },
                    "cancel": {
                      "path": "v1alpha/{+name}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Abort automated test run on release.",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "testCases": {
              "methods": {
                "create": {
                  "id": "firebaseappdistribution.projects.apps.testCases.create",
                  "description": "Create a new test case.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/testCases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "testCaseId": {
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  }
                },
                "clearTestCaseCache": {
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "path": "v1alpha/{+testCase}:clearTestCaseCache",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "parameterOrder": [
                    "testCase"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "testCase": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  }
                },
                "patch": {
                  "description": "Update a test case.",
                  "id": "firebaseappdistribution.projects.apps.testCases.patch",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "allowMissing": {
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "description": "Get a test case.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.delete",
                  "description": "Delete a test case.",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchUpdate": {
                  "description": "Updates multiple test cases.",
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  },
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.list",
                  "description": "List test cases.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/testCases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "batchDelete": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  },
                  "path": "v1alpha/{+parent}/testCases:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes multiple test cases.",
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete"
                }
              }
            }
          },
          "methods": {
            "updateTestConfig": {
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "id": "firebaseappdistribution.projects.apps.updateTestConfig",
              "description": "Updates automated test configuration.",
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              }
            },
            "getTestConfig": {
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets configuration for automated tests.",
              "id": "firebaseappdistribution.projects.apps.getTestConfig",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "getTestQuota": {
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/testQuota$",
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          },
          "httpMethod": "GET",
          "flatPath": "v1alpha/projects/{projectsId}/testQuota",
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "firebaseappdistribution.projects.getTestQuota",
          "description": "Get information about the quota for `ReleaseTests`."
        }
      }
    }
  },
  "batchPath": "batch"
}