{
  "rootUrl": "https://forms.googleapis.com/",
  "title": "Google Forms API",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://forms.mtls.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/forms.body.readonly": {
          "description": "See all your Google Forms forms"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/forms.responses.readonly": {
          "description": "See all responses to your Google Forms forms"
        },
        "https://www.googleapis.com/auth/forms.body": {
          "description": "See, edit, create, and delete all your Google Forms forms"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/forms/api",
  "name": "forms",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "resources": {
    "forms": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/forms.body",
            "https://www.googleapis.com/auth/forms.body.readonly"
          ],
          "id": "forms.forms.get",
          "flatPath": "v1/forms/{formId}",
          "httpMethod": "GET",
          "parameters": {
            "formId": {
              "required": true,
              "type": "string",
              "description": "Required. The form ID.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "formId"
          ],
          "response": {
            "$ref": "Form"
          },
          "description": "Get a form.",
          "path": "v1/forms/{formId}"
        },
        "batchUpdate": {
          "id": "forms.forms.batchUpdate",
          "flatPath": "v1/forms/{formId}:batchUpdate",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "parameters": {
            "formId": {
              "type": "string",
              "description": "Required. The form ID.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "formId"
          ],
          "response": {
            "$ref": "BatchUpdateFormResponse"
          },
          "description": "Change the form with a batch of updates.",
          "path": "v1/forms/{formId}:batchUpdate",
          "request": {
            "$ref": "BatchUpdateFormRequest"
          },
          "httpMethod": "POST"
        },
        "create": {
          "flatPath": "v1/forms",
          "id": "forms.forms.create",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "path": "v1/forms",
          "request": {
            "$ref": "Form"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "Form"
          },
          "description": "Create a new form using the title given in the provided form message in the request. *Important:* Only the form.info.title and form.info.document_title fields are copied to the new form. All other fields including the form description, items and settings are disallowed. To create a new form and add items, you must first call forms.create to create an empty form with a title and (optional) document title, and then call forms.update to add the items.",
          "parameters": {
            "unpublished": {
              "type": "boolean",
              "description": "Optional. Whether the form is unpublished. If set to `true`, the form doesn't accept responses. If set to `false` or unset, the form is published and accepts responses.",
              "location": "query"
            }
          },
          "httpMethod": "POST"
        },
        "setPublishSettings": {
          "parameters": {
            "formId": {
              "type": "string",
              "description": "Required. The ID of the form. You can get the id from Form.form_id field.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "formId"
          ],
          "response": {
            "$ref": "SetPublishSettingsResponse"
          },
          "description": "Updates the publish settings of a form. Legacy forms aren't supported because they don't have the `publish_settings` field.",
          "path": "v1/forms/{formId}:setPublishSettings",
          "request": {
            "$ref": "SetPublishSettingsRequest"
          },
          "httpMethod": "POST",
          "id": "forms.forms.setPublishSettings",
          "flatPath": "v1/forms/{formId}:setPublishSettings",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ]
        }
      },
      "resources": {
        "responses": {
          "methods": {
            "get": {
              "path": "v1/forms/{formId}/responses/{responseId}",
              "parameterOrder": [
                "formId",
                "responseId"
              ],
              "response": {
                "$ref": "FormResponse"
              },
              "description": "Get one response from the form.",
              "parameters": {
                "formId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The form ID.",
                  "location": "path"
                },
                "responseId": {
                  "required": true,
                  "description": "Required. The response ID within the form.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/forms/{formId}/responses/{responseId}",
              "id": "forms.forms.responses.get",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "formId"
              ],
              "response": {
                "$ref": "ListFormResponsesResponse"
              },
              "description": "List a form's responses.",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of responses to return. The service may return fewer than this value. If unspecified or zero, at most 5000 responses are returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "Which form responses to return. Currently, the only supported filters are: * timestamp > *N* which means to get all form responses submitted after (but not at) timestamp *N*. * timestamp >= *N* which means to get all form responses submitted at and after timestamp *N*. For both supported filters, timestamp must be formatted in RFC3339 UTC \"Zulu\" format. Examples: \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\".",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token returned by a previous list response. If this field is set, the form and the values of the filter must be the same as for the original request.",
                  "location": "query"
                },
                "formId": {
                  "type": "string",
                  "description": "Required. ID of the Form whose responses to list.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/forms/{formId}/responses",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "id": "forms.forms.responses.list",
              "flatPath": "v1/forms/{formId}/responses"
            }
          }
        },
        "watches": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "flatPath": "v1/forms/{formId}/watches",
              "id": "forms.forms.watches.create",
              "httpMethod": "POST",
              "path": "v1/forms/{formId}/watches",
              "request": {
                "$ref": "CreateWatchRequest"
              },
              "parameters": {
                "formId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the Form to watch.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "formId"
              ],
              "response": {
                "$ref": "Watch"
              },
              "description": "Create a new watch. If a watch ID is provided, it must be unused. For each invoking project, the per form limit is one watch per Watch.EventType. A watch expires seven days after it is created (see Watch.expire_time)."
            },
            "renew": {
              "id": "forms.forms.watches.renew",
              "flatPath": "v1/forms/{formId}/watches/{watchId}:renew",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "parameters": {
                "watchId": {
                  "type": "string",
                  "description": "Required. The ID of the Watch to renew.",
                  "location": "path",
                  "required": true
                },
                "formId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the Form.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "formId",
                "watchId"
              ],
              "response": {
                "$ref": "Watch"
              },
              "description": "Renew an existing watch for seven days. The state of the watch after renewal is `ACTIVE`, and the `expire_time` is seven days from the renewal. Renewing a watch in an error state (e.g. `SUSPENDED`) succeeds if the error is no longer present, but fail otherwise. After a watch has expired, RenewWatch returns `NOT_FOUND`.",
              "path": "v1/forms/{formId}/watches/{watchId}:renew",
              "request": {
                "$ref": "RenewWatchRequest"
              },
              "httpMethod": "POST"
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/forms/{formId}/watches/{watchId}",
              "parameterOrder": [
                "formId",
                "watchId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Delete a watch.",
              "parameters": {
                "formId": {
                  "description": "Required. The ID of the Form.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "watchId": {
                  "type": "string",
                  "description": "Required. The ID of the Watch to delete.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "flatPath": "v1/forms/{formId}/watches/{watchId}",
              "id": "forms.forms.watches.delete"
            },
            "list": {
              "flatPath": "v1/forms/{formId}/watches",
              "id": "forms.forms.watches.list",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "path": "v1/forms/{formId}/watches",
              "parameters": {
                "formId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the Form whose watches to list.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "formId"
              ],
              "response": {
                "$ref": "ListWatchesResponse"
              },
              "description": "Return a list of the watches owned by the invoking project. The maximum number of watches is two: For each invoker, the limit is one for each event type per form.",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "baseUrl": "https://forms.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    }
  },
  "version_module": true,
  "description": "Reads and writes Google Forms and responses.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "basePath": "",
  "id": "forms:v1",
  "canonicalName": "Forms",
  "revision": "20260304",
  "schemas": {
    "Answer": {
      "properties": {
        "fileUploadAnswers": {
          "$ref": "FileUploadAnswers",
          "description": "Output only. The answers to a file upload question.",
          "readOnly": true
        },
        "grade": {
          "description": "Output only. The grade for the answer if the form was a quiz.",
          "readOnly": true,
          "$ref": "Grade"
        },
        "textAnswers": {
          "readOnly": true,
          "description": "Output only. The specific answers as text.",
          "$ref": "TextAnswers"
        },
        "questionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The question's ID. See also Question.question_id."
        }
      },
      "id": "Answer",
      "description": "The submitted answer for a question.",
      "type": "object"
    },
    "CreateItemRequest": {
      "type": "object",
      "id": "CreateItemRequest",
      "description": "Create an item in a form.",
      "properties": {
        "item": {
          "description": "Required. The item to create.",
          "$ref": "Item"
        },
        "location": {
          "description": "Required. Where to place the new item.",
          "$ref": "Location"
        }
      }
    },
    "MediaProperties": {
      "type": "object",
      "id": "MediaProperties",
      "description": "Properties of the media.",
      "properties": {
        "alignment": {
          "description": "Position of the media.",
          "enumDescriptions": [
            "Default value. Unused.",
            "Left align.",
            "Right align.",
            "Center."
          ],
          "type": "string",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT",
            "CENTER"
          ]
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "The width of the media in pixels. When the media is displayed, it is scaled to the smaller of this value or the width of the displayed form. The original aspect ratio of the media is preserved. If a width is not specified when the media is added to the form, it is set to the width of the media source. Width must be between 0 and 740, inclusive. Setting width to 0 or unspecified is only permitted when updating the media source."
        }
      }
    },
    "ExtraMaterial": {
      "properties": {
        "link": {
          "description": "Text feedback.",
          "$ref": "TextLink"
        },
        "video": {
          "description": "Video feedback.",
          "$ref": "VideoLink"
        }
      },
      "id": "ExtraMaterial",
      "description": "Supplementary material to the feedback.",
      "type": "object"
    },
    "QuestionItem": {
      "properties": {
        "question": {
          "description": "Required. The displayed question.",
          "$ref": "Question"
        },
        "image": {
          "description": "The image displayed within the question.",
          "$ref": "Image"
        }
      },
      "type": "object",
      "id": "QuestionItem",
      "description": "A form item containing a single question."
    },
    "Video": {
      "id": "Video",
      "description": "Data representing a video.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of a video.",
          "$ref": "MediaProperties"
        },
        "youtubeUri": {
          "description": "Required. A YouTube URI.",
          "type": "string"
        }
      }
    },
    "ListWatchesResponse": {
      "type": "object",
      "id": "ListWatchesResponse",
      "description": "The response of a ListWatchesRequest.",
      "properties": {
        "watches": {
          "description": "The returned watches.",
          "items": {
            "$ref": "Watch"
          },
          "type": "array"
        }
      }
    },
    "UpdateFormInfoRequest": {
      "id": "UpdateFormInfoRequest",
      "description": "Update Form's Info.",
      "type": "object",
      "properties": {
        "info": {
          "description": "The info to update.",
          "$ref": "Info"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Only values named in this mask are changed. At least one field must be specified. The root `info` is implied and should not be specified. A single `\"*\"` can be used as short-hand for updating every field."
        }
      }
    },
    "Image": {
      "properties": {
        "contentUri": {
          "description": "Output only. A URI from which you can download the image; this is valid only for a limited time.",
          "readOnly": true,
          "type": "string"
        },
        "altText": {
          "type": "string",
          "description": "A description of the image that is shown on hover and read by screenreaders."
        },
        "sourceUri": {
          "description": "Input only. The source URI is the URI used to insert the image. The source URI can be empty when fetched.",
          "type": "string"
        },
        "properties": {
          "description": "Properties of an image.",
          "$ref": "MediaProperties"
        }
      },
      "type": "object",
      "id": "Image",
      "description": "Data representing an image."
    },
    "DateQuestion": {
      "id": "DateQuestion",
      "description": "A date question. Date questions default to just month + day.",
      "type": "object",
      "properties": {
        "includeTime": {
          "type": "boolean",
          "description": "Whether to include the time as part of the question."
        },
        "includeYear": {
          "description": "Whether to include the year as part of the question.",
          "type": "boolean"
        }
      }
    },
    "Item": {
      "properties": {
        "itemId": {
          "type": "string",
          "description": "The item ID. On creation, it can be provided but the ID must not be already used in the form. If not provided, a new ID is assigned."
        },
        "textItem": {
          "description": "Displays a title and description on the page.",
          "$ref": "TextItem"
        },
        "description": {
          "type": "string",
          "description": "The description of the item."
        },
        "pageBreakItem": {
          "description": "Starts a new page with a title.",
          "$ref": "PageBreakItem"
        },
        "imageItem": {
          "description": "Displays an image on the page.",
          "$ref": "ImageItem"
        },
        "videoItem": {
          "description": "Displays a video on the page.",
          "$ref": "VideoItem"
        },
        "title": {
          "description": "The title of the item.",
          "type": "string"
        },
        "questionItem": {
          "description": "Poses a question to the user.",
          "$ref": "QuestionItem"
        },
        "questionGroupItem": {
          "description": "Poses one or more questions to the user with a single major prompt.",
          "$ref": "QuestionGroupItem"
        }
      },
      "id": "Item",
      "description": "A single item of the form. `kind` defines which kind of item it is.",
      "type": "object"
    },
    "TextItem": {
      "properties": {},
      "id": "TextItem",
      "description": "A text item.",
      "type": "object"
    },
    "CreateWatchRequest": {
      "id": "CreateWatchRequest",
      "description": "Create a new watch.",
      "type": "object",
      "properties": {
        "watch": {
          "description": "Required. The watch object. No ID should be set on this object; use `watch_id` instead.",
          "$ref": "Watch"
        },
        "watchId": {
          "description": "The ID to use for the watch. If specified, the ID must not already be in use. If not specified, an ID is generated. This value should be 4-63 characters, and valid characters are /a-z-/.",
          "type": "string"
        }
      }
    },
    "ListFormResponsesResponse": {
      "type": "object",
      "id": "ListFormResponsesResponse",
      "description": "Response to a ListFormResponsesRequest.",
      "properties": {
        "responses": {
          "type": "array",
          "description": "The returned form responses. Note: The `formId` field is not returned in the `FormResponse` object for list requests.",
          "items": {
            "$ref": "FormResponse"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If set, there are more responses. To get the next page of responses, provide this as `page_token` in a future request."
        }
      }
    },
    "CloudPubsubTopic": {
      "type": "object",
      "id": "CloudPubsubTopic",
      "description": "A Pub/Sub topic.",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "Required. A fully qualified Pub/Sub topic name to publish the events to. This topic must be owned by the calling project and already exist in Pub/Sub."
        }
      }
    },
    "TextLink": {
      "properties": {
        "uri": {
          "description": "Required. The URI.",
          "type": "string"
        },
        "displayText": {
          "type": "string",
          "description": "Required. Display text for the URI."
        }
      },
      "type": "object",
      "id": "TextLink",
      "description": "Link for text."
    },
    "Location": {
      "id": "Location",
      "description": "A specific location in a form.",
      "type": "object",
      "properties": {
        "index": {
          "format": "int32",
          "description": "The index of an item in the form. This must be in the range [0..*N*), where *N* is the number of items in the form.",
          "type": "integer"
        }
      }
    },
    "RenewWatchRequest": {
      "properties": {},
      "id": "RenewWatchRequest",
      "description": "Renew an existing Watch for seven days.",
      "type": "object"
    },
    "Grade": {
      "properties": {
        "correct": {
          "description": "Output only. Whether the question was answered correctly or not. A zero-point score is not enough to infer incorrectness, since a correctly answered question could be worth zero points.",
          "readOnly": true,
          "type": "boolean"
        },
        "feedback": {
          "$ref": "Feedback",
          "readOnly": true,
          "description": "Output only. Additional feedback given for an answer."
        },
        "score": {
          "format": "double",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The numeric score awarded for the answer."
        }
      },
      "type": "object",
      "id": "Grade",
      "description": "Grade information associated with a respondent's answer to a question."
    },
    "CorrectAnswers": {
      "properties": {
        "answers": {
          "description": "A list of correct answers. A quiz response can be automatically graded based on these answers. For single-valued questions, a response is marked correct if it matches any value in this list (in other words, multiple correct answers are possible). For multiple-valued (`CHECKBOX`) questions, a response is marked correct if it contains exactly the values in this list.",
          "items": {
            "$ref": "CorrectAnswer"
          },
          "type": "array"
        }
      },
      "id": "CorrectAnswers",
      "description": "The answer key for a question.",
      "type": "object"
    },
    "DeleteItemRequest": {
      "properties": {
        "location": {
          "description": "Required. The location of the item to delete.",
          "$ref": "Location"
        }
      },
      "id": "DeleteItemRequest",
      "description": "Delete an item in a form.",
      "type": "object"
    },
    "FormResponse": {
      "properties": {
        "totalScore": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. The total number of points the respondent received for their submission Only set if the form was a quiz and the response was graded. This includes points automatically awarded via autograding adjusted by any manual corrections entered by the form owner.",
          "format": "double"
        },
        "formId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The form ID."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp for the first time the response was submitted.",
          "format": "google-datetime"
        },
        "respondentEmail": {
          "description": "Output only. The email address (if collected) for the respondent.",
          "readOnly": true,
          "type": "string"
        },
        "responseId": {
          "description": "Output only. The response ID.",
          "readOnly": true,
          "type": "string"
        },
        "answers": {
          "additionalProperties": {
            "$ref": "Answer"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. The actual answers to the questions, keyed by question_id."
        },
        "lastSubmittedTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp for the most recent time the response was submitted. Does not track changes to grades."
        }
      },
      "type": "object",
      "id": "FormResponse",
      "description": "A form response."
    },
    "Info": {
      "type": "object",
      "id": "Info",
      "description": "The general information for a form.",
      "properties": {
        "documentTitle": {
          "description": "Output only. The title of the document which is visible in Drive. If Info.title is empty, `document_title` may appear in its place in the Google Forms UI and be visible to responders. `document_title` can be set on create, but cannot be modified by a batchUpdate request. Please use the [Google Drive API](https://developers.google.com/drive/api/v3/reference/files/update) if you need to programmatically update `document_title`.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the form."
        },
        "title": {
          "description": "Required. The title of the form which is visible to responders.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "TextAnswer": {
      "id": "TextAnswer",
      "description": "An answer to a question represented as text.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Output only. The answer value. Formatting used for different kinds of question: * ChoiceQuestion * `RADIO` or `DROP_DOWN`: A single string corresponding to the option that was selected. * `CHECKBOX`: Multiple strings corresponding to each option that was selected. * TextQuestion: The text that the user entered. * ScaleQuestion: A string containing the number that was selected. * DateQuestion * Without time or year: MM-DD e.g. \"05-19\" * With year: YYYY-MM-DD e.g. \"1986-05-19\" * With time: MM-DD HH:MM e.g. \"05-19 14:51\" * With year and time: YYYY-MM-DD HH:MM e.g. \"1986-05-19 14:51\" * TimeQuestion: String with time or duration in HH:MM format e.g. \"14:51\" * RowQuestion within QuestionGroupItem: The answer for each row of a QuestionGroupItem is represented as a separate Answer. Each will contain one string for `RADIO`-type choices or multiple strings for `CHECKBOX` choices.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TextQuestion": {
      "properties": {
        "paragraph": {
          "type": "boolean",
          "description": "Whether the question is a paragraph question or not. If not, the question is a short text question."
        }
      },
      "type": "object",
      "id": "TextQuestion",
      "description": "A text-based question."
    },
    "BatchUpdateFormResponse": {
      "id": "BatchUpdateFormResponse",
      "description": "Response to a BatchUpdateFormRequest.",
      "type": "object",
      "properties": {
        "writeControl": {
          "description": "The updated write control after applying the request.",
          "$ref": "WriteControl"
        },
        "form": {
          "description": "Based on the bool request field `include_form_in_response`, a form with all applied mutations/updates is returned or not. This may be later than the revision ID created by these changes.",
          "$ref": "Form"
        },
        "replies": {
          "description": "The reply of the updates. This maps 1:1 with the update requests, although replies to some requests may be empty.",
          "items": {
            "$ref": "Response"
          },
          "type": "array"
        }
      }
    },
    "ScaleQuestion": {
      "type": "object",
      "id": "ScaleQuestion",
      "description": "A scale question. The user has a range of numeric values to choose from.",
      "properties": {
        "highLabel": {
          "description": "The label to display describing the highest point on the scale.",
          "type": "string"
        },
        "low": {
          "format": "int32",
          "description": "Required. The lowest possible value for the scale.",
          "type": "integer"
        },
        "high": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The highest possible value for the scale."
        },
        "lowLabel": {
          "type": "string",
          "description": "The label to display describing the lowest point on the scale."
        }
      }
    },
    "BatchUpdateFormRequest": {
      "properties": {
        "includeFormInResponse": {
          "type": "boolean",
          "description": "Whether to return an updated version of the model in the response."
        },
        "requests": {
          "description": "Required. The update requests of this batch.",
          "items": {
            "$ref": "Request"
          },
          "type": "array"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "WriteControl"
        }
      },
      "id": "BatchUpdateFormRequest",
      "description": "A batch of updates to perform on a form. All the specified updates are made or none of them are.",
      "type": "object"
    },
    "WriteControl": {
      "properties": {
        "targetRevisionId": {
          "type": "string",
          "description": "The target revision ID of the form that the write request is applied to. If changes have occurred after this revision, the changes in this update request are transformed against those changes. This results in a new revision of the form that incorporates both the changes in the request and the intervening changes, with the server resolving conflicting changes. The target revision ID may only be used to write to recent versions of a form. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 (Bad Request Error). The request may be retried after reading the latest version of the form. In most cases a target revision ID remains valid for several minutes after it is read, but for frequently-edited forms this window may be shorter."
        },
        "requiredRevisionId": {
          "description": "The revision ID of the form that the write request is applied to. If this is not the latest revision of the form, the request is not processed and returns a 400 bad request error.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WriteControl",
      "description": "Provides control over how write requests are executed."
    },
    "Question": {
      "id": "Question",
      "description": "Any question. The specific type of question is known by its `kind`.",
      "type": "object",
      "properties": {
        "choiceQuestion": {
          "description": "A respondent can choose from a pre-defined set of options.",
          "$ref": "ChoiceQuestion"
        },
        "timeQuestion": {
          "description": "A respondent can enter a time.",
          "$ref": "TimeQuestion"
        },
        "ratingQuestion": {
          "description": "A respondent can choose a rating from a pre-defined set of icons.",
          "$ref": "RatingQuestion"
        },
        "textQuestion": {
          "description": "A respondent can enter a free text response.",
          "$ref": "TextQuestion"
        },
        "dateQuestion": {
          "description": "A respondent can enter a date.",
          "$ref": "DateQuestion"
        },
        "fileUploadQuestion": {
          "description": "A respondent can upload one or more files.",
          "$ref": "FileUploadQuestion"
        },
        "rowQuestion": {
          "description": "A row of a QuestionGroupItem.",
          "$ref": "RowQuestion"
        },
        "required": {
          "description": "Whether the question must be answered in order for a respondent to submit their response.",
          "type": "boolean"
        },
        "grading": {
          "description": "Grading setup for the question.",
          "$ref": "Grading"
        },
        "scaleQuestion": {
          "description": "A respondent can choose a number from a range.",
          "$ref": "ScaleQuestion"
        },
        "questionId": {
          "type": "string",
          "description": "Read only. The question ID. On creation, it can be provided but the ID must not be already used in the form. If not provided, a new ID is assigned."
        }
      }
    },
    "Grading": {
      "properties": {
        "correctAnswers": {
          "description": "Required. The answer key for the question. Responses are automatically graded based on this field.",
          "$ref": "CorrectAnswers"
        },
        "whenRight": {
          "description": "The feedback displayed for correct responses. This feedback can only be set for multiple choice questions that have correct answers provided.",
          "$ref": "Feedback"
        },
        "pointValue": {
          "format": "int32",
          "description": "Required. The maximum number of points a respondent can automatically get for a correct answer. This must not be negative.",
          "type": "integer"
        },
        "whenWrong": {
          "description": "The feedback displayed for incorrect responses. This feedback can only be set for multiple choice questions that have correct answers provided.",
          "$ref": "Feedback"
        },
        "generalFeedback": {
          "description": "The feedback displayed for all answers. This is commonly used for short answer questions when a quiz owner wants to quickly give respondents some sense of whether they answered the question correctly before they've had a chance to officially grade the response. General feedback cannot be set for automatically graded multiple choice questions.",
          "$ref": "Feedback"
        }
      },
      "type": "object",
      "id": "Grading",
      "description": "Grading for a single question"
    },
    "Watch": {
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp for when this will expire. Each watches.renew call resets this to seven days in the future.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the watch. Additional details about suspended watches can be found by checking the `error_type`.",
          "enumDescriptions": [
            "Unspecified state.",
            "Watch is active.",
            "The watch is suspended due to an error that may be resolved. The watch will continue to exist until it expires. To attempt to reactivate the watch a call can be made to watches.renew"
          ],
          "type": "string"
        },
        "errorType": {
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "PROJECT_NOT_AUTHORIZED",
            "NO_USER_ACCESS",
            "OTHER_ERRORS"
          ],
          "readOnly": true,
          "description": "Output only. The most recent error type for an attempted delivery. To begin watching the form again a call can be made to watches.renew which also clears this error information.",
          "enumDescriptions": [
            "Unspecified error type.",
            "The cloud project does not have access to the form being watched. This occurs if the user has revoked the authorization for your project to access their form(s). Watches with this error will not be retried. To attempt to begin watching the form again a call can be made to watches.renew",
            "The user that granted access no longer has access to the form being watched. Watches with this error will not be retried. To attempt to begin watching the form again a call can be made to watches.renew",
            "Another type of error has occurred. Whether notifications will continue depends on the watch state."
          ]
        },
        "target": {
          "description": "Required. Where to send the notification.",
          "$ref": "WatchTarget"
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "SCHEMA",
            "RESPONSES"
          ],
          "description": "Required. Which event type to watch for.",
          "enumDescriptions": [
            "Unspecified event type. This value should not be used.",
            "The schema event type. A watch with this event type will be notified about changes to form content and settings.",
            "The responses event type. A watch with this event type will be notified when form responses are submitted."
          ],
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of this watch. See notes on CreateWatchRequest.watch_id."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of when this was created."
        }
      },
      "type": "object",
      "id": "Watch",
      "description": "A watch for events for a form. When the designated event happens, a notification will be published to the specified target. The notification's attributes will include a `formId` key that has the ID of the watched form and an `eventType` key that has the string of the type. Messages are sent with at-least-once delivery and are only dropped in extraordinary circumstances. Typically all notifications should be reliably delivered within a few seconds; however, in some situations notifications may be delayed. A watch expires seven days after it is created unless it is renewed with watches.renew"
    },
    "SetPublishSettingsResponse": {
      "properties": {
        "formId": {
          "description": "Required. The ID of the Form. This is same as the Form.form_id field.",
          "type": "string"
        },
        "publishSettings": {
          "description": "The publish settings of the form.",
          "$ref": "PublishSettings"
        }
      },
      "id": "SetPublishSettingsResponse",
      "description": "The response of a SetPublishSettings request.",
      "type": "object"
    },
    "Form": {
      "properties": {
        "formId": {
          "description": "Output only. The form ID.",
          "readOnly": true,
          "type": "string"
        },
        "publishSettings": {
          "description": "Output only. The publishing settings for a form. This field isn't set for legacy forms because they don't have the publish_settings field. All newly created forms support publish settings. Forms with publish_settings value set can call SetPublishSettings API to publish or unpublish the form.",
          "readOnly": true,
          "$ref": "PublishSettings"
        },
        "revisionId": {
          "description": "Output only. The revision ID of the form. Used in the WriteControl in update requests to identify the revision on which the changes are based. The format of the revision ID may change over time, so it should be treated opaquely. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the form *content* has not changed. Conversely, a changed ID (for the same form and user) usually means the form *content* has been updated; however, a changed ID can also be due to internal factors such as ID format changes. Form content excludes form metadata, including: * sharing settings (who has access to the form) * publish_settings (if the form supports publishing and if it is published)",
          "readOnly": true,
          "type": "string"
        },
        "linkedSheetId": {
          "description": "Output only. The ID of the linked Google Sheet which is accumulating responses from this Form (if such a Sheet exists).",
          "readOnly": true,
          "type": "string"
        },
        "info": {
          "description": "Required. The title and description of the form.",
          "$ref": "Info"
        },
        "responderUri": {
          "description": "Output only. The form URI to share with responders. This opens a page that allows the user to submit responses but not edit the questions. For forms that have publish_settings value set, this is the published form URI.",
          "readOnly": true,
          "type": "string"
        },
        "settings": {
          "description": "The form's settings. This must be updated with UpdateSettingsRequest; it is ignored during CreateForm and UpdateFormInfoRequest.",
          "$ref": "FormSettings"
        },
        "items": {
          "description": "Required. A list of the form's items, which can include section headers, questions, embedded media, etc.",
          "items": {
            "$ref": "Item"
          },
          "type": "array"
        }
      },
      "id": "Form",
      "description": "A Google Forms document. A form is created in Drive, and deleting a form or changing its access protections is done via the [Drive API](https://developers.google.com/drive/api/v3/about-sdk).",
      "type": "object"
    },
    "Option": {
      "properties": {
        "goToAction": {
          "description": "Section navigation type.",
          "enumDescriptions": [
            "Default value. Unused.",
            "Go to the next section.",
            "Go back to the beginning of the form.",
            "Submit form immediately."
          ],
          "type": "string",
          "enum": [
            "GO_TO_ACTION_UNSPECIFIED",
            "NEXT_SECTION",
            "RESTART_FORM",
            "SUBMIT_FORM"
          ]
        },
        "goToSectionId": {
          "type": "string",
          "description": "Item ID of section header to go to."
        },
        "isOther": {
          "description": "Whether the option is \"other\". Currently only applies to `RADIO` and `CHECKBOX` choice types, but is not allowed in a QuestionGroupItem.",
          "type": "boolean"
        },
        "image": {
          "description": "Display image as an option.",
          "$ref": "Image"
        },
        "value": {
          "description": "Required. The choice as presented to the user.",
          "type": "string"
        }
      },
      "id": "Option",
      "description": "An option for a Choice question.",
      "type": "object"
    },
    "VideoItem": {
      "type": "object",
      "id": "VideoItem",
      "description": "An item containing a video.",
      "properties": {
        "video": {
          "description": "Required. The video displayed in the item.",
          "$ref": "Video"
        },
        "caption": {
          "type": "string",
          "description": "The text displayed below the video."
        }
      }
    },
    "FileUploadAnswer": {
      "properties": {
        "fileId": {
          "description": "Output only. The ID of the Google Drive file.",
          "readOnly": true,
          "type": "string"
        },
        "fileName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file name, as stored in Google Drive on upload."
        },
        "mimeType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The MIME type of the file, as stored in Google Drive on upload."
        }
      },
      "type": "object",
      "id": "FileUploadAnswer",
      "description": "Info for a single file submitted to a file upload question."
    },
    "UpdateSettingsRequest": {
      "id": "UpdateSettingsRequest",
      "description": "Update Form's FormSettings.",
      "type": "object",
      "properties": {
        "settings": {
          "description": "Required. The settings to update with.",
          "$ref": "FormSettings"
        },
        "updateMask": {
          "description": "Required. Only values named in this mask are changed. At least one field must be specified. The root `settings` is implied and should not be specified. A single `\"*\"` can be used as short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "UpdateItemRequest": {
      "properties": {
        "item": {
          "description": "Required. New values for the item. Note that item and question IDs are used if they are provided (and are in the field mask). If an ID is blank (and in the field mask) a new ID is generated. This means you can modify an item by getting the form via forms.get, modifying your local copy of that item to be how you want it, and using UpdateItemRequest to write it back, with the IDs being the same (or not in the field mask).",
          "$ref": "Item"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Only values named in this mask are changed."
        },
        "location": {
          "description": "Required. The location identifying the item to update.",
          "$ref": "Location"
        }
      },
      "type": "object",
      "id": "UpdateItemRequest",
      "description": "Update an item in a form."
    },
    "FileUploadQuestion": {
      "properties": {
        "folderId": {
          "type": "string",
          "description": "Required. The ID of the Drive folder where uploaded files are stored."
        },
        "types": {
          "description": "File types accepted by this question.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Unused.",
              "No restrictions on type.",
              "A Google Docs document.",
              "A Google Slides presentation.",
              "A Google Sheets spreadsheet.",
              "A drawing.",
              "A PDF.",
              "An image.",
              "A video.",
              "An audio file."
            ],
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "ANY",
              "DOCUMENT",
              "PRESENTATION",
              "SPREADSHEET",
              "DRAWING",
              "PDF",
              "IMAGE",
              "VIDEO",
              "AUDIO"
            ]
          },
          "type": "array"
        },
        "maxFiles": {
          "type": "integer",
          "description": "Maximum number of files that can be uploaded for this question in a single response.",
          "format": "int32"
        },
        "maxFileSize": {
          "description": "Maximum number of bytes allowed for any single file uploaded to this question.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "FileUploadQuestion",
      "description": "A file upload question. The API currently does not support creating file upload questions."
    },
    "VideoLink": {
      "properties": {
        "youtubeUri": {
          "type": "string",
          "description": "The URI of a YouTube video."
        },
        "displayText": {
          "description": "Required. The display text for the link.",
          "type": "string"
        }
      },
      "id": "VideoLink",
      "description": "Link to a video.",
      "type": "object"
    },
    "Feedback": {
      "type": "object",
      "id": "Feedback",
      "description": "Feedback for a respondent about their response to a question.",
      "properties": {
        "text": {
          "description": "Required. The main text of the feedback.",
          "type": "string"
        },
        "material": {
          "type": "array",
          "description": "Additional information provided as part of the feedback, often used to point the respondent to more reading and resources.",
          "items": {
            "$ref": "ExtraMaterial"
          }
        }
      }
    },
    "TextAnswers": {
      "properties": {
        "answers": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Answers to a question. For multiple-value ChoiceQuestions, each answer is a separate value.",
          "items": {
            "$ref": "TextAnswer"
          }
        }
      },
      "type": "object",
      "id": "TextAnswers",
      "description": "A question's answers as text."
    },
    "CreateItemResponse": {
      "properties": {
        "itemId": {
          "description": "The ID of the created item.",
          "type": "string"
        },
        "questionId": {
          "type": "array",
          "description": "The ID of the question created as part of this item, for a question group it lists IDs of all the questions created for this item.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CreateItemResponse",
      "description": "The result of creating an item.",
      "type": "object"
    },
    "TimeQuestion": {
      "properties": {
        "duration": {
          "type": "boolean",
          "description": "`true` if the question is about an elapsed time. Otherwise it is about a time of day."
        }
      },
      "type": "object",
      "id": "TimeQuestion",
      "description": "A time question."
    },
    "FormSettings": {
      "id": "FormSettings",
      "description": "A form's settings.",
      "type": "object",
      "properties": {
        "quizSettings": {
          "description": "Settings related to quiz forms and grading.",
          "$ref": "QuizSettings"
        },
        "emailCollectionType": {
          "description": "Optional. The setting that determines whether the form collects email addresses from respondents.",
          "enumDescriptions": [
            "Unspecified. This value is unused.",
            "The form doesn't collect email addresses. Default value if the form owner uses a Google account.",
            "The form collects email addresses automatically based on the account of the signed-in user. Default value if the form owner uses a Google Workspace account.",
            "The form collects email addresses using a field that the respondent completes on the form."
          ],
          "type": "string",
          "enum": [
            "EMAIL_COLLECTION_TYPE_UNSPECIFIED",
            "DO_NOT_COLLECT",
            "VERIFIED",
            "RESPONDER_INPUT"
          ]
        }
      }
    },
    "FileUploadAnswers": {
      "properties": {
        "answers": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. All submitted files for a FileUpload question.",
          "items": {
            "$ref": "FileUploadAnswer"
          }
        }
      },
      "id": "FileUploadAnswers",
      "description": "All submitted files for a FileUpload question.",
      "type": "object"
    },
    "Response": {
      "properties": {
        "createItem": {
          "description": "The result of creating an item.",
          "$ref": "CreateItemResponse"
        }
      },
      "id": "Response",
      "description": "A single response from an update.",
      "type": "object"
    },
    "PublishState": {
      "type": "object",
      "id": "PublishState",
      "description": "The publishing state of a form.",
      "properties": {
        "isAcceptingResponses": {
          "type": "boolean",
          "description": "Required. Whether the form accepts responses. If `is_published` is set to `false`, this field is forced to `false`."
        },
        "isPublished": {
          "type": "boolean",
          "description": "Required. Whether the form is published and visible to others."
        }
      }
    },
    "WatchTarget": {
      "properties": {
        "topic": {
          "description": "A Pub/Sub topic. To receive notifications, the topic must grant publish privileges to the Forms service account `serviceAccount:forms-notifications@system.gserviceaccount.com`. Only the project that owns a topic may create a watch with it. Pub/Sub delivery guarantees should be considered.",
          "$ref": "CloudPubsubTopic"
        }
      },
      "id": "WatchTarget",
      "description": "The target for notification delivery.",
      "type": "object"
    },
    "SetPublishSettingsRequest": {
      "properties": {
        "publishSettings": {
          "description": "Required. The desired publish settings to apply to the form.",
          "$ref": "PublishSettings"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. The `publish_settings` fields to update. This field mask accepts the following values: * `publish_state`: Updates or replaces all `publish_state` settings. * `\"*\"`: Updates or replaces all `publish_settings` fields."
        }
      },
      "type": "object",
      "id": "SetPublishSettingsRequest",
      "description": "Updates the publish settings of a Form."
    },
    "CorrectAnswer": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The correct answer value. See the documentation for TextAnswer.value for details on how various value types are formatted."
        }
      },
      "type": "object",
      "id": "CorrectAnswer",
      "description": "A single correct answer for a question. For multiple-valued (`CHECKBOX`) questions, several `CorrectAnswer`s may be needed to represent a single correct response option."
    },
    "PageBreakItem": {
      "properties": {},
      "id": "PageBreakItem",
      "description": "A page break. The title and description of this item are shown at the top of the new page.",
      "type": "object"
    },
    "Request": {
      "properties": {
        "updateFormInfo": {
          "description": "Update Form's Info.",
          "$ref": "UpdateFormInfoRequest"
        },
        "updateSettings": {
          "description": "Updates the Form's settings.",
          "$ref": "UpdateSettingsRequest"
        },
        "moveItem": {
          "description": "Move an item to a specified location.",
          "$ref": "MoveItemRequest"
        },
        "deleteItem": {
          "description": "Delete an item.",
          "$ref": "DeleteItemRequest"
        },
        "updateItem": {
          "description": "Update an item.",
          "$ref": "UpdateItemRequest"
        },
        "createItem": {
          "description": "Create a new item.",
          "$ref": "CreateItemRequest"
        }
      },
      "type": "object",
      "id": "Request",
      "description": "The kinds of update requests that can be made."
    },
    "PublishSettings": {
      "properties": {
        "publishState": {
          "description": "Optional. The publishing state of a form. When updating `publish_state`, both `is_published` and `is_accepting_responses` must be set. However, setting `is_accepting_responses` to `true` and `is_published` to `false` isn't supported and returns an error.",
          "$ref": "PublishState"
        }
      },
      "id": "PublishSettings",
      "description": "The publishing settings of a form.",
      "type": "object"
    },
    "ImageItem": {
      "type": "object",
      "id": "ImageItem",
      "description": "An item containing an image.",
      "properties": {
        "image": {
          "description": "Required. The image displayed in the item.",
          "$ref": "Image"
        }
      }
    },
    "QuestionGroupItem": {
      "properties": {
        "grid": {
          "description": "The question group is a grid with rows of multiple choice questions that share the same options. When `grid` is set, all questions in the group must be of kind `row`.",
          "$ref": "Grid"
        },
        "questions": {
          "type": "array",
          "description": "Required. A list of questions that belong in this question group. A question must only belong to one group. The `kind` of the group may affect what types of questions are allowed.",
          "items": {
            "$ref": "Question"
          }
        },
        "image": {
          "description": "The image displayed within the question group above the specific questions.",
          "$ref": "Image"
        }
      },
      "type": "object",
      "id": "QuestionGroupItem",
      "description": "Defines a question that comprises multiple questions grouped together."
    },
    "ChoiceQuestion": {
      "properties": {
        "options": {
          "type": "array",
          "description": "Required. List of options that a respondent must choose from.",
          "items": {
            "$ref": "Option"
          }
        },
        "shuffle": {
          "type": "boolean",
          "description": "Whether the options should be displayed in random order for different instances of the quiz. This is often used to prevent cheating by respondents who might be looking at another respondent's screen, or to address bias in a survey that might be introduced by always putting the same options first or last."
        },
        "type": {
          "enum": [
            "CHOICE_TYPE_UNSPECIFIED",
            "RADIO",
            "CHECKBOX",
            "DROP_DOWN"
          ],
          "description": "Required. The type of choice question.",
          "enumDescriptions": [
            "Default value. Unused.",
            "Radio buttons: All choices are shown to the user, who can only pick one of them.",
            "Checkboxes: All choices are shown to the user, who can pick any number of them.",
            "Drop-down menu: The choices are only shown to the user on demand, otherwise only the current choice is shown. Only one option can be chosen."
          ],
          "type": "string"
        }
      },
      "id": "ChoiceQuestion",
      "description": "A radio/checkbox/dropdown question.",
      "type": "object"
    },
    "QuizSettings": {
      "properties": {
        "isQuiz": {
          "type": "boolean",
          "description": "Whether this form is a quiz or not. When true, responses are graded based on question Grading. Upon setting to false, all question Grading is deleted."
        }
      },
      "id": "QuizSettings",
      "description": "Settings related to quiz forms and grading. These must be updated with the UpdateSettingsRequest.",
      "type": "object"
    },
    "MoveItemRequest": {
      "properties": {
        "originalLocation": {
          "description": "Required. The location of the item to move.",
          "$ref": "Location"
        },
        "newLocation": {
          "description": "Required. The new location for the item.",
          "$ref": "Location"
        }
      },
      "id": "MoveItemRequest",
      "description": "Move an item in a form.",
      "type": "object"
    },
    "RowQuestion": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. The title for the single row in the QuestionGroupItem."
        }
      },
      "id": "RowQuestion",
      "description": "Configuration for a question that is part of a question group.",
      "type": "object"
    },
    "RatingQuestion": {
      "properties": {
        "ratingScaleLevel": {
          "description": "Required. The rating scale level of the rating question.",
          "type": "integer",
          "format": "int32"
        },
        "iconType": {
          "description": "Required. The icon type to use for the rating.",
          "enumDescriptions": [
            "Default value. Unused.",
            "A star icon.",
            "A heart icon.",
            "A thumbs down icon."
          ],
          "type": "string",
          "enum": [
            "RATING_ICON_TYPE_UNSPECIFIED",
            "STAR",
            "HEART",
            "THUMB_UP"
          ]
        }
      },
      "id": "RatingQuestion",
      "description": "A rating question. The user has a range of icons to choose from.",
      "type": "object"
    },
    "Grid": {
      "type": "object",
      "id": "Grid",
      "description": "A grid of choices (radio or check boxes) with each row constituting a separate question. Each row has the same choices, which are shown as the columns.",
      "properties": {
        "columns": {
          "description": "Required. The choices shared by each question in the grid. In other words, the values of the columns. Only `CHECK_BOX` and `RADIO` choices are allowed.",
          "$ref": "ChoiceQuestion"
        },
        "shuffleQuestions": {
          "type": "boolean",
          "description": "If `true`, the questions are randomly ordered. In other words, the rows appear in a different order for every respondent."
        }
      }
    }
  }
}