{
  "ownerDomain": "google.com",
  "canonicalName": "Forms",
  "parameters": {
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/forms.body.readonly": {
          "description": "See all your Google Forms forms"
        },
        "https://www.googleapis.com/auth/forms.body": {
          "description": "See, edit, create, and delete all your Google Forms forms"
        },
        "https://www.googleapis.com/auth/forms.responses.readonly": {
          "description": "See all responses to your Google Forms forms"
        }
      }
    }
  },
  "title": "Google Forms API",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "resources": {
    "forms": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Form"
          },
          "response": {
            "$ref": "Form"
          },
          "parameterOrder": [],
          "parameters": {
            "unpublished": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Whether the form is unpublished. If set to `true`, the form doesn't accept responses. If set to `false` or unset, the form is published and accepts responses."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "flatPath": "v1/forms",
          "description": "Create a new form using the title given in the provided form message in the request. *Important:* Only the form.info.title and form.info.document_title fields are copied to the new form. All other fields including the form description, items and settings are disallowed. To create a new form and add items, you must first call forms.create to create an empty form with a title and (optional) document title, and then call forms.update to add the items.",
          "id": "forms.forms.create",
          "path": "v1/forms"
        },
        "get": {
          "description": "Get a form.",
          "flatPath": "v1/forms/{formId}",
          "path": "v1/forms/{formId}",
          "id": "forms.forms.get",
          "response": {
            "$ref": "Form"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "formId"
          ],
          "parameters": {
            "formId": {
              "required": true,
              "description": "Required. The form ID.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/forms.body",
            "https://www.googleapis.com/auth/forms.body.readonly"
          ]
        },
        "batchUpdate": {
          "flatPath": "v1/forms/{formId}:batchUpdate",
          "description": "Change the form with a batch of updates.",
          "id": "forms.forms.batchUpdate",
          "path": "v1/forms/{formId}:batchUpdate",
          "httpMethod": "POST",
          "request": {
            "$ref": "BatchUpdateFormRequest"
          },
          "response": {
            "$ref": "BatchUpdateFormResponse"
          },
          "parameters": {
            "formId": {
              "description": "Required. The form ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "parameterOrder": [
            "formId"
          ]
        },
        "setPublishSettings": {
          "httpMethod": "POST",
          "request": {
            "$ref": "SetPublishSettingsRequest"
          },
          "response": {
            "$ref": "SetPublishSettingsResponse"
          },
          "parameterOrder": [
            "formId"
          ],
          "parameters": {
            "formId": {
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the form. You can get the id from Form.form_id field.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "flatPath": "v1/forms/{formId}:setPublishSettings",
          "description": "Updates the publish settings of a form. Legacy forms aren't supported because they don't have the `publish_settings` field.",
          "id": "forms.forms.setPublishSettings",
          "path": "v1/forms/{formId}:setPublishSettings"
        }
      },
      "resources": {
        "responses": {
          "methods": {
            "get": {
              "id": "forms.forms.responses.get",
              "path": "v1/forms/{formId}/responses/{responseId}",
              "flatPath": "v1/forms/{formId}/responses/{responseId}",
              "description": "Get one response from the form.",
              "parameters": {
                "formId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The form ID.",
                  "required": true
                },
                "responseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The response ID within the form.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "parameterOrder": [
                "formId",
                "responseId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "FormResponse"
              }
            },
            "list": {
              "flatPath": "v1/forms/{formId}/responses",
              "description": "List a form's responses.",
              "id": "forms.forms.responses.list",
              "path": "v1/forms/{formId}/responses",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListFormResponsesResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Which form responses to return. Currently, the only supported filters are: * timestamp > *N* which means to get all form responses submitted after (but not at) timestamp *N*. * timestamp >= *N* which means to get all form responses submitted at and after timestamp *N*. For both supported filters, timestamp must be formatted in RFC3339 UTC \"Zulu\" format. Examples: \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\"."
                },
                "formId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the Form whose responses to list."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of responses to return. The service may return fewer than this value. If unspecified or zero, at most 5000 responses are returned."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token returned by a previous list response. If this field is set, the form and the values of the filter must be the same as for the original request."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "parameterOrder": [
                "formId"
              ]
            }
          }
        },
        "watches": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListWatchesResponse"
              },
              "parameters": {
                "formId": {
                  "description": "Required. ID of the Form whose watches to list.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "parameterOrder": [
                "formId"
              ],
              "flatPath": "v1/forms/{formId}/watches",
              "description": "Return a list of the watches owned by the invoking project. The maximum number of watches is two: For each invoker, the limit is one for each event type per form.",
              "id": "forms.forms.watches.list",
              "path": "v1/forms/{formId}/watches"
            },
            "create": {
              "flatPath": "v1/forms/{formId}/watches",
              "description": "Create a new watch. If a watch ID is provided, it must be unused. For each invoking project, the per form limit is one watch per Watch.EventType. A watch expires seven days after it is created (see Watch.expire_time).",
              "id": "forms.forms.watches.create",
              "path": "v1/forms/{formId}/watches",
              "httpMethod": "POST",
              "request": {
                "$ref": "CreateWatchRequest"
              },
              "response": {
                "$ref": "Watch"
              },
              "parameterOrder": [
                "formId"
              ],
              "parameters": {
                "formId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. ID of the Form to watch.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ]
            },
            "renew": {
              "parameterOrder": [
                "formId",
                "watchId"
              ],
              "parameters": {
                "formId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the Form.",
                  "required": true
                },
                "watchId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the Watch to renew.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "RenewWatchRequest"
              },
              "response": {
                "$ref": "Watch"
              },
              "id": "forms.forms.watches.renew",
              "path": "v1/forms/{formId}/watches/{watchId}:renew",
              "flatPath": "v1/forms/{formId}/watches/{watchId}:renew",
              "description": "Renew an existing watch for seven days. The state of the watch after renewal is `ACTIVE`, and the `expire_time` is seven days from the renewal. Renewing a watch in an error state (e.g. `SUSPENDED`) succeeds if the error is no longer present, but fail otherwise. After a watch has expired, RenewWatch returns `NOT_FOUND`."
            },
            "delete": {
              "flatPath": "v1/forms/{formId}/watches/{watchId}",
              "description": "Delete a watch.",
              "id": "forms.forms.watches.delete",
              "path": "v1/forms/{formId}/watches/{watchId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "formId",
                "watchId"
              ],
              "parameters": {
                "formId": {
                  "required": true,
                  "description": "Required. The ID of the Form.",
                  "location": "path",
                  "type": "string"
                },
                "watchId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the Watch to delete."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ]
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "batchPath": "batch",
  "description": "Reads and writes Google Forms and responses.",
  "mtlsRootUrl": "https://forms.mtls.googleapis.com/",
  "version_module": true,
  "rootUrl": "https://forms.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://forms.googleapis.com/",
  "name": "forms",
  "id": "forms:v1",
  "revision": "20260414",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://developers.google.com/workspace/forms/api",
  "schemas": {
    "Grade": {
      "description": "Grade information associated with a respondent's answer to a question.",
      "properties": {
        "score": {
          "type": "number",
          "format": "double",
          "description": "Output only. The numeric score awarded for the answer.",
          "readOnly": true
        },
        "correct": {
          "description": "Output only. Whether the question was answered correctly or not. A zero-point score is not enough to infer incorrectness, since a correctly answered question could be worth zero points.",
          "readOnly": true,
          "type": "boolean"
        },
        "feedback": {
          "$ref": "Feedback",
          "description": "Output only. Additional feedback given for an answer.",
          "readOnly": true
        }
      },
      "id": "Grade",
      "type": "object"
    },
    "Video": {
      "properties": {
        "properties": {
          "$ref": "MediaProperties",
          "description": "Properties of a video."
        },
        "youtubeUri": {
          "description": "Required. A YouTube URI.",
          "type": "string"
        }
      },
      "id": "Video",
      "type": "object",
      "description": "Data representing a video."
    },
    "ListWatchesResponse": {
      "description": "The response of a ListWatchesRequest.",
      "properties": {
        "watches": {
          "description": "The returned watches.",
          "items": {
            "$ref": "Watch"
          },
          "type": "array"
        }
      },
      "id": "ListWatchesResponse",
      "type": "object"
    },
    "Option": {
      "description": "An option for a Choice question.",
      "id": "Option",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "Display image as an option."
        },
        "isOther": {
          "description": "Whether the option is \"other\". Currently only applies to `RADIO` and `CHECKBOX` choice types, but is not allowed in a QuestionGroupItem.",
          "type": "boolean"
        },
        "goToAction": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Unused.",
            "Go to the next section.",
            "Go back to the beginning of the form.",
            "Submit form immediately."
          ],
          "description": "Section navigation type.",
          "enum": [
            "GO_TO_ACTION_UNSPECIFIED",
            "NEXT_SECTION",
            "RESTART_FORM",
            "SUBMIT_FORM"
          ]
        },
        "goToSectionId": {
          "description": "Item ID of section header to go to.",
          "type": "string"
        },
        "value": {
          "description": "Required. The choice as presented to the user.",
          "type": "string"
        }
      }
    },
    "Grid": {
      "description": "A grid of choices (radio or check boxes) with each row constituting a separate question. Each row has the same choices, which are shown as the columns.",
      "id": "Grid",
      "type": "object",
      "properties": {
        "columns": {
          "description": "Required. The choices shared by each question in the grid. In other words, the values of the columns. Only `CHECK_BOX` and `RADIO` choices are allowed.",
          "$ref": "ChoiceQuestion"
        },
        "shuffleQuestions": {
          "description": "If `true`, the questions are randomly ordered. In other words, the rows appear in a different order for every respondent.",
          "type": "boolean"
        }
      }
    },
    "Image": {
      "description": "Data representing an image.",
      "properties": {
        "properties": {
          "$ref": "MediaProperties",
          "description": "Properties of an image."
        },
        "sourceUri": {
          "description": "Input only. The source URI is the URI used to insert the image. The source URI can be empty when fetched.",
          "type": "string"
        },
        "contentUri": {
          "type": "string",
          "description": "Output only. A URI from which you can download the image; this is valid only for a limited time.",
          "readOnly": true
        },
        "altText": {
          "description": "A description of the image that is shown on hover and read by screenreaders.",
          "type": "string"
        }
      },
      "id": "Image",
      "type": "object"
    },
    "Question": {
      "properties": {
        "rowQuestion": {
          "description": "A row of a QuestionGroupItem.",
          "$ref": "RowQuestion"
        },
        "grading": {
          "description": "Grading setup for the question.",
          "$ref": "Grading"
        },
        "scaleQuestion": {
          "$ref": "ScaleQuestion",
          "description": "A respondent can choose a number from a range."
        },
        "textQuestion": {
          "description": "A respondent can enter a free text response.",
          "$ref": "TextQuestion"
        },
        "dateQuestion": {
          "$ref": "DateQuestion",
          "description": "A respondent can enter a date."
        },
        "choiceQuestion": {
          "$ref": "ChoiceQuestion",
          "description": "A respondent can choose from a pre-defined set of options."
        },
        "required": {
          "description": "Whether the question must be answered in order for a respondent to submit their response.",
          "type": "boolean"
        },
        "ratingQuestion": {
          "description": "A respondent can choose a rating from a pre-defined set of icons.",
          "$ref": "RatingQuestion"
        },
        "fileUploadQuestion": {
          "description": "A respondent can upload one or more files.",
          "$ref": "FileUploadQuestion"
        },
        "questionId": {
          "description": "Read only. The question ID. On creation, it can be provided but the ID must not be already used in the form. If not provided, a new ID is assigned.",
          "type": "string"
        },
        "timeQuestion": {
          "$ref": "TimeQuestion",
          "description": "A respondent can enter a time."
        }
      },
      "id": "Question",
      "type": "object",
      "description": "Any question. The specific type of question is known by its `kind`."
    },
    "MoveItemRequest": {
      "id": "MoveItemRequest",
      "type": "object",
      "properties": {
        "newLocation": {
          "$ref": "Location",
          "description": "Required. The new location for the item."
        },
        "originalLocation": {
          "description": "Required. The location of the item to move.",
          "$ref": "Location"
        }
      },
      "description": "Move an item in a form."
    },
    "SetPublishSettingsResponse": {
      "description": "The response of a SetPublishSettings request.",
      "properties": {
        "formId": {
          "description": "Required. The ID of the Form. This is same as the Form.form_id field.",
          "type": "string"
        },
        "publishSettings": {
          "$ref": "PublishSettings",
          "description": "The publish settings of the form."
        }
      },
      "id": "SetPublishSettingsResponse",
      "type": "object"
    },
    "Item": {
      "properties": {
        "pageBreakItem": {
          "description": "Starts a new page with a title.",
          "$ref": "PageBreakItem"
        },
        "title": {
          "description": "The title of the item.",
          "type": "string"
        },
        "description": {
          "description": "The description of the item.",
          "type": "string"
        },
        "itemId": {
          "description": "The item ID. On creation, it can be provided but the ID must not be already used in the form. If not provided, a new ID is assigned.",
          "type": "string"
        },
        "imageItem": {
          "$ref": "ImageItem",
          "description": "Displays an image on the page."
        },
        "textItem": {
          "description": "Displays a title and description on the page.",
          "$ref": "TextItem"
        },
        "videoItem": {
          "description": "Displays a video on the page.",
          "$ref": "VideoItem"
        },
        "questionGroupItem": {
          "description": "Poses one or more questions to the user with a single major prompt.",
          "$ref": "QuestionGroupItem"
        },
        "questionItem": {
          "$ref": "QuestionItem",
          "description": "Poses a question to the user."
        }
      },
      "id": "Item",
      "type": "object",
      "description": "A single item of the form. `kind` defines which kind of item it is."
    },
    "BatchUpdateFormResponse": {
      "properties": {
        "form": {
          "$ref": "Form",
          "description": "Based on the bool request field `include_form_in_response`, a form with all applied mutations/updates is returned or not. This may be later than the revision ID created by these changes."
        },
        "replies": {
          "type": "array",
          "description": "The reply of the updates. This maps 1:1 with the update requests, although replies to some requests may be empty.",
          "items": {
            "$ref": "Response"
          }
        },
        "writeControl": {
          "description": "The updated write control after applying the request.",
          "$ref": "WriteControl"
        }
      },
      "id": "BatchUpdateFormResponse",
      "type": "object",
      "description": "Response to a BatchUpdateFormRequest."
    },
    "FileUploadAnswer": {
      "id": "FileUploadAnswer",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Output only. The MIME type of the file, as stored in Google Drive on upload.",
          "readOnly": true,
          "type": "string"
        },
        "fileId": {
          "description": "Output only. The ID of the Google Drive file.",
          "readOnly": true,
          "type": "string"
        },
        "fileName": {
          "description": "Output only. The file name, as stored in Google Drive on upload.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Info for a single file submitted to a file upload question."
    },
    "ChoiceQuestion": {
      "id": "ChoiceQuestion",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Unused.",
            "Radio buttons: All choices are shown to the user, who can only pick one of them.",
            "Checkboxes: All choices are shown to the user, who can pick any number of them.",
            "Drop-down menu: The choices are only shown to the user on demand, otherwise only the current choice is shown. Only one option can be chosen."
          ],
          "description": "Required. The type of choice question.",
          "enum": [
            "CHOICE_TYPE_UNSPECIFIED",
            "RADIO",
            "CHECKBOX",
            "DROP_DOWN"
          ]
        },
        "shuffle": {
          "description": "Whether the options should be displayed in random order for different instances of the quiz. This is often used to prevent cheating by respondents who might be looking at another respondent's screen, or to address bias in a survey that might be introduced by always putting the same options first or last.",
          "type": "boolean"
        },
        "options": {
          "description": "Required. List of options that a respondent must choose from.",
          "items": {
            "$ref": "Option"
          },
          "type": "array"
        }
      },
      "description": "A radio/checkbox/dropdown question."
    },
    "TextAnswer": {
      "description": "An answer to a question represented as text.",
      "properties": {
        "value": {
          "description": "Output only. The answer value. Formatting used for different kinds of question: * ChoiceQuestion * `RADIO` or `DROP_DOWN`: A single string corresponding to the option that was selected. * `CHECKBOX`: Multiple strings corresponding to each option that was selected. * TextQuestion: The text that the user entered. * ScaleQuestion: A string containing the number that was selected. * DateQuestion * Without time or year: MM-DD e.g. \"05-19\" * With year: YYYY-MM-DD e.g. \"1986-05-19\" * With time: MM-DD HH:MM e.g. \"05-19 14:51\" * With year and time: YYYY-MM-DD HH:MM e.g. \"1986-05-19 14:51\" * TimeQuestion: String with time or duration in HH:MM format e.g. \"14:51\" * RowQuestion within QuestionGroupItem: The answer for each row of a QuestionGroupItem is represented as a separate Answer. Each will contain one string for `RADIO`-type choices or multiple strings for `CHECKBOX` choices.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "TextAnswer",
      "type": "object"
    },
    "TextLink": {
      "description": "Link for text.",
      "properties": {
        "uri": {
          "description": "Required. The URI.",
          "type": "string"
        },
        "displayText": {
          "description": "Required. Display text for the URI.",
          "type": "string"
        }
      },
      "id": "TextLink",
      "type": "object"
    },
    "TimeQuestion": {
      "description": "A time question.",
      "properties": {
        "duration": {
          "description": "`true` if the question is about an elapsed time. Otherwise it is about a time of day.",
          "type": "boolean"
        }
      },
      "id": "TimeQuestion",
      "type": "object"
    },
    "UpdateFormInfoRequest": {
      "id": "UpdateFormInfoRequest",
      "type": "object",
      "properties": {
        "info": {
          "description": "The info to update.",
          "$ref": "Info"
        },
        "updateMask": {
          "description": "Required. Only values named in this mask are changed. At least one field must be specified. The root `info` is implied and should not be specified. A single `\"*\"` can be used as short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Update Form's Info."
    },
    "RowQuestion": {
      "properties": {
        "title": {
          "description": "Required. The title for the single row in the QuestionGroupItem.",
          "type": "string"
        }
      },
      "id": "RowQuestion",
      "type": "object",
      "description": "Configuration for a question that is part of a question group."
    },
    "WriteControl": {
      "description": "Provides control over how write requests are executed.",
      "id": "WriteControl",
      "type": "object",
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the form that the write request is applied to. If this is not the latest revision of the form, the request is not processed and returns a 400 bad request error.",
          "type": "string"
        },
        "targetRevisionId": {
          "description": "The target revision ID of the form that the write request is applied to. If changes have occurred after this revision, the changes in this update request are transformed against those changes. This results in a new revision of the form that incorporates both the changes in the request and the intervening changes, with the server resolving conflicting changes. The target revision ID may only be used to write to recent versions of a form. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 (Bad Request Error). The request may be retried after reading the latest version of the form. In most cases a target revision ID remains valid for several minutes after it is read, but for frequently-edited forms this window may be shorter.",
          "type": "string"
        }
      }
    },
    "BatchUpdateFormRequest": {
      "properties": {
        "includeFormInResponse": {
          "description": "Whether to return an updated version of the model in the response.",
          "type": "boolean"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "WriteControl"
        },
        "requests": {
          "description": "Required. The update requests of this batch.",
          "items": {
            "$ref": "Request"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateFormRequest",
      "type": "object",
      "description": "A batch of updates to perform on a form. All the specified updates are made or none of them are."
    },
    "CreateItemResponse": {
      "id": "CreateItemResponse",
      "type": "object",
      "properties": {
        "questionId": {
          "type": "array",
          "description": "The ID of the question created as part of this item, for a question group it lists IDs of all the questions created for this item.",
          "items": {
            "type": "string"
          }
        },
        "itemId": {
          "description": "The ID of the created item.",
          "type": "string"
        }
      },
      "description": "The result of creating an item."
    },
    "UpdateSettingsRequest": {
      "description": "Update Form's FormSettings.",
      "properties": {
        "settings": {
          "description": "Required. The settings to update with.",
          "$ref": "FormSettings"
        },
        "updateMask": {
          "description": "Required. Only values named in this mask are changed. At least one field must be specified. The root `settings` is implied and should not be specified. A single `\"*\"` can be used as short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateSettingsRequest",
      "type": "object"
    },
    "DeleteItemRequest": {
      "description": "Delete an item in a form.",
      "id": "DeleteItemRequest",
      "type": "object",
      "properties": {
        "location": {
          "description": "Required. The location of the item to delete.",
          "$ref": "Location"
        }
      }
    },
    "Grading": {
      "description": "Grading for a single question",
      "properties": {
        "correctAnswers": {
          "description": "Required. The answer key for the question. Responses are automatically graded based on this field.",
          "$ref": "CorrectAnswers"
        },
        "pointValue": {
          "description": "Required. The maximum number of points a respondent can automatically get for a correct answer. This must not be negative.",
          "type": "integer",
          "format": "int32"
        },
        "whenWrong": {
          "description": "The feedback displayed for incorrect responses. This feedback can only be set for multiple choice questions that have correct answers provided.",
          "$ref": "Feedback"
        },
        "generalFeedback": {
          "$ref": "Feedback",
          "description": "The feedback displayed for all answers. This is commonly used for short answer questions when a quiz owner wants to quickly give respondents some sense of whether they answered the question correctly before they've had a chance to officially grade the response. General feedback cannot be set for automatically graded multiple choice questions."
        },
        "whenRight": {
          "$ref": "Feedback",
          "description": "The feedback displayed for correct responses. This feedback can only be set for multiple choice questions that have correct answers provided."
        }
      },
      "id": "Grading",
      "type": "object"
    },
    "TextItem": {
      "description": "A text item.",
      "id": "TextItem",
      "type": "object",
      "properties": {}
    },
    "UpdateItemRequest": {
      "description": "Update an item in a form.",
      "id": "UpdateItemRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Required. Only values named in this mask are changed.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "location": {
          "$ref": "Location",
          "description": "Required. The location identifying the item to update."
        },
        "item": {
          "$ref": "Item",
          "description": "Required. New values for the item. Note that item and question IDs are used if they are provided (and are in the field mask). If an ID is blank (and in the field mask) a new ID is generated. This means you can modify an item by getting the form via forms.get, modifying your local copy of that item to be how you want it, and using UpdateItemRequest to write it back, with the IDs being the same (or not in the field mask)."
        }
      }
    },
    "Response": {
      "description": "A single response from an update.",
      "properties": {
        "createItem": {
          "description": "The result of creating an item.",
          "$ref": "CreateItemResponse"
        }
      },
      "id": "Response",
      "type": "object"
    },
    "MediaProperties": {
      "description": "Properties of the media.",
      "properties": {
        "width": {
          "description": "The width of the media in pixels. When the media is displayed, it is scaled to the smaller of this value or the width of the displayed form. The original aspect ratio of the media is preserved. If a width is not specified when the media is added to the form, it is set to the width of the media source. Width must be between 0 and 740, inclusive. Setting width to 0 or unspecified is only permitted when updating the media source.",
          "type": "integer",
          "format": "int32"
        },
        "alignment": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Unused.",
            "Left align.",
            "Right align.",
            "Center."
          ],
          "description": "Position of the media.",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT",
            "CENTER"
          ]
        }
      },
      "id": "MediaProperties",
      "type": "object"
    },
    "VideoLink": {
      "id": "VideoLink",
      "type": "object",
      "properties": {
        "youtubeUri": {
          "description": "The URI of a YouTube video.",
          "type": "string"
        },
        "displayText": {
          "description": "Required. The display text for the link.",
          "type": "string"
        }
      },
      "description": "Link to a video."
    },
    "ListFormResponsesResponse": {
      "description": "Response to a ListFormResponsesRequest.",
      "id": "ListFormResponsesResponse",
      "type": "object",
      "properties": {
        "responses": {
          "description": "The returned form responses. Note: The `formId` field is not returned in the `FormResponse` object for list requests.",
          "items": {
            "$ref": "FormResponse"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If set, there are more responses. To get the next page of responses, provide this as `page_token` in a future request.",
          "type": "string"
        }
      }
    },
    "TextQuestion": {
      "id": "TextQuestion",
      "type": "object",
      "properties": {
        "paragraph": {
          "description": "Whether the question is a paragraph question or not. If not, the question is a short text question.",
          "type": "boolean"
        }
      },
      "description": "A text-based question."
    },
    "RatingQuestion": {
      "id": "RatingQuestion",
      "type": "object",
      "properties": {
        "iconType": {
          "description": "Required. The icon type to use for the rating.",
          "enum": [
            "RATING_ICON_TYPE_UNSPECIFIED",
            "STAR",
            "HEART",
            "THUMB_UP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Unused.",
            "A star icon.",
            "A heart icon.",
            "A thumbs down icon."
          ]
        },
        "ratingScaleLevel": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The rating scale level of the rating question."
        }
      },
      "description": "A rating question. The user has a range of icons to choose from."
    },
    "Watch": {
      "description": "A watch for events for a form. When the designated event happens, a notification will be published to the specified target. The notification's attributes will include a `formId` key that has the ID of the watched form and an `eventType` key that has the string of the type. Messages are sent with at-least-once delivery and are only dropped in extraordinary circumstances. Typically all notifications should be reliably delivered within a few seconds; however, in some situations notifications may be delayed. A watch expires seven days after it is created unless it is renewed with watches.renew",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of when this was created.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of this watch. See notes on CreateWatchRequest.watch_id.",
          "readOnly": true
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified event type. This value should not be used.",
            "The schema event type. A watch with this event type will be notified about changes to form content and settings.",
            "The responses event type. A watch with this event type will be notified when form responses are submitted."
          ],
          "description": "Required. Which event type to watch for.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "SCHEMA",
            "RESPONSES"
          ]
        },
        "target": {
          "description": "Required. Where to send the notification.",
          "$ref": "WatchTarget"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the watch. Additional details about suspended watches can be found by checking the `error_type`.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Watch is active.",
            "The watch is suspended due to an error that may be resolved. The watch will continue to exist until it expires. To attempt to reactivate the watch a call can be made to watches.renew"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ]
        },
        "errorType": {
          "description": "Output only. The most recent error type for an attempted delivery. To begin watching the form again a call can be made to watches.renew which also clears this error information.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "PROJECT_NOT_AUTHORIZED",
            "NO_USER_ACCESS",
            "OTHER_ERRORS"
          ],
          "enumDescriptions": [
            "Unspecified error type.",
            "The cloud project does not have access to the form being watched. This occurs if the user has revoked the authorization for your project to access their form(s). Watches with this error will not be retried. To attempt to begin watching the form again a call can be made to watches.renew",
            "The user that granted access no longer has access to the form being watched. Watches with this error will not be retried. To attempt to begin watching the form again a call can be made to watches.renew",
            "Another type of error has occurred. Whether notifications will continue depends on the watch state."
          ]
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp for when this will expire. Each watches.renew call resets this to seven days in the future.",
          "readOnly": true
        }
      },
      "id": "Watch",
      "type": "object"
    },
    "CloudPubsubTopic": {
      "id": "CloudPubsubTopic",
      "type": "object",
      "properties": {
        "topicName": {
          "description": "Required. A fully qualified Pub/Sub topic name to publish the events to. This topic must be owned by the calling project and already exist in Pub/Sub.",
          "type": "string"
        }
      },
      "description": "A Pub/Sub topic."
    },
    "Request": {
      "id": "Request",
      "type": "object",
      "properties": {
        "createItem": {
          "$ref": "CreateItemRequest",
          "description": "Create a new item."
        },
        "updateItem": {
          "$ref": "UpdateItemRequest",
          "description": "Update an item."
        },
        "updateFormInfo": {
          "description": "Update Form's Info.",
          "$ref": "UpdateFormInfoRequest"
        },
        "updateSettings": {
          "description": "Updates the Form's settings.",
          "$ref": "UpdateSettingsRequest"
        },
        "moveItem": {
          "description": "Move an item to a specified location.",
          "$ref": "MoveItemRequest"
        },
        "deleteItem": {
          "$ref": "DeleteItemRequest",
          "description": "Delete an item."
        }
      },
      "description": "The kinds of update requests that can be made."
    },
    "Answer": {
      "description": "The submitted answer for a question.",
      "id": "Answer",
      "type": "object",
      "properties": {
        "fileUploadAnswers": {
          "description": "Output only. The answers to a file upload question.",
          "readOnly": true,
          "$ref": "FileUploadAnswers"
        },
        "questionId": {
          "type": "string",
          "description": "Output only. The question's ID. See also Question.question_id.",
          "readOnly": true
        },
        "textAnswers": {
          "$ref": "TextAnswers",
          "description": "Output only. The specific answers as text.",
          "readOnly": true
        },
        "grade": {
          "$ref": "Grade",
          "description": "Output only. The grade for the answer if the form was a quiz.",
          "readOnly": true
        }
      }
    },
    "SetPublishSettingsRequest": {
      "description": "Updates the publish settings of a Form.",
      "id": "SetPublishSettingsRequest",
      "type": "object",
      "properties": {
        "publishSettings": {
          "$ref": "PublishSettings",
          "description": "Required. The desired publish settings to apply to the form."
        },
        "updateMask": {
          "description": "Optional. The `publish_settings` fields to update. This field mask accepts the following values: * `publish_state`: Updates or replaces all `publish_state` settings. * `\"*\"`: Updates or replaces all `publish_settings` fields.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "TextAnswers": {
      "id": "TextAnswers",
      "type": "object",
      "properties": {
        "answers": {
          "type": "array",
          "description": "Output only. Answers to a question. For multiple-value ChoiceQuestions, each answer is a separate value.",
          "readOnly": true,
          "items": {
            "$ref": "TextAnswer"
          }
        }
      },
      "description": "A question's answers as text."
    },
    "Location": {
      "description": "A specific location in a form.",
      "properties": {
        "index": {
          "description": "The index of an item in the form. This must be in the range [0..*N*), where *N* is the number of items in the form.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Location",
      "type": "object"
    },
    "VideoItem": {
      "id": "VideoItem",
      "type": "object",
      "properties": {
        "video": {
          "$ref": "Video",
          "description": "Required. The video displayed in the item."
        },
        "caption": {
          "description": "The text displayed below the video.",
          "type": "string"
        }
      },
      "description": "An item containing a video."
    },
    "WatchTarget": {
      "properties": {
        "topic": {
          "description": "A Pub/Sub topic. To receive notifications, the topic must grant publish privileges to the Forms service account `serviceAccount:forms-notifications@system.gserviceaccount.com`. Only the project that owns a topic may create a watch with it. Pub/Sub delivery guarantees should be considered.",
          "$ref": "CloudPubsubTopic"
        }
      },
      "id": "WatchTarget",
      "type": "object",
      "description": "The target for notification delivery."
    },
    "ImageItem": {
      "description": "An item containing an image.",
      "properties": {
        "image": {
          "description": "Required. The image displayed in the item.",
          "$ref": "Image"
        }
      },
      "id": "ImageItem",
      "type": "object"
    },
    "PublishSettings": {
      "description": "The publishing settings of a form.",
      "properties": {
        "publishState": {
          "description": "Optional. The publishing state of a form. When updating `publish_state`, both `is_published` and `is_accepting_responses` must be set. However, setting `is_accepting_responses` to `true` and `is_published` to `false` isn't supported and returns an error.",
          "$ref": "PublishState"
        }
      },
      "id": "PublishSettings",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "RenewWatchRequest": {
      "description": "Renew an existing Watch for seven days.",
      "properties": {},
      "id": "RenewWatchRequest",
      "type": "object"
    },
    "Info": {
      "description": "The general information for a form.",
      "id": "Info",
      "type": "object",
      "properties": {
        "title": {
          "description": "Required. The title of the form which is visible to responders.",
          "type": "string"
        },
        "documentTitle": {
          "type": "string",
          "description": "Output only. The title of the document which is visible in Drive. If Info.title is empty, `document_title` may appear in its place in the Google Forms UI and be visible to responders. `document_title` can be set on create, but cannot be modified by a batchUpdate request. Please use the [Google Drive API](https://developers.google.com/drive/api/v3/reference/files/update) if you need to programmatically update `document_title`.",
          "readOnly": true
        },
        "description": {
          "description": "The description of the form.",
          "type": "string"
        }
      }
    },
    "ExtraMaterial": {
      "description": "Supplementary material to the feedback.",
      "properties": {
        "link": {
          "description": "Text feedback.",
          "$ref": "TextLink"
        },
        "video": {
          "$ref": "VideoLink",
          "description": "Video feedback."
        }
      },
      "id": "ExtraMaterial",
      "type": "object"
    },
    "FormSettings": {
      "description": "A form's settings.",
      "properties": {
        "quizSettings": {
          "$ref": "QuizSettings",
          "description": "Settings related to quiz forms and grading."
        },
        "emailCollectionType": {
          "description": "Optional. The setting that determines whether the form collects email addresses from respondents.",
          "enum": [
            "EMAIL_COLLECTION_TYPE_UNSPECIFIED",
            "DO_NOT_COLLECT",
            "VERIFIED",
            "RESPONDER_INPUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value is unused.",
            "The form doesn't collect email addresses. Default value if the form owner uses a Google account.",
            "The form collects email addresses automatically based on the account of the signed-in user. Default value if the form owner uses a Google Workspace account.",
            "The form collects email addresses using a field that the respondent completes on the form."
          ]
        }
      },
      "id": "FormSettings",
      "type": "object"
    },
    "PublishState": {
      "properties": {
        "isAcceptingResponses": {
          "description": "Required. Whether the form accepts responses. If `is_published` is set to `false`, this field is forced to `false`.",
          "type": "boolean"
        },
        "isPublished": {
          "description": "Required. Whether the form is published and visible to others.",
          "type": "boolean"
        }
      },
      "id": "PublishState",
      "type": "object",
      "description": "The publishing state of a form."
    },
    "CorrectAnswer": {
      "properties": {
        "value": {
          "description": "Required. The correct answer value. See the documentation for TextAnswer.value for details on how various value types are formatted.",
          "type": "string"
        }
      },
      "id": "CorrectAnswer",
      "type": "object",
      "description": "A single correct answer for a question. For multiple-valued (`CHECKBOX`) questions, several `CorrectAnswer`s may be needed to represent a single correct response option."
    },
    "FormResponse": {
      "properties": {
        "formId": {
          "type": "string",
          "description": "Output only. The form ID.",
          "readOnly": true
        },
        "answers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Answer"
          },
          "description": "Output only. The actual answers to the questions, keyed by question_id.",
          "readOnly": true
        },
        "responseId": {
          "description": "Output only. The response ID.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp for the first time the response was submitted.",
          "readOnly": true
        },
        "lastSubmittedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp for the most recent time the response was submitted. Does not track changes to grades.",
          "readOnly": true
        },
        "respondentEmail": {
          "type": "string",
          "description": "Output only. The email address (if collected) for the respondent.",
          "readOnly": true
        },
        "totalScore": {
          "type": "number",
          "format": "double",
          "description": "Output only. The total number of points the respondent received for their submission Only set if the form was a quiz and the response was graded. This includes points automatically awarded via autograding adjusted by any manual corrections entered by the form owner.",
          "readOnly": true
        }
      },
      "id": "FormResponse",
      "type": "object",
      "description": "A form response."
    },
    "FileUploadAnswers": {
      "description": "All submitted files for a FileUpload question.",
      "properties": {
        "answers": {
          "type": "array",
          "description": "Output only. All submitted files for a FileUpload question.",
          "readOnly": true,
          "items": {
            "$ref": "FileUploadAnswer"
          }
        }
      },
      "id": "FileUploadAnswers",
      "type": "object"
    },
    "QuizSettings": {
      "properties": {
        "isQuiz": {
          "description": "Whether this form is a quiz or not. When true, responses are graded based on question Grading. Upon setting to false, all question Grading is deleted.",
          "type": "boolean"
        }
      },
      "id": "QuizSettings",
      "type": "object",
      "description": "Settings related to quiz forms and grading. These must be updated with the UpdateSettingsRequest."
    },
    "Feedback": {
      "description": "Feedback for a respondent about their response to a question.",
      "id": "Feedback",
      "type": "object",
      "properties": {
        "text": {
          "description": "Required. The main text of the feedback.",
          "type": "string"
        },
        "material": {
          "description": "Additional information provided as part of the feedback, often used to point the respondent to more reading and resources.",
          "items": {
            "$ref": "ExtraMaterial"
          },
          "type": "array"
        }
      }
    },
    "CreateWatchRequest": {
      "properties": {
        "watch": {
          "description": "Required. The watch object. No ID should be set on this object; use `watch_id` instead.",
          "$ref": "Watch"
        },
        "watchId": {
          "description": "The ID to use for the watch. If specified, the ID must not already be in use. If not specified, an ID is generated. This value should be 4-63 characters, and valid characters are /a-z-/.",
          "type": "string"
        }
      },
      "id": "CreateWatchRequest",
      "type": "object",
      "description": "Create a new watch."
    },
    "ScaleQuestion": {
      "description": "A scale question. The user has a range of numeric values to choose from.",
      "properties": {
        "highLabel": {
          "description": "The label to display describing the highest point on the scale.",
          "type": "string"
        },
        "lowLabel": {
          "description": "The label to display describing the lowest point on the scale.",
          "type": "string"
        },
        "low": {
          "description": "Required. The lowest possible value for the scale.",
          "type": "integer",
          "format": "int32"
        },
        "high": {
          "description": "Required. The highest possible value for the scale.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ScaleQuestion",
      "type": "object"
    },
    "FileUploadQuestion": {
      "properties": {
        "folderId": {
          "description": "Required. The ID of the Drive folder where uploaded files are stored.",
          "type": "string"
        },
        "maxFiles": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of files that can be uploaded for this question in a single response."
        },
        "types": {
          "type": "array",
          "description": "File types accepted by this question.",
          "items": {
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "ANY",
              "DOCUMENT",
              "PRESENTATION",
              "SPREADSHEET",
              "DRAWING",
              "PDF",
              "IMAGE",
              "VIDEO",
              "AUDIO"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. Unused.",
              "No restrictions on type.",
              "A Google Docs document.",
              "A Google Slides presentation.",
              "A Google Sheets spreadsheet.",
              "A drawing.",
              "A PDF.",
              "An image.",
              "A video.",
              "An audio file."
            ]
          }
        },
        "maxFileSize": {
          "description": "Maximum number of bytes allowed for any single file uploaded to this question.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "FileUploadQuestion",
      "type": "object",
      "description": "A file upload question. The API currently does not support creating file upload questions."
    },
    "DateQuestion": {
      "description": "A date question. Date questions default to just month + day.",
      "properties": {
        "includeTime": {
          "description": "Whether to include the time as part of the question.",
          "type": "boolean"
        },
        "includeYear": {
          "description": "Whether to include the year as part of the question.",
          "type": "boolean"
        }
      },
      "id": "DateQuestion",
      "type": "object"
    },
    "PageBreakItem": {
      "properties": {},
      "id": "PageBreakItem",
      "type": "object",
      "description": "A page break. The title and description of this item are shown at the top of the new page."
    },
    "Form": {
      "description": "A Google Forms document. A form is created in Drive, and deleting a form or changing its access protections is done via the [Drive API](https://developers.google.com/drive/api/v3/about-sdk).",
      "id": "Form",
      "type": "object",
      "properties": {
        "settings": {
          "description": "The form's settings. This must be updated with UpdateSettingsRequest; it is ignored during CreateForm and UpdateFormInfoRequest.",
          "$ref": "FormSettings"
        },
        "revisionId": {
          "description": "Output only. The revision ID of the form. Used in the WriteControl in update requests to identify the revision on which the changes are based. The format of the revision ID may change over time, so it should be treated opaquely. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the form *content* has not changed. Conversely, a changed ID (for the same form and user) usually means the form *content* has been updated; however, a changed ID can also be due to internal factors such as ID format changes. Form content excludes form metadata, including: * sharing settings (who has access to the form) * publish_settings (if the form supports publishing and if it is published)",
          "readOnly": true,
          "type": "string"
        },
        "publishSettings": {
          "description": "Output only. The publishing settings for a form. This field isn't set for legacy forms because they don't have the publish_settings field. All newly created forms support publish settings. Forms with publish_settings value set can call SetPublishSettings API to publish or unpublish the form.",
          "readOnly": true,
          "$ref": "PublishSettings"
        },
        "items": {
          "type": "array",
          "description": "Required. A list of the form's items, which can include section headers, questions, embedded media, etc.",
          "items": {
            "$ref": "Item"
          }
        },
        "formId": {
          "type": "string",
          "description": "Output only. The form ID.",
          "readOnly": true
        },
        "info": {
          "description": "Required. The title and description of the form.",
          "$ref": "Info"
        },
        "responderUri": {
          "description": "Output only. The form URI to share with responders. This opens a page that allows the user to submit responses but not edit the questions. For forms that have publish_settings value set, this is the published form URI.",
          "readOnly": true,
          "type": "string"
        },
        "linkedSheetId": {
          "type": "string",
          "description": "Output only. The ID of the linked Google Sheet which is accumulating responses from this Form (if such a Sheet exists).",
          "readOnly": true
        }
      }
    },
    "CorrectAnswers": {
      "properties": {
        "answers": {
          "description": "A list of correct answers. A quiz response can be automatically graded based on these answers. For single-valued questions, a response is marked correct if it matches any value in this list (in other words, multiple correct answers are possible). For multiple-valued (`CHECKBOX`) questions, a response is marked correct if it contains exactly the values in this list.",
          "items": {
            "$ref": "CorrectAnswer"
          },
          "type": "array"
        }
      },
      "id": "CorrectAnswers",
      "type": "object",
      "description": "The answer key for a question."
    },
    "QuestionGroupItem": {
      "description": "Defines a question that comprises multiple questions grouped together.",
      "properties": {
        "grid": {
          "$ref": "Grid",
          "description": "The question group is a grid with rows of multiple choice questions that share the same options. When `grid` is set, all questions in the group must be of kind `row`."
        },
        "questions": {
          "description": "Required. A list of questions that belong in this question group. A question must only belong to one group. The `kind` of the group may affect what types of questions are allowed.",
          "items": {
            "$ref": "Question"
          },
          "type": "array"
        },
        "image": {
          "$ref": "Image",
          "description": "The image displayed within the question group above the specific questions."
        }
      },
      "id": "QuestionGroupItem",
      "type": "object"
    },
    "QuestionItem": {
      "properties": {
        "question": {
          "$ref": "Question",
          "description": "Required. The displayed question."
        },
        "image": {
          "description": "The image displayed within the question.",
          "$ref": "Image"
        }
      },
      "id": "QuestionItem",
      "type": "object",
      "description": "A form item containing a single question."
    },
    "CreateItemRequest": {
      "id": "CreateItemRequest",
      "type": "object",
      "properties": {
        "item": {
          "description": "Required. The item to create.",
          "$ref": "Item"
        },
        "location": {
          "$ref": "Location",
          "description": "Required. Where to place the new item."
        }
      },
      "description": "Create an item in a form."
    }
  },
  "version": "v1"
}