{
  "id": "gamesManagement:v1management",
  "discoveryVersion": "v1",
  "canonicalName": "Games Management",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "revision": "20260423",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "basePath": "",
  "schemas": {
    "HiddenPlayer": {
      "description": "The HiddenPlayer resource.",
      "properties": {
        "player": {
          "description": "Output only. The player information.",
          "$ref": "Player",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`."
        },
        "hiddenTimeMillis": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this player was hidden.",
          "format": "int64"
        }
      },
      "id": "HiddenPlayer",
      "type": "object"
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        },
        "items": {
          "description": "The players.",
          "items": {
            "$ref": "HiddenPlayer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "description": "A list of hidden players."
    },
    "GamesPlayerLevelResource": {
      "id": "GamesPlayerLevelResource",
      "type": "object",
      "properties": {
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "1P/3P metadata about a user's level."
    },
    "AchievementResetResponse": {
      "description": "An achievement reset response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        }
      },
      "id": "AchievementResetResponse",
      "type": "object"
    },
    "PlayerScoreResetResponse": {
      "properties": {
        "resetScoreTimeSpans": {
          "type": "array",
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "items": {
            "type": "string"
          }
        },
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        }
      },
      "description": "A list of reset leaderboard entry resources.",
      "id": "PlayerScoreResetResponse",
      "type": "object"
    },
    "ProfileSettings": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "type": "boolean"
        }
      },
      "description": "Profile settings",
      "id": "ProfileSettings",
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "id": "GamesPlayerExperienceInfoResource",
      "type": "object",
      "properties": {
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "format": "int64",
          "type": "string"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64"
        }
      },
      "description": "1P/3P metadata about the player's experience."
    },
    "EventsResetMultipleForAllRequest": {
      "description": "Multiple events reset all request.",
      "properties": {
        "event_ids": {
          "type": "array",
          "description": "The IDs of events to reset.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        }
      },
      "id": "EventsResetMultipleForAllRequest",
      "type": "object"
    },
    "AchievementResetMultipleForAllRequest": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        },
        "achievement_ids": {
          "type": "array",
          "description": "The IDs of achievements to reset.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object"
    },
    "PlayerScoreResetAllResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "description": "The leaderboard reset results.",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "type": "array"
        }
      },
      "description": "A list of leaderboard reset resources.",
      "id": "PlayerScoreResetAllResponse",
      "type": "object"
    },
    "Player": {
      "id": "Player",
      "type": "object",
      "description": "A Player resource.",
      "properties": {
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "name": {
          "type": "object",
          "properties": {
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          },
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present."
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        }
      }
    },
    "AchievementResetAllResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "description": "The achievement reset results.",
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "type": "array"
        }
      },
      "description": "Achievement reset all response.",
      "id": "AchievementResetAllResponse",
      "type": "object"
    },
    "ScoresResetMultipleForAllRequest": {
      "id": "ScoresResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "description": "The IDs of leaderboards to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    }
  },
  "version": "v1management",
  "name": "gamesManagement",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "resources": {
    "scores": {
      "methods": {
        "resetAll": {
          "parameters": {},
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetAll",
          "flatPath": "games/v1management/scores/reset",
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "path": "games/v1management/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAllForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "parameters": {}
        },
        "resetMultipleForAllPlayers": {
          "parameters": {},
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/scores/resetMultipleForAllPlayers"
        },
        "reset": {
          "id": "gamesManagement.scores.reset",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the leaderboard."
            }
          },
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "parameterOrder": [
            "leaderboardId"
          ]
        },
        "resetForAllPlayers": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    },
    "achievements": {
      "methods": {
        "resetForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "parameterOrder": [
            "achievementId"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          }
        },
        "resetAll": {
          "id": "gamesManagement.achievements.resetAll",
          "flatPath": "games/v1management/achievements/reset",
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/reset",
          "parameters": {},
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "parameterOrder": []
        },
        "resetAllForAllPlayers": {
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "parameters": {},
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST"
        },
        "resetMultipleForAllPlayers": {
          "parameters": {},
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "parameterOrder": [],
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "httpMethod": "POST",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reset": {
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "httpMethod": "POST",
          "path": "games/v1management/achievements/{achievementId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.reset",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "id": "gamesManagement.applications.listHidden",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          },
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "parameterOrder": [
            "applicationId"
          ]
        }
      }
    },
    "events": {
      "methods": {
        "resetForAllPlayers": {
          "httpMethod": "POST",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "parameterOrder": [
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.resetForAllPlayers",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset."
        },
        "reset": {
          "path": "games/v1management/events/{eventId}/reset",
          "parameterOrder": [
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "id": "gamesManagement.events.reset",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "resetMultipleForAllPlayers": {
          "httpMethod": "POST",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "parameterOrder": [],
          "parameters": {}
        },
        "resetAll": {
          "flatPath": "games/v1management/events/reset",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "id": "gamesManagement.events.resetAll",
          "parameters": {},
          "path": "games/v1management/events/reset",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST"
        },
        "resetAllForAllPlayers": {
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "parameters": {},
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/events/resetAllForAllPlayers",
          "parameterOrder": []
        }
      }
    },
    "players": {
      "methods": {
        "unhide": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "httpMethod": "DELETE",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.players.unhide",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "hide": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.players.hide",
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            },
            "playerId": {
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/games/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "ownerName": "Google",
  "title": "Google Play Games Services Management API",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}