{
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "canonicalName": "Games",
  "rootUrl": "https://games.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/games/",
  "baseUrl": "https://games.googleapis.com/",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "title": "Google Play Games Services API",
  "name": "games",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "id": "games:v1",
  "revision": "20260423",
  "servicePath": "",
  "basePath": "",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "stats": {
      "methods": {
        "get": {
          "id": "games.stats.get",
          "httpMethod": "GET",
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "flatPath": "games/v1/stats",
          "path": "games/v1/stats",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "StatsResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "parameterOrder": [],
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "parameters": {
            "packageName": {
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "location": "query",
              "type": "string"
            },
            "persona": {
              "location": "query",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "httpMethod": "POST",
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "id": "games.accesstokens.generatePlayGroupingApiToken"
        },
        "generateRecallPlayGroupingApiToken": {
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "httpMethod": "POST",
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "parameters": {
            "recallSessionId": {
              "location": "query",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "type": "string"
            },
            "packageName": {
              "location": "query",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "type": "string"
            },
            "persona": {
              "type": "string",
              "location": "query",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "achievements": {
      "methods": {
        "reveal": {
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "httpMethod": "POST",
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "id": "games.achievements.reveal",
          "parameterOrder": [
            "achievementId"
          ],
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "path": "games/v1/achievements/{achievementId}/reveal",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "increment": {
          "id": "games.achievements.increment",
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "httpMethod": "POST",
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/increment",
          "parameters": {
            "requestId": {
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "achievementId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the achievement used by this method."
            },
            "stepsToIncrement": {
              "location": "query",
              "format": "int32",
              "description": "Required. The number of steps to increment.",
              "required": true,
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "response": {
            "$ref": "AchievementIncrementResponse"
          }
        },
        "list": {
          "parameterOrder": [
            "playerId"
          ],
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "path": "games/v1/players/{playerId}/achievements",
          "parameters": {
            "state": {
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "type": "string",
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "location": "query",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ]
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/achievements",
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "httpMethod": "GET",
          "id": "games.achievements.list"
        },
        "unlock": {
          "httpMethod": "POST",
          "description": "Unlocks this achievement for the currently authenticated player.",
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "id": "games.achievements.unlock",
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1/achievements/{achievementId}/unlock",
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the achievement used by this method."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "updateMultiple": {
          "path": "games/v1/achievements/updateMultiple",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "id": "games.achievements.updateMultiple",
          "flatPath": "games/v1/achievements/updateMultiple",
          "httpMethod": "POST",
          "description": "Updates multiple achievements for the currently authenticated player."
        },
        "setStepsAtLeast": {
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the achievement used by this method."
            },
            "steps": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "required": true,
              "description": "Required. The minimum value to set the steps to."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "id": "games.achievements.setStepsAtLeast",
          "httpMethod": "POST",
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast"
        }
      }
    },
    "leaderboards": {
      "methods": {
        "list": {
          "path": "games/v1/leaderboards",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "parameterOrder": [],
          "id": "games.leaderboards.list",
          "httpMethod": "GET",
          "description": "Lists all the leaderboard metadata for your application.",
          "flatPath": "games/v1/leaderboards"
        },
        "get": {
          "parameterOrder": [
            "leaderboardId"
          ],
          "response": {
            "$ref": "Leaderboard"
          },
          "path": "games/v1/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "httpMethod": "GET",
          "id": "games.leaderboards.get"
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "id": "games.revisions.check",
          "flatPath": "games/v1/revisions/check",
          "httpMethod": "GET",
          "description": "Checks whether the games client is out of date.",
          "path": "games/v1/revisions/check",
          "parameters": {
            "clientRevision": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "clientRevision"
          ],
          "response": {
            "$ref": "RevisionCheckResponse"
          }
        }
      }
    },
    "metagame": {
      "methods": {
        "getMetagameConfig": {
          "flatPath": "games/v1/metagameConfig",
          "httpMethod": "GET",
          "description": "Return the metagame configuration data for the calling application.",
          "id": "games.metagame.getMetagameConfig",
          "parameterOrder": [],
          "response": {
            "$ref": "MetagameConfig"
          },
          "path": "games/v1/metagameConfig",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "listCategoriesByPlayer": {
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "httpMethod": "GET",
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "id": "games.metagame.listCategoriesByPlayer",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "parameters": {
            "collection": {
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "location": "path",
              "description": "The collection of categories for which data will be returned.",
              "type": "string",
              "enum": [
                "ALL"
              ],
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "snapshots": {
      "methods": {
        "get": {
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "description": "Retrieves the metadata for a given snapshot ID.",
          "httpMethod": "GET",
          "id": "games.snapshots.get",
          "parameterOrder": [
            "snapshotId"
          ],
          "response": {
            "$ref": "Snapshot"
          },
          "path": "games/v1/snapshots/{snapshotId}",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "snapshotId": {
              "description": "The ID of the snapshot.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "id": "games.snapshots.list",
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "httpMethod": "GET",
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "path": "games/v1/players/{playerId}/snapshots",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "playerId"
          ],
          "response": {
            "$ref": "SnapshotListResponse"
          }
        }
      }
    },
    "recall": {
      "methods": {
        "lastTokenFromAllDeveloperGames": {
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "httpMethod": "GET",
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "parameterOrder": [
            "sessionId"
          ],
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "parameters": {
            "sessionId": {
              "location": "path",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "linkPersona": {
          "parameterOrder": [],
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "path": "games/v1/recall:linkPersona",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall:linkPersona",
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "httpMethod": "POST",
          "id": "games.recall.linkPersona"
        },
        "resetPersona": {
          "parameterOrder": [],
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "path": "games/v1/recall:resetPersona",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall:resetPersona",
          "httpMethod": "POST",
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "id": "games.recall.resetPersona"
        },
        "retrieveTokens": {
          "path": "games/v1/recall/tokens/{sessionId}",
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "sessionId"
          ],
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "id": "games.recall.retrieveTokens",
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "httpMethod": "GET",
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile."
        },
        "gamesPlayerTokens": {
          "parameterOrder": [
            "sessionId"
          ],
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "parameters": {
            "sessionId": {
              "type": "string",
              "required": true,
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path"
            },
            "applicationIds": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "httpMethod": "GET",
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "id": "games.recall.gamesPlayerTokens"
        },
        "unlinkPersona": {
          "path": "games/v1/recall:unlinkPersona",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "id": "games.recall.unlinkPersona",
          "flatPath": "games/v1/recall:unlinkPersona",
          "httpMethod": "POST",
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value."
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "id": "games.applications.get",
          "flatPath": "games/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "path": "games/v1/applications/{applicationId}",
          "parameters": {
            "platformType": {
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "description": "Restrict application details returned to the specific platform."
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "Application"
          }
        },
        "played": {
          "httpMethod": "POST",
          "description": "Indicate that the currently authenticated user is playing your application.",
          "flatPath": "games/v1/applications/played",
          "parameterOrder": [],
          "id": "games.applications.played",
          "path": "games/v1/applications/played",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "getEndPoint": {
          "description": "Returns a URL for the requested end point type.",
          "httpMethod": "POST",
          "flatPath": "games/v1/applications/getEndPoint",
          "id": "games.applications.getEndPoint",
          "response": {
            "$ref": "EndPoint"
          },
          "parameterOrder": [],
          "path": "games/v1/applications/getEndPoint",
          "parameters": {
            "applicationId": {
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "query"
            },
            "endPointType": {
              "location": "query",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "type": "string",
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "description": "Type of endpoint being requested."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "verify": {
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "path": "games/v1/applications/{applicationId}/verify",
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The application ID from the Google Play developer console."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "httpMethod": "GET",
          "id": "games.applications.verify"
        }
      }
    },
    "players": {
      "methods": {
        "list": {
          "id": "games.players.list",
          "httpMethod": "GET",
          "description": "Get the collection of players for the currently authenticated user.",
          "flatPath": "games/v1/players/me/players/{collection}",
          "path": "games/v1/players/me/players/{collection}",
          "parameters": {
            "collection": {
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "location": "path",
              "type": "string",
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "required": true,
              "description": "Collection of players being retrieved"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerListResponse"
          },
          "parameterOrder": [
            "collection"
          ]
        },
        "getScopedPlayerIds": {
          "parameterOrder": [],
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "path": "games/v1/players/me/scopedIds",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/me/scopedIds",
          "httpMethod": "GET",
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "id": "games.players.getScopedPlayerIds"
        },
        "getMultipleApplicationPlayerIds": {
          "parameterOrder": [],
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "parameters": {
            "applicationIds": {
              "type": "string",
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds",
          "httpMethod": "GET",
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "id": "games.players.getMultipleApplicationPlayerIds"
        },
        "get": {
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "httpMethod": "GET",
          "flatPath": "games/v1/players/{playerId}",
          "id": "games.players.get",
          "response": {
            "$ref": "Player"
          },
          "parameterOrder": [
            "playerId"
          ],
          "path": "games/v1/players/{playerId}",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "playerIdConsistencyToken": {
              "type": "string",
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto",
              "location": "query"
            },
            "playerId": {
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "path": "games/v1/achievements",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "id": "games.achievementDefinitions.list",
          "flatPath": "games/v1/achievements",
          "description": "Lists all the achievement definitions for your application.",
          "httpMethod": "GET"
        }
      }
    },
    "scores": {
      "methods": {
        "get": {
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameters": {
            "timeSpan": {
              "type": "string",
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "required": true,
              "description": "The time span for the scores and ranks you're requesting.",
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "includeRankType": {
              "location": "query",
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ],
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ],
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "type": "string",
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ]
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "httpMethod": "GET",
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "id": "games.scores.get"
        },
        "list": {
          "response": {
            "$ref": "LeaderboardScores"
          },
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "timeSpan": {
              "location": "query",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "required": true,
              "type": "string",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "description": "Required. The time span for the scores and ranks you're requesting."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "collection": {
              "type": "string",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "required": true,
              "description": "The collection of scores you're requesting.",
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "httpMethod": "GET",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "id": "games.scores.list"
        },
        "listWindow": {
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "response": {
            "$ref": "LeaderboardScores"
          },
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "parameters": {
            "collection": {
              "required": true,
              "type": "string",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "description": "The collection of scores you're requesting.",
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "location": "path",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ]
            },
            "resultsAbove": {
              "type": "integer",
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "location": "query",
              "format": "int32"
            },
            "returnTopIfAbsent": {
              "type": "boolean",
              "location": "query",
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true."
            },
            "timeSpan": {
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "type": "string",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "required": true,
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "httpMethod": "GET",
          "id": "games.scores.listWindow"
        },
        "submit": {
          "id": "games.scores.submit",
          "httpMethod": "POST",
          "description": "Submits a score to the specified leaderboard.",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "score": {
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "required": true,
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "leaderboardId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard."
            },
            "scoreTag": {
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "location": "query",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "parameterOrder": [
            "leaderboardId",
            "score"
          ]
        },
        "submitMultiple": {
          "parameterOrder": [],
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "path": "games/v1/leaderboards/scores",
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/scores",
          "httpMethod": "POST",
          "description": "Submits multiple scores to leaderboards.",
          "id": "games.scores.submitMultiple"
        }
      }
    },
    "events": {
      "methods": {
        "listByPlayer": {
          "id": "games.events.listByPlayer",
          "flatPath": "games/v1/events",
          "httpMethod": "GET",
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "path": "games/v1/events",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "PlayerEventListResponse"
          }
        },
        "listDefinitions": {
          "id": "games.events.listDefinitions",
          "httpMethod": "GET",
          "description": "Returns a list of the event definitions in this application.",
          "flatPath": "games/v1/eventDefinitions",
          "path": "games/v1/eventDefinitions",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "parameterOrder": []
        },
        "record": {
          "parameterOrder": [],
          "request": {
            "$ref": "EventRecordRequest"
          },
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "path": "games/v1/events",
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/events",
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "httpMethod": "POST",
          "id": "games.events.record"
        }
      }
    }
  },
  "schemas": {
    "AchievementDefinitionsListResponse": {
      "type": "object",
      "id": "AchievementDefinitionsListResponse",
      "description": "A list of achievement definition objects.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          }
        }
      }
    },
    "InstanceIosDetails": {
      "type": "object",
      "id": "InstanceIosDetails",
      "description": "The iOS details resource.",
      "properties": {
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        }
      }
    },
    "GamePlayerToken": {
      "description": "Recall tokens for a game.",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        }
      },
      "type": "object",
      "id": "GamePlayerToken"
    },
    "Player": {
      "type": "object",
      "id": "Player",
      "description": "A Player resource.",
      "properties": {
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "name": {
          "type": "object",
          "properties": {
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          },
          "description": "A representation of the individual components of the name."
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "Per-application unique player identifier.",
          "type": "string"
        },
        "friendStatus": {
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "type": "string",
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ]
        }
      }
    },
    "Snapshot": {
      "id": "Snapshot",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        },
        "progressValue": {
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "type": {
          "description": "The type of this snapshot.",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "type": "string",
          "enum": [
            "SAVE_GAME"
          ]
        },
        "coverImage": {
          "description": "The cover image of this snapshot. May be absent if there is no image.",
          "$ref": "SnapshotImage"
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "lastModifiedMillis": {
          "format": "int64",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "type": "string"
        },
        "durationMillis": {
          "type": "string",
          "description": "The duration associated with this snapshot, in millis.",
          "format": "int64"
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "uniqueName": {
          "description": "The unique name provided when the snapshot was created.",
          "type": "string"
        }
      },
      "description": "An snapshot object."
    },
    "CategoryListResponse": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of categories with usage data.",
          "items": {
            "$ref": "Category"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        }
      },
      "description": "A third party list metagame categories response.",
      "id": "CategoryListResponse",
      "type": "object"
    },
    "LeaderboardListResponse": {
      "type": "object",
      "id": "LeaderboardListResponse",
      "description": "A list of leaderboard objects.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The leaderboards.",
          "items": {
            "$ref": "Leaderboard"
          }
        }
      }
    },
    "GamesAchievementIncrement": {
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "requestId": {
          "description": "The requestId associated with an increment to an achievement.",
          "format": "int64",
          "type": "string"
        },
        "steps": {
          "description": "The number of steps to be incremented.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GamesAchievementIncrement"
    },
    "AchievementUpdateRequest": {
      "properties": {
        "updateType": {
          "type": "string",
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ],
          "description": "The type of update being applied.",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        },
        "setStepsAtLeastPayload": {
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement.",
          "$ref": "GamesAchievementSetStepsAtLeast"
        },
        "incrementPayload": {
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement.",
          "$ref": "GamesAchievementIncrement"
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        }
      },
      "description": "A request to update an achievement.",
      "id": "AchievementUpdateRequest",
      "type": "object"
    },
    "LinkPersonaResponse": {
      "id": "LinkPersonaResponse",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "description": "Output only. State of a persona linking attempt.",
          "readOnly": true,
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ]
        }
      },
      "description": "Outcome of a persona linking attempt."
    },
    "RetrieveGamesPlayerTokensResponse": {
      "type": "object",
      "id": "RetrieveGamesPlayerTokensResponse",
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "properties": {
        "gamePlayerTokens": {
          "type": "array",
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response.",
          "items": {
            "$ref": "GamePlayerToken"
          }
        }
      }
    },
    "ApplicationCategory": {
      "properties": {
        "primary": {
          "description": "The primary category.",
          "type": "string"
        },
        "secondary": {
          "description": "The secondary category.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        }
      },
      "description": "An application category object.",
      "id": "ApplicationCategory",
      "type": "object"
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "type": "object",
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      }
    },
    "AchievementSetStepsAtLeastResponse": {
      "properties": {
        "currentSteps": {
          "format": "int32",
          "description": "The current steps recorded for this incremental achievement.",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      },
      "description": "An achievement set steps at least response.",
      "id": "AchievementSetStepsAtLeastResponse",
      "type": "object"
    },
    "PlayerLevel": {
      "id": "PlayerLevel",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "level": {
          "type": "integer",
          "description": "The level for the user.",
          "format": "int32"
        },
        "maxExperiencePoints": {
          "format": "int64",
          "description": "The maximum experience points for this level.",
          "type": "string"
        }
      },
      "description": "1P/3P metadata about a user's level."
    },
    "PlayerListResponse": {
      "type": "object",
      "id": "PlayerListResponse",
      "description": "A third party player list response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The players.",
          "items": {
            "$ref": "Player"
          }
        }
      }
    },
    "GamesAchievementSetStepsAtLeast": {
      "type": "object",
      "id": "GamesAchievementSetStepsAtLeast",
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        },
        "steps": {
          "description": "The minimum number of steps for the achievement to be set to.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Instance": {
      "type": "object",
      "id": "Instance",
      "description": "The Instance resource.",
      "properties": {
        "turnBasedPlay": {
          "description": "Flag to show if this game instance supports turn based play.",
          "type": "boolean"
        },
        "webInstance": {
          "description": "Platform dependent details for Web.",
          "$ref": "InstanceWebDetails"
        },
        "platformType": {
          "type": "string",
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "description": "The platform type.",
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ]
        },
        "name": {
          "description": "Localized display name.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "androidInstance": {
          "description": "Platform dependent details for Android.",
          "$ref": "InstanceAndroidDetails"
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "acquisitionUri": {
          "description": "URI which shows where a user can acquire this instance.",
          "type": "string"
        }
      }
    },
    "Category": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        },
        "experiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "Experience points earned in this category."
        },
        "category": {
          "description": "The category name.",
          "type": "string"
        }
      },
      "description": "Data related to individual game categories.",
      "id": "Category",
      "type": "object"
    },
    "AchievementRevealResponse": {
      "type": "object",
      "id": "AchievementRevealResponse",
      "description": "An achievement reveal response",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`.",
          "type": "string"
        },
        "currentState": {
          "type": "string",
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        }
      }
    },
    "PlayerAchievementListResponse": {
      "description": "A list of achievement objects.",
      "properties": {
        "items": {
          "description": "The achievements.",
          "items": {
            "$ref": "PlayerAchievement"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlayerAchievementListResponse"
    },
    "PlayerScoreSubmissionList": {
      "type": "object",
      "id": "PlayerScoreSubmissionList",
      "description": "A list of score submission requests.",
      "properties": {
        "scores": {
          "description": "The score submissions.",
          "items": {
            "$ref": "ScoreSubmission"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        }
      }
    },
    "AchievementDefinition": {
      "type": "object",
      "id": "AchievementDefinition",
      "description": "An achievement definition object.",
      "properties": {
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "achievementType": {
          "type": "string",
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ],
          "description": "The type of the achievement.",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ]
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "revealedIconUrl": {
          "description": "The image URL for the revealed achievement icon.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        },
        "initialState": {
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The initial state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "achievementLifecycleState": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "readOnly": true,
          "description": "Output only. The lifecycle state of the achievement.",
          "type": "string",
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ]
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "totalSteps": {
          "type": "integer",
          "description": "The total steps for an incremental achievement.",
          "format": "int32"
        },
        "experiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "Experience points which will be earned when unlocking this achievement."
        },
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        }
      }
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "type": "object",
      "properties": {
        "friendsListVisibility": {
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ],
          "type": "string",
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        }
      },
      "description": "Profile settings"
    },
    "Leaderboard": {
      "type": "object",
      "id": "Leaderboard",
      "description": "The Leaderboard resource.",
      "properties": {
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        },
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        },
        "order": {
          "description": "How scores are ordered.",
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "type": "string",
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        },
        "isIconUrlDefault": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        }
      }
    },
    "ApplicationPlayerId": {
      "description": "Primary scoped player identifier for an application.",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "playerId": {
          "description": "The player identifier for the application.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ApplicationPlayerId"
    },
    "InstanceAndroidDetails": {
      "type": "object",
      "id": "InstanceAndroidDetails",
      "description": "The Android instance details resource.",
      "properties": {
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        }
      }
    },
    "AchievementIncrementResponse": {
      "type": "object",
      "id": "AchievementIncrementResponse",
      "description": "An achievement increment response",
      "properties": {
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        },
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ResetPersonaResponse": {
      "properties": {
        "unlinked": {
          "description": "Required. Whether any tokens were unlinked as a result of this request.",
          "type": "boolean"
        }
      },
      "description": "Response for the ResetPersona RPC",
      "id": "ResetPersonaResponse",
      "type": "object"
    },
    "ImageAsset": {
      "description": "An image asset object.",
      "properties": {
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "height": {
          "description": "The height of the asset.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "description": "The width of the asset.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ImageAsset"
    },
    "UnlinkPersonaResponse": {
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      },
      "description": "Response for the UnlinkPersona RPC",
      "id": "UnlinkPersonaResponse",
      "type": "object"
    },
    "AchievementUpdateMultipleRequest": {
      "id": "AchievementUpdateMultipleRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        },
        "updates": {
          "type": "array",
          "description": "The individual achievement update requests.",
          "items": {
            "$ref": "AchievementUpdateRequest"
          }
        }
      },
      "description": "A list of achievement update requests."
    },
    "PlayerLeaderboardScoreListResponse": {
      "type": "object",
      "id": "PlayerLeaderboardScoreListResponse",
      "description": "A list of player leaderboard scores.",
      "properties": {
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "items": {
          "description": "The leaderboard scores.",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        }
      }
    },
    "PlayerScoreListResponse": {
      "type": "object",
      "id": "PlayerScoreListResponse",
      "description": "A list of score submission statuses.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        },
        "submittedScores": {
          "type": "array",
          "description": "The score submissions statuses.",
          "items": {
            "$ref": "PlayerScoreResponse"
          }
        }
      }
    },
    "EventUpdateRequest": {
      "id": "EventUpdateRequest",
      "type": "object",
      "properties": {
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        },
        "updateCount": {
          "format": "int64",
          "description": "The number of times this event occurred in this time period.",
          "type": "string"
        }
      },
      "description": "An event period update resource."
    },
    "EventDefinition": {
      "properties": {
        "visibility": {
          "type": "string",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "description": "The visibility of event being tracked in this definition.",
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ]
        },
        "childEvents": {
          "type": "array",
          "description": "A list of events that are a child of this event.",
          "items": {
            "$ref": "EventChild"
          }
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        }
      },
      "description": "An event definition resource.",
      "id": "EventDefinition",
      "type": "object"
    },
    "RetrievePlayerTokensResponse": {
      "properties": {
        "tokens": {
          "type": "array",
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "items": {
            "$ref": "RecallToken"
          }
        }
      },
      "description": "Response for the RetrievePlayerTokens RPC",
      "id": "RetrievePlayerTokensResponse",
      "type": "object"
    },
    "PlayerScore": {
      "type": "object",
      "id": "PlayerScore",
      "description": "A player score.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "timeSpan": {
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span for this player score.",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "score": {
          "format": "int64",
          "description": "The numerical value for this player score.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      }
    },
    "PlayerEventListResponse": {
      "id": "PlayerEventListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The player events.",
          "items": {
            "$ref": "PlayerEvent"
          }
        }
      },
      "description": "A ListByPlayer response."
    },
    "ScopedPlayerIds": {
      "type": "object",
      "id": "ScopedPlayerIds",
      "description": "Scoped player identifiers.",
      "properties": {
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        },
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        }
      }
    },
    "AchievementUpdateMultipleResponse": {
      "type": "object",
      "id": "AchievementUpdateMultipleResponse",
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        },
        "updatedAchievements": {
          "description": "The updated state of the achievements.",
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "type": "array"
        }
      }
    },
    "PlayerAchievement": {
      "id": "PlayerAchievement",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "format": "int64",
          "type": "string"
        },
        "achievementState": {
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "currentSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The current steps for an incremental achievement."
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "description": "The timestamp of the last modification to this achievement's state.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        }
      },
      "description": "An achievement object."
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "type": "object",
      "properties": {
        "gamePlayerToken": {
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal.",
          "$ref": "GamePlayerToken"
        }
      },
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC"
    },
    "RecallToken": {
      "type": "object",
      "id": "RecallToken",
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Optional. Optional expiration time of the token",
          "format": "google-datetime"
        },
        "token": {
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC",
          "type": "string"
        },
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        }
      }
    },
    "PlayerLeaderboardScore": {
      "id": "PlayerLeaderboardScore",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "socialRank": {
          "description": "The social rank of the score in this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "writeTimestamp": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64",
          "type": "string"
        },
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "timeSpan": {
[...]
