{
  "title": "Google Play Games Services API",
  "baseUrl": "https://games.googleapis.com/",
  "id": "games:v1",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/games/",
  "basePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "rootUrl": "https://games.googleapis.com/",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "schemas": {
    "PlayerScoreSubmissionList": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        },
        "scores": {
          "items": {
            "$ref": "ScoreSubmission"
          },
          "description": "The score submissions.",
          "type": "array"
        }
      },
      "id": "PlayerScoreSubmissionList",
      "description": "A list of score submission requests.",
      "type": "object"
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "description": "Profile settings",
      "type": "object",
      "properties": {
        "friendsListVisibility": {
          "type": "string",
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ],
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        }
      }
    },
    "PlayerScore": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "score": {
          "format": "int64",
          "description": "The numerical value for this player score.",
          "type": "string"
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "description": "The time span for this player score.",
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        }
      },
      "id": "PlayerScore",
      "description": "A player score.",
      "type": "object"
    },
    "ImageAsset": {
      "id": "ImageAsset",
      "description": "An image asset object.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "height": {
          "format": "int32",
          "description": "The height of the asset.",
          "type": "integer"
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "width": {
          "description": "The width of the asset.",
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        }
      }
    },
    "PlayGroupingApiToken": {
      "id": "PlayGroupingApiToken",
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "type": "object",
      "properties": {
        "tokenValue": {
          "description": "Value of the token.",
          "type": "string"
        }
      }
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "type": "object",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      }
    },
    "InstanceWebDetails": {
      "id": "InstanceWebDetails",
      "description": "The Web details resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        },
        "launchUrl": {
          "description": "Launch URL for the game.",
          "type": "string"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        }
      }
    },
    "PlayerLevel": {
      "id": "PlayerLevel",
      "description": "1P/3P metadata about a user's level.",
      "type": "object",
      "properties": {
        "level": {
          "format": "int32",
          "description": "The level for the user.",
          "type": "integer"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "minExperiencePoints": {
          "format": "int64",
          "description": "The minimum experience points for this level.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        }
      }
    },
    "ApplicationPlayerId": {
      "properties": {
        "playerId": {
          "description": "The player identifier for the application.",
          "type": "string"
        },
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        }
      },
      "id": "ApplicationPlayerId",
      "description": "Primary scoped player identifier for an application.",
      "type": "object"
    },
    "EventChild": {
      "id": "EventChild",
      "description": "An event child relationship resource.",
      "type": "object",
      "properties": {
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`.",
          "type": "string"
        }
      }
    },
    "AchievementSetStepsAtLeastResponse": {
      "id": "AchievementSetStepsAtLeastResponse",
      "description": "An achievement set steps at least response.",
      "type": "object",
      "properties": {
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`.",
          "type": "string"
        }
      }
    },
    "GamesAchievementSetStepsAtLeast": {
      "id": "GamesAchievementSetStepsAtLeast",
      "description": "The payload to request to increment an achievement.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        },
        "steps": {
          "format": "int32",
          "description": "The minimum number of steps for the achievement to be set to.",
          "type": "integer"
        }
      }
    },
    "EventPeriodUpdate": {
      "properties": {
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        },
        "updates": {
          "description": "The updates being made for this time period.",
          "type": "array",
          "items": {
            "$ref": "EventUpdateRequest"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`.",
          "type": "string"
        }
      },
      "id": "EventPeriodUpdate",
      "description": "An event period update resource.",
      "type": "object"
    },
    "Category": {
      "id": "Category",
      "description": "Data related to individual game categories.",
      "type": "object",
      "properties": {
        "category": {
          "description": "The category name.",
          "type": "string"
        },
        "experiencePoints": {
          "format": "int64",
          "description": "Experience points earned in this category.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        }
      }
    },
    "PlayerLeaderboardScore": {
      "properties": {
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        },
        "timeSpan": {
          "description": "The time span of this score.",
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "socialRank": {
          "description": "The social rank of the score in this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "writeTimestamp": {
          "format": "int64",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string"
        },
        "scoreValue": {
          "format": "int64",
          "description": "The numerical value of this score.",
          "type": "string"
        },
        "publicRank": {
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly.",
          "$ref": "LeaderboardScoreRank"
        }
      },
      "id": "PlayerLeaderboardScore",
      "description": "A player leaderboard score object.",
      "type": "object"
    },
    "PlayerExperienceInfo": {
      "id": "PlayerExperienceInfo",
      "description": "1P/3P metadata about the player's experience.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "PlayerLevel"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string",
          "format": "int64"
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "type": "string",
          "format": "int64"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "PlayerLevel"
        }
      }
    },
    "LinkPersonaRequest": {
      "properties": {
        "persona": {
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Input only. Optional expiration time.",
          "type": "string"
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "token": {
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation).",
          "type": "string"
        },
        "ttl": {
          "format": "google-duration",
          "description": "Input only. Optional time-to-live.",
          "type": "string"
        },
        "cardinalityConstraint": {
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "type": "string",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ],
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ]
        },
        "conflictingLinksResolutionPolicy": {
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ],
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "type": "string",
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ]
        }
      },
      "id": "LinkPersonaRequest",
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "type": "object"
    },
    "EventUpdateResponse": {
      "properties": {
        "eventFailures": {
          "items": {
            "$ref": "EventRecordFailure"
          },
          "description": "Any failures updating a particular event.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "batchFailures": {
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "description": "Any batch-wide failures which occurred applying updates.",
          "type": "array"
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          }
        }
      },
      "id": "EventUpdateResponse",
      "description": "An event period update resource.",
      "type": "object"
    },
    "UnlinkPersonaResponse": {
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      },
      "id": "UnlinkPersonaResponse",
      "description": "Response for the UnlinkPersona RPC",
      "type": "object"
    },
    "StatsResponse": {
      "id": "StatsResponse",
      "description": "A third party stats resource.",
      "type": "object",
      "properties": {
        "churn_probability": {
          "format": "float",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "type": "number"
        },
        "total_spend_next_28_days": {
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "spend_probability": {
          "format": "float",
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "num_sessions_percentile": {
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "num_sessions": {
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        },
        "num_purchases": {
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        },
        "avg_session_length_minutes": {
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "high_spender_probability": {
          "format": "float",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "days_since_last_played": {
          "format": "int32",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer"
        },
        "spend_percentile": {
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "id": "GeneratePlayGroupingApiTokenResponse",
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "type": "object"
    },
    "AchievementUpdateResponse": {
      "properties": {
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "currentState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement.",
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "currentSteps": {
          "description": "The current steps recorded for this achievement if it is incremental.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AchievementUpdateResponse",
      "description": "An updated achievement.",
      "type": "object"
    },
    "Application": {
      "id": "Application",
      "description": "The Application resource.",
      "type": "object",
      "properties": {
        "assets": {
          "description": "The assets of the application.",
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`.",
          "type": "string"
        },
        "enabledFeatures": {
          "items": {
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "type": "string",
            "enum": [
              "SNAPSHOTS"
            ]
          },
          "description": "A list of features that have been enabled for the application.",
          "type": "array"
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances of the application.",
          "type": "array"
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "description": "The last updated timestamp of the application.",
          "type": "string"
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "achievement_count": {
          "format": "int32",
          "description": "The number of achievements visible to the currently authenticated player.",
          "type": "integer"
        },
        "leaderboard_count": {
          "format": "int32",
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "type": "integer"
        }
      }
    },
    "GamesAchievementIncrement": {
      "id": "GamesAchievementIncrement",
      "description": "The payload to request to increment an achievement.",
      "type": "object",
      "properties": {
        "requestId": {
          "format": "int64",
          "description": "The requestId associated with an increment to an achievement.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "steps": {
          "description": "The number of steps to be incremented.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PlayerEvent": {
      "id": "PlayerEvent",
      "description": "An event status resource.",
      "type": "object",
      "properties": {
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of the event definition.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "numEvents": {
          "description": "The current number of times this event has occurred.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RevisionCheckResponse": {
      "id": "RevisionCheckResponse",
      "description": "A third party checking a revision response.",
      "type": "object",
      "properties": {
        "revisionStatus": {
          "description": "The result of the revision check.",
          "type": "string",
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        },
        "apiVersion": {
          "description": "The version of the API this client revision should use when calling API methods.",
          "type": "string"
        }
      }
    },
    "PlayerAchievement": {
      "properties": {
        "achievementState": {
          "description": "The state of the achievement.",
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "description": "The timestamp of the last modification to this achievement's state.",
          "type": "string",
          "format": "int64"
        },
        "experiencePoints": {
          "format": "int64",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "currentSteps": {
          "format": "int32",
          "description": "The current steps for an incremental achievement.",
          "type": "integer"
        },
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        }
      },
      "id": "PlayerAchievement",
      "description": "An achievement object.",
      "type": "object"
    },
    "UnlinkPersonaRequest": {
      "id": "UnlinkPersonaRequest",
      "description": "Request to remove a Recall token linking PGS principal and an in-game account",
      "type": "object",
      "properties": {
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "token": {
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC",
          "type": "string"
        },
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      }
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC",
      "type": "object",
      "properties": {
        "gamePlayerToken": {
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal.",
          "$ref": "GamePlayerToken"
        }
      }
    },
    "ResetPersonaRequest": {
      "id": "ResetPersonaRequest",
      "description": "Request to remove all Recall tokens associated with a persona for an app.",
      "type": "object",
      "properties": {
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      }
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "properties": {
        "playerIds": {
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ApplicationPlayerId"
          }
        }
      },
      "id": "GetMultipleApplicationPlayerIdsResponse",
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "type": "object"
    },
    "LeaderboardScores": {
      "id": "LeaderboardScores",
      "description": "A ListScores response.",
      "type": "object",
      "properties": {
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "LeaderboardEntry"
          },
          "description": "The scores in the leaderboard.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "numScores": {
          "description": "The total number of scores in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        }
      }
    },
    "InstanceIosDetails": {
      "properties": {
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        }
      },
      "id": "InstanceIosDetails",
      "description": "The iOS details resource.",
      "type": "object"
    },
    "ScoreSubmission": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "score": {
          "format": "int64",
          "description": "The new score being submitted.",
          "type": "string"
        },
        "leaderboardId": {
          "description": "The leaderboard this score is being submitted to.",
          "type": "string"
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "id": "ScoreSubmission",
      "description": "A request to submit a score to leaderboards.",
      "type": "object"
    },
    "ScopedPlayerIds": {
      "properties": {
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        },
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        }
      },
      "id": "ScopedPlayerIds",
      "description": "Scoped player identifiers.",
      "type": "object"
    },
    "AchievementIncrementResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AchievementIncrementResponse",
      "description": "An achievement increment response",
      "type": "object"
    },
    "GamePlayerToken": {
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        }
      },
      "id": "GamePlayerToken",
      "description": "Recall tokens for a game.",
      "type": "object"
    },
    "AchievementDefinition": {
      "id": "AchievementDefinition",
      "description": "An achievement definition object.",
      "type": "object",
      "properties": {
        "experiencePoints": {
          "format": "int64",
          "description": "Experience points which will be earned when unlocking this achievement.",
          "type": "string"
        },
        "totalSteps": {
          "description": "The total steps for an incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "initialState": {
          "description": "The initial state of the achievement.",
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "revealedIconUrl": {
          "description": "The image URL for the revealed achievement icon.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "achievementType": {
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "description": "The type of the achievement.",
          "type": "string",
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ]
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        }
      }
    },
    "AchievementUpdateRequest": {
      "properties": {
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        },
        "incrementPayload": {
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement.",
          "$ref": "GamesAchievementIncrement"
        },
        "updateType": {
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "description": "The type of update being applied.",
          "type": "string",
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        },
        "setStepsAtLeastPayload": {
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement.",
          "$ref": "GamesAchievementSetStepsAtLeast"
        }
      },
      "id": "AchievementUpdateRequest",
      "description": "A request to update an achievement.",
      "type": "object"
    },
    "SnapshotListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Snapshot"
          },
          "description": "The snapshots.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        }
      },
      "id": "SnapshotListResponse",
      "description": "A third party list snapshots response.",
      "type": "object"
    },
    "ApplicationCategory": {
      "id": "ApplicationCategory",
      "description": "An application category object.",
      "type": "object",
      "properties": {
        "primary": {
          "description": "The primary category.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        },
        "secondary": {
          "description": "The secondary category.",
          "type": "string"
        }
      }
    },
    "ResetPersonaResponse": {
      "properties": {
        "unlinked": {
          "description": "Required. Whether any tokens were unlinked as a result of this request.",
          "type": "boolean"
        }
      },
      "id": "ResetPersonaResponse",
      "description": "Response for the ResetPersona RPC",
      "type": "object"
    },
    "SnapshotImage": {
      "properties": {
        "mime_type": {
          "description": "The MIME type of the image.",
          "type": "string"
        },
        "height": {
          "description": "The height of the image.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "format": "int32",
          "description": "The width of the image.",
          "type": "integer"
        },
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        }
      },
      "id": "SnapshotImage",
      "description": "An image of a snapshot.",
      "type": "object"
    },
    "LeaderboardScoreRank": {
      "id": "LeaderboardScoreRank",
      "description": "A score rank in a leaderboard.",
      "type": "object",
      "properties": {
        "formattedNumScores": {
          "description": "The number of scores in the leaderboard as a string.",
          "type": "string"
        },
        "formattedRank": {
          "description": "The rank in the leaderboard as a string.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        },
        "rank": {
          "description": "The rank in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "numScores": {
          "description": "The number of scores in the leaderboard.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "AchievementUpdateMultipleRequest": {
      "id": "AchievementUpdateMultipleRequest",
      "description": "A list of achievement update requests.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        },
        "updates": {
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "description": "The individual achievement update requests.",
          "type": "array"
        }
      }
    },
    "AchievementUnlockResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      },
      "id": "AchievementUnlockResponse",
      "description": "An achievement unlock response",
      "type": "object"
    },
    "MetagameConfig": {
      "properties": {
        "currentVersion": {
          "format": "int32",
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`.",
          "type": "string"
        },
        "playerLevels": {
          "items": {
            "$ref": "PlayerLevel"
          },
          "description": "The list of player levels.",
          "type": "array"
        }
      },
      "id": "MetagameConfig",
      "description": "The metagame config resource",
      "type": "object"
    },
    "PlayerEventListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The player events.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "id": "PlayerEventListResponse",
      "description": "A ListByPlayer response.",
      "type": "object"
    },
    "EndPoint": {
      "id": "EndPoint",
      "description": "Container for a URL end point of the requested type.",
      "type": "object",
      "properties": {
        "url": {
          "description": "A URL suitable for loading in a web browser for the requested endpoint.",
          "type": "string"
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "description": "The Instance resource.",
      "type": "object",
      "properties": {
        "platformType": {
          "description": "The platform type.",
          "type": "string",
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ]
        },
        "acquisitionUri": {
          "description": "URI which shows where a user can acquire this instance.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "androidInstance": {
          "description": "Platform dependent details for Android.",
          "$ref": "InstanceAndroidDetails"
        },
        "webInstance": {
          "description": "Platform dependent details for Web.",
          "$ref": "InstanceWebDetails"
        },
        "name": {
          "description": "Localized display name.",
          "type": "string"
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "turnBasedPlay": {
          "description": "Flag to show if this game instance supports turn based play.",
          "type": "boolean"
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        }
      }
    },
    "EventDefinition": {
      "id": "EventDefinition",
      "description": "An event definition resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "childEvents": {
          "items": {
            "$ref": "EventChild"
          },
          "description": "A list of events that are a child of this event.",
          "type": "array"
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "visibility": {
          "description": "The visibility of event being tracked in this definition.",
          "type": "string",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ]
        }
      }
    },
    "PlayerListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Player"
          },
          "description": "The players.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "id": "PlayerListResponse",
      "description": "A third party player list response.",
      "type": "object"
    },
    "Player": {
      "id": "Player",
      "description": "A Player resource.",
      "type": "object",
      "properties": {
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "Per-application unique player identifier.",
          "type": "string"
        },
        "friendStatus": {
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "type": "string",
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ]
        },
        "name": {
          "description": "A representation of the individual components of the name.",
          "type": "object",
          "properties": {
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          }
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        }
      }
    },
    "CategoryListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The list of categories with usage data.",
          "type": "array",
          "items": {
            "$ref": "Category"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "id": "CategoryListResponse",
      "description": "A third party list metagame categories response.",
      "type": "object"
    },
    "RetrieveGamesPlayerTokensResponse": {
      "properties": {
        "gamePlayerTokens": {
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response.",
          "type": "array",
          "items": {
            "$ref": "GamePlayerToken"
          }
        }
      },
      "id": "RetrieveGamesPlayerTokensResponse",
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "type": "object"
    },
    "AchievementDefinitionsListResponse": {
      "id": "AchievementDefinitionsListResponse",
      "description": "A list of achievement definition objects.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "AchievementDefinition"
          },
          "description": "The achievement definitions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      }
    },
    "RecallToken": {
      "id": "RecallToken",
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "type": "object",
      "properties": {
        "token": {
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC",
          "type": "string"
        },
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        },
        "expireTime": {
          "description": "Optional. Optional expiration time of the token",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "EventDefinitionListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The event definitions.",
          "type": "array",
          "items": {
            "$ref": "EventDefinition"
          }
        }
      },
      "id": "EventDefinitionListResponse",
      "description": "A ListDefinitions response.",
      "type": "object"
    },
    "EventRecordRequest": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "timePeriods": {
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "description": "A list of the time period updates being made in this request.",
          "type": "array"
        },
        "requestId": {
          "description": "The request ID used to identify this attempt to record events.",
          "type": "string",
          "format": "int64"
        },
        "currentTimeMillis": {
          "format": "int64",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "type": "string"
        }
      },
      "id": "EventRecordRequest",
      "description": "An event period update resource.",
      "type": "object"
    },
    "LeaderboardEntry": {
      "properties": {
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "description": "The time span of this high score.",
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`.",
          "type": "string"
        },
        "writeTimestampMillis": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string",
          "format": "int64"
        },
        "scoreRank": {
          "format": "int64",
          "description": "The rank of this score for this leaderboard.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreValue": {
          "format": "int64",
          "description": "The numerical value of this score.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        }
      },
      "id": "LeaderboardEntry",
      "description": "The Leaderboard Entry resource.",
      "type": "object"
    },
    "EventBatchRecordFailure": {
      "id": "EventBatchRecordFailure",
      "description": "A batch update failure resource.",
      "type": "object",
      "properties": {
        "failureCause": {
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ],
          "description": "The cause for the update failure.",
          "type": "string",
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`.",
          "type": "string"
        },
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        }
      }
    },
    "EventRecordFailure": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`.",
          "type": "string"
        },
        "failureCause": {
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "description": "The cause for the update failure.",
          "type": "string",
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ]
        },
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        }
      },
      "id": "EventRecordFailure",
      "description": "An event update failure resource.",
      "type": "object"
    },
    "AchievementUpdateMultipleResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        },
        "updatedAchievements": {
          "description": "The updated state of the achievements.",
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateResponse"
          }
        }
      },
      "id": "AchievementUpdateMultipleResponse",
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "type": "object"
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "description": "A list of player leaderboard scores.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlayerLeaderboardScore"
          },
          "description": "The leaderboard scores.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        }
      }
    },
    "PlayerScoreListResponse": {
      "id": "PlayerScoreListResponse",
      "description": "A list of score submission statuses.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        },
        "submittedScores": {
          "items": {
            "$ref": "PlayerScoreResponse"
          },
          "description": "The score submissions statuses.",
          "type": "array"
        }
      }
    },
    "RetrievePlayerTokensResponse": {
      "id": "RetrievePlayerTokensResponse",
      "description": "Response for the RetrievePlayerTokens RPC",
      "type": "object",
      "properties": {
        "tokens": {
          "items": {
            "$ref": "RecallToken"
          },
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "type": "array"
        }
      }
    },
    "ApplicationVerifyResponse": {
      "properties": {
        "player_id": {
          "description": "The ID of the player that was issued the auth token used in this request.",
          "type": "string"
        },
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        }
      },
      "id": "ApplicationVerifyResponse",
      "description": "A third party application verification response resource.",
      "type": "object"
    },
    "EventUpdateRequest": {
      "id": "EventUpdateRequest",
      "description": "An event period update resource.",
      "type": "object",
      "properties": {
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        },
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        }
      }
    },
    "PlayerScoreResponse": {
      "id": "PlayerScoreResponse",
      "description": "A list of leaderboard entry resources.",
      "type": "object",
      "properties": {
        "leaderboardId": {
          "description": "The leaderboard ID that this score was submitted to.",
          "type": "string"
        },
        "beatenScoreTimeSpans": {
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ]
          }
        },
        "formattedScore": {
          "description": "The formatted value of the submitted score.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        },
        "unbeatenScores": {
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "type": "array",
          "items": {
            "$ref": "PlayerScore"
          }
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      }
    },
    "Leaderboard": {
      "id": "Leaderboard",
      "description": "The Leaderboard resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        },
        "isIconUrlDefault": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "order": {
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "description": "How scores are ordered.",
          "type": "string",
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        }
      }
    },
    "PlayerAchievementListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlayerAchievement"
          },
          "description": "The achievements.",
          "type": "array"
        }
      },
      "id": "PlayerAchievementListResponse",
      "description": "A list of achievement objects.",
      "type": "object"
    },
    "LinkPersonaResponse": {
      "id": "LinkPersonaResponse",
      "description": "Outcome of a persona linking attempt.",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. State of a persona linking attempt.",
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ],
          "type": "string"
        }
      }
    },
    "InstanceAndroidDetails": {
      "id": "InstanceAndroidDetails",
      "description": "The Android instance details resource.",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        }
      }
    },
    "Snapshot": {
      "id": "Snapshot",
      "description": "An snapshot object.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "description": "The type of this snapshot.",
          "type": "string",
          "enum": [
            "SAVE_GAME"
          ]
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "lastModifiedMillis": {
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        },
        "coverImage": {
          "description": "The cover image of this snapshot. May be absent if there is no image.",
          "$ref": "SnapshotImage"
        },
        "progressValue": {
          "format": "int64",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "type": "string"
        },
        "durationMillis": {
          "format": "int64",
          "description": "The duration associated with this snapshot, in millis.",
          "type": "string"
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "uniqueName": {
          "description": "The unique name provided when the snapshot was created.",
          "type": "string"
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        }
      }
    },
    "EventPeriodRange": {
      "id": "EventPeriodRange",
      "description": "An event period time range.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodStartMillis": {
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        },
        "periodEndMillis": {
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "LeaderboardListResponse": {
      "id": "LeaderboardListResponse",
      "description": "A list of leaderboard objects.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Leaderboard"
          },
          "description": "The leaderboards.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      }
    },
    "AchievementRevealResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "type": "string",
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        }
      },
      "id": "AchievementRevealResponse",
      "description": "An achievement reveal response",
      "type": "object"
    }
  },
  "version": "v1",
  "resources": {
    "achievementDefinitions": {
      "methods": {
        "list": {
          "path": "games/v1/achievements",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/achievements",
          "id": "games.achievementDefinitions.list",
          "parameterOrder": [],
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Lists all the achievement definitions for your application."
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
          "id": "games.leaderboards.get",
          "parameterOrder": [
            "leaderboardId"
          ],
          "response": {
            "$ref": "Leaderboard"
          },
          "path": "games/v1/leaderboards/{leaderboardId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET"
        },
        "list": {
          "flatPath": "games/v1/leaderboards",
          "path": "games/v1/leaderboards",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "id": "games.leaderboards.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Lists all the leaderboard metadata for your application."
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Application"
          },
          "id": "games.applications.get",
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1/applications/{applicationId}",
          "path": "games/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "platformType": {
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "type": "string",
              "location": "query",
              "description": "Restrict application details returned to the specific platform.",
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ]
            }
          }
        },
        "verify": {
          "path": "games/v1/applications/{applicationId}/verify",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "id": "games.applications.verify",
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for."
        },
        "played": {
          "path": "games/v1/applications/played",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "flatPath": "games/v1/applications/played",
          "httpMethod": "POST",
          "id": "games.applications.played",
          "parameterOrder": [],
          "description": "Indicate that the currently authenticated user is playing your application."
        },
        "getEndPoint": {
          "description": "Returns a URL for the requested end point type.",
          "parameters": {
            "applicationId": {
              "location": "query",
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            },
            "endPointType": {
              "description": "Type of endpoint being requested.",
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "id": "games.applications.getEndPoint",
          "parameterOrder": [],
          "response": {
            "$ref": "EndPoint"
          },
          "path": "games/v1/applications/getEndPoint",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/applications/getEndPoint"
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "id": "games.stats.get",
          "parameterOrder": [],
          "response": {
            "$ref": "StatsResponse"
          },
          "path": "games/v1/stats",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/stats",
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "parameters": {},
          "httpMethod": "GET"
        }
      }
    },
    "metagame": {
      "methods": {
        "getMetagameConfig": {
          "description": "Return the metagame configuration data for the calling application.",
          "httpMethod": "GET",
          "parameters": {},
          "response": {
            "$ref": "MetagameConfig"
          },
          "id": "games.metagame.getMetagameConfig",
          "parameterOrder": [],
          "flatPath": "games/v1/metagameConfig",
          "path": "games/v1/metagameConfig",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "listCategoriesByPlayer": {
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "CategoryListResponse"
          },
          "id": "games.metagame.listCategoriesByPlayer",
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "collection": {
              "description": "The collection of categories for which data will be returned.",
              "required": true,
              "enum": [
                "ALL"
              ],
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string"
            }
          },
          "description": "List play data aggregated per category for the player corresponding to `playerId`."
        }
      }
    },
    "players": {
      "methods": {
        "getMultipleApplicationPlayerIds": {
          "httpMethod": "GET",
          "parameters": {
            "applicationIds": {
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds",
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "id": "games.players.getMultipleApplicationPlayerIds",
          "parameterOrder": []
        },
        "get": {
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string"
            },
            "playerIdConsistencyToken": {
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Player"
          },
          "id": "games.players.get",
          "parameterOrder": [
            "playerId"
          ],
          "flatPath": "games/v1/players/{playerId}",
          "path": "games/v1/players/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "getScopedPlayerIds": {
          "id": "games.players.getScopedPlayerIds",
          "parameterOrder": [],
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "path": "games/v1/players/me/scopedIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/me/scopedIds",
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "parameters": {},
          "httpMethod": "GET"
        },
        "list": {
          "id": "games.players.list",
          "parameterOrder": [
            "collection"
          ],
          "response": {
            "$ref": "PlayerListResponse"
          },
          "path": "games/v1/players/me/players/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/me/players/{collection}",
          "description": "Get the collection of players for the currently authenticated user.",
          "parameters": {
            "collection": {
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "location": "path",
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "type": "string",
              "description": "Collection of players being retrieved",
              "required": true,
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ]
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "snapshots": {
      "methods": {
        "get": {
          "description": "Retrieves the metadata for a given snapshot ID.",
          "parameters": {
            "snapshotId": {
              "location": "path",
              "description": "The ID of the snapshot.",
              "required": true,
              "type": "string"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "games.snapshots.get",
          "parameterOrder": [
            "snapshotId"
          ],
          "response": {
            "$ref": "Snapshot"
          },
          "path": "games/v1/snapshots/{snapshotId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/snapshots/{snapshotId}"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "path": "games/v1/players/{playerId}/snapshots",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "id": "games.snapshots.list",
          "parameterOrder": [
            "playerId"
          ]
        }
      }
    },
    "scores": {
      "methods": {
        "get": {
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
[...]
