{
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260312",
  "name": "games",
  "baseUrl": "https://games.googleapis.com/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "rootUrl": "https://games.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        }
      }
    }
  },
  "version": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "title": "Google Play Games Services API",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "id": "games:v1",
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "canonicalName": "Games",
  "documentationLink": "https://developers.google.com/games/",
  "schemas": {
    "CategoryListResponse": {
      "description": "A third party list metagame categories response.",
      "id": "CategoryListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of categories with usage data.",
          "items": {
            "$ref": "Category"
          }
        }
      },
      "type": "object"
    },
    "EndPoint": {
      "description": "Container for a URL end point of the requested type.",
      "type": "object",
      "id": "EndPoint",
      "properties": {
        "url": {
          "description": "A URL suitable for loading in a web browser for the requested endpoint.",
          "type": "string"
        }
      }
    },
    "PlayerLevel": {
      "description": "1P/3P metadata about a user's level.",
      "id": "PlayerLevel",
      "properties": {
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        },
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        },
        "maxExperiencePoints": {
          "type": "string",
          "description": "The maximum experience points for this level.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "id": "GetMultipleApplicationPlayerIdsResponse",
      "properties": {
        "playerIds": {
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response.",
          "items": {
            "$ref": "ApplicationPlayerId"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for GetMultipleApplicationPlayerIds rpc."
    },
    "AchievementRevealResponse": {
      "id": "AchievementRevealResponse",
      "properties": {
        "currentState": {
          "type": "string",
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An achievement reveal response"
    },
    "ScopedPlayerIds": {
      "description": "Scoped player identifiers.",
      "id": "ScopedPlayerIds",
      "properties": {
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        },
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LeaderboardListResponse": {
      "description": "A list of leaderboard objects.",
      "id": "LeaderboardListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The leaderboards.",
          "items": {
            "$ref": "Leaderboard"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PlayerListResponse": {
      "description": "A third party player list response.",
      "type": "object",
      "id": "PlayerListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The players.",
          "items": {
            "$ref": "Player"
          },
          "type": "array"
        }
      }
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "type": "object"
    },
    "PlayerScoreListResponse": {
      "type": "object",
      "id": "PlayerScoreListResponse",
      "properties": {
        "submittedScores": {
          "type": "array",
          "description": "The score submissions statuses.",
          "items": {
            "$ref": "PlayerScoreResponse"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        }
      },
      "description": "A list of score submission statuses."
    },
    "ApplicationVerifyResponse": {
      "description": "A third party application verification response resource.",
      "type": "object",
      "id": "ApplicationVerifyResponse",
      "properties": {
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        },
        "player_id": {
          "description": "The ID of the player that was issued the auth token used in this request.",
          "type": "string"
        }
      }
    },
    "PlayerEventListResponse": {
      "description": "A ListByPlayer response.",
      "type": "object",
      "id": "PlayerEventListResponse",
      "properties": {
        "items": {
          "type": "array",
          "description": "The player events.",
          "items": {
            "$ref": "PlayerEvent"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      }
    },
    "InstanceAndroidDetails": {
      "description": "The Android instance details resource.",
      "type": "object",
      "id": "InstanceAndroidDetails",
      "properties": {
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        }
      }
    },
    "StatsResponse": {
      "id": "StatsResponse",
      "properties": {
        "num_purchases": {
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32",
          "type": "integer"
        },
        "num_sessions": {
          "type": "integer",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        },
        "days_since_last_played": {
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32",
          "type": "integer"
        },
        "spend_probability": {
          "type": "number",
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "avg_session_length_minutes": {
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "spend_percentile": {
          "type": "number",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "num_sessions_percentile": {
          "type": "number",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "total_spend_next_28_days": {
          "type": "number",
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float"
        },
        "churn_probability": {
          "type": "number",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "format": "float"
        },
        "high_spender_probability": {
          "type": "number",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A third party stats resource."
    },
    "RetrieveGamesPlayerTokensResponse": {
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "type": "object",
      "id": "RetrieveGamesPlayerTokensResponse",
      "properties": {
        "gamePlayerTokens": {
          "type": "array",
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response.",
          "items": {
            "$ref": "GamePlayerToken"
          }
        }
      }
    },
    "PlayerAchievementListResponse": {
      "id": "PlayerAchievementListResponse",
      "properties": {
        "items": {
          "type": "array",
          "description": "The achievements.",
          "items": {
            "$ref": "PlayerAchievement"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of achievement objects."
    },
    "PlayerEvent": {
      "id": "PlayerEvent",
      "properties": {
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of the event definition.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "numEvents": {
          "type": "string",
          "description": "The current number of times this event has occurred.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "An event status resource."
    },
    "GamesAchievementSetStepsAtLeast": {
      "description": "The payload to request to increment an achievement.",
      "type": "object",
      "id": "GamesAchievementSetStepsAtLeast",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        },
        "steps": {
          "description": "The minimum number of steps for the achievement to be set to.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "EventDefinition": {
      "description": "An event definition resource.",
      "type": "object",
      "id": "EventDefinition",
      "properties": {
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "childEvents": {
          "type": "array",
          "description": "A list of events that are a child of this event.",
          "items": {
            "$ref": "EventChild"
          }
        },
        "visibility": {
          "description": "The visibility of event being tracked in this definition.",
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "type": "string",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ]
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        }
      }
    },
    "LeaderboardScores": {
      "id": "LeaderboardScores",
      "properties": {
        "numScores": {
          "type": "string",
          "description": "The total number of scores in the leaderboard.",
          "format": "int64"
        },
        "items": {
          "type": "array",
          "description": "The scores in the leaderboard.",
          "items": {
            "$ref": "LeaderboardEntry"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        }
      },
      "type": "object",
      "description": "A ListScores response."
    },
    "LeaderboardScoreRank": {
      "description": "A score rank in a leaderboard.",
      "id": "LeaderboardScoreRank",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        },
        "rank": {
          "description": "The rank in the leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "formattedRank": {
          "description": "The rank in the leaderboard as a string.",
          "type": "string"
        },
        "numScores": {
          "description": "The number of scores in the leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "formattedNumScores": {
          "description": "The number of scores in the leaderboard as a string.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventUpdateRequest": {
      "id": "EventUpdateRequest",
      "properties": {
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        },
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An event period update resource."
    },
    "PlayerScoreSubmissionList": {
      "id": "PlayerScoreSubmissionList",
      "properties": {
        "scores": {
          "description": "The score submissions.",
          "items": {
            "$ref": "ScoreSubmission"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of score submission requests."
    },
    "RecallToken": {
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "id": "RecallToken",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Optional. Optional expiration time of the token",
          "format": "google-datetime"
        },
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        },
        "token": {
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Application": {
      "id": "Application",
      "properties": {
        "achievement_count": {
          "description": "The number of achievements visible to the currently authenticated player.",
          "format": "int32",
          "type": "integer"
        },
        "leaderboard_count": {
          "type": "integer",
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "format": "int32"
        },
        "enabledFeatures": {
          "type": "array",
          "description": "A list of features that have been enabled for the application.",
          "items": {
            "type": "string",
            "enum": [
              "SNAPSHOTS"
            ],
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ]
          }
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`.",
          "type": "string"
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "instances": {
          "description": "The instances of the application.",
          "items": {
            "$ref": "Instance"
          },
          "type": "array"
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        },
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "assets": {
          "description": "The assets of the application.",
          "items": {
            "$ref": "ImageAsset"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "description": "The last updated timestamp of the application.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Application resource."
    },
    "Snapshot": {
      "description": "An snapshot object.",
      "type": "object",
      "id": "Snapshot",
      "properties": {
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "SAVE_GAME"
          ],
          "description": "The type of this snapshot.",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ]
        },
        "durationMillis": {
          "description": "The duration associated with this snapshot, in millis.",
          "format": "int64",
          "type": "string"
        },
        "progressValue": {
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "lastModifiedMillis": {
          "type": "string",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "uniqueName": {
          "description": "The unique name provided when the snapshot was created.",
          "type": "string"
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "coverImage": {
          "description": "The cover image of this snapshot. May be absent if there is no image.",
          "$ref": "SnapshotImage"
        }
      }
    },
    "RetrievePlayerTokensResponse": {
      "description": "Response for the RetrievePlayerTokens RPC",
      "id": "RetrievePlayerTokensResponse",
      "properties": {
        "tokens": {
          "type": "array",
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "items": {
            "$ref": "RecallToken"
          }
        }
      },
      "type": "object"
    },
    "AchievementUpdateMultipleResponse": {
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "type": "object",
      "id": "AchievementUpdateMultipleResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        },
        "updatedAchievements": {
          "type": "array",
          "description": "The updated state of the achievements.",
          "items": {
            "$ref": "AchievementUpdateResponse"
          }
        }
      }
    },
    "SnapshotListResponse": {
      "description": "A third party list snapshots response.",
      "id": "SnapshotListResponse",
      "properties": {
        "items": {
          "description": "The snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventPeriodRange": {
      "type": "object",
      "id": "EventPeriodRange",
      "properties": {
        "periodEndMillis": {
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodStartMillis": {
          "type": "string",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64"
        }
      },
      "description": "An event period time range."
    },
    "EventBatchRecordFailure": {
      "id": "EventBatchRecordFailure",
      "properties": {
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        },
        "failureCause": {
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ],
          "type": "string",
          "description": "The cause for the update failure.",
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A batch update failure resource."
    },
    "SnapshotImage": {
      "description": "An image of a snapshot.",
      "id": "SnapshotImage",
      "properties": {
        "mime_type": {
          "description": "The MIME type of the image.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
          "type": "string"
        },
        "height": {
          "type": "integer",
          "description": "The height of the image.",
          "format": "int32"
        },
        "width": {
          "type": "integer",
          "description": "The width of the image.",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementDefinitionsListResponse": {
      "id": "AchievementDefinitionsListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          }
        }
      },
      "type": "object",
      "description": "A list of achievement definition objects."
    },
    "EventChild": {
      "description": "An event child relationship resource.",
      "type": "object",
      "id": "EventChild",
      "properties": {
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`.",
          "type": "string"
        }
      }
    },
    "MetagameConfig": {
      "id": "MetagameConfig",
      "properties": {
        "currentVersion": {
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "format": "int32",
          "type": "integer"
        },
        "playerLevels": {
          "description": "The list of player levels.",
          "items": {
            "$ref": "PlayerLevel"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The metagame config resource"
    },
    "GamePlayerToken": {
      "description": "Recall tokens for a game.",
      "id": "GamePlayerToken",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        }
      },
      "type": "object"
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "id": "GeneratePlayGroupingApiTokenResponse",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "type": "object"
    },
    "PlayGroupingApiToken": {
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "type": "object",
      "id": "PlayGroupingApiToken",
      "properties": {
        "tokenValue": {
          "description": "Value of the token.",
          "type": "string"
        }
      }
    },
    "ImageAsset": {
      "description": "An image asset object.",
      "id": "ImageAsset",
      "properties": {
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "width": {
          "type": "integer",
          "description": "The width of the asset.",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "height": {
          "description": "The height of the asset.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ResetPersonaRequest": {
      "type": "object",
      "id": "ResetPersonaRequest",
      "properties": {
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      },
      "description": "Request to remove all Recall tokens associated with a persona for an app."
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "type": "object",
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "properties": {
        "gamePlayerToken": {
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal.",
          "$ref": "GamePlayerToken"
        }
      },
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC"
    },
    "EventRecordFailure": {
      "description": "An event update failure resource.",
      "id": "EventRecordFailure",
      "properties": {
        "failureCause": {
          "description": "The cause for the update failure.",
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "type": "string",
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`.",
          "type": "string"
        },
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplicationPlayerId": {
      "type": "object",
      "id": "ApplicationPlayerId",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "playerId": {
          "description": "The player identifier for the application.",
          "type": "string"
        }
      },
      "description": "Primary scoped player identifier for an application."
    },
    "EventPeriodUpdate": {
      "description": "An event period update resource.",
      "id": "EventPeriodUpdate",
      "properties": {
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`.",
          "type": "string"
        },
        "updates": {
          "type": "array",
          "description": "The updates being made for this time period.",
          "items": {
            "$ref": "EventUpdateRequest"
          }
        }
      },
      "type": "object"
    },
    "GamesAchievementIncrement": {
      "description": "The payload to request to increment an achievement.",
      "id": "GamesAchievementIncrement",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The requestId associated with an increment to an achievement.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "steps": {
          "description": "The number of steps to be incremented.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "EventUpdateResponse": {
      "description": "An event period update resource.",
      "id": "EventUpdateResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "eventFailures": {
          "description": "Any failures updating a particular event.",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "type": "array"
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array"
        },
        "batchFailures": {
          "description": "Any batch-wide failures which occurred applying updates.",
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EventRecordRequest": {
      "description": "An event period update resource.",
      "id": "EventRecordRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "currentTimeMillis": {
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "format": "int64",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "The request ID used to identify this attempt to record events.",
          "format": "int64"
        },
        "timePeriods": {
          "type": "array",
          "description": "A list of the time period updates being made in this request.",
          "items": {
            "$ref": "EventPeriodUpdate"
          }
        }
      },
      "type": "object"
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "type": "object",
      "id": "ProfileSettings",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        },
        "friendsListVisibility": {
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ],
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ],
          "type": "string"
        }
      }
    },
    "PlayerScoreResponse": {
      "description": "A list of leaderboard entry resources.",
      "type": "object",
      "id": "PlayerScoreResponse",
      "properties": {
        "unbeatenScores": {
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "items": {
            "$ref": "PlayerScore"
          },
          "type": "array"
        },
        "formattedScore": {
          "description": "The formatted value of the submitted score.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "leaderboardId": {
          "description": "The leaderboard ID that this score was submitted to.",
          "type": "string"
        },
        "beatenScoreTimeSpans": {
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "items": {
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        }
      }
    },
    "PlayerScore": {
      "type": "object",
      "id": "PlayerScore",
      "properties": {
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "score": {
          "description": "The numerical value for this player score.",
          "format": "int64",
          "type": "string"
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "timeSpan": {
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span for this player score.",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        }
      },
      "description": "A player score."
    },
    "UnlinkPersonaResponse": {
      "type": "object",
      "id": "UnlinkPersonaResponse",
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      },
      "description": "Response for the UnlinkPersona RPC"
    },
    "AchievementDefinition": {
      "id": "AchievementDefinition",
      "properties": {
        "revealedIconUrl": {
          "description": "The image URL for the revealed achievement icon.",
          "type": "string"
        },
        "achievementType": {
          "description": "The type of the achievement.",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "type": "string",
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ]
        },
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        },
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points which will be earned when unlocking this achievement.",
          "format": "int64"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "initialState": {
          "description": "The initial state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string"
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "totalSteps": {
          "description": "The total steps for an incremental achievement.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "An achievement definition object."
    },
    "RevisionCheckResponse": {
      "id": "RevisionCheckResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        },
        "apiVersion": {
          "description": "The version of the API this client revision should use when calling API methods.",
          "type": "string"
        },
        "revisionStatus": {
          "type": "string",
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "description": "The result of the revision check.",
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ]
        }
      },
      "type": "object",
      "description": "A third party checking a revision response."
    },
    "InstanceWebDetails": {
      "id": "InstanceWebDetails",
      "properties": {
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "launchUrl": {
          "description": "Launch URL for the game.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Web details resource."
    },
    "PlayerAchievement": {
      "type": "object",
      "id": "PlayerAchievement",
      "properties": {
        "currentSteps": {
          "type": "integer",
          "description": "The current steps for an incremental achievement.",
          "format": "int32"
        },
        "experiencePoints": {
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "achievementState": {
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "description": "The timestamp of the last modification to this achievement's state.",
          "format": "int64"
        },
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        }
      },
      "description": "An achievement object."
    },
    "Leaderboard": {
      "type": "object",
      "id": "Leaderboard",
      "properties": {
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "order": {
          "description": "How scores are ordered.",
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "type": "string",
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        },
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        },
        "isIconUrlDefault": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        }
      },
      "description": "The Leaderboard resource."
    },
    "AchievementUnlockResponse": {
      "type": "object",
      "id": "AchievementUnlockResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      },
      "description": "An achievement unlock response"
    },
    "PlayerLeaderboardScoreListResponse": {
      "description": "A list of player leaderboard scores.",
      "id": "PlayerLeaderboardScoreListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "items": {
          "type": "array",
          "description": "The leaderboard scores.",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          }
        }
      },
      "type": "object"
    },
    "ApplicationCategory": {
      "id": "ApplicationCategory",
      "properties": {
        "primary": {
          "description": "The primary category.",
          "type": "string"
        },
        "secondary": {
          "description": "The secondary category.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An application category object."
    },
    "AchievementUpdateRequest": {
      "type": "object",
      "id": "AchievementUpdateRequest",
      "properties": {
        "incrementPayload": {
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement.",
          "$ref": "GamesAchievementIncrement"
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        },
        "setStepsAtLeastPayload": {
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement.",
          "$ref": "GamesAchievementSetStepsAtLeast"
        },
        "updateType": {
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ],
          "type": "string",
          "description": "The type of update being applied.",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        }
      },
      "description": "A request to update an achievement."
    },
    "AchievementIncrementResponse": {
      "id": "AchievementIncrementResponse",
      "properties": {
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "An achievement increment response"
    },
    "ScoreSubmission": {
      "type": "object",
      "id": "ScoreSubmission",
      "properties": {
        "leaderboardId": {
          "description": "The leaderboard this score is being submitted to.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`.",
          "type": "string"
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "score": {
          "description": "The new score being submitted.",
          "format": "int64",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "description": "A request to submit a score to leaderboards."
    },
    "AchievementSetStepsAtLeastResponse": {
      "type": "object",
      "id": "AchievementSetStepsAtLeastResponse",
      "properties": {
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`.",
          "type": "string"
        }
      },
      "description": "An achievement set steps at least response."
    },
    "Player": {
      "type": "object",
      "id": "Player",
      "properties": {
        "gamePlayerId": {
          "description": "Per-application unique player identifier.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "friendStatus": {
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "name": {
          "properties": {
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "A representation of the individual components of the name."
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        }
      },
      "description": "A Player resource."
    },
    "AchievementUpdateResponse": {
      "description": "An updated achievement.",
      "type": "object",
      "id": "AchievementUpdateResponse",
      "properties": {
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        },
        "currentSteps": {
          "description": "The current steps recorded for this achievement if it is incremental.",
          "format": "int32",
          "type": "integer"
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string"
        }
      }
    },
    "ResetPersonaResponse": {
      "description": "Response for the ResetPersona RPC",
      "type": "object",
      "id": "ResetPersonaResponse",
      "properties": {
        "unlinked": {
          "description": "Required. Whether any tokens were unlinked as a result of this request.",
          "type": "boolean"
        }
      }
    },
    "LinkPersonaRequest": {
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "type": "object",
      "id": "LinkPersonaRequest",
      "properties": {
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "Input only. Optional time-to-live.",
          "format": "google-duration"
        },
        "token": {
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation).",
          "type": "string"
        },
        "cardinalityConstraint": {
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "type": "string",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ]
        },
        "expireTime": {
          "type": "string",
          "description": "Input only. Optional expiration time.",
          "format": "google-datetime"
        },
        "conflictingLinksResolutionPolicy": {
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ],
          "type": "string",
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ]
        },
        "persona": {
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games.",
          "type": "string"
        }
      }
    },
    "Instance": {
      "description": "The Instance resource.",
      "id": "Instance",
      "properties": {
        "webInstance": {
          "description": "Platform dependent details for Web.",
          "$ref": "InstanceWebDetails"
        },
        "platformType": {
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "type": "string",
          "description": "The platform type.",
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ]
        },
        "androidInstance": {
          "description": "Platform dependent details for Android.",
          "$ref": "InstanceAndroidDetails"
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "turnBasedPlay": {
          "description": "Flag to show if this game instance supports turn based play.",
          "type": "boolean"
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "name": {
          "description": "Localized display name.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "acquisitionUri": {
          "description": "URI which shows where a user can acquire this instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementUpdateMultipleRequest": {
      "type": "object",
      "id": "AchievementUpdateMultipleRequest",
      "properties": {
        "updates": {
          "type": "array",
          "description": "The individual achievement update requests.",
          "items": {
            "$ref": "AchievementUpdateRequest"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        }
      },
      "description": "A list of achievement update requests."
    },
    "UnlinkPersonaRequest": {
      "id": "UnlinkPersonaRequest",
      "properties": {
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "token": {
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC",
          "type": "string"
        },
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to remove a Recall token linking PGS principal and an in-game account"
    },
    "Category": {
      "id": "Category",
      "properties": {
        "category": {
          "description": "The category name.",
          "type": "string"
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points earned in this category.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Data related to individual game categories."
    },
    "PlayerLeaderboardScore": {
      "description": "A player leaderboard score object.",
      "type": "object",
      "id": "PlayerLeaderboardScore",
      "properties": {
        "publicRank": {
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly.",
          "$ref": "LeaderboardScoreRank"
        },
        "socialRank": {
          "description": "The social rank of the score in this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "writeTimestamp": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64",
          "type": "string"
        },
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "timeSpan": {
          "description": "The time span of this score.",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreValue": {
          "type": "string",
          "description": "The numerical value of this score.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        }
      }
    },
    "PlayerExperienceInfo": {
      "id": "PlayerExperienceInfo",
      "properties": {
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "PlayerLevel"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "PlayerLevel"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64",
          "type": "string"
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "1P/3P metadata about the player's experience."
    },
    "InstanceIosDetails": {
      "description": "The iOS details resource.",
      "type": "object",
      "id": "InstanceIosDetails",
      "properties": {
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        }
      }
    },
    "LeaderboardEntry": {
      "description": "The Leaderboard Entry resource.",
      "id": "LeaderboardEntry",
      "properties": {
        "scoreValue": {
          "type": "string",
          "description": "The numerical value of this score.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`.",
          "type": "string"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        },
        "writeTimestampMillis": {
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64"
        },
        "scoreRank": {
          "type": "string",
          "description": "The rank of this score for this leaderboard.",
          "format": "int64"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "timeSpan": {
          "description": "The time span of this high score.",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        },
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventDefinitionListResponse": {
      "id": "EventDefinitionListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The event definitions.",
          "items": {
            "$ref": "EventDefinition"
          }
        }
      },
      "type": "object",
      "description": "A ListDefinitions response."
    },
    "LinkPersonaResponse": {
      "description": "Outcome of a persona linking attempt.",
      "id": "LinkPersonaResponse",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ],
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "type": "string",
          "description": "Output only. State of a persona linking attempt."
        }
      },
      "type": "object"
    }
  },
  "servicePath": "",
  "resources": {
    "metagame": {
      "methods": {
        "getMetagameConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "flatPath": "games/v1/metagameConfig",
          "response": {
            "$ref": "MetagameConfig"
          },
          "description": "Return the metagame configuration data for the calling application.",
          "httpMethod": "GET",
          "id": "games.metagame.getMetagameConfig",
          "path": "games/v1/metagameConfig",
          "parameters": {}
        },
        "listCategoriesByPlayer": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "id": "games.metagame.listCategoriesByPlayer",
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "collection": {
              "description": "The collection of categories for which data will be returned.",
              "type": "string",
              "enum": [
                "ALL"
              ],
              "location": "path",
              "required": true,
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ]
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "platformType": {
              "location": "query",
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "type": "string",
              "description": "Restrict application details returned to the specific platform."
            }
          },
          "id": "games.applications.get",
          "path": "games/v1/applications/{applicationId}"
        },
        "played": {
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "games/v1/applications/played",
          "description": "Indicate that the currently authenticated user is playing your application.",
          "httpMethod": "POST",
          "id": "games.applications.played",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/applications/played"
        },
        "verify": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "httpMethod": "GET",
          "id": "games.applications.verify",
          "path": "games/v1/applications/{applicationId}/verify",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "getEndPoint": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "games/v1/applications/getEndPoint",
          "response": {
            "$ref": "EndPoint"
          },
          "description": "Returns a URL for the requested end point type.",
          "id": "games.applications.getEndPoint",
          "path": "games/v1/applications/getEndPoint",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "query",
              "type": "string"
            },
            "endPointType": {
              "type": "string",
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "description": "Type of endpoint being requested.",
              "location": "query",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ]
            }
          }
        }
      }
    },
    "recall": {
      "methods": {
        "resetPersona": {
          "httpMethod": "POST",
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "flatPath": "games/v1/recall:resetPersona",
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {},
          "path": "games/v1/recall:resetPersona",
          "id": "games.recall.resetPersona"
        },
        "lastTokenFromAllDeveloperGames": {
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ],
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "unlinkPersona": {
          "path": "games/v1/recall:unlinkPersona",
          "id": "games.recall.unlinkPersona",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "flatPath": "games/v1/recall:unlinkPersona",
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value.",
          "parameterOrder": []
        },
        "linkPersona": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "flatPath": "games/v1/recall:linkPersona",
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "id": "games.recall.linkPersona",
          "path": "games/v1/recall:linkPersona",
          "parameters": {}
        },
        "gamesPlayerTokens": {
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "httpMethod": "GET",
          "parameterOrder": [
            "sessionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "applicationIds": {
              "repeated": true,
              "type": "string",
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "location": "query"
            }
          },
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "id": "games.recall.gamesPlayerTokens"
        },
        "retrieveTokens": {
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "games/v1/recall/tokens/{sessionId}",
          "id": "games.recall.retrieveTokens",
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "httpMethod": "GET",
          "parameterOrder": [
            "sessionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "flatPath": "games/v1/achievements",
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "description": "Lists all the achievement definitions for your application.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "path": "games/v1/achievements",
          "id": "games.achievementDefinitions.list"
        }
      }
    },
    "players": {
      "methods": {
        "list": {
          "parameters": {
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "collection": {
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "type": "string",
              "description": "Collection of players being retrieved",
              "location": "path",
              "required": true,
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ]
            }
          },
          "id": "games.players.list",
          "path": "games/v1/players/me/players/{collection}",
          "parameterOrder": [
            "collection"
          ],
          "flatPath": "games/v1/players/me/players/{collection}",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "description": "Get the collection of players for the currently authenticated user.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "getMultipleApplicationPlayerIds": {
          "parameters": {
            "applicationIds": {
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
[...]
