{
  "ownerName": "Google",
  "canonicalName": "Games Management",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Google Play Games Services Management API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "id": "gamesManagement:v1management",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "gamesManagement",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260423",
  "resources": {
    "applications": {
      "methods": {
        "listHidden": {
          "id": "gamesManagement.applications.listHidden",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "response": {
            "$ref": "HiddenPlayerList"
          }
        }
      }
    },
    "scores": {
      "methods": {
        "resetForAllPlayers": {
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.scores.resetForAllPlayers",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string"
            }
          }
        },
        "reset": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "id": "gamesManagement.scores.reset",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path"
            }
          },
          "httpMethod": "POST"
        },
        "resetAllForAllPlayers": {
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "parameters": {},
          "parameterOrder": [],
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetMultipleForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameters": {},
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "httpMethod": "POST"
        },
        "resetAll": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "id": "gamesManagement.scores.resetAll",
          "path": "games/v1management/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "flatPath": "games/v1management/scores/reset",
          "parameters": {},
          "httpMethod": "POST"
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "id": "gamesManagement.players.hide",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string"
            },
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console."
        },
        "unhide": {
          "httpMethod": "DELETE",
          "id": "gamesManagement.players.unhide",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string"
            },
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "events": {
      "methods": {
        "resetForAllPlayers": {
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.resetForAllPlayers",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [
            "eventId"
          ],
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "parameters": {
            "eventId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the event."
            }
          }
        },
        "resetAllForAllPlayers": {
          "parameters": {},
          "parameterOrder": [],
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "path": "games/v1management/events/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/events/resetAllForAllPlayers"
        },
        "reset": {
          "flatPath": "games/v1management/events/{eventId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.reset",
          "path": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST",
          "parameterOrder": [
            "eventId"
          ],
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "resetAll": {
          "id": "gamesManagement.events.resetAll",
          "path": "games/v1management/events/reset",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {},
          "flatPath": "games/v1management/events/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetMultipleForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          }
        }
      }
    },
    "achievements": {
      "methods": {
        "reset": {
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the achievement used by this method."
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "id": "gamesManagement.achievements.reset",
          "path": "games/v1management/achievements/{achievementId}/reset"
        },
        "resetAllForAllPlayers": {
          "parameterOrder": [],
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers"
        },
        "resetMultipleForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          }
        },
        "resetAll": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetAll",
          "path": "games/v1management/achievements/reset",
          "parameterOrder": [],
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "flatPath": "games/v1management/achievements/reset",
          "httpMethod": "POST",
          "parameters": {}
        },
        "resetForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the achievement used by this method."
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers"
        }
      }
    }
  },
  "schemas": {
    "PlayerScoreResetAllResponse": {
      "description": "A list of leaderboard reset resources.",
      "type": "object",
      "id": "PlayerScoreResetAllResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`."
        },
        "results": {
          "type": "array",
          "description": "The leaderboard reset results.",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          }
        }
      }
    },
    "HiddenPlayer": {
      "description": "The HiddenPlayer resource.",
      "id": "HiddenPlayer",
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`."
        },
        "player": {
          "$ref": "Player",
          "readOnly": true,
          "description": "Output only. The player information."
        },
        "hiddenTimeMillis": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this player was hidden."
        }
      },
      "type": "object"
    },
    "GamesPlayerLevelResource": {
      "type": "object",
      "id": "GamesPlayerLevelResource",
      "properties": {
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "1P/3P metadata about a user's level."
    },
    "EventsResetMultipleForAllRequest": {
      "description": "Multiple events reset all request.",
      "id": "EventsResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "type": "array",
          "description": "The IDs of events to reset.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "HiddenPlayer"
          },
          "description": "The players."
        }
      },
      "type": "object",
      "description": "A list of hidden players."
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`."
        },
        "achievement_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "id": "GamesPlayerExperienceInfoResource",
      "properties": {
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64",
          "type": "string"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "1P/3P metadata about the player's experience."
    },
    "ScoresResetMultipleForAllRequest": {
      "type": "object",
      "id": "ScoresResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of leaderboards to reset."
        }
      }
    },
    "AchievementResetAllResponse": {
      "description": "Achievement reset all response.",
      "id": "AchievementResetAllResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "description": "The achievement reset results."
        }
      },
      "type": "object"
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "id": "ProfileSettings",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        },
        "profileVisible": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AchievementResetResponse": {
      "description": "An achievement reset response.",
      "type": "object",
      "id": "AchievementResetResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of an achievement for which player state has been updated."
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        }
      }
    },
    "Player": {
      "type": "object",
      "id": "Player",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "name": {
          "properties": {
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            },
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            }
          },
          "type": "object",
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present."
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        }
      },
      "description": "A Player resource."
    },
    "PlayerScoreResetResponse": {
      "description": "A list of reset leaderboard entry resources.",
      "type": "object",
      "id": "PlayerScoreResetResponse",
      "properties": {
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        },
        "resetScoreTimeSpans": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. "
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/games/",
  "servicePath": "",
  "version": "v1management",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "protocol": "rest",
  "basePath": ""
}