{
  "ownerDomain": "google.com",
  "revision": "20260423",
  "title": "Google Play Games Services Management API",
  "basePath": "",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "applications": {
      "methods": {
        "listHidden": {
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "id": "gamesManagement.applications.listHidden",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "events": {
      "methods": {
        "resetAllForAllPlayers": {
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "path": "games/v1management/events/resetAllForAllPlayers",
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console."
        },
        "resetAll": {
          "id": "gamesManagement.events.resetAll",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "path": "games/v1management/events/reset",
          "flatPath": "games/v1management/events/reset",
          "httpMethod": "POST",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        },
        "reset": {
          "flatPath": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/events/{eventId}/reset",
          "parameterOrder": [
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "eventId": {
              "type": "string",
              "description": "The ID of the event.",
              "required": true,
              "location": "path"
            }
          },
          "id": "gamesManagement.events.reset"
        },
        "resetForAllPlayers": {
          "parameterOrder": [
            "eventId"
          ],
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "id": "gamesManagement.events.resetForAllPlayers",
          "parameters": {
            "eventId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the event.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetMultipleForAllPlayers": {
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "httpMethod": "POST",
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "parameterOrder": [],
          "id": "gamesManagement.events.resetMultipleForAllPlayers"
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string"
            },
            "playerId": {
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            }
          },
          "id": "gamesManagement.players.hide",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "POST",
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ]
        },
        "unhide": {
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "DELETE",
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.players.unhide",
          "parameters": {
            "applicationId": {
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path"
            },
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "scores": {
      "methods": {
        "resetAllForAllPlayers": {
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "parameterOrder": [],
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reset": {
          "id": "gamesManagement.scores.reset",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "httpMethod": "POST",
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset"
        },
        "resetForAllPlayers": {
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "gamesManagement.scores.resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset."
        },
        "resetAll": {
          "httpMethod": "POST",
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetAll",
          "flatPath": "games/v1management/scores/reset",
          "path": "games/v1management/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {}
        },
        "resetMultipleForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "parameterOrder": []
        }
      }
    },
    "achievements": {
      "methods": {
        "resetAllForAllPlayers": {
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "parameterOrder": [],
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "parameters": {}
        },
        "resetAll": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "flatPath": "games/v1management/achievements/reset",
          "path": "games/v1management/achievements/reset",
          "id": "gamesManagement.achievements.resetAll",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "httpMethod": "POST",
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": []
        },
        "reset": {
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "httpMethod": "POST",
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "achievementId"
          ],
          "id": "gamesManagement.achievements.reset",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "path": "games/v1management/achievements/{achievementId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "resetForAllPlayers": {
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "resetMultipleForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "parameterOrder": []
        }
      }
    }
  },
  "protocol": "rest",
  "name": "gamesManagement",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "kind": "discovery#restDescription",
  "version": "v1management",
  "schemas": {
    "ScoresResetMultipleForAllRequest": {
      "type": "object",
      "id": "ScoresResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`."
        },
        "leaderboard_ids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of leaderboards to reset."
        }
      }
    },
    "GamesPlayerExperienceInfoResource": {
      "description": "1P/3P metadata about the player's experience.",
      "type": "object",
      "id": "GamesPlayerExperienceInfoResource",
      "properties": {
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The current number of experience points for the player."
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        },
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64"
        }
      }
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The players.",
          "type": "array",
          "items": {
            "$ref": "HiddenPlayer"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."
        }
      },
      "description": "A list of hidden players.",
      "type": "object"
    },
    "PlayerScoreResetAllResponse": {
      "properties": {
        "results": {
          "description": "The leaderboard reset results.",
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        }
      },
      "id": "PlayerScoreResetAllResponse",
      "type": "object",
      "description": "A list of leaderboard reset resources."
    },
    "AchievementResetAllResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "type": "array",
          "description": "The achievement reset results."
        }
      },
      "id": "AchievementResetAllResponse",
      "type": "object",
      "description": "Achievement reset all response."
    },
    "GamesPlayerLevelResource": {
      "type": "object",
      "description": "1P/3P metadata about a user's level.",
      "properties": {
        "minExperiencePoints": {
          "format": "int64",
          "description": "The minimum experience points for this level.",
          "type": "string"
        },
        "level": {
          "type": "integer",
          "description": "The level for the user.",
          "format": "int32"
        },
        "maxExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The maximum experience points for this level."
        }
      },
      "id": "GamesPlayerLevelResource"
    },
    "EventsResetMultipleForAllRequest": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`."
        },
        "event_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of events to reset.",
          "type": "array"
        }
      },
      "id": "EventsResetMultipleForAllRequest",
      "type": "object",
      "description": "Multiple events reset all request."
    },
    "HiddenPlayer": {
      "id": "HiddenPlayer",
      "properties": {
        "player": {
          "$ref": "Player",
          "description": "Output only. The player information.",
          "readOnly": true
        },
        "kind": {
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "readOnly": true,
          "type": "string"
        },
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The HiddenPlayer resource.",
      "type": "object"
    },
    "AchievementResetMultipleForAllRequest": {
      "type": "object",
      "id": "AchievementResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`."
        },
        "achievement_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset.",
          "type": "array"
        }
      }
    },
    "AchievementResetResponse": {
      "description": "An achievement reset response.",
      "type": "object",
      "id": "AchievementResetResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Flag to indicate if the requested update actually occurred."
        }
      }
    },
    "PlayerScoreResetResponse": {
      "id": "PlayerScoreResetResponse",
      "properties": {
        "resetScoreTimeSpans": {
          "type": "array",
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "items": {
            "type": "string"
          }
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of an leaderboard for which player state has been updated."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        }
      },
      "description": "A list of reset leaderboard entry resources.",
      "type": "object"
    },
    "Player": {
      "description": "A Player resource.",
      "type": "object",
      "id": "Player",
      "properties": {
        "name": {
          "type": "object",
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "properties": {
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          }
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        }
      }
    },
    "ProfileSettings": {
      "type": "object",
      "description": "Profile settings",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        },
        "profileVisible": {
          "type": "boolean"
        }
      },
      "id": "ProfileSettings"
    }
  },
  "batchPath": "batch",
  "canonicalName": "Games Management",
  "id": "gamesManagement:v1management",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/games/",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "baseUrl": "https://gamesmanagement.googleapis.com/"
}