{
  "ownerName": "Google",
  "canonicalName": "Games Management",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/games/",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1management",
  "title": "Google Play Games Services Management API",
  "batchPath": "batch",
  "basePath": "",
  "name": "gamesManagement",
  "id": "gamesManagement:v1management",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260312",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "servicePath": "",
  "schemas": {
    "ScoresResetMultipleForAllRequest": {
      "id": "ScoresResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "leaderboard_ids": {
          "description": "The IDs of leaderboards to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        }
      }
    },
    "GamesPlayerExperienceInfoResource": {
      "id": "GamesPlayerExperienceInfoResource",
      "type": "object",
      "properties": {
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentExperiencePoints": {
          "type": "string",
          "description": "The current number of experience points for the player.",
          "format": "int64"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        }
      },
      "description": "1P/3P metadata about the player's experience."
    },
    "PlayerScoreResetAllResponse": {
      "id": "PlayerScoreResetAllResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "description": "The leaderboard reset results.",
          "type": "array"
        }
      },
      "description": "A list of leaderboard reset resources."
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "id": "ProfileSettings",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "type": "boolean"
        }
      }
    },
    "AchievementResetAllResponse": {
      "description": "Achievement reset all response.",
      "id": "AchievementResetAllResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "description": "The achievement reset results."
        }
      }
    },
    "Player": {
      "description": "A Player resource.",
      "id": "Player",
      "type": "object",
      "properties": {
        "name": {
          "type": "object",
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present."
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        }
      }
    },
    "AchievementResetResponse": {
      "id": "AchievementResetResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        }
      },
      "description": "An achievement reset response."
    },
    "GamesPlayerLevelResource": {
      "description": "1P/3P metadata about a user's level.",
      "id": "GamesPlayerLevelResource",
      "type": "object",
      "properties": {
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        },
        "minExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The minimum experience points for this level."
        },
        "maxExperiencePoints": {
          "type": "string",
          "description": "The maximum experience points for this level.",
          "format": "int64"
        }
      }
    },
    "PlayerScoreResetResponse": {
      "description": "A list of reset leaderboard entry resources.",
      "id": "PlayerScoreResetResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        },
        "resetScoreTimeSpans": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. "
        }
      }
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The players.",
          "items": {
            "$ref": "HiddenPlayer"
          }
        }
      },
      "description": "A list of hidden players."
    },
    "HiddenPlayer": {
      "id": "HiddenPlayer",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "readOnly": true,
          "type": "string"
        },
        "player": {
          "readOnly": true,
          "$ref": "Player",
          "description": "Output only. The player information."
        },
        "hiddenTimeMillis": {
          "format": "int64",
          "description": "Output only. The time this player was hidden.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The HiddenPlayer resource."
    },
    "EventsResetMultipleForAllRequest": {
      "description": "Multiple events reset all request.",
      "id": "EventsResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "type": "array",
          "description": "The IDs of events to reset.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        },
        "achievement_ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset."
        }
      }
    }
  },
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "resources": {
    "players": {
      "methods": {
        "hide": {
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.players.hide",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true
            }
          },
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "POST"
        },
        "unhide": {
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.players.unhide",
          "parameters": {
            "applicationId": {
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "DELETE"
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "id": "gamesManagement.applications.listHidden",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "httpMethod": "GET",
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "achievements": {
      "methods": {
        "resetAllForAllPlayers": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "parameters": {}
        },
        "resetForAllPlayers": {
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset."
        },
        "resetMultipleForAllPlayers": {
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "parameters": {}
        },
        "resetAll": {
          "parameters": {},
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "path": "games/v1management/achievements/reset",
          "flatPath": "games/v1management/achievements/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetAll",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application."
        },
        "reset": {
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "path": "games/v1management/achievements/{achievementId}/reset",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.reset",
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        }
      }
    },
    "scores": {
      "methods": {
        "reset": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.reset",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "PlayerScoreResetResponse"
          }
        },
        "resetMultipleForAllPlayers": {
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "parameters": {}
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console."
        },
        "resetForAllPlayers": {
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.scores.resetForAllPlayers",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            }
          },
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "httpMethod": "POST"
        },
        "resetAll": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/scores/reset",
          "flatPath": "games/v1management/scores/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetAll",
          "parameters": {},
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          }
        }
      }
    },
    "events": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "parameters": {}
        },
        "resetAllForAllPlayers": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "path": "games/v1management/events/resetAllForAllPlayers",
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "parameters": {}
        },
        "resetForAllPlayers": {
          "parameterOrder": [
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetForAllPlayers",
          "parameters": {
            "eventId": {
              "type": "string",
              "description": "The ID of the event.",
              "location": "path",
              "required": true
            }
          }
        },
        "resetAll": {
          "id": "gamesManagement.events.resetAll",
          "parameters": {},
          "path": "games/v1management/events/reset",
          "flatPath": "games/v1management/events/reset",
          "httpMethod": "POST",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reset": {
          "path": "games/v1management/events/{eventId}/reset",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.events.reset",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        }
      }
    }
  },
  "baseUrl": "https://gamesmanagement.googleapis.com/"
}