{
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "id": "games:v1",
  "basePath": "",
  "name": "games",
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "title": "Google Play Games Services API",
  "discoveryVersion": "v1",
  "version": "v1",
  "baseUrl": "https://games.googleapis.com/",
  "canonicalName": "Games",
  "ownerDomain": "google.com",
  "revision": "20260423",
  "schemas": {
    "SnapshotImage": {
      "id": "SnapshotImage",
      "properties": {
        "width": {
          "type": "integer",
          "description": "The width of the image.",
          "format": "int32"
        },
        "height": {
          "description": "The height of the image.",
          "format": "int32",
          "type": "integer"
        },
        "mime_type": {
          "description": "The MIME type of the image.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        }
      },
      "description": "An image of a snapshot.",
      "type": "object"
    },
    "AchievementUnlockResponse": {
      "id": "AchievementUnlockResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      },
      "description": "An achievement unlock response",
      "type": "object"
    },
    "AchievementUpdateResponse": {
      "type": "object",
      "description": "An updated achievement.",
      "id": "AchievementUpdateResponse",
      "properties": {
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "currentSteps": {
          "description": "The current steps recorded for this achievement if it is incremental.",
          "format": "int32",
          "type": "integer"
        },
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        }
      }
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "properties": {
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "items": {
          "description": "The leaderboard scores.",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "description": "A list of player leaderboard scores.",
      "type": "object"
    },
    "InstanceIosDetails": {
      "id": "InstanceIosDetails",
      "properties": {
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        },
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        }
      },
      "description": "The iOS details resource.",
      "type": "object"
    },
    "PlayerScore": {
      "type": "object",
      "id": "PlayerScore",
      "properties": {
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "score": {
          "type": "string",
          "description": "The numerical value for this player score.",
          "format": "int64"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "timeSpan": {
          "type": "string",
          "description": "The time span for this player score.",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        }
      },
      "description": "A player score."
    },
    "PlayerListResponse": {
      "id": "PlayerListResponse",
      "properties": {
        "items": {
          "type": "array",
          "description": "The players.",
          "items": {
            "$ref": "Player"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "description": "A third party player list response.",
      "type": "object"
    },
    "PlayerScoreListResponse": {
      "type": "object",
      "id": "PlayerScoreListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        },
        "submittedScores": {
          "description": "The score submissions statuses.",
          "items": {
            "$ref": "PlayerScoreResponse"
          },
          "type": "array"
        }
      },
      "description": "A list of score submission statuses."
    },
    "PlayerExperienceInfo": {
      "id": "PlayerExperienceInfo",
      "properties": {
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "PlayerLevel"
        },
        "nextLevel": {
          "$ref": "PlayerLevel",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        },
        "currentExperiencePoints": {
          "type": "string",
          "description": "The current number of experience points for the player.",
          "format": "int64"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "1P/3P metadata about the player's experience.",
      "type": "object"
    },
    "EventChild": {
      "id": "EventChild",
      "properties": {
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`.",
          "type": "string"
        }
      },
      "description": "An event child relationship resource.",
      "type": "object"
    },
    "LeaderboardListResponse": {
      "type": "object",
      "description": "A list of leaderboard objects.",
      "id": "LeaderboardListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The leaderboards.",
          "items": {
            "$ref": "Leaderboard"
          }
        }
      }
    },
    "Player": {
      "type": "object",
      "id": "Player",
      "properties": {
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "Per-application unique player identifier.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "friendStatus": {
          "type": "string",
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "name": {
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "description": "A representation of the individual components of the name.",
          "type": "object"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        }
      },
      "description": "A Player resource."
    },
    "InstanceAndroidDetails": {
      "type": "object",
      "description": "The Android instance details resource.",
      "id": "InstanceAndroidDetails",
      "properties": {
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        }
      }
    },
    "StatsResponse": {
      "id": "StatsResponse",
      "properties": {
        "churn_probability": {
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "num_purchases": {
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32",
          "type": "integer"
        },
        "num_sessions_percentile": {
          "type": "number",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "total_spend_next_28_days": {
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "num_sessions": {
          "type": "integer",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        },
        "spend_probability": {
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "spend_percentile": {
          "type": "number",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "days_since_last_played": {
          "type": "integer",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        },
        "avg_session_length_minutes": {
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "high_spender_probability": {
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "A third party stats resource.",
      "type": "object"
    },
    "InstanceWebDetails": {
      "type": "object",
      "id": "InstanceWebDetails",
      "properties": {
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "launchUrl": {
          "description": "Launch URL for the game.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        }
      },
      "description": "The Web details resource."
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC",
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "properties": {
        "gamePlayerToken": {
          "$ref": "GamePlayerToken",
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal."
        }
      },
      "type": "object"
    },
    "EventUpdateRequest": {
      "type": "object",
      "id": "EventUpdateRequest",
      "properties": {
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        },
        "updateCount": {
          "type": "string",
          "description": "The number of times this event occurred in this time period.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        }
      },
      "description": "An event period update resource."
    },
    "PlayerLeaderboardScore": {
      "type": "object",
      "id": "PlayerLeaderboardScore",
      "properties": {
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "writeTimestamp": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "publicRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly."
        },
        "scoreValue": {
          "description": "The numerical value of this score.",
          "format": "int64",
          "type": "string"
        },
        "timeSpan": {
          "description": "The time span of this score.",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "socialRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The social rank of the score in this leaderboard."
        }
      },
      "description": "A player leaderboard score object."
    },
    "PlayerLevel": {
      "description": "1P/3P metadata about a user's level.",
      "id": "PlayerLevel",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "level": {
          "type": "integer",
          "description": "The level for the user.",
          "format": "int32"
        },
        "maxExperiencePoints": {
          "type": "string",
          "description": "The maximum experience points for this level.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "LeaderboardScoreRank": {
      "type": "object",
      "description": "A score rank in a leaderboard.",
      "id": "LeaderboardScoreRank",
      "properties": {
        "formattedRank": {
          "description": "The rank in the leaderboard as a string.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        },
        "numScores": {
          "description": "The number of scores in the leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "rank": {
          "description": "The rank in the leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "formattedNumScores": {
          "description": "The number of scores in the leaderboard as a string.",
          "type": "string"
        }
      }
    },
    "GamesAchievementSetStepsAtLeast": {
      "type": "object",
      "id": "GamesAchievementSetStepsAtLeast",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        },
        "steps": {
          "type": "integer",
          "description": "The minimum number of steps for the achievement to be set to.",
          "format": "int32"
        }
      },
      "description": "The payload to request to increment an achievement."
    },
    "UnlinkPersonaResponse": {
      "type": "object",
      "description": "Response for the UnlinkPersona RPC",
      "id": "UnlinkPersonaResponse",
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      }
    },
    "PlayGroupingApiToken": {
      "type": "object",
      "id": "PlayGroupingApiToken",
      "properties": {
        "tokenValue": {
          "description": "Value of the token.",
          "type": "string"
        }
      },
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC."
    },
    "PlayerAchievementListResponse": {
      "description": "A list of achievement objects.",
      "id": "PlayerAchievementListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The achievements.",
          "items": {
            "$ref": "PlayerAchievement"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PlayerAchievement": {
      "type": "object",
      "id": "PlayerAchievement",
      "properties": {
        "lastUpdatedTimestamp": {
          "description": "The timestamp of the last modification to this achievement's state.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "format": "int64"
        },
        "achievementState": {
          "type": "string",
          "description": "The state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps for an incremental achievement.",
          "format": "int32"
        }
      },
      "description": "An achievement object."
    },
    "UnlinkPersonaRequest": {
      "type": "object",
      "id": "UnlinkPersonaRequest",
      "properties": {
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "token": {
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC",
          "type": "string"
        },
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      },
      "description": "Request to remove a Recall token linking PGS principal and an in-game account"
    },
    "SnapshotListResponse": {
      "type": "object",
      "description": "A third party list snapshots response.",
      "id": "SnapshotListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The snapshots.",
          "items": {
            "$ref": "Snapshot"
          }
        }
      }
    },
    "RecallToken": {
      "id": "RecallToken",
      "properties": {
        "token": {
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. Optional expiration time of the token",
          "format": "google-datetime"
        },
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        }
      },
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "type": "object"
    },
    "EventPeriodRange": {
      "type": "object",
      "description": "An event period time range.",
      "id": "EventPeriodRange",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodEndMillis": {
          "type": "string",
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64"
        },
        "periodStartMillis": {
          "type": "string",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64"
        }
      }
    },
    "ApplicationVerifyResponse": {
      "type": "object",
      "id": "ApplicationVerifyResponse",
      "properties": {
        "player_id": {
          "description": "The ID of the player that was issued the auth token used in this request.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        },
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        }
      },
      "description": "A third party application verification response resource."
    },
    "EndPoint": {
      "description": "Container for a URL end point of the requested type.",
      "id": "EndPoint",
      "properties": {
        "url": {
          "description": "A URL suitable for loading in a web browser for the requested endpoint.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ScoreSubmission": {
      "type": "object",
      "id": "ScoreSubmission",
      "properties": {
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "score": {
          "description": "The new score being submitted.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`.",
          "type": "string"
        },
        "leaderboardId": {
          "description": "The leaderboard this score is being submitted to.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "description": "A request to submit a score to leaderboards."
    },
    "ApplicationPlayerId": {
      "type": "object",
      "description": "Primary scoped player identifier for an application.",
      "id": "ApplicationPlayerId",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "playerId": {
          "description": "The player identifier for the application.",
          "type": "string"
        }
      }
    },
    "Leaderboard": {
      "id": "Leaderboard",
      "properties": {
        "isIconUrlDefault": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "order": {
          "description": "How scores are ordered.",
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        },
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        }
      },
      "description": "The Leaderboard resource.",
      "type": "object"
    },
    "GamesAchievementIncrement": {
      "id": "GamesAchievementIncrement",
      "properties": {
        "steps": {
          "description": "The number of steps to be incremented.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "The requestId associated with an increment to an achievement.",
          "format": "int64"
        }
      },
      "description": "The payload to request to increment an achievement.",
      "type": "object"
    },
    "LeaderboardEntry": {
      "id": "LeaderboardEntry",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`.",
          "type": "string"
        },
        "scoreValue": {
          "type": "string",
          "description": "The numerical value of this score.",
          "format": "int64"
        },
        "timeSpan": {
          "description": "The time span of this high score.",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "writeTimestampMillis": {
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64"
        },
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        }
      },
      "description": "The Leaderboard Entry resource.",
      "type": "object"
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "properties": {
        "token": {
          "$ref": "PlayGroupingApiToken",
          "description": "Token for accessing the Play Grouping API."
        }
      },
      "type": "object"
    },
    "EventRecordFailure": {
      "type": "object",
      "id": "EventRecordFailure",
      "properties": {
        "failureCause": {
          "description": "The cause for the update failure.",
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "type": "string"
        },
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`.",
          "type": "string"
        }
      },
      "description": "An event update failure resource."
    },
    "AchievementIncrementResponse": {
      "type": "object",
      "id": "AchievementIncrementResponse",
      "properties": {
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32"
        }
      },
      "description": "An achievement increment response"
    },
    "AchievementUpdateRequest": {
      "id": "AchievementUpdateRequest",
      "properties": {
        "setStepsAtLeastPayload": {
          "$ref": "GamesAchievementSetStepsAtLeast",
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement."
        },
        "updateType": {
          "type": "string",
          "description": "The type of update being applied.",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ]
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        },
        "incrementPayload": {
          "$ref": "GamesAchievementIncrement",
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement."
        }
      },
      "description": "A request to update an achievement.",
      "type": "object"
    },
    "EventDefinition": {
      "type": "object",
      "description": "An event definition resource.",
      "id": "EventDefinition",
      "properties": {
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        },
        "visibility": {
          "description": "The visibility of event being tracked in this definition.",
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "childEvents": {
          "description": "A list of events that are a child of this event.",
          "items": {
            "$ref": "EventChild"
          },
          "type": "array"
        }
      }
    },
    "CategoryListResponse": {
      "type": "object",
      "description": "A third party list metagame categories response.",
      "id": "CategoryListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The list of categories with usage data.",
          "items": {
            "$ref": "Category"
          },
          "type": "array"
        }
      }
    },
    "ImageAsset": {
      "type": "object",
      "description": "An image asset object.",
      "id": "ImageAsset",
      "properties": {
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "height": {
          "type": "integer",
          "description": "The height of the asset.",
          "format": "int32"
        },
        "width": {
          "description": "The width of the asset.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "PlayerEventListResponse": {
      "id": "PlayerEventListResponse",
      "properties": {
        "items": {
          "description": "The player events.",
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "description": "A ListByPlayer response.",
      "type": "object"
    },
    "Snapshot": {
      "type": "object",
      "description": "An snapshot object.",
      "id": "Snapshot",
      "properties": {
        "progressValue": {
          "type": "string",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "format": "int64"
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "durationMillis": {
          "description": "The duration associated with this snapshot, in millis.",
          "format": "int64",
          "type": "string"
        },
        "coverImage": {
          "$ref": "SnapshotImage",
          "description": "The cover image of this snapshot. May be absent if there is no image."
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        },
        "lastModifiedMillis": {
          "type": "string",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "format": "int64"
        },
        "type": {
          "description": "The type of this snapshot.",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "enum": [
            "SAVE_GAME"
          ],
          "type": "string"
        },
        "uniqueName": {
          "description": "The unique name provided when the snapshot was created.",
          "type": "string"
        }
      }
    },
    "GamePlayerToken": {
      "type": "object",
      "id": "GamePlayerToken",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        }
      },
      "description": "Recall tokens for a game."
    },
    "EventPeriodUpdate": {
      "id": "EventPeriodUpdate",
      "properties": {
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        },
        "updates": {
          "description": "The updates being made for this time period.",
          "items": {
            "$ref": "EventUpdateRequest"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`.",
          "type": "string"
        }
      },
      "description": "An event period update resource.",
      "type": "object"
    },
    "MetagameConfig": {
      "type": "object",
      "description": "The metagame config resource",
      "id": "MetagameConfig",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`.",
          "type": "string"
        },
        "currentVersion": {
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "format": "int32",
          "type": "integer"
        },
        "playerLevels": {
          "description": "The list of player levels.",
          "items": {
            "$ref": "PlayerLevel"
          },
          "type": "array"
        }
      }
    },
    "PlayerEvent": {
      "type": "object",
      "id": "PlayerEvent",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`.",
          "type": "string"
        },
        "numEvents": {
          "type": "string",
          "description": "The current number of times this event has occurred.",
          "format": "int64"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of the event definition.",
          "type": "string"
        }
      },
      "description": "An event status resource."
    },
    "Category": {
      "description": "Data related to individual game categories.",
      "id": "Category",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        },
        "category": {
          "description": "The category name.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points earned in this category.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlayerScoreResponse": {
      "type": "object",
      "description": "A list of leaderboard entry resources.",
      "id": "PlayerScoreResponse",
      "properties": {
        "formattedScore": {
          "description": "The formatted value of the submitted score.",
          "type": "string"
        },
        "beatenScoreTimeSpans": {
          "type": "array",
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "items": {
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "type": "string"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        },
        "unbeatenScores": {
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "items": {
            "$ref": "PlayerScore"
          },
          "type": "array"
        },
        "leaderboardId": {
          "description": "The leaderboard ID that this score was submitted to.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      }
    },
    "RetrieveGamesPlayerTokensResponse": {
      "type": "object",
      "id": "RetrieveGamesPlayerTokensResponse",
      "properties": {
        "gamePlayerTokens": {
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response.",
          "items": {
            "$ref": "GamePlayerToken"
          },
          "type": "array"
        }
      },
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC"
    },
    "AchievementRevealResponse": {
      "type": "object",
      "id": "AchievementRevealResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string"
        }
      },
      "description": "An achievement reveal response"
    },
    "ScopedPlayerIds": {
      "type": "object",
      "id": "ScopedPlayerIds",
      "properties": {
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        },
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        }
      },
      "description": "Scoped player identifiers."
    },
    "ResetPersonaResponse": {
      "description": "Response for the ResetPersona RPC",
      "id": "ResetPersonaResponse",
      "properties": {
        "unlinked": {
          "description": "Required. Whether any tokens were unlinked as a result of this request.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AchievementDefinition": {
      "type": "object",
      "id": "AchievementDefinition",
      "properties": {
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "achievementType": {
          "description": "The type of the achievement.",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ],
          "type": "string"
        },
        "totalSteps": {
          "description": "The total steps for an incremental achievement.",
          "format": "int32",
          "type": "integer"
        },
        "experiencePoints": {
          "description": "Experience points which will be earned when unlocking this achievement.",
          "format": "int64",
          "type": "string"
        },
        "initialState": {
          "type": "string",
          "description": "The initial state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "revealedIconUrl": {
          "description": "The image URL for the revealed achievement icon.",
          "type": "string"
        },
        "achievementLifecycleState": {
          "description": "Output only. The lifecycle state of the achievement.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        }
      },
      "description": "An achievement definition object."
    },
    "RevisionCheckResponse": {
      "id": "RevisionCheckResponse",
      "properties": {
        "revisionStatus": {
          "description": "The result of the revision check.",
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        },
        "apiVersion": {
          "description": "The version of the API this client revision should use when calling API methods.",
          "type": "string"
        }
      },
      "description": "A third party checking a revision response.",
      "type": "object"
    },
    "EventUpdateResponse": {
      "description": "An event period update resource.",
      "id": "EventUpdateResponse",
      "properties": {
        "batchFailures": {
          "type": "array",
          "description": "Any batch-wide failures which occurred applying updates.",
          "items": {
            "$ref": "EventBatchRecordFailure"
          }
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "eventFailures": {
          "type": "array",
          "description": "Any failures updating a particular event.",
          "items": {
            "$ref": "EventRecordFailure"
          }
        }
      },
      "type": "object"
    },
    "LinkPersonaRequest": {
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "id": "LinkPersonaRequest",
      "properties": {
        "token": {
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation).",
          "type": "string"
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "expireTime": {
          "description": "Input only. Optional expiration time.",
          "format": "google-datetime",
          "type": "string"
        },
        "persona": {
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games.",
          "type": "string"
        },
        "cardinalityConstraint": {
          "type": "string",
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ]
        },
        "ttl": {
          "description": "Input only. Optional time-to-live.",
          "format": "google-duration",
          "type": "string"
        },
        "conflictingLinksResolutionPolicy": {
          "type": "string",
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ],
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ]
        }
      },
      "type": "object"
    },
    "RetrievePlayerTokensResponse": {
      "type": "object",
      "id": "RetrievePlayerTokensResponse",
      "properties": {
        "tokens": {
          "type": "array",
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "items": {
            "$ref": "RecallToken"
          }
        }
      },
      "description": "Response for the RetrievePlayerTokens RPC"
    },
    "ResetPersonaRequest": {
      "description": "Request to remove all Recall tokens associated with a persona for an app.",
      "id": "ResetPersonaRequest",
      "properties": {
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementUpdateMultipleResponse": {
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "id": "AchievementUpdateMultipleResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        },
        "updatedAchievements": {
          "type": "array",
          "description": "The updated state of the achievements.",
          "items": {
            "$ref": "AchievementUpdateResponse"
          }
        }
      },
      "type": "object"
    },
    "Application": {
      "type": "object",
      "id": "Application",
      "properties": {
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "enabledFeatures": {
          "description": "A list of features that have been enabled for the application.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "enum": [
              "SNAPSHOTS"
            ]
          },
          "type": "array"
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "leaderboard_count": {
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`.",
          "type": "string"
        },
        "category": {
          "$ref": "ApplicationCategory",
          "description": "The category of the application."
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        },
        "achievement_count": {
          "type": "integer",
          "description": "The number of achievements visible to the currently authenticated player.",
          "format": "int32"
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "description": "The last updated timestamp of the application.",
          "format": "int64"
        },
        "instances": {
          "description": "The instances of the application.",
          "items": {
            "$ref": "Instance"
          },
          "type": "array"
        },
        "assets": {
          "type": "array",
          "description": "The assets of the application.",
          "items": {
            "$ref": "ImageAsset"
          }
        }
      },
      "description": "The Application resource."
    },
    "EventRecordRequest": {
      "type": "object",
      "description": "An event period update resource.",
      "id": "EventRecordRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "timePeriods": {
          "description": "A list of the time period updates being made in this request.",
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "type": "array"
        },
        "currentTimeMillis": {
          "type": "string",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "format": "int64"
        },
        "requestId": {
          "description": "The request ID used to identify this attempt to record events.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ProfileSettings": {
      "type": "object",
      "id": "ProfileSettings",
      "properties": {
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        },
        "friendsListVisibility": {
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ],
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ],
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`.",
          "type": "string"
        }
      },
      "description": "Profile settings"
    },
    "AchievementSetStepsAtLeastResponse": {
      "description": "An achievement set steps at least response.",
      "id": "AchievementSetStepsAtLeastResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`.",
          "type": "string"
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Instance": {
      "id": "Instance",
      "properties": {
        "platformType": {
          "description": "The platform type.",
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "type": "string"
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "androidInstance": {
          "description": "Platform dependent details for Android.",
          "$ref": "InstanceAndroidDetails"
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "name": {
          "description": "Localized display name.",
          "type": "string"
        },
        "acquisitionUri": {
          "description": "URI which shows where a user can acquire this instance.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "turnBasedPlay": {
          "description": "Flag to show if this game instance supports turn based play.",
          "type": "boolean"
        },
        "webInstance": {
          "$ref": "InstanceWebDetails",
          "description": "Platform dependent details for Web."
        }
      },
      "description": "The Instance resource.",
      "type": "object"
    },
    "EventBatchRecordFailure": {
      "id": "EventBatchRecordFailure",
      "properties": {
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`.",
          "type": "string"
        },
        "failureCause": {
          "description": "The cause for the update failure.",
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ],
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ],
          "type": "string"
        }
      },
      "description": "A batch update failure resource.",
      "type": "object"
    },
    "LinkPersonaResponse": {
      "type": "object",
      "id": "LinkPersonaResponse",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ],
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of a persona linking attempt."
        }
      },
      "description": "Outcome of a persona linking attempt."
    },
    "LeaderboardScores": {
      "type": "object",
      "description": "A ListScores response.",
      "id": "LeaderboardScores",
      "properties": {
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The scores in the leaderboard.",
          "items": {
            "$ref": "LeaderboardEntry"
          }
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        },
        "numScores": {
          "type": "string",
          "description": "The total number of scores in the leaderboard.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        }
      }
    },
    "PlayerScoreSubmissionList": {
      "type": "object",
      "id": "PlayerScoreSubmissionList",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        },
        "scores": {
          "type": "array",
          "description": "The score submissions.",
          "items": {
            "$ref": "ScoreSubmission"
          }
        }
      },
      "description": "A list of score submission requests."
    },
    "AchievementDefinitionsListResponse": {
      "description": "A list of achievement definition objects.",
      "id": "AchievementDefinitionsListResponse",
      "properties": {
        "items": {
          "type": "array",
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementUpdateMultipleRequest": {
      "type": "object",
      "id": "AchievementUpdateMultipleRequest",
      "properties": {
        "updates": {
          "type": "array",
          "description": "The individual achievement update requests.",
          "items": {
            "$ref": "AchievementUpdateRequest"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        }
      },
      "description": "A list of achievement update requests."
    },
    "ApplicationCategory": {
      "id": "ApplicationCategory",
      "properties": {
        "primary": {
          "description": "The primary category.",
          "type": "string"
        },
        "secondary": {
          "description": "The secondary category.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        }
      },
      "description": "An application category object.",
      "type": "object"
    },
    "EventDefinitionListResponse": {
      "description": "A ListDefinitions response.",
      "id": "EventDefinitionListResponse",
      "properties": {
        "items": {
          "type": "array",
          "description": "The event definitions.",
          "items": {
            "$ref": "EventDefinition"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "type": "object",
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "id": "GetMultipleApplicationPlayerIdsResponse",
      "properties": {
        "playerIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response.",
          "items": {
            "$ref": "ApplicationPlayerId"
          }
        }
      }
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "id": "GeneratePlayGroupingApiTokenResponse",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "type": "object"
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/games/",
  "rootUrl": "https://games.googleapis.com/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "snapshots": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "games.snapshots.get",
          "path": "games/v1/snapshots/{snapshotId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the metadata for a given snapshot ID.",
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "parameterOrder": [
            "snapshotId"
          ],
          "response": {
            "$ref": "Snapshot"
          },
          "parameters": {
            "snapshotId": {
              "description": "The ID of the snapshot.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          }
        },
        "list": {
          "path": "games/v1/players/{playerId}/snapshots",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "id": "games.snapshots.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "playerId"
          ],
          "flatPath": "games/v1/players/{playerId}/snapshots"
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "path": "games/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "id": "games.applications.get",
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1/applications/{applicationId}",
          "parameters": {
            "platformType": {
              "description": "Restrict application details returned to the specific platform.",
              "location": "query",
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "type": "string"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Application"
          }
        },
        "played": {
          "id": "games.applications.played",
          "parameters": {},
          "path": "games/v1/applications/played",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Indicate that the currently authenticated user is playing your application.",
          "flatPath": "games/v1/applications/played",
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "verify": {
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            }
          },
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "games.applications.verify",
          "path": "games/v1/applications/{applicationId}/verify",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "httpMethod": "GET"
        },
        "getEndPoint": {
          "flatPath": "games/v1/applications/getEndPoint",
          "parameterOrder": [],
          "response": {
            "$ref": "EndPoint"
          },
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "query",
              "type": "string"
            },
            "endPointType": {
              "location": "query",
              "description": "Type of endpoint being requested.",
              "type": "string",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ]
            }
          },
          "httpMethod": "POST",
          "id": "games.applications.getEndPoint",
          "path": "games/v1/applications/getEndPoint",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a URL for the requested end point type."
        }
      }
    },
    "events": {
      "methods": {
        "listByPlayer": {
          "parameterOrder": [],
          "flatPath": "games/v1/events",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "httpMethod": "GET",
          "path": "games/v1/events",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "id": "games.events.listByPlayer"
        },
        "record": {
          "httpMethod": "POST",
          "path": "games/v1/events",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "id": "games.events.record",
          "parameterOrder": [],
          "request": {
            "$ref": "EventRecordRequest"
          },
          "flatPath": "games/v1/events",
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "listDefinitions": {
          "id": "games.events.listDefinitions",
          "path": "games/v1/eventDefinitions",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a list of the event definitions in this application.",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "format": "int32"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          },
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "flatPath": "games/v1/eventDefinitions",
          "parameterOrder": []
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "httpMethod": "POST",
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "parameterOrder": [],
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "parameters": {
            "persona": {
              "location": "query",
              "type": "string",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system."
            },
            "packageName": {
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          }
        },
        "generateRecallPlayGroupingApiToken": {
          "httpMethod": "POST",
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "parameterOrder": [],
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "parameters": {
            "persona": {
              "location": "query",
              "type": "string",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system."
            },
            "recallSessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "location": "query",
              "type": "string"
            },
            "packageName": {
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "achievements": {
      "methods": {
        "list": {
          "path": "games/v1/players/{playerId}/achievements",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "id": "games.achievements.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "parameters": {
            "playerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "state": {
              "type": "string",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "location": "query",
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "format": "int32"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
[...]
