{
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "servicePath": "",
  "name": "games",
  "resources": {
    "applications": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.applications.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "platformType": {
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "type": "string",
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "description": "Restrict application details returned to the specific platform.",
              "location": "query"
            },
            "applicationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "flatPath": "games/v1/applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "path": "games/v1/applications/{applicationId}"
        },
        "getEndPoint": {
          "response": {
            "$ref": "EndPoint"
          },
          "description": "Returns a URL for the requested end point type.",
          "path": "games/v1/applications/getEndPoint",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.applications.getEndPoint",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {
            "applicationId": {
              "location": "query",
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            },
            "endPointType": {
              "location": "query",
              "description": "Type of endpoint being requested.",
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "type": "string",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ]
            }
          },
          "flatPath": "games/v1/applications/getEndPoint"
        },
        "played": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.applications.played",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Indicate that the currently authenticated user is playing your application.",
          "parameters": {},
          "path": "games/v1/applications/played",
          "flatPath": "games/v1/applications/played"
        },
        "verify": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.applications.verify",
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "path": "games/v1/applications/{applicationId}/verify"
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "flatPath": "games/v1/revisions/check",
          "parameters": {
            "clientRevision": {
              "location": "query",
              "required": true,
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "clientRevision"
          ],
          "httpMethod": "GET",
          "id": "games.revisions.check",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/revisions/check",
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "description": "Checks whether the games client is out of date."
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "path": "games/v1/achievements",
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "description": "Lists all the achievement definitions for your application.",
          "id": "games.achievementDefinitions.list",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/achievements",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`."
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    },
    "events": {
      "methods": {
        "listByPlayer": {
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "path": "games/v1/events",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.events.listByPlayer",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "games/v1/events",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "type": "integer"
            }
          }
        },
        "listDefinitions": {
          "path": "games/v1/eventDefinitions",
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "description": "Returns a list of the event definitions in this application.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "flatPath": "games/v1/eventDefinitions",
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "games.events.listDefinitions",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "record": {
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "path": "games/v1/events",
          "request": {
            "$ref": "EventRecordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.events.record",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "games/v1/events",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "metagame": {
      "methods": {
        "getMetagameConfig": {
          "response": {
            "$ref": "MetagameConfig"
          },
          "description": "Return the metagame configuration data for the calling application.",
          "path": "games/v1/metagameConfig",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.metagame.getMetagameConfig",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "games/v1/metagameConfig"
        },
        "listCategoriesByPlayer": {
          "parameters": {
            "playerId": {
              "location": "path",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "collection": {
              "type": "string",
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "enum": [
                "ALL"
              ],
              "description": "The collection of categories for which data will be returned.",
              "location": "path",
              "required": true
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "id": "games.metagame.listCategoriesByPlayer",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "description": "List play data aggregated per category for the player corresponding to `playerId`."
        }
      }
    },
    "scores": {
      "methods": {
        "listWindow": {
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "parameters": {
            "collection": {
              "description": "The collection of scores you're requesting.",
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "location": "path",
              "required": true,
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "type": "string",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "resultsAbove": {
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            },
            "returnTopIfAbsent": {
              "location": "query",
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
              "type": "boolean"
            },
            "timeSpan": {
              "location": "query",
              "required": true,
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ]
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "httpMethod": "GET",
          "id": "games.scores.listWindow",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            },
            "timeSpan": {
              "location": "query",
              "required": true,
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ]
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "collection": {
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "type": "string",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "location": "path",
              "required": true,
              "description": "The collection of scores you're requesting.",
              "enumDeprecated": [
                false,
                true,
                false
              ]
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "httpMethod": "GET",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "id": "games.scores.list",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "description": "Lists the scores in a leaderboard, starting from the top."
        },
        "submitMultiple": {
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "description": "Submits multiple scores to leaderboards.",
          "path": "games/v1/leaderboards/scores",
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.scores.submitMultiple",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "games/v1/leaderboards/scores",
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          }
        },
        "submit": {
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "parameters": {
            "scoreTag": {
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "location": "query",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
              "type": "string"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "score": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units."
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "httpMethod": "POST",
          "id": "games.scores.submit",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "description": "Submits a score to the specified leaderboard."
        },
        "get": {
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "includeRankType": {
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ],
              "location": "query",
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "type": "string",
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ]
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "timeSpan": {
              "description": "The time span for the scores and ranks you're requesting.",
              "location": "path",
              "required": true,
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ]
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "leaderboardId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application."
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "httpMethod": "GET",
          "id": "games.scores.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "leaderboards": {
      "methods": {
        "list": {
          "path": "games/v1/leaderboards",
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "description": "Lists all the leaderboard metadata for your application.",
          "flatPath": "games/v1/leaderboards",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "games.leaderboards.list",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "get": {
          "path": "games/v1/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "Leaderboard"
          },
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "games.leaderboards.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "snapshots": {
      "methods": {
        "list": {
          "path": "games/v1/players/{playerId}/snapshots",
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "id": "games.snapshots.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "playerId": {
              "location": "path",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string"
            }
          },
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.snapshots.get",
          "parameterOrder": [
            "snapshotId"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "snapshotId": {
              "description": "The ID of the snapshot.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Snapshot"
          },
          "description": "Retrieves the metadata for a given snapshot ID.",
          "path": "games/v1/snapshots/{snapshotId}"
        }
      }
    },
    "achievements": {
      "methods": {
        "reveal": {
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/reveal",
          "httpMethod": "POST",
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.reveal"
        },
        "unlock": {
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "description": "Unlocks this achievement for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/unlock",
          "parameterOrder": [
            "achievementId"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.unlock"
        },
        "increment": {
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string"
            },
            "requestId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries."
            },
            "stepsToIncrement": {
              "location": "query",
              "required": true,
              "description": "Required. The number of steps to increment.",
              "format": "int32",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.increment",
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/increment"
        },
        "list": {
          "id": "games.achievements.list",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/achievements",
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`."
            },
            "playerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "state": {
              "type": "string",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "location": "query"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          },
          "parameterOrder": [
            "playerId"
          ],
          "httpMethod": "GET",
          "path": "games/v1/players/{playerId}/achievements",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "description": "Lists the progress for all your application's achievements for the currently authenticated player."
        },
        "setStepsAtLeast": {
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameters": {
            "steps": {
              "description": "Required. The minimum value to set the steps to.",
              "location": "query",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.setStepsAtLeast",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast"
        },
        "updateMultiple": {
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "description": "Updates multiple achievements for the currently authenticated player.",
          "path": "games/v1/achievements/updateMultiple",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.updateMultiple",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "games/v1/achievements/updateMultiple",
          "parameters": {}
        }
      }
    },
    "players": {
      "methods": {
        "getScopedPlayerIds": {
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "path": "games/v1/players/me/scopedIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.players.getScopedPlayerIds",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "games/v1/players/me/scopedIds",
          "parameters": {}
        },
        "getMultipleApplicationPlayerIds": {
          "id": "games.players.getMultipleApplicationPlayerIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds",
          "parameters": {
            "applicationIds": {
              "location": "query",
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "repeated": true,
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game."
        },
        "list": {
          "id": "games.players.list",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "collection": {
              "type": "string",
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "location": "path",
              "required": true,
              "description": "Collection of players being retrieved",
              "enumDeprecated": [
                true,
                true,
                false
              ]
            }
          },
          "flatPath": "games/v1/players/me/players/{collection}",
          "httpMethod": "GET",
          "parameterOrder": [
            "collection"
          ],
          "path": "games/v1/players/me/players/{collection}",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "description": "Get the collection of players for the currently authenticated user."
        },
        "get": {
          "path": "games/v1/players/{playerId}",
          "response": {
            "$ref": "Player"
          },
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "id": "games.players.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "playerId": {
              "location": "path",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "playerIdConsistencyToken": {
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "games/v1/players/{playerId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId"
          ]
        }
      }
    },
    "recall": {
      "methods": {
        "retrieveTokens": {
          "path": "games/v1/recall/tokens/{sessionId}",
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "id": "games.recall.retrieveTokens",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "sessionId": {
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "sessionId"
          ]
        },
        "lastTokenFromAllDeveloperGames": {
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "parameters": {
            "sessionId": {
              "location": "path",
              "required": true,
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.lastTokenFromAllDeveloperGames"
        },
        "linkPersona": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.linkPersona",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "games/v1/recall:linkPersona",
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "path": "games/v1/recall:linkPersona",
          "request": {
            "$ref": "LinkPersonaRequest"
          }
        },
        "resetPersona": {
          "parameters": {},
          "flatPath": "games/v1/recall:resetPersona",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "games.recall.resetPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1/recall:resetPersona",
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile)."
        },
        "unlinkPersona": {
          "flatPath": "games/v1/recall:unlinkPersona",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "games.recall.unlinkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1/recall:unlinkPersona",
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value."
        },
        "gamesPlayerTokens": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.gamesPlayerTokens",
          "parameterOrder": [
            "sessionId"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "parameters": {
            "sessionId": {
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "required": true
            },
            "applicationIds": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for."
            }
          },
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}"
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "parameters": {
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string",
              "location": "query"
            },
            "packageName": {
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.accesstokens.generatePlayGroupingApiToken"
        },
        "generateRecallPlayGroupingApiToken": {
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "parameters": {
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string",
              "location": "query"
            },
            "recallSessionId": {
              "location": "query",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "type": "string"
            },
            "packageName": {
              "location": "query",
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            }
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request."
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "response": {
            "$ref": "StatsResponse"
          },
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "path": "games/v1/stats",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "games/v1/stats",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.stats.get"
        }
      }
    }
  },
  "title": "Google Play Games Services API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260423",
  "protocol": "rest",
  "canonicalName": "Games",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "documentationLink": "https://developers.google.com/games/",
  "schemas": {
    "RevisionCheckResponse": {
      "description": "A third party checking a revision response.",
      "type": "object",
      "id": "RevisionCheckResponse",
      "properties": {
        "revisionStatus": {
          "description": "The result of the revision check.",
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "type": "string",
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`."
        },
        "apiVersion": {
          "type": "string",
          "description": "The version of the API this client revision should use when calling API methods."
        }
      }
    },
    "GamePlayerToken": {
      "id": "GamePlayerToken",
      "properties": {
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        },
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Recall tokens for a game."
    },
    "CategoryListResponse": {
      "id": "CategoryListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The list of categories with usage data.",
          "type": "array",
          "items": {
            "$ref": "Category"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "description": "A third party list metagame categories response.",
      "type": "object"
    },
    "PlayerScoreListResponse": {
      "type": "object",
      "description": "A list of score submission statuses.",
      "id": "PlayerScoreListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        },
        "submittedScores": {
          "description": "The score submissions statuses.",
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResponse"
          }
        }
      }
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "type": "object",
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      }
    },
    "AchievementUpdateResponse": {
      "id": "AchievementUpdateResponse",
      "properties": {
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "currentState": {
          "description": "The current state of the achievement.",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this achievement if it is incremental.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`."
        },
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
        }
      },
      "description": "An updated achievement.",
      "type": "object"
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "type": "object",
      "id": "GetMultipleApplicationPlayerIdsResponse",
      "properties": {
        "playerIds": {
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ApplicationPlayerId"
          }
        }
      }
    },
    "PlayerListResponse": {
      "description": "A third party player list response.",
      "type": "object",
      "id": "PlayerListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`."
        },
        "items": {
          "description": "The players.",
          "type": "array",
          "items": {
            "$ref": "Player"
          }
        }
      }
    },
    "Snapshot": {
      "type": "object",
      "description": "An snapshot object.",
      "id": "Snapshot",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "description": "The type of this snapshot.",
          "enum": [
            "SAVE_GAME"
          ]
        },
        "id": {
          "type": "string",
          "description": "The ID of the snapshot."
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "progressValue": {
          "format": "int64",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "type": "string"
        },
        "durationMillis": {
          "format": "int64",
          "type": "string",
          "description": "The duration associated with this snapshot, in millis."
        },
        "lastModifiedMillis": {
          "format": "int64",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`."
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "coverImage": {
          "description": "The cover image of this snapshot. May be absent if there is no image.",
          "$ref": "SnapshotImage"
        },
        "uniqueName": {
          "type": "string",
          "description": "The unique name provided when the snapshot was created."
        }
      }
    },
    "SnapshotListResponse": {
      "id": "SnapshotListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "The snapshots."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A third party list snapshots response."
    },
    "EventDefinition": {
      "id": "EventDefinition",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`."
        },
        "id": {
          "type": "string",
          "description": "The ID of the event."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the event."
        },
        "imageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the event."
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "isDefaultImageUrl": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "visibility": {
          "description": "The visibility of event being tracked in this definition.",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "type": "string",
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ]
        },
        "childEvents": {
          "type": "array",
          "items": {
            "$ref": "EventChild"
          },
          "description": "A list of events that are a child of this event."
        }
      },
      "description": "An event definition resource.",
      "type": "object"
    },
    "LeaderboardListResponse": {
      "id": "LeaderboardListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`."
        },
        "items": {
          "description": "The leaderboards.",
          "type": "array",
          "items": {
            "$ref": "Leaderboard"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of leaderboard objects."
    },
    "ResetPersonaResponse": {
      "type": "object",
      "description": "Response for the ResetPersona RPC",
      "id": "ResetPersonaResponse",
      "properties": {
        "unlinked": {
          "type": "boolean",
          "description": "Required. Whether any tokens were unlinked as a result of this request."
        }
      }
    },
    "AchievementUpdateRequest": {
      "id": "AchievementUpdateRequest",
      "properties": {
        "setStepsAtLeastPayload": {
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement.",
          "$ref": "GamesAchievementSetStepsAtLeast"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`."
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        },
        "updateType": {
          "description": "The type of update being applied.",
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ]
        },
        "incrementPayload": {
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement.",
          "$ref": "GamesAchievementIncrement"
        }
      },
      "description": "A request to update an achievement.",
      "type": "object"
    },
    "PlayGroupingApiToken": {
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "type": "object",
      "id": "PlayGroupingApiToken",
      "properties": {
        "tokenValue": {
          "description": "Value of the token.",
          "type": "string"
        }
      }
    },
    "AchievementDefinition": {
      "id": "AchievementDefinition",
      "properties": {
        "achievementLifecycleState": {
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "description": "Output only. The lifecycle state of the achievement.",
          "readOnly": true
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the achievement."
        },
        "experiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "Experience points which will be earned when unlocking this achievement."
        },
        "revealedIconUrl": {
          "description": "The image URL for the revealed achievement icon.",
          "type": "string"
        },
        "unlockedIconUrl": {
          "type": "string",
          "description": "The image URL for the unlocked achievement icon."
        },
        "name": {
          "type": "string",
          "description": "The name of the achievement."
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "achievementType": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "description": "The type of the achievement.",
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ]
        },
        "formattedTotalSteps": {
          "type": "string",
          "description": "The total steps for an incremental achievement as a string."
        },
        "initialState": {
          "description": "The initial state of the achievement.",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "totalSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The total steps for an incremental achievement."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`."
        },
        "isRevealedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game."
        }
      },
      "description": "An achievement definition object.",
      "type": "object"
    },
    "EventRecordRequest": {
      "description": "An event period update resource.",
      "type": "object",
      "id": "EventRecordRequest",
      "properties": {
        "requestId": {
          "format": "int64",
          "type": "string",
          "description": "The request ID used to identify this attempt to record events."
        },
        "currentTimeMillis": {
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        },
        "timePeriods": {
          "type": "array",
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "description": "A list of the time period updates being made in this request."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        }
      }
    },
    "InstanceWebDetails": {
      "description": "The Web details resource.",
      "type": "object",
      "id": "InstanceWebDetails",
      "properties": {
        "launchUrl": {
          "type": "string",
          "description": "Launch URL for the game."
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        }
      }
    },
    "Application": {
      "type": "object",
      "description": "The Application resource.",
      "id": "Application",
      "properties": {
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`."
        },
        "enabledFeatures": {
          "description": "A list of features that have been enabled for the application.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "enum": [
              "SNAPSHOTS"
            ]
          }
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The last updated timestamp of the application."
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "id": {
          "type": "string",
          "description": "The ID of the application."
        },
        "assets": {
          "description": "The assets of the application.",
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          }
        },
        "themeColor": {
          "type": "string",
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\")."
        },
        "description": {
          "type": "string",
          "description": "The description of the application."
        },
        "achievement_count": {
          "format": "int32",
          "description": "The number of achievements visible to the currently authenticated player.",
          "type": "integer"
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances of the application."
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "leaderboard_count": {
          "format": "int32",
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "type": "integer"
        }
      }
    },
    "PlayerAchievementListResponse": {
      "type": "object",
      "description": "A list of achievement objects.",
      "id": "PlayerAchievementListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlayerAchievement"
          },
          "description": "The achievements."
        }
      }
    },
    "AchievementUpdateMultipleResponse": {
      "id": "AchievementUpdateMultipleResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`."
        },
        "updatedAchievements": {
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "description": "The updated state of the achievements."
        }
      },
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "type": "object"
    },
    "PlayerEventListResponse": {
      "description": "A ListByPlayer response.",
      "type": "object",
      "id": "PlayerEventListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The player events."
        }
      }
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "properties": {
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`."
        },
        "items": {
          "description": "The leaderboard scores.",
          "type": "array",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "type": "object",
      "description": "A list of player leaderboard scores."
    },
    "Player": {
      "type": "object",
      "description": "A Player resource.",
      "id": "Player",
      "properties": {
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "name": {
          "properties": {
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "A representation of the individual components of the name."
        },
        "gamePlayerId": {
          "type": "string",
          "description": "Per-application unique player identifier."
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "friendStatus": {
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "type": "string",
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ]
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        }
      }
    },
    "EventUpdateRequest": {
      "id": "EventUpdateRequest",
      "properties": {
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        },
        "updateCount": {
          "type": "string",
          "description": "The number of times this event occurred in this time period.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        }
      },
      "description": "An event period update resource.",
      "type": "object"
    },
    "StatsResponse": {
      "description": "A third party stats resource.",
      "type": "object",
      "id": "StatsResponse",
      "properties": {
        "churn_probability": {
          "type": "number",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "format": "float"
        },
        "num_purchases": {
          "format": "int32",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer"
        },
        "total_spend_next_28_days": {
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "num_sessions_percentile": {
          "format": "float",
          "type": "number",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
        },
        "avg_session_length_minutes": {
          "format": "float",
          "type": "number",
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "high_spender_probability": {
          "format": "float",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "spend_percentile": {
          "format": "float",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "num_sessions": {
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        },
        "spend_probability": {
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "days_since_last_played": {
          "format": "int32",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer"
        }
      }
    },
    "EventBatchRecordFailure": {
      "id": "EventBatchRecordFailure",
      "properties": {
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        },
        "failureCause": {
          "type": "string",
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ],
          "description": "The cause for the update failure.",
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`.",
          "type": "string"
        }
      },
      "description": "A batch update failure resource.",
      "type": "object"
    },
    "AchievementIncrementResponse": {
      "id": "AchievementIncrementResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`."
        },
        "currentSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement."
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      },
      "description": "An achievement increment response",
      "type": "object"
    },
    "Category": {
      "description": "Data related to individual game categories.",
      "type": "object",
      "id": "Category",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        },
        "experiencePoints": {
          "format": "int64",
          "description": "Experience points earned in this category.",
          "type": "string"
        },
        "category": {
          "description": "The category name.",
          "type": "string"
        }
      }
    },
    "ScopedPlayerIds": {
      "id": "ScopedPlayerIds",
      "properties": {
        "gamePlayerId": {
          "type": "string",
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field."
        },
        "developerPlayerKey": {
          "type": "string",
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged."
        }
      },
      "description": "Scoped player identifiers.",
      "type": "object"
    },
    "InstanceIosDetails": {
      "id": "InstanceIosDetails",
      "properties": {
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "itunesAppId": {
          "type": "string",
          "description": "iTunes App ID."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        },
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "preferredForIpad": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations on iPad devices."
        }
      },
      "type": "object",
      "description": "The iOS details resource."
    },
    "EventRecordFailure": {
      "id": "EventRecordFailure",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`."
        },
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        },
        "failureCause": {
          "description": "The cause for the update failure.",
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "type": "string",
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ]
        }
      },
      "type": "object",
      "description": "An event update failure resource."
    },
    "LinkPersonaRequest": {
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "type": "object",
      "id": "LinkPersonaRequest",
      "properties": {
        "cardinalityConstraint": {
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ],
          "type": "string",
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ]
        },
        "token": {
          "type": "string",
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation)."
        },
        "conflictingLinksResolutionPolicy": {
          "type": "string",
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ],
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ]
        },
        "expireTime": {
          "type": "string",
          "description": "Input only. Optional expiration time.",
          "format": "google-datetime"
        },
        "sessionId": {
          "type": "string",
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
        },
        "persona": {
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games.",
          "type": "string"
        },
        "ttl": {
          "format": "google-duration",
          "description": "Input only. Optional time-to-live.",
          "type": "string"
        }
      }
    },
    "RetrievePlayerTokensResponse": {
      "type": "object",
      "description": "Response for the RetrievePlayerTokens RPC",
      "id": "RetrievePlayerTokensResponse",
      "properties": {
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "RecallToken"
          },
          "description": "Required. Recall tokens associated with the requested PGS Player principal"
        }
      }
    },
    "ImageAsset": {
      "description": "An image asset object.",
      "type": "object",
      "id": "ImageAsset",
      "properties": {
        "width": {
          "format": "int32",
          "description": "The width of the asset.",
          "type": "integer"
        },
        "height": {
          "type": "integer",
          "description": "The height of the asset.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The name of the asset."
        },
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        }
      }
    },
    "EventDefinitionListResponse": {
      "description": "A ListDefinitions response.",
      "type": "object",
      "id": "EventDefinitionListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "EventDefinition"
          },
          "description": "The event definitions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      }
    },
    "GamesAchievementIncrement": {
      "id": "GamesAchievementIncrement",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`."
[...]
