{
  "batchPath": "batch",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "title": "Google Play Games Services API",
  "canonicalName": "Games",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "metagame": {
      "methods": {
        "getMetagameConfig": {
          "id": "games.metagame.getMetagameConfig",
          "description": "Return the metagame configuration data for the calling application.",
          "httpMethod": "GET",
          "response": {
            "$ref": "MetagameConfig"
          },
          "flatPath": "games/v1/metagameConfig",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/metagameConfig",
          "parameterOrder": []
        },
        "listCategoriesByPlayer": {
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "parameters": {
            "playerId": {
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            },
            "collection": {
              "description": "The collection of categories for which data will be returned.",
              "enum": [
                "ALL"
              ],
              "location": "path",
              "required": true,
              "type": "string",
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ]
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "httpMethod": "GET",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "id": "games.metagame.listCategoriesByPlayer",
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "path": "games/v1/players/{playerId}/categories/{collection}"
        }
      }
    },
    "snapshots": {
      "methods": {
        "get": {
          "id": "games.snapshots.get",
          "description": "Retrieves the metadata for a given snapshot ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Snapshot"
          },
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "snapshotId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the snapshot.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/snapshots/{snapshotId}",
          "parameterOrder": [
            "snapshotId"
          ]
        },
        "list": {
          "parameterOrder": [
            "playerId"
          ],
          "path": "games/v1/players/{playerId}/snapshots",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "httpMethod": "GET",
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "id": "games.snapshots.list"
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "description": "Checks whether the games client is out of date.",
          "httpMethod": "GET",
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "id": "games.revisions.check",
          "flatPath": "games/v1/revisions/check",
          "parameters": {
            "clientRevision": {
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "clientRevision"
          ],
          "path": "games/v1/revisions/check"
        }
      }
    },
    "scores": {
      "methods": {
        "list": {
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "id": "games.scores.list",
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`."
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "timeSpan": {
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "location": "query",
              "required": true,
              "type": "string",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ]
            },
            "collection": {
              "description": "The collection of scores you're requesting.",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "location": "path",
              "required": true,
              "type": "string",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ]
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "submit": {
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "parameters": {
            "scoreTag": {
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "location": "query",
              "type": "string",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "score": {
              "required": true,
              "type": "string",
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "location": "query",
              "format": "int64"
            },
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "httpMethod": "POST",
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "description": "Submits a score to the specified leaderboard.",
          "id": "games.scores.submit"
        },
        "get": {
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "required": true
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "timeSpan": {
              "location": "path",
              "description": "The time span for the scores and ranks you're requesting.",
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "required": true
            },
            "playerId": {
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "includeRankType": {
              "type": "string",
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ],
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ],
              "location": "query",
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.scores.get",
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          }
        },
        "listWindow": {
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "id": "games.scores.listWindow",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "returnTopIfAbsent": {
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
              "location": "query",
              "type": "boolean"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "timeSpan": {
              "location": "query",
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "required": true
            },
            "resultsAbove": {
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "collection": {
              "description": "The collection of scores you're requesting.",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "location": "path",
              "required": true,
              "type": "string",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ]
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}"
        },
        "submitMultiple": {
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/scores",
          "httpMethod": "POST",
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "description": "Submits multiple scores to leaderboards.",
          "id": "games.scores.submitMultiple",
          "parameterOrder": [],
          "path": "games/v1/leaderboards/scores"
        }
      }
    },
    "recall": {
      "methods": {
        "retrieveTokens": {
          "path": "games/v1/recall/tokens/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ],
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "parameters": {
            "sessionId": {
              "location": "path",
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.retrieveTokens",
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          }
        },
        "lastTokenFromAllDeveloperGames": {
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ]
        },
        "unlinkPersona": {
          "httpMethod": "POST",
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value.",
          "id": "games.recall.unlinkPersona",
          "parameters": {},
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall:unlinkPersona",
          "parameterOrder": [],
          "path": "games/v1/recall:unlinkPersona"
        },
        "gamesPlayerTokens": {
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "id": "games.recall.gamesPlayerTokens",
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "applicationIds": {
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "sessionId"
          ],
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}"
        },
        "resetPersona": {
          "id": "games.recall.resetPersona",
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "httpMethod": "POST",
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "flatPath": "games/v1/recall:resetPersona",
          "parameters": {},
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1/recall:resetPersona",
          "parameterOrder": []
        },
        "linkPersona": {
          "id": "games.recall.linkPersona",
          "httpMethod": "POST",
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "parameters": {},
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall:linkPersona",
          "path": "games/v1/recall:linkPersona",
          "parameterOrder": []
        }
      }
    },
    "events": {
      "methods": {
        "record": {
          "path": "games/v1/events",
          "parameterOrder": [],
          "id": "games.events.record",
          "httpMethod": "POST",
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "EventRecordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/events"
        },
        "listByPlayer": {
          "parameterOrder": [],
          "path": "games/v1/events",
          "flatPath": "games/v1/events",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "id": "games.events.listByPlayer"
        },
        "listDefinitions": {
          "httpMethod": "GET",
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "description": "Returns a list of the event definitions in this application.",
          "id": "games.events.listDefinitions",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/eventDefinitions",
          "parameterOrder": [],
          "path": "games/v1/eventDefinitions"
        }
      }
    },
    "applications": {
      "methods": {
        "verify": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "id": "games.applications.verify",
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "parameterOrder": [
            "applicationId"
          ],
          "path": "games/v1/applications/{applicationId}/verify"
        },
        "getEndPoint": {
          "parameters": {
            "endPointType": {
              "type": "string",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "location": "query",
              "description": "Type of endpoint being requested.",
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ]
            },
            "applicationId": {
              "location": "query",
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/applications/getEndPoint",
          "httpMethod": "POST",
          "response": {
            "$ref": "EndPoint"
          },
          "description": "Returns a URL for the requested end point type.",
          "id": "games.applications.getEndPoint",
          "parameterOrder": [],
          "path": "games/v1/applications/getEndPoint"
        },
        "get": {
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          },
          "id": "games.applications.get",
          "flatPath": "games/v1/applications/{applicationId}",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "platformType": {
              "type": "string",
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "description": "Restrict application details returned to the specific platform.",
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "path": "games/v1/applications/{applicationId}"
        },
        "played": {
          "flatPath": "games/v1/applications/played",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/applications/played",
          "description": "Indicate that the currently authenticated user is playing your application.",
          "httpMethod": "POST",
          "id": "games.applications.played"
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "flatPath": "games/v1/stats",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.stats.get",
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "httpMethod": "GET",
          "response": {
            "$ref": "StatsResponse"
          },
          "path": "games/v1/stats",
          "parameterOrder": []
        }
      }
    },
    "players": {
      "methods": {
        "getScopedPlayerIds": {
          "path": "games/v1/players/me/scopedIds",
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/me/scopedIds",
          "id": "games.players.getScopedPlayerIds",
          "httpMethod": "GET",
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "description": "Retrieves scoped player identifiers for currently authenticated user."
        },
        "getMultipleApplicationPlayerIds": {
          "parameterOrder": [],
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "httpMethod": "GET",
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "id": "games.players.getMultipleApplicationPlayerIds",
          "parameters": {
            "applicationIds": {
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds"
        },
        "get": {
          "parameterOrder": [
            "playerId"
          ],
          "path": "games/v1/players/{playerId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Player"
          },
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "id": "games.players.get",
          "parameters": {
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "playerIdConsistencyToken": {
              "location": "query",
              "type": "string",
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}"
        },
        "list": {
          "id": "games.players.list",
          "description": "Get the collection of players for the currently authenticated user.",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "flatPath": "games/v1/players/me/players/{collection}",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "collection": {
              "required": true,
              "type": "string",
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "description": "Collection of players being retrieved",
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/players/me/players/{collection}",
          "parameterOrder": [
            "collection"
          ]
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "description": "Lists all the achievement definitions for your application.",
          "id": "games.achievementDefinitions.list",
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/achievements",
          "parameterOrder": [],
          "path": "games/v1/achievements"
        }
      }
    },
    "leaderboards": {
      "methods": {
        "list": {
          "description": "Lists all the leaderboard metadata for your application.",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "id": "games.leaderboards.list",
          "flatPath": "games/v1/leaderboards",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "path": "games/v1/leaderboards"
        },
        "get": {
          "id": "games.leaderboards.get",
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Leaderboard"
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ]
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generateRecallPlayGroupingApiToken": {
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "httpMethod": "POST",
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "parameters": {
            "recallSessionId": {
              "location": "query",
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID."
            },
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "location": "query",
              "type": "string"
            },
            "packageName": {
              "location": "query",
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [],
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken"
        },
        "generatePlayGroupingApiToken": {
          "parameters": {
            "persona": {
              "location": "query",
              "type": "string",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system."
            },
            "packageName": {
              "location": "query",
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "httpMethod": "POST",
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "parameterOrder": [],
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken"
        }
      }
    },
    "achievements": {
      "methods": {
        "increment": {
          "id": "games.achievements.increment",
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "requestId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries."
            },
            "stepsToIncrement": {
              "required": true,
              "type": "integer",
              "description": "Required. The number of steps to increment.",
              "location": "query",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/achievements/{achievementId}/increment",
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ]
        },
        "updateMultiple": {
          "flatPath": "games/v1/achievements/updateMultiple",
          "parameters": {},
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Updates multiple achievements for the currently authenticated player.",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "id": "games.achievements.updateMultiple",
          "parameterOrder": [],
          "path": "games/v1/achievements/updateMultiple"
        },
        "setStepsAtLeast": {
          "id": "games.achievements.setStepsAtLeast",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true
            },
            "steps": {
              "description": "Required. The minimum value to set the steps to.",
              "location": "query",
              "format": "int32",
              "required": true,
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameterOrder": [
            "achievementId",
            "steps"
          ]
        },
        "unlock": {
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1/achievements/{achievementId}/unlock",
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "description": "Unlocks this achievement for the currently authenticated player.",
          "id": "games.achievements.unlock"
        },
        "list": {
          "parameterOrder": [
            "playerId"
          ],
          "path": "games/v1/players/{playerId}/achievements",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "id": "games.achievements.list",
          "parameters": {
            "playerId": {
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "state": {
              "type": "string",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "location": "query",
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ]
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/achievements"
        },
        "reveal": {
          "path": "games/v1/achievements/{achievementId}/reveal",
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.reveal",
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementRevealResponse"
          }
        }
      }
    }
  },
  "revision": "20260312",
  "basePath": "",
  "version": "v1",
  "baseUrl": "https://games.googleapis.com/",
  "id": "games:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        }
      }
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "schemas": {
    "ApplicationVerifyResponse": {
      "id": "ApplicationVerifyResponse",
      "type": "object",
      "description": "A third party application verification response resource.",
      "properties": {
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`."
        },
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        }
      }
    },
    "UnlinkPersonaResponse": {
      "id": "UnlinkPersonaResponse",
      "type": "object",
      "description": "Response for the UnlinkPersona RPC",
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      }
    },
    "AchievementDefinitionsListResponse": {
      "type": "object",
      "description": "A list of achievement definition objects.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`."
        }
      },
      "id": "AchievementDefinitionsListResponse"
    },
    "EventRecordRequest": {
      "id": "EventRecordRequest",
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`."
        },
        "currentTimeMillis": {
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        },
        "timePeriods": {
          "type": "array",
          "description": "A list of the time period updates being made in this request.",
          "items": {
            "$ref": "EventPeriodUpdate"
          }
        },
        "requestId": {
          "description": "The request ID used to identify this attempt to record events.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "Leaderboard": {
      "type": "object",
      "description": "The Leaderboard resource.",
      "properties": {
        "order": {
          "type": "string",
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "description": "How scores are ordered.",
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the leaderboard."
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "isIconUrlDefault": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        },
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        }
      },
      "id": "Leaderboard"
    },
    "InstanceIosDetails": {
      "id": "InstanceIosDetails",
      "type": "object",
      "description": "The iOS details resource.",
      "properties": {
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`."
        },
        "itunesAppId": {
          "type": "string",
          "description": "iTunes App ID."
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "supportIpad": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPad."
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        }
      }
    },
    "ScopedPlayerIds": {
      "id": "ScopedPlayerIds",
      "type": "object",
      "description": "Scoped player identifiers.",
      "properties": {
        "gamePlayerId": {
          "type": "string",
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field."
        },
        "developerPlayerKey": {
          "type": "string",
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged."
        }
      }
    },
    "ApplicationCategory": {
      "id": "ApplicationCategory",
      "type": "object",
      "description": "An application category object.",
      "properties": {
        "secondary": {
          "description": "The secondary category.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        },
        "primary": {
          "type": "string",
          "description": "The primary category."
        }
      }
    },
    "ResetPersonaResponse": {
      "id": "ResetPersonaResponse",
      "type": "object",
      "description": "Response for the ResetPersona RPC",
      "properties": {
        "unlinked": {
          "type": "boolean",
          "description": "Required. Whether any tokens were unlinked as a result of this request."
        }
      }
    },
    "PlayerAchievement": {
      "type": "object",
      "description": "An achievement object.",
      "properties": {
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "description": "The timestamp of the last modification to this achievement's state.",
          "type": "string",
          "format": "int64"
        },
        "achievementState": {
          "description": "The state of the achievement.",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "currentSteps": {
          "description": "The current steps for an incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "experiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        }
      },
      "id": "PlayerAchievement"
    },
    "PlayerScoreResponse": {
      "id": "PlayerScoreResponse",
      "type": "object",
      "description": "A list of leaderboard entry resources.",
      "properties": {
        "beatenScoreTimeSpans": {
          "type": "array",
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ]
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`."
        },
        "unbeatenScores": {
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "items": {
            "$ref": "PlayerScore"
          },
          "type": "array"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The formatted value of the submitted score.",
          "type": "string"
        },
        "leaderboardId": {
          "description": "The leaderboard ID that this score was submitted to.",
          "type": "string"
        }
      }
    },
    "AchievementSetStepsAtLeastResponse": {
      "id": "AchievementSetStepsAtLeastResponse",
      "description": "An achievement set steps at least response.",
      "properties": {
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`.",
          "type": "string"
        },
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "InstanceAndroidDetails": {
      "id": "InstanceAndroidDetails",
      "description": "The Android instance details resource.",
      "properties": {
        "enablePiracyCheck": {
          "type": "boolean",
          "description": "Flag indicating whether the anti-piracy check is enabled."
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LeaderboardListResponse": {
      "id": "LeaderboardListResponse",
      "description": "A list of leaderboard objects.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The leaderboards.",
          "items": {
            "$ref": "Leaderboard"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`."
        }
      },
      "type": "object"
    },
    "CategoryListResponse": {
      "description": "A third party list metagame categories response.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of categories with usage data.",
          "items": {
            "$ref": "Category"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CategoryListResponse"
    },
    "RevisionCheckResponse": {
      "id": "RevisionCheckResponse",
      "type": "object",
      "description": "A third party checking a revision response.",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The version of the API this client revision should use when calling API methods."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        },
        "revisionStatus": {
          "description": "The result of the revision check.",
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "type": "string",
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ]
        }
      }
    },
    "AchievementUpdateRequest": {
      "type": "object",
      "description": "A request to update an achievement.",
      "properties": {
        "updateType": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "description": "The type of update being applied.",
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        },
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is being applied to."
        },
        "setStepsAtLeastPayload": {
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement.",
          "$ref": "GamesAchievementSetStepsAtLeast"
        },
        "incrementPayload": {
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement.",
          "$ref": "GamesAchievementIncrement"
        }
      },
      "id": "AchievementUpdateRequest"
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "id": "GeneratePlayGroupingApiTokenResponse",
      "type": "object",
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      }
    },
    "RetrieveGamesPlayerTokensResponse": {
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "properties": {
        "gamePlayerTokens": {
          "type": "array",
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response.",
          "items": {
            "$ref": "GamePlayerToken"
          }
        }
      },
      "type": "object",
      "id": "RetrieveGamesPlayerTokensResponse"
    },
    "EventUpdateResponse": {
      "id": "EventUpdateResponse",
      "type": "object",
      "description": "An event period update resource.",
      "properties": {
        "batchFailures": {
          "description": "Any batch-wide failures which occurred applying updates.",
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "type": "array"
        },
        "eventFailures": {
          "type": "array",
          "description": "Any failures updating a particular event.",
          "items": {
            "$ref": "EventRecordFailure"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array"
        }
      }
    },
    "Snapshot": {
      "description": "An snapshot object.",
      "properties": {
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "durationMillis": {
          "description": "The duration associated with this snapshot, in millis.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "description": "The type of this snapshot.",
          "enum": [
            "SAVE_GAME"
          ]
        },
        "description": {
          "type": "string",
          "description": "The description of this snapshot."
        },
        "lastModifiedMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot."
        },
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of this snapshot."
        },
        "uniqueName": {
          "type": "string",
          "description": "The unique name provided when the snapshot was created."
        },
        "coverImage": {
          "$ref": "SnapshotImage",
          "description": "The cover image of this snapshot. May be absent if there is no image."
        },
        "progressValue": {
          "type": "string",
          "format": "int64",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot."
        }
      },
      "type": "object",
      "id": "Snapshot"
    },
    "ImageAsset": {
      "id": "ImageAsset",
      "description": "An image asset object.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the asset."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the asset."
        },
        "width": {
          "description": "The width of the asset.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Instance": {
      "type": "object",
      "description": "The Instance resource.",
      "properties": {
        "webInstance": {
          "description": "Platform dependent details for Web.",
          "$ref": "InstanceWebDetails"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Localized display name."
        },
        "realtimePlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports realtime play."
        },
        "acquisitionUri": {
          "description": "URI which shows where a user can acquire this instance.",
          "type": "string"
        },
        "turnBasedPlay": {
          "description": "Flag to show if this game instance supports turn based play.",
          "type": "boolean"
        },
        "androidInstance": {
          "$ref": "InstanceAndroidDetails",
          "description": "Platform dependent details for Android."
        },
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "description": "The platform type.",
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ]
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        }
      },
      "id": "Instance"
    },
    "RetrievePlayerTokensResponse": {
      "id": "RetrievePlayerTokensResponse",
      "type": "object",
      "description": "Response for the RetrievePlayerTokens RPC",
      "properties": {
        "tokens": {
          "type": "array",
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "items": {
            "$ref": "RecallToken"
          }
        }
      }
    },
    "AchievementDefinition": {
      "type": "object",
      "description": "An achievement definition object.",
      "properties": {
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "initialState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The initial state of the achievement.",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the achievement."
        },
        "revealedIconUrl": {
          "type": "string",
          "description": "The image URL for the revealed achievement icon."
        },
        "totalSteps": {
          "description": "The total steps for an incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "achievementType": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "description": "The type of the achievement.",
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ]
        },
        "experiencePoints": {
          "description": "Experience points which will be earned when unlocking this achievement.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        }
      },
      "id": "AchievementDefinition"
    },
    "GamePlayerToken": {
      "type": "object",
      "description": "Recall tokens for a game.",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        }
      },
      "id": "GamePlayerToken"
    },
    "ScoreSubmission": {
      "id": "ScoreSubmission",
      "description": "A request to submit a score to leaderboards.",
      "properties": {
        "score": {
          "description": "The new score being submitted.",
          "type": "string",
          "format": "int64"
        },
        "signature": {
          "type": "string",
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard this score is being submitted to."
        }
      },
      "type": "object"
    },
    "EventDefinitionListResponse": {
      "id": "EventDefinitionListResponse",
      "description": "A ListDefinitions response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The event definitions.",
          "items": {
            "$ref": "EventDefinition"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EventDefinition": {
      "id": "EventDefinition",
      "description": "An event definition resource.",
      "properties": {
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "description": "The visibility of event being tracked in this definition.",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ]
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "childEvents": {
          "description": "A list of events that are a child of this event.",
          "items": {
            "$ref": "EventChild"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the event."
        },
        "imageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the event."
        }
      },
      "type": "object"
    },
    "PlayerScoreSubmissionList": {
      "id": "PlayerScoreSubmissionList",
      "type": "object",
      "description": "A list of score submission requests.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`."
        },
        "scores": {
          "type": "array",
          "description": "The score submissions.",
          "items": {
            "$ref": "ScoreSubmission"
          }
        }
      }
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "properties": {
        "friendsListVisibility": {
          "type": "string",
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ],
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ProfileSettings"
    },
    "EventPeriodUpdate": {
      "id": "EventPeriodUpdate",
      "description": "An event period update resource.",
      "properties": {
        "updates": {
          "type": "array",
          "description": "The updates being made for this time period.",
          "items": {
            "$ref": "EventUpdateRequest"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`."
        },
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        }
      },
      "type": "object"
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "$ref": "PlayGroupingApiToken",
          "description": "Token for accessing the Play Grouping API."
        }
      },
      "type": "object",
      "id": "GenerateRecallPlayGroupingApiTokenResponse"
    },
    "GamesAchievementIncrement": {
      "type": "object",
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "requestId": {
          "description": "The requestId associated with an increment to an achievement.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "steps": {
          "type": "integer",
          "format": "int32",
          "description": "The number of steps to be incremented."
        }
      },
      "id": "GamesAchievementIncrement"
    },
    "Application": {
      "id": "Application",
      "type": "object",
      "description": "The Application resource.",
      "properties": {
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The last updated timestamp of the application."
        },
        "instances": {
          "description": "The instances of the application.",
          "items": {
            "$ref": "Instance"
          },
          "type": "array"
        },
        "enabledFeatures": {
          "description": "A list of features that have been enabled for the application.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "enum": [
              "SNAPSHOTS"
            ]
          },
          "type": "array"
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "id": {
          "type": "string",
          "description": "The ID of the application."
        },
        "leaderboard_count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of leaderboards visible to the currently authenticated player."
        },
        "assets": {
          "description": "The assets of the application.",
          "items": {
            "$ref": "ImageAsset"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`."
        },
        "achievement_count": {
          "description": "The number of achievements visible to the currently authenticated player.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "type": "object",
      "description": "A list of player leaderboard scores.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        },
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The leaderboard scores.",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          },
          "type": "array"
        }
      }
    },
    "AchievementUnlockResponse": {
      "description": "An achievement unlock response",
      "properties": {
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`."
        }
      },
      "type": "object",
      "id": "AchievementUnlockResponse"
    },
    "EventUpdateRequest": {
      "type": "object",
      "description": "An event period update resource.",
      "properties": {
        "definitionId": {
          "type": "string",
          "description": "The ID of the event being modified in this update."
        },
        "updateCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of times this event occurred in this time period."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        }
      },
      "id": "EventUpdateRequest"
    },
    "AchievementRevealResponse": {
      "type": "object",
      "description": "An achievement reveal response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`."
        },
        "currentState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ]
        }
      },
      "id": "AchievementRevealResponse"
    },
    "Category": {
      "id": "Category",
      "type": "object",
      "description": "Data related to individual game categories.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The category name."
        },
        "experiencePoints": {
          "description": "Experience points earned in this category.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SnapshotListResponse": {
      "type": "object",
      "description": "A third party list snapshots response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        },
        "items": {
          "description": "The snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        }
      },
      "id": "SnapshotListResponse"
    },
    "GamesAchievementSetStepsAtLeast": {
      "type": "object",
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "steps": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of steps for the achievement to be set to."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        }
      },
      "id": "GamesAchievementSetStepsAtLeast"
    },
    "RecallToken": {
      "id": "RecallToken",
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "properties": {
        "token": {
          "type": "string",
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC"
        },
        "expireTime": {
          "description": "Optional. Optional expiration time of the token",
          "type": "string",
          "format": "google-datetime"
        },
        "multiPlayerPersona": {
          "type": "boolean",
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players"
        }
      },
      "type": "object"
    },
    "LinkPersonaRequest": {
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "properties": {
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Input only. Optional time-to-live."
        },
        "persona": {
          "type": "string",
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games."
        },
        "conflictingLinksResolutionPolicy": {
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ],
          "type": "string",
          "enumDescriptions": [
[...]
