{
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Games Management",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "documentationLink": "https://developers.google.com/games/",
  "ownerDomain": "google.com",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "version": "v1management",
  "ownerName": "Google",
  "revision": "20260305",
  "schemas": {
    "HiddenPlayer": {
      "id": "HiddenPlayer",
      "properties": {
        "player": {
          "description": "Output only. The player information.",
          "readOnly": true,
          "$ref": "Player"
        },
        "kind": {
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "type": "string",
          "readOnly": true
        },
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "description": "The HiddenPlayer resource.",
      "type": "object"
    },
    "GamesPlayerLevelResource": {
      "id": "GamesPlayerLevelResource",
      "properties": {
        "level": {
          "description": "The level for the user.",
          "type": "integer",
          "format": "int32"
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "1P/3P metadata about a user's level.",
      "type": "object"
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "properties": {
        "achievement_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Player": {
      "id": "Player",
      "properties": {
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "name": {
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "type": "object",
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "experienceInfo": {
          "$ref": "GamesPlayerExperienceInfoResource",
          "description": "An object to represent Play Game experience information for the player."
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        }
      },
      "description": "A Player resource.",
      "type": "object"
    },
    "EventsResetMultipleForAllRequest": {
      "id": "EventsResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "description": "The IDs of events to reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Multiple events reset all request.",
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "description": "1P/3P metadata about the player's experience.",
      "type": "object",
      "id": "GamesPlayerExperienceInfoResource",
      "properties": {
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "type": "string",
          "format": "int64"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string",
          "format": "int64"
        },
        "nextLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        }
      }
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "type": "object",
      "id": "ProfileSettings",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "type": "boolean"
        }
      }
    },
    "AchievementResetResponse": {
      "description": "An achievement reset response.",
      "type": "object",
      "id": "AchievementResetResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        }
      }
    },
    "PlayerScoreResetAllResponse": {
      "description": "A list of leaderboard reset resources.",
      "type": "object",
      "id": "PlayerScoreResetAllResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "description": "The leaderboard reset results.",
          "type": "array"
        }
      }
    },
    "PlayerScoreResetResponse": {
      "description": "A list of reset leaderboard entry resources.",
      "type": "object",
      "id": "PlayerScoreResetResponse",
      "properties": {
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        },
        "resetScoreTimeSpans": {
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        }
      }
    },
    "ScoresResetMultipleForAllRequest": {
      "type": "object",
      "id": "ScoresResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of leaderboards to reset.",
          "type": "array"
        }
      }
    },
    "HiddenPlayerList": {
      "description": "A list of hidden players.",
      "type": "object",
      "id": "HiddenPlayerList",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        },
        "items": {
          "description": "The players.",
          "type": "array",
          "items": {
            "$ref": "HiddenPlayer"
          }
        }
      }
    },
    "AchievementResetAllResponse": {
      "id": "AchievementResetAllResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "description": "The achievement reset results.",
          "type": "array"
        }
      },
      "description": "Achievement reset all response.",
      "type": "object"
    }
  },
  "resources": {
    "events": {
      "methods": {
        "reset": {
          "id": "gamesManagement.events.reset",
          "parameterOrder": [
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "path": "games/v1management/events/{eventId}/reset",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "parameters": {
            "eventId": {
              "location": "path",
              "required": true,
              "description": "The ID of the event.",
              "type": "string"
            }
          }
        },
        "resetAllForAllPlayers": {
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/events/resetAllForAllPlayers",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "parameters": {},
          "httpMethod": "POST"
        },
        "resetForAllPlayers": {
          "httpMethod": "POST",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "gamesManagement.events.resetForAllPlayers",
          "parameterOrder": [
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAll": {
          "path": "games/v1management/events/reset",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/events/reset",
          "parameters": {},
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetAll",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetMultipleForAllPlayers": {
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "parameters": {}
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "id": "gamesManagement.applications.listHidden",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console."
        }
      }
    },
    "scores": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameters": {},
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          }
        },
        "resetAll": {
          "flatPath": "games/v1management/scores/reset",
          "parameters": {},
          "id": "gamesManagement.scores.resetAll",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "path": "games/v1management/scores/reset",
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST"
        },
        "reset": {
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "id": "gamesManagement.scores.reset",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        },
        "resetAllForAllPlayers": {
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "parameters": {},
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console."
        },
        "resetForAllPlayers": {
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string"
            }
          },
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "achievements": {
      "methods": {
        "resetAll": {
          "flatPath": "games/v1management/achievements/reset",
          "parameters": {},
          "id": "gamesManagement.achievements.resetAll",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "path": "games/v1management/achievements/reset",
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST"
        },
        "resetMultipleForAllPlayers": {
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "parameters": {},
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "httpMethod": "POST",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          }
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "parameters": {},
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetForAllPlayers": {
          "httpMethod": "POST",
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reset": {
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "id": "gamesManagement.achievements.reset",
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "path": "games/v1management/achievements/{achievementId}/reset",
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "id": "gamesManagement.players.hide",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            },
            "playerId": {
              "location": "path",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string"
            }
          },
          "httpMethod": "POST"
        },
        "unhide": {
          "httpMethod": "DELETE",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "playerId": {
              "location": "path",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string"
            }
          },
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.players.unhide",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "title": "Google Play Games Services Management API",
  "id": "gamesManagement:v1management",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "name": "gamesManagement",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}