{
  "ownerDomain": "google.com",
  "revision": "20260305",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "resources": {
    "players": {
      "methods": {
        "unhide": {
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "id": "gamesManagement.players.unhide",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "DELETE",
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            },
            "playerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            }
          },
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console."
        },
        "hide": {
          "httpMethod": "POST",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            },
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path"
            }
          },
          "id": "gamesManagement.players.hide",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ]
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "id": "gamesManagement.applications.listHidden",
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "httpMethod": "GET",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "scores": {
      "methods": {
        "resetAll": {
          "parameters": {},
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetAll",
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/scores/reset",
          "httpMethod": "POST",
          "path": "games/v1management/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "httpMethod": "POST",
          "parameters": {},
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console."
        },
        "resetForAllPlayers": {
          "id": "gamesManagement.scores.resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameterOrder": [
            "leaderboardId"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard."
            }
          }
        },
        "reset": {
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "httpMethod": "POST",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true,
              "location": "path"
            }
          },
          "id": "gamesManagement.scores.reset",
          "parameterOrder": [
            "leaderboardId"
          ]
        },
        "resetMultipleForAllPlayers": {
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "parameterOrder": [],
          "parameters": {},
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset."
        }
      }
    },
    "achievements": {
      "methods": {
        "resetAll": {
          "parameters": {},
          "parameterOrder": [],
          "id": "gamesManagement.achievements.resetAll",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/achievements/reset",
          "httpMethod": "POST",
          "path": "games/v1management/achievements/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAllForAllPlayers": {
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "parameters": {},
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": []
        },
        "resetForAllPlayers": {
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          },
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "httpMethod": "POST"
        },
        "reset": {
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "gamesManagement.achievements.reset",
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/achievements/{achievementId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetMultipleForAllPlayers": {
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "parameterOrder": []
        }
      }
    },
    "events": {
      "methods": {
        "resetAll": {
          "parameterOrder": [],
          "id": "gamesManagement.events.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/events/reset",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "games/v1management/events/reset"
        },
        "resetAllForAllPlayers": {
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "parameterOrder": [],
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/events/resetAllForAllPlayers"
        },
        "resetForAllPlayers": {
          "id": "gamesManagement.events.resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "parameterOrder": [
            "eventId"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "parameters": {
            "eventId": {
              "location": "path",
              "required": true,
              "description": "The ID of the event.",
              "type": "string"
            }
          }
        },
        "reset": {
          "flatPath": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/events/{eventId}/reset",
          "id": "gamesManagement.events.reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "eventId"
          ]
        },
        "resetMultipleForAllPlayers": {
          "parameterOrder": [],
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "parameters": {},
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          }
        }
      }
    }
  },
  "name": "gamesManagement",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/games/",
  "version": "v1management",
  "protocol": "rest",
  "ownerName": "Google",
  "schemas": {
    "AchievementResetMultipleForAllRequest": {
      "type": "object",
      "id": "AchievementResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`."
        },
        "achievement_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset.",
          "type": "array"
        }
      }
    },
    "GamesPlayerExperienceInfoResource": {
      "type": "object",
      "description": "1P/3P metadata about the player's experience.",
      "properties": {
        "currentExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The current number of experience points for the player."
        },
        "currentLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The current level of the player."
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string",
          "format": "int64"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        }
      },
      "id": "GamesPlayerExperienceInfoResource"
    },
    "ScoresResetMultipleForAllRequest": {
      "type": "object",
      "id": "ScoresResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of leaderboards to reset.",
          "type": "array"
        }
      }
    },
    "Player": {
      "id": "Player",
      "properties": {
        "name": {
          "properties": {
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present."
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        }
      },
      "description": "A Player resource.",
      "type": "object"
    },
    "AchievementResetAllResponse": {
      "type": "object",
      "description": "Achievement reset all response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."
        },
        "results": {
          "description": "The achievement reset results.",
          "type": "array",
          "items": {
            "$ref": "AchievementResetResponse"
          }
        }
      },
      "id": "AchievementResetAllResponse"
    },
    "EventsResetMultipleForAllRequest": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "type": "array",
          "description": "The IDs of events to reset.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EventsResetMultipleForAllRequest",
      "type": "object",
      "description": "Multiple events reset all request."
    },
    "HiddenPlayerList": {
      "properties": {
        "items": {
          "items": {
            "$ref": "HiddenPlayer"
          },
          "description": "The players.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "id": "HiddenPlayerList",
      "type": "object",
      "description": "A list of hidden players."
    },
    "PlayerScoreResetResponse": {
      "id": "PlayerScoreResetResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of an leaderboard for which player state has been updated."
        },
        "resetScoreTimeSpans": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. "
        }
      },
      "description": "A list of reset leaderboard entry resources.",
      "type": "object"
    },
    "PlayerScoreResetAllResponse": {
      "id": "PlayerScoreResetAllResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "description": "The leaderboard reset results.",
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          }
        }
      },
      "description": "A list of leaderboard reset resources.",
      "type": "object"
    },
    "ProfileSettings": {
      "type": "object",
      "description": "Profile settings",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "type": "boolean"
        }
      },
      "id": "ProfileSettings"
    },
    "AchievementResetResponse": {
      "id": "AchievementResetResponse",
      "properties": {
        "definitionId": {
          "type": "string",
          "description": "The ID of an achievement for which player state has been updated."
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`."
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Flag to indicate if the requested update actually occurred."
        }
      },
      "description": "An achievement reset response.",
      "type": "object"
    },
    "GamesPlayerLevelResource": {
      "id": "GamesPlayerLevelResource",
      "properties": {
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "level": {
          "description": "The level for the user.",
          "type": "integer",
          "format": "int32"
        },
        "maxExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The maximum experience points for this level."
        }
      },
      "description": "1P/3P metadata about a user's level.",
      "type": "object"
    },
    "HiddenPlayer": {
      "description": "The HiddenPlayer resource.",
      "type": "object",
      "id": "HiddenPlayer",
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`."
        },
        "player": {
          "description": "Output only. The player information.",
          "readOnly": true,
          "$ref": "Player"
        },
        "hiddenTimeMillis": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The time this player was hidden."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "id": "gamesManagement:v1management",
  "servicePath": "",
  "batchPath": "batch",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Google Play Games Services Management API",
  "canonicalName": "Games Management",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}