{
  "canonicalName": "Games",
  "id": "games:v1",
  "title": "Google Play Games Services API",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "protocol": "rest",
  "name": "games",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "servicePath": "",
  "version": "v1",
  "ownerName": "Google",
  "rootUrl": "https://games.googleapis.com/",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    }
  },
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "baseUrl": "https://games.googleapis.com/",
  "revision": "20260312",
  "discoveryVersion": "v1",
  "basePath": "",
  "documentationLink": "https://developers.google.com/games/",
  "schemas": {
    "ApplicationPlayerId": {
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "playerId": {
          "description": "The player identifier for the application.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ApplicationPlayerId",
      "description": "Primary scoped player identifier for an application."
    },
    "PlayerScoreResponse": {
      "properties": {
        "leaderboardId": {
          "description": "The leaderboard ID that this score was submitted to.",
          "type": "string"
        },
        "unbeatenScores": {
          "items": {
            "$ref": "PlayerScore"
          },
          "type": "array",
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans."
        },
        "beatenScoreTimeSpans": {
          "items": {
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "type": "string",
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ]
          },
          "type": "array",
          "description": "The time spans where the submitted score is better than the existing score for that time span."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The formatted value of the submitted score.",
          "type": "string"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        }
      },
      "type": "object",
      "id": "PlayerScoreResponse",
      "description": "A list of leaderboard entry resources."
    },
    "RetrievePlayerTokensResponse": {
      "id": "RetrievePlayerTokensResponse",
      "description": "Response for the RetrievePlayerTokens RPC",
      "properties": {
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "RecallToken"
          },
          "description": "Required. Recall tokens associated with the requested PGS Player principal"
        }
      },
      "type": "object"
    },
    "PlayerScore": {
      "properties": {
        "score": {
          "type": "string",
          "format": "int64",
          "description": "The numerical value for this player score."
        },
        "timeSpan": {
          "description": "The time span for this player score.",
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`."
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted score for this player score."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlayerScore",
      "description": "A player score."
    },
    "UnlinkPersonaRequest": {
      "id": "UnlinkPersonaRequest",
      "description": "Request to remove a Recall token linking PGS principal and an in-game account",
      "properties": {
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC"
        },
        "persona": {
          "type": "string",
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC"
        }
      },
      "type": "object"
    },
    "EventUpdateResponse": {
      "id": "EventUpdateResponse",
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "eventFailures": {
          "type": "array",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "description": "Any failures updating a particular event."
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          }
        },
        "batchFailures": {
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "type": "array",
          "description": "Any batch-wide failures which occurred applying updates."
        }
      },
      "type": "object"
    },
    "LeaderboardEntry": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "writeTimestampMillis": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string",
          "format": "int64"
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        },
        "scoreValue": {
          "type": "string",
          "format": "int64",
          "description": "The numerical value of this score."
        },
        "timeSpan": {
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "description": "The time span of this high score."
        }
      },
      "id": "LeaderboardEntry",
      "description": "The Leaderboard Entry resource."
    },
    "PlayGroupingApiToken": {
      "type": "object",
      "properties": {
        "tokenValue": {
          "description": "Value of the token.",
          "type": "string"
        }
      },
      "id": "PlayGroupingApiToken",
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC."
    },
    "CategoryListResponse": {
      "id": "CategoryListResponse",
      "description": "A third party list metagame categories response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The list of categories with usage data.",
          "items": {
            "$ref": "Category"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        }
      }
    },
    "AchievementIncrementResponse": {
      "id": "AchievementIncrementResponse",
      "description": "An achievement increment response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "currentSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The current steps recorded for this incremental achievement."
        }
      }
    },
    "AchievementUpdateMultipleResponse": {
      "id": "AchievementUpdateMultipleResponse",
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        },
        "updatedAchievements": {
          "description": "The updated state of the achievements.",
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateResponse"
          }
        }
      }
    },
    "PlayerEventListResponse": {
      "id": "PlayerEventListResponse",
      "description": "A ListByPlayer response.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "description": "The player events.",
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          }
        }
      }
    },
    "InstanceAndroidDetails": {
      "id": "InstanceAndroidDetails",
      "description": "The Android instance details resource.",
      "type": "object",
      "properties": {
        "enablePiracyCheck": {
          "type": "boolean",
          "description": "Flag indicating whether the anti-piracy check is enabled."
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`."
        }
      }
    },
    "GamePlayerToken": {
      "type": "object",
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "The application that this player identifier is for."
        },
        "recallToken": {
          "$ref": "RecallToken",
          "description": "Recall token data."
        }
      },
      "id": "GamePlayerToken",
      "description": "Recall tokens for a game."
    },
    "ResetPersonaResponse": {
      "properties": {
        "unlinked": {
          "description": "Required. Whether any tokens were unlinked as a result of this request.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ResetPersonaResponse",
      "description": "Response for the ResetPersona RPC"
    },
    "AchievementUpdateMultipleRequest": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        },
        "updates": {
          "description": "The individual achievement update requests.",
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "type": "array"
        }
      },
      "id": "AchievementUpdateMultipleRequest",
      "description": "A list of achievement update requests."
    },
    "AchievementUpdateResponse": {
      "properties": {
        "currentSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The current steps recorded for this achievement if it is incremental."
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
        },
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is was applied to."
        },
        "currentState": {
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Whether the requested updates actually affected the achievement."
        }
      },
      "type": "object",
      "id": "AchievementUpdateResponse",
      "description": "An updated achievement."
    },
    "LeaderboardListResponse": {
      "id": "LeaderboardListResponse",
      "description": "A list of leaderboard objects.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "items": {
          "description": "The leaderboards.",
          "type": "array",
          "items": {
            "$ref": "Leaderboard"
          }
        }
      },
      "type": "object"
    },
    "AchievementDefinitionsListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "AchievementDefinition"
          },
          "type": "array",
          "description": "The achievement definitions."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`."
        }
      },
      "type": "object",
      "id": "AchievementDefinitionsListResponse",
      "description": "A list of achievement definition objects."
    },
    "EventChild": {
      "type": "object",
      "properties": {
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`.",
          "type": "string"
        }
      },
      "id": "EventChild",
      "description": "An event child relationship resource."
    },
    "RecallToken": {
      "id": "RecallToken",
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC"
        },
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Optional expiration time of the token"
        }
      }
    },
    "InstanceIosDetails": {
      "id": "InstanceIosDetails",
      "description": "The iOS details resource.",
      "properties": {
        "supportIphone": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPhone."
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`."
        },
        "supportIpad": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPad."
        },
        "bundleIdentifier": {
          "type": "string",
          "description": "Bundle identifier."
        },
        "preferredForIphone": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations on iPhone devices."
        }
      },
      "type": "object"
    },
    "ResetPersonaRequest": {
      "properties": {
        "persona": {
          "type": "string",
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC"
        }
      },
      "type": "object",
      "id": "ResetPersonaRequest",
      "description": "Request to remove all Recall tokens associated with a persona for an app."
    },
    "PlayerAchievementListResponse": {
      "id": "PlayerAchievementListResponse",
      "description": "A list of achievement objects.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The achievements.",
          "type": "array",
          "items": {
            "$ref": "PlayerAchievement"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlayerScoreSubmissionList": {
      "properties": {
        "scores": {
          "description": "The score submissions.",
          "type": "array",
          "items": {
            "$ref": "ScoreSubmission"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlayerScoreSubmissionList",
      "description": "A list of score submission requests."
    },
    "MetagameConfig": {
      "id": "MetagameConfig",
      "description": "The metagame config resource",
      "type": "object",
      "properties": {
        "playerLevels": {
          "description": "The list of player levels.",
          "items": {
            "$ref": "PlayerLevel"
          },
          "type": "array"
        },
        "currentVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`."
        }
      }
    },
    "Snapshot": {
      "id": "Snapshot",
      "description": "An snapshot object.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "lastModifiedMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot."
        },
        "coverImage": {
          "$ref": "SnapshotImage",
          "description": "The cover image of this snapshot. May be absent if there is no image."
        },
        "progressValue": {
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "enum": [
            "SAVE_GAME"
          ],
          "description": "The type of this snapshot."
        },
        "uniqueName": {
          "type": "string",
          "description": "The unique name provided when the snapshot was created."
        },
        "description": {
          "type": "string",
          "description": "The description of this snapshot."
        },
        "durationMillis": {
          "description": "The duration associated with this snapshot, in millis.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "The ID of the snapshot."
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller."
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EndPoint": {
      "id": "EndPoint",
      "description": "Container for a URL end point of the requested type.",
      "properties": {
        "url": {
          "type": "string",
          "description": "A URL suitable for loading in a web browser for the requested endpoint."
        }
      },
      "type": "object"
    },
    "PlayerLeaderboardScore": {
      "type": "object",
      "properties": {
        "writeTimestamp": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "publicRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly."
        },
        "socialRank": {
          "description": "The social rank of the score in this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "leaderboard_id": {
          "type": "string",
          "description": "The ID of the leaderboard this score is in."
        },
        "timeSpan": {
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span of this score."
        },
        "scoreValue": {
          "type": "string",
          "format": "int64",
          "description": "The numerical value of this score."
        }
      },
      "id": "PlayerLeaderboardScore",
      "description": "A player leaderboard score object."
    },
    "AchievementRevealResponse": {
      "id": "AchievementRevealResponse",
      "description": "An achievement reveal response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        }
      }
    },
    "InstanceWebDetails": {
      "properties": {
        "launchUrl": {
          "type": "string",
          "description": "Launch URL for the game."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`."
        },
        "preferred": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations."
        }
      },
      "type": "object",
      "id": "InstanceWebDetails",
      "description": "The Web details resource."
    },
    "PlayerEvent": {
      "id": "PlayerEvent",
      "description": "An event status resource.",
      "properties": {
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`."
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event definition."
        },
        "numEvents": {
          "type": "string",
          "format": "int64",
          "description": "The current number of times this event has occurred."
        },
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SnapshotImage": {
      "id": "SnapshotImage",
      "description": "An image of a snapshot.",
      "type": "object",
      "properties": {
        "mime_type": {
          "description": "The MIME type of the image.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
          "type": "string"
        },
        "height": {
          "description": "The height of the image.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        },
        "width": {
          "description": "The width of the image.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "EventPeriodUpdate": {
      "properties": {
        "timePeriod": {
          "$ref": "EventPeriodRange",
          "description": "The time period being covered by this update."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`.",
          "type": "string"
        },
        "updates": {
          "items": {
            "$ref": "EventUpdateRequest"
          },
          "type": "array",
          "description": "The updates being made for this time period."
        }
      },
      "type": "object",
      "id": "EventPeriodUpdate",
      "description": "An event period update resource."
    },
    "RetrieveGamesPlayerTokensResponse": {
      "id": "RetrieveGamesPlayerTokensResponse",
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "type": "object",
      "properties": {
        "gamePlayerTokens": {
          "type": "array",
          "items": {
            "$ref": "GamePlayerToken"
          },
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response."
        }
      }
    },
    "AchievementUpdateRequest": {
      "id": "AchievementUpdateRequest",
      "description": "A request to update an achievement.",
      "properties": {
        "incrementPayload": {
          "$ref": "GamesAchievementIncrement",
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement."
        },
        "updateType": {
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "description": "The type of update being applied."
        },
        "setStepsAtLeastPayload": {
          "$ref": "GamesAchievementSetStepsAtLeast",
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement."
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlayerLevel": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`."
        },
        "level": {
          "description": "The level for the user.",
          "type": "integer",
          "format": "int32"
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PlayerLevel",
      "description": "1P/3P metadata about a user's level."
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "id": "GeneratePlayGroupingApiTokenResponse",
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "type": "object",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      }
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "description": "A list of player leaderboard scores.",
      "type": "object",
      "properties": {
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The leaderboard scores.",
          "type": "array",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          }
        }
      }
    },
    "PlayerExperienceInfo": {
      "id": "PlayerExperienceInfo",
      "description": "1P/3P metadata about the player's experience.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        },
        "currentLevel": {
          "$ref": "PlayerLevel",
          "description": "The current level of the player."
        },
        "currentExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The current number of experience points for the player."
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string",
          "format": "int64"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "PlayerLevel"
        }
      },
      "type": "object"
    },
    "EventDefinitionListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The event definitions.",
          "type": "array",
          "items": {
            "$ref": "EventDefinition"
          }
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventDefinitionListResponse",
      "description": "A ListDefinitions response."
    },
    "PlayerListResponse": {
      "id": "PlayerListResponse",
      "description": "A third party player list response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Player"
          },
          "description": "The players."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LeaderboardScores": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "LeaderboardEntry"
          },
          "description": "The scores in the leaderboard."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "numScores": {
          "description": "The total number of scores in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LeaderboardScores",
      "description": "A ListScores response."
    },
    "SnapshotListResponse": {
      "id": "SnapshotListResponse",
      "description": "A third party list snapshots response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "The snapshots."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted."
        }
      },
      "type": "object"
    },
    "Instance": {
      "id": "Instance",
      "description": "The Instance resource.",
      "properties": {
        "androidInstance": {
          "$ref": "InstanceAndroidDetails",
          "description": "Platform dependent details for Android."
        },
        "realtimePlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports realtime play."
        },
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "description": "The platform type."
        },
        "name": {
          "type": "string",
          "description": "Localized display name."
        },
        "turnBasedPlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports turn based play."
        },
        "acquisitionUri": {
          "type": "string",
          "description": "URI which shows where a user can acquire this instance."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "webInstance": {
          "$ref": "InstanceWebDetails",
          "description": "Platform dependent details for Web."
        }
      },
      "type": "object"
    },
    "ApplicationVerifyResponse": {
      "id": "ApplicationVerifyResponse",
      "description": "A third party application verification response resource.",
      "properties": {
        "alternate_player_id": {
          "type": "string",
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)"
        },
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementSetStepsAtLeastResponse": {
      "id": "AchievementSetStepsAtLeastResponse",
      "description": "An achievement set steps at least response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`."
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "currentSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The current steps recorded for this incremental achievement."
        }
      },
      "type": "object"
    },
    "ScopedPlayerIds": {
      "id": "ScopedPlayerIds",
      "description": "Scoped player identifiers.",
      "type": "object",
      "properties": {
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        },
        "developerPlayerKey": {
          "type": "string",
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged."
        }
      }
    },
    "EventBatchRecordFailure": {
      "properties": {
        "failureCause": {
          "description": "The cause for the update failure.",
          "type": "string",
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ],
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`.",
          "type": "string"
        },
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        }
      },
      "type": "object",
      "id": "EventBatchRecordFailure",
      "description": "A batch update failure resource."
    },
    "Category": {
      "type": "object",
      "properties": {
        "experiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "Experience points earned in this category."
        },
        "category": {
          "type": "string",
          "description": "The category name."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        }
      },
      "id": "Category",
      "description": "Data related to individual game categories."
    },
    "PlayerScoreListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`."
        },
        "submittedScores": {
          "items": {
            "$ref": "PlayerScoreResponse"
          },
          "type": "array",
          "description": "The score submissions statuses."
        }
      },
      "id": "PlayerScoreListResponse",
      "description": "A list of score submission statuses."
    },
    "EventRecordFailure": {
      "id": "EventRecordFailure",
      "description": "An event update failure resource.",
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "The ID of the event that was not updated."
        },
        "failureCause": {
          "type": "string",
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "description": "The cause for the update failure."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`."
        }
      }
    },
    "StatsResponse": {
      "properties": {
        "num_purchases": {
          "type": "integer",
          "format": "int32",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "days_since_last_played": {
          "type": "integer",
          "format": "int32",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "avg_session_length_minutes": {
          "type": "number",
          "format": "float",
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "num_sessions": {
          "type": "integer",
          "format": "int32",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "spend_probability": {
          "type": "number",
          "format": "float",
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information."
        },
        "high_spender_probability": {
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "spend_percentile": {
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "churn_probability": {
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "total_spend_next_28_days": {
          "type": "number",
          "format": "float",
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "num_sessions_percentile": {
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "StatsResponse",
      "description": "A third party stats resource."
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "type": "object",
      "properties": {
        "token": {
          "$ref": "PlayGroupingApiToken",
          "description": "Token for accessing the Play Grouping API."
        }
      }
    },
    "ScoreSubmission": {
      "properties": {
        "score": {
          "type": "string",
          "format": "int64",
          "description": "The new score being submitted."
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "leaderboardId": {
          "description": "The leaderboard this score is being submitted to.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`."
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        }
      },
      "type": "object",
      "id": "ScoreSubmission",
      "description": "A request to submit a score to leaderboards."
    },
    "RevisionCheckResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "The version of the API this client revision should use when calling API methods."
        },
        "revisionStatus": {
          "description": "The result of the revision check.",
          "type": "string",
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ]
        }
      },
      "type": "object",
      "id": "RevisionCheckResponse",
      "description": "A third party checking a revision response."
    },
    "LinkPersonaRequest": {
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "Input only. Optional expiration time.",
          "type": "string",
          "format": "google-datetime"
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Input only. Optional time-to-live."
        },
        "token": {
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation).",
          "type": "string"
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "cardinalityConstraint": {
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "type": "string",
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ]
        },
        "conflictingLinksResolutionPolicy": {
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ],
          "type": "string",
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ],
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint."
        },
        "persona": {
          "type": "string",
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games."
        }
      },
      "id": "LinkPersonaRequest",
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id)."
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "properties": {
        "gamePlayerToken": {
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal.",
          "$ref": "GamePlayerToken"
        }
      },
      "type": "object",
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC"
    },
    "ProfileSettings": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`.",
          "type": "string"
        },
        "friendsListVisibility": {
          "type": "string",
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ],
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ]
        },
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ProfileSettings",
      "description": "Profile settings"
    },
    "Leaderboard": {
      "id": "Leaderboard",
      "description": "The Leaderboard resource.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The leaderboard ID."
        },
        "name": {
          "type": "string",
          "description": "The name of the leaderboard."
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon for the leaderboard."
        },
        "isIconUrlDefault": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`."
        },
        "order": {
          "type": "string",
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "description": "How scores are ordered."
        }
      }
    },
    "LinkPersonaResponse": {
      "id": "LinkPersonaResponse",
      "description": "Outcome of a persona linking attempt.",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ],
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "description": "Output only. State of a persona linking attempt."
        }
      },
      "type": "object"
    },
    "UnlinkPersonaResponse": {
      "properties": {
        "unlinked": {
          "type": "boolean",
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request."
        }
      },
      "type": "object",
      "id": "UnlinkPersonaResponse",
      "description": "Response for the UnlinkPersona RPC"
    },
    "AchievementUnlockResponse": {
      "id": "AchievementUnlockResponse",
      "description": "An achievement unlock response",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
        }
      },
      "type": "object"
    },
    "ApplicationCategory": {
      "properties": {
        "secondary": {
          "type": "string",
          "description": "The secondary category."
        },
        "primary": {
          "type": "string",
          "description": "The primary category."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`."
        }
      },
      "type": "object",
      "id": "ApplicationCategory",
      "description": "An application category object."
    },
    "EventRecordRequest": {
      "id": "EventRecordRequest",
      "description": "An event period update resource.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`."
        },
        "requestId": {
          "description": "The request ID used to identify this attempt to record events.",
          "type": "string",
          "format": "int64"
        },
        "currentTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch)."
        },
        "timePeriods": {
          "description": "A list of the time period updates being made in this request.",
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "type": "array"
        }
      }
    },
    "LeaderboardScoreRank": {
      "id": "LeaderboardScoreRank",
      "description": "A score rank in a leaderboard.",
      "properties": {
        "formattedNumScores": {
          "type": "string",
          "description": "The number of scores in the leaderboard as a string."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`."
        },
        "formattedRank": {
          "type": "string",
          "description": "The rank in the leaderboard as a string."
        },
        "numScores": {
          "description": "The number of scores in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "rank": {
          "type": "string",
          "format": "int64",
          "description": "The rank in the leaderboard."
        }
      },
      "type": "object"
    },
    "AchievementDefinition": {
      "id": "AchievementDefinition",
      "description": "An achievement definition object.",
      "properties": {
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points which will be earned when unlocking this achievement.",
          "type": "string",
          "format": "int64"
        },
        "achievementType": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ],
          "description": "The type of the achievement."
        },
        "revealedIconUrl": {
          "description": "The image URL for the revealed achievement icon.",
          "type": "string"
        },
        "totalSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The total steps for an incremental achievement."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "initialState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The initial state of the achievement."
        },
        "description": {
          "type": "string",
          "description": "The description of the achievement."
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GamesAchievementIncrement": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`."
        },
        "requestId": {
          "description": "The requestId associated with an increment to an achievement.",
          "type": "string",
          "format": "int64"
        },
        "steps": {
          "type": "integer",
          "format": "int32",
          "description": "The number of steps to be incremented."
        }
      },
      "type": "object",
      "id": "GamesAchievementIncrement",
      "description": "The payload to request to increment an achievement."
    },
    "EventUpdateRequest": {
      "id": "EventUpdateRequest",
      "description": "An event period update resource.",
      "properties": {
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event being modified in this update."
        }
      },
      "type": "object"
    },
    "EventPeriodRange": {
      "type": "object",
      "properties": {
        "periodEndMillis": {
          "type": "string",
          "format": "int64",
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch)."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`."
        },
        "periodStartMillis": {
          "type": "string",
          "format": "int64",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch)."
        }
      },
      "id": "EventPeriodRange",
      "description": "An event period time range."
    },
    "Player": {
      "id": "Player",
      "description": "A Player resource.",
      "type": "object",
      "properties": {
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "experienceInfo": {
          "$ref": "PlayerExperienceInfo",
          "description": "An object to represent Play Game experience information for the player."
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "gamePlayerId": {
          "description": "Per-application unique player identifier.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`"
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "friendStatus": {
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "type": "string",
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game."
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "name": {
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            }
          },
          "type": "object",
          "description": "A representation of the individual components of the name."
        }
      }
    },
    "GamesAchievementSetStepsAtLeast": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        },
        "steps": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of steps for the achievement to be set to."
        }
      },
      "id": "GamesAchievementSetStepsAtLeast",
      "description": "The payload to request to increment an achievement."
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "properties": {
        "playerIds": {
          "items": {
            "$ref": "ApplicationPlayerId"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response."
        }
      },
      "type": "object",
      "id": "GetMultipleApplicationPlayerIdsResponse",
      "description": "Response message for GetMultipleApplicationPlayerIds rpc."
    },
    "PlayerAchievement": {
      "id": "PlayerAchievement",
      "description": "An achievement object.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "achievementState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The state of the achievement."
        },
        "currentSteps": {
          "description": "The current steps for an incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp of the last modification to this achievement's state."
        },
        "formattedCurrentStepsString": {
          "type": "string",
          "description": "The current steps for an incremental achievement as a string."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`."
        },
        "experiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished."
        }
      },
      "type": "object"
    },
    "EventDefinition": {
      "properties": {
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "childEvents": {
          "description": "A list of events that are a child of this event.",
          "items": {
            "$ref": "EventChild"
          },
          "type": "array"
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "description": "The visibility of event being tracked in this definition."
        },
        "imageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the event."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventDefinition",
      "description": "An event definition resource."
    },
    "Application": {
      "properties": {
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The last updated timestamp of the application."
        },
        "category": {
          "$ref": "ApplicationCategory",
          "description": "The category of the application."
        },
        "themeColor": {
          "type": "string",
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\")."
        },
        "instances": {
          "description": "The instances of the application.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`.",
          "type": "string"
        },
        "enabledFeatures": {
          "items": {
            "enum": [
              "SNAPSHOTS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ]
          },
          "type": "array",
          "description": "A list of features that have been enabled for the application."
        },
        "achievement_count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of achievements visible to the currently authenticated player."
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "assets": {
          "description": "The assets of the application.",
          "items": {
            "$ref": "ImageAsset"
          },
          "type": "array"
        },
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "leaderboard_count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of leaderboards visible to the currently authenticated player."
        },
        "author": {
          "type": "string",
          "description": "The author of the application."
        }
      },
      "type": "object",
      "id": "Application",
      "description": "The Application resource."
    },
    "ImageAsset": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the asset."
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the asset."
        },
        "width": {
          "description": "The width of the asset.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ImageAsset",
      "description": "An image asset object."
    }
  },
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "resources": {
    "achievements": {
      "methods": {
        "updateMultiple": {
          "parameters": {},
          "id": "games.achievements.updateMultiple",
          "parameterOrder": [],
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "httpMethod": "POST",
          "flatPath": "games/v1/achievements/updateMultiple",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Updates multiple achievements for the currently authenticated player.",
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "path": "games/v1/achievements/updateMultiple"
        },
        "reveal": {
          "id": "games.achievements.reveal",
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "path": "games/v1/achievements/{achievementId}/reveal",
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST"
        },
        "list": {
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "location": "query"
            },
            "state": {
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "id": "games.achievements.list",
          "parameterOrder": [
            "playerId"
          ],
          "httpMethod": "GET",
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "flatPath": "games/v1/players/{playerId}/achievements",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/players/{playerId}/achievements",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          }
        },
        "setStepsAtLeast": {
          "id": "games.achievements.setStepsAtLeast",
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "parameters": {
            "achievementId": {
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            },
            "steps": {
              "type": "integer",
              "location": "query",
              "required": true,
              "format": "int32",
              "description": "Required. The minimum value to set the steps to."
            }
          },
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "httpMethod": "POST"
        },
        "increment": {
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            },
            "stepsToIncrement": {
              "required": true,
              "format": "int32",
              "description": "Required. The number of steps to increment.",
              "type": "integer",
              "location": "query"
            },
            "requestId": {
              "type": "string",
              "format": "int64",
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "location": "query"
            }
          },
          "id": "games.achievements.increment",
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "httpMethod": "POST",
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/achievements/{achievementId}/increment",
          "response": {
            "$ref": "AchievementIncrementResponse"
          }
        },
        "unlock": {
          "httpMethod": "POST",
          "path": "games/v1/achievements/{achievementId}/unlock",
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "description": "Unlocks this achievement for the currently authenticated player.",
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "id": "games.achievements.unlock",
          "parameterOrder": [
            "achievementId"
          ]
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "id": "games.revisions.check",
          "parameterOrder": [
            "clientRevision"
          ],
          "parameters": {
            "clientRevision": {
              "required": true,
              "type": "string",
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "location": "query"
            }
          },
          "path": "games/v1/revisions/check",
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "description": "Checks whether the games client is out of date.",
          "flatPath": "games/v1/revisions/check",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "recall": {
      "methods": {
        "linkPersona": {
          "parameters": {},
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "id": "games.recall.linkPersona",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "path": "games/v1/recall:linkPersona",
          "flatPath": "games/v1/recall:linkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account"
        },
        "gamesPlayerTokens": {
          "parameters": {
            "applicationIds": {
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "location": "query",
              "type": "string"
            },
            "sessionId": {
              "required": true,
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path"
            }
          },
          "id": "games.recall.gamesPlayerTokens",
          "parameterOrder": [
            "sessionId"
          ],
          "httpMethod": "GET",
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "retrieveTokens": {
          "parameters": {
            "sessionId": {
              "type": "string",
              "required": true,
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path"
            }
          },
          "id": "games.recall.retrieveTokens",
          "parameterOrder": [
            "sessionId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "path": "games/v1/recall/tokens/{sessionId}",
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile."
        },
        "lastTokenFromAllDeveloperGames": {
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "httpMethod": "GET",
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "parameterOrder": [
            "sessionId"
          ],
          "parameters": {
            "sessionId": {
              "type": "string",
              "required": true,
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path"
            }
          }
        },
        "unlinkPersona": {
          "parameters": {},
          "id": "games.recall.unlinkPersona",
          "parameterOrder": [],
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "httpMethod": "POST",
          "flatPath": "games/v1/recall:unlinkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value.",
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "path": "games/v1/recall:unlinkPersona"
        },
        "resetPersona": {
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "id": "games.recall.resetPersona",
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "path": "games/v1/recall:resetPersona",
          "flatPath": "games/v1/recall:resetPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "httpMethod": "POST"
        }
      }
    },
    "events": {
      "methods": {
        "listByPlayer": {
          "flatPath": "games/v1/events",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "path": "games/v1/events",
          "httpMethod": "GET",
          "id": "games.events.listByPlayer",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "listDefinitions": {
          "id": "games.events.listDefinitions",
          "parameterOrder": [],
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "flatPath": "games/v1/eventDefinitions",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a list of the event definitions in this application.",
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "path": "games/v1/eventDefinitions",
          "httpMethod": "GET"
        },
        "record": {
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "flatPath": "games/v1/events",
          "scopes": [
            "https://www.googleapis.com/auth/games"
[...]
