{
  "discoveryVersion": "v1",
  "canonicalName": "GKE Hub",
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "basePath": "",
  "id": "gkehub:v2beta",
  "version": "v2beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "revision": "20260226",
  "description": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta/projects/{projectsId}/locations",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                }
              },
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "id": "gkehub.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v2beta/{+name}/locations"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v2beta/{+name}",
              "description": "Gets information about a location.",
              "id": "gkehub.projects.locations.get",
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2beta/{+name}",
                  "id": "gkehub.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "gkehub.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v2beta/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                },
                "cancel": {
                  "id": "gkehub.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v2beta/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "memberships": {
              "resources": {
                "features": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The MembershipFeature resource name in the format `projects/*/locations/*/memberships/*/features/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v2beta/{+name}",
                      "description": "========= MembershipFeature Services ========= Gets details of a membershipFeature.",
                      "id": "gkehub.projects.locations.memberships.features.get",
                      "response": {
                        "$ref": "MembershipFeature"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the membershipFeature to be deleted. Specified in the format `projects/*/locations/*/memberships/*/features/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Idempotent request UUID.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "path": "v2beta/{+name}",
                      "description": "Removes a membershipFeature.",
                      "id": "gkehub.projects.locations.memberships.features.delete",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "create": {
                      "id": "gkehub.projects.locations.memberships.features.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates membershipFeature under a given parent.",
                      "request": {
                        "$ref": "MembershipFeature"
                      },
                      "path": "v2beta/{+parent}/features",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features",
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of parent where the MembershipFeature will be created. Specified in the format `projects/*/locations/*/memberships/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Idempotent request UUID.",
                          "location": "query"
                        },
                        "featureId": {
                          "description": "Required. The ID of the membership_feature to create.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "description": "Lists MembershipFeatures in a given project and location.",
                      "id": "gkehub.projects.locations.memberships.features.list",
                      "response": {
                        "$ref": "ListMembershipFeaturesResponse"
                      },
                      "path": "v2beta/{+parent}/features",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Token returned by previous call to `ListFeatures` which specifies the position in the list from where to continue listing the resources.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent where the MembershipFeature will be listed. In the format: `projects/*/locations/*/memberships/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "filter": {
                          "description": "Lists MembershipFeatures that match the filter expression, following the syntax outlined in https://google.aip.dev/160. Examples: - Feature with the name \"helloworld\" in project \"foo-proj\" and membership \"member-bar\": name = \"projects/foo-proj/locations/global/memberships/member-bar/features/helloworld\" - Features that have a label called `foo`: labels.foo:* - Features that have a label called `foo` whose value is `bar`: labels.foo = bar",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "parameters": {
                        "allowMissing": {
                          "type": "boolean",
                          "description": "Optional. If set to true, and the MembershipFeature is not found, a new MembershipFeature will be created. In this situation, `update_mask` is ignored.",
                          "location": "query"
                        },
                        "name": {
                          "description": "Output only. The resource name of the membershipFeature, in the format: `projects/{project}/locations/{location}/memberships/{membership}/features/{feature}`. Note that `membershipFeatures` is shortened to `features` in the resource name. (see http://go/aip/122#collection-identifiers)",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. Mask of fields to update.",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Idempotent request UUID.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "gkehub.projects.locations.memberships.features.patch",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates an existing MembershipFeature.",
                      "request": {
                        "$ref": "MembershipFeature"
                      },
                      "path": "v2beta/{+name}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    }
  },
  "rootUrl": "https://gkehub.googleapis.com/",
  "version_module": true,
  "name": "gkehub",
  "baseUrl": "https://gkehub.googleapis.com/",
  "schemas": {
    "OperationMetadata": {
      "description": "Metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        }
      }
    },
    "ConfigManagementContainerOverride": {
      "id": "ConfigManagementContainerOverride",
      "properties": {
        "cpuRequest": {
          "type": "string",
          "description": "Optional. The cpu request of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
        },
        "cpuLimit": {
          "type": "string",
          "description": "Optional. The cpu limit of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
        },
        "memoryLimit": {
          "type": "string",
          "description": "Optional. The memory limit of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory."
        },
        "containerName": {
          "type": "string",
          "description": "Required. The name of the container."
        },
        "memoryRequest": {
          "description": "Optional. The memory request of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for a container override."
    },
    "IdentityServiceDiagnosticInterface": {
      "id": "IdentityServiceDiagnosticInterface",
      "properties": {
        "enabled": {
          "description": "Determines whether to enable the diagnostic interface.",
          "type": "boolean"
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "Determines the expiration time of the diagnostic interface enablement. When reached, requests to the interface would be automatically rejected.",
          "type": "string"
        }
      },
      "description": "Configuration options for the AIS diagnostic interface.",
      "type": "object"
    },
    "IdentityServiceState": {
      "id": "IdentityServiceState",
      "properties": {
        "installedVersion": {
          "description": "Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK.",
          "type": "string"
        },
        "failureReason": {
          "description": "The reason of the failure.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state",
            "deployment succeeds",
            "Failure with error."
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "OK",
            "ERROR"
          ],
          "description": "Deployment state on this member"
        },
        "memberConfig": {
          "description": "Last reconciled membership configuration",
          "$ref": "IdentityServiceSpec"
        }
      },
      "description": "**IdentityService**: State for a single membership, analyzed and reported by feature controller.",
      "type": "object"
    },
    "ConfigManagementPolicyControllerVersion": {
      "description": "The build version of Gatekeeper Policy Controller is using.",
      "type": "object",
      "id": "ConfigManagementPolicyControllerVersion",
      "properties": {
        "version": {
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number.",
          "type": "string"
        }
      }
    },
    "PolicyControllerState": {
      "type": "object",
      "description": "**Policy Controller**: State for a single cluster.",
      "id": "PolicyControllerState",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "description": "The overall Policy Controller lifecycle state observed by the Hub Feature controller."
        },
        "policyContentState": {
          "$ref": "PolicyControllerPolicyContentState",
          "description": "The overall content state observed by the Hub Feature controller."
        },
        "componentStates": {
          "type": "object",
          "description": "Currently these include (also serving as map keys): 1. \"admission\" 2. \"audit\" 3. \"mutation\"",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          }
        }
      }
    },
    "IdentityServiceIdentityServiceOptions": {
      "id": "IdentityServiceIdentityServiceOptions",
      "properties": {
        "sessionDuration": {
          "format": "google-duration",
          "description": "Determines the lifespan of STS tokens issued by Anthos Identity Service.",
          "type": "string"
        },
        "diagnosticInterface": {
          "description": "Configuration options for the AIS diagnostic interface.",
          "$ref": "IdentityServiceDiagnosticInterface"
        }
      },
      "description": "Holds non-protocol-related configuration options.",
      "type": "object"
    },
    "ConfigManagementConfigSyncState": {
      "id": "ConfigManagementConfigSyncState",
      "properties": {
        "rootsyncCrd": {
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "description": "Output only. The state of the RootSync CRD",
          "readOnly": true,
          "type": "string",
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ]
        },
        "deploymentState": {
          "description": "Output only. Information about the deployment of ConfigSync, including the version. of the various Pods deployed",
          "readOnly": true,
          "$ref": "ConfigManagementConfigSyncDeploymentState"
        },
        "errors": {
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          },
          "description": "Output only. Errors pertaining to the installation of Config Sync.",
          "readOnly": true,
          "type": "array"
        },
        "syncState": {
          "$ref": "ConfigManagementSyncState",
          "description": "Output only. The state of ConfigSync's process to sync configs to a cluster.",
          "readOnly": true
        },
        "reposyncCrd": {
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "type": "string",
          "description": "Output only. The state of the Reposync CRD",
          "readOnly": true,
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ]
        },
        "clusterLevelStopSyncingState": {
          "description": "Output only. Whether syncing resources to the cluster is stopped at the cluster level.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State cannot be determined",
            "Syncing resources to the cluster is not stopped at the cluster level.",
            "Some reconcilers stop syncing resources to the cluster, while others are still syncing.",
            "Syncing resources to the cluster is stopped at the cluster level."
          ],
          "enum": [
            "STOP_SYNCING_STATE_UNSPECIFIED",
            "NOT_STOPPED",
            "PENDING",
            "STOPPED"
          ]
        },
        "version": {
          "description": "Output only. The version of ConfigSync deployed.",
          "readOnly": true,
          "$ref": "ConfigManagementConfigSyncVersion"
        },
        "crCount": {
          "format": "int32",
          "description": "Output only. The number of RootSync and RepoSync CRs in the cluster.",
          "readOnly": true,
          "type": "integer"
        },
        "state": {
          "enumDescriptions": [
            "CS's state cannot be determined.",
            "CS is not installed.",
            "The expected CS version is installed successfully.",
            "CS encounters errors.",
            "CS is installing or terminating."
          ],
          "description": "Output only. The state of CS This field summarizes the other fields in this message.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_SYNC_NOT_INSTALLED",
            "CONFIG_SYNC_INSTALLED",
            "CONFIG_SYNC_ERROR",
            "CONFIG_SYNC_PENDING"
          ]
        }
      },
      "type": "object",
      "description": "State information for ConfigSync."
    },
    "ConfigManagementOciConfig": {
      "id": "ConfigManagementOciConfig",
      "properties": {
        "policyDir": {
          "description": "Optional. The absolute path of the directory that contains the local resources. Default: the root directory of the image.",
          "type": "string"
        },
        "syncRepo": {
          "type": "string",
          "description": "Required. The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`."
        },
        "secretType": {
          "type": "string",
          "description": "Required. Type of secret configured for access to the OCI repo. Must be one of `gcenode`, `gcpserviceaccount`, `k8sserviceaccount` or `none`. The validation of this is case-sensitive."
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
        },
        "syncWaitSecs": {
          "format": "int64",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15.",
          "type": "string"
        }
      },
      "description": "OCI repo configuration for a single cluster.",
      "type": "object"
    },
    "ConfigManagementState": {
      "id": "ConfigManagementState",
      "properties": {
        "hierarchyControllerState": {
          "$ref": "ConfigManagementHierarchyControllerState",
          "description": "Output only. Hierarchy Controller status.",
          "readOnly": true
        },
        "membershipSpec": {
          "$ref": "ConfigManagementSpec",
          "description": "Output only. Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state.",
          "readOnly": true
        },
        "operatorState": {
          "$ref": "ConfigManagementOperatorState",
          "description": "Output only. Current install status of ACM's Operator.",
          "readOnly": true
        },
        "configSyncState": {
          "description": "Output only. Current sync status.",
          "readOnly": true,
          "$ref": "ConfigManagementConfigSyncState"
        },
        "binauthzState": {
          "$ref": "ConfigManagementBinauthzState",
          "description": "Output only. Binauthz status.",
          "readOnly": true
        },
        "clusterName": {
          "type": "string",
          "description": "Output only. This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name.",
          "readOnly": true
        },
        "policyControllerState": {
          "description": "Output only. PolicyController status.",
          "readOnly": true,
          "$ref": "ConfigManagementPolicyControllerState"
        },
        "kubernetesApiServerVersion": {
          "description": "Output only. The Kubernetes API server version of the cluster.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "**Anthos Config Management**: State for a single cluster.",
      "type": "object"
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "description": "The state of ConfigSync's deployment on a cluster.",
      "type": "object",
      "id": "ConfigManagementConfigSyncDeploymentState",
      "properties": {
        "otelCollector": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of otel-collector"
        },
        "rootReconciler": {
          "description": "Deployment state of root-reconciler.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "gitSync": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "description": "Deployment state of the git-sync pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "reconcilerManager": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of reconciler-manager pod.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "importer": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of the importer pod.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "syncer": {
          "description": "Deployment state of the syncer pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "resourceGroupControllerManager": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "description": "Deployment state of resource-group-controller-manager",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "admissionWebhook": {
          "description": "Deployment state of admission-webhook.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "monitor": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of the monitor pod.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        }
      }
    },
    "IdentityServiceGroupConfig": {
      "type": "object",
      "description": "Contains the properties for locating and authenticating groups in the directory.",
      "id": "IdentityServiceGroupConfig",
      "properties": {
        "baseDn": {
          "type": "string",
          "description": "Required. The location of the subtree in the LDAP directory to search for group entries."
        },
        "idAttribute": {
          "type": "string",
          "description": "Optional. The identifying name of each group a user belongs to. For example, if this is set to \"distinguishedName\" then RBACs and other group expectations should be written as full DNs. This defaults to \"distinguishedName\"."
        },
        "filter": {
          "description": "Optional. Optional filter to be used when searching for groups a user belongs to. This can be used to explicitly match only certain groups in order to reduce the amount of groups returned for each user. This defaults to \"(objectClass=Group)\".",
          "type": "string"
        }
      }
    },
    "ConfigManagementBinauthzState": {
      "description": "State for Binauthz.",
      "type": "object",
      "id": "ConfigManagementBinauthzState",
      "properties": {
        "webhook": {
          "description": "The state of the binauthz webhook.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "version": {
          "description": "The version of binauthz that is installed.",
          "$ref": "ConfigManagementBinauthzVersion"
        }
      }
    },
    "ConfigManagementSyncState": {
      "id": "ConfigManagementSyncState",
      "properties": {
        "sourceToken": {
          "description": "Token indicating the state of the repo.",
          "type": "string"
        },
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "Timestamp type of when ACM last successfully synced the repo.",
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "ConfigManagementSyncError"
          },
          "type": "array",
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist."
        },
        "code": {
          "description": "Sync status code.",
          "type": "string",
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "enumDescriptions": [
            "Config Sync cannot determine a sync code",
            "Config Sync successfully synced the git Repo with the cluster",
            "Config Sync is in the progress of syncing a new change",
            "Indicates an error configuring Config Sync, and user action is required",
            "Config Sync has been installed but not configured",
            "Config Sync has not been installed",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ]
        },
        "importToken": {
          "type": "string",
          "description": "Token indicating the state of the importer."
        },
        "lastSync": {
          "type": "string",
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo. The time format is specified in https://golang.org/pkg/time/#Time.String",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "State indicating an ACM's progress syncing configurations to a cluster."
    },
    "PolicyControllerOnClusterState": {
      "id": "PolicyControllerOnClusterState",
      "properties": {
        "state": {
          "description": "The lifecycle state of this component.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ]
        },
        "details": {
          "description": "Surface potential errors or information logs.",
          "type": "string"
        }
      },
      "description": "OnClusterState represents the state of a sub-component of Policy Controller.",
      "type": "object"
    },
    "WorkloadCertificateSpec": {
      "type": "object",
      "description": "**WorkloadCertificate**: The membership-specific input for WorkloadCertificate feature.",
      "id": "WorkloadCertificateSpec",
      "properties": {
        "certificateManagement": {
          "enumDescriptions": [
            "Disable workload certificate feature.",
            "Disable workload certificate feature.",
            "Enable workload certificate feature."
          ],
          "type": "string",
          "enum": [
            "CERTIFICATE_MANAGEMENT_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "CertificateManagement specifies workload certificate management."
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "ConfigManagementGitConfig": {
      "description": "Git repo configuration for a single cluster.",
      "type": "object",
      "id": "ConfigManagementGitConfig",
      "properties": {
        "syncRev": {
          "type": "string",
          "description": "Optional. Git revision (tag or hash) to check out. Default HEAD."
        },
        "secretType": {
          "description": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive.",
          "type": "string"
        },
        "syncRepo": {
          "type": "string",
          "description": "Required. The URL of the Git repository to use as the source of truth."
        },
        "httpsProxy": {
          "description": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`.",
          "type": "string"
        },
        "policyDir": {
          "description": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository.",
          "type": "string"
        },
        "syncWaitSecs": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15."
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
        },
        "syncBranch": {
          "description": "Optional. The branch of the repository to sync from. Default: master.",
          "type": "string"
        }
      }
    },
    "PolicyControllerTemplateLibraryConfig": {
      "id": "PolicyControllerTemplateLibraryConfig",
      "properties": {
        "installation": {
          "description": "Configures the manner in which the template library is installed on the cluster.",
          "type": "string",
          "enum": [
            "INSTALLATION_UNSPECIFIED",
            "NOT_INSTALLED",
            "ALL"
          ],
          "enumDescriptions": [
            "No installation strategy has been specified.",
            "Do not install the template library.",
            "Install the entire template library."
          ]
        }
      },
      "description": "The config specifying which default library templates to install.",
      "type": "object"
    },
    "RBACRoleBindingActuationSpec": {
      "id": "RBACRoleBindingActuationSpec",
      "properties": {},
      "description": "**RBAC RoleBinding Actuation**: The membership-specific input for RBACRoleBindingActuation feature.",
      "type": "object"
    },
    "ServiceMeshType": {
      "description": "A unique identifier for the type of message. Display_name is intended to be human-readable, code is intended to be machine readable. There should be a one-to-one mapping between display_name and code. (i.e. do not re-use display_names or codes between message types.) See istio.analysis.v1alpha1.AnalysisMessageBase.Type",
      "type": "object",
      "id": "ServiceMeshType",
      "properties": {
        "code": {
          "type": "string",
          "description": "A 7 character code matching `^IST[0-9]{4}$` or `^ASM[0-9]{4}$`, intended to uniquely identify the message type. (e.g. \"IST0001\" is mapped to the \"InternalError\" message type.)"
        },
        "displayName": {
          "type": "string",
          "description": "A human-readable name for the message type. e.g. \"InternalError\", \"PodMissingProxy\". This should be the same for all messages of the same type. (This corresponds to the `name` field in open-source Istio.)"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ConfigManagementSpec": {
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "type": "object",
      "id": "ConfigManagementSpec",
      "properties": {
        "management": {
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ],
          "type": "string",
          "description": "Optional. Deprecated: From version 1.21.0, automatic Feature management is unavailable, and Config Sync only supports manual upgrades.",
          "deprecated": true,
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ]
        },
        "version": {
          "description": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy.",
          "type": "string"
        },
        "hierarchyController": {
          "$ref": "ConfigManagementHierarchyControllerConfig",
          "description": "Optional. Hierarchy Controller configuration for the cluster. Deprecated: Configuring Hierarchy Controller through the configmanagement feature is no longer recommended. Use https://github.com/kubernetes-sigs/hierarchical-namespaces instead.",
          "deprecated": true
        },
        "cluster": {
          "description": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector.",
          "type": "string"
        },
        "configSync": {
          "description": "Optional. Config Sync configuration for the cluster.",
          "$ref": "ConfigManagementConfigSync"
        },
        "policyController": {
          "description": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead.",
          "deprecated": true,
          "$ref": "ConfigManagementPolicyController"
        },
        "binauthz": {
          "description": "Optional. Deprecated: Binauthz configuration will be ignored and should not be set.",
          "deprecated": true,
          "$ref": "ConfigManagementBinauthzConfig"
        }
      }
    },
    "ConfigManagementBinauthzVersion": {
      "id": "ConfigManagementBinauthzVersion",
      "properties": {
        "webhookVersion": {
          "description": "The version of the binauthz webhook.",
          "type": "string"
        }
      },
      "description": "The version of binauthz.",
      "type": "object"
    },
    "ConfigManagementErrorResource": {
      "id": "ConfigManagementErrorResource",
      "properties": {
        "resourceGvk": {
          "$ref": "ConfigManagementGroupVersionKind",
          "description": "Group/version/kind of the resource that is causing an error"
        },
        "sourcePath": {
          "type": "string",
          "description": "Path in the git repo of the erroneous config"
        },
        "resourceName": {
          "description": "Metadata name of the resource that is causing an error",
          "type": "string"
        },
        "resourceNamespace": {
          "type": "string",
          "description": "Namespace of the resource that is causing an error"
        }
      },
      "type": "object",
      "description": "Model for a config file in the git repo with an associated Sync error."
    },
    "PolicyControllerSpec": {
      "id": "PolicyControllerSpec",
      "properties": {
        "policyControllerHubConfig": {
          "$ref": "PolicyControllerHubConfig",
          "description": "Policy Controller configuration for the cluster."
        },
        "version": {
          "description": "Version of Policy Controller installed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR."
    },
    "IdentityServiceGoogleConfig": {
      "id": "IdentityServiceGoogleConfig",
      "properties": {
        "disable": {
          "description": "Disable automatic configuration of Google Plugin on supported platforms.",
          "type": "boolean"
        }
      },
      "description": "Configuration for the Google Plugin Auth flow.",
      "type": "object"
    },
    "PolicyControllerPolicyContentState": {
      "type": "object",
      "description": "The state of the policy controller policy content",
      "id": "PolicyControllerPolicyContentState",
      "properties": {
        "bundleStates": {
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "type": "object"
        },
        "templateLibraryState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the template library"
        },
        "referentialSyncConfigState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user."
        }
      }
    },
    "ServiceMeshStatusDetails": {
      "type": "object",
      "description": "Structured and human-readable details for a status.",
      "id": "ServiceMeshStatusDetails",
      "properties": {
        "code": {
          "type": "string",
          "description": "A machine-readable code that further describes a broad status."
        },
        "details": {
          "type": "string",
          "description": "Human-readable explanation of code."
        }
      }
    },
    "ConfigManagementOperatorState": {
      "type": "object",
      "description": "State information for an ACM's Operator.",
      "id": "ConfigManagementOperatorState",
      "properties": {
        "errors": {
          "items": {
            "$ref": "ConfigManagementInstallError"
          },
          "type": "array",
          "description": "Install errors."
        },
        "deploymentState": {
          "description": "The state of the Operator's deployment.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "version": {
          "description": "The semenatic version number of the operator.",
          "type": "string"
        }
      }
    },
    "AppDevExperienceStatus": {
      "id": "AppDevExperienceStatus",
      "properties": {
        "code": {
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ]
        },
        "description": {
          "type": "string",
          "description": "Description is populated if Code is Failed, explaining why it has failed."
        }
      },
      "type": "object",
      "description": "Status specifies state for the subcomponent."
    },
    "WorkloadIdentityIdentityProviderStateDetail": {
      "description": "IdentityProviderStateDetail represents the state of an Identity Provider.",
      "type": "object",
      "id": "WorkloadIdentityIdentityProviderStateDetail",
      "properties": {
        "description": {
          "description": "A human-readable description of the current state or returned error.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enum": [
            "IDENTITY_PROVIDER_STATE_UNSPECIFIED",
            "IDENTITY_PROVIDER_STATE_OK",
            "IDENTITY_PROVIDER_STATE_ERROR"
          ],
          "description": "The state of the Identity Provider.",
          "enumDescriptions": [
            "Unknown state.",
            "The Identity Provider was created/updated successfully.",
            "The Identity Provider was not created/updated successfully. The error message is in the description field."
          ]
        }
      }
    },
    "ClusterUpgradeMembershipGKEUpgradeState": {
      "id": "ClusterUpgradeMembershipGKEUpgradeState",
      "properties": {
        "upgrade": {
          "$ref": "ClusterUpgradeGKEUpgrade",
          "description": "Which upgrade to track the state."
        },
        "status": {
          "description": "Status of the upgrade.",
          "$ref": "ClusterUpgradeUpgradeStatus"
        }
      },
      "type": "object",
      "description": "MembershipGKEUpgradeState is a GKEUpgrade and its state per-membership."
    },
    "ConfigManagementDeploymentOverride": {
      "id": "ConfigManagementDeploymentOverride",
      "properties": {
        "deploymentName": {
          "description": "Required. The name of the deployment resource to be overridden.",
          "type": "string"
        },
        "deploymentNamespace": {
          "type": "string",
          "description": "Required. The namespace of the deployment resource to be overridden."
        },
        "containers": {
          "description": "Optional. The containers of the deployment resource to be overridden.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementContainerOverride"
          }
        }
      },
      "description": "Configuration for a deployment override.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "ConfigManagementInstallError": {
      "description": "Errors pertaining to the installation of ACM.",
      "type": "object",
      "id": "ConfigManagementInstallError",
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message.",
          "type": "string"
        }
      }
    },
    "ConfigManagementPolicyController": {
      "description": "Configuration for Policy Controller",
      "type": "object",
      "id": "ConfigManagementPolicyController",
      "properties": {
        "templateLibraryInstalled": {
          "description": "Installs the default template library along with Policy Controller.",
          "type": "boolean"
        },
        "monitoring": {
          "$ref": "ConfigManagementPolicyControllerMonitoring",
          "description": "Monitoring specifies the configuration of monitoring."
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last time this membership spec was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster."
        },
        "exemptableNamespaces": {
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "auditIntervalSeconds": {
          "format": "int64",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string"
        },
        "enabled": {
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect.",
          "type": "boolean"
        }
      }
    },
    "PolicyControllerPolicyContentSpec": {
      "type": "object",
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster.",
      "id": "PolicyControllerPolicyContentSpec",
      "properties": {
        "bundles": {
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint.",
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          },
          "type": "object"
        },
        "templateLibrary": {
          "$ref": "PolicyControllerTemplateLibraryConfig",
          "description": "Configures the installation of the Template Library."
        }
      }
    },
    "IdentityServiceSimpleBindCredentials": {
      "type": "object",
      "description": "The structure holds the LDAP simple binding credential.",
      "id": "IdentityServiceSimpleBindCredentials",
      "properties": {
        "dn": {
          "type": "string",
          "description": "Required. The distinguished name(DN) of the service account object/user."
        },
        "encryptedPassword": {
          "format": "byte",
          "description": "Output only. The encrypted password of the service account object/user.",
          "readOnly": true,
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password of the service account object/user.",
          "type": "string"
        }
      }
    },
    "Origin": {
      "id": "Origin",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "FLEET_OUT_OF_SYNC",
            "USER"
          ],
          "description": "Type specifies which type of origin is set.",
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Feature spec was inherited from the fleet-level default.",
            "Per-Feature spec was inherited from the fleet-level default but is now out of sync with the current default.",
            "Per-Feature spec was inherited from a user specification."
          ]
        }
      },
      "type": "object",
      "description": "Origin defines where this FeatureSpec originated from."
    },
    "ConfigManagementConfigSync": {
      "id": "ConfigManagementConfigSync",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Enables the installation of Config Sync. If set to true, the Feature will manage Config Sync resources, and apply the other ConfigSync fields if they exist. If set to false, the Feature will ignore all other ConfigSync fields and delete the Config Sync resources. If omitted, ConfigSync is considered enabled if the git or oci field is present."
        },
        "deploymentOverrides": {
          "description": "Optional. Configuration for deployment overrides. Applies only to Config Sync deployments with containers that are not a root or namespace reconciler: `reconciler-manager`, `otel-collector`, `resource-group-controller-manager`, `admission-webhook`. To override a root or namespace reconciler, use the rootsync or reposync fields at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/reference/rootsync-reposync-fields#override-resources instead.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementDeploymentOverride"
          }
        },
        "sourceFormat": {
          "description": "Optional. Specifies whether the Config Sync repo is in `hierarchical` or `unstructured` mode. Defaults to `hierarchical`. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/concepts/configs#organize-configs for an explanation.",
          "type": "string"
        },
        "stopSyncing": {
          "type": "boolean",
          "description": "Optional. Set to true to stop syncing configs for a single cluster. Default to false."
        },
        "preventDrift": {
          "description": "Optional. Set to true to enable the Config Sync admission webhook to prevent drifts. If set to false, disables the Config Sync admission webhook and does not prevent drifts. Defaults to false. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/prevent-config-drift for details.",
          "type": "boolean"
        },
        "oci": {
          "$ref": "ConfigManagementOciConfig",
          "description": "Optional. OCI repo configuration for the cluster."
        },
        "metricsGcpServiceAccountEmail": {
          "description": "Optional. The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be bound to the GSA. Deprecated: If Workload Identity Federation for GKE is enabled, Google Cloud Service Account is no longer needed for exporting Config Sync metrics: https://cloud.google.com/kubernetes-engine/enterprise/config-sync/docs/how-to/monitor-config-sync-cloud-monitoring#custom-monitoring.",
          "deprecated": true,
          "type": "string"
        },
        "git": {
          "$ref": "ConfigManagementGitConfig",
          "description": "Optional. Git repo configuration for the cluster."
        }
      },
      "description": "Configuration for Config Sync",
      "type": "object"
    },
    "ServiceMeshAnalysisMessageBase": {
      "id": "ServiceMeshAnalysisMessageBase",
      "properties": {
        "documentationUrl": {
          "type": "string",
          "description": "A url pointing to the Service Mesh or Istio documentation for this specific error type."
        },
        "type": {
          "$ref": "ServiceMeshType",
          "description": "Represents the specific type of a message."
        },
        "level": {
          "enumDescriptions": [
            "Illegal. Same istio.analysis.v1alpha1.AnalysisMessageBase.Level.UNKNOWN.",
            "ERROR represents a misconfiguration that must be fixed.",
            "WARNING represents a misconfiguration that should be fixed.",
            "INFO represents an informational finding."
          ],
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "Represents how severe a message is."
        }
      },
      "type": "object",
      "description": "AnalysisMessageBase describes some common information that is needed for all messages."
    },
    "ServiceMeshDataPlaneManagement": {
      "type": "object",
      "description": "Status of data plane management. Only reported per-member.",
      "id": "ServiceMeshDataPlaneManagement",
      "properties": {
        "details": {
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "type": "array",
          "description": "Explanation of the status."
        },
        "state": {
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ],
          "description": "Lifecycle status of data plane management.",
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ]
        }
      }
    },
    "IdentityServiceLdapConfig": {
      "type": "object",
      "description": "Configuration for the LDAP Auth flow.",
      "id": "IdentityServiceLdapConfig",
      "properties": {
        "server": {
          "description": "Required. Server settings for the external LDAP server.",
          "$ref": "IdentityServiceServerConfig"
        },
        "group": {
          "$ref": "IdentityServiceGroupConfig",
          "description": "Optional. Contains the properties for locating and authenticating groups in the directory."
        },
        "user": {
          "$ref": "IdentityServiceUserConfig",
          "description": "Required. Defines where users exist in the LDAP directory."
        },
        "serviceAccount": {
          "$ref": "IdentityServiceServiceAccountConfig",
          "description": "Required. Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate."
        }
      }
    },
    "State": {
      "type": "object",
      "description": "High-level state of a MembershipFeature.",
      "id": "State",
      "properties": {
        "code": {
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ],
          "description": "The high-level, machine-readable status of this MembershipFeature.",
          "enumDescriptions": [
            "Unknown or not set.",
            "The MembershipFeature is operating normally.",
            "The MembershipFeature has encountered an issue, and is operating in a degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information.",
            "The MembershipFeature is not operating or is in a severely degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this status and any related Feature-specific details were updated."
        },
        "description": {
          "description": "A human-readable description of the current status.",
          "type": "string"
        }
      }
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "id": "ConfigManagementGatekeeperDeploymentState",
      "properties": {
        "gatekeeperMutation": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Status of the pod serving the mutation webhook."
        },
        "gatekeeperAudit": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "description": "Status of gatekeeper-audit deployment.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "gatekeeperControllerManagerState": {
          "description": "Status of gatekeeper-controller-manager pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        }
      },
      "description": "State of Policy Controller installation.",
      "type": "object"
    },
    "ConfigManagementPolicyControllerState": {
      "id": "ConfigManagementPolicyControllerState",
      "properties": {
        "version": {
          "description": "The version of Gatekeeper Policy Controller deployed.",
          "$ref": "ConfigManagementPolicyControllerVersion"
        },
        "migration": {
          "$ref": "ConfigManagementPolicyControllerMigration",
          "description": "Record state of ACM -> PoCo Hub migration for this feature."
        },
        "deploymentState": {
          "$ref": "ConfigManagementGatekeeperDeploymentState",
          "description": "The state about the policy controller installation."
        }
      },
      "type": "object",
      "description": "State for PolicyControllerState."
    },
    "PolicyControllerResourceRequirements": {
      "type": "object",
      "description": "ResourceRequirements describes the compute resource requirements.",
      "id": "PolicyControllerResourceRequirements",
      "properties": {
        "limits": {
          "description": "Limits describes the maximum amount of compute resources allowed for use by the running container.",
          "$ref": "PolicyControllerResourceList"
        },
        "requests": {
          "$ref": "PolicyControllerResourceList",
          "description": "Requests describes the amount of compute resources reserved for the container by the kube-scheduler."
        }
      }
    },
    "ServiceMeshCondition": {
      "id": "ServiceMeshCondition",
      "properties": {
        "code": {
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "MESH_IAM_PERMISSION_DENIED",
            "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED",
            "CNI_CONFIG_UNSUPPORTED",
            "GKE_SANDBOX_UNSUPPORTED",
            "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED",
            "CNI_INSTALLATION_FAILED",
            "CNI_POD_UNSCHEDULABLE",
            "CLUSTER_HAS_ZERO_NODES",
            "CANONICAL_SERVICE_ERROR",
            "UNSUPPORTED_MULTIPLE_CONTROL_PLANES",
            "VPCSC_GA_SUPPORTED",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE",
            "CONFIG_APPLY_INTERNAL_ERROR",
            "CONFIG_VALIDATION_ERROR",
            "CONFIG_VALIDATION_WARNING",
            "QUOTA_EXCEEDED_BACKEND_SERVICES",
            "QUOTA_EXCEEDED_HEALTH_CHECKS",
            "QUOTA_EXCEEDED_HTTP_ROUTES",
            "QUOTA_EXCEEDED_TCP_ROUTES",
            "QUOTA_EXCEEDED_TLS_ROUTES",
            "QUOTA_EXCEEDED_TRAFFIC_POLICIES",
            "QUOTA_EXCEEDED_ENDPOINT_POLICIES",
            "QUOTA_EXCEEDED_GATEWAYS",
            "QUOTA_EXCEEDED_MESHES",
            "QUOTA_EXCEEDED_SERVER_TLS_POLICIES",
            "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES",
            "QUOTA_EXCEEDED_SERVICE_LB_POLICIES",
            "QUOTA_EXCEEDED_HTTP_FILTERS",
            "QUOTA_EXCEEDED_TCP_FILTERS",
            "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS",
            "CONFIG_APPLY_BLOCKED",
            "LEGACY_MC_SECRETS",
            "WORKLOAD_IDENTITY_REQUIRED",
            "NON_STANDARD_BINARY_USAGE",
            "UNSUPPORTED_GATEWAY_CLASS",
            "MANAGED_CNI_NOT_ENABLED",
            "MODERNIZATION_SCHEDULED",
            "MODERNIZATION_IN_PROGRESS",
            "MODERNIZATION_COMPLETED",
            "MODERNIZATION_ABORTED",
            "MODERNIZATION_PREPARING",
            "MODERNIZATION_STALLED",
            "MODERNIZATION_PREPARED",
            "MODERNIZATION_MIGRATING_WORKLOADS",
            "MODERNIZATION_ROLLING_BACK_CLUSTER",
            "MODERNIZATION_WILL_BE_SCHEDULED",
            "MODERNIZATION_MANUAL",
            "MODERNIZATION_ELIGIBLE",
            "MODERNIZATION_MODERNIZING",
            "MODERNIZATION_MODERNIZED_SOAKING",
            "MODERNIZATION_FINALIZED",
            "MODERNIZATION_ROLLING_BACK_FLEET"
          ],
          "description": "Unique identifier of the condition which describes the condition recognizable to the user.",
          "enumDescriptions": [
            "Default Unspecified code",
            "Mesh IAM permission denied error code",
            "Permission denied error code for cross-project",
            "CNI config unsupported error code",
            "GKE sandbox unsupported error code",
            "Nodepool workload identity federation required error code",
            "CNI installation failed error code",
            "CNI pod unschedulable error code",
            "Cluster has zero node code",
            "Failure to reconcile CanonicalServices",
            "Multiple control planes unsupported error code",
            "VPC-SC GA is supported for this control plane.",
            "User is using deprecated ControlPlaneManagement and they have not yet set Management.",
            "User is using deprecated ControlPlaneManagement and they have already set Management.",
            "Configuration (Istio/k8s resources) failed to apply due to internal error.",
            "Configuration failed to be applied due to being invalid.",
            "Encountered configuration(s) with possible unintended behavior or invalid configuration. These configs may not have been applied.",
            "BackendService quota exceeded error code.",
            "HealthCheck quota exceeded error code.",
            "HTTPRoute quota exceeded error code.",
            "TCPRoute quota exceeded error code.",
            "TLS routes quota exceeded error code.",
            "TrafficPolicy quota exceeded error code.",
            "EndpointPolicy quota exceeded error code.",
            "Gateway quota exceeded error code.",
            "Mesh quota exceeded error code.",
            "ServerTLSPolicy quota exceeded error code.",
            "ClientTLSPolicy quota exceeded error code.",
            "ServiceLBPolicy quota exceeded error code.",
            "HTTPFilter quota exceeded error code.",
            "TCPFilter quota exceeded error code.",
            "NetworkEndpointGroup quota exceeded error code.",
            "Configuration failed to apply due to fleet being blocked.",
            "Legacy istio secrets found for multicluster error code",
            "Workload identity required error code",
            "Non-standard binary usage error code",
            "Unsupported gateway class error code",
            "Managed CNI not enabled error code",
            "Modernization is scheduled for a cluster.",
            "Modernization is in progress for a cluster.",
            "Modernization is completed for a cluster.",
            "Modernization is aborted for a cluster.",
            "Preparing cluster so that its workloads can be migrated.",
            "Modernization is stalled for a cluster.",
            "Cluster has been prepared for its workloads to be migrated.",
            "Migrating the cluster's workloads to the new implementation.",
            "Rollback is in progress for modernization of a cluster.",
            "Modernization will be scheduled for a fleet.",
            "Fleet is opted out from automated modernization.",
            "Fleet is eligible for modernization.",
            "Modernization of one or more clusters in a fleet is in progress.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Modernization is finalized for all clusters in a fleet. Rollback is no longer allowed.",
            "Rollback is in progress for modernization of all clusters in a fleet."
          ]
        },
        "details": {
          "type": "string",
          "description": "A short summary about the issue."
        },
        "documentationLink": {
          "type": "string",
          "description": "Links contains actionable information."
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity",
            "Indicates an issue that prevents the mesh from operating correctly",
            "Indicates a setting is likely wrong, but the mesh is still able to operate",
            "An informational message, not requiring any action"
          ],
          "description": "Severity level of the condition.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        }
      },
      "type": "object",
      "description": "Condition being reported."
    },
    "ConfigManagementConfigSyncVersion": {
      "id": "ConfigManagementConfigSyncVersion",
      "properties": {
        "syncer": {
          "type": "string",
          "description": "Version of the deployed syncer pod."
        },
        "resourceGroupControllerManager": {
          "description": "Version of the deployed resource-group-controller-manager pod",
          "type": "string"
        },
        "otelCollector": {
          "description": "Version of the deployed otel-collector pod",
          "type": "string"
        },
        "rootReconciler": {
          "description": "Version of the deployed reconciler container in root-reconciler pod.",
          "type": "string"
        },
        "gitSync": {
          "description": "Version of the deployed git-sync pod.",
          "type": "string"
        },
        "reconcilerManager": {
          "description": "Version of the deployed reconciler-manager pod.",
          "type": "string"
        },
        "importer": {
          "description": "Version of the deployed importer pod.",
          "type": "string"
        },
        "admissionWebhook": {
          "description": "Version of the deployed admission-webhook pod.",
          "type": "string"
        },
        "monitor": {
          "description": "Version of the deployed monitor pod.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specific versioning information pertaining to ConfigSync's Pods."
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "WorkloadIdentityState": {
      "id": "WorkloadIdentityState",
      "properties": {
        "description": {
          "description": "Deprecated, this field will be erased after code is changed to use the new field.",
          "type": "string"
        },
        "identityProviderStateDetails": {
          "description": "The state of the Identity Providers corresponding to the membership.",
          "additionalProperties": {
            "$ref": "WorkloadIdentityIdentityProviderStateDetail"
          },
          "type": "object"
        }
      },
      "type": "object",
[...]
