{
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                }
              },
              "id": "gkehub.projects.locations.list",
              "path": "v2/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "gkehub.projects.locations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "id": "gkehub.projects.locations.operations.cancel",
                  "path": "v2/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v2/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    }
                  },
                  "id": "gkehub.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gkehub.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "memberships": {
              "resources": {
                "features": {
                  "methods": {
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/features",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The name of parent where the MembershipFeature will be created. Specified in the format `projects/*/locations/*/memberships/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "featureId": {
                          "type": "string",
                          "description": "Required. The ID of the membership_feature to create.",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Idempotent request UUID.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "gkehub.projects.locations.memberships.features.create",
                      "request": {
                        "$ref": "MembershipFeature"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features",
                      "description": "Creates membershipFeature under a given parent.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "description": "Removes a membershipFeature.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the membershipFeature to be deleted. Specified in the format `projects/*/locations/*/memberships/*/features/*`."
                        },
                        "requestId": {
                          "description": "Idempotent request UUID.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "gkehub.projects.locations.memberships.features.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "description": "Updates an existing MembershipFeature.",
                      "request": {
                        "$ref": "MembershipFeature"
                      },
                      "id": "gkehub.projects.locations.memberships.features.patch",
                      "parameters": {
                        "allowMissing": {
                          "description": "Optional. If set to true, and the MembershipFeature is not found, a new MembershipFeature will be created. In this situation, `update_mask` is ignored.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "description": "Output only. The resource name of the membershipFeature, in the format: `projects/{project}/locations/{location}/memberships/{membership}/features/{feature}`. Note that `membershipFeatures` is shortened to `features` in the resource name. (see http://go/aip/122#collection-identifiers)",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Required. Mask of fields to update.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "requestId": {
                          "description": "Idempotent request UUID.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features",
                      "description": "Lists MembershipFeatures in a given project and location.",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Token returned by previous call to `ListFeatures` which specifies the position in the list from where to continue listing the resources.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Lists MembershipFeatures that match the filter expression, following the syntax outlined in https://google.aip.dev/160. Examples: - Feature with the name \"helloworld\" in project \"foo-proj\" and membership \"member-bar\": name = \"projects/foo-proj/locations/global/memberships/member-bar/features/helloworld\" - Features that have a label called `foo`: labels.foo:* - Features that have a label called `foo` whose value is `bar`: labels.foo = bar",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent where the MembershipFeature will be listed. In the format: `projects/*/locations/*/memberships/*`.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$"
                        }
                      },
                      "id": "gkehub.projects.locations.memberships.features.list",
                      "path": "v2/{+parent}/features",
                      "response": {
                        "$ref": "ListMembershipFeaturesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "gkehub.projects.locations.memberships.features.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "description": "Required. The MembershipFeature resource name in the format `projects/*/locations/*/memberships/*/features/*`.",
                          "required": true
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "description": "========= MembershipFeature Services ========= Gets details of a membershipFeature.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "MembershipFeature"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "title": "GKE Hub API",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://gkehub.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "baseUrl": "https://gkehub.googleapis.com/",
  "servicePath": "",
  "name": "gkehub",
  "version_module": true,
  "version": "v2",
  "revision": "20260405",
  "canonicalName": "GKE Hub",
  "id": "gkehub:v2",
  "description": "",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "schemas": {
    "IdentityServiceSamlConfig": {
      "description": "Configuration for the SAML Auth flow.",
      "type": "object",
      "id": "IdentityServiceSamlConfig",
      "properties": {
        "userAttribute": {
          "description": "Optional. The SAML attribute to read username from. If unspecified, the username will be read from the NameID element of the assertion in SAML response. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `user_prefix`).",
          "type": "string"
        },
        "identityProviderCertificates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of IdP certificates to validate the SAML response against."
        },
        "userPrefix": {
          "description": "Optional. Prefix to prepend to user name.",
          "type": "string"
        },
        "identityProviderId": {
          "type": "string",
          "description": "Required. The entity ID of the SAML IdP."
        },
        "groupsAttribute": {
          "type": "string",
          "description": "Optional. The SAML attribute to read groups from. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `group_prefix`)."
        },
        "identityProviderSsoUri": {
          "description": "Required. The URI where the SAML IdP exposes the SSO service.",
          "type": "string"
        },
        "groupPrefix": {
          "description": "Optional. Prefix to prepend to group name.",
          "type": "string"
        },
        "attributeMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The mapping of additional user attributes like nickname, birthday and address etc.. `key` is the name of this additional attribute. `value` is a string presenting as CEL(common expression language, go/cel) used for getting the value from the resources. Take nickname as an example, in this case, `key` is \"attribute.nickname\" and `value` is \"assertion.nickname\"."
        }
      }
    },
    "ConfigManagementPolicyController": {
      "type": "object",
      "description": "Configuration for Policy Controller",
      "id": "ConfigManagementPolicyController",
      "properties": {
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "ConfigManagementPolicyControllerMonitoring"
        },
        "auditIntervalSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect.",
          "type": "boolean"
        },
        "templateLibraryInstalled": {
          "type": "boolean",
          "description": "Installs the default template library along with Policy Controller."
        },
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster."
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last time this membership spec was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "exemptableNamespaces": {
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FeatureState": {
      "id": "FeatureState",
      "properties": {
        "clusterupgrade": {
          "description": "Cluster upgrade state.",
          "$ref": "ClusterUpgradeState"
        },
        "identityservice": {
          "description": "Identity service state",
          "$ref": "IdentityServiceState"
        },
        "workloadidentity": {
          "description": "Workload Identity state",
          "$ref": "WorkloadIdentityState"
        },
        "state": {
          "description": "The high-level state of this MembershipFeature.",
          "$ref": "State"
        },
        "servicemesh": {
          "description": "Service mesh state",
          "$ref": "ServiceMeshState"
        },
        "metering": {
          "description": "Metering state",
          "$ref": "MeteringState"
        },
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceState"
        },
        "policycontroller": {
          "description": "Policy Controller state",
          "$ref": "PolicyControllerState"
        },
        "rbacrolebindingactuation": {
          "description": "RBAC Role Binding Actuation state",
          "$ref": "RBACRoleBindingActuationState"
        },
        "configmanagement": {
          "description": "Config Management state",
          "$ref": "ConfigManagementState"
        }
      },
      "description": "FeatureState contains high-level state information and per-feature state information for this MembershipFeature.",
      "type": "object"
    },
    "ConfigManagementInstallError": {
      "description": "Errors pertaining to the installation of ACM.",
      "type": "object",
      "id": "ConfigManagementInstallError",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A string representing the user facing error message."
        }
      }
    },
    "ListMembershipFeaturesResponse": {
      "type": "object",
      "description": "Response message for the `GkeHubFeature.ListMembershipFeatures` method.",
      "id": "ListMembershipFeaturesResponse",
      "properties": {
        "membershipFeatures": {
          "description": "The list of matching MembershipFeatures.",
          "type": "array",
          "items": {
            "$ref": "MembershipFeature"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListMembershipFeatures` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "unreachable": {
          "description": "List of locations that could not be reached while fetching this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IdentityServiceSimpleBindCredentials": {
      "id": "IdentityServiceSimpleBindCredentials",
      "properties": {
        "encryptedPassword": {
          "readOnly": true,
          "description": "Output only. The encrypted password of the service account object/user.",
          "type": "string",
          "format": "byte"
        },
        "password": {
          "type": "string",
          "description": "Required. Input only. The password of the service account object/user."
        },
        "dn": {
          "type": "string",
          "description": "Required. The distinguished name(DN) of the service account object/user."
        }
      },
      "type": "object",
      "description": "The structure holds the LDAP simple binding credential."
    },
    "IdentityServiceSpec": {
      "id": "IdentityServiceSpec",
      "properties": {
        "authMethods": {
          "type": "array",
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          },
          "description": "A member may support multiple auth methods."
        },
        "identityServiceOptions": {
          "description": "Optional. non-protocol-related configuration options.",
          "$ref": "IdentityServiceIdentityServiceOptions"
        }
      },
      "type": "object",
      "description": "**IdentityService**: Configuration for a single membership."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "IdentityServiceOidcConfig": {
      "id": "IdentityServiceOidcConfig",
      "properties": {
        "userPrefix": {
          "type": "string",
          "description": "Prefix to prepend to user name."
        },
        "kubectlRedirectUri": {
          "type": "string",
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin."
        },
        "extraParams": {
          "description": "Comma-separated list of key-value pairs.",
          "type": "string"
        },
        "certificateAuthorityData": {
          "description": "PEM-encoded CA for OIDC provider.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "readOnly": true,
          "type": "string",
          "format": "byte",
          "description": "Output only. Encrypted OIDC Client secret"
        },
        "clientSecret": {
          "description": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH.",
          "type": "string"
        },
        "groupsClaim": {
          "description": "Claim in OIDC ID token that holds group information.",
          "type": "string"
        },
        "scopes": {
          "description": "Comma-separated list of identifiers.",
          "type": "string"
        },
        "deployCloudConsoleProxy": {
          "type": "boolean",
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console."
        },
        "issuerUri": {
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration.",
          "type": "string"
        },
        "groupPrefix": {
          "description": "Prefix to prepend to group name.",
          "type": "string"
        },
        "enableAccessToken": {
          "type": "boolean",
          "description": "Enable access token."
        },
        "clientId": {
          "description": "ID for OIDC client application.",
          "type": "string"
        },
        "userClaim": {
          "description": "Claim in OIDC ID token that holds username.",
          "type": "string"
        }
      },
      "description": "Configuration for OIDC Auth flow.",
      "type": "object"
    },
    "ServiceMeshState": {
      "type": "object",
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "id": "ServiceMeshState",
      "properties": {
        "controlPlaneManagement": {
          "description": "Output only. Status of control plane management",
          "$ref": "ServiceMeshControlPlaneManagement",
          "readOnly": true
        },
        "dataPlaneManagement": {
          "readOnly": true,
          "description": "Output only. Status of data plane management.",
          "$ref": "ServiceMeshDataPlaneManagement"
        },
        "analysisMessages": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          },
          "description": "Output only. Results of running Service Mesh analyzers.",
          "readOnly": true
        },
        "configApiVersion": {
          "type": "string",
          "description": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field."
        },
        "conditions": {
          "readOnly": true,
          "description": "Output only. List of conditions reported for this membership.",
          "type": "array",
          "items": {
            "$ref": "ServiceMeshCondition"
          }
        }
      }
    },
    "ConfigManagementErrorResource": {
      "type": "object",
      "description": "Model for a config file in the git repo with an associated Sync error.",
      "id": "ConfigManagementErrorResource",
      "properties": {
        "sourcePath": {
          "description": "Path in the git repo of the erroneous config",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Metadata name of the resource that is causing an error"
        },
        "resourceGvk": {
          "description": "Group/version/kind of the resource that is causing an error",
          "$ref": "ConfigManagementGroupVersionKind"
        },
        "resourceNamespace": {
          "description": "Namespace of the resource that is causing an error",
          "type": "string"
        }
      }
    },
    "ServiceMeshType": {
      "id": "ServiceMeshType",
      "properties": {
        "displayName": {
          "description": "A human-readable name for the message type. e.g. \"InternalError\", \"PodMissingProxy\". This should be the same for all messages of the same type. (This corresponds to the `name` field in open-source Istio.)",
          "type": "string"
        },
        "code": {
          "description": "A 7 character code matching `^IST[0-9]{4}$` or `^ASM[0-9]{4}$`, intended to uniquely identify the message type. (e.g. \"IST0001\" is mapped to the \"InternalError\" message type.)",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A unique identifier for the type of message. Display_name is intended to be human-readable, code is intended to be machine readable. There should be a one-to-one mapping between display_name and code. (i.e. do not re-use display_names or codes between message types.) See istio.analysis.v1alpha1.AnalysisMessageBase.Type"
    },
    "PolicyControllerState": {
      "id": "PolicyControllerState",
      "properties": {
        "componentStates": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "description": "Currently these include (also serving as map keys): 1. \"admission\" 2. \"audit\" 3. \"mutation\""
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "description": "The overall Policy Controller lifecycle state observed by the Hub Feature controller.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ]
        },
        "policyContentState": {
          "description": "The overall content state observed by the Hub Feature controller.",
          "$ref": "PolicyControllerPolicyContentState"
        }
      },
      "type": "object",
      "description": "**Policy Controller**: State for a single cluster."
    },
    "ServiceMeshAnalysisMessage": {
      "id": "ServiceMeshAnalysisMessage",
      "properties": {
        "messageBase": {
          "description": "Details common to all types of Istio and ServiceMesh analysis messages.",
          "$ref": "ServiceMeshAnalysisMessageBase"
        },
        "description": {
          "description": "A human readable description of what the error means. It is suitable for non-internationalize display purposes.",
          "type": "string"
        },
        "args": {
          "description": "A UI can combine these args with a template (based on message_base.type) to produce an internationalized message.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "resourcePaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of strings specifying the resource identifiers that were the cause of message generation. A \"path\" here may be: * MEMBERSHIP_ID if the cause is a specific member cluster * MEMBERSHIP_ID/(NAMESPACE\\/)?RESOURCETYPE/NAME if the cause is a resource in a cluster"
        }
      },
      "description": "AnalysisMessage is a single message produced by an analyzer, and it used to communicate to the end user about the state of their Service Mesh configuration.",
      "type": "object"
    },
    "PolicyControllerPolicyContentState": {
      "type": "object",
      "description": "The state of the policy controller policy content",
      "id": "PolicyControllerPolicyContentState",
      "properties": {
        "referentialSyncConfigState": {
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user.",
          "$ref": "PolicyControllerOnClusterState"
        },
        "templateLibraryState": {
          "description": "The state of the template library",
          "$ref": "PolicyControllerOnClusterState"
        },
        "bundleStates": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "description": "The state of the any bundles included in the chosen version of the manifest"
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "ConfigManagementPolicyControllerVersion": {
      "id": "ConfigManagementPolicyControllerVersion",
      "properties": {
        "version": {
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The build version of Gatekeeper Policy Controller is using."
    },
    "ConfigManagementSpec": {
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "type": "object",
      "id": "ConfigManagementSpec",
      "properties": {
        "cluster": {
          "description": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy.",
          "type": "string"
        },
        "management": {
          "deprecated": true,
          "description": "Optional. Deprecated: From version 1.21.0, automatic Feature management is unavailable, and Config Sync only supports manual upgrades.",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ]
        },
        "configSync": {
          "description": "Optional. Config Sync configuration for the cluster.",
          "$ref": "ConfigManagementConfigSync"
        },
        "policyController": {
          "deprecated": true,
          "description": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead.",
          "$ref": "ConfigManagementPolicyController"
        },
        "hierarchyController": {
          "deprecated": true,
          "description": "Optional. Hierarchy Controller configuration for the cluster. Deprecated: Configuring Hierarchy Controller through the configmanagement feature is no longer recommended. Use https://github.com/kubernetes-sigs/hierarchical-namespaces instead.",
          "$ref": "ConfigManagementHierarchyControllerConfig"
        },
        "binauthz": {
          "deprecated": true,
          "description": "Optional. Deprecated: Binauthz configuration will be ignored and should not be set.",
          "$ref": "ConfigManagementBinauthzConfig"
        }
      }
    },
    "Origin": {
      "id": "Origin",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "FLEET_OUT_OF_SYNC",
            "USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Feature spec was inherited from the fleet-level default.",
            "Per-Feature spec was inherited from the fleet-level default but is now out of sync with the current default.",
            "Per-Feature spec was inherited from a user specification."
          ],
          "description": "Type specifies which type of origin is set."
        }
      },
      "type": "object",
      "description": "Origin defines where this FeatureSpec originated from."
    },
    "PolicyControllerResourceList": {
      "type": "object",
      "description": "ResourceList contains container resource requirements.",
      "id": "PolicyControllerResourceList",
      "properties": {
        "memory": {
          "type": "string",
          "description": "Memory requirement expressed in Kubernetes resource units."
        },
        "cpu": {
          "description": "CPU requirement expressed in Kubernetes resource units.",
          "type": "string"
        }
      }
    },
    "PolicyControllerTemplateLibraryConfig": {
      "id": "PolicyControllerTemplateLibraryConfig",
      "properties": {
        "installation": {
          "type": "string",
          "enumDescriptions": [
            "No installation strategy has been specified.",
            "Do not install the template library.",
            "Install the entire template library."
          ],
          "description": "Configures the manner in which the template library is installed on the cluster.",
          "enum": [
            "INSTALLATION_UNSPECIFIED",
            "NOT_INSTALLED",
            "ALL"
          ]
        }
      },
      "type": "object",
      "description": "The config specifying which default library templates to install."
    },
    "ConfigManagementSyncError": {
      "description": "An ACM created error representing a problem syncing configurations.",
      "type": "object",
      "id": "ConfigManagementSyncError",
      "properties": {
        "errorMessage": {
          "description": "A description of the error",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "An ACM defined error code"
        },
        "errorResources": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          },
          "description": "A list of config(s) associated with the error, if any"
        }
      }
    },
    "RBACRoleBindingActuationState": {
      "id": "RBACRoleBindingActuationState",
      "properties": {
        "rbacrolebindingStates": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "RBACRoleBindingActuationRBACRoleBindingState"
          },
          "description": "Output only. The state of RBACRoleBindings using custom roles that exist on the cluster, keyed by RBACRoleBinding resource name with format: projects/{project}/locations/{location}/scopes/{scope}/rbacrolebindings/{rbacrolebinding}."
        }
      },
      "description": "**RBAC RoleBinding Actuation**: A membership-specific Feature state for the RBACRoleBindingActuation fleet feature.",
      "type": "object"
    },
    "ClusterUpgradeIgnoredMembership": {
      "type": "object",
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default.",
      "id": "ClusterUpgradeIgnoredMembership",
      "properties": {
        "ignoredTime": {
          "description": "Time when the membership was first set to ignored.",
          "type": "string",
          "format": "google-datetime"
        },
        "reason": {
          "type": "string",
          "description": "Reason why the membership is ignored."
        }
      }
    },
    "RBACRoleBindingActuationSpec": {
      "id": "RBACRoleBindingActuationSpec",
      "properties": {},
      "type": "object",
      "description": "**RBAC RoleBinding Actuation**: The membership-specific input for RBACRoleBindingActuation feature."
    },
    "ConfigManagementBinauthzConfig": {
      "id": "ConfigManagementBinauthzConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether binauthz is enabled in this cluster."
        }
      },
      "description": "Configuration for Binauthz.",
      "type": "object"
    },
    "State": {
      "description": "High-level state of a MembershipFeature.",
      "type": "object",
      "id": "State",
      "properties": {
        "description": {
          "type": "string",
          "description": "A human-readable description of the current status."
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or not set.",
            "The MembershipFeature is operating normally.",
            "The MembershipFeature has encountered an issue, and is operating in a degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information.",
            "The MembershipFeature is not operating or is in a severely degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information."
          ],
          "description": "The high-level, machine-readable status of this MembershipFeature.",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ]
        },
        "updateTime": {
          "description": "The time this status and any related Feature-specific details were updated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ConfigManagementState": {
      "id": "ConfigManagementState",
      "properties": {
        "configSyncState": {
          "readOnly": true,
          "description": "Output only. Current sync status.",
          "$ref": "ConfigManagementConfigSyncState"
        },
        "hierarchyControllerState": {
          "readOnly": true,
          "description": "Output only. Hierarchy Controller status.",
          "$ref": "ConfigManagementHierarchyControllerState"
        },
        "kubernetesApiServerVersion": {
          "type": "string",
          "description": "Output only. The Kubernetes API server version of the cluster.",
          "readOnly": true
        },
        "policyControllerState": {
          "readOnly": true,
          "description": "Output only. PolicyController status.",
          "$ref": "ConfigManagementPolicyControllerState"
        },
        "binauthzState": {
          "description": "Output only. Binauthz status.",
          "$ref": "ConfigManagementBinauthzState",
          "readOnly": true
        },
        "clusterName": {
          "readOnly": true,
          "description": "Output only. This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name.",
          "type": "string"
        },
        "membershipSpec": {
          "description": "Output only. Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state.",
          "$ref": "ConfigManagementSpec",
          "readOnly": true
        },
        "operatorState": {
          "description": "Output only. Current install status of ACM's Operator.",
          "$ref": "ConfigManagementOperatorState",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "**Anthos Config Management**: State for a single cluster."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "ConfigManagementConfigSyncState": {
      "id": "ConfigManagementConfigSyncState",
      "properties": {
        "clusterLevelStopSyncingState": {
          "description": "Output only. Whether syncing resources to the cluster is stopped at the cluster level.",
          "readOnly": true,
          "enum": [
            "STOP_SYNCING_STATE_UNSPECIFIED",
            "NOT_STOPPED",
            "PENDING",
            "STOPPED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State cannot be determined",
            "Syncing resources to the cluster is not stopped at the cluster level.",
            "Some reconcilers stop syncing resources to the cluster, while others are still syncing.",
            "Syncing resources to the cluster is stopped at the cluster level."
          ]
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          },
          "description": "Output only. Errors pertaining to the installation of Config Sync.",
          "readOnly": true
        },
        "version": {
          "description": "Output only. The version of ConfigSync deployed.",
          "$ref": "ConfigManagementConfigSyncVersion",
          "readOnly": true
        },
        "deploymentState": {
          "description": "Output only. Information about the deployment of ConfigSync, including the version. of the various Pods deployed",
          "$ref": "ConfigManagementConfigSyncDeploymentState",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_SYNC_NOT_INSTALLED",
            "CONFIG_SYNC_INSTALLED",
            "CONFIG_SYNC_ERROR",
            "CONFIG_SYNC_PENDING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "CS's state cannot be determined.",
            "CS is not installed.",
            "The expected CS version is installed successfully.",
            "CS encounters errors.",
            "CS is installing or terminating."
          ],
          "description": "Output only. The state of CS This field summarizes the other fields in this message."
        },
        "reposyncCrd": {
          "description": "Output only. The state of the Reposync CRD",
          "type": "string",
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "readOnly": true,
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ]
        },
        "rootsyncCrd": {
          "description": "Output only. The state of the RootSync CRD",
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ]
        },
        "syncState": {
          "readOnly": true,
          "description": "Output only. The state of ConfigSync's process to sync configs to a cluster.",
          "$ref": "ConfigManagementSyncState"
        },
        "crCount": {
          "readOnly": true,
          "description": "Output only. The number of RootSync and RepoSync CRs in the cluster.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "State information for ConfigSync.",
      "type": "object"
    },
    "AppDevExperienceStatus": {
      "type": "object",
      "description": "Status specifies state for the subcomponent.",
      "id": "AppDevExperienceStatus",
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ],
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ]
        },
        "description": {
          "type": "string",
          "description": "Description is populated if Code is Failed, explaining why it has failed."
        }
      }
    },
    "LifecycleState": {
      "id": "LifecycleState",
      "properties": {
        "state": {
          "description": "Output only. The current state of the Feature resource in the Hub API.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State is unknown or not set.",
            "The MembershipFeature is being enabled, and the MembershipFeature resource is being created. Once complete, the corresponding MembershipFeature will be enabled in this Hub.",
            "The MembershipFeature is enabled in this Hub, and the MembershipFeature resource is fully available.",
            "The MembershipFeature is being disabled in this Hub, and the MembershipFeature resource is being deleted.",
            "The MembershipFeature resource is being updated.",
            "The MembershipFeature resource is being updated by the Hub Service."
          ]
        }
      },
      "description": "LifecycleState describes the state of a MembershipFeature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the MembershipFeature.",
      "type": "object"
    },
    "WorkloadCertificateSpec": {
      "id": "WorkloadCertificateSpec",
      "properties": {
        "certificateManagement": {
          "enum": [
            "CERTIFICATE_MANAGEMENT_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "CertificateManagement specifies workload certificate management.",
          "type": "string",
          "enumDescriptions": [
            "Disable workload certificate feature.",
            "Disable workload certificate feature.",
            "Enable workload certificate feature."
          ]
        }
      },
      "description": "**WorkloadCertificate**: The membership-specific input for WorkloadCertificate feature.",
      "type": "object"
    },
    "ConfigManagementDeploymentOverride": {
      "id": "ConfigManagementDeploymentOverride",
      "properties": {
        "deploymentNamespace": {
          "description": "Required. The namespace of the deployment resource to be overridden.",
          "type": "string"
        },
        "deploymentName": {
          "type": "string",
          "description": "Required. The name of the deployment resource to be overridden."
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementContainerOverride"
          },
          "description": "Optional. The containers of the deployment resource to be overridden."
        }
      },
      "description": "Configuration for a deployment override.",
      "type": "object"
    },
    "MeteringState": {
      "id": "MeteringState",
      "properties": {
        "lastMeasurementTime": {
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster.",
          "type": "string",
          "format": "google-datetime"
        },
        "preciseLastMeasuredClusterVcpuCapacity": {
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision).",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "**Metering**: State for a single membership, analyzed and reported by feature controller."
    },
    "ServiceMeshSpec": {
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature",
      "type": "object",
      "id": "ServiceMeshSpec",
      "properties": {
        "controlPlane": {
          "description": "Deprecated: use `management` instead Enables automatic control plane management.",
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ],
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ]
        },
        "defaultChannel": {
          "description": "Determines which release channel to use for default injection and service mesh APIs.",
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "RAPID channel is offered on an early access basis for customers who want to test new releases.",
            "REGULAR channel is intended for production users who want to take advantage of new features.",
            "STABLE channel includes versions that are known to be stable and reliable in production."
          ],
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ]
        },
        "management": {
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL",
            "MANAGEMENT_NOT_INSTALLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components.",
            "Google should remove any managed Service Mesh components from this cluster and deprovision any resources."
          ],
          "description": "Optional. Enables automatic Service Mesh management."
        },
        "configApi": {
          "enum": [
            "CONFIG_API_UNSPECIFIED",
            "CONFIG_API_ISTIO",
            "CONFIG_API_GATEWAY"
          ],
          "description": "Optional. Specifies the API that will be used for configuring the mesh workloads.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Use the Istio API for configuration.",
            "Use the K8s Gateway API for configuration."
          ]
        }
      }
    },
    "PolicyControllerOnClusterState": {
      "id": "PolicyControllerOnClusterState",
      "properties": {
        "details": {
          "type": "string",
          "description": "Surface potential errors or information logs."
        },
        "state": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "description": "The lifecycle state of this component.",
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ]
        }
      },
      "description": "OnClusterState represents the state of a sub-component of Policy Controller.",
      "type": "object"
    },
    "ConfigManagementGitConfig": {
      "id": "ConfigManagementGitConfig",
      "properties": {
        "syncRev": {
          "description": "Optional. Git revision (tag or hash) to check out. Default HEAD.",
          "type": "string"
        },
        "syncBranch": {
          "description": "Optional. The branch of the repository to sync from. Default: master.",
          "type": "string"
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
        },
        "secretType": {
          "description": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive.",
          "type": "string"
        },
        "syncRepo": {
          "type": "string",
          "description": "Required. The URL of the Git repository to use as the source of truth."
        },
        "policyDir": {
          "type": "string",
          "description": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository."
        },
        "syncWaitSecs": {
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15.",
          "type": "string",
          "format": "int64"
        },
        "httpsProxy": {
          "type": "string",
          "description": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`."
        }
      },
      "type": "object",
      "description": "Git repo configuration for a single cluster."
    },
    "ServiceMeshControlPlaneManagement": {
      "type": "object",
      "description": "Status of control plane management.",
      "id": "ServiceMeshControlPlaneManagement",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "description": "Explanation of state."
        },
        "state": {
          "description": "LifecycleState of control plane management.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ]
        },
        "implementation": {
          "description": "Output only. Implementation of managed control plane.",
          "enum": [
            "IMPLEMENTATION_UNSPECIFIED",
            "ISTIOD",
            "TRAFFIC_DIRECTOR",
            "UPDATING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "A Google build of istiod is used for the managed control plane.",
            "Traffic director is used for the managed control plane.",
            "The control plane implementation is being updated."
          ]
        }
      }
    },
    "ConfigManagementHierarchyControllerVersion": {
      "id": "ConfigManagementHierarchyControllerVersion",
      "properties": {
        "hnc": {
          "type": "string",
          "description": "Version for open source HNC."
        },
        "extension": {
          "description": "Version for Hierarchy Controller extension.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Version for Hierarchy Controller."
    },
    "ServiceMeshCondition": {
      "description": "Condition being reported.",
      "type": "object",
      "id": "ServiceMeshCondition",
      "properties": {
        "documentationLink": {
          "description": "Links contains actionable information.",
          "type": "string"
        },
        "details": {
          "description": "A short summary about the issue.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Default Unspecified code",
            "Mesh IAM permission denied error code",
            "Permission denied error code for cross-project",
            "CNI config unsupported error code",
            "GKE sandbox unsupported error code",
            "Nodepool workload identity federation required error code",
            "CNI installation failed error code",
            "CNI pod unschedulable error code",
            "Cluster has zero node code",
            "Failure to reconcile CanonicalServices",
            "Multiple control planes unsupported error code",
            "VPC-SC GA is supported for this control plane.",
            "User is using deprecated ControlPlaneManagement and they have not yet set Management.",
            "User is using deprecated ControlPlaneManagement and they have already set Management.",
            "Configuration (Istio/k8s resources) failed to apply due to internal error.",
            "Configuration failed to be applied due to being invalid.",
            "Encountered configuration(s) with possible unintended behavior or invalid configuration. These configs may not have been applied.",
            "BackendService quota exceeded error code.",
            "HealthCheck quota exceeded error code.",
            "HTTPRoute quota exceeded error code.",
            "TCPRoute quota exceeded error code.",
            "TLS routes quota exceeded error code.",
            "TrafficPolicy quota exceeded error code.",
            "EndpointPolicy quota exceeded error code.",
            "Gateway quota exceeded error code.",
            "Mesh quota exceeded error code.",
            "ServerTLSPolicy quota exceeded error code.",
            "ClientTLSPolicy quota exceeded error code.",
            "ServiceLBPolicy quota exceeded error code.",
            "HTTPFilter quota exceeded error code.",
            "TCPFilter quota exceeded error code.",
            "NetworkEndpointGroup quota exceeded error code.",
            "Configuration failed to apply due to fleet being blocked.",
            "Legacy istio secrets found for multicluster error code",
            "Workload identity required error code",
            "Non-standard binary usage error code",
            "Unsupported gateway class error code",
            "Managed CNI not enabled error code",
            "Modernization is scheduled for a cluster.",
            "Modernization is in progress for a cluster.",
            "Modernization is completed for a cluster.",
            "Modernization is aborted for a cluster.",
            "Preparing cluster so that its workloads can be migrated.",
            "Modernization is stalled for a cluster.",
            "Cluster has been prepared for its workloads to be migrated.",
            "Migrating the cluster's workloads to the new implementation.",
            "Rollback is in progress for modernization of a cluster.",
            "Modernization will be scheduled for a fleet.",
            "Fleet is opted out from automated modernization.",
            "Fleet is eligible for modernization.",
            "Modernization of one or more clusters in a fleet is in progress.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Modernization is finalized for all clusters in a fleet. Rollback is no longer allowed.",
            "Rollback is in progress for modernization of all clusters in a fleet."
          ],
          "description": "Unique identifier of the condition which describes the condition recognizable to the user.",
          "enum": [
            "CODE_UNSPECIFIED",
            "MESH_IAM_PERMISSION_DENIED",
            "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED",
            "CNI_CONFIG_UNSUPPORTED",
            "GKE_SANDBOX_UNSUPPORTED",
            "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED",
            "CNI_INSTALLATION_FAILED",
            "CNI_POD_UNSCHEDULABLE",
            "CLUSTER_HAS_ZERO_NODES",
            "CANONICAL_SERVICE_ERROR",
            "UNSUPPORTED_MULTIPLE_CONTROL_PLANES",
            "VPCSC_GA_SUPPORTED",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE",
            "CONFIG_APPLY_INTERNAL_ERROR",
            "CONFIG_VALIDATION_ERROR",
            "CONFIG_VALIDATION_WARNING",
            "QUOTA_EXCEEDED_BACKEND_SERVICES",
            "QUOTA_EXCEEDED_HEALTH_CHECKS",
            "QUOTA_EXCEEDED_HTTP_ROUTES",
            "QUOTA_EXCEEDED_TCP_ROUTES",
            "QUOTA_EXCEEDED_TLS_ROUTES",
            "QUOTA_EXCEEDED_TRAFFIC_POLICIES",
            "QUOTA_EXCEEDED_ENDPOINT_POLICIES",
            "QUOTA_EXCEEDED_GATEWAYS",
            "QUOTA_EXCEEDED_MESHES",
            "QUOTA_EXCEEDED_SERVER_TLS_POLICIES",
            "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES",
            "QUOTA_EXCEEDED_SERVICE_LB_POLICIES",
            "QUOTA_EXCEEDED_HTTP_FILTERS",
            "QUOTA_EXCEEDED_TCP_FILTERS",
            "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS",
            "CONFIG_APPLY_BLOCKED",
            "LEGACY_MC_SECRETS",
            "WORKLOAD_IDENTITY_REQUIRED",
            "NON_STANDARD_BINARY_USAGE",
            "UNSUPPORTED_GATEWAY_CLASS",
            "MANAGED_CNI_NOT_ENABLED",
            "MODERNIZATION_SCHEDULED",
            "MODERNIZATION_IN_PROGRESS",
            "MODERNIZATION_COMPLETED",
            "MODERNIZATION_ABORTED",
            "MODERNIZATION_PREPARING",
            "MODERNIZATION_STALLED",
            "MODERNIZATION_PREPARED",
            "MODERNIZATION_MIGRATING_WORKLOADS",
            "MODERNIZATION_ROLLING_BACK_CLUSTER",
            "MODERNIZATION_WILL_BE_SCHEDULED",
            "MODERNIZATION_MANUAL",
            "MODERNIZATION_ELIGIBLE",
            "MODERNIZATION_MODERNIZING",
            "MODERNIZATION_MODERNIZED_SOAKING",
            "MODERNIZATION_FINALIZED",
            "MODERNIZATION_ROLLING_BACK_FLEET"
          ]
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity",
            "Indicates an issue that prevents the mesh from operating correctly",
            "Indicates a setting is likely wrong, but the mesh is still able to operate",
            "An informational message, not requiring any action"
          ],
          "description": "Severity level of the condition."
        }
      }
    },
    "PolicyControllerBundleInstallSpec": {
      "id": "PolicyControllerBundleInstallSpec",
      "properties": {
        "exemptedNamespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "the set of namespaces to be exempted from the bundle"
        }
      },
      "type": "object",
      "description": "BundleInstallSpec is the specification configuration for a single managed bundle."
    },
    "IdentityServiceServiceAccountConfig": {
      "description": "Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate.",
      "type": "object",
      "id": "IdentityServiceServiceAccountConfig",
      "properties": {
        "simpleBindCredentials": {
          "description": "Credentials for basic auth.",
          "$ref": "IdentityServiceSimpleBindCredentials"
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "Location": {
      "id": "Location",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "IdentityServiceDiagnosticInterface": {
      "id": "IdentityServiceDiagnosticInterface",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Determines whether to enable the diagnostic interface."
        },
        "expirationTime": {
          "description": "Determines the expiration time of the diagnostic interface enablement. When reached, requests to the interface would be automatically rejected.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Configuration options for the AIS diagnostic interface."
    },
    "PolicyControllerPolicyControllerDeploymentConfig": {
      "description": "Deployment-specific configuration.",
      "type": "object",
      "id": "PolicyControllerPolicyControllerDeploymentConfig",
      "properties": {
        "podTolerations": {
          "type": "array",
          "items": {
            "$ref": "PolicyControllerToleration"
          },
          "description": "Pod tolerations of node taints."
        },
        "replicaCount": {
          "type": "string",
          "format": "int64",
          "description": "Pod replica count."
        },
        "podAffinity": {
          "description": "Pod affinity configuration.",
          "type": "string",
          "enumDescriptions": [
            "No affinity configuration has been specified.",
            "Affinity configurations will be removed from the deployment.",
            "Anti-affinity configuration will be applied to this deployment. Default for admissions deployment."
          ],
          "enum": [
            "AFFINITY_UNSPECIFIED",
            "NO_AFFINITY",
            "ANTI_AFFINITY"
          ]
        },
        "podAntiAffinity": {
          "type": "boolean",
          "description": "Pod anti-affinity enablement. Deprecated: use `pod_affinity` instead.",
          "deprecated": true
        },
        "containerResources": {
          "description": "Container resource requirements.",
          "$ref": "PolicyControllerResourceRequirements"
        }
      }
    },
    "ConfigManagementBinauthzVersion": {
      "type": "object",
      "description": "The version of binauthz.",
      "id": "ConfigManagementBinauthzVersion",
      "properties": {
        "webhookVersion": {
          "description": "The version of the binauthz webhook.",
          "type": "string"
        }
      }
    },
    "ClusterUpgradeUpgradeStatus": {
      "id": "ClusterUpgradeUpgradeStatus",
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "INELIGIBLE",
            "PENDING",
            "IN_PROGRESS",
            "SOAKING",
            "FORCED_SOAKING",
            "COMPLETE"
          ],
          "description": "Status code of the upgrade.",
          "type": "string",
          "enumDescriptions": [
            "Required by https://linter.aip.dev/126/unspecified.",
            "The upgrade is ineligible. At the scope level, this means the upgrade is ineligible for all the clusters in the scope.",
            "The upgrade is pending. At the scope level, this means the upgrade is pending for all the clusters in the scope.",
            "The upgrade is in progress. At the scope level, this means the upgrade is in progress for at least one cluster in the scope.",
            "The upgrade has finished and is soaking until the soaking time is up. At the scope level, this means at least one cluster is in soaking while the rest are either soaking or complete.",
            "A cluster will be forced to enter soaking if an upgrade doesn't finish within a certain limit, despite it's actual status.",
            "The upgrade has passed all post conditions (soaking). At the scope level, this means all eligible clusters are in COMPLETE status."
          ]
        },
        "reason": {
          "type": "string",
          "description": "Reason for this status."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last timestamp the status was updated."
        }
      },
      "type": "object",
      "description": "UpgradeStatus provides status information for each upgrade."
    },
    "AppDevExperienceState": {
      "id": "AppDevExperienceState",
      "properties": {
        "networkingInstallSucceeded": {
          "description": "Status of subcomponent that detects configured Service Mesh resources.",
          "$ref": "AppDevExperienceStatus"
        }
      },
      "description": "State for App Dev Exp Feature.",
      "type": "object"
    },
    "IdentityServiceIdentityServiceOptions": {
      "description": "Holds non-protocol-related configuration options.",
      "type": "object",
      "id": "IdentityServiceIdentityServiceOptions",
      "properties": {
        "sessionDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Determines the lifespan of STS tokens issued by Anthos Identity Service."
        },
        "diagnosticInterface": {
          "description": "Configuration options for the AIS diagnostic interface.",
          "$ref": "IdentityServiceDiagnosticInterface"
        }
      }
    },
    "PolicyControllerHubConfig": {
      "description": "Configuration for Policy Controller",
      "type": "object",
      "id": "PolicyControllerHubConfig",
      "properties": {
        "exemptableNamespaces": {
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        },
        "policyContent": {
          "description": "Specifies the desired policy content on the cluster",
          "$ref": "PolicyControllerPolicyContentSpec"
        },
        "deploymentConfigs": {
          "description": "Map of deployment configs to deployments (“admission”, “audit”, “mutation”).",
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerPolicyControllerDeploymentConfig"
          }
        },
        "installSpec": {
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_SUSPENDED",
            "INSTALL_SPEC_DETACHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to suspend Policy Controller i.e. its webhooks. If Policy Controller is not installed, it will be installed but suspended.",
            "Request to stop all reconciliation actions by PoCo Hub controller. This is a breakglass mechanism to stop PoCo Hub from affecting cluster resources."
          ],
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state."
        },
        "constraintViolationLimit": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used."
        },
        "mutationEnabled": {
          "description": "Enables the ability to mutate resources using Policy Controller.",
          "type": "boolean"
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "PolicyControllerMonitoringConfig"
        },
        "auditIntervalSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether."
        },
        "referentialRulesEnabled": {
          "type": "boolean",
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated."
        }
      }
    },
    "IdentityServiceLdapConfig": {
      "description": "Configuration for the LDAP Auth flow.",
      "type": "object",
      "id": "IdentityServiceLdapConfig",
      "properties": {
        "serviceAccount": {
          "description": "Required. Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate.",
          "$ref": "IdentityServiceServiceAccountConfig"
        },
        "server": {
          "description": "Required. Server settings for the external LDAP server.",
          "$ref": "IdentityServiceServerConfig"
        },
        "group": {
          "description": "Optional. Contains the properties for locating and authenticating groups in the directory.",
          "$ref": "IdentityServiceGroupConfig"
        },
        "user": {
          "description": "Required. Defines where users exist in the LDAP directory.",
          "$ref": "IdentityServiceUserConfig"
        }
      }
    },
    "ClusterUpgradeState": {
      "id": "ClusterUpgradeState",
      "properties": {
        "upgrades": {
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeMembershipGKEUpgradeState"
          },
          "description": "Actual upgrade state against desired."
        },
        "ignored": {
          "description": "Whether this membership is ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel.",
          "$ref": "ClusterUpgradeIgnoredMembership"
        }
      },
      "description": "Per-membership state for this feature.",
      "type": "object"
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "type": "object",
      "description": "The state of ConfigSync's deployment on a cluster.",
      "id": "ConfigManagementConfigSyncDeploymentState",
      "properties": {
        "importer": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of the importer pod.",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "resourceGroupControllerManager": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "description": "Deployment state of resource-group-controller-manager"
        },
        "rootReconciler": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "description": "Deployment state of root-reconciler."
        },
        "monitor": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
[...]
