{
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    }
  },
  "canonicalName": "GKE Hub",
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "name": "gkehub",
  "version_module": true,
  "title": "GKE Hub API",
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "id": "gkehub:v1",
  "rootUrl": "https://gkehub.googleapis.com/",
  "ownerName": "Google",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "version": "v1",
  "baseUrl": "https://gkehub.googleapis.com/",
  "revision": "20260511",
  "schemas": {
    "ConfigManagementGatekeeperDeploymentState": {
      "type": "object",
      "description": "State of Policy Controller installation.",
      "id": "ConfigManagementGatekeeperDeploymentState",
      "properties": {
        "gatekeeperAudit": {
          "description": "Status of gatekeeper-audit deployment.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ]
        },
        "gatekeeperMutation": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "description": "Status of the pod serving the mutation webhook.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "type": "string"
        },
        "gatekeeperControllerManagerState": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "description": "Status of gatekeeper-controller-manager pod.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        }
      }
    },
    "RBACRoleBindingActuationFeatureSpec": {
      "type": "object",
      "description": "**RBAC RoleBinding Actuation**: The Hub-wide input for the RBACRoleBindingActuation feature.",
      "id": "RBACRoleBindingActuationFeatureSpec",
      "properties": {
        "allowedCustomRoles": {
          "description": "The list of allowed custom roles (ClusterRoles). If a ClusterRole is not part of this list, it cannot be used in a Scope RBACRoleBinding. If a ClusterRole in this list is in use, it cannot be removed from the list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ConfigManagementConfigSyncState": {
      "description": "State information for ConfigSync",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "CS's state cannot be determined.",
            "CS is not installed.",
            "The expected CS version is installed successfully.",
            "CS encounters errors.",
            "CS is installing or terminating."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of CS This field summarizes the other fields in this message.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_SYNC_NOT_INSTALLED",
            "CONFIG_SYNC_INSTALLED",
            "CONFIG_SYNC_ERROR",
            "CONFIG_SYNC_PENDING"
          ]
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          },
          "description": "Output only. Errors pertaining to the installation of Config Sync.",
          "readOnly": true
        },
        "version": {
          "description": "Output only. The version of ConfigSync deployed",
          "readOnly": true,
          "$ref": "ConfigManagementConfigSyncVersion"
        },
        "crCount": {
          "type": "integer",
          "description": "Output only. The number of RootSync and RepoSync CRs in the cluster.",
          "readOnly": true,
          "format": "int32"
        },
        "syncState": {
          "$ref": "ConfigManagementSyncState",
          "description": "Output only. The state of ConfigSync's process to sync configs to a cluster",
          "readOnly": true
        },
        "reposyncCrd": {
          "type": "string",
          "description": "Output only. The state of the Reposync CRD",
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ]
        },
        "clusterLevelStopSyncingState": {
          "type": "string",
          "description": "Output only. Whether syncing resources to the cluster is stopped at the cluster level.",
          "enum": [
            "STOP_SYNCING_STATE_UNSPECIFIED",
            "NOT_STOPPED",
            "PENDING",
            "STOPPED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State cannot be determined",
            "Syncing resources to the cluster is not stopped at the cluster level.",
            "Some reconcilers stop syncing resources to the cluster, while others are still syncing.",
            "Syncing resources to the cluster is stopped at the cluster level."
          ]
        },
        "deploymentState": {
          "$ref": "ConfigManagementConfigSyncDeploymentState",
          "description": "Output only. Information about the deployment of ConfigSync, including the version of the various Pods deployed",
          "readOnly": true
        },
        "rootsyncCrd": {
          "description": "Output only. The state of the RootSync CRD",
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ]
        }
      },
      "id": "ConfigManagementConfigSyncState"
    },
    "Origin": {
      "description": "Origin defines where this MembershipFeatureSpec originated from.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type specifies which type of origin is set.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "FLEET_OUT_OF_SYNC",
            "USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Membership spec was inherited from the fleet-level default.",
            "Per-Membership spec was inherited from the fleet-level default but is now out of sync with the current default.",
            "Per-Membership spec was inherited from a user specification."
          ]
        }
      },
      "id": "Origin"
    },
    "ServiceMeshMembershipState": {
      "type": "object",
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "id": "ServiceMeshMembershipState",
      "properties": {
        "dataPlaneManagement": {
          "$ref": "ServiceMeshDataPlaneManagement",
          "description": "Output only. Status of data plane management.",
          "readOnly": true
        },
        "conditions": {
          "description": "Output only. List of conditions reported for this membership.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ServiceMeshCondition"
          }
        },
        "controlPlaneManagement": {
          "$ref": "ServiceMeshControlPlaneManagement",
          "description": "Output only. Status of control plane management",
          "readOnly": true
        }
      }
    },
    "BinaryAuthorizationConfig": {
      "id": "BinaryAuthorizationConfig",
      "properties": {
        "evaluationMode": {
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Use Binary Authorization with the policies specified in policy_bindings."
          ],
          "type": "string",
          "description": "Optional. Mode of operation for binauthz policy evaluation.",
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "POLICY_BINDINGS"
          ]
        },
        "policyBindings": {
          "description": "Optional. Binauthz policies that apply to this cluster.",
          "type": "array",
          "items": {
            "$ref": "PolicyBinding"
          }
        }
      },
      "type": "object",
      "description": "BinaryAuthorizationConfig defines the fleet level configuration of binary authorization feature."
    },
    "RBACRoleBindingLifecycleState": {
      "description": "RBACRoleBindingLifecycleState describes the state of a RbacRoleBinding resource.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Output only. The current state of the rbacrolebinding resource.",
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "The code is not set.",
            "The rbacrolebinding is being created.",
            "The rbacrolebinding active.",
            "The rbacrolebinding is being deleted.",
            "The rbacrolebinding is being updated."
          ],
          "readOnly": true
        }
      },
      "id": "RBACRoleBindingLifecycleState"
    },
    "WorkloadIdentityWorkloadIdentityPoolStateDetail": {
      "description": "WorkloadIdentityPoolStateDetail represents the state of the Workload Identity Pools for the fleet.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The state of the Workload Identity Pool.",
          "enum": [
            "WORKLOAD_IDENTITY_POOL_STATE_UNSPECIFIED",
            "WORKLOAD_IDENTITY_POOL_STATE_OK",
            "WORKLOAD_IDENTITY_POOL_STATE_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The Workload Identity Pool was created/updated successfully.",
            "The Workload Identity Pool was not created/updated successfully. The error message is in the description field."
          ]
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of the current state or returned error."
        }
      },
      "id": "WorkloadIdentityWorkloadIdentityPoolStateDetail"
    },
    "WorkloadIdentityIdentityProviderStateDetail": {
      "type": "object",
      "description": "IdentityProviderStateDetail represents the state of an Identity Provider.",
      "id": "WorkloadIdentityIdentityProviderStateDetail",
      "properties": {
        "code": {
          "enumDescriptions": [
            "Unknown state.",
            "The Identity Provider was created/updated successfully.",
            "The Identity Provider was not created/updated successfully. The error message is in the description field."
          ],
          "description": "The state of the Identity Provider.",
          "enum": [
            "IDENTITY_PROVIDER_STATE_UNSPECIFIED",
            "IDENTITY_PROVIDER_STATE_OK",
            "IDENTITY_PROVIDER_STATE_ERROR"
          ],
          "type": "string"
        },
        "description": {
          "description": "A human-readable description of the current state or returned error.",
          "type": "string"
        }
      }
    },
    "Feature": {
      "properties": {
        "scopeStates": {
          "description": "Output only. Scope-specific Feature status. If this Feature does report any per-Scope status, this field may be unused. The keys indicate which Scope the state is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ScopeFeatureState"
          },
          "type": "object"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of locations that could not be reached while fetching this feature.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. When the Feature resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "fleetDefaultMemberConfig": {
          "description": "Optional. Feature configuration applicable to all memberships of the fleet.",
          "$ref": "CommonFleetDefaultMemberConfigSpec"
        },
        "membershipSpecs": {
          "type": "object",
          "description": "Optional. Membership-specific configuration for this Feature. If this Feature does not support any per-Membership configuration, this field may be unused. The keys indicate which Membership the configuration is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Membership is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature.",
          "additionalProperties": {
            "$ref": "MembershipFeatureSpec"
          }
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. When the Feature resource was deleted.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The full, unique name of this Feature resource in the format `projects/*/locations/*/features/*`.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. When the Feature resource was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "spec": {
          "description": "Optional. Fleet-wide Feature configuration. If this Feature does not support any Fleet-wide configuration, this field may be unused.",
          "$ref": "CommonFeatureSpec"
        },
        "state": {
          "description": "Output only. The Fleet-wide Feature state.",
          "readOnly": true,
          "$ref": "CommonFeatureState"
        },
        "membershipStates": {
          "type": "object",
          "description": "Output only. Membership-specific Feature status. If this Feature does report any per-Membership status, this field may be unused. The keys indicate which Membership the state is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project number, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} MUST match the Feature's project number.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "MembershipFeatureState"
          }
        },
        "resourceState": {
          "$ref": "FeatureResourceState",
          "description": "Output only. State of the Feature resource itself.",
          "readOnly": true
        },
        "scopeSpecs": {
          "type": "object",
          "description": "Optional. Scope-specific configuration for this Feature. If this Feature does not support any per-Scope configuration, this field may be unused. The keys indicate which Scope the configuration is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Scope is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature.",
          "additionalProperties": {
            "$ref": "ScopeFeatureSpec"
          }
        },
        "labels": {
          "description": "Labels for this Feature.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Feature",
      "description": "Feature represents the settings and status of any Fleet Feature.",
      "type": "object"
    },
    "IdentityServiceIdentityServiceOptions": {
      "description": "Holds non-protocol-related configuration options.",
      "type": "object",
      "properties": {
        "diagnosticInterface": {
          "description": "Configuration options for the AIS diagnostic interface.",
          "$ref": "IdentityServiceDiagnosticInterface"
        },
        "sessionDuration": {
          "format": "google-duration",
          "description": "Determines the lifespan of STS tokens issued by Anthos Identity Service.",
          "type": "string"
        }
      },
      "id": "IdentityServiceIdentityServiceOptions"
    },
    "ListMembershipRBACRoleBindingsResponse": {
      "description": "List of Membership RBACRoleBindings.",
      "type": "object",
      "properties": {
        "rbacrolebindings": {
          "type": "array",
          "items": {
            "$ref": "RBACRoleBinding"
          },
          "description": "The list of Membership RBACRoleBindings."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached while fetching this list."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListMembershipRBACRoleBindings` method. The value of an empty string means that there are no more resources to return."
        }
      },
      "id": "ListMembershipRBACRoleBindingsResponse"
    },
    "ServiceMeshCondition": {
      "description": "Condition being reported.",
      "type": "object",
      "properties": {
        "severity": {
          "description": "Severity level of the condition.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity",
            "Indicates an issue that prevents the mesh from operating correctly",
            "Indicates a setting is likely wrong, but the mesh is still able to operate",
            "An informational message, not requiring any action"
          ]
        },
        "documentationLink": {
          "type": "string",
          "description": "Links contains actionable information."
        },
        "details": {
          "type": "string",
          "description": "A short summary about the issue."
        },
        "code": {
          "enumDescriptions": [
            "Default Unspecified code",
            "Mesh IAM permission denied error code",
            "Permission denied error code for cross-project",
            "CNI config unsupported error code",
            "GKE sandbox unsupported error code",
            "Nodepool workload identity federation required error code",
            "CNI installation failed error code",
            "CNI pod unschedulable error code",
            "Cluster has zero node code",
            "Failure to reconcile CanonicalServices",
            "Multiple control planes unsupported error code",
            "VPC-SC GA is supported for this control plane.",
            "User is using deprecated ControlPlaneManagement and they have not yet set Management.",
            "User is using deprecated ControlPlaneManagement and they have already set Management.",
            "Configuration (Istio/k8s resources) failed to apply due to internal error.",
            "Configuration failed to be applied due to being invalid.",
            "Encountered configuration(s) with possible unintended behavior or invalid configuration. These configs may not have been applied.",
            "BackendService quota exceeded error code.",
            "HealthCheck quota exceeded error code.",
            "HTTPRoute quota exceeded error code.",
            "TCPRoute quota exceeded error code.",
            "TLS routes quota exceeded error code.",
            "TrafficPolicy quota exceeded error code.",
            "EndpointPolicy quota exceeded error code.",
            "Gateway quota exceeded error code.",
            "Mesh quota exceeded error code.",
            "ServerTLSPolicy quota exceeded error code.",
            "ClientTLSPolicy quota exceeded error code.",
            "ServiceLBPolicy quota exceeded error code.",
            "HTTPFilter quota exceeded error code.",
            "TCPFilter quota exceeded error code.",
            "NetworkEndpointGroup quota exceeded error code.",
            "Configuration failed to apply due to fleet being blocked.",
            "Legacy istio secrets found for multicluster error code",
            "Workload identity required error code",
            "Non-standard binary usage error code",
            "Unsupported gateway class error code",
            "Managed CNI not enabled error code",
            "Modernization is scheduled for a cluster.",
            "Modernization is in progress for a cluster.",
            "Modernization is completed for a cluster.",
            "Modernization is aborted for a cluster.",
            "Preparing cluster so that its workloads can be migrated.",
            "Modernization is stalled for a cluster.",
            "Cluster has been prepared for its workloads to be migrated.",
            "Migrating the cluster's workloads to the new implementation.",
            "Rollback is in progress for modernization of a cluster.",
            "Modernization will be scheduled for a fleet.",
            "Fleet is opted out from automated modernization.",
            "Fleet is eligible for modernization.",
            "Modernization of one or more clusters in a fleet is in progress.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Modernization is finalized for all clusters in a fleet. Rollback is no longer allowed.",
            "Rollback is in progress for modernization of all clusters in a fleet."
          ],
          "type": "string",
          "description": "Unique identifier of the condition which describes the condition recognizable to the user.",
          "enum": [
            "CODE_UNSPECIFIED",
            "MESH_IAM_PERMISSION_DENIED",
            "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED",
            "CNI_CONFIG_UNSUPPORTED",
            "GKE_SANDBOX_UNSUPPORTED",
            "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED",
            "CNI_INSTALLATION_FAILED",
            "CNI_POD_UNSCHEDULABLE",
            "CLUSTER_HAS_ZERO_NODES",
            "CANONICAL_SERVICE_ERROR",
            "UNSUPPORTED_MULTIPLE_CONTROL_PLANES",
            "VPCSC_GA_SUPPORTED",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE",
            "CONFIG_APPLY_INTERNAL_ERROR",
            "CONFIG_VALIDATION_ERROR",
            "CONFIG_VALIDATION_WARNING",
            "QUOTA_EXCEEDED_BACKEND_SERVICES",
            "QUOTA_EXCEEDED_HEALTH_CHECKS",
            "QUOTA_EXCEEDED_HTTP_ROUTES",
            "QUOTA_EXCEEDED_TCP_ROUTES",
            "QUOTA_EXCEEDED_TLS_ROUTES",
            "QUOTA_EXCEEDED_TRAFFIC_POLICIES",
            "QUOTA_EXCEEDED_ENDPOINT_POLICIES",
            "QUOTA_EXCEEDED_GATEWAYS",
            "QUOTA_EXCEEDED_MESHES",
            "QUOTA_EXCEEDED_SERVER_TLS_POLICIES",
            "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES",
            "QUOTA_EXCEEDED_SERVICE_LB_POLICIES",
            "QUOTA_EXCEEDED_HTTP_FILTERS",
            "QUOTA_EXCEEDED_TCP_FILTERS",
            "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS",
            "CONFIG_APPLY_BLOCKED",
            "LEGACY_MC_SECRETS",
            "WORKLOAD_IDENTITY_REQUIRED",
            "NON_STANDARD_BINARY_USAGE",
            "UNSUPPORTED_GATEWAY_CLASS",
            "MANAGED_CNI_NOT_ENABLED",
            "MODERNIZATION_SCHEDULED",
            "MODERNIZATION_IN_PROGRESS",
            "MODERNIZATION_COMPLETED",
            "MODERNIZATION_ABORTED",
            "MODERNIZATION_PREPARING",
            "MODERNIZATION_STALLED",
            "MODERNIZATION_PREPARED",
            "MODERNIZATION_MIGRATING_WORKLOADS",
            "MODERNIZATION_ROLLING_BACK_CLUSTER",
            "MODERNIZATION_WILL_BE_SCHEDULED",
            "MODERNIZATION_MANUAL",
            "MODERNIZATION_ELIGIBLE",
            "MODERNIZATION_MODERNIZING",
            "MODERNIZATION_MODERNIZED_SOAKING",
            "MODERNIZATION_FINALIZED",
            "MODERNIZATION_ROLLING_BACK_FLEET"
          ]
        }
      },
      "id": "ServiceMeshCondition"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "RBACRoleBindingActuationFeatureState": {
      "id": "RBACRoleBindingActuationFeatureState",
      "properties": {},
      "type": "object",
      "description": "**RBAC RoleBinding Actuation**: An empty state left as an example Hub-wide Feature state."
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "PolicyControllerOnClusterState": {
      "id": "PolicyControllerOnClusterState",
      "properties": {
        "state": {
          "description": "The lifecycle state of this component.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as 'install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to 'take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ]
        },
        "details": {
          "type": "string",
          "description": "Surface potential errors or information logs."
        }
      },
      "type": "object",
      "description": "OnClusterState represents the state of a sub-component of Policy Controller."
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "WorkloadIdentityFeatureSpec": {
      "id": "WorkloadIdentityFeatureSpec",
      "properties": {
        "scopeTenancyPool": {
          "type": "string",
          "description": "Pool to be used for Workload Identity. This pool in trust-domain mode is used with Fleet Tenancy, so that sameness can be enforced. ex: projects/example/locations/global/workloadidentitypools/custompool"
        }
      },
      "type": "object",
      "description": "**WorkloadIdentity**: Global feature specification."
    },
    "MembershipFeatureSpec": {
      "properties": {
        "policycontroller": {
          "description": "Policy Controller spec.",
          "$ref": "PolicyControllerMembershipSpec"
        },
        "fleetobservability": {
          "description": "Fleet observability membership spec",
          "$ref": "FleetObservabilityMembershipSpec"
        },
        "origin": {
          "description": "Whether this per-Membership spec was inherited from a fleet-level default. This field can be updated by users by either overriding a Membership config (updated to USER implicitly) or setting to FLEET explicitly.",
          "$ref": "Origin"
        },
        "configmanagement": {
          "description": "Config Management-specific spec.",
          "$ref": "ConfigManagementMembershipSpec"
        },
        "mesh": {
          "description": "Anthos Service Mesh-specific spec",
          "$ref": "ServiceMeshMembershipSpec"
        },
        "identityservice": {
          "description": "Identity Service-specific spec.",
          "$ref": "IdentityServiceMembershipSpec"
        }
      },
      "id": "MembershipFeatureSpec",
      "description": "MembershipFeatureSpec contains configuration information for a single Membership.",
      "type": "object"
    },
    "MembershipFeatureState": {
      "properties": {
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceFeatureState"
        },
        "identityservice": {
          "description": "Identity Service-specific state.",
          "$ref": "IdentityServiceMembershipState"
        },
        "policycontroller": {
          "description": "Policycontroller-specific state.",
          "$ref": "PolicyControllerMembershipState"
        },
        "workloadidentity": {
          "description": "Workload Identity membership specific state.",
          "$ref": "WorkloadIdentityMembershipState"
        },
        "fleetobservability": {
          "description": "Fleet observability membership state.",
          "$ref": "FleetObservabilityMembershipState"
        },
        "configmanagement": {
          "description": "Config Management-specific state.",
          "$ref": "ConfigManagementMembershipState"
        },
        "servicemesh": {
          "description": "Service Mesh-specific state.",
          "$ref": "ServiceMeshMembershipState"
        },
        "state": {
          "description": "The high-level state of this Feature for a single membership.",
          "$ref": "FeatureState"
        },
        "clusterupgrade": {
          "description": "ClusterUpgrade state.",
          "$ref": "ClusterUpgradeMembershipState"
        }
      },
      "id": "MembershipFeatureState",
      "description": "MembershipFeatureState contains Feature status information for a single Membership.",
      "type": "object"
    },
    "FleetObservabilityFleetObservabilityMonitoringState": {
      "type": "object",
      "description": "Feature state for monitoring feature.",
      "id": "FleetObservabilityFleetObservabilityMonitoringState",
      "properties": {
        "state": {
          "description": "The base feature state of fleet monitoring feature.",
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState"
        }
      }
    },
    "ScopeFeatureSpec": {
      "description": "ScopeFeatureSpec contains feature specs for a fleet scope.",
      "type": "object",
      "properties": {},
      "id": "ScopeFeatureSpec"
    },
    "PolicyControllerBundleInstallSpec": {
      "description": "BundleInstallSpec is the specification configuration for a single managed bundle.",
      "type": "object",
      "properties": {
        "exemptedNamespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces to be exempted from the bundle."
        }
      },
      "id": "PolicyControllerBundleInstallSpec"
    },
    "ServiceMeshStatusDetails": {
      "id": "ServiceMeshStatusDetails",
      "properties": {
        "code": {
          "type": "string",
          "description": "A machine-readable code that further describes a broad status."
        },
        "details": {
          "description": "Human-readable explanation of code.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Structured and human-readable details for a status."
    },
    "FleetObservabilityFleetObservabilityLoggingState": {
      "description": "Feature state for logging feature.",
      "type": "object",
      "properties": {
        "scopeLog": {
          "description": "The base feature state of fleet scope log.",
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState"
        },
        "defaultLog": {
          "description": "The base feature state of fleet default log.",
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState"
        }
      },
      "id": "FleetObservabilityFleetObservabilityLoggingState"
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "type": "object",
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "id": "ConfigManagementPolicyControllerMonitoring",
      "properties": {
        "backends": {
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "type": "string",
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ]
          }
        }
      }
    },
    "MembershipEndpoint": {
      "id": "MembershipEndpoint",
      "properties": {
        "gkeCluster": {
          "description": "Optional. Specific information for a GKE on Google Cloud cluster.",
          "$ref": "GkeCluster"
        },
        "onPremCluster": {
          "description": "Optional. Specific information for a GKE On-Prem cluster. An onprem user-cluster who has no resourceLink is not allowed to use this field, it should have a nil \"type\" instead.",
          "$ref": "OnPremCluster"
        },
        "applianceCluster": {
          "description": "Optional. Specific information for a GDC Edge Appliance cluster.",
          "$ref": "ApplianceCluster"
        },
        "edgeCluster": {
          "description": "Optional. Specific information for a Google Edge cluster.",
          "$ref": "EdgeCluster"
        },
        "googleManaged": {
          "description": "Output only. Whether the lifecycle of this membership is managed by a google cluster platform service.",
          "readOnly": true,
          "type": "boolean"
        },
        "multiCloudCluster": {
          "description": "Optional. Specific information for a GKE Multi-Cloud cluster.",
          "$ref": "MultiCloudCluster"
        },
        "kubernetesResource": {
          "description": "Optional. The in-cluster Kubernetes Resources that should be applied for a correctly registered cluster, in the steady state. These resources: * Ensure that the cluster is exclusively registered to one and only one Hub Membership. * Propagate Workload Pool Information available in the Membership Authority field. * Ensure proper initial configuration of default Hub Features.",
          "$ref": "KubernetesResource"
        },
        "kubernetesMetadata": {
          "$ref": "KubernetesMetadata",
          "description": "Output only. Useful Kubernetes-specific metadata.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "MembershipEndpoint contains information needed to contact a Kubernetes API, endpoint and any additional Kubernetes metadata."
    },
    "ConfigManagementMembershipState": {
      "id": "ConfigManagementMembershipState",
      "properties": {
        "configSyncState": {
          "description": "Output only. Current sync status",
          "readOnly": true,
          "$ref": "ConfigManagementConfigSyncState"
        },
        "kubernetesApiServerVersion": {
          "type": "string",
          "description": "Output only. The Kubernetes API server version of the cluster.",
          "readOnly": true
        },
        "clusterName": {
          "description": "Output only. This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name.",
          "readOnly": true,
          "type": "string"
        },
        "membershipSpec": {
          "description": "Output only. Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state",
          "readOnly": true,
          "$ref": "ConfigManagementMembershipSpec"
        },
        "operatorState": {
          "$ref": "ConfigManagementOperatorState",
          "description": "Output only. Current install status of ACM's Operator",
          "readOnly": true
        },
        "policyControllerState": {
          "$ref": "ConfigManagementPolicyControllerState",
          "description": "Output only. PolicyController status",
          "readOnly": true
        },
        "hierarchyControllerState": {
          "description": "Output only. Hierarchy Controller status",
          "readOnly": true,
          "$ref": "ConfigManagementHierarchyControllerState"
        }
      },
      "type": "object",
      "description": "**Anthos Config Management**: State for a single cluster."
    },
    "ConfigManagementHierarchyControllerState": {
      "properties": {
        "version": {
          "description": "The version for Hierarchy Controller",
          "$ref": "ConfigManagementHierarchyControllerVersion"
        },
        "state": {
          "description": "The deployment state for Hierarchy Controller",
          "$ref": "ConfigManagementHierarchyControllerDeploymentState"
        }
      },
      "id": "ConfigManagementHierarchyControllerState",
      "description": "State for Hierarchy Controller",
      "type": "object"
    },
    "FeatureResourceState": {
      "id": "FeatureResourceState",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State is unknown or not set.",
            "The Feature is being enabled, and the Feature resource is being created. Once complete, the corresponding Feature will be enabled in this Fleet.",
            "The Feature is enabled in this Fleet, and the Feature resource is fully available.",
            "The Feature is being disabled in this Fleet, and the Feature resource is being deleted.",
            "The Feature resource is being updated.",
            "The Feature resource is being updated by the Hub Service."
          ],
          "type": "string",
          "description": "The current state of the Feature resource in the Hub API.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ]
        }
      },
      "type": "object",
      "description": "FeatureResourceState describes the state of a Feature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the Feature in the Fleet and across Memberships."
    },
    "ClusterUpgradeFleetSpec": {
      "properties": {
        "postConditions": {
          "description": "Required. Post conditions to evaluate to mark an upgrade COMPLETE. Required.",
          "$ref": "ClusterUpgradePostConditions"
        },
        "gkeUpgradeOverrides": {
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeGKEUpgradeOverride"
          },
          "description": "Allow users to override some properties of each GKE upgrade."
        },
        "upstreamFleets": {
          "description": "This fleet consumes upgrades that have COMPLETE status code in the upstream fleets. See UpgradeStatus.Code for code definitions. The fleet name should be either fleet project number or id. This is defined as repeated for future proof reasons. Initial implementation will enforce at most one upstream fleet.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ClusterUpgradeFleetSpec",
      "description": "**ClusterUpgrade**: The configuration for the fleet-level ClusterUpgrade feature.",
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "EdgeCluster": {
      "properties": {
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the Google Cloud resource for the Edge Cluster. For example: //edgecontainer.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster"
        }
      },
      "id": "EdgeCluster",
      "description": "EdgeCluster contains information specific to Google Edge Clusters.",
      "type": "object"
    },
    "AppDevExperienceFeatureState": {
      "id": "AppDevExperienceFeatureState",
      "properties": {
        "networkingInstallSucceeded": {
          "description": "Status of subcomponent that detects configured Service Mesh resources.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "State for App Dev Exp Feature."
    },
    "NamespaceLifecycleState": {
      "type": "object",
      "description": "NamespaceLifecycleState describes the state of a Namespace resource.",
      "id": "NamespaceLifecycleState",
      "properties": {
        "code": {
          "type": "string",
          "description": "Output only. The current state of the Namespace resource.",
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The code is not set.",
            "The namespace is being created.",
            "The namespace active.",
            "The namespace is being deleted.",
            "The namespace is being updated."
          ]
        }
      }
    },
    "Role": {
      "type": "object",
      "description": "Role is the type for Kubernetes roles",
      "id": "Role",
      "properties": {
        "predefinedRole": {
          "description": "predefined_role is the Kubernetes default role to use",
          "enum": [
            "UNKNOWN",
            "ADMIN",
            "EDIT",
            "VIEW",
            "ANTHOS_SUPPORT"
          ],
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN",
            "ADMIN has EDIT and RBAC permissions",
            "EDIT can edit all resources except RBAC",
            "VIEW can only read resources",
            "ANTHOS_SUPPORT gives Google Support read-only access to a number of cluster resources."
          ]
        },
        "customRole": {
          "description": "Optional. custom_role is the name of a custom KubernetesClusterRole to use.",
          "type": "string"
        }
      }
    },
    "ComplianceStandard": {
      "type": "object",
      "id": "ComplianceStandard",
      "properties": {
        "standard": {
          "description": "Name of the compliance standard.",
          "type": "string"
        }
      }
    },
    "IdentityServiceSimpleBindCredentials": {
      "description": "The structure holds the LDAP simple binding credential.",
      "type": "object",
      "properties": {
        "encryptedPassword": {
          "format": "byte",
          "description": "Output only. The encrypted password of the service account object/user.",
          "readOnly": true,
          "type": "string"
        },
        "dn": {
          "type": "string",
          "description": "Required. The distinguished name(DN) of the service account object/user."
        },
        "password": {
          "description": "Required. Input only. The password of the service account object/user.",
          "type": "string"
        }
      },
      "id": "IdentityServiceSimpleBindCredentials"
    },
    "ClusterUpgradeGKEUpgradeOverride": {
      "description": "Properties of a GKE upgrade that can be overridden by the user. For example, a user can skip soaking by overriding the soaking to 0.",
      "type": "object",
      "properties": {
        "upgrade": {
          "description": "Required. Which upgrade to override. Required.",
          "$ref": "ClusterUpgradeGKEUpgrade"
        },
        "postConditions": {
          "description": "Required. Post conditions to override for the specified upgrade (name + version). Required.",
          "$ref": "ClusterUpgradePostConditions"
        }
      },
      "id": "ClusterUpgradeGKEUpgradeOverride"
    },
    "ConfigManagementDeploymentOverride": {
      "description": "Configuration for a deployment override.",
      "type": "object",
      "properties": {
        "deploymentName": {
          "type": "string",
          "description": "Required. The name of the deployment resource to be overridden."
        },
        "deploymentNamespace": {
          "description": "Required. The namespace of the deployment resource to be overridden.",
          "type": "string"
        },
        "containers": {
          "description": "Optional. The containers of the deployment resource to be overridden.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementContainerOverride"
          }
        }
      },
      "id": "ConfigManagementDeploymentOverride"
    },
    "Authority": {
      "description": "Authority encodes how Google will recognize identities from this Membership. See the workload identity documentation for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity",
      "type": "object",
      "properties": {
        "identityProvider": {
          "type": "string",
          "description": "Output only. An identity provider that reflects the `issuer` in the workload identity pool.",
          "readOnly": true
        },
        "issuer": {
          "description": "Optional. A JSON Web Token (JWT) issuer URI. `issuer` must start with `https://` and be a valid URL with length <2000 characters, it must use `location` rather than `zone` for GKE clusters. If set, then Google will allow valid OIDC tokens from this issuer to authenticate within the workload_identity_pool. OIDC discovery will be performed on this URI to validate tokens from the issuer. Clearing `issuer` disables Workload Identity. `issuer` cannot be directly modified; it must be cleared (and Workload Identity disabled) before using a new issuer (and re-enabling Workload Identity).",
          "type": "string"
        },
        "scopeTenancyIdentityProvider": {
          "description": "Optional. Output only. The identity provider for the scope-tenancy workload identity pool.",
          "readOnly": true,
          "type": "string"
        },
        "workloadIdentityPool": {
          "type": "string",
          "description": "Output only. The name of the workload identity pool in which `issuer` will be recognized. There is a single Workload Identity Pool per Hub that is shared between all Memberships that belong to that Hub. For a Hub hosted in {PROJECT_ID}, the workload pool format is `{PROJECT_ID}.hub.id.goog`, although this is subject to change in newer versions of this API.",
          "readOnly": true
        },
        "scopeTenancyWorkloadIdentityPool": {
          "type": "string",
          "description": "Optional. Output only. The name of the scope-tenancy workload identity pool. This pool is set in the fleet-level feature.",
          "readOnly": true
        },
        "oidcJwks": {
          "format": "byte",
          "description": "Optional. OIDC verification keys for this Membership in JWKS format (RFC 7517). When this field is set, OIDC discovery will NOT be performed on `issuer`, and instead OIDC tokens will be validated using this field.",
          "type": "string"
        }
      },
      "id": "Authority"
    },
    "ClusterUpgradeIgnoredMembership": {
      "id": "ClusterUpgradeIgnoredMembership",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Reason why the membership is ignored."
        },
        "ignoredTime": {
          "type": "string",
          "description": "Time when the membership was first set to ignored.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default."
    },
    "ClusterUpgradeUpgradeStatus": {
      "type": "object",
      "description": "UpgradeStatus provides status information for each upgrade.",
      "id": "ClusterUpgradeUpgradeStatus",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Reason for this status."
        },
        "code": {
          "description": "Status code of the upgrade.",
          "enum": [
            "CODE_UNSPECIFIED",
            "INELIGIBLE",
            "PENDING",
            "IN_PROGRESS",
            "SOAKING",
            "FORCED_SOAKING",
            "COMPLETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Required by https://linter.aip.dev/126/unspecified.",
            "The upgrade is ineligible. At the scope level, this means the upgrade is ineligible for all the clusters in the scope.",
            "The upgrade is pending. At the scope level, this means the upgrade is pending for all the clusters in the scope.",
            "The upgrade is in progress. At the scope level, this means the upgrade is in progress for at least one cluster in the scope.",
            "The upgrade has finished and is soaking until the soaking time is up. At the scope level, this means at least one cluster is in soaking while the rest are either soaking or complete.",
            "A cluster will be forced to enter soaking if an upgrade doesn't finish within a certain limit, despite it's actual status.",
            "The upgrade has passed all post conditions (soaking). At the scope level, this means all eligible clusters are in COMPLETE status."
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Last timestamp the status was updated.",
          "format": "google-datetime"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "Status": {
      "type": "object",
      "description": "Status specifies state for the subcomponent.",
      "id": "Status",
      "properties": {
        "code": {
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ],
          "type": "string",
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ]
        },
        "description": {
          "description": "Description is populated if Code is Failed, explaining why it has failed.",
          "type": "string"
        }
      }
    },
    "IdentityServiceDiagnosticInterface": {
      "type": "object",
      "description": "Configuration options for the AIS diagnostic interface.",
      "id": "IdentityServiceDiagnosticInterface",
      "properties": {
        "enabled": {
          "description": "Determines whether to enable the diagnostic interface.",
          "type": "boolean"
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Determines the expiration time of the diagnostic interface enablement. When reached, requests to the interface would be automatically rejected."
        }
      }
    },
    "GenerateMembershipRBACRoleBindingYAMLResponse": {
      "description": "Response for GenerateRBACRoleBindingYAML.",
      "type": "object",
      "properties": {
        "roleBindingsYaml": {
          "type": "string",
          "description": "a yaml text blob including the RBAC policies."
        }
      },
      "id": "GenerateMembershipRBACRoleBindingYAMLResponse"
    },
    "ClusterUpgradePostConditions": {
      "properties": {
        "soaking": {
          "format": "google-duration",
          "description": "Required. Amount of time to \"soak\" after a rollout has been finished before marking it COMPLETE. Cannot exceed 30 days. Required.",
          "type": "string"
        }
      },
      "id": "ClusterUpgradePostConditions",
      "description": "Post conditional checks after an upgrade has been applied on all eligible clusters.",
      "type": "object"
    },
    "ConfigManagementInstallError": {
      "description": "Errors pertaining to the installation of ACM",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A string representing the user facing error message"
        }
      },
      "id": "ConfigManagementInstallError"
    },
    "Membership": {
      "type": "object",
      "description": "Membership contains information about a member cluster.",
      "id": "Membership",
      "properties": {
        "externalId": {
          "description": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the Membership was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "authority": {
          "description": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity",
          "$ref": "Authority"
        },
        "name": {
          "description": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes.",
          "readOnly": true
        },
        "clusterTier": {
          "type": "string",
          "description": "Output only. The tier of the cluster.",
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The ClusterTier is not set.",
            "The ClusterTier is standard.",
            "The ClusterTier is enterprise."
          ]
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the Membership was deleted.",
          "readOnly": true
        },
        "endpoint": {
          "description": "Optional. Endpoint information to reach this member.",
          "$ref": "MembershipEndpoint"
        },
        "lastConnectionTime": {
          "format": "google-datetime",
          "description": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. When the Membership was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "$ref": "MembershipState",
          "description": "Output only. State of the Membership resource.",
          "readOnly": true
        },
        "monitoringConfig": {
          "description": "Optional. The monitoring config information for this membership.",
          "$ref": "MonitoringConfig"
        },
        "membershipType": {
          "readOnly": true,
          "enumDescriptions": [
            "The MembershipType is not set.",
            "The membership supports only lightweight compatible features."
          ],
          "type": "string",
          "description": "Output only. The type of the membership.",
          "enum": [
            "MEMBERSHIP_TYPE_UNSPECIFIED",
            "LIGHTWEIGHT"
          ]
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels for this membership. These labels are not leveraged by multi-cluster features, instead, we prefer cluster labels, which can be set on GKE cluster or other cluster types.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uniqueId": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "IdentityServiceServiceAccountConfig": {
      "type": "object",
      "description": "Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate.",
      "id": "IdentityServiceServiceAccountConfig",
      "properties": {
        "simpleBindCredentials": {
          "description": "Credentials for basic auth.",
          "$ref": "IdentityServiceSimpleBindCredentials"
        }
      }
    },
    "PolicyControllerResourceList": {
      "properties": {
        "cpu": {
          "type": "string",
          "description": "CPU requirement expressed in Kubernetes resource units."
        },
        "memory": {
          "description": "Memory requirement expressed in Kubernetes resource units.",
          "type": "string"
        }
      },
      "id": "PolicyControllerResourceList",
      "description": "ResourceList contains container resource requirements.",
      "type": "object"
    },
    "ConfigManagementPolicyControllerVersion": {
      "id": "ConfigManagementPolicyControllerVersion",
      "properties": {
        "version": {
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The build version of Gatekeeper Policy Controller is using."
    },
    "Namespace": {
      "description": "Namespace represents a namespace across the Fleet",
      "type": "object",
      "properties": {
        "uid": {
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all namespace resources. If a namespace resource is deleted and another resource with the same name is created, it gets a different uid.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name for the namespace `projects/{project}/locations/{location}/namespaces/{namespace}`"
        },
        "deleteTime": {
          "description": "Output only. When the namespace was deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "scope": {
          "type": "string",
          "description": "Required. Scope associated with the namespace"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels for this Namespace.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "namespaceLabels": {
          "type": "object",
          "description": "Optional. Namespace-level cluster namespace labels. These labels are applied to the related namespace of the member clusters bound to the parent Scope. Scope-level labels (`namespace_labels` in the Fleet Scope resource) take precedence over Namespace-level labels if they share a key. Keys and values must be Kubernetes-conformant.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. When the namespace was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "$ref": "NamespaceLifecycleState",
          "description": "Output only. State of the namespace resource.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the namespace was created.",
          "readOnly": true
        }
      },
      "id": "Namespace"
    },
    "PolicyControllerPolicyContentState": {
      "id": "PolicyControllerPolicyContentState",
      "properties": {
        "templateLibraryState": {
          "description": "The state of the template library",
          "$ref": "PolicyControllerOnClusterState"
        },
        "referentialSyncConfigState": {
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user.",
          "$ref": "PolicyControllerOnClusterState"
        },
        "bundleStates": {
          "type": "object",
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          }
        }
      },
      "type": "object",
      "description": "The state of the policy controller policy content"
    },
    "ListFleetsResponse": {
      "id": "ListFleetsResponse",
      "properties": {
        "fleets": {
          "type": "array",
          "items": {
            "$ref": "Fleet"
          },
          "description": "The list of matching fleets."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. The token is only valid for 1h.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the `GkeHub.ListFleetsResponse` method."
    },
    "ConfigManagementPolicyControllerMigration": {
      "id": "ConfigManagementPolicyControllerMigration",
      "properties": {
        "copyTime": {
          "type": "string",
          "description": "Last time this membership spec was copied to PoCo feature.",
          "format": "google-datetime"
        },
        "stage": {
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ],
          "type": "string",
          "description": "Stage of the migration.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ]
        }
      },
      "type": "object",
      "description": "State for the migration of PolicyController from ACM -> PoCo Hub."
    },
    "ListBoundMembershipsResponse": {
      "type": "object",
      "description": "List of Memberships bound to a Scope.",
      "id": "ListBoundMembershipsResponse",
      "properties": {
        "memberships": {
          "description": "The list of Memberships bound to the given Scope.",
          "type": "array",
          "items": {
            "$ref": "Membership"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached while fetching this list."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListBoundMemberships` method. The value of an empty string means that there are no more resources to return."
        }
      }
    },
    "ClusterUpgradeMembershipState": {
      "type": "object",
      "description": "Per-membership state for this feature.",
      "id": "ClusterUpgradeMembershipState",
      "properties": {
        "ignored": {
          "description": "Whether this membership is ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel.",
          "$ref": "ClusterUpgradeIgnoredMembership"
        },
        "upgrades": {
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeMembershipGKEUpgradeState"
          },
          "description": "Actual upgrade state against desired."
        }
      }
    },
    "ClusterUpgradeGKEUpgradeFeatureState": {
      "type": "object",
      "description": "GKEUpgradeFeatureState contains feature states for GKE clusters in the scope.",
      "id": "ClusterUpgradeGKEUpgradeFeatureState",
      "properties": {
        "upgradeState": {
          "description": "Upgrade state. It will eventually replace `state`.",
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeGKEUpgradeState"
          }
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeGKEUpgradeFeatureCondition"
          },
          "description": "Current conditions of the feature."
        }
      }
    },
    "ServiceMeshControlPlaneManagement": {
      "description": "Status of control plane management.",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "description": "Explanation of state."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "description": "LifecycleState of control plane management.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ],
          "type": "string"
        },
        "implementation": {
          "enumDescriptions": [
            "Unspecified",
            "A Google build of istiod is used for the managed control plane.",
            "Traffic director is used for the managed control plane.",
            "The control plane implementation is being updated."
          ],
          "readOnly": true,
          "description": "Output only. Implementation of managed control plane.",
          "enum": [
            "IMPLEMENTATION_UNSPECIFIED",
            "ISTIOD",
            "TRAFFIC_DIRECTOR",
            "UPDATING"
          ],
          "type": "string"
        }
      },
      "id": "ServiceMeshControlPlaneManagement"
    },
    "ScopeLifecycleState": {
      "type": "object",
      "description": "ScopeLifecycleState describes the state of a Scope resource.",
      "id": "ScopeLifecycleState",
      "properties": {
        "code": {
          "enumDescriptions": [
            "The code is not set.",
            "The scope is being created.",
            "The scope active.",
            "The scope is being deleted.",
            "The scope is being updated."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the scope resource.",
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ]
        }
      }
    },
    "PolicyControllerResourceRequirements": {
      "id": "PolicyControllerResourceRequirements",
      "properties": {
        "limits": {
          "description": "Limits describes the maximum amount of compute resources allowed for use by the running container.",
          "$ref": "PolicyControllerResourceList"
        },
        "requests": {
          "description": "Requests describes the amount of compute resources reserved for the container by the kube-scheduler.",
          "$ref": "PolicyControllerResourceList"
        }
      },
      "type": "object",
      "description": "ResourceRequirements describes the compute resource requirements."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "FleetObservabilityMembershipState": {
      "properties": {},
      "id": "FleetObservabilityMembershipState",
      "description": "**FleetObservability**: Membership-specific Feature state for fleetobservability.",
      "type": "object"
    },
    "FleetObservabilityFeatureError": {
      "id": "FleetObservabilityFeatureError",
      "properties": {
        "code": {
          "description": "The code of the error.",
          "type": "string"
        },
        "description": {
          "description": "A human-readable description of the current status.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "All error details of the fleet observability feature."
    },
    "PolicyBinding": {
      "id": "PolicyBinding",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of the binauthz platform policy to audit. GKE platform policies have the following format: `projects/{project_number}/platforms/gke/policies/{policy_id}`."
        }
      },
      "type": "object",
      "description": "Binauthz policy that applies to this cluster."
    },
    "MultiCloudCluster": {
      "properties": {
        "resourceLink": {
          "description": "Immutable. Self-link of the Google Cloud resource for the GKE Multi-Cloud cluster. For example: //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/awsClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/azureClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/attachedClusters/my-cluster",
          "type": "string"
        },
        "clusterMissing": {
          "description": "Output only. If cluster_missing is set then it denotes that API(gkemulticloud.googleapis.com) resource for this GKE Multi-Cloud cluster no longer exists.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "MultiCloudCluster",
      "description": "MultiCloudCluster contains information specific to GKE Multi-Cloud clusters.",
      "type": "object"
    },
    "MembershipState": {
      "properties": {
        "code": {
          "readOnly": true,
          "enumDescriptions": [
            "The code is not set.",
            "The cluster is being registered.",
            "The cluster is registered.",
            "The cluster is being unregistered.",
            "The Membership is being updated.",
            "The Membership is being updated by the Hub Service."
          ],
          "description": "Output only. The current state of the Membership resource.",
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "type": "string"
        }
      },
      "id": "MembershipState",
      "description": "MembershipState describes the state of a Membership resource.",
      "type": "object"
    },
    "ApplianceCluster": {
      "type": "object",
      "description": "ApplianceCluster contains information specific to GDC Edge Appliance Clusters.",
      "id": "ApplianceCluster",
      "properties": {
        "resourceLink": {
          "description": "Immutable. Self-link of the Google Cloud resource for the Appliance Cluster. For example: //transferappliance.googleapis.com/projects/my-project/locations/us-west1-a/appliances/my-appliance",
          "type": "string"
        }
      }
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "IdentityServiceServerConfig": {
      "description": "Server settings for the external LDAP server.",
      "type": "object",
      "properties": {
        "host": {
          "type": "string",
          "description": "Required. Defines the hostname or IP of the LDAP server. Port is optional and will default to 389, if unspecified. For example, \"ldap.server.example\" or \"10.10.10.10:389\"."
        },
        "connectionType": {
          "type": "string",
          "description": "Optional. Defines the connection type to communicate with the LDAP server. If `starttls` or `ldaps` is specified, the certificate_authority_data should not be empty."
        },
        "certificateAuthorityData": {
          "type": "string",
          "description": "Optional. Contains a Base64 encoded, PEM formatted certificate authority certificate for the LDAP server. This must be provided for the \"ldaps\" and \"startTLS\" connections.",
          "format": "byte"
        }
      },
      "id": "IdentityServiceServerConfig"
    },
    "ClusterUpgradeMembershipGKEUpgradeState": {
      "id": "ClusterUpgradeMembershipGKEUpgradeState",
      "properties": {
        "upgrade": {
          "description": "Which upgrade to track the state.",
          "$ref": "ClusterUpgradeGKEUpgrade"
        },
        "status": {
          "description": "Status of the upgrade.",
          "$ref": "ClusterUpgradeUpgradeStatus"
        }
      },
      "type": "object",
      "description": "ScopeGKEUpgradeState is a GKEUpgrade and its state per-membership."
    },
    "FleetObservabilityFeatureState": {
      "description": "**FleetObservability**: Hub-wide Feature for FleetObservability feature. state.",
      "type": "object",
      "properties": {
        "logging": {
          "description": "The feature state of default logging.",
          "$ref": "FleetObservabilityFleetObservabilityLoggingState"
        },
        "monitoring": {
          "description": "The feature state of fleet monitoring.",
          "$ref": "FleetObservabilityFleetObservabilityMonitoringState"
        }
      },
      "id": "FleetObservabilityFeatureState"
    },
    "ConfigManagementSyncState": {
      "id": "ConfigManagementSyncState",
      "properties": {
        "lastSyncTime": {
          "description": "Timestamp type of when ACM last successfully synced the repo",
          "type": "string",
          "format": "google-datetime"
        },
        "lastSync": {
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String",
          "deprecated": true,
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementSyncError"
          },
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist."
        },
        "sourceToken": {
          "type": "string",
          "description": "Token indicating the state of the repo."
        },
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        },
        "code": {
          "enumDescriptions": [
            "Config Sync cannot determine a sync code",
            "Config Sync successfully synced the git Repo with the cluster",
            "Config Sync is in the progress of syncing a new change",
            "Indicates an error configuring Config Sync, and user action is required",
            "Config Sync has been installed but not configured",
            "Config Sync has not been installed",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "description": "Sync status code",
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "State indicating an ACM's progress syncing configurations to a cluster"
    },
    "FleetObservabilityRoutingConfig": {
      "id": "FleetObservabilityRoutingConfig",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "If UNSPECIFIED, fleet logging feature is disabled.",
            "logs will be copied to the destination project.",
            "logs will be moved to the destination project."
          ],
          "description": "mode configures the logs routing mode.",
          "enum": [
            "MODE_UNSPECIFIED",
            "COPY",
            "MOVE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "RoutingConfig configures the behaviour of fleet logging feature."
    },
    "ConfigManagementMembershipSpec": {
      "type": "object",
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "id": "ConfigManagementMembershipSpec",
      "properties": {
        "cluster": {
          "type": "string",
          "description": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector."
        },
        "management": {
          "type": "string",
          "description": "Optional. Deprecated: From version 1.21.0, automatic Feature management is unavailable, and Config Sync only supports manual upgrades.",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ],
          "deprecated": true
        },
        "policyController": {
          "description": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead.",
          "deprecated": true,
          "$ref": "ConfigManagementPolicyController"
        },
        "version": {
          "description": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy.",
          "type": "string"
        },
        "configSync": {
          "description": "Optional. Config Sync configuration for the cluster.",
          "$ref": "ConfigManagementConfigSync"
        },
        "hierarchyController": {
[...]
