{
  "kind": "discovery#restDescription",
  "revision": "20260422",
  "batchPath": "batch",
  "title": "GKE On-Prem API",
  "documentationLink": "https://cloud.google.com/anthos/clusters/docs/on-prem/",
  "mtlsRootUrl": "https://gkeonprem.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "canonicalName": "GKE On-Prem",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "id": "gkeonprem:v1",
  "name": "gkeonprem",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "baseUrl": "https://gkeonprem.googleapis.com/",
  "schemas": {
    "Fleet": {
      "description": "Fleet related configuration. Fleets are a Google Cloud concept for logically organizing clusters, letting you use and manage multi-cluster capabilities and apply consistent policies across your systems. See [Anthos Fleets](`https://cloud.google.com/anthos/multicluster-management/fleets`) for more details on Anthos multi-cluster capabilities using Fleets. ##",
      "properties": {
        "membership": {
          "description": "Output only. The name of the managed fleet Membership resource associated to this cluster. Membership names are formatted as `projects//locations//memberships/`.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Fleet"
    },
    "VmwareLoadBalancerConfig": {
      "id": "VmwareLoadBalancerConfig",
      "type": "object",
      "description": "Specifies the locad balancer config for the VMware user cluster.",
      "properties": {
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareF5BigIpConfig"
        },
        "vipConfig": {
          "$ref": "VmwareVipConfig",
          "description": "The VIPs used by the load balancer."
        },
        "seesawConfig": {
          "readOnly": true,
          "description": "Output only. Configuration for Seesaw typed load balancers.",
          "$ref": "VmwareSeesawConfig"
        },
        "metalLbConfig": {
          "description": "Configuration for MetalLB typed load balancers.",
          "$ref": "VmwareMetalLbConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareManualLbConfig"
        }
      }
    },
    "ValidationCheckStatus": {
      "id": "ValidationCheckStatus",
      "type": "object",
      "description": "ValidationCheckStatus defines the detailed validation check status.",
      "properties": {
        "result": {
          "description": "Individual checks which failed as part of the Preflight check execution.",
          "type": "array",
          "items": {
            "$ref": "ValidationCheckResult"
          }
        }
      }
    },
    "ListVmwareClustersResponse": {
      "description": "Response message for listing VMware Clusters.",
      "properties": {
        "vmwareClusters": {
          "description": "The list of VMware Cluster.",
          "type": "array",
          "items": {
            "$ref": "VmwareCluster"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListVmwareClustersResponse"
    },
    "BareMetalNetworkConfig": {
      "type": "object",
      "description": "Specifies the cluster network configuration.",
      "properties": {
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag."
        },
        "islandModeCidr": {
          "$ref": "BareMetalIslandModeCidrConfig",
          "description": "Configuration for island mode CIDR. In an island-mode network, nodes have unique IP addresses, but pods don't have unique addresses across clusters. This doesn't cause problems because pods in one cluster never directly communicate with pods in another cluster. Instead, there are gateways that mediate between a pod in one cluster and a pod in another cluster."
        },
        "multipleNetworkInterfacesConfig": {
          "$ref": "BareMetalMultipleNetworkInterfacesConfig",
          "description": "Configuration for multiple network interfaces."
        },
        "srIovConfig": {
          "description": "Configuration for SR-IOV.",
          "$ref": "BareMetalSrIovConfig"
        }
      },
      "id": "BareMetalNetworkConfig"
    },
    "Metric": {
      "id": "Metric",
      "description": "Progress metric is (string, int|float|string) pair.",
      "properties": {
        "metric": {
          "enumDescriptions": [
            "Not set.",
            "The total number of nodes being actuated.",
            "The number of nodes draining.",
            "The number of nodes actively upgrading.",
            "The number of nodes to be upgraded.",
            "The number of nodes upgraded.",
            "The number of nodes to fail actuation.",
            "The number of nodes healthy.",
            "The number of nodes reconciling.",
            "The number of nodes in maintenance mode.",
            "The number of completed preflight checks.",
            "The number of preflight checks running.",
            "The number of preflight checks failed.",
            "The total number of preflight checks."
          ],
          "description": "Required. The metric name.",
          "enum": [
            "METRIC_ID_UNSPECIFIED",
            "NODES_TOTAL",
            "NODES_DRAINING",
            "NODES_UPGRADING",
            "NODES_PENDING_UPGRADE",
            "NODES_UPGRADED",
            "NODES_FAILED",
            "NODES_HEALTHY",
            "NODES_RECONCILING",
            "NODES_IN_MAINTENANCE",
            "PREFLIGHTS_COMPLETED",
            "PREFLIGHTS_RUNNING",
            "PREFLIGHTS_FAILED",
            "PREFLIGHTS_TOTAL"
          ],
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "description": "For metrics with floating point value.",
          "format": "double"
        },
        "stringValue": {
          "type": "string",
          "description": "For metrics with custom values (ratios, visual progress, etc.)."
        },
        "intValue": {
          "type": "string",
          "description": "For metrics with integer value.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "VmwareAdminMetalLbConfig": {
      "type": "object",
      "description": "VmwareAdminMetalLbConfig represents configuration parameters for a MetalLB load balancer. For admin clusters, currently no configurations is needed.",
      "properties": {
        "enabled": {
          "description": "Whether MetalLB is enabled.",
          "type": "boolean"
        }
      },
      "id": "VmwareAdminMetalLbConfig"
    },
    "BareMetalAdminIslandModeCidrConfig": {
      "id": "BareMetalAdminIslandModeCidrConfig",
      "description": "BareMetalAdminIslandModeCidrConfig specifies the cluster CIDR configuration while running in island mode.",
      "properties": {
        "serviceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation."
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "BareMetalMetalLbConfig": {
      "description": "Represents configuration parameters for a MetalLB load balancer.",
      "properties": {
        "addressPools": {
          "type": "array",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools."
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running the load balancer. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used as the load balancer pool.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        }
      },
      "type": "object",
      "id": "BareMetalMetalLbConfig"
    },
    "VmwareControlPlaneV2Config": {
      "description": "Specifies control plane V2 config.",
      "properties": {
        "controlPlaneIpBlock": {
          "$ref": "VmwareIpBlock",
          "description": "Static IP addresses for the control plane nodes."
        }
      },
      "type": "object",
      "id": "VmwareControlPlaneV2Config"
    },
    "BareMetalApiServerArgument": {
      "description": "Represents an arg name->value pair. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
      "properties": {
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        },
        "argument": {
          "type": "string",
          "description": "Required. The argument name as it appears on the API Server command line, make sure to remove the leading dashes."
        }
      },
      "type": "object",
      "id": "BareMetalApiServerArgument"
    },
    "BareMetalAdminWorkloadNodeConfig": {
      "id": "BareMetalAdminWorkloadNodeConfig",
      "type": "object",
      "description": "BareMetalAdminWorkloadNodeConfig specifies the workload node configurations.",
      "properties": {
        "maxPodsPerNode": {
          "type": "string",
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter. By default 110 Pods are created per Node. Upper bound is 250 for both HA and non-HA admin cluster. Lower bound is 64 for non-HA admin cluster and 32 for HA admin cluster.",
          "format": "int64"
        }
      }
    },
    "VmwareAutoRepairConfig": {
      "id": "VmwareAutoRepairConfig",
      "description": "Specifies config to enable/disable auto repair. The cluster-health-controller is deployed only if Enabled is true.",
      "properties": {
        "enabled": {
          "description": "Whether auto repair is enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "BareMetalProxyConfig": {
      "id": "BareMetalProxyConfig",
      "description": "Specifies the cluster proxy configuration.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server."
        },
        "noProxy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"]."
        }
      },
      "type": "object"
    },
    "VmwareAddressPool": {
      "type": "object",
      "description": "Represents an IP pool used by the load balancer.",
      "properties": {
        "pool": {
          "type": "string",
          "description": "Required. The name of the address pool."
        },
        "addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5)."
        },
        "avoidBuggyIps": {
          "type": "boolean",
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses."
        },
        "manualAssign": {
          "type": "boolean",
          "description": "If true, prevent IP addresses from being automatically assigned."
        }
      },
      "id": "VmwareAddressPool"
    },
    "BareMetalAdminProxyConfig": {
      "description": "BareMetalAdminProxyConfig specifies the cluster proxy configuration.",
      "properties": {
        "uri": {
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` WARNING: Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server.",
          "type": "string"
        },
        "noProxy": {
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"].",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "BareMetalAdminProxyConfig"
    },
    "VmwareAdminManualLbConfig": {
      "properties": {
        "controlPlaneNodePort": {
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968).",
          "type": "integer",
          "format": "int32"
        },
        "konnectivityServerNodePort": {
          "format": "int32",
          "type": "integer",
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564)."
        },
        "ingressHttpsNodePort": {
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "type": "integer",
          "format": "int32"
        },
        "ingressHttpNodePort": {
          "format": "int32",
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "type": "integer"
        },
        "addonsNodePort": {
          "type": "integer",
          "description": "NodePort for add-ons server in the admin cluster.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "VmwareAdminManualLbConfig"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "BareMetalVipConfig": {
      "id": "BareMetalVipConfig",
      "type": "object",
      "description": "Specifies the VIP config for the bare metal load balancer.",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal user cluster.",
          "type": "string"
        },
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this bare metal user cluster.",
          "type": "string"
        }
      }
    },
    "BareMetalAdminCluster": {
      "description": "Resource that represents a bare metal admin cluster.",
      "properties": {
        "localName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The object name of the bare metal cluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs."
        },
        "osEnvironmentConfig": {
          "$ref": "BareMetalAdminOsEnvironmentConfig",
          "description": "OS environment related configurations."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "description": "Output only. The current state of the bare metal admin cluster.",
          "type": "string"
        },
        "bareMetalVersion": {
          "type": "string",
          "description": "The Anthos clusters on bare metal version for the bare metal admin cluster."
        },
        "clusterOperations": {
          "description": "Cluster operations configuration.",
          "$ref": "BareMetalAdminClusterOperationsConfig"
        },
        "networkConfig": {
          "description": "Network configuration.",
          "$ref": "BareMetalAdminNetworkConfig"
        },
        "storage": {
          "$ref": "BareMetalAdminStorageConfig",
          "description": "Storage configuration."
        },
        "maintenanceStatus": {
          "readOnly": true,
          "description": "Output only. MaintenanceStatus representing state of maintenance.",
          "$ref": "BareMetalAdminMaintenanceStatus"
        },
        "validationCheck": {
          "readOnly": true,
          "$ref": "ValidationCheck",
          "description": "Output only. ValidationCheck representing the result of the preflight check."
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the bare metal Admin Cluster.",
          "type": "boolean"
        },
        "deleteTime": {
          "description": "Output only. The time at which this bare metal admin cluster was deleted. If the resource is not deleted, this must be empty",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "A human readable description of this bare metal admin cluster."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The bare metal admin cluster resource name."
        },
        "maintenanceConfig": {
          "$ref": "BareMetalAdminMaintenanceConfig",
          "description": "Maintenance configuration."
        },
        "binaryAuthorization": {
          "description": "Binary Authorization related configurations.",
          "$ref": "BinaryAuthorization"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this bare metal admin cluster was last updated."
        },
        "annotations": {
          "description": "Annotations on the bare metal admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the bare metal admin cluster.",
          "type": "string"
        },
        "endpoint": {
          "type": "string",
          "description": "Output only. The IP address name of bare metal admin cluster's API server.",
          "readOnly": true
        },
        "nodeAccessConfig": {
          "$ref": "BareMetalAdminNodeAccessConfig",
          "description": "Node access related configurations."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this bare metal admin cluster was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "loadBalancer": {
          "description": "Load balancer configuration.",
          "$ref": "BareMetalAdminLoadBalancerConfig"
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalAdminWorkloadNodeConfig"
        },
        "proxy": {
          "$ref": "BareMetalAdminProxyConfig",
          "description": "Proxy configuration."
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "$ref": "Fleet",
          "readOnly": true
        },
        "status": {
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing detailed cluster status.",
          "readOnly": true
        },
        "controlPlane": {
          "description": "Control plane configuration.",
          "$ref": "BareMetalAdminControlPlaneConfig"
        },
        "securityConfig": {
          "description": "Security related configuration.",
          "$ref": "BareMetalAdminSecurityConfig"
        }
      },
      "type": "object",
      "id": "BareMetalAdminCluster"
    },
    "VmwareAdminLoadBalancerConfig": {
      "type": "object",
      "description": "VmwareAdminLoadBalancerConfig contains load balancer configuration for VMware admin cluster.",
      "properties": {
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareAdminVipConfig"
        },
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareAdminF5BigIpConfig"
        },
        "manualLbConfig": {
          "$ref": "VmwareAdminManualLbConfig",
          "description": "Manually configured load balancers."
        },
        "metalLbConfig": {
          "description": "MetalLB load balancers.",
          "$ref": "VmwareAdminMetalLbConfig"
        },
        "seesawConfig": {
          "$ref": "VmwareAdminSeesawConfig",
          "description": "Output only. Configuration for Seesaw typed load balancers.",
          "readOnly": true
        }
      },
      "id": "VmwareAdminLoadBalancerConfig"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    },
    "BareMetalControlPlaneNodePoolConfig": {
      "type": "object",
      "description": "Specifies the control plane node pool configuration.",
      "properties": {
        "nodePoolConfig": {
          "description": "Required. The generic configuration for a node pool running the control plane.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "id": "BareMetalControlPlaneNodePoolConfig"
    },
    "VmwareAdminHAControlPlaneConfig": {
      "id": "VmwareAdminHAControlPlaneConfig",
      "type": "object",
      "description": "Specifies HA admin control plane config.",
      "properties": {
        "controlPlaneIpBlock": {
          "description": "Static IP addresses for the admin control plane nodes.",
          "$ref": "VmwareIpBlock"
        }
      }
    },
    "BareMetalAdminApiServerArgument": {
      "type": "object",
      "description": "BareMetalAdminApiServerArgument represents an arg name->value pair. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
      "properties": {
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        },
        "argument": {
          "description": "Required. The argument name as it appears on the API Server command line please make sure to remove the leading dashes.",
          "type": "string"
        }
      },
      "id": "BareMetalAdminApiServerArgument"
    },
    "BareMetalAdminBgpPeerConfig": {
      "type": "object",
      "description": "BareMetalAdminBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer.",
      "properties": {
        "controlPlaneNodes": {
          "description": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "asn": {
          "type": "string",
          "description": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device.",
          "format": "int64"
        },
        "ipAddress": {
          "type": "string",
          "description": "Required. The IP address of the external peer device."
        }
      },
      "id": "BareMetalAdminBgpPeerConfig"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "BareMetalNodeConfig": {
      "id": "BareMetalNodeConfig",
      "type": "object",
      "description": "BareMetalNodeConfig lists machine addresses to access Nodes.",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "The default IPv4 address for SSH access and Kubernetes node. Example: 192.168.0.1"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels assigned to this node. An object containing a list of key/value pairs. The labels here, unioned with the labels set on BareMetalNodePoolConfig are the set of labels that will be applied to the node. If there are any conflicts, the BareMetalNodeConfig labels take precedence. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }."
        }
      }
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding"
    },
    "Version": {
      "id": "Version",
      "description": "Version describes the number of nodes at a given version under a resource.",
      "properties": {
        "version": {
          "description": "Resource version.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Number of machines under the above version."
        }
      },
      "type": "object"
    },
    "VmwareVCenterConfig": {
      "id": "VmwareVCenterConfig",
      "type": "object",
      "description": "Represents configuration for the VMware VCenter for the user cluster.",
      "properties": {
        "caCertData": {
          "description": "Contains the vCenter CA certificate public key for SSL verification.",
          "type": "string"
        },
        "address": {
          "description": "Output only. The vCenter IP address.",
          "type": "string",
          "readOnly": true
        },
        "cluster": {
          "description": "The name of the vCenter cluster for the user cluster.",
          "type": "string"
        },
        "folder": {
          "type": "string",
          "description": "The name of the vCenter folder for the user cluster."
        },
        "datastore": {
          "description": "The name of the vCenter datastore for the user cluster.",
          "type": "string"
        },
        "resourcePool": {
          "type": "string",
          "description": "The name of the vCenter resource pool for the user cluster."
        },
        "datacenter": {
          "type": "string",
          "description": "The name of the vCenter datacenter for the user cluster."
        },
        "storagePolicyName": {
          "description": "The name of the vCenter storage policy for the user cluster.",
          "type": "string"
        }
      }
    },
    "BareMetalAdminDrainedMachine": {
      "description": "BareMetalAdminDrainedMachine represents the machines that are drained.",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Drained machine IP address."
        }
      },
      "type": "object",
      "id": "BareMetalAdminDrainedMachine"
    },
    "VmwareDataplaneV2Config": {
      "description": "Contains configurations for Dataplane V2, which is optimized dataplane for Kubernetes networking. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dataplane-v2",
      "properties": {
        "dataplaneV2Enabled": {
          "type": "boolean",
          "description": "Enables Dataplane V2."
        },
        "windowsDataplaneV2Enabled": {
          "description": "Enable Dataplane V2 for clusters with Windows nodes.",
          "type": "boolean"
        },
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enable advanced networking which requires dataplane_v2_enabled to be set true."
        },
        "forwardMode": {
          "description": "Configure ForwardMode for Dataplane v2.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmwareDataplaneV2Config"
    },
    "BareMetalNodePoolUpgradePolicy": {
      "type": "object",
      "description": "BareMetalNodePoolUpgradePolicy defines the node pool upgrade policy.",
      "properties": {
        "parallelUpgradeConfig": {
          "description": "The parallel upgrade settings for worker node pools.",
          "$ref": "BareMetalParallelUpgradeConfig"
        }
      },
      "id": "BareMetalNodePoolUpgradePolicy"
    },
    "BareMetalNodePool": {
      "id": "BareMetalNodePool",
      "type": "object",
      "description": "Resource that represents a bare metal node pool.",
      "properties": {
        "annotations": {
          "type": "object",
          "description": "Annotations on the bare metal node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the bare metal node pool.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name for the bare metal node pool.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the bare metal node pool is being created.",
            "The RUNNING state indicates the bare metal node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the bare metal node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the bare metal node pool is being deleted.",
            "The ERROR state indicates the bare metal node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the bare metal node pool requires user action to restore full functionality."
          ],
          "type": "string",
          "description": "Output only. The current state of the bare metal node pool."
        },
        "updateTime": {
          "description": "Output only. The time at which this bare metal node pool was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "nodePoolConfig": {
          "$ref": "BareMetalNodePoolConfig",
          "description": "Required. Node pool configuration."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "upgradePolicy": {
          "$ref": "BareMetalNodePoolUpgradePolicy",
          "description": "The worker node pool upgrade policy."
        },
        "name": {
          "description": "Immutable. The bare metal node pool resource name.",
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing the detailed node pool status."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this bare metal node pool was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the bare metal node pool.",
          "type": "boolean",
          "readOnly": true
        },
        "deleteTime": {
          "description": "Output only. The time at which this bare metal node pool was deleted. If the resource is not deleted, this must be empty",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "BareMetalBgpLbConfig": {
      "type": "object",
      "description": "BareMetalBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer.",
      "properties": {
        "asn": {
          "format": "int64",
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation.",
          "type": "string"
        },
        "bgpPeerConfigs": {
          "type": "array",
          "items": {
            "$ref": "BareMetalBgpPeerConfig"
          },
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation."
        },
        "addressPools": {
          "type": "array",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools."
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        }
      },
      "id": "BareMetalBgpLbConfig"
    },
    "BareMetalMachineDrainStatus": {
      "description": "Represents the status of node machines that are undergoing drain operations.",
      "properties": {
        "drainedMachines": {
          "type": "array",
          "items": {
            "$ref": "BareMetalDrainedMachine"
          },
          "description": "The list of drained machines."
        },
        "drainingMachines": {
          "description": "The list of draning machines.",
          "type": "array",
          "items": {
            "$ref": "BareMetalDrainingMachine"
          }
        }
      },
      "type": "object",
      "id": "BareMetalMachineDrainStatus"
    },
    "ValidationCheckResult": {
      "id": "ValidationCheckResult",
      "description": "ValidationCheckResult defines the details about the validation check.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the validation check."
        },
        "state": {
          "enumDescriptions": [
            "The default value. The check result is unknown.",
            "The check failed.",
            "The check was skipped.",
            "The check itself failed to complete.",
            "The check encountered a warning."
          ],
          "description": "The validation check state.",
          "enum": [
            "STATE_UNKNOWN",
            "STATE_FAILURE",
            "STATE_SKIPPED",
            "STATE_FATAL",
            "STATE_WARNING"
          ],
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The category of the validation."
        },
        "reason": {
          "type": "string",
          "description": "A human-readable message of the check failure."
        },
        "details": {
          "type": "string",
          "description": "Detailed failure information, which might be unformatted."
        }
      },
      "type": "object"
    },
    "BareMetalClusterUpgradePolicy": {
      "type": "object",
      "description": "BareMetalClusterUpgradePolicy defines the cluster upgrade policy.",
      "properties": {
        "pause": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Pause is used to show the upgrade pause status. It's view only for now."
        },
        "policy": {
          "type": "string",
          "description": "Specifies which upgrade policy to use.",
          "enum": [
            "NODE_POOL_POLICY_UNSPECIFIED",
            "SERIAL",
            "CONCURRENT"
          ],
          "enumDescriptions": [
            "No upgrade policy selected.",
            "Upgrade worker node pools sequentially.",
            "Upgrade all worker node pools in parallel."
          ]
        }
      },
      "id": "BareMetalClusterUpgradePolicy"
    },
    "BareMetalAdminLoadBalancerNodePoolConfig": {
      "type": "object",
      "description": "Specifies the load balancer's node pool configuration.",
      "properties": {
        "nodePoolConfig": {
          "description": "The generic configuration for a node pool running a load balancer.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "id": "BareMetalAdminLoadBalancerNodePoolConfig"
    },
    "BareMetalAdminControlPlaneNodePoolConfig": {
      "type": "object",
      "description": "BareMetalAdminControlPlaneNodePoolConfig specifies the control plane node pool configuration. We have a control plane specific node pool config so that we can flexible about supporting control plane specific fields in the future.",
      "properties": {
        "nodePoolConfig": {
          "description": "Required. The generic configuration for a node pool running the control plane.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "id": "BareMetalAdminControlPlaneNodePoolConfig"
    },
    "BareMetalVersionInfo": {
      "id": "BareMetalVersionInfo",
      "type": "object",
      "description": "Contains information about a specific Anthos on bare metal version.",
      "properties": {
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "UpgradeDependency"
          },
          "description": "The list of upgrade dependencies for this version."
        },
        "version": {
          "type": "string",
          "description": "Version number e.g. 1.13.1."
        },
        "hasDependencies": {
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster, version skew policy, etc) must be upgraded before this version can be installed or upgraded to.",
          "type": "boolean"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "VmwareControlPlaneNodeConfig": {
      "id": "VmwareControlPlaneNodeConfig",
      "type": "object",
      "description": "Specifies control plane node config for the VMware user cluster.",
      "properties": {
        "cpus": {
          "type": "string",
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware user cluster. (default: 4 CPUs)",
          "format": "int64"
        },
        "memory": {
          "format": "int64",
          "type": "string",
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware user cluster (default: 8192 MB memory)."
        },
        "vsphereConfig": {
          "$ref": "VmwareControlPlaneVsphereConfig",
          "description": "Vsphere-specific config."
        },
        "autoResizeConfig": {
          "$ref": "VmwareAutoResizeConfig",
          "description": "AutoResizeConfig provides auto resizing configurations."
        },
        "replicas": {
          "description": "The number of control plane nodes for this VMware user cluster. (default: 1 replica).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "BareMetalParallelUpgradeConfig": {
      "description": "BareMetalParallelUpgradeConfig defines the parallel upgrade settings for worker node pools.",
      "properties": {
        "concurrentNodes": {
          "format": "int32",
          "description": "The maximum number of nodes that can be upgraded at once.",
          "type": "integer"
        },
        "minimumAvailableNodes": {
          "format": "int32",
          "description": "The minimum number of nodes that should be healthy and available during an upgrade. If set to the default value of 0, it is possible that none of the nodes will be available during an upgrade.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "BareMetalParallelUpgradeConfig"
    },
    "QueryBareMetalVersionConfigResponse": {
      "id": "QueryBareMetalVersionConfigResponse",
      "description": "Response message for querying bare metal admin cluster version config.",
      "properties": {
        "versions": {
          "description": "List of available versions to install or to upgrade to.",
          "type": "array",
          "items": {
            "$ref": "BareMetalVersionInfo"
          }
        }
      },
      "type": "object"
    },
    "ValidationCheck": {
      "description": "ValidationCheck represents the result of preflight check.",
      "properties": {
        "status": {
          "description": "Output only. The detailed validation check status.",
          "$ref": "ValidationCheckStatus",
          "readOnly": true
        },
        "scenario": {
          "description": "Output only. The scenario when the preflight checks were run.",
          "type": "string",
          "enum": [
            "SCENARIO_UNSPECIFIED",
            "CREATE",
            "UPDATE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The validation check occurred during a create flow.",
            "The validation check occurred during an update flow."
          ]
        },
        "option": {
          "enumDescriptions": [
            "Default value. Standard preflight validation check will be used.",
            "Prevent failed preflight checks from failing.",
            "Skip all preflight check validations."
          ],
          "description": "Options used for the validation check",
          "enum": [
            "OPTIONS_UNSPECIFIED",
            "SKIP_VALIDATION_CHECK_BLOCKING",
            "SKIP_VALIDATION_ALL"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ValidationCheck"
    },
    "BinaryAuthorization": {
      "type": "object",
      "description": "Configuration for Binary Authorization.",
      "properties": {
        "evaluationMode": {
          "type": "string",
          "description": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED.",
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ],
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy."
          ]
        }
      },
      "id": "BinaryAuthorization"
    },
    "VmwareIpBlock": {
      "id": "VmwareIpBlock",
      "type": "object",
      "description": "Represents a collection of IP addresses to assign to nodes.",
      "properties": {
        "netmask": {
          "type": "string",
          "description": "The netmask used by the VMware user cluster."
        },
        "ips": {
          "type": "array",
          "items": {
            "$ref": "VmwareHostIp"
          },
          "description": "The node's network configurations used by the VMware user cluster."
        },
        "gateway": {
          "type": "string",
          "description": "The network gateway used by the VMware user cluster."
        }
      }
    },
    "VmwareSeesawConfig": {
      "id": "VmwareSeesawConfig",
      "type": "object",
      "description": "VmwareSeesawConfig represents configuration parameters for an already existing Seesaw load balancer. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update Seesaw configurations it can only bind a pre-existing configuration to a new user cluster. IMPORTANT: When attempting to create a user cluster with a pre-existing Seesaw load balancer you will need to follow some preparation steps before calling the 'CreateVmwareCluster' API method. First you will need to create the user cluster's namespace via kubectl. The namespace will need to use the following naming convention : -gke-onprem-mgmt or -gke-onprem-mgmt depending on whether you used the 'VmwareCluster.local_name' to disambiguate collisions; for more context see the documentation of 'VmwareCluster.local_name'. Once the namespace is created you will need to create a secret resource via kubectl. This secret will contain copies of your Seesaw credentials. The Secret must be called 'user-cluster-creds' and contain Seesaw's SSH and Cert credentials. The credentials must be keyed with the following names: 'seesaw-ssh-private-key', 'seesaw-ssh-public-key', 'seesaw-ssh-ca-key', 'seesaw-ssh-ca-cert'.",
      "properties": {
        "masterIp": {
          "type": "string",
          "description": "Required. MasterIP is the IP announced by the master of Seesaw group."
        },
        "group": {
          "description": "Required. In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name].",
          "type": "string"
        },
        "enableHa": {
          "description": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer.",
          "type": "boolean"
        },
        "vms": {
          "description": "Names of the VMs created for this Seesaw group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "stackdriverName": {
          "type": "string",
          "description": "Name to be used by Stackdriver."
        },
        "ipBlocks": {
          "type": "array",
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "description": "Required. The IP Blocks to be used by the Seesaw load balancer"
        }
      }
    },
    "VmwareVsphereTag": {
      "type": "object",
      "description": "VmwareVsphereTag describes a vSphere tag to be placed on VMs in the node pool. For more information, see https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vcenterhost.doc/GUID-E8E854DD-AA97-4E0C-8419-CE84F93C4058.html",
      "properties": {
        "category": {
          "description": "The Vsphere tag category.",
          "type": "string"
        },
        "tag": {
          "description": "The Vsphere tag name.",
          "type": "string"
        }
      },
      "id": "VmwareVsphereTag"
    },
    "BareMetalCluster": {
      "id": "BareMetalCluster",
      "type": "object",
      "description": "Resource that represents a bare metal user cluster.",
      "properties": {
        "description": {
          "description": "A human readable description of this bare metal user cluster.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the bare metal user cluster."
        },
        "deleteTime": {
          "description": "Output only. The time when the bare metal user cluster was deleted. If the resource is not deleted, this must be empty",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "validationCheck": {
          "$ref": "ValidationCheck",
          "description": "Output only. The result of the preflight check.",
          "readOnly": true
        },
        "networkConfig": {
          "$ref": "BareMetalNetworkConfig",
          "description": "Required. Network configuration."
        },
        "storage": {
          "description": "Required. Storage configuration.",
          "$ref": "BareMetalStorageConfig"
        },
        "maintenanceStatus": {
          "readOnly": true,
          "description": "Output only. Status of on-going maintenance tasks.",
          "$ref": "BareMetalMaintenanceStatus"
        },
        "maintenanceConfig": {
          "$ref": "BareMetalMaintenanceConfig",
          "description": "Maintenance configuration."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "name": {
          "description": "Immutable. The bare metal user cluster resource name.",
          "type": "string"
        },
        "bareMetalVersion": {
          "description": "Required. The Anthos clusters on bare metal version for your user cluster.",
          "type": "string"
        },
        "clusterOperations": {
          "$ref": "BareMetalClusterOperationsConfig",
          "description": "Cluster operations configuration."
        },
        "state": {
          "description": "Output only. The current state of the bare metal user cluster.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ]
        },
        "adminClusterName": {
          "readOnly": true,
          "description": "Output only. The resource name of the bare metal admin cluster managing this user cluster.",
          "type": "string"
        },
        "localName": {
          "readOnly": true,
          "description": "Output only. The object name of the bare metal user cluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the name in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. When the local name and cluster name differ, the local name is used in the admin cluster controller logs. You use the cluster name when accessing the cluster using bmctl and kubectl.",
          "type": "string"
        },
        "osEnvironmentConfig": {
          "$ref": "BareMetalOsEnvironmentConfig",
          "description": "OS environment related configurations."
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership."
        },
        "proxy": {
          "$ref": "BareMetalProxyConfig",
          "description": "Proxy configuration."
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalWorkloadNodeConfig"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the bare metal user cluster was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "loadBalancer": {
          "$ref": "BareMetalLoadBalancerConfig",
          "description": "Required. Load balancer configuration."
        },
        "localNamespace": {
          "readOnly": true,
          "description": "Output only. The namespace of the cluster.",
          "type": "string"
        },
        "nodeAccessConfig": {
          "$ref": "BareMetalNodeAccessConfig",
          "description": "Node access related configurations."
        },
        "controlPlane": {
          "$ref": "BareMetalControlPlaneConfig",
          "description": "Required. Control plane configuration."
        },
        "securityConfig": {
          "$ref": "BareMetalSecurityConfig",
          "description": "Security related setting configuration."
        },
        "fleet": {
          "readOnly": true,
          "description": "Output only. Fleet configuration for the cluster.",
          "$ref": "Fleet"
        },
        "upgradePolicy": {
          "$ref": "BareMetalClusterUpgradePolicy",
          "description": "The cluster upgrade policy."
        },
        "status": {
          "$ref": "ResourceStatus",
          "description": "Output only. Detailed cluster status.",
          "readOnly": true
        },
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Binary Authorization related configurations."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the bare metal user cluster was last updated."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the bare metal user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object"
        },
        "uid": {
          "description": "Output only. The unique identifier of the bare metal user cluster.",
          "type": "string",
          "readOnly": true
        },
        "endpoint": {
          "type": "string",
          "description": "Output only. The IP address of the bare metal user cluster's API server.",
          "readOnly": true
        }
      }
    },
    "VmwareHostConfig": {
      "description": "Represents the common parameters for all the hosts irrespective of their IP address.",
      "properties": {
        "ntpServers": {
          "description": "NTP servers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DNS servers."
        },
        "dnsSearchDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DNS search domains."
        }
      },
      "type": "object",
      "id": "VmwareHostConfig"
    },
    "VmwareAdminVipConfig": {
      "id": "VmwareAdminVipConfig",
      "type": "object",
      "description": "VmwareAdminVipConfig for VMware load balancer configurations.",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of the admin cluster.",
          "type": "string"
        },
        "addonsVip": {
          "description": "The VIP to configure the load balancer for add-ons.",
          "type": "string"
        }
      }
    },
    "BareMetalLoadBalancerConfig": {
      "id": "BareMetalLoadBalancerConfig",
      "description": "Specifies the load balancer configuration.",
      "properties": {
        "bgpLbConfig": {
          "$ref": "BareMetalBgpLbConfig",
          "description": "Configuration for BGP typed load balancers. When set network_config.advanced_networking is automatically set to true."
        },
        "vipConfig": {
          "$ref": "BareMetalVipConfig",
          "description": "The VIPs used by the load balancer."
        },
        "portConfig": {
          "description": "Configures the ports that the load balancer will listen on.",
          "$ref": "BareMetalPortConfig"
        },
        "metalLbConfig": {
          "$ref": "BareMetalMetalLbConfig",
          "description": "Configuration for MetalLB load balancers."
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "BareMetalManualLbConfig"
        }
      },
      "type": "object"
    },
    "VmwareManualLbConfig": {
      "id": "VmwareManualLbConfig",
      "type": "object",
      "description": "Represents configuration parameters for an already existing manual load balancer. Given the nature of manual load balancers it is expected that said load balancer will be fully managed by users. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update ManualLB configurations it can only bind a pre-existing configuration to a new VMware user cluster.",
      "properties": {
        "ingressHttpNodePort": {
          "format": "int32",
          "type": "integer",
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527)."
        },
        "controlPlaneNodePort": {
          "format": "int32",
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968).",
          "type": "integer"
        },
        "konnectivityServerNodePort": {
          "format": "int32",
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564).",
          "type": "integer"
        },
        "ingressHttpsNodePort": {
          "format": "int32",
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "type": "integer"
        }
      }
    },
    "BareMetalStorageConfig": {
      "id": "BareMetalStorageConfig",
      "description": "BareMetalStorageConfig specifies the cluster storage configuration.",
      "properties": {
        "lvpShareConfig": {
          "$ref": "BareMetalLvpShareConfig",
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation."
        },
        "lvpNodeMountsConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation.",
          "$ref": "BareMetalLvpConfig"
        }
      },
      "type": "object"
    },
    "BareMetalAdminMaintenanceStatus": {
      "id": "BareMetalAdminMaintenanceStatus",
      "description": "BareMetalAdminMaintenanceStatus represents the maintenance status for bare metal Admin cluster CR's nodes.",
      "properties": {
        "machineDrainStatus": {
          "$ref": "BareMetalAdminMachineDrainStatus",
          "description": "Represents the status of draining and drained machine nodes. This is used to show the progress of cluster upgrade."
        }
      },
      "type": "object"
    },
    "VmwareControlPlaneVsphereConfig": {
      "description": "Specifies control plane node config.",
      "properties": {
        "datastore": {
          "description": "The Vsphere datastore used by the control plane Node.",
          "type": "string"
        },
        "storagePolicyName": {
          "type": "string",
          "description": "The Vsphere storage policy used by the control plane Node."
        }
      },
      "type": "object",
      "id": "VmwareControlPlaneVsphereConfig"
    },
    "VmwareAdminNetworkConfig": {
      "description": "VmwareAdminNetworkConfig contains network configuration for VMware admin cluster.",
      "properties": {
        "haControlPlaneConfig": {
          "description": "Configuration for HA admin cluster control plane.",
          "$ref": "VmwareAdminHAControlPlaneConfig"
        },
        "hostConfig": {
          "description": "Represents common network settings irrespective of the host's IP address.",
          "$ref": "VmwareHostConfig"
        },
        "vcenterNetwork": {
          "type": "string",
          "description": "vcenter_network specifies vCenter network name."
        },
        "staticIpConfig": {
          "$ref": "VmwareStaticIpConfig",
          "description": "Configuration settings for a static IP configuration."
        },
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        },
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "podAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation."
        }
      },
      "type": "object",
      "id": "VmwareAdminNetworkConfig"
    },
    "BareMetalAdminMaintenanceConfig": {
      "id": "BareMetalAdminMaintenanceConfig",
      "description": "BareMetalAdminMaintenanceConfig specifies configurations to put bare metal Admin cluster CRs nodes in and out of maintenance.",
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource."
        }
      },
      "type": "object"
    },
    "BareMetalNodePoolConfig": {
      "id": "BareMetalNodePoolConfig",
      "description": "BareMetalNodePoolConfig describes the configuration of all nodes within a given bare metal node pool.",
      "properties": {
        "operatingSystem": {
          "enumDescriptions": [
            "No operating system runtime selected.",
            "Linux operating system."
          ],
          "type": "string",
          "description": "Specifies the nodes operating system (default: LINUX).",
          "enum": [
            "OPERATING_SYSTEM_UNSPECIFIED",
            "LINUX"
          ]
        },
        "labels": {
          "type": "object",
          "description": "The labels assigned to nodes of this node pool. An object containing a list of key/value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "nodeConfigs": {
          "type": "array",
          "items": {
            "$ref": "BareMetalNodeConfig"
          },
          "description": "Required. The list of machine addresses in the bare metal node pool."
        },
        "kubeletConfig": {
          "description": "The modifiable kubelet configurations for the bare metal machines.",
          "$ref": "BareMetalKubeletConfig"
        },
        "taints": {
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          },
          "description": "The initial taints assigned to nodes of this node pool."
        }
      },
      "type": "object"
    },
    "VmwareNodeConfig": {
      "id": "VmwareNodeConfig",
      "description": "Parameters that describe the configuration of all nodes within a given node pool.",
      "properties": {
        "cpus": {
          "description": "The number of CPUs for each node in the node pool.",
          "type": "string",
          "format": "int64"
        },
        "memoryMb": {
          "format": "int64",
          "type": "string",
          "description": "The megabytes of memory for each node in the node pool."
        },
        "image": {
          "type": "string",
          "description": "The OS image name in vCenter, only valid when using Windows."
        },
        "replicas": {
          "description": "The number of nodes in the node pool.",
          "type": "string",
          "format": "int64"
        },
        "imageType": {
          "type": "string",
          "description": "Required. The OS image to be used for each node in a node pool. Currently `cos`, `cos_cgv2`, `ubuntu`, `ubuntu_cgv2`, `ubuntu_containerd` and `windows` are supported."
        },
        "enableLoadBalancer": {
          "description": "Allow node pool traffic to be load balanced. Only works for clusters with MetalLB load balancers.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
          "type": "object"
        },
        "vsphereConfig": {
          "$ref": "VmwareVsphereConfig",
          "description": "Specifies the vSphere config for node pool."
        },
        "taints": {
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          },
          "description": "The initial taints assigned to nodes of this node pool."
        },
        "bootDiskSizeGb": {
          "type": "string",
          "description": "VMware disk size to be used during creation.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "VmwareAdminAuthorizationConfig": {
      "id": "VmwareAdminAuthorizationConfig",
      "type": "object",
      "description": "VmwareAdminAuthorizationConfig represents configuration for admin cluster authorization.",
      "properties": {
        "viewerUsers": {
          "type": "array",
          "items": {
            "$ref": "ClusterUser"
          },
          "description": "For VMware admin clusters, users will be granted the cluster-viewer role on the cluster."
        }
      }
    },
    "ListVmwareNodePoolsResponse": {
      "description": "Response message for listing VMware node pools.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "vmwareNodePools": {
          "description": "The node pools from the specified parent resource.",
          "type": "array",
          "items": {
            "$ref": "VmwareNodePool"
          }
        }
      },
      "type": "object",
      "id": "ListVmwareNodePoolsResponse"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "ListBareMetalNodePoolsResponse": {
      "id": "ListBareMetalNodePoolsResponse",
      "type": "object",
      "description": "Response message for listing bare metal node pools.",
      "properties": {
        "bareMetalNodePools": {
          "description": "The node pools from the specified parent resource.",
          "type": "array",
          "items": {
            "$ref": "BareMetalNodePool"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "VmwareStorageConfig": {
      "id": "VmwareStorageConfig",
      "type": "object",
      "description": "Specifies vSphere CSI components deployment config in the VMware user cluster.",
      "properties": {
        "vsphereCsiDisabled": {
          "description": "Whether or not to deploy vSphere CSI components in the VMware user cluster. Enabled by default.",
          "type": "boolean"
        }
      }
    },
    "VmwareNetworkConfig": {
      "description": "Specifies network config for the VMware user cluster.",
      "properties": {
        "hostConfig": {
          "$ref": "VmwareHostConfig",
          "description": "Represents common network settings irrespective of the host's IP address."
        },
        "staticIpConfig": {
          "description": "Configuration settings for a static IP configuration.",
          "$ref": "VmwareStaticIpConfig"
        },
        "vcenterNetwork": {
          "type": "string",
          "description": "vcenter_network specifies vCenter network name. Inherited from the admin cluster."
        },
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        },
        "controlPlaneV2Config": {
          "description": "Configuration for control plane V2 mode.",
          "$ref": "VmwareControlPlaneV2Config"
        },
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "podAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation."
        }
      },
      "type": "object",
      "id": "VmwareNetworkConfig"
    },
    "Versions": {
      "type": "object",
      "description": "Versions describes the mapping of a given version to the number of machines under this version.",
      "properties": {
        "versions": {
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        }
      },
      "id": "Versions"
    },
    "VmwareAdminProxy": {
      "id": "VmwareAdminProxy",
      "type": "object",
      "description": "VmwareAdminProxy represents configuration for admin cluster proxy.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The HTTP address of proxy server."
        },
        "noProxy": {
          "description": "A comma-separated list of IP addresses, IP address ranges, host names, and domain names that should not go through the proxy server. When Google Distributed Cloud sends a request to one of these addresses, hosts, or domains, the request is sent directly.",
          "type": "string"
        }
      }
    },
    "EnrollBareMetalClusterRequest": {
      "description": "Message for enrolling an existing bare metal cluster to the Anthos On-Prem API.",
      "properties": {
        "localName": {
          "description": "Optional. The object name of the bare metal cluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the bare_metal_cluster_id. Otherwise, it must match the object name of the bare metal cluster custom resource. It is not modifiable outside / beyond the enrollment operation.",
          "type": "string"
        },
        "bareMetalClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all bare metal clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format."
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        },
        "localNamespace": {
          "description": "Optional. The namespace of the cluster.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnrollBareMetalClusterRequest"
    },
    "BareMetalMultipleNetworkInterfacesConfig": {
      "type": "object",
      "description": "Specifies the multiple networking interfaces cluster configuration.",
      "properties": {
        "enabled": {
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true.",
          "type": "boolean"
        }
      },
      "id": "BareMetalMultipleNetworkInterfacesConfig"
    },
    "Authorization": {
      "type": "object",
      "description": "Authorization defines the On-Prem cluster authorization configuration to bootstrap onto the admin cluster.",
      "properties": {
        "adminUsers": {
          "description": "For VMware and bare metal user clusters, users will be granted the cluster-admin role on the cluster, which provides full administrative access to the cluster. For bare metal admin clusters, users will be granted the cluster-view role, which limits users to read-only access.",
          "type": "array",
          "items": {
            "$ref": "ClusterUser"
          }
        }
      },
      "id": "Authorization"
    },
    "ResourceStatus": {
      "type": "object",
      "description": "ResourceStatus describes why a cluster or node pool has a certain status. (e.g., ERROR or DEGRADED).",
      "properties": {
        "versions": {
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "$ref": "Versions"
        },
        "errorMessage": {
          "description": "Human-friendly representation of the error message from controller. The error message can be temporary as the controller controller creates a cluster or node pool. If the error message persists for a longer period of time, it can be used to surface error message to indicate real problems requiring user intervention.",
          "type": "string"
        },
        "conditions": {
          "description": "ResourceCondition provide a standard mechanism for higher-level status reporting from controller.",
          "type": "array",
          "items": {
            "$ref": "ResourceCondition"
          }
        },
        "version": {
          "description": "Reflect current version of the resource.",
          "type": "string"
        }
      },
      "id": "ResourceStatus"
    },
    "VmwareAdminVCenterConfig": {
      "id": "VmwareAdminVCenterConfig",
      "description": "VmwareAdminVCenterConfig contains VCenter configuration for VMware admin cluster.",
      "properties": {
        "caCertData": {
          "type": "string",
          "description": "Contains the vCenter CA certificate public key for SSL verification."
        },
        "address": {
          "description": "The vCenter IP address.",
          "type": "string"
        },
        "dataDisk": {
          "description": "The name of the virtual machine disk (VMDK) for the admin cluster.",
          "type": "string"
        },
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the admin cluster.",
          "type": "string"
        },
        "datacenter": {
          "description": "The name of the vCenter datacenter for the admin cluster.",
          "type": "string"
        },
        "storagePolicyName": {
          "type": "string",
          "description": "The name of the vCenter storage policy for the user cluster."
        },
        "cluster": {
          "type": "string",
          "description": "The name of the vCenter cluster for the admin cluster."
        },
        "folder": {
          "description": "The name of the vCenter folder for the admin cluster.",
          "type": "string"
        },
        "datastore": {
          "type": "string",
          "description": "The name of the vCenter datastore for the admin cluster."
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "OperationStage": {
      "id": "OperationStage",
      "type": "object",
      "description": "Information about a particular stage of an operation.",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The stage is pending.",
            "The stage is running",
            "The stage has completed successfully.",
            "The stage has failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. State of the stage."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time the stage ended.",
          "type": "string"
        },
        "stage": {
          "description": "The high-level stage of the operation.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "PREFLIGHT_CHECK",
            "CONFIGURE",
            "DEPLOY",
            "HEALTH_CHECK",
            "UPDATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Preflight checks are running.",
            "Resource is being configured.",
            "Resource is being deployed.",
            "Waiting for the resource to become healthy.",
            "Resource is being updated."
          ]
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Progress metric bundle."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the stage started."
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
[...]
