{
  "documentationLink": "https://developers.google.com/workspace/gmail/api/",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Gmail",
  "name": "gmail",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "rootUrl": "https://gmail.googleapis.com/",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "description": "The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.",
  "ownerName": "Google",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "revision": "20260413",
  "title": "Gmail API",
  "schemas": {
    "LanguageSettings": {
      "properties": {
        "displayLanguage": {
          "type": "string",
          "description": "The language to display Gmail in, formatted as an RFC 3066 Language Tag (for example `en-GB`, `fr` or `ja` for British English, French, or Japanese respectively). The set of languages supported by Gmail evolves over time, so please refer to the \"Language\" dropdown in the Gmail settings for all available options, as described in the language settings help article. For a table of sample values, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). Not all Gmail clients can display the same set of languages. In the case that a user's display language is not available for use on a particular client, said client automatically chooses to display in the closest supported variant (or a reasonable default)."
        }
      },
      "description": "Language settings for an account. These settings correspond to the \"Language settings\" feature in the web interface.",
      "id": "LanguageSettings",
      "type": "object"
    },
    "WatchRequest": {
      "properties": {
        "labelFilterAction": {
          "type": "string",
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "enum": [
            "include",
            "exclude"
          ],
          "deprecated": true,
          "description": "Filtering behavior of `labelIds list` specified. This field is deprecated because it caused incorrect behavior in some cases; use `label_filter_behavior` instead."
        },
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of label_ids to restrict notifications about. By default, if unspecified, all changes are pushed out. If specified then dictates which labels are required for a push notification to be generated."
        },
        "topicName": {
          "type": "string",
          "description": "A fully qualified Google Cloud Pub/Sub API topic name to publish the events to. This topic name **must** already exist in Cloud Pub/Sub and you **must** have already granted gmail \"publish\" permission on it. For example, \"projects/my-project-identifier/topics/my-topic-name\" (using the Cloud Pub/Sub \"v1\" topic naming format). Note that the \"my-project-identifier\" portion must exactly match your Google developer project id (the one executing this watch request)."
        },
        "labelFilterBehavior": {
          "description": "Filtering behavior of `labelIds list` specified. This field replaces `label_filter_action`; if set, `label_filter_action` is ignored.",
          "type": "string",
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "enum": [
            "include",
            "exclude"
          ]
        }
      },
      "description": "Set up or update a new push notification watch on this user's mailbox.",
      "id": "WatchRequest",
      "type": "object"
    },
    "ListFiltersResponse": {
      "id": "ListFiltersResponse",
      "type": "object",
      "description": "Response for the ListFilters method.",
      "properties": {
        "filter": {
          "description": "List of a user's filters.",
          "items": {
            "$ref": "Filter"
          },
          "type": "array"
        }
      }
    },
    "MessagePartHeader": {
      "id": "MessagePartHeader",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the header after the `:` separator. For example, `someuser@example.com`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the header before the `:` separator. For example, `To`.",
          "type": "string"
        }
      }
    },
    "VacationSettings": {
      "properties": {
        "endTime": {
          "format": "int64",
          "description": "An optional end time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives before the end time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "type": "string"
        },
        "responseSubject": {
          "type": "string",
          "description": "Optional text to prepend to the subject line in vacation responses. In order to enable auto-replies, either the response subject or the response body must be nonempty."
        },
        "responseBodyHtml": {
          "type": "string",
          "description": "Response body in HTML format. Gmail will sanitize the HTML before storing it. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used."
        },
        "restrictToContacts": {
          "description": "Flag that determines whether responses are sent to recipients who are not in the user's list of contacts.",
          "type": "boolean"
        },
        "enableAutoReply": {
          "description": "Flag that controls whether Gmail automatically replies to messages.",
          "type": "boolean"
        },
        "startTime": {
          "description": "An optional start time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives after the start time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "format": "int64",
          "type": "string"
        },
        "responseBodyPlainText": {
          "description": "Response body in plain text format. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used.",
          "type": "string"
        },
        "restrictToDomain": {
          "type": "boolean",
          "description": "Flag that determines whether responses are sent to recipients who are outside of the user's domain. This feature is only available for Google Workspace users."
        }
      },
      "description": "Vacation auto-reply settings for an account. These settings correspond to the \"Vacation responder\" feature in the web interface.",
      "id": "VacationSettings",
      "type": "object"
    },
    "ClassificationLabelValue": {
      "id": "ClassificationLabelValue",
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "description": "Field values for the given classification label ID.",
          "items": {
            "$ref": "ClassificationLabelFieldValue"
          }
        },
        "labelId": {
          "description": "Required. The canonical or raw alphanumeric classification label ID. Maps to the ID field of the Google Drive Label resource.",
          "type": "string"
        }
      },
      "description": "Classification Labels applied to the email message. Classification Labels are different from Gmail inbox labels. Only used for Google Workspace accounts. [Learn more about classification labels](https://support.google.com/a/answer/9292382)."
    },
    "DisableCseKeyPairRequest": {
      "properties": {},
      "description": "Requests to turn off a client-side encryption key pair.",
      "id": "DisableCseKeyPairRequest",
      "type": "object"
    },
    "ListDelegatesResponse": {
      "description": "Response for the ListDelegates method.",
      "properties": {
        "delegates": {
          "description": "List of the user's delegates (with any verification status). If an account doesn't have delegates, this field doesn't appear.",
          "items": {
            "$ref": "Delegate"
          },
          "type": "array"
        }
      },
      "id": "ListDelegatesResponse",
      "type": "object"
    },
    "KaclsKeyMetadata": {
      "id": "KaclsKeyMetadata",
      "type": "object",
      "properties": {
        "kaclsUri": {
          "description": "The URI of the key access control list service that manages the private key.",
          "type": "string"
        },
        "kaclsData": {
          "description": "Opaque data generated and used by the key access control list service. Maximum size: 8 KiB.",
          "type": "string"
        }
      },
      "description": "Metadata for private keys managed by an external key access control list service. For details about managing key access, see [Google Workspace CSE API Reference](https://developers.google.com/workspace/cse/reference)."
    },
    "ListLabelsResponse": {
      "id": "ListLabelsResponse",
      "type": "object",
      "properties": {
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "description": "List of labels. Note that each label resource only contains an `id`, `name`, `messageListVisibility`, `labelListVisibility`, and `type`. The [`labels.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/labels/get) method can fetch additional label details.",
          "type": "array"
        }
      }
    },
    "ListCseKeyPairsResponse": {
      "id": "ListCseKeyPairsResponse",
      "type": "object",
      "properties": {
        "cseKeyPairs": {
          "type": "array",
          "description": "One page of the list of CSE key pairs installed for the user.",
          "items": {
            "$ref": "CseKeyPair"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be passed to a subsequent ListCseKeyPairs call in order to retrieve the next page of key pairs. If this value is not returned, then no further pages remain.",
          "type": "string"
        }
      }
    },
    "CsePrivateKeyMetadata": {
      "id": "CsePrivateKeyMetadata",
      "type": "object",
      "properties": {
        "privateKeyMetadataId": {
          "type": "string",
          "description": "Output only. The immutable ID for the private key metadata instance.",
          "readOnly": true
        },
        "hardwareKeyMetadata": {
          "description": "Metadata for hardware keys.",
          "$ref": "HardwareKeyMetadata"
        },
        "kaclsKeyMetadata": {
          "description": "Metadata for a private key instance managed by an external key access control list service.",
          "$ref": "KaclsKeyMetadata"
        }
      },
      "description": "Metadata for a private key instance."
    },
    "ForwardingAddress": {
      "properties": {
        "forwardingEmail": {
          "type": "string",
          "description": "An email address to which messages can be forwarded."
        },
        "verificationStatus": {
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use for forwarding.",
            "The address is awaiting verification by the owner."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "type": "string",
          "description": "Indicates whether this address has been verified and is usable for forwarding. Read-only."
        }
      },
      "description": "Settings for a forwarding address.",
      "id": "ForwardingAddress",
      "type": "object"
    },
    "SignAndEncryptKeyPairs": {
      "id": "SignAndEncryptKeyPairs",
      "type": "object",
      "description": "The configuration of a CSE identity that uses different key pairs for signing and encryption.",
      "properties": {
        "signingKeyPairId": {
          "type": "string",
          "description": "The ID of the CseKeyPair that signs outgoing mail."
        },
        "encryptionKeyPairId": {
          "type": "string",
          "description": "The ID of the CseKeyPair that encrypts signed outgoing mail."
        }
      }
    },
    "SmtpMsa": {
      "id": "SmtpMsa",
      "type": "object",
      "properties": {
        "host": {
          "type": "string",
          "description": "The hostname of the SMTP service. Required."
        },
        "username": {
          "description": "The username that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses.",
          "type": "string"
        },
        "securityMode": {
          "description": "The protocol that will be used to secure communication with the SMTP service. Required.",
          "enumDescriptions": [
            "Unspecified security mode.",
            "Communication with the remote SMTP service is unsecured. Requires port 25.",
            "Communication with the remote SMTP service is secured using SSL.",
            "Communication with the remote SMTP service is secured using STARTTLS."
          ],
          "enum": [
            "securityModeUnspecified",
            "none",
            "ssl",
            "starttls"
          ],
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "The port of the SMTP service. Required.",
          "type": "integer"
        },
        "password": {
          "description": "The password that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses.",
          "type": "string"
        }
      },
      "description": "Configuration for communication with an SMTP service."
    },
    "Delegate": {
      "id": "Delegate",
      "type": "object",
      "description": "Settings for a delegate. Delegates can read, send, and delete messages, as well as view and add contacts, for the delegator's account. See \"Set up mail delegation\" for more information about delegates.",
      "properties": {
        "delegateEmail": {
          "description": "The email address of the delegate.",
          "type": "string"
        },
        "verificationStatus": {
          "description": "Indicates whether this address has been verified and can act as a delegate for the account. Read-only.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address can act a delegate for the account.",
            "A verification request was mailed to the address, and the owner has not yet accepted it.",
            "A verification request was mailed to the address, and the owner rejected it.",
            "A verification request was mailed to the address, and it expired without verification."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending",
            "rejected",
            "expired"
          ]
        }
      }
    },
    "CseKeyPair": {
      "properties": {
        "disableTime": {
          "type": "string",
          "description": "Output only. If a key pair is set to `DISABLED`, the time that the key pair's state changed from `ENABLED` to `DISABLED`. This field is present only when the key pair is in state `DISABLED`.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "pem": {
          "type": "string",
          "description": "Output only. The public key and its certificate chain, in [PEM](https://en.wikipedia.org/wiki/Privacy-Enhanced_Mail) format.",
          "readOnly": true
        },
        "enablementState": {
          "description": "Output only. The current state of the key pair.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The current state of the key pair is not set. The key pair is neither turned on nor turned off.",
            "The key pair is turned on. For any email messages that this key pair encrypts, Gmail decrypts the messages and signs any outgoing mail with the private key. To turn on a key pair, use the EnableCseKeyPair method.",
            "The key pair is turned off. Authenticated users cannot decrypt email messages nor sign outgoing messages. If a key pair is turned off for more than 30 days, you can permanently delete it. To turn off a key pair, use the DisableCseKeyPair method."
          ],
          "enum": [
            "stateUnspecified",
            "enabled",
            "disabled"
          ]
        },
        "keyPairId": {
          "description": "Output only. The immutable ID for the client-side encryption S/MIME key pair.",
          "readOnly": true,
          "type": "string"
        },
        "subjectEmailAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The email address identities that are specified on the leaf certificate.",
          "readOnly": true
        },
        "pkcs7": {
          "type": "string",
          "description": "Input only. The public key and its certificate chain. The chain must be in [PKCS#7](https://en.wikipedia.org/wiki/PKCS_7) format and use PEM encoding and ASCII armor."
        },
        "privateKeyMetadata": {
          "type": "array",
          "description": "Metadata for instances of this key pair's private key.",
          "items": {
            "$ref": "CsePrivateKeyMetadata"
          }
        }
      },
      "description": "A client-side encryption S/MIME key pair, which is comprised of a public key, its certificate chain, and metadata for its paired private key. Gmail uses the key pair to complete the following tasks: - Sign outgoing client-side encrypted messages. - Save and reopen drafts of client-side encrypted messages. - Save and reopen sent messages. - Decrypt incoming or archived S/MIME messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
      "id": "CseKeyPair",
      "type": "object"
    },
    "Message": {
      "id": "Message",
      "type": "object",
      "description": "An email message.",
      "properties": {
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of IDs of labels applied to this message."
        },
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "threadId": {
          "type": "string",
          "description": "The ID of the thread the message belongs to. To add a message or draft to a thread, the following criteria must be met: 1. The requested `threadId` must be specified on the `Message` or `Draft.Message` you supply with your request. 2. The `References` and `In-Reply-To` headers must be set in compliance with the [RFC 2822](https://tools.ietf.org/html/rfc2822) standard. 3. The `Subject` headers must match. "
        },
        "classificationLabelValues": {
          "description": "Classification Label values on the message. Available Classification Label schemas can be queried using the Google Drive Labels API. Each classification label ID must be unique. If duplicate IDs are provided, only one will be retained, and the selection is arbitrary. Only used for Google Workspace accounts.",
          "items": {
            "$ref": "ClassificationLabelValue"
          },
          "type": "array"
        },
        "payload": {
          "description": "The parsed email structure in the message parts.",
          "$ref": "MessagePart"
        },
        "internalDate": {
          "type": "string",
          "description": "The internal message creation timestamp (epoch ms), which determines ordering in the inbox. For normal SMTP-received email, this represents the time the message was originally accepted by Google, which is more reliable than the `Date` header. However, for API-migrated mail, it can be configured by client to be based on the `Date` header.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "The immutable ID of the message."
        },
        "historyId": {
          "type": "string",
          "description": "The ID of the last history record that modified this message.",
          "format": "uint64"
        },
        "raw": {
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.drafts.create",
              "gmail.users.drafts.update",
              "gmail.users.messages.insert",
              "gmail.users.messages.send"
            ]
          },
          "format": "byte",
          "description": "The entire email message in an RFC 2822 formatted and base64url encoded string. Returned in `messages.get` and `drafts.get` responses when the `format=RAW` parameter is supplied."
        },
        "sizeEstimate": {
          "format": "int32",
          "description": "Estimated size in bytes of the message.",
          "type": "integer"
        }
      }
    },
    "SendAs": {
      "description": "Settings associated with a send-as alias, which can be either the primary login address associated with the account or a custom \"from\" address. Send-as aliases correspond to the \"Send Mail As\" feature in the web interface.",
      "properties": {
        "displayName": {
          "description": "A name that appears in the \"From:\" header for mail sent using this alias. For custom \"from\" addresses, when this is empty, Gmail will populate the \"From:\" header with the name that is used for the primary address associated with the account. If the admin has disabled the ability for users to update their name format, requests to update this field for the primary login will silently fail.",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether this address is selected as the default \"From:\" address in situations such as composing a new message or sending a vacation auto-reply. Every Gmail account has exactly one default send-as address, so the only legal value that clients may write to this field is `true`. Changing this from `false` to `true` for an address will result in this field becoming `false` for the other previous default address."
        },
        "isPrimary": {
          "description": "Whether this address is the primary address used to login to the account. Every Gmail account has exactly one primary address, and it cannot be deleted from the collection of send-as aliases. This field is read-only.",
          "type": "boolean"
        },
        "replyToAddress": {
          "description": "An optional email address that is included in a \"Reply-To:\" header for mail sent using this alias. If this is empty, Gmail will not generate a \"Reply-To:\" header.",
          "type": "string"
        },
        "sendAsEmail": {
          "description": "The email address that appears in the \"From:\" header for mail sent using this alias. This is read-only for all operations except create.",
          "type": "string"
        },
        "signature": {
          "type": "string",
          "description": "An optional HTML signature that is included in messages composed with this alias in the Gmail web UI. This signature is added to new emails only."
        },
        "treatAsAlias": {
          "description": "Whether Gmail should treat this address as an alias for the user's primary email address. This setting only applies to custom \"from\" aliases.",
          "type": "boolean"
        },
        "verificationStatus": {
          "description": "Indicates whether this address has been verified for use as a send-as alias. Read-only. This setting only applies to custom \"from\" aliases.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use as a send-as alias.",
            "The address is awaiting verification by the owner."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ]
        },
        "smtpMsa": {
          "description": "An optional SMTP service that will be used as an outbound relay for mail sent using this alias. If this is empty, outbound mail will be sent directly from Gmail's servers to the destination SMTP service. This setting only applies to custom \"from\" aliases.",
          "$ref": "SmtpMsa"
        }
      },
      "id": "SendAs",
      "type": "object"
    },
    "Profile": {
      "properties": {
        "messagesTotal": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of messages in the mailbox."
        },
        "historyId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the mailbox's current history record."
        },
        "emailAddress": {
          "description": "The user's email address.",
          "type": "string"
        },
        "threadsTotal": {
          "format": "int32",
          "description": "The total number of threads in the mailbox.",
          "type": "integer"
        }
      },
      "description": "Profile for a Gmail user.",
      "id": "Profile",
      "type": "object"
    },
    "ListDraftsResponse": {
      "id": "ListDraftsResponse",
      "type": "object",
      "properties": {
        "resultSizeEstimate": {
          "format": "uint32",
          "description": "Estimated total number of results.",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results in the list."
        },
        "drafts": {
          "items": {
            "$ref": "Draft"
          },
          "description": "List of drafts. Note that the `Message` property in each `Draft` resource only contains an `id` and a `threadId`. The [`messages.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/messages/get) method can fetch additional message details.",
          "type": "array"
        }
      }
    },
    "ImapSettings": {
      "id": "ImapSettings",
      "type": "object",
      "properties": {
        "maxFolderSize": {
          "type": "integer",
          "description": "An optional limit on the number of messages that an IMAP folder may contain. Legal values are 0, 1000, 2000, 5000 or 10000. A value of zero is interpreted to mean that there is no limit.",
          "format": "int32"
        },
        "enabled": {
          "description": "Whether IMAP is enabled for the account.",
          "type": "boolean"
        },
        "expungeBehavior": {
          "description": "The action that will be executed on a message when it is marked as deleted and expunged from the last visible IMAP folder.",
          "enumDescriptions": [
            "Unspecified behavior.",
            "Archive messages marked as deleted.",
            "Move messages marked as deleted to the trash.",
            "Immediately and permanently delete messages marked as deleted. The expunged messages cannot be recovered."
          ],
          "enum": [
            "expungeBehaviorUnspecified",
            "archive",
            "trash",
            "deleteForever"
          ],
          "type": "string"
        },
        "autoExpunge": {
          "type": "boolean",
          "description": "If this value is true, Gmail will immediately expunge a message when it is marked as deleted in IMAP. Otherwise, Gmail will wait for an update from the client before expunging messages marked as deleted."
        }
      },
      "description": "IMAP settings for an account."
    },
    "WatchResponse": {
      "properties": {
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64",
          "type": "string"
        },
        "expiration": {
          "format": "int64",
          "description": "When Gmail will stop sending notifications for mailbox updates (epoch millis). Call `watch` again before this time to renew the watch.",
          "type": "string"
        }
      },
      "description": "Push notification watch response.",
      "id": "WatchResponse",
      "type": "object"
    },
    "ModifyMessageRequest": {
      "properties": {
        "addLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of IDs of labels to add to this message. You can add up to 100 labels with each update."
        },
        "removeLabelIds": {
          "description": "A list IDs of labels to remove from this message. You can remove up to 100 labels with each update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ModifyMessageRequest",
      "type": "object"
    },
    "HistoryLabelAdded": {
      "properties": {
        "labelIds": {
          "description": "Label IDs added to the message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "message": {
          "$ref": "Message"
        }
      },
      "id": "HistoryLabelAdded",
      "type": "object"
    },
    "EnableCseKeyPairRequest": {
      "id": "EnableCseKeyPairRequest",
      "type": "object",
      "properties": {},
      "description": "Requests to turn on a client-side encryption key pair."
    },
    "ObliterateCseKeyPairRequest": {
      "id": "ObliterateCseKeyPairRequest",
      "type": "object",
      "properties": {},
      "description": "Request to obliterate a CSE key pair."
    },
    "HistoryMessageDeleted": {
      "id": "HistoryMessageDeleted",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      }
    },
    "FilterAction": {
      "id": "FilterAction",
      "type": "object",
      "description": "A set of actions to perform on a message.",
      "properties": {
        "removeLabelIds": {
          "description": "List of labels to remove from the message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "forward": {
          "description": "Email address that the message should be forwarded to.",
          "type": "string"
        },
        "addLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of labels to add to the message."
        }
      }
    },
    "ListCseIdentitiesResponse": {
      "properties": {
        "cseIdentities": {
          "items": {
            "$ref": "CseIdentity"
          },
          "description": "One page of the list of CSE identities configured for the user.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be passed to a subsequent ListCseIdentities call in order to retrieve the next page of identities. If this value is not returned or is the empty string, then no further pages remain."
        }
      },
      "id": "ListCseIdentitiesResponse",
      "type": "object"
    },
    "MessagePart": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the message part."
        },
        "parts": {
          "type": "array",
          "description": "The child MIME message parts of this part. This only applies to container MIME message parts, for example `multipart/*`. For non- container MIME message part types, such as `text/plain`, this field is empty. For more information, see RFC 1521.",
          "items": {
            "$ref": "MessagePart"
          }
        },
        "filename": {
          "type": "string",
          "description": "The filename of the attachment. Only present if this message part represents an attachment."
        },
        "partId": {
          "type": "string",
          "description": "The immutable ID of the message part."
        },
        "headers": {
          "items": {
            "$ref": "MessagePartHeader"
          },
          "description": "List of headers on this message part. For the top-level message part, representing the entire message payload, it will contain the standard RFC 2822 email headers such as `To`, `From`, and `Subject`.",
          "type": "array"
        },
        "body": {
          "description": "The message part body for this part, which may be empty for container MIME message parts.",
          "$ref": "MessagePartBody"
        }
      },
      "description": "A single MIME message part.",
      "id": "MessagePart",
      "type": "object"
    },
    "ClassificationLabelFieldValue": {
      "id": "ClassificationLabelFieldValue",
      "type": "object",
      "description": "Field values for a classification label.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The field ID for the Classification Label Value. Maps to the ID field of the Google Drive `Label.Field` object."
        },
        "selection": {
          "type": "string",
          "description": "Selection choice ID for the selection option. Should only be set if the field type is `SELECTION` in the Google Drive `Label.Field` object. Maps to the id field of the Google Drive `Label.Field.SelectionOptions` resource."
        }
      }
    },
    "AutoForwarding": {
      "description": "Auto-forwarding settings for an account.",
      "properties": {
        "enabled": {
          "description": "Whether all incoming mail is automatically forwarded to another address.",
          "type": "boolean"
        },
        "disposition": {
          "description": "The state that a message should be left in after it has been forwarded.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ]
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address to which all incoming messages are forwarded. This email address must be a verified member of the forwarding addresses."
        }
      },
      "id": "AutoForwarding",
      "type": "object"
    },
    "ListHistoryResponse": {
      "id": "ListHistoryResponse",
      "type": "object",
      "properties": {
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64",
          "type": "string"
        },
        "history": {
          "items": {
            "$ref": "History"
          },
          "description": "List of history records. Any `messages` contained in the response will typically only have `id` and `threadId` fields populated.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list."
        }
      }
    },
    "HistoryMessageAdded": {
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "id": "HistoryMessageAdded",
      "type": "object"
    },
    "ListThreadsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "threads": {
          "type": "array",
          "items": {
            "$ref": "Thread"
          },
          "description": "List of threads. Note that each thread resource does not contain a list of `messages`. The list of `messages` for a given thread can be fetched using the [`threads.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/threads/get) method."
        },
        "resultSizeEstimate": {
          "type": "integer",
          "description": "Estimated total number of results.",
          "format": "uint32"
        }
      },
      "id": "ListThreadsResponse",
      "type": "object"
    },
    "CseIdentity": {
      "properties": {
        "primaryKeyPairId": {
          "type": "string",
          "description": "If a key pair is associated, the ID of the key pair, CseKeyPair."
        },
        "emailAddress": {
          "description": "The email address for the sending identity. The email address must be the primary email address of the authenticated user.",
          "type": "string"
        },
        "signAndEncryptKeyPairs": {
          "description": "The configuration of a CSE identity that uses different key pairs for signing and encryption.",
          "$ref": "SignAndEncryptKeyPairs"
        }
      },
      "description": "The client-side encryption (CSE) configuration for the email address of an authenticated user. Gmail uses CSE configurations to save drafts of client-side encrypted email messages, and to sign and send encrypted email messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
      "id": "CseIdentity",
      "type": "object"
    },
    "Filter": {
      "id": "Filter",
      "type": "object",
      "properties": {
        "criteria": {
          "description": "Matching criteria for the filter.",
          "$ref": "FilterCriteria"
        },
        "id": {
          "description": "The server assigned ID of the filter.",
          "type": "string"
        },
        "action": {
          "description": "Action that the filter performs.",
          "$ref": "FilterAction"
        }
      },
      "description": "Resource definition for Gmail filters. Filters apply to specific messages instead of an entire email thread."
    },
    "ModifyThreadRequest": {
      "id": "ModifyThreadRequest",
      "type": "object",
      "properties": {
        "addLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of IDs of labels to add to this thread. You can add up to 100 labels with each update."
        },
        "removeLabelIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of IDs of labels to remove from this thread. You can remove up to 100 labels with each update.",
          "type": "array"
        }
      }
    },
    "FilterCriteria": {
      "properties": {
        "sizeComparison": {
          "enumDescriptions": [
            "",
            "Find messages smaller than the given size.",
            "Find messages larger than the given size."
          ],
          "enum": [
            "unspecified",
            "smaller",
            "larger"
          ],
          "type": "string",
          "description": "How the message size in bytes should be in relation to the size field."
        },
        "excludeChats": {
          "type": "boolean",
          "description": "Whether the response should exclude chats."
        },
        "size": {
          "format": "int32",
          "description": "The size of the entire RFC822 message in bytes, including all headers and attachments.",
          "type": "integer"
        },
        "subject": {
          "description": "Case-insensitive phrase found in the message's subject. Trailing and leading whitespace are be trimmed and adjacent spaces are collapsed.",
          "type": "string"
        },
        "hasAttachment": {
          "type": "boolean",
          "description": "Whether the message has any attachment."
        },
        "from": {
          "type": "string",
          "description": "The sender's display name or email address."
        },
        "query": {
          "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
          "type": "string"
        },
        "to": {
          "description": "The recipient's display name or email address. Includes recipients in the \"to\", \"cc\", and \"bcc\" header fields. You can use simply the local part of the email address. For example, \"example\" and \"example@\" both match \"example@gmail.com\". This field is case-insensitive.",
          "type": "string"
        },
        "negatedQuery": {
          "type": "string",
          "description": "Only return messages not matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
        }
      },
      "description": "Message matching criteria.",
      "id": "FilterCriteria",
      "type": "object"
    },
    "LabelColor": {
      "properties": {
        "backgroundColor": {
          "description": "The background color represented as hex string #RRGGBB (ex #000000). This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c, \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765",
          "type": "string"
        },
        "textColor": {
          "description": "The text color of the label, represented as hex string. This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c, \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765",
          "type": "string"
        }
      },
      "id": "LabelColor",
      "type": "object"
    },
    "SmimeInfo": {
      "id": "SmimeInfo",
      "type": "object",
      "properties": {
        "pkcs12": {
          "format": "byte",
          "description": "PKCS#12 format containing a single private/public key pair and certificate chain. This format is only accepted from client for creating a new SmimeInfo and is never returned, because the private key is not intended to be exported. PKCS#12 may be encrypted, in which case encryptedKeyPassword should be set appropriately.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether this SmimeInfo is the default one for this user's send-as address.",
          "type": "boolean"
        },
        "expiration": {
          "type": "string",
          "description": "When the certificate expires (in milliseconds since epoch).",
          "format": "int64"
        },
        "pem": {
          "type": "string",
          "description": "PEM formatted X509 concatenated certificate string (standard base64 encoding). Format used for returning key, which includes public key as well as certificate chain (not private key)."
        },
        "encryptedKeyPassword": {
          "type": "string",
          "description": "Encrypted key password, when key is encrypted."
        },
        "id": {
          "description": "The immutable ID for the SmimeInfo.",
          "type": "string"
        },
        "issuerCn": {
          "description": "The S/MIME certificate issuer's common name.",
          "type": "string"
        }
      },
      "description": "An S/MIME email config."
    },
    "BatchModifyMessagesRequest": {
      "properties": {
        "removeLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of label IDs to remove from messages."
        },
        "ids": {
          "description": "The IDs of the messages to modify. There is a limit of 1000 ids per request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "addLabelIds": {
          "type": "array",
          "description": "A list of label IDs to add to messages.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchModifyMessagesRequest",
      "type": "object"
    },
    "ListForwardingAddressesResponse": {
      "id": "ListForwardingAddressesResponse",
      "type": "object",
      "description": "Response for the ListForwardingAddresses method.",
      "properties": {
        "forwardingAddresses": {
          "items": {
            "$ref": "ForwardingAddress"
          },
          "description": "List of addresses that may be used for forwarding.",
          "type": "array"
        }
      }
    },
    "ListSmimeInfoResponse": {
      "properties": {
        "smimeInfo": {
          "items": {
            "$ref": "SmimeInfo"
          },
          "description": "List of SmimeInfo.",
          "type": "array"
        }
      },
      "id": "ListSmimeInfoResponse",
      "type": "object"
    },
    "Label": {
      "id": "Label",
      "type": "object",
      "properties": {
        "name": {
          "description": "The display name of the label.",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string"
        },
        "messagesTotal": {
          "format": "int32",
          "description": "The total number of messages with the label.",
          "type": "integer"
        },
        "messagesUnread": {
          "type": "integer",
          "format": "int32",
          "description": "The number of unread messages with the label."
        },
        "threadsUnread": {
          "type": "integer",
          "format": "int32",
          "description": "The number of unread threads with the label."
        },
        "id": {
          "description": "The immutable ID of the label.",
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.labels.update"
            ]
          }
        },
        "color": {
          "description": "The color to assign to the label. Color is only available for labels that have their `type` set to `user`.",
          "$ref": "LabelColor"
        },
        "threadsTotal": {
          "format": "int32",
          "description": "The total number of threads with the label.",
          "type": "integer"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Labels created by Gmail.",
            "Custom labels created by the user or application."
          ],
          "enum": [
            "system",
            "user"
          ],
          "description": "The owner type for the label. User labels are created by the user and can be modified and deleted by the user and can be applied to any message or thread. System labels are internally created and cannot be added, modified, or deleted. System labels may be able to be applied to or removed from messages and threads under some circumstances but this is not guaranteed. For example, users can apply and remove the `INBOX` and `UNREAD` labels from messages and threads, but cannot apply or remove the `DRAFTS` or `SENT` labels from messages or threads."
        },
        "labelListVisibility": {
          "enumDescriptions": [
            "Show the label in the label list.",
            "Show the label if there are any unread messages with that label.",
            "Do not show the label in the label list."
          ],
          "enum": [
            "labelShow",
            "labelShowIfUnread",
            "labelHide"
          ],
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "description": "The visibility of the label in the label list in the Gmail web interface."
        },
        "messageListVisibility": {
          "description": "The visibility of messages with this label in the message list in the Gmail web interface.",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "enumDescriptions": [
            "Show the label in the message list.",
            "Do not show the label in the message list."
          ],
          "enum": [
            "show",
            "hide"
          ],
          "type": "string"
        }
      },
      "description": "Labels are used to categorize messages and threads within the user's mailbox. The maximum number of labels supported for a user's mailbox is 10,000."
    },
    "HardwareKeyMetadata": {
      "id": "HardwareKeyMetadata",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description about the hardware key.",
          "type": "string"
        }
      },
      "description": "Metadata for hardware keys. If [hardware key encryption](https://support.google.com/a/answer/14153163) is set up for the Google Workspace organization, users can optionally store their private key on their smart card and use it to sign and decrypt email messages in Gmail by inserting their smart card into a reader attached to their Windows device."
    },
    "PopSettings": {
      "id": "PopSettings",
      "type": "object",
      "description": "POP settings for an account.",
      "properties": {
        "accessWindow": {
          "description": "The range of messages which are accessible via POP.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified range.",
            "Indicates that no messages are accessible via POP.",
            "Indicates that unfetched messages received after some past point in time are accessible via POP.",
            "Indicates that all unfetched messages are accessible via POP."
          ],
          "enum": [
            "accessWindowUnspecified",
            "disabled",
            "fromNowOn",
            "allMail"
          ]
        },
        "disposition": {
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "type": "string",
          "description": "The action that will be executed on a message after it has been fetched via POP."
        }
      }
    },
    "MessagePartBody": {
      "id": "MessagePartBody",
      "type": "object",
      "properties": {
        "size": {
          "type": "integer",
          "description": "Number of bytes for the message part data (encoding notwithstanding).",
          "format": "int32"
        },
        "data": {
          "format": "byte",
          "description": "The body data of a MIME message part as a base64url encoded string. May be empty for MIME container types that have no message body or when the body data is sent as a separate attachment. An attachment ID is present if the body data is contained in a separate attachment.",
          "type": "string"
        },
        "attachmentId": {
          "type": "string",
          "description": "When present, contains the ID of an external attachment that can be retrieved in a separate `messages.attachments.get` request. When not present, the entire content of the message part body is contained in the data field."
        }
      },
      "description": "The body of a single MIME message part."
    },
    "BatchDeleteMessagesRequest": {
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of the messages to delete."
        }
      },
      "id": "BatchDeleteMessagesRequest",
      "type": "object"
    },
    "Thread": {
      "id": "Thread",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID of the thread.",
          "type": "string"
        },
        "snippet": {
          "type": "string",
          "description": "A short part of the message text."
        },
        "historyId": {
          "description": "The ID of the last history record that modified this thread.",
          "format": "uint64",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "The list of messages in the thread.",
          "type": "array"
        }
      },
      "description": "A collection of messages representing a conversation."
    },
    "History": {
      "properties": {
        "id": {
          "description": "The mailbox sequence ID.",
          "format": "uint64",
          "type": "string"
        },
        "messagesAdded": {
          "description": "Messages added to the mailbox in this history record.",
          "items": {
            "$ref": "HistoryMessageAdded"
          },
          "type": "array"
        },
        "messagesDeleted": {
          "description": "Messages deleted (not Trashed) from the mailbox in this history record.",
          "items": {
            "$ref": "HistoryMessageDeleted"
          },
          "type": "array"
        },
        "labelsRemoved": {
          "type": "array",
          "description": "Labels removed from messages in this history record.",
          "items": {
            "$ref": "HistoryLabelRemoved"
          }
        },
        "labelsAdded": {
          "items": {
            "$ref": "HistoryLabelAdded"
          },
          "description": "Labels added to messages in this history record.",
          "type": "array"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "List of messages changed in this history record. The fields for specific change types, such as `messagesAdded` may duplicate messages in this field. We recommend using the specific change-type fields instead of this."
        }
      },
      "description": "A record of a change to the user's mailbox. Each history change may affect multiple messages in multiple ways.",
      "id": "History",
      "type": "object"
    },
    "HistoryLabelRemoved": {
      "id": "HistoryLabelRemoved",
      "type": "object",
      "properties": {
        "labelIds": {
          "description": "Label IDs removed from the message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "message": {
          "$ref": "Message"
        }
      }
    },
    "Draft": {
      "properties": {
        "message": {
          "description": "The message content of the draft.",
          "$ref": "Message"
        },
        "id": {
          "description": "The immutable ID of the draft.",
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.drafts.send"
            ]
          }
        }
      },
      "description": "A draft email in the user's mailbox.",
      "id": "Draft",
      "type": "object"
    },
    "ListMessagesResponse": {
      "properties": {
        "messages": {
          "description": "List of messages. Note that each message resource contains only an `id` and a `threadId`. Additional message details can be fetched using the messages.get method.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "resultSizeEstimate": {
          "type": "integer",
          "format": "uint32",
          "description": "Estimated total number of results."
        }
      },
      "id": "ListMessagesResponse",
      "type": "object"
    },
    "ListSendAsResponse": {
      "id": "ListSendAsResponse",
      "type": "object",
      "description": "Response for the ListSendAs method.",
      "properties": {
        "sendAs": {
          "type": "array",
          "description": "List of send-as aliases.",
          "items": {
            "$ref": "SendAs"
          }
        }
      }
    }
  },
  "id": "gmail:v1",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        }
      }
    }
  },
  "resources": {
    "users": {
      "resources": {
        "drafts": {
          "methods": {
            "create": {
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "request": {
                "$ref": "Draft"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/drafts",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "supportsMediaUpload": true,
              "description": "Creates a new draft with the `DRAFT` label.",
              "id": "gmail.users.drafts.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "Draft"
              },
              "parameterOrder": [
                "userId"
              ],
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts"
                  }
                }
              }
            },
            "get": {
              "id": "gmail.users.drafts.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Draft"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "format": {
                  "type": "string",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "location": "query",
                  "default": "full",
                  "description": "The format to return the draft in."
                },
                "userId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me"
                },
                "id": {
                  "type": "string",
                  "description": "The ID of the draft to retrieve.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "description": "Gets the specified draft."
            },
            "send": {
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers.",
              "supportsMediaUpload": true,
              "flatPath": "gmail/v1/users/{userId}/drafts/send",
              "path": "gmail/v1/users/{userId}/drafts/send",
              "request": {
                "$ref": "Draft"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                },
                "maxSize": "36700160"
              },
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.drafts.send",
              "httpMethod": "POST",
              "response": {
                "$ref": "Message"
              }
            },
            "update": {
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}"
                  }
                },
                "maxSize": "36700160",
                "accept": [
                  "message/*"
                ]
              },
              "id": "gmail.users.drafts.update",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Draft"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "description": "Replaces a draft's content.",
              "supportsMediaUpload": true,
              "request": {
                "$ref": "Draft"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the draft to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "gmail/v1/users/{userId}/drafts/{id}"
            },
            "delete": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.drafts.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "userId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me"
                },
                "id": {
                  "type": "string",
                  "description": "The ID of the draft to delete.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it."
            },
            "list": {
              "path": "gmail/v1/users/{userId}/drafts",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "q": {
                  "type": "string",
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
                  "location": "query"
                },
                "maxResults": {
                  "location": "query",
                  "format": "uint32",
                  "type": "integer",
                  "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "default": "100"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string"
                },
                "includeSpamTrash": {
                  "default": "false",
                  "type": "boolean",
                  "description": "Include drafts from `SPAM` and `TRASH` in the results.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "description": "Lists the drafts in the user's mailbox.",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.drafts.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDraftsResponse"
              }
            }
          }
        },
        "history": {
          "methods": {
            "list": {
              "id": "gmail.users.history.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListHistoryResponse"
              },
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/history",
              "description": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`).",
              "parameters": {
                "labelId": {
                  "type": "string",
                  "description": "Only return messages with a label matching the ID.",
                  "location": "query"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "historyTypes": {
                  "description": "History types to be returned by the function",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    ""
                  ],
                  "enum": [
                    "messageAdded",
                    "messageDeleted",
                    "labelAdded",
                    "labelRemoved"
                  ],
                  "repeated": true,
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "default": "100",
                  "location": "query",
                  "format": "uint32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query",
                  "type": "string"
                },
                "startHistoryId": {
                  "location": "query",
                  "format": "uint64",
                  "description": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/history"
            }
          }
        },
        "settings": {
          "methods": {
            "updateVacation": {
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.settings.updateVacation",
              "httpMethod": "PUT",
              "response": {
                "$ref": "VacationSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "VacationSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Updates vacation responder settings.",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation"
            },
            "updatePop": {
              "request": {
                "$ref": "PopSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                }
              },
              "path": "gmail/v1/users/{userId}/settings/pop",
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "description": "Updates POP settings.",
              "id": "gmail.users.settings.updatePop",
              "httpMethod": "PUT",
              "response": {
                "$ref": "PopSettings"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "updateAutoForwarding": {
              "id": "gmail.users.settings.updateAutoForwarding",
              "httpMethod": "PUT",
              "response": {
                "$ref": "AutoForwarding"
              },
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "AutoForwarding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.sharing"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. This method is only available to service account clients that have been delegated domain-wide authority."
            },
            "updateLanguage": {
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "LanguageSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/language",
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "description": "Updates language settings. If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.",
              "id": "gmail.users.settings.updateLanguage",
              "httpMethod": "PUT",
              "response": {
                "$ref": "LanguageSettings"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "getLanguage": {
              "id": "gmail.users.settings.getLanguage",
              "httpMethod": "GET",
              "response": {
                "$ref": "LanguageSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me"
                }
              },
              "path": "gmail/v1/users/{userId}/settings/language",
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "description": "Gets language settings."
            },
            "getImap": {
              "path": "gmail/v1/users/{userId}/settings/imap",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets IMAP settings.",
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.settings.getImap",
              "httpMethod": "GET",
              "response": {
                "$ref": "ImapSettings"
              }
            },
            "updateImap": {
              "path": "gmail/v1/users/{userId}/settings/imap",
              "parameters": {
                "userId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me"
                }
              },
              "request": {
                "$ref": "ImapSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Updates IMAP settings.",
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.settings.updateImap",
              "httpMethod": "PUT",
              "response": {
                "$ref": "ImapSettings"
              }
            },
            "getPop": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "gmail/v1/users/{userId}/settings/pop",
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "description": "Gets POP settings.",
              "id": "gmail.users.settings.getPop",
              "httpMethod": "GET",
              "response": {
                "$ref": "PopSettings"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "getVacation": {
              "id": "gmail.users.settings.getVacation",
              "httpMethod": "GET",
              "response": {
                "$ref": "VacationSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "description": "Gets vacation responder settings.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "gmail/v1/users/{userId}/settings/vacation"
            },
            "getAutoForwarding": {
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "description": "Gets the auto-forwarding setting for the specified account.",
              "id": "gmail.users.settings.getAutoForwarding",
              "httpMethod": "GET",
              "response": {
                "$ref": "AutoForwarding"
              },
              "parameterOrder": [
                "userId"
              ]
            }
          },
          "resources": {
            "cse": {
              "resources": {
                "identities": {
                  "methods": {
                    "patch": {
                      "id": "gmail.users.settings.cse.identities.patch",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "parameterOrder": [
                        "userId",
                        "emailAddress"
                      ],
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "emailAddress": {
                          "description": "The email address of the client-side encryption identity to update.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "description": "Associates a different key pair with an existing client-side encryption identity. The updated key pair must validate against Google's [S/MIME certificate profiles](https://support.google.com/a/answer/7300887). For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
                    },
                    "create": {
                      "id": "gmail.users.settings.cse.identities.create",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "description": "Creates and configures a client-side encryption identity that's authorized to send mail from the user account. Google publishes the S/MIME certificate to a shared domain-wide directory so that people within a Google Workspace organization can encrypt and send mail to the identity. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me"
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities"
                    },
                    "get": {
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "description": "Retrieves a client-side encryption identity configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "cseEmailAddress": {
                          "location": "path",
                          "required": true,
                          "description": "The primary email address associated with the client-side encryption identity configuration that's retrieved.",
                          "type": "string"
                        },
                        "userId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me"
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "id": "gmail.users.settings.cse.identities.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ]
                    },
                    "delete": {
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
[...]
