{
  "discoveryVersion": "v1",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "baseUrl": "https://gmail.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "users": {
      "methods": {
        "getProfile": {
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "path": "gmail/v1/users/{userId}/profile",
          "response": {
            "$ref": "Profile"
          },
          "parameters": {
            "userId": {
              "required": true,
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me",
              "location": "path"
            }
          },
          "id": "gmail.users.getProfile",
          "description": "Gets the current user's Gmail profile.",
          "httpMethod": "GET",
          "flatPath": "gmail/v1/users/{userId}/profile"
        },
        "stop": {
          "flatPath": "gmail/v1/users/{userId}/stop",
          "httpMethod": "POST",
          "parameters": {
            "userId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            }
          },
          "path": "gmail/v1/users/{userId}/stop",
          "description": "Turn off push notification delivery for the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "id": "gmail.users.stop",
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ]
        },
        "watch": {
          "httpMethod": "POST",
          "flatPath": "gmail/v1/users/{userId}/watch",
          "request": {
            "$ref": "WatchRequest"
          },
          "id": "gmail.users.watch",
          "description": "Set up or update a push notification watch on the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "parameters": {
            "userId": {
              "required": true,
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me",
              "location": "path"
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "path": "gmail/v1/users/{userId}/watch",
          "response": {
            "$ref": "WatchResponse"
          }
        }
      },
      "resources": {
        "drafts": {
          "methods": {
            "delete": {
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "id": "gmail.users.drafts.delete",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "httpMethod": "DELETE",
              "parameters": {
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the draft to delete."
                },
                "userId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me"
                }
              }
            },
            "get": {
              "id": "gmail.users.drafts.get",
              "description": "Gets the specified draft. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "response": {
                "$ref": "Draft"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path"
                },
                "id": {
                  "description": "The ID of the draft to retrieve.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "format": {
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "description": "The format to return the draft in.",
                  "default": "full",
                  "location": "query",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "type": "string"
                }
              }
            },
            "list": {
              "id": "gmail.users.drafts.list",
              "description": "Lists the drafts in the user's mailbox. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/drafts",
              "response": {
                "$ref": "ListDraftsResponse"
              },
              "parameters": {
                "maxResults": {
                  "type": "integer",
                  "location": "query",
                  "format": "uint32",
                  "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "default": "100"
                },
                "includeSpamTrash": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Include drafts from `SPAM` and `TRASH` in the results.",
                  "default": "false"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token to retrieve a specific page of results in the list."
                },
                "q": {
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "create": {
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts"
                  }
                },
                "maxSize": "36700160"
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/drafts",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "Draft"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me"
                }
              },
              "id": "gmail.users.drafts.create",
              "description": "Creates a draft with the `DRAFT` label. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "request": {
                "$ref": "Draft"
              }
            },
            "send": {
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                },
                "maxSize": "36700160"
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/drafts/send",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "Message"
              },
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "gmail.users.drafts.send",
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/drafts/send",
              "request": {
                "$ref": "Draft"
              }
            },
            "update": {
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the draft to update."
                }
              },
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "Draft"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}"
                  }
                },
                "maxSize": "36700160"
              },
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "request": {
                "$ref": "Draft"
              },
              "httpMethod": "PUT",
              "description": "Replaces a draft's content. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "id": "gmail.users.drafts.update"
            }
          }
        },
        "settings": {
          "methods": {
            "updateImap": {
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "request": {
                "$ref": "ImapSettings"
              },
              "httpMethod": "PUT",
              "description": "Updates IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "id": "gmail.users.settings.updateImap",
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path"
                }
              },
              "path": "gmail/v1/users/{userId}/settings/imap",
              "response": {
                "$ref": "ImapSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ]
            },
            "updateAutoForwarding": {
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "response": {
                "$ref": "AutoForwarding"
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.sharing"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
              "id": "gmail.users.settings.updateAutoForwarding",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "request": {
                "$ref": "AutoForwarding"
              },
              "httpMethod": "PUT"
            },
            "updatePop": {
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/pop",
              "response": {
                "$ref": "PopSettings"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me"
                }
              },
              "id": "gmail.users.settings.updatePop",
              "description": "Updates POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "request": {
                "$ref": "PopSettings"
              }
            },
            "getPop": {
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/pop",
              "response": {
                "$ref": "PopSettings"
              },
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "id": "gmail.users.settings.getPop",
              "description": "Gets POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings)."
            },
            "updateVacation": {
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "response": {
                "$ref": "VacationSettings"
              },
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "request": {
                "$ref": "VacationSettings"
              },
              "id": "gmail.users.settings.updateVacation",
              "description": "Updates vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings)."
            },
            "updateLanguage": {
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/language",
              "response": {
                "$ref": "LanguageSettings"
              },
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "request": {
                "$ref": "LanguageSettings"
              },
              "id": "gmail.users.settings.updateLanguage",
              "description": "Updates language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead."
            },
            "getImap": {
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "id": "gmail.users.settings.getImap",
              "description": "Gets IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/imap",
              "response": {
                "$ref": "ImapSettings"
              }
            },
            "getAutoForwarding": {
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "id": "gmail.users.settings.getAutoForwarding",
              "description": "Gets the auto-forwarding setting for the specified account. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "response": {
                "$ref": "AutoForwarding"
              }
            },
            "getVacation": {
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path"
                }
              },
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "response": {
                "$ref": "VacationSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "httpMethod": "GET",
              "description": "Gets vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).",
              "id": "gmail.users.settings.getVacation"
            },
            "getLanguage": {
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "id": "gmail.users.settings.getLanguage",
              "description": "Gets language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings).",
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/language",
              "response": {
                "$ref": "LanguageSettings"
              }
            }
          },
          "resources": {
            "cse": {
              "resources": {
                "identities": {
                  "methods": {
                    "create": {
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me"
                        }
                      },
                      "description": "Creates and configures a client-side encryption identity that's authorized to send mail from the user account. Google publishes the S/MIME certificate to a shared domain-wide directory so that people within a Google Workspace organization can encrypt and send mail to the identity. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.identities.create",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "userId": {
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "required": true,
                          "type": "string"
                        },
                        "cseEmailAddress": {
                          "description": "The primary email address associated with the client-side encryption identity configuration that's removed.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "id": "gmail.users.settings.cse.identities.delete",
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "description": "Deletes a client-side encryption identity. The authenticated user can no longer use the identity to send encrypted messages. You cannot restore the identity after you delete it. Instead, use the CreateCseIdentity method to create another identity with the same configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
                    },
                    "get": {
                      "parameters": {
                        "cseEmailAddress": {
                          "description": "The primary email address associated with the client-side encryption identity configuration that's retrieved.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "userId": {
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "id": "gmail.users.settings.cse.identities.get",
                      "description": "Retrieves a client-side encryption identity configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
                    },
                    "list": {
                      "parameters": {
                        "userId": {
                          "required": true,
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The number of identities to return. If not provided, the page size will default to 20 entries.",
                          "default": "20",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Pagination token indicating which page of identities to return. If the token is not supplied, then the API will return the first page of results."
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "response": {
                        "$ref": "ListCseIdentitiesResponse"
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "httpMethod": "GET",
                      "description": "Lists the client-side encrypted identities for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.identities.list"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "id": "gmail.users.settings.cse.identities.patch",
                      "description": "Associates a different key pair with an existing client-side encryption identity. The updated key pair must validate against Google's [S/MIME certificate profiles](https://support.google.com/a/answer/7300887). For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "parameters": {
                        "emailAddress": {
                          "description": "The email address of the client-side encryption identity to update.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "userId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me"
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "emailAddress"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "response": {
                        "$ref": "CseIdentity"
                      }
                    }
                  }
                },
                "keypairs": {
                  "methods": {
                    "enable": {
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "request": {
                        "$ref": "EnableCseKeyPairRequest"
                      },
                      "id": "gmail.users.settings.cse.keypairs.enable",
                      "description": "Turns on a client-side encryption key pair that was turned off. The key pair becomes active again for any associated client-side encryption identities. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "keyPairId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The identifier of the key pair to turn on."
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "response": {
                        "$ref": "CseKeyPair"
                      }
                    },
                    "get": {
                      "description": "Retrieves an existing client-side encryption key pair. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.keypairs.get",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "httpMethod": "GET",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "required": true,
                          "type": "string"
                        },
                        "keyPairId": {
                          "description": "The identifier of the key pair to retrieve.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "userId"
                      ],
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "response": {
                        "$ref": "ListCseKeyPairsResponse"
                      },
                      "parameters": {
                        "userId": {
                          "required": true,
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of key pairs to return. If not provided, the page size will default to 20 entries.",
                          "default": "20",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Pagination token indicating which page of key pairs to return. If the token is not supplied, then the API will return the first page of results."
                        }
                      },
                      "id": "gmail.users.settings.cse.keypairs.list",
                      "description": "Lists client-side encryption key pairs for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs"
                    },
                    "create": {
                      "parameters": {
                        "userId": {
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "request": {
                        "$ref": "CseKeyPair"
                      },
                      "id": "gmail.users.settings.cse.keypairs.create",
                      "description": "Creates and uploads a client-side encryption S/MIME public key certificate chain and private key metadata for the authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
                    },
                    "disable": {
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "keyPairId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The identifier of the key pair to turn off."
                        }
                      },
                      "id": "gmail.users.settings.cse.keypairs.disable",
                      "description": "Turns off a client-side encryption key pair. The authenticated user can no longer use the key pair to decrypt incoming CSE message texts or sign outgoing CSE mail. To regain access, use the EnableCseKeyPair to turn on the key pair. After 30 days, you can permanently delete the key pair by using the ObliterateCseKeyPair method. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "request": {
                        "$ref": "DisableCseKeyPairRequest"
                      }
                    },
                    "obliterate": {
                      "parameters": {
                        "userId": {
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "required": true,
                          "type": "string"
                        },
                        "keyPairId": {
                          "description": "The identifier of the key pair to obliterate.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate",
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate",
                      "request": {
                        "$ref": "ObliterateCseKeyPairRequest"
                      },
                      "id": "gmail.users.settings.cse.keypairs.obliterate",
                      "description": "Deletes a client-side encryption key pair permanently and immediately. You can only permanently delete key pairs that have been turned off for more than 30 days. To turn off a key pair, use the DisableCseKeyPair method. Gmail can't restore or decrypt any messages that were encrypted by an obliterated key. Authenticated users and Google Workspace administrators lose access to reading the encrypted messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
                    }
                  }
                }
              }
            },
            "forwardingAddresses": {
              "methods": {
                "list": {
                  "description": "Lists the forwarding addresses for the specified account. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
                  "id": "gmail.users.settings.forwardingAddresses.list",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "httpMethod": "GET",
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "response": {
                    "$ref": "ListForwardingAddressesResponse"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "description": "Gets the specified forwarding address. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
                  "id": "gmail.users.settings.forwardingAddresses.get",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "httpMethod": "GET",
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "response": {
                    "$ref": "ForwardingAddress"
                  },
                  "parameterOrder": [
                    "userId",
                    "forwardingEmail"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me"
                    },
                    "forwardingEmail": {
                      "description": "The forwarding address to be retrieved.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "description": "Deletes the specified forwarding address and revokes any verification that may have been required. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.forwardingAddresses.delete",
                  "parameterOrder": [
                    "userId",
                    "forwardingEmail"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "forwardingEmail": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The forwarding address to be deleted."
                    },
                    "userId": {
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "id": "gmail.users.settings.forwardingAddresses.create",
                  "description": "Creates a forwarding address. If ownership verification is required, a message will be sent to the recipient and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "httpMethod": "POST",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "request": {
                    "$ref": "ForwardingAddress"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "response": {
                    "$ref": "ForwardingAddress"
                  },
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "delegates": {
              "methods": {
                "list": {
                  "path": "gmail/v1/users/{userId}/settings/delegates",
                  "response": {
                    "$ref": "ListDelegatesResponse"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Lists the delegates for the specified account. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.delegates.list",
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                  "httpMethod": "GET"
                },
                "get": {
                  "description": "Gets the specified delegate. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). A delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.delegates.get",
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "httpMethod": "GET",
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "response": {
                    "$ref": "Delegate"
                  },
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path"
                    },
                    "delegateEmail": {
                      "description": "The email address of the user whose delegate relationship is to be retrieved.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path"
                    },
                    "delegateEmail": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The email address of the user to be removed as a delegate."
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "id": "gmail.users.settings.delegates.delete",
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "description": "Removes the specified delegate (which can be of any verification status), and revokes any verification that may have been required for using it. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). A delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority."
                },
                "create": {
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/delegates",
                  "response": {
                    "$ref": "Delegate"
                  },
                  "httpMethod": "POST",
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                  "request": {
                    "$ref": "Delegate"
                  },
                  "id": "gmail.users.settings.delegates.create",
                  "description": "Adds a delegate with its verification status set directly to `accepted`, without sending any verification email. The delegate user must be a member of the same Google Workspace organization as the delegator user. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). Gmail imposes limitations on the number of delegates and delegators each user in a Google Workspace organization can have. These limits depend on your organization, but in general each user can have up to 25 delegates and up to 10 delegators. A delegate user must be referred to by their primary email address, and not an email alias. When a new delegate is created, there may be up to a one minute delay before the new delegate is available for use. This method is only available to service account clients that have been delegated domain-wide authority."
                }
              }
            },
            "sendAs": {
              "methods": {
                "list": {
                  "path": "gmail/v1/users/{userId}/settings/sendAs",
                  "response": {
                    "$ref": "ListSendAsResponse"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path"
                    }
                  },
                  "description": "Lists the send-as aliases for the specified account. The result includes the primary send-as address associated with the account as well as any custom \"from\" aliases. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings).",
                  "id": "gmail.users.settings.sendAs.list",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs",
                  "httpMethod": "GET"
                },
                "get": {
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "response": {
                    "$ref": "SendAs"
                  },
                  "parameters": {
                    "sendAsEmail": {
                      "description": "The send-as alias to be retrieved.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "userId": {
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "gmail.users.settings.sendAs.get",
                  "description": "Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings).",
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}"
                },
                "delete": {
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "description": "Deletes the specified send-as alias. Revokes any verification that may have been required for using it. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.sendAs.delete",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path"
                    },
                    "sendAsEmail": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The send-as alias to be deleted."
                    }
                  }
                },
                "update": {
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "request": {
                    "$ref": "SendAs"
                  },
                  "httpMethod": "PUT",
                  "description": "Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings). Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.sendAs.update",
                  "parameters": {
                    "sendAsEmail": {
                      "description": "The send-as alias to be updated.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "userId": {
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "response": {
                    "$ref": "SendAs"
                  },
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "userId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/sendAs",
                  "response": {
                    "$ref": "SendAs"
                  },
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path"
                    }
                  },
                  "id": "gmail.users.settings.sendAs.create",
                  "description": "Creates a custom \"from\" send-as alias. If an SMTP MSA is specified, Gmail will attempt to connect to the SMTP service to validate the configuration before creating the alias. If ownership verification is required for the alias, a message will be sent to the email address and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "httpMethod": "POST",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs",
                  "request": {
                    "$ref": "SendAs"
                  }
                },
                "patch": {
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string"
                    },
                    "sendAsEmail": {
                      "description": "The send-as alias to be updated.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "response": {
                    "$ref": "SendAs"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "request": {
                    "$ref": "SendAs"
                  },
                  "id": "gmail.users.settings.sendAs.patch",
                  "description": "Patch the specified send-as alias. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings)."
                },
                "verify": {
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify",
                  "description": "Sends a verification email to the specified send-as alias address. The verification status must be `pending`. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.sendAs.verify",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify",
                  "httpMethod": "POST",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "sendAsEmail": {
                      "description": "The send-as alias to be verified.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              },
              "resources": {
                "smimeInfo": {
                  "methods": {
                    "list": {
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "httpMethod": "GET",
                      "description": "Lists S/MIME configs for the specified send-as alias. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
                      "id": "gmail.users.settings.sendAs.smimeInfo.list",
                      "parameters": {
                        "userId": {
                          "location": "path",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "default": "me",
                          "required": true,
                          "type": "string"
                        },
                        "sendAsEmail": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias."
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "response": {
                        "$ref": "ListSmimeInfoResponse"
                      },
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail"
                      ],
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "response": {
                        "$ref": "SmimeInfo"
                      },
                      "parameters": {
                        "sendAsEmail": {
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "userId": {
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "default": "me",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "id": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The immutable ID for the SmimeInfo."
                        }
                      },
                      "id": "gmail.users.settings.sendAs.smimeInfo.get",
                      "description": "Gets the specified S/MIME config for the specified send-as alias. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}"
                    },
                    "delete": {
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "sendAsEmail": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias."
                        },
                        "userId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "default": "me"
                        },
                        "id": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The immutable ID for the SmimeInfo."
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "description": "Deletes the specified S/MIME config for the specified send-as alias. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
                      "id": "gmail.users.settings.sendAs.smimeInfo.delete",
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    },
                    "insert": {
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "request": {
                        "$ref": "SmimeInfo"
                      },
                      "id": "gmail.users.settings.sendAs.smimeInfo.insert",
                      "description": "Insert (upload) the given S/MIME config for the specified send-as alias. Note that `pkcs12` format is required for the key. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
                      "parameters": {
                        "sendAsEmail": {
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "userId": {
                          "location": "path",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "default": "me",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "response": {
                        "$ref": "SmimeInfo"
                      }
                    },
                    "setDefault": {
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault",
                      "httpMethod": "POST",
                      "parameters": {
                        "id": {
                          "description": "The immutable ID for the SmimeInfo.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "sendAsEmail": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias."
                        },
                        "userId": {
                          "location": "path",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "default": "me",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault",
                      "description": "Sets the default S/MIME config for the specified send-as alias. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
                      "id": "gmail.users.settings.sendAs.smimeInfo.setDefault",
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    }
                  }
                }
              }
            },
            "filters": {
              "methods": {
                "create": {
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "response": {
                    "$ref": "Filter"
                  },
                  "httpMethod": "POST",
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "request": {
                    "$ref": "Filter"
                  },
                  "id": "gmail.users.settings.filters.create",
                  "description": "Creates a filter. Note: you can only create a maximum of 1,000 filters. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings)."
                },
                "list": {
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "response": {
                    "$ref": "ListFiltersResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "id": "gmail.users.settings.filters.list",
                  "description": "Lists the message filters of a Gmail user. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings)."
                },
                "get": {
                  "parameters": {
                    "id": {
                      "description": "The ID of the filter to be fetched.",
                      "location": "path",
                      "required": true,
                      "type": "string"
[...]
