{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "canonicalName": "Gmail",
  "id": "gmail:v1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "rootUrl": "https://gmail.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/gmail/api/",
  "title": "Gmail API",
  "resources": {
    "users": {
      "methods": {
        "watch": {
          "description": "Set up or update a push notification watch on the given user mailbox.",
          "response": {
            "$ref": "WatchResponse"
          },
          "request": {
            "$ref": "WatchRequest"
          },
          "path": "gmail/v1/users/{userId}/watch",
          "id": "gmail.users.watch",
          "httpMethod": "POST",
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "parameters": {
            "userId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            }
          },
          "flatPath": "gmail/v1/users/{userId}/watch"
        },
        "getProfile": {
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "parameterOrder": [
            "userId"
          ],
          "flatPath": "gmail/v1/users/{userId}/profile",
          "path": "gmail/v1/users/{userId}/profile",
          "httpMethod": "GET",
          "response": {
            "$ref": "Profile"
          },
          "id": "gmail.users.getProfile",
          "description": "Gets the current user's Gmail profile.",
          "parameters": {
            "userId": {
              "default": "me",
              "location": "path",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "type": "string",
              "required": true
            }
          }
        },
        "stop": {
          "id": "gmail.users.stop",
          "parameterOrder": [
            "userId"
          ],
          "flatPath": "gmail/v1/users/{userId}/stop",
          "path": "gmail/v1/users/{userId}/stop",
          "description": "Stop receiving push notifications for the given user mailbox.",
          "httpMethod": "POST",
          "parameters": {
            "userId": {
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "location": "path",
              "type": "string",
              "required": true,
              "default": "me"
            }
          },
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ]
        }
      },
      "resources": {
        "messages": {
          "methods": {
            "send": {
              "request": {
                "$ref": "Message"
              },
              "description": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For example usage, see [Sending email](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "id": "gmail.users.messages.send",
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Message"
              },
              "parameters": {
                "userId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "path": "gmail/v1/users/{userId}/messages/send",
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/send",
                    "multipart": true
                  },
                  "simple": {
                    "path": "/upload/gmail/v1/users/{userId}/messages/send",
                    "multipart": true
                  }
                }
              },
              "supportsMediaUpload": true,
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.send"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/send"
            },
            "insert": {
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "Message"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "deleted": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "default": "false"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "default": "me"
                },
                "internalDateSource": {
                  "type": "string",
                  "description": "Source for Gmail's internal date of the message.",
                  "location": "query",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "default": "receivedTime",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ]
                }
              },
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "157286400",
                "protocols": {
                  "simple": {
                    "path": "/upload/gmail/v1/users/{userId}/messages",
                    "multipart": true
                  },
                  "resumable": {
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages",
                    "multipart": true
                  }
                }
              },
              "id": "gmail.users.messages.insert",
              "description": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message.",
              "path": "gmail/v1/users/{userId}/messages",
              "httpMethod": "POST",
              "request": {
                "$ref": "Message"
              },
              "flatPath": "gmail/v1/users/{userId}/messages",
              "supportsMediaUpload": true
            },
            "import": {
              "httpMethod": "POST",
              "path": "gmail/v1/users/{userId}/messages/import",
              "description": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work for some spam messages, such as those attempting to perform domain spoofing. This method does not send a message. Note that the maximum size of the message is 150MB.",
              "flatPath": "gmail/v1/users/{userId}/messages/import",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "deleted": {
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "location": "query",
                  "default": "false",
                  "type": "boolean"
                },
                "internalDateSource": {
                  "default": "dateHeader",
                  "location": "query",
                  "type": "string",
                  "description": "Source for Gmail's internal date of the message.",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ]
                },
                "userId": {
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "processForCalendar": {
                  "description": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
                  "default": "false",
                  "type": "boolean",
                  "location": "query"
                },
                "neverMarkSpam": {
                  "type": "boolean",
                  "default": "false",
                  "description": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
                  "location": "query"
                }
              },
              "id": "gmail.users.messages.import",
              "request": {
                "$ref": "Message"
              },
              "supportsMediaUpload": true,
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "Message"
              },
              "mediaUpload": {
                "maxSize": "157286400",
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/import"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/import"
                  }
                }
              }
            },
            "modify": {
              "response": {
                "$ref": "Message"
              },
              "path": "gmail/v1/users/{userId}/messages/{id}/modify",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/modify",
              "request": {
                "$ref": "ModifyMessageRequest"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the message to modify.",
                  "location": "path"
                }
              },
              "id": "gmail.users.messages.modify",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Modifies the labels on the specified message.",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "POST"
            },
            "trash": {
              "httpMethod": "POST",
              "path": "gmail/v1/users/{userId}/messages/{id}/trash",
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the message to Trash."
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/trash",
              "id": "gmail.users.messages.trash",
              "description": "Moves the specified message to the trash.",
              "response": {
                "$ref": "Message"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "list": {
              "id": "gmail.users.messages.list",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me"
                },
                "maxResults": {
                  "type": "integer",
                  "default": "100",
                  "location": "query",
                  "format": "uint32",
                  "description": "Maximum number of messages to return. This field defaults to 100. The maximum allowed value for this field is 500."
                },
                "includeSpamTrash": {
                  "description": "Include messages from `SPAM` and `TRASH` in the results.",
                  "location": "query",
                  "type": "boolean",
                  "default": "false"
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string",
                  "location": "query"
                },
                "q": {
                  "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
                  "location": "query",
                  "type": "string"
                },
                "labelIds": {
                  "description": "Only return messages with labels that match all of the specified label IDs. Messages in a thread might have labels that other messages in the same thread don't have. To learn more, see [Manage labels on messages and threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads).",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "description": "Lists the messages in the user's mailbox. For example usage, see [List Gmail messages](https://developers.google.com/workspace/gmail/api/guides/list-messages).",
              "response": {
                "$ref": "ListMessagesResponse"
              },
              "path": "gmail/v1/users/{userId}/messages",
              "flatPath": "gmail/v1/users/{userId}/messages",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameterOrder": [
                "userId"
              ]
            },
            "delete": {
              "id": "gmail.users.messages.delete",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "DELETE",
              "description": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "parameters": {
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the message to delete."
                },
                "userId": {
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me"
                }
              },
              "scopes": [
                "https://mail.google.com/"
              ],
              "path": "gmail/v1/users/{userId}/messages/{id}"
            },
            "get": {
              "description": "Gets the specified message.",
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "metadataHeaders": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "When given and format is `METADATA`, only include headers specified."
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`)."
                },
                "format": {
                  "location": "query",
                  "description": "The format to return the message in.",
                  "type": "string",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "default": "full"
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "response": {
                "$ref": "Message"
              },
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "id": "gmail.users.messages.get",
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "httpMethod": "GET"
            },
            "batchModify": {
              "flatPath": "gmail/v1/users/{userId}/messages/batchModify",
              "parameters": {
                "userId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "path": "gmail/v1/users/{userId}/messages/batchModify",
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.messages.batchModify",
              "description": "Modifies the labels on the specified messages.",
              "request": {
                "$ref": "BatchModifyMessagesRequest"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "batchDelete": {
              "description": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
              "scopes": [
                "https://mail.google.com/"
              ],
              "path": "gmail/v1/users/{userId}/messages/batchDelete",
              "httpMethod": "POST",
              "id": "gmail.users.messages.batchDelete",
              "flatPath": "gmail/v1/users/{userId}/messages/batchDelete",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "BatchDeleteMessagesRequest"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "untrash": {
              "path": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "response": {
                "$ref": "Message"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.messages.untrash",
              "description": "Removes the specified message from the trash.",
              "httpMethod": "POST",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "id": {
                  "type": "string",
                  "description": "The ID of the message to remove from Trash.",
                  "required": true,
                  "location": "path"
                },
                "userId": {
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path"
                }
              }
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "userId",
                    "messageId",
                    "id"
                  ],
                  "description": "Gets the specified message attachment.",
                  "path": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "userId": {
                      "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "messageId": {
                      "location": "path",
                      "required": true,
                      "description": "The ID of the message containing the attachment.",
                      "type": "string"
                    },
                    "id": {
                      "description": "The ID of the attachment.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "gmail.users.messages.attachments.get",
                  "flatPath": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "response": {
                    "$ref": "MessagePartBody"
                  }
                }
              }
            }
          }
        },
        "drafts": {
          "methods": {
            "update": {
              "mediaUpload": {
                "maxSize": "36700160",
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}"
                  }
                }
              },
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "id": "gmail.users.drafts.update",
              "supportsMediaUpload": true,
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the draft to update.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Draft"
              },
              "response": {
                "$ref": "Draft"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Replaces a draft's content."
            },
            "list": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/drafts",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.drafts.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDraftsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query"
                },
                "q": {
                  "location": "query",
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "format": "uint32",
                  "location": "query",
                  "default": "100",
                  "type": "integer"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true
                },
                "includeSpamTrash": {
                  "default": "false",
                  "type": "boolean",
                  "description": "Include drafts from `SPAM` and `TRASH` in the results.",
                  "location": "query"
                }
              },
              "description": "Lists the drafts in the user's mailbox.",
              "flatPath": "gmail/v1/users/{userId}/drafts"
            },
            "get": {
              "response": {
                "$ref": "Draft"
              },
              "description": "Gets the specified draft.",
              "parameters": {
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the draft to retrieve."
                },
                "format": {
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "default": "full",
                  "description": "The format to return the draft in.",
                  "location": "query",
                  "type": "string"
                },
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                }
              },
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "id": "gmail.users.drafts.get",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it.",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "required": true,
                  "description": "The ID of the draft to delete.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.drafts.delete",
              "httpMethod": "DELETE"
            },
            "send": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "Message"
              },
              "id": "gmail.users.drafts.send",
              "supportsMediaUpload": true,
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/drafts/send",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "default": "me"
                }
              },
              "request": {
                "$ref": "Draft"
              },
              "path": "gmail/v1/users/{userId}/drafts/send",
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers."
            },
            "create": {
              "supportsMediaUpload": true,
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.drafts.create",
              "response": {
                "$ref": "Draft"
              },
              "parameterOrder": [
                "userId"
              ],
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts"
                  }
                }
              },
              "parameters": {
                "userId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me"
                }
              },
              "path": "gmail/v1/users/{userId}/drafts",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "request": {
                "$ref": "Draft"
              },
              "description": "Creates a new draft with the `DRAFT` label.",
              "httpMethod": "POST"
            }
          }
        },
        "history": {
          "methods": {
            "list": {
              "id": "gmail.users.history.list",
              "parameterOrder": [
                "userId"
              ],
              "description": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "historyTypes": {
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    ""
                  ],
                  "location": "query",
                  "enum": [
                    "messageAdded",
                    "messageDeleted",
                    "labelAdded",
                    "labelRemoved"
                  ],
                  "repeated": true,
                  "type": "string",
                  "description": "History types to be returned by the function"
                },
                "labelId": {
                  "type": "string",
                  "location": "query",
                  "description": "Only return messages with a label matching the ID."
                },
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "maxResults": {
                  "description": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "type": "integer",
                  "format": "uint32",
                  "default": "100",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token to retrieve a specific page of results in the list."
                },
                "startHistoryId": {
                  "description": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.",
                  "location": "query",
                  "type": "string",
                  "format": "uint64"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/history",
              "response": {
                "$ref": "ListHistoryResponse"
              },
              "path": "gmail/v1/users/{userId}/history",
              "httpMethod": "GET"
            }
          }
        },
        "labels": {
          "methods": {
            "delete": {
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "parameters": {
                "id": {
                  "description": "The ID of the label to delete.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "userId": {
                  "required": true,
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "default": "me"
                }
              },
              "id": "gmail.users.labels.delete",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "description": "Immediately and permanently deletes the specified label and removes it from any messages and threads that it is applied to.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "patch": {
              "request": {
                "$ref": "Label"
              },
              "response": {
                "$ref": "Label"
              },
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "parameters": {
                "id": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the label to update."
                },
                "userId": {
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me"
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "description": "Patch the specified label.",
              "id": "gmail.users.labels.patch",
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "update": {
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "description": "The ID of the label to update.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "response": {
                "$ref": "Label"
              },
              "description": "Updates the specified label.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "request": {
                "$ref": "Label"
              },
              "id": "gmail.users.labels.update"
            },
            "list": {
              "response": {
                "$ref": "ListLabelsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/labels",
              "parameterOrder": [
                "userId"
              ],
              "description": "Lists all labels in the user's mailbox.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "id": "gmail.users.labels.list",
              "path": "gmail/v1/users/{userId}/labels",
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Creates a new label.",
              "request": {
                "$ref": "Label"
              },
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels",
              "id": "gmail.users.labels.create",
              "parameters": {
                "userId": {
                  "default": "me",
                  "required": true,
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string"
                }
              },
              "path": "gmail/v1/users/{userId}/labels",
              "response": {
                "$ref": "Label"
              }
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets the specified label.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "response": {
                "$ref": "Label"
              },
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "default": "me"
                },
                "id": {
                  "type": "string",
                  "description": "The ID of the label to retrieve.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "gmail.users.labels.get",
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ]
            }
          }
        },
        "threads": {
          "methods": {
            "trash": {
              "path": "gmail/v1/users/{userId}/threads/{id}/trash",
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/trash",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.threads.trash",
              "description": "Moves the specified thread to the trash. Any messages that belong to the thread are also moved to the trash.",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "response": {
                "$ref": "Thread"
              },
              "parameters": {
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the thread to Trash."
                },
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              }
            },
            "get": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "id": "gmail.users.threads.get",
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "description": "Gets the specified thread.",
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "response": {
                "$ref": "Thread"
              },
              "parameters": {
                "format": {
                  "default": "full",
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message IDs, labels, and email headers.",
                    "Returns only email message IDs and labels; does not return the email headers, body, or payload."
                  ],
                  "enum": [
                    "full",
                    "metadata",
                    "minimal"
                  ],
                  "description": "The format to return the messages in."
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the thread to retrieve."
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "metadataHeaders": {
                  "type": "string",
                  "repeated": true,
                  "description": "When given and format is METADATA, only include headers specified.",
                  "location": "query"
                }
              },
              "httpMethod": "GET"
            },
            "delete": {
              "id": "gmail.users.threads.delete",
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/"
              ],
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "default": "me"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID of the Thread to delete."
                }
              },
              "httpMethod": "DELETE",
              "description": "Immediately and permanently deletes the specified thread. Any messages that belong to the thread are also deleted. This operation cannot be undone. Prefer `threads.trash` instead.",
              "path": "gmail/v1/users/{userId}/threads/{id}"
            },
            "untrash": {
              "parameters": {
                "id": {
                  "description": "The ID of the thread to remove from Trash.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/untrash",
              "path": "gmail/v1/users/{userId}/threads/{id}/untrash",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.threads.untrash",
              "response": {
                "$ref": "Thread"
              },
              "description": "Removes the specified thread from the trash. Any messages that belong to the thread are also removed from the trash."
            },
            "list": {
              "flatPath": "gmail/v1/users/{userId}/threads",
              "path": "gmail/v1/users/{userId}/threads",
              "id": "gmail.users.threads.list",
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "q": {
                  "type": "string",
                  "location": "query",
                  "description": "Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope."
                },
                "maxResults": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of threads to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "default": "100",
                  "format": "uint32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query"
                },
                "includeSpamTrash": {
                  "default": "false",
                  "location": "query",
                  "description": "Include threads from `SPAM` and `TRASH` in the results.",
                  "type": "boolean"
                },
                "userId": {
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "labelIds": {
                  "type": "string",
                  "repeated": true,
                  "description": "Only return threads with labels that match all of the specified label IDs.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "description": "Lists the threads in the user's mailbox.",
              "response": {
                "$ref": "ListThreadsResponse"
              }
            },
            "modify": {
              "response": {
                "$ref": "Thread"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Modifies the labels applied to the thread. This applies to all messages in the thread.",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "location": "path",
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the thread to modify.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ModifyThreadRequest"
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/modify",
              "httpMethod": "POST",
              "path": "gmail/v1/users/{userId}/threads/{id}/modify",
              "id": "gmail.users.threads.modify"
            }
          }
        },
        "settings": {
          "resources": {
            "filters": {
              "methods": {
                "list": {
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListFiltersResponse"
                  },
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "description": "Lists the message filters of a Gmail user.",
                  "parameterOrder": [
                    "userId"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "id": "gmail.users.settings.filters.list"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "response": {
                    "$ref": "Filter"
                  },
                  "parameters": {
                    "id": {
                      "description": "The ID of the filter to be fetched.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "userId": {
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "default": "me",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "id": "gmail.users.settings.filters.get",
                  "description": "Gets a filter.",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "description": "Creates a filter. Note: you can only create a maximum of 1,000 filters.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Filter"
                  },
                  "id": "gmail.users.settings.filters.create",
                  "response": {
                    "$ref": "Filter"
                  },
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "parameterOrder": [
                    "userId"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "description": "Immediately and permanently deletes the specified filter.",
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "httpMethod": "DELETE",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "id": "gmail.users.settings.filters.delete",
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "default": "me"
                    },
                    "id": {
                      "type": "string",
                      "description": "The ID of the filter to be deleted.",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "cse": {
              "resources": {
                "identities": {
                  "methods": {
                    "list": {
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "default": "20",
                          "location": "query",
                          "description": "The number of identities to return. If not provided, the page size will default to 20 entries."
                        },
                        "userId": {
                          "location": "path",
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Pagination token indicating which page of identities to return. If the token is not supplied, then the API will return the first page of results."
                        }
                      },
                      "response": {
                        "$ref": "ListCseIdentitiesResponse"
                      },
                      "id": "gmail.users.settings.cse.identities.list",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists the client-side encrypted identities for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "parameterOrder": [
                        "userId"
                      ]
                    },
                    "create": {
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "type": "string",
                          "default": "me",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "description": "Creates and configures a client-side encryption identity that's authorized to send mail from the user account. Google publishes the S/MIME certificate to a shared domain-wide directory so that people within a Google Workspace organization can encrypt and send mail to the identity. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "id": "gmail.users.settings.cse.identities.create"
                    },
                    "patch": {
                      "id": "gmail.users.settings.cse.identities.patch",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "description": "Associates a different key pair with an existing client-side encryption identity. The updated key pair must validate against Google's [S/MIME certificate profiles](https://support.google.com/a/answer/7300887). For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "parameterOrder": [
                        "userId",
                        "emailAddress"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "emailAddress": {
                          "required": true,
                          "type": "string",
                          "description": "The email address of the client-side encryption identity to update.",
                          "location": "path"
                        },
                        "userId": {
                          "default": "me",
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "CseIdentity"
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "id": "gmail.users.settings.cse.identities.get",
                      "httpMethod": "GET",
                      "description": "Retrieves a client-side encryption identity configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "type": "string",
                          "default": "me",
                          "required": true
                        },
                        "cseEmailAddress": {
                          "description": "The primary email address associated with the client-side encryption identity configuration that's retrieved.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "type": "string",
                          "default": "me",
                          "required": true,
                          "location": "path"
                        },
                        "cseEmailAddress": {
                          "type": "string",
                          "required": true,
                          "description": "The primary email address associated with the client-side encryption identity configuration that's removed.",
                          "location": "path"
                        }
                      },
                      "description": "Deletes a client-side encryption identity. The authenticated user can no longer use the identity to send encrypted messages. You cannot restore the identity after you delete it. Instead, use the CreateCseIdentity method to create another identity with the same configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "httpMethod": "DELETE",
                      "id": "gmail.users.settings.cse.identities.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    }
                  }
                },
                "keypairs": {
                  "methods": {
                    "get": {
                      "description": "Retrieves an existing client-side encryption key pair. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "httpMethod": "GET",
                      "id": "gmail.users.settings.cse.keypairs.get",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "required": true,
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "type": "string"
                        },
                        "keyPairId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The identifier of the key pair to retrieve."
                        }
                      }
                    },
                    "disable": {
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "description": "Turns off a client-side encryption key pair. The authenticated user can no longer use the key pair to decrypt incoming CSE message texts or sign outgoing CSE mail. To regain access, use the EnableCseKeyPair to turn on the key pair. After 30 days, you can permanently delete the key pair by using the ObliterateCseKeyPair method. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.keypairs.disable",
                      "parameters": {
                        "userId": {
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "default": "me",
                          "required": true
                        },
                        "keyPairId": {
                          "required": true,
                          "type": "string",
                          "description": "The identifier of the key pair to turn off.",
                          "location": "path"
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "request": {
                        "$ref": "DisableCseKeyPairRequest"
                      },
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable"
                    },
                    "obliterate": {
                      "request": {
                        "$ref": "ObliterateCseKeyPairRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "id": "gmail.users.settings.cse.keypairs.obliterate",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate",
                      "description": "Deletes a client-side encryption key pair permanently and immediately. You can only permanently delete key pairs that have been turned off for more than 30 days. To turn off a key pair, use the DisableCseKeyPair method. Gmail can't restore or decrypt any messages that were encrypted by an obliterated key. Authenticated users and Google Workspace administrators lose access to reading the encrypted messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "userId": {
                          "type": "string",
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "location": "path"
                        },
                        "keyPairId": {
                          "required": true,
                          "description": "The identifier of the key pair to obliterate.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate"
                    },
                    "enable": {
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "request": {
                        "$ref": "EnableCseKeyPairRequest"
                      },
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "keyPairId": {
                          "description": "The identifier of the key pair to turn on.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Turns on a client-side encryption key pair that was turned off. The key pair becomes active again for any associated client-side encryption identities. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "id": "gmail.users.settings.cse.keypairs.enable",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable"
                    },
                    "create": {
                      "id": "gmail.users.settings.cse.keypairs.create",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "description": "Creates and uploads a client-side encryption S/MIME public key certificate chain and private key metadata for the authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "request": {
                        "$ref": "CseKeyPair"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameterOrder": [
                        "userId"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "required": true,
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "default": "20",
                          "description": "The number of key pairs to return. If not provided, the page size will default to 20 entries."
                        },
                        "pageToken": {
                          "description": "Pagination token indicating which page of key pairs to return. If the token is not supplied, then the API will return the first page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "userId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`."
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists client-side encryption key pairs for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "id": "gmail.users.settings.cse.keypairs.list",
                      "response": {
                        "$ref": "ListCseKeyPairsResponse"
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "parameterOrder": [
                        "userId"
                      ]
                    }
                  }
                }
              }
            },
            "forwardingAddresses": {
              "methods": {
                "get": {
                  "parameters": {
                    "userId": {
[...]
