{
  "documentationLink": "https://developers.google.com/workspace/gmail/api/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "gmail:v1",
  "name": "gmail",
  "description": "The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.",
  "baseUrl": "https://gmail.googleapis.com/",
  "mtlsRootUrl": "https://gmail.mtls.googleapis.com/",
  "servicePath": "",
  "version": "v1",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://gmail.googleapis.com/",
  "schemas": {
    "HardwareKeyMetadata": {
      "id": "HardwareKeyMetadata",
      "description": "Metadata for hardware keys. If [hardware key encryption](https://support.google.com/a/answer/14153163) is set up for the Google Workspace organization, users can optionally store their private key on their smart card and use it to sign and decrypt email messages in Gmail by inserting their smart card into a reader attached to their Windows device.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description about the hardware key."
        }
      },
      "type": "object"
    },
    "ListMessagesResponse": {
      "type": "object",
      "id": "ListMessagesResponse",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "List of messages. Note that each message resource contains only an `id` and a `threadId`. Additional message details can be fetched using the messages.get method."
        },
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "format": "uint32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        }
      }
    },
    "ListSendAsResponse": {
      "type": "object",
      "id": "ListSendAsResponse",
      "description": "Response for the ListSendAs method.",
      "properties": {
        "sendAs": {
          "description": "List of send-as aliases.",
          "type": "array",
          "items": {
            "$ref": "SendAs"
          }
        }
      }
    },
    "ListFiltersResponse": {
      "type": "object",
      "id": "ListFiltersResponse",
      "description": "Response for the ListFilters method.",
      "properties": {
        "filter": {
          "description": "List of a user's filters.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        }
      }
    },
    "Delegate": {
      "type": "object",
      "id": "Delegate",
      "description": "Settings for a delegate. Delegates can read, send, and delete messages, as well as view and add contacts, for the delegator's account. See \"Set up mail delegation\" for more information about delegates.",
      "properties": {
        "delegateEmail": {
          "description": "The email address of the delegate.",
          "type": "string"
        },
        "verificationStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address can act a delegate for the account.",
            "A verification request was mailed to the address, and the owner has not yet accepted it.",
            "A verification request was mailed to the address, and the owner rejected it.",
            "A verification request was mailed to the address, and it expired without verification."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending",
            "rejected",
            "expired"
          ],
          "description": "Indicates whether this address has been verified and can act as a delegate for the account. Read-only."
        }
      }
    },
    "HistoryLabelRemoved": {
      "id": "HistoryLabelRemoved",
      "properties": {
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Label IDs removed from the message."
        },
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object"
    },
    "History": {
      "id": "History",
      "description": "A record of a change to the user's mailbox. Each history change may affect multiple messages in multiple ways.",
      "properties": {
        "messages": {
          "description": "List of messages changed in this history record. The fields for specific change types, such as `messagesAdded` may duplicate messages in this field. We recommend using the specific change-type fields instead of this.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "messagesAdded": {
          "description": "Messages added to the mailbox in this history record.",
          "type": "array",
          "items": {
            "$ref": "HistoryMessageAdded"
          }
        },
        "labelsRemoved": {
          "description": "Labels removed from messages in this history record.",
          "type": "array",
          "items": {
            "$ref": "HistoryLabelRemoved"
          }
        },
        "labelsAdded": {
          "description": "Labels added to messages in this history record.",
          "type": "array",
          "items": {
            "$ref": "HistoryLabelAdded"
          }
        },
        "messagesDeleted": {
          "description": "Messages deleted (not Trashed) from the mailbox in this history record.",
          "type": "array",
          "items": {
            "$ref": "HistoryMessageDeleted"
          }
        },
        "id": {
          "type": "string",
          "description": "The mailbox sequence ID.",
          "format": "uint64"
        }
      },
      "type": "object"
    },
    "SmimeInfo": {
      "type": "object",
      "properties": {
        "issuerCn": {
          "description": "The S/MIME certificate issuer's common name.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether this SmimeInfo is the default one for this user's send-as address.",
          "type": "boolean"
        },
        "expiration": {
          "type": "string",
          "description": "When the certificate expires (in milliseconds since epoch).",
          "format": "int64"
        },
        "pkcs12": {
          "description": "PKCS#12 format containing a single private/public key pair and certificate chain. This format is only accepted from client for creating a new SmimeInfo and is never returned, because the private key is not intended to be exported. PKCS#12 may be encrypted, in which case encryptedKeyPassword should be set appropriately.",
          "format": "byte",
          "type": "string"
        },
        "pem": {
          "type": "string",
          "description": "PEM formatted X509 concatenated certificate string (standard base64 encoding). Format used for returning key, which includes public key as well as certificate chain (not private key)."
        },
        "id": {
          "type": "string",
          "description": "The immutable ID for the SmimeInfo."
        },
        "encryptedKeyPassword": {
          "type": "string",
          "description": "Encrypted key password, when key is encrypted."
        }
      },
      "id": "SmimeInfo",
      "description": "An S/MIME email config."
    },
    "VacationSettings": {
      "type": "object",
      "id": "VacationSettings",
      "description": "Vacation auto-reply settings for an account. These settings correspond to the \"Vacation responder\" feature in the web interface.",
      "properties": {
        "restrictToContacts": {
          "description": "Flag that determines whether responses are sent to recipients who are not in the user's list of contacts.",
          "type": "boolean"
        },
        "endTime": {
          "description": "An optional end time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives before the end time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "format": "int64",
          "type": "string"
        },
        "responseBodyHtml": {
          "description": "Response body in HTML format. Gmail will sanitize the HTML before storing it. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used.",
          "type": "string"
        },
        "restrictToDomain": {
          "type": "boolean",
          "description": "Flag that determines whether responses are sent to recipients who are outside of the user's domain. This feature is only available for Google Workspace users."
        },
        "startTime": {
          "description": "An optional start time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives after the start time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "format": "int64",
          "type": "string"
        },
        "enableAutoReply": {
          "type": "boolean",
          "description": "Flag that controls whether Gmail automatically replies to messages."
        },
        "responseSubject": {
          "type": "string",
          "description": "Optional text to prepend to the subject line in vacation responses. In order to enable auto-replies, either the response subject or the response body must be nonempty."
        },
        "responseBodyPlainText": {
          "description": "Response body in plain text format. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used.",
          "type": "string"
        }
      }
    },
    "BatchModifyMessagesRequest": {
      "type": "object",
      "properties": {
        "addLabelIds": {
          "description": "A list of label IDs to add to messages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "description": "A list of label IDs to remove from messages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of the messages to modify. There is a limit of 1000 ids per request."
        }
      },
      "id": "BatchModifyMessagesRequest"
    },
    "KaclsKeyMetadata": {
      "properties": {
        "kaclsUri": {
          "description": "The URI of the key access control list service that manages the private key.",
          "type": "string"
        },
        "kaclsData": {
          "type": "string",
          "description": "Opaque data generated and used by the key access control list service. Maximum size: 8 KiB."
        }
      },
      "id": "KaclsKeyMetadata",
      "description": "Metadata for private keys managed by an external key access control list service. For details about managing key access, see [Google Workspace CSE API Reference](https://developers.google.com/workspace/cse/reference).",
      "type": "object"
    },
    "ListThreadsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "threads": {
          "type": "array",
          "items": {
            "$ref": "Thread"
          },
          "description": "List of threads. Note that each thread resource does not contain a list of `messages`. The list of `messages` for a given thread can be fetched using the [`threads.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/threads/get) method."
        },
        "resultSizeEstimate": {
          "type": "integer",
          "description": "Estimated total number of results.",
          "format": "uint32"
        }
      },
      "id": "ListThreadsResponse"
    },
    "MessagePartBody": {
      "type": "object",
      "properties": {
        "attachmentId": {
          "type": "string",
          "description": "When present, contains the ID of an external attachment that can be retrieved in a separate `messages.attachments.get` request. When not present, the entire content of the message part body is contained in the data field."
        },
        "data": {
          "type": "string",
          "description": "The body data of a MIME message part as a base64url encoded string. May be empty for MIME container types that have no message body or when the body data is sent as a separate attachment. An attachment ID is present if the body data is contained in a separate attachment.",
          "format": "byte"
        },
        "size": {
          "description": "Number of bytes for the message part data (encoding notwithstanding).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "MessagePartBody",
      "description": "The body of a single MIME message part."
    },
    "LanguageSettings": {
      "properties": {
        "displayLanguage": {
          "description": "The language to display Gmail in, formatted as an RFC 3066 Language Tag (for example `en-GB`, `fr` or `ja` for British English, French, or Japanese respectively). The set of languages supported by Gmail evolves over time, so please refer to the \"Language\" dropdown in the Gmail settings for all available options, as described in the language settings help article. For a table of sample values, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). Not all Gmail clients can display the same set of languages. In the case that a user's display language is not available for use on a particular client, said client automatically chooses to display in the closest supported variant (or a reasonable default).",
          "type": "string"
        }
      },
      "id": "LanguageSettings",
      "description": "Language settings for an account. These settings correspond to the \"Language settings\" feature in the web interface.",
      "type": "object"
    },
    "ImapSettings": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether IMAP is enabled for the account.",
          "type": "boolean"
        },
        "expungeBehavior": {
          "description": "The action that will be executed on a message when it is marked as deleted and expunged from the last visible IMAP folder.",
          "enum": [
            "expungeBehaviorUnspecified",
            "archive",
            "trash",
            "deleteForever"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified behavior.",
            "Archive messages marked as deleted.",
            "Move messages marked as deleted to the trash.",
            "Immediately and permanently delete messages marked as deleted. The expunged messages cannot be recovered."
          ]
        },
        "maxFolderSize": {
          "type": "integer",
          "description": "An optional limit on the number of messages that an IMAP folder may contain. Legal values are 0, 1000, 2000, 5000 or 10000. A value of zero is interpreted to mean that there is no limit.",
          "format": "int32"
        },
        "autoExpunge": {
          "type": "boolean",
          "description": "If this value is true, Gmail will immediately expunge a message when it is marked as deleted in IMAP. Otherwise, Gmail will wait for an update from the client before expunging messages marked as deleted."
        }
      },
      "id": "ImapSettings",
      "description": "IMAP settings for an account."
    },
    "HistoryMessageAdded": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "id": "HistoryMessageAdded"
    },
    "ListSmimeInfoResponse": {
      "properties": {
        "smimeInfo": {
          "description": "List of SmimeInfo.",
          "type": "array",
          "items": {
            "$ref": "SmimeInfo"
          }
        }
      },
      "id": "ListSmimeInfoResponse",
      "type": "object"
    },
    "ModifyThreadRequest": {
      "id": "ModifyThreadRequest",
      "properties": {
        "removeLabelIds": {
          "description": "A list of IDs of labels to remove from this thread. You can remove up to 100 labels with each update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of IDs of labels to add to this thread. You can add up to 100 labels with each update."
        }
      },
      "type": "object"
    },
    "ListCseKeyPairsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be passed to a subsequent ListCseKeyPairs call in order to retrieve the next page of key pairs. If this value is not returned, then no further pages remain."
        },
        "cseKeyPairs": {
          "type": "array",
          "items": {
            "$ref": "CseKeyPair"
          },
          "description": "One page of the list of CSE key pairs installed for the user."
        }
      },
      "id": "ListCseKeyPairsResponse",
      "type": "object"
    },
    "SignAndEncryptKeyPairs": {
      "properties": {
        "signingKeyPairId": {
          "type": "string",
          "description": "The ID of the CseKeyPair that signs outgoing mail."
        },
        "encryptionKeyPairId": {
          "type": "string",
          "description": "The ID of the CseKeyPair that encrypts signed outgoing mail."
        }
      },
      "id": "SignAndEncryptKeyPairs",
      "description": "The configuration of a CSE identity that uses different key pairs for signing and encryption.",
      "type": "object"
    },
    "ClassificationLabelFieldValue": {
      "type": "object",
      "id": "ClassificationLabelFieldValue",
      "description": "Field values for a classification label.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The field ID for the Classification Label Value. Maps to the ID field of the Google Drive `Label.Field` object."
        },
        "selection": {
          "description": "Selection choice ID for the selection option. Should only be set if the field type is `SELECTION` in the Google Drive `Label.Field` object. Maps to the id field of the Google Drive `Label.Field.SelectionOptions` resource.",
          "type": "string"
        }
      }
    },
    "DisableCseKeyPairRequest": {
      "type": "object",
      "id": "DisableCseKeyPairRequest",
      "description": "Requests to turn off a client-side encryption key pair.",
      "properties": {}
    },
    "Filter": {
      "properties": {
        "id": {
          "description": "The server assigned ID of the filter.",
          "type": "string"
        },
        "criteria": {
          "description": "Matching criteria for the filter.",
          "$ref": "FilterCriteria"
        },
        "action": {
          "description": "Action that the filter performs.",
          "$ref": "FilterAction"
        }
      },
      "id": "Filter",
      "description": "Resource definition for Gmail filters. Filters apply to specific messages instead of an entire email thread.",
      "type": "object"
    },
    "LabelColor": {
      "type": "object",
      "properties": {
        "textColor": {
          "type": "string",
          "description": "The text color of the label, represented as hex string. This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c, \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765"
        },
        "backgroundColor": {
          "description": "The background color represented as hex string #RRGGBB (ex #000000). This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c, \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765",
          "type": "string"
        }
      },
      "id": "LabelColor"
    },
    "Message": {
      "type": "object",
      "properties": {
        "sizeEstimate": {
          "type": "integer",
          "description": "Estimated size in bytes of the message.",
          "format": "int32"
        },
        "classificationLabelValues": {
          "description": "Classification Label values on the message. Available Classification Label schemas can be queried using the Google Drive Labels API. Each classification label ID must be unique. If duplicate IDs are provided, only one will be retained, and the selection is arbitrary. Only used for Google Workspace accounts.",
          "type": "array",
          "items": {
            "$ref": "ClassificationLabelValue"
          }
        },
        "id": {
          "description": "The immutable ID of the message.",
          "type": "string"
        },
        "historyId": {
          "type": "string",
          "description": "The ID of the last history record that modified this message.",
          "format": "uint64"
        },
        "payload": {
          "description": "The parsed email structure in the message parts.",
          "$ref": "MessagePart"
        },
        "snippet": {
          "type": "string",
          "description": "A short part of the message text."
        },
        "raw": {
          "description": "The entire email message in an RFC 2822 formatted and base64url encoded string. Returned in `messages.get` and `drafts.get` responses when the `format=RAW` parameter is supplied.",
          "format": "byte",
          "annotations": {
            "required": [
              "gmail.users.drafts.create",
              "gmail.users.drafts.update",
              "gmail.users.messages.insert",
              "gmail.users.messages.send"
            ]
          },
          "type": "string"
        },
        "internalDate": {
          "description": "The internal message creation timestamp (epoch ms), which determines ordering in the inbox. For normal SMTP-received email, this represents the time the message was originally accepted by Google, which is more reliable than the `Date` header. However, for API-migrated mail, it can be configured by client to be based on the `Date` header.",
          "format": "int64",
          "type": "string"
        },
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of IDs of labels applied to this message."
        },
        "threadId": {
          "type": "string",
          "description": "The ID of the thread the message belongs to. To add a message or draft to a thread, the following criteria must be met: 1. The requested `threadId` must be specified on the `Message` or `Draft.Message` you supply with your request. 2. The `References` and `In-Reply-To` headers must be set in compliance with the [RFC 2822](https://tools.ietf.org/html/rfc2822) standard. 3. The `Subject` headers must match. "
        }
      },
      "id": "Message",
      "description": "An email message."
    },
    "Profile": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "The user's email address.",
          "type": "string"
        },
        "messagesTotal": {
          "description": "The total number of messages in the mailbox.",
          "format": "int32",
          "type": "integer"
        },
        "threadsTotal": {
          "description": "The total number of threads in the mailbox.",
          "format": "int32",
          "type": "integer"
        },
        "historyId": {
          "type": "string",
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64"
        }
      },
      "id": "Profile",
      "description": "Profile for a Gmail user."
    },
    "PopSettings": {
      "id": "PopSettings",
      "description": "POP settings for an account.",
      "properties": {
        "accessWindow": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified range.",
            "Indicates that no messages are accessible via POP.",
            "Indicates that unfetched messages received after some past point in time are accessible via POP.",
            "Indicates that all unfetched messages are accessible via POP."
          ],
          "description": "The range of messages which are accessible via POP.",
          "enum": [
            "accessWindowUnspecified",
            "disabled",
            "fromNowOn",
            "allMail"
          ]
        },
        "disposition": {
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "description": "The action that will be executed on a message after it has been fetched via POP.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ]
        }
      },
      "type": "object"
    },
    "ObliterateCseKeyPairRequest": {
      "type": "object",
      "id": "ObliterateCseKeyPairRequest",
      "description": "Request to obliterate a CSE key pair.",
      "properties": {}
    },
    "AutoForwarding": {
      "properties": {
        "disposition": {
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "description": "The state that a message should be left in after it has been forwarded.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ]
        },
        "enabled": {
          "description": "Whether all incoming mail is automatically forwarded to another address.",
          "type": "boolean"
        },
        "emailAddress": {
          "description": "Email address to which all incoming messages are forwarded. This email address must be a verified member of the forwarding addresses.",
          "type": "string"
        }
      },
      "id": "AutoForwarding",
      "description": "Auto-forwarding settings for an account.",
      "type": "object"
    },
    "FilterCriteria": {
      "type": "object",
      "properties": {
        "hasAttachment": {
          "description": "Whether the message has any attachment.",
          "type": "boolean"
        },
        "sizeComparison": {
          "description": "How the message size in bytes should be in relation to the size field.",
          "enum": [
            "unspecified",
            "smaller",
            "larger"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Find messages smaller than the given size.",
            "Find messages larger than the given size."
          ]
        },
        "negatedQuery": {
          "type": "string",
          "description": "Only return messages not matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
        },
        "excludeChats": {
          "description": "Whether the response should exclude chats.",
          "type": "boolean"
        },
        "from": {
          "type": "string",
          "description": "The sender's display name or email address."
        },
        "query": {
          "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
          "type": "string"
        },
        "to": {
          "description": "The recipient's display name or email address. Includes recipients in the \"to\", \"cc\", and \"bcc\" header fields. You can use simply the local part of the email address. For example, \"example\" and \"example@\" both match \"example@gmail.com\". This field is case-insensitive.",
          "type": "string"
        },
        "subject": {
          "description": "Case-insensitive phrase found in the message's subject. Trailing and leading whitespace are be trimmed and adjacent spaces are collapsed.",
          "type": "string"
        },
        "size": {
          "type": "integer",
          "description": "The size of the entire RFC822 message in bytes, including all headers and attachments.",
          "format": "int32"
        }
      },
      "id": "FilterCriteria",
      "description": "Message matching criteria."
    },
    "ListDraftsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "drafts": {
          "type": "array",
          "items": {
            "$ref": "Draft"
          },
          "description": "List of drafts. Note that the `Message` property in each `Draft` resource only contains an `id` and a `threadId`. The [`messages.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/messages/get) method can fetch additional message details."
        },
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "id": "ListDraftsResponse",
      "type": "object"
    },
    "ListForwardingAddressesResponse": {
      "type": "object",
      "id": "ListForwardingAddressesResponse",
      "description": "Response for the ListForwardingAddresses method.",
      "properties": {
        "forwardingAddresses": {
          "type": "array",
          "items": {
            "$ref": "ForwardingAddress"
          },
          "description": "List of addresses that may be used for forwarding."
        }
      }
    },
    "Label": {
      "id": "Label",
      "description": "Labels are used to categorize messages and threads within the user's mailbox. The maximum number of labels supported for a user's mailbox is 10,000.",
      "properties": {
        "threadsUnread": {
          "description": "The number of unread threads with the label.",
          "format": "int32",
          "type": "integer"
        },
        "messagesTotal": {
          "type": "integer",
          "description": "The total number of messages with the label.",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Labels created by Gmail.",
            "Custom labels created by the user or application."
          ],
          "description": "The owner type for the label. User labels are created by the user and can be modified and deleted by the user and can be applied to any message or thread. System labels are internally created and cannot be added, modified, or deleted. System labels may be able to be applied to or removed from messages and threads under some circumstances but this is not guaranteed. For example, users can apply and remove the `INBOX` and `UNREAD` labels from messages and threads, but cannot apply or remove the `DRAFTS` or `SENT` labels from messages or threads.",
          "enum": [
            "system",
            "user"
          ]
        },
        "messagesUnread": {
          "type": "integer",
          "description": "The number of unread messages with the label.",
          "format": "int32"
        },
        "id": {
          "description": "The immutable ID of the label.",
          "annotations": {
            "required": [
              "gmail.users.labels.update"
            ]
          },
          "type": "string"
        },
        "name": {
          "description": "The display name of the label.",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string"
        },
        "messageListVisibility": {
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string",
          "enumDescriptions": [
            "Show the label in the message list.",
            "Do not show the label in the message list."
          ],
          "description": "The visibility of messages with this label in the message list in the Gmail web interface.",
          "enum": [
            "show",
            "hide"
          ]
        },
        "threadsTotal": {
          "type": "integer",
          "description": "The total number of threads with the label.",
          "format": "int32"
        },
        "color": {
          "description": "The color to assign to the label. Color is only available for labels that have their `type` set to `user`.",
          "$ref": "LabelColor"
        },
        "labelListVisibility": {
          "enum": [
            "labelShow",
            "labelShowIfUnread",
            "labelHide"
          ],
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string",
          "enumDescriptions": [
            "Show the label in the label list.",
            "Show the label if there are any unread messages with that label.",
            "Do not show the label in the label list."
          ],
          "description": "The visibility of the label in the label list in the Gmail web interface."
        }
      },
      "type": "object"
    },
    "CsePrivateKeyMetadata": {
      "properties": {
        "privateKeyMetadataId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The immutable ID for the private key metadata instance."
        },
        "kaclsKeyMetadata": {
          "description": "Metadata for a private key instance managed by an external key access control list service.",
          "$ref": "KaclsKeyMetadata"
        },
        "hardwareKeyMetadata": {
          "description": "Metadata for hardware keys.",
          "$ref": "HardwareKeyMetadata"
        }
      },
      "id": "CsePrivateKeyMetadata",
      "description": "Metadata for a private key instance.",
      "type": "object"
    },
    "ListHistoryResponse": {
      "id": "ListHistoryResponse",
      "properties": {
        "history": {
          "type": "array",
          "items": {
            "$ref": "History"
          },
          "description": "List of history records. Any `messages` contained in the response will typically only have `id` and `threadId` fields populated."
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "HistoryMessageDeleted": {
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "id": "HistoryMessageDeleted",
      "type": "object"
    },
    "ModifyMessageRequest": {
      "type": "object",
      "properties": {
        "addLabelIds": {
          "description": "A list of IDs of labels to add to this message. You can add up to 100 labels with each update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list IDs of labels to remove from this message. You can remove up to 100 labels with each update."
        }
      },
      "id": "ModifyMessageRequest"
    },
    "SmtpMsa": {
      "properties": {
        "port": {
          "description": "The port of the SMTP service. Required.",
          "format": "int32",
          "type": "integer"
        },
        "password": {
          "type": "string",
          "description": "The password that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        },
        "securityMode": {
          "description": "The protocol that will be used to secure communication with the SMTP service. Required.",
          "enum": [
            "securityModeUnspecified",
            "none",
            "ssl",
            "starttls"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified security mode.",
            "Communication with the remote SMTP service is unsecured. Requires port 25.",
            "Communication with the remote SMTP service is secured using SSL.",
            "Communication with the remote SMTP service is secured using STARTTLS."
          ]
        },
        "host": {
          "type": "string",
          "description": "The hostname of the SMTP service. Required."
        },
        "username": {
          "type": "string",
          "description": "The username that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        }
      },
      "id": "SmtpMsa",
      "description": "Configuration for communication with an SMTP service.",
      "type": "object"
    },
    "BatchDeleteMessagesRequest": {
      "type": "object",
      "properties": {
        "ids": {
          "description": "The IDs of the messages to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeleteMessagesRequest"
    },
    "ListDelegatesResponse": {
      "id": "ListDelegatesResponse",
      "description": "Response for the ListDelegates method.",
      "properties": {
        "delegates": {
          "description": "List of the user's delegates (with any verification status). If an account doesn't have delegates, this field doesn't appear.",
          "type": "array",
          "items": {
            "$ref": "Delegate"
          }
        }
      },
      "type": "object"
    },
    "ListCseIdentitiesResponse": {
      "type": "object",
      "id": "ListCseIdentitiesResponse",
      "properties": {
        "cseIdentities": {
          "description": "One page of the list of CSE identities configured for the user.",
          "type": "array",
          "items": {
            "$ref": "CseIdentity"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be passed to a subsequent ListCseIdentities call in order to retrieve the next page of identities. If this value is not returned or is the empty string, then no further pages remain.",
          "type": "string"
        }
      }
    },
    "HistoryLabelAdded": {
      "id": "HistoryLabelAdded",
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "description": "Label IDs added to the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "MessagePartHeader": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the header after the `:` separator. For example, `someuser@example.com`."
        },
        "name": {
          "description": "The name of the header before the `:` separator. For example, `To`.",
          "type": "string"
        }
      },
      "id": "MessagePartHeader"
    },
    "ListLabelsResponse": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          },
          "description": "List of labels. Note that each label resource only contains an `id`, `name`, `messageListVisibility`, `labelListVisibility`, and `type`. The [`labels.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/labels/get) method can fetch additional label details."
        }
      },
      "id": "ListLabelsResponse"
    },
    "CseKeyPair": {
      "properties": {
        "enablementState": {
          "enum": [
            "stateUnspecified",
            "enabled",
            "disabled"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The current state of the key pair is not set. The key pair is neither turned on nor turned off.",
            "The key pair is turned on. For any email messages that this key pair encrypts, Gmail decrypts the messages and signs any outgoing mail with the private key. To turn on a key pair, use the EnableCseKeyPair method.",
            "The key pair is turned off. Authenticated users cannot decrypt email messages nor sign outgoing messages. If a key pair is turned off for more than 30 days, you can permanently delete it. To turn off a key pair, use the DisableCseKeyPair method."
          ],
          "description": "Output only. The current state of the key pair."
        },
        "keyPairId": {
          "description": "Output only. The immutable ID for the client-side encryption S/MIME key pair.",
          "readOnly": true,
          "type": "string"
        },
        "subjectEmailAddresses": {
          "description": "Output only. The email address identities that are specified on the leaf certificate.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disableTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If a key pair is set to `DISABLED`, the time that the key pair's state changed from `ENABLED` to `DISABLED`. This field is present only when the key pair is in state `DISABLED`.",
          "format": "google-datetime"
        },
        "pem": {
          "description": "Output only. The public key and its certificate chain, in [PEM](https://en.wikipedia.org/wiki/Privacy-Enhanced_Mail) format.",
          "readOnly": true,
          "type": "string"
        },
        "pkcs7": {
          "description": "Input only. The public key and its certificate chain. The chain must be in [PKCS#7](https://en.wikipedia.org/wiki/PKCS_7) format and use PEM encoding and ASCII armor.",
          "type": "string"
        },
        "privateKeyMetadata": {
          "description": "Metadata for instances of this key pair's private key.",
          "type": "array",
          "items": {
            "$ref": "CsePrivateKeyMetadata"
          }
        }
      },
      "id": "CseKeyPair",
      "description": "A client-side encryption S/MIME key pair, which is comprised of a public key, its certificate chain, and metadata for its paired private key. Gmail uses the key pair to complete the following tasks: - Sign outgoing client-side encrypted messages. - Save and reopen drafts of client-side encrypted messages. - Save and reopen sent messages. - Decrypt incoming or archived S/MIME messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
      "type": "object"
    },
    "WatchRequest": {
      "type": "object",
      "id": "WatchRequest",
      "description": "Set up or update a new push notification watch on this user's mailbox.",
      "properties": {
        "labelFilterBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "description": "Filtering behavior of `labelIds list` specified. This field replaces `label_filter_action`; if set, `label_filter_action` is ignored.",
          "enum": [
            "include",
            "exclude"
          ]
        },
        "topicName": {
          "description": "A fully qualified Google Cloud Pub/Sub API topic name to publish the events to. This topic name **must** already exist in Cloud Pub/Sub and you **must** have already granted gmail \"publish\" permission on it. For example, \"projects/my-project-identifier/topics/my-topic-name\" (using the Cloud Pub/Sub \"v1\" topic naming format). Note that the \"my-project-identifier\" portion must exactly match your Google developer project id (the one executing this watch request).",
          "type": "string"
        },
        "labelIds": {
          "description": "List of label_ids to restrict notifications about. By default, if unspecified, all changes are pushed out. If specified then dictates which labels are required for a push notification to be generated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labelFilterAction": {
          "description": "Filtering behavior of `labelIds list` specified. This field is deprecated because it caused incorrect behavior in some cases; use `label_filter_behavior` instead.",
          "type": "string",
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "enum": [
            "include",
            "exclude"
          ],
          "deprecated": true
        }
      }
    },
    "Thread": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID of the thread."
        },
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "historyId": {
          "type": "string",
          "description": "The ID of the last history record that modified this thread.",
          "format": "uint64"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "The list of messages in the thread."
        }
      },
      "id": "Thread",
      "description": "A collection of messages representing a conversation.",
      "type": "object"
    },
    "MessagePart": {
      "type": "object",
      "properties": {
        "body": {
          "description": "The message part body for this part, which may be empty for container MIME message parts.",
          "$ref": "MessagePartBody"
        },
        "mimeType": {
          "description": "The MIME type of the message part.",
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "MessagePart"
          },
          "description": "The child MIME message parts of this part. This only applies to container MIME message parts, for example `multipart/*`. For non- container MIME message part types, such as `text/plain`, this field is empty. For more information, see RFC 1521."
        },
        "partId": {
          "description": "The immutable ID of the message part.",
          "type": "string"
        },
        "filename": {
          "type": "string",
          "description": "The filename of the attachment. Only present if this message part represents an attachment."
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "MessagePartHeader"
          },
          "description": "List of headers on this message part. For the top-level message part, representing the entire message payload, it will contain the standard RFC 2822 email headers such as `To`, `From`, and `Subject`."
        }
      },
      "id": "MessagePart",
      "description": "A single MIME message part."
    },
    "WatchResponse": {
      "type": "object",
      "properties": {
        "expiration": {
          "description": "When Gmail will stop sending notifications for mailbox updates (epoch millis). Call `watch` again before this time to renew the watch.",
          "format": "int64",
          "type": "string"
        },
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64",
          "type": "string"
        }
      },
      "id": "WatchResponse",
      "description": "Push notification watch response."
    },
    "CseIdentity": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "The email address for the sending identity. The email address must be the primary email address of the authenticated user.",
          "type": "string"
        },
        "primaryKeyPairId": {
          "type": "string",
          "description": "If a key pair is associated, the ID of the key pair, CseKeyPair."
        },
        "signAndEncryptKeyPairs": {
          "description": "The configuration of a CSE identity that uses different key pairs for signing and encryption.",
          "$ref": "SignAndEncryptKeyPairs"
        }
      },
      "id": "CseIdentity",
      "description": "The client-side encryption (CSE) configuration for the email address of an authenticated user. Gmail uses CSE configurations to save drafts of client-side encrypted email messages, and to sign and send encrypted email messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
    },
    "ClassificationLabelValue": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "ClassificationLabelFieldValue"
          },
          "description": "Field values for the given classification label ID."
        },
        "labelId": {
          "type": "string",
          "description": "Required. The canonical or raw alphanumeric classification label ID. Maps to the ID field of the Google Drive Label resource."
        }
      },
      "id": "ClassificationLabelValue",
      "description": "Classification Labels applied to the email message. Classification Labels are different from Gmail inbox labels. Only used for Google Workspace accounts. [Learn more about classification labels](https://support.google.com/a/answer/9292382)."
    },
    "EnableCseKeyPairRequest": {
      "type": "object",
      "properties": {},
      "id": "EnableCseKeyPairRequest",
      "description": "Requests to turn on a client-side encryption key pair."
    },
    "ForwardingAddress": {
      "id": "ForwardingAddress",
      "description": "Settings for a forwarding address.",
      "properties": {
        "forwardingEmail": {
          "type": "string",
          "description": "An email address to which messages can be forwarded."
        },
        "verificationStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use for forwarding.",
            "The address is awaiting verification by the owner."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "description": "Indicates whether this address has been verified and is usable for forwarding. Read-only."
        }
      },
      "type": "object"
    },
    "FilterAction": {
      "type": "object",
      "id": "FilterAction",
      "description": "A set of actions to perform on a message.",
      "properties": {
        "removeLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of labels to remove from the message."
        },
        "addLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of labels to add to the message."
        },
        "forward": {
          "description": "Email address that the message should be forwarded to.",
          "type": "string"
        }
      }
    },
    "Draft": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The immutable ID of the draft.",
          "annotations": {
            "required": [
              "gmail.users.drafts.send"
            ]
          },
          "type": "string"
        },
        "message": {
          "description": "The message content of the draft.",
          "$ref": "Message"
        }
      },
      "id": "Draft",
      "description": "A draft email in the user's mailbox."
    },
    "SendAs": {
      "type": "object",
      "id": "SendAs",
      "description": "Settings associated with a send-as alias, which can be either the primary login address associated with the account or a custom \"from\" address. Send-as aliases correspond to the \"Send Mail As\" feature in the web interface.",
      "properties": {
        "sendAsEmail": {
          "description": "The email address that appears in the \"From:\" header for mail sent using this alias. This is read-only for all operations except create.",
          "type": "string"
        },
        "verificationStatus": {
          "description": "Indicates whether this address has been verified for use as a send-as alias. Read-only. This setting only applies to custom \"from\" aliases.",
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use as a send-as alias.",
            "The address is awaiting verification by the owner."
          ]
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether this address is selected as the default \"From:\" address in situations such as composing a new message or sending a vacation auto-reply. Every Gmail account has exactly one default send-as address, so the only legal value that clients may write to this field is `true`. Changing this from `false` to `true` for an address will result in this field becoming `false` for the other previous default address."
        },
        "signature": {
          "type": "string",
          "description": "An optional HTML signature that is included in messages composed with this alias in the Gmail web UI. This signature is added to new emails only."
        },
        "treatAsAlias": {
          "type": "boolean",
          "description": "Whether Gmail should treat this address as an alias for the user's primary email address. This setting only applies to custom \"from\" aliases."
        },
        "smtpMsa": {
          "description": "An optional SMTP service that will be used as an outbound relay for mail sent using this alias. If this is empty, outbound mail will be sent directly from Gmail's servers to the destination SMTP service. This setting only applies to custom \"from\" aliases.",
          "$ref": "SmtpMsa"
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Whether this address is the primary address used to login to the account. Every Gmail account has exactly one primary address, and it cannot be deleted from the collection of send-as aliases. This field is read-only."
        },
        "displayName": {
          "type": "string",
          "description": "A name that appears in the \"From:\" header for mail sent using this alias. For custom \"from\" addresses, when this is empty, Gmail will populate the \"From:\" header with the name that is used for the primary address associated with the account. If the admin has disabled the ability for users to update their name format, requests to update this field for the primary login will silently fail."
        },
        "replyToAddress": {
          "type": "string",
          "description": "An optional email address that is included in a \"Reply-To:\" header for mail sent using this alias. If this is empty, Gmail will not generate a \"Reply-To:\" header."
        }
      }
    }
  },
  "canonicalName": "Gmail",
  "revision": "20260413",
  "resources": {
    "users": {
      "resources": {
        "history": {
          "methods": {
            "list": {
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.history.list",
              "description": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`).",
              "response": {
                "$ref": "ListHistoryResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query",
                  "type": "string"
                },
                "historyTypes": {
                  "description": "History types to be returned by the function",
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    ""
                  ],
                  "enum": [
                    "messageAdded",
                    "messageDeleted",
                    "labelAdded",
                    "labelRemoved"
                  ]
                },
                "maxResults": {
                  "format": "uint32",
                  "description": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "default": "100",
                  "location": "query",
                  "type": "integer"
                },
                "userId": {
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true
                },
                "startHistoryId": {
                  "description": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.",
                  "location": "query",
                  "format": "uint64",
                  "type": "string"
                },
                "labelId": {
                  "description": "Only return messages with a label matching the ID.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "gmail/v1/users/{userId}/history",
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "flatPath": "gmail/v1/users/{userId}/history"
            }
          }
        },
        "labels": {
          "methods": {
            "update": {
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Label"
              },
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "id": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the label to update.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Label"
              },
              "id": "gmail.users.labels.update",
              "description": "Updates the specified label.",
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "patch": {
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Label"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the label to update.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Label"
              },
              "id": "gmail.users.labels.patch",
              "description": "Patch the specified label.",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "list": {
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListLabelsResponse"
              },
              "path": "gmail/v1/users/{userId}/labels",
              "httpMethod": "GET",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.labels.list",
              "description": "Lists all labels in the user's mailbox.",
              "flatPath": "gmail/v1/users/{userId}/labels",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ]
            },
            "get": {
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Label"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "type": "string"
                },
                "id": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the label to retrieve.",
                  "location": "path"
                }
              },
              "id": "gmail.users.labels.get",
              "description": "Gets the specified label.",
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "delete": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.labels.delete",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Immediately and permanently deletes the specified label and removes it from any messages and threads that it is applied to.",
              "parameters": {
                "userId": {
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the label to delete.",
                  "location": "path"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "httpMethod": "DELETE"
            },
            "create": {
              "id": "gmail.users.labels.create",
              "description": "Creates a new label.",
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/labels",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Label"
              },
              "response": {
                "$ref": "Label"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels"
            }
          }
        },
        "messages": {
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "id": "gmail.users.messages.attachments.get",
                  "description": "Gets the specified message attachment.",
                  "parameterOrder": [
                    "userId",
                    "messageId",
                    "id"
                  ],
                  "path": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "MessagePartBody"
                  },
                  "parameters": {
                    "messageId": {
                      "type": "string",
                      "required": true,
                      "description": "The ID of the message containing the attachment.",
                      "location": "path"
                    },
                    "id": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the attachment.",
                      "location": "path"
                    },
                    "userId": {
                      "required": true,
                      "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "response": {
                "$ref": "Message"
              },
              "parameters": {
                "metadataHeaders": {
                  "description": "When given and format is `METADATA`, only include headers specified.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`).",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "format": {
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "description": "The format to return the message in.",
                  "default": "full",
                  "location": "query"
                },
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "httpMethod": "GET",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.messages.get",
              "description": "Gets the specified message."
            },
            "batchModify": {
              "path": "gmail/v1/users/{userId}/messages/batchModify",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchModifyMessagesRequest"
              },
              "id": "gmail.users.messages.batchModify",
              "description": "Modifies the labels on the specified messages.",
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/batchModify",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "list": {
              "id": "gmail.users.messages.list",
              "description": "Lists the messages in the user's mailbox. For example usage, see [List Gmail messages](https://developers.google.com/workspace/gmail/api/guides/list-messages).",
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/messages",
              "httpMethod": "GET",
              "parameters": {
                "includeSpamTrash": {
                  "type": "boolean",
                  "description": "Include messages from `SPAM` and `TRASH` in the results.",
                  "default": "false",
                  "location": "query"
                },
                "userId": {
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true
                },
                "maxResults": {
                  "format": "uint32",
                  "type": "integer",
                  "description": "Maximum number of messages to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "default": "100",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query",
                  "type": "string"
                },
                "labelIds": {
                  "type": "string",
                  "description": "Only return messages with labels that match all of the specified label IDs. Messages in a thread might have labels that other messages in the same thread don't have. To learn more, see [Manage labels on messages and threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads).",
                  "location": "query",
                  "repeated": true
                },
                "q": {
                  "type": "string",
                  "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListMessagesResponse"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages"
            },
            "modify": {
              "id": "gmail.users.messages.modify",
              "description": "Modifies the labels on the specified message.",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "path": "gmail/v1/users/{userId}/messages/{id}/modify",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the message to modify.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "ModifyMessageRequest"
              },
              "response": {
                "$ref": "Message"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/modify"
            },
            "insert": {
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "type": "string"
                },
                "internalDateSource": {
                  "type": "string",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "description": "Source for Gmail's internal date of the message.",
                  "default": "receivedTime",
                  "location": "query",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ]
                },
                "deleted": {
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "default": "false",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "request": {
                "$ref": "Message"
              },
              "response": {
                "$ref": "Message"
              },
              "path": "gmail/v1/users/{userId}/messages",
              "httpMethod": "POST",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.messages.insert",
              "supportsMediaUpload": true,
              "description": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message.",
              "mediaUpload": {
                "maxSize": "157286400",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "flatPath": "gmail/v1/users/{userId}/messages",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "import": {
              "path": "gmail/v1/users/{userId}/messages/import",
              "httpMethod": "POST",
              "parameters": {
                "deleted": {
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "default": "false",
                  "location": "query",
                  "type": "boolean"
                },
                "internalDateSource": {
                  "type": "string",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "description": "Source for Gmail's internal date of the message.",
                  "default": "dateHeader",
                  "location": "query",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ]
                },
                "processForCalendar": {
                  "description": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
                  "default": "false",
                  "location": "query",
                  "type": "boolean"
                },
                "neverMarkSpam": {
                  "type": "boolean",
                  "description": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
                  "default": "false",
                  "location": "query"
                },
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Message"
              },
              "response": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.import",
              "supportsMediaUpload": true,
              "description": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work for some spam messages, such as those attempting to perform domain spoofing. This method does not send a message. Note that the maximum size of the message is 150MB.",
              "parameterOrder": [
                "userId"
              ],
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "157286400",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/import"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/import"
                  }
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages/import",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "delete": {
              "id": "gmail.users.messages.delete",
              "scopes": [
                "https://mail.google.com/"
              ],
              "description": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "httpMethod": "DELETE",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "parameters": {
                "userId": {
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true
                },
                "id": {
                  "description": "The ID of the message to delete.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "batchDelete": {
              "scopes": [
                "https://mail.google.com/"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/batchDelete",
              "id": "gmail.users.messages.batchDelete",
              "description": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/messages/batchDelete",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchDeleteMessagesRequest"
              }
            },
            "send": {
              "flatPath": "gmail/v1/users/{userId}/messages/send",
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/send"
                  }
                },
                "maxSize": "36700160"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.send"
              ],
              "path": "gmail/v1/users/{userId}/messages/send",
              "httpMethod": "POST",
              "response": {
                "$ref": "Message"
              },
              "parameters": {
                "userId": {
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.send",
              "supportsMediaUpload": true,
              "description": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For example usage, see [Sending email](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "parameterOrder": [
                "userId"
              ]
            },
            "trash": {
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/trash",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/messages/{id}/trash",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "required": true
                },
                "id": {
                  "description": "The ID of the message to Trash.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.trash",
              "description": "Moves the specified message to the trash.",
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "untrash": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.messages.untrash",
              "description": "Removes the specified message from the trash.",
              "response": {
                "$ref": "Message"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the message to remove from Trash.",
                  "location": "path"
                }
              },
              "path": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/untrash"
            }
          }
        },
        "drafts": {
          "methods": {
            "send": {
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.drafts.send",
              "supportsMediaUpload": true,
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers.",
              "response": {
                "$ref": "Message"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Draft"
              },
              "path": "gmail/v1/users/{userId}/drafts/send",
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/send",
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                },
                "accept": [
                  "message/*"
                ]
              }
            },
            "update": {
              "id": "gmail.users.drafts.update",
[...]
