{
  "name": "gmailpostmastertools",
  "revision": "20260312",
  "canonicalName": "Postmaster Tools",
  "kind": "discovery#restDescription",
  "resources": {
    "domains": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Domain"
          },
          "path": "v2/{+name}",
          "flatPath": "v2/domains/{domainsId}",
          "httpMethod": "GET",
          "id": "gmailpostmastertools.domains.get",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the domain. Format: `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com).",
              "pattern": "^domains/[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "description": "Retrieves detailed information about a domain registered by you. Returns NOT_FOUND if the domain is not registered by you. Domain represents the metadata of a domain that has been registered within the system and linked to a user."
        },
        "getComplianceStatus": {
          "description": "Retrieves the compliance status for a given domain. Returns PERMISSION_DENIED if you don't have permission to access compliance status for the domain.",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the domain's compliance status to retrieve. Format: `domains/{domain_id}/complianceStatus`.",
              "pattern": "^domains/[^/]+/complianceStatus$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.traffic.readonly"
          ],
          "id": "gmailpostmastertools.domains.getComplianceStatus",
          "httpMethod": "GET",
          "path": "v2/{+name}",
          "flatPath": "v2/domains/{domainsId}/complianceStatus",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "DomainComplianceStatus"
          }
        },
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. The next_page_token value returned from a previous List request, if any.",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. Requested page size. Server may return fewer domains than requested. If unspecified, the default value for this field is 10. The maximum value for this field is 200.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "description": "Retrieves a list of all domains registered by you, along with their corresponding metadata. The order of domains in the response is unspecified and non-deterministic. Newly registered domains will not necessarily be added to the end of this list.",
          "path": "v2/domains",
          "flatPath": "v2/domains",
          "parameterOrder": [],
          "response": {
            "$ref": "ListDomainsResponse"
          },
          "id": "gmailpostmastertools.domains.list",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "domainStats": {
          "methods": {
            "query": {
              "description": "Retrieves a list of domain statistics for a given domain and time period. Returns statistics only for dates where data is available. Returns PERMISSION_DENIED if you don't have permission to access DomainStats for the domain.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource name where the stats are queried. Format: domains/{domain}",
                  "pattern": "^domains/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.traffic.readonly"
              ],
              "id": "gmailpostmastertools.domains.domainStats.query",
              "httpMethod": "POST",
              "path": "v2/{+parent}/domainStats:query",
              "flatPath": "v2/domains/{domainsId}/domainStats:query",
              "request": {
                "$ref": "QueryDomainStatsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "QueryDomainStatsResponse"
              }
            }
          }
        }
      }
    },
    "domainStats": {
      "methods": {
        "batchQuery": {
          "httpMethod": "POST",
          "id": "gmailpostmastertools.domainStats.batchQuery",
          "parameterOrder": [],
          "response": {
            "$ref": "BatchQueryDomainStatsResponse"
          },
          "path": "v2/domainStats:batchQuery",
          "flatPath": "v2/domainStats:batchQuery",
          "request": {
            "$ref": "BatchQueryDomainStatsRequest"
          },
          "description": "Executes a batch of QueryDomainStats requests for multiple domains. Returns PERMISSION_DENIED if you don't have permission to access DomainStats for any of the requested domains.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.traffic.readonly"
          ]
        }
      }
    }
  },
  "protocol": "rest",
  "title": "Gmail Postmaster Tools API",
  "baseUrl": "https://gmailpostmastertools.googleapis.com/",
  "mtlsRootUrl": "https://gmailpostmastertools.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/postmaster": {
          "description": "Get email traffic metrics, manage domains, and manage domain users for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.domain": {
          "description": "View and manage the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.traffic.readonly": {
          "description": "Get email traffic metrics for the domains you have registered with Postmaster Tools"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    }
  },
  "id": "gmailpostmastertools:v2",
  "documentationLink": "https://developers.google.com/workspace/gmail/postmaster",
  "schemas": {
    "MetricDefinition": {
      "id": "MetricDefinition",
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Optional filters to apply to the metric."
        },
        "baseMetric": {
          "description": "Required. The underlying metric to query.",
          "$ref": "BaseMetric"
        },
        "name": {
          "type": "string",
          "description": "Required. The user-defined name for this metric. This name will be used as the key for this metric's value in the response."
        }
      },
      "description": "Defines a specific metric to query, including a user-defined name, the base metric type, and optional filters."
    },
    "DomainComplianceData": {
      "description": "Compliance data for a given domain.",
      "properties": {
        "domainId": {
          "type": "string",
          "description": "Domain that this data is for."
        },
        "rowData": {
          "type": "array",
          "description": "Data for each of the rows of the table. Each message contains all the data that backs a single row.",
          "items": {
            "$ref": "ComplianceRowData"
          }
        },
        "honorUnsubscribeVerdict": {
          "$ref": "HonorUnsubscribeVerdict",
          "description": "Unsubscribe honoring compliance verdict."
        },
        "oneClickUnsubscribeVerdict": {
          "$ref": "OneClickUnsubscribeVerdict",
          "description": "One-click unsubscribe compliance verdict."
        }
      },
      "id": "DomainComplianceData",
      "type": "object"
    },
    "TimeQuery": {
      "properties": {
        "dateRanges": {
          "description": "A list of date ranges.",
          "$ref": "DateRanges"
        },
        "dateList": {
          "$ref": "DateList",
          "description": "A list of specific dates."
        }
      },
      "description": "The date ranges or specific dates for which you want to retrieve data.",
      "id": "TimeQuery",
      "type": "object"
    },
    "DateList": {
      "id": "DateList",
      "type": "object",
      "properties": {
        "dates": {
          "description": "Required. The list of specific dates for which to retrieve data.",
          "items": {
            "$ref": "Date"
          },
          "type": "array"
        }
      },
      "description": "A set of specific dates."
    },
    "BatchQueryDomainStatsResponse": {
      "description": "Response message for BatchQueryDomainStats.",
      "properties": {
        "results": {
          "description": "A list of responses, one for each query in the BatchQueryDomainStatsRequest. The order of responses will correspond to the order of requests.",
          "items": {
            "$ref": "BatchQueryDomainStatsResult"
          },
          "type": "array"
        }
      },
      "id": "BatchQueryDomainStatsResponse",
      "type": "object"
    },
    "ComplianceStatus": {
      "properties": {
        "status": {
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "NEEDS_WORK"
          ],
          "description": "Output only. The compliance status.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The compliance requirement is met, and the sender is deemed compliant.",
            "The compliance requirement is unmet, and the sender needs to do work to achieve compliance."
          ],
          "readOnly": true
        }
      },
      "description": "The status of a sender compliance requirement.",
      "id": "ComplianceStatus",
      "type": "object"
    },
    "DateRange": {
      "id": "DateRange",
      "type": "object",
      "properties": {
        "end": {
          "description": "Required. The inclusive end date of the date range.",
          "$ref": "Date"
        },
        "start": {
          "description": "Required. The inclusive start date of the date range.",
          "$ref": "Date"
        }
      },
      "description": "A single date range defined by a start and end date."
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "DateRanges": {
      "properties": {
        "dateRanges": {
          "description": "Required. The list of date ranges for which to retrieve data.",
          "items": {
            "$ref": "DateRange"
          },
          "type": "array"
        }
      },
      "description": "A set of date ranges.",
      "id": "DateRanges",
      "type": "object"
    },
    "StringList": {
      "properties": {
        "values": {
          "description": "The string values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents a list of strings.",
      "id": "StringList",
      "type": "object"
    },
    "BatchQueryDomainStatsResult": {
      "description": "Represents the result of a single QueryDomainStatsRequest within a batch.",
      "properties": {
        "response": {
          "description": "The successful response for the individual query.",
          "$ref": "QueryDomainStatsResponse"
        },
        "error": {
          "$ref": "Status",
          "description": "The error status if the individual query failed."
        }
      },
      "id": "BatchQueryDomainStatsResult",
      "type": "object"
    },
    "HonorUnsubscribeVerdict": {
      "properties": {
        "status": {
          "$ref": "ComplianceStatus",
          "description": "The compliance status."
        },
        "reason": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The sender does not honor unsubscribe requests.",
            "The sender does not honor unsubscribe requests and consider to increase the number of relevant campaigns.",
            "The sender does not honor unsubscribe requests and consider to reduce the number of relevant campaigns."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "NOT_HONORING",
            "NOT_HONORING_TOO_FEW_CAMPAIGNS",
            "NOT_HONORING_TOO_MANY_CAMPAIGNS"
          ],
          "description": "The specific reason for the compliance verdict. Must be empty if the status is compliant."
        }
      },
      "description": "Compliance verdict for whether a sender meets the unsubscribe honoring compliance requirement.",
      "id": "HonorUnsubscribeVerdict",
      "type": "object"
    },
    "ComplianceRowData": {
      "id": "ComplianceRowData",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "ComplianceStatus",
          "description": "The compliance status for the requirement."
        },
        "requirement": {
          "description": "The compliance requirement.",
          "enum": [
            "COMPLIANCE_REQUIREMENT_UNSPECIFIED",
            "SPF",
            "DKIM",
            "SPF_AND_DKIM",
            "DMARC_POLICY",
            "DMARC_ALIGNMENT",
            "MESSAGE_FORMATTING",
            "DNS_RECORDS",
            "ENCRYPTION",
            "USER_REPORTED_SPAM_RATE",
            "ONE_CLICK_UNSUBSCRIBE",
            "HONOR_UNSUBSCRIBE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Whether the sender has properly configured SPF.",
            "Whether the sender has properly configured DKIM.",
            "Whether the sender has properly configured both SPF and DKIM.",
            "Whether the sender has configured DMARC policy.",
            "Whether the From: header is aligned with DKIM or SPF",
            "Whether messages are correctly formatted according to RFC 5322.",
            "Whether the domain has forward and reverse DNS records.",
            "Whether messages has TLS encryption.",
            "Whether the sender is below a threshold for user-reported spam rate.",
            "Whether the sender sufficiently supports one-click unsubscribe. Note that the user-facing requirement is \"one-click unsubscribe\", but we require satisfaction of multiple \"unsubscribe support\" rules.",
            "Whether the sender honors user-initiated unsubscribe requests."
          ]
        }
      },
      "description": "Data for a single row of the compliance status table."
    },
    "BaseMetric": {
      "properties": {
        "standardMetric": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified standard metric. This value should not be used directly.",
            "Predefined metric for Feedback Loop (FBL) id.",
            "Predefined metric for Feedback Loop (FBL) spam rate. Filter must be of type feedback_loop_id = \"\" where is one valid feedback loop ids.",
            "Predefined metric for spam rate.",
            "The success rate of authentication mechanisms (DKIM, SPF, DMARC). Filter must be of type auth_type = \"\" where is one of: [spf, dkim, dmarc]",
            "The rate of messages that were TLS encrypted in transit Filter must be of type traffic_direction = \"\" where is one of: [inbound, outbound]",
            "The rate of messages that were TLS encrypted in transit Filter must be of type traffic_direction = \"\" where is one of: [inbound, outbound]",
            "The total count of delivery errors encountered (temporary or permanent rejects). The `filter` field supports a limited syntax. Supported formats are: * Empty: No filter is applied. * `error_type` = \"\" * `error_type` = \"\" AND `error_reason` = \"\" If an empty filter is provided, the metric will be aggregated across all error types and reasons. If only `error_type` is specified, the metric will be aggregated across all reasons for that type. Supported values: * reject * temp_fail Supported values depend on the : * For 'reject': [bad_attachment, bad_or_missing_ptr_record, ip_in_rbls, low_domain_reputation, low_ip_reputation, spammy_content, stamp_policy_error, other] * For 'temp_fail': [anomalous_traffic_pattern, other]",
            "Delivery error rate for the specified delivery error type. The `filter` field supports a limited syntax. Supported formats are: * Empty: No filter is applied. * `error_type` = \"\" * `error_type` = \"\" AND `error_reason` = \"\" If an empty filter is provided, the metric will be aggregated across all error types and reasons. If only `error_type` is specified, the metric will be aggregated across all reasons for that type. Supported values: * reject * temp_fail Supported values depend on the : * For 'reject': [bad_attachment, bad_or_missing_ptr_record, ip_in_rbls, low_domain_reputation, low_ip_reputation, spammy_content, stamp_policy_error, other] * For 'temp_fail': [anomalous_traffic_pattern, other]"
          ],
          "enum": [
            "STANDARD_METRIC_UNSPECIFIED",
            "FEEDBACK_LOOP_ID",
            "FEEDBACK_LOOP_SPAM_RATE",
            "SPAM_RATE",
            "AUTH_SUCCESS_RATE",
            "TLS_ENCRYPTION_MESSAGE_COUNT",
            "TLS_ENCRYPTION_RATE",
            "DELIVERY_ERROR_COUNT",
            "DELIVERY_ERROR_RATE"
          ],
          "description": "A predefined standard metric."
        }
      },
      "description": "Specifies the base metric to query, which can be a predefined standard metric or a user-defined custom metric (if supported in the future).",
      "id": "BaseMetric",
      "type": "object"
    },
    "DomainStat": {
      "id": "DomainStat",
      "type": "object",
      "description": "Email statistics for a domain for a specified time period or date.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the DomainStat resource. Format: domains/{domain}/domainStats/{domain_stat} The `{domain_stat}` segment is an opaque, server-generated ID. We recommend using the `metric` field to identify queried metrics instead of parsing the name.",
          "readOnly": true
        },
        "metric": {
          "type": "string",
          "description": "The user-defined name from MetricDefinition.name in the request, used to correlate this result with the requested metric."
        },
        "value": {
          "$ref": "StatisticValue",
          "description": "The value of the corresponding metric."
        },
        "date": {
          "$ref": "Date",
          "description": "Optional. The specific date for these stats, if granularity is DAILY. This field is populated if the QueryDomainStatsRequest specified a DAILY aggregation granularity."
        }
      }
    },
    "QueryDomainStatsResponse": {
      "id": "QueryDomainStatsResponse",
      "type": "object",
      "properties": {
        "domainStats": {
          "description": "The list of domain statistics. Each DomainStat object contains the value for a metric requested in the QueryDomainStatsRequest.",
          "items": {
            "$ref": "DomainStat"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response message for QueryDomainStats."
    },
    "StatisticValue": {
      "id": "StatisticValue",
      "type": "object",
      "description": "The actual value of a statistic.",
      "properties": {
        "intValue": {
          "description": "Integer value.",
          "type": "string",
          "format": "int64"
        },
        "stringValue": {
          "description": "String value.",
          "type": "string"
        },
        "doubleValue": {
          "description": "Double value.",
          "type": "number",
          "format": "double"
        },
        "floatValue": {
          "description": "Float value.",
          "type": "number",
          "format": "float"
        },
        "stringList": {
          "$ref": "StringList",
          "description": "List of string values."
        }
      }
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "BatchQueryDomainStatsRequest": {
      "description": "Request message for BatchQueryDomainStats.",
      "properties": {
        "requests": {
          "description": "Required. A list of individual query requests. Each request can be for a different domain. A maximum of 100 requests can be included in a single batch.",
          "items": {
            "$ref": "QueryDomainStatsRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchQueryDomainStatsRequest",
      "type": "object"
    },
    "ListDomainsResponse": {
      "id": "ListDomainsResponse",
      "type": "object",
      "properties": {
        "domains": {
          "type": "array",
          "description": "The domains that have been registered by the user.",
          "items": {
            "$ref": "Domain"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "description": "Response message for ListDomains."
    },
    "OneClickUnsubscribeVerdict": {
      "id": "OneClickUnsubscribeVerdict",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "ComplianceStatus",
          "description": "The compliance status."
        },
        "reason": {
          "description": "The specific reason for the compliance verdict. Must be empty if the status is compliant.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Sender does not support one-click unsubscribe for the majority of their messages.",
            "Sender does not support one-click unsubscribe for most messages that are manually reported as spam.",
            "Sender does not support one-click unsubscribe for most promotional messages that are manually reported as spam. This classification of messages is a subset of those encompassed by `NO_UNSUB_SPAM_REPORTS`."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "NO_UNSUB_GENERAL",
            "NO_UNSUB_SPAM_REPORTS",
            "NO_UNSUB_PROMO_SPAM_REPORTS"
          ]
        }
      },
      "description": "Compliance verdict for whether a sender meets the one-click unsubscribe compliance requirement."
    },
    "Domain": {
      "description": "Information about a domain registered by the user.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the domain. Format: `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com).",
          "type": "string"
        },
        "permission": {
          "description": "Output only. User's permission of this domain.",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "OWNER",
            "NONE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ]
        },
        "verificationState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The domain is unverified.",
            "The domain is verified."
          ],
          "readOnly": true,
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED"
          ],
          "description": "Output only. Information about a user's verification history and properties for the domain."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Immutable. The timestamp at which the domain was added to the user's account.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastVerifyTime": {
          "description": "The timestamp at which the domain was last verified by the user.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Domain",
      "type": "object"
    },
    "DomainComplianceStatus": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the domain's compliance status. Format: `domains/{domain_id}/complianceStatus`.",
          "type": "string"
        },
        "complianceData": {
          "$ref": "DomainComplianceData",
          "description": "Compliance data for the registrable domain part of the domain in `name`. For example, if `name` is `domains/example.com/complianceStatus`, this field contains compliance data for `example.com`."
        },
        "subdomainComplianceData": {
          "$ref": "DomainComplianceData",
          "description": "Compliance data calculated specifically for the subdomain in `name`. This field is only populated if the domain in `name` is a subdomain that differs from its registrable domain (e.g., `sub.example.com`), and if compliance data is available for that specific subdomain."
        }
      },
      "description": "Compliance status for a domain.",
      "id": "DomainComplianceStatus",
      "type": "object"
    },
    "QueryDomainStatsRequest": {
      "id": "QueryDomainStatsRequest",
      "type": "object",
      "properties": {
        "metricDefinitions": {
          "type": "array",
          "description": "Required. The specific metrics to query. You can define a custom name for each metric, which will be used in the response.",
          "items": {
            "$ref": "MetricDefinition"
          }
        },
        "timeQuery": {
          "$ref": "TimeQuery",
          "description": "Required. The time range or specific dates for which to retrieve the metrics."
        },
        "pageSize": {
          "description": "Optional. The maximum number of DomainStats resources to return in the response. The server may return fewer than this value. If unspecified, a default value of 10 will be used. The maximum value is 200.",
          "type": "integer",
          "format": "int32"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource name where the stats are queried. Format: domains/{domain}"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The next_page_token value returned from a previous List request, if any. If the aggregation granularity is DAILY, the page token will be the encoded date + \"/\" + metric name. If the aggregation granularity is OVERALL, the page token will be the encoded metric name."
        },
        "aggregationGranularity": {
          "description": "Optional. The granularity at which to aggregate the statistics. If unspecified, defaults to DAILY.",
          "enum": [
            "AGGREGATION_GRANULARITY_UNSPECIFIED",
            "DAILY",
            "OVERALL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified granularity. Defaults to DAILY.",
            "Statistics are aggregated on a daily basis. Each DomainStats entry in the response will correspond to a single day.",
            "Statistics are aggregated over the entire requested time period. Each DomainStats entry in the response will represent the total for the period."
          ]
        }
      },
      "description": "Request message for QueryDomainStats."
    }
  },
  "version": "v2",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "basePath": "",
  "servicePath": "",
  "rootUrl": "https://gmailpostmastertools.googleapis.com/",
  "description": "The Postmaster Tools API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}