{
  "servicePath": "",
  "baseUrl": "https://gmail.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "canonicalName": "Gmail",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/gmail/api/",
  "title": "Gmail API",
  "name": "gmail",
  "ownerName": "Google",
  "description": "The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.",
  "mtlsRootUrl": "https://gmail.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "id": "gmail:v1",
  "revision": "20260413",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://gmail.googleapis.com/",
  "schemas": {
    "ObliterateCseKeyPairRequest": {
      "description": "Request to obliterate a CSE key pair.",
      "type": "object",
      "id": "ObliterateCseKeyPairRequest",
      "properties": {}
    },
    "MessagePartHeader": {
      "type": "object",
      "id": "MessagePartHeader",
      "properties": {
        "name": {
          "description": "The name of the header before the `:` separator. For example, `To`.",
          "type": "string"
        },
        "value": {
          "description": "The value of the header after the `:` separator. For example, `someuser@example.com`.",
          "type": "string"
        }
      }
    },
    "HistoryMessageDeleted": {
      "id": "HistoryMessageDeleted",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object"
    },
    "Profile": {
      "id": "Profile",
      "properties": {
        "emailAddress": {
          "description": "The user's email address.",
          "type": "string"
        },
        "messagesTotal": {
          "description": "The total number of messages in the mailbox.",
          "type": "integer",
          "format": "int32"
        },
        "historyId": {
          "format": "uint64",
          "description": "The ID of the mailbox's current history record.",
          "type": "string"
        },
        "threadsTotal": {
          "format": "int32",
          "description": "The total number of threads in the mailbox.",
          "type": "integer"
        }
      },
      "description": "Profile for a Gmail user.",
      "type": "object"
    },
    "HistoryLabelAdded": {
      "id": "HistoryLabelAdded",
      "properties": {
        "labelIds": {
          "items": {
            "type": "string"
          },
          "description": "Label IDs added to the message.",
          "type": "array"
        },
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object"
    },
    "ListDelegatesResponse": {
      "description": "Response for the ListDelegates method.",
      "type": "object",
      "id": "ListDelegatesResponse",
      "properties": {
        "delegates": {
          "items": {
            "$ref": "Delegate"
          },
          "description": "List of the user's delegates (with any verification status). If an account doesn't have delegates, this field doesn't appear.",
          "type": "array"
        }
      }
    },
    "Draft": {
      "id": "Draft",
      "properties": {
        "message": {
          "description": "The message content of the draft.",
          "$ref": "Message"
        },
        "id": {
          "description": "The immutable ID of the draft.",
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.drafts.send"
            ]
          }
        }
      },
      "description": "A draft email in the user's mailbox.",
      "type": "object"
    },
    "Label": {
      "description": "Labels are used to categorize messages and threads within the user's mailbox. The maximum number of labels supported for a user's mailbox is 10,000.",
      "type": "object",
      "id": "Label",
      "properties": {
        "labelListVisibility": {
          "description": "The visibility of the label in the label list in the Gmail web interface.",
          "type": "string",
          "enumDescriptions": [
            "Show the label in the label list.",
            "Show the label if there are any unread messages with that label.",
            "Do not show the label in the label list."
          ],
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "enum": [
            "labelShow",
            "labelShowIfUnread",
            "labelHide"
          ]
        },
        "threadsTotal": {
          "format": "int32",
          "description": "The total number of threads with the label.",
          "type": "integer"
        },
        "id": {
          "description": "The immutable ID of the label.",
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.labels.update"
            ]
          }
        },
        "messageListVisibility": {
          "enumDescriptions": [
            "Show the label in the message list.",
            "Do not show the label in the message list."
          ],
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "description": "The visibility of messages with this label in the message list in the Gmail web interface.",
          "type": "string",
          "enum": [
            "show",
            "hide"
          ]
        },
        "type": {
          "enum": [
            "system",
            "user"
          ],
          "enumDescriptions": [
            "Labels created by Gmail.",
            "Custom labels created by the user or application."
          ],
          "description": "The owner type for the label. User labels are created by the user and can be modified and deleted by the user and can be applied to any message or thread. System labels are internally created and cannot be added, modified, or deleted. System labels may be able to be applied to or removed from messages and threads under some circumstances but this is not guaranteed. For example, users can apply and remove the `INBOX` and `UNREAD` labels from messages and threads, but cannot apply or remove the `DRAFTS` or `SENT` labels from messages or threads.",
          "type": "string"
        },
        "messagesUnread": {
          "format": "int32",
          "description": "The number of unread messages with the label.",
          "type": "integer"
        },
        "threadsUnread": {
          "format": "int32",
          "description": "The number of unread threads with the label.",
          "type": "integer"
        },
        "color": {
          "description": "The color to assign to the label. Color is only available for labels that have their `type` set to `user`.",
          "$ref": "LabelColor"
        },
        "messagesTotal": {
          "description": "The total number of messages with the label.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "description": "The display name of the label.",
          "type": "string"
        }
      }
    },
    "HistoryMessageAdded": {
      "id": "HistoryMessageAdded",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object"
    },
    "Filter": {
      "id": "Filter",
      "properties": {
        "id": {
          "description": "The server assigned ID of the filter.",
          "type": "string"
        },
        "criteria": {
          "description": "Matching criteria for the filter.",
          "$ref": "FilterCriteria"
        },
        "action": {
          "description": "Action that the filter performs.",
          "$ref": "FilterAction"
        }
      },
      "description": "Resource definition for Gmail filters. Filters apply to specific messages instead of an entire email thread.",
      "type": "object"
    },
    "ListDraftsResponse": {
      "id": "ListDraftsResponse",
      "properties": {
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "type": "integer",
          "format": "uint32"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "drafts": {
          "items": {
            "$ref": "Draft"
          },
          "description": "List of drafts. Note that the `Message` property in each `Draft` resource only contains an `id` and a `threadId`. The [`messages.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/messages/get) method can fetch additional message details.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListSmimeInfoResponse": {
      "type": "object",
      "id": "ListSmimeInfoResponse",
      "properties": {
        "smimeInfo": {
          "items": {
            "$ref": "SmimeInfo"
          },
          "description": "List of SmimeInfo.",
          "type": "array"
        }
      }
    },
    "MessagePartBody": {
      "id": "MessagePartBody",
      "properties": {
        "size": {
          "format": "int32",
          "description": "Number of bytes for the message part data (encoding notwithstanding).",
          "type": "integer"
        },
        "attachmentId": {
          "description": "When present, contains the ID of an external attachment that can be retrieved in a separate `messages.attachments.get` request. When not present, the entire content of the message part body is contained in the data field.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "The body data of a MIME message part as a base64url encoded string. May be empty for MIME container types that have no message body or when the body data is sent as a separate attachment. An attachment ID is present if the body data is contained in a separate attachment.",
          "type": "string"
        }
      },
      "description": "The body of a single MIME message part.",
      "type": "object"
    },
    "WatchRequest": {
      "description": "Set up or update a new push notification watch on this user's mailbox.",
      "type": "object",
      "id": "WatchRequest",
      "properties": {
        "labelFilterAction": {
          "description": "Filtering behavior of `labelIds list` specified. This field is deprecated because it caused incorrect behavior in some cases; use `label_filter_behavior` instead.",
          "type": "string",
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "deprecated": true,
          "enum": [
            "include",
            "exclude"
          ]
        },
        "labelFilterBehavior": {
          "enum": [
            "include",
            "exclude"
          ],
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "description": "Filtering behavior of `labelIds list` specified. This field replaces `label_filter_action`; if set, `label_filter_action` is ignored.",
          "type": "string"
        },
        "labelIds": {
          "description": "List of label_ids to restrict notifications about. By default, if unspecified, all changes are pushed out. If specified then dictates which labels are required for a push notification to be generated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "topicName": {
          "description": "A fully qualified Google Cloud Pub/Sub API topic name to publish the events to. This topic name **must** already exist in Cloud Pub/Sub and you **must** have already granted gmail \"publish\" permission on it. For example, \"projects/my-project-identifier/topics/my-topic-name\" (using the Cloud Pub/Sub \"v1\" topic naming format). Note that the \"my-project-identifier\" portion must exactly match your Google developer project id (the one executing this watch request).",
          "type": "string"
        }
      }
    },
    "ImapSettings": {
      "id": "ImapSettings",
      "properties": {
        "expungeBehavior": {
          "description": "The action that will be executed on a message when it is marked as deleted and expunged from the last visible IMAP folder.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified behavior.",
            "Archive messages marked as deleted.",
            "Move messages marked as deleted to the trash.",
            "Immediately and permanently delete messages marked as deleted. The expunged messages cannot be recovered."
          ],
          "enum": [
            "expungeBehaviorUnspecified",
            "archive",
            "trash",
            "deleteForever"
          ]
        },
        "enabled": {
          "description": "Whether IMAP is enabled for the account.",
          "type": "boolean"
        },
        "maxFolderSize": {
          "description": "An optional limit on the number of messages that an IMAP folder may contain. Legal values are 0, 1000, 2000, 5000 or 10000. A value of zero is interpreted to mean that there is no limit.",
          "type": "integer",
          "format": "int32"
        },
        "autoExpunge": {
          "description": "If this value is true, Gmail will immediately expunge a message when it is marked as deleted in IMAP. Otherwise, Gmail will wait for an update from the client before expunging messages marked as deleted.",
          "type": "boolean"
        }
      },
      "description": "IMAP settings for an account.",
      "type": "object"
    },
    "SignAndEncryptKeyPairs": {
      "description": "The configuration of a CSE identity that uses different key pairs for signing and encryption.",
      "type": "object",
      "id": "SignAndEncryptKeyPairs",
      "properties": {
        "signingKeyPairId": {
          "description": "The ID of the CseKeyPair that signs outgoing mail.",
          "type": "string"
        },
        "encryptionKeyPairId": {
          "description": "The ID of the CseKeyPair that encrypts signed outgoing mail.",
          "type": "string"
        }
      }
    },
    "EnableCseKeyPairRequest": {
      "id": "EnableCseKeyPairRequest",
      "properties": {},
      "description": "Requests to turn on a client-side encryption key pair.",
      "type": "object"
    },
    "CseKeyPair": {
      "description": "A client-side encryption S/MIME key pair, which is comprised of a public key, its certificate chain, and metadata for its paired private key. Gmail uses the key pair to complete the following tasks: - Sign outgoing client-side encrypted messages. - Save and reopen drafts of client-side encrypted messages. - Save and reopen sent messages. - Decrypt incoming or archived S/MIME messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
      "type": "object",
      "id": "CseKeyPair",
      "properties": {
        "enablementState": {
          "enum": [
            "stateUnspecified",
            "enabled",
            "disabled"
          ],
          "enumDescriptions": [
            "The current state of the key pair is not set. The key pair is neither turned on nor turned off.",
            "The key pair is turned on. For any email messages that this key pair encrypts, Gmail decrypts the messages and signs any outgoing mail with the private key. To turn on a key pair, use the EnableCseKeyPair method.",
            "The key pair is turned off. Authenticated users cannot decrypt email messages nor sign outgoing messages. If a key pair is turned off for more than 30 days, you can permanently delete it. To turn off a key pair, use the DisableCseKeyPair method."
          ],
          "description": "Output only. The current state of the key pair.",
          "type": "string",
          "readOnly": true
        },
        "keyPairId": {
          "description": "Output only. The immutable ID for the client-side encryption S/MIME key pair.",
          "type": "string",
          "readOnly": true
        },
        "pkcs7": {
          "description": "Input only. The public key and its certificate chain. The chain must be in [PKCS#7](https://en.wikipedia.org/wiki/PKCS_7) format and use PEM encoding and ASCII armor.",
          "type": "string"
        },
        "pem": {
          "description": "Output only. The public key and its certificate chain, in [PEM](https://en.wikipedia.org/wiki/Privacy-Enhanced_Mail) format.",
          "type": "string",
          "readOnly": true
        },
        "disableTime": {
          "format": "google-datetime",
          "description": "Output only. If a key pair is set to `DISABLED`, the time that the key pair's state changed from `ENABLED` to `DISABLED`. This field is present only when the key pair is in state `DISABLED`.",
          "type": "string",
          "readOnly": true
        },
        "subjectEmailAddresses": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The email address identities that are specified on the leaf certificate.",
          "type": "array"
        },
        "privateKeyMetadata": {
          "items": {
            "$ref": "CsePrivateKeyMetadata"
          },
          "description": "Metadata for instances of this key pair's private key.",
          "type": "array"
        }
      }
    },
    "HistoryLabelRemoved": {
      "type": "object",
      "id": "HistoryLabelRemoved",
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "items": {
            "type": "string"
          },
          "description": "Label IDs removed from the message.",
          "type": "array"
        }
      }
    },
    "ModifyMessageRequest": {
      "type": "object",
      "id": "ModifyMessageRequest",
      "properties": {
        "removeLabelIds": {
          "items": {
            "type": "string"
          },
          "description": "A list IDs of labels to remove from this message. You can remove up to 100 labels with each update.",
          "type": "array"
        },
        "addLabelIds": {
          "description": "A list of IDs of labels to add to this message. You can add up to 100 labels with each update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ModifyThreadRequest": {
      "id": "ModifyThreadRequest",
      "properties": {
        "removeLabelIds": {
          "description": "A list of IDs of labels to remove from this thread. You can remove up to 100 labels with each update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addLabelIds": {
          "description": "A list of IDs of labels to add to this thread. You can add up to 100 labels with each update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "KaclsKeyMetadata": {
      "id": "KaclsKeyMetadata",
      "properties": {
        "kaclsUri": {
          "description": "The URI of the key access control list service that manages the private key.",
          "type": "string"
        },
        "kaclsData": {
          "description": "Opaque data generated and used by the key access control list service. Maximum size: 8 KiB.",
          "type": "string"
        }
      },
      "description": "Metadata for private keys managed by an external key access control list service. For details about managing key access, see [Google Workspace CSE API Reference](https://developers.google.com/workspace/cse/reference).",
      "type": "object"
    },
    "BatchDeleteMessagesRequest": {
      "id": "BatchDeleteMessagesRequest",
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of the messages to delete.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListThreadsResponse": {
      "id": "ListThreadsResponse",
      "properties": {
        "threads": {
          "description": "List of threads. Note that each thread resource does not contain a list of `messages`. The list of `messages` for a given thread can be fetched using the [`threads.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/threads/get) method.",
          "type": "array",
          "items": {
            "$ref": "Thread"
          }
        },
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "type": "integer",
          "format": "uint32"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListSendAsResponse": {
      "description": "Response for the ListSendAs method.",
      "type": "object",
      "id": "ListSendAsResponse",
      "properties": {
        "sendAs": {
          "description": "List of send-as aliases.",
          "type": "array",
          "items": {
            "$ref": "SendAs"
          }
        }
      }
    },
    "ClassificationLabelValue": {
      "id": "ClassificationLabelValue",
      "properties": {
        "fields": {
          "description": "Field values for the given classification label ID.",
          "type": "array",
          "items": {
            "$ref": "ClassificationLabelFieldValue"
          }
        },
        "labelId": {
          "description": "Required. The canonical or raw alphanumeric classification label ID. Maps to the ID field of the Google Drive Label resource.",
          "type": "string"
        }
      },
      "description": "Classification Labels applied to the email message. Classification Labels are different from Gmail inbox labels. Only used for Google Workspace accounts. [Learn more about classification labels](https://support.google.com/a/answer/9292382).",
      "type": "object"
    },
    "ListFiltersResponse": {
      "description": "Response for the ListFilters method.",
      "type": "object",
      "id": "ListFiltersResponse",
      "properties": {
        "filter": {
          "description": "List of a user's filters.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        }
      }
    },
    "Thread": {
      "description": "A collection of messages representing a conversation.",
      "type": "object",
      "id": "Thread",
      "properties": {
        "id": {
          "description": "The unique ID of the thread.",
          "type": "string"
        },
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "historyId": {
          "format": "uint64",
          "description": "The ID of the last history record that modified this thread.",
          "type": "string"
        },
        "messages": {
          "description": "The list of messages in the thread.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        }
      }
    },
    "SmimeInfo": {
      "description": "An S/MIME email config.",
      "type": "object",
      "id": "SmimeInfo",
      "properties": {
        "expiration": {
          "description": "When the certificate expires (in milliseconds since epoch).",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "The immutable ID for the SmimeInfo.",
          "type": "string"
        },
        "issuerCn": {
          "description": "The S/MIME certificate issuer's common name.",
          "type": "string"
        },
        "encryptedKeyPassword": {
          "description": "Encrypted key password, when key is encrypted.",
          "type": "string"
        },
        "pem": {
          "description": "PEM formatted X509 concatenated certificate string (standard base64 encoding). Format used for returning key, which includes public key as well as certificate chain (not private key).",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether this SmimeInfo is the default one for this user's send-as address.",
          "type": "boolean"
        },
        "pkcs12": {
          "description": "PKCS#12 format containing a single private/public key pair and certificate chain. This format is only accepted from client for creating a new SmimeInfo and is never returned, because the private key is not intended to be exported. PKCS#12 may be encrypted, in which case encryptedKeyPassword should be set appropriately.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "LanguageSettings": {
      "id": "LanguageSettings",
      "properties": {
        "displayLanguage": {
          "description": "The language to display Gmail in, formatted as an RFC 3066 Language Tag (for example `en-GB`, `fr` or `ja` for British English, French, or Japanese respectively). The set of languages supported by Gmail evolves over time, so please refer to the \"Language\" dropdown in the Gmail settings for all available options, as described in the language settings help article. For a table of sample values, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). Not all Gmail clients can display the same set of languages. In the case that a user's display language is not available for use on a particular client, said client automatically chooses to display in the closest supported variant (or a reasonable default).",
          "type": "string"
        }
      },
      "description": "Language settings for an account. These settings correspond to the \"Language settings\" feature in the web interface.",
      "type": "object"
    },
    "Delegate": {
      "id": "Delegate",
      "properties": {
        "delegateEmail": {
          "description": "The email address of the delegate.",
          "type": "string"
        },
        "verificationStatus": {
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address can act a delegate for the account.",
            "A verification request was mailed to the address, and the owner has not yet accepted it.",
            "A verification request was mailed to the address, and the owner rejected it.",
            "A verification request was mailed to the address, and it expired without verification."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending",
            "rejected",
            "expired"
          ],
          "description": "Indicates whether this address has been verified and can act as a delegate for the account. Read-only.",
          "type": "string"
        }
      },
      "description": "Settings for a delegate. Delegates can read, send, and delete messages, as well as view and add contacts, for the delegator's account. See \"Set up mail delegation\" for more information about delegates.",
      "type": "object"
    },
    "DisableCseKeyPairRequest": {
      "description": "Requests to turn off a client-side encryption key pair.",
      "type": "object",
      "id": "DisableCseKeyPairRequest",
      "properties": {}
    },
    "VacationSettings": {
      "description": "Vacation auto-reply settings for an account. These settings correspond to the \"Vacation responder\" feature in the web interface.",
      "type": "object",
      "id": "VacationSettings",
      "properties": {
        "restrictToDomain": {
          "description": "Flag that determines whether responses are sent to recipients who are outside of the user's domain. This feature is only available for Google Workspace users.",
          "type": "boolean"
        },
        "enableAutoReply": {
          "description": "Flag that controls whether Gmail automatically replies to messages.",
          "type": "boolean"
        },
        "responseSubject": {
          "description": "Optional text to prepend to the subject line in vacation responses. In order to enable auto-replies, either the response subject or the response body must be nonempty.",
          "type": "string"
        },
        "restrictToContacts": {
          "description": "Flag that determines whether responses are sent to recipients who are not in the user's list of contacts.",
          "type": "boolean"
        },
        "startTime": {
          "format": "int64",
          "description": "An optional start time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives after the start time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "type": "string"
        },
        "responseBodyPlainText": {
          "description": "Response body in plain text format. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used.",
          "type": "string"
        },
        "endTime": {
          "description": "An optional end time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives before the end time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "type": "string",
          "format": "int64"
        },
        "responseBodyHtml": {
          "description": "Response body in HTML format. Gmail will sanitize the HTML before storing it. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used.",
          "type": "string"
        }
      }
    },
    "BatchModifyMessagesRequest": {
      "id": "BatchModifyMessagesRequest",
      "properties": {
        "ids": {
          "description": "The IDs of the messages to modify. There is a limit of 1000 ids per request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addLabelIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of label IDs to add to messages.",
          "type": "array"
        },
        "removeLabelIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of label IDs to remove from messages.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CseIdentity": {
      "description": "The client-side encryption (CSE) configuration for the email address of an authenticated user. Gmail uses CSE configurations to save drafts of client-side encrypted email messages, and to sign and send encrypted email messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
      "type": "object",
      "id": "CseIdentity",
      "properties": {
        "emailAddress": {
          "description": "The email address for the sending identity. The email address must be the primary email address of the authenticated user.",
          "type": "string"
        },
        "signAndEncryptKeyPairs": {
          "description": "The configuration of a CSE identity that uses different key pairs for signing and encryption.",
          "$ref": "SignAndEncryptKeyPairs"
        },
        "primaryKeyPairId": {
          "description": "If a key pair is associated, the ID of the key pair, CseKeyPair.",
          "type": "string"
        }
      }
    },
    "ListMessagesResponse": {
      "id": "ListMessagesResponse",
      "properties": {
        "messages": {
          "description": "List of messages. Note that each message resource contains only an `id` and a `threadId`. Additional message details can be fetched using the messages.get method.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "resultSizeEstimate": {
          "format": "uint32",
          "description": "Estimated total number of results.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLabelsResponse": {
      "id": "ListLabelsResponse",
      "properties": {
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "description": "List of labels. Note that each label resource only contains an `id`, `name`, `messageListVisibility`, `labelListVisibility`, and `type`. The [`labels.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/labels/get) method can fetch additional label details.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SmtpMsa": {
      "description": "Configuration for communication with an SMTP service.",
      "type": "object",
      "id": "SmtpMsa",
      "properties": {
        "host": {
          "description": "The hostname of the SMTP service. Required.",
          "type": "string"
        },
        "securityMode": {
          "enum": [
            "securityModeUnspecified",
            "none",
            "ssl",
            "starttls"
          ],
          "enumDescriptions": [
            "Unspecified security mode.",
            "Communication with the remote SMTP service is unsecured. Requires port 25.",
            "Communication with the remote SMTP service is secured using SSL.",
            "Communication with the remote SMTP service is secured using STARTTLS."
          ],
          "description": "The protocol that will be used to secure communication with the SMTP service. Required.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "The port of the SMTP service. Required.",
          "type": "integer"
        },
        "password": {
          "description": "The password that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses.",
          "type": "string"
        },
        "username": {
          "description": "The username that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses.",
          "type": "string"
        }
      }
    },
    "ClassificationLabelFieldValue": {
      "description": "Field values for a classification label.",
      "type": "object",
      "id": "ClassificationLabelFieldValue",
      "properties": {
        "fieldId": {
          "description": "Required. The field ID for the Classification Label Value. Maps to the ID field of the Google Drive `Label.Field` object.",
          "type": "string"
        },
        "selection": {
          "description": "Selection choice ID for the selection option. Should only be set if the field type is `SELECTION` in the Google Drive `Label.Field` object. Maps to the id field of the Google Drive `Label.Field.SelectionOptions` resource.",
          "type": "string"
        }
      }
    },
    "ListHistoryResponse": {
      "type": "object",
      "id": "ListHistoryResponse",
      "properties": {
        "history": {
          "items": {
            "$ref": "History"
          },
          "description": "List of history records. Any `messages` contained in the response will typically only have `id` and `threadId` fields populated.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "CsePrivateKeyMetadata": {
      "id": "CsePrivateKeyMetadata",
      "properties": {
        "hardwareKeyMetadata": {
          "description": "Metadata for hardware keys.",
          "$ref": "HardwareKeyMetadata"
        },
        "privateKeyMetadataId": {
          "description": "Output only. The immutable ID for the private key metadata instance.",
          "type": "string",
          "readOnly": true
        },
        "kaclsKeyMetadata": {
          "description": "Metadata for a private key instance managed by an external key access control list service.",
          "$ref": "KaclsKeyMetadata"
        }
      },
      "description": "Metadata for a private key instance.",
      "type": "object"
    },
    "ForwardingAddress": {
      "description": "Settings for a forwarding address.",
      "type": "object",
      "id": "ForwardingAddress",
      "properties": {
        "forwardingEmail": {
          "description": "An email address to which messages can be forwarded.",
          "type": "string"
        },
        "verificationStatus": {
          "description": "Indicates whether this address has been verified and is usable for forwarding. Read-only.",
          "type": "string",
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use for forwarding.",
            "The address is awaiting verification by the owner."
          ]
        }
      }
    },
    "PopSettings": {
      "description": "POP settings for an account.",
      "type": "object",
      "id": "PopSettings",
      "properties": {
        "accessWindow": {
          "enum": [
            "accessWindowUnspecified",
            "disabled",
            "fromNowOn",
            "allMail"
          ],
          "enumDescriptions": [
            "Unspecified range.",
            "Indicates that no messages are accessible via POP.",
            "Indicates that unfetched messages received after some past point in time are accessible via POP.",
            "Indicates that all unfetched messages are accessible via POP."
          ],
          "description": "The range of messages which are accessible via POP.",
          "type": "string"
        },
        "disposition": {
          "description": "The action that will be executed on a message after it has been fetched via POP.",
          "type": "string",
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ]
        }
      }
    },
    "History": {
      "description": "A record of a change to the user's mailbox. Each history change may affect multiple messages in multiple ways.",
      "type": "object",
      "id": "History",
      "properties": {
        "labelsAdded": {
          "items": {
            "$ref": "HistoryLabelAdded"
          },
          "description": "Labels added to messages in this history record.",
          "type": "array"
        },
        "labelsRemoved": {
          "items": {
            "$ref": "HistoryLabelRemoved"
          },
          "description": "Labels removed from messages in this history record.",
          "type": "array"
        },
        "messagesAdded": {
          "description": "Messages added to the mailbox in this history record.",
          "type": "array",
          "items": {
            "$ref": "HistoryMessageAdded"
          }
        },
        "id": {
          "format": "uint64",
          "description": "The mailbox sequence ID.",
          "type": "string"
        },
        "messagesDeleted": {
          "items": {
            "$ref": "HistoryMessageDeleted"
          },
          "description": "Messages deleted (not Trashed) from the mailbox in this history record.",
          "type": "array"
        },
        "messages": {
          "description": "List of messages changed in this history record. The fields for specific change types, such as `messagesAdded` may duplicate messages in this field. We recommend using the specific change-type fields instead of this.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        }
      }
    },
    "ListCseIdentitiesResponse": {
      "type": "object",
      "id": "ListCseIdentitiesResponse",
      "properties": {
        "cseIdentities": {
          "items": {
            "$ref": "CseIdentity"
          },
          "description": "One page of the list of CSE identities configured for the user.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be passed to a subsequent ListCseIdentities call in order to retrieve the next page of identities. If this value is not returned or is the empty string, then no further pages remain.",
          "type": "string"
        }
      }
    },
    "SendAs": {
      "description": "Settings associated with a send-as alias, which can be either the primary login address associated with the account or a custom \"from\" address. Send-as aliases correspond to the \"Send Mail As\" feature in the web interface.",
      "type": "object",
      "id": "SendAs",
      "properties": {
        "displayName": {
          "description": "A name that appears in the \"From:\" header for mail sent using this alias. For custom \"from\" addresses, when this is empty, Gmail will populate the \"From:\" header with the name that is used for the primary address associated with the account. If the admin has disabled the ability for users to update their name format, requests to update this field for the primary login will silently fail.",
          "type": "string"
        },
        "replyToAddress": {
          "description": "An optional email address that is included in a \"Reply-To:\" header for mail sent using this alias. If this is empty, Gmail will not generate a \"Reply-To:\" header.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether this address is selected as the default \"From:\" address in situations such as composing a new message or sending a vacation auto-reply. Every Gmail account has exactly one default send-as address, so the only legal value that clients may write to this field is `true`. Changing this from `false` to `true` for an address will result in this field becoming `false` for the other previous default address.",
          "type": "boolean"
        },
        "treatAsAlias": {
          "description": "Whether Gmail should treat this address as an alias for the user's primary email address. This setting only applies to custom \"from\" aliases.",
          "type": "boolean"
        },
        "sendAsEmail": {
          "description": "The email address that appears in the \"From:\" header for mail sent using this alias. This is read-only for all operations except create.",
          "type": "string"
        },
        "signature": {
          "description": "An optional HTML signature that is included in messages composed with this alias in the Gmail web UI. This signature is added to new emails only.",
          "type": "string"
        },
        "smtpMsa": {
          "description": "An optional SMTP service that will be used as an outbound relay for mail sent using this alias. If this is empty, outbound mail will be sent directly from Gmail's servers to the destination SMTP service. This setting only applies to custom \"from\" aliases.",
          "$ref": "SmtpMsa"
        },
        "isPrimary": {
          "description": "Whether this address is the primary address used to login to the account. Every Gmail account has exactly one primary address, and it cannot be deleted from the collection of send-as aliases. This field is read-only.",
          "type": "boolean"
        },
        "verificationStatus": {
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use as a send-as alias.",
            "The address is awaiting verification by the owner."
          ],
          "description": "Indicates whether this address has been verified for use as a send-as alias. Read-only. This setting only applies to custom \"from\" aliases.",
          "type": "string"
        }
      }
    },
    "ListCseKeyPairsResponse": {
      "id": "ListCseKeyPairsResponse",
      "properties": {
        "cseKeyPairs": {
          "description": "One page of the list of CSE key pairs installed for the user.",
          "type": "array",
          "items": {
            "$ref": "CseKeyPair"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be passed to a subsequent ListCseKeyPairs call in order to retrieve the next page of key pairs. If this value is not returned, then no further pages remain.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MessagePart": {
      "description": "A single MIME message part.",
      "type": "object",
      "id": "MessagePart",
      "properties": {
        "partId": {
          "description": "The immutable ID of the message part.",
          "type": "string"
        },
        "filename": {
          "description": "The filename of the attachment. Only present if this message part represents an attachment.",
          "type": "string"
        },
        "headers": {
          "items": {
            "$ref": "MessagePartHeader"
          },
          "description": "List of headers on this message part. For the top-level message part, representing the entire message payload, it will contain the standard RFC 2822 email headers such as `To`, `From`, and `Subject`.",
          "type": "array"
        },
        "parts": {
          "items": {
            "$ref": "MessagePart"
          },
          "description": "The child MIME message parts of this part. This only applies to container MIME message parts, for example `multipart/*`. For non- container MIME message part types, such as `text/plain`, this field is empty. For more information, see RFC 1521.",
          "type": "array"
        },
        "mimeType": {
          "description": "The MIME type of the message part.",
          "type": "string"
        },
        "body": {
          "description": "The message part body for this part, which may be empty for container MIME message parts.",
          "$ref": "MessagePartBody"
        }
      }
    },
    "FilterAction": {
      "id": "FilterAction",
      "properties": {
        "removeLabelIds": {
          "description": "List of labels to remove from the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addLabelIds": {
          "description": "List of labels to add to the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "forward": {
          "description": "Email address that the message should be forwarded to.",
          "type": "string"
        }
      },
      "description": "A set of actions to perform on a message.",
      "type": "object"
    },
    "HardwareKeyMetadata": {
      "description": "Metadata for hardware keys. If [hardware key encryption](https://support.google.com/a/answer/14153163) is set up for the Google Workspace organization, users can optionally store their private key on their smart card and use it to sign and decrypt email messages in Gmail by inserting their smart card into a reader attached to their Windows device.",
      "type": "object",
      "id": "HardwareKeyMetadata",
      "properties": {
        "description": {
          "description": "Description about the hardware key.",
          "type": "string"
        }
      }
    },
    "Message": {
      "id": "Message",
      "properties": {
        "raw": {
          "format": "byte",
          "annotations": {
            "required": [
              "gmail.users.drafts.create",
              "gmail.users.drafts.update",
              "gmail.users.messages.insert",
              "gmail.users.messages.send"
            ]
          },
          "description": "The entire email message in an RFC 2822 formatted and base64url encoded string. Returned in `messages.get` and `drafts.get` responses when the `format=RAW` parameter is supplied.",
          "type": "string"
        },
        "classificationLabelValues": {
          "description": "Classification Label values on the message. Available Classification Label schemas can be queried using the Google Drive Labels API. Each classification label ID must be unique. If duplicate IDs are provided, only one will be retained, and the selection is arbitrary. Only used for Google Workspace accounts.",
          "type": "array",
          "items": {
            "$ref": "ClassificationLabelValue"
          }
        },
        "labelIds": {
          "description": "List of IDs of labels applied to this message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "payload": {
          "description": "The parsed email structure in the message parts.",
          "$ref": "MessagePart"
        },
        "id": {
          "description": "The immutable ID of the message.",
          "type": "string"
        },
        "internalDate": {
          "format": "int64",
          "description": "The internal message creation timestamp (epoch ms), which determines ordering in the inbox. For normal SMTP-received email, this represents the time the message was originally accepted by Google, which is more reliable than the `Date` header. However, for API-migrated mail, it can be configured by client to be based on the `Date` header.",
          "type": "string"
        },
        "threadId": {
          "description": "The ID of the thread the message belongs to. To add a message or draft to a thread, the following criteria must be met: 1. The requested `threadId` must be specified on the `Message` or `Draft.Message` you supply with your request. 2. The `References` and `In-Reply-To` headers must be set in compliance with the [RFC 2822](https://tools.ietf.org/html/rfc2822) standard. 3. The `Subject` headers must match. ",
          "type": "string"
        },
        "historyId": {
          "description": "The ID of the last history record that modified this message.",
          "type": "string",
          "format": "uint64"
        },
        "sizeEstimate": {
          "format": "int32",
          "description": "Estimated size in bytes of the message.",
          "type": "integer"
        }
      },
      "description": "An email message.",
      "type": "object"
    },
    "FilterCriteria": {
      "id": "FilterCriteria",
      "properties": {
        "sizeComparison": {
          "description": "How the message size in bytes should be in relation to the size field.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Find messages smaller than the given size.",
            "Find messages larger than the given size."
          ],
          "enum": [
            "unspecified",
            "smaller",
            "larger"
          ]
        },
        "query": {
          "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
          "type": "string"
        },
        "negatedQuery": {
          "description": "Only return messages not matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
          "type": "string"
        },
        "hasAttachment": {
          "description": "Whether the message has any attachment.",
          "type": "boolean"
        },
        "excludeChats": {
          "description": "Whether the response should exclude chats.",
          "type": "boolean"
        },
        "to": {
          "description": "The recipient's display name or email address. Includes recipients in the \"to\", \"cc\", and \"bcc\" header fields. You can use simply the local part of the email address. For example, \"example\" and \"example@\" both match \"example@gmail.com\". This field is case-insensitive.",
          "type": "string"
        },
        "subject": {
          "description": "Case-insensitive phrase found in the message's subject. Trailing and leading whitespace are be trimmed and adjacent spaces are collapsed.",
          "type": "string"
        },
        "from": {
          "description": "The sender's display name or email address.",
          "type": "string"
        },
        "size": {
          "description": "The size of the entire RFC822 message in bytes, including all headers and attachments.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Message matching criteria.",
      "type": "object"
    },
    "AutoForwarding": {
      "description": "Auto-forwarding settings for an account.",
      "type": "object",
      "id": "AutoForwarding",
      "properties": {
        "enabled": {
          "description": "Whether all incoming mail is automatically forwarded to another address.",
          "type": "boolean"
        },
        "emailAddress": {
          "description": "Email address to which all incoming messages are forwarded. This email address must be a verified member of the forwarding addresses.",
          "type": "string"
        },
        "disposition": {
          "description": "The state that a message should be left in after it has been forwarded.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ]
        }
      }
    },
    "ListForwardingAddressesResponse": {
      "id": "ListForwardingAddressesResponse",
      "properties": {
        "forwardingAddresses": {
          "items": {
            "$ref": "ForwardingAddress"
          },
          "description": "List of addresses that may be used for forwarding.",
          "type": "array"
        }
      },
      "description": "Response for the ListForwardingAddresses method.",
      "type": "object"
    },
    "LabelColor": {
      "id": "LabelColor",
      "properties": {
        "textColor": {
          "description": "The text color of the label, represented as hex string. This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c, \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765",
          "type": "string"
        },
        "backgroundColor": {
          "description": "The background color represented as hex string #RRGGBB (ex #000000). This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c, \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WatchResponse": {
      "id": "WatchResponse",
      "properties": {
        "historyId": {
          "format": "uint64",
          "description": "The ID of the mailbox's current history record.",
          "type": "string"
        },
        "expiration": {
          "description": "When Gmail will stop sending notifications for mailbox updates (epoch millis). Call `watch` again before this time to renew the watch.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Push notification watch response.",
      "type": "object"
    }
  },
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "resources": {
    "users": {
      "methods": {
        "getProfile": {
          "httpMethod": "GET",
          "flatPath": "gmail/v1/users/{userId}/profile",
          "description": "Gets the current user's Gmail profile.",
          "parameters": {
            "userId": {
              "default": "me",
              "location": "path",
              "required": true,
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "response": {
            "$ref": "Profile"
          },
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "id": "gmail.users.getProfile",
          "path": "gmail/v1/users/{userId}/profile"
        },
        "watch": {
          "httpMethod": "POST",
          "flatPath": "gmail/v1/users/{userId}/watch",
          "id": "gmail.users.watch",
          "path": "gmail/v1/users/{userId}/watch",
          "request": {
            "$ref": "WatchRequest"
          },
          "description": "Set up or update a push notification watch on the given user mailbox.",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "parameters": {
            "userId": {
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "type": "string",
              "required": true,
              "default": "me",
              "location": "path"
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "response": {
            "$ref": "WatchResponse"
          }
        },
        "stop": {
          "path": "gmail/v1/users/{userId}/stop",
          "id": "gmail.users.stop",
          "flatPath": "gmail/v1/users/{userId}/stop",
          "parameters": {
            "userId": {
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "type": "string",
              "required": true,
              "location": "path",
              "default": "me"
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "httpMethod": "POST",
          "description": "Stop receiving push notifications for the given user mailbox."
        }
      },
      "resources": {
        "history": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/history",
              "description": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`).",
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "required": true
                },
                "startHistoryId": {
                  "format": "uint64",
                  "description": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.",
                  "location": "query",
                  "type": "string"
                },
                "historyTypes": {
                  "enum": [
                    "messageAdded",
                    "messageDeleted",
                    "labelAdded",
                    "labelRemoved"
                  ],
                  "location": "query",
                  "repeated": true,
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    ""
                  ],
                  "description": "History types to be returned by the function",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query",
                  "type": "string"
                },
                "labelId": {
                  "description": "Only return messages with a label matching the ID.",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "location": "query",
                  "default": "100",
                  "format": "uint32",
                  "description": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "ListHistoryResponse"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "id": "gmail.users.history.list",
              "path": "gmail/v1/users/{userId}/history"
            }
          }
        },
        "settings": {
          "methods": {
            "getImap": {
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "ImapSettings"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Gets IMAP settings.",
              "path": "gmail/v1/users/{userId}/settings/imap",
              "id": "gmail.users.settings.getImap"
            },
            "updateImap": {
              "id": "gmail.users.settings.updateImap",
              "path": "gmail/v1/users/{userId}/settings/imap",
              "request": {
                "$ref": "ImapSettings"
              },
              "description": "Updates IMAP settings.",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "ImapSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/settings/imap"
            },
            "getPop": {
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "PopSettings"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Gets POP settings.",
              "path": "gmail/v1/users/{userId}/settings/pop",
              "id": "gmail.users.settings.getPop"
            },
            "getVacation": {
              "id": "gmail.users.settings.getVacation",
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "description": "Gets vacation responder settings.",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "default": "me"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "VacationSettings"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation"
            },
            "updatePop": {
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "httpMethod": "PUT",
              "parameters": {
                "userId": {
                  "location": "path",
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "PopSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "request": {
                "$ref": "PopSettings"
              },
              "description": "Updates POP settings.",
              "path": "gmail/v1/users/{userId}/settings/pop",
              "id": "gmail.users.settings.updatePop"
            },
            "updateLanguage": {
              "request": {
                "$ref": "LanguageSettings"
              },
              "description": "Updates language settings. If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "LanguageSettings"
              },
              "id": "gmail.users.settings.updateLanguage",
              "path": "gmail/v1/users/{userId}/settings/language",
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/settings/language"
            },
            "updateVacation": {
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "httpMethod": "PUT",
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "id": "gmail.users.settings.updateVacation",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "VacationSettings"
              },
              "request": {
                "$ref": "VacationSettings"
              },
              "description": "Updates vacation responder settings."
            },
            "getLanguage": {
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "id": "gmail.users.settings.getLanguage",
              "path": "gmail/v1/users/{userId}/settings/language",
              "description": "Gets language settings.",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "LanguageSettings"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ]
            },
            "updateAutoForwarding": {
              "id": "gmail.users.settings.updateAutoForwarding",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "request": {
                "$ref": "AutoForwarding"
              },
              "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. This method is only available to service account clients that have been delegated domain-wide authority.",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "AutoForwarding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.sharing"
              ],
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding"
            },
            "getAutoForwarding": {
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "description": "Gets the auto-forwarding setting for the specified account.",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "AutoForwarding"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "id": "gmail.users.settings.getAutoForwarding",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding"
            }
          },
          "resources": {
            "sendAs": {
              "resources": {
                "smimeInfo": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "parameters": {
                        "sendAsEmail": {
                          "required": true,
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "location": "path",
                          "type": "string"
                        },
                        "userId": {
                          "required": true,
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "type": "string",
                          "location": "path",
                          "default": "me"
                        },
                        "id": {
                          "required": true,
                          "description": "The immutable ID for the SmimeInfo.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "description": "Deletes the specified S/MIME config for the specified send-as alias.",
                      "httpMethod": "DELETE",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "id": "gmail.users.settings.sendAs.smimeInfo.delete"
                    },
                    "list": {
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "required": true,
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "type": "string",
                          "default": "me",
                          "location": "path"
                        },
                        "sendAsEmail": {
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail"
                      ],
                      "response": {
                        "$ref": "ListSmimeInfoResponse"
                      },
                      "description": "Lists S/MIME configs for the specified send-as alias.",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "id": "gmail.users.settings.sendAs.smimeInfo.list"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "id": "gmail.users.settings.sendAs.smimeInfo.get",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "description": "Gets the specified S/MIME config for the specified send-as alias.",
                      "parameters": {
                        "sendAsEmail": {
                          "required": true,
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "location": "path",
                          "type": "string"
                        },
                        "userId": {
                          "required": true,
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "type": "string",
                          "location": "path",
                          "default": "me"
                        },
                        "id": {
                          "required": true,
                          "description": "The immutable ID for the SmimeInfo.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "response": {
                        "$ref": "SmimeInfo"
                      },
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    },
                    "insert": {
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "httpMethod": "POST",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "id": "gmail.users.settings.sendAs.smimeInfo.insert",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "location": "path",
                          "required": true,
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "type": "string"
                        },
                        "sendAsEmail": {
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail"
                      ],
                      "response": {
                        "$ref": "SmimeInfo"
                      },
                      "request": {
                        "$ref": "SmimeInfo"
                      },
                      "description": "Insert (upload) the given S/MIME config for the specified send-as alias. Note that pkcs12 format is required for the key."
                    },
                    "setDefault": {
                      "httpMethod": "POST",
                      "description": "Sets the default S/MIME config for the specified send-as alias.",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault",
                      "parameters": {
                        "userId": {
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "default": "me"
                        },
                        "id": {
                          "description": "The immutable ID for the SmimeInfo.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "sendAsEmail": {
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "id": "gmail.users.settings.sendAs.smimeInfo.setDefault",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault"
                    }
                  }
                }
              },
              "methods": {
                "update": {
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "id": "gmail.users.settings.sendAs.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameters": {
                    "sendAsEmail": {
                      "required": true,
                      "description": "The send-as alias to be updated.",
                      "location": "path",
                      "type": "string"
                    },
                    "userId": {
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "location": "path",
                      "default": "me"
                    }
                  },
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "response": {
                    "$ref": "SendAs"
                  },
                  "request": {
                    "$ref": "SendAs"
                  },
                  "description": "Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority.",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "httpMethod": "PUT"
                },
                "verify": {
                  "httpMethod": "POST",
                  "description": "Sends a verification email to the specified send-as alias address. The verification status must be `pending`. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify",
                  "parameters": {
                    "userId": {
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "default": "me",
                      "location": "path"
                    },
                    "sendAsEmail": {
                      "required": true,
                      "description": "The send-as alias to be verified.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "id": "gmail.users.settings.sendAs.verify",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "required": true
                    },
                    "sendAsEmail": {
                      "required": true,
                      "description": "The send-as alias to be deleted.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "description": "Deletes the specified send-as alias. Revokes any verification that may have been required for using it. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "httpMethod": "DELETE",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "id": "gmail.users.settings.sendAs.delete"
                },
                "create": {
                  "path": "gmail/v1/users/{userId}/settings/sendAs",
                  "id": "gmail.users.settings.sendAs.create",
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "response": {
                    "$ref": "SendAs"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "request": {
                    "$ref": "SendAs"
                  },
                  "description": "Creates a custom \"from\" send-as alias. If an SMTP MSA is specified, Gmail will attempt to connect to the SMTP service to validate the configuration before creating the alias. If ownership verification is required for the alias, a message will be sent to the email address and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. This method is only available to service account clients that have been delegated domain-wide authority.",
[...]
