{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "title": "Google Health API",
  "canonicalName": "Google Health API",
  "revision": "20260415",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "basePath": "",
  "version": "v4",
  "resources": {
    "projects": {
      "resources": {
        "subscribers": {
          "methods": {
            "patch": {
              "id": "health.projects.subscribers.patch",
              "request": {
                "$ref": "Subscriber"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates the configuration of an existing subscriber, such as the endpoint URI or the data types it's interested in. **Endpoint Verification:** If the `endpoint_uri` or `endpoint_authorization` field is included in the `update_mask`, the backend will re-verify the endpoint. The verification process is the same as described in `CreateSubscriber`: 1. **Verification with Authorization:** POST to the new or existing `endpoint_uri` with the new or existing `Authorization` secret. Expects HTTP `201 Created`. 2. **Verification without Authorization:** POST to the `endpoint_uri` without the `Authorization` header. Expects HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass using the potentially updated values for the subscriber update to succeed. If verification fails, the update will not be applied, and an error will be returned.",
              "path": "v4/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscribers/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. A field mask that specifies which fields of the Subscriber message are to be updated. This allows for partial updates. Supported fields: - endpoint_uri - subscriber_configs - endpoint_authorization",
                  "location": "query"
                }
              },
              "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}",
              "httpMethod": "PATCH"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v4/{+parent}/subscribers",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Registers a new subscriber endpoint to receive notifications. A subscriber represents an application or service that wishes to receive data change notifications for users who have granted consent. **Endpoint Verification:** For a subscriber to be successfully created, the provided `endpoint_uri` must be a valid HTTPS endpoint and must pass an automated verification check. The backend will send two HTTP POST requests to the `endpoint_uri`: 1. **Verification with Authorization:** * **Headers:** Includes `Content-Type: application/json` and `Authorization` (with the exact value from `CreateSubscriberPayload.endpoint_authorization.secret`). * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `201 Created`. 2. **Verification without Authorization:** * **Headers:** Includes `Content-Type: application/json`. The `Authorization` header is OMITTED. * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass for the subscriber creation to succeed. If verification fails, the operation will not be completed and an error will be returned. This process ensures the endpoint is reachable and correctly validates the `Authorization` header.",
              "id": "health.projects.subscribers.create",
              "request": {
                "$ref": "CreateSubscriberPayload"
              },
              "flatPath": "v4/projects/{projectsId}/subscribers",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this subscriber will be created. Format: projects/{project} Example: projects/my-project-123",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "subscriberId": {
                  "type": "string",
                  "description": "Optional. The ID to use for the subscriber, which will become the final component of the subscriber's resource name. This value should be 4-36 characters, and valid characters are /[a-z]([a-z0-9-]{2,34}[a-z0-9])/.",
                  "location": "query"
                }
              }
            },
            "delete": {
              "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the subscriber to delete. Format: projects/{project}/subscribers/{subscriber} Example: projects/my-project/subscribers/my-subscriber-123 The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated if not provided during creation.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscribers/[^/]+$"
                },
                "force": {
                  "description": "Optional. If set to true, any child resources (e.g., subscriptions) will also be deleted. If false (default) and child resources exist, the request will fail.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v4/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Deletes a subscriber registration. This will stop all notifications to the subscriber's endpoint.",
              "id": "health.projects.subscribers.delete"
            },
            "list": {
              "path": "v4/{+parent}/subscribers",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSubscribersResponse"
              },
              "description": "Lists all subscribers registered within the owned Google Cloud Project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "health.projects.subscribers.list",
              "httpMethod": "GET",
              "flatPath": "v4/projects/{projectsId}/subscribers",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of subscribers to return. The service may return fewer than this value. If unspecified, at most 50 subscribers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListSubscribers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscribers` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent, which owns this collection of subscribers. Format: projects/{project}",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "getSettings": {
          "description": "Returns user settings details.",
          "path": "v4/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Settings"
          },
          "flatPath": "v4/users/{usersId}/settings",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^users/[^/]+/settings$",
              "description": "Required. The name of the Settings. Format: `users/me/settings`.",
              "location": "path"
            }
          },
          "id": "health.users.getSettings"
        },
        "getProfile": {
          "id": "health.users.getProfile",
          "parameters": {
            "name": {
              "description": "Required. The name of the Profile. Format: `users/me/profile`.",
              "location": "path",
              "pattern": "^users/[^/]+/profile$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v4/users/{usersId}/profile",
          "path": "v4/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Profile"
          },
          "description": "Returns user Profile details."
        },
        "updateProfile": {
          "httpMethod": "PATCH",
          "flatPath": "v4/users/{usersId}/profile",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "location": "path",
              "pattern": "^users/[^/]+/profile$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v4/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Profile"
          },
          "description": "Updates the user's profile details.",
          "request": {
            "$ref": "Profile"
          },
          "id": "health.users.updateProfile"
        },
        "updateSettings": {
          "request": {
            "$ref": "Settings"
          },
          "id": "health.users.updateSettings",
          "path": "v4/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Settings"
          },
          "description": "Updates the user's settings details.",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^users/[^/]+/settings$",
              "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "location": "path"
            },
            "updateMask": {
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "v4/users/{usersId}/settings"
        },
        "getIdentity": {
          "flatPath": "v4/users/{usersId}/identity",
          "description": "Gets the user's identity. It includes the legacy Fitbit user ID and the Google user ID and it can be used by migrating clients to map identifiers between the two systems.",
          "path": "v4/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Identity"
          },
          "id": "health.users.getIdentity",
          "parameters": {
            "name": {
              "pattern": "^users/[^/]+/identity$",
              "description": "Required. The resource name of the Identity. Format: `users/me/identity`",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "dataTypes": {
          "resources": {
            "dataPoints": {
              "methods": {
                "batchDelete": {
                  "parameters": {
                    "parent": {
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "description": "Optional. Parent (data type) for the Data Point collection Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/-` For a list of the supported data types see the DataPoint data union field. Deleting data points across multiple data type collections is supported following https://aip.dev/159. If this is set, the parent of all of the data points specified in `names` must match this field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:batchDelete",
                  "httpMethod": "POST",
                  "id": "health.users.dataTypes.dataPoints.batchDelete",
                  "request": {
                    "$ref": "BatchDeleteDataPointsRequest"
                  },
                  "description": "Delete a batch of identifyable data points.",
                  "path": "v4/{+parent}/dataPoints:batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "rollUp": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the RollupDataPoint value union field.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:rollUp",
                  "request": {
                    "$ref": "RollUpDataPointsRequest"
                  },
                  "id": "health.users.dataTypes.dataPoints.rollUp",
                  "path": "v4/{+parent}/dataPoints:rollUp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "RollUpDataPointsResponse"
                  },
                  "description": "Roll up data points over physical time intervals for supported data types."
                },
                "exportExerciseTcx": {
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}:exportExerciseTcx",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the exercise data point to export. Format: `users/{user}/dataTypes/exercise/dataPoints/{data_point}` Example: `users/me/dataTypes/exercise/dataPoints/2026443605080188808` The `{user}` is the alias `\"me\"` currently. Future versions may support user IDs. The `{data_point}` ID maps to the exercise ID, which is a long integer.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$"
                    },
                    "partialData": {
                      "description": "Optional. Indicates whether to include the TCX data points when the GPS data is not available. If not specified, defaults to `false` and partial data will not be included.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "supportsMediaDownload": true,
                  "useMediaDownloadService": true,
                  "description": "Exports exercise data in TCX format. Note: While the Authorization section below states that any one of the listed scopes is accepted, this specific method requires the user to provide both one of the `activity_and_fitness` scopes (`normal` or `readonly`) AND one of the `location` scopes (`normal` or `readonly`) in their access token to succeed.",
                  "path": "v4/{+name}:exportExerciseTcx",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ExportExerciseTcxResponse"
                  },
                  "id": "health.users.dataTypes.dataPoints.exportExerciseTcx"
                },
                "dailyRollUp": {
                  "description": "Roll up data points over civil time intervals for supported data types.",
                  "path": "v4/{+parent}/dataPoints:dailyRollUp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "DailyRollUpDataPointsResponse"
                  },
                  "id": "health.users.dataTypes.dataPoints.dailyRollUp",
                  "request": {
                    "$ref": "DailyRollUpDataPointsRequest"
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:dailyRollUp",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the DailyRollupDataPoint value union field.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    }
                  }
                },
                "get": {
                  "path": "v4/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "DataPoint"
                  },
                  "description": "Get a single identifyable data point.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "description": "Required. The name of the data point to retrieve. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` See DataPoint.name for examples and possible values.",
                      "location": "path"
                    }
                  },
                  "id": "health.users.dataTypes.dataPoints.get"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/weight` For a list of the supported data types see the DataPoint data union field.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression following https://google.aip.dev/160. A time range (either physical or civil) can be specified. The supported filter fields are: - Interval start time: - Pattern: `{interval_data_type}.interval.start_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `steps.interval.start_time >= \"2023-11-24T00:00:00Z\" AND steps.interval.start_time < \"2023-11-25T00:00:00Z\"` - `distance.interval.start_time >= \"2024-08-14T12:34:56Z\"` - Interval civil start time: - Pattern: `{interval_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `steps.interval.civil_start_time >= \"2023-11-24\" AND steps.interval.civil_start_time < \"2023-11-25\"` - `distance.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Sample observation physical time: - Pattern: `{sample_data_type}.sample_time.physical_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `weight.sample_time.physical_time >= \"2023-11-24T00:00:00Z\" AND weight.sample_time.physical_time < \"2023-11-25T00:00:00Z\"` - `weight.sample_time.physical_time >= \"2024-08-14T12:34:56Z\"` - Sample observation civil time: - Pattern: `{sample_data_type}.sample_time.civil_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `weight.sample_time.civil_time >= \"2023-11-24\" AND weight.sample_time.civil_time < \"2023-11-25\"` - `weight.sample_time.civil_time >= \"2024-08-14T12:34:56\"` - Daily summary date: - Pattern: `{daily_summary_data_type}.date` - Supported comparison operators: `>=`, `<` - Date literal expected in ISO 8601 `YYYY-MM-DD` format - Supported logical operators: `AND` - Example: - `daily_resting_heart_rate.date >= \"2024-08-14\"` - `daily_heart_rate_variability.date < \"2024-08-15\"` - Session civil start time (**Excluding Sleep**): - Pattern: `{session_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `exercise.interval.civil_start_time >= \"2023-11-24\" AND exercise.interval.civil_start_time < \"2023-11-25\"` - `exercise.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Session end time (**Sleep specific**): - Pattern: `sleep.interval.end_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.end_time >= \"2023-11-24T00:00:00Z\" AND sleep.interval.end_time < \"2023-11-25T00:00:00Z\"` - Session civil end time (**Sleep specific**): - Pattern: `sleep.interval.civil_end_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.civil_end_time >= \"2023-11-24\" AND sleep.interval.civil_end_time < \"2023-11-25\"` Data points in the response will be ordered by the interval start time in descending order.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "health.users.dataTypes.dataPoints.list",
                  "description": "Query user health and fitness data points.",
                  "path": "v4/{+parent}/dataPoints",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDataPointsResponse"
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints"
                },
                "patch": {
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "id": "health.users.dataTypes.dataPoints.patch",
                  "path": "v4/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a single identifiable data point. If a data point with the specified `name` is not found, the request will fail.",
                  "parameters": {
                    "name": {
                      "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}"
                },
                "reconcile": {
                  "id": "health.users.dataTypes.dataPoints.reconcile",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/heart-rate` For a list of the supported data types see the DataPoint data union field.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression based on https://aip.dev/160. A time range, either physical or civil, can be specified. See the ListDataPointsRequest.filter for the supported fields and syntax.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "location": "query",
                      "type": "integer"
                    },
                    "dataSourceFamily": {
                      "type": "string",
                      "description": "Optional. The data source family name to reconcile. If empty, data points from all data sources will be reconciled. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
                      "location": "query"
                    }
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:reconcile",
                  "path": "v4/{+parent}/dataPoints:reconcile",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ReconcileDataPointsResponse"
                  },
                  "description": "Reconcile data points from multiple data sources into a single data stream."
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "description": "Required. The parent resource name where the data point will be created. Format: `users/{user}/dataTypes/{data_type}`",
                      "location": "path"
                    }
                  },
                  "path": "v4/{+parent}/dataPoints",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a single identifiable data point.",
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "id": "health.users.dataTypes.dataPoints.create"
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://health.googleapis.com/",
  "schemas": {
    "CreateSubscriberPayload": {
      "type": "object",
      "id": "CreateSubscriberPayload",
      "description": "Payload for creating a subscriber.",
      "properties": {
        "endpointUri": {
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during the `CreateSubscriber` call. See CreateSubscriber RPC documentation for verification details.",
          "type": "string"
        },
        "subscriberConfigs": {
          "type": "array",
          "items": {
            "$ref": "SubscriberConfig"
          },
          "description": "Optional. Configuration for the subscriber."
        },
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for the subscriber endpoint. The `secret` within this message is crucial for endpoint verification and for securing webhook notifications.",
          "$ref": "EndpointAuthorization"
        }
      }
    },
    "Distance": {
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "millimeters": {
          "type": "string",
          "format": "int64",
          "description": "Required. Distance in millimeters over the observed interval."
        }
      },
      "description": "Distance traveled over an interval of time.",
      "id": "Distance",
      "type": "object"
    },
    "HydrationLog": {
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "SessionTimeInterval"
        },
        "amountConsumed": {
          "description": "Required. Amount of liquid (ex. water) consumed.",
          "$ref": "VolumeQuantity"
        }
      },
      "description": "Holds information about a user logged hydration.",
      "id": "HydrationLog",
      "type": "object"
    },
    "SleepSummary": {
      "description": " Sleep summary: metrics and stages summary.",
      "properties": {
        "stagesSummary": {
          "type": "array",
          "items": {
            "$ref": "StageSummary"
          },
          "description": "Output only. List of summaries (total duration and segment count) per each sleep stage type.",
          "readOnly": true
        },
        "minutesInSleepPeriod": {
          "type": "string",
          "description": "Output only. Delta between wake time and bedtime. It is the sum of all stages.",
          "readOnly": true,
          "format": "int64"
        },
        "minutesToFallAsleep": {
          "format": "int64",
          "description": "Output only. Minutes to fall asleep calculated by restlessness algorithm.",
          "readOnly": true,
          "type": "string"
        },
        "minutesAwake": {
          "description": "Output only. Total number of minutes awake. It is a sum of all AWAKE stages.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "minutesAfterWakeUp": {
          "description": "Output only. Minutes after wake up calculated by restlessness algorithm.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "minutesAsleep": {
          "format": "int64",
          "description": "Output only. Total number of minutes asleep. For classic sleep it is the sum of ASLEEP stages (excluding AWAKE and RESTLESS). For \"stages\" sleep it is the sum of LIGHT, REM and DEEP stages (excluding AWAKE).",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "SleepSummary"
    },
    "OutOfBedSegment": {
      "description": "A time interval to represent an out-of-bed segment.",
      "properties": {
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the segment relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Required. Segment tart time.",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the segment relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Required. Segment end time.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "OutOfBedSegment"
    },
    "RollUpDataPointsResponse": {
      "properties": {
        "rollupDataPoints": {
          "type": "array",
          "items": {
            "$ref": "RollupDataPoint"
          },
          "description": "Values for each aggregation time window."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response containing the list of rolled up data points.",
      "id": "RollUpDataPointsResponse",
      "type": "object"
    },
    "HeartRateZone": {
      "type": "object",
      "id": "HeartRateZone",
      "description": "The heart rate zone.",
      "properties": {
        "minBeatsPerMinute": {
          "description": "Required. Minimum heart rate for this zone in beats per minute.",
          "format": "int64",
          "type": "string"
        },
        "heartRateZoneType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "description": "Required. The heart rate zone type.",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        },
        "maxBeatsPerMinute": {
          "type": "string",
          "format": "int64",
          "description": "Required. Maximum heart rate for this zone in beats per minute."
        }
      }
    },
    "ReconcileDataPointsResponse": {
      "properties": {
        "dataPoints": {
          "type": "array",
          "items": {
            "$ref": "ReconciledDataPoint"
          },
          "description": "Data points matching the query"
        },
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        }
      },
      "description": "Response containing the list of reconciled DataPoints.",
      "id": "ReconcileDataPointsResponse",
      "type": "object"
    },
    "ExportExerciseTcxResponse": {
      "id": "ExportExerciseTcxResponse",
      "type": "object",
      "properties": {
        "tcxData": {
          "description": "Contains the exported TCX data.",
          "type": "string"
        }
      },
      "description": "Represents a Response for exporting exercise data in TCX format."
    },
    "Height": {
      "description": "Body height measurement.",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the height was recorded.",
          "$ref": "ObservationSampleTime"
        },
        "heightMillimeters": {
          "type": "string",
          "format": "int64",
          "description": "Required. Height of the user in millimeters."
        }
      },
      "type": "object",
      "id": "Height"
    },
    "EndpointAuthorization": {
      "properties": {
        "secret": {
          "description": "Required. Input only. Provides a client-provided secret that will be sent with each notification to the subscriber endpoint using the \"Authorization\" header. The value must include the authorization scheme, e.g., \"Bearer \" or \"Basic \", as it will be used as the full Authorization header value. This secret is used by the API to test the endpoint during `CreateSubscriber` and `UpdateSubscriber` calls, and will be sent in the `Authorization` header for all subsequent webhook notifications to this endpoint.",
          "type": "string"
        },
        "secretSet": {
          "description": "Output only. Whether the secret is set.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Authorization mechanism for a subscriber endpoint. For all requests sent by the Webhooks service, the JSON payload is cryptographically signed. The signature is delivered in the `X-HEALTHAPI-SIGNATURE` HTTP header. This is an ECDSA (NIST P256) signature of the JSON payload. Clients must verify this signature using Google Health API's public key to confirm the payload was sent by the Health API.",
      "id": "EndpointAuthorization",
      "type": "object"
    },
    "BatchDeleteDataPointsRequest": {
      "type": "object",
      "id": "BatchDeleteDataPointsRequest",
      "description": "Request to delete a batch of identifiable data points.",
      "properties": {
        "names": {
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Device": {
      "type": "object",
      "id": "Device",
      "description": "Captures metadata about the device that recorded the measurement.",
      "properties": {
        "manufacturer": {
          "description": "Optional. An optional manufacturer of the device.",
          "type": "string"
        },
        "formFactor": {
          "description": "Optional. Captures the form factor of the device.",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "FITNESS_BAND",
            "WATCH",
            "PHONE",
            "RING",
            "CHEST_STRAP",
            "SCALE",
            "TABLET",
            "HEAD_MOUNTED",
            "SMART_DISPLAY"
          ],
          "enumDescriptions": [
            "The form factor is unspecified.",
            "The device is a fitness band.",
            "The device is a watch.",
            "The device is a phone.",
            "The device is a ring.",
            "The device is a chest strap.",
            "The device is a scale.",
            "The device is a tablet.",
            "The device is a head mounted device.",
            "The device is a smart display."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Optional. An optional name for the device.",
          "type": "string"
        }
      }
    },
    "ListSubscribersResponse": {
      "type": "object",
      "id": "ListSubscribersResponse",
      "description": "Response message for ListSubscribers.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "subscribers": {
          "description": "Subscribers from the specified project.",
          "type": "array",
          "items": {
            "$ref": "Subscriber"
          }
        },
        "totalSize": {
          "format": "int32",
          "description": "The total number of subscribers matching the request.",
          "type": "integer"
        }
      }
    },
    "ObservationSampleTime": {
      "type": "object",
      "id": "ObservationSampleTime",
      "description": "Represents a sample time of an observed data point.",
      "properties": {
        "physicalTime": {
          "format": "google-datetime",
          "description": "Required. The time of the observation.",
          "type": "string"
        },
        "utcOffset": {
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        },
        "civilTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "readOnly": true
        }
      }
    },
    "RunVO2MaxRollupValue": {
      "id": "RunVO2MaxRollupValue",
      "type": "object",
      "properties": {
        "rateMax": {
          "type": "number",
          "description": "Maximum value of run VO2 max in the interval.",
          "format": "double"
        },
        "rateMin": {
          "type": "number",
          "description": "Minimum value of run VO2 max in the interval..",
          "format": "double"
        },
        "rateAvg": {
          "type": "number",
          "description": "Average value of run VO2 max in the interval.",
          "format": "double"
        }
      },
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range."
    },
    "ListDataPointsResponse": {
      "id": "ListDataPointsResponse",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Data points matching the query",
          "type": "array",
          "items": {
            "$ref": "DataPoint"
          }
        },
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        }
      },
      "description": "Response containing raw data points matching the query"
    },
    "RollUpDataPointsRequest": {
      "properties": {
        "range": {
          "$ref": "Interval",
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days."
        },
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "format": "int32",
          "type": "integer"
        },
        "windowSize": {
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions.",
          "format": "google-duration",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        }
      },
      "description": "Request to roll up data points by physical time intervals.",
      "id": "RollUpDataPointsRequest",
      "type": "object"
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "id": "CaloriesInHeartRateZoneRollupValue",
      "type": "object",
      "properties": {
        "caloriesInHeartRateZones": {
          "type": "array",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "description": "List of calories burned in each heart rate zone."
        }
      },
      "description": "Represents the result of the rollup of the calories in heart rate zone data type."
    },
    "OxygenSaturation": {
      "id": "OxygenSaturation",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "format": "double",
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100.",
          "type": "number"
        }
      },
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2)."
    },
    "Settings": {
      "type": "object",
      "id": "Settings",
      "description": "Settings details.",
      "properties": {
        "distanceUnit": {
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ],
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported.",
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ]
        },
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        },
        "glucoseUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "type": "string",
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ]
        },
        "languageLocale": {
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        },
        "heightUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ]
        },
        "strideLengthWalkingType": {
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ]
        },
        "utcOffset": {
          "format": "google-duration",
          "description": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported.",
          "type": "string"
        },
        "waterUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ],
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ],
          "type": "string"
        },
        "autoStrideEnabled": {
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported.",
          "type": "boolean"
        },
        "temperatureUnit": {
          "type": "string",
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ]
        },
        "swimUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ]
        },
        "name": {
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "weightUnit": {
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ]
        },
        "strideLengthRunningType": {
          "type": "string",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported.",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ]
        }
      }
    },
    "Identity": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`",
          "type": "string"
        },
        "legacyUserId": {
          "type": "string",
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "readOnly": true
        },
        "healthUserId": {
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents details about the Google user's identity.",
      "id": "Identity",
      "type": "object"
    },
    "TimeOfDay": {
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "type": "object"
    },
    "DailyRollUpDataPointsResponse": {
      "properties": {
        "rollupDataPoints": {
          "description": "Values for each aggregation time window.",
          "type": "array",
          "items": {
            "$ref": "DailyRollupDataPoint"
          }
        }
      },
      "description": "Response containing the list of rolled up data points.",
      "id": "DailyRollUpDataPointsResponse",
      "type": "object"
    },
    "BodyFatRollupValue": {
      "description": "Represents the result of the rollup of the body fat data type.",
      "properties": {
        "bodyFatPercentageAvg": {
          "type": "number",
          "format": "double",
          "description": "Average body fat percentage."
        }
      },
      "type": "object",
      "id": "BodyFatRollupValue"
    },
    "SubscriberConfig": {
      "description": "Configuration for a subscriber. A notification is sent to a subscription ONLY if the subscriber has a config for the data type.",
      "properties": {
        "subscriptionCreatePolicy": {
          "description": "Required. Policy for subscription creation.",
          "enum": [
            "SUBSCRIPTION_CREATE_POLICY_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Represents an unspecified policy.",
            "When using `AUTOMATIC`, individual subscriptions are not created or stored. Instead, eligibility for notifications is computed dynamically. When a data update occurs for a given data type, notifications are sent to all subscribers with an `AUTOMATIC` policy for that data type, provided the user has granted the necessary consents. This means you do not need to call `CreateSubscription` for each user; notifications are managed automatically based on user consents. As `Subscription` resources are not stored, they cannot be retrieved or managed through `GetSubscription`, `ListSubscriptions`, `UpdateSubscription`, or `DeleteSubscription`.",
            "Requires subscriptions to be created manually for new users. The developer needs to call CreateSubscription for new users."
          ],
          "type": "string"
        },
        "dataTypes": {
          "description": "Required. Supported data types are: \"altitude\", \"distance\", \"floors\", \"sleep\", \"steps\", \"weight\". Values should be in kebab-case.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "SubscriberConfig"
    },
    "ActiveMinutes": {
      "id": "ActiveMinutes",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeMinutesByActivityLevel": {
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed.",
          "type": "array",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          }
        }
      },
      "description": "Record of active minutes in a given time interval."
    },
    "HeartRateRollupValue": {
      "properties": {
        "beatsPerMinuteMin": {
          "type": "number",
          "format": "double",
          "description": "The minimum heart rate value in the interval."
        },
        "beatsPerMinuteMax": {
          "format": "double",
          "description": "The maximum heart rate value in the interval.",
          "type": "number"
        },
        "beatsPerMinuteAvg": {
          "description": "The average heart rate value in the interval.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Represents the result of the rollup of the heart rate data type.",
      "id": "HeartRateRollupValue",
      "type": "object"
    },
    "HeartRate": {
      "type": "object",
      "id": "HeartRate",
      "description": "A heart rate measurement.",
      "properties": {
        "sampleTime": {
          "description": "Required. Observation time",
          "$ref": "ObservationSampleTime"
        },
        "metadata": {
          "$ref": "HeartRateMetadata",
          "description": "Optional. Metadata about the heart rate sample."
        },
        "beatsPerMinute": {
          "type": "string",
          "format": "int64",
          "description": "Required. The heart rate value in beats per minute."
        }
      }
    },
    "DailyRollUpDataPointsRequest": {
      "type": "object",
      "id": "DailyRollUpDataPointsRequest",
      "description": "Request to roll up data points by civil time intervals.",
      "properties": {
        "windowSizeDays": {
          "description": "Optional. Aggregation window size, in number of days. Defaults to 1 if not specified.",
          "format": "int32",
          "type": "integer"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly."
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The start time must be aligned with the aggregation window. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "CivilTimeInterval"
        },
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. The `next_page_token` from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        }
      }
    },
    "StepsRollupValue": {
      "description": "Represents the result of the rollup of the steps data type.",
      "properties": {
        "countSum": {
          "description": "Total number of steps in the interval.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StepsRollupValue"
    },
    "ExerciseMetadata": {
      "description": "Additional exercise metadata.",
      "properties": {
        "hasGps": {
          "description": "Optional. Whether the exercise had GPS tracking.",
          "type": "boolean"
        },
        "poolLengthMillimeters": {
          "format": "int64",
          "description": "Optional. Pool length in millimeters. Only present in the swimming exercises.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExerciseMetadata"
    },
    "Weight": {
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which the weight was measured"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        },
        "weightGrams": {
          "type": "number",
          "format": "double",
          "description": "Required. Weight of a user in grams."
        }
      },
      "description": "Body weight measurement.",
      "id": "Weight",
      "type": "object"
    },
    "DataSource": {
      "properties": {
        "application": {
          "description": "Output only. Captures metadata for the application that provided this data.",
          "readOnly": true,
          "$ref": "Application"
        },
        "recordingMethod": {
          "type": "string",
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "description": "Optional. Captures how the data was recorded.",
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ]
        },
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        },
        "platform": {
          "type": "string",
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "description": "Output only. Captures the platform that uploaded the data.",
          "readOnly": true,
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ]
        }
      },
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it).",
      "id": "DataSource",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "DataPoint": {
      "type": "object",
      "id": "DataPoint",
      "description": "A computed or recorded metric.",
      "properties": {
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "swimLengthsData": {
          "$ref": "SwimLengthsData",
          "description": "Optional. Data for points in the `swim-lengths-data` interval data type collection."
        },
        "weight": {
          "$ref": "Weight",
          "description": "Optional. Data for points in the `weight` sample data type collection."
        },
        "sedentaryPeriod": {
          "$ref": "SedentaryPeriod",
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection."
        },
        "altitude": {
          "description": "Optional. Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "oxygenSaturation": {
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "activityLevel": {
          "$ref": "ActivityLevel",
          "description": "Optional. Data for points in the `activity-level` daily data type collection."
        },
        "height": {
          "$ref": "Height",
          "description": "Optional. Data for points in the `height` sample data type collection."
        },
        "dailyHeartRateZones": {
          "$ref": "DailyHeartRateZones",
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection."
        },
        "dailyOxygenSaturation": {
          "$ref": "DailyOxygenSaturation",
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection."
        },
        "steps": {
          "$ref": "Steps",
          "description": "Optional. Data for points in the `steps` interval data type collection."
        },
        "dataSource": {
          "$ref": "DataSource",
          "description": "Optional. Data source information for the metric"
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutes",
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes."
        },
        "bodyFat": {
          "description": "Optional. Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "hydrationLog": {
          "description": "Optional. Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "heartRate": {
          "$ref": "HeartRate",
          "description": "Optional. Data for points in the `heart-rate` sample data type collection."
        },
        "dailySleepTemperatureDerivations": {
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "runVo2Max": {
          "$ref": "RunVO2Max",
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection."
        },
        "name": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "heartRateVariability": {
          "$ref": "HeartRateVariability",
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection."
        },
        "dailyRespiratoryRate": {
          "$ref": "DailyRespiratoryRate",
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection."
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "sleep": {
          "description": "Optional. Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "dailyRestingHeartRate": {
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "respiratoryRateSleepSummary": {
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        }
      }
    },
    "VO2Max": {
      "id": "VO2Max",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which VO2 max was measured.",
          "$ref": "ObservationSampleTime"
        },
        "measurementMethod": {
          "description": "Optional. The method used to measure the VO2 max value.",
          "enum": [
            "MEASUREMENT_METHOD_UNSPECIFIED",
            "FITBIT_RUN",
            "GOOGLE_DEMOGRAPHIC",
            "COOPER_TEST",
            "HEART_RATE_RATIO",
            "METABOLIC_CART",
            "MULTISTAGE_FITNESS_TEST",
            "ROCKPORT_FITNESS_TEST",
            "MAX_EXERCISE",
            "PREDICTION_SUB_MAX_EXERCISE",
            "PREDICTION_NON_EXERCISE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified measurement method.",
            "Fitbit specific, measures VO2 max rate during a run.",
            "Google specific, measures VO2 max rate for a user based on their demographic data.",
            "Run as far as possible for 12 minutes. Distance correlated with age and gender translates to a VO2 max value.",
            "Maximum heart rate divided by the resting heart rate, with a multiplier applied. Does not require any exercise.",
            "Measured by a medical device called metabolic cart.",
            "Continuous 20m back-and-forth runs with increasing difficulty, until exhaustion.",
            "Measured using walking exercise.",
            "Healthkit specific, measures VO2 max rate by monitoring exercise to the user’s physical limit. Similar to COOPER_TEST or MULTISTAGE_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate based on low-intensity exercise. Similar to ROCKPORT_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate without any exercise. Similar to HEART_RATE_RATIO.",
            "Use when the method is not covered in this enum."
          ],
          "type": "string"
        },
        "vo2Max": {
          "type": "number",
          "format": "double",
          "description": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min."
        }
      },
      "description": "VO2 max measurement."
    },
    "WeightRollupValue": {
      "id": "WeightRollupValue",
      "type": "object",
      "properties": {
        "weightGramsAvg": {
          "description": "Average weight in grams.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Represents the result of the rollup of the weight data type."
    },
    "TotalCaloriesRollupValue": {
      "type": "object",
      "id": "TotalCaloriesRollupValue",
      "description": "Represents the result of the rollup of the user's total calories.",
      "properties": {
        "kcalSum": {
          "type": "number",
          "format": "double",
          "description": "Sum of the total calories in kilocalories."
        }
      }
    },
    "Altitude": {
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "gainMillimeters": {
          "type": "string",
          "format": "int64",
          "description": "Required. Altitude gain in millimeters over the observed interval."
        }
      },
      "type": "object",
      "id": "Altitude"
    },
    "ReconciledDataPoint": {
      "description": "A reconciled computed or recorded metric.",
      "properties": {
        "heartRate": {
          "description": "Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "floors": {
          "$ref": "Floors",
          "description": "Data for points in the `floors` interval data type collection."
        },
        "heartRateVariability": {
          "$ref": "HeartRateVariability",
          "description": "Data for points in the `heart-rate-variability` sample data type collection."
        },
        "distance": {
          "description": "Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "dailySleepTemperatureDerivations": {
          "$ref": "DailySleepTemperatureDerivations",
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection."
        },
        "runVo2Max": {
          "$ref": "RunVO2Max",
          "description": "Data for points in the `run-vo2-max` sample data type collection."
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutes",
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes."
        },
        "activeMinutes": {
          "$ref": "ActiveMinutes",
          "description": "Data for points in the `active-minutes` interval data type collection."
        },
        "bodyFat": {
          "description": "Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "hydrationLog": {
          "$ref": "HydrationLog",
          "description": "Data for points in the `hydration-log` session data type collection."
        },
        "exercise": {
          "description": "Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "dailyHeartRateVariability": {
          "$ref": "DailyHeartRateVariability",
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection."
        },
        "respiratoryRateSleepSummary": {
          "$ref": "RespiratoryRateSleepSummary",
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection."
        },
        "dailyRestingHeartRate": {
          "$ref": "DailyRestingHeartRate",
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection."
        },
        "sleep": {
          "$ref": "Sleep",
          "description": "Data for points in the `sleep` session data type collection."
        },
        "vo2Max": {
          "description": "Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "dailyRespiratoryRate": {
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "height": {
          "$ref": "Height",
          "description": "Data for points in the `height` sample data type collection."
        },
        "sedentaryPeriod": {
          "description": "Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "weight": {
          "$ref": "Weight",
          "description": "Data for points in the `weight` sample data type collection."
        },
        "dailyVo2Max": {
          "description": "Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "swimLengthsData": {
          "$ref": "SwimLengthsData",
          "description": "Data for points in the `swim-lengths-data` interval data type collection."
        },
        "activityLevel": {
          "description": "Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "oxygenSaturation": {
          "$ref": "OxygenSaturation",
          "description": "Data for points in the `oxygen-saturation` sample data type collection."
        },
        "altitude": {
          "description": "Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "steps": {
          "$ref": "Steps",
          "description": "Data for points in the `steps` interval data type collection."
        },
        "timeInHeartRateZone": {
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "dataPointName": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "dailyHeartRateZones": {
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "dailyOxygenSaturation": {
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        }
      },
      "type": "object",
      "id": "ReconciledDataPoint"
    },
    "TimeInHeartRateZones": {
      "description": "Time spent in each heart rate zone.",
      "properties": {
        "lightTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in light heart rate zone.",
          "type": "string"
        },
        "moderateTime": {
          "type": "string",
          "description": "Optional. Time spent in moderate heart rate zone.",
          "format": "google-duration"
        },
        "vigorousTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in vigorous heart rate zone.",
          "type": "string"
        },
        "peakTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Time spent in peak heart rate zone."
        }
      },
      "type": "object",
      "id": "TimeInHeartRateZones"
    },
    "RunVO2Max": {
      "id": "RunVO2Max",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the metric was measured.",
          "$ref": "ObservationSampleTime"
        },
        "runVo2Max": {
          "type": "number",
          "description": "Required. Run VO2 max value in ml/kg/min.",
          "format": "double"
        }
      },
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min."
    },
    "DailyRespiratoryRate": {
      "type": "object",
      "id": "DailyRespiratoryRate",
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep.",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. The date on which the respiratory rate was measured."
        },
        "breathsPerMinute": {
          "format": "double",
          "description": "Required. The average number of breaths taken per minute.",
          "type": "number"
        }
      }
    },
    "ActivityLevelRollupByActivityLevelType": {
      "type": "object",
      "id": "ActivityLevelRollupByActivityLevelType",
      "description": "Represents the total duration in a specific activity level type.",
      "properties": {
        "totalDuration": {
          "format": "google-duration",
          "description": "Total duration in the activity level type.",
          "type": "string"
        },
        "activityLevelType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "description": "Activity level type.",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ]
        }
      }
    },
    "DailyHeartRateVariability": {
      "type": "object",
      "id": "DailyHeartRateVariability",
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`",
      "properties": {
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep.",
          "format": "double",
          "type": "number"
        },
        "averageHeartRateVariabilityMilliseconds": {
          "format": "double",
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats.",
          "type": "number"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement."
        },
        "nonRemHeartRateBeatsPerMinute": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Non-REM heart rate"
        },
        "entropy": {
          "type": "number",
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep.",
          "format": "double"
        }
      }
    },
    "CaloriesInHeartRateZoneValue": {
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone.",
      "properties": {
        "kcal": {
          "type": "number",
          "description": "The amount of kilocalories burned in the specified heart rate zone.",
          "format": "double"
        },
        "heartRateZone": {
          "description": "The heart rate zone.",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ]
        }
      },
      "type": "object",
      "id": "CaloriesInHeartRateZoneValue"
    },
    "ActiveMinutesRollupByActivityLevel": {
      "properties": {
        "activityLevel": {
          "description": "The level of activity.",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "type": "string"
        },
        "activeMinutesSum": {
          "type": "string",
          "format": "int64",
          "description": "Number of whole minutes spent in activity."
        }
      },
      "description": "Active minutes by activity level.",
      "id": "ActiveMinutesRollupByActivityLevel",
      "type": "object"
    },
    "SedentaryPeriod": {
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device).",
      "id": "SedentaryPeriod",
      "type": "object"
    },
    "SwimLengthsData": {
      "type": "object",
      "id": "SwimLengthsData",
      "description": "Swim lengths data over the time interval.",
      "properties": {
        "swimStrokeType": {
          "description": "Required. Swim stroke type.",
          "enum": [
            "SWIM_STROKE_TYPE_UNSPECIFIED",
            "FREESTYLE",
            "BACKSTROKE",
            "BREASTSTROKE",
            "BUTTERFLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Swim stroke type is unspecified.",
            "Freestyle swim stroke type.",
            "Backstroke swim stroke type.",
            "Breaststroke swim stroke type.",
            "Butterfly swim stroke type."
          ]
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "strokeCount": {
          "description": "Required. Number of strokes in the lap.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FloorsRollupValue": {
      "id": "FloorsRollupValue",
      "type": "object",
      "properties": {
        "countSum": {
          "format": "int64",
          "description": "Sum of the floors count.",
          "type": "string"
        }
      },
      "description": "Represents the result of the rollup of the user's floors."
    },
    "Exercise": {
      "id": "Exercise",
      "type": "object",
      "properties": {
        "splitSummaries": {
          "type": "array",
          "items": {
            "$ref": "SplitSummary"
          },
          "description": "Optional. Laps or splits recorded within an exercise. Laps could be split based on distance or other criteria (duration, etc.) Laps should not be overlapping with each other."
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Represents the timestamp of the creation of the exercise.",
          "readOnly": true
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this exercise ( )",
          "$ref": "MetricsSummary"
        },
        "exerciseType": {
          "description": "Required. The type of activity performed during an exercise.",
          "enum": [
            "EXERCISE_TYPE_UNSPECIFIED",
            "RUNNING",
            "WALKING",
            "BIKING",
            "SWIMMING",
            "HIKING",
            "YOGA",
            "PILATES",
            "WORKOUT",
            "HIIT",
            "WEIGHTLIFTING",
            "STRENGTH_TRAINING",
            "OTHER"
          ],
          "enumDescriptions": [
            "Exercise type is unspecified.",
            "Running type.",
            "Walking type.",
            "Biking type.",
            "Swimming type.",
            "Hiking type.",
            "Yoga type.",
            "Pilates type.",
            "Workout type.",
            "HIIT type.",
            "Weightlifting type.",
            "Strength training type.",
            "Other type."
          ],
          "type": "string"
        },
        "exerciseEvents": {
          "type": "array",
          "items": {
            "$ref": "ExerciseEvent"
          },
          "description": "Optional. Exercise events that happen during an exercise, such as pause & restarts."
        },
        "interval": {
          "description": "Required. Observed exercise interval",
          "$ref": "SessionTimeInterval"
        },
        "splits": {
          "description": "Optional. The default split is 1 km or 1 mile. - if the movement distance is less than the default, then there are no splits - if the movement distance is greater than or equal to the default, then we have splits",
          "type": "array",
          "items": {
            "$ref": "SplitSummary"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. This is the timestamp of the last update to the exercise.",
          "readOnly": true
        },
        "activeDuration": {
          "description": "Optional. Duration excluding pauses.",
          "format": "google-duration",
          "type": "string"
        },
        "exerciseMetadata": {
          "$ref": "ExerciseMetadata",
          "description": "Optional. Additional exercise metadata."
        },
        "displayName": {
          "description": "Required. Exercise display name.",
          "type": "string"
        }
      },
      "description": "An exercise that stores information about a physical activity."
    },
[...]
