{
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "version_module": true,
  "servicePath": "",
  "name": "health",
  "canonicalName": "Google Health API",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/health",
  "baseUrl": "https://health.googleapis.com/",
  "protocol": "rest",
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "rootUrl": "https://health.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "version": "v4",
  "title": "Google Health API",
  "schemas": {
    "Identity": {
      "description": "Represents details about the Google user's identity.",
      "properties": {
        "healthUserId": {
          "type": "string",
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "readOnly": true
        },
        "legacyUserId": {
          "type": "string",
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`",
          "type": "string"
        }
      },
      "id": "Identity",
      "type": "object"
    },
    "HeartRate": {
      "description": "A heart rate measurement.",
      "properties": {
        "sampleTime": {
          "description": "Required. Observation time",
          "$ref": "ObservationSampleTime"
        },
        "beatsPerMinute": {
          "type": "string",
          "format": "int64",
          "description": "Required. The heart rate value in beats per minute."
        },
        "metadata": {
          "description": "Optional. Metadata about the heart rate sample.",
          "$ref": "HeartRateMetadata"
        }
      },
      "id": "HeartRate",
      "type": "object"
    },
    "RollUpDataPointsRequest": {
      "description": "Request to roll up data points by physical time intervals.",
      "properties": {
        "pageToken": {
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        },
        "windowSize": {
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions.",
          "format": "google-duration",
          "type": "string"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "Interval"
        },
        "pageSize": {
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "RollUpDataPointsRequest",
      "type": "object"
    },
    "HttpResponse": {
      "id": "HttpResponse",
      "type": "object",
      "description": "Represents an HTTP response.",
      "properties": {
        "reason": {
          "description": "The HTTP reason phrase, such as \"OK\" or \"Not Found\".",
          "type": "string"
        },
        "headers": {
          "description": "The HTTP response headers. The ordering of the headers is significant. Multiple headers with the same key may present for the response.",
          "type": "array",
          "items": {
            "$ref": "HttpHeader"
          }
        },
        "status": {
          "format": "int32",
          "type": "integer",
          "description": "The HTTP status code, such as 200 or 404."
        },
        "body": {
          "description": "The HTTP response body. If the body is not expected, it should be empty.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "Height": {
      "id": "Height",
      "type": "object",
      "description": "Body height measurement.",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the height was recorded.",
          "$ref": "ObservationSampleTime"
        },
        "heightMillimeters": {
          "type": "string",
          "format": "int64",
          "description": "Required. Height of the user in millimeters."
        }
      }
    },
    "Weight": {
      "description": "Body weight measurement.",
      "properties": {
        "weightGrams": {
          "description": "Required. Weight of a user in grams.",
          "type": "number",
          "format": "double"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        },
        "sampleTime": {
          "description": "Required. The time at which the weight was measured",
          "$ref": "ObservationSampleTime"
        }
      },
      "id": "Weight",
      "type": "object"
    },
    "HttpHeader": {
      "id": "HttpHeader",
      "type": "object",
      "description": "Represents an HTTP header.",
      "properties": {
        "key": {
          "description": "The HTTP header key. It is case insensitive.",
          "type": "string"
        },
        "value": {
          "description": "The HTTP header value.",
          "type": "string"
        }
      }
    },
    "ObservationTimeInterval": {
      "id": "ObservationTimeInterval",
      "type": "object",
      "description": "Represents a time interval of an observed data point.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Observed interval end time."
        },
        "startTime": {
          "description": "Required. Observed interval start time.",
          "format": "google-datetime",
          "type": "string"
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "readOnly": true
        },
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        },
        "civilEndTime": {
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval",
          "readOnly": true,
          "$ref": "CivilDateTime"
        }
      }
    },
    "Altitude": {
      "id": "Altitude",
      "type": "object",
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "gainMillimeters": {
          "description": "Required. Altitude gain in millimeters over the observed interval.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DataPoint": {
      "description": "A computed or recorded metric.",
      "properties": {
        "bodyFat": {
          "description": "Optional. Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "activityLevel": {
          "description": "Optional. Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "swimLengthsData": {
          "description": "Optional. Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "weight": {
          "description": "Optional. Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "runVo2Max": {
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "dailyRestingHeartRate": {
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "respiratoryRateSleepSummary": {
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "heartRate": {
          "description": "Optional. Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "dailyOxygenSaturation": {
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "heartRateVariability": {
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "dataSource": {
          "description": "Optional. Data source information for the metric",
          "$ref": "DataSource"
        },
        "sleep": {
          "description": "Optional. Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "activeZoneMinutes": {
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "sedentaryPeriod": {
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "hydrationLog": {
          "description": "Optional. Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "dailyHeartRateZones": {
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "height": {
          "description": "Optional. Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "altitude": {
          "description": "Optional. Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "oxygenSaturation": {
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "name": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "steps": {
          "description": "Optional. Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        }
      },
      "id": "DataPoint",
      "type": "object"
    },
    "ExerciseMetadata": {
      "id": "ExerciseMetadata",
      "type": "object",
      "description": "Additional exercise metadata.",
      "properties": {
        "poolLengthMillimeters": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Pool length in millimeters. Only present in the swimming exercises."
        },
        "hasGps": {
          "description": "Optional. Whether the exercise had GPS tracking.",
          "type": "boolean"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "HydrationLogRollupValue": {
      "description": "Represents the result of the rollup of the hydration log data type.",
      "properties": {
        "amountConsumed": {
          "description": "Rollup for amount consumed.",
          "$ref": "VolumeQuantityRollup"
        }
      },
      "id": "HydrationLogRollupValue",
      "type": "object"
    },
    "Sleep": {
      "id": "Sleep",
      "type": "object",
      "description": "A sleep session possibly including stages.",
      "properties": {
        "metadata": {
          "description": "Optional. Sleep metadata: processing, main, manually edited, stages status.",
          "$ref": "SleepMetadata"
        },
        "stages": {
          "description": "Optional. List of non-overlapping contiguous sleep stage segments that cover the sleep period.",
          "type": "array",
          "items": {
            "$ref": "SleepStage"
          }
        },
        "interval": {
          "description": "Required. Observed sleep interval.",
          "$ref": "SessionTimeInterval"
        },
        "outOfBedSegments": {
          "items": {
            "$ref": "OutOfBedSegment"
          },
          "type": "array",
          "description": "Optional. “Out of bed” segments that can overlap with sleep stages."
        },
        "type": {
          "description": "Optional. SleepType: classic or stages.",
          "enumDescriptions": [
            "Sleep type is unspecified.",
            "Classic sleep is a sleep with 3 stages types: AWAKE, RESTLESS and ASLEEP.",
            "On top of \"classic\" sleep stages an additional processing pass can calculate stages more precisely, overwriting the prior stages with AWAKE, LIGHT, REM and DEEP."
          ],
          "type": "string",
          "enum": [
            "SLEEP_TYPE_UNSPECIFIED",
            "CLASSIC",
            "STAGES"
          ]
        },
        "summary": {
          "description": "Output only. Sleep summary: metrics and stages summary.",
          "readOnly": true,
          "$ref": "SleepSummary"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this sleep observation.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of this sleep observation.",
          "readOnly": true
        }
      }
    },
    "TotalCaloriesRollupValue": {
      "description": "Represents the result of the rollup of the user's total calories.",
      "properties": {
        "kcalSum": {
          "description": "Sum of the total calories in kilocalories.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "TotalCaloriesRollupValue",
      "type": "object"
    },
    "SwimLengthsData": {
      "id": "SwimLengthsData",
      "type": "object",
      "description": "Swim lengths data over the time interval.",
      "properties": {
        "strokeCount": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of strokes in the lap."
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "swimStrokeType": {
          "enumDescriptions": [
            "Swim stroke type is unspecified.",
            "Freestyle swim stroke type.",
            "Backstroke swim stroke type.",
            "Breaststroke swim stroke type.",
            "Butterfly swim stroke type."
          ],
          "description": "Required. Swim stroke type.",
          "enum": [
            "SWIM_STROKE_TYPE_UNSPECIFIED",
            "FREESTYLE",
            "BACKSTROKE",
            "BREASTSTROKE",
            "BUTTERFLY"
          ],
          "type": "string"
        }
      }
    },
    "DailySleepTemperatureDerivations": {
      "description": "Provides derived sleep temperature values, calculated from skin or internal device temperature readings during sleep.",
      "properties": {
        "relativeNightlyStddev30dCelsius": {
          "format": "double",
          "type": "number",
          "description": "Optional. The standard deviation of the user’s relative nightly skin temperature (temperature - baseline) over the past 30 days."
        },
        "date": {
          "description": "Required. Date for which the sleep temperature derivations are calculated.",
          "$ref": "Date"
        },
        "nightlyTemperatureCelsius": {
          "description": "Required. The user's nightly skin temperature. It is the mean of skin temperature samples taken from the user’s sleep.",
          "format": "double",
          "type": "number"
        },
        "baselineTemperatureCelsius": {
          "type": "number",
          "format": "double",
          "description": "Optional. The user's baseline skin temperature. It is the median of the user's nightly skin temperature over the past 30 days."
        }
      },
      "id": "DailySleepTemperatureDerivations",
      "type": "object"
    },
    "ExerciseEvent": {
      "id": "ExerciseEvent",
      "type": "object",
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split.",
      "properties": {
        "eventTime": {
          "description": "Required. Exercise event time",
          "type": "string",
          "format": "google-datetime"
        },
        "eventUtcOffset": {
          "description": "Required. Exercise event time offset from UTC",
          "format": "google-duration",
          "type": "string"
        },
        "exerciseEventType": {
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ],
          "description": "Required. The type of the event, such as start, stop, pause, resume.",
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ],
          "type": "string"
        }
      }
    },
    "HeartRateRollupValue": {
      "description": "Represents the result of the rollup of the heart rate data type.",
      "properties": {
        "beatsPerMinuteMin": {
          "type": "number",
          "format": "double",
          "description": "The minimum heart rate value in the interval."
        },
        "beatsPerMinuteAvg": {
          "description": "The average heart rate value in the interval.",
          "format": "double",
          "type": "number"
        },
        "beatsPerMinuteMax": {
          "type": "number",
          "format": "double",
          "description": "The maximum heart rate value in the interval."
        }
      },
      "id": "HeartRateRollupValue",
      "type": "object"
    },
    "GoogleDevicesandservicesHealthV4DataType": {
      "id": "GoogleDevicesandservicesHealthV4DataType",
      "type": "object",
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values.",
          "type": "string"
        }
      }
    },
    "OxygenSaturation": {
      "id": "OxygenSaturation",
      "type": "object",
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2).",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "type": "number",
          "format": "double",
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100."
        }
      }
    },
    "WebhookNotificationCloudLog": {
      "description": "Log message for a webhook notification sent by the Google Health API to a subscriber's endpoint. Includes the HTTP response received from the endpoint.",
      "properties": {
        "httpResponse": {
          "description": "Required. Represents the HTTP response. This message includes the status code, reason phrase, headers, and body.",
          "$ref": "HttpResponse"
        }
      },
      "id": "WebhookNotificationCloudLog",
      "type": "object"
    },
    "VolumeQuantityRollup": {
      "description": "Rollup for volume quantity.",
      "properties": {
        "millilitersSum": {
          "type": "number",
          "format": "double",
          "description": "Required. The sum of volume in milliliters."
        },
        "userProvidedUnitLast": {
          "description": "Optional. The user provided unit on the last element.",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "type": "string",
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        }
      },
      "id": "VolumeQuantityRollup",
      "type": "object"
    },
    "TimeInHeartRateZoneRollupValue": {
      "id": "TimeInHeartRateZoneRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the time in heart rate zone data type.",
      "properties": {
        "timeInHeartRateZones": {
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          },
          "type": "array",
          "description": "List of time spent in each heart rate zone."
        }
      }
    },
    "DailyHeartRateZones": {
      "id": "DailyHeartRateZones",
      "type": "object",
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day.",
      "properties": {
        "date": {
          "description": "Required. Date (in user's timezone) of the heart rate zones record.",
          "$ref": "Date"
        },
        "heartRateZones": {
          "description": "Required. The heart rate zones.",
          "type": "array",
          "items": {
            "$ref": "HeartRateZone"
          }
        }
      }
    },
    "HydrationLog": {
      "id": "HydrationLog",
      "type": "object",
      "description": "Holds information about a user logged hydration.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "SessionTimeInterval"
        },
        "amountConsumed": {
          "description": "Required. Amount of liquid (ex. water) consumed.",
          "$ref": "VolumeQuantity"
        }
      }
    },
    "HeartRateZone": {
      "id": "HeartRateZone",
      "type": "object",
      "description": "The heart rate zone.",
      "properties": {
        "heartRateZoneType": {
          "type": "string",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "Required. The heart rate zone type.",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ]
        },
        "maxBeatsPerMinute": {
          "description": "Required. Maximum heart rate for this zone in beats per minute.",
          "type": "string",
          "format": "int64"
        },
        "minBeatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Required. Minimum heart rate for this zone in beats per minute."
        }
      }
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "properties": {
        "caloriesInHeartRateZones": {
          "type": "array",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "description": "List of calories burned in each heart rate zone."
        }
      },
      "id": "CaloriesInHeartRateZoneRollupValue",
      "type": "object"
    },
    "MetricsSummary": {
      "description": "Summary metrics for an exercise.",
      "properties": {
        "totalSwimLengths": {
          "type": "number",
          "format": "double",
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise."
        },
        "mobilityMetrics": {
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises.",
          "$ref": "MobilityMetrics"
        },
        "steps": {
          "description": "Optional. Total steps taken during the exercise.",
          "format": "int64",
          "type": "string"
        },
        "elevationGainMillimeters": {
          "description": "Optional. Total elevation gain during the exercise.",
          "format": "double",
          "type": "number"
        },
        "distanceMillimeters": {
          "type": "number",
          "format": "double",
          "description": "Optional. Total distance covered by the user during the exercise."
        },
        "averageSpeedMillimetersPerSecond": {
          "description": "Optional. Average speed in millimeters per second.",
          "format": "double",
          "type": "number"
        },
        "runVo2Max": {
          "type": "number",
          "format": "double",
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise."
        },
        "averagePaceSecondsPerMeter": {
          "description": "Optional. Average pace in seconds per meter.",
          "type": "number",
          "format": "double"
        },
        "caloriesKcal": {
          "description": "Optional. Total calories burned by the user during the exercise.",
          "type": "number",
          "format": "double"
        },
        "averageHeartRateBeatsPerMinute": {
          "description": "Optional. Average heart rate during the exercise.",
          "format": "int64",
          "type": "string"
        },
        "activeZoneMinutes": {
          "description": "Optional. Total active zone minutes for the exercise.",
          "type": "string",
          "format": "int64"
        },
        "heartRateZoneDurations": {
          "description": "Optional. Time spent in each heart rate zone.",
          "$ref": "TimeInHeartRateZones"
        }
      },
      "id": "MetricsSummary",
      "type": "object"
    },
    "TimeInHeartRateZones": {
      "id": "TimeInHeartRateZones",
      "type": "object",
      "description": "Time spent in each heart rate zone.",
      "properties": {
        "lightTime": {
          "description": "Optional. Time spent in light heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "vigorousTime": {
          "description": "Optional. Time spent in vigorous heart rate zone.",
          "format": "google-duration",
          "type": "string"
        },
        "moderateTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Time spent in moderate heart rate zone."
        },
        "peakTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Time spent in peak heart rate zone."
        }
      }
    },
    "DataSource": {
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it).",
      "properties": {
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "description": "Output only. Captures the platform that uploaded the data.",
          "readOnly": true
        },
        "recordingMethod": {
          "description": "Optional. Captures how the data was recorded.",
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "type": "string",
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ]
        },
        "application": {
          "$ref": "Application",
          "description": "Output only. Captures metadata for the application that provided this data.",
          "readOnly": true
        },
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        }
      },
      "id": "DataSource",
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "id": "Date",
      "type": "object"
    },
    "DailyRollupDataPoint": {
      "description": "Value of a daily rollup for a single civil time interval (aggregation window)",
      "properties": {
        "heartRateVariabilityPersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier.",
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "civilEndTime": {
          "description": "End time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "restingHeartRatePersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier.",
          "$ref": "RestingHeartRatePersonalRangeRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "civilStartTime": {
          "description": "Start time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        }
      },
      "id": "DailyRollupDataPoint",
      "type": "object"
    },
    "SwimLengthsDataRollupValue": {
      "id": "SwimLengthsDataRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the swim lengths data type.",
      "properties": {
        "strokeCountSum": {
          "description": "Total number of swim strokes in the interval.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ActivityLevel": {
      "description": "Internal type to capture activity level during a certain time interval.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activityLevelType": {
          "description": "Required. Activity level type in the given time interval.",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ]
        }
      },
      "id": "ActivityLevel",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "type": "object"
    },
    "SleepStage": {
      "id": "SleepStage",
      "type": "object",
      "description": "Sleep stage segment.",
      "properties": {
        "endTime": {
          "description": "Required. Sleep stage end time.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Sleep stage start time."
        },
        "startUtcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the sleep stage relative to the Coordinated Universal Time (UTC)."
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "description": "Required. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of this sleep stages segment.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Last update time of this sleep stages segment.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "StageSummary": {
      "description": "Total duration and segment count for a stage.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "type": "string",
          "readOnly": true
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of sleep stages segments.",
          "readOnly": true
        },
        "minutes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total duration in minutes of a sleep stage.",
          "readOnly": true
        }
      },
      "id": "StageSummary",
      "type": "object"
    },
    "RollupDataPoint": {
      "description": "Value of a rollup for a single physical time interval (aggregation window)",
      "properties": {
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of the window this value aggregates over"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "endTime": {
          "description": "End time of the window this value aggregates over",
          "type": "string",
          "format": "google-datetime"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        }
      },
      "id": "RollupDataPoint",
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        }
      }
    },
    "SleepSummary": {
      "description": " Sleep summary: metrics and stages summary.",
      "properties": {
        "minutesAsleep": {
          "description": "Output only. Total number of minutes asleep. For classic sleep it is the sum of ASLEEP stages (excluding AWAKE and RESTLESS). For \"stages\" sleep it is the sum of LIGHT, REM and DEEP stages (excluding AWAKE).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "stagesSummary": {
          "description": "Output only. List of summaries (total duration and segment count) per each sleep stage type.",
          "readOnly": true,
          "items": {
            "$ref": "StageSummary"
          },
          "type": "array"
        },
        "minutesInSleepPeriod": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Delta between wake time and bedtime. It is the sum of all stages.",
          "readOnly": true
        },
        "minutesAwake": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total number of minutes awake. It is a sum of all AWAKE stages.",
          "readOnly": true
        },
        "minutesAfterWakeUp": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Minutes after wake up calculated by restlessness algorithm.",
          "readOnly": true
        },
        "minutesToFallAsleep": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Minutes to fall asleep calculated by restlessness algorithm.",
          "readOnly": true
        }
      },
      "id": "SleepSummary",
      "type": "object"
    },
    "SedentaryPeriodRollupValue": {
      "id": "SedentaryPeriodRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the user's sedentary periods.",
      "properties": {
        "durationSum": {
          "type": "string",
          "format": "google-duration",
          "description": "The total time user spent sedentary during the interval."
        }
      }
    },
    "BatchDeleteDataPointsRequest": {
      "description": "Request to delete a batch of identifiable data points.",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request."
        }
      },
      "id": "BatchDeleteDataPointsRequest",
      "type": "object"
    },
    "SleepMetadata": {
      "description": "Additional information about how the sleep was processed.",
      "properties": {
        "processed": {
          "type": "boolean",
          "description": "Output only. Sleep and sleep stages algorithms finished processing.",
          "readOnly": true
        },
        "stagesStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ],
          "description": "Output only. Sleep stages algorithm processing status.",
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ],
          "type": "string"
        },
        "nap": {
          "description": "Output only. Naps are sleeps without stages and relatively short durations.",
          "readOnly": true,
          "type": "boolean"
        },
        "manuallyEdited": {
          "type": "boolean",
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users.",
          "readOnly": true
        },
        "externalId": {
          "description": "Optional. Sleep identifier relevant in the context of the data source.",
          "type": "string"
        }
      },
      "id": "SleepMetadata",
      "type": "object"
    },
    "RunVO2MaxRollupValue": {
      "id": "RunVO2MaxRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "properties": {
        "rateMin": {
          "description": "Minimum value of run VO2 max in the interval..",
          "format": "double",
          "type": "number"
        },
        "rateMax": {
          "type": "number",
          "format": "double",
          "description": "Maximum value of run VO2 max in the interval."
        },
        "rateAvg": {
          "description": "Average value of run VO2 max in the interval.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "DistanceRollupValue": {
      "description": "Result of the rollup of the user's distance.",
      "properties": {
        "millimetersSum": {
          "description": "Sum of the distance in millimeters.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DistanceRollupValue",
      "type": "object"
    },
    "Floors": {
      "description": "Gained elevation measured in floors over the time interval",
      "properties": {
        "interval": {
          "description": "Required. Observed interval",
          "$ref": "ObservationTimeInterval"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of floors in the recorded interval"
        }
      },
      "id": "Floors",
      "type": "object"
    },
    "ListDataPointsResponse": {
      "description": "Response containing raw data points matching the query",
      "properties": {
        "dataPoints": {
          "type": "array",
          "items": {
            "$ref": "DataPoint"
          },
          "description": "Data points matching the query"
        },
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        }
      },
      "id": "ListDataPointsResponse",
      "type": "object"
    },
    "StepsRollupValue": {
      "id": "StepsRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the steps data type.",
      "properties": {
        "countSum": {
          "format": "int64",
          "type": "string",
          "description": "Total number of steps in the interval."
        }
      }
    },
    "CaloriesInHeartRateZoneValue": {
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone.",
      "properties": {
        "heartRateZone": {
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "description": "The heart rate zone."
        },
        "kcal": {
          "type": "number",
          "format": "double",
          "description": "The amount of kilocalories burned in the specified heart rate zone."
        }
      },
      "id": "CaloriesInHeartRateZoneValue",
      "type": "object"
    },
    "WeightRollupValue": {
      "id": "WeightRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the weight data type.",
      "properties": {
        "weightGramsAvg": {
          "type": "number",
          "format": "double",
          "description": "Average weight in grams."
        }
      }
    },
    "ReconcileDataPointsResponse": {
      "description": "Response containing the list of reconciled DataPoints.",
      "properties": {
        "dataPoints": {
          "description": "Data points matching the query",
          "type": "array",
          "items": {
            "$ref": "ReconciledDataPoint"
          }
        },
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        }
      },
      "id": "ReconcileDataPointsResponse",
      "type": "object"
    },
    "CreateSubscriberPayload": {
      "description": "Payload for creating a subscriber.",
      "properties": {
        "endpointUri": {
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during the `CreateSubscriber` call. See CreateSubscriber RPC documentation for verification details.",
          "type": "string"
        },
        "subscriberConfigs": {
          "type": "array",
          "items": {
            "$ref": "SubscriberConfig"
          },
          "description": "Optional. Configuration for the subscriber."
        },
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for the subscriber endpoint. The `secret` within this message is crucial for endpoint verification and for securing webhook notifications.",
          "$ref": "EndpointAuthorization"
        }
      },
      "id": "CreateSubscriberPayload",
      "type": "object"
    },
    "DailyRollUpDataPointsResponse": {
      "id": "DailyRollUpDataPointsResponse",
      "type": "object",
      "description": "Response containing the list of rolled up data points.",
      "properties": {
        "rollupDataPoints": {
          "type": "array",
          "items": {
            "$ref": "DailyRollupDataPoint"
          },
          "description": "Values for each aggregation time window."
        }
      }
    },
    "DailyRollUpDataPointsRequest": {
      "description": "Request to roll up data points by civil time intervals.",
      "properties": {
        "pageToken": {
          "description": "Optional. The `next_page_token` from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        },
        "windowSizeDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Aggregation window size, in number of days. Defaults to 1 if not specified."
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The start time must be aligned with the aggregation window. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "CivilTimeInterval"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly."
        }
      },
      "id": "DailyRollUpDataPointsRequest",
      "type": "object"
    },
    "SplitSummary": {
      "id": "SplitSummary",
      "type": "object",
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Lap end time"
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this split.",
          "$ref": "MetricsSummary"
        },
        "activeDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Lap time excluding the pauses.",
          "readOnly": true
        },
        "startUtcOffset": {
          "description": "Required. Lap start time offset from UTC",
          "format": "google-duration",
          "type": "string"
        },
        "endUtcOffset": {
          "description": "Required. Lap end time offset from UTC",
          "format": "google-duration",
          "type": "string"
        },
        "startTime": {
          "description": "Required. Lap start time",
          "type": "string",
          "format": "google-datetime"
        },
        "splitType": {
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ],
          "type": "string",
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic."
        }
      }
    },
    "VO2Max": {
      "id": "VO2Max",
      "type": "object",
      "description": "VO2 max measurement.",
      "properties": {
        "measurementMethod": {
          "enumDescriptions": [
            "Unspecified measurement method.",
            "Fitbit specific, measures VO2 max rate during a run.",
            "Google specific, measures VO2 max rate for a user based on their demographic data.",
            "Run as far as possible for 12 minutes. Distance correlated with age and gender translates to a VO2 max value.",
            "Maximum heart rate divided by the resting heart rate, with a multiplier applied. Does not require any exercise.",
            "Measured by a medical device called metabolic cart.",
            "Continuous 20m back-and-forth runs with increasing difficulty, until exhaustion.",
            "Measured using walking exercise.",
            "Healthkit specific, measures VO2 max rate by monitoring exercise to the user’s physical limit. Similar to COOPER_TEST or MULTISTAGE_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate based on low-intensity exercise. Similar to ROCKPORT_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate without any exercise. Similar to HEART_RATE_RATIO.",
            "Use when the method is not covered in this enum."
          ],
          "description": "Optional. The method used to measure the VO2 max value.",
          "enum": [
            "MEASUREMENT_METHOD_UNSPECIFIED",
            "FITBIT_RUN",
            "GOOGLE_DEMOGRAPHIC",
            "COOPER_TEST",
            "HEART_RATE_RATIO",
            "METABOLIC_CART",
            "MULTISTAGE_FITNESS_TEST",
            "ROCKPORT_FITNESS_TEST",
            "MAX_EXERCISE",
            "PREDICTION_SUB_MAX_EXERCISE",
            "PREDICTION_NON_EXERCISE",
            "OTHER"
          ],
          "type": "string"
        },
        "sampleTime": {
          "description": "Required. The time at which VO2 max was measured.",
          "$ref": "ObservationSampleTime"
        },
        "vo2Max": {
          "format": "double",
          "type": "number",
          "description": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min."
        }
      }
    },
    "Profile": {
      "id": "Profile",
      "type": "object",
      "description": "Profile details.",
      "properties": {
        "userConfiguredRunningStrideLengthMm": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`"
        },
        "name": {
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "userConfiguredWalkingStrideLengthMm": {
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "format": "int32",
          "type": "integer"
        },
        "autoWalkingStrideLengthMm": {
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "age": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported."
        },
        "autoRunningStrideLengthMm": {
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "membershipStartDate": {
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported.",
          "readOnly": true,
          "$ref": "Date"
        }
      }
    },
    "Settings": {
      "description": "Settings details.",
      "properties": {
        "utcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported."
        },
        "weightUnit": {
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings."
        },
        "strideLengthRunningType": {
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported."
        },
        "name": {
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "strideLengthWalkingType": {
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "type": "string",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ]
        },
        "swimUnit": {
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ],
          "type": "string"
        },
        "waterUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ],
          "type": "string",
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ]
        },
        "temperatureUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "type": "string",
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ]
        },
        "autoStrideEnabled": {
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported.",
          "type": "boolean"
        },
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        },
        "glucoseUnit": {
          "type": "string",
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ]
        },
        "distanceUnit": {
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported.",
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "type": "string"
        },
        "heightUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ],
          "type": "string",
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ]
        },
        "languageLocale": {
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        }
      },
      "id": "Settings",
      "type": "object"
    },
    "CivilTimeInterval": {
      "description": "Counterpart of google.type.Interval, but using CivilDateTime.",
      "properties": {
        "start": {
          "description": "Required. The inclusive start of the range.",
          "$ref": "CivilDateTime"
        },
        "end": {
          "description": "Required. The exclusive end of the range.",
          "$ref": "CivilDateTime"
        }
      },
      "id": "CivilTimeInterval",
      "type": "object"
    },
    "TimeZone": {
      "id": "TimeZone",
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      }
    },
    "Application": {
      "description": "Optional metadata for the application that provided this data.",
      "properties": {
        "webClientId": {
          "description": "Output only. The client ID of the application that recorded the data. This ID is a legacy Fitbit API client ID, which is different from a Google OAuth client ID. Example format: `ABC123`. This field is system-populated and used for tracing data from legacy Fitbit API integrations. This field is system-populated when the data is uploaded from a legacy Fitbit API integration.",
          "readOnly": true,
          "type": "string"
        },
        "googleWebClientId": {
          "type": "string",
          "description": "Output only. The Google OAuth 2.0 client ID of the web application or service that recorded the data. This is the client ID used during the Google OAuth flow to obtain user credentials. This field is system-populated when the data is uploaded from Google Web API.",
          "readOnly": true
        },
        "packageName": {
          "description": "Output only. A unique identifier for the mobile application that was the source of the data. This is typically the application's package name on Android (e.g., `com.google.fitbit`) or the bundle ID on iOS. This field is informational and helps trace data origin. This field is system-populated when the data is uploaded from the Fitbit mobile application, Health Connect or Health Kit.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Application",
      "type": "object"
    },
    "AltitudeRollupValue": {
      "description": "Represents the result of the rollup of the user's altitude.",
      "properties": {
        "gainMillimetersSum": {
          "description": "Sum of the altitude gain in millimeters.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AltitudeRollupValue",
      "type": "object"
    },
    "BodyFatRollupValue": {
      "id": "BodyFatRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the body fat data type.",
      "properties": {
        "bodyFatPercentageAvg": {
          "format": "double",
          "type": "number",
          "description": "Average body fat percentage."
        }
      }
    },
    "ActivityLevelRollupByActivityLevelType": {
      "description": "Represents the total duration in a specific activity level type.",
      "properties": {
        "activityLevelType": {
          "description": "Activity level type.",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ]
        },
        "totalDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total duration in the activity level type."
        }
      },
      "id": "ActivityLevelRollupByActivityLevelType",
      "type": "object"
    },
    "DailyRespiratoryRate": {
      "id": "DailyRespiratoryRate",
      "type": "object",
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep.",
      "properties": {
        "breathsPerMinute": {
          "description": "Required. The average number of breaths taken per minute.",
          "format": "double",
          "type": "number"
        },
        "date": {
          "description": "Required. The date on which the respiratory rate was measured.",
          "$ref": "Date"
        }
      }
    },
    "HeartRateMetadata": {
      "description": "Heart rate metadata.",
      "properties": {
        "motionContext": {
          "type": "string",
          "enum": [
            "MOTION_CONTEXT_UNSPECIFIED",
            "ACTIVE",
            "SEDENTARY"
          ],
          "description": "Optional. Indicates the user’s level of activity when the heart rate sample was measured",
          "enumDescriptions": [
            "The default value when no data is available.",
            "The user is active.",
            "The user is inactive."
          ]
        },
        "sensorLocation": {
          "enumDescriptions": [
            "The default value when no data is available.",
            "Chest sensor.",
            "Wrist sensor.",
            "Finger sensor.",
            "Hand sensor.",
            "Ear lobe sensor.",
            "Foot sensor."
          ],
          "description": "Optional. Indicates the location of the sensor that measured the heart rate.",
          "enum": [
            "SENSOR_LOCATION_UNSPECIFIED",
            "CHEST",
            "WRIST",
            "FINGER",
            "HAND",
            "EAR_LOBE",
            "FOOT"
          ],
          "type": "string"
        }
      },
      "id": "HeartRateMetadata",
      "type": "object"
    },
    "ActiveZoneMinutesRollupValue": {
      "description": "Represents the result of the rollup of the active zone minutes data type.",
      "properties": {
        "sumInCardioHeartZone": {
          "format": "int64",
          "type": "string",
          "description": "Active zone minutes in `HeartRateZone.CARDIO`."
        },
        "sumInPeakHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.PEAK`.",
          "format": "int64",
          "type": "string"
        },
        "sumInFatBurnHeartZone": {
          "type": "string",
          "format": "int64",
          "description": "Active zone minutes in `HeartRateZone.FAT_BURN`."
        }
      },
      "id": "ActiveZoneMinutesRollupValue",
      "type": "object"
    },
    "DailyOxygenSaturation": {
      "description": "A daily oxygen saturation (SpO2) record. Represents the user's daily oxygen saturation summary, typically calculated during sleep.",
      "properties": {
        "date": {
          "description": "Required. Date (in user's timezone) of the daily oxygen saturation record.",
          "$ref": "Date"
        },
        "averagePercentage": {
          "description": "Required. The average value of the oxygen saturation samples during the sleep.",
          "format": "double",
          "type": "number"
        },
        "upperBoundPercentage": {
          "description": "Required. The upper bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number",
          "format": "double"
        },
        "standardDeviationPercentage": {
          "type": "number",
          "format": "double",
          "description": "Optional. Standard deviation of the daily oxygen saturation averages from the past 7-30 days."
        },
        "lowerBoundPercentage": {
          "description": "Required. The lower bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "DailyOxygenSaturation",
      "type": "object"
    },
    "RollUpDataPointsResponse": {
      "description": "Response containing the list of rolled up data points.",
      "properties": {
        "rollupDataPoints": {
          "items": {
            "$ref": "RollupDataPoint"
          },
          "type": "array",
          "description": "Values for each aggregation time window."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "RollUpDataPointsResponse",
      "type": "object"
    },
    "MobilityMetrics": {
      "id": "MobilityMetrics",
      "type": "object",
      "description": "Mobility workouts specific metrics",
      "properties": {
        "avgCadenceStepsPerMinute": {
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout.",
          "type": "number",
          "format": "double"
        },
        "avgVerticalOscillationMillimeters": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running"
        },
        "avgVerticalRatio": {
          "format": "double",
          "type": "number",
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0]."
        },
        "avgGroundContactTimeDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride"
        },
        "avgStrideLengthMillimeters": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Stride length is a measure of the distance covered by a single stride"
        }
      }
    },
    "SedentaryPeriod": {
      "id": "SedentaryPeriod",
      "type": "object",
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device).",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      }
    },
    "HeartRateVariability": {
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN).",
      "properties": {
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Fitbit.",
          "format": "double",
          "type": "number"
        },
        "sampleTime": {
          "description": "Required. The time of the heart rate variability measurement.",
          "$ref": "ObservationSampleTime"
        },
        "standardDeviationMilliseconds": {
          "description": "Optional. The standard deviation of the heart rate variability measurement.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "HeartRateVariability",
      "type": "object"
    },
    "RespiratoryRateSleepSummary": {
      "description": "Records respiratory rate details during sleep. Can have multiple per day if the user sleeps multiple times.",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which respiratory rate was measured.",
          "$ref": "ObservationSampleTime"
        },
        "deepSleepStats": {
          "description": "Optional. Respiratory rate statistics for deep sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "lightSleepStats": {
          "description": "Optional. Respiratory rate statistics for light sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "remSleepStats": {
          "description": "Optional. Respiratory rate statistics for REM sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "fullSleepStats": {
          "description": "Required. Full respiratory rate statistics.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        }
      },
      "id": "RespiratoryRateSleepSummary",
      "type": "object"
    },
    "OutOfBedSegment": {
      "id": "OutOfBedSegment",
      "type": "object",
      "description": "A time interval to represent an out-of-bed segment.",
      "properties": {
        "startUtcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the segment relative to the Coordinated Universal Time (UTC)."
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the segment relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Segment tart time."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Segment end time."
        }
      }
[...]
