{
  "documentationLink": "https://developers.google.com/health",
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "name": "health",
  "version_module": true,
  "baseUrl": "https://health.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260406",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "canonicalName": "Google Health API",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "basePath": "",
  "ownerDomain": "google.com",
  "rootUrl": "https://health.googleapis.com/",
  "resources": {
    "users": {
      "methods": {
        "updateProfile": {
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Optional. The list of fields to be updated.",
              "location": "query"
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "type": "string",
              "pattern": "^users/[^/]+/profile$"
            }
          },
          "request": {
            "$ref": "Profile"
          },
          "id": "health.users.updateProfile",
          "description": "Updates the user's profile details.",
          "path": "v4/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v4/users/{usersId}/profile",
          "response": {
            "$ref": "Profile"
          }
        },
        "getProfile": {
          "path": "v4/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the Profile. Format: `users/me/profile`.",
              "pattern": "^users/[^/]+/profile$",
              "location": "path",
              "required": true
            }
          },
          "id": "health.users.getProfile",
          "response": {
            "$ref": "Profile"
          },
          "description": "Returns user Profile details.",
          "flatPath": "v4/users/{usersId}/profile"
        },
        "updateSettings": {
          "path": "v4/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Settings"
          },
          "flatPath": "v4/users/{usersId}/settings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "pattern": "^users/[^/]+/settings$"
            },
            "updateMask": {
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "id": "health.users.updateSettings",
          "description": "Updates the user's settings details.",
          "request": {
            "$ref": "Settings"
          }
        },
        "getSettings": {
          "path": "v4/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^users/[^/]+/settings$",
              "type": "string",
              "description": "Required. The name of the Settings. Format: `users/me/settings`.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v4/users/{usersId}/settings",
          "id": "health.users.getSettings",
          "response": {
            "$ref": "Settings"
          },
          "description": "Returns user settings details."
        },
        "getIdentity": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the Identity. Format: `users/me/identity`",
              "type": "string",
              "pattern": "^users/[^/]+/identity$"
            }
          },
          "path": "v4/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "health.users.getIdentity",
          "response": {
            "$ref": "Identity"
          },
          "description": "Gets the user's identity. It includes the legacy Fitbit user ID and the Google user ID and it can be used by migrating clients to map identifiers between the two systems.",
          "flatPath": "v4/users/{usersId}/identity"
        }
      },
      "resources": {
        "dataTypes": {
          "resources": {
            "dataPoints": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "id": "health.users.dataTypes.dataPoints.patch",
                  "description": "Updates a single identifiable data point. If a data point with the specified `name` is not found, the request will fail.",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v4/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "reconcile": {
                  "id": "health.users.dataTypes.dataPoints.reconcile",
                  "response": {
                    "$ref": "ReconcileDataPointsResponse"
                  },
                  "description": "Reconcile data points from multiple data sources into a single data stream.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:reconcile",
                  "path": "v4/{+parent}/dataPoints:reconcile",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filter expression based on https://aip.dev/160. A time range, either physical or civil, can be specified. See the ListDataPointsRequest.filter for the supported fields and syntax.",
                      "location": "query",
                      "type": "string"
                    },
                    "dataSourceFamily": {
                      "description": "Optional. The data source family name to reconcile. If empty, data points from all data sources will be reconciled. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/heart-rate` For a list of the supported data types see the DataPoint data union field."
                    },
                    "pageToken": {
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "dailyRollUp": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the DailyRollupDataPoint value union field.",
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    }
                  },
                  "id": "health.users.dataTypes.dataPoints.dailyRollUp",
                  "description": "Roll up data points over civil time intervals for supported data types.",
                  "request": {
                    "$ref": "DailyRollUpDataPointsRequest"
                  },
                  "path": "v4/{+parent}/dataPoints:dailyRollUp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "DailyRollUpDataPointsResponse"
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:dailyRollUp"
                },
                "rollUp": {
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:rollUp",
                  "response": {
                    "$ref": "RollUpDataPointsResponse"
                  },
                  "path": "v4/{+parent}/dataPoints:rollUp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "RollUpDataPointsRequest"
                  },
                  "id": "health.users.dataTypes.dataPoints.rollUp",
                  "description": "Roll up data points over physical time intervals for supported data types.",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the RollupDataPoint value union field.",
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "id": "health.users.dataTypes.dataPoints.list",
                  "response": {
                    "$ref": "ListDataPointsResponse"
                  },
                  "description": "Query user health and fitness data points.",
                  "path": "v4/{+parent}/dataPoints",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter expression following https://google.aip.dev/160. A time range (either physical or civil) can be specified. The supported filter fields are: - Interval start time: - Pattern: `{interval_data_type}.interval.start_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `steps.interval.start_time >= \"2023-11-24T00:00:00Z\" AND steps.interval.start_time < \"2023-11-25T00:00:00Z\"` - `distance.interval.start_time >= \"2024-08-14T12:34:56Z\"` - Interval civil start time: - Pattern: `{interval_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `steps.interval.civil_start_time >= \"2023-11-24\" AND steps.interval.civil_start_time < \"2023-11-25\"` - `distance.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Sample observation physical time: - Pattern: `{sample_data_type}.sample_time.physical_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `weight.sample_time.physical_time >= \"2023-11-24T00:00:00Z\" AND weight.sample_time.physical_time < \"2023-11-25T00:00:00Z\"` - `weight.sample_time.physical_time >= \"2024-08-14T12:34:56Z\"` - Sample observation civil time: - Pattern: `{sample_data_type}.sample_time.civil_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `weight.sample_time.civil_time >= \"2023-11-24\" AND weight.sample_time.civil_time < \"2023-11-25\"` - `weight.sample_time.civil_time >= \"2024-08-14T12:34:56\"` - Daily summary date: - Pattern: `{daily_summary_data_type}.date` - Supported comparison operators: `>=`, `<` - Date literal expected in ISO 8601 `YYYY-MM-DD` format - Supported logical operators: `AND` - Example: - `daily_resting_heart_rate.date >= \"2024-08-14\"` - `daily_heart_rate_variability.date < \"2024-08-15\"` - Session civil start time (**Excluding Sleep**): - Pattern: `{session_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `exercise.interval.civil_start_time >= \"2023-11-24\" AND exercise.interval.civil_start_time < \"2023-11-25\"` - `exercise.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Session end time (**Sleep specific**): - Pattern: `sleep.interval.end_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.end_time >= \"2023-11-24T00:00:00Z\" AND sleep.interval.end_time < \"2023-11-25T00:00:00Z\"` - Session civil end time (**Sleep specific**): - Pattern: `sleep.interval.civil_end_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.civil_end_time >= \"2023-11-24\" AND sleep.interval.civil_end_time < \"2023-11-25\"` Data points in the response will be ordered by the interval start time in descending order.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/weight` For a list of the supported data types see the DataPoint data union field."
                    }
                  }
                },
                "create": {
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v4/{+parent}/dataPoints",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "id": "health.users.dataTypes.dataPoints.create",
                  "description": "Creates a single identifiable data point.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name where the data point will be created. Format: `users/{user}/dataTypes/{data_type}`",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    }
                  }
                },
                "batchDelete": {
                  "id": "health.users.dataTypes.dataPoints.batchDelete",
                  "description": "Delete a batch of identifyable data points.",
                  "request": {
                    "$ref": "BatchDeleteDataPointsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Optional. Parent (data type) for the Data Point collection Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/-` For a list of the supported data types see the DataPoint data union field. Deleting data points across multiple data type collections is supported following https://aip.dev/159. If this is set, the parent of all of the data points specified in `names` must match this field.",
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:batchDelete",
                  "path": "v4/{+parent}/dataPoints:batchDelete",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "exportExerciseTcx": {
                  "path": "v4/{+name}:exportExerciseTcx",
                  "parameterOrder": [
                    "name"
                  ],
                  "supportsMediaDownload": true,
                  "response": {
                    "$ref": "ExportExerciseTcxResponse"
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}:exportExerciseTcx",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the exercise data point to export. Format: `users/{user}/dataTypes/exercise/dataPoints/{data_point}` Example: `users/me/dataTypes/exercise/dataPoints/2026443605080188808` The `{user}` is the alias `\"me\"` currently. Future versions may support user IDs. The `{data_point}` ID maps to the exercise ID, which is a long integer.",
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "partialData": {
                      "description": "Optional. Indicates whether to include the TCX data points when the GPS data is not available. If not specified, defaults to `false` and partial data will not be included.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "GET",
                  "useMediaDownloadService": true,
                  "id": "health.users.dataTypes.dataPoints.exportExerciseTcx",
                  "description": "Exports exercise data in TCX format. Note: While the Authorization section below states that any one of the listed scopes is accepted, this specific method requires the user to provide both one of the `activity_and_fitness` scopes (`normal` or `readonly`) AND one of the `location` scopes (`normal` or `readonly`) in their access token to succeed."
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v4",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "title": "Google Health API",
  "id": "health:v4",
  "schemas": {
    "SplitSummary": {
      "id": "SplitSummary",
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Lap start time",
          "type": "string"
        },
        "splitType": {
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ],
          "type": "string",
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Lap end time"
        },
        "endUtcOffset": {
          "type": "string",
          "description": "Required. Lap end time offset from UTC",
          "format": "google-duration"
        },
        "metricsSummary": {
          "$ref": "MetricsSummary",
          "description": "Required. Summary metrics for this split."
        },
        "startUtcOffset": {
          "description": "Required. Lap start time offset from UTC",
          "type": "string",
          "format": "google-duration"
        },
        "activeDuration": {
          "type": "string",
          "description": "Output only. Lap time excluding the pauses.",
          "format": "google-duration",
          "readOnly": true
        }
      }
    },
    "SedentaryPeriod": {
      "id": "SedentaryPeriod",
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device).",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      }
    },
    "RollupDataPoint": {
      "id": "RollupDataPoint",
      "description": "Value of a rollup for a single physical time interval (aggregation window)",
      "type": "object",
      "properties": {
        "activityLevel": {
          "$ref": "ActivityLevelRollupValue",
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier."
        },
        "activeMinutes": {
          "$ref": "ActiveMinutesRollupValue",
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier."
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of the window this value aggregates over"
        },
        "startTime": {
          "description": "Start time of the window this value aggregates over",
          "type": "string",
          "format": "google-datetime"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "heartRate": {
          "$ref": "HeartRateRollupValue",
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier."
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "bodyFat": {
          "$ref": "BodyFatRollupValue",
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier."
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutesRollupValue",
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier."
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "distance": {
          "$ref": "DistanceRollupValue",
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier."
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        }
      }
    },
    "TimeInHeartRateZoneRollupValue": {
      "type": "object",
      "properties": {
        "timeInHeartRateZones": {
          "type": "array",
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          },
          "description": "List of time spent in each heart rate zone."
        }
      },
      "id": "TimeInHeartRateZoneRollupValue",
      "description": "Represents the result of the rollup of the time in heart rate zone data type."
    },
    "Identity": {
      "id": "Identity",
      "description": "Represents details about the Google user's identity.",
      "type": "object",
      "properties": {
        "legacyUserId": {
          "readOnly": true,
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`"
        },
        "healthUserId": {
          "type": "string",
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "readOnly": true
        }
      }
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "type": "object",
      "properties": {
        "caloriesInHeartRateZones": {
          "description": "List of calories burned in each heart rate zone.",
          "type": "array",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          }
        }
      },
      "id": "CaloriesInHeartRateZoneRollupValue",
      "description": "Represents the result of the rollup of the calories in heart rate zone data type."
    },
    "ActiveMinutesRollupByActivityLevel": {
      "id": "ActiveMinutesRollupByActivityLevel",
      "description": "Active minutes by activity level.",
      "type": "object",
      "properties": {
        "activityLevel": {
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "description": "The level of activity.",
          "type": "string"
        },
        "activeMinutesSum": {
          "type": "string",
          "description": "Number of whole minutes spent in activity.",
          "format": "int64"
        }
      }
    },
    "StageSummary": {
      "type": "object",
      "properties": {
        "minutes": {
          "type": "string",
          "description": "Output only. Total duration in minutes of a sleep stage.",
          "format": "int64",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "readOnly": true,
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "type": "string"
        },
        "count": {
          "description": "Output only. Number of sleep stages segments.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "StageSummary",
      "description": "Total duration and segment count for a stage."
    },
    "ActivityLevelRollupValue": {
      "type": "object",
      "properties": {
        "activityLevelRollupsByActivityLevelType": {
          "type": "array",
          "items": {
            "$ref": "ActivityLevelRollupByActivityLevelType"
          },
          "description": "List of total durations in each activity level type."
        }
      },
      "id": "ActivityLevelRollupValue",
      "description": "Represents the result of the rollup of the activity level data type."
    },
    "TimeInHeartRateZoneValue": {
      "type": "object",
      "properties": {
        "heartRateZone": {
          "type": "string",
          "description": "The heart rate zone.",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        },
        "duration": {
          "description": "The total time spent in the specified heart rate zone.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "TimeInHeartRateZoneValue",
      "description": "Represents the total time spent in a specific heart rate zone."
    },
    "VolumeQuantity": {
      "type": "object",
      "properties": {
        "milliliters": {
          "description": "Required. Value representing the volume in milliliters.",
          "type": "number",
          "format": "double"
        },
        "userProvidedUnit": {
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ],
          "description": "Optional. Value representing the user provided unit.",
          "type": "string"
        }
      },
      "id": "VolumeQuantity",
      "description": "Represents the volume quantity."
    },
    "ActiveMinutesRollupValue": {
      "type": "object",
      "properties": {
        "activeMinutesRollupByActivityLevel": {
          "type": "array",
          "items": {
            "$ref": "ActiveMinutesRollupByActivityLevel"
          },
          "description": "Active minutes by activity level. At most one record per activity level is allowed."
        }
      },
      "id": "ActiveMinutesRollupValue",
      "description": "Represents the result of the rollup of the active minutes data type."
    },
    "BodyFat": {
      "type": "object",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which body fat was measured."
        },
        "percentage": {
          "format": "double",
          "description": "Required. Body fat percentage, in range [0, 100].",
          "type": "number"
        }
      },
      "id": "BodyFat",
      "description": "Body fat measurement."
    },
    "DataSource": {
      "type": "object",
      "properties": {
        "device": {
          "$ref": "Device",
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync."
        },
        "application": {
          "readOnly": true,
          "description": "Output only. Captures metadata for the application that provided this data.",
          "$ref": "Application"
        },
        "platform": {
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "readOnly": true,
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ],
          "type": "string",
          "description": "Output only. Captures the platform that uploaded the data."
        },
        "recordingMethod": {
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ],
          "description": "Optional. Captures how the data was recorded.",
          "type": "string"
        }
      },
      "id": "DataSource",
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it)."
    },
    "SedentaryPeriodRollupValue": {
      "id": "SedentaryPeriodRollupValue",
      "description": "Represents the result of the rollup of the user's sedentary periods.",
      "type": "object",
      "properties": {
        "durationSum": {
          "format": "google-duration",
          "description": "The total time user spent sedentary during the interval.",
          "type": "string"
        }
      }
    },
    "Exercise": {
      "id": "Exercise",
      "description": "An exercise that stores information about a physical activity.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed exercise interval",
          "$ref": "SessionTimeInterval"
        },
        "activeDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Duration excluding pauses."
        },
        "splits": {
          "description": "Optional. The default split is 1 km or 1 mile. - if the movement distance is less than the default, then there are no splits - if the movement distance is greater than or equal to the default, then we have splits",
          "type": "array",
          "items": {
            "$ref": "SplitSummary"
          }
        },
        "exerciseType": {
          "enumDescriptions": [
            "Exercise type is unspecified.",
            "Running type.",
            "Walking type.",
            "Biking type.",
            "Swimming type.",
            "Hiking type.",
            "Yoga type.",
            "Pilates type.",
            "Workout type.",
            "HIIT type.",
            "Weightlifting type.",
            "Strength training type.",
            "Other type."
          ],
          "enum": [
            "EXERCISE_TYPE_UNSPECIFIED",
            "RUNNING",
            "WALKING",
            "BIKING",
            "SWIMMING",
            "HIKING",
            "YOGA",
            "PILATES",
            "WORKOUT",
            "HIIT",
            "WEIGHTLIFTING",
            "STRENGTH_TRAINING",
            "OTHER"
          ],
          "type": "string",
          "description": "Required. The type of activity performed during an exercise."
        },
        "displayName": {
          "description": "Required. Exercise display name.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. This is the timestamp of the last update to the exercise."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Represents the timestamp of the creation of the exercise.",
          "type": "string"
        },
        "splitSummaries": {
          "description": "Optional. Laps or splits recorded within an exercise. Laps could be split based on distance or other criteria (duration, etc.) Laps should not be overlapping with each other.",
          "type": "array",
          "items": {
            "$ref": "SplitSummary"
          }
        },
        "exerciseEvents": {
          "description": "Optional. Exercise events that happen during an exercise, such as pause & restarts.",
          "type": "array",
          "items": {
            "$ref": "ExerciseEvent"
          }
        },
        "exerciseMetadata": {
          "description": "Optional. Additional exercise metadata.",
          "$ref": "ExerciseMetadata"
        },
        "metricsSummary": {
          "$ref": "MetricsSummary",
          "description": "Required. Summary metrics for this exercise ( )"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        }
      }
    },
    "RollUpDataPointsResponse": {
      "type": "object",
      "properties": {
        "rollupDataPoints": {
          "type": "array",
          "items": {
            "$ref": "RollupDataPoint"
          },
          "description": "Values for each aggregation time window."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "RollUpDataPointsResponse",
      "description": "Response containing the list of rolled up data points."
    },
    "RollUpDataPointsRequest": {
      "id": "RollUpDataPointsRequest",
      "description": "Request to roll up data points by physical time intervals.",
      "type": "object",
      "properties": {
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "Interval"
        },
        "pageToken": {
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "windowSize": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions."
        }
      }
    },
    "Steps": {
      "id": "Steps",
      "description": "Step count over the time interval.",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "count": {
          "description": "Required. Number of steps in the recorded interval.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Application": {
      "type": "object",
      "properties": {
        "webClientId": {
          "type": "string",
          "description": "Output only. The client ID of the application that recorded the data. This ID is a legacy Fitbit API client ID, which is different from a Google OAuth client ID. Example format: `ABC123`. This field is system-populated and used for tracing data from legacy Fitbit API integrations. This field is system-populated when the data is uploaded from a legacy Fitbit API integration.",
          "readOnly": true
        },
        "packageName": {
          "description": "Output only. A unique identifier for the mobile application that was the source of the data. This is typically the application's package name on Android (e.g., `com.google.fitbit`) or the bundle ID on iOS. This field is informational and helps trace data origin. This field is system-populated when the data is uploaded from the Fitbit mobile application, Health Connect or Health Kit.",
          "type": "string",
          "readOnly": true
        },
        "googleWebClientId": {
          "type": "string",
          "description": "Output only. The Google OAuth 2.0 client ID of the web application or service that recorded the data. This is the client ID used during the Google OAuth flow to obtain user credentials. This field is system-populated when the data is uploaded from Google Web API.",
          "readOnly": true
        }
      },
      "id": "Application",
      "description": "Optional metadata for the application that provided this data."
    },
    "MetricsSummary": {
      "type": "object",
      "properties": {
        "averageSpeedMillimetersPerSecond": {
          "description": "Optional. Average speed in millimeters per second.",
          "type": "number",
          "format": "double"
        },
        "mobilityMetrics": {
          "$ref": "MobilityMetrics",
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises."
        },
        "averageHeartRateBeatsPerMinute": {
          "description": "Optional. Average heart rate during the exercise.",
          "type": "string",
          "format": "int64"
        },
        "activeZoneMinutes": {
          "format": "int64",
          "description": "Optional. Total active zone minutes for the exercise.",
          "type": "string"
        },
        "runVo2Max": {
          "type": "number",
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise.",
          "format": "double"
        },
        "averagePaceSecondsPerMeter": {
          "format": "double",
          "type": "number",
          "description": "Optional. Average pace in seconds per meter."
        },
        "totalSwimLengths": {
          "format": "double",
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise.",
          "type": "number"
        },
        "heartRateZoneDurations": {
          "$ref": "TimeInHeartRateZones",
          "description": "Optional. Time spent in each heart rate zone."
        },
        "distanceMillimeters": {
          "description": "Optional. Total distance covered by the user during the exercise.",
          "type": "number",
          "format": "double"
        },
        "elevationGainMillimeters": {
          "type": "number",
          "description": "Optional. Total elevation gain during the exercise.",
          "format": "double"
        },
        "caloriesKcal": {
          "format": "double",
          "type": "number",
          "description": "Optional. Total calories burned by the user during the exercise."
        },
        "steps": {
          "description": "Optional. Total steps taken during the exercise.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "MetricsSummary",
      "description": "Summary metrics for an exercise."
    },
    "BatchDeleteDataPointsRequest": {
      "id": "BatchDeleteDataPointsRequest",
      "description": "Request to delete a batch of identifiable data points.",
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request."
        }
      }
    },
    "Interval": {
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string"
        }
      }
    },
    "FloorsRollupValue": {
      "id": "FloorsRollupValue",
      "description": "Represents the result of the rollup of the user's floors.",
      "type": "object",
      "properties": {
        "countSum": {
          "format": "int64",
          "description": "Sum of the floors count.",
          "type": "string"
        }
      }
    },
    "DailyRespiratoryRate": {
      "type": "object",
      "properties": {
        "breathsPerMinute": {
          "type": "number",
          "description": "Required. The average number of breaths taken per minute.",
          "format": "double"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. The date on which the respiratory rate was measured."
        }
      },
      "id": "DailyRespiratoryRate",
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep."
    },
    "DailyRollupDataPoint": {
      "id": "DailyRollupDataPoint",
      "description": "Value of a daily rollup for a single civil time interval (aggregation window)",
      "type": "object",
      "properties": {
        "heartRateVariabilityPersonalRange": {
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue",
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier."
        },
        "bodyFat": {
          "$ref": "BodyFatRollupValue",
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier."
        },
        "steps": {
          "$ref": "StepsRollupValue",
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier."
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "timeInHeartRateZone": {
          "$ref": "TimeInHeartRateZoneRollupValue",
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier."
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Start time of the window this value aggregates over"
        },
        "floors": {
          "$ref": "FloorsRollupValue",
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier."
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "hydrationLog": {
          "$ref": "HydrationLogRollupValue",
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier."
        },
        "distance": {
          "$ref": "DistanceRollupValue",
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier."
        },
        "totalCalories": {
          "$ref": "TotalCaloriesRollupValue",
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier."
        },
        "restingHeartRatePersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier.",
          "$ref": "RestingHeartRatePersonalRangeRollupValue"
        },
        "altitude": {
          "$ref": "AltitudeRollupValue",
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier."
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "activeMinutes": {
          "$ref": "ActiveMinutesRollupValue",
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier."
        },
        "weight": {
          "$ref": "WeightRollupValue",
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier."
        },
        "sedentaryPeriod": {
          "$ref": "SedentaryPeriodRollupValue",
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier."
        },
        "civilEndTime": {
          "description": "End time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        }
      }
    },
    "OxygenSaturation": {
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "OxygenSaturation",
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2)."
    },
    "DailyRestingHeartRate": {
      "id": "DailyRestingHeartRate",
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "type": "object",
      "properties": {
        "beatsPerMinute": {
          "type": "string",
          "description": "Required. The resting heart rate value in beats per minute.",
          "format": "int64"
        },
        "dailyRestingHeartRateMetadata": {
          "description": "Optional. Metadata for the daily resting heart rate.",
          "$ref": "DailyRestingHeartRateMetadata"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement."
        }
      }
    },
    "HydrationLog": {
      "id": "HydrationLog",
      "description": "Holds information about a user logged hydration.",
      "type": "object",
      "properties": {
        "amountConsumed": {
          "$ref": "VolumeQuantity",
          "description": "Required. Amount of liquid (ex. water) consumed."
        },
        "interval": {
          "$ref": "SessionTimeInterval",
          "description": "Required. Observed interval."
        }
      }
    },
    "Weight": {
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the weight was measured",
          "$ref": "ObservationSampleTime"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        },
        "weightGrams": {
          "format": "double",
          "type": "number",
          "description": "Required. Weight of a user in grams."
        }
      },
      "id": "Weight",
      "description": "Body weight measurement."
    },
    "HeartRateVariability": {
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time of the heart rate variability measurement.",
          "$ref": "ObservationSampleTime"
        },
        "standardDeviationMilliseconds": {
          "description": "Optional. The standard deviation of the heart rate variability measurement.",
          "type": "number",
          "format": "double"
        },
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "format": "double",
          "type": "number",
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Fitbit."
        }
      },
      "id": "HeartRateVariability",
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN)."
    },
    "VolumeQuantityRollup": {
      "type": "object",
      "properties": {
        "millilitersSum": {
          "description": "Required. The sum of volume in milliliters.",
          "type": "number",
          "format": "double"
        },
        "userProvidedUnitLast": {
          "type": "string",
          "description": "Optional. The user provided unit on the last element.",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        }
      },
      "id": "VolumeQuantityRollup",
      "description": "Rollup for volume quantity."
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      }
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "type": "object",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMin": {
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "type": "number",
          "format": "double"
        },
        "averageHeartRateVariabilityMillisecondsMax": {
          "format": "double",
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "type": "number"
        }
      }
    },
    "HydrationLogRollupValue": {
      "id": "HydrationLogRollupValue",
      "description": "Represents the result of the rollup of the hydration log data type.",
      "type": "object",
      "properties": {
        "amountConsumed": {
          "$ref": "VolumeQuantityRollup",
          "description": "Rollup for amount consumed."
        }
      }
    },
    "Altitude": {
      "id": "Altitude",
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "type": "object",
      "properties": {
        "gainMillimeters": {
          "type": "string",
          "description": "Required. Altitude gain in millimeters over the observed interval.",
          "format": "int64"
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      }
    },
    "CaloriesInHeartRateZoneValue": {
      "id": "CaloriesInHeartRateZoneValue",
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone.",
      "type": "object",
      "properties": {
        "heartRateZone": {
          "description": "The heart rate zone.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        },
        "kcal": {
          "format": "double",
          "description": "The amount of kilocalories burned in the specified heart rate zone.",
          "type": "number"
        }
      }
    },
    "DistanceRollupValue": {
      "id": "DistanceRollupValue",
      "description": "Result of the rollup of the user's distance.",
      "type": "object",
      "properties": {
        "millimetersSum": {
          "format": "int64",
          "description": "Sum of the distance in millimeters.",
          "type": "string"
        }
      }
    },
    "TotalCaloriesRollupValue": {
      "type": "object",
      "properties": {
        "kcalSum": {
          "format": "double",
          "description": "Sum of the total calories in kilocalories.",
          "type": "number"
        }
      },
      "id": "TotalCaloriesRollupValue",
      "description": "Represents the result of the rollup of the user's total calories."
    },
    "DailyHeartRateZones": {
      "id": "DailyHeartRateZones",
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day.",
      "type": "object",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in user's timezone) of the heart rate zones record."
        },
        "heartRateZones": {
          "type": "array",
          "items": {
            "$ref": "HeartRateZone"
          },
          "description": "Required. The heart rate zones."
        }
      }
    },
    "CivilDateTime": {
      "id": "CivilDateTime",
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries.",
      "type": "object",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. Calendar date."
        },
        "time": {
          "$ref": "TimeOfDay",
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted."
        }
      }
    },
    "ActiveMinutes": {
      "type": "object",
      "properties": {
        "activeMinutesByActivityLevel": {
          "type": "array",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          },
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed."
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "id": "ActiveMinutes",
      "description": "Record of active minutes in a given time interval."
    },
    "TimeZone": {
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "RunVO2Max": {
      "id": "RunVO2Max",
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min.",
      "type": "object",
      "properties": {
        "runVo2Max": {
          "type": "number",
          "description": "Required. Run VO2 max value in ml/kg/min.",
          "format": "double"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which the metric was measured."
        }
      }
    },
    "ExerciseMetadata": {
      "id": "ExerciseMetadata",
      "description": "Additional exercise metadata.",
      "type": "object",
      "properties": {
        "poolLengthMillimeters": {
          "format": "int64",
          "description": "Optional. Pool length in millimeters. Only present in the swimming exercises.",
          "type": "string"
        },
        "hasGps": {
          "type": "boolean",
          "description": "Optional. Whether the exercise had GPS tracking."
        }
      }
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "id": "RespiratoryRateSleepSummaryStatistics",
      "description": "Respiratory rate statistics for a given sleep stage.",
      "type": "object",
      "properties": {
        "breathsPerMinute": {
          "format": "double",
          "description": "Required. Average breaths per minute.",
          "type": "number"
        },
        "standardDeviation": {
          "format": "double",
          "description": "Optional. Standard deviation of the respiratory rate during sleep.",
          "type": "number"
        },
        "signalToNoise": {
          "format": "double",
          "description": "Optional. How trustworthy the data is for the computation.",
          "type": "number"
        }
      }
    },
    "SleepMetadata": {
      "id": "SleepMetadata",
      "description": "Additional information about how the sleep was processed.",
      "type": "object",
      "properties": {
        "processed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Sleep and sleep stages algorithms finished processing."
        },
        "nap": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Naps are sleeps without stages and relatively short durations."
        },
        "stagesStatus": {
          "description": "Output only. Sleep stages algorithm processing status.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ],
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ]
        },
        "externalId": {
          "type": "string",
          "description": "Optional. Sleep identifier relevant in the context of the data source."
        },
        "manuallyEdited": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users."
        }
      }
    },
    "Profile": {
      "id": "Profile",
      "description": "Profile details.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "age": {
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported.",
          "type": "integer",
          "format": "int32"
        },
        "membershipStartDate": {
          "readOnly": true,
          "$ref": "Date",
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported."
        },
        "userConfiguredWalkingStrideLengthMm": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`"
        },
        "autoWalkingStrideLengthMm": {
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "autoRunningStrideLengthMm": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer"
        },
        "userConfiguredRunningStrideLengthMm": {
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReconciledDataPoint": {
      "id": "ReconciledDataPoint",
      "description": "A reconciled computed or recorded metric.",
      "type": "object",
      "properties": {
        "activityLevel": {
          "$ref": "ActivityLevel",
          "description": "Data for points in the `activity-level` daily data type collection."
        },
        "activeMinutes": {
          "$ref": "ActiveMinutes",
          "description": "Data for points in the `active-minutes` interval data type collection."
        },
        "sleep": {
          "$ref": "Sleep",
          "description": "Data for points in the `sleep` session data type collection."
        },
        "respiratoryRateSleepSummary": {
          "$ref": "RespiratoryRateSleepSummary",
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection."
        },
        "dailyOxygenSaturation": {
          "$ref": "DailyOxygenSaturation",
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection."
        },
        "heartRateVariability": {
          "description": "Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "steps": {
          "$ref": "Steps",
          "description": "Data for points in the `steps` interval data type collection."
        },
        "heartRate": {
          "$ref": "HeartRate",
          "description": "Data for points in the `heart-rate` sample data type collection."
        },
        "hydrationLog": {
          "description": "Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "floors": {
          "description": "Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "dailyHeartRateVariability": {
          "$ref": "DailyHeartRateVariability",
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection."
        },
        "runVo2Max": {
          "description": "Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "dailyRespiratoryRate": {
          "$ref": "DailyRespiratoryRate",
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection."
        },
        "dataPointName": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "dailyRestingHeartRate": {
          "$ref": "DailyRestingHeartRate",
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection."
        },
        "oxygenSaturation": {
          "description": "Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailyHeartRateZones": {
          "$ref": "DailyHeartRateZones",
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection."
        },
        "exercise": {
          "$ref": "Exercise",
          "description": "Data for points in the `exercise` session data type collection."
        },
        "sedentaryPeriod": {
          "description": "Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "weight": {
          "description": "Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "timeInHeartRateZone": {
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "bodyFat": {
          "$ref": "BodyFat",
          "description": "Data for points in the `body-fat` sample data type collection."
        },
        "altitude": {
          "$ref": "Altitude",
          "description": "Data for points in the `altitude` interval data type collection."
        },
        "dailySleepTemperatureDerivations": {
          "$ref": "DailySleepTemperatureDerivations",
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection."
        },
        "vo2Max": {
          "description": "Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "distance": {
          "$ref": "Distance",
          "description": "Data for points in the `distance` interval data type collection."
        },
        "dailyVo2Max": {
          "$ref": "DailyVO2Max",
          "description": "Data for points in the `daily-vo2-max` daily data type collection."
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutes",
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes."
        }
      }
    },
    "Date": {
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "ActiveZoneMinutes": {
      "id": "ActiveZoneMinutes",
      "description": "Record of active zone minutes in a given time interval.",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "heartRateZone": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The fat burn heart rate zone.",
            "The cardio heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_UNSPECIFIED",
            "FAT_BURN",
            "CARDIO",
            "PEAK"
          ],
          "description": "Required. Heart rate zone in which the active zone minutes have been earned, in the given time interval.",
          "type": "string"
        },
        "activeZoneMinutes": {
          "description": "Required. Number of Active Zone Minutes earned in the given time interval. Note: active_zone_minutes equals to 1 for low intensity (fat burn) zones or 2 for high intensity zones (cardio, peak).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ObservationTimeInterval": {
      "id": "ObservationTimeInterval",
      "description": "Represents a time interval of an observed data point.",
      "type": "object",
      "properties": {
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "civilStartTime": {
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "$ref": "CivilDateTime",
          "readOnly": true
        },
        "civilEndTime": {
          "readOnly": true,
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval",
          "$ref": "CivilDateTime"
        },
        "endTime": {
          "description": "Required. Observed interval end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC)."
        },
        "startTime": {
          "description": "Required. Observed interval start time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RunVO2MaxRollupValue": {
      "id": "RunVO2MaxRollupValue",
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "type": "object",
      "properties": {
        "rateAvg": {
          "type": "number",
          "description": "Average value of run VO2 max in the interval.",
          "format": "double"
        },
        "rateMin": {
          "description": "Minimum value of run VO2 max in the interval..",
          "type": "number",
          "format": "double"
        },
        "rateMax": {
          "format": "double",
          "description": "Maximum value of run VO2 max in the interval.",
          "type": "number"
        }
      }
    },
    "DailyRestingHeartRateMetadata": {
      "id": "DailyRestingHeartRateMetadata",
      "description": "Metadata for the daily resting heart rate.",
      "type": "object",
      "properties": {
        "calculationMethod": {
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ],
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ],
          "type": "string",
          "description": "Required. The method used to calculate the resting heart rate."
        }
      }
    },
    "Device": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. An optional name for the device."
        },
        "formFactor": {
          "enumDescriptions": [
            "The form factor is unspecified.",
            "The device is a fitness band.",
            "The device is a watch.",
            "The device is a phone.",
            "The device is a ring.",
            "The device is a chest strap.",
            "The device is a scale.",
            "The device is a tablet.",
            "The device is a head mounted device.",
            "The device is a smart display."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "FITNESS_BAND",
            "WATCH",
            "PHONE",
            "RING",
            "CHEST_STRAP",
            "SCALE",
            "TABLET",
            "HEAD_MOUNTED",
            "SMART_DISPLAY"
          ],
          "description": "Optional. Captures the form factor of the device.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Optional. An optional manufacturer of the device.",
          "type": "string"
        }
      },
      "id": "Device",
      "description": "Captures metadata about the device that recorded the measurement."
    },
    "HeartRateMetadata": {
      "type": "object",
      "properties": {
        "sensorLocation": {
          "enumDescriptions": [
            "The default value when no data is available.",
            "Chest sensor.",
            "Wrist sensor.",
            "Finger sensor.",
            "Hand sensor.",
            "Ear lobe sensor.",
            "Foot sensor."
          ],
          "enum": [
            "SENSOR_LOCATION_UNSPECIFIED",
            "CHEST",
            "WRIST",
            "FINGER",
            "HAND",
            "EAR_LOBE",
            "FOOT"
          ],
          "type": "string",
          "description": "Optional. Indicates the location of the sensor that measured the heart rate."
        },
        "motionContext": {
          "type": "string",
          "description": "Optional. Indicates the user’s level of activity when the heart rate sample was measured",
          "enumDescriptions": [
            "The default value when no data is available.",
            "The user is active.",
            "The user is inactive."
          ],
          "enum": [
            "MOTION_CONTEXT_UNSPECIFIED",
            "ACTIVE",
            "SEDENTARY"
          ]
        }
      },
      "id": "HeartRateMetadata",
      "description": "Heart rate metadata."
    },
    "HeartRateRollupValue": {
      "type": "object",
      "properties": {
        "beatsPerMinuteMax": {
          "description": "The maximum heart rate value in the interval.",
          "type": "number",
          "format": "double"
        },
        "beatsPerMinuteMin": {
          "format": "double",
          "description": "The minimum heart rate value in the interval.",
          "type": "number"
        },
        "beatsPerMinuteAvg": {
          "description": "The average heart rate value in the interval.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "HeartRateRollupValue",
      "description": "Represents the result of the rollup of the heart rate data type."
    },
    "DailyVO2Max": {
      "type": "object",
      "properties": {
        "vo2MaxCovariance": {
          "type": "number",
          "description": "Optional. The covariance of the VO2 max value.",
          "format": "double"
        },
        "vo2Max": {
          "format": "double",
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "type": "number"
        },
        "cardioFitnessLevel": {
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ],
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ],
          "type": "string",
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max."
        },
        "estimated": {
          "type": "boolean",
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation."
        },
        "date": {
          "$ref": "Date",
          "description": "Required. The date for which the Daily VO2 max was measured."
        }
      },
      "id": "DailyVO2Max",
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise."
    },
    "TimeInHeartRateZones": {
      "type": "object",
      "properties": {
        "lightTime": {
          "description": "Optional. Time spent in light heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "moderateTime": {
          "description": "Optional. Time spent in moderate heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "vigorousTime": {
          "type": "string",
          "description": "Optional. Time spent in vigorous heart rate zone.",
          "format": "google-duration"
        },
        "peakTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in peak heart rate zone.",
          "type": "string"
        }
      },
      "id": "TimeInHeartRateZones",
      "description": "Time spent in each heart rate zone."
    },
    "SleepSummary": {
      "id": "SleepSummary",
      "description": " Sleep summary: metrics and stages summary.",
      "type": "object",
      "properties": {
        "minutesAwake": {
          "description": "Output only. Total number of minutes awake. It is a sum of all AWAKE stages.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "minutesAfterWakeUp": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Minutes after wake up calculated by restlessness algorithm."
        },
        "minutesInSleepPeriod": {
          "description": "Output only. Delta between wake time and bedtime. It is the sum of all stages.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "minutesToFallAsleep": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Minutes to fall asleep calculated by restlessness algorithm.",
          "type": "string"
        },
        "minutesAsleep": {
          "format": "int64",
          "readOnly": true,
[...]
