{
  "discoveryVersion": "v1",
  "revision": "20260414",
  "schemas": {
    "SleepStage": {
      "id": "SleepStage",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ]
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Sleep stage end time."
        },
        "startUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the sleep stage relative to the Coordinated Universal Time (UTC)."
        },
        "startTime": {
          "description": "Required. Sleep stage start time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation time of this sleep stages segment."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of this sleep stages segment.",
          "readOnly": true
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Sleep stage segment."
    },
    "DataSource": {
      "properties": {
        "recordingMethod": {
          "type": "string",
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ],
          "description": "Optional. Captures how the data was recorded."
        },
        "application": {
          "readOnly": true,
          "description": "Output only. Captures metadata for the application that provided this data.",
          "$ref": "Application"
        },
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        },
        "platform": {
          "description": "Output only. Captures the platform that uploaded the data.",
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "readOnly": true,
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ],
          "type": "string"
        }
      },
      "id": "DataSource",
      "type": "object",
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it)."
    },
    "DailyRestingHeartRate": {
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "id": "DailyRestingHeartRate",
      "type": "object",
      "properties": {
        "dailyRestingHeartRateMetadata": {
          "description": "Optional. Metadata for the daily resting heart rate.",
          "$ref": "DailyRestingHeartRateMetadata"
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement.",
          "$ref": "Date"
        },
        "beatsPerMinute": {
          "description": "Required. The resting heart rate value in beats per minute.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ActiveMinutesRollupValue": {
      "id": "ActiveMinutesRollupValue",
      "type": "object",
      "properties": {
        "activeMinutesRollupByActivityLevel": {
          "type": "array",
          "description": "Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesRollupByActivityLevel"
          }
        }
      },
      "description": "Represents the result of the rollup of the active minutes data type."
    },
    "ActiveZoneMinutesRollupValue": {
      "properties": {
        "sumInCardioHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.CARDIO`.",
          "format": "int64",
          "type": "string"
        },
        "sumInPeakHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.PEAK`.",
          "type": "string",
          "format": "int64"
        },
        "sumInFatBurnHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.FAT_BURN`.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ActiveZoneMinutesRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the active zone minutes data type."
    },
    "ActiveMinutes": {
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeMinutesByActivityLevel": {
          "type": "array",
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          }
        }
      },
      "id": "ActiveMinutes",
      "type": "object",
      "description": "Record of active minutes in a given time interval."
    },
    "VO2Max": {
      "description": "VO2 max measurement.",
      "properties": {
        "vo2Max": {
          "type": "number",
          "format": "double",
          "description": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min."
        },
        "sampleTime": {
          "description": "Required. The time at which VO2 max was measured.",
          "$ref": "ObservationSampleTime"
        },
        "measurementMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified measurement method.",
            "Fitbit specific, measures VO2 max rate during a run.",
            "Google specific, measures VO2 max rate for a user based on their demographic data.",
            "Run as far as possible for 12 minutes. Distance correlated with age and gender translates to a VO2 max value.",
            "Maximum heart rate divided by the resting heart rate, with a multiplier applied. Does not require any exercise.",
            "Measured by a medical device called metabolic cart.",
            "Continuous 20m back-and-forth runs with increasing difficulty, until exhaustion.",
            "Measured using walking exercise.",
            "Healthkit specific, measures VO2 max rate by monitoring exercise to the user’s physical limit. Similar to COOPER_TEST or MULTISTAGE_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate based on low-intensity exercise. Similar to ROCKPORT_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate without any exercise. Similar to HEART_RATE_RATIO.",
            "Use when the method is not covered in this enum."
          ],
          "enum": [
            "MEASUREMENT_METHOD_UNSPECIFIED",
            "FITBIT_RUN",
            "GOOGLE_DEMOGRAPHIC",
            "COOPER_TEST",
            "HEART_RATE_RATIO",
            "METABOLIC_CART",
            "MULTISTAGE_FITNESS_TEST",
            "ROCKPORT_FITNESS_TEST",
            "MAX_EXERCISE",
            "PREDICTION_SUB_MAX_EXERCISE",
            "PREDICTION_NON_EXERCISE",
            "OTHER"
          ],
          "description": "Optional. The method used to measure the VO2 max value."
        }
      },
      "id": "VO2Max",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "DailyRollUpDataPointsRequest": {
      "description": "Request to roll up data points by civil time intervals.",
      "id": "DailyRollUpDataPointsRequest",
      "type": "object",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. The `next_page_token` from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified."
        },
        "windowSizeDays": {
          "description": "Optional. Aggregation window size, in number of days. Defaults to 1 if not specified.",
          "format": "int32",
          "type": "integer"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly."
        },
        "dataSourceFamily": {
          "type": "string",
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The start time must be aligned with the aggregation window. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "CivilTimeInterval"
        }
      }
    },
    "Altitude": {
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "properties": {
        "gainMillimeters": {
          "format": "int64",
          "type": "string",
          "description": "Required. Altitude gain in millimeters over the observed interval."
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "id": "Altitude",
      "type": "object"
    },
    "Exercise": {
      "properties": {
        "metricsSummary": {
          "description": "Required. Summary metrics for this exercise ( )",
          "$ref": "MetricsSummary"
        },
        "updateTime": {
          "description": "Output only. This is the timestamp of the last update to the exercise.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Represents the timestamp of the creation of the exercise.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "exerciseMetadata": {
          "description": "Optional. Additional exercise metadata.",
          "$ref": "ExerciseMetadata"
        },
        "splitSummaries": {
          "type": "array",
          "description": "Optional. Laps or splits recorded within an exercise. Laps could be split based on distance or other criteria (duration, etc.) Laps should not be overlapping with each other.",
          "items": {
            "$ref": "SplitSummary"
          }
        },
        "exerciseEvents": {
          "description": "Optional. Exercise events that happen during an exercise, such as pause & restarts.",
          "items": {
            "$ref": "ExerciseEvent"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Exercise display name."
        },
        "splits": {
          "type": "array",
          "description": "Optional. The default split is 1 km or 1 mile. - if the movement distance is less than the default, then there are no splits - if the movement distance is greater than or equal to the default, then we have splits",
          "items": {
            "$ref": "SplitSummary"
          }
        },
        "notes": {
          "type": "string",
          "description": "Optional. Standard free-form notes captured at manual logging."
        },
        "activeDuration": {
          "description": "Optional. Duration excluding pauses.",
          "format": "google-duration",
          "type": "string"
        },
        "interval": {
          "description": "Required. Observed exercise interval",
          "$ref": "SessionTimeInterval"
        },
        "exerciseType": {
          "type": "string",
          "enumDescriptions": [
            "Exercise type is unspecified.",
            "Running type.",
            "Walking type.",
            "Biking type.",
            "Swimming type.",
            "Hiking type.",
            "Yoga type.",
            "Pilates type.",
            "Workout type.",
            "HIIT type.",
            "Weightlifting type.",
            "Strength training type.",
            "Other type."
          ],
          "description": "Required. The type of activity performed during an exercise.",
          "enum": [
            "EXERCISE_TYPE_UNSPECIFIED",
            "RUNNING",
            "WALKING",
            "BIKING",
            "SWIMMING",
            "HIKING",
            "YOGA",
            "PILATES",
            "WORKOUT",
            "HIIT",
            "WEIGHTLIFTING",
            "STRENGTH_TRAINING",
            "OTHER"
          ]
        }
      },
      "id": "Exercise",
      "type": "object",
      "description": "An exercise that stores information about a physical activity."
    },
    "RestingHeartRatePersonalRangeRollupValue": {
      "properties": {
        "beatsPerMinuteMin": {
          "format": "double",
          "type": "number",
          "description": "The lower bound of the user's daily resting heart rate personal range."
        },
        "beatsPerMinuteMax": {
          "description": "The upper bound of the user's daily resting heart rate personal range.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "RestingHeartRatePersonalRangeRollupValue",
      "type": "object",
      "description": "Represents the rollup value for the daily resting heart rate data type."
    },
    "ListSubscribersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of subscribers matching the request.",
          "format": "int32",
          "type": "integer"
        },
        "subscribers": {
          "type": "array",
          "description": "Subscribers from the specified project.",
          "items": {
            "$ref": "Subscriber"
          }
        }
      },
      "id": "ListSubscribersResponse",
      "type": "object",
      "description": "Response message for ListSubscribers."
    },
    "ObservationTimeInterval": {
      "description": "Represents a time interval of an observed data point.",
      "properties": {
        "endTime": {
          "description": "Required. Observed interval end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "description": "Required. Observed interval start time.",
          "type": "string",
          "format": "google-datetime"
        },
        "civilStartTime": {
          "readOnly": true,
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "$ref": "CivilDateTime"
        },
        "civilEndTime": {
          "readOnly": true,
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval",
          "$ref": "CivilDateTime"
        }
      },
      "id": "ObservationTimeInterval",
      "type": "object"
    },
    "ReconciledDataPoint": {
      "properties": {
        "heartRate": {
          "description": "Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "sleep": {
          "description": "Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "weight": {
          "description": "Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "dataPointName": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "activeZoneMinutes": {
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "sedentaryPeriod": {
          "description": "Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "dailyOxygenSaturation": {
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "floors": {
          "description": "Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "vo2Max": {
          "description": "Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "altitude": {
          "description": "Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "activityLevel": {
          "description": "Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "dailyVo2Max": {
          "description": "Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "timeInHeartRateZone": {
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "dailyHeartRateZones": {
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "height": {
          "description": "Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "distance": {
          "description": "Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "activeMinutes": {
          "description": "Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "exercise": {
          "description": "Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "bodyFat": {
          "description": "Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "dailyRespiratoryRate": {
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "heartRateVariability": {
          "description": "Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "respiratoryRateSleepSummary": {
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "hydrationLog": {
          "description": "Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "swimLengthsData": {
          "description": "Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "steps": {
          "description": "Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "runVo2Max": {
          "description": "Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "dailyRestingHeartRate": {
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "dailyHeartRateVariability": {
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "oxygenSaturation": {
          "description": "Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        }
      },
      "id": "ReconciledDataPoint",
      "type": "object",
      "description": "A reconciled computed or recorded metric."
    },
    "TimeZone": {
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "Height": {
      "description": "Body height measurement.",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the height was recorded.",
          "$ref": "ObservationSampleTime"
        },
        "heightMillimeters": {
          "type": "string",
          "format": "int64",
          "description": "Required. Height of the user in millimeters."
        }
      },
      "id": "Height",
      "type": "object"
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      },
      "id": "Interval",
      "type": "object"
    },
    "RunVO2Max": {
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min.",
      "id": "RunVO2Max",
      "type": "object",
      "properties": {
        "runVo2Max": {
          "format": "double",
          "type": "number",
          "description": "Required. Run VO2 max value in ml/kg/min."
        },
        "sampleTime": {
          "description": "Required. The time at which the metric was measured.",
          "$ref": "ObservationSampleTime"
        }
      }
    },
    "WeightRollupValue": {
      "properties": {
        "weightGramsAvg": {
          "format": "double",
          "type": "number",
          "description": "Average weight in grams."
        }
      },
      "id": "WeightRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the weight data type."
    },
    "Settings": {
      "description": "Settings details.",
      "id": "Settings",
      "type": "object",
      "properties": {
        "temperatureUnit": {
          "type": "string",
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings."
        },
        "strideLengthWalkingType": {
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ]
        },
        "swimUnit": {
          "type": "string",
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ]
        },
        "strideLengthRunningType": {
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported.",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ]
        },
        "waterUnit": {
          "type": "string",
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ]
        },
        "autoStrideEnabled": {
          "type": "boolean",
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported."
        },
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        },
        "heightUnit": {
          "type": "string",
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ]
        },
        "distanceUnit": {
          "type": "string",
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported.",
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ]
        },
        "glucoseUnit": {
          "type": "string",
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ],
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings."
        },
        "name": {
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "languageLocale": {
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        },
        "weightUnit": {
          "type": "string",
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ]
        },
        "utcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported."
        }
      }
    },
    "VolumeQuantity": {
      "description": "Represents the volume quantity.",
      "properties": {
        "milliliters": {
          "description": "Required. Value representing the volume in milliliters.",
          "type": "number",
          "format": "double"
        },
        "userProvidedUnit": {
          "description": "Optional. Value representing the user provided unit.",
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ]
        }
      },
      "id": "VolumeQuantity",
      "type": "object"
    },
    "ActiveMinutesByActivityLevel": {
      "description": "Active minutes at a given activity level.",
      "id": "ActiveMinutesByActivityLevel",
      "type": "object",
      "properties": {
        "activeMinutes": {
          "description": "Required. Number of whole minutes spent in activity.",
          "type": "string",
          "format": "int64"
        },
        "activityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "description": "Required. The level of activity."
        }
      }
    },
    "DailyVO2Max": {
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise.",
      "properties": {
        "cardioFitnessLevel": {
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ],
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ]
        },
        "date": {
          "description": "Required. The date for which the Daily VO2 max was measured.",
          "$ref": "Date"
        },
        "vo2MaxCovariance": {
          "type": "number",
          "format": "double",
          "description": "Optional. The covariance of the VO2 max value."
        },
        "estimated": {
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation.",
          "type": "boolean"
        },
        "vo2Max": {
          "type": "number",
          "format": "double",
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min."
        }
      },
      "id": "DailyVO2Max",
      "type": "object"
    },
    "ExerciseEvent": {
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split.",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Exercise event time"
        },
        "exerciseEventType": {
          "type": "string",
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ],
          "description": "Required. The type of the event, such as start, stop, pause, resume.",
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ]
        },
        "eventUtcOffset": {
          "description": "Required. Exercise event time offset from UTC",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "ExerciseEvent",
      "type": "object"
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "properties": {
        "caloriesInHeartRateZones": {
          "description": "List of calories burned in each heart rate zone.",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "type": "array"
        }
      },
      "id": "CaloriesInHeartRateZoneRollupValue",
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "RollupDataPoint": {
      "description": "Value of a rollup for a single physical time interval (aggregation window)",
      "properties": {
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of the window this value aggregates over"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "startTime": {
          "description": "Start time of the window this value aggregates over",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "RollupDataPoint",
      "type": "object"
    },
    "MobilityMetrics": {
      "description": "Mobility workouts specific metrics",
      "id": "MobilityMetrics",
      "type": "object",
      "properties": {
        "avgCadenceStepsPerMinute": {
          "format": "double",
          "type": "number",
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout."
        },
        "avgVerticalRatio": {
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0].",
          "format": "double",
          "type": "number"
        },
        "avgStrideLengthMillimeters": {
          "description": "Optional. Stride length is a measure of the distance covered by a single stride",
          "format": "int64",
          "type": "string"
        },
        "avgGroundContactTimeDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride"
        },
        "avgVerticalOscillationMillimeters": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running"
        }
      }
    },
    "StepsRollupValue": {
      "description": "Represents the result of the rollup of the steps data type.",
      "properties": {
        "countSum": {
          "description": "Total number of steps in the interval.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "StepsRollupValue",
      "type": "object"
    },
    "DailyRollUpDataPointsResponse": {
      "description": "Response containing the list of rolled up data points.",
      "properties": {
        "rollupDataPoints": {
          "type": "array",
          "description": "Values for each aggregation time window.",
          "items": {
            "$ref": "DailyRollupDataPoint"
          }
        }
      },
      "id": "DailyRollUpDataPointsResponse",
      "type": "object"
    },
    "ReconcileDataPointsResponse": {
      "description": "Response containing the list of reconciled DataPoints.",
      "id": "ReconcileDataPointsResponse",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Data points matching the query",
          "items": {
            "$ref": "ReconciledDataPoint"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        }
      }
    },
    "TimeInHeartRateZoneRollupValue": {
      "id": "TimeInHeartRateZoneRollupValue",
      "type": "object",
      "properties": {
        "timeInHeartRateZones": {
          "description": "List of time spent in each heart rate zone.",
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          },
          "type": "array"
        }
      },
      "description": "Represents the result of the rollup of the time in heart rate zone data type."
    },
    "RollUpDataPointsResponse": {
      "id": "RollUpDataPointsResponse",
      "type": "object",
      "properties": {
        "rollupDataPoints": {
          "type": "array",
          "description": "Values for each aggregation time window.",
          "items": {
            "$ref": "RollupDataPoint"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response containing the list of rolled up data points."
    },
    "Distance": {
      "description": "Distance traveled over an interval of time.",
      "id": "Distance",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "millimeters": {
          "description": "Required. Distance in millimeters over the observed interval.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "RespiratoryRateSleepSummary": {
      "properties": {
        "remSleepStats": {
          "description": "Optional. Respiratory rate statistics for REM sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "fullSleepStats": {
          "description": "Required. Full respiratory rate statistics.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "lightSleepStats": {
          "description": "Optional. Respiratory rate statistics for light sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "deepSleepStats": {
          "description": "Optional. Respiratory rate statistics for deep sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "sampleTime": {
          "description": "Required. The time at which respiratory rate was measured.",
          "$ref": "ObservationSampleTime"
        }
      },
      "id": "RespiratoryRateSleepSummary",
      "type": "object",
      "description": "Records respiratory rate details during sleep. Can have multiple per day if the user sleeps multiple times."
    },
    "CivilDateTime": {
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries.",
      "properties": {
        "date": {
          "description": "Required. Calendar date.",
          "$ref": "Date"
        },
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "CivilDateTime",
      "type": "object"
    },
    "DistanceRollupValue": {
      "id": "DistanceRollupValue",
      "type": "object",
      "properties": {
        "millimetersSum": {
          "description": "Sum of the distance in millimeters.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Result of the rollup of the user's distance."
    },
    "DailyRestingHeartRateMetadata": {
      "properties": {
        "calculationMethod": {
          "type": "string",
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ],
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ],
          "description": "Required. The method used to calculate the resting heart rate."
        }
      },
      "id": "DailyRestingHeartRateMetadata",
      "type": "object",
      "description": "Metadata for the daily resting heart rate."
    },
    "AltitudeRollupValue": {
      "description": "Represents the result of the rollup of the user's altitude.",
      "id": "AltitudeRollupValue",
      "type": "object",
      "properties": {
        "gainMillimetersSum": {
          "type": "string",
          "format": "int64",
          "description": "Sum of the altitude gain in millimeters."
        }
      }
    },
    "OxygenSaturation": {
      "id": "OxygenSaturation",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2)."
    },
    "RollUpDataPointsRequest": {
      "properties": {
        "windowSize": {
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions.",
          "format": "google-duration",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "Interval"
        },
        "pageSize": {
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer",
          "format": "int32"
        },
        "dataSourceFamily": {
          "type": "string",
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources"
        }
      },
      "id": "RollUpDataPointsRequest",
      "type": "object",
      "description": "Request to roll up data points by physical time intervals."
    },
    "ActiveZoneMinutes": {
      "id": "ActiveZoneMinutes",
      "type": "object",
      "properties": {
        "activeZoneMinutes": {
          "description": "Required. Number of Active Zone Minutes earned in the given time interval. Note: active_zone_minutes equals to 1 for low intensity (fat burn) zones or 2 for high intensity zones (cardio, peak).",
          "type": "string",
          "format": "int64"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "heartRateZone": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The fat burn heart rate zone.",
            "The cardio heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_UNSPECIFIED",
            "FAT_BURN",
            "CARDIO",
            "PEAK"
          ],
          "description": "Required. Heart rate zone in which the active zone minutes have been earned, in the given time interval."
        }
      },
      "description": "Record of active zone minutes in a given time interval."
    },
    "DataPoint": {
      "id": "DataPoint",
      "type": "object",
      "properties": {
        "activeZoneMinutes": {
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "heartRate": {
          "description": "Optional. Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "sleep": {
          "description": "Optional. Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "name": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "weight": {
          "description": "Optional. Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "dailyOxygenSaturation": {
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "sedentaryPeriod": {
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "altitude": {
          "description": "Optional. Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "activityLevel": {
          "description": "Optional. Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "dataSource": {
          "description": "Optional. Data source information for the metric",
          "$ref": "DataSource"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "height": {
          "description": "Optional. Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "dailyHeartRateZones": {
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "bodyFat": {
          "description": "Optional. Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "hydrationLog": {
          "description": "Optional. Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "respiratoryRateSleepSummary": {
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "swimLengthsData": {
          "description": "Optional. Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "heartRateVariability": {
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "steps": {
          "description": "Optional. Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "runVo2Max": {
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "dailyRestingHeartRate": {
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "oxygenSaturation": {
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        }
      },
      "description": "A computed or recorded metric."
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "type": "object",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMin": {
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "format": "double",
          "type": "number"
        },
        "averageHeartRateVariabilityMillisecondsMax": {
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range."
    },
    "WebhookNotificationCloudLog": {
      "description": "Log message for a webhook notification sent by the Google Health API to a subscriber's endpoint. Includes the HTTP response received from the endpoint.",
      "id": "WebhookNotificationCloudLog",
      "type": "object",
      "properties": {
        "httpResponse": {
          "description": "Required. Represents the HTTP response. This message includes the status code, reason phrase, headers, and body.",
          "$ref": "HttpResponse"
        }
      }
    },
    "DailyOxygenSaturation": {
      "description": "A daily oxygen saturation (SpO2) record. Represents the user's daily oxygen saturation summary, typically calculated during sleep.",
      "properties": {
        "date": {
          "description": "Required. Date (in user's timezone) of the daily oxygen saturation record.",
          "$ref": "Date"
        },
        "averagePercentage": {
          "type": "number",
          "format": "double",
          "description": "Required. The average value of the oxygen saturation samples during the sleep."
        },
        "upperBoundPercentage": {
          "type": "number",
          "format": "double",
          "description": "Required. The upper bound of the confidence interval of oxygen saturation samples during sleep."
        },
        "lowerBoundPercentage": {
          "format": "double",
          "type": "number",
          "description": "Required. The lower bound of the confidence interval of oxygen saturation samples during sleep."
        },
        "standardDeviationPercentage": {
          "type": "number",
          "format": "double",
          "description": "Optional. Standard deviation of the daily oxygen saturation averages from the past 7-30 days."
        }
      },
      "id": "DailyOxygenSaturation",
      "type": "object"
    },
    "BodyFat": {
      "description": "Body fat measurement.",
      "id": "BodyFat",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which body fat was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "description": "Required. Body fat percentage, in range [0, 100].",
          "format": "double",
          "type": "number"
        }
      }
    },
    "SleepMetadata": {
      "properties": {
        "manuallyEdited": {
          "readOnly": true,
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users.",
          "type": "boolean"
        },
        "processed": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Sleep and sleep stages algorithms finished processing."
        },
        "nap": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Naps are sleeps without stages and relatively short durations."
        },
        "stagesStatus": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ],
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ],
          "description": "Output only. Sleep stages algorithm processing status."
        },
        "externalId": {
          "type": "string",
          "description": "Optional. Sleep identifier relevant in the context of the data source."
        }
      },
      "id": "SleepMetadata",
      "type": "object",
      "description": "Additional information about how the sleep was processed."
    },
    "HeartRateMetadata": {
      "description": "Heart rate metadata.",
      "properties": {
        "motionContext": {
          "type": "string",
          "enumDescriptions": [
            "The default value when no data is available.",
            "The user is active.",
            "The user is inactive."
          ],
          "description": "Optional. Indicates the user’s level of activity when the heart rate sample was measured",
          "enum": [
            "MOTION_CONTEXT_UNSPECIFIED",
            "ACTIVE",
            "SEDENTARY"
          ]
        },
        "sensorLocation": {
          "type": "string",
          "enumDescriptions": [
            "The default value when no data is available.",
            "Chest sensor.",
            "Wrist sensor.",
            "Finger sensor.",
            "Hand sensor.",
            "Ear lobe sensor.",
            "Foot sensor."
          ],
          "enum": [
            "SENSOR_LOCATION_UNSPECIFIED",
            "CHEST",
            "WRIST",
            "FINGER",
            "HAND",
            "EAR_LOBE",
            "FOOT"
          ],
          "description": "Optional. Indicates the location of the sensor that measured the heart rate."
        }
      },
      "id": "HeartRateMetadata",
      "type": "object"
    },
    "SedentaryPeriod": {
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "id": "SedentaryPeriod",
      "type": "object",
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device)."
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "description": "Respiratory rate statistics for a given sleep stage.",
      "properties": {
        "breathsPerMinute": {
          "type": "number",
          "format": "double",
          "description": "Required. Average breaths per minute."
        },
        "standardDeviation": {
          "format": "double",
          "type": "number",
          "description": "Optional. Standard deviation of the respiratory rate during sleep."
        },
        "signalToNoise": {
          "type": "number",
          "format": "double",
          "description": "Optional. How trustworthy the data is for the computation."
        }
      },
      "id": "RespiratoryRateSleepSummaryStatistics",
      "type": "object"
    },
    "ListDataPointsResponse": {
      "description": "Response containing raw data points matching the query",
      "properties": {
        "dataPoints": {
          "description": "Data points matching the query",
          "items": {
            "$ref": "DataPoint"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token, empty if the response is complete"
        }
      },
      "id": "ListDataPointsResponse",
      "type": "object"
    },
    "ExportExerciseTcxResponse": {
      "id": "ExportExerciseTcxResponse",
      "type": "object",
      "properties": {
        "tcxData": {
          "description": "Contains the exported TCX data.",
          "type": "string"
        }
      },
      "description": "Represents a Response for exporting exercise data in TCX format."
    },
    "Device": {
      "id": "Device",
      "type": "object",
      "properties": {
        "formFactor": {
          "description": "Optional. Captures the form factor of the device.",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "FITNESS_BAND",
            "WATCH",
            "PHONE",
            "RING",
            "CHEST_STRAP",
            "SCALE",
            "TABLET",
            "HEAD_MOUNTED",
            "SMART_DISPLAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The form factor is unspecified.",
            "The device is a fitness band.",
            "The device is a watch.",
            "The device is a phone.",
            "The device is a ring.",
            "The device is a chest strap.",
            "The device is a scale.",
            "The device is a tablet.",
            "The device is a head mounted device.",
            "The device is a smart display."
          ]
        },
        "manufacturer": {
          "description": "Optional. An optional manufacturer of the device.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. An optional name for the device.",
          "type": "string"
        }
      },
      "description": "Captures metadata about the device that recorded the measurement."
    },
    "HttpResponse": {
      "id": "HttpResponse",
      "type": "object",
      "properties": {
        "status": {
          "format": "int32",
          "type": "integer",
          "description": "The HTTP status code, such as 200 or 404."
        },
        "body": {
          "description": "The HTTP response body. If the body is not expected, it should be empty.",
          "type": "string",
          "format": "byte"
        },
        "headers": {
          "description": "The HTTP response headers. The ordering of the headers is significant. Multiple headers with the same key may present for the response.",
          "items": {
            "$ref": "HttpHeader"
          },
          "type": "array"
        },
        "reason": {
          "description": "The HTTP reason phrase, such as \"OK\" or \"Not Found\".",
          "type": "string"
        }
      },
      "description": "Represents an HTTP response."
    },
    "ObservationSampleTime": {
      "properties": {
        "utcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC)."
        },
        "physicalTime": {
          "description": "Required. The time of the observation.",
          "format": "google-datetime",
          "type": "string"
        },
        "civilTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "readOnly": true
        }
      },
      "id": "ObservationSampleTime",
      "type": "object",
      "description": "Represents a sample time of an observed data point."
    },
    "MetricsSummary": {
      "description": "Summary metrics for an exercise.",
      "properties": {
        "caloriesKcal": {
          "description": "Optional. Total calories burned by the user during the exercise.",
          "format": "double",
          "type": "number"
        },
        "totalSwimLengths": {
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise.",
          "format": "double",
          "type": "number"
        },
        "averageSpeedMillimetersPerSecond": {
          "format": "double",
          "type": "number",
          "description": "Optional. Average speed in millimeters per second."
        },
        "distanceMillimeters": {
          "description": "Optional. Total distance covered by the user during the exercise.",
          "format": "double",
          "type": "number"
        },
        "elevationGainMillimeters": {
          "type": "number",
          "format": "double",
          "description": "Optional. Total elevation gain during the exercise."
        },
        "averagePaceSecondsPerMeter": {
          "type": "number",
          "format": "double",
          "description": "Optional. Average pace in seconds per meter."
        },
        "heartRateZoneDurations": {
          "description": "Optional. Time spent in each heart rate zone.",
          "$ref": "TimeInHeartRateZones"
        },
        "mobilityMetrics": {
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises.",
          "$ref": "MobilityMetrics"
        },
        "averageHeartRateBeatsPerMinute": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Average heart rate during the exercise."
        },
        "activeZoneMinutes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Total active zone minutes for the exercise."
        },
        "steps": {
          "description": "Optional. Total steps taken during the exercise.",
          "format": "int64",
          "type": "string"
        },
        "runVo2Max": {
          "type": "number",
          "format": "double",
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise."
        }
      },
      "id": "MetricsSummary",
      "type": "object"
    },
    "DailyHeartRateVariability": {
      "id": "DailyHeartRateVariability",
      "type": "object",
      "properties": {
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "format": "double",
          "type": "number",
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep."
        },
        "averageHeartRateVariabilityMilliseconds": {
          "type": "number",
          "format": "double",
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats."
        },
        "nonRemHeartRateBeatsPerMinute": {
          "description": "Optional. Non-REM heart rate",
          "format": "int64",
          "type": "string"
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement.",
          "$ref": "Date"
        },
        "entropy": {
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`"
    },
    "SwimLengthsDataRollupValue": {
      "description": "Represents the result of the rollup of the swim lengths data type.",
      "properties": {
        "strokeCountSum": {
          "description": "Total number of swim strokes in the interval.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SwimLengthsDataRollupValue",
      "type": "object"
    },
    "StageSummary": {
      "properties": {
        "minutes": {
          "readOnly": true,
          "description": "Output only. Total duration in minutes of a sleep stage.",
          "type": "string",
          "format": "int64"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Number of sleep stages segments."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc."
        }
      },
      "id": "StageSummary",
      "type": "object",
      "description": "Total duration and segment count for a stage."
    },
    "Weight": {
      "id": "Weight",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the weight was measured",
          "$ref": "ObservationSampleTime"
        },
        "notes": {
          "type": "string",
          "description": "Optional. Standard free-form notes captured at manual logging."
        },
        "weightGrams": {
          "description": "Required. Weight of a user in grams.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Body weight measurement."
    },
    "ActivityLevelRollupByActivityLevelType": {
      "id": "ActivityLevelRollupByActivityLevelType",
      "type": "object",
      "properties": {
        "activityLevelType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "description": "Activity level type."
        },
        "totalDuration": {
          "description": "Total duration in the activity level type.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Represents the total duration in a specific activity level type."
    },
    "Floors": {
      "id": "Floors",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval",
          "$ref": "ObservationTimeInterval"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of floors in the recorded interval"
        }
      },
      "description": "Gained elevation measured in floors over the time interval"
    },
    "HttpHeader": {
      "description": "Represents an HTTP header.",
      "id": "HttpHeader",
      "type": "object",
      "properties": {
        "key": {
          "description": "The HTTP header key. It is case insensitive.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The HTTP header value."
        }
      }
    },
    "HydrationLog": {
      "id": "HydrationLog",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "SessionTimeInterval"
        },
        "amountConsumed": {
          "description": "Required. Amount of liquid (ex. water) consumed.",
          "$ref": "VolumeQuantity"
        }
      },
      "description": "Holds information about a user logged hydration."
    },
    "Subscriber": {
      "description": "-- Resource Messages -- A subscriber receives notifications from Google Health API.",
      "properties": {
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for a subscriber endpoint. This is required to ensure the endpoint can be verified.",
          "$ref": "EndpointAuthorization"
        },
        "endpointUri": {
          "type": "string",
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during CreateSubscriber and UpdateSubscriber calls. See RPC documentation for verification details."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the subscriber was created."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the subscriber was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef"
        },
        "subscriberConfigs": {
          "description": "Optional. Configuration for the subscriber.",
          "items": {
            "$ref": "SubscriberConfig"
          },
          "type": "array"
        },
        "state": {
          "description": "Output only. The state of the subscriber.",
          "enumDescriptions": [
            "Represents an unspecified subscriber state.",
            "Represents an unverified subscriber. This is the initial state of the subscriber when it is created. The backend will verify the subscriber's endpoint_uri.",
            "Represents an active subscriber. The endpoint has been verified.",
            "Represents an inactive subscriber."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UNVERIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        }
      },
      "id": "Subscriber",
      "type": "object"
    },
    "HydrationLogRollupValue": {
      "description": "Represents the result of the rollup of the hydration log data type.",
      "id": "HydrationLogRollupValue",
      "type": "object",
      "properties": {
        "amountConsumed": {
          "description": "Rollup for amount consumed.",
          "$ref": "VolumeQuantityRollup"
        }
      }
    },
    "DailyRollupDataPoint": {
      "properties": {
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "restingHeartRatePersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier.",
          "$ref": "RestingHeartRatePersonalRangeRollupValue"
        },
        "heartRateVariabilityPersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier.",
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue"
        },
        "civilEndTime": {
          "description": "End time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "civilStartTime": {
          "description": "Start time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        }
      },
      "id": "DailyRollupDataPoint",
      "type": "object",
      "description": "Value of a daily rollup for a single civil time interval (aggregation window)"
    },
    "TimeInHeartRateZone": {
      "description": "Time in heart rate zone record. It's an interval spent in specific heart rate zone.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "heartRateZoneType": {
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "Required. Heart rate zone type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ]
        }
      },
      "id": "TimeInHeartRateZone",
      "type": "object"
    },
    "CreateSubscriberPayload": {
      "id": "CreateSubscriberPayload",
      "type": "object",
      "properties": {
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for the subscriber endpoint. The `secret` within this message is crucial for endpoint verification and for securing webhook notifications.",
          "$ref": "EndpointAuthorization"
        },
        "endpointUri": {
          "type": "string",
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during the `CreateSubscriber` call. See CreateSubscriber RPC documentation for verification details."
        },
        "subscriberConfigs": {
          "description": "Optional. Configuration for the subscriber.",
          "items": {
            "$ref": "SubscriberConfig"
          },
          "type": "array"
        }
      },
      "description": "Payload for creating a subscriber."
    },
    "Sleep": {
      "description": "A sleep session possibly including stages.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation time of this sleep observation."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of this sleep observation.",
          "readOnly": true
        },
        "interval": {
          "description": "Required. Observed sleep interval.",
          "$ref": "SessionTimeInterval"
        },
        "summary": {
          "description": "Output only. Sleep summary: metrics and stages summary.",
          "readOnly": true,
          "$ref": "SleepSummary"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Sleep type is unspecified.",
            "Classic sleep is a sleep with 3 stages types: AWAKE, RESTLESS and ASLEEP.",
            "On top of \"classic\" sleep stages an additional processing pass can calculate stages more precisely, overwriting the prior stages with AWAKE, LIGHT, REM and DEEP."
          ],
          "description": "Optional. SleepType: classic or stages.",
          "enum": [
            "SLEEP_TYPE_UNSPECIFIED",
            "CLASSIC",
            "STAGES"
          ]
        },
        "stages": {
          "type": "array",
          "description": "Optional. List of non-overlapping contiguous sleep stage segments that cover the sleep period.",
          "items": {
            "$ref": "SleepStage"
          }
        },
        "outOfBedSegments": {
          "description": "Optional. “Out of bed” segments that can overlap with sleep stages.",
          "items": {
            "$ref": "OutOfBedSegment"
          },
          "type": "array"
        },
        "metadata": {
          "description": "Optional. Sleep metadata: processing, main, manually edited, stages status.",
          "$ref": "SleepMetadata"
        }
      },
      "id": "Sleep",
      "type": "object"
    },
    "ActivityLevelRollupValue": {
      "properties": {
[...]
