{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://health.googleapis.com/",
  "name": "health",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "ActivityLevel": {
      "id": "ActivityLevel",
      "description": "Internal type to capture activity level during a certain time interval.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activityLevelType": {
          "description": "Required. Activity level type in the given time interval.",
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ]
        }
      }
    },
    "ActiveMinutes": {
      "id": "ActiveMinutes",
      "description": "Record of active minutes in a given time interval.",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "activeMinutesByActivityLevel": {
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          },
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed.",
          "type": "array"
        }
      }
    },
    "Identity": {
      "id": "Identity",
      "description": "Represents details about the Google user's identity.",
      "type": "object",
      "properties": {
        "healthUserId": {
          "readOnly": true,
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`",
          "type": "string"
        },
        "legacyUserId": {
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "HydrationLog": {
      "description": "Holds information about a user logged hydration.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "SessionTimeInterval"
        },
        "amountConsumed": {
          "description": "Required. Amount of liquid (ex. water) consumed.",
          "$ref": "VolumeQuantity"
        }
      },
      "id": "HydrationLog"
    },
    "HttpResponse": {
      "description": "Represents an HTTP response.",
      "type": "object",
      "properties": {
        "status": {
          "description": "The HTTP status code, such as 200 or 404.",
          "type": "integer",
          "format": "int32"
        },
        "headers": {
          "items": {
            "$ref": "HttpHeader"
          },
          "description": "The HTTP response headers. The ordering of the headers is significant. Multiple headers with the same key may present for the response.",
          "type": "array"
        },
        "reason": {
          "description": "The HTTP reason phrase, such as \"OK\" or \"Not Found\".",
          "type": "string"
        },
        "body": {
          "description": "The HTTP response body. If the body is not expected, it should be empty.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "HttpResponse"
    },
    "VO2Max": {
      "id": "VO2Max",
      "description": "VO2 max measurement.",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which VO2 max was measured.",
          "$ref": "ObservationSampleTime"
        },
        "vo2Max": {
          "description": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "type": "number",
          "format": "double"
        },
        "measurementMethod": {
          "enumDescriptions": [
            "Unspecified measurement method.",
            "Fitbit specific, measures VO2 max rate during a run.",
            "Google specific, measures VO2 max rate for a user based on their demographic data.",
            "Run as far as possible for 12 minutes. Distance correlated with age and gender translates to a VO2 max value.",
            "Maximum heart rate divided by the resting heart rate, with a multiplier applied. Does not require any exercise.",
            "Measured by a medical device called metabolic cart.",
            "Continuous 20m back-and-forth runs with increasing difficulty, until exhaustion.",
            "Measured using walking exercise.",
            "Healthkit specific, measures VO2 max rate by monitoring exercise to the user’s physical limit. Similar to COOPER_TEST or MULTISTAGE_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate based on low-intensity exercise. Similar to ROCKPORT_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate without any exercise. Similar to HEART_RATE_RATIO.",
            "Use when the method is not covered in this enum."
          ],
          "enum": [
            "MEASUREMENT_METHOD_UNSPECIFIED",
            "FITBIT_RUN",
            "GOOGLE_DEMOGRAPHIC",
            "COOPER_TEST",
            "HEART_RATE_RATIO",
            "METABOLIC_CART",
            "MULTISTAGE_FITNESS_TEST",
            "ROCKPORT_FITNESS_TEST",
            "MAX_EXERCISE",
            "PREDICTION_SUB_MAX_EXERCISE",
            "PREDICTION_NON_EXERCISE",
            "OTHER"
          ],
          "description": "Optional. The method used to measure the VO2 max value.",
          "type": "string"
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date"
    },
    "ExerciseMetadata": {
      "id": "ExerciseMetadata",
      "description": "Additional exercise metadata.",
      "type": "object",
      "properties": {
        "hasGps": {
          "description": "Optional. Whether the exercise had GPS tracking.",
          "type": "boolean"
        },
        "poolLengthMillimeters": {
          "description": "Optional. Pool length in millimeters. Only present in the swimming exercises.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Exercise": {
      "id": "Exercise",
      "description": "An exercise that stores information about a physical activity.",
      "type": "object",
      "properties": {
        "exerciseType": {
          "description": "Required. The type of activity performed during an exercise.",
          "type": "string",
          "enum": [
            "EXERCISE_TYPE_UNSPECIFIED",
            "RUNNING",
            "WALKING",
            "BIKING",
            "SWIMMING",
            "HIKING",
            "YOGA",
            "PILATES",
            "WORKOUT",
            "HIIT",
            "WEIGHTLIFTING",
            "STRENGTH_TRAINING",
            "OTHER"
          ],
          "enumDescriptions": [
            "Exercise type is unspecified.",
            "Running type.",
            "Walking type.",
            "Biking type.",
            "Swimming type.",
            "Hiking type.",
            "Yoga type.",
            "Pilates type.",
            "Workout type.",
            "HIIT type.",
            "Weightlifting type.",
            "Strength training type.",
            "Other type."
          ]
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this exercise ( )",
          "$ref": "MetricsSummary"
        },
        "interval": {
          "description": "Required. Observed exercise interval",
          "$ref": "SessionTimeInterval"
        },
        "exerciseEvents": {
          "items": {
            "$ref": "ExerciseEvent"
          },
          "description": "Optional. Exercise events that happen during an exercise, such as pause & restarts.",
          "type": "array"
        },
        "displayName": {
          "description": "Required. Exercise display name.",
          "type": "string"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        },
        "splitSummaries": {
          "items": {
            "$ref": "SplitSummary"
          },
          "description": "Optional. Laps or splits recorded within an exercise. Laps could be split based on distance or other criteria (duration, etc.) Laps should not be overlapping with each other.",
          "type": "array"
        },
        "splits": {
          "description": "Optional. The default split is 1 km or 1 mile. - if the movement distance is less than the default, then there are no splits - if the movement distance is greater than or equal to the default, then we have splits",
          "type": "array",
          "items": {
            "$ref": "SplitSummary"
          }
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. This is the timestamp of the last update to the exercise.",
          "type": "string",
          "format": "google-datetime"
        },
        "exerciseMetadata": {
          "$ref": "ExerciseMetadata",
          "description": "Optional. Additional exercise metadata."
        },
        "activeDuration": {
          "description": "Optional. Duration excluding pauses.",
          "type": "string",
          "format": "google-duration"
        },
        "createTime": {
          "description": "Output only. Represents the timestamp of the creation of the exercise.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Interval"
    },
    "Sleep": {
      "id": "Sleep",
      "description": "A sleep session possibly including stages.",
      "type": "object",
      "properties": {
        "outOfBedSegments": {
          "items": {
            "$ref": "OutOfBedSegment"
          },
          "description": "Optional. “Out of bed” segments that can overlap with sleep stages.",
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. Last update time of this sleep observation.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "interval": {
          "description": "Required. Observed sleep interval.",
          "$ref": "SessionTimeInterval"
        },
        "metadata": {
          "description": "Optional. Sleep metadata: processing, main, manually edited, stages status.",
          "$ref": "SleepMetadata"
        },
        "summary": {
          "readOnly": true,
          "description": "Output only. Sleep summary: metrics and stages summary.",
          "$ref": "SleepSummary"
        },
        "type": {
          "enum": [
            "SLEEP_TYPE_UNSPECIFIED",
            "CLASSIC",
            "STAGES"
          ],
          "enumDescriptions": [
            "Sleep type is unspecified.",
            "Classic sleep is a sleep with 3 stages types: AWAKE, RESTLESS and ASLEEP.",
            "On top of \"classic\" sleep stages an additional processing pass can calculate stages more precisely, overwriting the prior stages with AWAKE, LIGHT, REM and DEEP."
          ],
          "description": "Optional. SleepType: classic or stages.",
          "type": "string"
        },
        "stages": {
          "description": "Optional. List of non-overlapping contiguous sleep stage segments that cover the sleep period.",
          "type": "array",
          "items": {
            "$ref": "SleepStage"
          }
        },
        "createTime": {
          "description": "Output only. Creation time of this sleep observation.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "ActiveZoneMinutes": {
      "id": "ActiveZoneMinutes",
      "description": "Record of active zone minutes in a given time interval.",
      "type": "object",
      "properties": {
        "activeZoneMinutes": {
          "description": "Required. Number of Active Zone Minutes earned in the given time interval. Note: active_zone_minutes equals to 1 for low intensity (fat burn) zones or 2 for high intensity zones (cardio, peak).",
          "type": "string",
          "format": "int64"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "heartRateZone": {
          "description": "Required. Heart rate zone in which the active zone minutes have been earned, in the given time interval.",
          "type": "string",
          "enum": [
            "HEART_RATE_ZONE_UNSPECIFIED",
            "FAT_BURN",
            "CARDIO",
            "PEAK"
          ],
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The fat burn heart rate zone.",
            "The cardio heart rate zone.",
            "The peak heart rate zone."
          ]
        }
      }
    },
    "SwimLengthsDataRollupValue": {
      "id": "SwimLengthsDataRollupValue",
      "description": "Represents the result of the rollup of the swim lengths data type.",
      "type": "object",
      "properties": {
        "strokeCountSum": {
          "description": "Total number of swim strokes in the interval.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "BatchDeleteDataPointsRequest": {
      "description": "Request to delete a batch of identifiable data points.",
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeleteDataPointsRequest"
    },
    "ExerciseEvent": {
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split.",
      "type": "object",
      "properties": {
        "eventUtcOffset": {
          "description": "Required. Exercise event time offset from UTC",
          "type": "string",
          "format": "google-duration"
        },
        "exerciseEventType": {
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ],
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ],
          "description": "Required. The type of the event, such as start, stop, pause, resume.",
          "type": "string"
        },
        "eventTime": {
          "description": "Required. Exercise event time",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "ExerciseEvent"
    },
    "DailyRespiratoryRate": {
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep.",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. The date on which the respiratory rate was measured.",
          "$ref": "Date"
        },
        "breathsPerMinute": {
          "description": "Required. The average number of breaths taken per minute.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "DailyRespiratoryRate"
    },
    "TimeInHeartRateZones": {
      "id": "TimeInHeartRateZones",
      "description": "Time spent in each heart rate zone.",
      "type": "object",
      "properties": {
        "moderateTime": {
          "description": "Optional. Time spent in moderate heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "lightTime": {
          "description": "Optional. Time spent in light heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "peakTime": {
          "description": "Optional. Time spent in peak heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "vigorousTime": {
          "description": "Optional. Time spent in vigorous heart rate zone.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone"
    },
    "MetricsSummary": {
      "id": "MetricsSummary",
      "description": "Summary metrics for an exercise.",
      "type": "object",
      "properties": {
        "distanceMillimeters": {
          "description": "Optional. Total distance covered by the user during the exercise.",
          "type": "number",
          "format": "double"
        },
        "steps": {
          "description": "Optional. Total steps taken during the exercise.",
          "type": "string",
          "format": "int64"
        },
        "activeZoneMinutes": {
          "description": "Optional. Total active zone minutes for the exercise.",
          "type": "string",
          "format": "int64"
        },
        "averagePaceSecondsPerMeter": {
          "description": "Optional. Average pace in seconds per meter.",
          "type": "number",
          "format": "double"
        },
        "elevationGainMillimeters": {
          "description": "Optional. Total elevation gain during the exercise.",
          "type": "number",
          "format": "double"
        },
        "mobilityMetrics": {
          "$ref": "MobilityMetrics",
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises."
        },
        "caloriesKcal": {
          "description": "Optional. Total calories burned by the user during the exercise.",
          "type": "number",
          "format": "double"
        },
        "runVo2Max": {
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise.",
          "type": "number",
          "format": "double"
        },
        "averageHeartRateBeatsPerMinute": {
          "description": "Optional. Average heart rate during the exercise.",
          "type": "string",
          "format": "int64"
        },
        "averageSpeedMillimetersPerSecond": {
          "description": "Optional. Average speed in millimeters per second.",
          "type": "number",
          "format": "double"
        },
        "totalSwimLengths": {
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise.",
          "type": "number",
          "format": "double"
        },
        "heartRateZoneDurations": {
          "$ref": "TimeInHeartRateZones",
          "description": "Optional. Time spent in each heart rate zone."
        }
      }
    },
    "HeartRateMetadata": {
      "description": "Heart rate metadata.",
      "type": "object",
      "properties": {
        "motionContext": {
          "enumDescriptions": [
            "The default value when no data is available.",
            "The user is active.",
            "The user is inactive."
          ],
          "enum": [
            "MOTION_CONTEXT_UNSPECIFIED",
            "ACTIVE",
            "SEDENTARY"
          ],
          "description": "Optional. Indicates the user’s level of activity when the heart rate sample was measured",
          "type": "string"
        },
        "sensorLocation": {
          "enumDescriptions": [
            "The default value when no data is available.",
            "Chest sensor.",
            "Wrist sensor.",
            "Finger sensor.",
            "Hand sensor.",
            "Ear lobe sensor.",
            "Foot sensor."
          ],
          "enum": [
            "SENSOR_LOCATION_UNSPECIFIED",
            "CHEST",
            "WRIST",
            "FINGER",
            "HAND",
            "EAR_LOBE",
            "FOOT"
          ],
          "description": "Optional. Indicates the location of the sensor that measured the heart rate.",
          "type": "string"
        }
      },
      "id": "HeartRateMetadata"
    },
    "SessionTimeInterval": {
      "description": "Represents a time interval of session data point, which bundles multiple observed metrics together.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required. The start time of the observed session.",
          "type": "string",
          "format": "google-datetime"
        },
        "civilEndTime": {
          "readOnly": true,
          "description": "Output only. Session end time in civil time in the timezone the subject is in at the end of the session.",
          "$ref": "CivilDateTime"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Required. The end time of the observed session.",
          "type": "string",
          "format": "google-datetime"
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. Session start time in civil time in the timezone the subject is in at the start of the session.",
          "readOnly": true
        }
      },
      "id": "SessionTimeInterval"
    },
    "DailyRestingHeartRateMetadata": {
      "description": "Metadata for the daily resting heart rate.",
      "type": "object",
      "properties": {
        "calculationMethod": {
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ],
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ],
          "description": "Required. The method used to calculate the resting heart rate.",
          "type": "string"
        }
      },
      "id": "DailyRestingHeartRateMetadata"
    },
    "Altitude": {
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "gainMillimeters": {
          "description": "Required. Altitude gain in millimeters over the observed interval.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Altitude"
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "description": "Respiratory rate statistics for a given sleep stage.",
      "type": "object",
      "properties": {
        "signalToNoise": {
          "description": "Optional. How trustworthy the data is for the computation.",
          "type": "number",
          "format": "double"
        },
        "breathsPerMinute": {
          "description": "Required. Average breaths per minute.",
          "type": "number",
          "format": "double"
        },
        "standardDeviation": {
          "description": "Optional. Standard deviation of the respiratory rate during sleep.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "RespiratoryRateSleepSummaryStatistics"
    },
    "RestingHeartRatePersonalRangeRollupValue": {
      "id": "RestingHeartRatePersonalRangeRollupValue",
      "description": "Represents the rollup value for the daily resting heart rate data type.",
      "type": "object",
      "properties": {
        "beatsPerMinuteMin": {
          "description": "The lower bound of the user's daily resting heart rate personal range.",
          "type": "number",
          "format": "double"
        },
        "beatsPerMinuteMax": {
          "description": "The upper bound of the user's daily resting heart rate personal range.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "SleepMetadata": {
      "description": "Additional information about how the sleep was processed.",
      "type": "object",
      "properties": {
        "nap": {
          "readOnly": true,
          "description": "Output only. Naps are sleeps without stages and relatively short durations.",
          "type": "boolean"
        },
        "manuallyEdited": {
          "readOnly": true,
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users.",
          "type": "boolean"
        },
        "stagesStatus": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ],
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ],
          "description": "Output only. Sleep stages algorithm processing status."
        },
        "processed": {
          "readOnly": true,
          "description": "Output only. Sleep and sleep stages algorithms finished processing.",
          "type": "boolean"
        },
        "externalId": {
          "description": "Optional. Sleep identifier relevant in the context of the data source.",
          "type": "string"
        }
      },
      "id": "SleepMetadata"
    },
    "Steps": {
      "description": "Step count over the time interval.",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "count": {
          "description": "Required. Number of steps in the recorded interval.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Steps"
    },
    "DailyRestingHeartRate": {
      "id": "DailyRestingHeartRate",
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "type": "object",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement."
        },
        "beatsPerMinute": {
          "description": "Required. The resting heart rate value in beats per minute.",
          "type": "string",
          "format": "int64"
        },
        "dailyRestingHeartRateMetadata": {
          "description": "Optional. Metadata for the daily resting heart rate.",
          "$ref": "DailyRestingHeartRateMetadata"
        }
      }
    },
    "RollUpDataPointsResponse": {
      "description": "Response containing the list of rolled up data points.",
      "type": "object",
      "properties": {
        "rollupDataPoints": {
          "items": {
            "$ref": "RollupDataPoint"
          },
          "description": "Values for each aggregation time window.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "RollUpDataPointsResponse"
    },
    "TimeInHeartRateZoneValue": {
      "id": "TimeInHeartRateZoneValue",
      "description": "Represents the total time spent in a specific heart rate zone.",
      "type": "object",
      "properties": {
        "heartRateZone": {
          "description": "The heart rate zone.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        },
        "duration": {
          "description": "The total time spent in the specified heart rate zone.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "type": "object",
      "properties": {
        "caloriesInHeartRateZones": {
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "description": "List of calories burned in each heart rate zone.",
          "type": "array"
        }
      },
      "id": "CaloriesInHeartRateZoneRollupValue"
    },
    "RollupDataPoint": {
      "id": "RollupDataPoint",
      "description": "Value of a rollup for a single physical time interval (aggregation window)",
      "type": "object",
      "properties": {
        "distance": {
          "$ref": "DistanceRollupValue",
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier."
        },
        "startTime": {
          "description": "Start time of the window this value aggregates over",
          "type": "string",
          "format": "google-datetime"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "heartRate": {
          "$ref": "HeartRateRollupValue",
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier."
        },
        "caloriesInHeartRateZone": {
          "$ref": "CaloriesInHeartRateZoneRollupValue",
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier."
        },
        "sedentaryPeriod": {
          "$ref": "SedentaryPeriodRollupValue",
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier."
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "activityLevel": {
          "$ref": "ActivityLevelRollupValue",
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier."
        },
        "timeInHeartRateZone": {
          "$ref": "TimeInHeartRateZoneRollupValue",
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier."
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "runVo2Max": {
          "$ref": "RunVO2MaxRollupValue",
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier."
        },
        "floors": {
          "$ref": "FloorsRollupValue",
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier."
        },
        "endTime": {
          "description": "End time of the window this value aggregates over",
          "type": "string",
          "format": "google-datetime"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "steps": {
          "$ref": "StepsRollupValue",
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier."
        },
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "weight": {
          "$ref": "WeightRollupValue",
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier."
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        }
      }
    },
    "DistanceRollupValue": {
      "id": "DistanceRollupValue",
      "description": "Result of the rollup of the user's distance.",
      "type": "object",
      "properties": {
        "millimetersSum": {
          "description": "Sum of the distance in millimeters.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleDevicesandservicesHealthV4DataType": {
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values.",
          "type": "string"
        }
      },
      "id": "GoogleDevicesandservicesHealthV4DataType"
    },
    "ReconcileDataPointsResponse": {
      "id": "ReconcileDataPointsResponse",
      "description": "Response containing the list of reconciled DataPoints.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        },
        "dataPoints": {
          "items": {
            "$ref": "ReconciledDataPoint"
          },
          "description": "Data points matching the query",
          "type": "array"
        }
      }
    },
    "ActiveMinutesRollupByActivityLevel": {
      "description": "Active minutes by activity level.",
      "type": "object",
      "properties": {
        "activityLevel": {
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "description": "The level of activity.",
          "type": "string"
        },
        "activeMinutesSum": {
          "description": "Number of whole minutes spent in activity.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ActiveMinutesRollupByActivityLevel"
    },
    "ActiveMinutesRollupValue": {
      "id": "ActiveMinutesRollupValue",
      "description": "Represents the result of the rollup of the active minutes data type.",
      "type": "object",
      "properties": {
        "activeMinutesRollupByActivityLevel": {
          "description": "Active minutes by activity level. At most one record per activity level is allowed.",
          "type": "array",
          "items": {
            "$ref": "ActiveMinutesRollupByActivityLevel"
          }
        }
      }
    },
    "ObservationSampleTime": {
      "description": "Represents a sample time of an observed data point.",
      "type": "object",
      "properties": {
        "civilTime": {
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "$ref": "CivilDateTime",
          "readOnly": true
        },
        "utcOffset": {
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "physicalTime": {
          "description": "Required. The time of the observation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "ObservationSampleTime"
    },
    "DailyRollUpDataPointsRequest": {
      "description": "Request to roll up data points by civil time intervals.",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Optional. The `next_page_token` from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer",
          "format": "int32"
        },
        "windowSizeDays": {
          "description": "Optional. Aggregation window size, in number of days. Defaults to 1 if not specified.",
          "type": "integer",
          "format": "int32"
        },
        "range": {
          "$ref": "CivilTimeInterval",
          "description": "Required. Closed-open range of data points that will be rolled up. The start time must be aligned with the aggregation window. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days."
        },
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        }
      },
      "id": "DailyRollUpDataPointsRequest"
    },
    "VolumeQuantityRollup": {
      "description": "Rollup for volume quantity.",
      "type": "object",
      "properties": {
        "millilitersSum": {
          "description": "Required. The sum of volume in milliliters.",
          "type": "number",
          "format": "double"
        },
        "userProvidedUnitLast": {
          "description": "Optional. The user provided unit on the last element.",
          "type": "string",
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ],
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ]
        }
      },
      "id": "VolumeQuantityRollup"
    },
    "EndpointAuthorization": {
      "id": "EndpointAuthorization",
      "description": "Authorization mechanism for a subscriber endpoint. For all requests sent by the Webhooks service, the JSON payload is cryptographically signed. The signature is delivered in the `X-HEALTHAPI-SIGNATURE` HTTP header. This is an ECDSA (NIST P256) signature of the JSON payload. Clients must verify this signature using Google Health API's public key to confirm the payload was sent by the Health API.",
      "type": "object",
      "properties": {
        "secret": {
          "description": "Required. Input only. Provides a client-provided secret that will be sent with each notification to the subscriber endpoint using the \"Authorization\" header. The value must include the authorization scheme, e.g., \"Bearer \" or \"Basic \", as it will be used as the full Authorization header value. This secret is used by the API to test the endpoint during `CreateSubscriber` and `UpdateSubscriber` calls, and will be sent in the `Authorization` header for all subsequent webhook notifications to this endpoint.",
          "type": "string"
        },
        "secretSet": {
          "readOnly": true,
          "description": "Output only. Whether the secret is set.",
          "type": "boolean"
        }
      }
    },
    "ActivityLevelRollupValue": {
      "id": "ActivityLevelRollupValue",
      "description": "Represents the result of the rollup of the activity level data type.",
      "type": "object",
      "properties": {
        "activityLevelRollupsByActivityLevelType": {
          "items": {
            "$ref": "ActivityLevelRollupByActivityLevelType"
          },
          "description": "List of total durations in each activity level type.",
          "type": "array"
        }
      }
    },
    "DailyVO2Max": {
      "id": "DailyVO2Max",
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise.",
      "type": "object",
      "properties": {
        "estimated": {
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation.",
          "type": "boolean"
        },
        "cardioFitnessLevel": {
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ],
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ],
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max.",
          "type": "string"
        },
        "vo2MaxCovariance": {
          "description": "Optional. The covariance of the VO2 max value.",
          "type": "number",
          "format": "double"
        },
        "date": {
          "description": "Required. The date for which the Daily VO2 max was measured.",
          "$ref": "Date"
        },
        "vo2Max": {
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "WebhookNotificationCloudLog": {
      "id": "WebhookNotificationCloudLog",
      "description": "Log message for a webhook notification sent by the Google Health API to a subscriber's endpoint. Includes the HTTP response received from the endpoint.",
      "type": "object",
      "properties": {
        "httpResponse": {
          "description": "Required. Represents the HTTP response. This message includes the status code, reason phrase, headers, and body.",
          "$ref": "HttpResponse"
        }
      }
    },
    "DataSource": {
      "id": "DataSource",
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it).",
      "type": "object",
      "properties": {
        "application": {
          "readOnly": true,
          "description": "Output only. Captures metadata for the application that provided this data.",
          "$ref": "Application"
        },
        "recordingMethod": {
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ],
          "description": "Optional. Captures how the data was recorded.",
          "type": "string"
        },
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        },
        "platform": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ],
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "description": "Output only. Captures the platform that uploaded the data."
        }
      }
    },
    "TimeInHeartRateZoneRollupValue": {
      "description": "Represents the result of the rollup of the time in heart rate zone data type.",
      "type": "object",
      "properties": {
        "timeInHeartRateZones": {
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          },
          "description": "List of time spent in each heart rate zone.",
          "type": "array"
        }
      },
      "id": "TimeInHeartRateZoneRollupValue"
    },
    "RollUpDataPointsRequest": {
      "id": "RollUpDataPointsRequest",
      "description": "Request to roll up data points by physical time intervals.",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "Interval",
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days."
        },
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer",
          "format": "int32"
        },
        "windowSize": {
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "Settings": {
      "id": "Settings",
      "description": "Settings details.",
      "type": "object",
      "properties": {
        "utcOffset": {
          "description": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported.",
          "type": "string",
          "format": "google-duration"
        },
        "strideLengthRunningType": {
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported.",
          "type": "string"
        },
        "glucoseUnit": {
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ],
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string"
        },
        "temperatureUnit": {
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ],
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string"
        },
        "waterUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ],
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ]
        },
        "distanceUnit": {
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ],
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        },
        "weightUnit": {
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ],
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string"
        },
        "swimUnit": {
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ],
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string"
        },
        "languageLocale": {
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "strideLengthWalkingType": {
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "type": "string"
        },
        "autoStrideEnabled": {
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported.",
          "type": "boolean"
        },
        "heightUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ],
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ]
        }
      }
    },
    "ReconciledDataPoint": {
      "description": "A reconciled computed or recorded metric.",
      "type": "object",
      "properties": {
        "dailyRestingHeartRate": {
          "$ref": "DailyRestingHeartRate",
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection."
        },
        "dataPointName": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "steps": {
          "description": "Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "altitude": {
          "$ref": "Altitude",
          "description": "Data for points in the `altitude` interval data type collection."
        },
        "dailyRespiratoryRate": {
          "$ref": "DailyRespiratoryRate",
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection."
        },
        "exercise": {
          "$ref": "Exercise",
          "description": "Data for points in the `exercise` session data type collection."
        },
        "sleep": {
          "$ref": "Sleep",
          "description": "Data for points in the `sleep` session data type collection."
        },
        "dailySleepTemperatureDerivations": {
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "weight": {
          "$ref": "Weight",
          "description": "Data for points in the `weight` sample data type collection."
        },
        "activityLevel": {
          "$ref": "ActivityLevel",
          "description": "Data for points in the `activity-level` daily data type collection."
        },
        "sedentaryPeriod": {
          "$ref": "SedentaryPeriod",
          "description": "Data for points in the `sedentary-period` interval data type collection."
        },
        "activeMinutes": {
          "description": "Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutes",
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes."
        },
        "floors": {
          "description": "Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "respiratoryRateSleepSummary": {
          "$ref": "RespiratoryRateSleepSummary",
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection."
        },
        "bodyFat": {
          "description": "Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "dailyVo2Max": {
          "$ref": "DailyVO2Max",
          "description": "Data for points in the `daily-vo2-max` daily data type collection."
        },
        "swimLengthsData": {
          "description": "Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "dailyHeartRateVariability": {
          "$ref": "DailyHeartRateVariability",
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection."
        },
        "vo2Max": {
          "description": "Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "hydrationLog": {
          "description": "Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "oxygenSaturation": {
          "$ref": "OxygenSaturation",
          "description": "Data for points in the `oxygen-saturation` sample data type collection."
        },
        "timeInHeartRateZone": {
          "$ref": "TimeInHeartRateZone",
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection."
        },
        "heartRate": {
          "description": "Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "dailyOxygenSaturation": {
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "distance": {
          "description": "Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "heartRateVariability": {
          "description": "Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "height": {
          "$ref": "Height",
          "description": "Data for points in the `height` sample data type collection."
        },
        "runVo2Max": {
          "description": "Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "dailyHeartRateZones": {
          "$ref": "DailyHeartRateZones",
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection."
        }
      },
      "id": "ReconciledDataPoint"
    },
    "VolumeQuantity": {
      "id": "VolumeQuantity",
      "description": "Represents the volume quantity.",
      "type": "object",
      "properties": {
        "userProvidedUnit": {
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ],
          "description": "Optional. Value representing the user provided unit.",
          "type": "string"
        },
        "milliliters": {
          "description": "Required. Value representing the volume in milliliters.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "Distance": {
      "description": "Distance traveled over an interval of time.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "millimeters": {
          "description": "Required. Distance in millimeters over the observed interval.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Distance"
    },
    "ListDataPointsResponse": {
      "id": "ListDataPointsResponse",
      "description": "Response containing raw data points matching the query",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        },
        "dataPoints": {
          "items": {
            "$ref": "DataPoint"
          },
          "description": "Data points matching the query",
          "type": "array"
        }
      }
    },
    "SwimLengthsData": {
      "id": "SwimLengthsData",
      "description": "Swim lengths data over the time interval.",
      "type": "object",
      "properties": {
        "strokeCount": {
          "description": "Required. Number of strokes in the lap.",
          "type": "string",
          "format": "int64"
        },
        "swimStrokeType": {
          "description": "Required. Swim stroke type.",
          "type": "string",
          "enum": [
            "SWIM_STROKE_TYPE_UNSPECIFIED",
            "FREESTYLE",
            "BACKSTROKE",
            "BREASTSTROKE",
            "BUTTERFLY"
          ],
          "enumDescriptions": [
            "Swim stroke type is unspecified.",
            "Freestyle swim stroke type.",
            "Backstroke swim stroke type.",
            "Breaststroke swim stroke type.",
            "Butterfly swim stroke type."
          ]
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      }
    },
    "CivilTimeInterval": {
      "id": "CivilTimeInterval",
      "description": "Counterpart of google.type.Interval, but using CivilDateTime.",
      "type": "object",
      "properties": {
        "start": {
          "description": "Required. The inclusive start of the range.",
          "$ref": "CivilDateTime"
        },
        "end": {
          "$ref": "CivilDateTime",
          "description": "Required. The exclusive end of the range."
        }
      }
    },
    "Subscriber": {
      "id": "Subscriber",
      "description": "-- Resource Messages -- A subscriber receives notifications from Google Health API.",
      "type": "object",
      "properties": {
        "endpointUri": {
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during CreateSubscriber and UpdateSubscriber calls. See RPC documentation for verification details.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the subscriber was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef",
          "type": "string"
        },
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for a subscriber endpoint. This is required to ensure the endpoint can be verified.",
          "$ref": "EndpointAuthorization"
        },
        "subscriberConfigs": {
          "items": {
            "$ref": "SubscriberConfig"
          },
          "description": "Optional. Configuration for the subscriber.",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the subscriber was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the subscriber.",
          "enumDescriptions": [
            "Represents an unspecified subscriber state.",
            "Represents an unverified subscriber. This is the initial state of the subscriber when it is created. The backend will verify the subscriber's endpoint_uri.",
            "Represents an active subscriber. The endpoint has been verified.",
            "Represents an inactive subscriber."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNVERIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        }
      }
    },
    "Profile": {
      "description": "Profile details.",
      "type": "object",
      "properties": {
        "userConfiguredWalkingStrideLengthMm": {
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer",
          "format": "int32"
        },
        "autoRunningStrideLengthMm": {
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "membershipStartDate": {
          "readOnly": true,
          "$ref": "Date",
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported."
        },
        "name": {
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "age": {
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported.",
          "type": "integer",
          "format": "int32"
        },
        "autoWalkingStrideLengthMm": {
          "readOnly": true,
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer",
          "format": "int32"
        },
        "userConfiguredRunningStrideLengthMm": {
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Profile"
    },
    "SplitSummary": {
      "id": "SplitSummary",
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required. Lap start time",
          "type": "string",
          "format": "google-datetime"
        },
        "activeDuration": {
          "readOnly": true,
          "description": "Output only. Lap time excluding the pauses.",
          "type": "string",
          "format": "google-duration"
        },
        "endUtcOffset": {
          "description": "Required. Lap end time offset from UTC",
          "type": "string",
          "format": "google-duration"
        },
        "startUtcOffset": {
          "description": "Required. Lap start time offset from UTC",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Required. Lap end time",
          "type": "string",
          "format": "google-datetime"
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this split.",
          "$ref": "MetricsSummary"
        },
        "splitType": {
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ],
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "AltitudeRollupValue": {
      "id": "AltitudeRollupValue",
      "description": "Represents the result of the rollup of the user's altitude.",
      "type": "object",
      "properties": {
        "gainMillimetersSum": {
          "description": "Sum of the altitude gain in millimeters.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DailyOxygenSaturation": {
      "description": "A daily oxygen saturation (SpO2) record. Represents the user's daily oxygen saturation summary, typically calculated during sleep.",
      "type": "object",
      "properties": {
        "upperBoundPercentage": {
          "description": "Required. The upper bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number",
          "format": "double"
        },
        "date": {
          "description": "Required. Date (in user's timezone) of the daily oxygen saturation record.",
          "$ref": "Date"
        },
        "averagePercentage": {
          "description": "Required. The average value of the oxygen saturation samples during the sleep.",
          "type": "number",
          "format": "double"
        },
        "lowerBoundPercentage": {
          "description": "Required. The lower bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number",
          "format": "double"
        },
        "standardDeviationPercentage": {
          "description": "Optional. Standard deviation of the daily oxygen saturation averages from the past 7-30 days.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "DailyOxygenSaturation"
    },
    "HydrationLogRollupValue": {
      "description": "Represents the result of the rollup of the hydration log data type.",
      "type": "object",
      "properties": {
        "amountConsumed": {
          "description": "Rollup for amount consumed.",
          "$ref": "VolumeQuantityRollup"
        }
      },
      "id": "HydrationLogRollupValue"
    },
    "SubscriberConfig": {
      "id": "SubscriberConfig",
      "description": "Configuration for a subscriber. A notification is sent to a subscription ONLY if the subscriber has a config for the data type.",
      "type": "object",
      "properties": {
        "subscriptionCreatePolicy": {
          "description": "Required. Policy for subscription creation.",
          "type": "string",
          "enum": [
            "SUBSCRIPTION_CREATE_POLICY_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Represents an unspecified policy.",
            "When using `AUTOMATIC`, individual subscriptions are not created or stored. Instead, eligibility for notifications is computed dynamically. When a data update occurs for a given data type, notifications are sent to all subscribers with an `AUTOMATIC` policy for that data type, provided the user has granted the necessary consents. This means you do not need to call `CreateSubscription` for each user; notifications are managed automatically based on user consents. As `Subscription` resources are not stored, they cannot be retrieved or managed through `GetSubscription`, `ListSubscriptions`, `UpdateSubscription`, or `DeleteSubscription`.",
            "Requires subscriptions to be created manually for new users. The developer needs to call CreateSubscription for new users."
          ]
        },
        "dataTypes": {
          "items": {
            "type": "string"
          },
          "description": "Required. Supported data types are: \"altitude\", \"distance\", \"floors\", \"sleep\", \"steps\", \"weight\". Values should be in kebab-case.",
          "type": "array"
        }
      }
    },
    "Application": {
      "description": "Optional metadata for the application that provided this data.",
      "type": "object",
      "properties": {
        "packageName": {
          "readOnly": true,
          "description": "Output only. A unique identifier for the mobile application that was the source of the data. This is typically the application's package name on Android (e.g., `com.google.fitbit`) or the bundle ID on iOS. This field is informational and helps trace data origin. This field is system-populated when the data is uploaded from the Fitbit mobile application, Health Connect or Health Kit.",
          "type": "string"
        },
        "webClientId": {
          "readOnly": true,
          "description": "Output only. The client ID of the application that recorded the data. This ID is a legacy Fitbit API client ID, which is different from a Google OAuth client ID. Example format: `ABC123`. This field is system-populated and used for tracing data from legacy Fitbit API integrations. This field is system-populated when the data is uploaded from a legacy Fitbit API integration.",
          "type": "string"
        },
        "googleWebClientId": {
          "description": "Output only. The Google OAuth 2.0 client ID of the web application or service that recorded the data. This is the client ID used during the Google OAuth flow to obtain user credentials. This field is system-populated when the data is uploaded from Google Web API.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Application"
    },
    "TotalCaloriesRollupValue": {
      "id": "TotalCaloriesRollupValue",
      "description": "Represents the result of the rollup of the user's total calories.",
      "type": "object",
      "properties": {
        "kcalSum": {
          "description": "Sum of the total calories in kilocalories.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "HeartRateZone": {
      "description": "The heart rate zone.",
      "type": "object",
      "properties": {
        "minBeatsPerMinute": {
          "description": "Required. Minimum heart rate for this zone in beats per minute.",
          "type": "string",
          "format": "int64"
        },
        "heartRateZoneType": {
          "description": "Required. The heart rate zone type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        },
        "maxBeatsPerMinute": {
          "description": "Required. Maximum heart rate for this zone in beats per minute.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "HeartRateZone"
    },
    "SleepStage": {
      "id": "SleepStage",
      "description": "Sleep stage segment.",
      "type": "object",
      "properties": {
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Required. Sleep stage end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last update time of this sleep stages segment.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "description": "Required. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "type": "string"
        },
        "startTime": {
          "description": "Required. Sleep stage start time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Creation time of this sleep stages segment.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "type": "object",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMin": {
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "type": "number",
          "format": "double"
        },
        "averageHeartRateVariabilityMillisecondsMax": {
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ExportExerciseTcxResponse": {
      "id": "ExportExerciseTcxResponse",
      "description": "Represents a Response for exporting exercise data in TCX format.",
      "type": "object",
      "properties": {
        "tcxData": {
          "description": "Contains the exported TCX data.",
          "type": "string"
        }
      }
    },
    "SleepSummary": {
      "description": " Sleep summary: metrics and stages summary.",
      "type": "object",
      "properties": {
        "minutesAsleep": {
          "readOnly": true,
          "description": "Output only. Total number of minutes asleep. For classic sleep it is the sum of ASLEEP stages (excluding AWAKE and RESTLESS). For \"stages\" sleep it is the sum of LIGHT, REM and DEEP stages (excluding AWAKE).",
          "type": "string",
          "format": "int64"
        },
        "minutesToFallAsleep": {
          "readOnly": true,
          "description": "Output only. Minutes to fall asleep calculated by restlessness algorithm.",
          "type": "string",
          "format": "int64"
        },
        "minutesInSleepPeriod": {
          "readOnly": true,
          "description": "Output only. Delta between wake time and bedtime. It is the sum of all stages.",
          "type": "string",
          "format": "int64"
        },
        "minutesAfterWakeUp": {
          "readOnly": true,
          "description": "Output only. Minutes after wake up calculated by restlessness algorithm.",
          "type": "string",
          "format": "int64"
        },
        "stagesSummary": {
          "description": "Output only. List of summaries (total duration and segment count) per each sleep stage type.",
          "type": "array",
          "items": {
            "$ref": "StageSummary"
          },
          "readOnly": true
        },
        "minutesAwake": {
          "readOnly": true,
          "description": "Output only. Total number of minutes awake. It is a sum of all AWAKE stages.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SleepSummary"
    },
    "CaloriesInHeartRateZoneValue": {
      "id": "CaloriesInHeartRateZoneValue",
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone.",
      "type": "object",
      "properties": {
        "heartRateZone": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "The heart rate zone.",
          "type": "string"
        },
        "kcal": {
          "description": "The amount of kilocalories burned in the specified heart rate zone.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "CivilDateTime": {
      "id": "CivilDateTime",
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries.",
      "type": "object",
      "properties": {
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        },
        "date": {
          "description": "Required. Calendar date.",
          "$ref": "Date"
        }
      }
    },
    "Weight": {
      "id": "Weight",
      "description": "Body weight measurement.",
      "type": "object",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which the weight was measured"
        },
        "weightGrams": {
          "description": "Required. Weight of a user in grams.",
          "type": "number",
          "format": "double"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        }
      }
    },
    "CreateSubscriberPayload": {
      "description": "Payload for creating a subscriber.",
      "type": "object",
      "properties": {
        "endpointUri": {
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during the `CreateSubscriber` call. See CreateSubscriber RPC documentation for verification details.",
          "type": "string"
        },
        "subscriberConfigs": {
          "description": "Optional. Configuration for the subscriber.",
          "type": "array",
          "items": {
            "$ref": "SubscriberConfig"
          }
        },
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for the subscriber endpoint. The `secret` within this message is crucial for endpoint verification and for securing webhook notifications.",
          "$ref": "EndpointAuthorization"
        }
      },
      "id": "CreateSubscriberPayload"
    },
    "HeartRate": {
      "description": "A heart rate measurement.",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. Observation time",
          "$ref": "ObservationSampleTime"
        },
        "metadata": {
          "description": "Optional. Metadata about the heart rate sample.",
          "$ref": "HeartRateMetadata"
        },
        "beatsPerMinute": {
          "description": "Required. The heart rate value in beats per minute.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "HeartRate"
    },
    "DataPoint": {
      "description": "A computed or recorded metric.",
      "type": "object",
      "properties": {
        "hydrationLog": {
          "$ref": "HydrationLog",
          "description": "Optional. Data for points in the `hydration-log` session data type collection."
        },
        "oxygenSaturation": {
          "$ref": "OxygenSaturation",
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection."
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "dataSource": {
          "$ref": "DataSource",
          "description": "Optional. Data source information for the metric"
[...]
