{
  "id": "health:v4",
  "ownerDomain": "google.com",
  "version_module": true,
  "name": "health",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "canonicalName": "Google Health API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "batchPath": "batch",
  "ownerName": "Google",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://health.googleapis.com/",
  "version": "v4",
  "servicePath": "",
  "baseUrl": "https://health.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Floors": {
      "id": "Floors",
      "properties": {
        "interval": {
          "description": "Required. Observed interval",
          "$ref": "ObservationTimeInterval"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Required. Number of floors in the recorded interval"
        }
      },
      "type": "object",
      "description": "Gained elevation measured in floors over the time interval"
    },
    "ActivityLevel": {
      "description": "Internal type to capture activity level during a certain time interval.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activityLevelType": {
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "description": "Required. Activity level type in the given time interval.",
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ]
        }
      },
      "id": "ActivityLevel"
    },
    "TotalCaloriesRollupValue": {
      "type": "object",
      "description": "Represents the result of the rollup of the user's total calories.",
      "id": "TotalCaloriesRollupValue",
      "properties": {
        "kcalSum": {
          "type": "number",
          "description": "Sum of the total calories in kilocalories.",
          "format": "double"
        }
      }
    },
    "Application": {
      "type": "object",
      "description": "Optional metadata for the application that provided this data.",
      "id": "Application",
      "properties": {
        "googleWebClientId": {
          "readOnly": true,
          "description": "Output only. The Google OAuth 2.0 client ID of the web application or service that recorded the data. This is the client ID used during the Google OAuth flow to obtain user credentials. This field is system-populated when the data is uploaded from Google Web API.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Output only. A unique identifier for the mobile application that was the source of the data. This is typically the application's package name on Android (e.g., `com.google.fitbit`) or the bundle ID on iOS. This field is informational and helps trace data origin. This field is system-populated when the data is uploaded from the Fitbit mobile application, Health Connect or Health Kit.",
          "readOnly": true
        },
        "webClientId": {
          "readOnly": true,
          "description": "Output only. The client ID of the application that recorded the data. This ID is a legacy Fitbit API client ID, which is different from a Google OAuth client ID. Example format: `ABC123`. This field is system-populated and used for tracing data from legacy Fitbit API integrations. This field is system-populated when the data is uploaded from a legacy Fitbit API integration.",
          "type": "string"
        }
      }
    },
    "MetricsSummary": {
      "id": "MetricsSummary",
      "properties": {
        "elevationGainMillimeters": {
          "description": "Optional. Total elevation gain during the exercise.",
          "type": "number",
          "format": "double"
        },
        "mobilityMetrics": {
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises.",
          "$ref": "MobilityMetrics"
        },
        "caloriesKcal": {
          "type": "number",
          "description": "Optional. Total calories burned by the user during the exercise.",
          "format": "double"
        },
        "averagePaceSecondsPerMeter": {
          "format": "double",
          "type": "number",
          "description": "Optional. Average pace in seconds per meter."
        },
        "totalSwimLengths": {
          "format": "double",
          "type": "number",
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise."
        },
        "runVo2Max": {
          "format": "double",
          "type": "number",
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise."
        },
        "distanceMillimeters": {
          "description": "Optional. Total distance covered by the user during the exercise.",
          "type": "number",
          "format": "double"
        },
        "averageSpeedMillimetersPerSecond": {
          "format": "double",
          "description": "Optional. Average speed in millimeters per second.",
          "type": "number"
        },
        "heartRateZoneDurations": {
          "description": "Optional. Time spent in each heart rate zone.",
          "$ref": "TimeInHeartRateZones"
        },
        "activeZoneMinutes": {
          "format": "int64",
          "description": "Optional. Total active zone minutes for the exercise.",
          "type": "string"
        },
        "steps": {
          "type": "string",
          "description": "Optional. Total steps taken during the exercise.",
          "format": "int64"
        },
        "averageHeartRateBeatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Average heart rate during the exercise."
        }
      },
      "type": "object",
      "description": "Summary metrics for an exercise."
    },
    "ExerciseMetadata": {
      "type": "object",
      "description": "Additional exercise metadata.",
      "id": "ExerciseMetadata",
      "properties": {
        "poolLengthMillimeters": {
          "type": "string",
          "description": "Optional. Pool length in millimeters. Only present in the swimming exercises.",
          "format": "int64"
        },
        "hasGps": {
          "description": "Optional. Whether the exercise had GPS tracking.",
          "type": "boolean"
        }
      }
    },
    "RollUpDataPointsResponse": {
      "type": "object",
      "description": "Response containing the list of rolled up data points.",
      "id": "RollUpDataPointsResponse",
      "properties": {
        "rollupDataPoints": {
          "description": "Values for each aggregation time window.",
          "items": {
            "$ref": "RollupDataPoint"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "RollupDataPoint": {
      "description": "Value of a rollup for a single physical time interval (aggregation window)",
      "type": "object",
      "properties": {
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of the window this value aggregates over"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "startTime": {
          "description": "Start time of the window this value aggregates over",
          "type": "string",
          "format": "google-datetime"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        }
      },
      "id": "RollupDataPoint"
    },
    "ActiveMinutesRollupByActivityLevel": {
      "id": "ActiveMinutesRollupByActivityLevel",
      "properties": {
        "activeMinutesSum": {
          "format": "int64",
          "type": "string",
          "description": "Number of whole minutes spent in activity."
        },
        "activityLevel": {
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "description": "The level of activity.",
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ]
        }
      },
      "type": "object",
      "description": "Active minutes by activity level."
    },
    "FloorsRollupValue": {
      "type": "object",
      "description": "Represents the result of the rollup of the user's floors.",
      "id": "FloorsRollupValue",
      "properties": {
        "countSum": {
          "format": "int64",
          "description": "Sum of the floors count.",
          "type": "string"
        }
      }
    },
    "ReconciledDataPoint": {
      "description": "A reconciled computed or recorded metric.",
      "type": "object",
      "properties": {
        "heartRate": {
          "description": "Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "hydrationLog": {
          "description": "Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "floors": {
          "description": "Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "distance": {
          "description": "Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "respiratoryRateSleepSummary": {
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "vo2Max": {
          "description": "Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "heartRateVariability": {
          "description": "Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "steps": {
          "description": "Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "exercise": {
          "description": "Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "bodyFat": {
          "description": "Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "sedentaryPeriod": {
          "description": "Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "dailyRestingHeartRate": {
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "altitude": {
          "description": "Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "oxygenSaturation": {
          "description": "Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailyOxygenSaturation": {
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "dataPointName": {
          "type": "string",
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens."
        },
        "dailyVo2Max": {
          "description": "Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "timeInHeartRateZone": {
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "weight": {
          "description": "Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "activityLevel": {
          "description": "Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "activeMinutes": {
          "description": "Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "dailyHeartRateVariability": {
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "runVo2Max": {
          "description": "Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "dailyRespiratoryRate": {
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "sleep": {
          "description": "Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "dailyHeartRateZones": {
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "activeZoneMinutes": {
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        }
      },
      "id": "ReconciledDataPoint"
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "type": "object",
      "properties": {
        "caloriesInHeartRateZones": {
          "type": "array",
          "description": "List of calories burned in each heart rate zone.",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          }
        }
      },
      "id": "CaloriesInHeartRateZoneRollupValue"
    },
    "Altitude": {
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "gainMillimeters": {
          "description": "Required. Altitude gain in millimeters over the observed interval.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Altitude",
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "type": "object"
    },
    "ListDataPointsResponse": {
      "id": "ListDataPointsResponse",
      "properties": {
        "dataPoints": {
          "type": "array",
          "description": "Data points matching the query",
          "items": {
            "$ref": "DataPoint"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token, empty if the response is complete"
        }
      },
      "type": "object",
      "description": "Response containing raw data points matching the query"
    },
    "TimeInHeartRateZoneValue": {
      "id": "TimeInHeartRateZoneValue",
      "properties": {
        "heartRateZone": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "type": "string",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "The heart rate zone."
        },
        "duration": {
          "description": "The total time spent in the specified heart rate zone.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Represents the total time spent in a specific heart rate zone."
    },
    "OxygenSaturation": {
      "properties": {
        "percentage": {
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100.",
          "type": "number",
          "format": "double"
        },
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        }
      },
      "id": "OxygenSaturation",
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2).",
      "type": "object"
    },
    "ObservationSampleTime": {
      "description": "Represents a sample time of an observed data point.",
      "type": "object",
      "properties": {
        "physicalTime": {
          "format": "google-datetime",
          "description": "Required. The time of the observation.",
          "type": "string"
        },
        "civilTime": {
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "utcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        }
      },
      "id": "ObservationSampleTime"
    },
    "HeartRate": {
      "properties": {
        "beatsPerMinute": {
          "type": "string",
          "description": "Required. The heart rate value in beats per minute.",
          "format": "int64"
        },
        "sampleTime": {
          "description": "Required. Observation time",
          "$ref": "ObservationSampleTime"
        },
        "metadata": {
          "description": "Optional. Metadata about the heart rate sample.",
          "$ref": "HeartRateMetadata"
        }
      },
      "id": "HeartRate",
      "description": "A heart rate measurement.",
      "type": "object"
    },
    "WeightRollupValue": {
      "description": "Represents the result of the rollup of the weight data type.",
      "type": "object",
      "properties": {
        "weightGramsAvg": {
          "format": "double",
          "description": "Average weight in grams.",
          "type": "number"
        }
      },
      "id": "WeightRollupValue"
    },
    "TimeOfDay": {
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "properties": {
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        }
      }
    },
    "DailyRollUpDataPointsRequest": {
      "description": "Request to roll up data points by civil time intervals.",
      "type": "object",
      "properties": {
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The `next_page_token` from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified."
        },
        "windowSizeDays": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Aggregation window size, in number of days. Defaults to 1 if not specified."
        },
        "pageSize": {
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer",
          "format": "int32"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The start time must be aligned with the aggregation window. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "CivilTimeInterval"
        }
      },
      "id": "DailyRollUpDataPointsRequest"
    },
    "BatchDeleteDataPointsRequest": {
      "description": "Request to delete a batch of identifiable data points.",
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "BatchDeleteDataPointsRequest"
    },
    "ActiveZoneMinutesRollupValue": {
      "description": "Represents the result of the rollup of the active zone minutes data type.",
      "type": "object",
      "properties": {
        "sumInCardioHeartZone": {
          "type": "string",
          "description": "Active zone minutes in `HeartRateZone.CARDIO`.",
          "format": "int64"
        },
        "sumInPeakHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.PEAK`.",
          "type": "string",
          "format": "int64"
        },
        "sumInFatBurnHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.FAT_BURN`.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ActiveZoneMinutesRollupValue"
    },
    "DailyHeartRateZones": {
      "id": "DailyHeartRateZones",
      "properties": {
        "heartRateZones": {
          "type": "array",
          "description": "Required. The heart rate zones.",
          "items": {
            "$ref": "HeartRateZone"
          }
        },
        "date": {
          "description": "Required. Date (in user's timezone) of the heart rate zones record.",
          "$ref": "Date"
        }
      },
      "type": "object",
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day."
    },
    "BodyFat": {
      "description": "Body fat measurement.",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which body fat was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "format": "double",
          "type": "number",
          "description": "Required. Body fat percentage, in range [0, 100]."
        }
      },
      "id": "BodyFat"
    },
    "DataSource": {
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it).",
      "type": "object",
      "properties": {
        "recordingMethod": {
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "type": "string",
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ],
          "description": "Optional. Captures how the data was recorded."
        },
        "platform": {
          "description": "Output only. Captures the platform that uploaded the data.",
          "type": "string",
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "readOnly": true,
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ]
        },
        "application": {
          "$ref": "Application",
          "readOnly": true,
          "description": "Output only. Captures metadata for the application that provided this data."
        },
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        }
      },
      "id": "DataSource"
    },
    "StepsRollupValue": {
      "properties": {
        "countSum": {
          "format": "int64",
          "description": "Total number of steps in the interval.",
          "type": "string"
        }
      },
      "id": "StepsRollupValue",
      "description": "Represents the result of the rollup of the steps data type.",
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "RollUpDataPointsRequest": {
      "id": "RollUpDataPointsRequest",
      "properties": {
        "dataSourceFamily": {
          "type": "string",
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources"
        },
        "windowSize": {
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions.",
          "type": "string",
          "format": "google-duration"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified."
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "Interval"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly."
        }
      },
      "type": "object",
      "description": "Request to roll up data points by physical time intervals."
    },
    "DailyRestingHeartRate": {
      "type": "object",
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "id": "DailyRestingHeartRate",
      "properties": {
        "beatsPerMinute": {
          "type": "string",
          "description": "Required. The resting heart rate value in beats per minute.",
          "format": "int64"
        },
        "dailyRestingHeartRateMetadata": {
          "description": "Optional. Metadata for the daily resting heart rate.",
          "$ref": "DailyRestingHeartRateMetadata"
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement.",
          "$ref": "Date"
        }
      }
    },
    "ActivityLevelRollupByActivityLevelType": {
      "properties": {
        "activityLevelType": {
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "description": "Activity level type.",
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ]
        },
        "totalDuration": {
          "description": "Total duration in the activity level type.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "ActivityLevelRollupByActivityLevelType",
      "description": "Represents the total duration in a specific activity level type.",
      "type": "object"
    },
    "CivilTimeInterval": {
      "properties": {
        "start": {
          "description": "Required. The inclusive start of the range.",
          "$ref": "CivilDateTime"
        },
        "end": {
          "description": "Required. The exclusive end of the range.",
          "$ref": "CivilDateTime"
        }
      },
      "id": "CivilTimeInterval",
      "description": "Counterpart of google.type.Interval, but using CivilDateTime.",
      "type": "object"
    },
    "MobilityMetrics": {
      "description": "Mobility workouts specific metrics",
      "type": "object",
      "properties": {
        "avgStrideLengthMillimeters": {
          "description": "Optional. Stride length is a measure of the distance covered by a single stride",
          "type": "string",
          "format": "int64"
        },
        "avgVerticalOscillationMillimeters": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running"
        },
        "avgCadenceStepsPerMinute": {
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout.",
          "type": "number",
          "format": "double"
        },
        "avgVerticalRatio": {
          "format": "double",
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0].",
          "type": "number"
        },
        "avgGroundContactTimeDuration": {
          "format": "google-duration",
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride",
          "type": "string"
        }
      },
      "id": "MobilityMetrics"
    },
    "ExerciseEvent": {
      "properties": {
        "eventTime": {
          "type": "string",
          "description": "Required. Exercise event time",
          "format": "google-datetime"
        },
        "eventUtcOffset": {
          "type": "string",
          "description": "Required. Exercise event time offset from UTC",
          "format": "google-duration"
        },
        "exerciseEventType": {
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ],
          "type": "string",
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ],
          "description": "Required. The type of the event, such as start, stop, pause, resume."
        }
      },
      "id": "ExerciseEvent",
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split.",
      "type": "object"
    },
    "BodyFatRollupValue": {
      "id": "BodyFatRollupValue",
      "properties": {
        "bodyFatPercentageAvg": {
          "format": "double",
          "description": "Average body fat percentage.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the body fat data type."
    },
    "ExportExerciseTcxResponse": {
      "type": "object",
      "description": "Represents a Response for exporting exercise data in TCX format.",
      "id": "ExportExerciseTcxResponse",
      "properties": {
        "tcxData": {
          "type": "string",
          "description": "Contains the exported TCX data."
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "HeartRateRollupValue": {
      "id": "HeartRateRollupValue",
      "properties": {
        "beatsPerMinuteMin": {
          "format": "double",
          "description": "The minimum heart rate value in the interval.",
          "type": "number"
        },
        "beatsPerMinuteMax": {
          "format": "double",
          "type": "number",
          "description": "The maximum heart rate value in the interval."
        },
        "beatsPerMinuteAvg": {
          "description": "The average heart rate value in the interval.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the heart rate data type."
    },
    "ActiveMinutes": {
      "type": "object",
      "description": "Record of active minutes in a given time interval.",
      "id": "ActiveMinutes",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeMinutesByActivityLevel": {
          "type": "array",
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          }
        }
      }
    },
    "Identity": {
      "description": "Represents details about the Google user's identity.",
      "type": "object",
      "properties": {
        "legacyUserId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens."
        },
        "name": {
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`",
          "type": "string"
        },
        "healthUserId": {
          "readOnly": true,
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "type": "string"
        }
      },
      "id": "Identity"
    },
    "SedentaryPeriodRollupValue": {
      "description": "Represents the result of the rollup of the user's sedentary periods.",
      "type": "object",
      "properties": {
        "durationSum": {
          "type": "string",
          "description": "The total time user spent sedentary during the interval.",
          "format": "google-duration"
        }
      },
      "id": "SedentaryPeriodRollupValue"
    },
    "DailyRollupDataPoint": {
      "properties": {
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "civilStartTime": {
          "description": "Start time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "heartRateVariabilityPersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier.",
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "civilEndTime": {
          "description": "End time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "restingHeartRatePersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier.",
          "$ref": "RestingHeartRatePersonalRangeRollupValue"
        }
      },
      "id": "DailyRollupDataPoint",
      "description": "Value of a daily rollup for a single civil time interval (aggregation window)",
      "type": "object"
    },
    "OutOfBedSegment": {
      "id": "OutOfBedSegment",
      "properties": {
        "endUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the segment relative to the Coordinated Universal Time (UTC)."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Segment tart time."
        },
        "startUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the segment relative to the Coordinated Universal Time (UTC)."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Required. Segment end time.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A time interval to represent an out-of-bed segment."
    },
    "ActiveMinutesByActivityLevel": {
      "type": "object",
      "description": "Active minutes at a given activity level.",
      "id": "ActiveMinutesByActivityLevel",
      "properties": {
        "activityLevel": {
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "description": "Required. The level of activity."
        },
        "activeMinutes": {
          "description": "Required. Number of whole minutes spent in activity.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DailyRespiratoryRate": {
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep.",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. The date on which the respiratory rate was measured.",
          "$ref": "Date"
        },
        "breathsPerMinute": {
          "type": "number",
          "description": "Required. The average number of breaths taken per minute.",
          "format": "double"
        }
      },
      "id": "DailyRespiratoryRate"
    },
    "DailyRestingHeartRateMetadata": {
      "type": "object",
      "description": "Metadata for the daily resting heart rate.",
      "id": "DailyRestingHeartRateMetadata",
      "properties": {
        "calculationMethod": {
          "type": "string",
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ],
          "description": "Required. The method used to calculate the resting heart rate.",
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ]
        }
      }
    },
    "Steps": {
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Required. Number of steps in the recorded interval."
        }
      },
      "id": "Steps",
      "description": "Step count over the time interval.",
      "type": "object"
    },
    "HeartRateVariability": {
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN).",
      "type": "object",
      "properties": {
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Fitbit.",
          "type": "number",
          "format": "double"
        },
        "standardDeviationMilliseconds": {
          "format": "double",
          "type": "number",
          "description": "Optional. The standard deviation of the heart rate variability measurement."
        },
        "sampleTime": {
          "description": "Required. The time of the heart rate variability measurement.",
          "$ref": "ObservationSampleTime"
        }
      },
      "id": "HeartRateVariability"
    },
    "HydrationLog": {
      "type": "object",
      "description": "Holds information about a user logged hydration.",
      "id": "HydrationLog",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "SessionTimeInterval"
        },
        "amountConsumed": {
          "description": "Required. Amount of liquid (ex. water) consumed.",
          "$ref": "VolumeQuantity"
        }
      }
    },
    "Exercise": {
      "properties": {
        "splitSummaries": {
          "description": "Optional. Laps or splits recorded within an exercise. Laps could be split based on distance or other criteria (duration, etc.) Laps should not be overlapping with each other.",
          "items": {
            "$ref": "SplitSummary"
          },
          "type": "array"
        },
        "interval": {
          "description": "Required. Observed exercise interval",
          "$ref": "SessionTimeInterval"
        },
        "splits": {
          "type": "array",
          "description": "Optional. The default split is 1 km or 1 mile. - if the movement distance is less than the default, then there are no splits - if the movement distance is greater than or equal to the default, then we have splits",
          "items": {
            "$ref": "SplitSummary"
          }
        },
        "exerciseEvents": {
          "description": "Optional. Exercise events that happen during an exercise, such as pause & restarts.",
          "items": {
            "$ref": "ExerciseEvent"
          },
          "type": "array"
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this exercise ( )",
          "$ref": "MetricsSummary"
        },
        "displayName": {
          "description": "Required. Exercise display name.",
          "type": "string"
        },
        "exerciseType": {
          "enumDescriptions": [
            "Exercise type is unspecified.",
            "Running type.",
            "Walking type.",
            "Biking type.",
            "Swimming type.",
            "Hiking type.",
            "Yoga type.",
            "Pilates type.",
            "Workout type.",
            "HIIT type.",
            "Weightlifting type.",
            "Strength training type.",
            "Other type."
          ],
          "type": "string",
          "enum": [
            "EXERCISE_TYPE_UNSPECIFIED",
            "RUNNING",
            "WALKING",
            "BIKING",
            "SWIMMING",
            "HIKING",
            "YOGA",
            "PILATES",
            "WORKOUT",
            "HIIT",
            "WEIGHTLIFTING",
            "STRENGTH_TRAINING",
            "OTHER"
          ],
          "description": "Required. The type of activity performed during an exercise."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. This is the timestamp of the last update to the exercise.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Represents the timestamp of the creation of the exercise.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "activeDuration": {
          "description": "Optional. Duration excluding pauses.",
          "type": "string",
          "format": "google-duration"
        },
        "exerciseMetadata": {
          "description": "Optional. Additional exercise metadata.",
          "$ref": "ExerciseMetadata"
        },
        "notes": {
          "type": "string",
          "description": "Optional. Standard free-form notes captured at manual logging."
        }
      },
      "id": "Exercise",
      "description": "An exercise that stores information about a physical activity.",
      "type": "object"
    },
    "TimeInHeartRateZones": {
      "properties": {
        "lightTime": {
          "description": "Optional. Time spent in light heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "peakTime": {
          "description": "Optional. Time spent in peak heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "moderateTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Time spent in moderate heart rate zone."
        },
        "vigorousTime": {
          "type": "string",
          "description": "Optional. Time spent in vigorous heart rate zone.",
          "format": "google-duration"
        }
      },
      "id": "TimeInHeartRateZones",
      "description": "Time spent in each heart rate zone.",
      "type": "object"
    },
    "Profile": {
      "description": "Profile details.",
      "type": "object",
      "properties": {
        "age": {
          "type": "integer",
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported.",
          "format": "int32"
        },
        "autoRunningStrideLengthMm": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`"
        },
        "userConfiguredRunningStrideLengthMm": {
          "format": "int32",
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
        },
        "membershipStartDate": {
          "readOnly": true,
          "$ref": "Date",
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported."
        },
        "userConfiguredWalkingStrideLengthMm": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`"
        },
        "autoWalkingStrideLengthMm": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`"
        }
      },
      "id": "Profile"
    },
    "Sleep": {
      "id": "Sleep",
      "properties": {
        "stages": {
          "type": "array",
          "description": "Optional. List of non-overlapping contiguous sleep stage segments that cover the sleep period.",
          "items": {
            "$ref": "SleepStage"
          }
        },
        "outOfBedSegments": {
          "type": "array",
          "description": "Optional. “Out of bed” segments that can overlap with sleep stages.",
          "items": {
            "$ref": "OutOfBedSegment"
          }
        },
        "summary": {
          "$ref": "SleepSummary",
          "readOnly": true,
          "description": "Output only. Sleep summary: metrics and stages summary."
        },
        "interval": {
          "description": "Required. Observed sleep interval.",
          "$ref": "SessionTimeInterval"
        },
        "type": {
          "enumDescriptions": [
            "Sleep type is unspecified.",
            "Classic sleep is a sleep with 3 stages types: AWAKE, RESTLESS and ASLEEP.",
            "On top of \"classic\" sleep stages an additional processing pass can calculate stages more precisely, overwriting the prior stages with AWAKE, LIGHT, REM and DEEP."
          ],
          "type": "string",
          "enum": [
            "SLEEP_TYPE_UNSPECIFIED",
            "CLASSIC",
            "STAGES"
          ],
          "description": "Optional. SleepType: classic or stages."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this sleep observation."
        },
        "updateTime": {
          "description": "Output only. Last update time of this sleep observation.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "metadata": {
          "description": "Optional. Sleep metadata: processing, main, manually edited, stages status.",
          "$ref": "SleepMetadata"
        }
      },
      "type": "object",
      "description": "A sleep session possibly including stages."
    },
    "SleepMetadata": {
      "id": "SleepMetadata",
      "properties": {
        "externalId": {
          "type": "string",
          "description": "Optional. Sleep identifier relevant in the context of the data source."
        },
        "stagesStatus": {
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ],
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ],
          "readOnly": true,
          "description": "Output only. Sleep stages algorithm processing status.",
          "type": "string"
        },
        "manuallyEdited": {
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users.",
          "type": "boolean",
          "readOnly": true
        },
        "processed": {
          "description": "Output only. Sleep and sleep stages algorithms finished processing.",
          "type": "boolean",
          "readOnly": true
        },
        "nap": {
          "readOnly": true,
          "description": "Output only. Naps are sleeps without stages and relatively short durations.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Additional information about how the sleep was processed."
    },
    "HeartRateZone": {
      "id": "HeartRateZone",
      "properties": {
        "maxBeatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Required. Maximum heart rate for this zone in beats per minute."
        },
        "heartRateZoneType": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "type": "string",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "Required. The heart rate zone type."
        },
        "minBeatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Required. Minimum heart rate for this zone in beats per minute."
        }
      },
      "type": "object",
      "description": "The heart rate zone."
    },
    "SedentaryPeriod": {
      "id": "SedentaryPeriod",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "type": "object",
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device)."
    },
    "RunVO2MaxRollupValue": {
      "id": "RunVO2MaxRollupValue",
      "properties": {
        "rateMax": {
          "type": "number",
          "description": "Maximum value of run VO2 max in the interval.",
          "format": "double"
        },
        "rateAvg": {
          "description": "Average value of run VO2 max in the interval.",
          "type": "number",
          "format": "double"
        },
        "rateMin": {
          "format": "double",
          "type": "number",
          "description": "Minimum value of run VO2 max in the interval.."
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range."
    },
    "RespiratoryRateSleepSummary": {
      "type": "object",
      "description": "Records respiratory rate details during sleep. Can have multiple per day if the user sleeps multiple times.",
      "id": "RespiratoryRateSleepSummary",
      "properties": {
        "deepSleepStats": {
          "description": "Optional. Respiratory rate statistics for deep sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "sampleTime": {
          "description": "Required. The time at which respiratory rate was measured.",
          "$ref": "ObservationSampleTime"
        },
        "lightSleepStats": {
          "description": "Optional. Respiratory rate statistics for light sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "remSleepStats": {
          "description": "Optional. Respiratory rate statistics for REM sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "fullSleepStats": {
          "description": "Required. Full respiratory rate statistics.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        }
      }
    },
    "CivilDateTime": {
      "id": "CivilDateTime",
      "properties": {
        "date": {
          "description": "Required. Calendar date.",
          "$ref": "Date"
        },
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object",
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries."
    },
    "VolumeQuantity": {
      "properties": {
        "milliliters": {
          "description": "Required. Value representing the volume in milliliters.",
          "type": "number",
          "format": "double"
        },
        "userProvidedUnit": {
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "description": "Optional. Value representing the user provided unit.",
          "type": "string",
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        }
      },
      "id": "VolumeQuantity",
      "description": "Represents the volume quantity.",
      "type": "object"
    },
    "DailyRollUpDataPointsResponse": {
      "description": "Response containing the list of rolled up data points.",
      "type": "object",
      "properties": {
        "rollupDataPoints": {
          "type": "array",
          "description": "Values for each aggregation time window.",
          "items": {
            "$ref": "DailyRollupDataPoint"
          }
        }
      },
      "id": "DailyRollUpDataPointsResponse"
    },
    "StageSummary": {
      "description": "Total duration and segment count for a stage.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "type": "string",
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "readOnly": true
        },
        "minutes": {
          "type": "string",
          "description": "Output only. Total duration in minutes of a sleep stage.",
          "readOnly": true,
          "format": "int64"
        },
        "count": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of sleep stages segments."
        }
      },
      "id": "StageSummary"
    },
    "ActiveZoneMinutes": {
      "type": "object",
      "description": "Record of active zone minutes in a given time interval.",
      "id": "ActiveZoneMinutes",
      "properties": {
        "activeZoneMinutes": {
          "format": "int64",
          "description": "Required. Number of Active Zone Minutes earned in the given time interval. Note: active_zone_minutes equals to 1 for low intensity (fat burn) zones or 2 for high intensity zones (cardio, peak).",
          "type": "string"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "heartRateZone": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The fat burn heart rate zone.",
            "The cardio heart rate zone.",
            "The peak heart rate zone."
          ],
          "type": "string",
          "enum": [
            "HEART_RATE_ZONE_UNSPECIFIED",
            "FAT_BURN",
            "CARDIO",
            "PEAK"
          ],
          "description": "Required. Heart rate zone in which the active zone minutes have been earned, in the given time interval."
        }
      }
    },
    "ObservationTimeInterval": {
      "description": "Represents a time interval of an observed data point.",
      "type": "object",
      "properties": {
        "civilEndTime": {
          "$ref": "CivilDateTime",
          "readOnly": true,
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Observed interval start time.",
          "type": "string"
        },
        "endTime": {
          "description": "Required. Observed interval end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "readOnly": true,
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval"
        },
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "ObservationTimeInterval"
    },
    "DistanceRollupValue": {
      "id": "DistanceRollupValue",
      "properties": {
        "millimetersSum": {
          "format": "int64",
          "type": "string",
          "description": "Sum of the distance in millimeters."
        }
      },
      "type": "object",
      "description": "Result of the rollup of the user's distance."
    },
    "ReconcileDataPointsResponse": {
      "description": "Response containing the list of reconciled DataPoints.",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Data points matching the query",
          "items": {
            "$ref": "ReconciledDataPoint"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token, empty if the response is complete"
        }
      },
      "id": "ReconcileDataPointsResponse"
    },
    "Interval": {
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object"
    },
    "HeartRateMetadata": {
      "description": "Heart rate metadata.",
      "type": "object",
      "properties": {
        "motionContext": {
          "type": "string",
          "enum": [
            "MOTION_CONTEXT_UNSPECIFIED",
            "ACTIVE",
            "SEDENTARY"
          ],
          "description": "Optional. Indicates the user’s level of activity when the heart rate sample was measured",
          "enumDescriptions": [
            "The default value when no data is available.",
            "The user is active.",
            "The user is inactive."
          ]
        },
        "sensorLocation": {
          "description": "Optional. Indicates the location of the sensor that measured the heart rate.",
          "type": "string",
          "enum": [
            "SENSOR_LOCATION_UNSPECIFIED",
            "CHEST",
            "WRIST",
            "FINGER",
            "HAND",
            "EAR_LOBE",
            "FOOT"
          ],
          "enumDescriptions": [
            "The default value when no data is available.",
            "Chest sensor.",
            "Wrist sensor.",
            "Finger sensor.",
            "Hand sensor.",
            "Ear lobe sensor.",
            "Foot sensor."
          ]
        }
      },
      "id": "HeartRateMetadata"
    },
    "Settings": {
      "type": "object",
      "description": "Settings details.",
      "id": "Settings",
      "properties": {
        "utcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported."
        },
        "swimUnit": {
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported."
        },
        "distanceUnit": {
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ],
          "type": "string",
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported."
        },
        "heightUnit": {
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ],
          "type": "string",
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings."
        },
        "glucoseUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ]
        },
        "autoStrideEnabled": {
          "type": "boolean",
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported."
        },
        "strideLengthWalkingType": {
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "type": "string",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ]
        },
        "temperatureUnit": {
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ]
        },
        "languageLocale": {
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        },
        "strideLengthRunningType": {
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "type": "string",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported."
        },
        "weightUnit": {
          "type": "string",
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ]
        },
        "waterUnit": {
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ]
        }
      }
    },
    "DailyOxygenSaturation": {
      "description": "A daily oxygen saturation (SpO2) record. Represents the user's daily oxygen saturation summary, typically calculated during sleep.",
      "type": "object",
      "properties": {
        "averagePercentage": {
          "type": "number",
          "description": "Required. The average value of the oxygen saturation samples during the sleep.",
          "format": "double"
        },
        "lowerBoundPercentage": {
          "description": "Required. The lower bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number",
          "format": "double"
        },
        "standardDeviationPercentage": {
          "format": "double",
          "type": "number",
          "description": "Optional. Standard deviation of the daily oxygen saturation averages from the past 7-30 days."
        },
        "date": {
          "description": "Required. Date (in user's timezone) of the daily oxygen saturation record.",
          "$ref": "Date"
        },
        "upperBoundPercentage": {
          "format": "double",
          "description": "Required. The upper bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number"
        }
      },
      "id": "DailyOxygenSaturation"
    },
    "AltitudeRollupValue": {
      "description": "Represents the result of the rollup of the user's altitude.",
      "type": "object",
      "properties": {
        "gainMillimetersSum": {
          "format": "int64",
          "description": "Sum of the altitude gain in millimeters.",
          "type": "string"
        }
      },
      "id": "AltitudeRollupValue"
    },
    "RunVO2Max": {
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the metric was measured.",
          "$ref": "ObservationSampleTime"
        },
        "runVo2Max": {
          "format": "double",
          "description": "Required. Run VO2 max value in ml/kg/min.",
          "type": "number"
        }
      },
      "id": "RunVO2Max",
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min.",
      "type": "object"
    },
    "ActiveMinutesRollupValue": {
      "id": "ActiveMinutesRollupValue",
      "properties": {
        "activeMinutesRollupByActivityLevel": {
          "type": "array",
          "description": "Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesRollupByActivityLevel"
          }
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the active minutes data type."
    },
    "Distance": {
      "id": "Distance",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "millimeters": {
          "description": "Required. Distance in millimeters over the observed interval.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Distance traveled over an interval of time."
    },
    "TimeInHeartRateZone": {
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "heartRateZoneType": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "description": "Required. Heart rate zone type.",
          "type": "string",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        }
      },
      "id": "TimeInHeartRateZone",
      "description": "Time in heart rate zone record. It's an interval spent in specific heart rate zone.",
      "type": "object"
    },
    "TimeZone": {
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object"
    },
    "VO2Max": {
      "properties": {
        "vo2Max": {
          "type": "number",
          "description": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "format": "double"
        },
        "measurementMethod": {
          "enumDescriptions": [
            "Unspecified measurement method.",
            "Fitbit specific, measures VO2 max rate during a run.",
            "Google specific, measures VO2 max rate for a user based on their demographic data.",
            "Run as far as possible for 12 minutes. Distance correlated with age and gender translates to a VO2 max value.",
            "Maximum heart rate divided by the resting heart rate, with a multiplier applied. Does not require any exercise.",
            "Measured by a medical device called metabolic cart.",
            "Continuous 20m back-and-forth runs with increasing difficulty, until exhaustion.",
            "Measured using walking exercise.",
            "Healthkit specific, measures VO2 max rate by monitoring exercise to the user’s physical limit. Similar to COOPER_TEST or MULTISTAGE_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate based on low-intensity exercise. Similar to ROCKPORT_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate without any exercise. Similar to HEART_RATE_RATIO.",
            "Use when the method is not covered in this enum."
          ],
          "type": "string",
          "enum": [
            "MEASUREMENT_METHOD_UNSPECIFIED",
            "FITBIT_RUN",
            "GOOGLE_DEMOGRAPHIC",
            "COOPER_TEST",
            "HEART_RATE_RATIO",
            "METABOLIC_CART",
            "MULTISTAGE_FITNESS_TEST",
            "ROCKPORT_FITNESS_TEST",
            "MAX_EXERCISE",
            "PREDICTION_SUB_MAX_EXERCISE",
            "PREDICTION_NON_EXERCISE",
            "OTHER"
          ],
          "description": "Optional. The method used to measure the VO2 max value."
        },
        "sampleTime": {
          "description": "Required. The time at which VO2 max was measured.",
          "$ref": "ObservationSampleTime"
        }
      },
      "id": "VO2Max",
      "description": "VO2 max measurement.",
      "type": "object"
    },
    "RestingHeartRatePersonalRangeRollupValue": {
      "description": "Represents the rollup value for the daily resting heart rate data type.",
      "type": "object",
      "properties": {
        "beatsPerMinuteMin": {
          "format": "double",
          "type": "number",
          "description": "The lower bound of the user's daily resting heart rate personal range."
        },
        "beatsPerMinuteMax": {
          "format": "double",
          "description": "The upper bound of the user's daily resting heart rate personal range.",
          "type": "number"
        }
      },
      "id": "RestingHeartRatePersonalRangeRollupValue"
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "id": "RespiratoryRateSleepSummaryStatistics",
      "properties": {
        "standardDeviation": {
          "type": "number",
          "description": "Optional. Standard deviation of the respiratory rate during sleep.",
          "format": "double"
        },
        "breathsPerMinute": {
          "type": "number",
          "description": "Required. Average breaths per minute.",
          "format": "double"
        },
        "signalToNoise": {
          "description": "Optional. How trustworthy the data is for the computation.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Respiratory rate statistics for a given sleep stage."
    },
    "DailyHeartRateVariability": {
      "properties": {
        "averageHeartRateVariabilityMilliseconds": {
          "format": "double",
          "type": "number",
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats."
        },
        "nonRemHeartRateBeatsPerMinute": {
          "type": "string",
          "description": "Optional. Non-REM heart rate",
          "format": "int64"
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement.",
          "$ref": "Date"
        },
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "type": "number",
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep.",
          "format": "double"
        },
        "entropy": {
          "format": "double",
[...]
