{
  "baseUrl": "https://health.googleapis.com/",
  "version": "v4",
  "rootUrl": "https://health.googleapis.com/",
  "title": "Google Health API",
  "discoveryVersion": "v1",
  "id": "health:v4",
  "name": "health",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "documentationLink": "https://developers.google.com/health",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "revision": "20260402",
  "schemas": {
    "Sleep": {
      "id": "Sleep",
      "properties": {
        "metadata": {
          "description": "Optional. Sleep metadata: processing, main, manually edited, stages status.",
          "$ref": "SleepMetadata"
        },
        "interval": {
          "description": "Required. Observed sleep interval.",
          "$ref": "SessionTimeInterval"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of this sleep observation.",
          "type": "string"
        },
        "outOfBedSegments": {
          "items": {
            "$ref": "OutOfBedSegment"
          },
          "description": "Optional. “Out of bed” segments that can overlap with sleep stages.",
          "type": "array"
        },
        "createTime": {
          "description": "Output only. Creation time of this sleep observation.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "type": {
          "description": "Optional. SleepType: classic or stages.",
          "type": "string",
          "enumDescriptions": [
            "Sleep type is unspecified.",
            "Classic sleep is a sleep with 3 stages types: AWAKE, RESTLESS and ASLEEP.",
            "On top of \"classic\" sleep stages an additional processing pass can calculate stages more precisely, overwriting the prior stages with AWAKE, LIGHT, REM and DEEP."
          ],
          "enum": [
            "SLEEP_TYPE_UNSPECIFIED",
            "CLASSIC",
            "STAGES"
          ]
        },
        "stages": {
          "description": "Optional. List of non-overlapping contiguous sleep stage segments that cover the sleep period.",
          "type": "array",
          "items": {
            "$ref": "SleepStage"
          }
        },
        "summary": {
          "readOnly": true,
          "description": "Output only. Sleep summary: metrics and stages summary.",
          "$ref": "SleepSummary"
        }
      },
      "description": "A sleep session possibly including stages.",
      "type": "object"
    },
    "Distance": {
      "id": "Distance",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "millimeters": {
          "format": "int64",
          "description": "Required. Distance in millimeters over the observed interval.",
          "type": "string"
        }
      },
      "description": "Distance traveled over an interval of time.",
      "type": "object"
    },
    "HeartRate": {
      "id": "HeartRate",
      "properties": {
        "sampleTime": {
          "description": "Required. Observation time",
          "$ref": "ObservationSampleTime"
        },
        "beatsPerMinute": {
          "description": "Required. The heart rate value in beats per minute.",
          "type": "string",
          "format": "int64"
        },
        "metadata": {
          "description": "Optional. Metadata about the heart rate sample.",
          "$ref": "HeartRateMetadata"
        }
      },
      "description": "A heart rate measurement.",
      "type": "object"
    },
    "BodyFat": {
      "description": "Body fat measurement.",
      "type": "object",
      "id": "BodyFat",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which body fat was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "format": "double",
          "description": "Required. Body fat percentage, in range [0, 100].",
          "type": "number"
        }
      }
    },
    "DailyVO2Max": {
      "id": "DailyVO2Max",
      "properties": {
        "vo2MaxCovariance": {
          "format": "double",
          "description": "Optional. The covariance of the VO2 max value.",
          "type": "number"
        },
        "cardioFitnessLevel": {
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ],
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ]
        },
        "estimated": {
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation.",
          "type": "boolean"
        },
        "vo2Max": {
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "type": "number",
          "format": "double"
        },
        "date": {
          "description": "Required. The date for which the Daily VO2 max was measured.",
          "$ref": "Date"
        }
      },
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise.",
      "type": "object"
    },
    "DailyRollUpDataPointsResponse": {
      "description": "Response containing the list of rolled up data points.",
      "type": "object",
      "id": "DailyRollUpDataPointsResponse",
      "properties": {
        "rollupDataPoints": {
          "items": {
            "$ref": "DailyRollupDataPoint"
          },
          "description": "Values for each aggregation time window.",
          "type": "array"
        }
      }
    },
    "AltitudeRollupValue": {
      "description": "Represents the result of the rollup of the user's altitude.",
      "type": "object",
      "id": "AltitudeRollupValue",
      "properties": {
        "gainMillimetersSum": {
          "format": "int64",
          "description": "Sum of the altitude gain in millimeters.",
          "type": "string"
        }
      }
    },
    "VolumeQuantityRollup": {
      "id": "VolumeQuantityRollup",
      "properties": {
        "millilitersSum": {
          "description": "Required. The sum of volume in milliliters.",
          "type": "number",
          "format": "double"
        },
        "userProvidedUnitLast": {
          "description": "Optional. The user provided unit on the last element.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        }
      },
      "description": "Rollup for volume quantity.",
      "type": "object"
    },
    "DataSource": {
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it).",
      "type": "object",
      "id": "DataSource",
      "properties": {
        "recordingMethod": {
          "description": "Optional. Captures how the data was recorded.",
          "type": "string",
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ]
        },
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        },
        "platform": {
          "readOnly": true,
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ],
          "description": "Output only. Captures the platform that uploaded the data.",
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "type": "string"
        },
        "application": {
          "readOnly": true,
          "description": "Output only. Captures metadata for the application that provided this data.",
          "$ref": "Application"
        }
      }
    },
    "Profile": {
      "description": "Profile details.",
      "type": "object",
      "id": "Profile",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "userConfiguredWalkingStrideLengthMm": {
          "format": "int32",
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer"
        },
        "autoRunningStrideLengthMm": {
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "membershipStartDate": {
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported.",
          "$ref": "Date",
          "readOnly": true
        },
        "age": {
          "format": "int32",
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported.",
          "type": "integer"
        },
        "userConfiguredRunningStrideLengthMm": {
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer",
          "format": "int32"
        },
        "autoWalkingStrideLengthMm": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer"
        }
      }
    },
    "ExerciseEvent": {
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split.",
      "type": "object",
      "id": "ExerciseEvent",
      "properties": {
        "eventTime": {
          "description": "Required. Exercise event time",
          "type": "string",
          "format": "google-datetime"
        },
        "eventUtcOffset": {
          "description": "Required. Exercise event time offset from UTC",
          "type": "string",
          "format": "google-duration"
        },
        "exerciseEventType": {
          "description": "Required. The type of the event, such as start, stop, pause, resume.",
          "type": "string",
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ],
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ]
        }
      }
    },
    "CaloriesInHeartRateZoneValue": {
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone.",
      "type": "object",
      "id": "CaloriesInHeartRateZoneValue",
      "properties": {
        "heartRateZone": {
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "The heart rate zone.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ]
        },
        "kcal": {
          "format": "double",
          "description": "The amount of kilocalories burned in the specified heart rate zone.",
          "type": "number"
        }
      }
    },
    "StageSummary": {
      "description": "Total duration and segment count for a stage.",
      "type": "object",
      "id": "StageSummary",
      "properties": {
        "type": {
          "type": "string",
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "readOnly": true
        },
        "minutes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total duration in minutes of a sleep stage.",
          "type": "string"
        },
        "count": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of sleep stages segments.",
          "type": "string"
        }
      }
    },
    "HeartRateVariability": {
      "id": "HeartRateVariability",
      "properties": {
        "standardDeviationMilliseconds": {
          "format": "double",
          "description": "Optional. The standard deviation of the heart rate variability measurement.",
          "type": "number"
        },
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "format": "double",
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Fitbit.",
          "type": "number"
        },
        "sampleTime": {
          "description": "Required. The time of the heart rate variability measurement.",
          "$ref": "ObservationSampleTime"
        }
      },
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN).",
      "type": "object"
    },
    "ActiveZoneMinutesRollupValue": {
      "id": "ActiveZoneMinutesRollupValue",
      "properties": {
        "sumInPeakHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.PEAK`.",
          "type": "string",
          "format": "int64"
        },
        "sumInFatBurnHeartZone": {
          "format": "int64",
          "description": "Active zone minutes in `HeartRateZone.FAT_BURN`.",
          "type": "string"
        },
        "sumInCardioHeartZone": {
          "format": "int64",
          "description": "Active zone minutes in `HeartRateZone.CARDIO`.",
          "type": "string"
        }
      },
      "description": "Represents the result of the rollup of the active zone minutes data type.",
      "type": "object"
    },
    "Steps": {
      "id": "Steps",
      "properties": {
        "count": {
          "description": "Required. Number of steps in the recorded interval.",
          "type": "string",
          "format": "int64"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "description": "Step count over the time interval.",
      "type": "object"
    },
    "ActivityLevel": {
      "description": "Internal type to capture activity level during a certain time interval.",
      "type": "object",
      "id": "ActivityLevel",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activityLevelType": {
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "description": "Required. Activity level type in the given time interval.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ]
        }
      }
    },
    "VolumeQuantity": {
      "description": "Represents the volume quantity.",
      "type": "object",
      "id": "VolumeQuantity",
      "properties": {
        "milliliters": {
          "description": "Required. Value representing the volume in milliliters.",
          "type": "number",
          "format": "double"
        },
        "userProvidedUnit": {
          "description": "Optional. Value representing the user provided unit.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        }
      }
    },
    "SleepSummary": {
      "description": " Sleep summary: metrics and stages summary.",
      "type": "object",
      "id": "SleepSummary",
      "properties": {
        "minutesInSleepPeriod": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Delta between wake time and bedtime. It is the sum of all stages.",
          "type": "string"
        },
        "stagesSummary": {
          "items": {
            "$ref": "StageSummary"
          },
          "readOnly": true,
          "description": "Output only. List of summaries (total duration and segment count) per each sleep stage type.",
          "type": "array"
        },
        "minutesAfterWakeUp": {
          "description": "Output only. Minutes after wake up calculated by restlessness algorithm.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "minutesToFallAsleep": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Minutes to fall asleep calculated by restlessness algorithm.",
          "type": "string"
        },
        "minutesAsleep": {
          "description": "Output only. Total number of minutes asleep. For classic sleep it is the sum of ASLEEP stages (excluding AWAKE and RESTLESS). For \"stages\" sleep it is the sum of LIGHT, REM and DEEP stages (excluding AWAKE).",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "minutesAwake": {
          "description": "Output only. Total number of minutes awake. It is a sum of all AWAKE stages.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "HeartRateRollupValue": {
      "description": "Represents the result of the rollup of the heart rate data type.",
      "type": "object",
      "id": "HeartRateRollupValue",
      "properties": {
        "beatsPerMinuteMin": {
          "format": "double",
          "description": "The minimum heart rate value in the interval.",
          "type": "number"
        },
        "beatsPerMinuteAvg": {
          "format": "double",
          "description": "The average heart rate value in the interval.",
          "type": "number"
        },
        "beatsPerMinuteMax": {
          "format": "double",
          "description": "The maximum heart rate value in the interval.",
          "type": "number"
        }
      }
    },
    "HydrationLogRollupValue": {
      "id": "HydrationLogRollupValue",
      "properties": {
        "amountConsumed": {
          "description": "Rollup for amount consumed.",
          "$ref": "VolumeQuantityRollup"
        }
      },
      "description": "Represents the result of the rollup of the hydration log data type.",
      "type": "object"
    },
    "DailyRollupDataPoint": {
      "description": "Value of a daily rollup for a single civil time interval (aggregation window)",
      "type": "object",
      "id": "DailyRollupDataPoint",
      "properties": {
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "heartRateVariabilityPersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier.",
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "civilEndTime": {
          "description": "End time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "restingHeartRatePersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier.",
          "$ref": "RestingHeartRatePersonalRangeRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "civilStartTime": {
          "description": "Start time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        }
      }
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "type": "object",
      "id": "CaloriesInHeartRateZoneRollupValue",
      "properties": {
        "caloriesInHeartRateZones": {
          "description": "List of calories burned in each heart rate zone.",
          "type": "array",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          }
        }
      }
    },
    "BatchDeleteDataPointsRequest": {
      "description": "Request to delete a batch of identifiable data points.",
      "type": "object",
      "id": "BatchDeleteDataPointsRequest",
      "properties": {
        "names": {
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RollUpDataPointsRequest": {
      "id": "RollUpDataPointsRequest",
      "properties": {
        "windowSize": {
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions.",
          "type": "string",
          "format": "google-duration"
        },
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "Interval"
        },
        "pageToken": {
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer"
        }
      },
      "description": "Request to roll up data points by physical time intervals.",
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "ActiveMinutes": {
      "description": "Record of active minutes in a given time interval.",
      "type": "object",
      "id": "ActiveMinutes",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeMinutesByActivityLevel": {
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed.",
          "type": "array",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          }
        }
      }
    },
    "GoogleDevicesandservicesHealthV4DataType": {
      "id": "GoogleDevicesandservicesHealthV4DataType",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values.",
          "type": "string"
        }
      },
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "type": "object"
    },
    "Weight": {
      "id": "Weight",
      "properties": {
        "weightGrams": {
          "format": "double",
          "description": "Required. Weight of a user in grams.",
          "type": "number"
        },
        "sampleTime": {
          "description": "Required. The time at which the weight was measured",
          "$ref": "ObservationSampleTime"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        }
      },
      "description": "Body weight measurement.",
      "type": "object"
    },
    "DailyRollUpDataPointsRequest": {
      "description": "Request to roll up data points by civil time intervals.",
      "type": "object",
      "id": "DailyRollUpDataPointsRequest",
      "properties": {
        "windowSizeDays": {
          "format": "int32",
          "description": "Optional. Aggregation window size, in number of days. Defaults to 1 if not specified.",
          "type": "integer"
        },
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The start time must be aligned with the aggregation window. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "CivilTimeInterval"
        },
        "pageToken": {
          "description": "Optional. The `next_page_token` from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ActiveMinutesByActivityLevel": {
      "description": "Active minutes at a given activity level.",
      "type": "object",
      "id": "ActiveMinutesByActivityLevel",
      "properties": {
        "activityLevel": {
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "description": "Required. The level of activity.",
          "type": "string",
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ]
        },
        "activeMinutes": {
          "description": "Required. Number of whole minutes spent in activity.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SedentaryPeriod": {
      "id": "SedentaryPeriod",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device).",
      "type": "object"
    },
    "Settings": {
      "description": "Settings details.",
      "type": "object",
      "id": "Settings",
      "properties": {
        "autoStrideEnabled": {
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported.",
          "type": "boolean"
        },
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        },
        "swimUnit": {
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ]
        },
        "temperatureUnit": {
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ]
        },
        "weightUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ]
        },
        "heightUnit": {
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ]
        },
        "utcOffset": {
          "format": "google-duration",
          "description": "Optional. The duration of the offset from UTC in milliseconds. This offset is the difference between the user's current local time and UTC. Updates to this field are currently not supported.",
          "type": "string"
        },
        "distanceUnit": {
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string",
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ]
        },
        "languageLocale": {
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "strideLengthRunningType": {
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported.",
          "type": "string",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ]
        },
        "strideLengthWalkingType": {
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "type": "string",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ]
        },
        "waterUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ],
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ]
        },
        "glucoseUnit": {
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ]
        }
      }
    },
    "MetricsSummary": {
      "description": "Summary metrics for an exercise.",
      "type": "object",
      "id": "MetricsSummary",
      "properties": {
        "averageHeartRateBeatsPerMinute": {
          "description": "Optional. Average heart rate during the exercise.",
          "type": "string",
          "format": "int64"
        },
        "caloriesKcal": {
          "format": "double",
          "description": "Optional. Total calories burned by the user during the exercise.",
          "type": "number"
        },
        "steps": {
          "description": "Optional. Total steps taken during the exercise.",
          "type": "string",
          "format": "int64"
        },
        "mobilityMetrics": {
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises.",
          "$ref": "MobilityMetrics"
        },
        "heartRateZoneDurations": {
          "description": "Optional. Time spent in each heart rate zone.",
          "$ref": "TimeInHeartRateZones"
        },
        "runVo2Max": {
          "format": "double",
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise.",
          "type": "number"
        },
        "averagePaceSecondsPerMeter": {
          "description": "Optional. Average pace in seconds per meter.",
          "type": "number",
          "format": "double"
        },
        "activeZoneMinutes": {
          "description": "Optional. Total active zone minutes for the exercise.",
          "type": "string",
          "format": "int64"
        },
        "averageSpeedMillimetersPerSecond": {
          "format": "double",
          "description": "Optional. Average speed in millimeters per second.",
          "type": "number"
        },
        "distanceMillimeters": {
          "format": "double",
          "description": "Optional. Total distance covered by the user during the exercise.",
          "type": "number"
        },
        "elevationGainMillimeters": {
          "format": "double",
          "description": "Optional. Total elevation gain during the exercise.",
          "type": "number"
        },
        "totalSwimLengths": {
          "format": "double",
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise.",
          "type": "number"
        }
      }
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "id": "RespiratoryRateSleepSummaryStatistics",
      "properties": {
        "breathsPerMinute": {
          "format": "double",
          "description": "Required. Average breaths per minute.",
          "type": "number"
        },
        "standardDeviation": {
          "format": "double",
          "description": "Optional. Standard deviation of the respiratory rate during sleep.",
          "type": "number"
        },
        "signalToNoise": {
          "format": "double",
          "description": "Optional. How trustworthy the data is for the computation.",
          "type": "number"
        }
      },
      "description": "Respiratory rate statistics for a given sleep stage.",
      "type": "object"
    },
    "DistanceRollupValue": {
      "description": "Result of the rollup of the user's distance.",
      "type": "object",
      "id": "DistanceRollupValue",
      "properties": {
        "millimetersSum": {
          "description": "Sum of the distance in millimeters.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ExportExerciseTcxResponse": {
      "id": "ExportExerciseTcxResponse",
      "properties": {
        "tcxData": {
          "description": "Contains the exported TCX data.",
          "type": "string"
        }
      },
      "description": "Represents a Response for exporting exercise data in TCX format.",
      "type": "object"
    },
    "SleepMetadata": {
      "description": "Additional information about how the sleep was processed.",
      "type": "object",
      "id": "SleepMetadata",
      "properties": {
        "nap": {
          "readOnly": true,
          "description": "Output only. Naps are sleeps without stages and relatively short durations.",
          "type": "boolean"
        },
        "stagesStatus": {
          "type": "string",
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ],
          "description": "Output only. Sleep stages algorithm processing status.",
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ],
          "readOnly": true
        },
        "externalId": {
          "description": "Optional. Sleep identifier relevant in the context of the data source.",
          "type": "string"
        },
        "processed": {
          "description": "Output only. Sleep and sleep stages algorithms finished processing.",
          "type": "boolean",
          "readOnly": true
        },
        "manuallyEdited": {
          "readOnly": true,
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users.",
          "type": "boolean"
        }
      }
    },
    "ObservationTimeInterval": {
      "id": "ObservationTimeInterval",
      "properties": {
        "endTime": {
          "description": "Required. Observed interval end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "civilEndTime": {
          "readOnly": true,
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval",
          "$ref": "CivilDateTime"
        },
        "startTime": {
          "description": "Required. Observed interval start time.",
          "type": "string",
          "format": "google-datetime"
        },
        "civilStartTime": {
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "$ref": "CivilDateTime",
          "readOnly": true
        },
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Represents a time interval of an observed data point.",
      "type": "object"
    },
    "WeightRollupValue": {
      "description": "Represents the result of the rollup of the weight data type.",
      "type": "object",
      "id": "WeightRollupValue",
      "properties": {
        "weightGramsAvg": {
          "format": "double",
          "description": "Average weight in grams.",
          "type": "number"
        }
      }
    },
    "RunVO2MaxRollupValue": {
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "type": "object",
      "id": "RunVO2MaxRollupValue",
      "properties": {
        "rateMax": {
          "description": "Maximum value of run VO2 max in the interval.",
          "type": "number",
          "format": "double"
        },
        "rateAvg": {
          "format": "double",
          "description": "Average value of run VO2 max in the interval.",
          "type": "number"
        },
        "rateMin": {
          "format": "double",
          "description": "Minimum value of run VO2 max in the interval..",
          "type": "number"
        }
      }
    },
    "BodyFatRollupValue": {
      "description": "Represents the result of the rollup of the body fat data type.",
      "type": "object",
      "id": "BodyFatRollupValue",
      "properties": {
        "bodyFatPercentageAvg": {
          "description": "Average body fat percentage.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "DataPoint": {
      "id": "DataPoint",
      "properties": {
        "sedentaryPeriod": {
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "name": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Profile.encoded_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "altitude": {
          "description": "Optional. Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "respiratoryRateSleepSummary": {
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "runVo2Max": {
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "activityLevel": {
          "description": "Optional. Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "steps": {
          "description": "Optional. Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "sleep": {
          "description": "Optional. Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "heartRate": {
          "description": "Optional. Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "oxygenSaturation": {
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailyOxygenSaturation": {
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "dailyRestingHeartRate": {
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "dailyHeartRateZones": {
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "dataSource": {
          "description": "Optional. Data source information for the metric",
          "$ref": "DataSource"
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "heartRateVariability": {
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "activeZoneMinutes": {
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "bodyFat": {
          "description": "Optional. Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "hydrationLog": {
          "description": "Optional. Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "weight": {
          "description": "Optional. Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        }
      },
      "description": "A computed or recorded metric.",
      "type": "object"
    },
    "DailyOxygenSaturation": {
      "id": "DailyOxygenSaturation",
      "properties": {
        "date": {
          "description": "Required. Date (in user's timezone) of the daily oxygen saturation record.",
          "$ref": "Date"
        },
        "lowerBoundPercentage": {
          "description": "Required. The lower bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number",
          "format": "double"
        },
        "upperBoundPercentage": {
          "description": "Required. The upper bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number",
          "format": "double"
        },
        "standardDeviationPercentage": {
          "format": "double",
          "description": "Optional. Standard deviation of the daily oxygen saturation averages from the past 7-30 days.",
          "type": "number"
        },
        "averagePercentage": {
          "description": "Required. The average value of the oxygen saturation samples during the sleep.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "A daily oxygen saturation (SpO2) record. Represents the user's daily oxygen saturation summary, typically calculated during sleep.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "SplitSummary": {
      "id": "SplitSummary",
      "properties": {
        "activeDuration": {
          "description": "Output only. Lap time excluding the pauses.",
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Required. Lap end time",
          "type": "string"
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this split.",
          "$ref": "MetricsSummary"
        },
        "splitType": {
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic.",
          "type": "string",
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Lap start time",
          "type": "string"
        },
        "startUtcOffset": {
          "description": "Required. Lap start time offset from UTC",
          "type": "string",
          "format": "google-duration"
        },
        "endUtcOffset": {
          "description": "Required. Lap end time offset from UTC",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories.",
      "type": "object"
    },
    "DailyHeartRateZones": {
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day.",
      "type": "object",
      "id": "DailyHeartRateZones",
      "properties": {
        "date": {
          "description": "Required. Date (in user's timezone) of the heart rate zones record.",
          "$ref": "Date"
        },
        "heartRateZones": {
          "items": {
            "$ref": "HeartRateZone"
          },
          "description": "Required. The heart rate zones.",
          "type": "array"
        }
      }
    },
    "FloorsRollupValue": {
      "description": "Represents the result of the rollup of the user's floors.",
      "type": "object",
      "id": "FloorsRollupValue",
      "properties": {
        "countSum": {
          "format": "int64",
          "description": "Sum of the floors count.",
          "type": "string"
        }
      }
    },
    "DailyHeartRateVariability": {
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`",
      "type": "object",
      "id": "DailyHeartRateVariability",
      "properties": {
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "format": "double",
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep.",
          "type": "number"
        },
        "entropy": {
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep.",
          "type": "number",
          "format": "double"
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement.",
          "$ref": "Date"
        },
        "nonRemHeartRateBeatsPerMinute": {
          "format": "int64",
          "description": "Optional. Non-REM heart rate",
          "type": "string"
        },
        "averageHeartRateVariabilityMilliseconds": {
          "format": "double",
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats.",
          "type": "number"
        }
      }
    },
    "OxygenSaturation": {
      "id": "OxygenSaturation",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "format": "double",
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100.",
          "type": "number"
        }
      },
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2).",
      "type": "object"
    },
    "DailySleepTemperatureDerivations": {
      "description": "Provides derived sleep temperature values, calculated from skin or internal device temperature readings during sleep.",
      "type": "object",
      "id": "DailySleepTemperatureDerivations",
      "properties": {
        "nightlyTemperatureCelsius": {
          "format": "double",
          "description": "Required. The user's nightly skin temperature. It is the mean of skin temperature samples taken from the user’s sleep.",
          "type": "number"
        },
        "date": {
          "description": "Required. Date for which the sleep temperature derivations are calculated.",
          "$ref": "Date"
        },
        "relativeNightlyStddev30dCelsius": {
          "description": "Optional. The standard deviation of the user’s relative nightly skin temperature (temperature - baseline) over the past 30 days.",
          "type": "number",
          "format": "double"
        },
        "baselineTemperatureCelsius": {
          "format": "double",
          "description": "Optional. The user's baseline skin temperature. It is the median of the user's nightly skin temperature over the past 30 days.",
          "type": "number"
        }
      }
    },
    "ActiveMinutesRollupByActivityLevel": {
      "id": "ActiveMinutesRollupByActivityLevel",
      "properties": {
        "activityLevel": {
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "description": "The level of activity.",
          "type": "string",
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ]
        },
        "activeMinutesSum": {
          "format": "int64",
          "description": "Number of whole minutes spent in activity.",
          "type": "string"
        }
      },
      "description": "Active minutes by activity level.",
      "type": "object"
    },
    "TimeInHeartRateZoneValue": {
      "id": "TimeInHeartRateZoneValue",
      "properties": {
        "heartRateZone": {
          "description": "The heart rate zone.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        },
        "duration": {
          "description": "The total time spent in the specified heart rate zone.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Represents the total time spent in a specific heart rate zone.",
      "type": "object"
    },
    "TimeInHeartRateZoneRollupValue": {
      "description": "Represents the result of the rollup of the time in heart rate zone data type.",
      "type": "object",
      "id": "TimeInHeartRateZoneRollupValue",
      "properties": {
        "timeInHeartRateZones": {
          "description": "List of time spent in each heart rate zone.",
          "type": "array",
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          }
        }
      }
    },
    "Identity": {
      "id": "Identity",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`",
          "type": "string"
        },
        "legacyUserId": {
          "readOnly": true,
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "healthUserId": {
          "readOnly": true,
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "type": "string"
        }
      },
      "description": "Represents details about the Google user's identity.",
      "type": "object"
    },
    "Exercise": {
      "id": "Exercise",
      "properties": {
        "splits": {
          "items": {
            "$ref": "SplitSummary"
          },
          "description": "Optional. The default split is 1 km or 1 mile. - if the movement distance is less than the default, then there are no splits - if the movement distance is greater than or equal to the default, then we have splits",
          "type": "array"
        },
        "exerciseEvents": {
          "items": {
            "$ref": "ExerciseEvent"
          },
          "description": "Optional. Exercise events that happen during an exercise, such as pause & restarts.",
          "type": "array"
        },
        "interval": {
          "description": "Required. Observed exercise interval",
          "$ref": "SessionTimeInterval"
        },
        "splitSummaries": {
          "description": "Optional. Laps or splits recorded within an exercise. Laps could be split based on distance or other criteria (duration, etc.) Laps should not be overlapping with each other.",
          "type": "array",
          "items": {
            "$ref": "SplitSummary"
          }
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. This is the timestamp of the last update to the exercise.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. Exercise display name.",
          "type": "string"
        },
        "exerciseType": {
          "enum": [
            "EXERCISE_TYPE_UNSPECIFIED",
            "RUNNING",
            "WALKING",
            "BIKING",
            "SWIMMING",
            "HIKING",
            "YOGA",
            "PILATES",
            "WORKOUT",
            "HIIT",
            "WEIGHTLIFTING",
            "STRENGTH_TRAINING",
            "OTHER"
          ],
          "description": "Required. The type of activity performed during an exercise.",
          "type": "string",
          "enumDescriptions": [
            "Exercise type is unspecified.",
            "Running type.",
            "Walking type.",
            "Biking type.",
            "Swimming type.",
            "Hiking type.",
            "Yoga type.",
            "Pilates type.",
            "Workout type.",
            "HIIT type.",
            "Weightlifting type.",
            "Strength training type.",
            "Other type."
          ]
        },
        "createTime": {
          "description": "Output only. Represents the timestamp of the creation of the exercise.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this exercise ( )",
          "$ref": "MetricsSummary"
        },
        "exerciseMetadata": {
          "description": "Optional. Additional exercise metadata.",
          "$ref": "ExerciseMetadata"
        },
        "activeDuration": {
          "format": "google-duration",
          "description": "Optional. Duration excluding pauses.",
          "type": "string"
        }
      },
      "description": "An exercise that stores information about a physical activity.",
      "type": "object"
    },
    "Altitude": {
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "type": "object",
      "id": "Altitude",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "gainMillimeters": {
          "description": "Required. Altitude gain in millimeters over the observed interval.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DailyRestingHeartRateMetadata": {
      "description": "Metadata for the daily resting heart rate.",
      "type": "object",
      "id": "DailyRestingHeartRateMetadata",
      "properties": {
        "calculationMethod": {
          "description": "Required. The method used to calculate the resting heart rate.",
          "type": "string",
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ],
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ]
        }
      }
    },
    "ReconcileDataPointsResponse": {
      "id": "ReconcileDataPointsResponse",
      "properties": {
        "dataPoints": {
          "items": {
            "$ref": "ReconciledDataPoint"
          },
          "description": "Data points matching the query",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        }
      },
      "description": "Response containing the list of reconciled DataPoints.",
      "type": "object"
    },
    "TimeZone": {
      "id": "TimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object"
    },
    "TimeInHeartRateZone": {
      "description": "Time in heart rate zone record. It's an interval spent in specific heart rate zone.",
      "type": "object",
      "id": "TimeInHeartRateZone",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "heartRateZoneType": {
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "Required. Heart rate zone type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ]
        }
      }
    },
    "RollupDataPoint": {
      "id": "RollupDataPoint",
      "properties": {
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Start time of the window this value aggregates over",
          "type": "string"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End time of the window this value aggregates over",
          "type": "string"
        }
      },
      "description": "Value of a rollup for a single physical time interval (aggregation window)",
      "type": "object"
    },
    "SessionTimeInterval": {
      "description": "Represents a time interval of session data point, which bundles multiple observed metrics together.",
      "type": "object",
      "id": "SessionTimeInterval",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. The start time of the observed session.",
          "type": "string"
        },
        "civilStartTime": {
          "description": "Output only. Session start time in civil time in the timezone the subject is in at the start of the session.",
          "$ref": "CivilDateTime",
          "readOnly": true
        },
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Required. The end time of the observed session.",
          "type": "string",
          "format": "google-datetime"
        },
        "civilEndTime": {
          "readOnly": true,
          "description": "Output only. Session end time in civil time in the timezone the subject is in at the end of the session.",
          "$ref": "CivilDateTime"
        }
      }
    },
    "Interval": {
      "id": "Interval",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object"
    },
    "SedentaryPeriodRollupValue": {
      "description": "Represents the result of the rollup of the user's sedentary periods.",
      "type": "object",
      "id": "SedentaryPeriodRollupValue",
      "properties": {
        "durationSum": {
          "description": "The total time user spent sedentary during the interval.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "MobilityMetrics": {
      "id": "MobilityMetrics",
      "properties": {
        "avgGroundContactTimeDuration": {
          "format": "google-duration",
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride",
          "type": "string"
        },
        "avgCadenceStepsPerMinute": {
          "format": "double",
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout.",
          "type": "number"
        },
        "avgStrideLengthMillimeters": {
          "format": "int64",
          "description": "Optional. Stride length is a measure of the distance covered by a single stride",
          "type": "string"
        },
        "avgVerticalOscillationMillimeters": {
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running",
          "type": "string",
          "format": "int64"
        },
        "avgVerticalRatio": {
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0].",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Mobility workouts specific metrics",
      "type": "object"
    },
    "ActiveZoneMinutes": {
      "description": "Record of active zone minutes in a given time interval.",
      "type": "object",
      "id": "ActiveZoneMinutes",
      "properties": {
        "heartRateZone": {
          "enum": [
            "HEART_RATE_ZONE_UNSPECIFIED",
            "FAT_BURN",
            "CARDIO",
            "PEAK"
          ],
          "description": "Required. Heart rate zone in which the active zone minutes have been earned, in the given time interval.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The fat burn heart rate zone.",
            "The cardio heart rate zone.",
            "The peak heart rate zone."
          ]
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeZoneMinutes": {
          "description": "Required. Number of Active Zone Minutes earned in the given time interval. Note: active_zone_minutes equals to 1 for low intensity (fat burn) zones or 2 for high intensity zones (cardio, peak).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "TimeInHeartRateZones": {
      "id": "TimeInHeartRateZones",
      "properties": {
        "vigorousTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in vigorous heart rate zone.",
          "type": "string"
        },
        "peakTime": {
          "description": "Optional. Time spent in peak heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "moderateTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in moderate heart rate zone.",
          "type": "string"
        },
        "lightTime": {
          "description": "Optional. Time spent in light heart rate zone.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Time spent in each heart rate zone.",
      "type": "object"
    },
    "HeartRateZone": {
      "id": "HeartRateZone",
      "properties": {
        "minBeatsPerMinute": {
          "format": "int64",
          "description": "Required. Minimum heart rate for this zone in beats per minute.",
          "type": "string"
        },
        "heartRateZoneType": {
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "Required. The heart rate zone type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ]
        },
        "maxBeatsPerMinute": {
          "description": "Required. Maximum heart rate for this zone in beats per minute.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The heart rate zone.",
      "type": "object"
    },
    "ExerciseMetadata": {
      "description": "Additional exercise metadata.",
      "type": "object",
      "id": "ExerciseMetadata",
      "properties": {
        "poolLengthMillimeters": {
          "description": "Optional. Pool length in millimeters. Only present in the swimming exercises.",
          "type": "string",
          "format": "int64"
        },
        "hasGps": {
          "description": "Optional. Whether the exercise had GPS tracking.",
          "type": "boolean"
        }
      }
    },
    "ActiveMinutesRollupValue": {
      "description": "Represents the result of the rollup of the active minutes data type.",
      "type": "object",
      "id": "ActiveMinutesRollupValue",
      "properties": {
        "activeMinutesRollupByActivityLevel": {
          "items": {
            "$ref": "ActiveMinutesRollupByActivityLevel"
          },
          "description": "Active minutes by activity level. At most one record per activity level is allowed.",
          "type": "array"
        }
      }
    },
    "CivilDateTime": {
      "id": "CivilDateTime",
      "properties": {
        "date": {
          "description": "Required. Calendar date.",
          "$ref": "Date"
        },
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        }
      },
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries.",
      "type": "object"
    },
    "Application": {
      "id": "Application",
      "properties": {
        "googleWebClientId": {
          "description": "Output only. Captures the client ID of the entity that recorded the data.",
          "type": "string",
          "readOnly": true
        },
        "packageName": {
          "description": "Output only. A unique ID from an external data source. A unique identifier of the mobile application, e.g. `com.google.fitbit`",
          "type": "string",
          "readOnly": true
        },
        "webClientId": {
          "description": "Output only. Captures the client ID of the web application that recorded the data.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Optional metadata for the application that provided this data.",
      "type": "object"
    },
    "DailyRespiratoryRate": {
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep.",
      "type": "object",
      "id": "DailyRespiratoryRate",
      "properties": {
        "date": {
          "description": "Required. The date on which the respiratory rate was measured.",
          "$ref": "Date"
        },
        "breathsPerMinute": {
          "format": "double",
          "description": "Required. The average number of breaths taken per minute.",
          "type": "number"
        }
      }
    },
    "RestingHeartRatePersonalRangeRollupValue": {
      "description": "Represents the rollup value for the daily resting heart rate data type.",
      "type": "object",
      "id": "RestingHeartRatePersonalRangeRollupValue",
      "properties": {
        "beatsPerMinuteMin": {
          "description": "The lower bound of the user's daily resting heart rate personal range.",
          "type": "number",
          "format": "double"
        },
        "beatsPerMinuteMax": {
          "description": "The upper bound of the user's daily resting heart rate personal range.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ObservationSampleTime": {
      "description": "Represents a sample time of an observed data point.",
      "type": "object",
      "id": "ObservationSampleTime",
      "properties": {
        "physicalTime": {
          "description": "Required. The time of the observation.",
          "type": "string",
          "format": "google-datetime"
        },
        "utcOffset": {
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "civilTime": {
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "$ref": "CivilDateTime",
[...]
