{
  "ownerName": "Google",
  "protocol": "rest",
  "basePath": "",
  "servicePath": "",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "version_module": true,
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "batchPath": "batch",
  "id": "health:v4",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "health",
  "discoveryVersion": "v1",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://health.googleapis.com/",
  "documentationLink": "https://developers.google.com/health",
  "canonicalName": "Google Health API",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "baseUrl": "https://health.googleapis.com/",
  "schemas": {
    "DataPoint": {
      "type": "object",
      "description": "A computed or recorded metric.",
      "properties": {
        "steps": {
          "description": "Optional. Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "sedentaryPeriod": {
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "activeZoneMinutes": {
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "sleep": {
          "description": "Optional. Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "height": {
          "description": "Optional. Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "dailyOxygenSaturation": {
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "heartRateVariability": {
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "basalEnergyBurned": {
          "description": "Optional. Data for points in the `basal-energy-burned` interval data type collection.",
          "$ref": "BasalEnergyBurned"
        },
        "dailyRestingHeartRate": {
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "runVo2Max": {
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "weight": {
          "description": "Optional. Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "dataSource": {
          "description": "Optional. Data source information for the metric",
          "$ref": "DataSource"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "hydrationLog": {
          "description": "Optional. Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "swimLengthsData": {
          "description": "Optional. Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "oxygenSaturation": {
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "heartRate": {
          "description": "Optional. Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens."
        },
        "activityLevel": {
          "description": "Optional. Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "bodyFat": {
          "description": "Optional. Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "respiratoryRateSleepSummary": {
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "altitude": {
          "description": "Optional. Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "dailyHeartRateZones": {
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        }
      },
      "id": "DataPoint"
    },
    "GoogleDevicesandservicesHealthV4DataType": {
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleDevicesandservicesHealthV4DataType"
    },
    "BodyFat": {
      "id": "BodyFat",
      "description": "Body fat measurement.",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which body fat was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "format": "double",
          "description": "Required. Body fat percentage, in range [0, 100].",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ListDataPointsResponse": {
      "description": "Response containing raw data points matching the query",
      "properties": {
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        },
        "dataPoints": {
          "type": "array",
          "description": "Data points matching the query",
          "items": {
            "$ref": "DataPoint"
          }
        }
      },
      "type": "object",
      "id": "ListDataPointsResponse"
    },
    "SedentaryPeriodRollupValue": {
      "description": "Represents the result of the rollup of the user's sedentary periods.",
      "properties": {
        "durationSum": {
          "format": "google-duration",
          "type": "string",
          "description": "The total time user spent sedentary during the interval."
        }
      },
      "type": "object",
      "id": "SedentaryPeriodRollupValue"
    },
    "TimeInHeartRateZones": {
      "id": "TimeInHeartRateZones",
      "type": "object",
      "description": "Time spent in each heart rate zone.",
      "properties": {
        "peakTime": {
          "type": "string",
          "description": "Optional. Time spent in peak heart rate zone.",
          "format": "google-duration"
        },
        "lightTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in light heart rate zone.",
          "type": "string"
        },
        "moderateTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Time spent in moderate heart rate zone."
        },
        "vigorousTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Time spent in vigorous heart rate zone."
        }
      }
    },
    "BatchDeleteDataPointsRequest": {
      "description": "Request to delete a batch of identifiable data points.",
      "properties": {
        "names": {
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchDeleteDataPointsRequest"
    },
    "Interval": {
      "id": "Interval",
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ActiveMinutesRollupByActivityLevel": {
      "id": "ActiveMinutesRollupByActivityLevel",
      "type": "object",
      "description": "Active minutes by activity level.",
      "properties": {
        "activityLevel": {
          "description": "The level of activity.",
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "type": "string"
        },
        "activeMinutesSum": {
          "type": "string",
          "description": "Number of whole minutes spent in activity.",
          "format": "int64"
        }
      }
    },
    "Identity": {
      "id": "Identity",
      "description": "Represents details about the Google user's identity.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`",
          "type": "string"
        },
        "legacyUserId": {
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "readOnly": true,
          "type": "string"
        },
        "healthUserId": {
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "id": "RespiratoryRateSleepSummaryStatistics",
      "description": "Respiratory rate statistics for a given sleep stage.",
      "properties": {
        "standardDeviation": {
          "format": "double",
          "type": "number",
          "description": "Optional. Standard deviation of the respiratory rate during sleep."
        },
        "breathsPerMinute": {
          "format": "double",
          "type": "number",
          "description": "Required. Average breaths per minute."
        },
        "signalToNoise": {
          "format": "double",
          "type": "number",
          "description": "Optional. How trustworthy the data is for the computation."
        }
      },
      "type": "object"
    },
    "SwimLengthsDataRollupValue": {
      "description": "Represents the result of the rollup of the swim lengths data type.",
      "properties": {
        "strokeCountSum": {
          "format": "int64",
          "description": "Total number of swim strokes in the interval.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SwimLengthsDataRollupValue"
    },
    "RunVO2Max": {
      "id": "RunVO2Max",
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min.",
      "properties": {
        "runVo2Max": {
          "description": "Required. Run VO2 max value in ml/kg/min.",
          "type": "number",
          "format": "double"
        },
        "sampleTime": {
          "description": "Required. The time at which the metric was measured.",
          "$ref": "ObservationSampleTime"
        }
      },
      "type": "object"
    },
    "SleepStage": {
      "id": "SleepStage",
      "type": "object",
      "description": "Sleep stage segment.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Sleep stage end time."
        },
        "updateTime": {
          "description": "Output only. Last update time of this sleep stages segment.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Sleep stage start time."
        },
        "type": {
          "description": "Required. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of this sleep stages segment.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the end of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        }
      }
    },
    "ActiveMinutesRollupValue": {
      "type": "object",
      "description": "Represents the result of the rollup of the active minutes data type.",
      "properties": {
        "activeMinutesRollupByActivityLevel": {
          "description": "Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesRollupByActivityLevel"
          },
          "type": "array"
        }
      },
      "id": "ActiveMinutesRollupValue"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "type": "object"
    },
    "DailyRollupDataPoint": {
      "id": "DailyRollupDataPoint",
      "description": "Value of a daily rollup for a single civil time interval (aggregation window)",
      "properties": {
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "civilEndTime": {
          "description": "End time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "heartRateVariabilityPersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier.",
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "restingHeartRatePersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier.",
          "$ref": "RestingHeartRatePersonalRangeRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "civilStartTime": {
          "description": "Start time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        }
      },
      "type": "object"
    },
    "HeartRateRollupValue": {
      "id": "HeartRateRollupValue",
      "description": "Represents the result of the rollup of the heart rate data type.",
      "properties": {
        "beatsPerMinuteAvg": {
          "format": "double",
          "description": "The average heart rate value in the interval.",
          "type": "number"
        },
        "beatsPerMinuteMax": {
          "format": "double",
          "description": "The maximum heart rate value in the interval.",
          "type": "number"
        },
        "beatsPerMinuteMin": {
          "format": "double",
          "type": "number",
          "description": "The minimum heart rate value in the interval."
        }
      },
      "type": "object"
    },
    "ReconciledDataPoint": {
      "id": "ReconciledDataPoint",
      "type": "object",
      "description": "A reconciled computed or recorded metric.",
      "properties": {
        "dailyRespiratoryRate": {
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "activityLevel": {
          "description": "Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "timeInHeartRateZone": {
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "floors": {
          "description": "Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "exercise": {
          "description": "Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "heartRate": {
          "description": "Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "dailyVo2Max": {
          "description": "Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "oxygenSaturation": {
          "description": "Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "hydrationLog": {
          "description": "Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "activeMinutes": {
          "description": "Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "swimLengthsData": {
          "description": "Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "altitude": {
          "description": "Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "respiratoryRateSleepSummary": {
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "dailyHeartRateZones": {
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "bodyFat": {
          "description": "Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "height": {
          "description": "Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "dailyHeartRateVariability": {
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "dailyOxygenSaturation": {
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "vo2Max": {
          "description": "Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "activeZoneMinutes": {
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "sedentaryPeriod": {
          "description": "Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "steps": {
          "description": "Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "sleep": {
          "description": "Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "dataPointName": {
          "type": "string",
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens."
        },
        "weight": {
          "description": "Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "distance": {
          "description": "Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "runVo2Max": {
          "description": "Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "dailyRestingHeartRate": {
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "basalEnergyBurned": {
          "description": "Data for points in the `basal-energy-burned` interval data type collection.",
          "$ref": "BasalEnergyBurned"
        },
        "heartRateVariability": {
          "description": "Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        }
      }
    },
    "OxygenSaturation": {
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2).",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "format": "double",
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "OxygenSaturation"
    },
    "DailyRespiratoryRate": {
      "id": "DailyRespiratoryRate",
      "type": "object",
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep.",
      "properties": {
        "date": {
          "description": "Required. The date on which the respiratory rate was measured.",
          "$ref": "Date"
        },
        "breathsPerMinute": {
          "description": "Required. The average number of breaths taken per minute.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "BodyFatRollupValue": {
      "id": "BodyFatRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the body fat data type.",
      "properties": {
        "bodyFatPercentageAvg": {
          "type": "number",
          "description": "Average body fat percentage.",
          "format": "double"
        }
      }
    },
    "DailyRollUpDataPointsResponse": {
      "id": "DailyRollUpDataPointsResponse",
      "type": "object",
      "description": "Response containing the list of rolled up data points.",
      "properties": {
        "rollupDataPoints": {
          "type": "array",
          "description": "Values for each aggregation time window.",
          "items": {
            "$ref": "DailyRollupDataPoint"
          }
        }
      }
    },
    "SessionTimeInterval": {
      "description": "Represents a time interval of session data point, which bundles multiple observed metrics together.",
      "properties": {
        "startUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the session relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the end of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "civilEndTime": {
          "description": "Output only. Session end time in civil time in the timezone the subject is in at the end of the session.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Required. The end time of the observed session.",
          "type": "string"
        },
        "civilStartTime": {
          "description": "Output only. Session start time in civil time in the timezone the subject is in at the start of the session.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "startTime": {
          "description": "Required. The start time of the observed session.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "SessionTimeInterval"
    },
    "Application": {
      "id": "Application",
      "description": "Optional metadata for the application that provided this data.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Output only. A unique identifier for the mobile application that was the source of the data. This is typically the application's package name on Android (e.g., `com.google.fitbit`) or the bundle ID on iOS. This field is informational and helps trace data origin. This field is system-populated when the data is uploaded from the Fitbit mobile application, Health Connect or Health Kit.",
          "readOnly": true
        },
        "webClientId": {
          "type": "string",
          "description": "Output only. The client ID of the application that recorded the data. This ID is a legacy Fitbit API client ID, which is different from a Google OAuth client ID. Example format: `ABC123`. This field is system-populated and used for tracing data from legacy Fitbit API integrations. This field is system-populated when the data is uploaded from a legacy Fitbit API integration.",
          "readOnly": true
        },
        "googleWebClientId": {
          "description": "Output only. The Google OAuth 2.0 client ID of the web application or service that recorded the data. This is the client ID used during the Google OAuth flow to obtain user credentials. This field is system-populated when the data is uploaded from Google Web API.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListSubscribersResponse": {
      "type": "object",
      "description": "Response message for ListSubscribers.",
      "properties": {
        "subscribers": {
          "type": "array",
          "description": "Subscribers from the specified project.",
          "items": {
            "$ref": "Subscriber"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of subscribers matching the request.",
          "format": "int32"
        }
      },
      "id": "ListSubscribersResponse"
    },
    "HttpHeader": {
      "description": "Represents an HTTP header.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The HTTP header key. It is case insensitive."
        },
        "value": {
          "description": "The HTTP header value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HttpHeader"
    },
    "DailyHeartRateVariability": {
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`",
      "properties": {
        "averageHeartRateVariabilityMilliseconds": {
          "format": "double",
          "type": "number",
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats."
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement.",
          "$ref": "Date"
        },
        "entropy": {
          "format": "double",
          "type": "number",
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep."
        },
        "nonRemHeartRateBeatsPerMinute": {
          "description": "Optional. Non-REM heart rate",
          "type": "string",
          "format": "int64"
        },
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "format": "double",
          "type": "number",
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep."
        }
      },
      "type": "object",
      "id": "DailyHeartRateVariability"
    },
    "ActivityLevelRollupByActivityLevelType": {
      "id": "ActivityLevelRollupByActivityLevelType",
      "description": "Represents the total duration in a specific activity level type.",
      "properties": {
        "activityLevelType": {
          "type": "string",
          "description": "Activity level type.",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ]
        },
        "totalDuration": {
          "type": "string",
          "description": "Total duration in the activity level type.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "DataSource": {
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it).",
      "properties": {
        "application": {
          "description": "Output only. Captures metadata for the application that provided this data.",
          "readOnly": true,
          "$ref": "Application"
        },
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        },
        "recordingMethod": {
          "description": "Optional. Captures how the data was recorded.",
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ],
          "type": "string"
        },
        "platform": {
          "readOnly": true,
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "description": "Output only. Captures the platform that uploaded the data.",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataSource"
    },
    "CaloriesInHeartRateZoneValue": {
      "type": "object",
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone.",
      "properties": {
        "heartRateZone": {
          "description": "The heart rate zone.",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "type": "string"
        },
        "kcal": {
          "format": "double",
          "type": "number",
          "description": "The amount of kilocalories burned in the specified heart rate zone."
        }
      },
      "id": "CaloriesInHeartRateZoneValue"
    },
    "CivilDateTime": {
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries.",
      "properties": {
        "date": {
          "description": "Required. Calendar date.",
          "$ref": "Date"
        },
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object",
      "id": "CivilDateTime"
    },
    "RollupDataPoint": {
      "id": "RollupDataPoint",
      "description": "Value of a rollup for a single physical time interval (aggregation window)",
      "properties": {
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start time of the window this value aggregates over"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of the window this value aggregates over"
        }
      },
      "type": "object"
    },
    "SwimLengthsData": {
      "id": "SwimLengthsData",
      "description": "Swim lengths data over the time interval.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "strokeCount": {
          "description": "Required. Number of strokes in the lap.",
          "type": "string",
          "format": "int64"
        },
        "swimStrokeType": {
          "description": "Required. Swim stroke type.",
          "enumDescriptions": [
            "Swim stroke type is unspecified.",
            "Freestyle swim stroke type.",
            "Backstroke swim stroke type.",
            "Breaststroke swim stroke type.",
            "Butterfly swim stroke type."
          ],
          "enum": [
            "SWIM_STROKE_TYPE_UNSPECIFIED",
            "FREESTYLE",
            "BACKSTROKE",
            "BREASTSTROKE",
            "BUTTERFLY"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "MetricsSummary": {
      "type": "object",
      "description": "Summary metrics for an exercise.",
      "properties": {
        "heartRateZoneDurations": {
          "description": "Optional. Time spent in each heart rate zone.",
          "$ref": "TimeInHeartRateZones"
        },
        "steps": {
          "format": "int64",
          "description": "Optional. Total steps taken during the exercise.",
          "type": "string"
        },
        "elevationGainMillimeters": {
          "format": "double",
          "description": "Optional. Total elevation gain during the exercise.",
          "type": "number"
        },
        "activeZoneMinutes": {
          "type": "string",
          "description": "Optional. Total active zone minutes for the exercise.",
          "format": "int64"
        },
        "averagePaceSecondsPerMeter": {
          "format": "double",
          "description": "Optional. Average pace in seconds per meter.",
          "type": "number"
        },
        "runVo2Max": {
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise.",
          "type": "number",
          "format": "double"
        },
        "caloriesKcal": {
          "type": "number",
          "description": "Optional. Total calories burned by the user during the exercise.",
          "format": "double"
        },
        "averageHeartRateBeatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Average heart rate during the exercise."
        },
        "distanceMillimeters": {
          "format": "double",
          "type": "number",
          "description": "Optional. Total distance covered by the user during the exercise."
        },
        "averageSpeedMillimetersPerSecond": {
          "description": "Optional. Average speed in millimeters per second.",
          "type": "number",
          "format": "double"
        },
        "totalSwimLengths": {
          "format": "double",
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise.",
          "type": "number"
        },
        "mobilityMetrics": {
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises.",
          "$ref": "MobilityMetrics"
        }
      },
      "id": "MetricsSummary"
    },
    "ActiveZoneMinutes": {
      "type": "object",
      "description": "Record of active zone minutes in a given time interval.",
      "properties": {
        "heartRateZone": {
          "description": "Required. Heart rate zone in which the active zone minutes have been earned, in the given time interval.",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The fat burn heart rate zone.",
            "The cardio heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_UNSPECIFIED",
            "FAT_BURN",
            "CARDIO",
            "PEAK"
          ],
          "type": "string"
        },
        "activeZoneMinutes": {
          "description": "Required. Number of Active Zone Minutes earned in the given time interval. Note: active_zone_minutes equals to 1 for low intensity (fat burn) zones or 2 for high intensity zones (cardio, peak).",
          "type": "string",
          "format": "int64"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "id": "ActiveZoneMinutes"
    },
    "Weight": {
      "id": "Weight",
      "type": "object",
      "description": "Body weight measurement.",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the weight was measured",
          "$ref": "ObservationSampleTime"
        },
        "weightGrams": {
          "description": "Required. Weight of a user in grams.",
          "type": "number",
          "format": "double"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        }
      }
    },
    "ActiveMinutes": {
      "id": "ActiveMinutes",
      "description": "Record of active minutes in a given time interval.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeMinutesByActivityLevel": {
          "type": "array",
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          }
        }
      },
      "type": "object"
    },
    "ObservationSampleTime": {
      "id": "ObservationSampleTime",
      "description": "Represents a sample time of an observed data point.",
      "properties": {
        "physicalTime": {
          "type": "string",
          "description": "Required. The time of the observation.",
          "format": "google-datetime"
        },
        "utcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "civilTime": {
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        }
      },
      "type": "object"
    },
    "GoogleDevicesandservicesHealthV4WebhookNotificationCloudLog": {
      "description": "Log message for a webhook notification sent by the Google Health API to a subscriber's endpoint. Includes the HTTP response received from the endpoint.",
      "properties": {
        "httpResponse": {
          "description": "Required. Represents the HTTP response. This message includes the status code, reason phrase, headers, and body.",
          "$ref": "HttpResponse"
        }
      },
      "type": "object",
      "id": "GoogleDevicesandservicesHealthV4WebhookNotificationCloudLog"
    },
    "CivilTimeInterval": {
      "type": "object",
      "description": "Counterpart of google.type.Interval, but using CivilDateTime.",
      "properties": {
        "start": {
          "description": "Required. The inclusive start of the range.",
          "$ref": "CivilDateTime"
        },
        "end": {
          "description": "Required. The exclusive end of the range.",
          "$ref": "CivilDateTime"
        }
      },
      "id": "CivilTimeInterval"
    },
    "RollUpDataPointsRequest": {
      "id": "RollUpDataPointsRequest",
      "type": "object",
      "description": "Request to roll up data points by physical time intervals.",
      "properties": {
        "windowSize": {
          "format": "google-duration",
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "dataSourceFamily": {
          "type": "string",
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "Interval"
        }
      }
    },
    "DailyRestingHeartRateMetadata": {
      "description": "Metadata for the daily resting heart rate.",
      "properties": {
        "calculationMethod": {
          "type": "string",
          "description": "Required. The method used to calculate the resting heart rate.",
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ],
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ]
        }
      },
      "type": "object",
      "id": "DailyRestingHeartRateMetadata"
    },
    "ActivityLevelRollupValue": {
      "id": "ActivityLevelRollupValue",
      "description": "Represents the result of the rollup of the activity level data type.",
      "properties": {
        "activityLevelRollupsByActivityLevelType": {
          "type": "array",
          "description": "List of total durations in each activity level type.",
          "items": {
            "$ref": "ActivityLevelRollupByActivityLevelType"
          }
        }
      },
      "type": "object"
    },
    "ExerciseEvent": {
      "id": "ExerciseEvent",
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split.",
      "properties": {
        "eventTime": {
          "description": "Required. Exercise event time",
          "type": "string",
          "format": "google-datetime"
        },
        "exerciseEventType": {
          "description": "Required. The type of the event, such as start, stop, pause, resume.",
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ],
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ],
          "type": "string"
        },
        "eventUtcOffset": {
          "format": "google-duration",
          "description": "Required. Exercise event time offset from UTC",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StepsRollupValue": {
      "id": "StepsRollupValue",
      "description": "Represents the result of the rollup of the steps data type.",
      "properties": {
        "countSum": {
          "format": "int64",
          "type": "string",
          "description": "Total number of steps in the interval."
        }
      },
      "type": "object"
    },
    "ExerciseMetadata": {
      "id": "ExerciseMetadata",
      "type": "object",
      "description": "Additional exercise metadata.",
      "properties": {
        "hasGps": {
          "description": "Optional. Whether the exercise had GPS tracking.",
          "type": "boolean"
        },
        "poolLengthMillimeters": {
          "format": "int64",
          "description": "Optional. Pool length in millimeters. Only present in the swimming exercises.",
          "type": "string"
        }
      }
    },
    "ActivityLevel": {
      "id": "ActivityLevel",
      "type": "object",
      "description": "Internal type to capture activity level during a certain time interval.",
      "properties": {
        "activityLevelType": {
          "type": "string",
          "description": "Required. Activity level type in the given time interval.",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ]
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      }
    },
    "Steps": {
      "description": "Step count over the time interval.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Required. Number of steps in the recorded interval."
        }
      },
      "type": "object",
      "id": "Steps"
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMin": {
          "type": "number",
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "format": "double"
        },
        "averageHeartRateVariabilityMillisecondsMax": {
          "type": "number",
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "format": "double"
        }
      },
      "type": "object",
      "id": "HeartRateVariabilityPersonalRangeRollupValue"
    },
    "ObservationTimeInterval": {
      "description": "Represents a time interval of an observed data point.",
      "properties": {
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "endUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "civilEndTime": {
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "endTime": {
          "type": "string",
          "description": "Required. Observed interval end time.",
          "format": "google-datetime"
        },
        "civilStartTime": {
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Observed interval start time."
        }
      },
      "type": "object",
      "id": "ObservationTimeInterval"
    },
    "StageSummary": {
      "id": "StageSummary",
      "description": "Total duration and segment count for a stage.",
      "properties": {
        "type": {
          "readOnly": true,
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "type": "string",
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ]
        },
        "minutes": {
          "format": "int64",
          "description": "Output only. Total duration in minutes of a sleep stage.",
          "readOnly": true,
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "Output only. Number of sleep stages segments.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "SedentaryPeriod": {
      "type": "object",
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device).",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "id": "SedentaryPeriod"
    },
    "Height": {
      "id": "Height",
      "type": "object",
      "description": "Body height measurement.",
      "properties": {
        "heightMillimeters": {
          "type": "string",
          "description": "Required. Height of the user in millimeters.",
          "format": "int64"
        },
        "sampleTime": {
          "description": "Required. The time at which the height was recorded.",
          "$ref": "ObservationSampleTime"
        }
      }
    },
    "DistanceRollupValue": {
      "id": "DistanceRollupValue",
      "type": "object",
      "description": "Result of the rollup of the user's distance.",
      "properties": {
        "millimetersSum": {
          "type": "string",
          "description": "Sum of the distance in millimeters.",
          "format": "int64"
        }
      }
    },
    "HeartRateZone": {
      "type": "object",
      "description": "The heart rate zone.",
      "properties": {
        "heartRateZoneType": {
          "type": "string",
          "description": "Required. The heart rate zone type.",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        },
        "minBeatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Required. Minimum heart rate for this zone in beats per minute."
        },
        "maxBeatsPerMinute": {
          "format": "int64",
          "description": "Required. Maximum heart rate for this zone in beats per minute.",
          "type": "string"
        }
      },
      "id": "HeartRateZone"
    },
    "DailySleepTemperatureDerivations": {
      "id": "DailySleepTemperatureDerivations",
      "type": "object",
      "description": "Provides derived sleep temperature values, calculated from skin or internal device temperature readings during sleep.",
      "properties": {
        "date": {
          "description": "Required. Date for which the sleep temperature derivations are calculated.",
          "$ref": "Date"
        },
        "nightlyTemperatureCelsius": {
          "type": "number",
          "description": "Required. The user's nightly skin temperature. It is the mean of skin temperature samples taken from the user’s sleep.",
          "format": "double"
        },
        "relativeNightlyStddev30dCelsius": {
          "description": "Optional. The standard deviation of the user’s relative nightly skin temperature (temperature - baseline) over the past 30 days.",
          "type": "number",
          "format": "double"
        },
        "baselineTemperatureCelsius": {
          "format": "double",
          "type": "number",
          "description": "Optional. The user's baseline skin temperature. It is the median of the user's nightly skin temperature over the past 30 days."
        }
      }
    },
    "HttpResponse": {
      "id": "HttpResponse",
      "description": "Represents an HTTP response.",
      "properties": {
        "headers": {
          "type": "array",
          "description": "The HTTP response headers. The ordering of the headers is significant. Multiple headers with the same key may present for the response.",
          "items": {
            "$ref": "HttpHeader"
          }
        },
        "status": {
          "description": "The HTTP status code, such as 200 or 404.",
          "type": "integer",
          "format": "int32"
        },
        "reason": {
          "type": "string",
          "description": "The HTTP reason phrase, such as \"OK\" or \"Not Found\"."
        },
        "body": {
          "description": "The HTTP response body. If the body is not expected, it should be empty.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "HydrationLog": {
      "type": "object",
      "description": "Holds information about a user logged hydration.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "SessionTimeInterval"
        },
        "amountConsumed": {
          "description": "Required. Amount of liquid (ex. water) consumed.",
          "$ref": "VolumeQuantity"
        }
      },
      "id": "HydrationLog"
    },
    "ExportExerciseTcxResponse": {
      "id": "ExportExerciseTcxResponse",
      "type": "object",
      "description": "Represents a Response for exporting exercise data in TCX format.",
      "properties": {
        "tcxData": {
          "description": "Contains the exported TCX data.",
          "type": "string"
        }
      }
    },
    "SplitSummary": {
      "id": "SplitSummary",
      "type": "object",
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories.",
      "properties": {
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. Lap start time offset from UTC",
          "type": "string"
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this split.",
          "$ref": "MetricsSummary"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. Lap end time offset from UTC"
        },
        "splitType": {
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic.",
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ],
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Required. Lap end time",
          "format": "google-datetime"
        },
        "activeDuration": {
          "format": "google-duration",
          "description": "Output only. Lap time excluding the pauses.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Lap start time",
          "type": "string"
        }
      }
    },
    "HydrationLogRollupValue": {
      "id": "HydrationLogRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the hydration log data type.",
      "properties": {
        "amountConsumed": {
          "description": "Rollup for amount consumed.",
          "$ref": "VolumeQuantityRollup"
        }
      }
    },
    "MobilityMetrics": {
      "type": "object",
      "description": "Mobility workouts specific metrics",
      "properties": {
        "avgGroundContactTimeDuration": {
          "type": "string",
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride",
          "format": "google-duration"
        },
        "avgStrideLengthMillimeters": {
          "type": "string",
          "description": "Optional. Stride length is a measure of the distance covered by a single stride",
          "format": "int64"
        },
        "avgVerticalOscillationMillimeters": {
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running",
          "type": "string",
          "format": "int64"
        },
        "avgCadenceStepsPerMinute": {
          "format": "double",
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout.",
          "type": "number"
        },
        "avgVerticalRatio": {
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0].",
          "type": "number",
          "format": "double"
        }
      },
      "id": "MobilityMetrics"
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "id": "CaloriesInHeartRateZoneRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "properties": {
        "caloriesInHeartRateZones": {
          "description": "List of calories burned in each heart rate zone.",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "type": "array"
        }
      }
    },
    "Settings": {
      "id": "Settings",
      "description": "Settings details.",
      "properties": {
        "languageLocale": {
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        },
        "glucoseUnit": {
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ],
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ]
        },
        "waterUnit": {
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ],
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ]
        },
        "strideLengthRunningType": {
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported.",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "type": "string"
        },
        "heightUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ],
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ],
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        },
        "swimUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ],
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
        },
        "weightUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ],
          "type": "string"
        },
        "distanceUnit": {
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported.",
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ],
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ]
        },
        "autoStrideEnabled": {
          "type": "boolean",
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported."
        },
        "utcOffset": {
          "description": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported.",
          "type": "string",
          "format": "google-duration"
        },
        "strideLengthWalkingType": {
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "type": "string"
        },
        "temperatureUnit": {
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ]
        }
      },
      "type": "object"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "TimeOfDay"
    },
    "VO2Max": {
      "id": "VO2Max",
      "type": "object",
      "description": "VO2 max measurement.",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which VO2 max was measured.",
          "$ref": "ObservationSampleTime"
        },
        "vo2Max": {
          "format": "double",
          "type": "number",
          "description": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min."
        },
        "measurementMethod": {
          "description": "Optional. The method used to measure the VO2 max value.",
          "enumDescriptions": [
            "Unspecified measurement method.",
            "Fitbit specific, measures VO2 max rate during a run.",
            "Google specific, measures VO2 max rate for a user based on their demographic data.",
            "Run as far as possible for 12 minutes. Distance correlated with age and gender translates to a VO2 max value.",
            "Maximum heart rate divided by the resting heart rate, with a multiplier applied. Does not require any exercise.",
            "Measured by a medical device called metabolic cart.",
            "Continuous 20m back-and-forth runs with increasing difficulty, until exhaustion.",
            "Measured using walking exercise.",
            "Healthkit specific, measures VO2 max rate by monitoring exercise to the user’s physical limit. Similar to COOPER_TEST or MULTISTAGE_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate based on low-intensity exercise. Similar to ROCKPORT_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate without any exercise. Similar to HEART_RATE_RATIO.",
            "Use when the method is not covered in this enum."
          ],
          "enum": [
            "MEASUREMENT_METHOD_UNSPECIFIED",
            "FITBIT_RUN",
            "GOOGLE_DEMOGRAPHIC",
            "COOPER_TEST",
            "HEART_RATE_RATIO",
            "METABOLIC_CART",
            "MULTISTAGE_FITNESS_TEST",
            "ROCKPORT_FITNESS_TEST",
            "MAX_EXERCISE",
            "PREDICTION_SUB_MAX_EXERCISE",
            "PREDICTION_NON_EXERCISE",
            "OTHER"
          ],
          "type": "string"
        }
      }
    },
    "TimeZone": {
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "id": "TimeZone"
    },
    "SleepMetadata": {
      "type": "object",
      "description": "Additional information about how the sleep was processed.",
      "properties": {
        "nap": {
          "type": "boolean",
          "description": "Output only. Naps are sleeps without stages and relatively short durations.",
          "readOnly": true
        },
        "stagesStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ],
          "type": "string",
          "description": "Output only. Sleep stages algorithm processing status.",
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ]
        },
        "processed": {
          "type": "boolean",
          "description": "Output only. Sleep and sleep stages algorithms finished processing.",
          "readOnly": true
        },
        "externalId": {
          "type": "string",
          "description": "Optional. Sleep identifier relevant in the context of the data source."
        },
        "manuallyEdited": {
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "SleepMetadata"
    },
    "RestingHeartRatePersonalRangeRollupValue": {
      "type": "object",
      "description": "Represents the rollup value for the daily resting heart rate data type.",
      "properties": {
        "beatsPerMinuteMax": {
          "format": "double",
          "description": "The upper bound of the user's daily resting heart rate personal range.",
          "type": "number"
        },
        "beatsPerMinuteMin": {
          "type": "number",
          "description": "The lower bound of the user's daily resting heart rate personal range.",
          "format": "double"
        }
      },
      "id": "RestingHeartRatePersonalRangeRollupValue"
    },
    "Device": {
      "id": "Device",
      "type": "object",
      "description": "Captures metadata about the device that recorded the measurement.",
      "properties": {
        "formFactor": {
          "type": "string",
          "description": "Optional. Captures the form factor of the device.",
          "enumDescriptions": [
            "The form factor is unspecified.",
            "The device is a fitness band.",
            "The device is a watch.",
            "The device is a phone.",
            "The device is a ring.",
            "The device is a chest strap.",
            "The device is a scale.",
            "The device is a tablet.",
            "The device is a head mounted device.",
            "The device is a smart display."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "FITNESS_BAND",
            "WATCH",
            "PHONE",
            "RING",
            "CHEST_STRAP",
            "SCALE",
            "TABLET",
            "HEAD_MOUNTED",
            "SMART_DISPLAY"
          ]
        },
        "manufacturer": {
          "description": "Optional. An optional manufacturer of the device.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. An optional name for the device.",
          "type": "string"
        }
      }
    },
    "CreateSubscriberPayload": {
      "id": "CreateSubscriberPayload",
      "type": "object",
      "description": "Payload for creating a subscriber.",
      "properties": {
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for the subscriber endpoint. The `secret` within this message is crucial for endpoint verification and for securing webhook notifications.",
          "$ref": "EndpointAuthorization"
        },
        "endpointUri": {
          "type": "string",
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during the `CreateSubscriber` call. See CreateSubscriber RPC documentation for verification details."
        },
        "subscriberConfigs": {
          "type": "array",
          "description": "Optional. Configuration for the subscriber.",
          "items": {
            "$ref": "SubscriberConfig"
          }
        }
      }
    },
    "SleepSummary": {
      "id": "SleepSummary",
      "description": " Sleep summary: metrics and stages summary.",
      "properties": {
        "minutesToFallAsleep": {
          "type": "string",
          "description": "Output only. Minutes to fall asleep calculated by restlessness algorithm.",
          "readOnly": true,
          "format": "int64"
        },
        "stagesSummary": {
          "type": "array",
          "description": "Output only. List of summaries (total duration and segment count) per each sleep stage type.",
          "readOnly": true,
          "items": {
            "$ref": "StageSummary"
          }
        },
        "minutesAsleep": {
          "description": "Output only. Total number of minutes asleep. For classic sleep it is the sum of ASLEEP stages (excluding AWAKE and RESTLESS). For \"stages\" sleep it is the sum of LIGHT, REM and DEEP stages (excluding AWAKE).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "minutesAfterWakeUp": {
          "description": "Output only. Minutes after wake up calculated by restlessness algorithm.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "minutesInSleepPeriod": {
          "format": "int64",
          "description": "Output only. Delta between wake time and bedtime. It is the sum of all stages.",
          "readOnly": true,
          "type": "string"
        },
        "minutesAwake": {
          "format": "int64",
          "description": "Output only. Total number of minutes awake. It is a sum of all AWAKE stages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "HeartRateVariability": {
      "id": "HeartRateVariability",
      "type": "object",
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN).",
      "properties": {
        "sampleTime": {
          "description": "Required. The time of the heart rate variability measurement.",
          "$ref": "ObservationSampleTime"
        },
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Fitbit.",
[...]
