{
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "canonicalName": "Google Health API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "name": "health",
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "id": "health:v4",
  "version": "v4",
  "title": "Google Health API",
  "revision": "20260416",
  "baseUrl": "https://health.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "schemas": {
    "Device": {
      "id": "Device",
      "type": "object",
      "properties": {
        "formFactor": {
          "enumDescriptions": [
            "The form factor is unspecified.",
            "The device is a fitness band.",
            "The device is a watch.",
            "The device is a phone.",
            "The device is a ring.",
            "The device is a chest strap.",
            "The device is a scale.",
            "The device is a tablet.",
            "The device is a head mounted device.",
            "The device is a smart display."
          ],
          "description": "Optional. Captures the form factor of the device.",
          "type": "string",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "FITNESS_BAND",
            "WATCH",
            "PHONE",
            "RING",
            "CHEST_STRAP",
            "SCALE",
            "TABLET",
            "HEAD_MOUNTED",
            "SMART_DISPLAY"
          ]
        },
        "displayName": {
          "description": "Optional. An optional name for the device.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Optional. An optional manufacturer of the device.",
          "type": "string"
        }
      },
      "description": "Captures metadata about the device that recorded the measurement."
    },
    "DataPoint": {
      "description": "A computed or recorded metric.",
      "id": "DataPoint",
      "type": "object",
      "properties": {
        "weight": {
          "description": "Optional. Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "activityLevel": {
          "description": "Optional. Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "sedentaryPeriod": {
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "swimLengthsData": {
          "description": "Optional. Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "steps": {
          "description": "Optional. Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "oxygenSaturation": {
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailyHeartRateZones": {
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "bodyFat": {
          "description": "Optional. Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "height": {
          "description": "Optional. Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "altitude": {
          "description": "Optional. Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "hydrationLog": {
          "description": "Optional. Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "name": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "dataSource": {
          "description": "Optional. Data source information for the metric",
          "$ref": "DataSource"
        },
        "heartRate": {
          "description": "Optional. Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "runVo2Max": {
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "dailyRestingHeartRate": {
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "dailyOxygenSaturation": {
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "activeZoneMinutes": {
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "sleep": {
          "description": "Optional. Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "heartRateVariability": {
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "respiratoryRateSleepSummary": {
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        }
      }
    },
    "OutOfBedSegment": {
      "id": "OutOfBedSegment",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required. Segment tart time.",
          "type": "string",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the end of the segment relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the segment relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Required. Segment end time.",
          "format": "google-datetime"
        }
      },
      "description": "A time interval to represent an out-of-bed segment."
    },
    "Height": {
      "id": "Height",
      "type": "object",
      "properties": {
        "heightMillimeters": {
          "type": "string",
          "description": "Required. Height of the user in millimeters.",
          "format": "int64"
        },
        "sampleTime": {
          "description": "Required. The time at which the height was recorded.",
          "$ref": "ObservationSampleTime"
        }
      },
      "description": "Body height measurement."
    },
    "DistanceRollupValue": {
      "id": "DistanceRollupValue",
      "type": "object",
      "properties": {
        "millimetersSum": {
          "type": "string",
          "description": "Sum of the distance in millimeters.",
          "format": "int64"
        }
      },
      "description": "Result of the rollup of the user's distance."
    },
    "AltitudeRollupValue": {
      "id": "AltitudeRollupValue",
      "type": "object",
      "properties": {
        "gainMillimetersSum": {
          "format": "int64",
          "type": "string",
          "description": "Sum of the altitude gain in millimeters."
        }
      },
      "description": "Represents the result of the rollup of the user's altitude."
    },
    "SwimLengthsData": {
      "id": "SwimLengthsData",
      "type": "object",
      "properties": {
        "strokeCount": {
          "description": "Required. Number of strokes in the lap.",
          "type": "string",
          "format": "int64"
        },
        "swimStrokeType": {
          "enumDescriptions": [
            "Swim stroke type is unspecified.",
            "Freestyle swim stroke type.",
            "Backstroke swim stroke type.",
            "Breaststroke swim stroke type.",
            "Butterfly swim stroke type."
          ],
          "description": "Required. Swim stroke type.",
          "type": "string",
          "enum": [
            "SWIM_STROKE_TYPE_UNSPECIFIED",
            "FREESTYLE",
            "BACKSTROKE",
            "BREASTSTROKE",
            "BUTTERFLY"
          ]
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "description": "Swim lengths data over the time interval."
    },
    "SubscriberConfig": {
      "id": "SubscriberConfig",
      "type": "object",
      "properties": {
        "subscriptionCreatePolicy": {
          "type": "string",
          "enum": [
            "SUBSCRIPTION_CREATE_POLICY_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Required. Policy for subscription creation.",
          "enumDescriptions": [
            "Represents an unspecified policy.",
            "When using `AUTOMATIC`, individual subscriptions are not created or stored. Instead, eligibility for notifications is computed dynamically. When a data update occurs for a given data type, notifications are sent to all subscribers with an `AUTOMATIC` policy for that data type, provided the user has granted the necessary consents. This means you do not need to call `CreateSubscription` for each user; notifications are managed automatically based on user consents. As `Subscription` resources are not stored, they cannot be retrieved or managed through `GetSubscription`, `ListSubscriptions`, `UpdateSubscription`, or `DeleteSubscription`.",
            "Requires subscriptions to be created manually for new users. The developer needs to call CreateSubscription for new users."
          ]
        },
        "dataTypes": {
          "description": "Required. Supported data types are: \"altitude\", \"distance\", \"floors\", \"sleep\", \"steps\", \"weight\". Values should be in kebab-case.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Configuration for a subscriber. A notification is sent to a subscription ONLY if the subscriber has a config for the data type."
    },
    "StageSummary": {
      "id": "StageSummary",
      "type": "object",
      "properties": {
        "minutes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total duration in minutes of a sleep stage."
        },
        "count": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of sleep stages segments."
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "type": "string",
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ]
        }
      },
      "description": "Total duration and segment count for a stage."
    },
    "ActivityLevel": {
      "description": "Internal type to capture activity level during a certain time interval.",
      "id": "ActivityLevel",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activityLevelType": {
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "description": "Required. Activity level type in the given time interval."
        }
      }
    },
    "HttpResponse": {
      "description": "Represents an HTTP response.",
      "id": "HttpResponse",
      "type": "object",
      "properties": {
        "body": {
          "type": "string",
          "description": "The HTTP response body. If the body is not expected, it should be empty.",
          "format": "byte"
        },
        "reason": {
          "description": "The HTTP reason phrase, such as \"OK\" or \"Not Found\".",
          "type": "string"
        },
        "status": {
          "description": "The HTTP status code, such as 200 or 404.",
          "type": "integer",
          "format": "int32"
        },
        "headers": {
          "type": "array",
          "description": "The HTTP response headers. The ordering of the headers is significant. Multiple headers with the same key may present for the response.",
          "items": {
            "$ref": "HttpHeader"
          }
        }
      }
    },
    "RollUpDataPointsRequest": {
      "id": "RollUpDataPointsRequest",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "dataSourceFamily": {
          "type": "string",
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources"
        },
        "windowSize": {
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions.",
          "type": "string",
          "format": "google-duration"
        },
        "pageSize": {
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer",
          "format": "int32"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "Interval"
        }
      },
      "description": "Request to roll up data points by physical time intervals."
    },
    "ListDataPointsResponse": {
      "description": "Response containing raw data points matching the query",
      "id": "ListDataPointsResponse",
      "type": "object",
      "properties": {
        "dataPoints": {
          "type": "array",
          "description": "Data points matching the query",
          "items": {
            "$ref": "DataPoint"
          }
        },
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        }
      }
    },
    "HeartRateRollupValue": {
      "id": "HeartRateRollupValue",
      "type": "object",
      "properties": {
        "beatsPerMinuteAvg": {
          "description": "The average heart rate value in the interval.",
          "type": "number",
          "format": "double"
        },
        "beatsPerMinuteMax": {
          "format": "double",
          "description": "The maximum heart rate value in the interval.",
          "type": "number"
        },
        "beatsPerMinuteMin": {
          "format": "double",
          "type": "number",
          "description": "The minimum heart rate value in the interval."
        }
      },
      "description": "Represents the result of the rollup of the heart rate data type."
    },
    "ExerciseEvent": {
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split.",
      "id": "ExerciseEvent",
      "type": "object",
      "properties": {
        "eventUtcOffset": {
          "type": "string",
          "description": "Required. Exercise event time offset from UTC",
          "format": "google-duration"
        },
        "exerciseEventType": {
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ],
          "type": "string",
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ],
          "description": "Required. The type of the event, such as start, stop, pause, resume."
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Exercise event time"
        }
      }
    },
    "Floors": {
      "description": "Gained elevation measured in floors over the time interval",
      "id": "Floors",
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "description": "Required. Number of floors in the recorded interval",
          "type": "string"
        },
        "interval": {
          "description": "Required. Observed interval",
          "$ref": "ObservationTimeInterval"
        }
      }
    },
    "DailyOxygenSaturation": {
      "id": "DailyOxygenSaturation",
      "type": "object",
      "properties": {
        "lowerBoundPercentage": {
          "format": "double",
          "description": "Required. The lower bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number"
        },
        "averagePercentage": {
          "description": "Required. The average value of the oxygen saturation samples during the sleep.",
          "type": "number",
          "format": "double"
        },
        "upperBoundPercentage": {
          "type": "number",
          "description": "Required. The upper bound of the confidence interval of oxygen saturation samples during sleep.",
          "format": "double"
        },
        "date": {
          "description": "Required. Date (in user's timezone) of the daily oxygen saturation record.",
          "$ref": "Date"
        },
        "standardDeviationPercentage": {
          "format": "double",
          "description": "Optional. Standard deviation of the daily oxygen saturation averages from the past 7-30 days.",
          "type": "number"
        }
      },
      "description": "A daily oxygen saturation (SpO2) record. Represents the user's daily oxygen saturation summary, typically calculated during sleep."
    },
    "DailyRollUpDataPointsResponse": {
      "id": "DailyRollUpDataPointsResponse",
      "type": "object",
      "properties": {
        "rollupDataPoints": {
          "description": "Values for each aggregation time window.",
          "items": {
            "$ref": "DailyRollupDataPoint"
          },
          "type": "array"
        }
      },
      "description": "Response containing the list of rolled up data points."
    },
    "DailyRollupDataPoint": {
      "id": "DailyRollupDataPoint",
      "type": "object",
      "properties": {
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "heartRateVariabilityPersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier.",
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "civilEndTime": {
          "description": "End time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "civilStartTime": {
          "description": "Start time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "restingHeartRatePersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier.",
          "$ref": "RestingHeartRatePersonalRangeRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        }
      },
      "description": "Value of a daily rollup for a single civil time interval (aggregation window)"
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "type": "object",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMin": {
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "type": "number",
          "format": "double"
        },
        "averageHeartRateVariabilityMillisecondsMax": {
          "format": "double",
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "type": "number"
        }
      },
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range."
    },
    "CivilDateTime": {
      "id": "CivilDateTime",
      "type": "object",
      "properties": {
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        },
        "date": {
          "description": "Required. Calendar date.",
          "$ref": "Date"
        }
      },
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries."
    },
    "HeartRate": {
      "id": "HeartRate",
      "type": "object",
      "properties": {
        "beatsPerMinute": {
          "type": "string",
          "description": "Required. The heart rate value in beats per minute.",
          "format": "int64"
        },
        "metadata": {
          "description": "Optional. Metadata about the heart rate sample.",
          "$ref": "HeartRateMetadata"
        },
        "sampleTime": {
          "description": "Required. Observation time",
          "$ref": "ObservationSampleTime"
        }
      },
      "description": "A heart rate measurement."
    },
    "HttpHeader": {
      "id": "HttpHeader",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The HTTP header key. It is case insensitive."
        },
        "value": {
          "type": "string",
          "description": "The HTTP header value."
        }
      },
      "description": "Represents an HTTP header."
    },
    "DailyVO2Max": {
      "id": "DailyVO2Max",
      "type": "object",
      "properties": {
        "estimated": {
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation.",
          "type": "boolean"
        },
        "cardioFitnessLevel": {
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ],
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max.",
          "type": "string",
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ]
        },
        "vo2MaxCovariance": {
          "format": "double",
          "description": "Optional. The covariance of the VO2 max value.",
          "type": "number"
        },
        "date": {
          "description": "Required. The date for which the Daily VO2 max was measured.",
          "$ref": "Date"
        },
        "vo2Max": {
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise."
    },
    "WebhookNotificationCloudLog": {
      "description": "Log message for a webhook notification sent by the Google Health API to a subscriber's endpoint. Includes the HTTP response received from the endpoint.",
      "id": "WebhookNotificationCloudLog",
      "type": "object",
      "properties": {
        "httpResponse": {
          "description": "Required. Represents the HTTP response. This message includes the status code, reason phrase, headers, and body.",
          "$ref": "HttpResponse"
        }
      }
    },
    "DailyRestingHeartRate": {
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "id": "DailyRestingHeartRate",
      "type": "object",
      "properties": {
        "beatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Required. The resting heart rate value in beats per minute."
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement.",
          "$ref": "Date"
        },
        "dailyRestingHeartRateMetadata": {
          "description": "Optional. Metadata for the daily resting heart rate.",
          "$ref": "DailyRestingHeartRateMetadata"
        }
      }
    },
    "MobilityMetrics": {
      "description": "Mobility workouts specific metrics",
      "id": "MobilityMetrics",
      "type": "object",
      "properties": {
        "avgVerticalRatio": {
          "format": "double",
          "type": "number",
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0]."
        },
        "avgGroundContactTimeDuration": {
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride",
          "type": "string",
          "format": "google-duration"
        },
        "avgCadenceStepsPerMinute": {
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout.",
          "type": "number",
          "format": "double"
        },
        "avgVerticalOscillationMillimeters": {
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running",
          "type": "string",
          "format": "int64"
        },
        "avgStrideLengthMillimeters": {
          "type": "string",
          "description": "Optional. Stride length is a measure of the distance covered by a single stride",
          "format": "int64"
        }
      }
    },
    "DateTime": {
      "id": "DateTime",
      "type": "object",
      "properties": {
        "minutes": {
          "format": "int32",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "seconds": {
          "type": "integer",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32"
        },
        "utcOffset": {
          "type": "string",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
        },
        "nanos": {
          "type": "integer",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32"
        }
      },
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "Settings": {
      "id": "Settings",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        },
        "strideLengthRunningType": {
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported.",
          "type": "string",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
        },
        "glucoseUnit": {
          "type": "string",
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ]
        },
        "autoStrideEnabled": {
          "type": "boolean",
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported."
        },
        "swimUnit": {
          "type": "string",
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ]
        },
        "utcOffset": {
          "type": "string",
          "description": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported.",
          "format": "google-duration"
        },
        "waterUnit": {
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ],
          "type": "string",
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings."
        },
        "strideLengthWalkingType": {
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "type": "string",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ]
        },
        "heightUnit": {
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ]
        },
        "temperatureUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ],
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ]
        },
        "languageLocale": {
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        },
        "distanceUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string",
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ]
        },
        "weightUnit": {
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "type": "string",
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings."
        }
      },
      "description": "Settings details."
    },
    "BatchDeleteDataPointsRequest": {
      "description": "Request to delete a batch of identifiable data points.",
      "id": "BatchDeleteDataPointsRequest",
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ActivityLevelRollupByActivityLevelType": {
      "id": "ActivityLevelRollupByActivityLevelType",
      "type": "object",
      "properties": {
        "totalDuration": {
          "format": "google-duration",
          "description": "Total duration in the activity level type.",
          "type": "string"
        },
        "activityLevelType": {
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "description": "Activity level type.",
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ]
        }
      },
      "description": "Represents the total duration in a specific activity level type."
    },
    "ObservationSampleTime": {
      "id": "ObservationSampleTime",
      "type": "object",
      "properties": {
        "physicalTime": {
          "type": "string",
          "description": "Required. The time of the observation.",
          "format": "google-datetime"
        },
        "utcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC)."
        },
        "civilTime": {
          "readOnly": true,
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "$ref": "CivilDateTime"
        }
      },
      "description": "Represents a sample time of an observed data point."
    },
    "StepsRollupValue": {
      "description": "Represents the result of the rollup of the steps data type.",
      "id": "StepsRollupValue",
      "type": "object",
      "properties": {
        "countSum": {
          "type": "string",
          "description": "Total number of steps in the interval.",
          "format": "int64"
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "DailyHeartRateVariability": {
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`",
      "id": "DailyHeartRateVariability",
      "type": "object",
      "properties": {
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "type": "number",
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep.",
          "format": "double"
        },
        "entropy": {
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep.",
          "type": "number",
          "format": "double"
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement.",
          "$ref": "Date"
        },
        "averageHeartRateVariabilityMilliseconds": {
          "type": "number",
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats.",
          "format": "double"
        },
        "nonRemHeartRateBeatsPerMinute": {
          "description": "Optional. Non-REM heart rate",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "TimeInHeartRateZoneValue": {
      "description": "Represents the total time spent in a specific heart rate zone.",
      "id": "TimeInHeartRateZoneValue",
      "type": "object",
      "properties": {
        "heartRateZone": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "description": "The heart rate zone.",
          "type": "string",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "The total time spent in the specified heart rate zone."
        }
      }
    },
    "ExerciseMetadata": {
      "id": "ExerciseMetadata",
      "type": "object",
      "properties": {
        "poolLengthMillimeters": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Pool length in millimeters. Only present in the swimming exercises."
        },
        "hasGps": {
          "description": "Optional. Whether the exercise had GPS tracking.",
          "type": "boolean"
        }
      },
      "description": "Additional exercise metadata."
    },
    "SplitSummary": {
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories.",
      "id": "SplitSummary",
      "type": "object",
      "properties": {
        "splitType": {
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic.",
          "type": "string",
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ]
        },
        "activeDuration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Lap time excluding the pauses.",
          "format": "google-duration"
        },
        "startTime": {
          "type": "string",
          "description": "Required. Lap start time",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. Lap end time offset from UTC"
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. Lap start time offset from UTC",
          "format": "google-duration"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Lap end time"
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this split.",
          "$ref": "MetricsSummary"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ReconcileDataPointsResponse": {
      "id": "ReconcileDataPointsResponse",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Data points matching the query",
          "items": {
            "$ref": "ReconciledDataPoint"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        }
      },
      "description": "Response containing the list of reconciled DataPoints."
    },
    "ExportExerciseTcxResponse": {
      "id": "ExportExerciseTcxResponse",
      "type": "object",
      "properties": {
        "tcxData": {
          "description": "Contains the exported TCX data.",
          "type": "string"
        }
      },
      "description": "Represents a Response for exporting exercise data in TCX format."
    },
    "TimeInHeartRateZoneRollupValue": {
      "id": "TimeInHeartRateZoneRollupValue",
      "type": "object",
      "properties": {
        "timeInHeartRateZones": {
          "description": "List of time spent in each heart rate zone.",
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          },
          "type": "array"
        }
      },
      "description": "Represents the result of the rollup of the time in heart rate zone data type."
    },
    "VO2Max": {
      "description": "VO2 max measurement.",
      "id": "VO2Max",
      "type": "object",
      "properties": {
        "vo2Max": {
          "format": "double",
          "type": "number",
          "description": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min."
        },
        "sampleTime": {
          "description": "Required. The time at which VO2 max was measured.",
          "$ref": "ObservationSampleTime"
        },
        "measurementMethod": {
          "type": "string",
          "enum": [
            "MEASUREMENT_METHOD_UNSPECIFIED",
            "FITBIT_RUN",
            "GOOGLE_DEMOGRAPHIC",
            "COOPER_TEST",
            "HEART_RATE_RATIO",
            "METABOLIC_CART",
            "MULTISTAGE_FITNESS_TEST",
            "ROCKPORT_FITNESS_TEST",
            "MAX_EXERCISE",
            "PREDICTION_SUB_MAX_EXERCISE",
            "PREDICTION_NON_EXERCISE",
            "OTHER"
          ],
          "description": "Optional. The method used to measure the VO2 max value.",
          "enumDescriptions": [
            "Unspecified measurement method.",
            "Fitbit specific, measures VO2 max rate during a run.",
            "Google specific, measures VO2 max rate for a user based on their demographic data.",
            "Run as far as possible for 12 minutes. Distance correlated with age and gender translates to a VO2 max value.",
            "Maximum heart rate divided by the resting heart rate, with a multiplier applied. Does not require any exercise.",
            "Measured by a medical device called metabolic cart.",
            "Continuous 20m back-and-forth runs with increasing difficulty, until exhaustion.",
            "Measured using walking exercise.",
            "Healthkit specific, measures VO2 max rate by monitoring exercise to the user’s physical limit. Similar to COOPER_TEST or MULTISTAGE_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate based on low-intensity exercise. Similar to ROCKPORT_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate without any exercise. Similar to HEART_RATE_RATIO.",
            "Use when the method is not covered in this enum."
          ]
        }
      }
    },
    "Sleep": {
      "id": "Sleep",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed sleep interval.",
          "$ref": "SessionTimeInterval"
        },
        "outOfBedSegments": {
          "description": "Optional. “Out of bed” segments that can overlap with sleep stages.",
          "items": {
            "$ref": "OutOfBedSegment"
          },
          "type": "array"
        },
        "metadata": {
          "description": "Optional. Sleep metadata: processing, main, manually edited, stages status.",
          "$ref": "SleepMetadata"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Creation time of this sleep observation.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Sleep type is unspecified.",
            "Classic sleep is a sleep with 3 stages types: AWAKE, RESTLESS and ASLEEP.",
            "On top of \"classic\" sleep stages an additional processing pass can calculate stages more precisely, overwriting the prior stages with AWAKE, LIGHT, REM and DEEP."
          ],
          "type": "string",
          "enum": [
            "SLEEP_TYPE_UNSPECIFIED",
            "CLASSIC",
            "STAGES"
          ],
          "description": "Optional. SleepType: classic or stages."
        },
        "stages": {
          "type": "array",
          "description": "Optional. List of non-overlapping contiguous sleep stage segments that cover the sleep period.",
          "items": {
            "$ref": "SleepStage"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update time of this sleep observation."
        },
        "summary": {
          "readOnly": true,
          "description": "Output only. Sleep summary: metrics and stages summary.",
          "$ref": "SleepSummary"
        }
      },
      "description": "A sleep session possibly including stages."
    },
    "Altitude": {
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "id": "Altitude",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "gainMillimeters": {
          "type": "string",
          "description": "Required. Altitude gain in millimeters over the observed interval.",
          "format": "int64"
        }
      }
    },
    "HeartRateVariability": {
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN).",
      "id": "HeartRateVariability",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time of the heart rate variability measurement.",
          "$ref": "ObservationSampleTime"
        },
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "format": "double",
          "type": "number",
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Fitbit."
        },
        "standardDeviationMilliseconds": {
          "format": "double",
          "type": "number",
          "description": "Optional. The standard deviation of the heart rate variability measurement."
        }
      }
    },
    "ListSubscribersResponse": {
      "id": "ListSubscribersResponse",
      "type": "object",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total number of subscribers matching the request.",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "subscribers": {
          "type": "array",
          "description": "Subscribers from the specified project.",
          "items": {
            "$ref": "Subscriber"
          }
        }
      },
      "description": "Response message for ListSubscribers."
    },
    "HeartRateZone": {
      "id": "HeartRateZone",
      "type": "object",
      "properties": {
        "heartRateZoneType": {
          "type": "string",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "Required. The heart rate zone type.",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ]
        },
        "minBeatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Required. Minimum heart rate for this zone in beats per minute."
        },
        "maxBeatsPerMinute": {
          "type": "string",
          "description": "Required. Maximum heart rate for this zone in beats per minute.",
          "format": "int64"
        }
      },
      "description": "The heart rate zone."
    },
    "VolumeQuantityRollup": {
      "id": "VolumeQuantityRollup",
      "type": "object",
      "properties": {
        "userProvidedUnitLast": {
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "type": "string",
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ],
          "description": "Optional. The user provided unit on the last element."
        },
        "millilitersSum": {
          "format": "double",
          "type": "number",
          "description": "Required. The sum of volume in milliliters."
        }
      },
      "description": "Rollup for volume quantity."
    },
    "SwimLengthsDataRollupValue": {
      "description": "Represents the result of the rollup of the swim lengths data type.",
      "id": "SwimLengthsDataRollupValue",
      "type": "object",
      "properties": {
        "strokeCountSum": {
          "type": "string",
          "description": "Total number of swim strokes in the interval.",
          "format": "int64"
        }
      }
    },
    "SedentaryPeriod": {
      "id": "SedentaryPeriod",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device)."
    },
    "RunVO2Max": {
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min.",
      "id": "RunVO2Max",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the metric was measured.",
          "$ref": "ObservationSampleTime"
        },
        "runVo2Max": {
          "format": "double",
          "description": "Required. Run VO2 max value in ml/kg/min.",
          "type": "number"
        }
      }
    },
    "DailyHeartRateZones": {
      "id": "DailyHeartRateZones",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. Date (in user's timezone) of the heart rate zones record.",
          "$ref": "Date"
        },
        "heartRateZones": {
          "type": "array",
          "description": "Required. The heart rate zones.",
          "items": {
            "$ref": "HeartRateZone"
          }
        }
      },
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day."
    },
    "SessionTimeInterval": {
      "description": "Represents a time interval of session data point, which bundles multiple observed metrics together.",
      "id": "SessionTimeInterval",
      "type": "object",
      "properties": {
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The end time of the observed session."
        },
        "civilStartTime": {
          "readOnly": true,
          "description": "Output only. Session start time in civil time in the timezone the subject is in at the start of the session.",
          "$ref": "CivilDateTime"
        },
        "civilEndTime": {
          "readOnly": true,
          "description": "Output only. Session end time in civil time in the timezone the subject is in at the end of the session.",
          "$ref": "CivilDateTime"
        },
        "startTime": {
          "description": "Required. The start time of the observed session.",
          "type": "string",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the end of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        }
      }
    },
    "SleepStage": {
      "id": "SleepStage",
      "type": "object",
      "properties": {
        "endUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the sleep stage relative to the Coordinated Universal Time (UTC)."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Sleep stage start time."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this sleep stages segment.",
          "format": "google-datetime"
        },
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Required. Sleep stage end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "Required. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "type": "string",
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last update time of this sleep stages segment.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Sleep stage segment."
    },
    "HeartRateMetadata": {
      "id": "HeartRateMetadata",
      "type": "object",
      "properties": {
        "sensorLocation": {
          "type": "string",
          "enum": [
            "SENSOR_LOCATION_UNSPECIFIED",
            "CHEST",
            "WRIST",
            "FINGER",
            "HAND",
            "EAR_LOBE",
            "FOOT"
          ],
          "description": "Optional. Indicates the location of the sensor that measured the heart rate.",
          "enumDescriptions": [
            "The default value when no data is available.",
            "Chest sensor.",
            "Wrist sensor.",
            "Finger sensor.",
            "Hand sensor.",
            "Ear lobe sensor.",
            "Foot sensor."
          ]
        },
        "motionContext": {
          "type": "string",
          "enum": [
            "MOTION_CONTEXT_UNSPECIFIED",
            "ACTIVE",
            "SEDENTARY"
          ],
          "description": "Optional. Indicates the user’s level of activity when the heart rate sample was measured",
          "enumDescriptions": [
            "The default value when no data is available.",
            "The user is active.",
            "The user is inactive."
          ]
        }
      },
      "description": "Heart rate metadata."
    },
    "Subscriber": {
      "id": "Subscriber",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef"
        },
        "createTime": {
          "description": "Output only. The time at which the subscriber was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the subscriber was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for a subscriber endpoint. This is required to ensure the endpoint can be verified.",
          "$ref": "EndpointAuthorization"
        },
        "subscriberConfigs": {
          "type": "array",
          "description": "Optional. Configuration for the subscriber.",
          "items": {
            "$ref": "SubscriberConfig"
          }
        },
        "endpointUri": {
          "type": "string",
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during CreateSubscriber and UpdateSubscriber calls. See RPC documentation for verification details."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNVERIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Output only. The state of the subscriber.",
          "enumDescriptions": [
            "Represents an unspecified subscriber state.",
            "Represents an unverified subscriber. This is the initial state of the subscriber when it is created. The backend will verify the subscriber's endpoint_uri.",
            "Represents an active subscriber. The endpoint has been verified.",
            "Represents an inactive subscriber."
          ]
        }
      },
      "description": "-- Resource Messages -- A subscriber receives notifications from Google Health API."
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      }
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "id": "CaloriesInHeartRateZoneRollupValue",
      "type": "object",
      "properties": {
        "caloriesInHeartRateZones": {
          "description": "List of calories burned in each heart rate zone.",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "type": "array"
        }
      },
      "description": "Represents the result of the rollup of the calories in heart rate zone data type."
    },
    "CreateSubscriberPayload": {
      "description": "Payload for creating a subscriber.",
      "id": "CreateSubscriberPayload",
      "type": "object",
      "properties": {
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for the subscriber endpoint. The `secret` within this message is crucial for endpoint verification and for securing webhook notifications.",
          "$ref": "EndpointAuthorization"
        },
        "subscriberConfigs": {
          "description": "Optional. Configuration for the subscriber.",
          "items": {
            "$ref": "SubscriberConfig"
          },
          "type": "array"
        },
        "endpointUri": {
          "type": "string",
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during the `CreateSubscriber` call. See CreateSubscriber RPC documentation for verification details."
        }
      }
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        }
      }
    },
    "TotalCaloriesRollupValue": {
      "id": "TotalCaloriesRollupValue",
      "type": "object",
      "properties": {
        "kcalSum": {
          "format": "double",
          "description": "Sum of the total calories in kilocalories.",
          "type": "number"
        }
      },
      "description": "Represents the result of the rollup of the user's total calories."
    },
    "ActiveZoneMinutes": {
      "description": "Record of active zone minutes in a given time interval.",
      "id": "ActiveZoneMinutes",
      "type": "object",
      "properties": {
        "activeZoneMinutes": {
          "description": "Required. Number of Active Zone Minutes earned in the given time interval. Note: active_zone_minutes equals to 1 for low intensity (fat burn) zones or 2 for high intensity zones (cardio, peak).",
          "type": "string",
          "format": "int64"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "heartRateZone": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The fat burn heart rate zone.",
            "The cardio heart rate zone.",
            "The peak heart rate zone."
          ],
          "description": "Required. Heart rate zone in which the active zone minutes have been earned, in the given time interval.",
          "type": "string",
          "enum": [
            "HEART_RATE_ZONE_UNSPECIFIED",
            "FAT_BURN",
            "CARDIO",
            "PEAK"
          ]
        }
      }
    },
    "ActiveMinutesByActivityLevel": {
      "description": "Active minutes at a given activity level.",
      "id": "ActiveMinutesByActivityLevel",
      "type": "object",
      "properties": {
        "activityLevel": {
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "description": "Required. The level of activity.",
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ]
        },
        "activeMinutes": {
          "format": "int64",
          "type": "string",
          "description": "Required. Number of whole minutes spent in activity."
        }
      }
    },
    "WeightRollupValue": {
      "description": "Represents the result of the rollup of the weight data type.",
      "id": "WeightRollupValue",
      "type": "object",
      "properties": {
        "weightGramsAvg": {
          "type": "number",
          "description": "Average weight in grams.",
          "format": "double"
        }
      }
    },
    "Steps": {
      "id": "Steps",
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "description": "Required. Number of steps in the recorded interval.",
          "type": "string"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "description": "Step count over the time interval."
    },
    "DailySleepTemperatureDerivations": {
      "id": "DailySleepTemperatureDerivations",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. Date for which the sleep temperature derivations are calculated.",
          "$ref": "Date"
        },
        "nightlyTemperatureCelsius": {
          "type": "number",
          "description": "Required. The user's nightly skin temperature. It is the mean of skin temperature samples taken from the user’s sleep.",
          "format": "double"
        },
        "relativeNightlyStddev30dCelsius": {
          "format": "double",
          "description": "Optional. The standard deviation of the user’s relative nightly skin temperature (temperature - baseline) over the past 30 days.",
          "type": "number"
        },
        "baselineTemperatureCelsius": {
          "type": "number",
          "description": "Optional. The user's baseline skin temperature. It is the median of the user's nightly skin temperature over the past 30 days.",
          "format": "double"
        }
      },
      "description": "Provides derived sleep temperature values, calculated from skin or internal device temperature readings during sleep."
    },
    "RollUpDataPointsResponse": {
      "description": "Response containing the list of rolled up data points.",
      "id": "RollUpDataPointsResponse",
      "type": "object",
      "properties": {
        "rollupDataPoints": {
          "type": "array",
          "description": "Values for each aggregation time window.",
          "items": {
            "$ref": "RollupDataPoint"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Profile": {
      "description": "Profile details.",
      "id": "Profile",
      "type": "object",
      "properties": {
        "membershipStartDate": {
          "readOnly": true,
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported.",
          "$ref": "Date"
        },
        "autoRunningStrideLengthMm": {
          "format": "int32",
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "readOnly": true,
          "type": "integer"
        },
        "userConfiguredWalkingStrideLengthMm": {
          "type": "integer",
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "format": "int32"
        },
        "age": {
          "format": "int32",
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported.",
          "type": "integer"
        },
        "userConfiguredRunningStrideLengthMm": {
          "format": "int32",
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer"
        },
        "name": {
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "autoWalkingStrideLengthMm": {
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "description": "Respiratory rate statistics for a given sleep stage.",
      "id": "RespiratoryRateSleepSummaryStatistics",
      "type": "object",
      "properties": {
        "standardDeviation": {
          "format": "double",
          "type": "number",
          "description": "Optional. Standard deviation of the respiratory rate during sleep."
        },
        "signalToNoise": {
          "format": "double",
          "description": "Optional. How trustworthy the data is for the computation.",
          "type": "number"
        },
        "breathsPerMinute": {
          "format": "double",
          "description": "Required. Average breaths per minute.",
          "type": "number"
        }
      }
    },
    "FloorsRollupValue": {
      "description": "Represents the result of the rollup of the user's floors.",
      "id": "FloorsRollupValue",
      "type": "object",
      "properties": {
        "countSum": {
          "description": "Sum of the floors count.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RestingHeartRatePersonalRangeRollupValue": {
      "description": "Represents the rollup value for the daily resting heart rate data type.",
      "id": "RestingHeartRatePersonalRangeRollupValue",
      "type": "object",
      "properties": {
        "beatsPerMinuteMin": {
          "format": "double",
          "type": "number",
          "description": "The lower bound of the user's daily resting heart rate personal range."
        },
        "beatsPerMinuteMax": {
          "format": "double",
          "type": "number",
          "description": "The upper bound of the user's daily resting heart rate personal range."
        }
      }
    },
    "ReconciledDataPoint": {
      "id": "ReconciledDataPoint",
      "type": "object",
      "properties": {
        "heartRate": {
          "description": "Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "dailyRestingHeartRate": {
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "runVo2Max": {
          "description": "Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "activeMinutes": {
          "description": "Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "dailyOxygenSaturation": {
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "activeZoneMinutes": {
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "sleep": {
          "description": "Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "exercise": {
          "description": "Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "heartRateVariability": {
          "description": "Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "floors": {
          "description": "Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "respiratoryRateSleepSummary": {
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "weight": {
          "description": "Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "distance": {
          "description": "Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "activityLevel": {
          "description": "Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "vo2Max": {
          "description": "Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "sedentaryPeriod": {
          "description": "Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "swimLengthsData": {
          "description": "Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "timeInHeartRateZone": {
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "steps": {
          "description": "Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "oxygenSaturation": {
          "description": "Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailyHeartRateZones": {
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "dailyHeartRateVariability": {
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "bodyFat": {
          "description": "Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "dailyVo2Max": {
          "description": "Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "height": {
          "description": "Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "altitude": {
          "description": "Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "dataPointName": {
          "type": "string",
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens."
        },
        "hydrationLog": {
          "description": "Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "dailyRespiratoryRate": {
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        }
      },
      "description": "A reconciled computed or recorded metric."
    },
    "EndpointAuthorization": {
      "id": "EndpointAuthorization",
      "type": "object",
      "properties": {
        "secret": {
          "type": "string",
          "description": "Required. Input only. Provides a client-provided secret that will be sent with each notification to the subscriber endpoint using the \"Authorization\" header. The value must include the authorization scheme, e.g., \"Bearer \" or \"Basic \", as it will be used as the full Authorization header value. This secret is used by the API to test the endpoint during `CreateSubscriber` and `UpdateSubscriber` calls, and will be sent in the `Authorization` header for all subsequent webhook notifications to this endpoint."
        },
        "secretSet": {
          "description": "Output only. Whether the secret is set.",
          "readOnly": true,
          "type": "boolean"
        }
      },
[...]
