{
  "batchPath": "batch",
  "version": "v4",
  "revision": "20260430",
  "discoveryVersion": "v1",
  "schemas": {
    "WeightRollupValue": {
      "description": "Represents the result of the rollup of the weight data type.",
      "type": "object",
      "properties": {
        "weightGramsAvg": {
          "description": "Average weight in grams.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "WeightRollupValue"
    },
    "DailyHeartRateVariability": {
      "id": "DailyHeartRateVariability",
      "type": "object",
      "properties": {
        "entropy": {
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep.",
          "type": "number",
          "format": "double"
        },
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep.",
          "type": "number",
          "format": "double"
        },
        "averageHeartRateVariabilityMilliseconds": {
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats.",
          "type": "number",
          "format": "double"
        },
        "nonRemHeartRateBeatsPerMinute": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Non-REM heart rate"
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement.",
          "$ref": "Date"
        }
      },
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`"
    },
    "HeartRateRollupValue": {
      "description": "Represents the result of the rollup of the heart rate data type.",
      "type": "object",
      "properties": {
        "beatsPerMinuteMax": {
          "description": "The maximum heart rate value in the interval.",
          "type": "number",
          "format": "double"
        },
        "beatsPerMinuteMin": {
          "description": "The minimum heart rate value in the interval.",
          "type": "number",
          "format": "double"
        },
        "beatsPerMinuteAvg": {
          "description": "The average heart rate value in the interval.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "HeartRateRollupValue"
    },
    "BodyFatRollupValue": {
      "description": "Represents the result of the rollup of the body fat data type.",
      "type": "object",
      "properties": {
        "bodyFatPercentageAvg": {
          "type": "number",
          "format": "double",
          "description": "Average body fat percentage."
        }
      },
      "id": "BodyFatRollupValue"
    },
    "ExportExerciseTcxResponse": {
      "type": "object",
      "properties": {
        "tcxData": {
          "type": "string",
          "description": "Contains the exported TCX data."
        }
      },
      "id": "ExportExerciseTcxResponse",
      "description": "Represents a Response for exporting exercise data in TCX format."
    },
    "BodyFat": {
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which body fat was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "description": "Required. Body fat percentage, in range [0, 100].",
          "type": "number",
          "format": "double"
        }
      },
      "id": "BodyFat",
      "description": "Body fat measurement."
    },
    "SedentaryPeriod": {
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "id": "SedentaryPeriod",
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device)."
    },
    "Floors": {
      "id": "Floors",
      "type": "object",
      "properties": {
        "count": {
          "description": "Required. Number of floors in the recorded interval",
          "type": "string",
          "format": "int64"
        },
        "interval": {
          "description": "Required. Observed interval",
          "$ref": "ObservationTimeInterval"
        }
      },
      "description": "Gained elevation measured in floors over the time interval"
    },
    "HeartRate": {
      "type": "object",
      "properties": {
        "beatsPerMinute": {
          "description": "Required. The heart rate value in beats per minute.",
          "type": "string",
          "format": "int64"
        },
        "metadata": {
          "description": "Optional. Metadata about the heart rate sample.",
          "$ref": "HeartRateMetadata"
        },
        "sampleTime": {
          "description": "Required. Observation time",
          "$ref": "ObservationSampleTime"
        }
      },
      "id": "HeartRate",
      "description": "A heart rate measurement."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status"
    },
    "HeartRateZone": {
      "description": "The heart rate zone.",
      "type": "object",
      "properties": {
        "heartRateZoneType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "Required. The heart rate zone type."
        },
        "minBeatsPerMinute": {
          "type": "string",
          "format": "int64",
          "description": "Required. Minimum heart rate for this zone in beats per minute."
        },
        "maxBeatsPerMinute": {
          "description": "Required. Maximum heart rate for this zone in beats per minute.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "HeartRateZone"
    },
    "ObservationSampleTime": {
      "id": "ObservationSampleTime",
      "type": "object",
      "properties": {
        "utcOffset": {
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "civilTime": {
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "physicalTime": {
          "description": "Required. The time of the observation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents a sample time of an observed data point."
    },
    "Exercise": {
      "description": "An exercise that stores information about a physical activity.",
      "type": "object",
      "properties": {
        "exerciseEvents": {
          "description": "Optional. Exercise events that happen during an exercise, such as pause & restarts.",
          "type": "array",
          "items": {
            "$ref": "ExerciseEvent"
          }
        },
        "exerciseType": {
          "type": "string",
          "enumDescriptions": [
            "Exercise type is unspecified.",
            "Running type.",
            "Walking type.",
            "Biking type.",
            "Swimming type.",
            "Hiking type.",
            "Yoga type.",
            "Pilates type.",
            "Workout type.",
            "HIIT type.",
            "Weightlifting type.",
            "Strength training type.",
            "Other type."
          ],
          "enum": [
            "EXERCISE_TYPE_UNSPECIFIED",
            "RUNNING",
            "WALKING",
            "BIKING",
            "SWIMMING",
            "HIKING",
            "YOGA",
            "PILATES",
            "WORKOUT",
            "HIIT",
            "WEIGHTLIFTING",
            "STRENGTH_TRAINING",
            "OTHER"
          ],
          "description": "Required. The type of activity performed during an exercise."
        },
        "splitSummaries": {
          "description": "Optional. Laps or splits recorded within an exercise. Laps could be split based on distance or other criteria (duration, etc.) Laps should not be overlapping with each other.",
          "type": "array",
          "items": {
            "$ref": "SplitSummary"
          }
        },
        "createTime": {
          "description": "Output only. Represents the timestamp of the creation of the exercise.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "interval": {
          "description": "Required. Observed exercise interval",
          "$ref": "SessionTimeInterval"
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this exercise ( )",
          "$ref": "MetricsSummary"
        },
        "splits": {
          "type": "array",
          "items": {
            "$ref": "SplitSummary"
          },
          "description": "Optional. The default split is 1 km or 1 mile. - if the movement distance is less than the default, then there are no splits - if the movement distance is greater than or equal to the default, then we have splits"
        },
        "exerciseMetadata": {
          "description": "Optional. Additional exercise metadata.",
          "$ref": "ExerciseMetadata"
        },
        "displayName": {
          "description": "Required. Exercise display name.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. This is the timestamp of the last update to the exercise.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        },
        "activeDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Duration excluding pauses."
        }
      },
      "id": "Exercise"
    },
    "BasalEnergyBurned": {
      "description": "Number of calories burned due to basal metabolic rate (BMR) over a period of time.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "kcal": {
          "description": "Required. Number of calories burned due to basal metabolic rate in kilocalories over the observed interval.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "BasalEnergyBurned"
    },
    "SessionTimeInterval": {
      "description": "Represents a time interval of session data point, which bundles multiple observed metrics together.",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The end time of the observed session."
        },
        "civilStartTime": {
          "description": "Output only. Session start time in civil time in the timezone the subject is in at the start of the session.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "civilEndTime": {
          "description": "Output only. Session end time in civil time in the timezone the subject is in at the end of the session.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "startUtcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the session relative to the Coordinated Universal Time (UTC)."
        },
        "endUtcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the end of the session relative to the Coordinated Universal Time (UTC)."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The start time of the observed session."
        }
      },
      "id": "SessionTimeInterval"
    },
    "Interval": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      },
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "AltitudeRollupValue": {
      "type": "object",
      "properties": {
        "gainMillimetersSum": {
          "description": "Sum of the altitude gain in millimeters.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AltitudeRollupValue",
      "description": "Represents the result of the rollup of the user's altitude."
    },
    "EndpointAuthorization": {
      "id": "EndpointAuthorization",
      "type": "object",
      "properties": {
        "secretSet": {
          "description": "Output only. Whether the secret is set.",
          "type": "boolean",
          "readOnly": true
        },
        "secret": {
          "type": "string",
          "description": "Required. Input only. Provides a client-provided secret that will be sent with each notification to the subscriber endpoint using the \"Authorization\" header. The value must include the authorization scheme, e.g., \"Bearer \" or \"Basic \", as it will be used as the full Authorization header value. This secret is used by the API to test the endpoint during `CreateSubscriber` and `UpdateSubscriber` calls, and will be sent in the `Authorization` header for all subsequent webhook notifications to this endpoint."
        }
      },
      "description": "Authorization mechanism for a subscriber endpoint. For all requests sent by the Webhooks service, the JSON payload is cryptographically signed. The signature is delivered in the `X-HEALTHAPI-SIGNATURE` HTTP header. This is an ECDSA (NIST P256) signature of the JSON payload. Clients must verify this signature using Google Health API's public key to confirm the payload was sent by the Health API."
    },
    "TimeInHeartRateZoneRollupValue": {
      "type": "object",
      "properties": {
        "timeInHeartRateZones": {
          "description": "List of time spent in each heart rate zone.",
          "type": "array",
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          }
        }
      },
      "id": "TimeInHeartRateZoneRollupValue",
      "description": "Represents the result of the rollup of the time in heart rate zone data type."
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "type": "object",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMax": {
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "type": "number",
          "format": "double"
        },
        "averageHeartRateVariabilityMillisecondsMin": {
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range."
    },
    "ActiveMinutesRollupByActivityLevel": {
      "id": "ActiveMinutesRollupByActivityLevel",
      "type": "object",
      "properties": {
        "activityLevel": {
          "description": "The level of activity.",
          "type": "string",
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ]
        },
        "activeMinutesSum": {
          "description": "Number of whole minutes spent in activity.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Active minutes by activity level."
    },
    "ActiveMinutesByActivityLevel": {
      "description": "Active minutes at a given activity level.",
      "id": "ActiveMinutesByActivityLevel",
      "type": "object",
      "properties": {
        "activityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "description": "Required. The level of activity."
        },
        "activeMinutes": {
          "description": "Required. Number of whole minutes spent in activity.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RespiratoryRateSleepSummary": {
      "description": "Records respiratory rate details during sleep. Can have multiple per day if the user sleeps multiple times.",
      "id": "RespiratoryRateSleepSummary",
      "type": "object",
      "properties": {
        "fullSleepStats": {
          "description": "Required. Full respiratory rate statistics.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "deepSleepStats": {
          "description": "Optional. Respiratory rate statistics for deep sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "remSleepStats": {
          "description": "Optional. Respiratory rate statistics for REM sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "sampleTime": {
          "description": "Required. The time at which respiratory rate was measured.",
          "$ref": "ObservationSampleTime"
        },
        "lightSleepStats": {
          "description": "Optional. Respiratory rate statistics for light sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        }
      }
    },
    "FloorsRollupValue": {
      "description": "Represents the result of the rollup of the user's floors.",
      "type": "object",
      "properties": {
        "countSum": {
          "description": "Sum of the floors count.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "FloorsRollupValue"
    },
    "DailyHeartRateZones": {
      "type": "object",
      "properties": {
        "heartRateZones": {
          "description": "Required. The heart rate zones.",
          "type": "array",
          "items": {
            "$ref": "HeartRateZone"
          }
        },
        "date": {
          "description": "Required. Date (in user's timezone) of the heart rate zones record.",
          "$ref": "Date"
        }
      },
      "id": "DailyHeartRateZones",
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day."
    },
    "TimeInHeartRateZone": {
      "description": "Time in heart rate zone record. It's an interval spent in specific heart rate zone.",
      "id": "TimeInHeartRateZone",
      "type": "object",
      "properties": {
        "heartRateZoneType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "Required. Heart rate zone type."
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      }
    },
    "ActiveMinutesRollupValue": {
      "type": "object",
      "properties": {
        "activeMinutesRollupByActivityLevel": {
          "description": "Active minutes by activity level. At most one record per activity level is allowed.",
          "type": "array",
          "items": {
            "$ref": "ActiveMinutesRollupByActivityLevel"
          }
        }
      },
      "id": "ActiveMinutesRollupValue",
      "description": "Represents the result of the rollup of the active minutes data type."
    },
    "ExerciseMetadata": {
      "type": "object",
      "properties": {
        "poolLengthMillimeters": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Pool length in millimeters. Only present in the swimming exercises."
        },
        "hasGps": {
          "description": "Optional. Whether the exercise had GPS tracking.",
          "type": "boolean"
        }
      },
      "id": "ExerciseMetadata",
      "description": "Additional exercise metadata."
    },
    "CreateSubscriberPayload": {
      "description": "Payload for creating a subscriber.",
      "type": "object",
      "properties": {
        "endpointUri": {
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during the `CreateSubscriber` call. See CreateSubscriber RPC documentation for verification details.",
          "type": "string"
        },
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for the subscriber endpoint. The `secret` within this message is crucial for endpoint verification and for securing webhook notifications.",
          "$ref": "EndpointAuthorization"
        },
        "subscriberConfigs": {
          "type": "array",
          "items": {
            "$ref": "SubscriberConfig"
          },
          "description": "Optional. Configuration for the subscriber."
        }
      },
      "id": "CreateSubscriberPayload"
    },
    "DailySleepTemperatureDerivations": {
      "description": "Provides derived sleep temperature values, calculated from skin or internal device temperature readings during sleep.",
      "id": "DailySleepTemperatureDerivations",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. Date for which the sleep temperature derivations are calculated.",
          "$ref": "Date"
        },
        "nightlyTemperatureCelsius": {
          "description": "Required. The user's nightly skin temperature. It is the mean of skin temperature samples taken from the user’s sleep.",
          "type": "number",
          "format": "double"
        },
        "baselineTemperatureCelsius": {
          "type": "number",
          "format": "double",
          "description": "Optional. The user's baseline skin temperature. It is the median of the user's nightly skin temperature over the past 30 days."
        },
        "relativeNightlyStddev30dCelsius": {
          "description": "Optional. The standard deviation of the user’s relative nightly skin temperature (temperature - baseline) over the past 30 days.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "SleepStage": {
      "id": "SleepStage",
      "type": "object",
      "properties": {
        "startUtcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the sleep stage relative to the Coordinated Universal Time (UTC)."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Sleep stage end time."
        },
        "startTime": {
          "description": "Required. Sleep stage start time.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "Required. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "type": "string",
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation time of this sleep stages segment."
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "updateTime": {
          "description": "Output only. Last update time of this sleep stages segment.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Sleep stage segment."
    },
    "SplitSummary": {
      "id": "SplitSummary",
      "type": "object",
      "properties": {
        "startUtcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Lap start time offset from UTC"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Lap end time"
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this split.",
          "$ref": "MetricsSummary"
        },
        "startTime": {
          "description": "Required. Lap start time",
          "type": "string",
          "format": "google-datetime"
        },
        "activeDuration": {
          "description": "Output only. Lap time excluding the pauses.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "splitType": {
          "type": "string",
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ],
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic."
        },
        "endUtcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Lap end time offset from UTC"
        }
      },
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories."
    },
    "RunVO2MaxRollupValue": {
      "id": "RunVO2MaxRollupValue",
      "type": "object",
      "properties": {
        "rateAvg": {
          "description": "Average value of run VO2 max in the interval.",
          "type": "number",
          "format": "double"
        },
        "rateMin": {
          "type": "number",
          "format": "double",
          "description": "Minimum value of run VO2 max in the interval.."
        },
        "rateMax": {
          "description": "Maximum value of run VO2 max in the interval.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range."
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "ReconciledDataPoint": {
      "type": "object",
      "properties": {
        "hydrationLog": {
          "description": "Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "dailyOxygenSaturation": {
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "vo2Max": {
          "description": "Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "dailyVo2Max": {
          "description": "Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "weight": {
          "description": "Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "activeZoneMinutes": {
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "oxygenSaturation": {
          "description": "Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "height": {
          "description": "Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "dailyRestingHeartRate": {
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "dataPointName": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "dailyHeartRateVariability": {
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "runVo2Max": {
          "description": "Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "floors": {
          "description": "Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "steps": {
          "description": "Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "respiratoryRateSleepSummary": {
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "bodyFat": {
          "description": "Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "distance": {
          "description": "Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "sedentaryPeriod": {
          "description": "Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "activityLevel": {
          "description": "Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "dailyHeartRateZones": {
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "activeMinutes": {
          "description": "Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "dailyRespiratoryRate": {
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "timeInHeartRateZone": {
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "basalEnergyBurned": {
          "description": "Data for points in the `basal-energy-burned` interval data type collection.",
          "$ref": "BasalEnergyBurned"
        },
        "swimLengthsData": {
          "description": "Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "heartRate": {
          "description": "Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "exercise": {
          "description": "Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "heartRateVariability": {
          "description": "Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "altitude": {
          "description": "Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "sleep": {
          "description": "Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        }
      },
      "id": "ReconciledDataPoint",
      "description": "A reconciled computed or recorded metric."
    },
    "BatchDeleteDataPointsRequest": {
      "id": "BatchDeleteDataPointsRequest",
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request to delete a batch of identifiable data points."
    },
    "OutOfBedSegment": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required. Segment tart time.",
          "type": "string",
          "format": "google-datetime"
        },
        "startUtcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the segment relative to the Coordinated Universal Time (UTC)."
        },
        "endTime": {
          "description": "Required. Segment end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the segment relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "OutOfBedSegment",
      "description": "A time interval to represent an out-of-bed segment."
    },
    "HydrationLogRollupValue": {
      "id": "HydrationLogRollupValue",
      "type": "object",
      "properties": {
        "amountConsumed": {
          "description": "Rollup for amount consumed.",
          "$ref": "VolumeQuantityRollup"
        }
      },
      "description": "Represents the result of the rollup of the hydration log data type."
    },
    "HeartRateMetadata": {
      "description": "Heart rate metadata.",
      "id": "HeartRateMetadata",
      "type": "object",
      "properties": {
        "motionContext": {
          "type": "string",
          "enumDescriptions": [
            "The default value when no data is available.",
            "The user is active.",
            "The user is inactive."
          ],
          "enum": [
            "MOTION_CONTEXT_UNSPECIFIED",
            "ACTIVE",
            "SEDENTARY"
          ],
          "description": "Optional. Indicates the user’s level of activity when the heart rate sample was measured"
        },
        "sensorLocation": {
          "type": "string",
          "enumDescriptions": [
            "The default value when no data is available.",
            "Chest sensor.",
            "Wrist sensor.",
            "Finger sensor.",
            "Hand sensor.",
            "Ear lobe sensor.",
            "Foot sensor."
          ],
          "enum": [
            "SENSOR_LOCATION_UNSPECIFIED",
            "CHEST",
            "WRIST",
            "FINGER",
            "HAND",
            "EAR_LOBE",
            "FOOT"
          ],
          "description": "Optional. Indicates the location of the sensor that measured the heart rate."
        }
      }
    },
    "ReconcileDataPointsResponse": {
      "description": "Response containing the list of reconciled DataPoints.",
      "id": "ReconcileDataPointsResponse",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Data points matching the query",
          "type": "array",
          "items": {
            "$ref": "ReconciledDataPoint"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token, empty if the response is complete"
        }
      }
    },
    "HttpResponse": {
      "id": "HttpResponse",
      "type": "object",
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "$ref": "HttpHeader"
          },
          "description": "The HTTP response headers. The ordering of the headers is significant. Multiple headers with the same key may present for the response."
        },
        "reason": {
          "type": "string",
          "description": "The HTTP reason phrase, such as \"OK\" or \"Not Found\"."
        },
        "body": {
          "description": "The HTTP response body. If the body is not expected, it should be empty.",
          "type": "string",
          "format": "byte"
        },
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "The HTTP status code, such as 200 or 404."
        }
      },
      "description": "Represents an HTTP response."
    },
    "HttpHeader": {
      "description": "Represents an HTTP header.",
      "id": "HttpHeader",
      "type": "object",
      "properties": {
        "key": {
          "description": "The HTTP header key. It is case insensitive.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The HTTP header value."
        }
      }
    },
    "MobilityMetrics": {
      "description": "Mobility workouts specific metrics",
      "id": "MobilityMetrics",
      "type": "object",
      "properties": {
        "avgCadenceStepsPerMinute": {
          "type": "number",
          "format": "double",
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout."
        },
        "avgVerticalRatio": {
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0].",
          "type": "number",
          "format": "double"
        },
        "avgStrideLengthMillimeters": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Stride length is a measure of the distance covered by a single stride"
        },
        "avgVerticalOscillationMillimeters": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running"
        },
        "avgGroundContactTimeDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride"
        }
      }
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      },
      "id": "TimeOfDay"
    },
    "ExerciseEvent": {
      "type": "object",
      "properties": {
        "eventTime": {
          "description": "Required. Exercise event time",
          "type": "string",
          "format": "google-datetime"
        },
        "eventUtcOffset": {
          "description": "Required. Exercise event time offset from UTC",
          "type": "string",
          "format": "google-duration"
        },
        "exerciseEventType": {
          "type": "string",
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ],
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ],
          "description": "Required. The type of the event, such as start, stop, pause, resume."
        }
      },
      "id": "ExerciseEvent",
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split."
    },
    "ObservationTimeInterval": {
      "type": "object",
      "properties": {
        "endUtcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC)."
        },
        "startTime": {
          "description": "Required. Observed interval start time.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Observed interval end time."
        },
        "civilStartTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval"
        },
        "civilEndTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval"
        },
        "startUtcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC)."
        }
      },
      "id": "ObservationTimeInterval",
      "description": "Represents a time interval of an observed data point."
    },
    "GoogleDevicesandservicesHealthV4DataType": {
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values.",
          "type": "string"
        }
      },
      "id": "GoogleDevicesandservicesHealthV4DataType"
    },
    "ActivityLevel": {
      "description": "Internal type to capture activity level during a certain time interval.",
      "type": "object",
      "properties": {
        "activityLevelType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "description": "Required. Activity level type in the given time interval."
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "id": "ActivityLevel"
    },
    "GoogleDevicesandservicesHealthV4WebhookNotificationCloudLog": {
      "description": "Log message for a webhook notification sent by the Google Health API to a subscriber's endpoint. Includes the HTTP response received from the endpoint.",
      "id": "GoogleDevicesandservicesHealthV4WebhookNotificationCloudLog",
      "type": "object",
      "properties": {
        "httpResponse": {
          "description": "Required. Represents the HTTP response. This message includes the status code, reason phrase, headers, and body.",
          "$ref": "HttpResponse"
        }
      }
    },
    "MetricsSummary": {
      "description": "Summary metrics for an exercise.",
      "id": "MetricsSummary",
      "type": "object",
      "properties": {
        "totalSwimLengths": {
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise.",
          "type": "number",
          "format": "double"
        },
        "distanceMillimeters": {
          "type": "number",
          "format": "double",
          "description": "Optional. Total distance covered by the user during the exercise."
        },
        "mobilityMetrics": {
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises.",
          "$ref": "MobilityMetrics"
        },
        "caloriesKcal": {
          "type": "number",
          "format": "double",
          "description": "Optional. Total calories burned by the user during the exercise."
        },
        "averageHeartRateBeatsPerMinute": {
          "description": "Optional. Average heart rate during the exercise.",
          "type": "string",
          "format": "int64"
        },
        "elevationGainMillimeters": {
          "type": "number",
          "format": "double",
          "description": "Optional. Total elevation gain during the exercise."
        },
        "activeZoneMinutes": {
          "description": "Optional. Total active zone minutes for the exercise.",
          "type": "string",
          "format": "int64"
        },
        "steps": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Total steps taken during the exercise."
        },
        "averagePaceSecondsPerMeter": {
          "description": "Optional. Average pace in seconds per meter.",
          "type": "number",
          "format": "double"
        },
        "averageSpeedMillimetersPerSecond": {
          "description": "Optional. Average speed in millimeters per second.",
          "type": "number",
          "format": "double"
        },
        "runVo2Max": {
          "type": "number",
          "format": "double",
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise."
        },
        "heartRateZoneDurations": {
          "description": "Optional. Time spent in each heart rate zone.",
          "$ref": "TimeInHeartRateZones"
        }
      }
    },
    "VolumeQuantity": {
      "type": "object",
      "properties": {
        "userProvidedUnit": {
          "description": "Optional. Value representing the user provided unit.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        },
        "milliliters": {
          "type": "number",
          "format": "double",
          "description": "Required. Value representing the volume in milliliters."
        }
      },
      "id": "VolumeQuantity",
      "description": "Represents the volume quantity."
    },
    "ActiveZoneMinutesRollupValue": {
      "description": "Represents the result of the rollup of the active zone minutes data type.",
      "type": "object",
      "properties": {
        "sumInPeakHeartZone": {
          "type": "string",
          "format": "int64",
          "description": "Active zone minutes in `HeartRateZone.PEAK`."
        },
        "sumInFatBurnHeartZone": {
          "type": "string",
          "format": "int64",
          "description": "Active zone minutes in `HeartRateZone.FAT_BURN`."
        },
        "sumInCardioHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.CARDIO`.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ActiveZoneMinutesRollupValue"
    },
    "DistanceRollupValue": {
      "type": "object",
      "properties": {
        "millimetersSum": {
          "description": "Sum of the distance in millimeters.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DistanceRollupValue",
      "description": "Result of the rollup of the user's distance."
    },
    "TimeInHeartRateZones": {
      "type": "object",
      "properties": {
        "lightTime": {
          "description": "Optional. Time spent in light heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "vigorousTime": {
          "description": "Optional. Time spent in vigorous heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "peakTime": {
          "description": "Optional. Time spent in peak heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "moderateTime": {
          "description": "Optional. Time spent in moderate heart rate zone.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "TimeInHeartRateZones",
      "description": "Time spent in each heart rate zone."
    },
    "SwimLengthsDataRollupValue": {
      "id": "SwimLengthsDataRollupValue",
      "type": "object",
      "properties": {
        "strokeCountSum": {
          "description": "Total number of swim strokes in the interval.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Represents the result of the rollup of the swim lengths data type."
    },
    "DailyRollupDataPoint": {
      "description": "Value of a daily rollup for a single civil time interval (aggregation window)",
      "id": "DailyRollupDataPoint",
      "type": "object",
      "properties": {
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "heartRateVariabilityPersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier.",
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue"
        },
        "civilEndTime": {
          "description": "End time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "civilStartTime": {
          "description": "Start time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "restingHeartRatePersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier.",
          "$ref": "RestingHeartRatePersonalRangeRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        }
      }
    },
    "TotalCaloriesRollupValue": {
      "description": "Represents the result of the rollup of the user's total calories.",
      "id": "TotalCaloriesRollupValue",
      "type": "object",
      "properties": {
        "kcalSum": {
          "description": "Sum of the total calories in kilocalories.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "CivilTimeInterval": {
      "description": "Counterpart of google.type.Interval, but using CivilDateTime.",
      "id": "CivilTimeInterval",
      "type": "object",
      "properties": {
        "start": {
          "description": "Required. The inclusive start of the range.",
          "$ref": "CivilDateTime"
        },
        "end": {
          "description": "Required. The exclusive end of the range.",
          "$ref": "CivilDateTime"
        }
      }
    },
    "StepsRollupValue": {
      "id": "StepsRollupValue",
      "type": "object",
      "properties": {
        "countSum": {
          "type": "string",
          "format": "int64",
          "description": "Total number of steps in the interval."
        }
      },
      "description": "Represents the result of the rollup of the steps data type."
    },
    "Identity": {
      "description": "Represents details about the Google user's identity.",
      "type": "object",
      "properties": {
        "legacyUserId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens."
        },
        "healthUserId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens."
        },
        "name": {
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`",
          "type": "string"
        }
      },
      "id": "Identity"
    },
    "Profile": {
      "description": "Profile details.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "membershipStartDate": {
          "readOnly": true,
          "$ref": "Date",
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported."
        },
        "autoWalkingStrideLengthMm": {
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "userConfiguredWalkingStrideLengthMm": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`"
        },
        "autoRunningStrideLengthMm": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`"
        },
        "age": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported."
        },
        "userConfiguredRunningStrideLengthMm": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`"
        }
      },
      "id": "Profile"
    },
    "DailyRollUpDataPointsRequest": {
      "description": "Request to roll up data points by civil time intervals.",
      "type": "object",
      "properties": {
        "windowSizeDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Aggregation window size, in number of days. Defaults to 1 if not specified."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly."
        },
        "dataSourceFamily": {
          "type": "string",
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The start time must be aligned with the aggregation window. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "CivilTimeInterval"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The `next_page_token` from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified."
        }
      },
      "id": "DailyRollUpDataPointsRequest"
    },
    "Subscriber": {
      "description": "-- Resource Messages -- A subscriber receives notifications from Google Health API.",
      "id": "Subscriber",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef"
        },
        "endpointUri": {
          "type": "string",
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during CreateSubscriber and UpdateSubscriber calls. See RPC documentation for verification details."
        },
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for a subscriber endpoint. This is required to ensure the endpoint can be verified.",
          "$ref": "EndpointAuthorization"
        },
        "subscriberConfigs": {
          "description": "Optional. Configuration for the subscriber.",
          "type": "array",
          "items": {
            "$ref": "SubscriberConfig"
          }
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified subscriber state.",
            "Represents an unverified subscriber. This is the initial state of the subscriber when it is created. The backend will verify the subscriber's endpoint_uri.",
            "Represents an active subscriber. The endpoint has been verified.",
            "Represents an inactive subscriber."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNVERIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Output only. The state of the subscriber."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the subscriber was created."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the subscriber was last updated."
        }
      }
    },
    "DailyOxygenSaturation": {
      "description": "A daily oxygen saturation (SpO2) record. Represents the user's daily oxygen saturation summary, typically calculated during sleep.",
      "type": "object",
      "properties": {
        "averagePercentage": {
          "type": "number",
          "format": "double",
          "description": "Required. The average value of the oxygen saturation samples during the sleep."
        },
        "lowerBoundPercentage": {
          "description": "Required. The lower bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number",
          "format": "double"
        },
        "upperBoundPercentage": {
          "description": "Required. The upper bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number",
          "format": "double"
        },
        "date": {
          "description": "Required. Date (in user's timezone) of the daily oxygen saturation record.",
          "$ref": "Date"
        },
        "standardDeviationPercentage": {
          "type": "number",
          "format": "double",
          "description": "Optional. Standard deviation of the daily oxygen saturation averages from the past 7-30 days."
        }
      },
      "id": "DailyOxygenSaturation"
    },
    "Device": {
      "id": "Device",
      "type": "object",
      "properties": {
        "formFactor": {
          "description": "Optional. Captures the form factor of the device.",
          "type": "string",
          "enumDescriptions": [
            "The form factor is unspecified.",
            "The device is a fitness band.",
            "The device is a watch.",
            "The device is a phone.",
            "The device is a ring.",
            "The device is a chest strap.",
            "The device is a scale.",
            "The device is a tablet.",
            "The device is a head mounted device.",
            "The device is a smart display."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "FITNESS_BAND",
            "WATCH",
            "PHONE",
            "RING",
            "CHEST_STRAP",
            "SCALE",
            "TABLET",
            "HEAD_MOUNTED",
            "SMART_DISPLAY"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Optional. An optional name for the device."
        },
        "manufacturer": {
          "type": "string",
          "description": "Optional. An optional manufacturer of the device."
        }
      },
      "description": "Captures metadata about the device that recorded the measurement."
    },
    "RunVO2Max": {
      "type": "object",
      "properties": {
        "runVo2Max": {
          "type": "number",
          "format": "double",
          "description": "Required. Run VO2 max value in ml/kg/min."
        },
        "sampleTime": {
          "description": "Required. The time at which the metric was measured.",
          "$ref": "ObservationSampleTime"
        }
      },
      "id": "RunVO2Max",
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min."
    },
    "Settings": {
      "type": "object",
      "properties": {
        "autoStrideEnabled": {
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported.",
          "type": "boolean"
        },
        "heightUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ],
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ]
        },
        "utcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported."
        },
        "temperatureUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ]
        },
        "waterUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ],
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ]
        },
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        },
        "strideLengthWalkingType": {
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "type": "string",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ]
        },
        "languageLocale": {
          "type": "string",
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported."
        },
        "strideLengthRunningType": {
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported.",
          "type": "string",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ]
        },
        "glucoseUnit": {
          "type": "string",
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ],
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings."
        },
        "swimUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ],
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "weightUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ]
        },
        "distanceUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string",
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ],
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ]
        }
      },
      "id": "Settings",
      "description": "Settings details."
    },
    "SedentaryPeriodRollupValue": {
      "type": "object",
      "properties": {
        "durationSum": {
          "type": "string",
          "format": "google-duration",
          "description": "The total time user spent sedentary during the interval."
        }
      },
      "id": "SedentaryPeriodRollupValue",
      "description": "Represents the result of the rollup of the user's sedentary periods."
    },
    "Sleep": {
      "id": "Sleep",
      "type": "object",
      "properties": {
        "outOfBedSegments": {
          "description": "Optional. “Out of bed” segments that can overlap with sleep stages.",
          "type": "array",
          "items": {
            "$ref": "OutOfBedSegment"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of this sleep observation."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Sleep type is unspecified.",
            "Classic sleep is a sleep with 3 stages types: AWAKE, RESTLESS and ASLEEP.",
            "On top of \"classic\" sleep stages an additional processing pass can calculate stages more precisely, overwriting the prior stages with AWAKE, LIGHT, REM and DEEP."
          ],
          "enum": [
            "SLEEP_TYPE_UNSPECIFIED",
            "CLASSIC",
            "STAGES"
          ],
          "description": "Optional. SleepType: classic or stages."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of this sleep observation."
        },
        "stages": {
          "type": "array",
          "items": {
            "$ref": "SleepStage"
          },
          "description": "Optional. List of non-overlapping contiguous sleep stage segments that cover the sleep period."
        },
        "metadata": {
          "description": "Optional. Sleep metadata: processing, main, manually edited, stages status.",
          "$ref": "SleepMetadata"
        },
        "summary": {
          "description": "Output only. Sleep summary: metrics and stages summary.",
          "readOnly": true,
          "$ref": "SleepSummary"
        },
        "interval": {
          "description": "Required. Observed sleep interval.",
          "$ref": "SessionTimeInterval"
        }
      },
      "description": "A sleep session possibly including stages."
    },
    "DataPoint": {
      "description": "A computed or recorded metric.",
      "id": "DataPoint",
      "type": "object",
      "properties": {
        "dailySleepTemperatureDerivations": {
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "hydrationLog": {
          "description": "Optional. Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "dailyOxygenSaturation": {
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "height": {
          "description": "Optional. Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens."
        },
        "dailyRestingHeartRate": {
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "activeZoneMinutes": {
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "weight": {
          "description": "Optional. Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "oxygenSaturation": {
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "runVo2Max": {
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "steps": {
          "description": "Optional. Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "respiratoryRateSleepSummary": {
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "sedentaryPeriod": {
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "bodyFat": {
          "description": "Optional. Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "dataSource": {
          "description": "Optional. Data source information for the metric",
          "$ref": "DataSource"
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "basalEnergyBurned": {
          "description": "Optional. Data for points in the `basal-energy-burned` interval data type collection.",
          "$ref": "BasalEnergyBurned"
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "swimLengthsData": {
          "description": "Optional. Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "activityLevel": {
          "description": "Optional. Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "dailyHeartRateZones": {
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "altitude": {
          "description": "Optional. Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "heartRate": {
          "description": "Optional. Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "heartRateVariability": {
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "sleep": {
          "description": "Optional. Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        }
      }
    },
    "ActiveZoneMinutes": {
      "description": "Record of active zone minutes in a given time interval.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeZoneMinutes": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of Active Zone Minutes earned in the given time interval. Note: active_zone_minutes equals to 1 for low intensity (fat burn) zones or 2 for high intensity zones (cardio, peak)."
        },
        "heartRateZone": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The fat burn heart rate zone.",
            "The cardio heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_UNSPECIFIED",
            "FAT_BURN",
            "CARDIO",
            "PEAK"
          ],
          "description": "Required. Heart rate zone in which the active zone minutes have been earned, in the given time interval."
        }
      },
      "id": "ActiveZoneMinutes"
    },
    "DataSource": {
      "id": "DataSource",
      "type": "object",
      "properties": {
        "application": {
          "readOnly": true,
          "$ref": "Application",
          "description": "Output only. Captures metadata for the application that provided this data."
        },
        "platform": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "description": "Output only. Captures the platform that uploaded the data.",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ]
        },
        "recordingMethod": {
          "description": "Optional. Captures how the data was recorded.",
          "type": "string",
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ]
        },
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        }
      },
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it)."
    },
    "CivilDateTime": {
      "type": "object",
      "properties": {
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        },
        "date": {
          "description": "Required. Calendar date.",
          "$ref": "Date"
        }
      },
      "id": "CivilDateTime",
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries."
    },
    "HydrationLog": {
      "description": "Holds information about a user logged hydration.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "SessionTimeInterval"
        },
        "amountConsumed": {
          "description": "Required. Amount of liquid (ex. water) consumed.",
          "$ref": "VolumeQuantity"
        }
      },
      "id": "HydrationLog"
    },
    "ActivityLevelRollupByActivityLevelType": {
      "id": "ActivityLevelRollupByActivityLevelType",
      "type": "object",
      "properties": {
        "totalDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total duration in the activity level type."
        },
        "activityLevelType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "description": "Activity level type."
        }
      },
      "description": "Represents the total duration in a specific activity level type."
    },
    "SleepMetadata": {
      "description": "Additional information about how the sleep was processed.",
      "id": "SleepMetadata",
      "type": "object",
      "properties": {
        "nap": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Naps are sleeps without stages and relatively short durations."
        },
        "manuallyEdited": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users."
        },
        "processed": {
          "description": "Output only. Sleep and sleep stages algorithms finished processing.",
          "type": "boolean",
          "readOnly": true
        },
        "externalId": {
          "type": "string",
          "description": "Optional. Sleep identifier relevant in the context of the data source."
        },
        "stagesStatus": {
          "type": "string",
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
[...]
