{
  "ownerName": "Google",
  "baseUrl": "https://health.googleapis.com/",
  "servicePath": "",
  "version": "v4",
  "rootUrl": "https://health.googleapis.com/",
  "documentationLink": "https://developers.google.com/health",
  "ownerDomain": "google.com",
  "basePath": "",
  "version_module": true,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260412",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "users": {
      "resources": {
        "dataTypes": {
          "resources": {
            "dataPoints": {
              "methods": {
                "rollUp": {
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:rollUp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "health.users.dataTypes.dataPoints.rollUp",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "RollUpDataPointsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the RollupDataPoint value union field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "RollUpDataPointsRequest"
                  },
                  "description": "Roll up data points over physical time intervals for supported data types.",
                  "path": "v4/{+parent}/dataPoints:rollUp"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "description": "Creates a single identifiable data point.",
                  "path": "v4/{+parent}/dataPoints",
                  "id": "health.users.dataTypes.dataPoints.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "description": "Required. The parent resource name where the data point will be created. Format: `users/{user}/dataTypes/{data_type}`"
                    }
                  },
                  "request": {
                    "$ref": "DataPoint"
                  }
                },
                "patch": {
                  "description": "Updates a single identifiable data point. If a data point with the specified `name` is not found, the request will fail.",
                  "path": "v4/{+name}",
                  "id": "health.users.dataTypes.dataPoints.patch",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}"
                },
                "reconcile": {
                  "id": "health.users.dataTypes.dataPoints.reconcile",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ReconcileDataPointsResponse"
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:reconcile",
                  "parameters": {
                    "dataSourceFamily": {
                      "description": "Optional. The data source family name to reconcile. If empty, data points from all data sources will be reconciled. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/heart-rate` For a list of the supported data types see the DataPoint data union field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Filter expression based on https://aip.dev/160. A time range, either physical or civil, can be specified. See the ListDataPointsRequest.filter for the supported fields and syntax.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Reconcile data points from multiple data sources into a single data stream.",
                  "path": "v4/{+parent}/dataPoints:reconcile"
                },
                "list": {
                  "response": {
                    "$ref": "ListDataPointsResponse"
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/weight` For a list of the supported data types see the DataPoint data union field."
                    },
                    "pageToken": {
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter expression following https://google.aip.dev/160. A time range (either physical or civil) can be specified. The supported filter fields are: - Interval start time: - Pattern: `{interval_data_type}.interval.start_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `steps.interval.start_time >= \"2023-11-24T00:00:00Z\" AND steps.interval.start_time < \"2023-11-25T00:00:00Z\"` - `distance.interval.start_time >= \"2024-08-14T12:34:56Z\"` - Interval civil start time: - Pattern: `{interval_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `steps.interval.civil_start_time >= \"2023-11-24\" AND steps.interval.civil_start_time < \"2023-11-25\"` - `distance.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Sample observation physical time: - Pattern: `{sample_data_type}.sample_time.physical_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `weight.sample_time.physical_time >= \"2023-11-24T00:00:00Z\" AND weight.sample_time.physical_time < \"2023-11-25T00:00:00Z\"` - `weight.sample_time.physical_time >= \"2024-08-14T12:34:56Z\"` - Sample observation civil time: - Pattern: `{sample_data_type}.sample_time.civil_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `weight.sample_time.civil_time >= \"2023-11-24\" AND weight.sample_time.civil_time < \"2023-11-25\"` - `weight.sample_time.civil_time >= \"2024-08-14T12:34:56\"` - Daily summary date: - Pattern: `{daily_summary_data_type}.date` - Supported comparison operators: `>=`, `<` - Date literal expected in ISO 8601 `YYYY-MM-DD` format - Supported logical operators: `AND` - Example: - `daily_resting_heart_rate.date >= \"2024-08-14\"` - `daily_heart_rate_variability.date < \"2024-08-15\"` - Session civil start time (**Excluding Sleep**): - Pattern: `{session_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `exercise.interval.civil_start_time >= \"2023-11-24\" AND exercise.interval.civil_start_time < \"2023-11-25\"` - `exercise.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Session end time (**Sleep specific**): - Pattern: `sleep.interval.end_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.end_time >= \"2023-11-24T00:00:00Z\" AND sleep.interval.end_time < \"2023-11-25T00:00:00Z\"` - Session civil end time (**Sleep specific**): - Pattern: `sleep.interval.civil_end_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.civil_end_time >= \"2023-11-24\" AND sleep.interval.civil_end_time < \"2023-11-25\"` Data points in the response will be ordered by the interval start time in descending order.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "health.users.dataTypes.dataPoints.list",
                  "httpMethod": "GET",
                  "description": "Query user health and fitness data points.",
                  "path": "v4/{+parent}/dataPoints",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "dailyRollUp": {
                  "id": "health.users.dataTypes.dataPoints.dailyRollUp",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the DailyRollupDataPoint value union field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "DailyRollUpDataPointsRequest"
                  },
                  "response": {
                    "$ref": "DailyRollUpDataPointsResponse"
                  },
                  "path": "v4/{+parent}/dataPoints:dailyRollUp",
                  "description": "Roll up data points over civil time intervals for supported data types.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:dailyRollUp",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "batchDelete": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:batchDelete",
                  "description": "Delete a batch of identifyable data points.",
                  "path": "v4/{+parent}/dataPoints:batchDelete",
                  "id": "health.users.dataTypes.dataPoints.batchDelete",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Optional. Parent (data type) for the Data Point collection Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/-` For a list of the supported data types see the DataPoint data union field. Deleting data points across multiple data type collections is supported following https://aip.dev/159. If this is set, the parent of all of the data points specified in `names` must match this field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "BatchDeleteDataPointsRequest"
                  }
                },
                "exportExerciseTcx": {
                  "parameterOrder": [
                    "name"
                  ],
                  "useMediaDownloadService": true,
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}:exportExerciseTcx",
                  "description": "Exports exercise data in TCX format. Note: While the Authorization section below states that any one of the listed scopes is accepted, this specific method requires the user to provide both one of the `activity_and_fitness` scopes (`normal` or `readonly`) AND one of the `location` scopes (`normal` or `readonly`) in their access token to succeed.",
                  "path": "v4/{+name}:exportExerciseTcx",
                  "id": "health.users.dataTypes.dataPoints.exportExerciseTcx",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ExportExerciseTcxResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "description": "Required. The resource name of the exercise data point to export. Format: `users/{user}/dataTypes/exercise/dataPoints/{data_point}` Example: `users/me/dataTypes/exercise/dataPoints/2026443605080188808` The `{user}` is the alias `\"me\"` currently. Future versions may support user IDs. The `{data_point}` ID maps to the exercise ID, which is a long integer."
                    },
                    "partialData": {
                      "description": "Optional. Indicates whether to include the TCX data points when the GPS data is not available. If not specified, defaults to `false` and partial data will not be included.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "supportsMediaDownload": true
                }
              }
            }
          }
        }
      },
      "methods": {
        "updateSettings": {
          "flatPath": "v4/users/{usersId}/settings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^users/[^/]+/settings$",
              "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
            },
            "updateMask": {
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "request": {
            "$ref": "Settings"
          },
          "response": {
            "$ref": "Settings"
          },
          "id": "health.users.updateSettings",
          "httpMethod": "PATCH",
          "path": "v4/{+name}",
          "description": "Updates the user's settings details."
        },
        "getProfile": {
          "description": "Returns user Profile details.",
          "path": "v4/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Profile"
          },
          "flatPath": "v4/users/{usersId}/profile",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the Profile. Format: `users/me/profile`.",
              "pattern": "^users/[^/]+/profile$"
            }
          },
          "id": "health.users.getProfile",
          "httpMethod": "GET"
        },
        "updateProfile": {
          "flatPath": "v4/users/{usersId}/profile",
          "parameterOrder": [
            "name"
          ],
          "id": "health.users.updateProfile",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^users/[^/]+/profile$",
              "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Profile"
          },
          "response": {
            "$ref": "Profile"
          },
          "path": "v4/{+name}",
          "description": "Updates the user's profile details."
        },
        "getSettings": {
          "parameterOrder": [
            "name"
          ],
          "path": "v4/{+name}",
          "description": "Returns user settings details.",
          "id": "health.users.getSettings",
          "httpMethod": "GET",
          "flatPath": "v4/users/{usersId}/settings",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the Settings. Format: `users/me/settings`.",
              "pattern": "^users/[^/]+/settings$"
            }
          },
          "response": {
            "$ref": "Settings"
          }
        },
        "getIdentity": {
          "description": "Gets the user's identity. It includes the legacy Fitbit user ID and the Google user ID and it can be used by migrating clients to map identifiers between the two systems.",
          "path": "v4/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Identity"
          },
          "flatPath": "v4/users/{usersId}/identity",
          "parameters": {
            "name": {
              "pattern": "^users/[^/]+/identity$",
              "description": "Required. The resource name of the Identity. Format: `users/me/identity`",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "health.users.getIdentity",
          "httpMethod": "GET"
        }
      }
    }
  },
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "canonicalName": "Google Health API",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "title": "Google Health API",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "name": "health",
  "schemas": {
    "VO2Max": {
      "description": "VO2 max measurement.",
      "type": "object",
      "properties": {
        "vo2Max": {
          "format": "double",
          "description": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "type": "number"
        },
        "measurementMethod": {
          "enumDescriptions": [
            "Unspecified measurement method.",
            "Fitbit specific, measures VO2 max rate during a run.",
            "Google specific, measures VO2 max rate for a user based on their demographic data.",
            "Run as far as possible for 12 minutes. Distance correlated with age and gender translates to a VO2 max value.",
            "Maximum heart rate divided by the resting heart rate, with a multiplier applied. Does not require any exercise.",
            "Measured by a medical device called metabolic cart.",
            "Continuous 20m back-and-forth runs with increasing difficulty, until exhaustion.",
            "Measured using walking exercise.",
            "Healthkit specific, measures VO2 max rate by monitoring exercise to the user’s physical limit. Similar to COOPER_TEST or MULTISTAGE_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate based on low-intensity exercise. Similar to ROCKPORT_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate without any exercise. Similar to HEART_RATE_RATIO.",
            "Use when the method is not covered in this enum."
          ],
          "enum": [
            "MEASUREMENT_METHOD_UNSPECIFIED",
            "FITBIT_RUN",
            "GOOGLE_DEMOGRAPHIC",
            "COOPER_TEST",
            "HEART_RATE_RATIO",
            "METABOLIC_CART",
            "MULTISTAGE_FITNESS_TEST",
            "ROCKPORT_FITNESS_TEST",
            "MAX_EXERCISE",
            "PREDICTION_SUB_MAX_EXERCISE",
            "PREDICTION_NON_EXERCISE",
            "OTHER"
          ],
          "description": "Optional. The method used to measure the VO2 max value.",
          "type": "string"
        },
        "sampleTime": {
          "description": "Required. The time at which VO2 max was measured.",
          "$ref": "ObservationSampleTime"
        }
      },
      "id": "VO2Max"
    },
    "HydrationLogRollupValue": {
      "description": "Represents the result of the rollup of the hydration log data type.",
      "type": "object",
      "properties": {
        "amountConsumed": {
          "description": "Rollup for amount consumed.",
          "$ref": "VolumeQuantityRollup"
        }
      },
      "id": "HydrationLogRollupValue"
    },
    "HeartRateVariability": {
      "id": "HeartRateVariability",
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN).",
      "type": "object",
      "properties": {
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "format": "double",
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Fitbit.",
          "type": "number"
        },
        "sampleTime": {
          "description": "Required. The time of the heart rate variability measurement.",
          "$ref": "ObservationSampleTime"
        },
        "standardDeviationMilliseconds": {
          "format": "double",
          "description": "Optional. The standard deviation of the heart rate variability measurement.",
          "type": "number"
        }
      }
    },
    "ExerciseEvent": {
      "id": "ExerciseEvent",
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split.",
      "type": "object",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "Required. Exercise event time",
          "type": "string"
        },
        "eventUtcOffset": {
          "description": "Required. Exercise event time offset from UTC",
          "type": "string",
          "format": "google-duration"
        },
        "exerciseEventType": {
          "description": "Required. The type of the event, such as start, stop, pause, resume.",
          "type": "string",
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ],
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ]
        }
      }
    },
    "AltitudeRollupValue": {
      "id": "AltitudeRollupValue",
      "description": "Represents the result of the rollup of the user's altitude.",
      "type": "object",
      "properties": {
        "gainMillimetersSum": {
          "format": "int64",
          "description": "Sum of the altitude gain in millimeters.",
          "type": "string"
        }
      }
    },
    "ExerciseMetadata": {
      "description": "Additional exercise metadata.",
      "type": "object",
      "properties": {
        "hasGps": {
          "description": "Optional. Whether the exercise had GPS tracking.",
          "type": "boolean"
        },
        "poolLengthMillimeters": {
          "format": "int64",
          "description": "Optional. Pool length in millimeters. Only present in the swimming exercises.",
          "type": "string"
        }
      },
      "id": "ExerciseMetadata"
    },
    "DailyOxygenSaturation": {
      "id": "DailyOxygenSaturation",
      "description": "A daily oxygen saturation (SpO2) record. Represents the user's daily oxygen saturation summary, typically calculated during sleep.",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. Date (in user's timezone) of the daily oxygen saturation record.",
          "$ref": "Date"
        },
        "lowerBoundPercentage": {
          "format": "double",
          "description": "Required. The lower bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number"
        },
        "standardDeviationPercentage": {
          "description": "Optional. Standard deviation of the daily oxygen saturation averages from the past 7-30 days.",
          "type": "number",
          "format": "double"
        },
        "averagePercentage": {
          "format": "double",
          "description": "Required. The average value of the oxygen saturation samples during the sleep.",
          "type": "number"
        },
        "upperBoundPercentage": {
          "format": "double",
          "description": "Required. The upper bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number"
        }
      }
    },
    "HydrationLog": {
      "id": "HydrationLog",
      "description": "Holds information about a user logged hydration.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "SessionTimeInterval"
        },
        "amountConsumed": {
          "description": "Required. Amount of liquid (ex. water) consumed.",
          "$ref": "VolumeQuantity"
        }
      }
    },
    "Floors": {
      "description": "Gained elevation measured in floors over the time interval",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval",
          "$ref": "ObservationTimeInterval"
        },
        "count": {
          "format": "int64",
          "description": "Required. Number of floors in the recorded interval",
          "type": "string"
        }
      },
      "id": "Floors"
    },
    "GoogleDevicesandservicesHealthV4DataType": {
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values.",
          "type": "string"
        }
      },
      "id": "GoogleDevicesandservicesHealthV4DataType"
    },
    "ActiveMinutesByActivityLevel": {
      "id": "ActiveMinutesByActivityLevel",
      "description": "Active minutes at a given activity level.",
      "type": "object",
      "properties": {
        "activityLevel": {
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "description": "Required. The level of activity.",
          "type": "string"
        },
        "activeMinutes": {
          "format": "int64",
          "description": "Required. Number of whole minutes spent in activity.",
          "type": "string"
        }
      }
    },
    "SplitSummary": {
      "id": "SplitSummary",
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Required. Lap end time",
          "type": "string",
          "format": "google-datetime"
        },
        "activeDuration": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. Lap time excluding the pauses.",
          "type": "string"
        },
        "startTime": {
          "description": "Required. Lap start time",
          "type": "string",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "description": "Required. Lap end time offset from UTC",
          "type": "string",
          "format": "google-duration"
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this split.",
          "$ref": "MetricsSummary"
        },
        "splitType": {
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic.",
          "type": "string",
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ]
        },
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. Lap start time offset from UTC",
          "type": "string"
        }
      }
    },
    "Device": {
      "description": "Captures metadata about the device that recorded the measurement.",
      "type": "object",
      "properties": {
        "formFactor": {
          "description": "Optional. Captures the form factor of the device.",
          "type": "string",
          "enumDescriptions": [
            "The form factor is unspecified.",
            "The device is a fitness band.",
            "The device is a watch.",
            "The device is a phone.",
            "The device is a ring.",
            "The device is a chest strap.",
            "The device is a scale.",
            "The device is a tablet.",
            "The device is a head mounted device.",
            "The device is a smart display."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "FITNESS_BAND",
            "WATCH",
            "PHONE",
            "RING",
            "CHEST_STRAP",
            "SCALE",
            "TABLET",
            "HEAD_MOUNTED",
            "SMART_DISPLAY"
          ]
        },
        "manufacturer": {
          "description": "Optional. An optional manufacturer of the device.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. An optional name for the device.",
          "type": "string"
        }
      },
      "id": "Device"
    },
    "TimeInHeartRateZoneValue": {
      "id": "TimeInHeartRateZoneValue",
      "description": "Represents the total time spent in a specific heart rate zone.",
      "type": "object",
      "properties": {
        "heartRateZone": {
          "description": "The heart rate zone.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        },
        "duration": {
          "description": "The total time spent in the specified heart rate zone.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "id": "Date"
    },
    "BodyFatRollupValue": {
      "description": "Represents the result of the rollup of the body fat data type.",
      "type": "object",
      "properties": {
        "bodyFatPercentageAvg": {
          "description": "Average body fat percentage.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "BodyFatRollupValue"
    },
    "ObservationTimeInterval": {
      "id": "ObservationTimeInterval",
      "description": "Represents a time interval of an observed data point.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Observed interval start time.",
          "type": "string"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Required. Observed interval end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "civilStartTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval"
        },
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "civilEndTime": {
          "$ref": "CivilDateTime",
          "readOnly": true,
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval"
        }
      }
    },
    "StepsRollupValue": {
      "id": "StepsRollupValue",
      "description": "Represents the result of the rollup of the steps data type.",
      "type": "object",
      "properties": {
        "countSum": {
          "format": "int64",
          "description": "Total number of steps in the interval.",
          "type": "string"
        }
      }
    },
    "TimeInHeartRateZones": {
      "id": "TimeInHeartRateZones",
      "description": "Time spent in each heart rate zone.",
      "type": "object",
      "properties": {
        "vigorousTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in vigorous heart rate zone.",
          "type": "string"
        },
        "lightTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in light heart rate zone.",
          "type": "string"
        },
        "peakTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in peak heart rate zone.",
          "type": "string"
        },
        "moderateTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in moderate heart rate zone.",
          "type": "string"
        }
      }
    },
    "BatchDeleteDataPointsRequest": {
      "id": "BatchDeleteDataPointsRequest",
      "description": "Request to delete a batch of identifiable data points.",
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "HeartRateMetadata": {
      "id": "HeartRateMetadata",
      "description": "Heart rate metadata.",
      "type": "object",
      "properties": {
        "motionContext": {
          "description": "Optional. Indicates the user’s level of activity when the heart rate sample was measured",
          "type": "string",
          "enumDescriptions": [
            "The default value when no data is available.",
            "The user is active.",
            "The user is inactive."
          ],
          "enum": [
            "MOTION_CONTEXT_UNSPECIFIED",
            "ACTIVE",
            "SEDENTARY"
          ]
        },
        "sensorLocation": {
          "description": "Optional. Indicates the location of the sensor that measured the heart rate.",
          "type": "string",
          "enumDescriptions": [
            "The default value when no data is available.",
            "Chest sensor.",
            "Wrist sensor.",
            "Finger sensor.",
            "Hand sensor.",
            "Ear lobe sensor.",
            "Foot sensor."
          ],
          "enum": [
            "SENSOR_LOCATION_UNSPECIFIED",
            "CHEST",
            "WRIST",
            "FINGER",
            "HAND",
            "EAR_LOBE",
            "FOOT"
          ]
        }
      }
    },
    "MetricsSummary": {
      "description": "Summary metrics for an exercise.",
      "type": "object",
      "properties": {
        "caloriesKcal": {
          "description": "Optional. Total calories burned by the user during the exercise.",
          "type": "number",
          "format": "double"
        },
        "runVo2Max": {
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise.",
          "type": "number",
          "format": "double"
        },
        "totalSwimLengths": {
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise.",
          "type": "number",
          "format": "double"
        },
        "activeZoneMinutes": {
          "description": "Optional. Total active zone minutes for the exercise.",
          "type": "string",
          "format": "int64"
        },
        "distanceMillimeters": {
          "format": "double",
          "description": "Optional. Total distance covered by the user during the exercise.",
          "type": "number"
        },
        "averagePaceSecondsPerMeter": {
          "format": "double",
          "description": "Optional. Average pace in seconds per meter.",
          "type": "number"
        },
        "elevationGainMillimeters": {
          "format": "double",
          "description": "Optional. Total elevation gain during the exercise.",
          "type": "number"
        },
        "steps": {
          "format": "int64",
          "description": "Optional. Total steps taken during the exercise.",
          "type": "string"
        },
        "averageHeartRateBeatsPerMinute": {
          "description": "Optional. Average heart rate during the exercise.",
          "type": "string",
          "format": "int64"
        },
        "averageSpeedMillimetersPerSecond": {
          "description": "Optional. Average speed in millimeters per second.",
          "type": "number",
          "format": "double"
        },
        "heartRateZoneDurations": {
          "description": "Optional. Time spent in each heart rate zone.",
          "$ref": "TimeInHeartRateZones"
        },
        "mobilityMetrics": {
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises.",
          "$ref": "MobilityMetrics"
        }
      },
      "id": "MetricsSummary"
    },
    "DailyRollupDataPoint": {
      "id": "DailyRollupDataPoint",
      "description": "Value of a daily rollup for a single civil time interval (aggregation window)",
      "type": "object",
      "properties": {
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "civilEndTime": {
          "description": "End time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "civilStartTime": {
          "description": "Start time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "restingHeartRatePersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier.",
          "$ref": "RestingHeartRatePersonalRangeRollupValue"
        },
        "heartRateVariabilityPersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier.",
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue"
        }
      }
    },
    "ActiveMinutes": {
      "description": "Record of active minutes in a given time interval.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeMinutesByActivityLevel": {
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed.",
          "type": "array",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          }
        }
      },
      "id": "ActiveMinutes"
    },
    "OutOfBedSegment": {
      "description": "A time interval to represent an out-of-bed segment.",
      "type": "object",
      "properties": {
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the segment relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Required. Segment end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Required. Segment tart time.",
          "type": "string",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the end of the segment relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        }
      },
      "id": "OutOfBedSegment"
    },
    "HeartRateRollupValue": {
      "description": "Represents the result of the rollup of the heart rate data type.",
      "type": "object",
      "properties": {
        "beatsPerMinuteMax": {
          "description": "The maximum heart rate value in the interval.",
          "type": "number",
          "format": "double"
        },
        "beatsPerMinuteAvg": {
          "description": "The average heart rate value in the interval.",
          "type": "number",
          "format": "double"
        },
        "beatsPerMinuteMin": {
          "format": "double",
          "description": "The minimum heart rate value in the interval.",
          "type": "number"
        }
      },
      "id": "HeartRateRollupValue"
    },
    "ActiveZoneMinutes": {
      "id": "ActiveZoneMinutes",
      "description": "Record of active zone minutes in a given time interval.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "heartRateZone": {
          "description": "Required. Heart rate zone in which the active zone minutes have been earned, in the given time interval.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The fat burn heart rate zone.",
            "The cardio heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_UNSPECIFIED",
            "FAT_BURN",
            "CARDIO",
            "PEAK"
          ]
        },
        "activeZoneMinutes": {
          "description": "Required. Number of Active Zone Minutes earned in the given time interval. Note: active_zone_minutes equals to 1 for low intensity (fat burn) zones or 2 for high intensity zones (cardio, peak).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DataSource": {
      "id": "DataSource",
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it).",
      "type": "object",
      "properties": {
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        },
        "application": {
          "description": "Output only. Captures metadata for the application that provided this data.",
          "readOnly": true,
          "$ref": "Application"
        },
        "platform": {
          "description": "Output only. Captures the platform that uploaded the data.",
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ],
          "readOnly": true,
          "type": "string"
        },
        "recordingMethod": {
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ],
          "description": "Optional. Captures how the data was recorded.",
          "type": "string"
        }
      }
    },
    "SessionTimeInterval": {
      "id": "SessionTimeInterval",
      "description": "Represents a time interval of session data point, which bundles multiple observed metrics together.",
      "type": "object",
      "properties": {
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "civilEndTime": {
          "description": "Output only. Session end time in civil time in the timezone the subject is in at the end of the session.",
          "$ref": "CivilDateTime",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. The start time of the observed session.",
          "type": "string"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Required. The end time of the observed session.",
          "type": "string",
          "format": "google-datetime"
        },
        "civilStartTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Session start time in civil time in the timezone the subject is in at the start of the session."
        }
      }
    },
    "ObservationSampleTime": {
      "id": "ObservationSampleTime",
      "description": "Represents a sample time of an observed data point.",
      "type": "object",
      "properties": {
        "physicalTime": {
          "description": "Required. The time of the observation.",
          "type": "string",
          "format": "google-datetime"
        },
        "civilTime": {
          "$ref": "CivilDateTime",
          "readOnly": true,
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation."
        },
        "utcOffset": {
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "ActiveMinutesRollupByActivityLevel": {
      "id": "ActiveMinutesRollupByActivityLevel",
      "description": "Active minutes by activity level.",
      "type": "object",
      "properties": {
        "activeMinutesSum": {
          "format": "int64",
          "description": "Number of whole minutes spent in activity.",
          "type": "string"
        },
        "activityLevel": {
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "description": "The level of activity.",
          "type": "string"
        }
      }
    },
    "RunVO2Max": {
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min.",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the metric was measured.",
          "$ref": "ObservationSampleTime"
        },
        "runVo2Max": {
          "format": "double",
          "description": "Required. Run VO2 max value in ml/kg/min.",
          "type": "number"
        }
      },
      "id": "RunVO2Max"
    },
    "RollUpDataPointsResponse": {
      "description": "Response containing the list of rolled up data points.",
      "type": "object",
      "properties": {
        "rollupDataPoints": {
          "description": "Values for each aggregation time window.",
          "type": "array",
          "items": {
            "$ref": "RollupDataPoint"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "RollUpDataPointsResponse"
    },
    "DailyRollUpDataPointsRequest": {
      "id": "DailyRollUpDataPointsRequest",
      "description": "Request to roll up data points by civil time intervals.",
      "type": "object",
      "properties": {
        "pageSize": {
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer",
          "format": "int32"
        },
        "windowSizeDays": {
          "format": "int32",
          "description": "Optional. Aggregation window size, in number of days. Defaults to 1 if not specified.",
          "type": "integer"
        },
        "pageToken": {
          "description": "Optional. The `next_page_token` from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The start time must be aligned with the aggregation window. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "CivilTimeInterval"
        },
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        }
      }
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "seconds": {
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "TimeOfDay"
    },
    "Altitude": {
      "id": "Altitude",
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "type": "object",
      "properties": {
        "gainMillimeters": {
          "format": "int64",
          "description": "Required. Altitude gain in millimeters over the observed interval.",
          "type": "string"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      }
    },
    "DailyRespiratoryRate": {
      "id": "DailyRespiratoryRate",
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep.",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. The date on which the respiratory rate was measured.",
          "$ref": "Date"
        },
        "breathsPerMinute": {
          "format": "double",
          "description": "Required. The average number of breaths taken per minute.",
          "type": "number"
        }
      }
    },
    "Sleep": {
      "description": "A sleep session possibly including stages.",
      "type": "object",
      "properties": {
        "stages": {
          "description": "Optional. List of non-overlapping contiguous sleep stage segments that cover the sleep period.",
          "type": "array",
          "items": {
            "$ref": "SleepStage"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update time of this sleep observation.",
          "type": "string"
        },
        "interval": {
          "description": "Required. Observed sleep interval.",
          "$ref": "SessionTimeInterval"
        },
        "type": {
          "enumDescriptions": [
            "Sleep type is unspecified.",
            "Classic sleep is a sleep with 3 stages types: AWAKE, RESTLESS and ASLEEP.",
            "On top of \"classic\" sleep stages an additional processing pass can calculate stages more precisely, overwriting the prior stages with AWAKE, LIGHT, REM and DEEP."
          ],
          "enum": [
            "SLEEP_TYPE_UNSPECIFIED",
            "CLASSIC",
            "STAGES"
          ],
          "description": "Optional. SleepType: classic or stages.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Sleep metadata: processing, main, manually edited, stages status.",
          "$ref": "SleepMetadata"
        },
        "summary": {
          "description": "Output only. Sleep summary: metrics and stages summary.",
          "$ref": "SleepSummary",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation time of this sleep observation.",
          "type": "string"
        },
        "outOfBedSegments": {
          "description": "Optional. “Out of bed” segments that can overlap with sleep stages.",
          "type": "array",
          "items": {
            "$ref": "OutOfBedSegment"
          }
        }
      },
      "id": "Sleep"
    },
    "VolumeQuantityRollup": {
      "id": "VolumeQuantityRollup",
      "description": "Rollup for volume quantity.",
      "type": "object",
      "properties": {
        "userProvidedUnitLast": {
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ],
          "description": "Optional. The user provided unit on the last element.",
          "type": "string"
        },
        "millilitersSum": {
          "description": "Required. The sum of volume in milliliters.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ExportExerciseTcxResponse": {
      "description": "Represents a Response for exporting exercise data in TCX format.",
      "type": "object",
      "properties": {
        "tcxData": {
          "description": "Contains the exported TCX data.",
          "type": "string"
        }
      },
      "id": "ExportExerciseTcxResponse"
    },
    "Identity": {
      "id": "Identity",
      "description": "Represents details about the Google user's identity.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`",
          "type": "string"
        },
        "healthUserId": {
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "type": "string",
          "readOnly": true
        },
        "legacyUserId": {
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Interval"
    },
    "DailyRestingHeartRateMetadata": {
      "id": "DailyRestingHeartRateMetadata",
      "description": "Metadata for the daily resting heart rate.",
      "type": "object",
      "properties": {
        "calculationMethod": {
          "description": "Required. The method used to calculate the resting heart rate.",
          "type": "string",
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ],
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ]
        }
      }
    },
    "DailyRestingHeartRate": {
      "id": "DailyRestingHeartRate",
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement.",
          "$ref": "Date"
        },
        "dailyRestingHeartRateMetadata": {
          "description": "Optional. Metadata for the daily resting heart rate.",
          "$ref": "DailyRestingHeartRateMetadata"
        },
        "beatsPerMinute": {
          "description": "Required. The resting heart rate value in beats per minute.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SleepStage": {
      "description": "Sleep stage segment.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Sleep stage start time.",
          "type": "string"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the end of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last update time of this sleep stages segment.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Required. Sleep stage end time.",
          "type": "string"
        },
        "type": {
          "description": "Required. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "type": "string",
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ]
        },
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of this sleep stages segment.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "SleepStage"
    },
    "CaloriesInHeartRateZoneValue": {
      "id": "CaloriesInHeartRateZoneValue",
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone.",
      "type": "object",
      "properties": {
        "heartRateZone": {
          "description": "The heart rate zone.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        },
        "kcal": {
          "format": "double",
          "description": "The amount of kilocalories burned in the specified heart rate zone.",
          "type": "number"
        }
      }
    },
    "DailySleepTemperatureDerivations": {
      "description": "Provides derived sleep temperature values, calculated from skin or internal device temperature readings during sleep.",
      "type": "object",
      "properties": {
        "relativeNightlyStddev30dCelsius": {
          "format": "double",
          "description": "Optional. The standard deviation of the user’s relative nightly skin temperature (temperature - baseline) over the past 30 days.",
          "type": "number"
        },
        "nightlyTemperatureCelsius": {
          "description": "Required. The user's nightly skin temperature. It is the mean of skin temperature samples taken from the user’s sleep.",
          "type": "number",
          "format": "double"
        },
        "baselineTemperatureCelsius": {
          "description": "Optional. The user's baseline skin temperature. It is the median of the user's nightly skin temperature over the past 30 days.",
          "type": "number",
          "format": "double"
        },
        "date": {
          "description": "Required. Date for which the sleep temperature derivations are calculated.",
          "$ref": "Date"
        }
      },
      "id": "DailySleepTemperatureDerivations"
    },
    "SleepSummary": {
      "description": " Sleep summary: metrics and stages summary.",
      "type": "object",
      "properties": {
        "minutesAsleep": {
          "description": "Output only. Total number of minutes asleep. For classic sleep it is the sum of ASLEEP stages (excluding AWAKE and RESTLESS). For \"stages\" sleep it is the sum of LIGHT, REM and DEEP stages (excluding AWAKE).",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "minutesAwake": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total number of minutes awake. It is a sum of all AWAKE stages.",
          "type": "string"
        },
        "minutesToFallAsleep": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Minutes to fall asleep calculated by restlessness algorithm.",
          "type": "string"
        },
        "stagesSummary": {
          "readOnly": true,
          "description": "Output only. List of summaries (total duration and segment count) per each sleep stage type.",
          "type": "array",
          "items": {
            "$ref": "StageSummary"
          }
        },
        "minutesAfterWakeUp": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Minutes after wake up calculated by restlessness algorithm.",
          "type": "string"
        },
        "minutesInSleepPeriod": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Delta between wake time and bedtime. It is the sum of all stages.",
          "type": "string"
        }
      },
      "id": "SleepSummary"
    },
    "TimeInHeartRateZoneRollupValue": {
      "id": "TimeInHeartRateZoneRollupValue",
      "description": "Represents the result of the rollup of the time in heart rate zone data type.",
      "type": "object",
      "properties": {
        "timeInHeartRateZones": {
          "description": "List of time spent in each heart rate zone.",
          "type": "array",
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          }
        }
      }
    },
    "SleepMetadata": {
      "id": "SleepMetadata",
      "description": "Additional information about how the sleep was processed.",
      "type": "object",
      "properties": {
        "nap": {
          "readOnly": true,
          "description": "Output only. Naps are sleeps without stages and relatively short durations.",
          "type": "boolean"
        },
        "externalId": {
          "description": "Optional. Sleep identifier relevant in the context of the data source.",
          "type": "string"
        },
        "processed": {
          "description": "Output only. Sleep and sleep stages algorithms finished processing.",
          "type": "boolean",
          "readOnly": true
        },
        "stagesStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ],
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ],
          "description": "Output only. Sleep stages algorithm processing status.",
          "type": "string"
        },
        "manuallyEdited": {
          "readOnly": true,
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users.",
          "type": "boolean"
        }
      }
    },
    "ReconcileDataPointsResponse": {
      "description": "Response containing the list of reconciled DataPoints.",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Data points matching the query",
          "type": "array",
          "items": {
            "$ref": "ReconciledDataPoint"
          }
        },
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        }
      },
      "id": "ReconcileDataPointsResponse"
    },
    "CivilDateTime": {
      "id": "CivilDateTime",
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries.",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. Calendar date.",
          "$ref": "Date"
        },
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "Application": {
      "id": "Application",
      "description": "Optional metadata for the application that provided this data.",
      "type": "object",
      "properties": {
        "webClientId": {
          "description": "Output only. The client ID of the application that recorded the data. This ID is a legacy Fitbit API client ID, which is different from a Google OAuth client ID. Example format: `ABC123`. This field is system-populated and used for tracing data from legacy Fitbit API integrations. This field is system-populated when the data is uploaded from a legacy Fitbit API integration.",
          "type": "string",
          "readOnly": true
        },
        "packageName": {
          "description": "Output only. A unique identifier for the mobile application that was the source of the data. This is typically the application's package name on Android (e.g., `com.google.fitbit`) or the bundle ID on iOS. This field is informational and helps trace data origin. This field is system-populated when the data is uploaded from the Fitbit mobile application, Health Connect or Health Kit.",
          "type": "string",
          "readOnly": true
        },
        "googleWebClientId": {
          "description": "Output only. The Google OAuth 2.0 client ID of the web application or service that recorded the data. This is the client ID used during the Google OAuth flow to obtain user credentials. This field is system-populated when the data is uploaded from Google Web API.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "type": "object",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMax": {
          "format": "double",
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "type": "number"
        },
        "averageHeartRateVariabilityMillisecondsMin": {
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "HeartRateVariabilityPersonalRangeRollupValue"
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "id": "CaloriesInHeartRateZoneRollupValue",
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "type": "object",
      "properties": {
        "caloriesInHeartRateZones": {
          "description": "List of calories burned in each heart rate zone.",
          "type": "array",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          }
        }
      }
    },
    "BodyFat": {
      "id": "BodyFat",
      "description": "Body fat measurement.",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which body fat was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "format": "double",
          "description": "Required. Body fat percentage, in range [0, 100].",
          "type": "number"
        }
      }
    },
    "DataPoint": {
      "id": "DataPoint",
      "description": "A computed or recorded metric.",
      "type": "object",
      "properties": {
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "heartRate": {
          "description": "Optional. Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "sleep": {
          "description": "Optional. Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "activityLevel": {
          "description": "Optional. Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "runVo2Max": {
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "bodyFat": {
          "description": "Optional. Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "dailyHeartRateZones": {
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "name": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "respiratoryRateSleepSummary": {
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "activeZoneMinutes": {
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "dailyRestingHeartRate": {
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "steps": {
          "description": "Optional. Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "dataSource": {
          "description": "Optional. Data source information for the metric",
          "$ref": "DataSource"
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "altitude": {
          "description": "Optional. Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "hydrationLog": {
          "description": "Optional. Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "weight": {
          "description": "Optional. Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "heartRateVariability": {
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "sedentaryPeriod": {
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "oxygenSaturation": {
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailyOxygenSaturation": {
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        }
      }
    },
    "ActivityLevel": {
      "id": "ActivityLevel",
      "description": "Internal type to capture activity level during a certain time interval.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activityLevelType": {
          "description": "Required. Activity level type in the given time interval.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ]
        }
      }
    },
    "DistanceRollupValue": {
      "description": "Result of the rollup of the user's distance.",
      "type": "object",
      "properties": {
        "millimetersSum": {
          "format": "int64",
          "description": "Sum of the distance in millimeters.",
          "type": "string"
        }
      },
      "id": "DistanceRollupValue"
    },
    "DailyRollUpDataPointsResponse": {
      "id": "DailyRollUpDataPointsResponse",
      "description": "Response containing the list of rolled up data points.",
      "type": "object",
      "properties": {
        "rollupDataPoints": {
          "description": "Values for each aggregation time window.",
          "type": "array",
          "items": {
            "$ref": "DailyRollupDataPoint"
          }
        }
      }
    },
    "ListDataPointsResponse": {
      "id": "ListDataPointsResponse",
      "description": "Response containing raw data points matching the query",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        },
        "dataPoints": {
          "description": "Data points matching the query",
          "type": "array",
          "items": {
            "$ref": "DataPoint"
          }
        }
      }
    },
    "HeartRate": {
      "id": "HeartRate",
      "description": "A heart rate measurement.",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. Observation time",
          "$ref": "ObservationSampleTime"
        },
        "beatsPerMinute": {
          "format": "int64",
          "description": "Required. The heart rate value in beats per minute.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Metadata about the heart rate sample.",
          "$ref": "HeartRateMetadata"
        }
      }
    },
    "DateTime": {
      "id": "DateTime",
[...]
