{
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "name": "health",
  "protocol": "rest",
  "canonicalName": "Google Health API",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Health API",
  "version": "v4",
  "revision": "20260420",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "baseUrl": "https://health.googleapis.com/",
  "resources": {
    "users": {
      "methods": {
        "updateProfile": {
          "request": {
            "$ref": "Profile"
          },
          "response": {
            "$ref": "Profile"
          },
          "description": "Updates the user's profile details.",
          "id": "health.users.updateProfile",
          "flatPath": "v4/users/{usersId}/profile",
          "parameterOrder": [
            "name"
          ],
          "path": "v4/{+name}",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "description": "Optional. The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "pattern": "^users/[^/]+/profile$"
            }
          }
        },
        "getSettings": {
          "path": "v4/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the Settings. Format: `users/me/settings`.",
              "pattern": "^users/[^/]+/settings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Returns user settings details.",
          "id": "health.users.getSettings",
          "flatPath": "v4/users/{usersId}/settings",
          "response": {
            "$ref": "Settings"
          }
        },
        "getIdentity": {
          "path": "v4/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The resource name of the Identity. Format: `users/me/identity`",
              "pattern": "^users/[^/]+/identity$"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the user's identity. It includes the legacy Fitbit user ID and the Google user ID and it can be used by migrating clients to map identifiers between the two systems.",
          "id": "health.users.getIdentity",
          "flatPath": "v4/users/{usersId}/identity",
          "response": {
            "$ref": "Identity"
          }
        },
        "getProfile": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "path": "v4/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the Profile. Format: `users/me/profile`.",
              "pattern": "^users/[^/]+/profile$"
            }
          },
          "response": {
            "$ref": "Profile"
          },
          "description": "Returns user Profile details.",
          "id": "health.users.getProfile",
          "flatPath": "v4/users/{usersId}/profile"
        },
        "updateSettings": {
          "request": {
            "$ref": "Settings"
          },
          "response": {
            "$ref": "Settings"
          },
          "description": "Updates the user's settings details.",
          "id": "health.users.updateSettings",
          "flatPath": "v4/users/{usersId}/settings",
          "parameterOrder": [
            "name"
          ],
          "path": "v4/{+name}",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "pattern": "^users/[^/]+/settings$"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Optional. The list of fields to be updated.",
              "format": "google-fieldmask"
            }
          }
        }
      },
      "resources": {
        "dataTypes": {
          "resources": {
            "dataPoints": {
              "methods": {
                "exportExerciseTcx": {
                  "supportsMediaDownload": true,
                  "httpMethod": "GET",
                  "parameters": {
                    "partialData": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Indicates whether to include the TCX data points when the GPS data is not available. If not specified, defaults to `false` and partial data will not be included."
                    },
                    "name": {
                      "description": "Required. The resource name of the exercise data point to export. Format: `users/{user}/dataTypes/exercise/dataPoints/{data_point}` Example: `users/me/dataTypes/exercise/dataPoints/2026443605080188808` The `{user}` is the alias `\"me\"` currently. Future versions may support user IDs. The `{data_point}` ID maps to the exercise ID, which is a long integer.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "useMediaDownloadService": true,
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v4/{+name}:exportExerciseTcx",
                  "response": {
                    "$ref": "ExportExerciseTcxResponse"
                  },
                  "id": "health.users.dataTypes.dataPoints.exportExerciseTcx",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}:exportExerciseTcx",
                  "description": "Exports exercise data in TCX format. Note: While the Authorization section below states that any one of the listed scopes is accepted, this specific method requires the user to provide both one of the `activity_and_fitness` scopes (`normal` or `readonly`) AND one of the `location` scopes (`normal` or `readonly`) in their access token to succeed."
                },
                "batchDelete": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Optional. Parent (data type) for the Data Point collection Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/-` For a list of the supported data types see the DataPoint data union field. Deleting data points across multiple data type collections is supported following https://aip.dev/159. If this is set, the parent of all of the data points specified in `names` must match this field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "BatchDeleteDataPointsRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "health.users.dataTypes.dataPoints.batchDelete",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:batchDelete",
                  "description": "Delete a batch of identifyable data points.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v4/{+parent}/dataPoints:batchDelete"
                },
                "reconcile": {
                  "id": "health.users.dataTypes.dataPoints.reconcile",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:reconcile",
                  "description": "Reconcile data points from multiple data sources into a single data stream.",
                  "response": {
                    "$ref": "ReconcileDataPointsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/heart-rate` For a list of the supported data types see the DataPoint data union field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression based on https://aip.dev/160. A time range, either physical or civil, can be specified. See the ListDataPointsRequest.filter for the supported fields and syntax."
                    },
                    "dataSourceFamily": {
                      "description": "Optional. The data source family name to reconcile. If empty, data points from all data sources will be reconciled. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The `next_page_token` from a previous request, if any."
                    }
                  },
                  "path": "v4/{+parent}/dataPoints:reconcile",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "dailyRollUp": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the DailyRollupDataPoint value union field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "DailyRollUpDataPointsRequest"
                  },
                  "response": {
                    "$ref": "DailyRollUpDataPointsResponse"
                  },
                  "description": "Roll up data points over civil time intervals for supported data types.",
                  "id": "health.users.dataTypes.dataPoints.dailyRollUp",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:dailyRollUp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v4/{+parent}/dataPoints:dailyRollUp"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v4/{+parent}/dataPoints",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/weight` For a list of the supported data types see the DataPoint data union field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The `next_page_token` from a previous request, if any."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression following https://google.aip.dev/160. A time range (either physical or civil) can be specified. The supported filter fields are: - Interval start time: - Pattern: `{interval_data_type}.interval.start_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `steps.interval.start_time >= \"2023-11-24T00:00:00Z\" AND steps.interval.start_time < \"2023-11-25T00:00:00Z\"` - `distance.interval.start_time >= \"2024-08-14T12:34:56Z\"` - Interval civil start time: - Pattern: `{interval_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `steps.interval.civil_start_time >= \"2023-11-24\" AND steps.interval.civil_start_time < \"2023-11-25\"` - `distance.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Sample observation physical time: - Pattern: `{sample_data_type}.sample_time.physical_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `weight.sample_time.physical_time >= \"2023-11-24T00:00:00Z\" AND weight.sample_time.physical_time < \"2023-11-25T00:00:00Z\"` - `weight.sample_time.physical_time >= \"2024-08-14T12:34:56Z\"` - Sample observation civil time: - Pattern: `{sample_data_type}.sample_time.civil_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `weight.sample_time.civil_time >= \"2023-11-24\" AND weight.sample_time.civil_time < \"2023-11-25\"` - `weight.sample_time.civil_time >= \"2024-08-14T12:34:56\"` - Daily summary date: - Pattern: `{daily_summary_data_type}.date` - Supported comparison operators: `>=`, `<` - Date literal expected in ISO 8601 `YYYY-MM-DD` format - Supported logical operators: `AND` - Example: - `daily_resting_heart_rate.date >= \"2024-08-14\"` - `daily_heart_rate_variability.date < \"2024-08-15\"` - Session civil start time (**Excluding Sleep**): - Pattern: `{session_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `exercise.interval.civil_start_time >= \"2023-11-24\" AND exercise.interval.civil_start_time < \"2023-11-25\"` - `exercise.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Session end time (**Sleep specific**): - Pattern: `sleep.interval.end_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.end_time >= \"2023-11-24T00:00:00Z\" AND sleep.interval.end_time < \"2023-11-25T00:00:00Z\"` - Session civil end time (**Sleep specific**): - Pattern: `sleep.interval.civil_end_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.civil_end_time >= \"2023-11-24\" AND sleep.interval.civil_end_time < \"2023-11-25\"` Data points in the response will be ordered by the interval start time in descending order."
                    }
                  },
                  "response": {
                    "$ref": "ListDataPointsResponse"
                  },
                  "description": "Query user health and fitness data points.",
                  "id": "health.users.dataTypes.dataPoints.list",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints"
                },
                "get": {
                  "path": "v4/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the data point to retrieve. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` See DataPoint.name for examples and possible values.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a single identifyable data point.",
                  "id": "health.users.dataTypes.dataPoints.get",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}",
                  "response": {
                    "$ref": "DataPoint"
                  }
                },
                "rollUp": {
                  "request": {
                    "$ref": "RollUpDataPointsRequest"
                  },
                  "response": {
                    "$ref": "RollUpDataPointsResponse"
                  },
                  "id": "health.users.dataTypes.dataPoints.rollUp",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:rollUp",
                  "description": "Roll up data points over physical time intervals for supported data types.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v4/{+parent}/dataPoints:rollUp",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the RollupDataPoint value union field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v4/{+name}",
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a single identifiable data point. If a data point with the specified `name` is not found, the request will fail.",
                  "id": "health.users.dataTypes.dataPoints.patch",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "create": {
                  "id": "health.users.dataTypes.dataPoints.create",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "description": "Creates a single identifiable data point.",
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v4/{+parent}/dataPoints",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name where the data point will be created. Format: `users/{user}/dataTypes/{data_type}`",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    }
                  },
                  "httpMethod": "POST"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "subscribers": {
          "methods": {
            "patch": {
              "id": "health.projects.subscribers.patch",
              "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}",
              "description": "Updates the configuration of an existing subscriber, such as the endpoint URI or the data types it's interested in. **Endpoint Verification:** If the `endpoint_uri` or `endpoint_authorization` field is included in the `update_mask`, the backend will re-verify the endpoint. The verification process is the same as described in `CreateSubscriber`: 1. **Verification with Authorization:** POST to the new or existing `endpoint_uri` with the new or existing `Authorization` secret. Expects HTTP `201 Created`. 2. **Verification without Authorization:** POST to the `endpoint_uri` without the `Authorization` header. Expects HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass using the potentially updated values for the subscriber update to succeed. If verification fails, the update will not be applied, and an error will be returned.",
              "request": {
                "$ref": "Subscriber"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v4/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Optional. A field mask that specifies which fields of the Subscriber message are to be updated. This allows for partial updates. Supported fields: - endpoint_uri - subscriber_configs - endpoint_authorization",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "pattern": "^projects/[^/]+/subscribers/[^/]+$"
                }
              },
              "httpMethod": "PATCH"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "force": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. If set to true, any child resources (e.g., subscriptions) will also be deleted. If false (default) and child resources exist, the request will fail."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the subscriber to delete. Format: projects/{project}/subscribers/{subscriber} Example: projects/my-project/subscribers/my-subscriber-123 The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated if not provided during creation.",
                  "pattern": "^projects/[^/]+/subscribers/[^/]+$"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "health.projects.subscribers.delete",
              "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}",
              "description": "Deletes a subscriber registration. This will stop all notifications to the subscriber's endpoint.",
              "parameterOrder": [
                "name"
              ],
              "path": "v4/{+name}"
            },
            "create": {
              "id": "health.projects.subscribers.create",
              "flatPath": "v4/projects/{projectsId}/subscribers",
              "description": "Registers a new subscriber endpoint to receive notifications. A subscriber represents an application or service that wishes to receive data change notifications for users who have granted consent. **Endpoint Verification:** For a subscriber to be successfully created, the provided `endpoint_uri` must be a valid HTTPS endpoint and must pass an automated verification check. The backend will send two HTTP POST requests to the `endpoint_uri`: 1. **Verification with Authorization:** * **Headers:** Includes `Content-Type: application/json` and `Authorization` (with the exact value from `CreateSubscriberPayload.endpoint_authorization.secret`). * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `201 Created`. 2. **Verification without Authorization:** * **Headers:** Includes `Content-Type: application/json`. The `Authorization` header is OMITTED. * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass for the subscriber creation to succeed. If verification fails, the operation will not be completed and an error will be returned. This process ensures the endpoint is reachable and correctly validates the `Authorization` header.",
              "request": {
                "$ref": "CreateSubscriberPayload"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v4/{+parent}/subscribers",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this subscriber will be created. Format: projects/{project} Example: projects/my-project-123",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "subscriberId": {
                  "description": "Optional. The ID to use for the subscriber, which will become the final component of the subscriber's resource name. This value should be 4-36 characters, and valid characters are /[a-z]([a-z0-9-]{2,34}[a-z0-9])/.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of subscribers to return. The service may return fewer than this value. If unspecified, at most 50 subscribers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The parent, which owns this collection of subscribers. Format: projects/{project}",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListSubscribers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscribers` must match the call that provided the page token."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v4/{+parent}/subscribers",
              "response": {
                "$ref": "ListSubscribersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all subscribers registered within the owned Google Cloud Project.",
              "id": "health.projects.subscribers.list",
              "flatPath": "v4/projects/{projectsId}/subscribers"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/health",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "kind": "discovery#restDescription",
  "id": "health:v4",
  "ownerDomain": "google.com",
  "servicePath": "",
  "schemas": {
    "RunVO2MaxRollupValue": {
      "type": "object",
      "properties": {
        "rateMin": {
          "type": "number",
          "format": "double",
          "description": "Minimum value of run VO2 max in the interval.."
        },
        "rateMax": {
          "format": "double",
          "description": "Maximum value of run VO2 max in the interval.",
          "type": "number"
        },
        "rateAvg": {
          "format": "double",
          "description": "Average value of run VO2 max in the interval.",
          "type": "number"
        }
      },
      "id": "RunVO2MaxRollupValue",
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range."
    },
    "Settings": {
      "id": "Settings",
      "description": "Settings details.",
      "type": "object",
      "properties": {
        "strideLengthWalkingType": {
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "type": "string"
        },
        "heightUnit": {
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ]
        },
        "autoStrideEnabled": {
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported.",
          "type": "boolean"
        },
        "languageLocale": {
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        },
        "temperatureUnit": {
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ]
        },
        "weightUnit": {
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ]
        },
        "distanceUnit": {
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ],
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported.",
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ]
        },
        "glucoseUnit": {
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ]
        },
        "name": {
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "swimUnit": {
          "type": "string",
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ],
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings."
        },
        "waterUnit": {
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ]
        },
        "utcOffset": {
          "type": "string",
          "description": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported.",
          "format": "google-duration"
        },
        "strideLengthRunningType": {
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "type": "string",
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported.",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ]
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ReconcileDataPointsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        },
        "dataPoints": {
          "items": {
            "$ref": "ReconciledDataPoint"
          },
          "type": "array",
          "description": "Data points matching the query"
        }
      },
      "description": "Response containing the list of reconciled DataPoints.",
      "id": "ReconcileDataPointsResponse"
    },
    "Distance": {
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "millimeters": {
          "type": "string",
          "format": "int64",
          "description": "Required. Distance in millimeters over the observed interval."
        }
      },
      "description": "Distance traveled over an interval of time.",
      "id": "Distance"
    },
    "ExerciseEvent": {
      "type": "object",
      "properties": {
        "eventUtcOffset": {
          "format": "google-duration",
          "description": "Required. Exercise event time offset from UTC",
          "type": "string"
        },
        "exerciseEventType": {
          "type": "string",
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ],
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ],
          "description": "Required. The type of the event, such as start, stop, pause, resume."
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Exercise event time"
        }
      },
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split.",
      "id": "ExerciseEvent"
    },
    "CivilTimeInterval": {
      "type": "object",
      "properties": {
        "start": {
          "description": "Required. The inclusive start of the range.",
          "$ref": "CivilDateTime"
        },
        "end": {
          "description": "Required. The exclusive end of the range.",
          "$ref": "CivilDateTime"
        }
      },
      "description": "Counterpart of google.type.Interval, but using CivilDateTime.",
      "id": "CivilTimeInterval"
    },
    "SleepMetadata": {
      "description": "Additional information about how the sleep was processed.",
      "id": "SleepMetadata",
      "type": "object",
      "properties": {
        "nap": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Naps are sleeps without stages and relatively short durations."
        },
        "processed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Sleep and sleep stages algorithms finished processing."
        },
        "stagesStatus": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ],
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ],
          "description": "Output only. Sleep stages algorithm processing status."
        },
        "manuallyEdited": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users."
        },
        "externalId": {
          "type": "string",
          "description": "Optional. Sleep identifier relevant in the context of the data source."
        }
      }
    },
    "CivilDateTime": {
      "id": "CivilDateTime",
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries.",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. Calendar date.",
          "$ref": "Date"
        },
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "FloorsRollupValue": {
      "id": "FloorsRollupValue",
      "description": "Represents the result of the rollup of the user's floors.",
      "type": "object",
      "properties": {
        "countSum": {
          "description": "Sum of the floors count.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "RunVO2Max": {
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min.",
      "id": "RunVO2Max",
      "type": "object",
      "properties": {
        "runVo2Max": {
          "description": "Required. Run VO2 max value in ml/kg/min.",
          "format": "double",
          "type": "number"
        },
        "sampleTime": {
          "description": "Required. The time at which the metric was measured.",
          "$ref": "ObservationSampleTime"
        }
      }
    },
    "ActivityLevelRollupValue": {
      "id": "ActivityLevelRollupValue",
      "description": "Represents the result of the rollup of the activity level data type.",
      "type": "object",
      "properties": {
        "activityLevelRollupsByActivityLevelType": {
          "items": {
            "$ref": "ActivityLevelRollupByActivityLevelType"
          },
          "type": "array",
          "description": "List of total durations in each activity level type."
        }
      }
    },
    "EndpointAuthorization": {
      "type": "object",
      "properties": {
        "secretSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the secret is set."
        },
        "secret": {
          "type": "string",
          "description": "Required. Input only. Provides a client-provided secret that will be sent with each notification to the subscriber endpoint using the \"Authorization\" header. The value must include the authorization scheme, e.g., \"Bearer \" or \"Basic \", as it will be used as the full Authorization header value. This secret is used by the API to test the endpoint during `CreateSubscriber` and `UpdateSubscriber` calls, and will be sent in the `Authorization` header for all subsequent webhook notifications to this endpoint."
        }
      },
      "description": "Authorization mechanism for a subscriber endpoint. For all requests sent by the Webhooks service, the JSON payload is cryptographically signed. The signature is delivered in the `X-HEALTHAPI-SIGNATURE` HTTP header. This is an ECDSA (NIST P256) signature of the JSON payload. Clients must verify this signature using Google Health API's public key to confirm the payload was sent by the Health API.",
      "id": "EndpointAuthorization"
    },
    "HeartRateZone": {
      "id": "HeartRateZone",
      "description": "The heart rate zone.",
      "type": "object",
      "properties": {
        "heartRateZoneType": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "type": "string",
          "description": "Required. The heart rate zone type.",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        },
        "maxBeatsPerMinute": {
          "type": "string",
          "format": "int64",
          "description": "Required. Maximum heart rate for this zone in beats per minute."
        },
        "minBeatsPerMinute": {
          "format": "int64",
          "description": "Required. Minimum heart rate for this zone in beats per minute.",
          "type": "string"
        }
      }
    },
    "HeartRate": {
      "description": "A heart rate measurement.",
      "id": "HeartRate",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. Observation time",
          "$ref": "ObservationSampleTime"
        },
        "metadata": {
          "description": "Optional. Metadata about the heart rate sample.",
          "$ref": "HeartRateMetadata"
        },
        "beatsPerMinute": {
          "type": "string",
          "format": "int64",
          "description": "Required. The heart rate value in beats per minute."
        }
      }
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "description": "Respiratory rate statistics for a given sleep stage.",
      "id": "RespiratoryRateSleepSummaryStatistics",
      "type": "object",
      "properties": {
        "standardDeviation": {
          "type": "number",
          "format": "double",
          "description": "Optional. Standard deviation of the respiratory rate during sleep."
        },
        "breathsPerMinute": {
          "description": "Required. Average breaths per minute.",
          "format": "double",
          "type": "number"
        },
        "signalToNoise": {
          "type": "number",
          "description": "Optional. How trustworthy the data is for the computation.",
          "format": "double"
        }
      }
    },
    "DailyHeartRateVariability": {
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`",
      "id": "DailyHeartRateVariability",
      "type": "object",
      "properties": {
        "averageHeartRateVariabilityMilliseconds": {
          "type": "number",
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats.",
          "format": "double"
        },
        "nonRemHeartRateBeatsPerMinute": {
          "format": "int64",
          "description": "Optional. Non-REM heart rate",
          "type": "string"
        },
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep.",
          "format": "double",
          "type": "number"
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement.",
          "$ref": "Date"
        },
        "entropy": {
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "ListSubscribersResponse": {
      "description": "Response message for ListSubscribers.",
      "id": "ListSubscribersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "totalSize": {
          "description": "The total number of subscribers matching the request.",
          "format": "int32",
          "type": "integer"
        },
        "subscribers": {
          "items": {
            "$ref": "Subscriber"
          },
          "type": "array",
          "description": "Subscribers from the specified project."
        }
      }
    },
    "TimeInHeartRateZoneRollupValue": {
      "id": "TimeInHeartRateZoneRollupValue",
      "description": "Represents the result of the rollup of the time in heart rate zone data type.",
      "type": "object",
      "properties": {
        "timeInHeartRateZones": {
          "type": "array",
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          },
          "description": "List of time spent in each heart rate zone."
        }
      }
    },
    "Floors": {
      "id": "Floors",
      "description": "Gained elevation measured in floors over the time interval",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval",
          "$ref": "ObservationTimeInterval"
        },
        "count": {
          "format": "int64",
          "description": "Required. Number of floors in the recorded interval",
          "type": "string"
        }
      }
    },
    "Exercise": {
      "type": "object",
      "properties": {
        "exerciseEvents": {
          "items": {
            "$ref": "ExerciseEvent"
          },
          "type": "array",
          "description": "Optional. Exercise events that happen during an exercise, such as pause & restarts."
        },
        "exerciseMetadata": {
          "description": "Optional. Additional exercise metadata.",
          "$ref": "ExerciseMetadata"
        },
        "splitSummaries": {
          "description": "Optional. Laps or splits recorded within an exercise. Laps could be split based on distance or other criteria (duration, etc.) Laps should not be overlapping with each other.",
          "type": "array",
          "items": {
            "$ref": "SplitSummary"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Represents the timestamp of the creation of the exercise.",
          "readOnly": true,
          "type": "string"
        },
        "exerciseType": {
          "enumDescriptions": [
            "Exercise type is unspecified.",
            "Running type.",
            "Walking type.",
            "Biking type.",
            "Swimming type.",
            "Hiking type.",
            "Yoga type.",
            "Pilates type.",
            "Workout type.",
            "HIIT type.",
            "Weightlifting type.",
            "Strength training type.",
            "Other type."
          ],
          "type": "string",
          "description": "Required. The type of activity performed during an exercise.",
          "enum": [
            "EXERCISE_TYPE_UNSPECIFIED",
            "RUNNING",
            "WALKING",
            "BIKING",
            "SWIMMING",
            "HIKING",
            "YOGA",
            "PILATES",
            "WORKOUT",
            "HIIT",
            "WEIGHTLIFTING",
            "STRENGTH_TRAINING",
            "OTHER"
          ]
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        },
        "activeDuration": {
          "format": "google-duration",
          "description": "Optional. Duration excluding pauses.",
          "type": "string"
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this exercise ( )",
          "$ref": "MetricsSummary"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. This is the timestamp of the last update to the exercise.",
          "readOnly": true,
          "type": "string"
        },
        "splits": {
          "description": "Optional. The default split is 1 km or 1 mile. - if the movement distance is less than the default, then there are no splits - if the movement distance is greater than or equal to the default, then we have splits",
          "items": {
            "$ref": "SplitSummary"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Exercise display name."
        },
        "interval": {
          "description": "Required. Observed exercise interval",
          "$ref": "SessionTimeInterval"
        }
      },
      "description": "An exercise that stores information about a physical activity.",
      "id": "Exercise"
    },
    "TimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone"
    },
    "StageSummary": {
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc."
        },
        "minutes": {
          "format": "int64",
          "description": "Output only. Total duration in minutes of a sleep stage.",
          "readOnly": true,
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "Output only. Number of sleep stages segments.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Total duration and segment count for a stage.",
      "id": "StageSummary"
    },
    "Height": {
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the height was recorded.",
          "$ref": "ObservationSampleTime"
        },
        "heightMillimeters": {
          "type": "string",
          "description": "Required. Height of the user in millimeters.",
          "format": "int64"
        }
      },
      "id": "Height",
      "description": "Body height measurement."
    },
    "GoogleDevicesandservicesHealthV4DataType": {
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "id": "GoogleDevicesandservicesHealthV4DataType",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values."
        }
      }
    },
    "SessionTimeInterval": {
      "description": "Represents a time interval of session data point, which bundles multiple observed metrics together.",
      "id": "SessionTimeInterval",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. The start time of the observed session.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The end time of the observed session."
        },
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the end of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "civilStartTime": {
          "readOnly": true,
          "description": "Output only. Session start time in civil time in the timezone the subject is in at the start of the session.",
          "$ref": "CivilDateTime"
        },
        "civilEndTime": {
          "readOnly": true,
          "description": "Output only. Session end time in civil time in the timezone the subject is in at the end of the session.",
          "$ref": "CivilDateTime"
        }
      }
    },
    "DailyRollUpDataPointsRequest": {
      "type": "object",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. The `next_page_token` from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified."
        },
        "windowSizeDays": {
          "type": "integer",
          "description": "Optional. Aggregation window size, in number of days. Defaults to 1 if not specified.",
          "format": "int32"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The start time must be aligned with the aggregation window. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "CivilTimeInterval"
        },
        "dataSourceFamily": {
          "type": "string",
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources"
        }
      },
      "id": "DailyRollUpDataPointsRequest",
      "description": "Request to roll up data points by civil time intervals."
    },
    "Weight": {
      "description": "Body weight measurement.",
      "id": "Weight",
      "type": "object",
      "properties": {
        "weightGrams": {
          "format": "double",
          "description": "Required. Weight of a user in grams.",
          "type": "number"
        },
        "notes": {
          "type": "string",
          "description": "Optional. Standard free-form notes captured at manual logging."
        },
        "sampleTime": {
          "description": "Required. The time at which the weight was measured",
          "$ref": "ObservationSampleTime"
        }
      }
    },
    "DailySleepTemperatureDerivations": {
      "description": "Provides derived sleep temperature values, calculated from skin or internal device temperature readings during sleep.",
      "id": "DailySleepTemperatureDerivations",
      "type": "object",
      "properties": {
        "baselineTemperatureCelsius": {
          "description": "Optional. The user's baseline skin temperature. It is the median of the user's nightly skin temperature over the past 30 days.",
          "format": "double",
          "type": "number"
        },
        "relativeNightlyStddev30dCelsius": {
          "description": "Optional. The standard deviation of the user’s relative nightly skin temperature (temperature - baseline) over the past 30 days.",
          "format": "double",
          "type": "number"
        },
        "nightlyTemperatureCelsius": {
          "type": "number",
          "format": "double",
          "description": "Required. The user's nightly skin temperature. It is the mean of skin temperature samples taken from the user’s sleep."
        },
        "date": {
          "description": "Required. Date for which the sleep temperature derivations are calculated.",
          "$ref": "Date"
        }
      }
    },
    "OutOfBedSegment": {
      "id": "OutOfBedSegment",
      "description": "A time interval to represent an out-of-bed segment.",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Segment end time."
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the segment relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "startTime": {
          "type": "string",
          "description": "Required. Segment tart time.",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the segment relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        }
      }
    },
    "ExportExerciseTcxResponse": {
      "id": "ExportExerciseTcxResponse",
      "description": "Represents a Response for exporting exercise data in TCX format.",
      "type": "object",
      "properties": {
        "tcxData": {
          "description": "Contains the exported TCX data.",
          "type": "string"
        }
      }
    },
    "SwimLengthsData": {
      "type": "object",
      "properties": {
        "swimStrokeType": {
          "enum": [
            "SWIM_STROKE_TYPE_UNSPECIFIED",
            "FREESTYLE",
            "BACKSTROKE",
            "BREASTSTROKE",
            "BUTTERFLY"
          ],
          "description": "Required. Swim stroke type.",
          "type": "string",
          "enumDescriptions": [
            "Swim stroke type is unspecified.",
            "Freestyle swim stroke type.",
            "Backstroke swim stroke type.",
            "Breaststroke swim stroke type.",
            "Butterfly swim stroke type."
          ]
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "strokeCount": {
          "format": "int64",
          "description": "Required. Number of strokes in the lap.",
          "type": "string"
        }
      },
      "id": "SwimLengthsData",
      "description": "Swim lengths data over the time interval."
    },
    "AltitudeRollupValue": {
      "id": "AltitudeRollupValue",
      "description": "Represents the result of the rollup of the user's altitude.",
      "type": "object",
      "properties": {
        "gainMillimetersSum": {
          "type": "string",
          "format": "int64",
          "description": "Sum of the altitude gain in millimeters."
        }
      }
    },
    "ObservationSampleTime": {
      "id": "ObservationSampleTime",
      "description": "Represents a sample time of an observed data point.",
      "type": "object",
      "properties": {
        "physicalTime": {
          "format": "google-datetime",
          "description": "Required. The time of the observation.",
          "type": "string"
        },
        "utcOffset": {
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        },
        "civilTime": {
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "$ref": "CivilDateTime",
          "readOnly": true
        }
      }
    },
    "SedentaryPeriod": {
      "id": "SedentaryPeriod",
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device).",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "TimeInHeartRateZoneValue": {
      "id": "TimeInHeartRateZoneValue",
      "description": "Represents the total time spent in a specific heart rate zone.",
      "type": "object",
      "properties": {
        "heartRateZone": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "The heart rate zone."
        },
        "duration": {
          "format": "google-duration",
          "description": "The total time spent in the specified heart rate zone.",
          "type": "string"
        }
      }
    },
    "WebhookNotificationCloudLog": {
      "description": "Log message for a webhook notification sent by the Google Health API to a subscriber's endpoint. Includes the HTTP response received from the endpoint.",
      "id": "WebhookNotificationCloudLog",
      "type": "object",
      "properties": {
        "httpResponse": {
          "description": "Required. Represents the HTTP response. This message includes the status code, reason phrase, headers, and body.",
          "$ref": "HttpResponse"
        }
      }
    },
    "DailyRestingHeartRateMetadata": {
      "type": "object",
      "properties": {
        "calculationMethod": {
          "type": "string",
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ],
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ],
          "description": "Required. The method used to calculate the resting heart rate."
        }
      },
      "description": "Metadata for the daily resting heart rate.",
      "id": "DailyRestingHeartRateMetadata"
    },
    "HeartRateVariability": {
      "id": "HeartRateVariability",
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN).",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time of the heart rate variability measurement.",
          "$ref": "ObservationSampleTime"
        },
        "standardDeviationMilliseconds": {
          "type": "number",
          "description": "Optional. The standard deviation of the heart rate variability measurement.",
          "format": "double"
        },
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "type": "number",
          "format": "double",
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Fitbit."
        }
      }
    },
    "DistanceRollupValue": {
      "id": "DistanceRollupValue",
      "description": "Result of the rollup of the user's distance.",
      "type": "object",
      "properties": {
        "millimetersSum": {
          "type": "string",
          "description": "Sum of the distance in millimeters.",
          "format": "int64"
        }
      }
    },
    "ActiveZoneMinutesRollupValue": {
      "type": "object",
      "properties": {
        "sumInPeakHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.PEAK`.",
          "format": "int64",
          "type": "string"
        },
        "sumInCardioHeartZone": {
          "format": "int64",
          "description": "Active zone minutes in `HeartRateZone.CARDIO`.",
          "type": "string"
        },
        "sumInFatBurnHeartZone": {
          "format": "int64",
          "description": "Active zone minutes in `HeartRateZone.FAT_BURN`.",
          "type": "string"
        }
      },
      "description": "Represents the result of the rollup of the active zone minutes data type.",
      "id": "ActiveZoneMinutesRollupValue"
    },
    "VolumeQuantity": {
      "type": "object",
      "properties": {
        "userProvidedUnit": {
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "type": "string",
          "description": "Optional. Value representing the user provided unit.",
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        },
        "milliliters": {
          "type": "number",
          "description": "Required. Value representing the volume in milliliters.",
          "format": "double"
        }
      },
      "description": "Represents the volume quantity.",
      "id": "VolumeQuantity"
    },
    "OxygenSaturation": {
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "type": "number",
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100.",
          "format": "double"
        }
      },
      "id": "OxygenSaturation",
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2)."
    },
    "TimeOfDay": {
      "type": "object",
      "properties": {
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay"
    },
    "DailyOxygenSaturation": {
      "description": "A daily oxygen saturation (SpO2) record. Represents the user's daily oxygen saturation summary, typically calculated during sleep.",
      "id": "DailyOxygenSaturation",
      "type": "object",
      "properties": {
        "standardDeviationPercentage": {
          "format": "double",
          "description": "Optional. Standard deviation of the daily oxygen saturation averages from the past 7-30 days.",
          "type": "number"
        },
        "upperBoundPercentage": {
          "type": "number",
          "description": "Required. The upper bound of the confidence interval of oxygen saturation samples during sleep.",
          "format": "double"
        },
        "date": {
          "description": "Required. Date (in user's timezone) of the daily oxygen saturation record.",
          "$ref": "Date"
        },
        "averagePercentage": {
          "description": "Required. The average value of the oxygen saturation samples during the sleep.",
          "format": "double",
          "type": "number"
        },
        "lowerBoundPercentage": {
          "type": "number",
          "description": "Required. The lower bound of the confidence interval of oxygen saturation samples during sleep.",
          "format": "double"
        }
      }
    },
    "HeartRateRollupValue": {
      "description": "Represents the result of the rollup of the heart rate data type.",
      "id": "HeartRateRollupValue",
      "type": "object",
      "properties": {
        "beatsPerMinuteMax": {
          "format": "double",
          "description": "The maximum heart rate value in the interval.",
          "type": "number"
        },
        "beatsPerMinuteMin": {
          "description": "The minimum heart rate value in the interval.",
          "format": "double",
          "type": "number"
        },
        "beatsPerMinuteAvg": {
          "description": "The average heart rate value in the interval.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "StepsRollupValue": {
      "type": "object",
      "properties": {
        "countSum": {
          "type": "string",
          "description": "Total number of steps in the interval.",
          "format": "int64"
        }
      },
      "description": "Represents the result of the rollup of the steps data type.",
      "id": "StepsRollupValue"
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "type": "object",
      "properties": {
        "caloriesInHeartRateZones": {
          "type": "array",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "description": "List of calories burned in each heart rate zone."
        }
      },
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "id": "CaloriesInHeartRateZoneRollupValue"
    },
    "SleepStage": {
      "id": "SleepStage",
      "description": "Sleep stage segment.",
      "type": "object",
      "properties": {
        "endUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this sleep stages segment.",
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "description": "Required. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last update time of this sleep stages segment.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Sleep stage start time."
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "endTime": {
          "type": "string",
          "description": "Required. Sleep stage end time.",
          "format": "google-datetime"
        }
      }
    },
    "DataPoint": {
      "id": "DataPoint",
      "description": "A computed or recorded metric.",
      "type": "object",
      "properties": {
        "dailyOxygenSaturation": {
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "runVo2Max": {
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "oxygenSaturation": {
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "dailyHeartRateZones": {
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "swimLengthsData": {
          "description": "Optional. Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "sleep": {
          "description": "Optional. Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "activityLevel": {
          "description": "Optional. Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "hydrationLog": {
          "description": "Optional. Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "weight": {
          "description": "Optional. Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "dailyRestingHeartRate": {
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "heartRateVariability": {
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "dataSource": {
          "description": "Optional. Data source information for the metric",
          "$ref": "DataSource"
        },
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "name": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "respiratoryRateSleepSummary": {
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "activeZoneMinutes": {
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "bodyFat": {
          "description": "Optional. Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "sedentaryPeriod": {
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "steps": {
          "description": "Optional. Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "altitude": {
          "description": "Optional. Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "height": {
          "description": "Optional. Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "heartRate": {
          "description": "Optional. Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        }
      }
    },
    "WeightRollupValue": {
      "type": "object",
      "properties": {
        "weightGramsAvg": {
          "format": "double",
          "description": "Average weight in grams.",
          "type": "number"
        }
      },
      "description": "Represents the result of the rollup of the weight data type.",
      "id": "WeightRollupValue"
    },
    "TimeInHeartRateZones": {
      "type": "object",
      "properties": {
        "lightTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in light heart rate zone.",
          "type": "string"
        },
        "moderateTime": {
          "type": "string",
          "description": "Optional. Time spent in moderate heart rate zone.",
          "format": "google-duration"
        },
        "vigorousTime": {
          "type": "string",
          "description": "Optional. Time spent in vigorous heart rate zone.",
          "format": "google-duration"
        },
        "peakTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Time spent in peak heart rate zone."
        }
      },
      "id": "TimeInHeartRateZones",
      "description": "Time spent in each heart rate zone."
    },
    "Altitude": {
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "gainMillimeters": {
          "description": "Required. Altitude gain in millimeters over the observed interval.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Altitude",
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters."
    },
    "ActivityLevel": {
      "type": "object",
      "properties": {
        "activityLevelType": {
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "description": "Required. Activity level type in the given time interval.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ]
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "id": "ActivityLevel",
[...]
