{
  "name": "health",
  "servicePath": "",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Google Health API",
  "version_module": true,
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://health.googleapis.com/",
  "version": "v4",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/health",
  "revision": "20260402",
  "batchPath": "batch",
  "id": "health:v4",
  "basePath": "",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerName": "Google",
  "schemas": {
    "SleepStage": {
      "properties": {
        "endTime": {
          "description": "Required. Sleep stage end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "type": {
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "description": "Required. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Creation time of this sleep stages segment.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last update time of this sleep stages segment.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Required. Sleep stage start time.",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the sleep stage relative to the Coordinated Universal Time (UTC)."
        }
      },
      "id": "SleepStage",
      "description": "Sleep stage segment.",
      "type": "object"
    },
    "BodyFat": {
      "type": "object",
      "description": "Body fat measurement.",
      "id": "BodyFat",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which body fat was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "description": "Required. Body fat percentage, in range [0, 100].",
          "type": "number",
          "format": "double"
        }
      }
    },
    "Profile": {
      "type": "object",
      "description": "Profile details.",
      "id": "Profile",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
        },
        "userConfiguredWalkingStrideLengthMm": {
          "type": "integer",
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "format": "int32"
        },
        "autoRunningStrideLengthMm": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "format": "int32"
        },
        "autoWalkingStrideLengthMm": {
          "format": "int32",
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "readOnly": true,
          "type": "integer"
        },
        "userConfiguredRunningStrideLengthMm": {
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer",
          "format": "int32"
        },
        "membershipStartDate": {
          "readOnly": true,
          "$ref": "Date",
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported."
        },
        "age": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported."
        }
      }
    },
    "Device": {
      "properties": {
        "manufacturer": {
          "description": "Optional. An optional manufacturer of the device.",
          "type": "string"
        },
        "formFactor": {
          "enumDescriptions": [
            "The form factor is unspecified.",
            "The device is a fitness band.",
            "The device is a watch.",
            "The device is a phone.",
            "The device is a ring.",
            "The device is a chest strap.",
            "The device is a scale.",
            "The device is a tablet.",
            "The device is a head mounted device.",
            "The device is a smart display."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "FITNESS_BAND",
            "WATCH",
            "PHONE",
            "RING",
            "CHEST_STRAP",
            "SCALE",
            "TABLET",
            "HEAD_MOUNTED",
            "SMART_DISPLAY"
          ],
          "type": "string",
          "description": "Optional. Captures the form factor of the device."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. An optional name for the device."
        }
      },
      "id": "Device",
      "description": "Captures metadata about the device that recorded the measurement.",
      "type": "object"
    },
    "ActiveZoneMinutesRollupValue": {
      "id": "ActiveZoneMinutesRollupValue",
      "properties": {
        "sumInCardioHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.CARDIO`.",
          "type": "string",
          "format": "int64"
        },
        "sumInPeakHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.PEAK`.",
          "type": "string",
          "format": "int64"
        },
        "sumInFatBurnHeartZone": {
          "format": "int64",
          "type": "string",
          "description": "Active zone minutes in `HeartRateZone.FAT_BURN`."
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the active zone minutes data type."
    },
    "RollUpDataPointsResponse": {
      "type": "object",
      "description": "Response containing the list of rolled up data points.",
      "id": "RollUpDataPointsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "rollupDataPoints": {
          "type": "array",
          "items": {
            "$ref": "RollupDataPoint"
          },
          "description": "Values for each aggregation time window."
        }
      }
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "properties": {
        "caloriesInHeartRateZones": {
          "type": "array",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "description": "List of calories burned in each heart rate zone."
        }
      },
      "id": "CaloriesInHeartRateZoneRollupValue",
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "type": "object"
    },
    "BatchDeleteDataPointsRequest": {
      "type": "object",
      "description": "Request to delete a batch of identifiable data points.",
      "id": "BatchDeleteDataPointsRequest",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request."
        }
      }
    },
    "DistanceRollupValue": {
      "properties": {
        "millimetersSum": {
          "format": "int64",
          "description": "Sum of the distance in millimeters.",
          "type": "string"
        }
      },
      "id": "DistanceRollupValue",
      "description": "Result of the rollup of the user's distance.",
      "type": "object"
    },
    "Distance": {
      "description": "Distance traveled over an interval of time.",
      "type": "object",
      "properties": {
        "millimeters": {
          "format": "int64",
          "description": "Required. Distance in millimeters over the observed interval.",
          "type": "string"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "id": "Distance"
    },
    "ObservationSampleTime": {
      "description": "Represents a sample time of an observed data point.",
      "type": "object",
      "properties": {
        "physicalTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time of the observation."
        },
        "utcOffset": {
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "civilTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation."
        }
      },
      "id": "ObservationSampleTime"
    },
    "ActivityLevelRollupByActivityLevelType": {
      "type": "object",
      "description": "Represents the total duration in a specific activity level type.",
      "id": "ActivityLevelRollupByActivityLevelType",
      "properties": {
        "activityLevelType": {
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "description": "Activity level type.",
          "type": "string"
        },
        "totalDuration": {
          "description": "Total duration in the activity level type.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "DailyRollUpDataPointsResponse": {
      "properties": {
        "rollupDataPoints": {
          "description": "Values for each aggregation time window.",
          "type": "array",
          "items": {
            "$ref": "DailyRollupDataPoint"
          }
        }
      },
      "id": "DailyRollUpDataPointsResponse",
      "description": "Response containing the list of rolled up data points.",
      "type": "object"
    },
    "Application": {
      "properties": {
        "googleWebClientId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Captures the client ID of the entity that recorded the data."
        },
        "packageName": {
          "description": "Output only. A unique ID from an external data source. A unique identifier of the mobile application, e.g. `com.google.fitbit`",
          "readOnly": true,
          "type": "string"
        },
        "webClientId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Captures the client ID of the web application that recorded the data."
        }
      },
      "id": "Application",
      "description": "Optional metadata for the application that provided this data.",
      "type": "object"
    },
    "DailyRestingHeartRate": {
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "type": "object",
      "properties": {
        "beatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Required. The resting heart rate value in beats per minute."
        },
        "dailyRestingHeartRateMetadata": {
          "description": "Optional. Metadata for the daily resting heart rate.",
          "$ref": "DailyRestingHeartRateMetadata"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement."
        }
      },
      "id": "DailyRestingHeartRate"
    },
    "Altitude": {
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "gainMillimeters": {
          "format": "int64",
          "type": "string",
          "description": "Required. Altitude gain in millimeters over the observed interval."
        }
      },
      "id": "Altitude",
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "type": "object"
    },
    "ExportExerciseTcxResponse": {
      "properties": {
        "tcxData": {
          "type": "string",
          "description": "Contains the exported TCX data."
        }
      },
      "id": "ExportExerciseTcxResponse",
      "description": "Represents a Response for exporting exercise data in TCX format.",
      "type": "object"
    },
    "CaloriesInHeartRateZoneValue": {
      "id": "CaloriesInHeartRateZoneValue",
      "properties": {
        "kcal": {
          "description": "The amount of kilocalories burned in the specified heart rate zone.",
          "type": "number",
          "format": "double"
        },
        "heartRateZone": {
          "description": "The heart rate zone.",
          "type": "string",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ]
        }
      },
      "type": "object",
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone."
    },
    "Identity": {
      "description": "Represents details about the Google user's identity.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`"
        },
        "legacyUserId": {
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "readOnly": true,
          "type": "string"
        },
        "healthUserId": {
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Identity"
    },
    "HydrationLogRollupValue": {
      "description": "Represents the result of the rollup of the hydration log data type.",
      "type": "object",
      "properties": {
        "amountConsumed": {
          "$ref": "VolumeQuantityRollup",
          "description": "Rollup for amount consumed."
        }
      },
      "id": "HydrationLogRollupValue"
    },
    "ObservationTimeInterval": {
      "type": "object",
      "description": "Represents a time interval of an observed data point.",
      "id": "ObservationTimeInterval",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Observed interval start time."
        },
        "endUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC)."
        },
        "startUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC)."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Observed interval end time."
        },
        "civilEndTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval"
        },
        "civilStartTime": {
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "readOnly": true,
          "$ref": "CivilDateTime"
        }
      }
    },
    "MetricsSummary": {
      "properties": {
        "distanceMillimeters": {
          "format": "double",
          "type": "number",
          "description": "Optional. Total distance covered by the user during the exercise."
        },
        "heartRateZoneDurations": {
          "$ref": "TimeInHeartRateZones",
          "description": "Optional. Time spent in each heart rate zone."
        },
        "averageHeartRateBeatsPerMinute": {
          "type": "string",
          "description": "Optional. Average heart rate during the exercise.",
          "format": "int64"
        },
        "activeZoneMinutes": {
          "type": "string",
          "description": "Optional. Total active zone minutes for the exercise.",
          "format": "int64"
        },
        "averagePaceSecondsPerMeter": {
          "type": "number",
          "description": "Optional. Average pace in seconds per meter.",
          "format": "double"
        },
        "runVo2Max": {
          "format": "double",
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise.",
          "type": "number"
        },
        "caloriesKcal": {
          "format": "double",
          "type": "number",
          "description": "Optional. Total calories burned by the user during the exercise."
        },
        "steps": {
          "format": "int64",
          "description": "Optional. Total steps taken during the exercise.",
          "type": "string"
        },
        "averageSpeedMillimetersPerSecond": {
          "format": "double",
          "description": "Optional. Average speed in millimeters per second.",
          "type": "number"
        },
        "mobilityMetrics": {
          "$ref": "MobilityMetrics",
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises."
        },
        "elevationGainMillimeters": {
          "format": "double",
          "type": "number",
          "description": "Optional. Total elevation gain during the exercise."
        },
        "totalSwimLengths": {
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "MetricsSummary",
      "description": "Summary metrics for an exercise.",
      "type": "object"
    },
    "SedentaryPeriod": {
      "type": "object",
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device).",
      "id": "SedentaryPeriod",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "VolumeQuantityRollup": {
      "properties": {
        "userProvidedUnitLast": {
          "type": "string",
          "description": "Optional. The user provided unit on the last element.",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        },
        "millilitersSum": {
          "format": "double",
          "type": "number",
          "description": "Required. The sum of volume in milliliters."
        }
      },
      "id": "VolumeQuantityRollup",
      "description": "Rollup for volume quantity.",
      "type": "object"
    },
    "FloorsRollupValue": {
      "description": "Represents the result of the rollup of the user's floors.",
      "type": "object",
      "properties": {
        "countSum": {
          "description": "Sum of the floors count.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "FloorsRollupValue"
    },
    "StageSummary": {
      "id": "StageSummary",
      "properties": {
        "minutes": {
          "description": "Output only. Total duration in minutes of a sleep stage.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "count": {
          "format": "int64",
          "description": "Output only. Number of sleep stages segments.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "readOnly": true,
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc."
        }
      },
      "type": "object",
      "description": "Total duration and segment count for a stage."
    },
    "Weight": {
      "id": "Weight",
      "properties": {
        "weightGrams": {
          "type": "number",
          "description": "Required. Weight of a user in grams.",
          "format": "double"
        },
        "sampleTime": {
          "description": "Required. The time at which the weight was measured",
          "$ref": "ObservationSampleTime"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Body weight measurement."
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "id": "TimeZone"
    },
    "Floors": {
      "id": "Floors",
      "properties": {
        "count": {
          "description": "Required. Number of floors in the recorded interval",
          "type": "string",
          "format": "int64"
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval"
        }
      },
      "type": "object",
      "description": "Gained elevation measured in floors over the time interval"
    },
    "ExerciseMetadata": {
      "description": "Additional exercise metadata.",
      "type": "object",
      "properties": {
        "poolLengthMillimeters": {
          "type": "string",
          "description": "Optional. Pool length in millimeters. Only present in the swimming exercises.",
          "format": "int64"
        },
        "hasGps": {
          "description": "Optional. Whether the exercise had GPS tracking.",
          "type": "boolean"
        }
      },
      "id": "ExerciseMetadata"
    },
    "ActivityLevel": {
      "description": "Internal type to capture activity level during a certain time interval.",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "activityLevelType": {
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "type": "string",
          "description": "Required. Activity level type in the given time interval."
        }
      },
      "id": "ActivityLevel"
    },
    "DailyRespiratoryRate": {
      "properties": {
        "date": {
          "description": "Required. The date on which the respiratory rate was measured.",
          "$ref": "Date"
        },
        "breathsPerMinute": {
          "format": "double",
          "type": "number",
          "description": "Required. The average number of breaths taken per minute."
        }
      },
      "id": "DailyRespiratoryRate",
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep.",
      "type": "object"
    },
    "TimeInHeartRateZoneValue": {
      "type": "object",
      "description": "Represents the total time spent in a specific heart rate zone.",
      "id": "TimeInHeartRateZoneValue",
      "properties": {
        "duration": {
          "description": "The total time spent in the specified heart rate zone.",
          "type": "string",
          "format": "google-duration"
        },
        "heartRateZone": {
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "description": "The heart rate zone.",
          "type": "string"
        }
      }
    },
    "SplitSummary": {
      "properties": {
        "splitType": {
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ],
          "type": "string",
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Lap end time"
        },
        "activeDuration": {
          "format": "google-duration",
          "description": "Output only. Lap time excluding the pauses.",
          "readOnly": true,
          "type": "string"
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. Lap start time offset from UTC",
          "format": "google-duration"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Lap start time",
          "type": "string"
        },
        "endUtcOffset": {
          "type": "string",
          "description": "Required. Lap end time offset from UTC",
          "format": "google-duration"
        },
        "metricsSummary": {
          "$ref": "MetricsSummary",
          "description": "Required. Summary metrics for this split."
        }
      },
      "id": "SplitSummary",
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories.",
      "type": "object"
    },
    "Interval": {
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string"
        }
      }
    },
    "RunVO2MaxRollupValue": {
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "type": "object",
      "properties": {
        "rateMax": {
          "description": "Maximum value of run VO2 max in the interval.",
          "type": "number",
          "format": "double"
        },
        "rateMin": {
          "format": "double",
          "description": "Minimum value of run VO2 max in the interval..",
          "type": "number"
        },
        "rateAvg": {
          "format": "double",
          "type": "number",
          "description": "Average value of run VO2 max in the interval."
        }
      },
      "id": "RunVO2MaxRollupValue"
    },
    "ActiveMinutesRollupByActivityLevel": {
      "type": "object",
      "description": "Active minutes by activity level.",
      "id": "ActiveMinutesRollupByActivityLevel",
      "properties": {
        "activityLevel": {
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "description": "The level of activity.",
          "type": "string"
        },
        "activeMinutesSum": {
          "type": "string",
          "description": "Number of whole minutes spent in activity.",
          "format": "int64"
        }
      }
    },
    "DataSource": {
      "id": "DataSource",
      "properties": {
        "recordingMethod": {
          "type": "string",
          "description": "Optional. Captures how the data was recorded.",
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ]
        },
        "platform": {
          "description": "Output only. Captures the platform that uploaded the data.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ],
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ]
        },
        "device": {
          "$ref": "Device",
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync."
        },
        "application": {
          "readOnly": true,
          "$ref": "Application",
          "description": "Output only. Captures metadata for the application that provided this data."
        }
      },
      "type": "object",
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it)."
    },
    "DailySleepTemperatureDerivations": {
      "properties": {
        "baselineTemperatureCelsius": {
          "type": "number",
          "description": "Optional. The user's baseline skin temperature. It is the median of the user's nightly skin temperature over the past 30 days.",
          "format": "double"
        },
        "nightlyTemperatureCelsius": {
          "description": "Required. The user's nightly skin temperature. It is the mean of skin temperature samples taken from the user’s sleep.",
          "type": "number",
          "format": "double"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. Date for which the sleep temperature derivations are calculated."
        },
        "relativeNightlyStddev30dCelsius": {
          "type": "number",
          "description": "Optional. The standard deviation of the user’s relative nightly skin temperature (temperature - baseline) over the past 30 days.",
          "format": "double"
        }
      },
      "id": "DailySleepTemperatureDerivations",
      "description": "Provides derived sleep temperature values, calculated from skin or internal device temperature readings during sleep.",
      "type": "object"
    },
    "ExerciseEvent": {
      "type": "object",
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split.",
      "id": "ExerciseEvent",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Exercise event time"
        },
        "eventUtcOffset": {
          "format": "google-duration",
          "description": "Required. Exercise event time offset from UTC",
          "type": "string"
        },
        "exerciseEventType": {
          "description": "Required. The type of the event, such as start, stop, pause, resume.",
          "type": "string",
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ],
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ]
        }
      }
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      }
    },
    "ActiveMinutesByActivityLevel": {
      "properties": {
        "activityLevel": {
          "description": "Required. The level of activity.",
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ]
        },
        "activeMinutes": {
          "format": "int64",
          "description": "Required. Number of whole minutes spent in activity.",
          "type": "string"
        }
      },
      "id": "ActiveMinutesByActivityLevel",
      "description": "Active minutes at a given activity level.",
      "type": "object"
    },
    "Steps": {
      "id": "Steps",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "count": {
          "format": "int64",
          "description": "Required. Number of steps in the recorded interval.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Step count over the time interval."
    },
    "RollupDataPoint": {
      "type": "object",
      "description": "Value of a rollup for a single physical time interval (aggregation window)",
      "id": "RollupDataPoint",
      "properties": {
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "runVo2Max": {
          "$ref": "RunVO2MaxRollupValue",
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier."
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "heartRate": {
          "$ref": "HeartRateRollupValue",
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier."
        },
        "startTime": {
          "description": "Start time of the window this value aggregates over",
          "type": "string",
          "format": "google-datetime"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "altitude": {
          "$ref": "AltitudeRollupValue",
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier."
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "endTime": {
          "type": "string",
          "description": "End time of the window this value aggregates over",
          "format": "google-datetime"
        },
        "bodyFat": {
          "$ref": "BodyFatRollupValue",
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier."
        },
        "caloriesInHeartRateZone": {
          "$ref": "CaloriesInHeartRateZoneRollupValue",
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier."
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "totalCalories": {
          "$ref": "TotalCaloriesRollupValue",
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier."
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "steps": {
          "$ref": "StepsRollupValue",
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier."
        }
      }
    },
    "ReconciledDataPoint": {
      "description": "A reconciled computed or recorded metric.",
      "type": "object",
      "properties": {
        "weight": {
          "$ref": "Weight",
          "description": "Data for points in the `weight` sample data type collection."
        },
        "dailyOxygenSaturation": {
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "floors": {
          "description": "Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "hydrationLog": {
          "description": "Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "dataPointName": {
          "type": "string",
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Profile.encoded_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens."
        },
        "activeZoneMinutes": {
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "dailyRestingHeartRate": {
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "sedentaryPeriod": {
          "$ref": "SedentaryPeriod",
          "description": "Data for points in the `sedentary-period` interval data type collection."
        },
        "altitude": {
          "description": "Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "exercise": {
          "$ref": "Exercise",
          "description": "Data for points in the `exercise` session data type collection."
        },
        "activeMinutes": {
          "$ref": "ActiveMinutes",
          "description": "Data for points in the `active-minutes` interval data type collection."
        },
        "oxygenSaturation": {
          "description": "Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "activityLevel": {
          "description": "Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "steps": {
          "description": "Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "dailyVo2Max": {
          "$ref": "DailyVO2Max",
          "description": "Data for points in the `daily-vo2-max` daily data type collection."
        },
        "dailyHeartRateZones": {
          "$ref": "DailyHeartRateZones",
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection."
        },
        "dailyHeartRateVariability": {
          "$ref": "DailyHeartRateVariability",
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection."
        },
        "sleep": {
          "description": "Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "bodyFat": {
          "description": "Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "dailyRespiratoryRate": {
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "heartRateVariability": {
          "description": "Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "timeInHeartRateZone": {
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "respiratoryRateSleepSummary": {
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "dailySleepTemperatureDerivations": {
          "$ref": "DailySleepTemperatureDerivations",
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection."
        },
        "vo2Max": {
          "$ref": "VO2Max",
          "description": "Data for points in the `vo2-max` sample data type collection."
        },
        "distance": {
          "description": "Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "heartRate": {
          "$ref": "HeartRate",
          "description": "Data for points in the `heart-rate` sample data type collection."
        },
        "runVo2Max": {
          "description": "Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        }
      },
      "id": "ReconciledDataPoint"
    },
    "ActivityLevelRollupValue": {
      "type": "object",
      "description": "Represents the result of the rollup of the activity level data type.",
      "id": "ActivityLevelRollupValue",
      "properties": {
        "activityLevelRollupsByActivityLevelType": {
          "description": "List of total durations in each activity level type.",
          "type": "array",
          "items": {
            "$ref": "ActivityLevelRollupByActivityLevelType"
          }
        }
      }
    },
    "Settings": {
      "description": "Settings details.",
      "type": "object",
      "properties": {
        "languageLocale": {
          "type": "string",
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported."
        },
        "utcOffset": {
          "format": "google-duration",
          "description": "Optional. The duration of the offset from UTC in milliseconds. This offset is the difference between the user's current local time and UTC. Updates to this field are currently not supported.",
          "type": "string"
        },
        "waterUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ],
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ]
        },
        "distanceUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string",
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ]
        },
        "strideLengthRunningType": {
          "type": "string",
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported.",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ]
        },
        "weightUnit": {
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ]
        },
        "strideLengthWalkingType": {
          "type": "string",
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ]
        },
        "autoStrideEnabled": {
          "type": "boolean",
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported."
        },
        "glucoseUnit": {
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ],
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ]
        },
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
        },
        "heightUnit": {
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ],
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string"
        },
        "temperatureUnit": {
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ]
        },
        "swimUnit": {
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ],
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string"
        }
      },
      "id": "Settings"
    },
    "CivilDateTime": {
      "properties": {
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. Calendar date."
        }
      },
      "id": "CivilDateTime",
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries.",
      "type": "object"
    },
    "SleepMetadata": {
      "id": "SleepMetadata",
      "properties": {
        "stagesStatus": {
          "type": "string",
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ],
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ],
          "readOnly": true,
          "description": "Output only. Sleep stages algorithm processing status."
        },
        "nap": {
          "description": "Output only. Naps are sleeps without stages and relatively short durations.",
          "readOnly": true,
          "type": "boolean"
        },
        "externalId": {
          "type": "string",
          "description": "Optional. Sleep identifier relevant in the context of the data source."
        },
        "processed": {
          "description": "Output only. Sleep and sleep stages algorithms finished processing.",
          "readOnly": true,
          "type": "boolean"
        },
        "manuallyEdited": {
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Additional information about how the sleep was processed."
    },
    "TotalCaloriesRollupValue": {
      "type": "object",
      "description": "Represents the result of the rollup of the user's total calories.",
      "id": "TotalCaloriesRollupValue",
      "properties": {
        "kcalSum": {
          "format": "double",
          "description": "Sum of the total calories in kilocalories.",
          "type": "number"
        }
      }
    },
    "TimeInHeartRateZoneRollupValue": {
      "id": "TimeInHeartRateZoneRollupValue",
      "properties": {
        "timeInHeartRateZones": {
          "type": "array",
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          },
          "description": "List of time spent in each heart rate zone."
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the time in heart rate zone data type."
    },
    "SessionTimeInterval": {
      "type": "object",
      "description": "Represents a time interval of session data point, which bundles multiple observed metrics together.",
      "id": "SessionTimeInterval",
      "properties": {
        "civilEndTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Session end time in civil time in the timezone the subject is in at the end of the session."
        },
        "endTime": {
          "type": "string",
          "description": "Required. The end time of the observed session.",
          "format": "google-datetime"
        },
        "civilStartTime": {
          "description": "Output only. Session start time in civil time in the timezone the subject is in at the start of the session.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The start time of the observed session."
        },
        "endUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the session relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        }
      }
    },
    "SleepSummary": {
      "id": "SleepSummary",
      "properties": {
        "minutesAsleep": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total number of minutes asleep. For classic sleep it is the sum of ASLEEP stages (excluding AWAKE and RESTLESS). For \"stages\" sleep it is the sum of LIGHT, REM and DEEP stages (excluding AWAKE).",
          "format": "int64"
        },
        "minutesAfterWakeUp": {
          "format": "int64",
          "description": "Output only. Minutes after wake up calculated by restlessness algorithm.",
          "readOnly": true,
          "type": "string"
        },
        "minutesToFallAsleep": {
          "description": "Output only. Minutes to fall asleep calculated by restlessness algorithm.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "minutesAwake": {
          "format": "int64",
          "description": "Output only. Total number of minutes awake. It is a sum of all AWAKE stages.",
          "readOnly": true,
          "type": "string"
        },
        "minutesInSleepPeriod": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Delta between wake time and bedtime. It is the sum of all stages.",
          "format": "int64"
        },
        "stagesSummary": {
          "description": "Output only. List of summaries (total duration and segment count) per each sleep stage type.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StageSummary"
          }
        }
      },
      "type": "object",
      "description": " Sleep summary: metrics and stages summary."
    },
    "DailyVO2Max": {
      "type": "object",
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise.",
      "id": "DailyVO2Max",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. The date for which the Daily VO2 max was measured."
        },
        "vo2MaxCovariance": {
          "description": "Optional. The covariance of the VO2 max value.",
          "type": "number",
          "format": "double"
        },
        "vo2Max": {
          "format": "double",
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "type": "number"
        },
        "estimated": {
          "type": "boolean",
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation."
        },
        "cardioFitnessLevel": {
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max.",
          "type": "string",
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ],
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ]
        }
      }
    },
    "OutOfBedSegment": {
      "type": "object",
      "description": "A time interval to represent an out-of-bed segment.",
      "id": "OutOfBedSegment",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Segment tart time."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Segment end time."
        },
        "endUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the segment relative to the Coordinated Universal Time (UTC)."
        },
        "startUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the segment relative to the Coordinated Universal Time (UTC)."
        }
      }
    },
    "HeartRateMetadata": {
      "id": "HeartRateMetadata",
      "properties": {
        "motionContext": {
          "enum": [
            "MOTION_CONTEXT_UNSPECIFIED",
            "ACTIVE",
            "SEDENTARY"
          ],
          "enumDescriptions": [
            "The default value when no data is available.",
            "The user is active.",
            "The user is inactive."
          ],
          "description": "Optional. Indicates the user’s level of activity when the heart rate sample was measured",
          "type": "string"
        },
        "sensorLocation": {
          "enum": [
            "SENSOR_LOCATION_UNSPECIFIED",
            "CHEST",
            "WRIST",
            "FINGER",
            "HAND",
            "EAR_LOBE",
            "FOOT"
          ],
          "enumDescriptions": [
            "The default value when no data is available.",
            "Chest sensor.",
            "Wrist sensor.",
            "Finger sensor.",
            "Hand sensor.",
            "Ear lobe sensor.",
            "Foot sensor."
          ],
          "description": "Optional. Indicates the location of the sensor that measured the heart rate.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Heart rate metadata."
    },
    "ListDataPointsResponse": {
      "description": "Response containing raw data points matching the query",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Data points matching the query",
          "type": "array",
          "items": {
            "$ref": "DataPoint"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token, empty if the response is complete"
        }
      },
      "id": "ListDataPointsResponse"
    },
    "DailyHeartRateZones": {
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day.",
      "type": "object",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in user's timezone) of the heart rate zones record."
        },
        "heartRateZones": {
          "type": "array",
          "items": {
            "$ref": "HeartRateZone"
          },
          "description": "Required. The heart rate zones."
        }
      },
      "id": "DailyHeartRateZones"
    },
    "ActiveMinutes": {
      "id": "ActiveMinutes",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeMinutesByActivityLevel": {
          "type": "array",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          },
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed."
        }
      },
      "type": "object",
      "description": "Record of active minutes in a given time interval."
    },
    "HeartRateRollupValue": {
      "properties": {
        "beatsPerMinuteMax": {
          "description": "The maximum heart rate value in the interval.",
          "type": "number",
          "format": "double"
        },
        "beatsPerMinuteMin": {
          "description": "The minimum heart rate value in the interval.",
          "type": "number",
          "format": "double"
        },
        "beatsPerMinuteAvg": {
          "type": "number",
          "description": "The average heart rate value in the interval.",
          "format": "double"
        }
      },
      "id": "HeartRateRollupValue",
      "description": "Represents the result of the rollup of the heart rate data type.",
      "type": "object"
    },
    "DailyOxygenSaturation": {
      "properties": {
        "date": {
          "description": "Required. Date (in user's timezone) of the daily oxygen saturation record.",
          "$ref": "Date"
        },
        "averagePercentage": {
          "format": "double",
          "description": "Required. The average value of the oxygen saturation samples during the sleep.",
          "type": "number"
        },
        "upperBoundPercentage": {
          "type": "number",
          "description": "Required. The upper bound of the confidence interval of oxygen saturation samples during sleep.",
          "format": "double"
        },
        "lowerBoundPercentage": {
          "description": "Required. The lower bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number",
          "format": "double"
        },
        "standardDeviationPercentage": {
          "format": "double",
          "description": "Optional. Standard deviation of the daily oxygen saturation averages from the past 7-30 days.",
          "type": "number"
        }
      },
      "id": "DailyOxygenSaturation",
      "description": "A daily oxygen saturation (SpO2) record. Represents the user's daily oxygen saturation summary, typically calculated during sleep.",
      "type": "object"
    },
    "DailyRollupDataPoint": {
      "description": "Value of a daily rollup for a single civil time interval (aggregation window)",
      "type": "object",
      "properties": {
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "activityLevel": {
          "$ref": "ActivityLevelRollupValue",
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier."
        },
        "heartRate": {
          "$ref": "HeartRateRollupValue",
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier."
        },
        "altitude": {
          "$ref": "AltitudeRollupValue",
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier."
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "heartRateVariabilityPersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier.",
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue"
        },
        "restingHeartRatePersonalRange": {
          "$ref": "RestingHeartRatePersonalRangeRollupValue",
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier."
        },
        "timeInHeartRateZone": {
          "$ref": "TimeInHeartRateZoneRollupValue",
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier."
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "totalCalories": {
          "$ref": "TotalCaloriesRollupValue",
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier."
        },
        "floors": {
          "$ref": "FloorsRollupValue",
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier."
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Start time of the window this value aggregates over"
        },
        "civilEndTime": {
          "$ref": "CivilDateTime",
          "description": "End time of the window this value aggregates over"
        }
      },
      "id": "DailyRollupDataPoint"
    },
    "HeartRateVariability": {
      "type": "object",
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN).",
      "id": "HeartRateVariability",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time of the heart rate variability measurement."
        },
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "format": "double",
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Fitbit.",
          "type": "number"
        },
        "standardDeviationMilliseconds": {
          "format": "double",
          "type": "number",
          "description": "Optional. The standard deviation of the heart rate variability measurement."
        }
      }
    },
    "RunVO2Max": {
      "type": "object",
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min.",
      "id": "RunVO2Max",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which the metric was measured."
        },
        "runVo2Max": {
          "format": "double",
          "description": "Required. Run VO2 max value in ml/kg/min.",
          "type": "number"
        }
      }
    },
    "RestingHeartRatePersonalRangeRollupValue": {
      "id": "RestingHeartRatePersonalRangeRollupValue",
      "properties": {
        "beatsPerMinuteMin": {
          "format": "double",
          "description": "The lower bound of the user's daily resting heart rate personal range.",
          "type": "number"
        },
        "beatsPerMinuteMax": {
          "type": "number",
          "description": "The upper bound of the user's daily resting heart rate personal range.",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Represents the rollup value for the daily resting heart rate data type."
    },
    "MobilityMetrics": {
      "type": "object",
      "description": "Mobility workouts specific metrics",
      "id": "MobilityMetrics",
      "properties": {
        "avgVerticalOscillationMillimeters": {
          "format": "int64",
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running",
          "type": "string"
        },
        "avgGroundContactTimeDuration": {
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride",
          "type": "string",
          "format": "google-duration"
        },
        "avgCadenceStepsPerMinute": {
          "format": "double",
          "type": "number",
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout."
        },
        "avgStrideLengthMillimeters": {
          "format": "int64",
          "description": "Optional. Stride length is a measure of the distance covered by a single stride",
          "type": "string"
        },
        "avgVerticalRatio": {
          "type": "number",
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0].",
          "format": "double"
        }
      }
    },
    "VolumeQuantity": {
      "type": "object",
      "description": "Represents the volume quantity.",
      "id": "VolumeQuantity",
      "properties": {
        "userProvidedUnit": {
          "type": "string",
          "description": "Optional. Value representing the user provided unit.",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        },
        "milliliters": {
          "type": "number",
          "description": "Required. Value representing the volume in milliliters.",
          "format": "double"
        }
      }
    },
    "StepsRollupValue": {
      "properties": {
        "countSum": {
          "format": "int64",
          "type": "string",
          "description": "Total number of steps in the interval."
        }
      },
      "id": "StepsRollupValue",
      "description": "Represents the result of the rollup of the steps data type.",
      "type": "object"
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "type": "object",
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMin": {
          "type": "number",
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "format": "double"
        },
        "averageHeartRateVariabilityMillisecondsMax": {
          "format": "double",
          "type": "number",
          "description": "The upper bound of the user's average heart rate variability personal range."
        }
      }
    },
    "RespiratoryRateSleepSummary": {
      "type": "object",
      "description": "Records respiratory rate details during sleep. Can have multiple per day if the user sleeps multiple times.",
      "id": "RespiratoryRateSleepSummary",
      "properties": {
        "remSleepStats": {
          "description": "Optional. Respiratory rate statistics for REM sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "fullSleepStats": {
          "$ref": "RespiratoryRateSleepSummaryStatistics",
          "description": "Required. Full respiratory rate statistics."
        },
        "deepSleepStats": {
          "description": "Optional. Respiratory rate statistics for deep sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which respiratory rate was measured."
        },
        "lightSleepStats": {
          "$ref": "RespiratoryRateSleepSummaryStatistics",
          "description": "Optional. Respiratory rate statistics for light sleep."
        }
      }
    },
    "Sleep": {
      "id": "Sleep",
      "properties": {
        "stages": {
          "type": "array",
          "items": {
            "$ref": "SleepStage"
          },
          "description": "Optional. List of non-overlapping contiguous sleep stage segments that cover the sleep period."
        },
        "metadata": {
          "description": "Optional. Sleep metadata: processing, main, manually edited, stages status.",
          "$ref": "SleepMetadata"
        },
        "summary": {
          "readOnly": true,
          "$ref": "SleepSummary",
          "description": "Output only. Sleep summary: metrics and stages summary."
        },
        "interval": {
          "$ref": "SessionTimeInterval",
          "description": "Required. Observed sleep interval."
        },
        "type": {
          "description": "Optional. SleepType: classic or stages.",
          "type": "string",
          "enum": [
            "SLEEP_TYPE_UNSPECIFIED",
            "CLASSIC",
            "STAGES"
          ],
          "enumDescriptions": [
            "Sleep type is unspecified.",
            "Classic sleep is a sleep with 3 stages types: AWAKE, RESTLESS and ASLEEP.",
            "On top of \"classic\" sleep stages an additional processing pass can calculate stages more precisely, overwriting the prior stages with AWAKE, LIGHT, REM and DEEP."
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this sleep observation.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last update time of this sleep observation.",
          "readOnly": true,
          "type": "string"
        },
        "outOfBedSegments": {
          "type": "array",
          "items": {
            "$ref": "OutOfBedSegment"
          },
          "description": "Optional. “Out of bed” segments that can overlap with sleep stages."
        }
      },
      "type": "object",
      "description": "A sleep session possibly including stages."
    },
    "ActiveMinutesRollupValue": {
      "description": "Represents the result of the rollup of the active minutes data type.",
      "type": "object",
      "properties": {
        "activeMinutesRollupByActivityLevel": {
          "description": "Active minutes by activity level. At most one record per activity level is allowed.",
          "type": "array",
          "items": {
            "$ref": "ActiveMinutesRollupByActivityLevel"
          }
        }
      },
      "id": "ActiveMinutesRollupValue"
    },
    "SedentaryPeriodRollupValue": {
      "id": "SedentaryPeriodRollupValue",
      "properties": {
        "durationSum": {
          "format": "google-duration",
          "type": "string",
          "description": "The total time user spent sedentary during the interval."
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the user's sedentary periods."
    },
    "TimeInHeartRateZones": {
      "type": "object",
      "description": "Time spent in each heart rate zone.",
      "id": "TimeInHeartRateZones",
      "properties": {
        "lightTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Time spent in light heart rate zone."
        },
        "moderateTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Time spent in moderate heart rate zone."
        },
        "peakTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in peak heart rate zone.",
          "type": "string"
        },
        "vigorousTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in vigorous heart rate zone.",
          "type": "string"
        }
      }
    },
    "CivilTimeInterval": {
      "description": "Counterpart of google.type.Interval, but using CivilDateTime.",
      "type": "object",
      "properties": {
        "end": {
          "description": "Required. The exclusive end of the range.",
          "$ref": "CivilDateTime"
        },
        "start": {
          "$ref": "CivilDateTime",
          "description": "Required. The inclusive start of the range."
        }
      },
      "id": "CivilTimeInterval"
    },
    "HeartRate": {
      "id": "HeartRate",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. Observation time"
        },
        "beatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Required. The heart rate value in beats per minute."
        },
        "metadata": {
          "$ref": "HeartRateMetadata",
          "description": "Optional. Metadata about the heart rate sample."
        }
      },
      "type": "object",
      "description": "A heart rate measurement."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status"
    },
    "DailyRestingHeartRateMetadata": {
      "properties": {
        "calculationMethod": {
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ],
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ],
          "type": "string",
          "description": "Required. The method used to calculate the resting heart rate."
        }
      },
      "id": "DailyRestingHeartRateMetadata",
      "description": "Metadata for the daily resting heart rate.",
      "type": "object"
    },
    "TimeInHeartRateZone": {
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "heartRateZoneType": {
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
[...]
