{
  "version": "v4",
  "basePath": "",
  "name": "health",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/health",
  "schemas": {
    "ActiveZoneMinutesRollupValue": {
      "description": "Represents the result of the rollup of the active zone minutes data type.",
      "properties": {
        "sumInPeakHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.PEAK`.",
          "format": "int64",
          "type": "string"
        },
        "sumInCardioHeartZone": {
          "type": "string",
          "description": "Active zone minutes in `HeartRateZone.CARDIO`.",
          "format": "int64"
        },
        "sumInFatBurnHeartZone": {
          "type": "string",
          "description": "Active zone minutes in `HeartRateZone.FAT_BURN`.",
          "format": "int64"
        }
      },
      "id": "ActiveZoneMinutesRollupValue",
      "type": "object"
    },
    "DailyRestingHeartRateMetadata": {
      "description": "Metadata for the daily resting heart rate.",
      "properties": {
        "calculationMethod": {
          "description": "Required. The method used to calculate the resting heart rate.",
          "type": "string",
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ],
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ]
        }
      },
      "id": "DailyRestingHeartRateMetadata",
      "type": "object"
    },
    "Sleep": {
      "id": "Sleep",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Creation time of this sleep observation.",
          "format": "google-datetime"
        },
        "summary": {
          "description": "Output only. Sleep summary: metrics and stages summary.",
          "readOnly": true,
          "$ref": "SleepSummary"
        },
        "metadata": {
          "description": "Optional. Sleep metadata: processing, main, manually edited, stages status.",
          "$ref": "SleepMetadata"
        },
        "interval": {
          "description": "Required. Observed sleep interval.",
          "$ref": "SessionTimeInterval"
        },
        "stages": {
          "type": "array",
          "description": "Optional. List of non-overlapping contiguous sleep stage segments that cover the sleep period.",
          "items": {
            "$ref": "SleepStage"
          }
        },
        "outOfBedSegments": {
          "description": "Optional. “Out of bed” segments that can overlap with sleep stages.",
          "items": {
            "$ref": "OutOfBedSegment"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Sleep type is unspecified.",
            "Classic sleep is a sleep with 3 stages types: AWAKE, RESTLESS and ASLEEP.",
            "On top of \"classic\" sleep stages an additional processing pass can calculate stages more precisely, overwriting the prior stages with AWAKE, LIGHT, REM and DEEP."
          ],
          "enum": [
            "SLEEP_TYPE_UNSPECIFIED",
            "CLASSIC",
            "STAGES"
          ],
          "description": "Optional. SleepType: classic or stages."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last update time of this sleep observation.",
          "format": "google-datetime"
        }
      },
      "description": "A sleep session possibly including stages."
    },
    "BodyFatRollupValue": {
      "description": "Represents the result of the rollup of the body fat data type.",
      "id": "BodyFatRollupValue",
      "type": "object",
      "properties": {
        "bodyFatPercentageAvg": {
          "description": "Average body fat percentage.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "AltitudeRollupValue": {
      "properties": {
        "gainMillimetersSum": {
          "description": "Sum of the altitude gain in millimeters.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AltitudeRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the user's altitude."
    },
    "StageSummary": {
      "properties": {
        "type": {
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ]
        },
        "minutes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total duration in minutes of a sleep stage.",
          "format": "int64"
        },
        "count": {
          "description": "Output only. Number of sleep stages segments.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "StageSummary",
      "type": "object",
      "description": "Total duration and segment count for a stage."
    },
    "OxygenSaturation": {
      "id": "OxygenSaturation",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "type": "number",
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100.",
          "format": "double"
        }
      },
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2)."
    },
    "DailyRollUpDataPointsRequest": {
      "properties": {
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The start time must be aligned with the aggregation window. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "CivilTimeInterval"
        },
        "dataSourceFamily": {
          "type": "string",
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "format": "int32"
        },
        "windowSizeDays": {
          "type": "integer",
          "description": "Optional. Aggregation window size, in number of days. Defaults to 1 if not specified.",
          "format": "int32"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The `next_page_token` from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified."
        }
      },
      "id": "DailyRollUpDataPointsRequest",
      "type": "object",
      "description": "Request to roll up data points by civil time intervals."
    },
    "SedentaryPeriod": {
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device).",
      "id": "SedentaryPeriod",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      }
    },
    "Settings": {
      "properties": {
        "languageLocale": {
          "type": "string",
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported."
        },
        "distanceUnit": {
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ],
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported."
        },
        "weightUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ]
        },
        "waterUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ],
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ]
        },
        "heightUnit": {
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ],
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ],
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings."
        },
        "glucoseUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ],
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "type": "string"
        },
        "strideLengthRunningType": {
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "type": "string",
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported."
        },
        "swimUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ],
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ],
          "type": "string"
        },
        "temperatureUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string",
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
        },
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        },
        "autoStrideEnabled": {
          "type": "boolean",
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported."
        },
        "utcOffset": {
          "type": "string",
          "description": "Optional. The duration of the offset from UTC in milliseconds. This offset is the difference between the user's current local time and UTC. Updates to this field are currently not supported.",
          "format": "google-duration"
        },
        "strideLengthWalkingType": {
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "type": "string",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ]
        }
      },
      "id": "Settings",
      "type": "object",
      "description": "Settings details."
    },
    "ExerciseMetadata": {
      "properties": {
        "poolLengthMillimeters": {
          "description": "Optional. Pool length in millimeters. Only present in the swimming exercises.",
          "format": "int64",
          "type": "string"
        },
        "hasGps": {
          "type": "boolean",
          "description": "Optional. Whether the exercise had GPS tracking."
        }
      },
      "id": "ExerciseMetadata",
      "type": "object",
      "description": "Additional exercise metadata."
    },
    "TotalCaloriesRollupValue": {
      "description": "Represents the result of the rollup of the user's total calories.",
      "properties": {
        "kcalSum": {
          "description": "Sum of the total calories in kilocalories.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "TotalCaloriesRollupValue",
      "type": "object"
    },
    "ObservationTimeInterval": {
      "description": "Represents a time interval of an observed data point.",
      "properties": {
        "endUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "startTime": {
          "description": "Required. Observed interval start time.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Required. Observed interval end time.",
          "format": "google-datetime"
        },
        "civilStartTime": {
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "civilEndTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval"
        },
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "ObservationTimeInterval",
      "type": "object"
    },
    "ReconciledDataPoint": {
      "id": "ReconciledDataPoint",
      "type": "object",
      "properties": {
        "timeInHeartRateZone": {
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "sleep": {
          "description": "Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "heartRate": {
          "description": "Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "oxygenSaturation": {
          "description": "Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailyOxygenSaturation": {
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "bodyFat": {
          "description": "Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "distance": {
          "description": "Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "activityLevel": {
          "description": "Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "dataPointName": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Profile.encoded_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "steps": {
          "description": "Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "sedentaryPeriod": {
          "description": "Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "dailyRestingHeartRate": {
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "altitude": {
          "description": "Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "dailyHeartRateVariability": {
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "dailyRespiratoryRate": {
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "weight": {
          "description": "Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "floors": {
          "description": "Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "exercise": {
          "description": "Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "heartRateVariability": {
          "description": "Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "respiratoryRateSleepSummary": {
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "dailyVo2Max": {
          "description": "Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "activeMinutes": {
          "description": "Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "vo2Max": {
          "description": "Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "hydrationLog": {
          "description": "Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "activeZoneMinutes": {
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "runVo2Max": {
          "description": "Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "dailyHeartRateZones": {
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        }
      },
      "description": "A reconciled computed or recorded metric."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      }
    },
    "GoogleDevicesandservicesHealthV4DataType": {
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "id": "GoogleDevicesandservicesHealthV4DataType",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values."
        }
      }
    },
    "ExportExerciseTcxResponse": {
      "id": "ExportExerciseTcxResponse",
      "type": "object",
      "properties": {
        "tcxData": {
          "description": "Contains the exported TCX data.",
          "type": "string"
        }
      },
      "description": "Represents a Response for exporting exercise data in TCX format."
    },
    "TimeInHeartRateZone": {
      "description": "Time in heart rate zone record. It's an interval spent in specific heart rate zone.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "heartRateZoneType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "Required. Heart rate zone type."
        }
      },
      "id": "TimeInHeartRateZone",
      "type": "object"
    },
    "RunVO2MaxRollupValue": {
      "id": "RunVO2MaxRollupValue",
      "type": "object",
      "properties": {
        "rateMax": {
          "description": "Maximum value of run VO2 max in the interval.",
          "format": "double",
          "type": "number"
        },
        "rateAvg": {
          "description": "Average value of run VO2 max in the interval.",
          "format": "double",
          "type": "number"
        },
        "rateMin": {
          "type": "number",
          "description": "Minimum value of run VO2 max in the interval..",
          "format": "double"
        }
      },
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range."
    },
    "DailyRespiratoryRate": {
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep.",
      "id": "DailyRespiratoryRate",
      "type": "object",
      "properties": {
        "breathsPerMinute": {
          "description": "Required. The average number of breaths taken per minute.",
          "format": "double",
          "type": "number"
        },
        "date": {
          "description": "Required. The date on which the respiratory rate was measured.",
          "$ref": "Date"
        }
      }
    },
    "HydrationLogRollupValue": {
      "properties": {
        "amountConsumed": {
          "description": "Rollup for amount consumed.",
          "$ref": "VolumeQuantityRollup"
        }
      },
      "id": "HydrationLogRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the hydration log data type."
    },
    "HeartRateZone": {
      "id": "HeartRateZone",
      "type": "object",
      "properties": {
        "maxBeatsPerMinute": {
          "description": "Required. Maximum heart rate for this zone in beats per minute.",
          "format": "int64",
          "type": "string"
        },
        "heartRateZoneType": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "type": "string",
          "description": "Required. The heart rate zone type."
        },
        "minBeatsPerMinute": {
          "description": "Required. Minimum heart rate for this zone in beats per minute.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The heart rate zone."
    },
    "RollUpDataPointsResponse": {
      "id": "RollUpDataPointsResponse",
      "type": "object",
      "properties": {
        "rollupDataPoints": {
          "description": "Values for each aggregation time window.",
          "items": {
            "$ref": "RollupDataPoint"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response containing the list of rolled up data points."
    },
    "DailySleepTemperatureDerivations": {
      "properties": {
        "baselineTemperatureCelsius": {
          "description": "Optional. The user's baseline skin temperature. It is the median of the user's nightly skin temperature over the past 30 days.",
          "format": "double",
          "type": "number"
        },
        "relativeNightlyStddev30dCelsius": {
          "type": "number",
          "description": "Optional. The standard deviation of the user’s relative nightly skin temperature (temperature - baseline) over the past 30 days.",
          "format": "double"
        },
        "nightlyTemperatureCelsius": {
          "type": "number",
          "description": "Required. The user's nightly skin temperature. It is the mean of skin temperature samples taken from the user’s sleep.",
          "format": "double"
        },
        "date": {
          "description": "Required. Date for which the sleep temperature derivations are calculated.",
          "$ref": "Date"
        }
      },
      "id": "DailySleepTemperatureDerivations",
      "type": "object",
      "description": "Provides derived sleep temperature values, calculated from skin or internal device temperature readings during sleep."
    },
    "VolumeQuantity": {
      "description": "Represents the volume quantity.",
      "properties": {
        "milliliters": {
          "type": "number",
          "description": "Required. Value representing the volume in milliliters.",
          "format": "double"
        },
        "userProvidedUnit": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ],
          "description": "Optional. Value representing the user provided unit."
        }
      },
      "id": "VolumeQuantity",
      "type": "object"
    },
    "RollupDataPoint": {
      "id": "RollupDataPoint",
      "type": "object",
      "properties": {
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "startTime": {
          "type": "string",
          "description": "Start time of the window this value aggregates over",
          "format": "google-datetime"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "endTime": {
          "description": "End time of the window this value aggregates over",
          "format": "google-datetime",
          "type": "string"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        }
      },
      "description": "Value of a rollup for a single physical time interval (aggregation window)"
    },
    "SleepStage": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. Sleep stage start time.",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Creation time of this sleep stages segment.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Required. Sleep stage end time.",
          "format": "google-datetime"
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the sleep stage relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "type": {
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "type": "string",
          "description": "Required. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update time of this sleep stages segment.",
          "format": "google-datetime"
        }
      },
      "id": "SleepStage",
      "type": "object",
      "description": "Sleep stage segment."
    },
    "TimeOfDay": {
      "properties": {
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TimeOfDay",
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "HydrationLog": {
      "description": "Holds information about a user logged hydration.",
      "id": "HydrationLog",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "SessionTimeInterval"
        },
        "amountConsumed": {
          "description": "Required. Amount of liquid (ex. water) consumed.",
          "$ref": "VolumeQuantity"
        }
      }
    },
    "OutOfBedSegment": {
      "description": "A time interval to represent an out-of-bed segment.",
      "id": "OutOfBedSegment",
      "type": "object",
      "properties": {
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the segment relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the segment relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "startTime": {
          "type": "string",
          "description": "Required. Segment tart time.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Required. Segment end time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "SplitSummary": {
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. Lap start time",
          "format": "google-datetime"
        },
        "splitType": {
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic.",
          "type": "string",
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ]
        },
        "endUtcOffset": {
          "type": "string",
          "description": "Required. Lap end time offset from UTC",
          "format": "google-duration"
        },
        "activeDuration": {
          "description": "Output only. Lap time excluding the pauses.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Required. Lap end time",
          "format": "google-datetime",
          "type": "string"
        },
        "startUtcOffset": {
          "description": "Required. Lap start time offset from UTC",
          "format": "google-duration",
          "type": "string"
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this split.",
          "$ref": "MetricsSummary"
        }
      },
      "id": "SplitSummary",
      "type": "object"
    },
    "ReconcileDataPointsResponse": {
      "properties": {
        "dataPoints": {
          "description": "Data points matching the query",
          "items": {
            "$ref": "ReconciledDataPoint"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        }
      },
      "id": "ReconcileDataPointsResponse",
      "type": "object",
      "description": "Response containing the list of reconciled DataPoints."
    },
    "Floors": {
      "description": "Gained elevation measured in floors over the time interval",
      "id": "Floors",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval",
          "$ref": "ObservationTimeInterval"
        },
        "count": {
          "type": "string",
          "description": "Required. Number of floors in the recorded interval",
          "format": "int64"
        }
      }
    },
    "DailyVO2Max": {
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise.",
      "properties": {
        "cardioFitnessLevel": {
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max.",
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ],
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ],
          "type": "string"
        },
        "vo2Max": {
          "type": "number",
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "format": "double"
        },
        "vo2MaxCovariance": {
          "type": "number",
          "description": "Optional. The covariance of the VO2 max value.",
          "format": "double"
        },
        "date": {
          "description": "Required. The date for which the Daily VO2 max was measured.",
          "$ref": "Date"
        },
        "estimated": {
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation.",
          "type": "boolean"
        }
      },
      "id": "DailyVO2Max",
      "type": "object"
    },
    "BodyFat": {
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which body fat was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "type": "number",
          "description": "Required. Body fat percentage, in range [0, 100].",
          "format": "double"
        }
      },
      "id": "BodyFat",
      "type": "object",
      "description": "Body fat measurement."
    },
    "Application": {
      "properties": {
        "packageName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A unique ID from an external data source. A unique identifier of the mobile application, e.g. `com.google.fitbit`"
        },
        "googleWebClientId": {
          "description": "Output only. Captures the client ID of the entity that recorded the data.",
          "type": "string",
          "readOnly": true
        },
        "webClientId": {
          "description": "Output only. Captures the client ID of the web application that recorded the data.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Application",
      "type": "object",
      "description": "Optional metadata for the application that provided this data."
    },
    "VO2Max": {
      "description": "VO2 max measurement.",
      "id": "VO2Max",
      "type": "object",
      "properties": {
        "vo2Max": {
          "type": "number",
          "description": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "format": "double"
        },
        "sampleTime": {
          "description": "Required. The time at which VO2 max was measured.",
          "$ref": "ObservationSampleTime"
        },
        "measurementMethod": {
          "description": "Optional. The method used to measure the VO2 max value.",
          "enumDescriptions": [
            "Unspecified measurement method.",
            "Fitbit specific, measures VO2 max rate during a run.",
            "Google specific, measures VO2 max rate for a user based on their demographic data.",
            "Run as far as possible for 12 minutes. Distance correlated with age and gender translates to a VO2 max value.",
            "Maximum heart rate divided by the resting heart rate, with a multiplier applied. Does not require any exercise.",
            "Measured by a medical device called metabolic cart.",
            "Continuous 20m back-and-forth runs with increasing difficulty, until exhaustion.",
            "Measured using walking exercise.",
            "Healthkit specific, measures VO2 max rate by monitoring exercise to the user’s physical limit. Similar to COOPER_TEST or MULTISTAGE_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate based on low-intensity exercise. Similar to ROCKPORT_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate without any exercise. Similar to HEART_RATE_RATIO.",
            "Use when the method is not covered in this enum."
          ],
          "enum": [
            "MEASUREMENT_METHOD_UNSPECIFIED",
            "FITBIT_RUN",
            "GOOGLE_DEMOGRAPHIC",
            "COOPER_TEST",
            "HEART_RATE_RATIO",
            "METABOLIC_CART",
            "MULTISTAGE_FITNESS_TEST",
            "ROCKPORT_FITNESS_TEST",
            "MAX_EXERCISE",
            "PREDICTION_SUB_MAX_EXERCISE",
            "PREDICTION_NON_EXERCISE",
            "OTHER"
          ],
          "type": "string"
        }
      }
    },
    "ObservationSampleTime": {
      "id": "ObservationSampleTime",
      "type": "object",
      "properties": {
        "utcOffset": {
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        },
        "civilTime": {
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "physicalTime": {
          "description": "Required. The time of the observation.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Represents a sample time of an observed data point."
    },
    "DailyHeartRateZones": {
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day.",
      "properties": {
        "date": {
          "description": "Required. Date (in user's timezone) of the heart rate zones record.",
          "$ref": "Date"
        },
        "heartRateZones": {
          "type": "array",
          "description": "Required. The heart rate zones.",
          "items": {
            "$ref": "HeartRateZone"
          }
        }
      },
      "id": "DailyHeartRateZones",
      "type": "object"
    },
    "RollUpDataPointsRequest": {
      "id": "RollUpDataPointsRequest",
      "type": "object",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified."
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "Interval"
        },
        "windowSize": {
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions.",
          "format": "google-duration",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "format": "int32"
        },
        "dataSourceFamily": {
          "type": "string",
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources"
        }
      },
      "description": "Request to roll up data points by physical time intervals."
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "type": "object",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMin": {
          "type": "number",
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "format": "double"
        },
        "averageHeartRateVariabilityMillisecondsMax": {
          "type": "number",
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "format": "double"
        }
      }
    },
    "HeartRateVariability": {
      "properties": {
        "sampleTime": {
          "description": "Required. The time of the heart rate variability measurement.",
          "$ref": "ObservationSampleTime"
        },
        "standardDeviationMilliseconds": {
          "description": "Optional. The standard deviation of the heart rate variability measurement.",
          "format": "double",
          "type": "number"
        },
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Fitbit.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "HeartRateVariability",
      "type": "object",
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN)."
    },
    "DailyRestingHeartRate": {
      "id": "DailyRestingHeartRate",
      "type": "object",
      "properties": {
        "beatsPerMinute": {
          "description": "Required. The resting heart rate value in beats per minute.",
          "format": "int64",
          "type": "string"
        },
        "dailyRestingHeartRateMetadata": {
          "description": "Optional. Metadata for the daily resting heart rate.",
          "$ref": "DailyRestingHeartRateMetadata"
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement.",
          "$ref": "Date"
        }
      },
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements."
    },
    "ActiveMinutes": {
      "description": "Record of active minutes in a given time interval.",
      "id": "ActiveMinutes",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeMinutesByActivityLevel": {
          "type": "array",
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          }
        }
      }
    },
    "SessionTimeInterval": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Required. The end time of the observed session.",
          "format": "google-datetime"
        },
        "civilStartTime": {
          "description": "Output only. Session start time in civil time in the timezone the subject is in at the start of the session.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "civilEndTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Session end time in civil time in the timezone the subject is in at the end of the session."
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the session relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "endUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the session relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "startTime": {
          "type": "string",
          "description": "Required. The start time of the observed session.",
          "format": "google-datetime"
        }
      },
      "id": "SessionTimeInterval",
      "type": "object",
      "description": "Represents a time interval of session data point, which bundles multiple observed metrics together."
    },
    "TimeInHeartRateZoneValue": {
      "description": "Represents the total time spent in a specific heart rate zone.",
      "id": "TimeInHeartRateZoneValue",
      "type": "object",
      "properties": {
        "heartRateZone": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "The heart rate zone."
        },
        "duration": {
          "description": "The total time spent in the specified heart rate zone.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "DailyHeartRateVariability": {
      "id": "DailyHeartRateVariability",
      "type": "object",
      "properties": {
        "nonRemHeartRateBeatsPerMinute": {
          "type": "string",
          "description": "Optional. Non-REM heart rate",
          "format": "int64"
        },
        "entropy": {
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep.",
          "format": "double",
          "type": "number"
        },
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep.",
          "format": "double",
          "type": "number"
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement.",
          "$ref": "Date"
        },
        "averageHeartRateVariabilityMilliseconds": {
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`"
    },
    "BatchDeleteDataPointsRequest": {
      "id": "BatchDeleteDataPointsRequest",
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request to delete a batch of identifiable data points."
    },
    "DateTime": {
      "id": "DateTime",
      "type": "object",
      "properties": {
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration",
          "type": "string"
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "day": {
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "format": "int32"
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        }
      },
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "ExerciseEvent": {
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split.",
      "properties": {
        "eventTime": {
          "description": "Required. Exercise event time",
          "format": "google-datetime",
          "type": "string"
        },
        "exerciseEventType": {
          "description": "Required. The type of the event, such as start, stop, pause, resume.",
          "type": "string",
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ],
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ]
        },
        "eventUtcOffset": {
          "type": "string",
          "description": "Required. Exercise event time offset from UTC",
          "format": "google-duration"
        }
      },
      "id": "ExerciseEvent",
      "type": "object"
    },
    "Weight": {
      "description": "Body weight measurement.",
      "id": "Weight",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the weight was measured",
          "$ref": "ObservationSampleTime"
        },
        "notes": {
          "type": "string",
          "description": "Optional. Standard free-form notes captured at manual logging."
        },
        "weightGrams": {
          "type": "number",
          "description": "Required. Weight of a user in grams.",
          "format": "double"
        }
      }
    },
    "Altitude": {
      "id": "Altitude",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "gainMillimeters": {
          "description": "Required. Altitude gain in millimeters over the observed interval.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters."
    },
    "TimeInHeartRateZones": {
      "properties": {
        "lightTime": {
          "description": "Optional. Time spent in light heart rate zone.",
          "format": "google-duration",
          "type": "string"
        },
        "peakTime": {
          "type": "string",
          "description": "Optional. Time spent in peak heart rate zone.",
          "format": "google-duration"
        },
        "vigorousTime": {
          "description": "Optional. Time spent in vigorous heart rate zone.",
          "format": "google-duration",
          "type": "string"
        },
        "moderateTime": {
          "type": "string",
          "description": "Optional. Time spent in moderate heart rate zone.",
          "format": "google-duration"
        }
      },
      "id": "TimeInHeartRateZones",
      "type": "object",
      "description": "Time spent in each heart rate zone."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ActiveMinutesRollupValue": {
      "description": "Represents the result of the rollup of the active minutes data type.",
      "id": "ActiveMinutesRollupValue",
      "type": "object",
      "properties": {
        "activeMinutesRollupByActivityLevel": {
          "description": "Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesRollupByActivityLevel"
          },
          "type": "array"
        }
      }
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "description": "Respiratory rate statistics for a given sleep stage.",
      "id": "RespiratoryRateSleepSummaryStatistics",
      "type": "object",
      "properties": {
        "standardDeviation": {
          "description": "Optional. Standard deviation of the respiratory rate during sleep.",
          "format": "double",
          "type": "number"
        },
        "signalToNoise": {
          "type": "number",
          "description": "Optional. How trustworthy the data is for the computation.",
          "format": "double"
        },
        "breathsPerMinute": {
          "type": "number",
          "description": "Required. Average breaths per minute.",
          "format": "double"
        }
      }
    },
    "SleepSummary": {
      "description": " Sleep summary: metrics and stages summary.",
      "id": "SleepSummary",
      "type": "object",
      "properties": {
        "minutesAwake": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total number of minutes awake. It is a sum of all AWAKE stages.",
          "format": "int64"
        },
        "stagesSummary": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of summaries (total duration and segment count) per each sleep stage type.",
          "items": {
            "$ref": "StageSummary"
          }
        },
        "minutesAsleep": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total number of minutes asleep. For classic sleep it is the sum of ASLEEP stages (excluding AWAKE and RESTLESS). For \"stages\" sleep it is the sum of LIGHT, REM and DEEP stages (excluding AWAKE).",
          "format": "int64"
        },
        "minutesToFallAsleep": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Minutes to fall asleep calculated by restlessness algorithm.",
          "format": "int64"
        },
        "minutesInSleepPeriod": {
          "description": "Output only. Delta between wake time and bedtime. It is the sum of all stages.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "minutesAfterWakeUp": {
          "description": "Output only. Minutes after wake up calculated by restlessness algorithm.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "properties": {
        "caloriesInHeartRateZones": {
          "description": "List of calories burned in each heart rate zone.",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "type": "array"
        }
      },
      "id": "CaloriesInHeartRateZoneRollupValue",
      "type": "object"
    },
    "Distance": {
      "description": "Distance traveled over an interval of time.",
      "id": "Distance",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "millimeters": {
          "description": "Required. Distance in millimeters over the observed interval.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "RunVO2Max": {
      "id": "RunVO2Max",
      "type": "object",
      "properties": {
        "runVo2Max": {
          "type": "number",
          "description": "Required. Run VO2 max value in ml/kg/min.",
          "format": "double"
        },
        "sampleTime": {
          "description": "Required. The time at which the metric was measured.",
          "$ref": "ObservationSampleTime"
        }
      },
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min."
    },
    "DataPoint": {
      "properties": {
        "oxygenSaturation": {
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "dailyOxygenSaturation": {
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "bodyFat": {
          "description": "Optional. Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "activityLevel": {
          "description": "Optional. Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "steps": {
          "description": "Optional. Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "sedentaryPeriod": {
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "dailyRestingHeartRate": {
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "altitude": {
          "description": "Optional. Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "name": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Profile.encoded_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "sleep": {
          "description": "Optional. Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "heartRate": {
          "description": "Optional. Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "hydrationLog": {
          "description": "Optional. Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "activeZoneMinutes": {
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "runVo2Max": {
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "dataSource": {
          "description": "Optional. Data source information for the metric",
          "$ref": "DataSource"
        },
        "dailyHeartRateZones": {
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "weight": {
          "description": "Optional. Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "heartRateVariability": {
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "respiratoryRateSleepSummary": {
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        }
      },
      "id": "DataPoint",
      "type": "object",
      "description": "A computed or recorded metric."
    },
    "CivilDateTime": {
      "id": "CivilDateTime",
      "type": "object",
      "properties": {
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        },
        "date": {
          "description": "Required. Calendar date.",
          "$ref": "Date"
        }
      },
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries."
    },
    "FloorsRollupValue": {
      "description": "Represents the result of the rollup of the user's floors.",
      "id": "FloorsRollupValue",
      "type": "object",
      "properties": {
        "countSum": {
          "type": "string",
          "description": "Sum of the floors count.",
          "format": "int64"
        }
      }
    },
    "ActiveMinutesByActivityLevel": {
      "description": "Active minutes at a given activity level.",
      "properties": {
        "activityLevel": {
          "description": "Required. The level of activity.",
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "type": "string"
        },
        "activeMinutes": {
          "type": "string",
          "description": "Required. Number of whole minutes spent in activity.",
          "format": "int64"
        }
      },
      "id": "ActiveMinutesByActivityLevel",
      "type": "object"
    },
    "CaloriesInHeartRateZoneValue": {
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone.",
      "properties": {
        "kcal": {
          "type": "number",
          "description": "The amount of kilocalories burned in the specified heart rate zone.",
          "format": "double"
        },
        "heartRateZone": {
          "description": "The heart rate zone.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        }
      },
      "id": "CaloriesInHeartRateZoneValue",
      "type": "object"
    },
    "Identity": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`",
          "type": "string"
        },
        "legacyUserId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens."
        },
        "healthUserId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens."
        }
      },
      "id": "Identity",
      "type": "object",
      "description": "Represents details about the Google user's identity."
    },
    "DistanceRollupValue": {
      "properties": {
        "millimetersSum": {
          "type": "string",
          "description": "Sum of the distance in millimeters.",
          "format": "int64"
        }
      },
      "id": "DistanceRollupValue",
      "type": "object",
      "description": "Result of the rollup of the user's distance."
    },
    "HeartRate": {
      "id": "HeartRate",
      "type": "object",
      "properties": {
        "beatsPerMinute": {
          "description": "Required. The heart rate value in beats per minute.",
          "format": "int64",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Metadata about the heart rate sample.",
          "$ref": "HeartRateMetadata"
        },
        "sampleTime": {
          "description": "Required. Observation time",
          "$ref": "ObservationSampleTime"
        }
      },
      "description": "A heart rate measurement."
    },
    "DailyRollupDataPoint": {
      "description": "Value of a daily rollup for a single civil time interval (aggregation window)",
      "properties": {
        "heartRateVariabilityPersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier.",
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "restingHeartRatePersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier.",
          "$ref": "RestingHeartRatePersonalRangeRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "civilEndTime": {
          "description": "End time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "civilStartTime": {
          "description": "Start time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        }
      },
      "id": "DailyRollupDataPoint",
      "type": "object"
    },
    "Interval": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        }
      },
      "id": "Interval",
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "WeightRollupValue": {
      "properties": {
        "weightGramsAvg": {
          "description": "Average weight in grams.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "WeightRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the weight data type."
    },
    "ActivityLevel": {
      "description": "Internal type to capture activity level during a certain time interval.",
      "id": "ActivityLevel",
      "type": "object",
      "properties": {
        "activityLevelType": {
          "description": "Required. Activity level type in the given time interval.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ]
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      }
    },
    "Steps": {
      "properties": {
        "count": {
          "type": "string",
          "description": "Required. Number of steps in the recorded interval.",
          "format": "int64"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "id": "Steps",
      "type": "object",
      "description": "Step count over the time interval."
    },
    "MobilityMetrics": {
      "properties": {
        "avgVerticalOscillationMillimeters": {
          "type": "string",
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running",
          "format": "int64"
        },
        "avgVerticalRatio": {
          "type": "number",
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0].",
          "format": "double"
        },
        "avgCadenceStepsPerMinute": {
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout.",
          "format": "double",
          "type": "number"
        },
        "avgStrideLengthMillimeters": {
          "description": "Optional. Stride length is a measure of the distance covered by a single stride",
          "format": "int64",
          "type": "string"
        },
        "avgGroundContactTimeDuration": {
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "MobilityMetrics",
      "type": "object",
      "description": "Mobility workouts specific metrics"
    },
    "RespiratoryRateSleepSummary": {
      "id": "RespiratoryRateSleepSummary",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which respiratory rate was measured.",
          "$ref": "ObservationSampleTime"
        },
        "lightSleepStats": {
          "description": "Optional. Respiratory rate statistics for light sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "deepSleepStats": {
          "description": "Optional. Respiratory rate statistics for deep sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "fullSleepStats": {
          "description": "Required. Full respiratory rate statistics.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "remSleepStats": {
          "description": "Optional. Respiratory rate statistics for REM sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        }
      },
      "description": "Records respiratory rate details during sleep. Can have multiple per day if the user sleeps multiple times."
    },
    "Exercise": {
      "properties": {
        "interval": {
          "description": "Required. Observed exercise interval",
          "$ref": "SessionTimeInterval"
        },
        "displayName": {
          "description": "Required. Exercise display name.",
          "type": "string"
        },
        "activeDuration": {
          "type": "string",
          "description": "Optional. Duration excluding pauses.",
          "format": "google-duration"
        },
        "splitSummaries": {
          "description": "Optional. Laps or splits recorded within an exercise. Laps could be split based on distance or other criteria (duration, etc.) Laps should not be overlapping with each other.",
          "items": {
            "$ref": "SplitSummary"
          },
          "type": "array"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this exercise ( )",
          "$ref": "MetricsSummary"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This is the timestamp of the last update to the exercise.",
          "format": "google-datetime"
        },
        "splits": {
          "description": "Optional. The default split is 1 km or 1 mile. - if the movement distance is less than the default, then there are no splits - if the movement distance is greater than or equal to the default, then we have splits",
          "items": {
            "$ref": "SplitSummary"
          },
          "type": "array"
        },
        "exerciseMetadata": {
          "description": "Optional. Additional exercise metadata.",
          "$ref": "ExerciseMetadata"
        },
        "exerciseEvents": {
          "type": "array",
          "description": "Optional. Exercise events that happen during an exercise, such as pause & restarts.",
          "items": {
            "$ref": "ExerciseEvent"
          }
        },
        "exerciseType": {
          "description": "Required. The type of activity performed during an exercise.",
          "enumDescriptions": [
            "Exercise type is unspecified.",
            "Running type.",
            "Walking type.",
            "Biking type.",
            "Swimming type.",
            "Hiking type.",
            "Yoga type.",
            "Pilates type.",
            "Workout type.",
            "HIIT type.",
            "Weightlifting type.",
            "Strength training type.",
            "Other type."
          ],
          "enum": [
            "EXERCISE_TYPE_UNSPECIFIED",
            "RUNNING",
            "WALKING",
            "BIKING",
            "SWIMMING",
            "HIKING",
            "YOGA",
            "PILATES",
            "WORKOUT",
            "HIIT",
            "WEIGHTLIFTING",
            "STRENGTH_TRAINING",
            "OTHER"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents the timestamp of the creation of the exercise.",
          "format": "google-datetime"
        }
      },
      "id": "Exercise",
      "type": "object",
      "description": "An exercise that stores information about a physical activity."
    },
    "Profile": {
      "description": "Profile details.",
      "id": "Profile",
      "type": "object",
      "properties": {
        "name": {
[...]
