{
  "ownerDomain": "google.com",
  "basePath": "",
  "baseUrl": "https://health.googleapis.com/",
  "rootUrl": "https://health.googleapis.com/",
  "revision": "20260505",
  "name": "health",
  "fullyEncodeReservedExpansion": true,
  "id": "health:v4",
  "canonicalName": "Google Health API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "ownerName": "Google",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "documentationLink": "https://developers.google.com/health",
  "servicePath": "",
  "version": "v4",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "subscribers": {
          "methods": {
            "create": {
              "flatPath": "v4/projects/{projectsId}/subscribers",
              "path": "v4/{+parent}/subscribers",
              "response": {
                "$ref": "Operation"
              },
              "id": "health.projects.subscribers.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Registers a new subscriber endpoint to receive notifications. A subscriber represents an application or service that wishes to receive data change notifications for users who have granted consent. **Endpoint Verification:** For a subscriber to be successfully created, the provided `endpoint_uri` must be a valid HTTPS endpoint and must pass an automated verification check. The backend will send two HTTP POST requests to the `endpoint_uri`: 1. **Verification with Authorization:** * **Headers:** Includes `Content-Type: application/json` and `Authorization` (with the exact value from `CreateSubscriberPayload.endpoint_authorization.secret`). * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `201 Created`. 2. **Verification without Authorization:** * **Headers:** Includes `Content-Type: application/json`. The `Authorization` header is OMITTED. * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass for the subscriber creation to succeed. If verification fails, the operation will not be completed and an error will be returned. This process ensures the endpoint is reachable and correctly validates the `Authorization` header.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The parent resource where this subscriber will be created. Format: projects/{project} Example: projects/my-project-123",
                  "location": "path"
                },
                "subscriberId": {
                  "location": "query",
                  "description": "Optional. The ID to use for the subscriber, which will become the final component of the subscriber's resource name. This value should be 4-36 characters, and valid characters are /[a-z]([a-z0-9-]{2,34}[a-z0-9])/.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "CreateSubscriberPayload"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListSubscribers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscribers` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The parent, which owns this collection of subscribers. Format: projects/{project}",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of subscribers to return. The service may return fewer than this value. If unspecified, at most 50 subscribers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all subscribers registered within the owned Google Cloud Project.",
              "id": "health.projects.subscribers.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v4/projects/{projectsId}/subscribers",
              "path": "v4/{+parent}/subscribers",
              "response": {
                "$ref": "ListSubscribersResponse"
              }
            },
            "patch": {
              "response": {
                "$ref": "Operation"
              },
              "path": "v4/{+name}",
              "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}",
              "parameterOrder": [
                "name"
              ],
              "id": "health.projects.subscribers.patch",
              "httpMethod": "PATCH",
              "description": "Updates the configuration of an existing subscriber, such as the endpoint URI or the data types it's interested in. **Endpoint Verification:** If the `endpoint_uri` or `endpoint_authorization` field is included in the `update_mask`, the backend will re-verify the endpoint. The verification process is the same as described in `CreateSubscriber`: 1. **Verification with Authorization:** POST to the new or existing `endpoint_uri` with the new or existing `Authorization` secret. Expects HTTP `201 Created`. 2. **Verification without Authorization:** POST to the `endpoint_uri` without the `Authorization` header. Expects HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass using the potentially updated values for the subscriber update to succeed. If verification fails, the update will not be applied, and an error will be returned.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                  "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A field mask that specifies which fields of the Subscriber message are to be updated. This allows for partial updates. Supported fields: - endpoint_uri - subscriber_configs - endpoint_authorization",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "Subscriber"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "health.projects.subscribers.delete",
              "httpMethod": "DELETE",
              "path": "v4/{+name}",
              "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                  "description": "Required. The name of the subscriber to delete. Format: projects/{project}/subscribers/{subscriber} Example: projects/my-project/subscribers/my-subscriber-123 The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated if not provided during creation.",
                  "location": "path"
                },
                "force": {
                  "description": "Optional. If set to true, any child resources (e.g., subscriptions) will also be deleted. If false (default) and child resources exist, the request will fail.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a subscriber registration. This will stop all notifications to the subscriber's endpoint."
            }
          }
        }
      }
    },
    "users": {
      "resources": {
        "dataTypes": {
          "resources": {
            "dataPoints": {
              "methods": {
                "patch": {
                  "description": "Updates a single identifiable data point. If a data point with the specified `name` is not found, the request will fail.",
                  "parameters": {
                    "name": {
                      "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}",
                  "path": "v4/{+name}",
                  "id": "health.users.dataTypes.dataPoints.patch",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "rollUp": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "health.users.dataTypes.dataPoints.rollUp",
                  "httpMethod": "POST",
                  "path": "v4/{+parent}/dataPoints:rollUp",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:rollUp",
                  "response": {
                    "$ref": "RollUpDataPointsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the RollupDataPoint value union field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RollUpDataPointsRequest"
                  },
                  "description": "Roll up data points over physical time intervals for supported data types."
                },
                "batchDelete": {
                  "description": "Delete a batch of identifyable data points.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Optional. Parent (data type) for the Data Point collection Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/-` For a list of the supported data types see the DataPoint data union field. Deleting data points across multiple data type collections is supported following https://aip.dev/159. If this is set, the parent of all of the data points specified in `names` must match this field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "BatchDeleteDataPointsRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:batchDelete",
                  "path": "v4/{+parent}/dataPoints:batchDelete",
                  "id": "health.users.dataTypes.dataPoints.batchDelete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "dailyRollUp": {
                  "description": "Roll up data points over civil time intervals for supported data types.",
                  "parameters": {
                    "parent": {
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the DailyRollupDataPoint value union field."
                    }
                  },
                  "request": {
                    "$ref": "DailyRollUpDataPointsRequest"
                  },
                  "response": {
                    "$ref": "DailyRollUpDataPointsResponse"
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:dailyRollUp",
                  "path": "v4/{+parent}/dataPoints:dailyRollUp",
                  "id": "health.users.dataTypes.dataPoints.dailyRollUp",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "exportExerciseTcx": {
                  "useMediaDownloadService": true,
                  "description": "Exports exercise data in TCX format. Note: While the Authorization section below states that any one of the listed scopes is accepted, this specific method requires the user to provide both one of the `activity_and_fitness` scopes (`normal` or `readonly`) AND one of the `location` scopes (`normal` or `readonly`) in their access token to succeed.",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the exercise data point to export. Format: `users/{user}/dataTypes/exercise/dataPoints/{data_point}` Example: `users/me/dataTypes/exercise/dataPoints/2026443605080188808` The `{user}` is the alias `\"me\"` currently. Future versions may support user IDs. The `{data_point}` ID maps to the exercise ID, which is a long integer.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$"
                    },
                    "partialData": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Indicates whether to include the TCX data points when the GPS data is not available. If not specified, defaults to `false` and partial data will not be included."
                    }
                  },
                  "response": {
                    "$ref": "ExportExerciseTcxResponse"
                  },
                  "path": "v4/{+name}:exportExerciseTcx",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}:exportExerciseTcx",
                  "supportsMediaDownload": true,
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "health.users.dataTypes.dataPoints.exportExerciseTcx",
                  "httpMethod": "GET"
                },
                "list": {
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "path": "v4/{+parent}/dataPoints",
                  "description": "Query user health and fitness data points.",
                  "response": {
                    "$ref": "ListDataPointsResponse"
                  },
                  "id": "health.users.dataTypes.dataPoints.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/weight` For a list of the supported data types see the DataPoint data union field.",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter expression following https://google.aip.dev/160. A time range (either physical or civil) can be specified. The supported filter fields are: - Interval start time: - Pattern: `{interval_data_type}.interval.start_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `steps.interval.start_time >= \"2023-11-24T00:00:00Z\" AND steps.interval.start_time < \"2023-11-25T00:00:00Z\"` - `distance.interval.start_time >= \"2024-08-14T12:34:56Z\"` - Interval civil start time: - Pattern: `{interval_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `steps.interval.civil_start_time >= \"2023-11-24\" AND steps.interval.civil_start_time < \"2023-11-25\"` - `distance.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Sample observation physical time: - Pattern: `{sample_data_type}.sample_time.physical_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `weight.sample_time.physical_time >= \"2023-11-24T00:00:00Z\" AND weight.sample_time.physical_time < \"2023-11-25T00:00:00Z\"` - `weight.sample_time.physical_time >= \"2024-08-14T12:34:56Z\"` - Sample observation civil time: - Pattern: `{sample_data_type}.sample_time.civil_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `weight.sample_time.civil_time >= \"2023-11-24\" AND weight.sample_time.civil_time < \"2023-11-25\"` - `weight.sample_time.civil_time >= \"2024-08-14T12:34:56\"` - Daily summary date: - Pattern: `{daily_summary_data_type}.date` - Supported comparison operators: `>=`, `<` - Date literal expected in ISO 8601 `YYYY-MM-DD` format - Supported logical operators: `AND` - Example: - `daily_heart_rate_variability.date < \"2024-08-15\"` - Session civil start time (**Excluding Sleep**): - Pattern: `{session_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `exercise.interval.civil_start_time >= \"2023-11-24\" AND exercise.interval.civil_start_time < \"2023-11-25\"` - `exercise.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Session end time (**Sleep specific**): - Pattern: `sleep.interval.end_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.end_time >= \"2023-11-24T00:00:00Z\" AND sleep.interval.end_time < \"2023-11-25T00:00:00Z\"` - Session civil end time (**Sleep specific**): - Pattern: `sleep.interval.civil_end_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.civil_end_time >= \"2023-11-24\" AND sleep.interval.civil_end_time < \"2023-11-25\"` Data points in the response will be ordered by the interval start time in descending order.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "reconcile": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "location": "query"
                    },
                    "dataSourceFamily": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The data source family name to reconcile. If empty, data points from all data sources will be reconciled. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter expression based on https://aip.dev/160. A time range, either physical or civil, can be specified. See the ListDataPointsRequest.filter for the supported fields and syntax.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/heart-rate` For a list of the supported data types see the DataPoint data union field.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "health.users.dataTypes.dataPoints.reconcile",
                  "httpMethod": "GET",
                  "path": "v4/{+parent}/dataPoints:reconcile",
                  "description": "Reconcile data points from multiple data sources into a single data stream.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:reconcile",
                  "response": {
                    "$ref": "ReconcileDataPointsResponse"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "health.users.dataTypes.dataPoints.create",
                  "httpMethod": "POST",
                  "path": "v4/{+parent}/dataPoints",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name where the data point will be created. Format: `users/{user}/dataTypes/{data_type}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "description": "Creates a single identifiable data point."
                },
                "get": {
                  "response": {
                    "$ref": "DataPoint"
                  },
                  "path": "v4/{+name}",
                  "description": "Get a single identifyable data point.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "description": "Required. The name of the data point to retrieve. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` See DataPoint.name for examples and possible values.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "health.users.dataTypes.dataPoints.get",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      },
      "methods": {
        "getSettings": {
          "path": "v4/{+name}",
          "description": "Returns user settings details.",
          "flatPath": "v4/users/{usersId}/settings",
          "response": {
            "$ref": "Settings"
          },
          "parameters": {
            "name": {
              "pattern": "^users/[^/]+/settings$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The name of the Settings. Format: `users/me/settings`."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "health.users.getSettings",
          "httpMethod": "GET"
        },
        "getIdentity": {
          "id": "health.users.getIdentity",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The resource name of the Identity. Format: `users/me/identity`",
              "pattern": "^users/[^/]+/identity$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Identity"
          },
          "flatPath": "v4/users/{usersId}/identity",
          "path": "v4/{+name}",
          "description": "Gets the user's identity. It includes the legacy Fitbit user ID and the Google user ID and it can be used by migrating clients to map identifiers between the two systems."
        },
        "getProfile": {
          "id": "health.users.getProfile",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^users/[^/]+/profile$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The name of the Profile. Format: `users/me/profile`."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v4/users/{usersId}/profile",
          "path": "v4/{+name}",
          "description": "Returns user Profile details.",
          "response": {
            "$ref": "Profile"
          }
        },
        "updateProfile": {
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^users/[^/]+/profile$"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Optional. The list of fields to be updated.",
              "format": "google-fieldmask"
            }
          },
          "request": {
            "$ref": "Profile"
          },
          "description": "Updates the user's profile details.",
          "parameterOrder": [
            "name"
          ],
          "id": "health.users.updateProfile",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Profile"
          },
          "path": "v4/{+name}",
          "flatPath": "v4/users/{usersId}/profile"
        },
        "updateSettings": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^users/[^/]+/settings$",
              "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "description": "Optional. The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "request": {
            "$ref": "Settings"
          },
          "description": "Updates the user's settings details.",
          "parameterOrder": [
            "name"
          ],
          "id": "health.users.updateSettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Settings"
          },
          "path": "v4/{+name}",
          "flatPath": "v4/users/{usersId}/settings"
        }
      }
    }
  },
  "batchPath": "batch",
  "schemas": {
    "ObservationTimeInterval": {
      "description": "Represents a time interval of an observed data point.",
      "id": "ObservationTimeInterval",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Required. Observed interval end time.",
          "format": "google-datetime"
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "readOnly": true
        },
        "startTime": {
          "description": "Required. Observed interval start time.",
          "format": "google-datetime",
          "type": "string"
        },
        "endUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "civilEndTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval",
          "readOnly": true
        }
      }
    },
    "HeartRate": {
      "description": "A heart rate measurement.",
      "id": "HeartRate",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. Observation time",
          "$ref": "ObservationSampleTime"
        },
        "beatsPerMinute": {
          "description": "Required. The heart rate value in beats per minute.",
          "format": "int64",
          "type": "string"
        },
        "metadata": {
          "$ref": "HeartRateMetadata",
          "description": "Optional. Metadata about the heart rate sample."
        }
      }
    },
    "TimeOfDay": {
      "properties": {
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "HydrationLogRollupValue": {
      "description": "Represents the result of the rollup of the hydration log data type.",
      "id": "HydrationLogRollupValue",
      "type": "object",
      "properties": {
        "amountConsumed": {
          "$ref": "VolumeQuantityRollup",
          "description": "Rollup for amount consumed."
        }
      }
    },
    "CreateSubscriberPayload": {
      "properties": {
        "endpointUri": {
          "type": "string",
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during the `CreateSubscriber` call. See CreateSubscriber RPC documentation for verification details."
        },
        "subscriberConfigs": {
          "description": "Optional. Configuration for the subscriber.",
          "items": {
            "$ref": "SubscriberConfig"
          },
          "type": "array"
        },
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for the subscriber endpoint. The `secret` within this message is crucial for endpoint verification and for securing webhook notifications.",
          "$ref": "EndpointAuthorization"
        }
      },
      "id": "CreateSubscriberPayload",
      "type": "object",
      "description": "Payload for creating a subscriber."
    },
    "DailyHeartRateZones": {
      "id": "DailyHeartRateZones",
      "type": "object",
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day.",
      "properties": {
        "date": {
          "description": "Required. Date (in user's timezone) of the heart rate zones record.",
          "$ref": "Date"
        },
        "heartRateZones": {
          "type": "array",
          "description": "Required. The heart rate zones.",
          "items": {
            "$ref": "HeartRateZone"
          }
        }
      }
    },
    "RestingHeartRatePersonalRangeRollupValue": {
      "id": "RestingHeartRatePersonalRangeRollupValue",
      "type": "object",
      "description": "Represents the rollup value for the daily resting heart rate data type.",
      "properties": {
        "beatsPerMinuteMin": {
          "type": "number",
          "description": "The lower bound of the user's daily resting heart rate personal range.",
          "format": "double"
        },
        "beatsPerMinuteMax": {
          "type": "number",
          "description": "The upper bound of the user's daily resting heart rate personal range.",
          "format": "double"
        }
      }
    },
    "TimeInHeartRateZone": {
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "heartRateZoneType": {
          "type": "string",
          "description": "Required. Heart rate zone type.",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        }
      },
      "id": "TimeInHeartRateZone",
      "type": "object",
      "description": "Time in heart rate zone record. It's an interval spent in specific heart rate zone."
    },
    "DateTime": {
      "properties": {
        "utcOffset": {
          "type": "string",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration"
        },
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32",
          "type": "integer"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DateTime",
      "type": "object",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "MetricsSummary": {
      "properties": {
        "distanceMillimeters": {
          "description": "Optional. Total distance covered by the user during the exercise.",
          "format": "double",
          "type": "number"
        },
        "elevationGainMillimeters": {
          "type": "number",
          "description": "Optional. Total elevation gain during the exercise.",
          "format": "double"
        },
        "heartRateZoneDurations": {
          "$ref": "TimeInHeartRateZones",
          "description": "Optional. Time spent in each heart rate zone."
        },
        "mobilityMetrics": {
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises.",
          "$ref": "MobilityMetrics"
        },
        "averagePaceSecondsPerMeter": {
          "description": "Optional. Average pace in seconds per meter.",
          "format": "double",
          "type": "number"
        },
        "totalSwimLengths": {
          "type": "number",
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise.",
          "format": "double"
        },
        "averageSpeedMillimetersPerSecond": {
          "type": "number",
          "description": "Optional. Average speed in millimeters per second.",
          "format": "double"
        },
        "steps": {
          "description": "Optional. Total steps taken during the exercise.",
          "format": "int64",
          "type": "string"
        },
        "averageHeartRateBeatsPerMinute": {
          "description": "Optional. Average heart rate during the exercise.",
          "format": "int64",
          "type": "string"
        },
        "runVo2Max": {
          "type": "number",
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise.",
          "format": "double"
        },
        "caloriesKcal": {
          "type": "number",
          "description": "Optional. Total calories burned by the user during the exercise.",
          "format": "double"
        },
        "activeZoneMinutes": {
          "description": "Optional. Total active zone minutes for the exercise.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Summary metrics for an exercise.",
      "id": "MetricsSummary",
      "type": "object"
    },
    "ActiveMinutesRollupValue": {
      "description": "Represents the result of the rollup of the active minutes data type.",
      "id": "ActiveMinutesRollupValue",
      "type": "object",
      "properties": {
        "activeMinutesRollupByActivityLevel": {
          "type": "array",
          "description": "Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesRollupByActivityLevel"
          }
        }
      }
    },
    "ActiveMinutesByActivityLevel": {
      "properties": {
        "activeMinutes": {
          "type": "string",
          "description": "Required. Number of whole minutes spent in activity.",
          "format": "int64"
        },
        "activityLevel": {
          "type": "string",
          "description": "Required. The level of activity.",
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ]
        }
      },
      "id": "ActiveMinutesByActivityLevel",
      "type": "object",
      "description": "Active minutes at a given activity level."
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "type": "object",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMin": {
          "type": "number",
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "format": "double"
        },
        "averageHeartRateVariabilityMillisecondsMax": {
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "Altitude": {
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "gainMillimeters": {
          "description": "Required. Altitude gain in millimeters over the observed interval.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "id": "Altitude",
      "type": "object"
    },
    "DailySleepTemperatureDerivations": {
      "properties": {
        "date": {
          "description": "Required. Date for which the sleep temperature derivations are calculated.",
          "$ref": "Date"
        },
        "baselineTemperatureCelsius": {
          "description": "Optional. The user's baseline skin temperature. It is the median of the user's nightly skin temperature over the past 30 days.",
          "format": "double",
          "type": "number"
        },
        "relativeNightlyStddev30dCelsius": {
          "description": "Optional. The standard deviation of the user’s relative nightly skin temperature (temperature - baseline) over the past 30 days.",
          "format": "double",
          "type": "number"
        },
        "nightlyTemperatureCelsius": {
          "description": "Required. The user's nightly skin temperature. It is the mean of skin temperature samples taken from the user’s sleep.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Provides derived sleep temperature values, calculated from skin or internal device temperature readings during sleep.",
      "id": "DailySleepTemperatureDerivations",
      "type": "object"
    },
    "StageSummary": {
      "properties": {
        "type": {
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ],
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ]
        },
        "minutes": {
          "description": "Output only. Total duration in minutes of a sleep stage.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "count": {
          "description": "Output only. Number of sleep stages segments.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Total duration and segment count for a stage.",
      "id": "StageSummary",
      "type": "object"
    },
    "SwimLengthsDataRollupValue": {
      "properties": {
        "strokeCountSum": {
          "type": "string",
          "description": "Total number of swim strokes in the interval.",
          "format": "int64"
        }
      },
      "description": "Represents the result of the rollup of the swim lengths data type.",
      "id": "SwimLengthsDataRollupValue",
      "type": "object"
    },
    "TimeInHeartRateZoneValue": {
      "id": "TimeInHeartRateZoneValue",
      "type": "object",
      "description": "Represents the total time spent in a specific heart rate zone.",
      "properties": {
        "heartRateZone": {
          "description": "The heart rate zone.",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "type": "string"
        },
        "duration": {
          "description": "The total time spent in the specified heart rate zone.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "ReconciledDataPoint": {
      "description": "A reconciled computed or recorded metric.",
      "id": "ReconciledDataPoint",
      "type": "object",
      "properties": {
        "activeMinutes": {
          "description": "Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "altitude": {
          "$ref": "Altitude",
          "description": "Data for points in the `altitude` interval data type collection."
        },
        "exercise": {
          "description": "Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "dailyOxygenSaturation": {
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "heartRateVariability": {
          "description": "Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "respiratoryRateSleepSummary": {
          "$ref": "RespiratoryRateSleepSummary",
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection."
        },
        "dailyRestingHeartRate": {
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "dataPointName": {
          "type": "string",
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens."
        },
        "vo2Max": {
          "description": "Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "dailyHeartRateZones": {
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "hydrationLog": {
          "$ref": "HydrationLog",
          "description": "Data for points in the `hydration-log` session data type collection."
        },
        "dailyVo2Max": {
          "description": "Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "dailyRespiratoryRate": {
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "weight": {
          "description": "Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "floors": {
          "description": "Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "oxygenSaturation": {
          "description": "Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "sleep": {
          "description": "Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "basalEnergyBurned": {
          "$ref": "BasalEnergyBurned",
          "description": "Data for points in the `basal-energy-burned` interval data type collection."
        },
        "swimLengthsData": {
          "description": "Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "distance": {
          "$ref": "Distance",
          "description": "Data for points in the `distance` interval data type collection."
        },
        "bodyFat": {
          "$ref": "BodyFat",
          "description": "Data for points in the `body-fat` sample data type collection."
        },
        "activityLevel": {
          "description": "Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "dailyHeartRateVariability": {
          "$ref": "DailyHeartRateVariability",
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection."
        },
        "timeInHeartRateZone": {
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "steps": {
          "description": "Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "runVo2Max": {
          "description": "Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "heartRate": {
          "$ref": "HeartRate",
          "description": "Data for points in the `heart-rate` sample data type collection."
        },
        "dailySleepTemperatureDerivations": {
          "$ref": "DailySleepTemperatureDerivations",
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection."
        },
        "activeZoneMinutes": {
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "height": {
          "$ref": "Height",
          "description": "Data for points in the `height` sample data type collection."
        },
        "sedentaryPeriod": {
          "$ref": "SedentaryPeriod",
          "description": "Data for points in the `sedentary-period` interval data type collection."
        }
      }
    },
    "RollUpDataPointsRequest": {
      "description": "Request to roll up data points by physical time intervals.",
      "id": "RollUpDataPointsRequest",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "format": "int32"
        },
        "range": {
          "$ref": "Interval",
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days."
        },
        "windowSize": {
          "type": "string",
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions.",
          "format": "google-duration"
        }
      }
    },
    "RespiratoryRateSleepSummary": {
      "properties": {
        "deepSleepStats": {
          "description": "Optional. Respiratory rate statistics for deep sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which respiratory rate was measured."
        },
        "lightSleepStats": {
          "description": "Optional. Respiratory rate statistics for light sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "remSleepStats": {
          "description": "Optional. Respiratory rate statistics for REM sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "fullSleepStats": {
          "$ref": "RespiratoryRateSleepSummaryStatistics",
          "description": "Required. Full respiratory rate statistics."
        }
      },
      "id": "RespiratoryRateSleepSummary",
      "type": "object",
      "description": "Records respiratory rate details during sleep. Can have multiple per day if the user sleeps multiple times."
    },
    "DataSource": {
      "id": "DataSource",
      "type": "object",
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it).",
      "properties": {
        "recordingMethod": {
          "type": "string",
          "description": "Optional. Captures how the data was recorded.",
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ]
        },
        "application": {
          "description": "Output only. Captures metadata for the application that provided this data.",
          "readOnly": true,
          "$ref": "Application"
        },
        "platform": {
          "description": "Output only. Captures the platform that uploaded the data.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ]
        },
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        }
      }
    },
    "DistanceRollupValue": {
      "id": "DistanceRollupValue",
      "type": "object",
      "description": "Result of the rollup of the user's distance.",
      "properties": {
        "millimetersSum": {
          "description": "Sum of the distance in millimeters.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SleepMetadata": {
      "properties": {
        "externalId": {
          "type": "string",
          "description": "Optional. Sleep identifier relevant in the context of the data source."
        },
        "processed": {
          "type": "boolean",
          "description": "Output only. Sleep and sleep stages algorithms finished processing.",
          "readOnly": true
        },
        "nap": {
          "description": "Output only. Naps are sleeps without stages and relatively short durations.",
          "readOnly": true,
          "type": "boolean"
        },
        "manuallyEdited": {
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users.",
          "readOnly": true,
          "type": "boolean"
        },
        "stagesStatus": {
          "description": "Output only. Sleep stages algorithm processing status.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ],
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ]
        }
      },
      "id": "SleepMetadata",
      "type": "object",
      "description": "Additional information about how the sleep was processed."
    },
    "OutOfBedSegment": {
      "description": "A time interval to represent an out-of-bed segment.",
      "id": "OutOfBedSegment",
      "type": "object",
      "properties": {
        "endUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the segment relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Required. Segment end time.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Required. Segment tart time.",
          "format": "google-datetime"
        },
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the segment relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "VolumeQuantityRollup": {
      "description": "Rollup for volume quantity.",
      "id": "VolumeQuantityRollup",
      "type": "object",
      "properties": {
        "millilitersSum": {
          "type": "number",
          "description": "Required. The sum of volume in milliliters.",
          "format": "double"
        },
        "userProvidedUnitLast": {
          "description": "Optional. The user provided unit on the last element.",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ],
          "type": "string"
        }
      }
    },
    "DailyRespiratoryRate": {
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep.",
      "id": "DailyRespiratoryRate",
      "type": "object",
      "properties": {
        "breathsPerMinute": {
          "type": "number",
          "description": "Required. The average number of breaths taken per minute.",
          "format": "double"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. The date on which the respiratory rate was measured."
        }
      }
    },
    "TimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "id": "TimeZone",
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "Sleep": {
      "properties": {
        "metadata": {
          "description": "Optional. Sleep metadata: processing, main, manually edited, stages status.",
          "$ref": "SleepMetadata"
        },
        "summary": {
          "description": "Output only. Sleep summary: metrics and stages summary.",
          "readOnly": true,
          "$ref": "SleepSummary"
        },
        "interval": {
          "description": "Required. Observed sleep interval.",
          "$ref": "SessionTimeInterval"
        },
        "type": {
          "description": "Optional. SleepType: classic or stages.",
          "enumDescriptions": [
            "Sleep type is unspecified.",
            "Classic sleep is a sleep with 3 stages types: AWAKE, RESTLESS and ASLEEP.",
            "On top of \"classic\" sleep stages an additional processing pass can calculate stages more precisely, overwriting the prior stages with AWAKE, LIGHT, REM and DEEP."
          ],
          "enum": [
            "SLEEP_TYPE_UNSPECIFIED",
            "CLASSIC",
            "STAGES"
          ],
          "type": "string"
        },
        "stages": {
          "type": "array",
          "description": "Optional. List of non-overlapping contiguous sleep stage segments that cover the sleep period.",
          "items": {
            "$ref": "SleepStage"
          }
        },
        "outOfBedSegments": {
          "description": "Optional. “Out of bed” segments that can overlap with sleep stages.",
          "items": {
            "$ref": "OutOfBedSegment"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. Creation time of this sleep observation.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last update time of this sleep observation.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Sleep",
      "type": "object",
      "description": "A sleep session possibly including stages."
    },
    "HttpResponse": {
      "id": "HttpResponse",
      "type": "object",
      "description": "Represents an HTTP response.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The HTTP reason phrase, such as \"OK\" or \"Not Found\"."
        },
        "headers": {
          "type": "array",
          "description": "The HTTP response headers. The ordering of the headers is significant. Multiple headers with the same key may present for the response.",
          "items": {
            "$ref": "HttpHeader"
          }
        },
        "body": {
          "description": "The HTTP response body. If the body is not expected, it should be empty.",
          "format": "byte",
          "type": "string"
        },
        "status": {
          "description": "The HTTP status code, such as 200 or 404.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DailyRollUpDataPointsRequest": {
      "properties": {
        "pageSize": {
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "format": "int32",
          "type": "integer"
        },
        "range": {
          "$ref": "CivilTimeInterval",
          "description": "Required. Closed-open range of data points that will be rolled up. The start time must be aligned with the aggregation window. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days."
        },
        "windowSizeDays": {
          "type": "integer",
          "description": "Optional. Aggregation window size, in number of days. Defaults to 1 if not specified.",
          "format": "int32"
        },
        "pageToken": {
          "description": "Optional. The `next_page_token` from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        }
      },
      "description": "Request to roll up data points by civil time intervals.",
      "id": "DailyRollUpDataPointsRequest",
      "type": "object"
    },
    "Profile": {
      "id": "Profile",
      "type": "object",
      "description": "Profile details.",
      "properties": {
        "age": {
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported.",
          "format": "int32",
          "type": "integer"
        },
        "membershipStartDate": {
          "$ref": "Date",
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "userConfiguredRunningStrideLengthMm": {
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "format": "int32",
          "type": "integer"
        },
        "autoWalkingStrideLengthMm": {
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "userConfiguredWalkingStrideLengthMm": {
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "format": "int32",
          "type": "integer"
        },
        "autoRunningStrideLengthMm": {
          "type": "integer",
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "DailyHeartRateVariability": {
      "id": "DailyHeartRateVariability",
      "type": "object",
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement."
        },
        "averageHeartRateVariabilityMilliseconds": {
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats.",
          "format": "double",
          "type": "number"
        },
        "nonRemHeartRateBeatsPerMinute": {
          "description": "Optional. Non-REM heart rate",
          "format": "int64",
          "type": "string"
        },
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "type": "number",
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep.",
          "format": "double"
        },
        "entropy": {
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "Floors": {
      "description": "Gained elevation measured in floors over the time interval",
      "id": "Floors",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval"
        },
        "count": {
          "type": "string",
          "description": "Required. Number of floors in the recorded interval",
          "format": "int64"
        }
      }
    },
    "Settings": {
      "description": "Settings details.",
      "id": "Settings",
      "type": "object",
      "properties": {
        "strideLengthRunningType": {
          "type": "string",
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported.",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ]
        },
        "temperatureUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ],
          "type": "string"
        },
        "waterUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ],
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ],
          "type": "string"
        },
        "strideLengthWalkingType": {
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "type": "string"
        },
        "autoStrideEnabled": {
          "type": "boolean",
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported."
        },
        "heightUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ],
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ],
          "type": "string"
        },
        "glucoseUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ],
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "type": "string"
        },
        "distanceUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported.",
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ],
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "type": "string"
        },
        "utcOffset": {
          "type": "string",
          "description": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported.",
          "format": "google-duration"
        },
        "swimUnit": {
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ],
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ]
        },
        "weightUnit": {
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ]
        },
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
        },
        "languageLocale": {
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        }
      }
    },
    "CaloriesInHeartRateZoneValue": {
      "properties": {
        "heartRateZone": {
          "description": "The heart rate zone.",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "type": "string"
        },
        "kcal": {
          "description": "The amount of kilocalories burned in the specified heart rate zone.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "CaloriesInHeartRateZoneValue",
      "type": "object",
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone."
    },
    "RollUpDataPointsResponse": {
      "id": "RollUpDataPointsResponse",
      "type": "object",
      "description": "Response containing the list of rolled up data points.",
      "properties": {
        "rollupDataPoints": {
          "description": "Values for each aggregation time window.",
          "items": {
            "$ref": "RollupDataPoint"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "DailyRollupDataPoint": {
      "description": "Value of a daily rollup for a single civil time interval (aggregation window)",
      "id": "DailyRollupDataPoint",
      "type": "object",
      "properties": {
        "timeInHeartRateZone": {
          "$ref": "TimeInHeartRateZoneRollupValue",
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier."
        },
        "steps": {
          "$ref": "StepsRollupValue",
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier."
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "heartRate": {
          "$ref": "HeartRateRollupValue",
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier."
        },
        "caloriesInHeartRateZone": {
          "$ref": "CaloriesInHeartRateZoneRollupValue",
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier."
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutesRollupValue",
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier."
        },
        "sedentaryPeriod": {
          "$ref": "SedentaryPeriodRollupValue",
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier."
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "activityLevel": {
          "$ref": "ActivityLevelRollupValue",
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier."
        },
        "hydrationLog": {
          "$ref": "HydrationLogRollupValue",
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier."
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Start time of the window this value aggregates over"
        },
        "restingHeartRatePersonalRange": {
          "$ref": "RestingHeartRatePersonalRangeRollupValue",
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier."
        },
        "civilEndTime": {
          "$ref": "CivilDateTime",
          "description": "End time of the window this value aggregates over"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "floors": {
          "$ref": "FloorsRollupValue",
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier."
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "altitude": {
          "$ref": "AltitudeRollupValue",
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier."
        },
        "heartRateVariabilityPersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier.",
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue"
        }
      }
    },
    "ExportExerciseTcxResponse": {
      "id": "ExportExerciseTcxResponse",
      "type": "object",
      "description": "Represents a Response for exporting exercise data in TCX format.",
      "properties": {
        "tcxData": {
          "description": "Contains the exported TCX data.",
          "type": "string"
        }
      }
    },
    "CivilTimeInterval": {
      "properties": {
        "start": {
          "$ref": "CivilDateTime",
          "description": "Required. The inclusive start of the range."
        },
        "end": {
          "description": "Required. The exclusive end of the range.",
          "$ref": "CivilDateTime"
        }
      },
      "id": "CivilTimeInterval",
      "type": "object",
      "description": "Counterpart of google.type.Interval, but using CivilDateTime."
    },
    "OxygenSaturation": {
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
[...]
