{
  "canonicalName": "Home Graph Service",
  "resources": {
    "devices": {
      "methods": {
        "query": {
          "path": "v1/devices:query",
          "request": {
            "$ref": "QueryRequest"
          },
          "flatPath": "v1/devices:query",
          "parameterOrder": [],
          "response": {
            "$ref": "QueryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "id": "homegraph.devices.query",
          "httpMethod": "POST",
          "parameters": {},
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project."
        },
        "sync": {
          "flatPath": "v1/devices:sync",
          "parameterOrder": [],
          "request": {
            "$ref": "SyncRequest"
          },
          "path": "v1/devices:sync",
          "httpMethod": "POST",
          "parameters": {},
          "id": "homegraph.devices.sync",
          "response": {
            "$ref": "SyncResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project."
        },
        "reportStateAndNotification": {
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "parameters": {},
          "id": "homegraph.devices.reportStateAndNotification",
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "flatPath": "v1/devices:reportStateAndNotification",
          "parameterOrder": [],
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "path": "v1/devices:reportStateAndNotification"
        },
        "requestSync": {
          "httpMethod": "POST",
          "parameters": {},
          "id": "homegraph.devices.requestSync",
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/devices:requestSync",
          "parameterOrder": [],
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "path": "v1/devices:requestSync"
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "path": "v1/{+agentUserId}",
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "parameterOrder": [
            "agentUserId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "agentUserId": {
              "pattern": "^agentUsers/.*$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Third-party user ID."
            },
            "requestId": {
              "type": "string",
              "description": "Request ID used for debugging.",
              "location": "query"
            }
          },
          "id": "homegraph.agentUsers.delete",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project."
        }
      }
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "baseUrl": "https://homegraph.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "title": "HomeGraph API",
  "batchPath": "batch",
  "revision": "20260403",
  "ownerDomain": "google.com",
  "id": "homegraph:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "protocol": "rest",
  "rootUrl": "https://homegraph.googleapis.com/",
  "name": "homegraph",
  "version_module": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "schemas": {
    "QueryResponsePayload": {
      "id": "QueryResponsePayload",
      "type": "object",
      "properties": {
        "devices": {
          "type": "object",
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          }
        }
      },
      "description": "Payload containing device states information."
    },
    "ReportStateAndNotificationResponse": {
      "id": "ReportStateAndNotificationResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID copied from ReportStateAndNotificationRequest.",
          "type": "string"
        }
      },
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call."
    },
    "QueryResponse": {
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "id": "QueryResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        },
        "payload": {
          "$ref": "QueryResponsePayload",
          "description": "Device states for the devices given in the request."
        }
      }
    },
    "SyncResponsePayload": {
      "id": "SyncResponsePayload",
      "type": "object",
      "properties": {
        "agentUserId": {
          "type": "string",
          "description": "Third-party user ID"
        },
        "devices": {
          "description": "Devices associated with the third-party user.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        }
      },
      "description": "Payload containing device information."
    },
    "RequestSyncDevicesResponse": {
      "id": "RequestSyncDevicesResponse",
      "type": "object",
      "properties": {},
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."
    },
    "Device": {
      "description": "Third-party device definition.",
      "id": "Device",
      "type": "object",
      "properties": {
        "attributes": {
          "type": "object",
          "description": "Attributes for the traits supported by the device.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "type": {
          "type": "string",
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."
        },
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "structureHint": {
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "otherDeviceIds": {
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "type": "array",
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview)."
        },
        "traits": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "notificationSupportedByAgent": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices."
        },
        "name": {
          "description": "Names given to this device by your smart home Action.",
          "$ref": "DeviceNames"
        },
        "customData": {
          "type": "object",
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ReportStateAndNotificationRequest": {
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, or both. States and notifications are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, } } } ```",
      "id": "ReportStateAndNotificationRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier per event (for example, a doorbell press)."
        },
        "followUpToken": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        }
      }
    },
    "QueryRequestInput": {
      "id": "QueryRequestInput",
      "type": "object",
      "properties": {
        "payload": {
          "$ref": "QueryRequestPayload",
          "description": "Payload containing third-party device IDs."
        }
      },
      "description": "Device ID inputs to QueryRequest."
    },
    "ReportStateAndNotificationDevice": {
      "id": "ReportStateAndNotificationDevice",
      "type": "object",
      "properties": {
        "states": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object"
        },
        "notifications": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object"
        }
      },
      "description": "The states and notifications specific to a device."
    },
    "DeviceNames": {
      "id": "DeviceNames",
      "type": "object",
      "properties": {
        "defaultNames": {
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nicknames": {
          "items": {
            "type": "string"
          },
          "description": "Additional names provided by the user for the device.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names."
        }
      },
      "description": "Identifiers used to describe the device."
    },
    "StateAndNotificationPayload": {
      "id": "StateAndNotificationPayload",
      "type": "object",
      "properties": {
        "devices": {
          "$ref": "ReportStateAndNotificationDevice",
          "description": "The devices for updating state and sending notifications."
        }
      },
      "description": "Payload containing the state and notification information for devices."
    },
    "AgentDeviceId": {
      "description": "Third-party device ID for one device.",
      "id": "AgentDeviceId",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        }
      }
    },
    "QueryRequestPayload": {
      "description": "Payload containing device IDs.",
      "id": "QueryRequestPayload",
      "type": "object",
      "properties": {
        "devices": {
          "items": {
            "$ref": "AgentDeviceId"
          },
          "description": "Third-party device IDs for which to get the device states.",
          "type": "array"
        }
      }
    },
    "SyncRequest": {
      "id": "SyncRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call."
    },
    "DeviceInfo": {
      "id": "DeviceInfo",
      "type": "object",
      "properties": {
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        },
        "model": {
          "type": "string",
          "description": "Device model."
        },
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        }
      },
      "description": "Device information."
    },
    "AgentOtherDeviceId": {
      "description": "Alternate third-party device ID.",
      "id": "AgentOtherDeviceId",
      "type": "object",
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Project ID for your smart home Action."
        },
        "deviceId": {
          "type": "string",
          "description": "Unique third-party device ID."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "QueryRequest": {
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "id": "QueryRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "inputs": {
          "items": {
            "$ref": "QueryRequestInput"
          },
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "type": "array"
        }
      }
    },
    "SyncResponse": {
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "id": "SyncResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        },
        "payload": {
          "$ref": "SyncResponsePayload",
          "description": "Devices associated with the third-party user."
        }
      }
    },
    "RequestSyncDevicesRequest": {
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "id": "RequestSyncDevicesRequest",
      "type": "object",
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "async": {
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
          "type": "boolean"
        }
      }
    }
  },
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started"
}