{
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "revision": "20260414",
  "canonicalName": "Home Graph Service",
  "title": "HomeGraph API",
  "version": "v1",
  "batchPath": "batch",
  "description": "",
  "basePath": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://homegraph.googleapis.com/",
  "resources": {
    "devices": {
      "methods": {
        "query": {
          "response": {
            "$ref": "QueryResponse"
          },
          "parameterOrder": [],
          "path": "v1/devices:query",
          "request": {
            "$ref": "QueryRequest"
          },
          "id": "homegraph.devices.query",
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {},
          "flatPath": "v1/devices:query",
          "httpMethod": "POST"
        },
        "sync": {
          "id": "homegraph.devices.sync",
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {},
          "flatPath": "v1/devices:sync",
          "httpMethod": "POST",
          "response": {
            "$ref": "SyncResponse"
          },
          "parameterOrder": [],
          "path": "v1/devices:sync",
          "request": {
            "$ref": "SyncRequest"
          }
        },
        "reportStateAndNotification": {
          "parameterOrder": [],
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "path": "v1/devices:reportStateAndNotification",
          "id": "homegraph.devices.reportStateAndNotification",
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "flatPath": "v1/devices:reportStateAndNotification",
          "httpMethod": "POST"
        },
        "requestSync": {
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "parameterOrder": [],
          "path": "v1/devices:requestSync",
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {},
          "id": "homegraph.devices.requestSync",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "flatPath": "v1/devices:requestSync"
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "parameters": {
            "agentUserId": {
              "description": "Required. Third-party user ID.",
              "required": true,
              "location": "path",
              "pattern": "^agentUsers/.*$",
              "type": "string"
            },
            "requestId": {
              "location": "query",
              "description": "Request ID used for debugging.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "id": "homegraph.agentUsers.delete",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "DELETE",
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "parameterOrder": [
            "agentUserId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+agentUserId}"
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "version_module": true,
  "servicePath": "",
  "schemas": {
    "AgentOtherDeviceId": {
      "properties": {
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        },
        "deviceId": {
          "description": "Unique third-party device ID.",
          "type": "string"
        }
      },
      "id": "AgentOtherDeviceId",
      "description": "Alternate third-party device ID.",
      "type": "object"
    },
    "ComponentTraitUpdates": {
      "id": "ComponentTraitUpdates",
      "description": "Contains the set of updates for a component.",
      "type": "object",
      "properties": {
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "traitData": {
          "description": "Required. The updated trait data for the component.",
          "type": "array",
          "items": {
            "$ref": "TraitData"
          }
        }
      }
    },
    "SyncRequest": {
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "id": "SyncRequest",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "type": "object"
    },
    "QueryResponse": {
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "$ref": "QueryResponsePayload",
          "description": "Device states for the devices given in the request."
        }
      },
      "id": "QueryResponse",
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "type": "object"
    },
    "AgentDeviceId": {
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "id": "AgentDeviceId",
      "description": "Third-party device ID for one device.",
      "type": "object"
    },
    "HomeEvents": {
      "id": "HomeEvents",
      "description": "Contains the set of events for an item.",
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "Required. / Unique identifier for the device.",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "Events"
          },
          "description": "Required. List of events for the item.",
          "type": "array"
        }
      }
    },
    "DeviceNames": {
      "id": "DeviceNames",
      "description": "Identifiers used to describe the device.",
      "type": "object",
      "properties": {
        "nicknames": {
          "items": {
            "type": "string"
          },
          "description": "Additional names provided by the user for the device.",
          "type": "array"
        },
        "defaultNames": {
          "items": {
            "type": "string"
          },
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "type": "array"
        },
        "name": {
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names.",
          "type": "string"
        }
      }
    },
    "QueryRequestInput": {
      "id": "QueryRequestInput",
      "description": "Device ID inputs to QueryRequest.",
      "type": "object",
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      }
    },
    "EventData": {
      "id": "EventData",
      "description": "Contains the details for a single event.",
      "type": "object",
      "properties": {
        "eventId": {
          "description": "Required. The unique event ID from the device provider.",
          "type": "string"
        },
        "eventTime": {
          "description": "Required. The timestamp of the event.",
          "type": "string",
          "format": "google-datetime"
        },
        "event": {
          "description": "Required. The actual event payload.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "SyncResponsePayload": {
      "properties": {
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        },
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "description": "Devices associated with the third-party user.",
          "type": "array"
        }
      },
      "id": "SyncResponsePayload",
      "description": "Payload containing device information.",
      "type": "object"
    },
    "ReportStateAndNotificationDevice": {
      "id": "ReportStateAndNotificationDevice",
      "description": "The states and notifications specific to a device.",
      "type": "object",
      "properties": {
        "states": {
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "homeTraits": {
          "items": {
            "$ref": "HomeTraitUpdates"
          },
          "description": "Optional. UDDM/WHDM trait updates.",
          "type": "array"
        },
        "homeEvents": {
          "items": {
            "$ref": "HomeEvents"
          },
          "description": "Optional. UDDM/WHDM trait events",
          "type": "array"
        },
        "notifications": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object"
        }
      }
    },
    "StateAndNotificationPayload": {
      "id": "StateAndNotificationPayload",
      "description": "Payload containing the state and notification information for devices.",
      "type": "object",
      "properties": {
        "devices": {
          "$ref": "ReportStateAndNotificationDevice",
          "description": "The devices for updating state and sending notifications."
        }
      }
    },
    "TraitData": {
      "properties": {
        "trait": {
          "description": "Optional. The Home API trait payload.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "TraitData",
      "description": "Contains the trait payload for a single trait.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "HomeTraitUpdates": {
      "properties": {
        "deviceId": {
          "description": "Required. Unique identifier for the device.",
          "type": "string"
        },
        "components": {
          "items": {
            "$ref": "ComponentTraitUpdates"
          },
          "description": "Required. Trait updates for each component.",
          "type": "array"
        }
      },
      "id": "HomeTraitUpdates",
      "description": "Contains the set of updates for a device.",
      "type": "object"
    },
    "SyncResponse": {
      "properties": {
        "payload": {
          "$ref": "SyncResponsePayload",
          "description": "Devices associated with the third-party user."
        },
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        }
      },
      "id": "SyncResponse",
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "type": "object"
    },
    "RequestSyncDevicesResponse": {
      "properties": {},
      "id": "RequestSyncDevicesResponse",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
      "type": "object"
    },
    "QueryResponsePayload": {
      "id": "QueryResponsePayload",
      "description": "Payload containing device states information.",
      "type": "object",
      "properties": {
        "devices": {
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "type": "object",
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          }
        }
      }
    },
    "Events": {
      "id": "Events",
      "description": "Contains a set of events for a specific component.",
      "type": "object",
      "properties": {
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "EventData"
          },
          "description": "Required. List of events associated with the component.",
          "type": "array"
        }
      }
    },
    "QueryRequest": {
      "properties": {
        "inputs": {
          "items": {
            "$ref": "QueryRequestInput"
          },
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "type": "array"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "id": "QueryRequest",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "type": "object"
    },
    "RequestSyncDevicesRequest": {
      "id": "RequestSyncDevicesRequest",
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "type": "object",
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "async": {
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
          "type": "boolean"
        }
      }
    },
    "ReportStateAndNotificationResponse": {
      "id": "ReportStateAndNotificationResponse",
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID copied from ReportStateAndNotificationRequest.",
          "type": "string"
        }
      }
    },
    "ReportStateAndNotificationRequest": {
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "payload": {
          "$ref": "StateAndNotificationPayload",
          "description": "Required. State of devices to update and notification metadata for devices."
        },
        "followUpToken": {
          "description": "Deprecated.",
          "deprecated": true,
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "eventId": {
          "description": "Unique identifier per event (for example, a doorbell press).",
          "type": "string"
        }
      },
      "id": "ReportStateAndNotificationRequest",
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, or both. States and notifications are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, } } } ```",
      "type": "object"
    },
    "QueryRequestPayload": {
      "properties": {
        "devices": {
          "description": "Third-party device IDs for which to get the device states.",
          "type": "array",
          "items": {
            "$ref": "AgentDeviceId"
          }
        }
      },
      "id": "QueryRequestPayload",
      "description": "Payload containing device IDs.",
      "type": "object"
    },
    "Device": {
      "id": "Device",
      "description": "Third-party device definition.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        },
        "structureHint": {
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "otherDeviceIds": {
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview).",
          "type": "array",
          "items": {
            "$ref": "AgentOtherDeviceId"
          }
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "name": {
          "$ref": "DeviceNames",
          "description": "Names given to this device by your smart home Action."
        },
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "deviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Device manufacturer, model, hardware version, and software version."
        },
        "traits": {
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notificationSupportedByAgent": {
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
          "type": "boolean"
        },
        "attributes": {
          "description": "Attributes for the traits supported by the device.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "type": {
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides).",
          "type": "string"
        },
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        }
      }
    },
    "DeviceInfo": {
      "id": "DeviceInfo",
      "description": "Device information.",
      "type": "object",
      "properties": {
        "model": {
          "description": "Device model.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Device manufacturer.",
          "type": "string"
        },
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://homegraph.googleapis.com/",
  "name": "homegraph",
  "id": "homegraph:v1",
  "ownerName": "Google",
  "ownerDomain": "google.com"
}