{
  "mtlsRootUrl": "https://hypercomputecluster.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "description": "The Cluster Director API allows you to deploy, manage, and monitor clusters that run AI, ML, or HPC workloads.",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://hypercomputecluster.googleapis.com/",
  "canonicalName": "Hypercompute Cluster",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "LustreReference": {
      "description": "A reference to a [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance.",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "LustreReference",
      "type": "object"
    },
    "ComputeResource": {
      "id": "ComputeResource",
      "description": "A resource defining how virtual machines and accelerators should be provisioned for the cluster.",
      "properties": {
        "config": {
          "description": "Required. Immutable. Configuration for this compute resource, which describes how it should be created at runtime.",
          "$ref": "ComputeResourceConfig"
        }
      },
      "type": "object"
    },
    "DeletePartition": {
      "type": "object",
      "id": "DeletePartition",
      "description": "When set in OperationStep, indicates that a partition should be deleted.",
      "properties": {
        "partitions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the partition to delete",
          "readOnly": true
        }
      }
    },
    "NewNetworkConfig": {
      "id": "NewNetworkConfig",
      "description": "When set in a NetworkResourceConfig, indicates that a new network should be created.",
      "properties": {
        "network": {
          "description": "Required. Immutable. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Immutable. Description of the network. Maximum of 2048 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateLoginNode": {
      "description": "When set in OperationStep, indicates that a login node should be created.",
      "properties": {},
      "id": "CreateLoginNode",
      "type": "object"
    },
    "DeleteStorageBucket": {
      "type": "object",
      "description": "When set in OperationStep, indicates that Cloud Storage bucket should be deleted.",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Output only. Name of the bucket.",
          "readOnly": true
        }
      },
      "id": "DeleteStorageBucket"
    },
    "UpdateOrchestrator": {
      "type": "object",
      "id": "UpdateOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be updated.",
      "properties": {}
    },
    "NewSpotInstancesConfig": {
      "type": "object",
      "id": "NewSpotInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that [spot VM](https://cloud.google.com/compute/docs/instances/spot) instances should be created.",
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "terminationAction": {
          "description": "Optional. Termination action for the instance. If not specified, Compute Engine sets the termination action to DELETE.",
          "enumDescriptions": [
            "Not set.",
            "Compute Engine stops the Spot VM on preemption.",
            "Compute Engine deletes the Spot VM on preemption."
          ],
          "type": "string",
          "enum": [
            "TERMINATION_ACTION_UNSPECIFIED",
            "STOP",
            "DELETE"
          ]
        }
      }
    },
    "DeleteFilestoreInstance": {
      "type": "object",
      "id": "DeleteFilestoreInstance",
      "description": "When set in OperationStep, indicates that a Filestore instance should be deleted.",
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "NewOnDemandInstancesConfig": {
      "description": "When set in a ComputeResourceConfig, indicates that on-demand (i.e., using the standard provisioning model) VM instances should be created.",
      "properties": {
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        }
      },
      "id": "NewOnDemandInstancesConfig",
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "progress": {
          "description": "Output only. Progress of the operation.",
          "readOnly": true,
          "$ref": "OperationProgress"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "StorageResource": {
      "description": "A resource representing a form of persistent storage that is accessible to compute resources in the cluster.",
      "properties": {
        "filestore": {
          "$ref": "FilestoreReference",
          "description": "Output only. Reference to a Filestore instance. Populated if and only if the storage resource was configured to use Filestore.",
          "readOnly": true
        },
        "config": {
          "description": "Required. Immutable. Configuration for this storage resource, which describes how it should be created or imported. This field only controls how the storage resource is initially created or imported. Subsequent changes to the storage resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "StorageResourceConfig"
        },
        "bucket": {
          "$ref": "BucketReference",
          "description": "Output only. Reference to a Google Cloud Storage bucket. Populated if and only if the storage resource was configured to use Google Cloud Storage.",
          "readOnly": true
        },
        "lustre": {
          "$ref": "LustreReference",
          "description": "Output only. Reference to a Managed Lustre instance. Populated if and only if the storage resource was configured to use Managed Lustre.",
          "readOnly": true
        }
      },
      "id": "StorageResource",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "BucketReference": {
      "type": "object",
      "description": "A reference to a [Google Cloud Storage](https://cloud.google.com/storage) bucket.",
      "properties": {
        "bucket": {
          "description": "Output only. Name of the bucket.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "BucketReference"
    },
    "CreateStorageBucket": {
      "description": "When set in OperationStep, indicates that a new storage bucket should be created.",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Output only. Name of the bucket.",
          "readOnly": true
        }
      },
      "id": "CreateStorageBucket",
      "type": "object"
    },
    "DeleteNetwork": {
      "description": "When set in OperationStep, indicates network deletion step with the resource name.",
      "properties": {
        "network": {
          "description": "Output only. Name of the network to delete, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DeleteNetwork",
      "type": "object"
    },
    "CreateOrchestrator": {
      "type": "object",
      "description": "When set in OperationStep, indicates that an orchestrator should be created.",
      "properties": {},
      "id": "CreateOrchestrator"
    },
    "CreateNodeset": {
      "id": "CreateNodeset",
      "description": "When set in OperationStep, indicates that a nodeset should be created.",
      "properties": {
        "nodesets": {
          "type": "array",
          "description": "Output only. Name of the nodeset to create",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "NetworkResourceConfig": {
      "type": "object",
      "id": "NetworkResourceConfig",
      "description": "Describes how a network resource should be initialized. Each network resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "properties": {
        "newNetwork": {
          "description": "Optional. Immutable. If set, indicates that a new network should be created.",
          "$ref": "NewNetworkConfig"
        },
        "existingNetwork": {
          "description": "Optional. Immutable. If set, indicates that an existing network should be imported.",
          "$ref": "ExistingNetworkConfig"
        }
      }
    },
    "GcsHierarchicalNamespaceConfig": {
      "description": "Message describing Google Cloud Storage hierarchical namespace configuration",
      "properties": {
        "enabled": {
          "description": "Required. Enables hierarchical namespace setup for the bucket.",
          "type": "boolean"
        }
      },
      "id": "GcsHierarchicalNamespaceConfig",
      "type": "object"
    },
    "StorageResourceConfig": {
      "type": "object",
      "description": "Describes how a storage resource should be initialized. Each storage resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "properties": {
        "newBucket": {
          "description": "Optional. Immutable. If set, indicates that a new Cloud Storage bucket should be created.",
          "$ref": "NewBucketConfig"
        },
        "existingLustre": {
          "description": "Optional. Immutable. If set, indicates that an existing Managed Lustre instance should be imported.",
          "$ref": "ExistingLustreConfig"
        },
        "newLustre": {
          "description": "Optional. Immutable. If set, indicates that a new Managed Lustre instance should be created.",
          "$ref": "NewLustreConfig"
        },
        "existingFilestore": {
          "description": "Optional. Immutable. If set, indicates that an existing Filestore instance should be imported.",
          "$ref": "ExistingFilestoreConfig"
        },
        "existingBucket": {
          "description": "Optional. Immutable. If set, indicates that an existing Cloud Storage bucket should be imported.",
          "$ref": "ExistingBucketConfig"
        },
        "newFilestore": {
          "description": "Optional. Immutable. If set, indicates that a new Filestore instance should be created.",
          "$ref": "NewFilestoreConfig"
        }
      },
      "id": "StorageResourceConfig"
    },
    "NewFilestoreConfig": {
      "type": "object",
      "description": "When set in a StorageResourceConfig, indicates that a new [Filestore](https://cloud.google.com/filestore) instance should be created.",
      "properties": {
        "description": {
          "description": "Optional. Immutable. Description of the instance. Maximum of 2048 characters.",
          "type": "string"
        },
        "filestore": {
          "description": "Required. Immutable. Name of the Filestore instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        },
        "tier": {
          "description": "Required. Immutable. Service tier to use for the instance.",
          "enumDescriptions": [
            "Not set.",
            "Offers expanded capacity and performance scaling capabilities suitable for high-performance computing application requirements.",
            "Offers features and availability needed for mission-critical, high-performance computing workloads."
          ],
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "NFSV3",
            "NFSV41"
          ],
          "description": "Optional. Immutable. Access protocol to use for all file shares in the instance. Defaults to NFS V3 if not set.",
          "enumDescriptions": [
            "Not set.",
            "NFS 3.0.",
            "NFS 4.1."
          ]
        },
        "fileShares": {
          "type": "array",
          "description": "Required. Immutable. File system shares on the instance. Exactly one file share must be specified.",
          "items": {
            "$ref": "FileShareConfig"
          }
        }
      },
      "id": "NewFilestoreConfig"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "DeleteOrchestrator": {
      "type": "object",
      "id": "DeleteOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be deleted.",
      "properties": {}
    },
    "FileShareConfig": {
      "description": "Message describing filestore configuration",
      "properties": {
        "fileShare": {
          "description": "Required. Filestore share location",
          "type": "string"
        },
        "capacityGb": {
          "type": "string",
          "description": "Required. Size of the filestore in GB. Must be between 1024 and 102400, and must meet scalability requirements described at https://cloud.google.com/filestore/docs/service-tiers.",
          "format": "int64"
        }
      },
      "id": "FileShareConfig",
      "type": "object"
    },
    "GcsAutoclassConfig": {
      "type": "object",
      "description": "Message describing Google Cloud Storage autoclass configuration",
      "properties": {
        "enabled": {
          "description": "Required. Enables Auto-class feature.",
          "type": "boolean"
        },
        "terminalStorageClass": {
          "enumDescriptions": [
            "Unspecified terminal storage class"
          ],
          "description": "Optional. Terminal storage class of the autoclass bucket",
          "type": "string",
          "enum": [
            "TERMINAL_STORAGE_CLASS_UNSPECIFIED"
          ]
        }
      },
      "id": "GcsAutoclassConfig"
    },
    "FilestoreReference": {
      "description": "A reference to a [Filestore](https://cloud.google.com/filestore) instance.",
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "FilestoreReference",
      "type": "object"
    },
    "CreateNetwork": {
      "id": "CreateNetwork",
      "description": "When set in OperationStep, indicates that a new network should be created.",
      "properties": {
        "network": {
          "type": "string",
          "description": "Output only. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SlurmPartition": {
      "id": "SlurmPartition",
      "description": "Configuration for Slurm partitions in the cluster. Partitions are groups of nodesets, and are how clients specify where their workloads should be run.",
      "properties": {
        "nodeSetIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. IDs of the nodesets that make up this partition. Values must match SlurmNodeSet.id.",
          "type": "array"
        },
        "id": {
          "description": "Required. ID of the partition, which is how users will identify it. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateLustreInstance": {
      "description": "When set in OperationStep, indicates that a new lustre instance should be created.",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "CreateLustreInstance",
      "type": "object"
    },
    "BootDisk": {
      "type": "object",
      "id": "BootDisk",
      "description": "A [Persistent disk](https://cloud.google.com/compute/docs/disks) used as the boot disk for a Compute Engine VM instance.",
      "properties": {
        "type": {
          "description": "Required. Immutable. [Persistent disk type](https://cloud.google.com/compute/docs/disks#disk-types), in the format `projects/{project}/zones/{zone}/diskTypes/{disk_type}`.",
          "type": "string"
        },
        "sizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. Size of the disk in gigabytes. Must be at least 10GB."
        }
      }
    },
    "CreatePartition": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a partition should be created.",
      "properties": {
        "partitions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the partition to create",
          "readOnly": true
        }
      },
      "id": "CreatePartition"
    },
    "ComputeResourceConfig": {
      "type": "object",
      "id": "ComputeResourceConfig",
      "description": "Describes how a compute resource should be created at runtime.",
      "properties": {
        "newOnDemandInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use on-demand VMs.",
          "$ref": "NewOnDemandInstancesConfig"
        },
        "newSpotInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use spot VMs.",
          "$ref": "NewSpotInstancesConfig"
        },
        "newReservedInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use reserved VMs.",
          "$ref": "NewReservedInstancesConfig"
        },
        "newFlexStartInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use flex-start VMs.",
          "$ref": "NewFlexStartInstancesConfig"
        }
      }
    },
    "Orchestrator": {
      "type": "object",
      "description": "The component responsible for scheduling and running workloads on the cluster as well as providing the user interface for interacting with the cluster at runtime.",
      "properties": {
        "slurm": {
          "description": "Optional. If set, indicates that the cluster should use Slurm as the orchestrator.",
          "$ref": "SlurmOrchestrator"
        }
      },
      "id": "Orchestrator"
    },
    "Cluster": {
      "type": "object",
      "id": "Cluster",
      "description": "A collection of virtual machines and connected resources forming a high-performance computing cluster capable of running large-scale, tightly coupled workloads. A cluster combines a set a compute resources that perform computations, storage resources that contain inputs and store outputs, an orchestrator that is responsible for assigning jobs to compute resources, and network resources that connect everything together.",
      "properties": {
        "name": {
          "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description of the cluster. Maximum of 2048 characters.",
          "type": "string"
        },
        "storageResources": {
          "description": "Optional. Storage resources available to the cluster. Keys specify the ID of the storage resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "additionalProperties": {
            "$ref": "StorageResource"
          },
          "type": "object"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Indicates whether changes to the cluster are currently in flight. If this is `true`, then the current state might not match the cluster's intended state.",
          "readOnly": true
        },
        "computeResources": {
          "type": "object",
          "description": "Optional. Compute resources available to the cluster. Keys specify the ID of the compute resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "additionalProperties": {
            "$ref": "ComputeResource"
          }
        },
        "networkResources": {
          "type": "object",
          "description": "Optional. Network resources available to the cluster. Must contain exactly one value. Keys specify the ID of the network resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "additionalProperties": {
            "$ref": "NetworkResource"
          }
        },
        "labels": {
          "type": "object",
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) applied to the cluster. Labels can be used to organize clusters and to filter them in queries.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time that the cluster was originally created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time that the cluster was most recently updated.",
          "readOnly": true
        },
        "orchestrator": {
          "description": "Optional. Orchestrator that is responsible for scheduling and running jobs on the cluster.",
          "$ref": "Orchestrator"
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "NetworkReference": {
      "type": "object",
      "description": "A reference to a [VPC network](https://cloud.google.com/vpc/docs/vpc) in Google Compute Engine.",
      "properties": {
        "subnetwork": {
          "description": "Output only. Name of the particular subnetwork being used by the cluster, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "readOnly": true,
          "type": "string"
        },
        "network": {
          "description": "Output only. Name of the network, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "NetworkReference"
    },
    "NewLustreConfig": {
      "type": "object",
      "id": "NewLustreConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be created.",
      "properties": {
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        },
        "perUnitStorageThroughput": {
          "type": "string",
          "description": "Optional. Immutable. Throughput of the instance in MB/s/TiB. Valid values are 125, 250, 500, 1000. See [Performance tiers and maximum storage capacities](https://cloud.google.com/managed-lustre/docs/create-instance#performance-tiers) for more information.",
          "format": "int64"
        },
        "description": {
          "description": "Optional. Immutable. Description of the Managed Lustre instance. Maximum of 2048 characters.",
          "type": "string"
        },
        "capacityGb": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. Storage capacity of the instance in gibibytes (GiB). Allowed values are between 18000 and 7632000."
        },
        "filesystem": {
          "description": "Required. Immutable. Filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be 8 characters or less and can only contain letters and numbers.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "NewFlexStartInstancesConfig": {
      "type": "object",
      "id": "NewFlexStartInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created using [Flex Start](https://cloud.google.com/compute/docs/instances/provisioning-models).",
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "maxDuration": {
          "format": "google-duration",
          "description": "Required. Immutable. Specifies the time limit for created instances. Instances will be terminated at the end of this duration.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        }
      }
    },
    "OperationProgress": {
      "id": "OperationProgress",
      "description": "Message describing the progress of a cluster mutation long-running operation.",
      "properties": {
        "steps": {
          "type": "array",
          "items": {
            "$ref": "OperationStep"
          },
          "description": "Output only. Steps and status of the operation.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SlurmLoginNodes": {
      "type": "object",
      "description": "Configuration for Slurm [login nodes](https://slurm.schedmd.com/quickstart_admin.html#login) in the cluster. Login nodes are Compute Engine VM instances that allow users to access the cluster over SSH.",
      "properties": {
        "enablePublicIps": {
          "description": "Optional. Whether login node instances should be assigned [external IP addresses](https://cloud.google.com/compute/docs/ip-addresses#externaladdresses).",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each login node instance.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "startupScript": {
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each login node instance. Max 256KB. The script must complete within the system-defined default timeout of 5 minutes. For tasks that require more time, consider running them in the background using methods such as `&` or `nohup`.",
          "type": "string"
        },
        "enableOsLogin": {
          "description": "Optional. Whether [OS Login](https://cloud.google.com/compute/docs/oslogin) should be enabled on login node instances.",
          "type": "boolean"
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "ComputeInstance"
          },
          "description": "Output only. Information about the login node instances that were created in Compute Engine.",
          "readOnly": true
        },
        "machineType": {
          "description": "Required. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use for login nodes, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "storageConfigs": {
          "type": "array",
          "description": "Optional. How storage resources should be mounted on each login node.",
          "items": {
            "$ref": "StorageConfig"
          }
        },
        "bootDisk": {
          "description": "Optional. Boot disk for the login node.",
          "$ref": "BootDisk"
        },
        "count": {
          "format": "int64",
          "description": "Required. Number of login node instances to create.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Name of the zone in which login nodes should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        }
      },
      "id": "SlurmLoginNodes"
    },
    "DeleteLoginNode": {
      "description": "When set in OperationStep, indicates that a login node should be deleted.",
      "properties": {},
      "id": "DeleteLoginNode",
      "type": "object"
    },
    "OperationStep": {
      "id": "OperationStep",
      "description": "Message describing the status of a single step in a cluster mutation long-running operation.",
      "properties": {
        "deleteLoginNode": {
          "description": "Output only. If set, indicates that login node deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteLoginNode"
        },
        "createStorageBucket": {
          "$ref": "CreateStorageBucket",
          "description": "Output only. If set, indicates that new Cloud Storage bucket creation is part of the operation.",
          "readOnly": true
        },
        "updateLoginNode": {
          "description": "Output only. If set, indicates that login node update is part of the operation.",
          "readOnly": true,
          "$ref": "UpdateLoginNode"
        },
        "deleteNodeset": {
          "description": "Output only. If set, indicates that nodeset deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteNodeset"
        },
        "deletePartition": {
          "description": "Output only. If set, indicates that partition deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeletePartition"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Initial state before step execution starts.",
            "Step execution is running in progress.",
            "Step execution is completed."
          ],
          "description": "Output only. State of the operation step.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "IN_PROGRESS",
            "DONE"
          ]
        },
        "deleteOrchestrator": {
          "$ref": "DeleteOrchestrator",
          "description": "Output only. If set, indicates that orchestrator deletion is part of the operation.",
          "readOnly": true
        },
        "deleteStorageBucket": {
          "description": "Output only. If set, indicates that Cloud Storage bucket deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteStorageBucket"
        },
        "createNodeset": {
          "$ref": "CreateNodeset",
          "description": "Output only. If set, indicates that new nodeset creation is part of the operation.",
          "readOnly": true
        },
        "checkClusterHealth": {
          "$ref": "CheckClusterHealth",
          "description": "Output only. If set, indicates that cluster health check is part of the operation.",
          "readOnly": true
        },
        "createPartition": {
          "$ref": "CreatePartition",
          "description": "Output only. If set, indicates that new partition creation is part of the operation.",
          "readOnly": true
        },
        "updatePartition": {
          "$ref": "UpdatePartition",
          "description": "Output only. If set, indicates that partition update is part of the operation.",
          "readOnly": true
        },
        "deleteLustreInstance": {
          "description": "Output only. If set, indicates that Lustre instance deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteLustreInstance"
        },
        "createPrivateServiceAccess": {
          "$ref": "CreatePrivateServiceAccess",
          "description": "Output only. If set, indicates that new private service access creation is part of the operation.",
          "readOnly": true
        },
        "deleteNetwork": {
          "description": "Output only. If set, indicates that network deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteNetwork"
        },
        "createNetwork": {
          "description": "Output only. If set, indicates that new network creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateNetwork"
        },
        "createOrchestrator": {
          "description": "Output only. If set, indicates that orchestrator creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateOrchestrator"
        },
        "deleteFilestoreInstance": {
          "description": "Output only. If set, indicates that Filestore instance deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteFilestoreInstance"
        },
        "updateNodeset": {
          "$ref": "UpdateNodeset",
          "description": "Output only. If set, indicates that nodeset update is part of the operation.",
          "readOnly": true
        },
        "createLustreInstance": {
          "$ref": "CreateLustreInstance",
          "description": "Output only. If set, indicates that new Lustre instance creation is part of the operation.",
          "readOnly": true
        },
        "createLoginNode": {
          "description": "Output only. If set, indicates that new login node creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateLoginNode"
        },
        "deletePrivateServiceAccess": {
          "description": "Output only. If set, indicates that private service access deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeletePrivateServiceAccess"
        },
        "createFilestoreInstance": {
          "description": "Output only. If set, indicates that new Filestore instance creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateFilestoreInstance"
        },
        "updateOrchestrator": {
          "$ref": "UpdateOrchestrator",
          "description": "Output only. If set, indicates that an orchestrator update is part of the operation.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CreateFilestoreInstance": {
      "description": "When set in OperationStep, indicates that a new filestore instance should be created.",
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true
        }
      },
      "id": "CreateFilestoreInstance",
      "type": "object"
    },
    "DeleteNodeset": {
      "type": "object",
      "id": "DeleteNodeset",
      "description": "When set in OperationStep, indicates that a nodeset should be deleted.",
      "properties": {
        "nodesets": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the nodeset to delete",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "ListClustersResponse": {
      "type": "object",
      "description": "Response message for ListClusters.",
      "properties": {
        "clusters": {
          "description": "Clusters in the specified location.",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is absent, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListClustersResponse"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "ExistingLustreConfig": {
      "type": "object",
      "id": "ExistingLustreConfig",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be imported.",
      "properties": {
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      }
    },
    "ExistingNetworkConfig": {
      "type": "object",
      "id": "ExistingNetworkConfig",
      "description": "When set in a NetworkResourceConfig, indicates that an existing network should be imported.",
      "properties": {
        "subnetwork": {
          "description": "Required. Immutable. Particular subnetwork to use, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "type": "string"
        },
        "network": {
          "description": "Required. Immutable. Name of the network to import, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        }
      }
    },
    "UpdatePartition": {
      "type": "object",
      "id": "UpdatePartition",
      "description": "When set in OperationStep, indicates that a partition should be updated.",
      "properties": {
        "partitions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the partition to update",
          "readOnly": true
        }
      }
    },
    "NewBucketConfig": {
      "type": "object",
      "id": "NewBucketConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Google Cloud Storage](https://cloud.google.com/storage) bucket should be created.",
      "properties": {
        "hierarchicalNamespace": {
          "description": "Optional. Immutable. If set, indicates that the bucket should use [hierarchical namespaces](https://cloud.google.com/storage/docs/hns-overview).",
          "$ref": "GcsHierarchicalNamespaceConfig"
        },
        "storageClass": {
          "type": "string",
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE"
          ],
          "description": "Optional. Immutable. If set, uses the provided storage class as the bucket's default storage class.",
          "enumDescriptions": [
            "Not set.",
            "Best for data that is frequently accessed.",
            "Low-cost storage for data that is accessed less frequently.",
            "Very low-cost storage for infrequently accessed data.",
            "Lowest-cost storage for data archiving, online backup, and disaster recovery."
          ]
        },
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to create.",
          "type": "string"
        },
        "autoclass": {
          "description": "Optional. Immutable. If set, indicates that the bucket should use [Autoclass](https://cloud.google.com/storage/docs/autoclass).",
          "$ref": "GcsAutoclassConfig"
        }
      }
    },
    "CreatePrivateServiceAccess": {
      "id": "CreatePrivateServiceAccess",
      "description": "When set in OperationStep, indicates that a new private service access should be created.",
      "properties": {},
      "type": "object"
    },
    "DeleteLustreInstance": {
      "id": "DeleteLustreInstance",
      "description": "When set in OperationStep, indicates that a Lustre instance should be deleted.",
      "properties": {
        "lustre": {
          "type": "string",
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SlurmNodeSet": {
      "description": "Configuration for Slurm nodesets in the cluster. Nodesets are groups of compute nodes used by Slurm that are responsible for running workloads submitted to the cluster.",
      "properties": {
        "id": {
          "description": "Required. Identifier for the nodeset, which allows it to be referenced by partitions. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "string"
        },
        "computeId": {
          "description": "Required. ID of the compute resource on which this nodeset will run. Must match a key in the cluster's compute_resources.",
          "type": "string"
        },
        "storageConfigs": {
          "type": "array",
          "items": {
            "$ref": "StorageConfig"
          },
          "description": "Optional. How storage resources should be mounted on each compute node."
        },
        "computeInstance": {
          "description": "Optional. If set, indicates that the nodeset should be backed by Compute Engine instances.",
          "$ref": "ComputeInstanceSlurmNodeSet"
        },
        "staticNodeCount": {
          "description": "Optional. Number of nodes to be statically created for this nodeset. The cluster will attempt to ensure that at least this many nodes exist at all times.",
          "format": "int64",
          "type": "string"
        },
        "maxDynamicNodeCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Controls how many additional nodes a cluster can bring online to handle workloads. Set this value to enable dynamic node creation and limit the number of additional nodes the cluster can bring online. Leave empty if you do not want the cluster to create nodes dynamically, and instead rely only on static nodes."
        }
      },
      "id": "SlurmNodeSet",
      "type": "object"
    },
    "ComputeInstance": {
      "description": "Details about a Compute Engine [instance](https://cloud.google.com/compute/docs/instances).",
      "properties": {
        "instance": {
          "description": "Output only. Name of the VM instance, in the format `projects/{project}/zones/{zone}/instances/{instance}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ComputeInstance",
      "type": "object"
    },
    "CheckClusterHealth": {
      "description": "When set in OperationStep, indicates that cluster health check should be performed.",
      "properties": {},
      "id": "CheckClusterHealth",
      "type": "object"
    },
    "SlurmOrchestrator": {
      "type": "object",
      "id": "SlurmOrchestrator",
      "description": "When set in Orchestrator, indicates that the cluster should use [Slurm](https://slurm.schedmd.com/) as the orchestrator.",
      "properties": {
        "prologBashScripts": {
          "description": "Optional. Slurm [prolog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes before a node begins running a new job. Values must not be empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "epilogBashScripts": {
          "type": "array",
          "description": "Optional. Slurm [epilog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes whenever a node finishes running a job. Values must not be empty.",
          "items": {
            "type": "string"
          }
        },
        "partitions": {
          "type": "array",
          "description": "Optional. Configuration for the Slurm partitions in your cluster. Each partition can contain one or more nodesets, and you can submit separate jobs on each partition. If you don't specify at least one partition in your cluster, you can't submit jobs to the cluster.",
          "items": {
            "$ref": "SlurmPartition"
          }
        },
        "loginNodes": {
          "description": "Required. Configuration for login nodes, which allow users to access the cluster over SSH.",
          "$ref": "SlurmLoginNodes"
        },
        "defaultPartition": {
          "description": "Optional. Default partition to use for submitted jobs that do not explicitly specify a partition. Required if and only if there is more than one partition, in which case it must match the id of one of the partitions.",
          "type": "string"
        },
        "nodeSets": {
          "type": "array",
          "description": "Optional. Compute resource configuration for the Slurm nodesets in your cluster. If not specified, the cluster won't create any nodes.",
          "items": {
            "$ref": "SlurmNodeSet"
          }
        }
      }
    },
    "NewReservedInstancesConfig": {
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created from a [reservation](https://cloud.google.com/compute/docs/instances/reservations-overview).",
      "properties": {
        "reservation": {
          "description": "Optional. Immutable. Name of the reservation from which VM instances should be created, in the format `projects/{project}/zones/{zone}/reservations/{reservation}`.",
          "type": "string"
        }
      },
      "id": "NewReservedInstancesConfig",
      "type": "object"
    },
    "NetworkResource": {
      "id": "NetworkResource",
      "description": "A resource representing a network that connects the various components of a cluster together.",
      "properties": {
        "config": {
          "description": "Immutable. Configuration for this network resource, which describes how it should be created or imported. This field only controls how the network resource is initially created or imported. Subsequent changes to the network resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "NetworkResourceConfig"
        },
        "network": {
          "description": "Output only. Reference to a network in Google Compute Engine.",
          "readOnly": true,
          "$ref": "NetworkReference"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExistingBucketConfig": {
      "description": "When set in a StorageResourceConfig, indicates that an existing [Google Cloud Storage](https://cloud.google.com/storage) bucket should be imported.",
      "properties": {
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to import.",
          "type": "string"
        }
      },
      "id": "ExistingBucketConfig",
      "type": "object"
    },
    "ComputeInstanceSlurmNodeSet": {
      "id": "ComputeInstanceSlurmNodeSet",
      "description": "When set in a SlurmNodeSet, indicates that the nodeset should be backed by Compute Engine VM instances.",
      "properties": {
        "startupScript": {
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each VM instance in the nodeset. Max 256KB.",
          "type": "string"
        },
        "bootDisk": {
          "description": "Optional. Boot disk for the compute instance",
          "$ref": "BootDisk"
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each VM instance in the nodeset.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "UpdateLoginNode": {
      "description": "When set in OperationStep, indicates that a login node should be updated.",
      "properties": {},
      "id": "UpdateLoginNode",
      "type": "object"
    },
    "StorageConfig": {
      "description": "Description of how a storage resource should be mounted on a VM instance.",
      "properties": {
        "id": {
          "description": "Required. ID of the storage resource to mount, which must match a key in the cluster's storage_resources.",
          "type": "string"
        },
        "localMount": {
          "description": "Required. A directory inside the VM instance's file system where the storage resource should be mounted (e.g., `/mnt/share`).",
          "type": "string"
        }
      },
      "id": "StorageConfig",
      "type": "object"
    },
    "ExistingFilestoreConfig": {
      "description": "When set in a StorageResourceConfig, indicates that an existing [Filestore](https://cloud.google.com/filestore) instance should be imported.",
      "properties": {
        "filestore": {
          "description": "Required. Immutable. Name of the Filestore instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "id": "ExistingFilestoreConfig",
      "type": "object"
    },
    "DeletePrivateServiceAccess": {
      "id": "DeletePrivateServiceAccess",
      "description": "When set in OperationStep, indicates private service access deletion step.",
      "properties": {},
      "type": "object"
    },
    "UpdateNodeset": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a nodeset should be updated.",
      "properties": {
        "nodesets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the nodeset to update",
          "readOnly": true
        }
      },
      "id": "UpdateNodeset"
    }
  },
  "basePath": "",
  "revision": "20260422",
  "id": "hypercomputecluster:v1",
  "parameters": {
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "version_module": true,
  "baseUrl": "https://hypercomputecluster.googleapis.com/",
  "version": "v1",
  "documentationLink": "https://docs.cloud.google.com/cluster-director/docs",
  "title": "Cluster Director API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "hypercomputecluster",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "hypercomputecluster.projects.locations.operations.list"
                },
                "cancel": {
                  "id": "hypercomputecluster.projects.locations.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "hypercomputecluster.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "hypercomputecluster.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE"
                }
              }
            },
            "clusters": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "Cluster"
                  },
                  "description": "Updates the parameters of a single Cluster.",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. Mask specifying which fields in the cluster to update. All paths must be specified explicitly - wildcards are not supported. At least one path must be provided.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "description": "Gets details of a single Cluster.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the cluster to retrieve, in the format `projects/{project}/locations/{location}/clusters/{cluster}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Cluster"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "hypercomputecluster.projects.locations.clusters.list",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent location of the clusters to list, in the format `projects/{project}/locations/{location}`."
                    },
                    "orderBy": {
                      "description": "Optional. How to order the resulting clusters. Must be one of the following strings: * `name` * `name desc` * `create_time` * `create_time desc` If not specified, clusters will be returned in an arbitrary order.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of clusters to return. The service may return fewer than this value."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token."
                    },
                    "filter": {
                      "description": "Optional. [Filter](https://google.aip.dev/160) to apply to the returned results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/clusters",
                  "httpMethod": "GET",
                  "description": "Lists Clusters in a given project and location."
                },
                "delete": {
                  "description": "Deletes a single Cluster.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    },
                    "name": {
                      "description": "Required. Name of the cluster to delete, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "hypercomputecluster.projects.locations.clusters.delete"
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "clusterId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the cluster to create. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent location in which the cluster should be created, in the format `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/clusters",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "description": "Creates a new Cluster in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "hypercomputecluster.projects.locations.clusters.create"
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "id": "hypercomputecluster.projects.locations.list"
            },
            "get": {
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "id": "hypercomputecluster.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "servicePath": ""
}