{
  "discoveryVersion": "v1",
  "id": "iamcredentials:v1",
  "mtlsRootUrl": "https://iamcredentials.mtls.googleapis.com/",
  "description": "Creates short-lived credentials for impersonating IAM service accounts. Disabling this API also disables the IAM API (iam.googleapis.com). However, enabling this API doesn't enable the IAM API. ",
  "revision": "20260402",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "canonicalName": "IAM Credentials",
  "resources": {
    "locations": {
      "resources": {
        "workforcePools": {
          "methods": {
            "getAllowedLocations": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "WorkforcePoolAllowedLocations"
              },
              "path": "v1/{+name}/allowedLocations",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+/workforcePools/[^/]+$",
                  "description": "Required. Resource name of workforce pool. Format: `locations/global/workforcePools/{pool_id}`"
                }
              },
              "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/allowedLocations",
              "httpMethod": "GET",
              "description": "Returns the trust boundary info for a given workforce pool.",
              "id": "iamcredentials.locations.workforcePools.getAllowedLocations"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "serviceAccounts": {
          "methods": {
            "generateAccessToken": {
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:generateAccessToken",
              "httpMethod": "POST",
              "response": {
                "$ref": "GenerateAccessTokenResponse"
              },
              "path": "v1/{+name}:generateAccessToken",
              "id": "iamcredentials.projects.serviceAccounts.generateAccessToken",
              "request": {
                "$ref": "GenerateAccessTokenRequest"
              },
              "description": "Generates an OAuth 2.0 access token for a service account.",
              "parameterOrder": [
                "name"
              ]
            },
            "generateIdToken": {
              "parameterOrder": [
                "name"
              ],
              "description": "Generates an OpenID Connect ID token for a service account.",
              "id": "iamcredentials.projects.serviceAccounts.generateIdToken",
              "request": {
                "$ref": "GenerateIdTokenRequest"
              },
              "response": {
                "$ref": "GenerateIdTokenResponse"
              },
              "path": "v1/{+name}:generateIdToken",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:generateIdToken",
              "httpMethod": "POST"
            },
            "signJwt": {
              "parameterOrder": [
                "name"
              ],
              "description": "Signs a JWT using a service account's system-managed private key.",
              "id": "iamcredentials.projects.serviceAccounts.signJwt",
              "request": {
                "$ref": "SignJwtRequest"
              },
              "response": {
                "$ref": "SignJwtResponse"
              },
              "path": "v1/{+name}:signJwt",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signJwt",
              "httpMethod": "POST"
            },
            "getAllowedLocations": {
              "id": "iamcredentials.projects.serviceAccounts.getAllowedLocations",
              "description": "Returns the trust boundary info for a given service account.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of service account. Format: `projects/-/serviceAccounts/{service_account_email}`",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/allowedLocations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ServiceAccountAllowedLocations"
              },
              "path": "v1/{+name}/allowedLocations"
            },
            "signBlob": {
              "parameterOrder": [
                "name"
              ],
              "description": "Signs a blob using a service account's system-managed private key.",
              "id": "iamcredentials.projects.serviceAccounts.signBlob",
              "request": {
                "$ref": "SignBlobRequest"
              },
              "path": "v1/{+name}:signBlob",
              "response": {
                "$ref": "SignBlobResponse"
              },
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signBlob",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "workloadIdentityPools": {
              "methods": {
                "getAllowedLocations": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "description": "Required. Resource name of workload identity pool. Format: `projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}`"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/allowedLocations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WorkloadIdentityPoolAllowedLocations"
                  },
                  "path": "v1/{+name}/allowedLocations",
                  "id": "iamcredentials.projects.locations.workloadIdentityPools.getAllowedLocations",
                  "description": "Returns the trust boundary info for a given workload identity pool."
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "version_module": true,
  "servicePath": "",
  "kind": "discovery#restDescription",
  "rootUrl": "https://iamcredentials.googleapis.com/",
  "protocol": "rest",
  "baseUrl": "https://iamcredentials.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "IAM Service Account Credentials API",
  "documentationLink": "https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials",
  "ownerName": "Google",
  "endpoints": [
    {
      "location": "asia-east1",
      "endpointUrl": "https://iamcredentials.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://iamcredentials.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://iamcredentials.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://iamcredentials.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://iamcredentials.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://iamcredentials.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    }
  ],
  "name": "iamcredentials",
  "schemas": {
    "WorkloadIdentityPoolAllowedLocations": {
      "type": "object",
      "description": "Represents a list of allowed locations for given workload identity pool.",
      "properties": {
        "locations": {
          "description": "Output only. The human readable trust boundary locations. For example, [\"us-central1\", \"europe-west1\"]",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "encodedLocations": {
          "description": "Output only. The hex encoded bitmap of the trust boundary locations",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "WorkloadIdentityPoolAllowedLocations"
    },
    "GenerateAccessTokenRequest": {
      "type": "object",
      "id": "GenerateAccessTokenRequest",
      "properties": {
        "delegates": {
          "description": "The sequence of service accounts in a delegation chain. This field is required for [delegated requests](https://cloud.google.com/iam/help/credentials/delegated-request). For [direct requests](https://cloud.google.com/iam/help/credentials/direct-request), which are more common, do not specify this field. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scope": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Code to identify the scopes to be included in the OAuth 2.0 access token. See https://developers.google.com/identity/protocols/googlescopes for more information. At least one value required."
        },
        "lifetime": {
          "type": "string",
          "description": "The desired lifetime duration of the access token in seconds. By default, the maximum allowed value is 1 hour. To set a lifetime of up to 12 hours, you can add the service account as an allowed value in an Organization Policy that enforces the `constraints/iam.allowServiceAccountCredentialLifetimeExtension` constraint. See detailed instructions at https://cloud.google.com/iam/help/credentials/lifetime If a value is not specified, the token's lifetime will be set to a default value of 1 hour.",
          "format": "google-duration"
        }
      }
    },
    "GenerateAccessTokenResponse": {
      "properties": {
        "accessToken": {
          "type": "string",
          "description": "The OAuth 2.0 access token."
        },
        "expireTime": {
          "type": "string",
          "description": "Token expiration time. The expiration time is always set.",
          "format": "google-datetime"
        }
      },
      "id": "GenerateAccessTokenResponse",
      "type": "object"
    },
    "WorkforcePoolAllowedLocations": {
      "description": "Represents a list of allowed locations for given workforce pool.",
      "type": "object",
      "id": "WorkforcePoolAllowedLocations",
      "properties": {
        "locations": {
          "description": "Output only. The human readable trust boundary locations. For example, [\"us-central1\", \"europe-west1\"]",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "encodedLocations": {
          "description": "Output only. The hex encoded bitmap of the trust boundary locations",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GenerateIdTokenRequest": {
      "type": "object",
      "id": "GenerateIdTokenRequest",
      "properties": {
        "includeEmail": {
          "type": "boolean",
          "description": "Include the service account email in the token. If set to `true`, the token will contain `email` and `email_verified` claims."
        },
        "audience": {
          "type": "string",
          "description": "Required. The audience for the token, such as the API or account that this token grants access to."
        },
        "delegates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid."
        },
        "organizationNumberIncluded": {
          "type": "boolean",
          "description": "Include the organization number of the service account in the token. If set to `true`, the token will contain a `google.organization_number` claim. The value of the claim will be `null` if the service account isn't associated with an organization."
        }
      }
    },
    "SignBlobRequest": {
      "id": "SignBlobRequest",
      "properties": {
        "delegates": {
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "payload": {
          "type": "string",
          "description": "Required. The bytes to sign.",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "ServiceAccountAllowedLocations": {
      "id": "ServiceAccountAllowedLocations",
      "properties": {
        "locations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The human readable trust boundary locations. For example, [\"us-central1\", \"europe-west1\"]"
        },
        "encodedLocations": {
          "description": "Output only. The hex encoded bitmap of the trust boundary locations",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a list of allowed locations for given service account.",
      "type": "object"
    },
    "GenerateIdTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The OpenId Connect ID token. The token is a JSON Web Token (JWT) that contains a payload with claims. See the [JSON Web Token spec](https://tools.ietf.org/html/rfc7519) for more information. Here is an example of a decoded JWT payload: ``` { \"iss\": \"https://accounts.google.com\", \"iat\": 1496953245, \"exp\": 1496953245, \"aud\": \"https://www.example.com\", \"sub\": \"107517467455664443765\", \"azp\": \"107517467455664443765\", \"email\": \"my-iam-account@my-project.iam.gserviceaccount.com\", \"email_verified\": true, \"google\": { \"organization_number\": 123456 } } ```"
        }
      },
      "id": "GenerateIdTokenResponse"
    },
    "SignJwtRequest": {
      "id": "SignJwtRequest",
      "properties": {
        "delegates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid."
        },
        "payload": {
          "type": "string",
          "description": "Required. The JWT payload to sign. Must be a serialized JSON object that contains a JWT Claims Set. For example: `{\"sub\": \"user@example.com\", \"iat\": 313435}` If the JWT Claims Set contains an expiration time (`exp`) claim, it must be an integer timestamp that is not in the past and no more than 12 hours in the future."
        }
      },
      "type": "object"
    },
    "SignJwtResponse": {
      "id": "SignJwtResponse",
      "properties": {
        "keyId": {
          "description": "The ID of the key used to sign the JWT. The key used for signing will remain valid for at least 12 hours after the JWT is signed. To verify the signature, you can retrieve the public key in several formats from the following endpoints: - RSA public key wrapped in an X.509 v3 certificate: `https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}` - Raw key in JSON format: `https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}` - JSON Web Key (JWK): `https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`",
          "type": "string"
        },
        "signedJwt": {
          "description": "The signed JWT. Contains the automatically generated header; the client-supplied payload; and the signature, which is generated using the key referenced by the `kid` field in the header. After the key pair referenced by the `key_id` response field expires, Google no longer exposes the public key that can be used to verify the JWT. As a result, the receiver can no longer verify the signature.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SignBlobResponse": {
      "properties": {
        "keyId": {
          "type": "string",
          "description": "The ID of the key used to sign the blob. The key used for signing will remain valid for at least 12 hours after the blob is signed. To verify the signature, you can retrieve the public key in several formats from the following endpoints: - RSA public key wrapped in an X.509 v3 certificate: `https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}` - Raw key in JSON format: `https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}` - JSON Web Key (JWK): `https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`"
        },
        "signedBlob": {
          "description": "The signature for the blob. Does not include the original blob. After the key pair referenced by the `key_id` response field expires, Google no longer exposes the public key that can be used to verify the blob. As a result, the receiver can no longer verify the signature.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "SignBlobResponse",
      "type": "object"
    }
  },
  "batchPath": "batch",
  "version": "v1"
}