{
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "ownerName": "Google",
  "name": "identitytoolkit",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "title": "Google Identity Toolkit API",
  "rootUrl": "https://www.googleapis.com/",
  "batchPath": "batch/identitytoolkit/v3",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "protocol": "rest",
  "id": "identitytoolkit:v3",
  "revision": "20180723",
  "version": "v3",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "resources": {
    "relyingparty": {
      "methods": {
        "uploadAccount": {
          "path": "uploadAccount",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "description": "Batch upload existing user accounts.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "httpMethod": "POST"
        },
        "verifyPassword": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "description": "Verifies the user entered password.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "verifyPassword",
          "response": {
            "$ref": "VerifyPasswordResponse"
          }
        },
        "getOobConfirmationCode": {
          "path": "getOobConfirmationCode",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "description": "Get a code for user action confirmation.",
          "httpMethod": "POST",
          "request": {
            "$ref": "Relyingparty"
          }
        },
        "emailLinkSignin": {
          "path": "emailLinkSignin",
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "description": "Reset password for a user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "httpMethod": "POST"
        },
        "getPublicKeys": {
          "path": "publicKeys",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "description": "Get token signing public key.",
          "httpMethod": "GET"
        },
        "getRecaptchaParam": {
          "path": "getRecaptchaParam",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "description": "Get recaptcha secure param.",
          "httpMethod": "GET"
        },
        "deleteAccount": {
          "path": "deleteAccount",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "description": "Delete user account.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "downloadAccount": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "description": "Batch download user accounts.",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "path": "downloadAccount",
          "response": {
            "$ref": "DownloadAccountResponse"
          }
        },
        "sendVerificationCode": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "description": "Send SMS verification code.",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "path": "sendVerificationCode",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          }
        },
        "signupNewUser": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "description": "Signup new user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "signupNewUser",
          "response": {
            "$ref": "SignupNewUserResponse"
          }
        },
        "createAuthUri": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "createAuthUri",
          "response": {
            "$ref": "CreateAuthUriResponse"
          }
        },
        "verifyCustomToken": {
          "path": "verifyCustomToken",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "description": "Verifies the developer asserted ID token."
        },
        "getProjectConfig": {
          "path": "getProjectConfig",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "description": "Get project configuration.",
          "parameters": {
            "delegatedProjectNumber": {
              "type": "string",
              "description": "Delegated GCP project number of the request.",
              "location": "query"
            },
            "projectNumber": {
              "location": "query",
              "type": "string",
              "description": "GCP project number of the request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET"
        },
        "verifyPhoneNumber": {
          "path": "verifyPhoneNumber",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly."
        },
        "getAccountInfo": {
          "path": "getAccountInfo",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "description": "Returns the account info.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "httpMethod": "POST"
        },
        "resetPassword": {
          "path": "resetPassword",
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.resetPassword",
          "description": "Reset password for a user."
        },
        "setAccountInfo": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "description": "Set account info for a user.",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "path": "setAccountInfo",
          "response": {
            "$ref": "SetAccountInfoResponse"
          }
        },
        "signOutUser": {
          "path": "signOutUser",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "id": "identitytoolkit.relyingparty.signOutUser",
          "description": "Sign out user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "httpMethod": "POST"
        },
        "verifyAssertion": {
          "path": "verifyAssertion",
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "description": "Verifies the assertion returned by the IdP."
        },
        "setProjectConfig": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "description": "Set project configuration.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "setProjectConfig",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          }
        }
      }
    }
  },
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "parameters": {
    "alt": {
      "description": "Data format for the response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "schemas": {
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "type": "object",
      "description": "Response of getting the project configuration.",
      "properties": {
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "idpConfig": {
          "type": "array",
          "description": "OAuth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains.",
          "items": {
            "type": "string"
          }
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled."
        }
      }
    },
    "SetAccountInfoResponse": {
      "properties": {
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "default": "identitytoolkit#SetAccountInfoResponse"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The user's profiles at the associated IdPs.",
          "items": {
            "type": "object",
            "properties": {
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              }
            }
          }
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        }
      },
      "id": "SetAccountInfoResponse",
      "type": "object",
      "description": "Respone of setting the account information."
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "properties": {
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "temporaryProofExpiresIn": {
          "format": "int64",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "phoneNumber": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "refreshToken": {
          "type": "string"
        },
        "localId": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-VerifyPhoneNumber"
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "type": "object",
      "description": "Request to get the account information.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "email": {
          "type": "array",
          "description": "The list of emails of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "localId": {
          "type": "array",
          "description": "The list of local ID's of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "phoneNumber": {
          "type": "array",
          "description": "Privileged caller can query users by specified phone number.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      },
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "type": "object",
      "description": "Response of setting the project configuration."
    },
    "Relyingparty": {
      "id": "Relyingparty",
      "type": "object",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "properties": {
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "continueUrl": {
          "type": "string",
          "description": "The url to continue to the Gitkit app"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "idToken": {
          "type": "string",
          "description": "The user's Gitkit login token for email change."
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "whether or not to install the android app on the device where the link is opened"
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email if the code is for email change."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#relyingparty\".",
          "default": "identitytoolkit#relyingparty"
        }
      }
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "properties": {
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful app token validation with APNS."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha solution."
        }
      },
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "type": "object",
      "description": "Request for Identitytoolkit-SendVerificationCode"
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether to disable the user. Only can be used by service account."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "localId": {
          "type": "string",
          "description": "Privileged caller can create user with specified user id."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth."
    },
    "ResetPasswordResponse": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "newEmail": {
          "type": "string",
          "description": "If the out-of-band code is for email recovery, the user's new email."
        },
        "kind": {
          "default": "identitytoolkit#ResetPasswordResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\"."
        }
      },
      "id": "ResetPasswordResponse",
      "type": "object",
      "description": "Response of resetting the password."
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "properties": {
        "maxResults": {
          "type": "integer",
          "description": "The max number of results to return in the response.",
          "format": "uint32"
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        }
      },
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "type": "object",
      "description": "Request to download user account in batch."
    },
    "DeleteAccountResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "default": "identitytoolkit#DeleteAccountResponse"
        }
      },
      "id": "DeleteAccountResponse",
      "type": "object",
      "description": "Respone of deleting account."
    },
    "GetRecaptchaParamResponse": {
      "properties": {
        "kind": {
          "default": "identitytoolkit#GetRecaptchaParamResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\"."
        },
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        }
      },
      "id": "GetRecaptchaParamResponse",
      "type": "object",
      "description": "Response of getting recaptcha param."
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "properties": {
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "type": "object",
      "description": "Request to verify a custom token"
    },
    "EmailLinkSigninResponse": {
      "properties": {
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        },
        "refreshToken": {
          "type": "string",
          "description": "The refresh token for the signed in user."
        },
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        },
        "expiresIn": {
          "type": "string",
          "description": "Expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "default": "identitytoolkit#EmailLinkSigninResponse"
        },
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        }
      },
      "id": "EmailLinkSigninResponse",
      "type": "object",
      "description": "Response of email signIn."
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "type": "object",
      "description": "Request to get the IDP authentication URL.",
      "properties": {
        "authFlowType": {
          "type": "string",
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant"
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        },
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "hostedDomain": {
          "type": "string",
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "oauthConsumerKey": {
          "type": "string",
          "description": "The developer's consumer key for OpenId OAuth Extension"
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "customParameter": {
          "type": "object",
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token.",
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          }
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "otaApp": {
          "type": "string",
          "description": "The native app package for OTA installation."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        }
      }
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "type": "object",
      "description": "Request to upload user account in batch.",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "signerKey": {
          "type": "string",
          "description": "The key for to hash the password.",
          "format": "byte"
        },
        "cpuMemCost": {
          "format": "int32",
          "type": "integer",
          "description": "The following 4 fields are for standard scrypt algorithm."
        },
        "users": {
          "type": "array",
          "description": "The account info to be stored.",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "memoryCost": {
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms.",
          "format": "int32"
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "saltSeparator": {
          "type": "string",
          "description": "The salt separator.",
          "format": "byte"
        },
        "rounds": {
          "type": "integer",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "format": "int32"
        },
        "dkLen": {
          "type": "integer",
          "format": "int32"
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account."
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "properties": {
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether to enable anonymous user."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "idpConfig": {
          "type": "array",
          "description": "Oauth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        }
      },
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "type": "object",
      "description": "Request to set the project configuration."
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "type": "object",
      "description": "Request to verify the IDP assertion.",
      "properties": {
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "requestUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        }
      }
    },
    "IdpConfig": {
      "id": "IdpConfig",
      "type": "object",
      "description": "Template for a single idp configuration.",
      "properties": {
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "whitelistedAudiences": {
          "type": "array",
          "description": "Whitelisted client IDs for audience check.",
          "items": {
            "type": "string"
          }
        },
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "experimentPercent": {
          "type": "integer",
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "format": "int32"
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        }
      }
    },
    "DownloadAccountResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "default": "identitytoolkit#DownloadAccountResponse"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. To be used in a subsequent request to return the next page of results."
        },
        "users": {
          "type": "array",
          "description": "The user accounts data.",
          "items": {
            "$ref": "UserInfo"
          }
        }
      },
      "id": "DownloadAccountResponse",
      "type": "object",
      "description": "Response of downloading accounts in batch."
    },
    "SignupNewUserResponse": {
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "default": "identitytoolkit#SignupNewUserResponse"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        }
      },
      "id": "SignupNewUserResponse",
      "type": "object",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth."
    },
    "GetOobConfirmationCodeResponse": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        },
        "kind": {
          "default": "identitytoolkit#GetOobConfirmationCodeResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\"."
        },
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        }
      },
      "id": "GetOobConfirmationCodeResponse",
      "type": "object",
      "description": "Response of getting a code for user confirmation (reset password, change email etc.)."
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "type": "object",
      "description": "Respone of getting public keys.",
      "additionalProperties": {
        "type": "string"
      }
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token or STS id token of the authenticated user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        }
      },
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "type": "object",
      "description": "Request to delete account."
    },
    "GetAccountInfoResponse": {
      "id": "GetAccountInfoResponse",
      "type": "object",
      "description": "Response of getting account information.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\".",
          "default": "identitytoolkit#GetAccountInfoResponse"
        },
        "users": {
          "type": "array",
          "description": "The info of the users.",
          "items": {
            "$ref": "UserInfo"
          }
        }
      }
    },
    "VerifyPasswordResponse": {
      "id": "VerifyPasswordResponse",
      "type": "object",
      "description": "Request of verifying the password.",
      "properties": {
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "kind": {
          "default": "identitytoolkit#VerifyPasswordResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\"."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        }
      }
    },
    "VerifyAssertionResponse": {
      "id": "VerifyAssertionResponse",
      "type": "object",
      "description": "Response of verifying the IDP assertion.",
      "properties": {
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "oauthScope": {
          "type": "string",
          "description": "The scope for the OpenID OAuth extension."
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "appInstallationUrl": {
          "type": "string",
          "description": "URL for OTA app installation."
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "It's true if the email is recycled."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth1 access token secret."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "screenName": {
          "type": "string",
          "description": "The screen_name of a Twitter user or the login name at Github."
        },
        "nickName": {
          "type": "string",
          "description": "The nick name of the user."
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email."
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The birth date of the IdP account."
        },
        "appScheme": {
          "type": "string",
          "description": "The custom scheme used by mobile app."
        },
        "verifiedProvider": {
          "type": "array",
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "default": "identitytoolkit#VerifyAssertionResponse"
        },
        "errorMessage": {
          "type": "string",
          "description": "Client error code."
        },
        "rawUserInfo": {
          "type": "string",
          "description": "Raw IDP-returned user info."
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the user."
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "type": "object",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        },
        "verificationProof": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        }
      }
    },
    "VerifyCustomTokenResponse": {
      "id": "VerifyCustomTokenResponse",
      "type": "object",
      "description": "Response from verifying a custom token",
      "properties": {
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\".",
          "default": "identitytoolkit#VerifyCustomTokenResponse"
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "type": "object",
      "description": "Request to sign out user."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      },
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-SendVerificationCode"
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "type": "object",
      "description": "Request to verify the password.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user."
        },
        "password": {
          "type": "string",
          "description": "The password inputed by the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "type": "object",
      "description": "Request to reset the password.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "oldPassword": {
          "type": "string",
          "description": "The old password inputted by the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        },
        "newPassword": {
          "type": "string",
          "description": "The new password inputted by the user."
        }
      }
    },
    "UploadAccountResponse": {
      "properties": {
        "error": {
          "type": "array",
          "description": "The error encountered while processing the account info.",
          "items": {
            "type": "object",
            "properties": {
              "index": {
                "type": "integer",
                "description": "The index of the malformed account, starting from 0.",
                "format": "int32"
              },
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              }
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\".",
          "default": "identitytoolkit#UploadAccountResponse"
        }
      },
      "id": "UploadAccountResponse",
      "type": "object",
      "description": "Respone of uploading accounts in batch."
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "properties": {
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not."
        },
        "provider": {
          "type": "array",
          "description": "The associated IDPs of the user.",
          "items": {
            "type": "string"
          }
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can update user with specified phone number."
        },
        "validSince": {
          "format": "int64",
          "type": "string",
          "description": "Timestamp in seconds for valid login token."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "deleteAttribute": {
          "type": "array",
          "description": "The attributes users request to delete.",
          "items": {
            "type": "string"
          }
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "lastLoginAt": {
          "type": "string",
          "description": "Last login timestamp.",
          "format": "int64"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "deleteProvider": {
          "type": "array",
          "description": "The IDPs the user request to delete.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp when the account is created."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "type": "object",
      "description": "Request to set the account information."
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "type": "object",
      "description": "Request to sign in with email.",
      "properties": {
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        }
      }
    },
    "UserInfo": {
      "properties": {
        "providerUserInfo": {
          "type": "array",
          "description": "The IDP of the user.",
          "items": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "phoneNumber": {
                "type": "string",
                "description": "User's phone number."
              },
              "screenName": {
                "type": "string",
                "description": "User's screen name at Twitter or login name at Github."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              }
            }
          }
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp when the password was last updated.",
          "format": "double"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "salt": {
          "format": "byte",
          "type": "string",
          "description": "The user's password salt."
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "createdAt": {
          "type": "string",
          "description": "User creation timestamp.",
          "format": "int64"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "lastLoginAt": {
          "type": "string",
          "description": "last login timestamp.",
          "format": "int64"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user is disabled."
        },
        "validSince": {
          "format": "int64",
          "type": "string",
          "description": "Timestamp in seconds for valid login token."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Version of the user's password."
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified."
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        }
      },
      "id": "UserInfo",
      "type": "object",
      "description": "Template for an individual account info."
    },
    "EmailTemplate": {
      "properties": {
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        },
        "body": {
          "type": "string",
          "description": "Email body."
        },
        "format": {
          "type": "string",
          "description": "Email body format."
        },
        "from": {
          "type": "string",
          "description": "From address of the email."
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name."
        }
      },
      "id": "EmailTemplate",
      "type": "object",
      "description": "Template for an email template."
    },
    "CreateAuthUriResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "default": "identitytoolkit#CreateAuthUriResponse"
        },
        "captchaRequired": {
          "type": "boolean",
          "description": "True if captcha is required."
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "allProviders": {
          "type": "array",
          "description": "all providers the user has once used to do federated login",
          "items": {
            "type": "string"
          }
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the user is registered if the identifier is an email."
        },
        "authUri": {
          "type": "string",
          "description": "The URI used by the IDP to authenticate the user."
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID which should be passed in the following verifyAssertion request."
        },
        "signinMethods": {
          "type": "array",
          "description": "All sign-in methods this user has used.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CreateAuthUriResponse",
      "type": "object",
      "description": "Response of creating the IDP authentication URL."
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "type": "object",
      "description": "Response of signing out user."
    }
  },
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "canonicalName": "Identity Toolkit",
  "description": "Help the third party sites to implement federated login."
}