{
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "description": "Help the third party sites to implement federated login.",
  "discoveryVersion": "v1",
  "revision": "20180723",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "identitytoolkit:v3",
  "name": "identitytoolkit",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "canonicalName": "Identity Toolkit",
  "kind": "discovery#restDescription",
  "batchPath": "batch/identitytoolkit/v3",
  "schemas": {
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "type": "object",
      "description": "Request to set the project configuration.",
      "properties": {
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether to enable anonymous user."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "idpConfig": {
          "type": "array",
          "description": "Oauth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        }
      }
    },
    "CreateAuthUriResponse": {
      "type": "object",
      "description": "Response of creating the IDP authentication URL.",
      "properties": {
        "registered": {
          "type": "boolean",
          "description": "Whether the user is registered if the identifier is an email."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID which should be passed in the following verifyAssertion request."
        },
        "authUri": {
          "type": "string",
          "description": "The URI used by the IDP to authenticate the user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "default": "identitytoolkit#CreateAuthUriResponse"
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "allProviders": {
          "type": "array",
          "description": "all providers the user has once used to do federated login",
          "items": {
            "type": "string"
          }
        },
        "captchaRequired": {
          "type": "boolean",
          "description": "True if captcha is required."
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        },
        "signinMethods": {
          "type": "array",
          "description": "All sign-in methods this user has used.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CreateAuthUriResponse"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "type": "object",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "idToken": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        },
        "temporaryProof": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        }
      }
    },
    "UserInfo": {
      "id": "UserInfo",
      "type": "object",
      "description": "Template for an individual account info.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "version": {
          "type": "integer",
          "description": "Version of the user's password.",
          "format": "int32"
        },
        "passwordHash": {
          "type": "string",
          "description": "The user's hashed password.",
          "format": "byte"
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The IDP of the user.",
          "items": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "screenName": {
                "type": "string",
                "description": "User's screen name at Twitter or login name at Github."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "phoneNumber": {
                "type": "string",
                "description": "User's phone number."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              }
            }
          }
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "salt": {
          "type": "string",
          "description": "The user's password salt.",
          "format": "byte"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user is disabled."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified."
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "createdAt": {
          "type": "string",
          "description": "User creation timestamp.",
          "format": "int64"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number."
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "lastLoginAt": {
          "type": "string",
          "description": "last login timestamp.",
          "format": "int64"
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp when the password was last updated.",
          "format": "double"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        }
      }
    },
    "GetRecaptchaParamResponse": {
      "properties": {
        "kind": {
          "default": "identitytoolkit#GetRecaptchaParamResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\"."
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        },
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        }
      },
      "type": "object",
      "description": "Response of getting recaptcha param.",
      "id": "GetRecaptchaParamResponse"
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        },
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful app token validation with APNS."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha solution."
        }
      },
      "type": "object",
      "description": "Request for Identitytoolkit-SendVerificationCode",
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
    },
    "ResetPasswordResponse": {
      "properties": {
        "kind": {
          "default": "identitytoolkit#ResetPasswordResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\"."
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        },
        "newEmail": {
          "type": "string",
          "description": "If the out-of-band code is for email recovery, the user's new email."
        }
      },
      "type": "object",
      "description": "Response of resetting the password.",
      "id": "ResetPasswordResponse"
    },
    "DeleteAccountResponse": {
      "id": "DeleteAccountResponse",
      "type": "object",
      "description": "Respone of deleting account.",
      "properties": {
        "kind": {
          "default": "identitytoolkit#DeleteAccountResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\"."
        }
      }
    },
    "VerifyCustomTokenResponse": {
      "properties": {
        "kind": {
          "default": "identitytoolkit#VerifyCustomTokenResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\"."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        }
      },
      "type": "object",
      "description": "Response from verifying a custom token",
      "id": "VerifyCustomTokenResponse"
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "type": "object",
      "description": "Request to download user account in batch.",
      "properties": {
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "maxResults": {
          "type": "integer",
          "description": "The max number of results to return in the response.",
          "format": "uint32"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        }
      }
    },
    "EmailLinkSigninResponse": {
      "id": "EmailLinkSigninResponse",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "expiresIn": {
          "type": "string",
          "description": "Expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        },
        "refreshToken": {
          "type": "string",
          "description": "The refresh token for the signed in user."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "default": "identitytoolkit#EmailLinkSigninResponse"
        },
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        }
      },
      "type": "object",
      "description": "Response of email signIn."
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "properties": {
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether to disable the user. Only can be used by service account."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "localId": {
          "type": "string",
          "description": "Privileged caller can create user with specified user id."
        }
      }
    },
    "Relyingparty": {
      "type": "object",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The user's Gitkit login token for email change."
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "whether or not to install the android app on the device where the link is opened"
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        },
        "continueUrl": {
          "type": "string",
          "description": "The url to continue to the Gitkit app"
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        },
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "kind": {
          "default": "identitytoolkit#relyingparty",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#relyingparty\"."
        },
        "newEmail": {
          "type": "string",
          "description": "The new email if the code is for email change."
        }
      },
      "id": "Relyingparty"
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "properties": {
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "users": {
          "type": "array",
          "description": "The account info to be stored.",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "rounds": {
          "type": "integer",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "format": "int32"
        },
        "memoryCost": {
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms.",
          "format": "int32"
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account."
        },
        "dkLen": {
          "type": "integer",
          "format": "int32"
        },
        "saltSeparator": {
          "type": "string",
          "description": "The salt separator.",
          "format": "byte"
        },
        "cpuMemCost": {
          "type": "integer",
          "description": "The following 4 fields are for standard scrypt algorithm.",
          "format": "int32"
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "signerKey": {
          "type": "string",
          "description": "The key for to hash the password.",
          "format": "byte"
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        }
      },
      "type": "object",
      "description": "Request to upload user account in batch."
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        },
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "otaApp": {
          "type": "string",
          "description": "The native app package for OTA installation."
        },
        "customParameter": {
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          },
          "type": "object",
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token."
        },
        "hostedDomain": {
          "type": "string",
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts."
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "oauthConsumerKey": {
          "type": "string",
          "description": "The developer's consumer key for OpenId OAuth Extension"
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant"
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "authFlowType": {
          "type": "string",
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider."
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        }
      },
      "type": "object",
      "description": "Request to get the IDP authentication URL.",
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token or STS id token of the authenticated user."
        }
      },
      "type": "object",
      "description": "Request to delete account.",
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
    },
    "SignupNewUserResponse": {
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "default": "identitytoolkit#SignupNewUserResponse"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        }
      },
      "type": "object",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "id": "SignupNewUserResponse"
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "properties": {
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "createdAt": {
          "type": "string",
          "description": "The timestamp when the account is created.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can update user with specified phone number."
        },
        "deleteProvider": {
          "type": "array",
          "description": "The IDPs the user request to delete.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "lastLoginAt": {
          "type": "string",
          "description": "Last login timestamp.",
          "format": "int64"
        },
        "deleteAttribute": {
          "type": "array",
          "description": "The attributes users request to delete.",
          "items": {
            "type": "string"
          }
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "provider": {
          "type": "array",
          "description": "The associated IDPs of the user.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Request to set the account information."
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "properties": {
        "requestUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        }
      },
      "type": "object",
      "description": "Request to verify the IDP assertion.",
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
    },
    "GetAccountInfoResponse": {
      "id": "GetAccountInfoResponse",
      "type": "object",
      "description": "Response of getting account information.",
      "properties": {
        "kind": {
          "default": "identitytoolkit#GetAccountInfoResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\"."
        },
        "users": {
          "type": "array",
          "description": "The info of the users.",
          "items": {
            "$ref": "UserInfo"
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "type": "object",
      "description": "Request to sign in with email.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        }
      },
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "type": "object",
      "description": "Response of setting the project configuration.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "properties": {
        "localId": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "refreshToken": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "temporaryProof": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "properties": {
        "oldPassword": {
          "type": "string",
          "description": "The old password inputted by the user."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "newPassword": {
          "type": "string",
          "description": "The new password inputted by the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        }
      },
      "type": "object",
      "description": "Request to reset the password."
    },
    "IdpConfig": {
      "id": "IdpConfig",
      "type": "object",
      "description": "Template for a single idp configuration.",
      "properties": {
        "whitelistedAudiences": {
          "type": "array",
          "description": "Whitelisted client IDs for audience check.",
          "items": {
            "type": "string"
          }
        },
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "experimentPercent": {
          "type": "integer",
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "format": "int32"
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        }
      }
    },
    "DownloadAccountResponse": {
      "id": "DownloadAccountResponse",
      "type": "object",
      "description": "Response of downloading accounts in batch.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "default": "identitytoolkit#DownloadAccountResponse"
        },
        "users": {
          "type": "array",
          "description": "The user accounts data.",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. To be used in a subsequent request to return the next page of results."
        }
      }
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "type": "object",
      "description": "Response of getting the project configuration.",
      "properties": {
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains.",
          "items": {
            "type": "string"
          }
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "idpConfig": {
          "type": "array",
          "description": "OAuth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        }
      }
    },
    "GetOobConfirmationCodeResponse": {
      "id": "GetOobConfirmationCodeResponse",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        },
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\".",
          "default": "identitytoolkit#GetOobConfirmationCodeResponse"
        }
      },
      "type": "object",
      "description": "Response of getting a code for user confirmation (reset password, change email etc.)."
    },
    "UploadAccountResponse": {
      "id": "UploadAccountResponse",
      "type": "object",
      "description": "Respone of uploading accounts in batch.",
      "properties": {
        "error": {
          "type": "array",
          "description": "The error encountered while processing the account info.",
          "items": {
            "type": "object",
            "properties": {
              "index": {
                "type": "integer",
                "description": "The index of the malformed account, starting from 0.",
                "format": "int32"
              },
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              }
            }
          }
        },
        "kind": {
          "default": "identitytoolkit#UploadAccountResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\"."
        }
      }
    },
    "EmailTemplate": {
      "type": "object",
      "description": "Template for an email template.",
      "properties": {
        "format": {
          "type": "string",
          "description": "Email body format."
        },
        "from": {
          "type": "string",
          "description": "From address of the email."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name."
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        },
        "body": {
          "type": "string",
          "description": "Email body."
        }
      },
      "id": "EmailTemplate"
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "type": "object",
      "description": "Request to sign out user.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest"
    },
    "VerifyAssertionResponse": {
      "properties": {
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation."
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email."
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "screenName": {
          "type": "string",
          "description": "The screen_name of a Twitter user or the login name at Github."
        },
        "verifiedProvider": {
          "type": "array",
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "items": {
            "type": "string"
          }
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the user."
        },
        "rawUserInfo": {
          "type": "string",
          "description": "Raw IDP-returned user info."
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "errorMessage": {
          "type": "string",
          "description": "Client error code."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "appScheme": {
          "type": "string",
          "description": "The custom scheme used by mobile app."
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "kind": {
          "default": "identitytoolkit#VerifyAssertionResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\"."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "It's true if the email is recycled."
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "appInstallationUrl": {
          "type": "string",
          "description": "URL for OTA app installation."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "nickName": {
          "type": "string",
          "description": "The nick name of the user."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The birth date of the IdP account."
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth1 access token secret."
        },
        "oauthScope": {
          "type": "string",
          "description": "The scope for the OpenID OAuth extension."
        }
      },
      "type": "object",
      "description": "Response of verifying the IDP assertion.",
      "id": "VerifyAssertionResponse"
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "type": "object",
      "description": "Request to get the account information.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "phoneNumber": {
          "type": "array",
          "description": "Privileged caller can query users by specified phone number.",
          "items": {
            "type": "string"
          }
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "email": {
          "type": "array",
          "description": "The list of emails of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "localId": {
          "type": "array",
          "description": "The list of local ID's of the users to inquiry.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "type": "object",
      "description": "Response of signing out user.",
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse"
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "type": "object",
      "description": "Respone of getting public keys.",
      "additionalProperties": {
        "type": "string"
      }
    },
    "SetAccountInfoResponse": {
      "id": "SetAccountInfoResponse",
      "properties": {
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "passwordHash": {
          "type": "string",
          "description": "The user's hashed password.",
          "format": "byte"
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The user's profiles at the associated IdPs.",
          "items": {
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              }
            },
            "type": "object"
          }
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "kind": {
          "default": "identitytoolkit#SetAccountInfoResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\"."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        }
      },
      "type": "object",
      "description": "Respone of setting the account information."
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "type": "object",
      "description": "Request to verify the password.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "password": {
          "type": "string",
          "description": "The password inputed by the user."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "type": "object",
      "description": "Request to verify a custom token",
      "properties": {
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        }
      }
    },
    "VerifyPasswordResponse": {
      "id": "VerifyPasswordResponse",
      "type": "object",
      "description": "Request of verifying the password.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "kind": {
          "default": "identitytoolkit#VerifyPasswordResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\"."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        }
      }
    }
  },
  "title": "Google Identity Toolkit API",
  "resources": {
    "relyingparty": {
      "methods": {
        "emailLinkSignin": {
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "httpMethod": "POST",
          "path": "emailLinkSignin",
          "description": "Reset password for a user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "verifyPassword": {
          "httpMethod": "POST",
          "path": "verifyPassword",
          "description": "Verifies the user entered password.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "response": {
            "$ref": "VerifyPasswordResponse"
          }
        },
        "getPublicKeys": {
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "httpMethod": "GET",
          "description": "Get token signing public key.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "publicKeys"
        },
        "setAccountInfo": {
          "description": "Set account info for a user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "setAccountInfo",
          "httpMethod": "POST",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "id": "identitytoolkit.relyingparty.setAccountInfo"
        },
        "verifyAssertion": {
          "path": "verifyAssertion",
          "description": "Verifies the assertion returned by the IdP.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "id": "identitytoolkit.relyingparty.verifyAssertion"
        },
        "verifyPhoneNumber": {
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "verifyPhoneNumber",
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber"
        },
        "setProjectConfig": {
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "httpMethod": "POST",
          "description": "Set project configuration.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "setProjectConfig"
        },
        "signupNewUser": {
          "path": "signupNewUser",
          "description": "Signup new user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "id": "identitytoolkit.relyingparty.signupNewUser"
        },
        "getAccountInfo": {
          "httpMethod": "POST",
          "description": "Returns the account info.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "getAccountInfo",
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          }
        },
        "verifyCustomToken": {
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "httpMethod": "POST",
          "description": "Verifies the developer asserted ID token.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "verifyCustomToken"
        },
        "uploadAccount": {
          "httpMethod": "POST",
          "description": "Batch upload existing user accounts.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "uploadAccount",
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          }
        },
        "deleteAccount": {
          "path": "deleteAccount",
          "description": "Delete user account.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.deleteAccount"
        },
        "getOobConfirmationCode": {
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "request": {
            "$ref": "Relyingparty"
          },
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "httpMethod": "POST",
          "path": "getOobConfirmationCode",
          "description": "Get a code for user action confirmation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "sendVerificationCode": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "path": "sendVerificationCode",
          "description": "Send SMS verification code.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "resetPassword": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "id": "identitytoolkit.relyingparty.resetPassword",
          "path": "resetPassword",
          "description": "Reset password for a user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "downloadAccount": {
          "description": "Batch download user accounts.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "downloadAccount",
          "httpMethod": "POST",
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "id": "identitytoolkit.relyingparty.downloadAccount"
        },
        "getRecaptchaParam": {
          "path": "getRecaptchaParam",
          "description": "Get recaptcha secure param.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "id": "identitytoolkit.relyingparty.getRecaptchaParam"
        },
        "signOutUser": {
          "id": "identitytoolkit.relyingparty.signOutUser",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "httpMethod": "POST",
          "description": "Sign out user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "signOutUser"
        },
        "createAuthUri": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "path": "createAuthUri",
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "getProjectConfig": {
          "parameters": {
            "delegatedProjectNumber": {
              "location": "query",
              "type": "string",
              "description": "Delegated GCP project number of the request."
            },
            "projectNumber": {
              "type": "string",
              "description": "GCP project number of the request.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "path": "getProjectConfig",
          "description": "Get project configuration.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "protocol": "rest",
  "rootUrl": "https://www.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "description": "Data format for the response.",
      "default": "json",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "version": "v3",
  "ownerDomain": "google.com"
}