{
  "name": "identitytoolkit",
  "id": "identitytoolkit:v3",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "protocol": "rest",
  "description": "Help the third party sites to implement federated login.",
  "batchPath": "batch/identitytoolkit/v3",
  "ownerDomain": "google.com",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "version": "v3",
  "parameters": {
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "title": "Google Identity Toolkit API",
  "schemas": {
    "CreateAuthUriResponse": {
      "description": "Response of creating the IDP authentication URL.",
      "id": "CreateAuthUriResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "type": "string",
          "default": "identitytoolkit#CreateAuthUriResponse"
        },
        "authUri": {
          "type": "string",
          "description": "The URI used by the IDP to authenticate the user."
        },
        "allProviders": {
          "type": "array",
          "description": "all providers the user has once used to do federated login",
          "items": {
            "type": "string"
          }
        },
        "captchaRequired": {
          "description": "True if captcha is required.",
          "type": "boolean"
        },
        "registered": {
          "description": "Whether the user is registered if the identifier is an email.",
          "type": "boolean"
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "signinMethods": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All sign-in methods this user has used."
        },
        "sessionId": {
          "description": "Session ID which should be passed in the following verifyAssertion request.",
          "type": "string"
        },
        "providerId": {
          "description": "The provider ID of the auth URI.",
          "type": "string"
        }
      }
    },
    "VerifyCustomTokenResponse": {
      "description": "Response from verifying a custom token",
      "id": "VerifyCustomTokenResponse",
      "type": "object",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "kind": {
          "default": "identitytoolkit#VerifyCustomTokenResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\"."
        }
      }
    },
    "Relyingparty": {
      "id": "Relyingparty",
      "type": "object",
      "properties": {
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "canHandleCodeInApp": {
          "description": "whether or not the app can handle the oob code without first going to web",
          "type": "boolean"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email if the code is for email change."
        },
        "androidInstallApp": {
          "description": "whether or not to install the android app on the device where the link is opened",
          "type": "boolean"
        },
        "requestType": {
          "description": "The request type.",
          "type": "string"
        },
        "androidPackageName": {
          "description": "android package name of the android app to handle the action code",
          "type": "string"
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        },
        "idToken": {
          "description": "The user's Gitkit login token for email change.",
          "type": "string"
        },
        "iOSBundleId": {
          "description": "the iOS bundle id of iOS app to handle the action code",
          "type": "string"
        },
        "continueUrl": {
          "description": "The url to continue to the Gitkit app",
          "type": "string"
        },
        "androidMinimumVersion": {
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app",
          "type": "string"
        },
        "kind": {
          "default": "identitytoolkit#relyingparty",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#relyingparty\"."
        }
      },
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)"
    },
    "EmailLinkSigninResponse": {
      "description": "Response of email signIn.",
      "id": "EmailLinkSigninResponse",
      "type": "object",
      "properties": {
        "isNewUser": {
          "description": "Whether the user is new.",
          "type": "boolean"
        },
        "email": {
          "description": "The user's email.",
          "type": "string"
        },
        "kind": {
          "default": "identitytoolkit#EmailLinkSigninResponse",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "The refresh token for the signed in user."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "Expiration time of STS id token in seconds."
        },
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "description": "Request to sign in with email.",
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        },
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        }
      }
    },
    "VerifyPasswordResponse": {
      "description": "Request of verifying the password.",
      "id": "VerifyPasswordResponse",
      "type": "object",
      "properties": {
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "photoUrl": {
          "description": "The URI of the user's photo at IdP",
          "type": "string"
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "registered": {
          "description": "Whether the email is registered.",
          "type": "boolean"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\".",
          "type": "string",
          "default": "identitytoolkit#VerifyPasswordResponse"
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "type": "object",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Privileged caller can create user with specified phone number.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "localId": {
          "description": "Privileged caller can create user with specified user id.",
          "type": "string"
        },
        "password": {
          "description": "The new password of the user.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "disabled": {
          "description": "Whether to disable the user. Only can be used by service account.",
          "type": "boolean"
        }
      },
      "description": "Request to signup new user, create anonymous user or anonymous user reauth."
    },
    "DownloadAccountResponse": {
      "id": "DownloadAccountResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. To be used in a subsequent request to return the next page of results."
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "description": "The user accounts data.",
          "type": "array"
        },
        "kind": {
          "default": "identitytoolkit#DownloadAccountResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\"."
        }
      },
      "description": "Response of downloading accounts in batch."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "description": "Request for Identitytoolkit-SendVerificationCode",
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "type": "object",
      "properties": {
        "iosSecret": {
          "description": "Secret delivered to iOS app via APNS.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful app token validation with APNS."
        },
        "recaptchaToken": {
          "description": "Recaptcha solution.",
          "type": "string"
        }
      }
    },
    "GetOobConfirmationCodeResponse": {
      "id": "GetOobConfirmationCodeResponse",
      "type": "object",
      "properties": {
        "kind": {
          "default": "identitytoolkit#GetOobConfirmationCodeResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\"."
        },
        "oobCode": {
          "description": "The code to be send to the user.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        }
      },
      "description": "Response of getting a code for user confirmation (reset password, change email etc.)."
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "description": "Request to delete account.",
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "idToken": {
          "description": "The GITKit token or STS id token of the authenticated user.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "description": "Response of setting the project configuration.",
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Project ID of the relying party.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "description": "Request to verify the password.",
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user."
        },
        "password": {
          "type": "string",
          "description": "The password inputed by the user."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        }
      }
    },
    "DeleteAccountResponse": {
      "id": "DeleteAccountResponse",
      "type": "object",
      "properties": {
        "kind": {
          "default": "identitytoolkit#DeleteAccountResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\"."
        }
      },
      "description": "Respone of deleting account."
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "type": "object",
      "properties": {
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        },
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "newPassword": {
          "description": "The new password inputted by the user.",
          "type": "string"
        },
        "oldPassword": {
          "description": "The old password inputted by the user.",
          "type": "string"
        }
      },
      "description": "Request to reset the password."
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "description": "Request to get the account information.",
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "localId": {
          "description": "The list of local ID's of the users to inquiry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "array",
          "description": "Privileged caller can query users by specified phone number.",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "type": "array",
          "description": "The list of emails of the users to inquiry.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SetAccountInfoResponse": {
      "id": "SetAccountInfoResponse",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "providerUserInfo": {
          "description": "The user's profiles at the associated IdPs.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "photoUrl": {
                "description": "The user's photo url at the IDP.",
                "type": "string"
              },
              "displayName": {
                "description": "The user's display name at the IDP.",
                "type": "string"
              },
              "providerId": {
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              },
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              }
            }
          }
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "emailVerified": {
          "description": "If email has been verified.",
          "type": "boolean"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "type": "string",
          "default": "identitytoolkit#SetAccountInfoResponse"
        }
      },
      "description": "Respone of setting the account information."
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "description": "Request to upload user account in batch.",
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "type": "object",
      "properties": {
        "sanityCheck": {
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account.",
          "type": "boolean"
        },
        "saltSeparator": {
          "format": "byte",
          "description": "The salt separator.",
          "type": "string"
        },
        "cpuMemCost": {
          "format": "int32",
          "description": "The following 4 fields are for standard scrypt algorithm.",
          "type": "integer"
        },
        "rounds": {
          "type": "integer",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "format": "int32"
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "dkLen": {
          "type": "integer",
          "format": "int32"
        },
        "signerKey": {
          "description": "The key for to hash the password.",
          "type": "string",
          "format": "byte"
        },
        "targetProjectId": {
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential.",
          "type": "string"
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "users": {
          "description": "The account info to be stored.",
          "type": "array",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "hashAlgorithm": {
          "description": "The password hash algorithm.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "memoryCost": {
          "format": "int32",
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms."
        },
        "allowOverwrite": {
          "description": "Whether allow overwrite existing account when user local_id exists.",
          "type": "boolean"
        }
      }
    },
    "UploadAccountResponse": {
      "description": "Respone of uploading accounts in batch.",
      "id": "UploadAccountResponse",
      "type": "object",
      "properties": {
        "kind": {
          "default": "identitytoolkit#UploadAccountResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\"."
        },
        "error": {
          "type": "array",
          "description": "The error encountered while processing the account info.",
          "items": {
            "type": "object",
            "properties": {
              "index": {
                "description": "The index of the malformed account, starting from 0.",
                "type": "integer",
                "format": "int32"
              },
              "message": {
                "description": "Detailed error message for the account info.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "type": "object",
      "properties": {
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains.",
          "items": {
            "type": "string"
          }
        },
        "verifyEmailTemplate": {
          "description": "Verify email template.",
          "$ref": "EmailTemplate"
        },
        "idpConfig": {
          "items": {
            "$ref": "IdpConfig"
          },
          "description": "OAuth2 provider configuration.",
          "type": "array"
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled.",
          "type": "boolean"
        },
        "changeEmailTemplate": {
          "description": "Change email template.",
          "$ref": "EmailTemplate"
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "apiKey": {
          "description": "Browser API key, needed when making http request to Apiary.",
          "type": "string"
        },
        "resetPasswordTemplate": {
          "description": "Reset password email template.",
          "$ref": "EmailTemplate"
        },
        "allowPasswordUser": {
          "description": "Whether to allow password user sign in or sign up.",
          "type": "boolean"
        },
        "legacyResetPasswordTemplate": {
          "description": "Legacy reset password email template.",
          "$ref": "EmailTemplate"
        }
      },
      "description": "Response of getting the project configuration."
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "type": "object",
      "properties": {
        "returnIdpCredential": {
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked.",
          "type": "boolean"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "requestUri": {
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "returnRefreshToken": {
          "description": "Whether to return refresh tokens.",
          "type": "boolean"
        },
        "autoCreate": {
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist.",
          "type": "boolean"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string",
          "format": "uint64"
        }
      },
      "description": "Request to verify the IDP assertion."
    },
    "ResetPasswordResponse": {
      "description": "Response of resetting the password.",
      "id": "ResetPasswordResponse",
      "type": "object",
      "properties": {
        "email": {
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email.",
          "type": "string"
        },
        "kind": {
          "default": "identitytoolkit#ResetPasswordResponse",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\".",
          "type": "string"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "newEmail": {
          "description": "If the out-of-band code is for email recovery, the user's new email.",
          "type": "string"
        }
      }
    },
    "IdpConfig": {
      "id": "IdpConfig",
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        },
        "whitelistedAudiences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Whitelisted client IDs for audience check."
        },
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "experimentPercent": {
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "type": "integer",
          "format": "int32"
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        }
      },
      "description": "Template for a single idp configuration."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "description": "Request to verify a custom token",
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "token": {
          "description": "The custom token to verify",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "description": "Respone of getting public keys."
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "type": "object",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "description": "Response of signing out user."
    },
    "GetAccountInfoResponse": {
      "description": "Response of getting account information.",
      "id": "GetAccountInfoResponse",
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "description": "The info of the users.",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\".",
          "type": "string",
          "default": "identitytoolkit#GetAccountInfoResponse"
        }
      }
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "type": "object",
      "properties": {
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can update user with specified phone number."
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "deleteProvider": {
          "items": {
            "type": "string"
          },
          "description": "The IDPs the user request to delete.",
          "type": "array"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "validSince": {
          "description": "Timestamp in seconds for valid login token.",
          "type": "string",
          "format": "int64"
        },
        "lastLoginAt": {
          "type": "string",
          "description": "Last login timestamp.",
          "format": "int64"
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "createdAt": {
          "description": "The timestamp when the account is created.",
          "type": "string",
          "format": "int64"
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "password": {
          "description": "The new password of the user.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Mark the email as verified or not.",
          "type": "boolean"
        },
        "deleteAttribute": {
          "type": "array",
          "description": "The attributes users request to delete.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "provider": {
          "type": "array",
          "description": "The associated IDPs of the user.",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        }
      },
      "description": "Request to set the account information."
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "type": "object",
      "properties": {
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "legacyResetPasswordTemplate": {
          "description": "Legacy reset password email template.",
          "$ref": "EmailTemplate"
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        },
        "verifyEmailTemplate": {
          "description": "Verify email template.",
          "$ref": "EmailTemplate"
        },
        "idpConfig": {
          "description": "Oauth2 provider configuration.",
          "type": "array",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user.",
          "type": "boolean"
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "resetPasswordTemplate": {
          "description": "Reset password email template.",
          "$ref": "EmailTemplate"
        }
      },
      "description": "Request to set the project configuration."
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        }
      }
    },
    "VerifyAssertionResponse": {
      "description": "Response of verifying the IDP assertion.",
      "id": "VerifyAssertionResponse",
      "type": "object",
      "properties": {
        "firstName": {
          "description": "The first name of the user.",
          "type": "string"
        },
        "language": {
          "description": "The language preference of the user.",
          "type": "string"
        },
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Client error code.",
          "type": "string"
        },
        "kind": {
          "default": "identitytoolkit#VerifyAssertionResponse",
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "type": "string"
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "screenName": {
          "description": "The screen_name of a Twitter user or the login name at Github.",
          "type": "string"
        },
        "appScheme": {
          "description": "The custom scheme used by mobile app.",
          "type": "string"
        },
        "emailRecycled": {
          "description": "It's true if the email is recycled.",
          "type": "boolean"
        },
        "needEmail": {
          "description": "Whether need client to supply email to complete the federated login flow.",
          "type": "boolean"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "oauthScope": {
          "type": "string",
          "description": "The scope for the OpenID OAuth extension."
        },
        "inputEmail": {
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email.",
          "type": "string"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "dateOfBirth": {
          "description": "The birth date of the IdP account.",
          "type": "string"
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned.",
          "type": "string"
        },
        "emailVerified": {
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email.",
          "type": "boolean"
        },
        "oauthTokenSecret": {
          "description": "The OAuth1 access token secret.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "nickName": {
          "description": "The nick name of the user.",
          "type": "string"
        },
        "verifiedProvider": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "When action is 'map', contains the idps which can be used for confirmation."
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation."
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "appInstallationUrl": {
          "description": "URL for OTA app installation.",
          "type": "string"
        },
        "action": {
          "description": "The action code.",
          "type": "string"
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        },
        "oauthExpireIn": {
          "format": "int32",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "type": "integer"
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "oauthRequestToken": {
          "description": "The user approved request token for the OpenID OAuth extension.",
          "type": "string"
        },
        "rawUserInfo": {
          "description": "Raw IDP-returned user info.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the user.",
          "type": "string"
        }
      }
    },
    "GetRecaptchaParamResponse": {
      "description": "Response of getting recaptcha param.",
      "id": "GetRecaptchaParamResponse",
      "type": "object",
      "properties": {
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "type": "string",
          "default": "identitytoolkit#GetRecaptchaParamResponse"
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        }
      }
    },
    "EmailTemplate": {
      "id": "EmailTemplate",
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "description": "Email body format."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        },
        "body": {
          "description": "Email body.",
          "type": "string"
        },
        "from": {
          "description": "From address of the email.",
          "type": "string"
        },
        "fromDisplayName": {
          "description": "From display name.",
          "type": "string"
        },
        "replyTo": {
          "description": "Reply-to address.",
          "type": "string"
        }
      },
      "description": "Template for an email template."
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "type": "object",
      "properties": {
        "localId": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "verificationProof": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "temporaryProof": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        }
      },
      "description": "Response for Identitytoolkit-VerifyPhoneNumber"
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "description": "Request to get the IDP authentication URL.",
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "type": "object",
      "properties": {
        "tenantProjectNumber": {
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string"
        },
        "oauthConsumerKey": {
          "description": "The developer's consumer key for OpenId OAuth Extension",
          "type": "string"
        },
        "appId": {
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS.",
          "type": "string"
        },
        "openidRealm": {
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set.",
          "type": "string"
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "otaApp": {
          "description": "The native app package for OTA installation.",
          "type": "string"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "context": {
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback.",
          "type": "string"
        },
        "hostedDomain": {
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts.",
          "type": "string"
        },
        "sessionId": {
          "description": "The session_id passed by client.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        },
        "clientId": {
          "description": "The relying party OAuth client ID.",
          "type": "string"
        },
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "authFlowType": {
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider.",
          "type": "string"
        },
        "customParameter": {
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          }
        },
        "oauthScope": {
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "type": "object",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      },
      "description": "Request to sign out user."
    },
    "SignupNewUserResponse": {
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "id": "SignupNewUserResponse",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "type": "string",
          "default": "identitytoolkit#SignupNewUserResponse"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "idToken": {
          "description": "The Gitkit id token to login the newly sign up user.",
          "type": "string"
        },
        "localId": {
          "description": "The RP local ID of the user.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        }
      }
    },
    "UserInfo": {
      "id": "UserInfo",
      "type": "object",
      "properties": {
        "createdAt": {
          "format": "int64",
          "description": "User creation timestamp.",
          "type": "string"
        },
        "lastLoginAt": {
          "description": "last login timestamp.",
          "type": "string",
          "format": "int64"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "passwordUpdatedAt": {
          "format": "double",
          "description": "The timestamp when the password was last updated.",
          "type": "number"
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "salt": {
          "type": "string",
          "description": "The user's password salt.",
          "format": "byte"
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "phoneNumber": {
          "description": "User's phone number.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The URL of the user profile photo.",
          "type": "string"
        },
        "providerUserInfo": {
          "items": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "phoneNumber": {
                "description": "User's phone number.",
                "type": "string"
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              },
              "displayName": {
                "description": "The user's display name at the IDP.",
                "type": "string"
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "screenName": {
                "type": "string",
                "description": "User's screen name at Twitter or login name at Github."
              }
            }
          },
          "description": "The IDP of the user.",
          "type": "array"
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "validSince": {
          "format": "int64",
          "description": "Timestamp in seconds for valid login token.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user is disabled."
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "version": {
          "description": "Version of the user's password.",
          "type": "integer",
          "format": "int32"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        }
      },
      "description": "Template for an individual account info."
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "description": "Request to download user account in batch.",
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "type": "object",
      "properties": {
        "maxResults": {
          "format": "uint32",
          "type": "integer",
          "description": "The max number of results to return in the response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        }
      }
    }
  },
  "resources": {
    "relyingparty": {
      "methods": {
        "createAuthUri": {
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "path": "createAuthUri",
          "httpMethod": "POST",
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          }
        },
        "verifyCustomToken": {
          "path": "verifyCustomToken",
          "httpMethod": "POST",
          "description": "Verifies the developer asserted ID token.",
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          }
        },
        "verifyPhoneNumber": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "verifyPhoneNumber",
          "httpMethod": "POST",
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          }
        },
        "downloadAccount": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "downloadAccount",
          "httpMethod": "POST",
          "description": "Batch download user accounts."
        },
        "deleteAccount": {
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "deleteAccount",
          "httpMethod": "POST",
          "description": "Delete user account.",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          }
        },
        "signupNewUser": {
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "signupNewUser",
          "httpMethod": "POST",
          "description": "Signup new user.",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          }
        },
        "getRecaptchaParam": {
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "path": "getRecaptchaParam",
          "httpMethod": "GET",
          "description": "Get recaptcha secure param.",
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "emailLinkSignin": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "path": "emailLinkSignin",
          "httpMethod": "POST",
          "description": "Reset password for a user.",
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "EmailLinkSigninResponse"
          }
        },
        "getProjectConfig": {
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "parameters": {
            "delegatedProjectNumber": {
              "description": "Delegated GCP project number of the request.",
              "location": "query",
              "type": "string"
            },
            "projectNumber": {
              "type": "string",
              "description": "GCP project number of the request.",
              "location": "query"
            }
          },
          "path": "getProjectConfig",
          "httpMethod": "GET",
          "description": "Get project configuration.",
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setProjectConfig": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "path": "setProjectConfig",
          "httpMethod": "POST",
          "description": "Set project configuration.",
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          }
        },
        "sendVerificationCode": {
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "sendVerificationCode",
          "httpMethod": "POST",
          "description": "Send SMS verification code.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          }
        },
        "uploadAccount": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "uploadAccount",
          "httpMethod": "POST",
          "description": "Batch upload existing user accounts."
        },
        "getPublicKeys": {
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "publicKeys",
          "httpMethod": "GET",
          "description": "Get token signing public key.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          }
        },
        "verifyPassword": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "verifyPassword",
          "httpMethod": "POST",
          "description": "Verifies the user entered password.",
          "response": {
            "$ref": "VerifyPasswordResponse"
          }
        },
        "getOobConfirmationCode": {
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "path": "getOobConfirmationCode",
          "httpMethod": "POST",
          "description": "Get a code for user action confirmation.",
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Relyingparty"
          }
        },
        "resetPassword": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "id": "identitytoolkit.relyingparty.resetPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "resetPassword",
          "httpMethod": "POST",
          "description": "Reset password for a user."
        },
        "signOutUser": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "path": "signOutUser",
          "httpMethod": "POST",
          "description": "Sign out user.",
          "id": "identitytoolkit.relyingparty.signOutUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getAccountInfo": {
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "path": "getAccountInfo",
          "httpMethod": "POST",
          "description": "Returns the account info.",
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          }
        },
        "verifyAssertion": {
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "path": "verifyAssertion",
          "httpMethod": "POST",
          "description": "Verifies the assertion returned by the IdP.",
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          }
        },
        "setAccountInfo": {
          "path": "setAccountInfo",
          "httpMethod": "POST",
          "description": "Set account info for a user.",
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          }
        }
      }
    }
  },
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "kind": "discovery#restDescription",
  "canonicalName": "Identity Toolkit",
  "rootUrl": "https://www.googleapis.com/",
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "revision": "20180723"
}