{
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "identitytoolkit:v3",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "canonicalName": "Identity Toolkit",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "name": "identitytoolkit",
  "discoveryVersion": "v1",
  "rootUrl": "https://www.googleapis.com/",
  "version": "v3",
  "ownerDomain": "google.com",
  "revision": "20180723",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "protocol": "rest",
  "description": "Help the third party sites to implement federated login.",
  "batchPath": "batch/identitytoolkit/v3",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "relyingparty": {
      "methods": {
        "emailLinkSignin": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Reset password for a user.",
          "path": "emailLinkSignin",
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "response": {
            "$ref": "EmailLinkSigninResponse"
          }
        },
        "getProjectConfig": {
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "path": "getProjectConfig",
          "parameters": {
            "projectNumber": {
              "description": "GCP project number of the request.",
              "type": "string",
              "location": "query"
            },
            "delegatedProjectNumber": {
              "type": "string",
              "location": "query",
              "description": "Delegated GCP project number of the request."
            }
          },
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get project configuration."
        },
        "getAccountInfo": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Returns the account info.",
          "path": "getAccountInfo",
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "response": {
            "$ref": "GetAccountInfoResponse"
          }
        },
        "getPublicKeys": {
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "path": "publicKeys",
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "description": "Get token signing public key.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setProjectConfig": {
          "path": "setProjectConfig",
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Set project configuration."
        },
        "getRecaptchaParam": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get recaptcha secure param.",
          "path": "getRecaptchaParam",
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          }
        },
        "createAuthUri": {
          "path": "createAuthUri",
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates the URI used by the IdP to authenticate the user."
        },
        "setAccountInfo": {
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "path": "setAccountInfo",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Set account info for a user."
        },
        "verifyCustomToken": {
          "path": "verifyCustomToken",
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Verifies the developer asserted ID token."
        },
        "deleteAccount": {
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "path": "deleteAccount",
          "description": "Delete user account.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "verifyPassword": {
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "path": "verifyPassword",
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "description": "Verifies the user entered password.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "verifyAssertion": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Verifies the assertion returned by the IdP.",
          "path": "verifyAssertion",
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "response": {
            "$ref": "VerifyAssertionResponse"
          }
        },
        "resetPassword": {
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "path": "resetPassword",
          "id": "identitytoolkit.relyingparty.resetPassword",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "description": "Reset password for a user.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "uploadAccount": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "Batch upload existing user accounts.",
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "path": "uploadAccount",
          "response": {
            "$ref": "UploadAccountResponse"
          }
        },
        "downloadAccount": {
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "path": "downloadAccount",
          "description": "Batch download user accounts.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        },
        "sendVerificationCode": {
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "path": "sendVerificationCode",
          "description": "Send SMS verification code.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getOobConfirmationCode": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get a code for user action confirmation.",
          "path": "getOobConfirmationCode",
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "request": {
            "$ref": "Relyingparty"
          },
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          }
        },
        "signupNewUser": {
          "description": "Signup new user.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "path": "signupNewUser"
        },
        "verifyPhoneNumber": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "path": "verifyPhoneNumber",
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          }
        },
        "signOutUser": {
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "path": "signOutUser",
          "id": "identitytoolkit.relyingparty.signOutUser",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "description": "Sign out user.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "title": "Google Identity Toolkit API",
  "schemas": {
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "type": "object",
      "description": "Request to verify a custom token",
      "properties": {
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
    },
    "EmailLinkSigninResponse": {
      "description": "Response of email signIn.",
      "type": "object",
      "id": "EmailLinkSigninResponse",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "The refresh token for the signed in user."
        },
        "idToken": {
          "description": "The STS id token to login the newly signed in user.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the user is new.",
          "type": "boolean"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "default": "identitytoolkit#EmailLinkSigninResponse",
          "type": "string"
        },
        "expiresIn": {
          "description": "Expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "type": "object",
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "localId": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "format": "int64",
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "format": "int64",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "idToken": {
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
    },
    "UploadAccountResponse": {
      "id": "UploadAccountResponse",
      "properties": {
        "error": {
          "description": "The error encountered while processing the account info.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              },
              "index": {
                "type": "integer",
                "description": "The index of the malformed account, starting from 0.",
                "format": "int32"
              }
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\".",
          "default": "identitytoolkit#UploadAccountResponse"
        }
      },
      "description": "Respone of uploading accounts in batch.",
      "type": "object"
    },
    "Relyingparty": {
      "id": "Relyingparty",
      "properties": {
        "idToken": {
          "description": "The user's Gitkit login token for email change.",
          "type": "string"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#relyingparty\".",
          "default": "identitytoolkit#relyingparty",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email if the code is for email change."
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        },
        "androidInstallApp": {
          "description": "whether or not to install the android app on the device where the link is opened",
          "type": "boolean"
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        },
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "captchaResp": {
          "description": "The recaptcha response from the user.",
          "type": "string"
        },
        "continueUrl": {
          "description": "The url to continue to the Gitkit app",
          "type": "string"
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "iOSAppStoreId": {
          "description": "iOS app store id to download the app if it's not already installed",
          "type": "string"
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        }
      },
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "type": "object",
      "description": "Request to download user account in batch.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "maxResults": {
          "description": "The max number of results to return in the response.",
          "format": "uint32",
          "type": "integer"
        },
        "targetProjectId": {
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
    },
    "IdpConfig": {
      "description": "Template for a single idp configuration.",
      "type": "object",
      "id": "IdpConfig",
      "properties": {
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        },
        "experimentPercent": {
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "format": "int32",
          "type": "integer"
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        },
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether this IDP is enabled.",
          "type": "boolean"
        },
        "whitelistedAudiences": {
          "type": "array",
          "description": "Whitelisted client IDs for audience check.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VerifyCustomTokenResponse": {
      "properties": {
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\".",
          "default": "identitytoolkit#VerifyCustomTokenResponse"
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        }
      },
      "id": "VerifyCustomTokenResponse",
      "type": "object",
      "description": "Response from verifying a custom token"
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "properties": {
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "pendingIdToken": {
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "password": {
          "description": "The password inputed by the user.",
          "type": "string"
        }
      },
      "description": "Request to verify the password.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "properties": {
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "email": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of emails of the users to inquiry."
        },
        "localId": {
          "type": "array",
          "description": "The list of local ID's of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "phoneNumber": {
          "items": {
            "type": "string"
          },
          "description": "Privileged caller can query users by specified phone number.",
          "type": "array"
        }
      },
      "description": "Request to get the account information.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "properties": {
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "idpConfig": {
          "items": {
            "$ref": "IdpConfig"
          },
          "type": "array",
          "description": "Oauth2 provider configuration."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether to enable anonymous user."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "allowPasswordUser": {
          "description": "Whether to allow password user sign in or sign up.",
          "type": "boolean"
        }
      },
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "type": "object",
      "description": "Request to set the project configuration."
    },
    "VerifyAssertionResponse": {
      "properties": {
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "verifiedProvider": {
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "action": {
          "description": "The action code.",
          "type": "string"
        },
        "appInstallationUrl": {
          "description": "URL for OTA app installation.",
          "type": "string"
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth1 access token secret."
        },
        "errorMessage": {
          "description": "Client error code.",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "inputEmail": {
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email."
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned."
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "default": "identitytoolkit#VerifyAssertionResponse"
        },
        "appScheme": {
          "type": "string",
          "description": "The custom scheme used by mobile app."
        },
        "context": {
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback.",
          "type": "string"
        },
        "emailRecycled": {
          "description": "It's true if the email is recycled.",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "needEmail": {
          "description": "Whether need client to supply email to complete the federated login flow.",
          "type": "boolean"
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "oauthScope": {
          "description": "The scope for the OpenID OAuth extension.",
          "type": "string"
        },
        "rawUserInfo": {
          "type": "string",
          "description": "Raw IDP-returned user info."
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth2 authorization code.",
          "type": "string"
        },
        "oauthRequestToken": {
          "description": "The user approved request token for the OpenID OAuth extension.",
          "type": "string"
        },
        "firstName": {
          "description": "The first name of the user.",
          "type": "string"
        },
        "fullName": {
          "description": "The full name of the user.",
          "type": "string"
        },
        "lastName": {
          "description": "The last name of the user.",
          "type": "string"
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "needConfirmation": {
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation.",
          "type": "boolean"
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "photoUrl": {
          "description": "The URI of the public accessible profiel picture.",
          "type": "string"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The birth date of the IdP account."
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "screenName": {
          "type": "string",
          "description": "The screen_name of a Twitter user or the login name at Github."
        },
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the user.",
          "type": "string"
        },
        "nickName": {
          "description": "The nick name of the user.",
          "type": "string"
        }
      },
      "id": "VerifyAssertionResponse",
      "type": "object",
      "description": "Response of verifying the IDP assertion."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "properties": {
        "iosReceipt": {
          "description": "Receipt of successful app token validation with APNS.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        },
        "recaptchaToken": {
          "description": "Recaptcha solution.",
          "type": "string"
        }
      },
      "description": "Request for Identitytoolkit-SendVerificationCode",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "properties": {
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        },
        "idToken": {
          "description": "Token for linking flow.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        }
      },
      "description": "Request to sign in with email.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "properties": {
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "authorizedDomains": {
          "items": {
            "type": "string"
          },
          "description": "Authorized domains.",
          "type": "array"
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "idpConfig": {
          "items": {
            "$ref": "IdpConfig"
          },
          "description": "OAuth2 provider configuration.",
          "type": "array"
        },
        "allowPasswordUser": {
          "description": "Whether to allow password user sign in or sign up.",
          "type": "boolean"
        },
        "projectId": {
          "description": "Project ID of the relying party.",
          "type": "string"
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "dynamicLinksDomain": {
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "type": "object",
      "description": "Response of getting the project configuration."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-SendVerificationCode"
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "description": "Request to set the account information.",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "createdAt": {
          "type": "string",
          "description": "The timestamp when the account is created.",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "customAttributes": {
          "description": "The custom attributes to be set in the user's id token.",
          "type": "string"
        },
        "lastLoginAt": {
          "description": "Last login timestamp.",
          "format": "int64",
          "type": "string"
        },
        "oobCode": {
          "description": "The out-of-band code of the change email request.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not."
        },
        "phoneNumber": {
          "description": "Privileged caller can update user with specified phone number.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "deleteAttribute": {
          "description": "The attributes users request to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "provider": {
          "description": "The associated IDPs of the user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "upgradeToFederatedLogin": {
          "description": "Mark the user to upgrade to federated login.",
          "type": "boolean"
        },
        "deleteProvider": {
          "description": "The IDPs the user request to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "emailVerified": {
          "description": "Mark the email as verified or not. Only can be used by service account.",
          "type": "boolean"
        },
        "phoneNumber": {
          "description": "Privileged caller can create user with specified phone number.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "password": {
          "description": "The new password of the user.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "localId": {
          "description": "Privileged caller can create user with specified user id.",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether to disable the user. Only can be used by service account."
        }
      },
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "type": "object"
    },
    "SignupNewUserResponse": {
      "id": "SignupNewUserResponse",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "default": "identitytoolkit#SignupNewUserResponse",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        }
      },
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "type": "object"
    },
    "DownloadAccountResponse": {
      "type": "object",
      "description": "Response of downloading accounts in batch.",
      "properties": {
        "users": {
          "type": "array",
          "description": "The user accounts data.",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "nextPageToken": {
          "description": "The next page token. To be used in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "default": "identitytoolkit#DownloadAccountResponse"
        }
      },
      "id": "DownloadAccountResponse"
    },
    "GetOobConfirmationCodeResponse": {
      "type": "object",
      "description": "Response of getting a code for user confirmation (reset password, change email etc.).",
      "properties": {
        "email": {
          "description": "The email address that the email is sent to.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\".",
          "default": "identitytoolkit#GetOobConfirmationCodeResponse"
        },
        "oobCode": {
          "description": "The code to be send to the user.",
          "type": "string"
        }
      },
      "id": "GetOobConfirmationCodeResponse"
    },
    "GetRecaptchaParamResponse": {
      "description": "Response of getting recaptcha param.",
      "type": "object",
      "id": "GetRecaptchaParamResponse",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "default": "identitytoolkit#GetRecaptchaParamResponse",
          "type": "string"
        },
        "recaptchaSiteKey": {
          "description": "Site key registered at recaptcha.",
          "type": "string"
        },
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        }
      }
    },
    "UserInfo": {
      "id": "UserInfo",
      "properties": {
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified."
        },
        "passwordHash": {
          "description": "The user's hashed password.",
          "format": "byte",
          "type": "string"
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp when the password was last updated.",
          "format": "double"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "customAuth": {
          "description": "Whether the user is authenticated by the developer.",
          "type": "boolean"
        },
        "version": {
          "description": "Version of the user's password.",
          "format": "int32",
          "type": "integer"
        },
        "providerUserInfo": {
          "items": {
            "type": "object",
            "properties": {
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "displayName": {
                "description": "The user's display name at the IDP.",
                "type": "string"
              },
              "email": {
                "description": "User's email at IDP.",
                "type": "string"
              },
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              },
              "providerId": {
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              },
              "phoneNumber": {
                "description": "User's phone number.",
                "type": "string"
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "screenName": {
                "description": "User's screen name at Twitter or login name at Github.",
                "type": "string"
              }
            }
          },
          "description": "The IDP of the user.",
          "type": "array"
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "createdAt": {
          "description": "User creation timestamp.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "salt": {
          "description": "The user's password salt.",
          "format": "byte",
          "type": "string"
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user is disabled."
        },
        "lastLoginAt": {
          "type": "string",
          "description": "last login timestamp.",
          "format": "int64"
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "photoUrl": {
          "description": "The URL of the user profile photo.",
          "type": "string"
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      },
      "description": "Template for an individual account info.",
      "type": "object"
    },
    "CreateAuthUriResponse": {
      "properties": {
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "registered": {
          "description": "Whether the user is registered if the identifier is an email.",
          "type": "boolean"
        },
        "captchaRequired": {
          "description": "True if captcha is required.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "default": "identitytoolkit#CreateAuthUriResponse"
        },
        "providerId": {
          "description": "The provider ID of the auth URI.",
          "type": "string"
        },
        "signinMethods": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All sign-in methods this user has used."
        },
        "sessionId": {
          "description": "Session ID which should be passed in the following verifyAssertion request.",
          "type": "string"
        },
        "allProviders": {
          "description": "all providers the user has once used to do federated login",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "authUri": {
          "description": "The URI used by the IDP to authenticate the user.",
          "type": "string"
        }
      },
      "id": "CreateAuthUriResponse",
      "type": "object",
      "description": "Response of creating the IDP authentication URL."
    },
    "GetAccountInfoResponse": {
      "type": "object",
      "description": "Response of getting account information.",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\".",
          "default": "identitytoolkit#GetAccountInfoResponse",
          "type": "string"
        },
        "users": {
          "description": "The info of the users.",
          "type": "array",
          "items": {
            "$ref": "UserInfo"
          }
        }
      },
      "id": "GetAccountInfoResponse"
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "description": "Request to get the IDP authentication URL.",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "properties": {
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
          "type": "string"
        },
        "otaApp": {
          "type": "string",
          "description": "The native app package for OTA installation."
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64",
          "type": "string"
        },
        "customParameter": {
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          }
        },
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "authFlowType": {
          "type": "string",
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider."
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant"
        },
        "oauthConsumerKey": {
          "type": "string",
          "description": "The developer's consumer key for OpenId OAuth Extension"
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "openidRealm": {
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set.",
          "type": "string"
        },
        "hostedDomain": {
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts.",
          "type": "string"
        },
        "appId": {
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "properties": {
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "type": "object",
      "description": "Request to sign out user."
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      },
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "type": "object",
      "description": "Response of setting the project configuration."
    },
    "EmailTemplate": {
      "type": "object",
      "description": "Template for an email template.",
      "properties": {
        "fromDisplayName": {
          "description": "From display name.",
          "type": "string"
        },
        "from": {
          "type": "string",
          "description": "From address of the email."
        },
        "format": {
          "type": "string",
          "description": "Email body format."
        },
        "body": {
          "type": "string",
          "description": "Email body."
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        }
      },
      "id": "EmailTemplate"
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "type": "object",
      "description": "Request to verify the IDP assertion.",
      "properties": {
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "sessionId": {
          "description": "Session ID, which should match the one in previous createAuthUri request.",
          "type": "string"
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "requestUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP."
        },
        "returnIdpCredential": {
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked.",
          "type": "boolean"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "postBody": {
          "description": "The post body if the request is a HTTP POST.",
          "type": "string"
        },
        "pendingIdToken": {
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user.",
          "type": "string"
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
    },
    "VerifyPasswordResponse": {
      "type": "object",
      "description": "Request of verifying the password.",
      "properties": {
        "photoUrl": {
          "description": "The URI of the user's photo at IdP",
          "type": "string"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\".",
          "default": "identitytoolkit#VerifyPasswordResponse"
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "oauthExpireIn": {
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        }
      },
      "id": "VerifyPasswordResponse"
    },
    "ResetPasswordResponse": {
      "properties": {
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\".",
          "default": "identitytoolkit#ResetPasswordResponse",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "If the out-of-band code is for email recovery, the user's new email."
        },
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        }
      },
      "id": "ResetPasswordResponse",
      "type": "object",
      "description": "Response of resetting the password."
    },
    "SetAccountInfoResponse": {
      "description": "Respone of setting the account information.",
      "type": "object",
      "id": "SetAccountInfoResponse",
      "properties": {
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "default": "identitytoolkit#SetAccountInfoResponse",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "passwordHash": {
          "description": "The user's hashed password.",
          "format": "byte",
          "type": "string"
        },
        "idToken": {
          "description": "The Gitkit id token to login the newly sign up user.",
          "type": "string"
        },
        "providerUserInfo": {
          "description": "The user's profiles at the associated IdPs.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "photoUrl": {
                "description": "The user's photo url at the IDP.",
                "type": "string"
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              }
            }
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "properties": {
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      },
      "description": "Response of signing out user.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "description": "Respone of getting public keys.",
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
    },
    "DeleteAccountResponse": {
      "id": "DeleteAccountResponse",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "default": "identitytoolkit#DeleteAccountResponse",
          "type": "string"
        }
      },
      "description": "Respone of deleting account.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "type": "object",
      "description": "Request to reset the password.",
      "properties": {
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        },
        "newPassword": {
          "type": "string",
          "description": "The new password inputted by the user."
        },
        "oldPassword": {
          "description": "The old password inputted by the user.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        },
        "code": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "description": "Request to delete account.",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "idToken": {
          "description": "The GITKit token or STS id token of the authenticated user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "properties": {
        "blockSize": {
          "format": "int32",
          "type": "integer"
        },
        "cpuMemCost": {
          "type": "integer",
          "description": "The following 4 fields are for standard scrypt algorithm.",
          "format": "int32"
        },
        "targetProjectId": {
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential.",
          "type": "string"
        },
        "sanityCheck": {
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account.",
          "type": "boolean"
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "rounds": {
          "type": "integer",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "format": "int32"
        },
        "saltSeparator": {
          "type": "string",
          "description": "The salt separator.",
          "format": "byte"
        },
        "signerKey": {
          "type": "string",
          "description": "The key for to hash the password.",
          "format": "byte"
        },
        "dkLen": {
          "type": "integer",
          "format": "int32"
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        },
        "memoryCost": {
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms.",
          "format": "int32"
        },
        "users": {
          "description": "The account info to be stored.",
          "type": "array",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "parallelization": {
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Request to upload user account in batch.",
      "type": "object"
    }
  }
}