{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "schemas": {
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaConfig": {
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaConfig",
      "type": "object",
      "properties": {
        "recaptchaEnforcementState": {
          "description": "The reCAPTCHA enforcement state for the providers that GCIP supports reCAPTCHA protection.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState"
          }
        },
        "recaptchaKey": {
          "type": "string",
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\". This will only be returned when the reCAPTCHA enforcement state is AUDIT or ENFORCE on at least one of the reCAPTCHA providers."
        },
        "useSmsBotScore": {
          "type": "boolean",
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider."
        },
        "useSmsTollFraudProtection": {
          "type": "boolean",
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider."
        }
      },
      "description": "Configuration for reCAPTCHA"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig": {
      "description": "The reCAPTCHA Enterprise integration config.",
      "type": "object",
      "properties": {
        "useAccountDefender": {
          "description": "Whether to use the account defender for reCAPTCHA assessment. Defaults to `false`.",
          "type": "boolean"
        },
        "phoneEnforcementState": {
          "type": "string",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "description": "The reCAPTCHA config for phone provider, containing the enforcement status. The phone provider contains all SMS related user flows protected by reCAPTCHA.",
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ]
        },
        "tollFraudManagedRules": {
          "type": "array",
          "description": "The managed rules for the authentication action based on reCAPTCHA toll fraud risk scores. Toll fraud managed rules will only take effect when the phone_enforcement_state is AUDIT or ENFORCE and use_sms_toll_fraud_protection is true.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule"
          }
        },
        "useSmsTollFraudProtection": {
          "type": "boolean",
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE."
        },
        "emailPasswordEnforcementState": {
          "description": "The reCAPTCHA config for email/password provider, containing the enforcement status. The email/password provider contains all email related user flows protected by reCAPTCHA.",
          "type": "string",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ]
        },
        "recaptchaKeys": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
          },
          "description": "The reCAPTCHA keys.",
          "type": "array"
        },
        "managedRules": {
          "type": "array",
          "description": "The managed rules for authentication action based on reCAPTCHA scores. The rules are shared across providers for a given tenant project.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
          }
        },
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
      "type": "object",
      "properties": {
        "providerConfigs": {
          "type": "array",
          "description": "A list of usable second factors for this project along with their configurations. This field does not support phone based MFA, for that use the 'enabled_providers' field.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
          }
        },
        "state": {
          "description": "Whether MultiFactor Authentication has been enabled for this project.",
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project",
            "Multi-factor authentication can be used for this project",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ]
        },
        "enabledProviders": {
          "type": "array",
          "description": "A list of usable second factors for this project.",
          "items": {
            "enum": [
              "PROVIDER_UNSPECIFIED",
              "PHONE_SMS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Illegal Provider, should not be used",
              "SMS is enabled as a second factor for this project."
            ]
          }
        }
      },
      "description": "Options related to MultiFactor Authentication for the project."
    },
    "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions": {
      "description": "Custom strength options to enforce on user passwords.",
      "type": "object",
      "properties": {
        "containsNonAlphanumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a non alpha numeric character."
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "containsNumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a number."
        },
        "maxPasswordLength": {
          "description": "Maximum password length. No default max length",
          "type": "integer",
          "format": "int32"
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        },
        "minPasswordLength": {
          "description": "Minimum password length. Range from 6 to 30",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions"
    },
    "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig",
      "type": "object",
      "properties": {
        "codeFlowConfig": {
          "description": "Additional config for Apple for code flow.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig"
        },
        "bundleIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of Bundle ID's usable by this project",
          "type": "array"
        }
      },
      "description": "Additional config for SignInWithApple."
    },
    "GoogleCloudIdentitytoolkitAdminV2SpCertificate": {
      "description": "The SP's certificate data for IDP to verify the SAMLRequest generated by the SP.",
      "type": "object",
      "properties": {
        "x509Certificate": {
          "type": "string",
          "description": "Self-signed public certificate."
        },
        "expiresAt": {
          "description": "Timestamp of the cert expiration instance.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2SpCertificate"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse",
      "description": "Response for DefaultSupportedIdpConfigs",
      "type": "object",
      "properties": {
        "defaultSupportedIdpConfigs": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
          },
          "description": "The set of configs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig": {
      "description": "A pair of SAML RP-IDP configurations when the project acts as the relying party.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "True if allows the user to sign in with the provider."
        },
        "name": {
          "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The config's display name set by developers."
        },
        "idpConfig": {
          "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpConfig"
        },
        "spConfig": {
          "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SpConfig"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2RequestLogging": {
      "description": "Configuration for logging requests made to this project to Stackdriver Logging",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether logging is enabled for this project or not."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2RequestLogging"
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpCertificate": {
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate",
      "type": "object",
      "properties": {
        "x509Certificate": {
          "description": "The x509 certificate",
          "type": "string"
        }
      },
      "description": "The IDP's certificate data to verify the signature in the SAMLResponse issued by the IDP."
    },
    "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo": {
      "type": "object",
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      },
      "description": "The information required to auto-retrieve an SMS.",
      "id": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo"
    },
    "GoogleCloudIdentitytoolkitAdminV2Config": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Config",
      "description": "Represents an Identity Toolkit project.",
      "type": "object",
      "properties": {
        "signIn": {
          "description": "Configuration related to local sign in methods.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SignInConfig"
        },
        "multiTenant": {
          "description": "Configuration related to multi-tenant functionality.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig"
        },
        "blockingFunctions": {
          "description": "Configuration related to blocking functions.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig"
        },
        "mobileLinksConfig": {
          "description": "Configuration for settings related to univeral links (iOS) and app links (Android).",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig"
        },
        "passwordPolicyConfig": {
          "description": "The project level password policy configuration.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig"
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientConfig"
        },
        "recaptchaConfig": {
          "description": "The project-level reCAPTCHA config.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
        },
        "authorizedDomains": {
          "items": {
            "type": "string"
          },
          "description": "List of domains authorized for OAuth redirects",
          "type": "array"
        },
        "emailPrivacyConfig": {
          "description": "Configuration for settings related to email privacy and public visibility.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
        },
        "monitoring": {
          "description": "Configuration related to monitoring project activity.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
        },
        "autodeleteAnonymousUsers": {
          "type": "boolean",
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days."
        },
        "subtype": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "An Identity Platform project.",
            "A Firebase Authentication project."
          ],
          "description": "Output only. The subtype of this config.",
          "readOnly": true,
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "IDENTITY_PLATFORM",
            "FIREBASE_AUTH"
          ],
          "type": "string"
        },
        "quota": {
          "description": "Configuration related to quotas.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig"
        },
        "defaultHostingSite": {
          "readOnly": true,
          "description": "Output only. Default Firebase hosting site name",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\""
        },
        "notification": {
          "description": "Configuration related to sending notifications to users.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig"
        },
        "smsRegionConfig": {
          "description": "Configures which regions are enabled for SMS verification code sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig"
        },
        "mfa": {
          "description": "Configuration for this project's multi-factor authentication, including whether it is active and what factors can be used for the second factor",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest": {
      "type": "object",
      "properties": {},
      "description": "Request for InitializeIdentityPlatform.",
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo",
      "type": "object",
      "properties": {
        "iosSecret": {
          "description": "iOS only. Secret delivered to iOS app via APNS.",
          "type": "string"
        },
        "captchaResponse": {
          "type": "string",
          "description": "The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled."
        },
        "safetyNetToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token. A SafetyNet Token can be generated via the [SafetyNet Android Attestation API](https://developer.android.com/training/safetynet/attestation.html), with the Base64 encoding of the `phone_number` field as the nonce.",
          "type": "string"
        },
        "playIntegrityToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token (or safety net token). A Play Integrity Token can be generated via the [PlayIntegrity API] (https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce."
        },
        "iosReceipt": {
          "type": "string",
          "description": "iOS only. Receipt of successful app token validation with APNS."
        },
        "autoRetrievalInfo": {
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval.",
          "$ref": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo"
        },
        "recaptchaToken": {
          "description": "Web only. Recaptcha solution.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Required for enrollment. Phone number to be enrolled as MFA."
        },
        "clientType": {
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ]
        },
        "recaptchaVersion": {
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled."
        }
      },
      "description": "App Verification info for a StartMfa request."
    },
    "GoogleCloudIdentitytoolkitAdminV2QuotaConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
      "type": "object",
      "properties": {
        "signUpQuotaConfig": {
          "description": "Quota for the Signup endpoint, if overwritten. Signup quota is measured in sign ups per project per hour per IP.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota"
        }
      },
      "description": "Configuration related to quotas."
    },
    "GoogleCloudIdentitytoolkitAdminV2Tenant": {
      "type": "object",
      "properties": {
        "inheritance": {
          "description": "Specify the settings that the tenant could inherit.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Inheritance"
        },
        "monitoring": {
          "description": "Configuration related to monitoring project activity.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
        },
        "autodeleteAnonymousUsers": {
          "type": "boolean",
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days."
        },
        "hashConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "description": "Output only. Hash config information of a tenant for display on Pantheon. This can only be displayed on Pantheon to avoid the sensitive information to get accidentally leaked. Only returned in GetTenant response to restrict reading of this information. Requires firebaseauth.configs.getHashConfig permission on the agent project for returning this field."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
          "readOnly": true
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user authentication.",
          "type": "boolean"
        },
        "smsRegionConfig": {
          "description": "Configures which regions are enabled for SMS verification code sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig"
        },
        "mobileLinksConfig": {
          "deprecated": true,
          "description": "Optional. Deprecated. Never launched. Configuration for settings related to univeral links (iOS) and app links (Android).",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig"
        },
        "enableEmailLinkSignin": {
          "type": "boolean",
          "description": "Whether to enable email link user authentication."
        },
        "mfaConfig": {
          "description": "The tenant-level configuration of MFA options.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
        },
        "passwordPolicyConfig": {
          "description": "The tenant-level password policy config",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig"
        },
        "disableAuth": {
          "description": "Whether authentication is disabled for the tenant. If true, the users under the disabled tenant are not allowed to sign-in. Admins of the disabled tenant are not able to manage its users.",
          "type": "boolean"
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig"
        },
        "testPhoneNumbers": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of pairs that can be used for MFA. The phone number should be in E.164 format (https://www.itu.int/rec/T-REC-E.164/) and a maximum of 10 pairs can be added (error will be thrown once exceeded)."
        },
        "recaptchaConfig": {
          "description": "The tenant-level reCAPTCHA config.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
        },
        "emailPrivacyConfig": {
          "description": "Configuration for settings related to email privacy and public visibility.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
        },
        "displayName": {
          "description": "Display name of the tenant.",
          "type": "string"
        },
        "allowPasswordSignup": {
          "description": "Whether to allow email/password user authentication.",
          "type": "boolean"
        }
      },
      "description": "A Tenant contains configuration for the tenant in a multi-tenant project.",
      "id": "GoogleCloudIdentitytoolkitAdminV2Tenant"
    },
    "GoogleCloudIdentitytoolkitV2PasswordPolicy": {
      "type": "object",
      "properties": {
        "schemaVersion": {
          "description": "Output only. schema version number for the password policy",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "enforcementState": {
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "description": "Output only. Which enforcement mode to use for the password policy.",
          "readOnly": true,
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "type": "string"
        },
        "customStrengthOptions": {
          "description": "The custom strength options enforced by the password policy.",
          "$ref": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions"
        },
        "forceUpgradeOnSignin": {
          "type": "boolean",
          "description": "Users must have a password compliant with the password policy to sign-in."
        },
        "allowedNonAlphanumericCharacters": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Allowed characters which satisfy the non_alphanumeric requirement."
        }
      },
      "description": "Configuration for password policy.",
      "id": "GoogleCloudIdentitytoolkitV2PasswordPolicy"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailTemplate": {
      "description": "Email template. The subject and body fields can contain the following placeholders which will be replaced with the appropriate values: %LINK% - The link to use to redeem the send OOB code. %EMAIL% - The email where the email is being sent. %NEW_EMAIL% - The new email being set for the account (when applicable). %APP_NAME% - The Google Cloud project's display name. %DISPLAY_NAME% - The user's display name.",
      "type": "object",
      "properties": {
        "customized": {
          "readOnly": true,
          "description": "Output only. Whether the body or subject of the email is customized.",
          "type": "boolean"
        },
        "body": {
          "type": "string",
          "description": "Email body"
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address"
        },
        "senderLocalPart": {
          "type": "string",
          "description": "Local part of From address"
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email"
        },
        "senderDisplayName": {
          "type": "string",
          "description": "Sender display name"
        },
        "bodyFormat": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Plain text",
            "HTML"
          ],
          "description": "Email body format",
          "enum": [
            "BODY_FORMAT_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ]
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
    },
    "GoogleCloudIdentitytoolkitAdminV2HashConfig": {
      "type": "object",
      "properties": {
        "signerKey": {
          "type": "string",
          "description": "Output only. Signer key in base64.",
          "readOnly": true
        },
        "saltSeparator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Non-printable character to be inserted between the salt and plain text password in base64."
        },
        "rounds": {
          "readOnly": true,
          "description": "Output only. How many rounds for hash calculation. Used by scrypt and other similar password derivation algorithms.",
          "type": "integer",
          "format": "int32"
        },
        "memoryCost": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Memory cost for hash calculation. Used by scrypt and other similar password derivation algorithms. See https://tools.ietf.org/html/rfc7914 for explanation of field."
        },
        "algorithm": {
          "readOnly": true,
          "enum": [
            "HASH_ALGORITHM_UNSPECIFIED",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "description": "Output only. Different password hash algorithms used in Identity Toolkit.",
          "type": "string"
        }
      },
      "description": "History information of the hash algorithm and key. Different accounts' passwords may be generated by different version.",
      "id": "GoogleCloudIdentitytoolkitAdminV2HashConfig"
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState": {
      "description": "Enforcement states for reCAPTCHA protection.",
      "type": "object",
      "properties": {
        "provider": {
          "enum": [
            "RECAPTCHA_PROVIDER_UNSPECIFIED",
            "EMAIL_PASSWORD_PROVIDER",
            "PHONE_PROVIDER"
          ],
          "type": "string",
          "enumDescriptions": [
            "reCAPTCHA provider not specified",
            "Email password provider",
            "Phone auth provider"
          ],
          "description": "The provider that has reCAPTCHA protection."
        },
        "enforcementState": {
          "description": "The reCAPTCHA enforcement state for the provider.",
          "type": "string",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ]
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState"
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowByDefault": {
      "type": "object",
      "properties": {
        "disallowedRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Two letter unicode region codes to disallow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json"
        }
      },
      "description": "Defines a policy of allowing every region by default and adding disallowed regions to a disallow list.",
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo",
      "type": "object",
      "properties": {
        "finalizeEnrollmentTime": {
          "description": "The time by which the enrollment must finish.",
          "type": "string",
          "format": "google-datetime"
        },
        "sharedSecretKey": {
          "description": "A base 32 encoded string that represents the shared TOTP secret. The base 32 encoding is the one specified by [RFC4648#section-6](https://datatracker.ietf.org/doc/html/rfc4648#section-6). (This is the same as the base 32 encoding from [RFC3548#section-5](https://datatracker.ietf.org/doc/html/rfc3548#section-5).)",
          "type": "string"
        },
        "sessionInfo": {
          "description": "An encoded string that represents the enrollment session.",
          "type": "string"
        },
        "hashingAlgorithm": {
          "description": "The hashing algorithm used to generate the verification code.",
          "type": "string"
        },
        "verificationCodeLength": {
          "description": "The length of the verification code that needs to be generated.",
          "type": "integer",
          "format": "int32"
        },
        "periodSec": {
          "description": "Duration in seconds at which the verification code will change.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Mfa response info specific to TOTP auth for StartMfa."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest": {
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest",
      "type": "object",
      "properties": {
        "mfaEnrollmentId": {
          "description": "Required. MFA enrollment id from a current MFA enrollment.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "Required. User's ID token."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user unenrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        }
      },
      "description": "Withdraws MFA."
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissions": {
      "type": "object",
      "properties": {
        "disabledUserSignup": {
          "type": "boolean",
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods"
        },
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        }
      },
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse",
      "description": "StartMfaEnrollment response.",
      "type": "object",
      "properties": {
        "totpSessionInfo": {
          "description": "Enrollment response info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo"
        },
        "phoneSessionInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "type": "object",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse": {
      "type": "object",
      "properties": {
        "oauthIdpConfigs": {
          "description": "The set of configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response for ListOAuthIdpConfigs",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
    },
    "GoogleCloudIdentitytoolkitV2CustomStrengthOptions": {
      "id": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions",
      "type": "object",
      "properties": {
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "containsNumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a number."
        },
        "maxPasswordLength": {
          "description": "Maximum password length. No default max length",
          "type": "integer",
          "format": "int32"
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        },
        "minPasswordLength": {
          "description": "Minimum password length. Range from 6 to 30",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Custom strength options to enforce on user passwords."
    },
    "GoogleCloudIdentitytoolkitAdminV2Inheritance": {
      "description": "Settings that the tenants will inherit from project level.",
      "type": "object",
      "properties": {
        "emailSendingConfig": {
          "description": "Whether to allow the tenant to inherit custom domains, email templates, and custom SMTP settings. If true, email sent from tenant will follow the project level email sending configurations. If false (by default), emails will go with the default settings with no customizations.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Inheritance"
    },
    "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig": {
      "type": "object",
      "properties": {
        "requestLogging": {
          "description": "Configuration for logging requests made to this project to Stackdriver Logging",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RequestLogging"
        }
      },
      "description": "Configuration related to monitoring project activity.",
      "id": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2NotificationConfig": {
      "description": "Configuration related to sending notifications to users.",
      "type": "object",
      "properties": {
        "sendEmail": {
          "description": "Options for email sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendEmail"
        },
        "sendSms": {
          "description": "Options for SMS sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendSms"
        },
        "defaultLocale": {
          "description": "Default locale used for email and SMS in IETF BCP 47 format.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig"
    },
    "GoogleIamV1GetPolicyOptions": {
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GoogleIamV1GetPolicyOptions"
    },
    "GoogleCloudIdentitytoolkitAdminV2Trigger": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Trigger",
      "type": "object",
      "properties": {
        "functionUri": {
          "type": "string",
          "description": "HTTP URI trigger for the Cloud Function."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the trigger was changed."
        }
      },
      "description": "Synchronous Cloud Function with HTTP Trigger"
    },
    "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig": {
      "type": "object",
      "properties": {
        "triggers": {
          "description": "Map of Trigger to event type. Key should be one of the supported event types: \"beforeCreate\", \"beforeSignIn\"",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Trigger"
          }
        },
        "forwardInboundCredentials": {
          "description": "The user credentials to include in the JWT payload that is sent to the registered Blocking Functions.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials"
        }
      },
      "description": "Configuration related to Blocking Functions.",
      "id": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest",
      "type": "object",
      "properties": {
        "phoneVerificationInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo"
        },
        "idToken": {
          "type": "string",
          "description": "Required. ID token."
        },
        "displayName": {
          "description": "Display name which is entered by users to distinguish between different second factors with same type or different type.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project."
        },
        "totpVerificationInfo": {
          "description": "Verification information for TOTP.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo"
        }
      },
      "description": "Finishes enrolling a second factor for the user."
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig",
      "description": "Options related to how clients making requests on behalf of a tenant should be configured.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "Configuration related to restricting a user's ability to affect their account.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion": {
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion",
      "type": "object",
      "properties": {
        "customStrengthOptions": {
          "description": "The custom strength options enforced by the password policy.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions"
        },
        "schemaVersion": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. schema version number for the password policy"
        }
      },
      "description": "The strength attributes for the password policy on the project."
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig": {
      "description": "Configuration related to multi-tenant functionality.",
      "type": "object",
      "properties": {
        "allowTenants": {
          "description": "Whether this project can have tenants or not.",
          "type": "boolean"
        },
        "defaultTenantLocation": {
          "type": "string",
          "description": "The default cloud parent org or folder that the tenant project should be created under. The parent resource name should be in the format of \"/\", such as \"folders/123\" or \"organizations/456\". If the value is not set, the tenant will be created under the same organization or folder as the agent project."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
      "type": "object",
      "properties": {
        "domain": {
          "enum": [
            "DOMAIN_UNSPECIFIED",
            "FIREBASE_DYNAMIC_LINK_DOMAIN",
            "HOSTING_DOMAIN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. The default domain is the Firebase Dynamic Link domain before the FDL deprecation and the hosting domain after the FDL deprecation.",
            "Use Firebase Dynamic Link domain as app link domain. Default value.",
            "Use hosting domain as app link domain."
          ],
          "description": "Open code in app domain to use for app links and universal links."
        }
      },
      "description": "Configuration mobile links."
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "id": "GoogleIamV1GetIamPolicyRequest",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GoogleIamV1GetPolicyOptions"
        }
      },
      "description": "Request message for `GetIamPolicy` method."
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse",
      "type": "object",
      "properties": {
        "phoneResponseInfo": {
          "description": "MultiFactor sign-in session information specific to SMS-type second factors. Along with the one-time code retrieved from the sent SMS, the contents of this session information should be passed to FinalizeMfaSignIn to complete the sign in.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        }
      },
      "description": "StartMfaSignIn response."
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsTemplate": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate",
      "description": "The template to use when sending an SMS.",
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SMS's content. Can contain the following placeholders which will be replaced with the appropriate values: %APP_NAME% - For Android or iOS apps, the app's display name. For web apps, the domain hosting the application. %LOGIN_CODE% - The OOB code being sent in the SMS."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientConfig",
      "type": "object",
      "properties": {
        "apiKey": {
          "type": "string",
          "description": "Output only. API key that can be used when making requests for this project.",
          "readOnly": true
        },
        "permissions": {
          "description": "Configuration related to restricting a user's ability to affect their account.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Permissions"
        },
        "firebaseSubdomain": {
          "description": "Output only. Firebase subdomain.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Options related to how clients making requests on behalf of a project should be configured."
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse",
      "description": "Response for ListDefaultSupportedIdps",
      "type": "object",
      "properties": {
        "defaultSupportedIdps": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp"
          },
          "description": "The set of configs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig": {
      "description": "The configuration for the password policy on the project.",
      "type": "object",
      "properties": {
        "passwordPolicyEnforcementState": {
          "enum": [
            "PASSWORD_POLICY_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "description": "Which enforcement mode to use for the password policy.",
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ]
        },
        "passwordPolicyVersions": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion"
          },
          "description": "Must be of length 1. Contains the strength attributes for the password policy.",
          "type": "array"
        },
        "lastUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the password policy on the project was updated."
        },
        "forceUpgradeOnSignin": {
          "type": "boolean",
          "description": "Users must have a password compliant with the password policy to sign-in."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig"
    },
    "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo": {
      "description": "TOTP verification info for FinalizeMfaSignInRequest.",
      "type": "object",
      "properties": {
        "verificationCode": {
          "type": "string",
          "description": "User-entered verification code."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
      "description": "Phone Verification info for a FinalizeMfa request.",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "An opaque string that represents the enrollment session."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Required if Android verification proof is presented."
        },
        "androidVerificationProof": {
          "type": "string",
          "description": "Android only. Uses for \"instant\" phone number verification though GmsCore."
        },
        "code": {
          "description": "User-entered verification code.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly": {
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
      "description": "Defines a policy of only allowing regions by explicitly adding them to an allowlist.",
      "type": "object",
      "properties": {
        "allowedRegions": {
          "type": "array",
          "description": "Two letter unicode region codes to allow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo",
      "type": "object",
      "properties": {},
      "description": "Mfa response info specific to TOTP auth for FinalizeMfa."
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest": {
      "description": "Sends MFA enrollment verification SMS for a user.",
      "type": "object",
      "properties": {
        "phoneEnrollmentInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        },
        "totpEnrollmentInfo": {
          "description": "Sign-in info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo"
        },
        "idToken": {
          "description": "Required. User's ID token.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest"
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "responseType": {
          "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType"
        },
        "clientId": {
          "type": "string",
          "description": "The client id of an OAuth client."
        },
        "issuer": {
          "type": "string",
          "description": "For OIDC Idps, the issuer identifier."
        },
        "enabled": {
          "type": "boolean",
          "description": "True if allows the user to sign in with the provider."
        },
        "clientSecret": {
          "type": "string",
          "description": "The client secret of the OAuth client, to enable OIDC code flow."
        },
        "displayName": {
          "type": "string",
          "description": "The config's display name set by developers."
        }
      },
      "description": "Configuration options for authenticating with an OAuth IDP."
    },
    "GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Smtp",
      "description": "Configuration for SMTP relay",
      "type": "object",
      "properties": {
        "securityMode": {
          "enum": [
            "SECURITY_MODE_UNSPECIFIED",
            "SSL",
            "START_TLS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "SSL mode",
            "START_TLS mode"
          ],
          "description": "SMTP security mode."
        },
        "port": {
          "description": "SMTP relay port",
          "type": "integer",
          "format": "int32"
        },
        "senderEmail": {
          "description": "Sender email for the SMTP relay",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "SMTP relay password"
        },
        "username": {
          "description": "SMTP relay username",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "SMTP relay host"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig": {
      "description": "Configures the regions where users are allowed to send verification SMS for the project or tenant. This is based on the calling code of the destination phone number.",
      "type": "object",
      "properties": {
        "allowByDefault": {
          "description": "A policy of allowing SMS to every region by default and adding disallowed regions to a disallow list.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault"
        },
        "allowlistOnly": {
          "description": "A policy of only allowing regions by explicitly adding them to an allowlist.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2ProviderConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig",
      "description": "ProviderConfig describes the supported MFA providers along with their configurations.",
      "type": "object",
      "properties": {
        "totpProviderConfig": {
          "description": "TOTP MFA provider config for this project.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig"
        },
        "state": {
          "enum": [
            "MFA_STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project.",
            "Multi-factor authentication can be used for this project.",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "description": "Describes the state of the MultiFactor Authentication type."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Anonymous": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether anonymous user auth is enabled for the project or not.",
          "type": "boolean"
        }
      },
      "description": "Configuration options related to authenticating an anonymous user.",
      "id": "GoogleCloudIdentitytoolkitAdminV2Anonymous"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
      "type": "object",
      "properties": {
        "androidVerificationProofExpireTime": {
          "description": "Android only. Expiration time of verification proof in seconds.",
          "type": "string",
          "format": "google-datetime"
        },
        "androidVerificationProof": {
          "description": "Android only. Long-lived replacement for valid code tied to android device.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "For Android verification proof.",
          "type": "string"
        }
      },
      "description": "Phone Verification info for a FinalizeMfa response."
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo",
      "description": "Mfa request info specific to TOTP auth for StartMfa.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse",
      "description": "FinalizeMfaSignIn response.",
      "type": "object",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "ID token for the authenticated user."
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        },
        "phoneAuthInfo": {
          "description": "Extra phone auth info, including android verification proof.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Permissions": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Permissions",
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "type": "object",
      "properties": {
        "disabledUserSignup": {
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserDeletion": {
          "type": "boolean",
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp": {
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp",
      "type": "object",
      "properties": {
        "idpId": {
          "description": "Id the of Idp",
          "type": "string"
        },
        "description": {
          "description": "Description of the Idp",
          "type": "string"
        }
      },
      "description": "Standard Identity Toolkit-trusted IDPs."
    },
    "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials": {
      "description": "Indicates which credentials to pass to the registered Blocking Functions.",
      "type": "object",
      "properties": {
        "idToken": {
          "type": "boolean",
          "description": "Whether to pass the user's OIDC identity provider's ID token."
        },
        "refreshToken": {
          "description": "Whether to pass the user's OAuth identity provider's refresh token.",
          "type": "boolean"
        },
        "accessToken": {
          "description": "Whether to pass the user's OAuth identity provider's access token.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials"
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType": {
      "type": "object",
      "properties": {
        "code": {
          "type": "boolean",
          "description": "If true, authorization code is returned from IdP's authorization endpoint."
        },
        "idToken": {
          "description": "If true, ID token is returned from IdP's authorization endpoint.",
          "type": "boolean"
        },
        "token": {
          "description": "Do not use. The `token` response type is not supported at the moment.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported. See https://openid.net/specs/openid-connect-core-1_0.html#Authentication for a mapping of response type to OAuth 2.0 flow.",
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo": {
      "description": "Phone Verification info for a StartMfa response.",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\""
        },
        "clientId": {
          "description": "OAuth client ID.",
          "type": "string"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "appleSignInConfig": {
          "description": "Additional config for Apple-based projects.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig"
        },
        "clientSecret": {
          "description": "OAuth client secret.",
          "type": "string"
        }
      },
      "description": "Configurations options for authenticating with a the standard set of Identity Toolkit-trusted IDPs."
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest",
      "type": "object",
      "properties": {
        "phoneSignInInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "Required. MFA enrollment id from the user's list of current MFA enrollments."
        }
      },
      "description": "Starts multi-factor sign-in by sending the multi-factor auth challenge."
    },
    "GoogleCloudIdentitytoolkitAdminV2SignInConfig": {
      "description": "Configuration related to local sign in methods.",
      "type": "object",
      "properties": {
        "allowDuplicateEmails": {
          "type": "boolean",
          "description": "Whether to allow more than one account to have the same email."
        },
        "email": {
          "description": "Configuration options related to authenticating a user by their email address.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Email"
        },
        "phoneNumber": {
          "description": "Configuration options related to authenticated a user by their phone number.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber"
        },
        "hashConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "description": "Output only. Hash config information."
        },
        "anonymous": {
          "description": "Configuration options related to authenticating an anonymous user.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Anonymous"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2SignInConfig"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig": {
      "description": "Additional config for Apple for code flow.",
      "type": "object",
      "properties": {
        "keyId": {
          "type": "string",
          "description": "Key ID for the private key."
        },
        "teamId": {
          "description": "Apple Developer Team ID.",
          "type": "string"
        },
        "privateKey": {
          "description": "Private key used for signing the client secret JWT.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse",
      "description": "Response for ListInboundSamlConfigs",
      "type": "object",
      "properties": {
        "inboundSamlConfigs": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
          },
          "description": "The set of configs.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenRequest": {
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest",
      "type": "object",
      "properties": {
        "providerId": {
          "type": "string",
          "description": "Required. The idp provider for the token. Currently only supports Apple Idp. The format should be \"apple.com\"."
        },
        "idToken": {
          "type": "string",
          "description": "Required. A valid Identity Platform ID token to link the account. If there was a successful token revocation request on the account and no tokens are generated after the revocation, the duplicate requests will be ignored and returned immediately."
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "redirectUri": {
          "type": "string",
          "description": "The redirect URI provided in the initial authorization request made by the client to the IDP. The URI must use the HTTPS protocol, include a domain name, and can't contain an IP address or localhost. Required if token_type is CODE."
        },
        "tokenType": {
          "enum": [
            "TOKEN_TYPE_UNSPECIFIED",
            "REFRESH_TOKEN",
            "ACCESS_TOKEN",
            "CODE"
          ],
          "description": "Required. The type of the token to be revoked.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Token type is refresh_token.",
            "Token type is access_token.",
            "Token type is authorization_code."
          ]
        },
        "token": {
          "description": "Required. The token to be revoked. If an authorization_code is passed in, the API will first exchange the code for access token and then revoke the token exchanged.",
          "type": "string"
        }
      },
      "description": "Request message for RevokeToken."
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey": {
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey",
      "description": "The reCAPTCHA key config. reCAPTCHA Enterprise offers different keys for different client platforms.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\""
        },
        "type": {
          "description": "The client's platform type.",
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is iOS.",
            "Client type is Android."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "WEB",
            "IOS",
            "ANDROID"
          ]
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest",
      "type": "object",
      "properties": {
        "mfaEnrollmentId": {
          "description": "The MFA enrollment ID from the user's list of current MFA enrollments.",
          "type": "string"
        },
        "phoneVerificationInfo": {
          "description": "Proof of completion of the SMS based MFA challenge.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "totpVerificationInfo": {
          "description": "Proof of completion of the TOTP based MFA challenge.",
          "$ref": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo"
        },
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        }
      },
      "description": "Finalizes sign-in by verifying MFA challenge."
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse",
      "type": "object",
      "properties": {},
      "description": "Response for InitializeIdentityPlatform. Empty for now."
    },
    "GoogleCloudIdentitytoolkitAdminV2DnsInfo": {
      "type": "object",
      "properties": {
        "customDomain": {
          "description": "Output only. The applied verified custom domain.",
          "type": "string",
          "readOnly": true
        },
        "pendingCustomDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The custom domain that's to be verified."
        },
        "domainVerificationRequestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of initial request for the current domain verification.",
          "readOnly": true
        },
        "customDomainState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "The verification has not started.",
            "The verification is in progress.",
            "The verification failed.",
            "The verification succeeded and is ready to be applied."
          ],
          "description": "Output only. The current verification state of the custom domain. The custom domain will only be used once the domain verification is successful.",
          "readOnly": true,
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "useCustomDomain": {
          "type": "boolean",
          "description": "Whether to use custom domain."
        }
      },
      "description": "Information of custom domain DNS verification. By default, default_domain will be used. A custom domain can be configured using VerifyCustomDomain.",
      "id": "GoogleCloudIdentitytoolkitAdminV2DnsInfo"
    },
    "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota": {
      "id": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When this quota will take effect"
        },
        "quota": {
          "description": "Corresponds to the 'refill_token_count' field in QuotaServer config",
          "type": "string",
          "format": "int64"
        },
        "quotaDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "How long this quota will be active for"
        }
      },
      "description": "Temporary quota increase / decrease"
    },
    "GoogleCloudIdentitytoolkitAdminV2SendEmail": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SendEmail",
      "type": "object",
      "properties": {
        "revertSecondFactorAdditionTemplate": {
          "description": "Email template for reverting second factor addition emails",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "legacyResetPasswordTemplate": {
          "description": "Reset password email template for legacy Firebase V1 app.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "smtp": {
          "description": "Use a custom SMTP relay",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Smtp"
        },
        "method": {
          "enum": [
            "METHOD_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM_SMTP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Email method unspecified.",
            "Sending email on behalf of developer.",
            "Sending email using SMTP configuration provided by developers."
          ],
          "description": "The method used for sending an email."
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "callbackUri": {
          "description": "action url in email template.",
          "type": "string"
        },
        "changeEmailTemplate": {
          "description": "Email template for change email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "dnsInfo": {
          "description": "Information of custom domain DNS verification.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2DnsInfo"
        },
        "verifyEmailTemplate": {
          "description": "Email template for verify email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        }
      },
      "description": "Options for email sending."
    },
    "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig",
      "description": "TotpMFAProviderConfig represents the TOTP based MFA provider.",
      "type": "object",
      "properties": {
        "adjacentIntervals": {
          "type": "integer",
          "format": "int32",
          "description": "The allowed number of adjacent intervals that will be used for verification to avoid clock skew."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SpConfig": {
      "type": "object",
      "properties": {
        "spEntityId": {
          "description": "Unique identifier for all SAML entities.",
          "type": "string"
        },
        "callbackUri": {
          "description": "Callback URI where responses from IDP are handled.",
          "type": "string"
        },
        "spCertificates": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2SpCertificate"
          },
          "description": "Output only. Public certificates generated by the server to verify the signature in SAMLRequest in the SP-initiated flow.",
          "type": "array"
        }
      },
      "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SpConfig"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse": {
      "description": "FinalizeMfaEnrollment response.",
      "type": "object",
      "properties": {
        "phoneAuthInfo": {
          "description": "Auxiliary auth info specific to phone auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        },
        "idToken": {
          "description": "ID token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "totpAuthInfo": {
          "description": "Auxiliary auth info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse"
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenResponse": {
      "description": "Response message for RevokeToken. Empty for now.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig": {
      "type": "object",
      "properties": {
        "enableImprovedEmailPrivacy": {
          "description": "Migrates the project to a state of improved email privacy. For example certain error codes are more generic to avoid giving away information on whether the account exists. In addition, this disables certain features that as a side-effect allow user enumeration. Enabling this toggle disables the fetchSignInMethodsForEmail functionality and changing the user's email to an unverified email. It is recommended to remove dependence on this functionality and enable this toggle to improve user privacy.",
          "type": "boolean"
        }
      },
      "description": "Configuration for settings related to email privacy and public visibility. Settings in this config protect against email enumeration, but may make some trade-offs in user-friendliness.",
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse",
      "description": "Response message for ListTenants.",
      "type": "object",
      "properties": {
        "tenants": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
          },
          "type": "array",
          "description": "A list of tenants under the given agent project."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to get the next page of results."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2PhoneNumber": {
      "id": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether phone number auth is enabled for the project or not."
        },
        "testPhoneNumbers": {
          "type": "object",
          "description": "A map of that can be used for phone auth testing.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Configuration options related to authenticated a user by their phone number."
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule": {
[...]
