{
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "title": "Google Identity Toolkit API",
  "id": "identitytoolkit:v3",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "name": "identitytoolkit",
  "discoveryVersion": "v1",
  "description": "Help the third party sites to implement federated login.",
  "version": "v3",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "batchPath": "batch/identitytoolkit/v3",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "canonicalName": "Identity Toolkit",
  "schemas": {
    "GetAccountInfoResponse": {
      "id": "GetAccountInfoResponse",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\".",
          "type": "string",
          "default": "identitytoolkit#GetAccountInfoResponse"
        },
        "users": {
          "description": "The info of the users.",
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response of getting account information."
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "type": "object",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "properties": {
        "phoneNumber": {
          "type": "string"
        },
        "sessionInfo": {
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode.",
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "properties": {
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        }
      },
      "description": "Request to sign in with email.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "properties": {
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token or STS id token of the authenticated user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "description": "Request to delete account.",
      "type": "object"
    },
    "SetAccountInfoResponse": {
      "id": "SetAccountInfoResponse",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "providerUserInfo": {
          "description": "The user's profiles at the associated IdPs.",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "description": "The user's display name at the IDP.",
                "type": "string"
              },
              "photoUrl": {
                "description": "The user's photo url at the IDP.",
                "type": "string"
              },
              "providerId": {
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              }
            }
          },
          "type": "array"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "emailVerified": {
          "description": "If email has been verified.",
          "type": "boolean"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "type": "string",
          "default": "identitytoolkit#SetAccountInfoResponse"
        },
        "idToken": {
          "description": "The Gitkit id token to login the newly sign up user.",
          "type": "string"
        },
        "passwordHash": {
          "description": "The user's hashed password.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Respone of setting the account information.",
      "type": "object"
    },
    "UploadAccountResponse": {
      "description": "Respone of uploading accounts in batch.",
      "type": "object",
      "id": "UploadAccountResponse",
      "properties": {
        "kind": {
          "type": "string",
          "default": "identitytoolkit#UploadAccountResponse",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\"."
        },
        "error": {
          "description": "The error encountered while processing the account info.",
          "items": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              },
              "index": {
                "format": "int32",
                "type": "integer",
                "description": "The index of the malformed account, starting from 0."
              }
            }
          },
          "type": "array"
        }
      }
    },
    "VerifyAssertionResponse": {
      "description": "Response of verifying the IDP assertion.",
      "type": "object",
      "id": "VerifyAssertionResponse",
      "properties": {
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "oauthIdToken": {
          "description": "The OIDC id token.",
          "type": "string"
        },
        "appInstallationUrl": {
          "description": "URL for OTA app installation.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation."
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth2 authorization code.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "rawUserInfo": {
          "description": "Raw IDP-returned user info.",
          "type": "string"
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "screenName": {
          "description": "The screen_name of a Twitter user or the login name at Github.",
          "type": "string"
        },
        "firstName": {
          "description": "The first name of the user.",
          "type": "string"
        },
        "oauthRequestToken": {
          "description": "The user approved request token for the OpenID OAuth extension.",
          "type": "string"
        },
        "fullName": {
          "description": "The full name of the user.",
          "type": "string"
        },
        "emailVerified": {
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email.",
          "type": "boolean"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "type": "string",
          "default": "identitytoolkit#VerifyAssertionResponse"
        },
        "oauthScope": {
          "description": "The scope for the OpenID OAuth extension.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "originalEmail": {
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "errorMessage": {
          "type": "string",
          "description": "Client error code."
        },
        "appScheme": {
          "description": "The custom scheme used by mobile app.",
          "type": "string"
        },
        "emailRecycled": {
          "description": "It's true if the email is recycled.",
          "type": "boolean"
        },
        "needEmail": {
          "description": "Whether need client to supply email to complete the federated login flow.",
          "type": "boolean"
        },
        "oauthTokenSecret": {
          "description": "The OAuth1 access token secret.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "verifiedProvider": {
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "federatedId": {
          "description": "The unique ID identifies the IdP account.",
          "type": "string"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "oauthExpireIn": {
          "format": "int32",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "type": "integer"
        },
        "displayName": {
          "description": "The display name of the user.",
          "type": "string"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The birth date of the IdP account."
        },
        "nickName": {
          "type": "string",
          "description": "The nick name of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "description": "Request to set the project configuration.",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "properties": {
        "apiKey": {
          "description": "Browser API key, needed when making http request to Apiary.",
          "type": "string"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user.",
          "type": "boolean"
        },
        "idpConfig": {
          "description": "Oauth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          },
          "type": "array"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "type": "object",
      "description": "Response of setting the project configuration.",
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "properties": {
        "projectId": {
          "description": "Project ID of the relying party.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "description": "Request to verify the password.",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "properties": {
        "password": {
          "description": "The password inputed by the user.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "pendingIdToken": {
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to sign out user."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      }
    },
    "Relyingparty": {
      "id": "Relyingparty",
      "properties": {
        "continueUrl": {
          "description": "The url to continue to the Gitkit app",
          "type": "string"
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "canHandleCodeInApp": {
          "description": "whether or not the app can handle the oob code without first going to web",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#relyingparty",
          "description": "The fixed string \"identitytoolkit#relyingparty\"."
        },
        "newEmail": {
          "description": "The new email if the code is for email change.",
          "type": "string"
        },
        "idToken": {
          "description": "The user's Gitkit login token for email change.",
          "type": "string"
        },
        "androidInstallApp": {
          "description": "whether or not to install the android app on the device where the link is opened",
          "type": "boolean"
        },
        "iOSBundleId": {
          "description": "the iOS bundle id of iOS app to handle the action code",
          "type": "string"
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        },
        "userIp": {
          "description": "The IP address of the user.",
          "type": "string"
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        },
        "requestType": {
          "description": "The request type.",
          "type": "string"
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        }
      },
      "type": "object",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)"
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "description": "Request to verify a custom token",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "token": {
          "description": "The custom token to verify",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        }
      }
    },
    "EmailTemplate": {
      "id": "EmailTemplate",
      "properties": {
        "from": {
          "description": "From address of the email.",
          "type": "string"
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        },
        "body": {
          "type": "string",
          "description": "Email body."
        },
        "replyTo": {
          "description": "Reply-to address.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "Email body format."
        }
      },
      "description": "Template for an email template.",
      "type": "object"
    },
    "SignupNewUserResponse": {
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "type": "object",
      "id": "SignupNewUserResponse",
      "properties": {
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "type": "string",
          "default": "identitytoolkit#SignupNewUserResponse"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "idToken": {
          "description": "The Gitkit id token to login the newly sign up user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        }
      }
    },
    "VerifyPasswordResponse": {
      "type": "object",
      "description": "Request of verifying the password.",
      "id": "VerifyPasswordResponse",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The URI of the user's photo at IdP",
          "type": "string"
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "oauthExpireIn": {
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "type": "integer",
          "format": "int32"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\".",
          "type": "string",
          "default": "identitytoolkit#VerifyPasswordResponse"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        }
      }
    },
    "GetOobConfirmationCodeResponse": {
      "description": "Response of getting a code for user confirmation (reset password, change email etc.).",
      "type": "object",
      "id": "GetOobConfirmationCodeResponse",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\".",
          "type": "string",
          "default": "identitytoolkit#GetOobConfirmationCodeResponse"
        },
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        },
        "oobCode": {
          "description": "The code to be send to the user.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "properties": {
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "maxResults": {
          "type": "integer",
          "description": "The max number of results to return in the response.",
          "format": "uint32"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "nextPageToken": {
          "description": "The token for the next page. This should be taken from the previous response.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to download user account in batch."
    },
    "UserInfo": {
      "description": "Template for an individual account info.",
      "type": "object",
      "id": "UserInfo",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The IDP of the user.",
          "items": {
            "type": "object",
            "properties": {
              "phoneNumber": {
                "type": "string",
                "description": "User's phone number."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "screenName": {
                "description": "User's screen name at Twitter or login name at Github.",
                "type": "string"
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              }
            }
          }
        },
        "phoneNumber": {
          "description": "User's phone number.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether the user is disabled.",
          "type": "boolean"
        },
        "passwordHash": {
          "description": "The user's hashed password.",
          "type": "string",
          "format": "byte"
        },
        "lastLoginAt": {
          "format": "int64",
          "type": "string",
          "description": "last login timestamp."
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "createdAt": {
          "format": "int64",
          "description": "User creation timestamp.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        },
        "customAttributes": {
          "description": "The custom attributes to be set in the user's id token.",
          "type": "string"
        },
        "screenName": {
          "description": "User's screen name at Twitter or login name at Github.",
          "type": "string"
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp when the password was last updated.",
          "format": "double"
        },
        "rawPassword": {
          "description": "The user's plain text password.",
          "type": "string"
        },
        "salt": {
          "type": "string",
          "description": "The user's password salt.",
          "format": "byte"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the email has been verified.",
          "type": "boolean"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Version of the user's password."
        }
      }
    },
    "DeleteAccountResponse": {
      "id": "DeleteAccountResponse",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "type": "string",
          "default": "identitytoolkit#DeleteAccountResponse"
        }
      },
      "type": "object",
      "description": "Respone of deleting account."
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "description": "Request to get the IDP authentication URL.",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "properties": {
        "customParameter": {
          "type": "object",
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token.",
          "additionalProperties": {
            "description": "The customized query parameter.",
            "type": "string"
          }
        },
        "otaApp": {
          "description": "The native app package for OTA installation.",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
          "type": "string"
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "continueUri": {
          "description": "The URI to which the IDP redirects the user after the federated login flow.",
          "type": "string"
        },
        "oauthConsumerKey": {
          "description": "The developer's consumer key for OpenId OAuth Extension",
          "type": "string"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "oauthScope": {
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant",
          "type": "string"
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "hostedDomain": {
          "type": "string",
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "authFlowType": {
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        }
      }
    },
    "DownloadAccountResponse": {
      "description": "Response of downloading accounts in batch.",
      "type": "object",
      "id": "DownloadAccountResponse",
      "properties": {
        "users": {
          "description": "The user accounts data.",
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#DownloadAccountResponse",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\"."
        },
        "nextPageToken": {
          "description": "The next page token. To be used in a subsequent request to return the next page of results.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "phoneNumber": {
          "description": "Privileged caller can query users by specified phone number.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "localId": {
          "type": "array",
          "description": "The list of local ID's of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "description": "The list of emails of the users to inquiry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request to get the account information."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "properties": {
        "iosReceipt": {
          "description": "Receipt of successful app token validation with APNS.",
          "type": "string"
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        },
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Recaptcha solution.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for Identitytoolkit-SendVerificationCode"
    },
    "VerifyCustomTokenResponse": {
      "id": "VerifyCustomTokenResponse",
      "properties": {
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\".",
          "type": "string",
          "default": "identitytoolkit#VerifyCustomTokenResponse"
        }
      },
      "type": "object",
      "description": "Response from verifying a custom token"
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "properties": {
        "cpuMemCost": {
          "format": "int32",
          "type": "integer",
          "description": "The following 4 fields are for standard scrypt algorithm."
        },
        "saltSeparator": {
          "type": "string",
          "description": "The salt separator.",
          "format": "byte"
        },
        "users": {
          "type": "array",
          "description": "The account info to be stored.",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "rounds": {
          "format": "int32",
          "type": "integer",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms."
        },
        "dkLen": {
          "type": "integer",
          "format": "int32"
        },
        "sanityCheck": {
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account.",
          "type": "boolean"
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "hashAlgorithm": {
          "description": "The password hash algorithm.",
          "type": "string"
        },
        "memoryCost": {
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms.",
          "format": "int32"
        },
        "signerKey": {
          "format": "byte",
          "description": "The key for to hash the password.",
          "type": "string"
        },
        "allowOverwrite": {
          "description": "Whether allow overwrite existing account when user local_id exists.",
          "type": "boolean"
        }
      },
      "description": "Request to upload user account in batch.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "properties": {
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "idToken": {
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "refreshToken": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "localId": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        }
      }
    },
    "GetRecaptchaParamResponse": {
      "description": "Response of getting recaptcha param.",
      "type": "object",
      "id": "GetRecaptchaParamResponse",
      "properties": {
        "recaptchaSiteKey": {
          "description": "Site key registered at recaptcha.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "type": "string",
          "default": "identitytoolkit#GetRecaptchaParamResponse"
        },
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "type": "object",
      "description": "Response of getting the project configuration.",
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "properties": {
        "idpConfig": {
          "type": "array",
          "description": "OAuth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled.",
          "type": "boolean"
        },
        "allowPasswordUser": {
          "description": "Whether to allow password user sign in or sign up.",
          "type": "boolean"
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "apiKey": {
          "description": "Browser API key, needed when making http request to Apiary.",
          "type": "string"
        },
        "authorizedDomains": {
          "description": "Authorized domains.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "type": "object",
      "description": "Response of signing out user.",
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "properties": {
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "description": "Request to verify the IDP assertion.",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "properties": {
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "sessionId": {
          "description": "Session ID, which should match the one in previous createAuthUri request.",
          "type": "string"
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "requestUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP."
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string",
          "format": "uint64"
        },
        "postBody": {
          "description": "The post body if the request is a HTTP POST.",
          "type": "string"
        }
      }
    },
    "ResetPasswordResponse": {
      "description": "Response of resetting the password.",
      "type": "object",
      "id": "ResetPasswordResponse",
      "properties": {
        "email": {
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email.",
          "type": "string"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "newEmail": {
          "description": "If the out-of-band code is for email recovery, the user's new email.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#ResetPasswordResponse",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\"."
        }
      }
    },
    "CreateAuthUriResponse": {
      "type": "object",
      "description": "Response of creating the IDP authentication URL.",
      "id": "CreateAuthUriResponse",
      "properties": {
        "registered": {
          "description": "Whether the user is registered if the identifier is an email.",
          "type": "boolean"
        },
        "sessionId": {
          "description": "Session ID which should be passed in the following verifyAssertion request.",
          "type": "string"
        },
        "authUri": {
          "description": "The URI used by the IDP to authenticate the user.",
          "type": "string"
        },
        "captchaRequired": {
          "type": "boolean",
          "description": "True if captcha is required."
        },
        "signinMethods": {
          "type": "array",
          "description": "All sign-in methods this user has used.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#CreateAuthUriResponse",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\"."
        },
        "allProviders": {
          "description": "all providers the user has once used to do federated login",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "type": "object",
      "description": "Respone of getting public keys.",
      "additionalProperties": {
        "type": "string"
      }
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "properties": {
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "disabled": {
          "description": "Whether to disable the user. Only can be used by service account.",
          "type": "boolean"
        },
        "localId": {
          "description": "Privileged caller can create user with specified user id.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "emailVerified": {
          "description": "Mark the email as verified or not. Only can be used by service account.",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth."
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "description": "Request to reset the password.",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "properties": {
        "newPassword": {
          "description": "The new password inputted by the user.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "oldPassword": {
          "type": "string",
          "description": "The old password inputted by the user."
        },
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        }
      }
    },
    "EmailLinkSigninResponse": {
      "description": "Response of email signIn.",
      "type": "object",
      "id": "EmailLinkSigninResponse",
      "properties": {
        "expiresIn": {
          "format": "int64",
          "description": "Expiration time of STS id token in seconds.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "type": "string",
          "default": "identitytoolkit#EmailLinkSigninResponse"
        },
        "refreshToken": {
          "description": "The refresh token for the signed in user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        }
      }
    },
    "IdpConfig": {
      "id": "IdpConfig",
      "properties": {
        "experimentPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Percent of users who will be prompted/redirected federated login for this IDP."
        },
        "enabled": {
          "description": "Whether this IDP is enabled.",
          "type": "boolean"
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        },
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "whitelistedAudiences": {
          "description": "Whitelisted client IDs for audience check.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        }
      },
      "description": "Template for a single idp configuration.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "type": "object",
      "description": "Request to set the account information.",
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "properties": {
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "deleteAttribute": {
          "type": "array",
          "description": "The attributes users request to delete.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Mark the email as verified or not.",
          "type": "boolean"
        },
        "upgradeToFederatedLogin": {
          "description": "Mark the user to upgrade to federated login.",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "password": {
          "description": "The new password of the user.",
          "type": "string"
        },
        "validSince": {
          "format": "int64",
          "type": "string",
          "description": "Timestamp in seconds for valid login token."
        },
        "createdAt": {
          "description": "The timestamp when the account is created.",
          "type": "string",
          "format": "int64"
        },
        "lastLoginAt": {
          "format": "int64",
          "description": "Last login timestamp.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can update user with specified phone number."
        },
        "provider": {
          "description": "The associated IDPs of the user.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "deleteProvider": {
          "description": "The IDPs the user request to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        }
      }
    }
  },
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "ownerName": "Google",
  "rootUrl": "https://www.googleapis.com/",
  "revision": "20180723",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "resources": {
    "relyingparty": {
      "methods": {
        "emailLinkSignin": {
          "description": "Reset password for a user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "path": "emailLinkSignin",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "id": "identitytoolkit.relyingparty.emailLinkSignin"
        },
        "verifyPassword": {
          "description": "Verifies the user entered password.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "path": "verifyPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "id": "identitytoolkit.relyingparty.verifyPassword"
        },
        "setAccountInfo": {
          "path": "setAccountInfo",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "description": "Set account info for a user.",
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "httpMethod": "POST",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "signOutUser": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "path": "signOutUser",
          "description": "Sign out user.",
          "id": "identitytoolkit.relyingparty.signOutUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          }
        },
        "setProjectConfig": {
          "path": "setProjectConfig",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "description": "Set project configuration.",
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "signupNewUser": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "description": "Signup new user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "path": "signupNewUser"
        },
        "resetPassword": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "id": "identitytoolkit.relyingparty.resetPassword",
          "description": "Reset password for a user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "path": "resetPassword"
        },
        "getPublicKeys": {
          "httpMethod": "GET",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "description": "Get token signing public key.",
          "path": "publicKeys"
        },
        "downloadAccount": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "path": "downloadAccount",
          "description": "Batch download user accounts.",
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "DownloadAccountResponse"
          }
        },
        "uploadAccount": {
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "path": "uploadAccount",
          "description": "Batch upload existing user accounts."
        },
        "sendVerificationCode": {
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "sendVerificationCode",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "description": "Send SMS verification code."
        },
        "verifyAssertion": {
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "description": "Verifies the assertion returned by the IdP.",
          "path": "verifyAssertion",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          }
        },
        "getRecaptchaParam": {
          "path": "getRecaptchaParam",
          "description": "Get recaptcha secure param.",
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          }
        },
        "verifyCustomToken": {
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "path": "verifyCustomToken",
          "description": "Verifies the developer asserted ID token."
        },
        "verifyPhoneNumber": {
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "path": "verifyPhoneNumber",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber"
        },
        "getAccountInfo": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "description": "Returns the account info.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "path": "getAccountInfo"
        },
        "deleteAccount": {
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "path": "deleteAccount",
          "description": "Delete user account."
        },
        "getProjectConfig": {
          "parameters": {
            "delegatedProjectNumber": {
              "description": "Delegated GCP project number of the request.",
              "location": "query",
              "type": "string"
            },
            "projectNumber": {
              "description": "GCP project number of the request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "getProjectConfig",
          "description": "Get project configuration.",
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          }
        },
        "createAuthUri": {
          "path": "createAuthUri",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "httpMethod": "POST",
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getOobConfirmationCode": {
          "httpMethod": "POST",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "description": "Get a code for user action confirmation.",
          "path": "getOobConfirmationCode",
          "request": {
            "$ref": "Relyingparty"
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  }
}