{
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/identity-platform",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "title": "Identity Toolkit API",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo": {
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo",
      "description": "Error info for account failed to be deleted.",
      "type": "object",
      "properties": {
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the errored item in the original local_ids field."
        },
        "localId": {
          "type": "string",
          "description": "The corresponding user ID."
        },
        "message": {
          "type": "string",
          "description": "Detailed error message."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1EmailInfo": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Email address that a MFA verification should be sent to."
        }
      },
      "description": "Information about email MFA.",
      "id": "GoogleCloudIdentitytoolkitV1EmailInfo"
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse": {
      "type": "object",
      "properties": {
        "sessionCookie": {
          "type": "string",
          "description": "The session cookie that has been created from the Identity Platform ID token specified in the request. It is in the form of a JSON Web Token (JWT). Always present."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse",
      "description": "Response message for CreateSessionCookie."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "Required. The custom Auth token asserted by the developer. The token should be a [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) that includes the claims listed in the [API reference](https://cloud.google.com/identity-platform/docs/reference/rest/client/) under the \"Custom Token Claims\" section."
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If present, the ID should match the tenant_id in the token.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Request message for SignInWithCustomToken.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest"
    },
    "GoogleCloudIdentitytoolkitV1ProviderUserInfo": {
      "description": "Information about the user as provided by various Identity Providers.",
      "id": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "The user's phone number at the Identity Provider."
        },
        "providerId": {
          "type": "string",
          "description": "The ID of the Identity Provider."
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name at the Identity Provider."
        },
        "federatedId": {
          "description": "The user's identifier at the Identity Provider.",
          "type": "string"
        },
        "rawId": {
          "description": "The user's raw identifier directly returned from Identity Provider.",
          "type": "string"
        },
        "screenName": {
          "type": "string",
          "description": "The user's screen_name at Twitter or login name at GitHub."
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's profile photo URL at the Identity Provider."
        },
        "email": {
          "description": "The user's email address at the Identity Provider.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo": {
      "type": "object",
      "properties": {
        "appSignatureHash": {
          "type": "string",
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API."
        }
      },
      "description": "The information required to auto-retrieve an SMS.",
      "id": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo"
    },
    "GoogleCloudIdentitytoolkitV1UserNotification": {
      "description": "Warning notifications for the user.",
      "id": "GoogleCloudIdentitytoolkitV1UserNotification",
      "type": "object",
      "properties": {
        "notificationCode": {
          "type": "string",
          "enumDescriptions": [
            "No notification specified.",
            "Password missing lowercase character.",
            "Password missing uppercase character.",
            "Password missing numeric character.",
            "Password missing non alphanumeric character.",
            "Password less than minimum required length.",
            "Password greater than maximum required length."
          ],
          "description": "Warning notification enum. Can be used for localization.",
          "enum": [
            "NOTIFICATION_CODE_UNSPECIFIED",
            "MISSING_LOWERCASE_CHARACTER",
            "MISSING_UPPERCASE_CHARACTER",
            "MISSING_NUMERIC_CHARACTER",
            "MISSING_NON_ALPHANUMERIC_CHARACTER",
            "MINIMUM_PASSWORD_LENGTH",
            "MAXIMUM_PASSWORD_LENGTH"
          ]
        },
        "notificationMessage": {
          "description": "Warning notification string. Can be used as fallback.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1DownloadAccountResponse": {
      "id": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse",
      "description": "Response message for DownloadAccount.",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more accounts to be downloaded, a token that can be passed back to DownloadAccount to get more accounts. Otherwise, this is blank."
        },
        "users": {
          "description": "All accounts belonging to the project/tenant limited by max_results in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse": {
      "id": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse",
      "description": "Response message for GetRecaptchaParam.",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "recaptchaStoken": {
          "deprecated": true,
          "type": "string"
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "The reCAPTCHA v2 site key used to invoke the reCAPTCHA service. Always present."
        },
        "producerProjectNumber": {
          "description": "The producer project number used to generate PIA tokens",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest": {
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest",
      "description": "Request message for QueryUserInfo.",
      "type": "object",
      "properties": {
        "returnUserInfo": {
          "type": "boolean",
          "description": "If `true`, this request will return the accounts matching the query. If `false`, only the __count__ of accounts matching the query will be returned. Defaults to `true`."
        },
        "limit": {
          "description": "The maximum number of accounts to return with an upper limit of __500__. Defaults to _500_. Only valid when `return_user_info` is set to `true`.",
          "format": "int64",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant to which the result is scoped."
        },
        "order": {
          "type": "string",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASC",
            "DESC"
          ],
          "enumDescriptions": [
            "Order is not specified.",
            "Sort on ascending order.",
            "Sort on descending order."
          ]
        },
        "expression": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1SqlExpression"
          }
        },
        "offset": {
          "description": "The number of accounts to skip from the beginning of matching records. Only valid when `return_user_info` is set to `true`.",
          "type": "string",
          "format": "int64"
        },
        "sortBy": {
          "type": "string",
          "enum": [
            "SORT_BY_FIELD_UNSPECIFIED",
            "USER_ID",
            "NAME",
            "CREATED_AT",
            "LAST_LOGIN_AT",
            "USER_EMAIL"
          ],
          "enumDescriptions": [
            "Sort field is not specified.",
            "Sort result by userId.",
            "Sort result by name.",
            "Sort result by createdAt.",
            "Sort result by lastLoginAt.",
            "Sort result by userEmail."
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountResponse": {
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountResponse",
      "description": "Response message for UploadAccount.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Detailed error info for accounts that cannot be uploaded.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ErrorInfo"
          }
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "description": "Response message for SendVerificationCode.",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1Argon2Parameters": {
      "type": "object",
      "properties": {
        "iterations": {
          "description": "Required. The number of iterations to perform. Minimum is 1, maximum is 16.",
          "format": "int32",
          "type": "integer"
        },
        "hashLengthBytes": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The desired hash length in bytes. Minimum is 4 and maximum is 1024."
        },
        "parallelism": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The degree of parallelism, also called threads or lanes. Minimum is 1, maximum is 16."
        },
        "associatedData": {
          "format": "byte",
          "type": "string",
          "description": "The additional associated data, if provided, is appended to the hash value to provide an additional layer of security. A base64-encoded string if specified via JSON."
        },
        "hashType": {
          "type": "string",
          "description": "Required. Must not be HASH_TYPE_UNSPECIFIED.",
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "ARGON2_D",
            "ARGON2_ID",
            "ARGON2_I"
          ],
          "enumDescriptions": [
            "The hash type is not specified.",
            "An Argon2 variant, Argon2d.",
            "An Argon2 variant, Argonid. Recommended.",
            "An Argon2 variant, Argon2i."
          ]
        },
        "memoryCostKib": {
          "description": "Required. The memory cost in kibibytes. Maximum is 32768.",
          "format": "int32",
          "type": "integer"
        },
        "version": {
          "type": "string",
          "description": "The version of the Argon2 algorithm. This defaults to VERSION_13 if not specified.",
          "enum": [
            "VERSION_UNSPECIFIED",
            "VERSION_10",
            "VERSION_13"
          ],
          "enumDescriptions": [
            "The version is not specified.",
            "The previous version, 0x10.",
            "The current version, 0x13. The default value for version."
          ]
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1Argon2Parameters",
      "description": "The parameters for Argon2 hashing algorithm."
    },
    "GoogleCloudIdentitytoolkitV1MfaFactor": {
      "id": "GoogleCloudIdentitytoolkitV1MfaFactor",
      "type": "object",
      "properties": {
        "phoneInfo": {
          "description": "Phone number to receive OTP for MFA.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this mfa option e.g. \"corp cell phone\"."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest": {
      "type": "object",
      "properties": {
        "publicKeyUrl": {
          "description": "Required. The URL to fetch the Apple public key in order to verify the given signature is signed by Apple.",
          "type": "string"
        },
        "signature": {
          "description": "Required. The verification signature data generated by Apple.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "int64",
          "description": "Required. The time when the signature was created by Apple, in milliseconds since the epoch."
        },
        "displayName": {
          "type": "string",
          "description": "The user's Game Center display name."
        },
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to."
        },
        "playerId": {
          "description": "Required. The user's Game Center player ID. Deprecated by Apple. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        },
        "salt": {
          "type": "string",
          "description": "Required. A random string used to generate the given signature."
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform account. If present, this request will link the Game Center player ID to the account represented by this ID token."
        },
        "teamPlayerId": {
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid",
          "type": "string"
        }
      },
      "description": "Request message for SignInWithGameCenter",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse": {
      "type": "object",
      "properties": {
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the authenticated user was created by this request."
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse",
      "description": "Response message for SignInWithCustomToken."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse": {
      "description": "Response message for SignInWithEmailLink.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "mfaPendingCredential": {
          "type": "string",
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor check."
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "email": {
          "type": "string",
          "description": "The email the user signed in with. Always present in the response."
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1OpenIdConnectKey": {
      "type": "object",
      "properties": {
        "use": {
          "description": "Key use.",
          "type": "string"
        },
        "alg": {
          "description": "Signature algorithm.",
          "type": "string"
        },
        "e": {
          "type": "string",
          "description": "Exponent for the RSA public key, it is represented as the base64url encoding of the value's big endian representation."
        },
        "kid": {
          "description": "Unique string to identify this key.",
          "type": "string"
        },
        "n": {
          "description": "Modulus for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        },
        "kty": {
          "type": "string",
          "description": "Key type."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey",
      "description": "Represents a public key of the session cookie signer, formatted as a [JSON Web Key (JWK)](https://tools.ietf.org/html/rfc7517)."
    },
    "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier": {
      "id": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier",
      "description": "Federated user identifier at an Identity Provider.",
      "type": "object",
      "properties": {
        "providerId": {
          "type": "string",
          "description": "The ID of supported identity providers. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`."
        },
        "rawId": {
          "description": "The user ID of the account at the third-party Identity Provider specified by `provider_id`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse": {
      "type": "object",
      "properties": {
        "keys": {
          "description": "Public keys of the session cookie signer, formatted as [JSON Web Keys (JWK)](https://tools.ietf.org/html/rfc7517).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey"
          }
        }
      },
      "description": "Response message for GetSessionCookiePublicKeys.",
      "id": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse"
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "description": "Request message for VerifyIosClient",
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest",
      "type": "object",
      "properties": {
        "appToken": {
          "type": "string",
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service)."
        },
        "isSandbox": {
          "type": "boolean",
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountRequest": {
      "type": "object",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token of the account to delete. Require to be specified for requests from end users that lack Google OAuth 2.0 credential. Authenticated requests bearing a Google OAuth2 credential with proper permissions may pass local_id to specify the account to delete alternatively."
        },
        "localId": {
          "type": "string",
          "description": "The ID of user account to delete. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). Requests from users lacking the credential should pass an ID token instead."
        },
        "targetProjectId": {
          "type": "string",
          "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account."
        },
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Request message for DeleteAccount.",
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account.",
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment",
      "type": "object",
      "properties": {
        "totpInfo": {
          "description": "Contains information specific to TOTP MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo"
        },
        "phoneInfo": {
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number.",
          "type": "string"
        },
        "emailInfo": {
          "description": "Contains information specific to email MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailInfo"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this mfa option e.g. \"corp cell phone\"."
        },
        "unobfuscatedPhoneInfo": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unobfuscated phone_info."
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "ID of this MFA option."
        },
        "enrolledAt": {
          "description": "Timestamp when the account enrolled this second factor.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "type": "object",
      "properties": {
        "errors": {
          "description": "Detailed error info for accounts that cannot be deleted.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse",
      "description": "Response message to BatchDeleteAccounts."
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The user's new display name to be updated in the account's attributes. The length of the display name must be less than or equal to 256 characters.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the user's email has been verified. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field."
        },
        "customAttributes": {
          "description": "JSON formatted custom attributes to be stored in the Identity Platform ID token. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "disableUser": {
          "type": "boolean",
          "description": "If true, marks the account as disabled, meaning the user will no longer be able to sign-in."
        },
        "lastLoginAt": {
          "description": "The timestamp in milliseconds when the account last logged in.",
          "type": "string",
          "format": "int64"
        },
        "provider": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Identity Providers that the account should be associated with."
        },
        "linkProviderUserInfo": {
          "description": "The provider to be linked to the user's account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
        },
        "photoUrl": {
          "description": "The user's new photo URL for the account's profile photo to be updated in the account's attributes. The length of the URL must be less than or equal to 2048 characters.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "deleteProvider": {
          "description": "The Identity Providers to unlink from the user's account.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetProjectId": {
          "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
          "type": "string"
        },
        "validSince": {
          "description": "Specifies the minimum timestamp in seconds for an Identity Platform ID token to be considered valid.",
          "type": "string",
          "format": "int64"
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. Required when attempting to change user-related information.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to be updated in the account's attributes."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether or not to return an ID and refresh token. Should always be true."
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The user's new email to be updated in the account's attributes. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, the email cannot be changed by the user without verifying the email first, but it can be changed by an administrator."
        },
        "upgradeToFederatedLogin": {
          "description": "Whether the account should be restricted to only using federated login.",
          "type": "boolean"
        },
        "mfa": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaInfo",
          "description": "The multi-factor authentication related information to be set on the user's account. This will overwrite any previous multi-factor related information on the account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "captchaResponse": {
          "type": "string",
          "description": "The response from reCaptcha challenge. This is required when the system detects possible abuse activities."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code to be applied on the user's account. The following out-of-band code types are supported: * VERIFY_EMAIL * RECOVER_EMAIL * REVERT_SECOND_FACTOR_ADDITION * VERIFY_AND_CHANGE_EMAIL"
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp in milliseconds when the account was created."
        },
        "deleteAttribute": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "USER_ATTRIBUTE_NAME_UNSPECIFIED",
              "EMAIL",
              "DISPLAY_NAME",
              "PROVIDER",
              "PHOTO_URL",
              "PASSWORD",
              "RAW_USER_INFO"
            ],
            "enumDescriptions": [
              "User attribute name is not specified.",
              "User attribute key name is email.",
              "User attribute key name is displayName.",
              "User attribute key name is provider.",
              "User attribute key name is photoURL.",
              "User attribute key name is password.",
              "User attribute key name is rawUserInfo."
            ]
          }
        },
        "password": {
          "type": "string",
          "description": "The user's new password to be updated in the account's attributes. The password must be at least 6 characters long."
        },
        "localId": {
          "type": "string",
          "description": "The ID of the user. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). For requests from end-users, an ID token should be passed instead."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest",
      "description": "Request message for SetAccountInfo."
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse": {
      "type": "object",
      "properties": {
        "emailVerified": {
          "description": "Whether the account's email has been verified.",
          "type": "boolean"
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "deprecated": true,
          "type": "string",
          "description": "The account's display name."
        },
        "newEmail": {
          "type": "string",
          "description": "The new email that has been set on the user's account attributes."
        },
        "idToken": {
          "description": "An Identity Platform ID token for the account. This is used for legacy user sign up.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The user's photo URL for the account's profile photo.",
          "deprecated": true,
          "type": "string"
        },
        "providerUserInfo": {
          "description": "The linked Identity Providers on the account.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          }
        },
        "refreshToken": {
          "type": "string",
          "description": "A refresh token for the account. This is used for legacy user sign up."
        },
        "passwordHash": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. No actual password hash is currently returned."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated user.",
          "type": "string"
        },
        "email": {
          "deprecated": true,
          "type": "string",
          "description": "The account's email address."
        }
      },
      "description": "Response message for SetAccountInfo",
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse": {
      "type": "object",
      "properties": {
        "providerId": {
          "type": "string",
          "description": "The provider ID from the request, if provided."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "allProviders": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "authUri": {
          "description": "The authorization URI for the requested provider. Present only when a provider ID is set in the request.",
          "type": "string"
        },
        "signinMethods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of sign-in methods that the user has previously used. Each element is one of `password`, `emailLink`, or the provider ID of an IdP. Present only when a registered email identifier is set in the request. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, this method returns an empty list."
        },
        "captchaRequired": {
          "type": "boolean",
          "description": "Whether a CAPTCHA is needed because there have been too many failed login attempts by the user. Present only when a registered email identifier is set in the request."
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email identifier represents an existing account. Present only when an email identifier is set in the request."
        },
        "sessionId": {
          "description": "The session ID from the request, or a random string generated by CreateAuthUri if absent. It is used to prevent session fixation attacks.",
          "type": "string"
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "Whether the user has previously signed in with the provider ID in the request. Present only when a registered email identifier is set in the request."
        }
      },
      "description": "Response message for CreateAuthUri.",
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignUpResponse": {
      "description": "Response message for SignUp.",
      "id": "GoogleCloudIdentitytoolkitV1SignUpResponse",
      "type": "object",
      "properties": {
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the ID token expires."
        },
        "displayName": {
          "description": "The created user's display name.",
          "type": "string"
        },
        "email": {
          "description": "The created user's email.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the created user. Always present in the response."
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the created user. This field is only set for non-admin requests."
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the created user. This field is only set for non-admin requests."
        },
        "kind": {
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "description": "The information of specific user account(s) matching the parameters in the request."
        }
      },
      "description": "Response message for GetAccountInfo.",
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse": {
      "description": "Response message for SignInWithPassword.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse",
      "type": "object",
      "properties": {
        "oauthAccessToken": {
          "deprecated": true,
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user. Always present in the response."
        },
        "oauthAuthorizationCode": {
          "deprecated": true,
          "type": "string"
        },
        "oauthExpireIn": {
          "deprecated": true,
          "type": "integer",
          "format": "int32",
          "description": "The access token expiration time in seconds."
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "userNotifications": {
          "description": "Warning notifications for the user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserNotification"
          }
        },
        "email": {
          "description": "The email of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "type": "string",
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication."
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name stored in the account's attributes."
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "registered": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether the email is for an existing account. Always true."
        },
        "profilePicture": {
          "type": "string",
          "description": "The user's profile picture stored in the account's attributes."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1IdpConfig": {
      "type": "object",
      "properties": {
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        },
        "whitelistedAudiences": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Whitelisted client IDs for audience check."
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        },
        "provider": {
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "MSLIVE",
            "GOOGLE",
            "FACEBOOK",
            "PAYPAL",
            "TWITTER",
            "YAHOO",
            "AOL",
            "GITHUB",
            "GOOGLE_PLAY_GAMES",
            "LINKEDIN",
            "IOS_GAME_CENTER"
          ],
          "enumDescriptions": [
            "",
            "Microsoft Live as identity provider.",
            "Google as identity provider.",
            "Facebook as identity provider.",
            "PayPal as identity provider.",
            "Twitter as identity provider.",
            "Yahoo as identity provider.",
            "AOL as identity provider.",
            "GitHub as identity provider.",
            "Google Play Games as identity provider.",
            "LinkedIn as identity provider.",
            "iOS Game Center as identity provider."
          ]
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "experimentPercent": {
          "description": "Percent of users who will be prompted/redirected federated login for this IdP",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Config of an identity provider.",
      "id": "GoogleCloudIdentitytoolkitV1IdpConfig"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest": {
      "type": "object",
      "properties": {
        "captchaResponse": {
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for risk assessment. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string"
        },
        "idToken": {
          "deprecated": true,
          "type": "string"
        },
        "clientType": {
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "type": "string"
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform instance in the project.",
          "type": "string"
        },
        "email": {
          "description": "Required. The email the user is signing in with. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "recaptchaVersion": {
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "password": {
          "description": "Required. The password the user provides to sign in to the account.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest",
      "description": "Request message for SignInWithPassword."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest": {
      "type": "object",
      "properties": {
        "operation": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Operation is not specified.",
            "Verify operation is to sign up/sign in.",
            "Verify operation is to reauth.",
            "Verify operation is to update.",
            "Verify operation is to link."
          ],
          "enum": [
            "VERIFY_OP_UNSPECIFIED",
            "SIGN_UP_OR_IN",
            "REAUTH",
            "UPDATE",
            "LINK"
          ]
        },
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information from the response of sendVerificationCode. In the case of authenticating with an SMS code this must be specified, but in the case of using a temporary proof it can be unspecified."
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the phone number to the user represented by this ID token if the phone number is not in use, or will reauthenticate the user if the phone number is already linked to the user.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The user's phone number to sign in with. This is necessary in the case of uing a temporary proof, in which case it must match the phone number that was authenticated in the request that generated the temporary proof. This field is ignored if a session info is passed."
        },
        "temporaryProof": {
          "description": "A proof of the phone number verification, provided from a previous signInWithPhoneNumber request. If this is passed, the caller must also pass in the phone_number field the phone number that was verified in the previous request.",
          "type": "string"
        },
        "verificationProof": {
          "description": "Do not use.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "code": {
          "description": "User-entered verification code from an SMS sent to the user's phone.",
          "type": "string"
        }
      },
      "description": "Request message for SignInWithPhoneNumber.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest"
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest": {
      "description": "Request message for IssueSamlResponse.",
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest",
      "type": "object",
      "properties": {
        "samlAppEntityId": {
          "type": "string",
          "description": "SAML app entity id specified in Google Admin Console for each app. If developers want to redirect to a third-party app rather than a G Suite app, they'll probably they need this. When it's used, we'll return a RelayState. This includes a SAMLRequest, which can be used to trigger a SP-initiated SAML flow to redirect to the real app."
        },
        "idToken": {
          "description": "The Identity Platform ID token. It will be verified and then converted to a new SAMLResponse.",
          "type": "string"
        },
        "rpId": {
          "description": "Relying Party identifier, which is the audience of issued SAMLResponse.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest": {
      "description": "Request message for SendVerificationCode. 'captcha_response' is required when reCAPTCHA enterprise is enabled, or otherwise at least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator.",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest",
      "type": "object",
      "properties": {
        "captchaResponse": {
          "type": "string",
          "description": "Optional. The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled."
        },
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful iOS app token validation. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). This should come from the response of verifyIosClient. If present, the caller should also provide the `ios_secret`, as well as a bundle ID in the `x-ios-bundle-identifier` header, which must match the bundle ID from the verifyIosClient request."
        },
        "safetyNetToken": {
          "type": "string",
          "description": "Android only. Safety Net has been deprecated. Use play_integrity_token instead."
        },
        "clientType": {
          "type": "string",
          "description": "Optional. The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        },
        "autoRetrievalInfo": {
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval.",
          "$ref": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo"
        },
        "tenantId": {
          "type": "string",
          "description": "Tenant ID of the Identity Platform tenant the user is signing in to."
        },
        "recaptchaToken": {
          "description": "Recaptcha token for app verification. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). The recaptcha should be generated by calling getRecaptchaParams and the recaptcha token will be generated on user completion of the recaptcha challenge.",
          "type": "string"
        },
        "recaptchaVersion": {
          "description": "Optional. The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "type": "string"
        },
        "iosSecret": {
          "description": "Secret delivered to iOS app as a push notification. Should be passed with an `ios_receipt` as well as the `x-ios-bundle-identifier` header.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "playIntegrityToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token (and safety_net_token). At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, , or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). A Play Integrity Token can be generated via the [PlayIntegrity API](https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest": {
      "description": "Request message for SignInWithIdp.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest",
      "type": "object",
      "properties": {
        "requestUri": {
          "description": "Required. The URL to which the IdP redirects the user back. This can be set to `http://localhost` if the user is signing in with a manually provided IdP credential.",
          "type": "string"
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "returnIdpCredential": {
          "description": "Whether or not to return OAuth credentials from the IdP on the following errors: `FEDERATED_USER_ID_ALREADY_LINKED` and `EMAIL_EXISTS`.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "The session ID returned from a previous CreateAuthUri call. This field is verified against that session ID to prevent session fixation attacks. Required if the user is signing in with an authorization response from a previous CreateAuthUri authorization request."
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. If passed, the user's account at the IdP will be linked to the account represented by this ID token.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "postBody": {
          "description": "If the user is signing in with an authorization response obtained via a previous CreateAuthUri authorization request, this is the body of the HTTP POST callback from the IdP, if present. Otherwise, if the user is signing in with a manually provided IdP credential, this should be a URL-encoded form that contains the credential (e.g. an ID token or access token for OAuth 2.0 IdPs) and the provider ID of the IdP that issued the credential. For example, if the user is signing in to the Google provider using a Google ID token, this should be set to id_token`=[GOOGLE_ID_TOKEN]&providerId=google.com`, where `[GOOGLE_ID_TOKEN]` should be replaced with the Google ID token. If the user is signing in to the Facebook provider using a Facebook authentication token, this should be set to id_token`=[FACEBOOK_AUTHENTICATION_TOKEN]&providerId=facebook. com&nonce= [NONCE]`, where `[FACEBOOK_AUTHENTICATION_TOKEN]` should be replaced with the Facebook authentication token. Nonce is required for validating the token. The request will fail if no nonce is provided. If the user is signing in to the Facebook provider using a Facebook access token, this should be set to access_token`=[FACEBOOK_ACCESS_TOKEN]&providerId=facebook. com`, where `[FACEBOOK_ACCESS_TOKEN]` should be replaced with the Facebook access token. If the user is signing in to the Twitter provider using a Twitter OAuth 1.0 credential, this should be set to access_token`=[TWITTER_ACCESS_TOKEN]&oauth_token_secret= [TWITTER_TOKEN_SECRET]&providerId=twitter.com`, where `[TWITTER_ACCESS_TOKEN]` and `[TWITTER_TOKEN_SECRET]` should be replaced with the Twitter OAuth access token and Twitter OAuth token secret respectively.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "autoCreate": {
          "deprecated": true,
          "type": "boolean"
        },
        "returnRefreshToken": {
          "description": "Whether or not to return the OAuth refresh token from the IdP, if available.",
          "type": "boolean"
        },
        "pendingToken": {
          "type": "string",
          "description": "An opaque string from a previous SignInWithIdp response. If set, it can be used to repeat the sign-in operation from the previous SignInWithIdp operation. This may be present if the user needs to confirm their account information as part of a previous federated login attempt, or perform account linking."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse": {
      "id": "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse",
      "description": "Response message for GetProjectConfig.",
      "type": "object",
      "properties": {
        "resetPasswordTemplate": {
          "description": "Email template for reset password. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "useEmailSending": {
          "description": "Whether to use email sending. This field is only returned for authenticated calls from a developer.",
          "type": "boolean"
        },
        "apiKey": {
          "type": "string",
          "description": "Google Cloud API key. This field is only returned for authenticated calls from a developer."
        },
        "allowPasswordUser": {
          "description": "Whether to allow password account sign up. This field is only returned for authenticated calls from a developer.",
          "type": "boolean"
        },
        "projectId": {
          "description": "The project id of the retrieved configuration.",
          "type": "string"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate",
          "description": "Reset password email template for legacy Firebase V1 app. This field is only returned for authenticated calls from a developer."
        },
        "idpConfig": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1IdpConfig"
          },
          "description": "OAuth2 provider config. This field is only returned for authenticated calls from a developer."
        },
        "verifyEmailTemplate": {
          "description": "Email template for verify email. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "revertSecondFactorAdditionTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate",
          "description": "Email template for reverting second factor additions. This field is only returned for authenticated calls from a developer."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled. This field is only returned for authenticated calls from a developer."
        },
        "changeEmailTemplate": {
          "description": "Email template for change email. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "authorizedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Authorized domains for widget redirect."
        },
        "dynamicLinksDomain": {
          "description": "The Firebase Dynamic Links domain used to construct links for redirects to native apps.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1TotpInfo": {
      "id": "GoogleCloudIdentitytoolkitV1TotpInfo",
      "description": "Information about TOTP MFA.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountRequest": {
      "type": "object",
      "properties": {
        "signerKey": {
          "description": "The signer key used to hash the password. Required for the following hashing functions: * SCRYPT, * HMAC_MD5, * HMAC_SHA1, * HMAC_SHA256, * HMAC_SHA512",
          "format": "byte",
          "type": "string"
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether to overwrite an existing account in Identity Platform with a matching `local_id` in the request. If true, the existing account will be overwritten. If false, an error will be returned."
        },
        "argon2Parameters": {
          "description": "The parameters for Argon2 hashing algorithm.",
          "$ref": "GoogleCloudIdentitytoolkitV1Argon2Parameters"
        },
        "blockSize": {
          "description": "The block size parameter used by the STANDARD_SCRYPT hashing function. This parameter, along with parallelization and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "type": "integer",
          "format": "int32"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "Required. The hashing function used to hash the account passwords. Must be one of the following: * HMAC_SHA256 * HMAC_SHA1 * HMAC_MD5 * SCRYPT * PBKDF_SHA1 * MD5 * HMAC_SHA512 * SHA1 * BCRYPT * PBKDF2_SHA256 * SHA256 * SHA512 * STANDARD_SCRYPT * ARGON2"
        },
        "users": {
          "description": "A list of accounts to upload. `local_id` is required for each user; everything else is optional.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        },
        "memoryCost": {
          "description": "Memory cost for hash calculation. Only required when the hashing function is SCRYPT.",
          "type": "integer",
          "format": "int32"
        },
        "parallelization": {
          "type": "integer",
          "format": "int32",
          "description": "The parallelization cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
        },
        "cpuMemCost": {
          "description": "The CPU memory cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "type": "integer",
          "format": "int32"
        },
        "saltSeparator": {
          "type": "string",
          "format": "byte",
          "description": "One or more bytes to be inserted between the salt and plain text password. For stronger security, this should be a single non-printable character."
        },
        "rounds": {
          "format": "int32",
          "type": "integer",
          "description": "The number of rounds used for hash calculation. Only required for the following hashing functions: * MD5 * SHA1 * SHA256 * SHA512 * PBKDF_SHA1 * PBKDF2_SHA256 * SCRYPT"
        },
        "passwordHashOrder": {
          "enum": [
            "UNSPECIFIED_ORDER",
            "SALT_AND_PASSWORD",
            "PASSWORD_AND_SALT"
          ],
          "enumDescriptions": [
            "The order is not specified.",
            "The order is salt first, and then password.",
            "The order is password first, and then salt."
          ],
          "type": "string"
        },
        "sanityCheck": {
          "description": "If true, the service will do the following list of checks before an account is uploaded: * Duplicate emails * Duplicate federated IDs * Federated ID provider validation If the duplication exists within the list of accounts to be uploaded, it will prevent the entire list from being uploaded. If the email or federated ID is a duplicate of a user already within the project/tenant, the account will not be uploaded, but the rest of the accounts will be unaffected. If false, these checks will be skipped.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "dkLen": {
          "description": "The desired key length for the STANDARD_SCRYPT hashing function. Must be at least 1.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Request message for UploadAccount.",
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse": {
      "description": "Response message for SignInWithPhoneNumber.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse",
      "type": "object",
      "properties": {
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "verificationProof": {
          "type": "string",
          "description": "Do not use."
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "Identity Platform ID token for the authenticated user."
        },
        "verificationProofExpiresIn": {
          "description": "Do not use.",
          "type": "string",
          "format": "int64"
        },
        "temporaryProofExpiresIn": {
          "description": "The number of seconds until the temporary proof expires.",
          "format": "int64",
          "type": "string"
        },
        "temporaryProof": {
          "type": "string",
          "description": "A proof of the phone number verification, provided if a phone authentication is successful but the user operation fails. This happens when the request tries to link a phone number to a user with an ID token or reauthenticate with an ID token but the phone number is linked to a different user."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of the authenticated user. Always present in the response."
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        },
        "localId": {
          "description": "The id of the authenticated user. Present in the case of a successful authentication. In the case when the phone could be verified but the account operation could not be performed, a temporary proof will be returned instead.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1UserInfo": {
      "type": "object",
      "properties": {
        "lastRefreshAt": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when an ID token was last minted for this account."
        },
        "passwordUpdatedAt": {
          "description": "The timestamp, in milliseconds from the epoch of 1970-01-01T00:00:00Z, when the account's password was last updated.",
          "format": "double",
          "type": "number"
        },
        "validSince": {
          "description": "Oldest timestamp, in seconds since epoch, that an ID token should be considered valid. All ID tokens issued before this time are considered invalid.",
          "format": "int64",
          "type": "string"
        },
        "language": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "email": {
          "description": "The account's email address. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The account's phone number."
        },
        "initialEmail": {
          "description": "The first email address associated with this account. The account's initial email cannot be changed once set and is used to recover access to this account if lost via the RECOVER_EMAIL flow in GetOobCode. Should match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "createdAt": {
          "description": "The time, in milliseconds from epoch, when the account was created.",
          "format": "int64",
          "type": "string"
        },
        "screenName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This account's screen name at Twitter or login name at GitHub."
        },
        "passwordHash": {
          "description": "The account's hashed password. Only accessible by requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string",
          "format": "byte"
        },
        "providerUserInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "description": "Information about the user as provided by various Identity Providers."
        },
        "customAuth": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this account has been authenticated using SignInWithCustomToken."
        },
        "localId": {
          "description": "Immutable. The unique ID of the account.",
          "type": "string"
        },
        "timeZone": {
          "description": "Output only. The time zone preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string",
          "readOnly": true
        },
        "salt": {
          "type": "string",
          "format": "byte",
          "description": "The account's password salt. Only accessible by requests bearing a Google OAuth2 credential with proper permissions."
        },
        "customAttributes": {
          "description": "Custom claims to be added to any ID tokens minted for the account. Should be at most 1,000 characters in length and in valid JSON format.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the account is disabled. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper permissions."
        },
        "tenantId": {
          "type": "string",
          "description": "ID of the tenant this account belongs to. Only set if this account belongs to a tenant."
        },
        "emailVerified": {
          "description": "Whether the account's email address has been verified.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "lastLoginAt": {
          "type": "string",
          "format": "int64",
          "description": "The last time, in milliseconds from epoch, this account was logged into."
        },
        "mfaInfo": {
          "description": "Information on which multi-factor authentication providers are enabled for this account.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the account's profile photo. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "rawPassword": {
          "type": "string",
          "description": "Input only. Plain text password used to update a account's password. This field is only ever used as input in a request. Identity Platform uses cryptographically secure hashing when managing passwords and will never store or transmit a user's password in plain text."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "The version of the account's password. Only accessible by requests bearing a Google OAuth2 credential with proper permissions."
        },
        "emailLinkSignin": {
          "description": "Output only. Whether the account can authenticate with email link.",
          "readOnly": true,
          "type": "boolean"
        },
        "dateOfBirth": {
          "description": "Output only. The date of birth set for the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An Identity Platform account's information.",
      "id": "GoogleCloudIdentitytoolkitV1UserInfo"
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest": {
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest",
      "description": "Request message for CreateSessionCookie.",
      "type": "object",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "Required. A valid Identity Platform ID token."
        },
        "validDuration": {
          "description": "The number of seconds until the session cookie expires. Specify a duration in seconds, between five minutes and fourteen days, inclusively.",
          "type": "string",
          "format": "int64"
        },
        "tenantId": {
          "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeResponse": {
      "description": "Response message for GetOobCode.",
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse",
      "type": "object",
      "properties": {
        "oobCode": {
          "type": "string",
          "description": "If return_oob_link is true in the request, the OOB code to send."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "If return_oob_link is false in the request, the email address the verification was sent to."
        },
        "oobLink": {
          "description": "If return_oob_link is true in the request, the OOB link to be sent to the user. This returns the constructed link including [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links) related parameters.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "type": "object",
      "properties": {
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user's profile picture at the IdP."
        },
        "inputEmail": {
          "deprecated": true,
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether or not a new Identity Platform account was created for the authenticated user.",
          "type": "boolean"
        },
        "emailRecycled": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified.",
          "type": "boolean"
        },
        "nickName": {
          "type": "string",
          "description": "The nickname for the user's account at the IdP."
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The date of birth for the user's account at the IdP."
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth 2.0 authorization code, if available. Only present for the Google provider.",
          "type": "string"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth access token from the IdP, if available."
        },
        "pendingToken": {
          "type": "string",
          "description": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again."
        },
        "context": {
          "type": "string",
          "description": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP."
        },
        "verifiedProvider": {
          "description": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OpenID Connect ID token from the IdP, if available."
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "type": "string",
          "format": "int64"
        },
        "originalEmail": {
          "description": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name for the user's account at the IdP.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user account's email address is verified."
        },
        "tenantId": {
          "type": "string",
          "description": "The value of the `tenant_id` field in the request."
        },
        "mfaPendingCredential": {
          "type": "string",
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication."
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "oauthExpireIn": {
          "description": "The number of seconds until the OAuth access token from the IdP expires.",
          "type": "integer",
          "format": "int32"
        },
        "lastName": {
          "type": "string",
          "description": "The last name for the user's account at the IdP."
        },
        "providerId": {
          "description": "The provider ID of the IdP that the user is signing in to. Always present in the response.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`."
        },
        "screenName": {
          "type": "string",
          "description": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP."
        },
        "fullName": {
          "type": "string",
          "description": "The full name for the user's account at the IdP."
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email address is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled."
        },
        "firstName": {
          "description": "The first name for the user's account at the IdP.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated Identity Platform user. Always present in the response."
        },
        "rawUserInfo": {
          "description": "The stringified JSON response containing all the data corresponding to the user's account at the IdP.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone for the user's account at the IdP."
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "federatedId": {
          "type": "string",
          "description": "The user's account ID at the IdP. Always present in the response."
        },
        "oauthRefreshToken": {
          "type": "string",
          "description": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user's account at the IdP."
        },
        "language": {
          "type": "string",
          "description": "The language preference for the user's account at the IdP."
        },
        "needEmail": {
          "deprecated": true,
          "type": "boolean"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        }
      },
      "description": "Response message for SignInWithIdp.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse"
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordResponse": {
      "description": "Response message for ResetPassword.",
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse",
      "type": "object",
      "properties": {
        "requestType": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ],
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ]
        },
        "newEmail": {
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "email": {
          "description": "The email associated with the out-of-band code that was used.",
          "type": "string"
        },
        "mfaInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1MfaInfo": {
      "type": "object",
      "properties": {
        "enrollments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "description": "The second factors the user has enrolled."
        }
      },
      "description": "Multi-factor authentication related information.",
      "id": "GoogleCloudIdentitytoolkitV1MfaInfo"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountResponse": {
      "description": "Response message for DeleteAccount.",
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse": {
      "description": "Response message for SignInWithGameCenter",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse",
      "type": "object",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "teamPlayerId": {
          "type": "string",
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid"
        },
        "playerId": {
          "description": "The user's Game Center player ID. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the logged in user was created by this request."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the authenticated user."
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the ID token expires."
        },
        "gamePlayerId": {
          "type": "string",
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest": {
      "description": "Request message for BatchDeleteAccounts.",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest",
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to a default Identity Platform project, the field is not needed."
        },
        "force": {
          "type": "boolean",
          "description": "Whether to force deleting accounts that are not in disabled state. If false, only disabled accounts will be deleted, and accounts that are not disabled will be added to the `errors`."
        },
        "localIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of user IDs to be deleted."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse": {
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse",
      "description": "Response message for VerifyIosClient.",
      "type": "object",
      "properties": {
        "suggestedTimeout": {
          "description": "Suggested time that the client should wait in seconds for delivery of the push notification.",
          "type": "string",
          "format": "int64"
        },
        "receipt": {
          "type": "string",
          "description": "Receipt of successful app token validation."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer."
        },
        "idToken": {
          "description": "The Identity Platform ID token of the account to fetch. Require to be specified for requests from end users.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "federatedUserId": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
          }
        },
        "phoneNumber": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The phone number of one or more accounts to fetch. Should only be specified by authenticated requests from a developer and should be in E.164 format, for example, +15555555555."
        },
        "initialEmail": {
          "description": "The initial email of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "localId": {
          "description": "The ID of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "description": "The email address of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetProjectId": {
          "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        }
      },
      "description": "Request message for GetAccountInfo.",
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse": {
      "description": "Response for IssueSamlResponse request.",
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse",
      "type": "object",
      "properties": {
        "firstName": {
          "description": "First name of the user.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        },
        "samlResponse": {
          "description": "Signed SAMLResponse created for the Relying Party.",
          "type": "string"
        },
        "acsEndpoint": {
          "description": "The ACS endpoint which consumes the returned SAMLResponse.",
          "type": "string"
        },
        "relayState": {
          "description": "Generated RelayState.",
          "type": "string"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of the user."
        },
        "email": {
          "description": "Email of the user.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse": {
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse",
      "description": "Response message for QueryUserInfo.",
      "type": "object",
      "properties": {
        "recordsCount": {
          "type": "string",
          "format": "int64",
          "description": "If `return_user_info` in the request is true, this is the number of returned accounts in this message. Otherwise, this is the total number of accounts matching the query."
        },
        "userInfo": {
          "description": "If `return_user_info` in the request is true, this is the accounts matching the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeRequest": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The account's email address to send the OOB code to, and generally the email address of the account that needs to be updated. Required for PASSWORD_RESET, EMAIL_SIGNIN, and VERIFY_EMAIL. Only required for VERIFY_AND_CHANGE_EMAIL requests when return_oob_link is set to true. In this case, it is the original email of the user.",
          "type": "string"
        },
        "dynamicLinkDomain": {
          "type": "string",
          "description": "In order to ensure that the url used can be easily opened up in iOS or android, we create a [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links). Most Identity Platform projects will only have one Dynamic Link domain enabled, and can leave this field blank. This field contains a specified Dynamic Link domain for projects that have multiple enabled."
        },
        "challenge": {
          "deprecated": true,
          "type": "string"
        },
        "recaptchaVersion": {
          "type": "string",
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "iOSBundleId": {
          "type": "string",
          "description": "If an associated iOS app can handle the OOB code, the iOS bundle id of this app. This will allow the correct app to open if it is already installed."
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the caller. Required only for PASSWORD_RESET requests."
        },
        "idToken": {
          "description": "An ID token for the account. It is required for VERIFY_AND_CHANGE_EMAIL and VERIFY_EMAIL requests unless return_oob_link is set to true.",
          "type": "string"
        },
        "androidInstallApp": {
          "description": "If an associated android app can handle the OOB code, whether or not to install the android app on the device where the link is opened if the app is not already installed.",
          "type": "boolean"
        },
        "androidPackageName": {
[...]
