{
  "rootUrl": "https://www.googleapis.com/",
  "name": "identitytoolkit",
  "version": "v3",
  "batchPath": "batch/identitytoolkit/v3",
  "parameters": {
    "alt": {
      "enum": [
        "json"
      ],
      "type": "string",
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "revision": "20180723",
  "schemas": {
    "UploadAccountResponse": {
      "properties": {
        "error": {
          "type": "array",
          "description": "The error encountered while processing the account info.",
          "items": {
            "type": "object",
            "properties": {
              "index": {
                "format": "int32",
                "type": "integer",
                "description": "The index of the malformed account, starting from 0."
              },
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              }
            }
          }
        },
        "kind": {
          "default": "identitytoolkit#UploadAccountResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\"."
        }
      },
      "type": "object",
      "description": "Respone of uploading accounts in batch.",
      "id": "UploadAccountResponse"
    },
    "IdpConfig": {
      "id": "IdpConfig",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        },
        "whitelistedAudiences": {
          "type": "array",
          "description": "Whitelisted client IDs for audience check.",
          "items": {
            "type": "string"
          }
        },
        "experimentPercent": {
          "type": "integer",
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "format": "int32"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        }
      },
      "type": "object",
      "description": "Template for a single idp configuration."
    },
    "GetOobConfirmationCodeResponse": {
      "properties": {
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        },
        "kind": {
          "default": "identitytoolkit#GetOobConfirmationCodeResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\"."
        },
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        }
      },
      "type": "object",
      "description": "Response of getting a code for user confirmation (reset password, change email etc.).",
      "id": "GetOobConfirmationCodeResponse"
    },
    "ResetPasswordResponse": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        },
        "kind": {
          "default": "identitytoolkit#ResetPasswordResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\"."
        },
        "newEmail": {
          "type": "string",
          "description": "If the out-of-band code is for email recovery, the user's new email."
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        }
      },
      "type": "object",
      "description": "Response of resetting the password.",
      "id": "ResetPasswordResponse"
    },
    "VerifyAssertionResponse": {
      "id": "VerifyAssertionResponse",
      "properties": {
        "rawUserInfo": {
          "type": "string",
          "description": "Raw IDP-returned user info."
        },
        "nickName": {
          "type": "string",
          "description": "The nick name of the user."
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "appScheme": {
          "type": "string",
          "description": "The custom scheme used by mobile app."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email."
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation."
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The birth date of the IdP account."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth1 access token secret."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "verifiedProvider": {
          "type": "array",
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "items": {
            "type": "string"
          }
        },
        "screenName": {
          "type": "string",
          "description": "The screen_name of a Twitter user or the login name at Github."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "It's true if the email is recycled."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "appInstallationUrl": {
          "type": "string",
          "description": "URL for OTA app installation."
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the user."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "errorMessage": {
          "type": "string",
          "description": "Client error code."
        },
        "kind": {
          "default": "identitytoolkit#VerifyAssertionResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\"."
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned."
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "oauthScope": {
          "type": "string",
          "description": "The scope for the OpenID OAuth extension."
        },
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Response of verifying the IDP assertion."
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "type": "object",
      "description": "Response of setting the project configuration.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "requestUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        }
      },
      "type": "object",
      "description": "Request to verify the IDP assertion.",
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "type": "object",
      "description": "Request to verify a custom token",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "type": "object",
      "description": "Request to verify the password.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "password": {
          "type": "string",
          "description": "The password inputed by the user."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "type": "object",
      "description": "Request to reset the password.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "oldPassword": {
          "type": "string",
          "description": "The old password inputted by the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        },
        "newPassword": {
          "type": "string",
          "description": "The new password inputted by the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      }
    },
    "VerifyCustomTokenResponse": {
      "id": "VerifyCustomTokenResponse",
      "type": "object",
      "description": "Response from verifying a custom token",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\".",
          "default": "identitytoolkit#VerifyCustomTokenResponse"
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        }
      }
    },
    "EmailLinkSigninResponse": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "The refresh token for the signed in user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "default": "identitytoolkit#EmailLinkSigninResponse"
        },
        "expiresIn": {
          "type": "string",
          "description": "Expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        }
      },
      "type": "object",
      "description": "Response of email signIn.",
      "id": "EmailLinkSigninResponse"
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "type": "object",
      "description": "Request to get the IDP authentication URL.",
      "properties": {
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "customParameter": {
          "type": "object",
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token.",
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          }
        },
        "oauthConsumerKey": {
          "type": "string",
          "description": "The developer's consumer key for OpenId OAuth Extension"
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "hostedDomain": {
          "type": "string",
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts."
        },
        "authFlowType": {
          "type": "string",
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider."
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant"
        },
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "otaApp": {
          "type": "string",
          "description": "The native app package for OTA installation."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        }
      },
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
    },
    "GetRecaptchaParamResponse": {
      "type": "object",
      "description": "Response of getting recaptcha param.",
      "properties": {
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "default": "identitytoolkit#GetRecaptchaParamResponse"
        }
      },
      "id": "GetRecaptchaParamResponse"
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "phoneNumber": {
          "type": "array",
          "description": "Privileged caller can query users by specified phone number.",
          "items": {
            "type": "string"
          }
        },
        "localId": {
          "type": "array",
          "description": "The list of local ID's of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "type": "array",
          "description": "The list of emails of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Request to get the account information."
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether to disable the user. Only can be used by service account."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "localId": {
          "type": "string",
          "description": "Privileged caller can create user with specified user id."
        }
      },
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest"
    },
    "VerifyPasswordResponse": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "kind": {
          "default": "identitytoolkit#VerifyPasswordResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\"."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "oauthExpireIn": {
          "format": "int32",
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token."
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        }
      },
      "type": "object",
      "description": "Request of verifying the password.",
      "id": "VerifyPasswordResponse"
    },
    "EmailTemplate": {
      "id": "EmailTemplate",
      "type": "object",
      "description": "Template for an email template.",
      "properties": {
        "from": {
          "type": "string",
          "description": "From address of the email."
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        },
        "body": {
          "type": "string",
          "description": "Email body."
        },
        "format": {
          "type": "string",
          "description": "Email body format."
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        }
      }
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "type": "object",
      "description": "Request to sign in with email.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "maxResults": {
          "format": "uint32",
          "type": "integer",
          "description": "The max number of results to return in the response."
        }
      },
      "type": "object",
      "description": "Request to download user account in batch."
    },
    "GetAccountInfoResponse": {
      "id": "GetAccountInfoResponse",
      "properties": {
        "kind": {
          "default": "identitytoolkit#GetAccountInfoResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\"."
        },
        "users": {
          "type": "array",
          "description": "The info of the users.",
          "items": {
            "$ref": "UserInfo"
          }
        }
      },
      "type": "object",
      "description": "Response of getting account information."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "type": "object",
      "description": "Request for Identitytoolkit-SendVerificationCode",
      "properties": {
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha solution."
        },
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful app token validation with APNS."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "type": "object",
      "description": "Request to set the project configuration.",
      "properties": {
        "idpConfig": {
          "type": "array",
          "description": "Oauth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "changeEmailTemplate": {
          "description": "Change email template.",
          "$ref": "EmailTemplate"
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether to enable anonymous user."
        },
        "legacyResetPasswordTemplate": {
          "description": "Legacy reset password email template.",
          "$ref": "EmailTemplate"
        },
        "resetPasswordTemplate": {
          "description": "Reset password email template.",
          "$ref": "EmailTemplate"
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        }
      },
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
    },
    "UserInfo": {
      "properties": {
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "lastLoginAt": {
          "type": "string",
          "description": "last login timestamp.",
          "format": "int64"
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp when the password was last updated.",
          "format": "double"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The IDP of the user.",
          "items": {
            "properties": {
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "phoneNumber": {
                "type": "string",
                "description": "User's phone number."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "screenName": {
                "type": "string",
                "description": "User's screen name at Twitter or login name at Github."
              },
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              }
            },
            "type": "object"
          }
        },
        "version": {
          "type": "integer",
          "description": "Version of the user's password.",
          "format": "int32"
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user is disabled."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified."
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number."
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "salt": {
          "type": "string",
          "description": "The user's password salt.",
          "format": "byte"
        },
        "createdAt": {
          "type": "string",
          "description": "User creation timestamp.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Template for an individual account info.",
      "id": "UserInfo"
    },
    "DownloadAccountResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. To be used in a subsequent request to return the next page of results."
        },
        "users": {
          "type": "array",
          "description": "The user accounts data.",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "kind": {
          "default": "identitytoolkit#DownloadAccountResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\"."
        }
      },
      "type": "object",
      "description": "Response of downloading accounts in batch.",
      "id": "DownloadAccountResponse"
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "type": "object",
      "description": "Response of signing out user.",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "properties": {
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "localId": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "idToken": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "format": "int64",
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for Identitytoolkit-VerifyPhoneNumber"
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "type": "object",
      "description": "Response of getting the project configuration.",
      "properties": {
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains.",
          "items": {
            "type": "string"
          }
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "resetPasswordTemplate": {
          "description": "Reset password email template.",
          "$ref": "EmailTemplate"
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "idpConfig": {
          "type": "array",
          "description": "OAuth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "verifyEmailTemplate": {
          "description": "Verify email template.",
          "$ref": "EmailTemplate"
        }
      }
    },
    "CreateAuthUriResponse": {
      "id": "CreateAuthUriResponse",
      "type": "object",
      "description": "Response of creating the IDP authentication URL.",
      "properties": {
        "captchaRequired": {
          "type": "boolean",
          "description": "True if captcha is required."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID which should be passed in the following verifyAssertion request."
        },
        "allProviders": {
          "type": "array",
          "description": "all providers the user has once used to do federated login",
          "items": {
            "type": "string"
          }
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the user is registered if the identifier is an email."
        },
        "authUri": {
          "type": "string",
          "description": "The URI used by the IDP to authenticate the user."
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        },
        "signinMethods": {
          "type": "array",
          "description": "All sign-in methods this user has used.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "default": "identitytoolkit#CreateAuthUriResponse"
        }
      }
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "type": "object",
      "description": "Request to upload user account in batch.",
      "properties": {
        "signerKey": {
          "type": "string",
          "description": "The key for to hash the password.",
          "format": "byte"
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "users": {
          "type": "array",
          "description": "The account info to be stored.",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "cpuMemCost": {
          "type": "integer",
          "description": "The following 4 fields are for standard scrypt algorithm.",
          "format": "int32"
        },
        "rounds": {
          "format": "int32",
          "type": "integer",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms."
        },
        "memoryCost": {
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms.",
          "format": "int32"
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "parallelization": {
          "format": "int32",
          "type": "integer"
        },
        "blockSize": {
          "format": "int32",
          "type": "integer"
        },
        "dkLen": {
          "format": "int32",
          "type": "integer"
        },
        "saltSeparator": {
          "format": "byte",
          "type": "string",
          "description": "The salt separator."
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account."
        }
      }
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "type": "object",
      "description": "Request to delete account.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token or STS id token of the authenticated user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        }
      },
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "type": "object",
      "description": "Respone of getting public keys.",
      "additionalProperties": {
        "type": "string"
      }
    },
    "Relyingparty": {
      "id": "Relyingparty",
      "type": "object",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "properties": {
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email if the code is for email change."
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "whether or not to install the android app on the device where the link is opened"
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "continueUrl": {
          "type": "string",
          "description": "The url to continue to the Gitkit app"
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        },
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "kind": {
          "default": "identitytoolkit#relyingparty",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#relyingparty\"."
        },
        "idToken": {
          "type": "string",
          "description": "The user's Gitkit login token for email change."
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "type": "object",
      "description": "Request to sign out user.",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        }
      }
    },
    "SetAccountInfoResponse": {
      "id": "SetAccountInfoResponse",
      "properties": {
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "default": "identitytoolkit#SetAccountInfoResponse"
        },
        "passwordHash": {
          "type": "string",
          "description": "The user's hashed password.",
          "format": "byte"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The user's profiles at the associated IdPs.",
          "items": {
            "properties": {
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              }
            },
            "type": "object"
          }
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        }
      },
      "type": "object",
      "description": "Respone of setting the account information."
    },
    "SignupNewUserResponse": {
      "id": "SignupNewUserResponse",
      "type": "object",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "kind": {
          "default": "identitytoolkit#SignupNewUserResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\"."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        }
      }
    },
    "DeleteAccountResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "default": "identitytoolkit#DeleteAccountResponse"
        }
      },
      "type": "object",
      "description": "Respone of deleting account.",
      "id": "DeleteAccountResponse"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "properties": {
        "temporaryProof": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        }
      },
      "type": "object",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "properties": {
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "deleteProvider": {
          "type": "array",
          "description": "The IDPs the user request to delete.",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "type": "string",
          "description": "The timestamp when the account is created.",
          "format": "int64"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "deleteAttribute": {
          "type": "array",
          "description": "The attributes users request to delete.",
          "items": {
            "type": "string"
          }
        },
        "provider": {
          "type": "array",
          "description": "The associated IDPs of the user.",
          "items": {
            "type": "string"
          }
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can update user with specified phone number."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "validSince": {
          "format": "int64",
          "type": "string",
          "description": "Timestamp in seconds for valid login token."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "lastLoginAt": {
          "type": "string",
          "description": "Last login timestamp.",
          "format": "int64"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        }
      },
      "type": "object",
      "description": "Request to set the account information."
    }
  },
  "description": "Help the third party sites to implement federated login.",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "ownerName": "Google",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "canonicalName": "Identity Toolkit",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "title": "Google Identity Toolkit API",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "resources": {
    "relyingparty": {
      "methods": {
        "getRecaptchaParam": {
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get recaptcha secure param.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "path": "getRecaptchaParam"
        },
        "signOutUser": {
          "id": "identitytoolkit.relyingparty.signOutUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sign out user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "path": "signOutUser"
        },
        "sendVerificationCode": {
          "path": "sendVerificationCode",
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "description": "Send SMS verification code.",
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "createAuthUri": {
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "httpMethod": "POST",
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "path": "createAuthUri"
        },
        "deleteAccount": {
          "path": "deleteAccount",
          "httpMethod": "POST",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "description": "Delete user account.",
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getProjectConfig": {
          "httpMethod": "GET",
          "parameters": {
            "delegatedProjectNumber": {
              "type": "string",
              "description": "Delegated GCP project number of the request.",
              "location": "query"
            },
            "projectNumber": {
              "type": "string",
              "description": "GCP project number of the request.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "path": "getProjectConfig",
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get project configuration."
        },
        "setAccountInfo": {
          "path": "setAccountInfo",
          "httpMethod": "POST",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "description": "Set account info for a user.",
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "uploadAccount": {
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "Batch upload existing user accounts.",
          "httpMethod": "POST",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "path": "uploadAccount"
        },
        "getOobConfirmationCode": {
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get a code for user action confirmation.",
          "httpMethod": "POST",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "request": {
            "$ref": "Relyingparty"
          },
          "path": "getOobConfirmationCode"
        },
        "downloadAccount": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "path": "downloadAccount",
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "Batch download user accounts."
        },
        "getPublicKeys": {
          "description": "Get token signing public key.",
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "publicKeys",
          "httpMethod": "GET",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          }
        },
        "verifyPassword": {
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "path": "verifyPassword",
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Verifies the user entered password."
        },
        "signupNewUser": {
          "description": "Signup new user.",
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "signupNewUser",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "SignupNewUserResponse"
          }
        },
        "verifyCustomToken": {
          "path": "verifyCustomToken",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "description": "Verifies the developer asserted ID token.",
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "verifyPhoneNumber": {
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "verifyPhoneNumber",
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          }
        },
        "resetPassword": {
          "httpMethod": "POST",
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "path": "resetPassword",
          "id": "identitytoolkit.relyingparty.resetPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Reset password for a user."
        },
        "emailLinkSignin": {
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Reset password for a user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "path": "emailLinkSignin"
        },
        "verifyAssertion": {
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Verifies the assertion returned by the IdP.",
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "path": "verifyAssertion"
        },
        "setProjectConfig": {
          "path": "setProjectConfig",
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "description": "Set project configuration.",
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getAccountInfo": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "path": "getAccountInfo",
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Returns the account info."
        }
      }
    }
  },
  "id": "identitytoolkit:v3"
}