{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "revision": "20260330",
  "title": "Identity Toolkit API",
  "ownerDomain": "google.com",
  "canonicalName": "Identity Toolkit",
  "batchPath": "batch",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "servicePath": "",
  "schemas": {
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse": {
      "description": "Response message for SignInWithPassword.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse",
      "type": "object",
      "properties": {
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the Identity Platform ID token expires."
        },
        "displayName": {
          "description": "The user's display name stored in the account's attributes.",
          "type": "string"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "userNotifications": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserNotification"
          },
          "description": "Warning notifications for the user."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is for an existing account. Always true.",
          "deprecated": true
        },
        "oauthAuthorizationCode": {
          "deprecated": true,
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "profilePicture": {
          "description": "The user's profile picture stored in the account's attributes.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "email": {
          "description": "The email of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token.",
          "deprecated": true
        },
        "oauthExpireIn": {
          "description": "The access token expiration time in seconds.",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignUpResponse": {
      "description": "Response message for SignUp.",
      "id": "GoogleCloudIdentitytoolkitV1SignUpResponse",
      "type": "object",
      "properties": {
        "email": {
          "description": "The created user's email.",
          "type": "string"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the created user. This field is only set for non-admin requests.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the created user. Always present in the response.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the created user. This field is only set for non-admin requests.",
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "displayName": {
          "description": "The created user's display name.",
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse",
      "type": "object",
      "properties": {
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the ID token expires."
        },
        "teamPlayerId": {
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the authenticated user.",
          "type": "string"
        },
        "playerId": {
          "description": "The user's Game Center player ID. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        }
      },
      "description": "Response message for SignInWithGameCenter"
    },
    "GoogleCloudIdentitytoolkitV1TotpInfo": {
      "id": "GoogleCloudIdentitytoolkitV1TotpInfo",
      "type": "object",
      "properties": {},
      "description": "Information about TOTP MFA."
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest": {
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "The Identity Platform ID token. It will be verified and then converted to a new SAMLResponse.",
          "type": "string"
        },
        "rpId": {
          "description": "Relying Party identifier, which is the audience of issued SAMLResponse.",
          "type": "string"
        },
        "samlAppEntityId": {
          "description": "SAML app entity id specified in Google Admin Console for each app. If developers want to redirect to a third-party app rather than a G Suite app, they'll probably they need this. When it's used, we'll return a RelayState. This includes a SAMLRequest, which can be used to trigger a SP-initiated SAML flow to redirect to the real app.",
          "type": "string"
        }
      },
      "description": "Request message for IssueSamlResponse."
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "description": "Request message for VerifyIosClient",
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest",
      "type": "object",
      "properties": {
        "isSandbox": {
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment.",
          "type": "boolean"
        },
        "appToken": {
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service).",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest": {
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest",
      "type": "object",
      "properties": {
        "initialEmail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The initial email of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "federatedUserId": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
          }
        },
        "localId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ID of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "email": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email address of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer."
        },
        "phoneNumber": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The phone number of one or more accounts to fetch. Should only be specified by authenticated requests from a developer and should be in E.164 format, for example, +15555555555."
        },
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer.",
          "type": "string"
        },
        "idToken": {
          "description": "The Identity Platform ID token of the account to fetch. Require to be specified for requests from end users.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        }
      },
      "description": "Request message for GetAccountInfo."
    },
    "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse": {
      "description": "Response message for GetSessionCookiePublicKeys.",
      "id": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse",
      "type": "object",
      "properties": {
        "keys": {
          "description": "Public keys of the session cookie signer, formatted as [JSON Web Keys (JWK)](https://tools.ietf.org/html/rfc7517).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ProviderUserInfo": {
      "id": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The user's display name at the Identity Provider.",
          "type": "string"
        },
        "rawId": {
          "description": "The user's raw identifier directly returned from Identity Provider.",
          "type": "string"
        },
        "screenName": {
          "description": "The user's screen_name at Twitter or login name at GitHub.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The user's profile photo URL at the Identity Provider.",
          "type": "string"
        },
        "federatedId": {
          "description": "The user's identifier at the Identity Provider.",
          "type": "string"
        },
        "email": {
          "description": "The user's email address at the Identity Provider.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The user's phone number at the Identity Provider.",
          "type": "string"
        },
        "providerId": {
          "description": "The ID of the Identity Provider.",
          "type": "string"
        }
      },
      "description": "Information about the user as provided by various Identity Providers."
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest": {
      "description": "Request message for QueryUserInfo.",
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest",
      "type": "object",
      "properties": {
        "returnUserInfo": {
          "description": "If `true`, this request will return the accounts matching the query. If `false`, only the __count__ of accounts matching the query will be returned. Defaults to `true`.",
          "type": "boolean"
        },
        "offset": {
          "type": "string",
          "format": "int64",
          "description": "The number of accounts to skip from the beginning of matching records. Only valid when `return_user_info` is set to `true`."
        },
        "limit": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of accounts to return with an upper limit of __500__. Defaults to _500_. Only valid when `return_user_info` is set to `true`."
        },
        "expression": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1SqlExpression"
          }
        },
        "sortBy": {
          "enumDescriptions": [
            "Sort field is not specified.",
            "Sort result by userId.",
            "Sort result by name.",
            "Sort result by createdAt.",
            "Sort result by lastLoginAt.",
            "Sort result by userEmail."
          ],
          "enum": [
            "SORT_BY_FIELD_UNSPECIFIED",
            "USER_ID",
            "NAME",
            "CREATED_AT",
            "LAST_LOGIN_AT",
            "USER_EMAIL"
          ],
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the tenant to which the result is scoped.",
          "type": "string"
        },
        "order": {
          "type": "string",
          "enumDescriptions": [
            "Order is not specified.",
            "Sort on ascending order.",
            "Sort on descending order."
          ],
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASC",
            "DESC"
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ErrorInfo": {
      "id": "GoogleCloudIdentitytoolkitV1ErrorInfo",
      "type": "object",
      "properties": {
        "message": {
          "description": "Detailed error message",
          "type": "string"
        },
        "index": {
          "description": "The index of the item, range is [0, request.size - 1]",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Error information explaining why an account cannot be uploaded. batch upload."
    },
    "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo": {
      "description": "The information required to auto-retrieve an SMS.",
      "id": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo",
      "type": "object",
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse": {
      "description": "Response message for GetRecaptchaParam.",
      "id": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "producerProjectNumber": {
          "description": "The producer project number used to generate PIA tokens",
          "type": "string"
        },
        "recaptchaStoken": {
          "deprecated": true,
          "type": "string"
        },
        "recaptchaSiteKey": {
          "description": "The reCAPTCHA v2 site key used to invoke the reCAPTCHA service. Always present.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeRequest": {
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "An ID token for the account. It is required for VERIFY_AND_CHANGE_EMAIL and VERIFY_EMAIL requests unless return_oob_link is set to true.",
          "type": "string"
        },
        "email": {
          "description": "The account's email address to send the OOB code to, and generally the email address of the account that needs to be updated. Required for PASSWORD_RESET, EMAIL_SIGNIN, and VERIFY_EMAIL. Only required for VERIFY_AND_CHANGE_EMAIL requests when return_oob_link is set to true. In this case, it is the original email of the user.",
          "type": "string"
        },
        "androidMinimumVersion": {
          "description": "If an associated android app can handle the OOB code, the minimum version of the app. If the version on the device is lower than this version then the user is taken to Google Play Store to upgrade the app.",
          "type": "string"
        },
        "canHandleCodeInApp": {
          "description": "When set to true, the OOB code link will be be sent as a Universal Link or an Android App Link and will be opened by the corresponding app if installed. If not set, or set to false, the OOB code will be sent to the web widget first and then on continue will redirect to the app if installed.",
          "type": "boolean"
        },
        "returnOobLink": {
          "description": "Whether the confirmation link containing the OOB code should be returned in the response (no email is sent). Used when a developer wants to construct the email template and send it on their own. By default this is false; to specify this field, and to set it to true, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)",
          "type": "boolean"
        },
        "challenge": {
          "deprecated": true,
          "type": "string"
        },
        "continueUrl": {
          "description": "The Url to continue after user clicks the link sent in email. This is the url that will allow the web widget to handle the OOB code.",
          "type": "string"
        },
        "userIp": {
          "description": "The IP address of the caller. Required only for PASSWORD_RESET requests.",
          "type": "string"
        },
        "clientType": {
          "description": "The client type: web, Android or iOS. Required when reCAPTCHA Enterprise protection is enabled.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "type": "string"
        },
        "newEmail": {
          "description": "The email address the account is being updated to. Required only for VERIFY_AND_CHANGE_EMAIL requests.",
          "type": "string"
        },
        "requestType": {
          "description": "Required. The type of out-of-band (OOB) code to send. Depending on this value, other fields in this request will be required and/or have different meanings. There are 4 different OOB codes that can be sent: * PASSWORD_RESET * EMAIL_SIGNIN * VERIFY_EMAIL * VERIFY_AND_CHANGE_EMAIL",
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ],
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "type": "string"
        },
        "targetProjectId": {
          "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "tenantId": {
          "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "iOSAppStoreId": {
          "description": "If an associated iOS app can handle the OOB code, the App Store id of this app. This will allow App Store to open to the correct app if the app is not yet installed.",
          "type": "string"
        },
        "captchaResp": {
          "description": "For a PASSWORD_RESET request, a reCaptcha response is required when the system detects possible abuse activity. In those cases, this is the response from the reCaptcha challenge used to verify the caller.",
          "type": "string"
        },
        "androidInstallApp": {
          "description": "If an associated android app can handle the OOB code, whether or not to install the android app on the device where the link is opened if the app is not already installed.",
          "type": "boolean"
        },
        "iOSBundleId": {
          "description": "If an associated iOS app can handle the OOB code, the iOS bundle id of this app. This will allow the correct app to open if it is already installed.",
          "type": "string"
        },
        "androidPackageName": {
          "description": "If an associated android app can handle the OOB code, the Android package name of the android app that will handle the callback when this OOB code is used. This will allow the correct app to open if it is already installed, or allow Google Play Store to open to the correct app if it is not yet installed.",
          "type": "string"
        },
        "dynamicLinkDomain": {
          "description": "In order to ensure that the url used can be easily opened up in iOS or android, we create a [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links). Most Identity Platform projects will only have one Dynamic Link domain enabled, and can leave this field blank. This field contains a specified Dynamic Link domain for projects that have multiple enabled.",
          "type": "string"
        },
        "recaptchaVersion": {
          "type": "string",
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "linkDomain": {
          "description": "Optional. In order to ensure that the url used can be easily opened in iOS or Android, we create a Hosting link '/__/auth/links'. This optional field contains the domain to use when constructing a Hosting link. If not set, '.firebaseapp.com' domain will be used.",
          "type": "string"
        }
      },
      "description": "Request message for GetOobCode."
    },
    "GoogleCloudIdentitytoolkitV1MfaInfo": {
      "description": "Multi-factor authentication related information.",
      "id": "GoogleCloudIdentitytoolkitV1MfaInfo",
      "type": "object",
      "properties": {
        "enrollments": {
          "description": "The second factors the user has enrolled.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1IdpConfig": {
      "id": "GoogleCloudIdentitytoolkitV1IdpConfig",
      "type": "object",
      "properties": {
        "experimentPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Percent of users who will be prompted/redirected federated login for this IdP"
        },
        "secret": {
          "description": "OAuth2 client secret.",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Microsoft Live as identity provider.",
            "Google as identity provider.",
            "Facebook as identity provider.",
            "PayPal as identity provider.",
            "Twitter as identity provider.",
            "Yahoo as identity provider.",
            "AOL as identity provider.",
            "GitHub as identity provider.",
            "Google Play Games as identity provider.",
            "LinkedIn as identity provider.",
            "iOS Game Center as identity provider."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "MSLIVE",
            "GOOGLE",
            "FACEBOOK",
            "PAYPAL",
            "TWITTER",
            "YAHOO",
            "AOL",
            "GITHUB",
            "GOOGLE_PLAY_GAMES",
            "LINKEDIN",
            "IOS_GAME_CENTER"
          ]
        },
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        },
        "whitelistedAudiences": {
          "description": "Whitelisted client IDs for audience check.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        }
      },
      "description": "Config of an identity provider."
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest": {
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest",
      "type": "object",
      "properties": {
        "context": {
          "description": "An opaque string used to maintain contextual information between the authentication request and the callback from the IdP.",
          "type": "string"
        },
        "customParameter": {
          "description": "Additional customized query parameters to be added to the authorization URI. The following parameters are reserved and cannot be added: `client_id`, `response_type`, `scope`, `redirect_uri`, `state`. For the Microsoft provider, the Azure AD tenant to sign-in to can be specified in the `tenant` custom parameter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "appId": {
          "deprecated": true,
          "type": "string"
        },
        "authFlowType": {
          "description": "Used for the Google provider. The type of the authentication flow to be used. If present, this should be `CODE_FLOW` to specify the authorization code flow. Otherwise, the default ID Token flow will be used.",
          "type": "string"
        },
        "identifier": {
          "description": "The email identifier of the user account to fetch associated providers for. At least one of the fields `identifier` and `provider_id` must be set. The length of the email address should be less than 256 characters and in the format of `name@domain.tld`. The email address should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "sessionId": {
          "description": "A session ID that can be verified against in SignInWithIdp to prevent session fixation attacks. If absent, a random string will be generated and returned as the session ID.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant to create an authorization URI or lookup an email identifier for. If not set, the operation will be performed in the default Identity Platform instance in the project.",
          "type": "string"
        },
        "oauthScope": {
          "description": "Additional space-delimited OAuth 2.0 scopes specifying the scope of the authentication request with the IdP. Used for OAuth 2.0 IdPs. For the Google provider, the authorization code flow will be used if this field is set.",
          "type": "string"
        },
        "oauthConsumerKey": {
          "deprecated": true,
          "type": "string"
        },
        "otaApp": {
          "deprecated": true,
          "type": "string"
        },
        "continueUri": {
          "description": "A valid URL for the IdP to redirect the user back to. The URL cannot contain fragments or the reserved `state` query parameter.",
          "type": "string"
        },
        "openidRealm": {
          "deprecated": true,
          "type": "string"
        },
        "hostedDomain": {
          "description": "Used for the Google provider. The G Suite hosted domain of the user in order to restrict sign-in to users at that domain.",
          "type": "string"
        },
        "providerId": {
          "description": "The provider ID of the IdP for the user to sign in with. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`. At least one of the fields `identifier` and `provider_id` must be set.",
          "type": "string"
        }
      },
      "description": "Request message for CreateAuthUri."
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse": {
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse",
      "type": "object",
      "properties": {
        "forExistingProvider": {
          "description": "Whether the user has previously signed in with the provider ID in the request. Present only when a registered email identifier is set in the request.",
          "type": "boolean"
        },
        "signinMethods": {
          "description": "The list of sign-in methods that the user has previously used. Each element is one of `password`, `emailLink`, or the provider ID of an IdP. Present only when a registered email identifier is set in the request. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, this method returns an empty list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "authUri": {
          "description": "The authorization URI for the requested provider. Present only when a provider ID is set in the request.",
          "type": "string"
        },
        "sessionId": {
          "description": "The session ID from the request, or a random string generated by CreateAuthUri if absent. It is used to prevent session fixation attacks.",
          "type": "string"
        },
        "providerId": {
          "description": "The provider ID from the request, if provided.",
          "type": "string"
        },
        "registered": {
          "description": "Whether the email identifier represents an existing account. Present only when an email identifier is set in the request.",
          "type": "boolean"
        },
        "captchaRequired": {
          "description": "Whether a CAPTCHA is needed because there have been too many failed login attempts by the user. Present only when a registered email identifier is set in the request.",
          "type": "boolean"
        },
        "allProviders": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Response message for CreateAuthUri."
    },
    "GoogleCloudIdentitytoolkitV1EmailInfo": {
      "description": "Information about email MFA.",
      "id": "GoogleCloudIdentitytoolkitV1EmailInfo",
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "Email address that a MFA verification should be sent to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest": {
      "description": "Request message for SignInWithIdp.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest",
      "type": "object",
      "properties": {
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "pendingToken": {
          "description": "An opaque string from a previous SignInWithIdp response. If set, it can be used to repeat the sign-in operation from the previous SignInWithIdp operation. This may be present if the user needs to confirm their account information as part of a previous federated login attempt, or perform account linking.",
          "type": "string"
        },
        "sessionId": {
          "description": "The session ID returned from a previous CreateAuthUri call. This field is verified against that session ID to prevent session fixation attacks. Required if the user is signing in with an authorization response from a previous CreateAuthUri authorization request.",
          "type": "string"
        },
        "postBody": {
          "description": "If the user is signing in with an authorization response obtained via a previous CreateAuthUri authorization request, this is the body of the HTTP POST callback from the IdP, if present. Otherwise, if the user is signing in with a manually provided IdP credential, this should be a URL-encoded form that contains the credential (e.g. an ID token or access token for OAuth 2.0 IdPs) and the provider ID of the IdP that issued the credential. For example, if the user is signing in to the Google provider using a Google ID token, this should be set to id_token`=[GOOGLE_ID_TOKEN]&providerId=google.com`, where `[GOOGLE_ID_TOKEN]` should be replaced with the Google ID token. If the user is signing in to the Facebook provider using a Facebook authentication token, this should be set to id_token`=[FACEBOOK_AUTHENTICATION_TOKEN]&providerId=facebook. com&nonce= [NONCE]`, where `[FACEBOOK_AUTHENTICATION_TOKEN]` should be replaced with the Facebook authentication token. Nonce is required for validating the token. The request will fail if no nonce is provided. If the user is signing in to the Facebook provider using a Facebook access token, this should be set to access_token`=[FACEBOOK_ACCESS_TOKEN]&providerId=facebook. com`, where `[FACEBOOK_ACCESS_TOKEN]` should be replaced with the Facebook access token. If the user is signing in to the Twitter provider using a Twitter OAuth 1.0 credential, this should be set to access_token`=[TWITTER_ACCESS_TOKEN]&oauth_token_secret= [TWITTER_TOKEN_SECRET]&providerId=twitter.com`, where `[TWITTER_ACCESS_TOKEN]` and `[TWITTER_TOKEN_SECRET]` should be replaced with the Twitter OAuth access token and Twitter OAuth token secret respectively.",
          "type": "string"
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "requestUri": {
          "description": "Required. The URL to which the IdP redirects the user back. This can be set to `http://localhost` if the user is signing in with a manually provided IdP credential.",
          "type": "string"
        },
        "returnRefreshToken": {
          "description": "Whether or not to return the OAuth refresh token from the IdP, if available.",
          "type": "boolean"
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. If passed, the user's account at the IdP will be linked to the account represented by this ID token.",
          "type": "string"
        },
        "autoCreate": {
          "deprecated": true,
          "type": "boolean"
        },
        "returnIdpCredential": {
          "description": "Whether or not to return OAuth credentials from the IdP on the following errors: `FEDERATED_USER_ID_ALREADY_LINKED` and `EMAIL_EXISTS`.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse",
      "type": "object",
      "properties": {
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the ID token expires."
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        },
        "localId": {
          "description": "The id of the authenticated user. Present in the case of a successful authentication. In the case when the phone could be verified but the account operation could not be performed, a temporary proof will be returned instead.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the temporary proof expires."
        },
        "idToken": {
          "description": "Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "temporaryProof": {
          "description": "A proof of the phone number verification, provided if a phone authentication is successful but the user operation fails. This happens when the request tries to link a phone number to a user with an ID token or reauthenticate with an ID token but the phone number is linked to a different user.",
          "type": "string"
        },
        "verificationProof": {
          "description": "Do not use.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "verificationProofExpiresIn": {
          "description": "Do not use.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Response message for SignInWithPhoneNumber."
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse": {
      "description": "Response message for CreateSessionCookie.",
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse",
      "type": "object",
      "properties": {
        "sessionCookie": {
          "description": "The session cookie that has been created from the Identity Platform ID token specified in the request. It is in the form of a JSON Web Token (JWT). Always present.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse": {
      "description": "Response for IssueSamlResponse request.",
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse",
      "type": "object",
      "properties": {
        "acsEndpoint": {
          "description": "The ACS endpoint which consumes the returned SAMLResponse.",
          "type": "string"
        },
        "lastName": {
          "description": "Last name of the user.",
          "type": "string"
        },
        "firstName": {
          "description": "First name of the user.",
          "type": "string"
        },
        "relayState": {
          "description": "Generated RelayState.",
          "type": "string"
        },
        "samlResponse": {
          "description": "Signed SAMLResponse created for the Relying Party.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        },
        "email": {
          "description": "Email of the user.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest",
      "type": "object",
      "properties": {
        "oldPassword": {
          "description": "The current password of the account to be modified. Specify this and email to change an account's password without using an out-of-band code.",
          "type": "string"
        },
        "email": {
          "description": "Optional. The email of the account to be modified. Specify this and the old password in order to change an account's password without using an out-of-band code.",
          "type": "string"
        },
        "tenantId": {
          "description": "Optional. The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "newPassword": {
          "description": "The new password to be set for this account. Specifying this field will result in a change to the account and consume the out-of-band code if one was specified and it was of type PASSWORD_RESET.",
          "type": "string"
        },
        "oobCode": {
          "description": "An out-of-band (OOB) code generated by GetOobCode request. Specify only this parameter (or only this parameter and a tenant ID) to get the out-of-band code's type in the response without mutating the account's state. Only a PASSWORD_RESET out-of-band code can be consumed via this method.",
          "type": "string"
        }
      },
      "description": "Request message for ResetPassword."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse",
      "type": "object",
      "properties": {
        "fullName": {
          "description": "The full name for the user's account at the IdP.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "originalEmail": {
          "description": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled.",
          "type": "string"
        },
        "oauthTokenSecret": {
          "description": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider.",
          "type": "string"
        },
        "screenName": {
          "description": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP.",
          "type": "string"
        },
        "oauthAccessToken": {
          "description": "The OAuth access token from the IdP, if available.",
          "type": "string"
        },
        "oauthExpireIn": {
          "type": "integer",
          "format": "int32",
          "description": "The number of seconds until the OAuth access token from the IdP expires."
        },
        "emailVerified": {
          "description": "Whether the user account's email address is verified.",
          "type": "boolean"
        },
        "context": {
          "description": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The URL of the user's profile picture at the IdP.",
          "type": "string"
        },
        "nickName": {
          "description": "The nickname for the user's account at the IdP.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether or not a new Identity Platform account was created for the authenticated user.",
          "type": "boolean"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "firstName": {
          "description": "The first name for the user's account at the IdP.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name for the user's account at the IdP.",
          "type": "string"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "tenantId": {
          "description": "The value of the `tenant_id` field in the request.",
          "type": "string"
        },
        "timeZone": {
          "description": "The time zone for the user's account at the IdP.",
          "type": "string"
        },
        "inputEmail": {
          "deprecated": true,
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`.",
          "type": "string"
        },
        "oauthRefreshToken": {
          "description": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`.",
          "type": "string"
        },
        "needConfirmation": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email address is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled.",
          "type": "boolean"
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the user's account at the IdP.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated Identity Platform user. Always present in the response.",
          "type": "string"
        },
        "lastName": {
          "description": "The last name for the user's account at the IdP.",
          "type": "string"
        },
        "emailRecycled": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified.",
          "type": "boolean"
        },
        "oauthIdToken": {
          "description": "The OpenID Connect ID token from the IdP, if available.",
          "type": "string"
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth 2.0 authorization code, if available. Only present for the Google provider.",
          "type": "string"
        },
        "language": {
          "description": "The language preference for the user's account at the IdP.",
          "type": "string"
        },
        "needEmail": {
          "deprecated": true,
          "type": "boolean"
        },
        "federatedId": {
          "description": "The user's account ID at the IdP. Always present in the response.",
          "type": "string"
        },
        "providerId": {
          "description": "The provider ID of the IdP that the user is signing in to. Always present in the response.",
          "type": "string"
        },
        "pendingToken": {
          "description": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the Identity Platform ID token expires."
        },
        "dateOfBirth": {
          "description": "The date of birth for the user's account at the IdP.",
          "type": "string"
        },
        "verifiedProvider": {
          "description": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rawUserInfo": {
          "description": "The stringified JSON response containing all the data corresponding to the user's account at the IdP.",
          "type": "string"
        }
      },
      "description": "Response message for SignInWithIdp."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the email address to the user represented by this ID token and enable sign-in with email link on the account for the future.",
          "type": "string"
        },
        "oobCode": {
          "description": "Required. The out-of-band code from the email link.",
          "type": "string"
        },
        "email": {
          "description": "Required. The email address the sign-in link was sent to. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        }
      },
      "description": "Request message for SignInWithEmailLink"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountRequest": {
      "description": "Request message for DeleteAccount.",
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "localId": {
          "description": "The ID of user account to delete. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). Requests from users lacking the credential should pass an ID token instead.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant.",
          "type": "string"
        },
        "idToken": {
          "description": "The Identity Platform ID token of the account to delete. Require to be specified for requests from end users that lack Google OAuth 2.0 credential. Authenticated requests bearing a Google OAuth2 credential with proper permissions may pass local_id to specify the account to delete alternatively.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountRequest": {
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountRequest",
      "type": "object",
      "properties": {
        "hashAlgorithm": {
          "description": "Required. The hashing function used to hash the account passwords. Must be one of the following: * HMAC_SHA256 * HMAC_SHA1 * HMAC_MD5 * SCRYPT * PBKDF_SHA1 * MD5 * HMAC_SHA512 * SHA1 * BCRYPT * PBKDF2_SHA256 * SHA256 * SHA512 * STANDARD_SCRYPT * ARGON2",
          "type": "string"
        },
        "sanityCheck": {
          "description": "If true, the service will do the following list of checks before an account is uploaded: * Duplicate emails * Duplicate federated IDs * Federated ID provider validation If the duplication exists within the list of accounts to be uploaded, it will prevent the entire list from being uploaded. If the email or federated ID is a duplicate of a user already within the project/tenant, the account will not be uploaded, but the rest of the accounts will be unaffected. If false, these checks will be skipped.",
          "type": "boolean"
        },
        "parallelization": {
          "type": "integer",
          "format": "int32",
          "description": "The parallelization cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
        },
        "passwordHashOrder": {
          "type": "string",
          "enumDescriptions": [
            "The order is not specified.",
            "The order is salt first, and then password.",
            "The order is password first, and then salt."
          ],
          "enum": [
            "UNSPECIFIED_ORDER",
            "SALT_AND_PASSWORD",
            "PASSWORD_AND_SALT"
          ]
        },
        "signerKey": {
          "description": "The signer key used to hash the password. Required for the following hashing functions: * SCRYPT, * HMAC_MD5, * HMAC_SHA1, * HMAC_SHA256, * HMAC_SHA512",
          "type": "string",
          "format": "byte"
        },
        "blockSize": {
          "type": "integer",
          "format": "int32",
          "description": "The block size parameter used by the STANDARD_SCRYPT hashing function. This parameter, along with parallelization and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
        },
        "argon2Parameters": {
          "$ref": "GoogleCloudIdentitytoolkitV1Argon2Parameters",
          "description": "The parameters for Argon2 hashing algorithm."
        },
        "allowOverwrite": {
          "description": "Whether to overwrite an existing account in Identity Platform with a matching `local_id` in the request. If true, the existing account will be overwritten. If false, an error will be returned.",
          "type": "boolean"
        },
        "saltSeparator": {
          "type": "string",
          "format": "byte",
          "description": "One or more bytes to be inserted between the salt and plain text password. For stronger security, this should be a single non-printable character."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "memoryCost": {
          "type": "integer",
          "format": "int32",
          "description": "Memory cost for hash calculation. Only required when the hashing function is SCRYPT."
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "description": "A list of accounts to upload. `local_id` is required for each user; everything else is optional."
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "rounds": {
          "description": "The number of rounds used for hash calculation. Only required for the following hashing functions: * MD5 * SHA1 * SHA256 * SHA512 * PBKDF_SHA1 * PBKDF2_SHA256 * SCRYPT",
          "type": "integer",
          "format": "int32"
        },
        "dkLen": {
          "description": "The desired key length for the STANDARD_SCRYPT hashing function. Must be at least 1.",
          "type": "integer",
          "format": "int32"
        },
        "cpuMemCost": {
          "type": "integer",
          "format": "int32",
          "description": "The CPU memory cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
        }
      },
      "description": "Request message for UploadAccount."
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeResponse": {
      "description": "Response message for GetOobCode.",
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "oobCode": {
          "description": "If return_oob_link is true in the request, the OOB code to send.",
          "type": "string"
        },
        "email": {
          "description": "If return_oob_link is false in the request, the email address the verification was sent to.",
          "type": "string"
        },
        "oobLink": {
          "description": "If return_oob_link is true in the request, the OOB link to be sent to the user. This returns the constructed link including [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links) related parameters.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest": {
      "description": "Request message for BatchDeleteAccounts.",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest",
      "type": "object",
      "properties": {
        "force": {
          "description": "Whether to force deleting accounts that are not in disabled state. If false, only disabled accounts will be deleted, and accounts that are not disabled will be added to the `errors`.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to a default Identity Platform project, the field is not needed.",
          "type": "string"
        },
        "localIds": {
          "description": "Required. List of user IDs to be deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SqlExpression": {
      "description": "Query conditions used to filter results.",
      "id": "GoogleCloudIdentitytoolkitV1SqlExpression",
      "type": "object",
      "properties": {
        "userId": {
          "description": "A string that the account's local ID should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "email": {
          "description": "A case insensitive string that the account's email should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "A string that the account's phone number should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse": {
      "description": "Response message for SignInWithEmailLink.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse",
      "type": "object",
      "properties": {
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor check.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "email": {
          "description": "The email the user signed in with. Always present in the response.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the ID token expires."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordResponse": {
      "description": "Response message for ResetPassword.",
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "email": {
          "description": "The email associated with the out-of-band code that was used.",
          "type": "string"
        },
        "requestType": {
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ],
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "type": "string"
        },
        "mfaInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
        },
        "newEmail": {
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse": {
      "id": "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse",
      "type": "object",
      "properties": {
        "allowPasswordUser": {
          "description": "Whether to allow password account sign up. This field is only returned for authenticated calls from a developer.",
          "type": "boolean"
        },
        "authorizedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Authorized domains for widget redirect."
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "legacyResetPasswordTemplate": {
          "description": "Reset password email template for legacy Firebase V1 app. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "projectId": {
          "description": "The project id of the retrieved configuration.",
          "type": "string"
        },
        "verifyEmailTemplate": {
          "description": "Email template for verify email. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "apiKey": {
          "description": "Google Cloud API key. This field is only returned for authenticated calls from a developer.",
          "type": "string"
        },
        "changeEmailTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate",
          "description": "Email template for change email. This field is only returned for authenticated calls from a developer."
        },
        "revertSecondFactorAdditionTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate",
          "description": "Email template for reverting second factor additions. This field is only returned for authenticated calls from a developer."
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled. This field is only returned for authenticated calls from a developer.",
          "type": "boolean"
        },
        "idpConfig": {
          "description": "OAuth2 provider config. This field is only returned for authenticated calls from a developer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1IdpConfig"
          }
        },
        "dynamicLinksDomain": {
          "description": "The Firebase Dynamic Links domain used to construct links for redirects to native apps.",
          "type": "string"
        },
        "useEmailSending": {
          "description": "Whether to use email sending. This field is only returned for authenticated calls from a developer.",
          "type": "boolean"
        }
      },
      "description": "Response message for GetProjectConfig."
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest": {
      "description": "Request message for SendVerificationCode. 'captcha_response' is required when reCAPTCHA enterprise is enabled, or otherwise at least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator.",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest",
      "type": "object",
      "properties": {
        "recaptchaToken": {
          "description": "Recaptcha token for app verification. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). The recaptcha should be generated by calling getRecaptchaParams and the recaptcha token will be generated on user completion of the recaptcha challenge.",
          "type": "string"
        },
        "iosSecret": {
          "description": "Secret delivered to iOS app as a push notification. Should be passed with an `ios_receipt` as well as the `x-ios-bundle-identifier` header.",
          "type": "string"
        },
        "iosReceipt": {
          "description": "Receipt of successful iOS app token validation. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). This should come from the response of verifyIosClient. If present, the caller should also provide the `ios_secret`, as well as a bundle ID in the `x-ios-bundle-identifier` header, which must match the bundle ID from the verifyIosClient request.",
          "type": "string"
        },
        "playIntegrityToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token (and safety_net_token). At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, , or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). A Play Integrity Token can be generated via the [PlayIntegrity API](https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Optional. The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled.",
          "type": "string"
        },
        "clientType": {
          "type": "string",
          "description": "Optional. The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ]
        },
        "recaptchaVersion": {
          "description": "Optional. The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string"
        },
        "autoRetrievalInfo": {
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval.",
          "$ref": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo"
        },
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "tenantId": {
          "description": "Tenant ID of the Identity Platform tenant the user is signing in to.",
          "type": "string"
        },
        "safetyNetToken": {
          "description": "Android only. Safety Net has been deprecated. Use play_integrity_token instead.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "description": "Response message for SendVerificationCode.",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "An Identity Platform ID token for the account. This is used for legacy user sign up.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The user's photo URL for the account's profile photo.",
          "deprecated": true,
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated user.",
          "type": "string"
        },
        "email": {
          "description": "The account's email address.",
          "deprecated": true,
          "type": "string"
        },
        "refreshToken": {
          "description": "A refresh token for the account. This is used for legacy user sign up.",
          "type": "string"
        },
        "passwordHash": {
          "type": "string",
          "description": "Deprecated. No actual password hash is currently returned.",
          "deprecated": true
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the Identity Platform ID token expires."
        },
        "displayName": {
          "description": "The account's display name.",
          "deprecated": true,
          "type": "string"
        },
        "providerUserInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "description": "The linked Identity Providers on the account."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "newEmail": {
          "description": "The new email that has been set on the user's account attributes.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the account's email has been verified.",
          "type": "boolean"
        }
      },
      "description": "Response message for SetAccountInfo"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest": {
      "description": "Request message for SignInWithPhoneNumber.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information from the response of sendVerificationCode. In the case of authenticating with an SMS code this must be specified, but in the case of using a temporary proof it can be unspecified.",
          "type": "string"
        },
        "code": {
          "description": "User-entered verification code from an SMS sent to the user's phone.",
          "type": "string"
        },
        "temporaryProof": {
          "description": "A proof of the phone number verification, provided from a previous signInWithPhoneNumber request. If this is passed, the caller must also pass in the phone_number field the phone number that was verified in the previous request.",
          "type": "string"
        },
        "verificationProof": {
          "description": "Do not use.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The user's phone number to sign in with. This is necessary in the case of uing a temporary proof, in which case it must match the phone number that was authenticated in the request that generated the temporary proof. This field is ignored if a session info is passed.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the phone number to the user represented by this ID token if the phone number is not in use, or will reauthenticate the user if the phone number is already linked to the user.",
          "type": "string"
        },
        "operation": {
          "deprecated": true,
          "enumDescriptions": [
            "Operation is not specified.",
            "Verify operation is to sign up/sign in.",
            "Verify operation is to reauth.",
            "Verify operation is to update.",
            "Verify operation is to link."
          ],
          "enum": [
            "VERIFY_OP_UNSPECIFIED",
            "SIGN_UP_OR_IN",
            "REAUTH",
            "UPDATE",
            "LINK"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "description": "Response message to BatchDeleteAccounts.",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
          },
          "description": "Detailed error info for accounts that cannot be deleted."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountResponse": {
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountResponse",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "error": {
          "description": "Detailed error info for accounts that cannot be uploaded.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ErrorInfo"
          }
        }
      },
      "description": "Response message for UploadAccount."
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountResponse": {
      "description": "Response message for DeleteAccount.",
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1UserNotification": {
      "description": "Warning notifications for the user.",
      "id": "GoogleCloudIdentitytoolkitV1UserNotification",
      "type": "object",
      "properties": {
        "notificationCode": {
          "type": "string",
          "description": "Warning notification enum. Can be used for localization.",
          "enumDescriptions": [
            "No notification specified.",
            "Password missing lowercase character.",
            "Password missing uppercase character.",
            "Password missing numeric character.",
            "Password missing non alphanumeric character.",
            "Password less than minimum required length.",
            "Password greater than maximum required length."
          ],
          "enum": [
            "NOTIFICATION_CODE_UNSPECIFIED",
            "MISSING_LOWERCASE_CHARACTER",
            "MISSING_UPPERCASE_CHARACTER",
            "MISSING_NUMERIC_CHARACTER",
            "MISSING_NON_ALPHANUMERIC_CHARACTER",
            "MINIMUM_PASSWORD_LENGTH",
            "MAXIMUM_PASSWORD_LENGTH"
          ]
        },
        "notificationMessage": {
          "description": "Warning notification string. Can be used as fallback.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1EmailTemplate": {
      "description": "Email template",
      "id": "GoogleCloudIdentitytoolkitV1EmailTemplate",
      "type": "object",
      "properties": {
        "locale": {
          "description": "Value is in III language code format (e.g. \"zh-CN\", \"es\"). Both '-' and '_' separators are accepted.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether the template is disabled. If true, a default template will be used.",
          "type": "boolean"
        },
        "subject": {
          "description": "Subject of the email",
          "type": "string"
        },
        "from": {
          "description": "From address of the email",
          "type": "string"
        },
        "replyTo": {
          "description": "Reply-to address",
          "type": "string"
        },
        "customized": {
          "description": "Whether the body or subject of the email is customized.",
          "type": "boolean"
        },
        "fromDisplayName": {
          "description": "From display name",
          "type": "string"
        },
        "fromLocalPart": {
          "description": "Local part of From address",
          "type": "string"
        },
        "format": {
          "description": "Email body format",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Email body is in plain text format.",
            "Email body is in HTML format."
          ],
          "enum": [
            "EMAIL_BODY_FORMAT_UNSPECIFIED",
            "PLAINTEXT",
            "HTML"
          ],
          "type": "string"
        },
        "body": {
          "description": "Email body",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account.",
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment",
      "type": "object",
      "properties": {
        "emailInfo": {
          "description": "Contains information specific to email MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailInfo"
        },
        "enrolledAt": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the account enrolled this second factor."
        },
        "phoneInfo": {
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number.",
          "type": "string"
        },
        "totpInfo": {
          "description": "Contains information specific to TOTP MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo"
        },
        "mfaEnrollmentId": {
          "description": "ID of this MFA option.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for this mfa option e.g. \"corp cell phone\".",
          "type": "string"
        },
        "unobfuscatedPhoneInfo": {
          "description": "Output only. Unobfuscated phone_info.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse": {
      "description": "Response message for VerifyIosClient.",
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse",
      "type": "object",
      "properties": {
        "receipt": {
          "description": "Receipt of successful app token validation.",
          "type": "string"
        },
        "suggestedTimeout": {
          "type": "string",
          "format": "int64",
          "description": "Suggested time that the client should wait in seconds for delivery of the push notification."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1OpenIdConnectKey": {
      "description": "Represents a public key of the session cookie signer, formatted as a [JSON Web Key (JWK)](https://tools.ietf.org/html/rfc7517).",
      "id": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey",
      "type": "object",
      "properties": {
        "use": {
          "description": "Key use.",
          "type": "string"
        },
        "kid": {
          "description": "Unique string to identify this key.",
          "type": "string"
        },
        "kty": {
          "description": "Key type.",
          "type": "string"
        },
        "alg": {
          "description": "Signature algorithm.",
          "type": "string"
        },
        "n": {
          "description": "Modulus for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        },
        "e": {
          "description": "Exponent for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1DownloadAccountResponse": {
      "id": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there are more accounts to be downloaded, a token that can be passed back to DownloadAccount to get more accounts. Otherwise, this is blank.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "description": "All accounts belonging to the project/tenant limited by max_results in the request."
        }
      },
      "description": "Response message for DownloadAccount."
    },
    "GoogleCloudIdentitytoolkitV1UserInfo": {
      "id": "GoogleCloudIdentitytoolkitV1UserInfo",
      "type": "object",
      "properties": {
        "emailLinkSignin": {
          "type": "boolean",
          "description": "Output only. Whether the account can authenticate with email link.",
          "readOnly": true
        },
        "timeZone": {
          "description": "Output only. The time zone preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "passwordUpdatedAt": {
          "type": "number",
          "format": "double",
          "description": "The timestamp, in milliseconds from the epoch of 1970-01-01T00:00:00Z, when the account's password was last updated."
        },
        "tenantId": {
          "description": "ID of the tenant this account belongs to. Only set if this account belongs to a tenant.",
          "type": "string"
        },
        "customAttributes": {
          "description": "Custom claims to be added to any ID tokens minted for the account. Should be at most 1,000 characters in length and in valid JSON format.",
          "type": "string"
        },
        "rawPassword": {
          "description": "Input only. Plain text password used to update a account's password. This field is only ever used as input in a request. Identity Platform uses cryptographically secure hashing when managing passwords and will never store or transmit a user's password in plain text.",
          "type": "string"
        },
        "initialEmail": {
          "description": "The first email address associated with this account. The account's initial email cannot be changed once set and is used to recover access to this account if lost via the RECOVER_EMAIL flow in GetOobCode. Should match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The URL of the account's profile photo. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the account's email address has been verified.",
          "type": "boolean"
        },
        "screenName": {
          "description": "Output only. This account's screen name at Twitter or login name at GitHub.",
          "readOnly": true,
          "type": "string"
        },
        "customAuth": {
          "type": "boolean",
          "description": "Output only. Whether this account has been authenticated using SignInWithCustomToken.",
          "readOnly": true
        },
        "providerUserInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "description": "Information about the user as provided by various Identity Providers."
        },
        "dateOfBirth": {
          "description": "Output only. The date of birth set for the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true,
          "type": "string"
        },
        "salt": {
          "description": "The account's password salt. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "string",
          "format": "byte"
        },
        "phoneNumber": {
          "description": "The account's phone number.",
          "type": "string"
        },
        "lastRefreshAt": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when an ID token was last minted for this account."
        },
        "version": {
          "description": "The version of the account's password. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "integer",
          "format": "int32"
        },
        "lastLoginAt": {
          "type": "string",
          "format": "int64",
          "description": "The last time, in milliseconds from epoch, this account was logged into."
        },
        "createdAt": {
          "description": "The time, in milliseconds from epoch, when the account was created.",
          "type": "string",
          "format": "int64"
        },
        "language": {
          "description": "Output only. The language preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true,
          "type": "string"
        },
        "disabled": {
          "description": "Whether the account is disabled. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "boolean"
        },
        "localId": {
          "description": "Immutable. The unique ID of the account.",
          "type": "string"
        },
        "email": {
          "description": "The account's email address. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "passwordHash": {
          "description": "The account's hashed password. Only accessible by requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string",
          "format": "byte"
        },
        "mfaInfo": {
          "description": "Information on which multi-factor authentication providers are enabled for this account.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "validSince": {
          "description": "Oldest timestamp, in seconds since epoch, that an ID token should be considered valid. All ID tokens issued before this time are considered invalid.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "An Identity Platform account's information."
    },
    "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier": {
      "description": "Federated user identifier at an Identity Provider.",
      "id": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier",
      "type": "object",
      "properties": {
        "providerId": {
          "description": "The ID of supported identity providers. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`.",
          "type": "string"
        },
        "rawId": {
          "description": "The user ID of the account at the third-party Identity Provider specified by `provider_id`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest": {
      "description": "Request message for SignInWithGameCenter",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest",
      "type": "object",
      "properties": {
        "salt": {
          "description": "Required. A random string used to generate the given signature.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The time when the signature was created by Apple, in milliseconds since the epoch.",
          "type": "string",
          "format": "int64"
        },
        "teamPlayerId": {
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid",
          "type": "string"
        },
        "displayName": {
          "description": "The user's Game Center display name.",
          "type": "string"
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If present, this request will link the Game Center player ID to the account represented by this ID token.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to.",
          "type": "string"
        },
        "signature": {
          "description": "Required. The verification signature data generated by Apple.",
          "type": "string"
        },
        "publicKeyUrl": {
          "description": "Required. The URL to fetch the Apple public key in order to verify the given signature is signed by Apple.",
          "type": "string"
        },
        "playerId": {
          "description": "Required. The user's Game Center player ID. Deprecated by Apple. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest": {
      "description": "Request message for SignInWithCustomToken.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest",
      "type": "object",
      "properties": {
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If present, the ID should match the tenant_id in the token.",
          "type": "string"
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "token": {
          "description": "Required. The custom Auth token asserted by the developer. The token should be a [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) that includes the claims listed in the [API reference](https://cloud.google.com/identity-platform/docs/reference/rest/client/) under the \"Custom Token Claims\" section.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "deprecated": true
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse": {
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse",
      "type": "object",
      "properties": {
        "userInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "description": "If `return_user_info` in the request is true, this is the accounts matching the query."
        },
        "recordsCount": {
          "description": "If `return_user_info` in the request is true, this is the number of returned accounts in this message. Otherwise, this is the total number of accounts matching the query.",
[...]
