{
  "description": "Help the third party sites to implement federated login.",
  "discoveryVersion": "v1",
  "version": "v3",
  "canonicalName": "Identity Toolkit",
  "resources": {
    "relyingparty": {
      "methods": {
        "setAccountInfo": {
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "description": "Set account info for a user.",
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "path": "setAccountInfo"
        },
        "verifyAssertion": {
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "path": "verifyAssertion",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "description": "Verifies the assertion returned by the IdP."
        },
        "deleteAccount": {
          "description": "Delete user account.",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "path": "deleteAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DeleteAccountResponse"
          }
        },
        "downloadAccount": {
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "path": "downloadAccount",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "description": "Batch download user accounts.",
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        },
        "emailLinkSignin": {
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "path": "emailLinkSignin",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "description": "Reset password for a user."
        },
        "sendVerificationCode": {
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "description": "Send SMS verification code.",
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "path": "sendVerificationCode"
        },
        "verifyPassword": {
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "path": "verifyPassword",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "description": "Verifies the user entered password."
        },
        "resetPassword": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "description": "Reset password for a user.",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "id": "identitytoolkit.relyingparty.resetPassword",
          "path": "resetPassword"
        },
        "signOutUser": {
          "description": "Sign out user.",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "id": "identitytoolkit.relyingparty.signOutUser",
          "path": "signOutUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          }
        },
        "verifyPhoneNumber": {
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "path": "verifyPhoneNumber",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getOobConfirmationCode": {
          "description": "Get a code for user action confirmation.",
          "httpMethod": "POST",
          "request": {
            "$ref": "Relyingparty"
          },
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "path": "getOobConfirmationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          }
        },
        "getPublicKeys": {
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "path": "publicKeys",
          "httpMethod": "GET",
          "description": "Get token signing public key.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "signupNewUser": {
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "description": "Signup new user.",
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "path": "signupNewUser"
        },
        "getRecaptchaParam": {
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "path": "getRecaptchaParam",
          "httpMethod": "GET",
          "description": "Get recaptcha secure param.",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "createAuthUri": {
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "path": "createAuthUri",
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "CreateAuthUriResponse"
          }
        },
        "getProjectConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectNumber": {
              "location": "query",
              "type": "string",
              "description": "GCP project number of the request."
            },
            "delegatedProjectNumber": {
              "location": "query",
              "description": "Delegated GCP project number of the request.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "description": "Get project configuration.",
          "httpMethod": "GET",
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "path": "getProjectConfig"
        },
        "uploadAccount": {
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "path": "uploadAccount",
          "description": "Batch upload existing user accounts.",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "response": {
            "$ref": "UploadAccountResponse"
          }
        },
        "verifyCustomToken": {
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "path": "verifyCustomToken",
          "description": "Verifies the developer asserted ID token.",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          }
        },
        "getAccountInfo": {
          "description": "Returns the account info.",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "path": "getAccountInfo",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GetAccountInfoResponse"
          }
        },
        "setProjectConfig": {
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "path": "setProjectConfig",
          "description": "Set project configuration.",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          }
        }
      }
    }
  },
  "title": "Google Identity Toolkit API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "rootUrl": "https://www.googleapis.com/",
  "revision": "20180723",
  "id": "identitytoolkit:v3",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "schemas": {
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "type": "object",
      "description": "Request to verify a custom token",
      "properties": {
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "token": {
          "description": "The custom token to verify",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
    },
    "VerifyAssertionResponse": {
      "id": "VerifyAssertionResponse",
      "type": "object",
      "description": "Response of verifying the IDP assertion.",
      "properties": {
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "dateOfBirth": {
          "description": "The birth date of the IdP account.",
          "type": "string"
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth2 authorization code.",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth1 access token secret."
        },
        "fullName": {
          "description": "The full name of the user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "oauthIdToken": {
          "description": "The OIDC id token.",
          "type": "string"
        },
        "oauthScope": {
          "description": "The scope for the OpenID OAuth extension.",
          "type": "string"
        },
        "firstName": {
          "description": "The first name of the user.",
          "type": "string"
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "It's true if the email is recycled."
        },
        "appInstallationUrl": {
          "description": "URL for OTA app installation.",
          "type": "string"
        },
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "type": "string",
          "default": "identitytoolkit#VerifyAssertionResponse"
        },
        "errorMessage": {
          "description": "Client error code.",
          "type": "string"
        },
        "nickName": {
          "description": "The nick name of the user.",
          "type": "string"
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "rawUserInfo": {
          "type": "string",
          "description": "Raw IDP-returned user info."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "appScheme": {
          "description": "The custom scheme used by mobile app.",
          "type": "string"
        },
        "verifiedProvider": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "When action is 'map', contains the idps which can be used for confirmation."
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "action": {
          "description": "The action code.",
          "type": "string"
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned.",
          "type": "string"
        },
        "emailVerified": {
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email.",
          "type": "boolean"
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation."
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "screenName": {
          "type": "string",
          "description": "The screen_name of a Twitter user or the login name at Github."
        },
        "displayName": {
          "description": "The display name of the user.",
          "type": "string"
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "federatedId": {
          "description": "The unique ID identifies the IdP account.",
          "type": "string"
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        }
      }
    },
    "UserInfo": {
      "description": "Template for an individual account info.",
      "properties": {
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        },
        "salt": {
          "description": "The user's password salt.",
          "type": "string",
          "format": "byte"
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "customAttributes": {
          "description": "The custom attributes to be set in the user's id token.",
          "type": "string"
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "providerUserInfo": {
          "items": {
            "properties": {
              "displayName": {
                "description": "The user's display name at the IDP.",
                "type": "string"
              },
              "email": {
                "description": "User's email at IDP.",
                "type": "string"
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "providerId": {
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              },
              "screenName": {
                "description": "User's screen name at Twitter or login name at Github.",
                "type": "string"
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "photoUrl": {
                "description": "The user's photo url at the IDP.",
                "type": "string"
              },
              "phoneNumber": {
                "type": "string",
                "description": "User's phone number."
              }
            },
            "type": "object"
          },
          "description": "The IDP of the user.",
          "type": "array"
        },
        "phoneNumber": {
          "description": "User's phone number.",
          "type": "string"
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp when the password was last updated.",
          "format": "double"
        },
        "validSince": {
          "format": "int64",
          "type": "string",
          "description": "Timestamp in seconds for valid login token."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified."
        },
        "version": {
          "description": "Version of the user's password.",
          "type": "integer",
          "format": "int32"
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "createdAt": {
          "type": "string",
          "description": "User creation timestamp.",
          "format": "int64"
        },
        "disabled": {
          "description": "Whether the user is disabled.",
          "type": "boolean"
        },
        "lastLoginAt": {
          "type": "string",
          "description": "last login timestamp.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "UserInfo"
    },
    "GetAccountInfoResponse": {
      "type": "object",
      "description": "Response of getting account information.",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\".",
          "type": "string",
          "default": "identitytoolkit#GetAccountInfoResponse"
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array",
          "description": "The info of the users."
        }
      },
      "id": "GetAccountInfoResponse"
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "type": "object",
      "description": "Request to upload user account in batch.",
      "properties": {
        "signerKey": {
          "description": "The key for to hash the password.",
          "type": "string",
          "format": "byte"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "rounds": {
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "type": "integer",
          "format": "int32"
        },
        "dkLen": {
          "type": "integer",
          "format": "int32"
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "cpuMemCost": {
          "type": "integer",
          "description": "The following 4 fields are for standard scrypt algorithm.",
          "format": "int32"
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array",
          "description": "The account info to be stored."
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "saltSeparator": {
          "type": "string",
          "description": "The salt separator.",
          "format": "byte"
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account."
        },
        "allowOverwrite": {
          "description": "Whether allow overwrite existing account when user local_id exists.",
          "type": "boolean"
        },
        "memoryCost": {
          "format": "int32",
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms."
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        }
      },
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest"
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "type": "object",
      "description": "Request to sign in with email.",
      "properties": {
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "description": "Request to set the project configuration.",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "apiKey": {
          "description": "Browser API key, needed when making http request to Apiary.",
          "type": "string"
        },
        "idpConfig": {
          "description": "Oauth2 provider configuration.",
          "type": "array",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "changeEmailTemplate": {
          "description": "Change email template.",
          "$ref": "EmailTemplate"
        },
        "allowPasswordUser": {
          "description": "Whether to allow password user sign in or sign up.",
          "type": "boolean"
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user.",
          "type": "boolean"
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "authorizedDomains": {
          "description": "Authorized domains for widget redirect.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        }
      },
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "type": "object",
      "description": "Request to reset the password.",
      "properties": {
        "oldPassword": {
          "description": "The old password inputted by the user.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "newPassword": {
          "description": "The new password inputted by the user.",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        }
      },
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest"
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "type": "object",
      "description": "Request to set the account information.",
      "properties": {
        "disableUser": {
          "description": "Whether to disable the user.",
          "type": "boolean"
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "password": {
          "description": "The new password of the user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "provider": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The associated IDPs of the user."
        },
        "createdAt": {
          "type": "string",
          "description": "The timestamp when the account is created.",
          "format": "int64"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Mark the email as verified or not.",
          "type": "boolean"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "lastLoginAt": {
          "format": "int64",
          "type": "string",
          "description": "Last login timestamp."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        },
        "deleteProvider": {
          "type": "array",
          "description": "The IDPs the user request to delete.",
          "items": {
            "type": "string"
          }
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "deleteAttribute": {
          "items": {
            "type": "string"
          },
          "description": "The attributes users request to delete.",
          "type": "array"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "upgradeToFederatedLogin": {
          "description": "Mark the user to upgrade to federated login.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "customAttributes": {
          "description": "The custom attributes to be set in the user's id token.",
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "phoneNumber": {
          "description": "Privileged caller can update user with specified phone number.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "type": "object",
      "description": "Request to sign out user.",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        }
      }
    },
    "SignupNewUserResponse": {
      "id": "SignupNewUserResponse",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#SignupNewUserResponse",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\"."
        },
        "idToken": {
          "description": "The Gitkit id token to login the newly sign up user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        }
      },
      "type": "object"
    },
    "DeleteAccountResponse": {
      "type": "object",
      "description": "Respone of deleting account.",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "type": "string",
          "default": "identitytoolkit#DeleteAccountResponse"
        }
      },
      "id": "DeleteAccountResponse"
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "description": "Request to get the account information.",
      "properties": {
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "localId": {
          "description": "The list of local ID's of the users to inquiry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "phoneNumber": {
          "items": {
            "type": "string"
          },
          "description": "Privileged caller can query users by specified phone number.",
          "type": "array"
        },
        "email": {
          "description": "The list of emails of the users to inquiry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
    },
    "IdpConfig": {
      "id": "IdpConfig",
      "description": "Template for a single idp configuration.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "whitelistedAudiences": {
          "items": {
            "type": "string"
          },
          "description": "Whitelisted client IDs for audience check.",
          "type": "array"
        },
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        },
        "provider": {
          "description": "OAuth2 provider.",
          "type": "string"
        },
        "experimentPercent": {
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "type": "integer",
          "format": "int32"
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "description": "Response of getting the project configuration.",
      "properties": {
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "changeEmailTemplate": {
          "description": "Change email template.",
          "$ref": "EmailTemplate"
        },
        "allowPasswordUser": {
          "description": "Whether to allow password user sign in or sign up.",
          "type": "boolean"
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "idpConfig": {
          "items": {
            "$ref": "IdpConfig"
          },
          "type": "array",
          "description": "OAuth2 provider configuration."
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled.",
          "type": "boolean"
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "verifyEmailTemplate": {
          "description": "Verify email template.",
          "$ref": "EmailTemplate"
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains.",
          "items": {
            "type": "string"
          }
        },
        "legacyResetPasswordTemplate": {
          "description": "Legacy reset password email template.",
          "$ref": "EmailTemplate"
        }
      },
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "type": "object",
      "description": "Request to verify the IDP assertion.",
      "properties": {
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "requestUri": {
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP.",
          "type": "string"
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "returnIdpCredential": {
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked.",
          "type": "boolean"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "returnRefreshToken": {
          "description": "Whether to return refresh tokens.",
          "type": "boolean"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
    },
    "UploadAccountResponse": {
      "id": "UploadAccountResponse",
      "type": "object",
      "description": "Respone of uploading accounts in batch.",
      "properties": {
        "error": {
          "items": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              },
              "index": {
                "format": "int32",
                "type": "integer",
                "description": "The index of the malformed account, starting from 0."
              }
            }
          },
          "type": "array",
          "description": "The error encountered while processing the account info."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#UploadAccountResponse",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\"."
        }
      }
    },
    "Relyingparty": {
      "type": "object",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "properties": {
        "canHandleCodeInApp": {
          "description": "whether or not the app can handle the oob code without first going to web",
          "type": "boolean"
        },
        "androidPackageName": {
          "description": "android package name of the android app to handle the action code",
          "type": "string"
        },
        "continueUrl": {
          "description": "The url to continue to the Gitkit app",
          "type": "string"
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "newEmail": {
          "type": "string",
          "description": "The new email if the code is for email change."
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "androidInstallApp": {
          "description": "whether or not to install the android app on the device where the link is opened",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#relyingparty",
          "description": "The fixed string \"identitytoolkit#relyingparty\"."
        },
        "requestType": {
          "description": "The request type.",
          "type": "string"
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        },
        "idToken": {
          "description": "The user's Gitkit login token for email change.",
          "type": "string"
        }
      },
      "id": "Relyingparty"
    },
    "CreateAuthUriResponse": {
      "id": "CreateAuthUriResponse",
      "type": "object",
      "description": "Response of creating the IDP authentication URL.",
      "properties": {
        "registered": {
          "description": "Whether the user is registered if the identifier is an email.",
          "type": "boolean"
        },
        "captchaRequired": {
          "description": "True if captcha is required.",
          "type": "boolean"
        },
        "signinMethods": {
          "type": "array",
          "description": "All sign-in methods this user has used.",
          "items": {
            "type": "string"
          }
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "authUri": {
          "description": "The URI used by the IDP to authenticate the user.",
          "type": "string"
        },
        "allProviders": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "all providers the user has once used to do federated login"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#CreateAuthUriResponse",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\"."
        },
        "providerId": {
          "description": "The provider ID of the auth URI.",
          "type": "string"
        },
        "sessionId": {
          "description": "Session ID which should be passed in the following verifyAssertion request.",
          "type": "string"
        }
      }
    },
    "EmailTemplate": {
      "id": "EmailTemplate",
      "description": "Template for an email template.",
      "properties": {
        "body": {
          "description": "Email body.",
          "type": "string"
        },
        "format": {
          "description": "Email body format.",
          "type": "string"
        },
        "from": {
          "type": "string",
          "description": "From address of the email."
        },
        "fromDisplayName": {
          "description": "From display name.",
          "type": "string"
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "type": "object",
      "description": "Request to delete account.",
      "properties": {
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "idToken": {
          "description": "The GITKit token or STS id token of the authenticated user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "type": "object",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "idToken": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "sessionInfo": {
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode.",
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        }
      }
    },
    "DownloadAccountResponse": {
      "id": "DownloadAccountResponse",
      "description": "Response of downloading accounts in batch.",
      "properties": {
        "nextPageToken": {
          "description": "The next page token. To be used in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#DownloadAccountResponse",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\"."
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array",
          "description": "The user accounts data."
        }
      },
      "type": "object"
    },
    "VerifyCustomTokenResponse": {
      "type": "object",
      "description": "Response from verifying a custom token",
      "properties": {
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\".",
          "type": "string",
          "default": "identitytoolkit#VerifyCustomTokenResponse"
        }
      },
      "id": "VerifyCustomTokenResponse"
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "description": "Request for Identitytoolkit-SendVerificationCode",
      "properties": {
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Recaptcha solution.",
          "type": "string"
        },
        "iosSecret": {
          "description": "Secret delivered to iOS app via APNS.",
          "type": "string"
        },
        "iosReceipt": {
          "description": "Receipt of successful app token validation with APNS.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VerifyPasswordResponse": {
      "id": "VerifyPasswordResponse",
      "type": "object",
      "description": "Request of verifying the password.",
      "properties": {
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "oauthExpireIn": {
          "format": "int32",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "type": "integer"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\".",
          "type": "string",
          "default": "identitytoolkit#VerifyPasswordResponse"
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "registered": {
          "description": "Whether the email is registered.",
          "type": "boolean"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        }
      }
    },
    "EmailLinkSigninResponse": {
      "description": "Response of email signIn.",
      "properties": {
        "expiresIn": {
          "description": "Expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "type": "string",
          "default": "identitytoolkit#EmailLinkSigninResponse"
        },
        "email": {
          "description": "The user's email.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the user is new.",
          "type": "boolean"
        },
        "refreshToken": {
          "description": "The refresh token for the signed in user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "idToken": {
          "description": "The STS id token to login the newly signed in user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EmailLinkSigninResponse"
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "description": "Request to download user account in batch.",
      "properties": {
        "maxResults": {
          "format": "uint32",
          "description": "The max number of results to return in the response.",
          "type": "integer"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token for the next page. This should be taken from the previous response.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResetPasswordResponse": {
      "id": "ResetPasswordResponse",
      "description": "Response of resetting the password.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#ResetPasswordResponse",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\"."
        },
        "newEmail": {
          "description": "If the out-of-band code is for email recovery, the user's new email.",
          "type": "string"
        },
        "requestType": {
          "description": "The request type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "idToken": {
          "type": "string"
        },
        "localId": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "verificationProof": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GetOobConfirmationCodeResponse": {
      "id": "GetOobConfirmationCodeResponse",
      "description": "Response of getting a code for user confirmation (reset password, change email etc.).",
      "properties": {
        "email": {
          "description": "The email address that the email is sent to.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\".",
          "type": "string",
          "default": "identitytoolkit#GetOobConfirmationCodeResponse"
        },
        "oobCode": {
          "description": "The code to be send to the user.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "type": "object",
      "description": "Request to verify the password.",
      "properties": {
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "password": {
          "description": "The password inputed by the user.",
          "type": "string"
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user."
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string",
          "format": "uint64"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "description": "Response of setting the project configuration.",
      "properties": {
        "projectId": {
          "description": "Project ID of the relying party.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "description": "Response of signing out user.",
      "properties": {
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse"
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "properties": {
        "disabled": {
          "description": "Whether to disable the user. Only can be used by service account.",
          "type": "boolean"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "localId": {
          "description": "Privileged caller can create user with specified user id.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        }
      }
    },
    "GetRecaptchaParamResponse": {
      "type": "object",
      "description": "Response of getting recaptcha param.",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "type": "string",
          "default": "identitytoolkit#GetRecaptchaParamResponse"
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        },
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        }
      },
      "id": "GetRecaptchaParamResponse"
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "description": "Request to get the IDP authentication URL.",
      "properties": {
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "customParameter": {
          "type": "object",
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token.",
          "additionalProperties": {
            "description": "The customized query parameter.",
            "type": "string"
          }
        },
        "clientId": {
          "description": "The relying party OAuth client ID.",
          "type": "string"
        },
        "otaApp": {
          "description": "The native app package for OTA installation.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "openidRealm": {
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string"
        },
        "authFlowType": {
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider.",
          "type": "string"
        },
        "oauthScope": {
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant",
          "type": "string"
        },
        "sessionId": {
          "description": "The session_id passed by client.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "oauthConsumerKey": {
          "description": "The developer's consumer key for OpenId OAuth Extension",
          "type": "string"
        },
        "hostedDomain": {
          "type": "string",
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        }
      },
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "description": "Respone of getting public keys.",
      "additionalProperties": {
        "type": "string"
      },
      "type": "object"
    },
    "SetAccountInfoResponse": {
      "description": "Respone of setting the account information.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "expiresIn": {
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "type": "string",
          "default": "identitytoolkit#SetAccountInfoResponse"
        },
        "providerUserInfo": {
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              }
            }
          },
          "type": "array",
          "description": "The user's profiles at the associated IdPs."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        }
      },
      "type": "object",
      "id": "SetAccountInfoResponse"
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch/identitytoolkit/v3",
  "name": "identitytoolkit",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "icons": {
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png",
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png"
  },
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/"
}