{
  "ownerName": "Google",
  "rootUrl": "https://www.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "icons": {
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png",
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png"
  },
  "parameters": {
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "enum": [
        "json"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "schemas": {
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "description": "Request to set the account information.",
      "properties": {
        "createdAt": {
          "description": "The timestamp when the account is created.",
          "type": "string",
          "format": "int64"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "provider": {
          "description": "The associated IDPs of the user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "deleteAttribute": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The attributes users request to delete."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "deleteProvider": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDPs the user request to delete."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can update user with specified phone number."
        },
        "validSince": {
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "lastLoginAt": {
          "description": "Last login timestamp.",
          "type": "string",
          "format": "int64"
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "type": "object",
      "description": "Request to sign in with email.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "type": "object",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "idToken": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        },
        "verificationProof": {
          "type": "string"
        }
      }
    },
    "ResetPasswordResponse": {
      "id": "ResetPasswordResponse",
      "type": "object",
      "description": "Response of resetting the password.",
      "properties": {
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#ResetPasswordResponse",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\"."
        },
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        },
        "newEmail": {
          "type": "string",
          "description": "If the out-of-band code is for email recovery, the user's new email."
        }
      }
    },
    "VerifyCustomTokenResponse": {
      "id": "VerifyCustomTokenResponse",
      "type": "object",
      "description": "Response from verifying a custom token",
      "properties": {
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#VerifyCustomTokenResponse",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\"."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        }
      }
    },
    "GetAccountInfoResponse": {
      "id": "GetAccountInfoResponse",
      "type": "object",
      "description": "Response of getting account information.",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "UserInfo"
          },
          "description": "The info of the users."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#GetAccountInfoResponse",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\"."
        }
      }
    },
    "UserInfo": {
      "description": "Template for an individual account info.",
      "properties": {
        "salt": {
          "format": "byte",
          "type": "string",
          "description": "The user's password salt."
        },
        "createdAt": {
          "description": "User creation timestamp.",
          "format": "int64",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "providerUserInfo": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "screenName": {
                "type": "string",
                "description": "User's screen name at Twitter or login name at Github."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "phoneNumber": {
                "type": "string",
                "description": "User's phone number."
              }
            }
          },
          "description": "The IDP of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified."
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user is disabled."
        },
        "passwordUpdatedAt": {
          "description": "The timestamp when the password was last updated.",
          "type": "number",
          "format": "double"
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "passwordHash": {
          "type": "string",
          "format": "byte",
          "description": "The user's hashed password."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "validSince": {
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Version of the user's password."
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number."
        },
        "lastLoginAt": {
          "type": "string",
          "format": "int64",
          "description": "last login timestamp."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        }
      },
      "id": "UserInfo",
      "type": "object"
    },
    "DownloadAccountResponse": {
      "id": "DownloadAccountResponse",
      "type": "object",
      "description": "Response of downloading accounts in batch.",
      "properties": {
        "users": {
          "description": "The user accounts data.",
          "type": "array",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "type": "string",
          "default": "identitytoolkit#DownloadAccountResponse"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. To be used in a subsequent request to return the next page of results."
        }
      }
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether to disable the user. Only can be used by service account."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        },
        "localId": {
          "type": "string",
          "description": "Privileged caller can create user with specified user id."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64",
          "type": "string"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "type": "object",
      "description": "Request to verify the IDP assertion.",
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "requestUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        }
      }
    },
    "Relyingparty": {
      "id": "Relyingparty",
      "type": "object",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "properties": {
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "whether or not to install the android app on the device where the link is opened"
        },
        "idToken": {
          "type": "string",
          "description": "The user's Gitkit login token for email change."
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "newEmail": {
          "type": "string",
          "description": "The new email if the code is for email change."
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#relyingparty",
          "description": "The fixed string \"identitytoolkit#relyingparty\"."
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "continueUrl": {
          "type": "string",
          "description": "The url to continue to the Gitkit app"
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        }
      }
    },
    "UploadAccountResponse": {
      "description": "Respone of uploading accounts in batch.",
      "properties": {
        "error": {
          "description": "The error encountered while processing the account info.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "index": {
                "description": "The index of the malformed account, starting from 0.",
                "type": "integer",
                "format": "int32"
              },
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              }
            }
          }
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#UploadAccountResponse",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\"."
        }
      },
      "id": "UploadAccountResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "description": "Request to upload user account in batch.",
      "properties": {
        "saltSeparator": {
          "format": "byte",
          "type": "string",
          "description": "The salt separator."
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "memoryCost": {
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms.",
          "format": "int32",
          "type": "integer"
        },
        "users": {
          "description": "The account info to be stored.",
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array"
        },
        "blockSize": {
          "format": "int32",
          "type": "integer"
        },
        "rounds": {
          "type": "integer",
          "format": "int32",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms."
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        },
        "cpuMemCost": {
          "type": "integer",
          "format": "int32",
          "description": "The following 4 fields are for standard scrypt algorithm."
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account."
        },
        "dkLen": {
          "format": "int32",
          "type": "integer"
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "signerKey": {
          "format": "byte",
          "type": "string",
          "description": "The key for to hash the password."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        }
      },
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "type": "object"
    },
    "GetOobConfirmationCodeResponse": {
      "description": "Response of getting a code for user confirmation (reset password, change email etc.).",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\".",
          "type": "string",
          "default": "identitytoolkit#GetOobConfirmationCodeResponse"
        },
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        },
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        }
      },
      "id": "GetOobConfirmationCodeResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "type": "object",
      "description": "Request to verify the password.",
      "properties": {
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "password": {
          "type": "string",
          "description": "The password inputed by the user."
        }
      }
    },
    "SetAccountInfoResponse": {
      "id": "SetAccountInfoResponse",
      "type": "object",
      "description": "Respone of setting the account information.",
      "properties": {
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#SetAccountInfoResponse",
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\"."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "providerUserInfo": {
          "description": "The user's profiles at the associated IdPs.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              }
            }
          }
        },
        "passwordHash": {
          "description": "The user's hashed password.",
          "type": "string",
          "format": "byte"
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "description": "Request to reset the password.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "newPassword": {
          "type": "string",
          "description": "The new password inputted by the user."
        },
        "oldPassword": {
          "type": "string",
          "description": "The old password inputted by the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        }
      },
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "description": "Response of setting the project configuration.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      },
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "type": "object"
    },
    "CreateAuthUriResponse": {
      "id": "CreateAuthUriResponse",
      "type": "object",
      "description": "Response of creating the IDP authentication URL.",
      "properties": {
        "signinMethods": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All sign-in methods this user has used."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID which should be passed in the following verifyAssertion request."
        },
        "kind": {
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "type": "string",
          "default": "identitytoolkit#CreateAuthUriResponse"
        },
        "captchaRequired": {
          "type": "boolean",
          "description": "True if captcha is required."
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the user is registered if the identifier is an email."
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "authUri": {
          "type": "string",
          "description": "The URI used by the IDP to authenticate the user."
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        },
        "allProviders": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "all providers the user has once used to do federated login"
        }
      }
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "type": "object",
      "description": "Request for Identitytoolkit-SendVerificationCode",
      "properties": {
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha solution."
        },
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful app token validation with APNS."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "refreshToken": {
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "verificationProof": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "verificationProofExpiresIn": {
          "format": "int64",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "localId": {
          "type": "string"
        }
      }
    },
    "DeleteAccountResponse": {
      "id": "DeleteAccountResponse",
      "type": "object",
      "description": "Respone of deleting account.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "identitytoolkit#DeleteAccountResponse",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\"."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "type": "object",
      "description": "Request to set the project configuration.",
      "properties": {
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "authorizedDomains": {
          "description": "Authorized domains for widget redirect.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "idpConfig": {
          "description": "Oauth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          },
          "type": "array"
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether to enable anonymous user."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "changeEmailTemplate": {
          "description": "Change email template.",
          "$ref": "EmailTemplate"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "verifyEmailTemplate": {
          "description": "Verify email template.",
          "$ref": "EmailTemplate"
        }
      }
    },
    "VerifyPasswordResponse": {
      "description": "Request of verifying the password.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "oauthExpireIn": {
          "format": "int32",
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#VerifyPasswordResponse",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\"."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        }
      },
      "id": "VerifyPasswordResponse",
      "type": "object"
    },
    "SignupNewUserResponse": {
      "id": "SignupNewUserResponse",
      "type": "object",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "type": "string",
          "default": "identitytoolkit#SignupNewUserResponse"
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "type": "object",
      "description": "Request to sign out user.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "description": "Request to get the account information.",
      "properties": {
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "localId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of local ID's of the users to inquiry."
        },
        "phoneNumber": {
          "description": "Privileged caller can query users by specified phone number.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "description": "The list of emails of the users to inquiry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "type": "object",
      "description": "Request to delete account.",
      "properties": {
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token or STS id token of the authenticated user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "description": "Response of getting the project configuration.",
      "properties": {
        "idpConfig": {
          "type": "array",
          "items": {
            "$ref": "IdpConfig"
          },
          "description": "OAuth2 provider configuration."
        },
        "authorizedDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Authorized domains."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        }
      },
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "type": "object"
    },
    "EmailLinkSigninResponse": {
      "description": "Response of email signIn.",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "The refresh token for the signed in user."
        },
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#EmailLinkSigninResponse",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\"."
        },
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "Expiration time of STS id token in seconds."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        }
      },
      "id": "EmailLinkSigninResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      }
    },
    "IdpConfig": {
      "id": "IdpConfig",
      "type": "object",
      "description": "Template for a single idp configuration.",
      "properties": {
        "whitelistedAudiences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Whitelisted client IDs for audience check."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "experimentPercent": {
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "format": "int32",
          "type": "integer"
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        }
      }
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "type": "object",
      "description": "Request to get the IDP authentication URL.",
      "properties": {
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "hostedDomain": {
          "type": "string",
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts."
        },
        "authFlowType": {
          "type": "string",
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "otaApp": {
          "type": "string",
          "description": "The native app package for OTA installation."
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant"
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "customParameter": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          },
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token."
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "oauthConsumerKey": {
          "type": "string",
          "description": "The developer's consumer key for OpenId OAuth Extension"
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "description": "Response of signing out user.",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "type": "object"
    },
    "GetRecaptchaParamResponse": {
      "description": "Response of getting recaptcha param.",
      "properties": {
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        },
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#GetRecaptchaParamResponse",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\"."
        }
      },
      "id": "GetRecaptchaParamResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "additionalProperties": {
        "type": "string"
      },
      "description": "Respone of getting public keys.",
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "type": "object"
    },
    "VerifyAssertionResponse": {
      "id": "VerifyAssertionResponse",
      "type": "object",
      "description": "Response of verifying the IDP assertion.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "nickName": {
          "type": "string",
          "description": "The nick name of the user."
        },
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned."
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "appInstallationUrl": {
          "type": "string",
          "description": "URL for OTA app installation."
        },
        "oauthExpireIn": {
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32",
          "type": "integer"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The birth date of the IdP account."
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "verifiedProvider": {
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "oauthScope": {
          "type": "string",
          "description": "The scope for the OpenID OAuth extension."
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "rawUserInfo": {
          "type": "string",
          "description": "Raw IDP-returned user info."
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the user."
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth1 access token secret."
        },
        "appScheme": {
          "type": "string",
          "description": "The custom scheme used by mobile app."
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation."
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "screenName": {
          "type": "string",
          "description": "The screen_name of a Twitter user or the login name at Github."
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "errorMessage": {
          "type": "string",
          "description": "Client error code."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "type": "string",
          "default": "identitytoolkit#VerifyAssertionResponse"
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "It's true if the email is recycled."
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        }
      }
    },
    "EmailTemplate": {
      "id": "EmailTemplate",
      "type": "object",
      "description": "Template for an email template.",
      "properties": {
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        },
        "format": {
          "type": "string",
          "description": "Email body format."
        },
        "from": {
          "type": "string",
          "description": "From address of the email."
        },
        "body": {
          "type": "string",
          "description": "Email body."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name."
        }
      }
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "type": "object",
      "description": "Request to download user account in batch.",
      "properties": {
        "maxResults": {
          "format": "uint32",
          "type": "integer",
          "description": "The max number of results to return in the response."
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "description": "Request to verify a custom token",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "type": "object"
    }
  },
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "kind": "discovery#restDescription",
  "version": "v3",
  "resources": {
    "relyingparty": {
      "methods": {
        "uploadAccount": {
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "path": "uploadAccount",
          "description": "Batch upload existing user accounts.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.uploadAccount"
        },
        "getOobConfirmationCode": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Relyingparty"
          },
          "description": "Get a code for user action confirmation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "getOobConfirmationCode",
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          }
        },
        "sendVerificationCode": {
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "description": "Send SMS verification code.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "sendVerificationCode",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "httpMethod": "POST"
        },
        "setProjectConfig": {
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "path": "setProjectConfig",
          "description": "Set project configuration.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "httpMethod": "POST"
        },
        "deleteAccount": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "description": "Delete user account.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "deleteAccount"
        },
        "getAccountInfo": {
          "description": "Returns the account info.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "getAccountInfo",
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          }
        },
        "setAccountInfo": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "description": "Set account info for a user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "setAccountInfo"
        },
        "createAuthUri": {
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "createAuthUri",
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          }
        },
        "emailLinkSignin": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "description": "Reset password for a user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "emailLinkSignin"
        },
        "verifyPassword": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "path": "verifyPassword",
          "description": "Verifies the user entered password.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getProjectConfig": {
          "path": "getProjectConfig",
          "parameters": {
            "projectNumber": {
              "type": "string",
              "location": "query",
              "description": "GCP project number of the request."
            },
            "delegatedProjectNumber": {
              "type": "string",
              "location": "query",
              "description": "Delegated GCP project number of the request."
            }
          },
          "description": "Get project configuration.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "httpMethod": "GET"
        },
        "downloadAccount": {
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "description": "Batch download user accounts.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "downloadAccount",
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "response": {
            "$ref": "DownloadAccountResponse"
          }
        },
        "getRecaptchaParam": {
          "httpMethod": "GET",
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "description": "Get recaptcha secure param.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "getRecaptchaParam"
        },
        "signOutUser": {
          "description": "Sign out user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "signOutUser",
          "id": "identitytoolkit.relyingparty.signOutUser",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          }
        },
        "signupNewUser": {
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "description": "Signup new user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "signupNewUser",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "httpMethod": "POST"
        },
        "resetPassword": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.resetPassword",
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "description": "Reset password for a user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "resetPassword"
        },
        "verifyCustomToken": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "description": "Verifies the developer asserted ID token.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "verifyCustomToken"
        },
        "getPublicKeys": {
          "httpMethod": "GET",
          "path": "publicKeys",
          "description": "Get token signing public key.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "id": "identitytoolkit.relyingparty.getPublicKeys"
        },
        "verifyAssertion": {
          "path": "verifyAssertion",
          "description": "Verifies the assertion returned by the IdP.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          }
        },
        "verifyPhoneNumber": {
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "verifyPhoneNumber",
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "title": "Google Identity Toolkit API",
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "revision": "20180723",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "name": "identitytoolkit",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "canonicalName": "Identity Toolkit",
  "batchPath": "batch/identitytoolkit/v3",
  "id": "identitytoolkit:v3",
  "description": "Help the third party sites to implement federated login."
}