{
  "description": "Help the third party sites to implement federated login.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "title": "Google Identity Toolkit API",
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "discoveryVersion": "v1",
  "rootUrl": "https://www.googleapis.com/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "batchPath": "batch/identitytoolkit/v3",
  "name": "identitytoolkit",
  "id": "identitytoolkit:v3",
  "protocol": "rest",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "enum": [
        "json"
      ],
      "type": "string",
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    }
  },
  "schemas": {
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "description": "Request to set the project configuration.",
      "type": "object",
      "properties": {
        "idpConfig": {
          "items": {
            "$ref": "IdpConfig"
          },
          "description": "Oauth2 provider configuration.",
          "type": "array"
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "changeEmailTemplate": {
          "description": "Change email template.",
          "$ref": "EmailTemplate"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user.",
          "type": "boolean"
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "apiKey": {
          "description": "Browser API key, needed when making http request to Apiary.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "localId": {
          "type": "string",
          "description": "Privileged caller can create user with specified user id."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether to disable the user. Only can be used by service account."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "emailVerified": {
          "description": "Mark the email as verified or not. Only can be used by service account.",
          "type": "boolean"
        }
      },
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth."
    },
    "DownloadAccountResponse": {
      "id": "DownloadAccountResponse",
      "description": "Response of downloading accounts in batch.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "default": "identitytoolkit#DownloadAccountResponse"
        },
        "nextPageToken": {
          "description": "The next page token. To be used in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "users": {
          "type": "array",
          "description": "The user accounts data.",
          "items": {
            "$ref": "UserInfo"
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "description": "Response of signing out user.",
      "type": "object",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "type": "object",
      "properties": {
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        }
      },
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "description": "Request to sign in with email."
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "description": "Request to verify a custom token",
      "type": "object",
      "properties": {
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        }
      }
    },
    "Relyingparty": {
      "id": "Relyingparty",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "type": "object",
      "properties": {
        "iOSAppStoreId": {
          "description": "iOS app store id to download the app if it's not already installed",
          "type": "string"
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "newEmail": {
          "description": "The new email if the code is for email change.",
          "type": "string"
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "androidInstallApp": {
          "description": "whether or not to install the android app on the device where the link is opened",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "The user's Gitkit login token for email change."
        },
        "captchaResp": {
          "description": "The recaptcha response from the user.",
          "type": "string"
        },
        "continueUrl": {
          "description": "The url to continue to the Gitkit app",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#relyingparty\".",
          "default": "identitytoolkit#relyingparty"
        },
        "challenge": {
          "description": "The recaptcha challenge presented to the user.",
          "type": "string"
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        },
        "androidMinimumVersion": {
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "type": "object",
      "properties": {
        "dkLen": {
          "type": "integer",
          "format": "int32"
        },
        "targetProjectId": {
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential.",
          "type": "string"
        },
        "saltSeparator": {
          "type": "string",
          "format": "byte",
          "description": "The salt separator."
        },
        "memoryCost": {
          "format": "int32",
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms."
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account."
        },
        "blockSize": {
          "format": "int32",
          "type": "integer"
        },
        "hashAlgorithm": {
          "description": "The password hash algorithm.",
          "type": "string"
        },
        "rounds": {
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "type": "integer",
          "format": "int32"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "signerKey": {
          "type": "string",
          "format": "byte",
          "description": "The key for to hash the password."
        },
        "users": {
          "type": "array",
          "description": "The account info to be stored.",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "cpuMemCost": {
          "description": "The following 4 fields are for standard scrypt algorithm.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "description": "Request to upload user account in batch."
    },
    "CreateAuthUriResponse": {
      "type": "object",
      "properties": {
        "providerId": {
          "description": "The provider ID of the auth URI.",
          "type": "string"
        },
        "captchaRequired": {
          "description": "True if captcha is required.",
          "type": "boolean"
        },
        "signinMethods": {
          "type": "array",
          "description": "All sign-in methods this user has used.",
          "items": {
            "type": "string"
          }
        },
        "allProviders": {
          "type": "array",
          "description": "all providers the user has once used to do federated login",
          "items": {
            "type": "string"
          }
        },
        "authUri": {
          "type": "string",
          "description": "The URI used by the IDP to authenticate the user."
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the user is registered if the identifier is an email."
        },
        "kind": {
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "default": "identitytoolkit#CreateAuthUriResponse",
          "type": "string"
        },
        "sessionId": {
          "description": "Session ID which should be passed in the following verifyAssertion request.",
          "type": "string"
        },
        "forExistingProvider": {
          "description": "True if the authUri is for user's existing provider.",
          "type": "boolean"
        }
      },
      "id": "CreateAuthUriResponse",
      "description": "Response of creating the IDP authentication URL."
    },
    "DeleteAccountResponse": {
      "id": "DeleteAccountResponse",
      "description": "Respone of deleting account.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "identitytoolkit#DeleteAccountResponse",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\"."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "description": "Response of getting the project configuration.",
      "type": "object",
      "properties": {
        "apiKey": {
          "description": "Browser API key, needed when making http request to Apiary.",
          "type": "string"
        },
        "changeEmailTemplate": {
          "description": "Change email template.",
          "$ref": "EmailTemplate"
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "allowPasswordUser": {
          "description": "Whether to allow password user sign in or sign up.",
          "type": "boolean"
        },
        "authorizedDomains": {
          "items": {
            "type": "string"
          },
          "description": "Authorized domains.",
          "type": "array"
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "idpConfig": {
          "type": "array",
          "description": "OAuth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "resetPasswordTemplate": {
          "description": "Reset password email template.",
          "$ref": "EmailTemplate"
        }
      }
    },
    "EmailLinkSigninResponse": {
      "id": "EmailLinkSigninResponse",
      "description": "Response of email signIn.",
      "type": "object",
      "properties": {
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "default": "identitytoolkit#EmailLinkSigninResponse",
          "type": "string"
        },
        "refreshToken": {
          "description": "The refresh token for the signed in user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "expiresIn": {
          "description": "Expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        }
      }
    },
    "VerifyCustomTokenResponse": {
      "type": "object",
      "properties": {
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\".",
          "default": "identitytoolkit#VerifyCustomTokenResponse",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        }
      },
      "id": "VerifyCustomTokenResponse",
      "description": "Response from verifying a custom token"
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "deleteProvider": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDPs the user request to delete."
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "emailVerified": {
          "description": "Mark the email as verified or not.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "password": {
          "description": "The new password of the user.",
          "type": "string"
        },
        "provider": {
          "items": {
            "type": "string"
          },
          "description": "The associated IDPs of the user.",
          "type": "array"
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "deleteAttribute": {
          "description": "The attributes users request to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastLoginAt": {
          "description": "Last login timestamp.",
          "format": "int64",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Privileged caller can update user with specified phone number.",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp when the account is created."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "validSince": {
          "format": "int64",
          "type": "string",
          "description": "Timestamp in seconds for valid login token."
        },
        "oobCode": {
          "description": "The out-of-band code of the change email request.",
          "type": "string"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        }
      },
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "description": "Request to set the account information."
    },
    "UploadAccountResponse": {
      "id": "UploadAccountResponse",
      "description": "Respone of uploading accounts in batch.",
      "type": "object",
      "properties": {
        "error": {
          "items": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              },
              "index": {
                "type": "integer",
                "format": "int32",
                "description": "The index of the malformed account, starting from 0."
              }
            }
          },
          "description": "The error encountered while processing the account info.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#UploadAccountResponse",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\"."
        }
      }
    },
    "UserInfo": {
      "type": "object",
      "properties": {
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "passwordUpdatedAt": {
          "description": "The timestamp when the password was last updated.",
          "format": "double",
          "type": "number"
        },
        "customAuth": {
          "description": "Whether the user is authenticated by the developer.",
          "type": "boolean"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user is disabled."
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The IDP of the user.",
          "items": {
            "type": "object",
            "properties": {
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "displayName": {
                "description": "The user's display name at the IDP.",
                "type": "string"
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "screenName": {
                "type": "string",
                "description": "User's screen name at Twitter or login name at Github."
              },
              "phoneNumber": {
                "description": "User's phone number.",
                "type": "string"
              },
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              }
            }
          }
        },
        "createdAt": {
          "description": "User creation timestamp.",
          "format": "int64",
          "type": "string"
        },
        "screenName": {
          "description": "User's screen name at Twitter or login name at Github.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Version of the user's password."
        },
        "validSince": {
          "description": "Timestamp in seconds for valid login token.",
          "type": "string",
          "format": "int64"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "customAttributes": {
          "description": "The custom attributes to be set in the user's id token.",
          "type": "string"
        },
        "lastLoginAt": {
          "type": "string",
          "format": "int64",
          "description": "last login timestamp."
        },
        "salt": {
          "description": "The user's password salt.",
          "format": "byte",
          "type": "string"
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      },
      "id": "UserInfo",
      "description": "Template for an individual account info."
    },
    "GetOobConfirmationCodeResponse": {
      "id": "GetOobConfirmationCodeResponse",
      "description": "Response of getting a code for user confirmation (reset password, change email etc.).",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#GetOobConfirmationCodeResponse",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\"."
        },
        "oobCode": {
          "description": "The code to be send to the user.",
          "type": "string"
        }
      }
    },
    "GetRecaptchaParamResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "default": "identitytoolkit#GetRecaptchaParamResponse"
        },
        "recaptchaSiteKey": {
          "description": "Site key registered at recaptcha.",
          "type": "string"
        },
        "recaptchaStoken": {
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge.",
          "type": "string"
        }
      },
      "id": "GetRecaptchaParamResponse",
      "description": "Response of getting recaptcha param."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "type": "object",
      "properties": {
        "iosReceipt": {
          "description": "Receipt of successful app token validation with APNS.",
          "type": "string"
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha solution."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        }
      },
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "description": "Request for Identitytoolkit-SendVerificationCode"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        },
        "temporaryProof": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber"
    },
    "IdpConfig": {
      "type": "object",
      "properties": {
        "secret": {
          "description": "OAuth2 client secret.",
          "type": "string"
        },
        "whitelistedAudiences": {
          "items": {
            "type": "string"
          },
          "description": "Whitelisted client IDs for audience check.",
          "type": "array"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "experimentPercent": {
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "type": "integer",
          "format": "int32"
        },
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        }
      },
      "id": "IdpConfig",
      "description": "Template for a single idp configuration."
    },
    "SetAccountInfoResponse": {
      "type": "object",
      "properties": {
        "passwordHash": {
          "description": "The user's hashed password.",
          "format": "byte",
          "type": "string"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The user's profiles at the associated IdPs.",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              }
            }
          }
        },
        "emailVerified": {
          "description": "If email has been verified.",
          "type": "boolean"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "default": "identitytoolkit#SetAccountInfoResponse",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "id": "SetAccountInfoResponse",
      "description": "Respone of setting the account information."
    },
    "SignupNewUserResponse": {
      "id": "SignupNewUserResponse",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "default": "identitytoolkit#SignupNewUserResponse"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "localId": {
          "description": "The RP local ID of the user.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        }
      }
    },
    "EmailTemplate": {
      "type": "object",
      "properties": {
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        },
        "body": {
          "type": "string",
          "description": "Email body."
        },
        "format": {
          "description": "Email body format.",
          "type": "string"
        },
        "fromDisplayName": {
          "description": "From display name.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        },
        "from": {
          "description": "From address of the email.",
          "type": "string"
        }
      },
      "id": "EmailTemplate",
      "description": "Template for an email template."
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token or STS id token of the authenticated user."
        }
      },
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "description": "Request to delete account."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "type": "object",
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "description": "Response for Identitytoolkit-SendVerificationCode"
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "description": "Request to get the IDP authentication URL.",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "oauthConsumerKey": {
          "type": "string",
          "description": "The developer's consumer key for OpenId OAuth Extension"
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "identifier": {
          "description": "The email or federated ID of the user.",
          "type": "string"
        },
        "oauthScope": {
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant",
          "type": "string"
        },
        "otaApp": {
          "description": "The native app package for OTA installation.",
          "type": "string"
        },
        "hostedDomain": {
          "type": "string",
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts."
        },
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "authFlowType": {
          "type": "string",
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider."
        },
        "customParameter": {
          "additionalProperties": {
            "description": "The customized query parameter.",
            "type": "string"
          },
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token.",
          "type": "object"
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        }
      }
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "type": "object",
      "properties": {
        "newPassword": {
          "description": "The new password inputted by the user.",
          "type": "string"
        },
        "oldPassword": {
          "description": "The old password inputted by the user.",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "description": "Request to reset the password."
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "description": "Respone of getting public keys.",
      "additionalProperties": {
        "type": "string"
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "description": "Request to sign out user.",
      "type": "object",
      "properties": {
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "type": "object",
      "properties": {
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "password": {
          "description": "The password inputed by the user.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string",
          "format": "uint64"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "pendingIdToken": {
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "description": "Request to verify the password."
    },
    "VerifyPasswordResponse": {
      "type": "object",
      "properties": {
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "kind": {
          "default": "identitytoolkit#VerifyPasswordResponse",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\".",
          "type": "string"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "registered": {
          "description": "Whether the email is registered.",
          "type": "boolean"
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "oauthExpireIn": {
          "format": "int32",
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token."
        }
      },
      "id": "VerifyPasswordResponse",
      "description": "Request of verifying the password."
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "description": "Request to download user account in batch.",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "maxResults": {
          "type": "integer",
          "format": "uint32",
          "description": "The max number of results to return in the response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "description": "Response of setting the project configuration.",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "description": "Request to get the account information.",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "localId": {
          "type": "array",
          "description": "The list of local ID's of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "phoneNumber": {
          "description": "Privileged caller can query users by specified phone number.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "email": {
          "items": {
            "type": "string"
          },
          "description": "The list of emails of the users to inquiry.",
          "type": "array"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        }
      }
    },
    "GetAccountInfoResponse": {
      "id": "GetAccountInfoResponse",
      "description": "Response of getting account information.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "identitytoolkit#GetAccountInfoResponse",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\"."
        },
        "users": {
          "description": "The info of the users.",
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array"
        }
      }
    },
    "ResetPasswordResponse": {
      "id": "ResetPasswordResponse",
      "description": "Response of resetting the password.",
      "type": "object",
      "properties": {
        "newEmail": {
          "type": "string",
          "description": "If the out-of-band code is for email recovery, the user's new email."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#ResetPasswordResponse",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\"."
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "description": "Request to verify the IDP assertion.",
      "type": "object",
      "properties": {
        "returnIdpCredential": {
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked.",
          "type": "boolean"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "autoCreate": {
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist.",
          "type": "boolean"
        },
        "requestUri": {
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP.",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "returnRefreshToken": {
          "description": "Whether to return refresh tokens.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "type": "string",
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "type": "object",
      "properties": {
        "refreshToken": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "verificationProofExpiresIn": {
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "localId": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        }
      }
    },
    "VerifyAssertionResponse": {
      "type": "object",
      "properties": {
        "appScheme": {
          "description": "The custom scheme used by mobile app.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Client error code.",
          "type": "string"
        },
        "needConfirmation": {
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation.",
          "type": "boolean"
        },
        "oauthExpireIn": {
          "type": "integer",
          "format": "int32",
          "description": "The lifetime in seconds of the OAuth2 access token."
        },
        "timeZone": {
          "description": "The timezone of the user.",
          "type": "string"
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "appInstallationUrl": {
          "type": "string",
          "description": "URL for OTA app installation."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "idToken": {
          "description": "The ID token.",
          "type": "string"
        },
        "oauthScope": {
          "description": "The scope for the OpenID OAuth extension.",
          "type": "string"
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "screenName": {
          "type": "string",
          "description": "The screen_name of a Twitter user or the login name at Github."
        },
        "dateOfBirth": {
          "description": "The birth date of the IdP account.",
          "type": "string"
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth2 authorization code.",
          "type": "string"
        },
        "originalEmail": {
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the user.",
          "type": "string"
        },
        "rawUserInfo": {
          "description": "Raw IDP-returned user info.",
          "type": "string"
        },
        "verifiedProvider": {
          "items": {
            "type": "string"
          },
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "type": "array"
        },
        "emailVerified": {
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email.",
          "type": "boolean"
        },
        "oauthIdToken": {
          "description": "The OIDC id token.",
          "type": "string"
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "photoUrl": {
          "description": "The URI of the public accessible profiel picture.",
          "type": "string"
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned.",
          "type": "string"
        },
        "emailRecycled": {
          "description": "It's true if the email is recycled.",
          "type": "boolean"
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth1 access token secret."
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "default": "identitytoolkit#VerifyAssertionResponse",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "firstName": {
          "description": "The first name of the user.",
          "type": "string"
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "nickName": {
          "description": "The nick name of the user.",
          "type": "string"
        }
      },
      "id": "VerifyAssertionResponse",
      "description": "Response of verifying the IDP assertion."
    }
  },
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "resources": {
    "relyingparty": {
      "methods": {
        "downloadAccount": {
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "path": "downloadAccount",
          "description": "Batch download user accounts.",
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          }
        },
        "verifyAssertion": {
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "path": "verifyAssertion",
          "description": "Verifies the assertion returned by the IdP.",
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          }
        },
        "getRecaptchaParam": {
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "path": "getRecaptchaParam",
          "description": "Get recaptcha secure param.",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET"
        },
        "signupNewUser": {
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "path": "signupNewUser",
          "description": "Signup new user.",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          }
        },
        "signOutUser": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.signOutUser",
          "path": "signOutUser",
          "description": "Sign out user.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setAccountInfo": {
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "path": "setAccountInfo",
          "description": "Set account info for a user.",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          }
        },
        "getPublicKeys": {
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "path": "publicKeys",
          "description": "Get token signing public key.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET"
        },
        "getOobConfirmationCode": {
          "request": {
            "$ref": "Relyingparty"
          },
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "path": "getOobConfirmationCode",
          "description": "Get a code for user action confirmation.",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "verifyCustomToken": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "path": "verifyCustomToken",
          "description": "Verifies the developer asserted ID token.",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "verifyPassword": {
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "path": "verifyPassword",
          "description": "Verifies the user entered password.",
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          }
        },
        "verifyPhoneNumber": {
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "path": "verifyPhoneNumber",
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          }
        },
        "sendVerificationCode": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "path": "sendVerificationCode",
          "description": "Send SMS verification code.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "emailLinkSignin": {
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "path": "emailLinkSignin",
          "description": "Reset password for a user.",
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          }
        },
        "getProjectConfig": {
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "path": "getProjectConfig",
          "description": "Get project configuration.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectNumber": {
              "description": "GCP project number of the request.",
              "location": "query",
              "type": "string"
            },
            "delegatedProjectNumber": {
              "location": "query",
              "description": "Delegated GCP project number of the request.",
              "type": "string"
            }
          }
        },
        "resetPassword": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "id": "identitytoolkit.relyingparty.resetPassword",
          "path": "resetPassword",
          "description": "Reset password for a user.",
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "deleteAccount": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "path": "deleteAccount",
          "description": "Delete user account.",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "getAccountInfo": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "path": "getAccountInfo",
          "description": "Returns the account info.",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "setProjectConfig": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "path": "setProjectConfig",
          "description": "Set project configuration.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "createAuthUri": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "path": "createAuthUri",
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "uploadAccount": {
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "path": "uploadAccount",
          "description": "Batch upload existing user accounts.",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          }
        }
      }
    }
  },
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "revision": "20180723",
  "canonicalName": "Identity Toolkit",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "version": "v3"
}