{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "accounts": {
      "methods": {
        "signUp": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
          },
          "path": "v1/accounts:signUp",
          "flatPath": "v1/accounts:signUp",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
          },
          "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.signUp"
        },
        "signInWithGameCenter": {
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse"
          },
          "description": "Signs in or signs up a user with iOS Game Center credentials. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. The bundle ID is required in the request header as `x-ios-bundle-identifier`. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project. Apple has [deprecated the `playerID` field](https://developer.apple.com/documentation/gamekit/gkplayer/1521127-playerid/). The Apple platform Firebase SDK will use `gamePlayerID` and `teamPlayerID` from version 10.5.0 and onwards. Upgrading to SDK version 10.5.0 or later updates existing integrations that use `playerID` to instead use `gamePlayerID` and `teamPlayerID`. When making calls to `signInWithGameCenter`, you must include `playerID` along with the new fields `gamePlayerID` and `teamPlayerID` to successfully identify all existing users. Upgrading existing Game Center sign in integrations to SDK version 10.5.0 or later is irreversible.",
          "id": "identitytoolkit.accounts.signInWithGameCenter",
          "path": "v1/accounts:signInWithGameCenter",
          "flatPath": "v1/accounts:signInWithGameCenter",
          "httpMethod": "POST"
        },
        "delete": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
          },
          "description": "Deletes a user's account.",
          "id": "identitytoolkit.accounts.delete",
          "path": "v1/accounts:delete",
          "flatPath": "v1/accounts:delete",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "sendVerificationCode": {
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse"
          },
          "description": "Sends a SMS verification code for phone number sign-in. To localize the text of the SMS sent to the user, set the HTTP header `X-Firebase-Locale` to the language code that corresponds with the user's locale. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.sendVerificationCode",
          "path": "v1/accounts:sendVerificationCode",
          "flatPath": "v1/accounts:sendVerificationCode",
          "httpMethod": "POST"
        },
        "signInWithCustomToken": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest"
          },
          "path": "v1/accounts:signInWithCustomToken",
          "flatPath": "v1/accounts:signInWithCustomToken",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse"
          },
          "description": "Signs in or signs up a user by exchanging a custom Auth token. Upon a successful sign-in or sign-up, a new Identity Platform ID token and refresh token are issued for the user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.signInWithCustomToken"
        },
        "signInWithPassword": {
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse"
          },
          "description": "Signs in a user with email and password. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.signInWithPassword",
          "path": "v1/accounts:signInWithPassword",
          "flatPath": "v1/accounts:signInWithPassword",
          "httpMethod": "POST"
        },
        "lookup": {
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
          },
          "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
          "id": "identitytoolkit.accounts.lookup",
          "path": "v1/accounts:lookup",
          "flatPath": "v1/accounts:lookup",
          "httpMethod": "POST"
        },
        "update": {
          "id": "identitytoolkit.accounts.update",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
          },
          "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
          "httpMethod": "POST",
          "path": "v1/accounts:update",
          "flatPath": "v1/accounts:update",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "createAuthUri": {
          "path": "v1/accounts:createAuthUri",
          "flatPath": "v1/accounts:createAuthUri",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse"
          },
          "description": "If an email identifier is specified, checks and returns if any user account is registered with the email. If there is a registered account, fetches all providers associated with the account's email. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, this method returns an empty list. If the provider ID of an Identity Provider (IdP) is specified, creates an authorization URI for the IdP. The user can be directed to this URI to sign in with the IdP. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.createAuthUri",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest"
          }
        },
        "verifyIosClient": {
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse"
          },
          "description": "Verifies an iOS client is a real iOS device. If the request is valid, a receipt will be sent in the response and a secret will be sent via Apple Push Notification Service. The client should send both of them back to certain Identity Platform APIs in a later call (for example, /accounts:sendVerificationCode), in order to verify the client. The bundle ID is required in the request header as `x-ios-bundle-identifier`. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.verifyIosClient",
          "path": "v1/accounts:verifyIosClient",
          "flatPath": "v1/accounts:verifyIosClient",
          "httpMethod": "POST"
        },
        "signInWithEmailLink": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse"
          },
          "description": "Signs in or signs up a user with a out-of-band code from an email link. If a user does not exist with the given email address, a user record will be created. If the sign-in succeeds, an Identity Platform ID and refresh token are issued for the authenticated user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "id": "identitytoolkit.accounts.signInWithEmailLink",
          "path": "v1/accounts:signInWithEmailLink",
          "flatPath": "v1/accounts:signInWithEmailLink",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "sendOobCode": {
          "httpMethod": "POST",
          "path": "v1/accounts:sendOobCode",
          "flatPath": "v1/accounts:sendOobCode",
          "id": "identitytoolkit.accounts.sendOobCode",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
          },
          "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
          },
          "parameters": {}
        },
        "signInWithIdp": {
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse"
          },
          "description": "Signs in or signs up a user using credentials from an Identity Provider (IdP). This is done by manually providing an IdP credential, or by providing the authorization response obtained via the authorization request from CreateAuthUri. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. A new Identity Platform user account will be created if the user has not previously signed in to the IdP with the same account. In addition, when the \"One account per email address\" setting is enabled, there should not be an existing Identity Platform user account with the same email address for a new user account to be created. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.signInWithIdp",
          "path": "v1/accounts:signInWithIdp",
          "flatPath": "v1/accounts:signInWithIdp",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "resetPassword": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest"
          },
          "path": "v1/accounts:resetPassword",
          "flatPath": "v1/accounts:resetPassword",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse"
          },
          "description": "Resets the password of an account either using an out-of-band code generated by sendOobCode or by specifying the email and password of the account to be modified. Can also check the purpose of an out-of-band code without consuming it.",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.resetPassword"
        },
        "issueSamlResponse": {
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.accounts.issueSamlResponse",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse"
          },
          "description": "Experimental",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1/accounts:issueSamlResponse",
          "flatPath": "v1/accounts:issueSamlResponse"
        },
        "signInWithPhoneNumber": {
          "path": "v1/accounts:signInWithPhoneNumber",
          "flatPath": "v1/accounts:signInWithPhoneNumber",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse"
          },
          "description": "Completes a phone number authentication attempt. If a user already exists with the given phone number, an ID token is minted for that user. Otherwise, a new user is created and associated with the phone number. This method may also be used to link a phone number to an existing user. To localize the text of the SMS sent to the user, set the HTTP header `X-Firebase-Locale` to the language code that corresponds with the user's locale. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.signInWithPhoneNumber",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest"
          }
        }
      }
    },
    "v1": {
      "methods": {
        "getPublicKeys": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "Retrieves public keys of the legacy Identity Toolkit token signer to enable third parties to verify the legacy ID token. For now the X509 pem cert is the only format supported.",
          "parameterOrder": [],
          "id": "identitytoolkit.getPublicKeys",
          "path": "v1/publicKeys",
          "flatPath": "v1/publicKeys",
          "httpMethod": "GET"
        },
        "getRecaptchaParams": {
          "path": "v1/recaptchaParams",
          "flatPath": "v1/recaptchaParams",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse"
          },
          "description": "Gets parameters needed for generating a reCAPTCHA challenge.",
          "id": "identitytoolkit.getRecaptchaParams",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {}
        },
        "getProjects": {
          "httpMethod": "GET",
          "path": "v1/projects",
          "flatPath": "v1/projects",
          "id": "identitytoolkit.getProjects",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse"
          },
          "description": "Gets a project's public Identity Toolkit configuration. (Legacy) This method also supports authenticated calls from a developer to retrieve non-public configuration.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "clientId": {
              "type": "string",
              "description": "The RP OAuth client ID. If set, a check will be performed to ensure that the OAuth client is valid for the retrieved project and the request rejected with a client error if not valid.",
              "location": "query"
            },
            "sha1Cert": {
              "type": "string",
              "description": "SHA-1 Android application cert hash. If set, a check will be performed to ensure that the cert hash is valid for the retrieved project and android_package_name.",
              "location": "query"
            },
            "projectNumber": {
              "format": "int64",
              "type": "string",
              "description": "Project number of the configuration to retrieve. This field is deprecated and should not be used by new integrations.",
              "location": "query"
            },
            "iosBundleId": {
              "description": "iOS bundle id to check against the real ios bundle id. If this field is provided, the action will throw an error if this does not match the real iOS bundle id.",
              "location": "query",
              "type": "string"
            },
            "androidPackageName": {
              "description": "Android package name to check against the real android package name. If this field is provided, and sha1_cert_hash is not provided, the action will throw an error if this does not match the real android package name.",
              "location": "query",
              "type": "string"
            },
            "returnDynamicLink": {
              "type": "boolean",
              "description": "Whether dynamic link should be returned.",
              "location": "query"
            },
            "delegatedProjectNumber": {
              "format": "int64",
              "type": "string",
              "description": "Project Number of the delegated project request. This field should only be used as part of the Firebase V1 migration.",
              "location": "query"
            },
            "firebaseAppId": {
              "type": "string",
              "description": "The Firebase app ID, for applications that use Firebase. This can be found in the Firebase console for your project. If set, a check will be performed to ensure that the app ID is valid for the retrieved project. If not valid, the request will be rejected with a client error.",
              "location": "query"
            }
          }
        },
        "getSessionCookiePublicKeys": {
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse"
          },
          "description": "Retrieves the set of public keys of the session cookie JSON Web Token (JWT) signer that can be used to validate the session cookie created through createSessionCookie.",
          "id": "identitytoolkit.getSessionCookiePublicKeys",
          "path": "v1/sessionCookiePublicKeys",
          "flatPath": "v1/sessionCookiePublicKeys",
          "httpMethod": "GET"
        }
      }
    },
    "projects": {
      "resources": {
        "accounts": {
          "methods": {
            "lookup": {
              "httpMethod": "POST",
              "path": "v1/projects/{+targetProjectId}/accounts:lookup",
              "flatPath": "v1/projects/{projectsId}/accounts:lookup",
              "id": "identitytoolkit.projects.accounts.lookup",
              "parameterOrder": [
                "targetProjectId"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
              },
              "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
              },
              "parameters": {
                "targetProjectId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "targetProjectId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
              },
              "path": "v1/projects/{+targetProjectId}/accounts:update",
              "flatPath": "v1/projects/{projectsId}/accounts:update",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
              },
              "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
              "parameterOrder": [
                "targetProjectId"
              ],
              "id": "identitytoolkit.projects.accounts.update"
            },
            "batchCreate": {
              "parameterOrder": [
                "targetProjectId"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountResponse"
              },
              "description": "Uploads multiple accounts into the Google Cloud project. If there is a problem uploading one or more of the accounts, the rest will be uploaded, and a list of the errors will be returned. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
              "id": "identitytoolkit.projects.accounts.batchCreate",
              "path": "v1/projects/{+targetProjectId}/accounts:batchCreate",
              "flatPath": "v1/projects/{projectsId}/accounts:batchCreate",
              "httpMethod": "POST",
              "parameters": {
                "targetProjectId": {
                  "type": "string",
                  "description": "The Project ID of the Identity Platform project which the account belongs to.",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "batchGet": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "nextPageToken": {
                  "description": "The pagination token from the response of a previous request.",
                  "location": "query",
                  "type": "string"
                },
                "delegatedProjectNumber": {
                  "format": "int64",
                  "location": "query",
                  "deprecated": true,
                  "type": "string"
                },
                "maxResults": {
                  "description": "The maximum number of results to return. Must be at least 1 and no greater than 1000. By default, it is 20.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "targetProjectId": {
                  "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that the accounts belong to.",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path"
                },
                "tenantId": {
                  "description": "The ID of the Identity Platform tenant the accounts belongs to. If not specified, accounts on the Identity Platform project are returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/projects/{+targetProjectId}/accounts:batchGet",
              "flatPath": "v1/projects/{projectsId}/accounts:batchGet",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse"
              },
              "description": "Download account information for all accounts on the project in a paginated manner. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).. Furthermore, additional permissions are needed to get password hash, password salt, and password version from accounts; otherwise these fields are redacted.",
              "parameterOrder": [
                "targetProjectId"
              ],
              "id": "identitytoolkit.projects.accounts.batchGet"
            },
            "query": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
              },
              "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
              "parameterOrder": [
                "targetProjectId"
              ],
              "id": "identitytoolkit.projects.accounts.query",
              "path": "v1/projects/{+targetProjectId}/accounts:query",
              "flatPath": "v1/projects/{projectsId}/accounts:query",
              "httpMethod": "POST",
              "parameters": {
                "targetProjectId": {
                  "type": "string",
                  "description": "The ID of the project to which the result is scoped.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "targetProjectId": {
                  "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
              },
              "path": "v1/projects/{+targetProjectId}/accounts:delete",
              "flatPath": "v1/projects/{projectsId}/accounts:delete",
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
              },
              "description": "Deletes a user's account.",
              "id": "identitytoolkit.projects.accounts.delete"
            },
            "batchDelete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest"
              },
              "parameters": {
                "targetProjectId": {
                  "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that accounts belong to.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "httpMethod": "POST",
              "path": "v1/projects/{+targetProjectId}/accounts:batchDelete",
              "flatPath": "v1/projects/{projectsId}/accounts:batchDelete",
              "id": "identitytoolkit.projects.accounts.batchDelete",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
              },
              "description": "Batch deletes multiple accounts. For accounts that fail to be deleted, error info is contained in the response. The method ignores accounts that do not exist or are duplicated in the request. This method requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
              "parameterOrder": [
                "targetProjectId"
              ]
            },
            "sendOobCode": {
              "httpMethod": "POST",
              "path": "v1/projects/{+targetProjectId}/accounts:sendOobCode",
              "flatPath": "v1/projects/{projectsId}/accounts:sendOobCode",
              "id": "identitytoolkit.projects.accounts.sendOobCode",
              "parameterOrder": [
                "targetProjectId"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
              },
              "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
              },
              "parameters": {
                "targetProjectId": {
                  "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              }
            }
          }
        },
        "tenants": {
          "resources": {
            "accounts": {
              "methods": {
                "lookup": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
                  },
                  "parameters": {
                    "targetProjectId": {
                      "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                      "required": true,
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "location": "path"
                    },
                    "tenantId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:lookup",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:lookup",
                  "id": "identitytoolkit.projects.tenants.accounts.lookup",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
                  },
                  "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria."
                },
                "update": {
                  "httpMethod": "POST",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:update",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:update",
                  "id": "identitytoolkit.projects.tenants.accounts.update",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
                  },
                  "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
                  },
                  "parameters": {
                    "targetProjectId": {
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
                      "required": true,
                      "type": "string"
                    },
                    "tenantId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field.",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "batchCreate": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountResponse"
                  },
                  "description": "Uploads multiple accounts into the Google Cloud project. If there is a problem uploading one or more of the accounts, the rest will be uploaded, and a list of the errors will be returned. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "id": "identitytoolkit.projects.tenants.accounts.batchCreate",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchCreate",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchCreate",
                  "httpMethod": "POST",
                  "parameters": {
                    "targetProjectId": {
                      "description": "The Project ID of the Identity Platform project which the account belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^[^/]+$"
                    },
                    "tenantId": {
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the Identity Platform tenant the account belongs to.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "batchGet": {
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse"
                  },
                  "description": "Download account information for all accounts on the project in a paginated manner. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).. Furthermore, additional permissions are needed to get password hash, password salt, and password version from accounts; otherwise these fields are redacted.",
                  "id": "identitytoolkit.projects.tenants.accounts.batchGet",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchGet",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchGet",
                  "httpMethod": "GET",
                  "parameters": {
                    "tenantId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "description": "The ID of the Identity Platform tenant the accounts belongs to. If not specified, accounts on the Identity Platform project are returned.",
                      "required": true,
                      "type": "string"
                    },
                    "targetProjectId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that the accounts belong to.",
                      "required": true,
                      "type": "string"
                    },
                    "maxResults": {
                      "format": "int32",
                      "description": "The maximum number of results to return. Must be at least 1 and no greater than 1000. By default, it is 20.",
                      "location": "query",
                      "type": "integer"
                    },
                    "delegatedProjectNumber": {
                      "format": "int64",
                      "location": "query",
                      "deprecated": true,
                      "type": "string"
                    },
                    "nextPageToken": {
                      "description": "The pagination token from the response of a previous request.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "query": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "targetProjectId": {
                      "type": "string",
                      "description": "The ID of the project to which the result is scoped.",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "location": "path"
                    },
                    "tenantId": {
                      "type": "string",
                      "description": "The ID of the tenant to which the result is scoped.",
                      "required": true,
                      "location": "path",
                      "pattern": "^[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
                  },
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:query",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:query",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
                  },
                  "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "id": "identitytoolkit.projects.tenants.accounts.query"
                },
                "delete": {
                  "id": "identitytoolkit.projects.tenants.accounts.delete",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
                  },
                  "description": "Deletes a user's account.",
                  "httpMethod": "POST",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:delete",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:delete",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
                  },
                  "parameters": {
                    "targetProjectId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
                      "required": true,
                      "type": "string"
                    },
                    "tenantId": {
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "batchDelete": {
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest"
                  },
                  "parameters": {
                    "targetProjectId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that accounts belong to.",
                      "required": true
                    },
                    "tenantId": {
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "description": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to a default Identity Platform project, the field is not needed.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.accounts.batchDelete",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
                  },
                  "description": "Batch deletes multiple accounts. For accounts that fail to be deleted, error info is contained in the response. The method ignores accounts that do not exist or are duplicated in the request. This method requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
                  "httpMethod": "POST",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchDelete",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchDelete"
                },
                "sendOobCode": {
                  "httpMethod": "POST",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:sendOobCode",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:sendOobCode",
                  "id": "identitytoolkit.projects.tenants.accounts.sendOobCode",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
                  },
                  "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
                  },
                  "parameters": {
                    "targetProjectId": {
                      "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^[^/]+$"
                    },
                    "tenantId": {
                      "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^[^/]+$"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "accounts": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "targetProjectId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token.",
                  "required": true
                },
                "tenantId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project.",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
              },
              "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts",
              "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
              },
              "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
              "parameterOrder": [
                "targetProjectId",
                "tenantId"
              ],
              "id": "identitytoolkit.projects.tenants.accounts"
            },
            "createSessionCookie": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "targetProjectId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the project that the account belongs to.",
                  "required": true
                },
                "tenantId": {
                  "type": "string",
                  "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest"
              },
              "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}:createSessionCookie",
              "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}:createSessionCookie",
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId",
                "tenantId"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse"
              },
              "description": "Creates a session cookie for the given Identity Platform ID token. The session cookie is used by the client to preserve the user's login state.",
              "id": "identitytoolkit.projects.tenants.createSessionCookie"
            }
          }
        }
      },
      "methods": {
        "queryAccounts": {
          "httpMethod": "POST",
          "path": "v1/projects/{+targetProjectId}:queryAccounts",
          "flatPath": "v1/projects/{projectsId}:queryAccounts",
          "id": "identitytoolkit.projects.queryAccounts",
          "parameterOrder": [
            "targetProjectId"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
          },
          "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
          },
          "parameters": {
            "targetProjectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "The ID of the project to which the result is scoped.",
              "required": true,
              "type": "string"
            }
          }
        },
        "createSessionCookie": {
          "id": "identitytoolkit.projects.createSessionCookie",
          "parameterOrder": [
            "targetProjectId"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse"
          },
          "description": "Creates a session cookie for the given Identity Platform ID token. The session cookie is used by the client to preserve the user's login state.",
          "httpMethod": "POST",
          "path": "v1/projects/{+targetProjectId}:createSessionCookie",
          "flatPath": "v1/projects/{projectsId}:createSessionCookie",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest"
          },
          "parameters": {
            "targetProjectId": {
              "type": "string",
              "description": "The ID of the project that the account belongs to.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "accounts": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "targetProjectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token.",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
          },
          "path": "v1/projects/{+targetProjectId}/accounts",
          "flatPath": "v1/projects/{projectsId}/accounts",
          "httpMethod": "POST",
          "parameterOrder": [
            "targetProjectId"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
          },
          "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "id": "identitytoolkit.projects.accounts"
        }
      }
    }
  },
  "revision": "20260511",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "canonicalName": "Identity Toolkit",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest",
      "type": "object",
      "properties": {
        "oobCode": {
          "description": "Required. The out-of-band code from the email link.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the email address to the user represented by this ID token and enable sign-in with email link on the account for the future."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Required. The email address the sign-in link was sent to. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
        }
      },
      "description": "Request message for SignInWithEmailLink"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest",
      "description": "Request message for SignInWithPassword.",
      "type": "object",
      "properties": {
        "captchaResponse": {
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for risk assessment. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string"
        },
        "password": {
          "description": "Required. The password the user provides to sign in to the account.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform instance in the project.",
          "type": "string"
        },
        "email": {
          "description": "Required. The email the user is signing in with. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "deprecated": true
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "idToken": {
          "deprecated": true,
          "type": "string"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "deprecated": true
        },
        "captchaChallenge": {
          "type": "string",
          "deprecated": true
        },
        "clientType": {
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        },
        "recaptchaVersion": {
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "pendingIdToken": {
          "type": "string",
          "deprecated": true
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest": {
      "type": "object",
      "properties": {
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the phone number to the user represented by this ID token if the phone number is not in use, or will reauthenticate the user if the phone number is already linked to the user.",
          "type": "string"
        },
        "operation": {
          "deprecated": true,
          "enum": [
            "VERIFY_OP_UNSPECIFIED",
            "SIGN_UP_OR_IN",
            "REAUTH",
            "UPDATE",
            "LINK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Operation is not specified.",
            "Verify operation is to sign up/sign in.",
            "Verify operation is to reauth.",
            "Verify operation is to update.",
            "Verify operation is to link."
          ]
        },
        "temporaryProof": {
          "type": "string",
          "description": "A proof of the phone number verification, provided from a previous signInWithPhoneNumber request. If this is passed, the caller must also pass in the phone_number field the phone number that was verified in the previous request."
        },
        "sessionInfo": {
          "description": "Encrypted session information from the response of sendVerificationCode. In the case of authenticating with an SMS code this must be specified, but in the case of using a temporary proof it can be unspecified.",
          "type": "string"
        },
        "verificationProof": {
          "type": "string",
          "description": "Do not use."
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The user's phone number to sign in with. This is necessary in the case of uing a temporary proof, in which case it must match the phone number that was authenticated in the request that generated the temporary proof. This field is ignored if a session info is passed."
        },
        "code": {
          "description": "User-entered verification code from an SMS sent to the user's phone.",
          "type": "string"
        }
      },
      "description": "Request message for SignInWithPhoneNumber.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse": {
      "type": "object",
      "properties": {
        "localId": {
          "description": "The id of the authenticated user. Present in the case of a successful authentication. In the case when the phone could be verified but the account operation could not be performed, a temporary proof will be returned instead.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of the authenticated user. Always present in the response."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the authenticated user was created by this request."
        },
        "verificationProof": {
          "description": "Do not use.",
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "description": "The number of seconds until the temporary proof expires.",
          "format": "int64"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "description": "Do not use.",
          "format": "int64"
        },
        "idToken": {
          "description": "Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "temporaryProof": {
          "description": "A proof of the phone number verification, provided if a phone authentication is successful but the user operation fails. This happens when the request tries to link a phone number to a user with an ID token or reauthenticate with an ID token but the phone number is linked to a different user.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the ID token expires.",
          "format": "int64"
        }
      },
      "description": "Response message for SignInWithPhoneNumber.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse"
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeRequest": {
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "An ID token for the account. It is required for VERIFY_AND_CHANGE_EMAIL and VERIFY_EMAIL requests unless return_oob_link is set to true.",
          "type": "string"
        },
        "linkDomain": {
          "type": "string",
          "description": "Optional. In order to ensure that the url used can be easily opened in iOS or Android, we create a Hosting link '/__/auth/links'. This optional field contains the domain to use when constructing a Hosting link. If not set, '.firebaseapp.com' domain will be used."
        },
        "clientType": {
          "description": "The client type: web, Android or iOS. Required when reCAPTCHA Enterprise protection is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        },
        "iOSBundleId": {
          "description": "If an associated iOS app can handle the OOB code, the iOS bundle id of this app. This will allow the correct app to open if it is already installed.",
          "type": "string"
        },
        "continueUrl": {
          "type": "string",
          "description": "The Url to continue after user clicks the link sent in email. This is the url that will allow the web widget to handle the OOB code."
        },
        "androidPackageName": {
          "description": "If an associated android app can handle the OOB code, the Android package name of the android app that will handle the callback when this OOB code is used. This will allow the correct app to open if it is already installed, or allow Google Play Store to open to the correct app if it is not yet installed.",
          "type": "string"
        },
        "requestType": {
          "description": "Required. The type of out-of-band (OOB) code to send. Depending on this value, other fields in this request will be required and/or have different meanings. There are 4 different OOB codes that can be sent: * PASSWORD_RESET * EMAIL_SIGNIN * VERIFY_EMAIL * VERIFY_AND_CHANGE_EMAIL",
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ]
        },
        "email": {
          "description": "The account's email address to send the OOB code to, and generally the email address of the account that needs to be updated. Required for PASSWORD_RESET, EMAIL_SIGNIN, and VERIFY_EMAIL. Only required for VERIFY_AND_CHANGE_EMAIL requests when return_oob_link is set to true. In this case, it is the original email of the user.",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "The email address the account is being updated to. Required only for VERIFY_AND_CHANGE_EMAIL requests."
        },
        "dynamicLinkDomain": {
          "type": "string",
          "description": "In order to ensure that the url used can be easily opened up in iOS or android, we create a [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links). Most Identity Platform projects will only have one Dynamic Link domain enabled, and can leave this field blank. This field contains a specified Dynamic Link domain for projects that have multiple enabled."
        },
        "recaptchaVersion": {
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "When set to true, the OOB code link will be be sent as a Universal Link or an Android App Link and will be opened by the corresponding app if installed. If not set, or set to false, the OOB code will be sent to the web widget first and then on continue will redirect to the app if installed."
        },
        "captchaResp": {
          "description": "For a PASSWORD_RESET request, a reCaptcha response is required when the system detects possible abuse activity. In those cases, this is the response from the reCaptcha challenge used to verify the caller.",
          "type": "string"
        },
        "returnOobLink": {
          "description": "Whether the confirmation link containing the OOB code should be returned in the response (no email is sent). Used when a developer wants to construct the email template and send it on their own. By default this is false; to specify this field, and to set it to true, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)",
          "type": "boolean"
        },
        "iOSAppStoreId": {
          "description": "If an associated iOS app can handle the OOB code, the App Store id of this app. This will allow App Store to open to the correct app if the app is not yet installed.",
          "type": "string"
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "If an associated android app can handle the OOB code, whether or not to install the android app on the device where the link is opened if the app is not already installed."
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "If an associated android app can handle the OOB code, the minimum version of the app. If the version on the device is lower than this version then the user is taken to Google Play Store to upgrade the app."
        },
        "challenge": {
          "deprecated": true,
          "type": "string"
        },
        "userIp": {
          "description": "The IP address of the caller. Required only for PASSWORD_RESET requests.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant the account belongs to."
        },
        "targetProjectId": {
          "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        }
      },
      "description": "Request message for GetOobCode."
    },
    "GoogleCloudIdentitytoolkitV1SqlExpression": {
      "description": "Query conditions used to filter results.",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "A case insensitive string that the account's email should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied."
        },
        "phoneNumber": {
          "type": "string",
          "description": "A string that the account's phone number should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied."
        },
        "userId": {
          "type": "string",
          "description": "A string that the account's local ID should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression If more than one is specified, only the first (in that order) will be applied."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SqlExpression"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse",
      "description": "Response message for SignInWithEmailLink.",
      "type": "object",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        },
        "expiresIn": {
          "format": "int64",
          "description": "The number of seconds until the ID token expires.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "email": {
          "description": "The email the user signed in with. Always present in the response.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor check.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user. Always present in the response."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "type": "object",
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number.",
          "type": "string"
        }
      },
      "description": "Response message for SendVerificationCode.",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse"
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest": {
      "type": "object",
      "properties": {
        "safetyNetToken": {
          "type": "string",
          "description": "Android only. Safety Net has been deprecated. Use play_integrity_token instead."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        },
        "tenantId": {
          "description": "Tenant ID of the Identity Platform tenant the user is signing in to.",
          "type": "string"
        },
        "playIntegrityToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token (and safety_net_token). At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, , or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). A Play Integrity Token can be generated via the [PlayIntegrity API](https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce.",
          "type": "string"
        },
        "autoRetrievalInfo": {
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval.",
          "$ref": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo"
        },
        "captchaResponse": {
          "description": "Optional. The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled.",
          "type": "string"
        },
        "clientType": {
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "description": "Optional. The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ]
        },
        "recaptchaVersion": {
          "description": "Optional. The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "iosReceipt": {
          "description": "Receipt of successful iOS app token validation. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). This should come from the response of verifyIosClient. If present, the caller should also provide the `ios_secret`, as well as a bundle ID in the `x-ios-bundle-identifier` header, which must match the bundle ID from the verifyIosClient request.",
          "type": "string"
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app as a push notification. Should be passed with an `ios_receipt` as well as the `x-ios-bundle-identifier` header."
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha token for app verification. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). The recaptcha should be generated by calling getRecaptchaParams and the recaptcha token will be generated on user completion of the recaptcha challenge."
        }
      },
      "description": "Request message for SendVerificationCode. 'captcha_response' is required when reCAPTCHA enterprise is enabled, or otherwise at least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator.",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest"
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountResponse": {
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountResponse",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "error": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ErrorInfo"
          },
          "description": "Detailed error info for accounts that cannot be uploaded."
        }
      },
      "description": "Response message for UploadAccount."
    },
    "GoogleCloudIdentitytoolkitV1UserNotification": {
      "id": "GoogleCloudIdentitytoolkitV1UserNotification",
      "type": "object",
      "properties": {
        "notificationCode": {
          "type": "string",
          "enumDescriptions": [
            "No notification specified.",
            "Password missing lowercase character.",
            "Password missing uppercase character.",
            "Password missing numeric character.",
            "Password missing non alphanumeric character.",
            "Password less than minimum required length.",
            "Password greater than maximum required length."
          ],
          "description": "Warning notification enum. Can be used for localization.",
          "enum": [
            "NOTIFICATION_CODE_UNSPECIFIED",
            "MISSING_LOWERCASE_CHARACTER",
            "MISSING_UPPERCASE_CHARACTER",
            "MISSING_NUMERIC_CHARACTER",
            "MISSING_NON_ALPHANUMERIC_CHARACTER",
            "MINIMUM_PASSWORD_LENGTH",
            "MAXIMUM_PASSWORD_LENGTH"
          ]
        },
        "notificationMessage": {
          "type": "string",
          "description": "Warning notification string. Can be used as fallback."
        }
      },
      "description": "Warning notifications for the user."
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account.",
      "type": "object",
      "properties": {
        "emailInfo": {
          "description": "Contains information specific to email MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailInfo"
        },
        "enrolledAt": {
          "type": "string",
          "description": "Timestamp when the account enrolled this second factor.",
          "format": "google-datetime"
        },
        "unobfuscatedPhoneInfo": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unobfuscated phone_info."
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "ID of this MFA option."
        },
        "totpInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo",
          "description": "Contains information specific to TOTP MFA."
        },
        "phoneInfo": {
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for this mfa option e.g. \"corp cell phone\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "description": "Request message for VerifyIosClient",
      "type": "object",
      "properties": {
        "appToken": {
          "type": "string",
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service)."
        },
        "isSandbox": {
          "type": "boolean",
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest"
    },
    "GoogleCloudIdentitytoolkitV1EmailInfo": {
      "description": "Information about email MFA.",
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "Email address that a MFA verification should be sent to.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1EmailInfo"
    },
    "GoogleCloudIdentitytoolkitV1IdpConfig": {
      "type": "object",
      "properties": {
        "experimentPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Percent of users who will be prompted/redirected federated login for this IdP"
        },
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        },
        "whitelistedAudiences": {
          "description": "Whitelisted client IDs for audience check.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enabled": {
          "type": "boolean",
          "description": "True if allows the user to sign in with the provider."
        },
        "provider": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "MSLIVE",
            "GOOGLE",
            "FACEBOOK",
            "PAYPAL",
            "TWITTER",
            "YAHOO",
            "AOL",
            "GITHUB",
            "GOOGLE_PLAY_GAMES",
            "LINKEDIN",
            "IOS_GAME_CENTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Microsoft Live as identity provider.",
            "Google as identity provider.",
            "Facebook as identity provider.",
            "PayPal as identity provider.",
            "Twitter as identity provider.",
            "Yahoo as identity provider.",
            "AOL as identity provider.",
            "GitHub as identity provider.",
            "Google Play Games as identity provider.",
            "LinkedIn as identity provider.",
            "iOS Game Center as identity provider."
          ]
        },
        "secret": {
          "description": "OAuth2 client secret.",
          "type": "string"
        }
      },
      "description": "Config of an identity provider.",
      "id": "GoogleCloudIdentitytoolkitV1IdpConfig"
    },
    "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo": {
      "id": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo",
      "type": "object",
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      },
      "description": "The information required to auto-retrieve an SMS."
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountRequest": {
      "type": "object",
      "properties": {
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether to overwrite an existing account in Identity Platform with a matching `local_id` in the request. If true, the existing account will be overwritten. If false, an error will be returned."
        },
        "signerKey": {
          "format": "byte",
          "description": "The signer key used to hash the password. Required for the following hashing functions: * SCRYPT, * HMAC_MD5, * HMAC_SHA1, * HMAC_SHA256, * HMAC_SHA512",
          "type": "string"
        },
        "saltSeparator": {
          "description": "One or more bytes to be inserted between the salt and plain text password. For stronger security, this should be a single non-printable character.",
          "type": "string",
          "format": "byte"
        },
        "parallelization": {
          "format": "int32",
          "type": "integer",
          "description": "The parallelization cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
        },
        "passwordHashOrder": {
          "type": "string",
          "enumDescriptions": [
            "The order is not specified.",
            "The order is salt first, and then password.",
            "The order is password first, and then salt."
          ],
          "enum": [
            "UNSPECIFIED_ORDER",
            "SALT_AND_PASSWORD",
            "PASSWORD_AND_SALT"
          ]
        },
        "rounds": {
          "description": "The number of rounds used for hash calculation. Only required for the following hashing functions: * MD5 * SHA1 * SHA256 * SHA512 * PBKDF_SHA1 * PBKDF2_SHA256 * SCRYPT",
          "type": "integer",
          "format": "int32"
        },
        "hashAlgorithm": {
          "description": "Required. The hashing function used to hash the account passwords. Must be one of the following: * HMAC_SHA256 * HMAC_SHA1 * HMAC_MD5 * SCRYPT * PBKDF_SHA1 * MD5 * HMAC_SHA512 * SHA1 * BCRYPT * PBKDF2_SHA256 * SHA256 * SHA512 * STANDARD_SCRYPT * ARGON2",
          "type": "string"
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "description": "A list of accounts to upload. `local_id` is required for each user; everything else is optional."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "blockSize": {
          "format": "int32",
          "type": "integer",
          "description": "The block size parameter used by the STANDARD_SCRYPT hashing function. This parameter, along with parallelization and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
        },
        "memoryCost": {
          "type": "integer",
          "description": "Memory cost for hash calculation. Only required when the hashing function is SCRYPT.",
          "format": "int32"
        },
        "dkLen": {
          "type": "integer",
          "description": "The desired key length for the STANDARD_SCRYPT hashing function. Must be at least 1.",
          "format": "int32"
        },
        "argon2Parameters": {
          "description": "The parameters for Argon2 hashing algorithm.",
          "$ref": "GoogleCloudIdentitytoolkitV1Argon2Parameters"
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, the service will do the following list of checks before an account is uploaded: * Duplicate emails * Duplicate federated IDs * Federated ID provider validation If the duplication exists within the list of accounts to be uploaded, it will prevent the entire list from being uploaded. If the email or federated ID is a duplicate of a user already within the project/tenant, the account will not be uploaded, but the rest of the accounts will be unaffected. If false, these checks will be skipped."
        },
        "cpuMemCost": {
          "type": "integer",
          "description": "The CPU memory cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32"
        }
      },
      "description": "Request message for UploadAccount.",
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse": {
      "type": "object",
      "properties": {
        "receipt": {
          "type": "string",
          "description": "Receipt of successful app token validation."
        },
        "suggestedTimeout": {
          "format": "int64",
          "type": "string",
          "description": "Suggested time that the client should wait in seconds for delivery of the push notification."
        }
      },
      "description": "Response message for VerifyIosClient.",
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse"
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse": {
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse",
      "type": "object",
      "properties": {
        "authUri": {
          "type": "string",
[...]
