{
  "title": "Application Integration API",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "name": "integrations",
  "resources": {
    "callback": {
      "methods": {
        "generateToken": {
          "parameters": {
            "product": {
              "enum": [
                "UNSPECIFIED_PRODUCT",
                "IP",
                "APIGEE",
                "SECURITY"
              ],
              "description": "Which product sends the request",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "type": "string"
            },
            "code": {
              "description": "The auth code for the given request",
              "location": "query",
              "type": "string"
            },
            "gcpProjectId": {
              "description": "The gcp project id of the request",
              "location": "query",
              "type": "string"
            },
            "state": {
              "location": "query",
              "type": "string",
              "description": "The auth config id for the given request"
            },
            "redirectUri": {
              "description": "Redirect uri of the auth code request",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Receives the auth code and auth config id to combine that with the client id and secret to retrieve access tokens from the token endpoint. Returns either a success or error message when it's done.",
          "path": "v1/callback:generateToken",
          "response": {
            "$ref": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/callback:generateToken",
          "id": "integrations.callback.generateToken",
          "parameterOrder": []
        }
      }
    },
    "projects": {
      "methods": {
        "getClientmetadata": {
          "response": {
            "$ref": "GoogleCloudIntegrationsV1alphaGetClientMetadataResponse"
          },
          "path": "v1/{+parent}/clientmetadata",
          "description": "Gets the metadata info for the requested client",
          "parameters": {
            "parent": {
              "description": "Required. Required: The ID of the GCP Project to be provisioned.",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "id": "integrations.projects.getClientmetadata",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/projects/{projectsId}/clientmetadata",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "getClients": {
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients",
              "id": "integrations.projects.locations.getClients",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudIntegrationsV1alphaGetClientResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Gets the client configuration for the given project and location resource name",
              "path": "v1/{+parent}/clients"
            },
            "generateOpenApiSpec": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "integrations.projects.locations.generateOpenApiSpec",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generateOpenApiSpec",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Project and location from which the integrations should be fetched. Format: projects/{project}/location/{location}",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}:generateOpenApiSpec",
              "description": "Generate OpenAPI spec for the requested integrations and api triggers",
              "request": {
                "$ref": "GoogleCloudIntegrationsV1alphaGenerateOpenApiSpecRequest"
              },
              "response": {
                "$ref": "GoogleCloudIntegrationsV1alphaGenerateOpenApiSpecResponse"
              }
            }
          },
          "resources": {
            "templates": {
              "methods": {
                "search": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates:search",
                  "id": "integrations.projects.locations.templates.search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The client, which owns this collection of Templates.",
                      "required": true
                    },
                    "query": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The search query that will be passed to Vertex search service."
                    },
                    "enableNaturalLanguageQueryUnderstanding": {
                      "description": "Optional. Whether to enable natural language query understanding.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "Optional. The size of the response entries. If unspecified, defaults to 100. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. The token returned in the previous response.",
                      "location": "query",
                      "type": "string"
                    },
                    "readMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The mask which specifies fields that need to be returned in the template's response.",
                      "format": "google-fieldmask"
                    },
                    "orderBy": {
                      "description": "Optional. The results would be returned in the order you specified here.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Standard filter field to filter templates. client_id filter won't be supported and will restrict to templates belonging to the current client only. Return all templates of the current client if the filter is empty. Also supports operators like AND, OR, NOT For example, \"status=\\\"ACTIVE\\\"",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Search templates based on user query and filters. This api would query the templates and return a list of templates based on the user filter.",
                  "path": "v1/{+parent}/templates:search",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSearchTemplatesResponse"
                  }
                },
                "upload": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates:upload",
                  "id": "integrations.projects.locations.templates.upload",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaUploadTemplateResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaUploadTemplateRequest"
                  },
                  "description": "Uploads a template. The content can be a previously downloaded template. Performs the same function as CreateTemplate, but accepts input in a string format, which holds the complete representation of the Template content.",
                  "path": "v1/{+parent}/templates:upload",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The template to upload. Format: projects/{project}/locations/{location}",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "share": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "integrations.projects.locations.templates.share",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}:share",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name that is associated with the Template.",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:share",
                  "description": "Share a template with other clients. Only the template owner can share the templates with other projects. PERMISSION_DENIED would be thrown if the request is not from the owner.",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaShareTemplateRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "integrations.projects.locations.templates.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTemplate"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTemplate"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. Resource name of the template.",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. Field mask specifying the fields in the above template that have been modified and must be updated.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Updates the template by given id."
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "integrations.projects.locations.templates.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTemplate"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The template to retrieve. Format: projects/{project}/locations/{location}/templates/{template}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Get a template in the specified project."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "integrations.projects.locations.templates.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The client, which owns this collection of Templates.",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "description": "Optional. Standard filter field to filter templates. client_id filter won't be supported and will restrict to templates belonging to the current client only. Return all templates of the current client if the filter is empty. Also supports operators like AND, OR, NOT For example, \"status=\\\"ACTIVE\\\"",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The size of the response entries. If unspecified, defaults to 100. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The token returned in the previous response."
                    },
                    "readMask": {
                      "description": "Optional. The mask which specifies fields that need to be returned in the template's response.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. The results would be returned in the order you specified here.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/templates",
                  "description": "Lists all templates matching the filter.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListTemplatesResponse"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates",
                  "id": "integrations.projects.locations.templates.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTemplate"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTemplate"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new template",
                  "path": "v1/{+parent}/templates"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}",
                  "id": "integrations.projects.locations.templates.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a template",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "type": "string",
                      "description": "Required. The name that is associated with the Template.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "download": {
                  "description": "Downloads a template. Retrieves the `Template` and returns the response as a string.",
                  "path": "v1/{+name}:download",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The template to download. Format: projects/{project}/locations/{location}/template/{template_id}",
                      "required": true
                    },
                    "fileFormat": {
                      "enum": [
                        "FILE_FORMAT_UNSPECIFIED",
                        "JSON",
                        "YAML"
                      ],
                      "description": "Required. File format for download request.",
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified file format",
                        "JSON File Format",
                        "YAML File Format"
                      ],
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaDownloadTemplateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}:download",
                  "id": "integrations.projects.locations.templates.download",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "use": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.templates.use",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}:use",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:use",
                  "description": "Use the template to create integration. This api would keep track of usage_count and last_used_time. PERMISSION_DENIED would be thrown if template is not accessible by client.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name that is associated with the Template.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaUseTemplateResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaUseTemplateRequest"
                  }
                },
                "import": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaImportTemplateResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaImportTemplateRequest"
                  },
                  "path": "v1/{+name}:import",
                  "description": "Import the template to an existing integration. This api would keep track of usage_count and last_used_time. PERMISSION_DENIED would be thrown if template is not accessible by client.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name that is associated with the Template.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "integrations.projects.locations.templates.import",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}:import",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "unshare": {
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaUnshareTemplateRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name that is associated with the Template.",
                      "required": true
                    }
                  },
                  "description": "Unshare a template from given clients. Owner of the template can unshare template with clients. Shared client can only unshare the template from itself. PERMISSION_DENIED would be thrown if request is not from owner or for unsharing itself.",
                  "path": "v1/{+name}:unshare",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}:unshare",
                  "id": "integrations.projects.locations.templates.unshare",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "clients": {
              "methods": {
                "changeConfig": {
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaChangeCustomerConfigRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaChangeCustomerConfigResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Required: Format - projects/{project}/locations/{location}",
                      "required": true
                    }
                  },
                  "description": "Updates the client customer configuration for the given project and location resource name",
                  "path": "v1/{+parent}/clients:changeConfig",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:changeConfig",
                  "id": "integrations.projects.locations.clients.changeConfig",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "deprovision": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaDeprovisionClientRequest"
                  },
                  "path": "v1/{+parent}/clients:deprovision",
                  "description": "Perform the deprovisioning steps to disable a user GCP project to use IP and purge all related data in a wipeout-compliant way.",
                  "parameters": {
                    "parent": {
                      "description": "Required. Required: The ID of the GCP Project to be deprovisioned.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "integrations.projects.locations.clients.deprovision",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:deprovision",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "toggleHttp": {
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaToggleHttpRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/clients:toggleHttp",
                  "description": "Enable/Disable http call for provisioned client",
                  "httpMethod": "POST",
                  "id": "integrations.projects.locations.clients.toggleHttp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:toggleHttp",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "switch": {
                  "httpMethod": "POST",
                  "id": "integrations.projects.locations.clients.switch",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:switch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSwitchEncryptionRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/clients:switch",
                  "description": "Update client from GMEK to CMEK"
                },
                "provision": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:provision",
                  "id": "integrations.projects.locations.clients.provision",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaProvisionClientRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Perform the provisioning steps to enable a user GCP project to use IP. If GCP project already registered on IP end via Apigee Integration, provisioning will fail.",
                  "path": "v1/{+parent}/clients:provision"
                },
                "provisionClientPostProcessor": {
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                      "required": true
                    }
                  },
                  "description": "Perform post provisioning steps after client is provisioned.",
                  "path": "v1/{+parent}/clients:provisionClientPostProcessor",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:provisionClientPostProcessor",
                  "id": "integrations.projects.locations.clients.provisionClientPostProcessor",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "replace": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/clients:replace",
                  "description": "Update run-as service account for provisioned client",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaReplaceServiceAccountRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "integrations.projects.locations.clients.replace",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:replace"
                },
                "switchVariableMasking": {
                  "id": "integrations.projects.locations.clients.switchVariableMasking",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:switchVariableMasking",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSwitchVariableMaskingRequest"
                  },
                  "path": "v1/{+parent}/clients:switchVariableMasking",
                  "description": "Update variable masking for provisioned client",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "certificates": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "id": "integrations.projects.locations.certificates.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new certificate. The certificate will be registered to the trawler service and will be encrypted using cloud KMS and stored in Spanner Returns the certificate.",
                  "path": "v1/{+parent}/certificates",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "description": "Delete a certificate",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name that is associated with the Certificate.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "integrations.projects.locations.certificates.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "id": "integrations.projects.locations.certificates.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Output only. Auto generated primary key",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Field mask specifying the fields in the above Certificate that have been modified and need to be updated.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Updates the certificate by id. If new certificate file is updated, it will register with the trawler service, re-encrypt with cloud KMS and update the Spanner record. Other fields will directly update the Spanner record. Returns the Certificate.",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The certificate to retrieve. Format: projects/{project}/locations/{location}/certificates/{certificate}",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Get a certificates in the specified project.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "integrations.projects.locations.certificates.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}"
                },
                "list": {
                  "description": "List all the certificates that match the filter. Restrict to certificate of current client only.",
                  "path": "v1/{+parent}/certificates",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The size of entries in the response. If unspecified, defaults to 100.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The token returned in the previous response."
                    },
                    "readMask": {
                      "location": "query",
                      "type": "string",
                      "description": "The mask which specifies fields that need to be returned in the Certificate's response.",
                      "format": "google-fieldmask"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The client, which owns this collection of Certificates.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListCertificatesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "id": "integrations.projects.locations.certificates.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "integrations": {
              "methods": {
                "test": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:test",
                  "id": "integrations.projects.locations.integrations.test",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Output only. Auto-generated primary key.",
                      "required": true
                    }
                  },
                  "description": "Execute the integration in draft state",
                  "path": "v1/{+name}:test",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "integrations.projects.locations.integrations.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Project and location from which the integrations should be listed. Format: projects/{project}",
                      "required": true
                    },
                    "orderBy": {
                      "description": "The results would be returned in order you specified here. Supported sort keys are: Descending sort order by \"last_modified_time\", \"created_time\", \"snapshot_number\". Ascending sort order by the integration name.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The page size for the resquest.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The page token for the resquest.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \">\" (greater), \"<\" (less than), >=\" (greater than or equal to), \"<=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`."
                    }
                  },
                  "path": "v1/{+parent}/integrations",
                  "description": "Returns the list of all integrations in the specified project.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
                  }
                },
                "schedule": {
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
                  },
                  "parameters": {
                    "name": {
                      "description": "The integration resource name.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:schedule",
                  "description": "Schedules an integration for execution by passing the trigger id and the scheduled time in the request body.",
                  "httpMethod": "POST",
                  "id": "integrations.projects.locations.integrations.schedule",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:schedule",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "search": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.integrations.search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations:search",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/integrations:search",
                  "description": "Searches and returns the list of integrations in the specified project.",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 10 results will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `SearchIntegrations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchIntegrations` must match the call that provided the page token."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The pre-filter to be applied to the search. This should follow the expressions defined in https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata. For example, \"status:ANY(\"ACTIVE\")\" will return all the resources whose status contains the \"ACTIVE\"."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Project and location from which the integrations should be listed. Format: projects/*/locations/*/resources/integrations",
                      "required": true
                    },
                    "query": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The user query"
                    },
                    "enableNaturalLanguageQueryUnderstanding": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Whether to enable natural language query understanding."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSearchIntegrationsResponse"
                  }
                },
                "execute": {
                  "path": "v1/{+name}:execute",
                  "description": "Executes integrations synchronously by passing the trigger id in the request body. The request is not returned until the requested executions are either fulfilled or experienced an error. If the integration name is not specified (passing `-`), all of the associated integration under the given trigger_id will be executed. Otherwise only the specified integration for the given `trigger_id` is executed. This is helpful for execution the integration from UI.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The integration resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.integrations.execute",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:execute",
                  "httpMethod": "POST"
                },
                "executeEvent": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "integrations.projects.locations.integrations.executeEvent",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:executeEvent",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The integration resource name. Format: projects/{gcp_project_id}/locations/{location}/integrations/{integration_id}",
                      "required": true
                    },
                    "triggerId": {
                      "description": "Required. Id of the integration trigger config. The trigger_id is in the format: `integration_connector_trigger/projects/{gcp_project_id}/location/{location}/connections/{connection_name}/subscriptions/{subscription_name}`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:executeEvent",
                  "description": "Executes an integration on receiving events from Integration Connector triggers, Eventarc or CPS Trigger. Input data to integration is received in body in json format",
                  "request": {
                    "additionalProperties": {
                      "type": "any",
                      "description": "Properties of the object."
                    },
                    "type": "object"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteEventResponse"
                  }
                },
                "delete": {
                  "id": "integrations.projects.locations.integrations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "description": "Delete the selected integration and all versions inside",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The location resource of the request.",
                      "required": true
                    }
                  }
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "publish": {
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The version to publish. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "This RPC throws an exception if the integration is in ARCHIVED or ACTIVE state. This RPC throws an exception if the version being published is DRAFT, and if the `locked_by` user is not the same as the user performing the Publish. Audit fields updated include last_published_timestamp, last_published_by, last_modified_timestamp, last_modified_by. Any existing lock is on this integration is released.",
                      "path": "v1/{+name}:publish",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:publish",
                      "id": "integrations.projects.locations.integrations.versions.publish",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "integrations.projects.locations.integrations.versions.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration}",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "type": "string"
                        },
                        "createSampleIntegrations": {
                          "description": "Optional. Optional. Indicates if sample workflow should be created.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "newIntegration": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Set this flag to true, if draft version is to be created for a brand new integration. False, if the request is for an existing integration. For backward compatibility reasons, even if this flag is set to `false` and no existing integration is found, a new draft integration will still be created."
                        }
                      },
                      "path": "v1/{+parent}/versions",
                      "description": "Create a integration with a draft version in the specified project.",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "description": "Soft-deletes the integration. Changes the status of the integration to ARCHIVED. If the integration being ARCHIVED is tagged as \"HEAD\", the tag is removed from this snapshot and set to the previous non-ARCHIVED snapshot. The PUBLISH_REQUESTED, DUE_FOR_DELETION tags are removed too. This RPC throws an exception if the version being deleted is DRAFT, and if the `locked_by` user is not the same as the user performing the Delete. Audit fields updated include last_modified_timestamp, last_modified_by. Any existing lock is released when Deleting a integration. Currently, there is no undelete mechanism.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "description": "Required. The version to delete. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "download": {
                      "id": "integrations.projects.locations.integrations.versions.download",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:download",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
                      },
                      "path": "v1/{+name}:download",
                      "description": "Downloads an integration. Retrieves the `IntegrationVersion` for a given `integration_id` and returns the response as a string.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The version to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string"
                        },
                        "files": {
                          "enumDescriptions": [
                            "Default value.",
                            "Integration file.",
                            "Integration Config variables."
                          ],
                          "type": "string",
                          "location": "query",
                          "repeated": true,
                          "enum": [
                            "INTEGRATION_FILE_UNSPECIFIED",
                            "INTEGRATION",
                            "INTEGRATION_CONFIG_VARIABLES"
                          ],
                          "description": "Optional. Integration related file to download like Integration Json, Config variable, testcase etc."
                        },
                        "fileFormat": {
                          "location": "query",
                          "enum": [
                            "FILE_FORMAT_UNSPECIFIED",
                            "JSON",
                            "YAML"
                          ],
                          "description": "File format for download request.",
                          "enumDescriptions": [
                            "Unspecified file format",
                            "JSON File Format",
                            "YAML File Format"
                          ],
                          "type": "string"
                        }
                      }
                    },
                    "patch": {
                      "id": "integrations.projects.locations.integrations.versions.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "path": "v1/{+name}",
                      "description": "Update a integration with a draft version in the specified project.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "description": "Output only. Auto-generated primary key.",
                          "required": true,
                          "location": "path"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Field mask specifying the fields in the above integration that have been modified and need to be updated.",
                          "format": "google-fieldmask"
                        }
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The version to retrieve. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "description": "Get a integration in the specified project.",
                      "httpMethod": "GET",
                      "id": "integrations.projects.locations.integrations.versions.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "path": "v1/{+parent}/versions",
                      "description": "Returns the list of all integration versions in the specified project.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration} Specifically, when parent equals: 1. projects//locations//integrations/, Meaning: \"List versions (with filter) for a particular integration\". 2. projects//locations//integrations/- Meaning: \"List versions (with filter) for a client within a particular region\".",
                          "required": true,
                          "location": "path"
                        },
                        "fieldMask": {
                          "location": "query",
                          "type": "string",
                          "description": "The field mask which specifies the particular data to be returned.",
                          "format": "google-fieldmask"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListIntegrationVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationVersions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "The results would be returned in order you specified here. Currently supported sort keys are: Descending sort order for \"last\\_modified\\_time\", \"created\\_time\", and \"snapshot\\_number\". Ascending sort order for `name`."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \">\" (greater), \"<\" (less than), >=\" (greater than or equal to), \"<=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions",
                      "httpMethod": "GET"
                    },
                    "unpublish": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:unpublish",
                      "id": "integrations.projects.locations.integrations.versions.unpublish",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The version to deactivate. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Sets the status of the ACTIVE integration to SNAPSHOT with a new tag \"PREVIOUSLY_PUBLISHED\" after validating it. The \"HEAD\" and \"PUBLISH_REQUESTED\" tags do not change. This RPC throws an exception if the version being snapshot is not ACTIVE. Audit fields added include action, action_by, action_timestamp.",
                      "path": "v1/{+name}:unpublish",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest"
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "downloadJsonPackage": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadJsonPackageResponse"
                      },
                      "path": "v1/{+name}:downloadJsonPackage",
                      "description": "Downloads an Integration version package like IntegrationVersion,Integration Config etc. Retrieves the IntegrationVersion package for a given `integration_id` and returns the response as a JSON.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "description": "Required. Integration version name Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "required": true,
                          "location": "path"
                        },
                        "files": {
                          "enumDescriptions": [
                            "Default value.",
                            "Integration file.",
                            "Integration Config variables."
                          ],
                          "type": "string",
                          "repeated": true,
                          "enum": [
                            "INTEGRATION_FILE_UNSPECIFIED",
                            "INTEGRATION",
                            "INTEGRATION_CONFIG_VARIABLES"
                          ],
                          "description": "Optional. Integration related file to download like Integration Version, Config variable, testcase etc.",
                          "location": "query"
                        }
                      },
                      "id": "integrations.projects.locations.integrations.versions.downloadJsonPackage",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:downloadJsonPackage",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "upload": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
                      },
                      "path": "v1/{+parent}/versions:upload",
                      "description": "Uploads an integration. The content can be a previously downloaded integration. Performs the same function as CreateDraftIntegrationVersion, but accepts input in a string format, which holds the complete representation of the IntegrationVersion content.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The version to upload. Format: projects/{project}/locations/{location}/integrations/{integration}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "integrations.projects.locations.integrations.versions.upload",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions:upload",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "test": {
                      "httpMethod": "POST",
                      "id": "integrations.projects.locations.integrations.versions.test",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:test",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "description": "Output only. Auto-generated primary key.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}:test",
                      "description": "Execute the integration in draft state"
                    }
                  },
                  "resources": {
                    "testCases": {
                      "methods": {
                        "list": {
                          "id": "integrations.projects.locations.integrations.versions.testCases.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListTestCasesResponse"
                          },
                          "path": "v1/{+parent}/testCases",
                          "description": "Lists all the test cases that satisfy the filters.",
                          "parameters": {
                            "filter": {
                              "description": "Optional. Standard filter field. Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                              "location": "query",
                              "type": "string"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The results would be returned in order specified here. Currently supported sort keys are: Descending sort order for \"last_modified_time\", \"created_time\". Ascending sort order for \"name\"."
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 100 test cases will be returned.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "readMask": {
                              "description": "Optional. The mask which specifies fields that need to be returned in the TestCases's response.",
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. The parent resource where this TestCase was created.",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string"
                            }
                          }
                        },
                        "patch": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "integrations.projects.locations.integrations.versions.testCases.patch",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}",
                          "httpMethod": "PATCH",
                          "path": "v1/{+name}",
                          "description": "Updates a test case",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Output only. Auto-generated primary key.",
                              "required": true
                            },
                            "updateMask": {
                              "description": "Optional. Field mask specifying the fields in the above integration that have been modified and need to be updated.",
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          }
                        },
                        "get": {
                          "id": "integrations.projects.locations.integrations.versions.testCases.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "path": "v1/{+name}",
                          "description": "Get a test case",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The ID of the test case to retrieve",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "type": "string"
                            }
                          }
                        },
                        "takeoverEditLock": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTakeoverTestCaseEditLockRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "type": "string",
                              "description": "Required. The ID of test case to takeover edit lock. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}/testCases/{test_case_id}",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "path": "v1/{+name}:takeoverEditLock",
                          "description": "Clear the lock fields and assign them to current user",
                          "httpMethod": "POST",
                          "id": "integrations.projects.locations.integrations.versions.testCases.takeoverEditLock",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}:takeoverEditLock",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "create": {
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "description": "Required. The parent resource where this test case will be created. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}",
                              "required": true,
                              "location": "path"
                            },
                            "testCaseId": {
                              "description": "Required. Required",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+parent}/testCases",
                          "description": "Creates a new test case",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "id": "integrations.projects.locations.integrations.versions.testCases.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases"
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}",
                          "id": "integrations.projects.locations.integrations.versions.testCases.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. ID for the test case to be deleted",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "type": "string"
                            }
                          },
                          "description": "Deletes a test case",
                          "path": "v1/{+name}"
                        },
                        "download": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDownloadTestCaseResponse"
                          },
                          "path": "v1/{+name}:download",
                          "description": "Downloads a test case. Retrieves the `TestCase` for a given `test_case_id` and returns the response as a string.",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The test case to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}/testCases/{test_case_id}",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "type": "string"
                            },
                            "fileFormat": {
                              "enumDescriptions": [
                                "Unspecified file format",
                                "JSON File Format",
                                "YAML File Format"
                              ],
                              "type": "string",
                              "location": "query",
                              "enum": [
                                "FILE_FORMAT_UNSPECIFIED",
                                "JSON",
                                "YAML"
                              ],
                              "description": "File format for download request."
                            }
                          },
                          "id": "integrations.projects.locations.integrations.versions.testCases.download",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}:download",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "upload": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadTestCaseRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadTestCaseResponse"
                          },
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The test case to upload. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}",
                              "required": true
                            }
                          },
                          "path": "v1/{+parent}/testCases:upload",
                          "description": "Uploads a test case. The content can be a previously downloaded test case. Performs the same function as CreateTestCase, but accepts input in a string format, which holds the complete representation of the TestCase content.",
                          "httpMethod": "POST",
                          "id": "integrations.projects.locations.integrations.versions.testCases.upload",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases:upload",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "execute": {
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource whose test cases are executed. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string"
                            }
                          },
                          "description": "Executes all test cases in an integration version.",
                          "path": "v1/{+parent}/testCases:execute",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCasesRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCasesResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases:execute",
                          "id": "integrations.projects.locations.integrations.versions.testCases.execute",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "executeTest": {
                          "parameters": {
                            "testCaseName": {
                              "description": "Required. Test case resource name",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "type": "string"
                            }
                          },
                          "description": "Executes functional test",
[...]
