{
  "basePath": "",
  "baseUrl": "https://integrations.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "version": "v1",
  "rootUrl": "https://integrations.googleapis.com/",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig",
      "type": "object",
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event.",
      "properties": {
        "metricType": {
          "type": "string",
          "description": "The type of metric.",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing integration.",
            "Specifies alerting on the rate of warnings for the enclosing integration. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing integration.",
            "Specifies alerting on the rate of warnings for any task in the enclosing integration.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing integration.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this integration.",
            "Specifies alerting on the duration value of a particular percentile of integration executions. E.g. If 10% or more of the integration executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing integration,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing integration. E.g. If 10% or more of the task executions in the integration have durations above 5 seconds, alert."
          ]
        },
        "aggregationPeriod": {
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week). For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours.",
          "type": "string"
        },
        "thresholdType": {
          "type": "string",
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enum": [
            "THRESHOLD_TYPE_UNSPECIFIED",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "enumDescriptions": [
            "Default.",
            "Note that this field will only trigger alerts if the integration specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours. Min value threshold.",
            "Max value threshold."
          ]
        },
        "disableAlert": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this integration alert."
        },
        "durationThreshold": {
          "format": "google-duration",
          "type": "string",
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger."
        },
        "displayName": {
          "type": "string",
          "description": "Name of the alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the integration."
        },
        "thresholdValue": {
          "description": "The metric value, above or below which the alert should be triggered.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue"
        },
        "onlyFinalAttempt": {
          "type": "boolean",
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries."
        },
        "alertThreshold": {
          "format": "int32",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUseTemplateRequestIntegrationDetails": {
      "id": "GoogleCloudIntegrationsV1alphaUseTemplateRequestIntegrationDetails",
      "type": "object",
      "description": "Sub Integration which would be created via templates.",
      "properties": {
        "integration": {
          "type": "string",
          "description": "Required. Name of the sub integration which would be created via templates."
        },
        "integrationDescription": {
          "description": "Optional. Description of the sub integration which would be created via templates.",
          "type": "string"
        }
      }
    },
    "CrmlogErrorCode": {
      "id": "CrmlogErrorCode",
      "description": "Registered ids for errors, as \"oneof\" enums. Each task or logical grouping of tasks may share the same enum.",
      "properties": {
        "commonErrorCode": {
          "enum": [
            "COMMON_ERROR_CODE_UNSPECIFIED",
            "INVALID_CREDENTIALS",
            "REQUIRED_FIELDS_MISSING",
            "INVALID_FIELDS",
            "BACKEND",
            "GENERAL",
            "INTERNAL",
            "IO_ERROR",
            "NOT_FOUND",
            "EVENT_BUS",
            "ALREADY_EXISTS",
            "CONCORD",
            "CONVERSION",
            "FLUME",
            "PERMISSION",
            "SALES_FORCE",
            "SPANNER",
            "UNIMPLEMENTED",
            "RELTIO",
            "WORKFLOW_NOT_FOUND",
            "QUOTA_THROTTLED",
            "QUOTA_ENQUEUED",
            "INVALID_QUOTA_CONFIGURATION",
            "TASK_NOT_FOUND",
            "EXECUTION_TIMEOUT",
            "INVALID_EVENT_EXECUTION_STATE",
            "INVALID_ATTRIBUTE",
            "MISSING_ATTRIBUTE",
            "CLIENT_UNAUTHORIZED_FOR_WORKFLOW",
            "INVALID_PARAMETER",
            "MISSING_PARAMETER",
            "UNAUTHROIZED_WORKFLOW_EDITOR_ACTION",
            "FAILED_PRECONDITION",
            "INVALID_CLIENT",
            "MISSING_CLIENT",
            "INVALID_WORKFLOW",
            "MISSING_QUOTA_CONFIGURATION",
            "UNHANDLED_TASK_ERROR",
            "SCRIPT_TASK_RUNTIME_ERROR",
            "RPC",
            "INVALID_PROTO",
            "UNHANDLED_EVENTBUS_ERROR",
            "INVALID_TASK_STATE",
            "TYPED_TASK_INVALID_INPUT_OPERATION",
            "TYPED_TASK_INVALID_OUTPUT_OPERATION",
            "VALIDATION_ERROR",
            "RESUME_ERROR",
            "APPS_SCRIPT_EXECUTION_ERROR",
            "INVALID_VECTOR_USER",
            "INFORMATICA",
            "RETRYABLE_TASK_ERROR",
            "INVALID_TENANT",
            "WRONG_TENANT",
            "INFORMATICA_BACKEND_UNAVAILABLE",
            "RPC_PERMISSION_DENIED",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "NOT_SUPPORTED_DATA_TYPE",
            "UNSANITIZED_USER_INPUT",
            "TRANSFORM_EXPRESSION_EVALUATION_ERROR",
            "HTTP_EXCEPTION",
            "EXECUTION_CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only.",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only. This error will be counted as server availability error.",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest": {
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest",
      "type": "object",
      "description": "Request for TakeoverEditLock.",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaGenerateOpenApiSpecResponse": {
      "description": "Response of the GenerateOpenApiSpec API.",
      "properties": {
        "openApiSpec": {
          "type": "string",
          "description": "Open API spec as per the required format"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaGenerateOpenApiSpecResponse"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskMetadata": {
      "id": "EnterpriseCrmEventbusProtoTaskMetadata",
      "type": "object",
      "description": "TaskMetadata are attributes that are associated to every common Task we have.",
      "properties": {
        "g3DocLink": {
          "description": "URL to the associated G3 Doc for the task if available",
          "type": "string"
        },
        "externalCategory": {
          "enumDescriptions": [
            "",
            "",
            "",
            "HTTP tasks, e.g. rest api call task",
            "Integration services, e.g. connector task",
            "Customer ations, e.g. email task",
            "Flow control, e.g. while loop task",
            "Workspace tasks, e.g. list drive task",
            "Security, e.g. kms related tasks",
            "Database operation tasks, e.g. read firestore info tasks",
            "Analytics tasks, e.g. dataflow creattion tasks",
            "BYOC tasks",
            "BYOT tasks",
            "AI related tasks.",
            "Data manipulation related tasks, e.g. data mapping task"
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_EXTERNAL_CATEGORY",
            "CORE",
            "CONNECTORS",
            "EXTERNAL_HTTP",
            "EXTERNAL_INTEGRATION_SERVICES",
            "EXTERNAL_CUSTOMER_ACTIONS",
            "EXTERNAL_FLOW_CONTROL",
            "EXTERNAL_WORKSPACE",
            "EXTERNAL_SECURITY",
            "EXTERNAL_DATABASES",
            "EXTERNAL_ANALYTICS",
            "EXTERNAL_BYOC",
            "EXTERNAL_BYOT",
            "EXTERNAL_ARTIFICIAL_INTELIGENCE",
            "EXTERNAL_DATA_MANIPULATION"
          ]
        },
        "defaultSpec": {
          "description": "Contains the initial configuration of the task with default values set. For now, The string should be compatible to an ASCII-proto format.",
          "type": "string"
        },
        "iconLink": {
          "description": "URL to gstatic image icon for this task. This icon shows up on the task list panel along with the task name in the Workflow Editor screen. Use the 24p, 2x, gray color icon image format.",
          "type": "string"
        },
        "system": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_SYSTEM",
            "GENERIC",
            "BUGANIZER",
            "SALESFORCE",
            "CLOUD_SQL",
            "PLX",
            "SHEETS",
            "GOOGLE_GROUPS",
            "EMAIL",
            "SPANNER",
            "DATA_BRIDGE"
          ]
        },
        "externalDocLink": {
          "type": "string",
          "description": "Doc link for external-facing documentation (separate from g3doc)."
        },
        "isDeprecated": {
          "type": "boolean",
          "description": "The deprecation status of the current task. Default value is false;"
        },
        "status": {
          "enumDescriptions": [
            "Default value. Actual Task Status should always be set to either INACTIVE or ACTIVE. If none is specified at runtime, it will be set to INACTIVE.",
            "Still in-progress or incomplete, and not intended for use.",
            "Available for use."
          ],
          "type": "string",
          "description": "Allows author to indicate if the task is ready to use or not. If not set, then it will default to INACTIVE.",
          "enum": [
            "UNSPECIFIED_STATUS",
            "DEFAULT_INACTIVE",
            "ACTIVE"
          ]
        },
        "standaloneExternalDocHtml": {
          "type": "string",
          "description": "External-facing documention for standalone IP in pantheon embedded in the RHP for this task. Non null only if different from external_doc_html"
        },
        "docMarkdown": {
          "type": "string",
          "description": "Snippet of markdown documentation to embed in the RHP for this task."
        },
        "externalDocMarkdown": {
          "type": "string",
          "description": "DEPRECATED: Use external_doc_html."
        },
        "admins": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
          },
          "type": "array"
        },
        "tags": {
          "description": "A set of tags that pertain to a particular task. This can be used to improve the searchability of tasks with several names (\"REST Caller\" vs. \"Call REST Endpoint\") or to help users find tasks based on related words.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The actual class name or the annotated name of the task. Task Author should initialize this field with value from the getName() method of the Task class."
        },
        "codeSearchLink": {
          "type": "string",
          "description": "The Code Search link to the Task Java file."
        },
        "activeTaskName": {
          "description": "The new task name to replace the current task if it is deprecated. Otherwise, it is the same as the current task name.",
          "type": "string"
        },
        "defaultJsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "type": "string",
          "description": "Controls whether JSON workflow parameters are validated against provided schemas before and/or after this task's execution.",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ]
        },
        "externalCategorySequence": {
          "format": "int32",
          "type": "integer",
          "description": "Sequence with which the task in specific category to be displayed in task discovery panel for external users."
        },
        "category": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Internal IP tasks that should not be available in the UI.",
            "Tasks that are relevant to cloud systems teams and typically",
            "Task entities that derive from a custom task template.",
            "Category to show task recommendations"
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "CUSTOM",
            "FLOW_CONTROL",
            "DATA_MANIPULATION",
            "SCRIPTING",
            "CONNECTOR",
            "HIDDEN",
            "CLOUD_SYSTEMS",
            "CUSTOM_TASK_TEMPLATE",
            "TASK_RECOMMENDATIONS"
          ]
        },
        "descriptiveName": {
          "description": "The string name to show on the task list on the Workflow editor screen. This should be a very short, one to two words name for the task. (e.g. \"Send Mail\")",
          "type": "string"
        },
        "description": {
          "description": "In a few sentences, describe the purpose and usage of the task.",
          "type": "string"
        },
        "externalDocHtml": {
          "description": "External-facing documention embedded in the RHP for this task.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecuteTestCasesRequest": {
      "type": "object",
      "description": "Request for ExecuteTestCases.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaExecuteTestCasesRequest"
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig",
      "type": "object",
      "properties": {
        "connection": {
          "description": "User-selected connection.",
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection"
        },
        "operation": {
          "type": "string",
          "description": "Operation to perform using the configured connection.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY",
            "EXECUTE_QUERY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "properties": {
        "elementType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Destination node where the edge ends. It can only be a task config.",
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ]
        },
        "elementIdentifier": {
          "type": "string",
          "description": "Configuration of the edge."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "description": "Entry is a pair of key and value.",
      "properties": {
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry"
    },
    "EnterpriseCrmEventbusProtoJsonFunction": {
      "id": "EnterpriseCrmEventbusProtoJsonFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET_PROPERTY",
            "GET_ELEMENT",
            "APPEND_ELEMENT",
            "SIZE",
            "SET_PROPERTY",
            "FLATTEN",
            "FLATTEN_ONCE",
            "MERGE",
            "TO_STRING",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_PROTO",
            "TO_STRING_ARRAY",
            "TO_INT_ARRAY",
            "TO_DOUBLE_ARRAY",
            "TO_PROTO_ARRAY",
            "TO_BOOLEAN_ARRAY",
            "REMOVE_PROPERTY",
            "RESOLVE_TEMPLATE",
            "EQUALS",
            "FOR_EACH",
            "FILTER_ELEMENTS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoValueType": {
      "type": "object",
      "description": "Used for define type for values. Currently supported value types include int, string, double, array, and any proto message.",
      "properties": {
        "booleanValue": {
          "type": "boolean"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntArray"
        },
        "stringValue": {
          "type": "string"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringArray"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArray"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoValueType"
    },
    "GoogleCloudIntegrationsV1alphaListTestCasesResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListTestCasesResponse",
      "description": "Response for ListTestCases",
      "properties": {
        "testCases": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
          },
          "description": "The test cases corresponding to the specified filter",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoPropertyEntry": {
      "type": "object",
      "description": "Key-value pair of EventBus property.",
      "properties": {
        "key": {
          "description": "Key is used to retrieve the corresponding property value. This should be unique for a given fired event. The Tasks should be aware of the keys used while firing the events for them to be able to retrieve the values.",
          "type": "string"
        },
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        }
      },
      "id": "EnterpriseCrmEventbusProtoPropertyEntry"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer": {
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
      "type": "object",
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "properties": {
        "clientKey": {
          "description": "Optional. Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "jwtClaims": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims",
          "description": "Optional. JwtClaims providers fields to generate the token."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionRequest": {
      "type": "object",
      "description": "Request for cancelling an execution.",
      "properties": {
        "cancelReason": {
          "type": "string",
          "description": "Required. Reason for cancelling the execution. This is provided by the client requesting the cancellation, and is not used by the Platform."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest"
    },
    "GoogleCloudConnectorsV1ResourceRequests": {
      "type": "object",
      "description": "Resource requests defined for connection pods of a given connector type.",
      "properties": {
        "memory": {
          "type": "string",
          "description": "Output only. Memory request.",
          "readOnly": true
        },
        "cpu": {
          "type": "string",
          "description": "Output only. CPU request.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudConnectorsV1ResourceRequests"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats": {
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "int64",
          "description": "The start time of the task execution for current attempt. This could be in the future if it's been scheduled.",
          "type": "string"
        },
        "endTime": {
          "format": "int64",
          "description": "The end time of the task execution for current attempt.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaClientConfig": {
      "description": "The configuration information for the Client",
      "properties": {
        "region": {
          "description": "The region the client is linked to.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Globally unique ID (project_id + region)"
        },
        "billingType": {
          "description": "Indicates the billing type of the client",
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "BILLING_TYPE_APIGEE_TRIALS",
            "BILLING_TYPE_APIGEE_SUBSCRIPTION",
            "BILLING_TYPE_PAYG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified billing type",
            "A trial org provisioned through Apigee Provisioning Wizard",
            "Subscription based users of Apigee",
            "Consumption based users of IP"
          ]
        },
        "isGmek": {
          "type": "boolean",
          "description": "Optional. Indicates the client is provisioned with CMEK or GMEK."
        },
        "clientState": {
          "description": "Indicates the activity state the client",
          "enum": [
            "CLIENT_STATE_UNSPECIFIED",
            "CLIENT_STATE_ACTIVE",
            "CLIENT_STATE_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The client state is unspecified",
            "The client is active and able to make calls to the IP APIs",
            "The client is disabled and will soon be deleted"
          ]
        },
        "enableHttpCall": {
          "description": "Optional. ",
          "type": "boolean"
        },
        "customerConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCustomerConfig",
          "description": "Optional. Customer configuration information for the given client."
        },
        "enableInternalIp": {
          "description": "Optional. Indicates the client enables internal IP feature, this is applicable for internal clients only.",
          "type": "boolean"
        },
        "cloudKmsConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudKmsConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the client was first created."
        },
        "enableVariableMasking": {
          "description": "Optional. ",
          "type": "boolean"
        },
        "p4ServiceAccount": {
          "type": "string",
          "description": "The service agent associated with this client"
        },
        "runAsServiceAccount": {
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of what the client is used for"
        },
        "projectId": {
          "type": "string",
          "description": "The GCP project id of the client associated with"
        },
        "enableManagedAiFeatures": {
          "description": "Optional. ",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaClientConfig"
    },
    "GoogleCloudConnectorsV1DestinationConfig": {
      "id": "GoogleCloudConnectorsV1DestinationConfig",
      "description": "Define the Connectors target endpoint.",
      "properties": {
        "destinations": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1Destination"
          },
          "description": "Optional. The destinations for the key.",
          "type": "array"
        },
        "key": {
          "type": "string",
          "description": "Optional. The key is the destination identifier that is supported by the Connector."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleArray": {
      "properties": {
        "values": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleArray"
    },
    "GoogleCloudIntegrationsV1alphaTemplateBundle": {
      "id": "GoogleCloudIntegrationsV1alphaTemplateBundle",
      "type": "object",
      "description": "Define the bundle of the template.",
      "properties": {
        "integrationVersionTemplate": {
          "description": "Required. Main integration templates of the template bundle.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersionTemplate"
        },
        "subIntegrationVersionTemplates": {
          "type": "array",
          "description": "Optional. Sub integration templates which would be added along with main integration.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersionTemplate"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleFunction"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "type": "object",
      "description": "Request for CreateAppsScriptProject rpc call.",
      "properties": {
        "appsScriptProject": {
          "description": "The name of the Apps Script project to be created.",
          "type": "string"
        },
        "authConfigId": {
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Optional. The client identifier."
        },
        "clientSecret": {
          "description": "Optional. Secret version reference containing the client secret.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials"
    },
    "GoogleCloudIntegrationsV1alphaParameterMap": {
      "id": "GoogleCloudIntegrationsV1alphaParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "valueType": {
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only).",
            "// Non-serializable object (Internal use only).",
            "Proto Enum (Internal use only).",
            "Serialized object (Internal use only).",
            "Proto Enum Array (Internal use only).",
            "BYTES data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields."
          ],
          "type": "string",
          "description": "Option to specify value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "PROTO_ENUM",
            "SERIALIZED_OBJECT_VALUE",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY"
          ]
        },
        "entries": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaParameterMapEntry"
          },
          "description": "A list of parameter map entries.",
          "type": "array"
        },
        "keyType": {
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only).",
            "// Non-serializable object (Internal use only).",
            "Proto Enum (Internal use only).",
            "Serialized object (Internal use only).",
            "Proto Enum Array (Internal use only).",
            "BYTES data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields."
          ],
          "description": "Option to specify key type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "PROTO_ENUM",
            "SERIALIZED_OBJECT_VALUE",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1EventingConfigDeadLetterConfig": {
      "description": "Dead Letter configuration details provided by the user.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Optional. Project which has the topic given."
        },
        "topic": {
          "type": "string",
          "description": "Optional. Topic to push events which couldn't be processed."
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1EventingConfigDeadLetterConfig"
    },
    "EnterpriseCrmEventbusProtoToken": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoToken"
    },
    "GoogleCloudIntegrationsV1alphaCoordinate": {
      "type": "object",
      "description": "Configuration detail of coordinate, it used for UI",
      "properties": {
        "x": {
          "format": "int32",
          "type": "integer",
          "description": "Required. X axis of the coordinate"
        },
        "y": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Y axis of the coordinate"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCoordinate"
    },
    "EnterpriseCrmEventbusProtoIntArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoIntArrayFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoField": {
      "description": "Information about the value and type of the field.",
      "properties": {
        "transformExpression": {
          "$ref": "EnterpriseCrmEventbusProtoTransformExpression",
          "description": "This is the transform expression to fetch the input field value. for e.g. $param1$.CONCAT('test'). Keep points - 1. Only input field can have a transform expression. 2. If a transform expression is provided, reference_key will be ignored. 3. If no value is returned after evaluation of transform expression, default_value can be mapped if provided. 4. The field_type should be the type of the final object returned after the transform expression is evaluated. Scrubs the transform expression before logging as value provided by user so may or may not contain PII or SPII data."
        },
        "fieldType": {
          "type": "string",
          "description": "Specifies the data type of the field.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "cardinality": {
          "type": "string",
          "description": "By default, if the cardinality is unspecified the field is considered required while mapping.",
          "enum": [
            "UNSPECIFIED",
            "OPTIONAL"
          ],
          "enumDescriptions": [
            "For fields with unspecified cardinality.",
            "If field cardinality is set to optional, ignore errors if input field value is null or the reference_key is not found."
          ]
        },
        "referenceKey": {
          "type": "string",
          "description": "This holds the reference key of the workflow or task parameter. 1. Any workflow parameter, for e.g. $workflowParam1$. 2. Any task input or output parameter, for e.g. $task1_param1$. 3. Any workflow or task parameters with subfield references, for e.g., $task1_param1.employee.id$"
        },
        "defaultValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "This holds the default values for the fields. This value is supplied by user so may or may not contain PII or SPII data."
        },
        "protoDefPath": {
          "type": "string",
          "description": "Optional. The fully qualified proto name (e.g. enterprise.crm.storage.Account). Required for output field of type PROTO_VALUE or PROTO_ARRAY. For e.g., if input field_type is BYTES and output field_type is PROTO_VALUE, then fully qualified proto type url should be provided to parse the input bytes. If field_type is *_ARRAY, then all the converted protos are of the same type."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoField"
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "id": "EnterpriseCrmEventbusProtoIntParameterArray",
      "properties": {
        "intValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaOidcToken": {
      "type": "object",
      "description": "OIDC Token",
      "properties": {
        "audience": {
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for.",
          "type": "string"
        },
        "tokenExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The approximate time until the token retrieved is valid."
        },
        "serviceAccountEmail": {
          "description": "The service account email to be used as the identity for the token.",
          "type": "string"
        },
        "token": {
          "description": "ID token obtained for the service account",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOidcToken"
    },
    "GoogleCloudIntegrationsV1alphaIntegration": {
      "id": "GoogleCloudIntegrationsV1alphaIntegration",
      "type": "object",
      "description": "The integration definition.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Auto-generated.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Required. Output only. Auto-generated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creatorEmail": {
          "type": "string",
          "description": "Output only. The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "readOnly": true
        },
        "active": {
          "type": "boolean",
          "description": "Required. If any integration version is published."
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "Required. The last modifier of this integration"
        },
        "name": {
          "description": "Required. The resource name of the integration.",
          "type": "string"
        },
        "description": {
          "description": "Optional.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest",
      "type": "object",
      "description": "Request for UnpublishIntegrationVersion.",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange",
      "description": "Range used to validate doubles and floats.",
      "properties": {
        "max": {
          "type": "number",
          "description": "The inclusive maximum of the acceptable range.",
          "format": "double"
        },
        "min": {
          "description": "The inclusive minimum of the acceptable range.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "type": "object",
      "properties": {
        "doubleValues": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
    },
    "EnterpriseCrmEventbusProtoNextTask": {
      "id": "EnterpriseCrmEventbusProtoNextTask",
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "properties": {
        "taskConfigId": {
          "type": "string",
          "description": "ID of the next task."
        },
        "taskNumber": {
          "type": "string",
          "description": "Task number of the next task."
        },
        "label": {
          "description": "User-provided label that is attached to this edge in the UI.",
          "type": "string"
        },
        "condition": {
          "description": "Standard filter expression for this task to become an eligible next task.",
          "type": "string"
        },
        "combinedConditions": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCombinedCondition"
          },
          "deprecated": true,
          "description": "Combined condition for this task to become an eligible next task. Each of these combined_conditions are joined with logical OR. DEPRECATED: use `condition`",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the next task edge or condition."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventParameters": {
      "id": "EnterpriseCrmEventbusProtoEventParameters",
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetails": {
      "description": "Contains the details of the execution of this task. Next available id: 11",
      "properties": {
        "taskExecutionState": {
          "enumDescriptions": [
            "",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ]
        },
        "taskAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
          }
        },
        "skippedOnFailure": {
          "description": "Indicates whether the task was skipped on failure. Only relevant if the task is in SKIPPED state.",
          "type": "boolean"
        },
        "taskNumber": {
          "description": "Pointer to the task config it used for execution.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
    },
    "GoogleCloudIntegrationsV1alphaSuccessPolicy": {
      "id": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "properties": {
        "finalState": {
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "enum": [
            "FINAL_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCloudLoggingDetails": {
      "id": "GoogleCloudIntegrationsV1alphaCloudLoggingDetails",
      "type": "object",
      "description": "Cloud Logging details for execution info",
      "properties": {
        "enableCloudLogging": {
          "type": "boolean",
          "description": "Optional. Status of whether Cloud Logging is enabled or not for the integration version getting executed."
        },
        "cloudLoggingSeverity": {
          "type": "string",
          "description": "Optional. Severity selected by the customer for the logs to be sent to Cloud Logging, for the integration version getting executed.",
          "enum": [
            "CLOUD_LOGGING_SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR",
            "WARNING"
          ],
          "enumDescriptions": [
            "Unspecified",
            "If Severity selected is `INFO`, then all the Integration Execution States (`IN_PROCESS`, `ON_HOLD`, `SUCCEEDED`, `SUSPENDED`, `ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `ERROR`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `WARNING`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging."
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUploadTemplateRequest": {
      "type": "object",
      "description": "Request for UploadTemplate.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Required. The textproto of the template."
        },
        "fileFormat": {
          "type": "string",
          "description": "Required. File format for upload request.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUploadTemplateRequest"
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "id": "EnterpriseCrmEventbusProtoBaseValue",
      "type": "object",
      "properties": {
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Start with a literal value."
        },
        "baseFunction": {
          "$ref": "EnterpriseCrmEventbusProtoFunction",
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc."
        },
        "referenceValue": {
          "type": "string",
          "description": "Start with a reference value to dereference."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationVersionTemplate": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationVersionTemplate",
      "description": "Define the template of IntegrationVersion.",
      "properties": {
        "integrationVersion": {
          "description": "Required. Templatized version of integration.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        },
        "key": {
          "description": "Required. Unique Key of the IntegrationVersion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1SslConfig": {
      "id": "GoogleCloudConnectorsV1SslConfig",
      "description": "SSL Configuration of a connection",
      "properties": {
        "clientCertType": {
          "description": "Optional. Type of Client Cert (PEM/JKS/.. etc.)",
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ]
        },
        "useSsl": {
          "description": "Optional. Bool for enabling SSL",
          "type": "boolean"
        },
        "additionalVariables": {
          "description": "Optional. Additional SSL related field values",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          }
        },
        "privateServerCertificate": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Optional. Private Server Certificate. Needs to be specified if trust model is `PRIVATE`."
        },
        "clientPrivateKey": {
          "description": "Optional. Client Private Key",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "clientPrivateKeyPass": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Optional. Secret containing the passphrase protecting the Client Private Key"
        },
        "serverCertType": {
          "type": "string",
          "description": "Optional. Type of Server Cert (PEM/JKS/.. etc.)",
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ],
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ]
        },
        "trustModel": {
          "type": "string",
          "description": "Optional. Trust Model of the SSL connection",
          "enum": [
            "PUBLIC",
            "PRIVATE",
            "INSECURE"
          ],
          "enumDescriptions": [
            "Public Trust Model. Takes the Default Java trust store.",
            "Private Trust Model. Takes custom/private trust store.",
            "Insecure Trust Model. Accept all certificates."
          ]
        },
        "clientCertificate": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Optional. Client Certificate"
        },
        "type": {
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ],
          "description": "Optional. Controls the ssl type for the given connector version.",
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange",
      "description": "Range used to validate longs and ints.",
      "properties": {
        "min": {
          "format": "int64",
          "description": "The inclusive minimum of the acceptable range.",
          "type": "string"
        },
        "max": {
          "format": "int64",
          "type": "string",
          "description": "The inclusive maximum of the acceptable range."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse",
      "type": "object",
      "description": "The response for testing an integration.",
      "properties": {
        "executionFailed": {
          "type": "boolean",
          "description": "Is true if any execution in the integration failed. False otherwise."
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object",
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        },
        "executionId": {
          "type": "string",
          "description": "The id of the execution corresponding to this run of integration."
        },
        "eventParameters": {
          "deprecated": true,
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Details for the integration that were executed."
        },
        "parameterEntries": {
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "deprecated": true
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCloudLoggingDetails": {
      "type": "object",
      "description": "Cloud Logging details, selected by the user for the integration version (workflow). This message field will be also used in ExecutionInfo, to indicate the CloudLoggingDetails config at the time of workflow (integration version) execution, since this field value can be changed for an unpublished workflow.",
      "properties": {
        "enableCloudLogging": {
          "description": "Status of whether Cloud Logging is enabled or not for the integration version getting executed.",
          "type": "boolean"
        },
        "cloudLoggingSeverity": {
          "type": "string",
          "description": "Severity selected by the customer for the logs to be sent to Cloud Logging, for the integration version getting executed.",
          "enum": [
            "CLOUD_LOGGING_SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR",
            "WARNING"
          ],
          "enumDescriptions": [
            "Unspecified",
            "If Severity selected is `INFO`, then all the Integration Execution States (`IN_PROCESS`, `ON_HOLD`, `SUCCEEDED`, `SUSPENDED`, `ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `ERROR`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `WARNING`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging."
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoCloudLoggingDetails"
    },
    "GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest",
      "type": "object",
      "description": "Request for Creating Cloud Function rpc call.",
      "properties": {
        "gcfApiVersion": {
          "enumDescriptions": [
            "Unspecified.",
            "V1 API version.",
            "V2 API version."
          ],
          "description": "Optional. The api version of CF to be created",
          "enum": [
            "GCF_API_VERSION_UNSPECIFIED",
            "API_VERSION_V1",
            "API_VERSION_V2"
          ],
          "type": "string"
        },
        "functionRegion": {
          "type": "string",
          "description": "The function region of CF to be created"
        },
        "projectId": {
          "description": "Indicates the id of the GCP project that the function will be created in.",
          "type": "string"
        },
        "functionName": {
          "description": "The function name of CF to be created",
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims": {
      "type": "object",
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "properties": {
        "subject": {
          "description": "Optional. Value for the \"sub\" claim.",
          "type": "string"
        },
        "audience": {
          "description": "Optional. Value for the \"aud\" claim.",
          "type": "string"
        },
        "issuer": {
          "description": "Optional. Value for the \"iss\" claim.",
          "type": "string"
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims"
    },
    "GoogleCloudConnectorsV1LogConfig": {
      "type": "object",
      "description": "Log configuration for the connection.",
      "properties": {
        "level": {
          "description": "Optional. Log configuration level.",
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "ERROR",
            "INFO",
            "DEBUG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Log level unspecified.",
            "Only error logs are enabled.",
            "Info and error logs are enabled.",
            "Debug and high verbosity logs are enabled."
          ]
        },
        "enabled": {
          "description": "Optional. Enabled represents whether logging is enabled or not for a connection.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudConnectorsV1LogConfig"
    },
    "GoogleCloudIntegrationsV1alphaDownloadTestCaseResponse": {
      "id": "GoogleCloudIntegrationsV1alphaDownloadTestCaseResponse",
      "type": "object",
      "description": "Response for DownloadTestCase.",
      "properties": {
        "content": {
          "type": "string",
          "description": "String representation of the test case."
        }
      }
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "description": "Field Mapping Config to map multiple output fields values from input fields values.",
      "properties": {
        "mappedFields": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig"
    },
    "EnterpriseCrmEventbusProtoConnectorsConnection": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string",
          "description": "The name of the Hostname of the Service Directory service with TLS if used."
        },
        "serviceName": {
          "type": "string",
          "description": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}"
        },
        "connectionName": {
          "description": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}",
          "type": "string"
        },
        "connectorVersion": {
          "description": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsConnection"
    },
    "GoogleCloudIntegrationsV1alphaGenerateTokenResponse": {
      "type": "object",
      "description": "Returns success or error message",
      "properties": {
        "message": {
          "description": "The message that notifies the user if the request succeeded or not.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse"
    },
    "EnterpriseCrmEventbusStats": {
      "description": "Stats for the requested dimensions: QPS, duration, and error/warning rate",
      "properties": {
        "qps": {
          "type": "number",
          "description": "Queries per second.",
          "format": "double"
        },
        "warningRate": {
          "format": "double",
          "type": "number",
          "description": "Average warning rate."
        },
        "errorRate": {
          "description": "Average error rate.",
          "type": "number",
          "format": "double"
        },
        "dimensions": {
          "description": "Dimensions that these stats have been aggregated on.",
          "$ref": "EnterpriseCrmEventbusStatsDimensions"
        },
        "durationInSeconds": {
          "format": "double",
          "type": "number",
          "description": "Average duration in seconds."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusStats"
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "type": "object",
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus.",
      "properties": {
        "properties": {
          "type": "array",
          "description": "An unordered list of property entries.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          }
        }
      }
    },
    "GoogleCloudConnectorsV1TrafficShapingConfig": {
      "description": "* TrafficShapingConfig defines the configuration for shaping API traffic by specifying a quota limit and the duration over which this limit is enforced. This configuration helps to control and manage the rate at which API calls are made on the client side, preventing service overload on the backend. For example: - if the quota limit is 100 calls per 10 seconds, then the message would be: { quota_limit: 100 duration: { seconds: 10 } } - if the quota limit is 100 calls per 5 minutes, then the message would be: { quota_limit: 100 duration: { seconds: 300 } } - if the quota limit is 10000 calls per day, then the message would be: { quota_limit: 10000 duration: { seconds: 86400 } and so on.",
      "properties": {
        "quotaLimit": {
          "format": "int64",
          "type": "string",
          "description": "Required. Maximum number of api calls allowed."
        },
        "duration": {
          "type": "string",
          "description": "Required. Specifies the duration over which the API call quota limits are calculated. This duration is used to define the time window for evaluating if the number of API calls made by a user is within the allowed quota limits. For example: - To define a quota sampled over 16 seconds, set `seconds` to 16 - To define a quota sampled over 5 minutes, set `seconds` to 300 (5 * 60) - To define a quota sampled over 1 day, set `seconds` to 86400 (24 * 60 * 60) and so on. It is important to note that this duration is not the time the quota is valid for, but rather the time window over which the quota is evaluated. For example, if the quota is 100 calls per 10 seconds, then this duration field would be set to 10 seconds.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1TrafficShapingConfig"
    },
    "GoogleCloudIntegrationsV1alphaProjectProperties": {
      "id": "GoogleCloudIntegrationsV1alphaProjectProperties",
      "type": "object",
      "description": "Metadata information for the given project",
      "properties": {
        "provisionedRegions": {
          "type": "array",
          "description": "A list of provisioned regions on the current project",
          "items": {
            "type": "string"
          }
        },
        "ipEnablementState": {
          "enumDescriptions": [
            "The client enablement status is unspecified",
            "The client is enabled on Standalone IP",
            "The client is enabled on Apigee",
            "The client is entitled for Apigee but not enabled"
          ],
          "type": "string",
          "description": "An enum value of what the enablement state is for the given project",
          "enum": [
            "IP_ENABLEMENT_STATE_UNSPECIFIED",
            "IP_ENABLEMENT_STATE_STANDALONE",
            "IP_ENABLEMENT_STATE_APIGEE",
            "IP_ENABLEMENT_STATE_APIGEE_ENTITLED"
          ]
        },
        "billingType": {
          "enumDescriptions": [
            "",
            "A trial org provisioned through Apigee Provisioning Wizard",
            "Subscription based on concurrency model for Apigee and Application Integration users.",
            "Consumption based users of IP",
            "Argentum subscription for Application Integration users. To be used in the future.",
            "Special billing type to avoid any billing to clients (eg: trusted tester program). This should not be used without consulting with the leads."
          ],
          "description": "Required. Required: The client billing type that was requested",
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "APIGEE_TRIALS",
            "APIGEE_SUBSCRIPTION",
            "PAYG",
            "SUBSCRIPTION",
            "NO_BILLING"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCloudKmsConfig": {
      "id": "GoogleCloudIntegrationsV1alphaCloudKmsConfig",
      "type": "object",
      "description": "Configuration information for Client's Cloud KMS information",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. A Cloud KMS key is a named object containing one or more key versions, along with metadata for the key. A key exists on exactly one key ring tied to a specific location."
        },
        "kmsRing": {
          "description": "Required. A key ring organizes keys in a specific Google Cloud location and allows you to manage access control on groups of keys. A key ring's name does not need to be unique across a Google Cloud project, but must be unique within a given location.",
          "type": "string"
        },
        "kmsLocation": {
          "description": "Required. Location name of the key ring, e.g. \"us-west1\".",
          "type": "string"
        },
        "kmsProjectId": {
          "description": "Optional. The gcp project id of the project where the kms key stored. If empty, the kms key is stored at the same project as customer's project and ecrypted with CMEK, otherwise, the kms key is stored in the tenant project and encrypted with GMEK",
          "type": "string"
        },
        "keyVersion": {
          "type": "string",
          "description": "Optional. Each version of a key contains key material used for encryption or signing. A key's version is represented by an integer, starting at 1. To decrypt data or verify a signature, you must use the same key version that was used to encrypt or sign the data."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaDeprovisionClientRequest": {
      "id": "GoogleCloudIntegrationsV1alphaDeprovisionClientRequest",
      "type": "object",
      "description": "Request for the Deprovision rpc",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoTaskAlertConfig": {
      "id": "EnterpriseCrmEventbusProtoTaskAlertConfig",
      "description": "Message to be used to configure alerting in the {@code TaskConfig} protos for tasks in an event.",
      "properties": {
        "alertName": {
          "type": "string",
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique in within the scope of the containing workflow."
        },
        "playbookUrl": {
          "description": "Link to a playbook for resolving the issue that triggered this alert.",
          "type": "string"
        },
        "thresholdType": {
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ],
          "description": "The threshold type for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "type": "string"
        },
        "aggregationPeriod": {
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week).",
          "type": "string"
        },
        "thresholdValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
          "description": "The metric value, above or below which the alert should be triggered."
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "numAggregationPeriods": {
          "format": "int32",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "type": "integer"
        },
        "onlyFinalAttempt": {
          "description": "Only count final task attempts, not retries.",
          "type": "boolean"
        },
        "durationThresholdMs": {
          "description": "Should be specified only for TASK_AVERAGE_DURATION and TASK_PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "type": "string",
          "format": "int64"
        },
        "metricType": {
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors (potentially for a specific set of enum values) for the enclosing TaskConfig.",
            "Specifies alerting on the rate of warnings (potentially for a specific set of enum values) for the enclosing TaskConfig. Warnings use the same enum values as errors.",
            "Specifies alerting on the number of instances for the enclosing TaskConfig executed in the given aggregation_period.",
            "Specifies alerting on the average duration of execution for the enclosing task.",
            "Specifies alerting on the duration of a particular percentile of task executions. E.g. If 10% or more of the task executions have durations above 5 seconds, alert."
          ],
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "type": "string"
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "alertDisabled": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert."
        },
        "clientId": {
          "description": "Client associated with this alert configuration. Must be a client enabled in one of the containing workflow's triggers.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task.",
      "properties": {
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the task."
        },
        "conditionalFailurePolicies": {
          "$ref": "EnterpriseCrmEventbusProtoConditionalFailurePolicies",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post)."
        },
        "externalTaskType": {
          "enum": [
            "EXTERNAL_TASK_TYPE_UNSPECIFIED",
            "NORMAL_TASK",
            "ERROR_TASK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. External task type is not specified",
            "Tasks belongs to the normal task flows",
            "Task belongs to the error catch task flows"
          ]
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "The customized parameters the user can pass to this task.",
          "type": "object"
        },
        "taskTemplateName": {
          "description": "Used to define task-template name if task is of type task-template",
          "type": "string"
        },
        "errorCatcherId": {
          "description": "Optional Error catcher id of the error catch flow which will be executed when execution error happens in the task",
          "type": "string"
        },
        "taskNumber": {
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`).",
          "type": "string"
        },
        "synchronousCallFailurePolicy": {
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post)."
        },
        "successPolicy": {
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy",
          "description": "Determines what action to take upon successful task completion."
        },
        "alertConfigs": {
          "type": "array",
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          }
        },
        "disableStrictTypeValidation": {
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "description": "Auto-generated.",
          "format": "google-datetime"
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Auto-generated from the user's email."
        },
        "nextTasksExecutionPolicy": {
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        },
        "taskExecutionStrategy": {
          "description": "The policy dictating the execution strategy of this task.",
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ]
        },
        "taskSpec": {
          "type": "string",
          "description": "A string template that allows user to configure task parameters (with either literal default values or tokens which will be resolved at execution time) for the task. It will eventually replace the old \"parameters\" field."
        },
        "preconditionLabel": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to precondition in the UI."
        },
        "taskType": {
          "description": "Defines the type of the task",
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ]
        },
        "nextTasks": {
          "type": "array",
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          }
        },
        "precondition": {
          "description": "Optional. Standard filter expression evaluated before execution. Independent of other conditions and tasks. Can be used to enable rollout. e.g. \"rollout(5)\" will only allow 5% of incoming traffic to task.",
          "type": "string"
        },
        "taskName": {
          "type": "string",
          "description": "The name for the task."
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "incomingEdgeCount": {
          "format": "int32",
          "description": "The number of edges leading into this TaskConfig.",
          "type": "integer"
        },
        "lastModifiedTime": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "taskEntity": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
          "description": "Copy of the task entity that this task config is an instance of."
        },
        "jsonValidationOption": {
          "type": "string",
          "description": "If set, overrides the option configured in the Task implementation class.",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        },
        "rollbackStrategy": {
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times).",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy"
        },
        "label": {
          "type": "string",
          "description": "User-provided label that is attached to this TaskConfig in the UI."
        },
        "position": {
          "description": "Optional. Informs the front-end application where to draw this task config on the UI.",
          "$ref": "EnterpriseCrmEventbusProtoCoordinate"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
    },
    "EnterpriseCrmEventbusProtoLoopMetadata": {
      "properties": {
        "errorMsg": {
          "type": "string",
          "description": "Add the error message when loops fail."
        },
        "failureLocation": {
          "enumDescriptions": [
            "No error or Unknown.",
            "Subworkflow failed while firing/running.",
            "Param overrides failed.",
            "Param aggregation failed.",
            "Setting for loop current element failed.",
            "Getting the list to iterate.",
            "Evaluating the while loop condition.",
            "Building the iteration request"
          ],
          "type": "string",
          "description": "Indicates where in the loop logic did it error out.",
          "enum": [
            "UNKNOWN",
            "SUBWORKFLOW",
            "PARAM_OVERRIDING",
            "PARAM_AGGREGATING",
            "SETTING_ITERATION_ELEMENT",
            "GETTING_LIST_TO_ITERATE",
            "CONDITION_EVALUATION",
            "BUILDING_REQUEST"
          ]
        },
        "currentIterationCount": {
          "format": "int64",
          "description": "Starting from 1, not 0.",
          "type": "string"
        },
        "currentIterationDetail": {
          "description": "Needs to be set by the loop impl class before each iteration. The abstract loop class will append the request and response to it. Eg. The foreach Loop will clean up and set it as the current iteration element at the start of each loop. The post request and response will be appended to the value once they are available.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoLoopMetadata"
    },
    "EnterpriseCrmEventbusProtoSuspensionExpiration": {
      "type": "object",
      "properties": {
        "expireAfterMs": {
          "type": "integer",
          "description": "Milliseconds after which the suspension expires, if no action taken.",
          "format": "int32"
        },
        "remindAfterMs": {
          "format": "int32",
          "description": "Milliseconds after which the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "type": "integer"
        },
        "liftWhenExpired": {
          "type": "boolean",
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior."
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionExpiration"
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "id": "EnterpriseCrmEventbusProtoFunctionType",
      "properties": {
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "doubleArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
        },
        "doubleFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "booleanArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
        },
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        },
        "jsonFunction": {
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction"
        },
        "intFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntFunction"
        },
        "protoFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoFunction"
        },
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        },
        "stringArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringArrayFunction"
        },
        "baseFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction",
          "description": "LINT.IfChange"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUploadTestCaseRequest": {
      "description": "Request for UploadTestCase.",
      "properties": {
        "content": {
          "description": "The textproto of the test case.",
          "type": "string"
        },
        "fileFormat": {
          "type": "string",
          "description": "File format for upload request.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaUploadTestCaseRequest"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetails": {
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetails",
      "type": "object",
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 12",
      "properties": {
        "eventExecutionState": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
[...]
