{
  "description": "",
  "basePath": "",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "baseUrl": "https://integrations.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "id": "integrations:v1",
  "resources": {
    "connectorPlatformRegions": {
      "methods": {
        "enumerate": {
          "response": {
            "$ref": "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse"
          },
          "path": "v1/connectorPlatformRegions:enumerate",
          "id": "integrations.connectorPlatformRegions.enumerate",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Enumerates the regions for which Connector Platform is provisioned.",
          "httpMethod": "GET",
          "flatPath": "v1/connectorPlatformRegions:enumerate",
          "parameterOrder": []
        }
      }
    },
    "projects": {
      "methods": {
        "getClientmetadata": {
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/projects/{projectsId}/clientmetadata",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the metadata info for the requested client",
          "id": "integrations.projects.getClientmetadata",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Required: The ID of the GCP Project to be provisioned."
            }
          },
          "path": "v1/{+parent}/clientmetadata",
          "response": {
            "$ref": "GoogleCloudIntegrationsV1alphaGetClientMetadataResponse"
          }
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "getClients": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the client configuration for the given project and location resource name",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIntegrationsV1alphaGetClientResponse"
              },
              "path": "v1/{+parent}/clients",
              "id": "integrations.projects.locations.getClients",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Required: The ID of the GCP Project to be provisioned."
                }
              }
            },
            "generateOpenApiSpec": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIntegrationsV1alphaGenerateOpenApiSpecRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Generate OpenAPI spec for the requested integrations and api triggers",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generateOpenApiSpec",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudIntegrationsV1alphaGenerateOpenApiSpecResponse"
              },
              "path": "v1/{+name}:generateOpenApiSpec",
              "id": "integrations.projects.locations.generateOpenApiSpec",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Project and location from which the integrations should be fetched. Format: projects/{project}/location/{location}"
                }
              }
            }
          },
          "resources": {
            "cloudFunctions": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a cloud function project.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudFunctions",
                  "path": "v1/{+parent}/cloudFunctions",
                  "id": "integrations.projects.locations.cloudFunctions.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project that the executed integration belongs to.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionResponse"
                  }
                }
              }
            },
            "authConfigs": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "id": "integrations.projects.locations.authConfigs.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "required": true,
                      "description": "Required. The name that is associated with the AuthConfig."
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes an auth config.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "id": "integrations.projects.locations.authConfigs.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "required": true,
                      "description": "Required. The name that is associated with the AuthConfig."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a complete auth config. If the auth config doesn't exist, Code.NOT_FOUND exception will be thrown. Returns the decrypted auth config.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates an auth config record. Fetch corresponding credentials for specific auth types, e.g. access token for OAuth 2.0, JWT token for JWT. Encrypt the auth config with Cloud KMS and store the encrypted credentials in Spanner. Returns the encrypted auth config.",
                  "httpMethod": "POST",
                  "id": "integrations.projects.locations.authConfigs.create",
                  "parameters": {
                    "clientCertificate.sslCertificate": {
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "location": "query",
                      "type": "string"
                    },
                    "clientCertificate.encryptedPrivateKey": {
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "clientCertificate.passphrase": {
                      "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/authConfigs",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all auth configs that match the filter. Restrict to auth configs belong to the current client only.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
                  },
                  "path": "v1/{+parent}/authConfigs",
                  "id": "integrations.projects.locations.authConfigs.list",
                  "parameters": {
                    "filter": {
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The token returned in the previous response.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The client, which owns this collection of AuthConfigs.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The size of entries in the response. If unspecified, defaults to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "readMask": {
                      "description": "The mask which specifies fields that need to be returned in the AuthConfig's response.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  }
                },
                "patch": {
                  "id": "integrations.projects.locations.authConfigs.patch",
                  "parameters": {
                    "name": {
                      "description": "Resource name of the auth config. For more information, see Manage authentication profiles. projects/{project}/locations/{location}/authConfigs/{authConfig}.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Field mask specifying the fields in the above AuthConfig that have been modified and need to be updated.",
                      "location": "query",
                      "type": "string"
                    },
                    "clientCertificate.sslCertificate": {
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "location": "query",
                      "type": "string"
                    },
                    "clientCertificate.passphrase": {
                      "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                      "location": "query",
                      "type": "string"
                    },
                    "clientCertificate.encryptedPrivateKey": {
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an auth config. If credential is updated, fetch the encrypted auth config from Spanner, decrypt with Cloud KMS key, update the credential fields, re-encrypt with Cloud KMS key and update the Spanner record. For other fields, directly update the Spanner record. Returns the encrypted auth config."
                }
              }
            },
            "integrations": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete the selected integration and all versions inside",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "integrations.projects.locations.integrations.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The location resource of the request.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "executeEvent": {
                  "request": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "any",
                      "description": "Properties of the object."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Executes an integration on receiving events from Integration Connector triggers, Eventarc or CPS Trigger. Input data to integration is received in body in json format",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:executeEvent",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteEventResponse"
                  },
                  "path": "v1/{+name}:executeEvent",
                  "id": "integrations.projects.locations.integrations.executeEvent",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The integration resource name. Format: projects/{gcp_project_id}/locations/{location}/integrations/{integration_id}"
                    },
                    "triggerId": {
                      "description": "Required. Id of the integration trigger config. The trigger_id is in the format: `integration_connector_trigger/projects/{gcp_project_id}/location/{location}/connections/{connection_name}/subscriptions/{subscription_name}`.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "schedule": {
                  "path": "v1/{+name}:schedule",
                  "id": "integrations.projects.locations.integrations.schedule",
                  "parameters": {
                    "name": {
                      "description": "The integration resource name.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Schedules an integration for execution by passing the trigger id and the scheduled time in the request body.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:schedule"
                },
                "execute": {
                  "id": "integrations.projects.locations.integrations.execute",
                  "parameters": {
                    "name": {
                      "description": "Required. The integration resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:execute",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:execute",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Executes integrations synchronously by passing the trigger id in the request body. The request is not returned until the requested executions are either fulfilled or experienced an error. If the integration name is not specified (passing `-`), all of the associated integration under the given trigger_id will be executed. Otherwise only the specified integration for the given `trigger_id` is executed. This is helpful for execution the integration from UI."
                },
                "test": {
                  "path": "v1/{+name}:test",
                  "id": "integrations.projects.locations.integrations.test",
                  "parameters": {
                    "name": {
                      "description": "Output only. Auto-generated primary key.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Execute the integration in draft state",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:test"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the list of all integrations in the specified project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
                  },
                  "id": "integrations.projects.locations.integrations.list",
                  "parameters": {
                    "filter": {
                      "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \">\" (greater), \"<\" (less than), >=\" (greater than or equal to), \"<=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The page token for the resquest.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Project and location from which the integrations should be listed. Format: projects/{project}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The page size for the resquest.",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "The results would be returned in order you specified here. Supported sort keys are: Descending sort order by \"last_modified_time\", \"created_time\", \"snapshot_number\". Ascending sort order by the integration name.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/integrations"
                },
                "search": {
                  "path": "v1/{+parent}/integrations:search",
                  "id": "integrations.projects.locations.integrations.search",
                  "parameters": {
                    "query": {
                      "description": "Required. The user query",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Project and location from which the integrations should be listed. Format: projects/*/locations/*/resources/integrations"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 10 results will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `SearchIntegrations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchIntegrations` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. The pre-filter to be applied to the search. This should follow the expressions defined in https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata. For example, \"status:ANY(\"ACTIVE\")\" will return all the resources whose status contains the \"ACTIVE\".",
                      "location": "query",
                      "type": "string"
                    },
                    "enableNaturalLanguageQueryUnderstanding": {
                      "description": "Optional. Whether to enable natural language query understanding.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSearchIntegrationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Searches and returns the list of integrations in the specified project.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations:search"
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "create": {
                      "path": "v1/{+parent}/versions",
                      "id": "integrations.projects.locations.integrations.versions.create",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration}"
                        },
                        "newIntegration": {
                          "description": "Set this flag to true, if draft version is to be created for a brand new integration. False, if the request is for an existing integration. For backward compatibility reasons, even if this flag is set to `false` and no existing integration is found, a new draft integration will still be created.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "createSampleIntegrations": {
                          "description": "Optional. Optional. Indicates if sample workflow should be created.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Create a integration with a draft version in the specified project.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "id": "integrations.projects.locations.integrations.versions.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The version to retrieve. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Get a integration in the specified project.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}"
                    },
                    "downloadJsonPackage": {
                      "id": "integrations.projects.locations.integrations.versions.downloadJsonPackage",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Integration version name Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                        },
                        "files": {
                          "repeated": true,
                          "description": "Optional. Integration related file to download like Integration Version, Config variable, testcase etc.",
                          "enumDescriptions": [
                            "Default value.",
                            "Integration file.",
                            "Integration Config variables."
                          ],
                          "enum": [
                            "INTEGRATION_FILE_UNSPECIFIED",
                            "INTEGRATION",
                            "INTEGRATION_CONFIG_VARIABLES"
                          ],
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}:downloadJsonPackage",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadJsonPackageResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:downloadJsonPackage",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Downloads an Integration version package like IntegrationVersion,Integration Config etc. Retrieves the IntegrationVersion package for a given `integration_id` and returns the response as a JSON."
                    },
                    "unpublish": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}:unpublish",
                      "id": "integrations.projects.locations.integrations.versions.unpublish",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true,
                          "description": "Required. The version to deactivate. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Sets the status of the ACTIVE integration to SNAPSHOT with a new tag \"PREVIOUSLY_PUBLISHED\" after validating it. The \"HEAD\" and \"PUBLISH_REQUESTED\" tags do not change. This RPC throws an exception if the version being snapshot is not ACTIVE. Audit fields added include action, action_by, action_timestamp.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:unpublish",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Update a integration with a draft version in the specified project.",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "id": "integrations.projects.locations.integrations.versions.patch",
                      "parameters": {
                        "name": {
                          "description": "Output only. Auto-generated primary key.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Field mask specifying the fields in the above integration that have been modified and need to be updated.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "path": "v1/{+name}"
                    },
                    "publish": {
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "This RPC throws an exception if the integration is in ARCHIVED or ACTIVE state. This RPC throws an exception if the version being published is DRAFT, and if the `locked_by` user is not the same as the user performing the Publish. Audit fields updated include last_published_timestamp, last_published_by, last_modified_timestamp, last_modified_by. Any existing lock is on this integration is released.",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:publish",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
                      },
                      "path": "v1/{+name}:publish",
                      "id": "integrations.projects.locations.integrations.versions.publish",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The version to publish. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                        }
                      }
                    },
                    "list": {
                      "path": "v1/{+parent}/versions",
                      "id": "integrations.projects.locations.integrations.versions.list",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous `ListIntegrationVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationVersions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "fieldMask": {
                          "format": "google-fieldmask",
                          "description": "The field mask which specifies the particular data to be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \">\" (greater), \"<\" (less than), >=\" (greater than or equal to), \"<=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "The results would be returned in order you specified here. Currently supported sort keys are: Descending sort order for \"last\\_modified\\_time\", \"created\\_time\", and \"snapshot\\_number\". Ascending sort order for `name`.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration} Specifically, when parent equals: 1. projects//locations//integrations/, Meaning: \"List versions (with filter) for a particular integration\". 2. projects//locations//integrations/- Meaning: \"List versions (with filter) for a client within a particular region\"."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns the list of all integration versions in the specified project.",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions"
                    },
                    "upload": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Uploads an integration. The content can be a previously downloaded integration. Performs the same function as CreateDraftIntegrationVersion, but accepts input in a string format, which holds the complete representation of the IntegrationVersion content.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions:upload",
                      "path": "v1/{+parent}/versions:upload",
                      "id": "integrations.projects.locations.integrations.versions.upload",
                      "parameters": {
                        "parent": {
                          "description": "Required. The version to upload. Format: projects/{project}/locations/{location}/integrations/{integration}",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse"
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}",
                      "id": "integrations.projects.locations.integrations.versions.delete",
                      "parameters": {
                        "name": {
                          "description": "Required. The version to delete. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Soft-deletes the integration. Changes the status of the integration to ARCHIVED. If the integration being ARCHIVED is tagged as \"HEAD\", the tag is removed from this snapshot and set to the previous non-ARCHIVED snapshot. The PUBLISH_REQUESTED, DUE_FOR_DELETION tags are removed too. This RPC throws an exception if the version being deleted is DRAFT, and if the `locked_by` user is not the same as the user performing the Delete. Audit fields updated include last_modified_timestamp, last_modified_by. Any existing lock is released when Deleting a integration. Currently, there is no undelete mechanism.",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "download": {
                      "id": "integrations.projects.locations.integrations.versions.download",
                      "parameters": {
                        "fileFormat": {
                          "description": "File format for download request.",
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "FILE_FORMAT_UNSPECIFIED",
                            "JSON",
                            "YAML"
                          ],
                          "enumDescriptions": [
                            "Unspecified file format",
                            "JSON File Format",
                            "YAML File Format"
                          ]
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The version to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                        },
                        "files": {
                          "repeated": true,
                          "description": "Optional. Integration related file to download like Integration Json, Config variable, testcase etc.",
                          "enumDescriptions": [
                            "Default value.",
                            "Integration file.",
                            "Integration Config variables."
                          ],
                          "enum": [
                            "INTEGRATION_FILE_UNSPECIFIED",
                            "INTEGRATION",
                            "INTEGRATION_CONFIG_VARIABLES"
                          ],
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}:download",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:download",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Downloads an integration. Retrieves the `IntegrationVersion` for a given `integration_id` and returns the response as a string."
                    },
                    "test": {
                      "id": "integrations.projects.locations.integrations.versions.test",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Output only. Auto-generated primary key."
                        }
                      },
                      "path": "v1/{+name}:test",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:test",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Execute the integration in draft state"
                    }
                  },
                  "resources": {
                    "testCases": {
                      "methods": {
                        "executeTest": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCaseResponse"
                          },
                          "id": "integrations.projects.locations.integrations.versions.testCases.executeTest",
                          "parameters": {
                            "testCaseName": {
                              "description": "Required. Test case resource name",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "required": true
                            }
                          },
                          "path": "v1/{+testCaseName}:executeTest",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}:executeTest",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCaseRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Executes functional test",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "testCaseName"
                          ]
                        },
                        "download": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}:download",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Downloads a test case. Retrieves the `TestCase` for a given `test_case_id` and returns the response as a string.",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDownloadTestCaseResponse"
                          },
                          "id": "integrations.projects.locations.integrations.versions.testCases.download",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "required": true,
                              "description": "Required. The test case to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}/testCases/{test_case_id}"
                            },
                            "fileFormat": {
                              "enum": [
                                "FILE_FORMAT_UNSPECIFIED",
                                "JSON",
                                "YAML"
                              ],
                              "enumDescriptions": [
                                "Unspecified file format",
                                "JSON File Format",
                                "YAML File Format"
                              ],
                              "location": "query",
                              "type": "string",
                              "description": "File format for download request."
                            }
                          },
                          "path": "v1/{+name}:download"
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "id": "integrations.projects.locations.integrations.versions.testCases.delete",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Required. ID for the test case to be deleted"
                            }
                          },
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes a test case",
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "upload": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadTestCaseResponse"
                          },
                          "path": "v1/{+parent}/testCases:upload",
                          "id": "integrations.projects.locations.integrations.versions.testCases.upload",
                          "parameters": {
                            "parent": {
                              "description": "Required. The test case to upload. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadTestCaseRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Uploads a test case. The content can be a previously downloaded test case. Performs the same function as CreateTestCase, but accepts input in a string format, which holds the complete representation of the TestCase content.",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases:upload",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "execute": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCasesResponse"
                          },
                          "id": "integrations.projects.locations.integrations.versions.testCases.execute",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource whose test cases are executed. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+parent}/testCases:execute",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases:execute",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCasesRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Executes all test cases in an integration version.",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists all the test cases that satisfy the filters.",
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases",
                          "path": "v1/{+parent}/testCases",
                          "id": "integrations.projects.locations.integrations.versions.testCases.list",
                          "parameters": {
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Optional. Standard filter field. Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                              "location": "query",
                              "type": "string"
                            },
                            "readMask": {
                              "description": "Optional. The mask which specifies fields that need to be returned in the TestCases's response.",
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            },
                            "orderBy": {
                              "description": "Optional. The results would be returned in order specified here. Currently supported sort keys are: Descending sort order for \"last_modified_time\", \"created_time\". Ascending sort order for \"name\".",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. The parent resource where this TestCase was created.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "required": true
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 100 test cases will be returned.",
                              "location": "query",
                              "type": "integer"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListTestCasesResponse"
                          }
                        },
                        "patch": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "path": "v1/{+name}",
                          "id": "integrations.projects.locations.integrations.versions.testCases.patch",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Output only. Auto-generated primary key."
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "description": "Optional. Field mask specifying the fields in the above integration that have been modified and need to be updated.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Updates a test case",
                          "httpMethod": "PATCH",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "id": "integrations.projects.locations.integrations.versions.testCases.get",
                          "parameters": {
                            "name": {
                              "description": "Required. The ID of the test case to retrieve",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Get a test case",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "takeoverEditLock": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "id": "integrations.projects.locations.integrations.versions.testCases.takeoverEditLock",
                          "parameters": {
                            "name": {
                              "description": "Required. The ID of test case to takeover edit lock. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}/testCases/{test_case_id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+name}:takeoverEditLock",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}:takeoverEditLock",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTakeoverTestCaseEditLockRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Clear the lock fields and assign them to current user",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "create": {
                          "path": "v1/{+parent}/testCases",
                          "id": "integrations.projects.locations.integrations.versions.testCases.create",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource where this test case will be created. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "required": true
                            },
                            "testCaseId": {
                              "description": "Required. Required",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a new test case",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases"
                        }
                      }
                    }
                  }
                },
                "executions": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Get an execution in the specified project.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}",
                      "path": "v1/{+name}",
                      "id": "integrations.projects.locations.integrations.executions.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaExecution"
                      }
                    },
                    "cancel": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse"
                      },
                      "path": "v1/{+name}:cancel",
                      "id": "integrations.projects.locations.integrations.executions.cancel",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Cancellation of an execution and associated sub-executions. This will not cancel an IN_PROCESS or completed(SUCCESSFUL, FAILED or CANCELLED) executions.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}:cancel",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "replay": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaReplayExecutionResponse"
                      },
                      "path": "v1/{+name}:replay",
                      "id": "integrations.projects.locations.integrations.executions.replay",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "required": true,
                          "description": "Required. Next ID: 6 The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/integrations/{integration}/executions/{execution_id}"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaReplayExecutionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Re-execute an existing execution, with same request parameters and execution strategy.",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}:replay",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists the results of all the integration executions. The response includes the same information as the [execution log](https://cloud.google.com/application-integration/docs/viewing-logs) in the Integration UI.",
                      "id": "integrations.projects.locations.integrations.executions.list",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Standard filter field, we support filtering on following fields: workflow_name: the name of the integration. CreateTimestamp: the execution created time. event_execution_state: the state of the executions. execution_id: the id of the execution. trigger_id: the id of the trigger. parameter_type: the type of the parameters involved in the execution. All fields support for EQUALS, in additional: CreateTimestamp support for LESS_THAN, GREATER_THAN ParameterType support for HAS For example: \"parameter_type\" HAS \\\"string\\\" Also supports operators like AND, OR, NOT For example, trigger_id=\\\"id1\\\" AND workflow_name=\\\"testWorkflow\\\"",
                          "location": "query",
                          "type": "string"
                        },
                        "filterParams.customFilter": {
                          "description": "Optional user-provided custom filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "filterParams.workflowName": {
                          "description": "Workflow name.",
                          "location": "query",
                          "type": "string"
                        },
                        "filterParams.parameterValue": {
                          "deprecated": true,
                          "description": "Param value. DEPRECATED. User parameter_pair_value instead.",
                          "location": "query",
                          "type": "string"
                        },
                        "filterParams.parameterKey": {
                          "description": "Param key. DEPRECATED. User parameter_pair_key instead.",
                          "location": "query",
                          "type": "string",
                          "deprecated": true
                        },
                        "filterParams.executionId": {
                          "description": "Execution id.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The token returned in the previous response.",
                          "location": "query",
                          "type": "string"
                        },
                        "truncateParams": {
                          "description": "Optional. If true, the service will truncate the params to only keep the first 1000 characters of string params and empty the executions in order to make response smaller. Only works for UI and when the params fields are not filtered out.",
                          "location": "query",
                          "type": "boolean",
                          "deprecated": true
                        },
                        "snapshotMetadataWithoutParams": {
                          "description": "Optional. If true, the service will provide execution info with snapshot metadata only i.e. without event parameters.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "filterParams.endTime": {
                          "format": "int64",
                          "description": "End timestamp.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource name of the integration execution."
                        },
                        "filterParams.parameterPairKey": {
                          "description": "Param key in the key value pair filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "readMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in Execution will be filled and returned. Supported fields: trigger_id execution_method create_time update_time execution_details execution_details.state execution_details.execution_snapshots execution_details.attempt_stats execution_details.event_execution_snapshots_size request_parameters cloud_logging_details snapshot_number replay_info",
                          "location": "query",
                          "type": "string"
                        },
                        "filterParams.startTime": {
                          "format": "int64",
                          "description": "Start timestamp.",
                          "location": "query",
                          "type": "string"
                        },
                        "filterParams.parameterPairValue": {
                          "description": "Param value in the key value pair filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "filterParams.eventStatuses": {
                          "description": "List of possible event statuses.",
                          "location": "query",
                          "type": "string",
                          "repeated": true
                        },
                        "refreshAcl": {
                          "description": "Optional. If true, the service will use the most recent acl information to list event execution infos and renew the acl cache. Note that fetching the most recent acl is synchronous, so it will increase RPC call latency.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "filterParams.parameterType": {
                          "description": "Param type.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The size of entries in the response.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "orderBy": {
                          "description": "Optional. The results would be returned in order you specified here. Currently supporting \"create_time\".",
                          "location": "query",
                          "type": "string"
                        },
                        "filterParams.taskStatuses": {
                          "repeated": true,
                          "description": "List of possible task statuses.",
                          "deprecated": true,
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/executions",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
                      }
                    },
                    "download": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Download the execution.",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}:download",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadExecutionResponse"
                      },
                      "path": "v1/{+name}:download",
                      "id": "integrations.projects.locations.integrations.executions.download",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "required": true,
                          "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}"
                        }
                      }
                    }
                  },
                  "resources": {
                    "suspensions": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "* Lists suspensions associated with a specific execution. Only those with permissions to resolve the relevant suspensions will be able to view them.",
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
                          },
                          "path": "v1/{+parent}/suspensions",
                          "id": "integrations.projects.locations.integrations.executions.suspensions.list",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}"
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Maximum number of entries in the response.",
                              "location": "query",
                              "type": "integer"
                            },
                            "orderBy": {
                              "description": "Field name to order by.",
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Standard filter field.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "Token to retrieve a specific page.",
                              "location": "query",
                              "type": "string"
                            }
                          }
                        },
                        "resolve": {
                          "path": "v1/{+name}:resolve",
                          "id": "integrations.projects.locations.integrations.executions.suspensions.resolve",
                          "parameters": {
                            "name": {
                              "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}/suspensions/{suspension_id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "* Resolves (lifts/rejects) any number of suspensions. If the integration is already running, only the status of the suspension is updated. Otherwise, the suspended integration will begin execution again.",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:resolve"
                        },
                        "lift": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse"
                          },
                          "id": "integrations.projects.locations.integrations.executions.suspensions.lift",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Required. The resource that the suspension belongs to. \"projects/{project}/locations/{location}/products/{product}/integrations/{integration}/executions/{execution}/suspensions/{suspenion}\" format."
                            }
                          },
                          "path": "v1/{+name}:lift",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:lift",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "* Lifts suspension for the Suspension task. Fetch corresponding suspension with provided suspension Id, resolve suspension, and set up suspension result for the Suspension Task.",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "certificates": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "id": "integrations.projects.locations.certificates.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "required": true,
                      "description": "Required. The certificate to retrieve. Format: projects/{project}/locations/{location}/certificates/{certificate}"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get a certificates in the specified project.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "id": "integrations.projects.locations.certificates.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name that is associated with the Certificate.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a certificate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}"
                },
                "create": {
[...]
