{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260309",
  "version_module": true,
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "protocol": "rest",
  "name": "keep",
  "discoveryVersion": "v1",
  "version": "v1",
  "id": "keep:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "canonicalName": "Keep",
  "rootUrl": "https://keep.googleapis.com/",
  "servicePath": "",
  "schemas": {
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      },
      "type": "object",
      "description": "The request to add a single permission on the note."
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "properties": {
        "group": {
          "readOnly": true,
          "description": "Output only. The group to which this role applies.",
          "$ref": "Group"
        },
        "name": {
          "description": "Output only. The resource name.",
          "readOnly": true,
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email."
        },
        "family": {
          "description": "Output only. The Google Family to which this role applies.",
          "$ref": "Family",
          "readOnly": true
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        },
        "user": {
          "description": "Output only. The user to whom this role applies.",
          "$ref": "User",
          "readOnly": true
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes."
        }
      },
      "description": "A single permission on the note. Associates a `member` with a `role`."
    },
    "Section": {
      "description": "The content of the note.",
      "type": "object",
      "id": "Section",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      }
    },
    "Group": {
      "id": "Group",
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      },
      "type": "object",
      "description": "Describes a single Group."
    },
    "ListContent": {
      "id": "ListContent",
      "properties": {
        "listItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "The items in the list. The number of items must be less than 1,000."
        }
      },
      "type": "object",
      "description": "The list of items for a single list note."
    },
    "Note": {
      "type": "object",
      "id": "Note",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "createTime": {
          "description": "Output only. When this note was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "attachments": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Attachment"
          },
          "description": "Output only. The attachments attached to this note."
        },
        "permissions": {
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "trashTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`)."
        },
        "trashed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted."
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A single note."
    },
    "BatchCreatePermissionsRequest": {
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "id": "BatchCreatePermissionsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create."
        }
      },
      "type": "object"
    },
    "User": {
      "description": "Describes a single user.",
      "type": "object",
      "id": "User",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      }
    },
    "Attachment": {
      "description": "An attachment to a note.",
      "id": "Attachment",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name;"
        },
        "mimeType": {
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Family": {
      "id": "Family",
      "properties": {},
      "type": "object",
      "description": "Describes a single Google Family."
    },
    "TextContent": {
      "id": "TextContent",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The block of text for a single text section or list item."
    },
    "ListNotesResponse": {
      "type": "object",
      "id": "ListNotesResponse",
      "properties": {
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        }
      },
      "description": "The response when listing a page of notes."
    },
    "ListItem": {
      "id": "ListItem",
      "properties": {
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        },
        "childListItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed."
        },
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        }
      },
      "type": "object",
      "description": "A single list item in a note's list."
    },
    "BatchDeletePermissionsRequest": {
      "type": "object",
      "id": "BatchDeletePermissionsRequest",
      "properties": {
        "names": {
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note."
    },
    "BatchCreatePermissionsResponse": {
      "type": "object",
      "id": "BatchCreatePermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "Permissions created."
        }
      },
      "description": "The response for creating permissions on a note."
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "resources": {
    "notes": {
      "methods": {
        "list": {
          "flatPath": "v1/notes",
          "id": "keep.notes.list",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "path": "v1/notes",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of results to return."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The previous page's `next_page_token` field."
            },
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query",
              "type": "string"
            }
          }
        },
        "create": {
          "parameters": {},
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "parameterOrder": [],
          "id": "keep.notes.create",
          "flatPath": "v1/notes",
          "path": "v1/notes",
          "request": {
            "$ref": "Note"
          },
          "description": "Creates a new note.",
          "response": {
            "$ref": "Note"
          }
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "parameters": {
            "name": {
              "description": "Required. Name of the note to delete.",
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "response": {
            "$ref": "Empty"
          },
          "id": "keep.notes.delete",
          "flatPath": "v1/notes/{notesId}"
        },
        "get": {
          "parameters": {
            "name": {
              "description": "Required. Name of the resource.",
              "type": "string",
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Note"
          },
          "path": "v1/{+name}",
          "description": "Gets a note.",
          "flatPath": "v1/notes/{notesId}",
          "id": "keep.notes.get"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "path": "v1/{+parent}/permissions:batchDelete",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "response": {
                "$ref": "Empty"
              },
              "id": "keep.notes.permissions.batchDelete",
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^notes/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "required": true
                }
              }
            },
            "batchCreate": {
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "type": "string",
                  "pattern": "^notes/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "id": "keep.notes.permissions.batchCreate",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "path": "v1/{+parent}/permissions:batchCreate",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made."
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the attachment.",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "location": "path",
              "type": "string"
            },
            "mimeType": {
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "keep.media.download",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "path": "v1/{+name}",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "useMediaDownloadService": true,
          "response": {
            "$ref": "Attachment"
          }
        }
      }
    }
  },
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "title": "Google Keep API",
  "baseUrl": "https://keep.googleapis.com/"
}