{
  "discoveryVersion": "v1",
  "version": "v1",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "resources": {
    "notes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "id": "keep.notes.list",
          "path": "v1/notes",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of results to return.",
              "location": "query"
            },
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListNotesResponse"
          },
          "flatPath": "v1/notes",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error."
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "Note"
          },
          "id": "keep.notes.create",
          "path": "v1/notes",
          "parameterOrder": [],
          "request": {
            "$ref": "Note"
          },
          "flatPath": "v1/notes",
          "description": "Creates a new note."
        },
        "get": {
          "description": "Gets a note.",
          "flatPath": "v1/notes/{notesId}",
          "id": "keep.notes.get",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Name of the resource."
            }
          },
          "response": {
            "$ref": "Note"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Required. Name of the note to delete.",
              "required": true,
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "keep.notes.delete",
          "flatPath": "v1/notes/{notesId}",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note."
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "required": true,
                  "pattern": "^notes/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "id": "keep.notes.permissions.batchCreate",
              "path": "v1/{+parent}/permissions:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "httpMethod": "POST"
            },
            "batchDelete": {
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "path": "v1/{+parent}/permissions:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "id": "keep.notes.permissions.batchDelete",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^notes/[^/]+$",
                  "type": "string",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "id": "keep.media.download",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the attachment."
            },
            "mimeType": {
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Attachment"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}"
        }
      }
    }
  },
  "schemas": {
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "description": "The request to add a single permission on the note.",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      },
      "type": "object"
    },
    "ListItem": {
      "id": "ListItem",
      "description": "A single list item in a note's list.",
      "properties": {
        "childListItems": {
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "type": "array",
          "items": {
            "$ref": "ListItem"
          }
        },
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        },
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "BatchCreatePermissionsRequest": {
      "id": "BatchCreatePermissionsRequest",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create."
        }
      },
      "type": "object"
    },
    "Attachment": {
      "type": "object",
      "id": "Attachment",
      "description": "An attachment to a note.",
      "properties": {
        "name": {
          "description": "The resource name;",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "User": {
      "type": "object",
      "id": "User",
      "description": "Describes a single user.",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      }
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "properties": {
        "group": {
          "readOnly": true,
          "$ref": "Group",
          "description": "Output only. The group to which this role applies."
        },
        "family": {
          "readOnly": true,
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies."
        },
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "readOnly": true,
          "type": "boolean"
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "role": {
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "type": "string",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name."
        },
        "user": {
          "description": "Output only. The user to whom this role applies.",
          "readOnly": true,
          "$ref": "User"
        }
      }
    },
    "Section": {
      "id": "Section",
      "description": "The content of the note.",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      },
      "type": "object"
    },
    "ListContent": {
      "id": "ListContent",
      "description": "The list of items for a single list note.",
      "properties": {
        "listItems": {
          "items": {
            "$ref": "ListItem"
          },
          "type": "array",
          "description": "The items in the list. The number of items must be less than 1,000."
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "BatchCreatePermissionsResponse": {
      "type": "object",
      "id": "BatchCreatePermissionsResponse",
      "description": "The response for creating permissions on a note.",
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        }
      }
    },
    "Group": {
      "id": "Group",
      "description": "Describes a single Group.",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "description": "The response when listing a page of notes.",
      "properties": {
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes."
        },
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchDeletePermissionsRequest": {
      "id": "BatchDeletePermissionsRequest",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      },
      "type": "object"
    },
    "Family": {
      "id": "Family",
      "description": "Describes a single Google Family.",
      "properties": {},
      "type": "object"
    },
    "TextContent": {
      "id": "TextContent",
      "description": "The block of text for a single text section or list item.",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Note": {
      "id": "Note",
      "description": "A single note.",
      "properties": {
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService."
        },
        "trashTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`)."
        },
        "createTime": {
          "description": "Output only. When this note was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "attachments": {
          "items": {
            "$ref": "Attachment"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The attachments attached to this note."
        },
        "permissions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner."
        },
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "title": "Google Keep API",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "version_module": true,
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "rootUrl": "https://keep.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "name": "keep",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "canonicalName": "Keep",
  "protocol": "rest",
  "ownerName": "Google",
  "revision": "20260309",
  "id": "keep:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "baseUrl": "https://keep.googleapis.com/"
}