{
  "version": "v1",
  "rootUrl": "https://language.googleapis.com/",
  "batchPath": "batch",
  "name": "language",
  "discoveryVersion": "v1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "version_module": true,
  "canonicalName": "Cloud Natural Language",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "baseUrl": "https://language.googleapis.com/",
  "documentationLink": "https://cloud.google.com/natural-language/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260405",
  "basePath": "",
  "title": "Cloud Natural Language API",
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "kind": "discovery#restDescription",
  "schemas": {
    "XPSDataType": {
      "type": "object",
      "properties": {
        "timeFormat": {
          "description": "If type_code == TIMESTAMP then `time_format` provides the format in which that time field is expressed. The time_format must be written in `strftime` syntax. If time_format is not set, then the default format as described on the field is used.",
          "type": "string"
        },
        "typeCode": {
          "enumDescriptions": [
            "Not specified. Should not be used.",
            "Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or `\"-Infinity\"`.",
            "Must be between 0AD and 9999AD. Encoded as `string` according to time_format, or, if that format is not set, then in RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z).",
            "Encoded as `string`.",
            "Encoded as `list`, where the list elements are represented according to list_element_type.",
            "Encoded as `struct`, where field values are represented according to struct_type.",
            "Values of this type are not further understood by AutoML, e.g. AutoML is unable to tell the order of values (as it could with FLOAT64), or is unable to say if one value contains another (as it could with STRING). Encoded as `string` (bytes should be base64-encoded, as described in RFC 4648, section 4)."
          ],
          "type": "string",
          "description": "Required. The TypeCode for this type.",
          "enum": [
            "TYPE_CODE_UNSPECIFIED",
            "FLOAT64",
            "TIMESTAMP",
            "STRING",
            "ARRAY",
            "STRUCT",
            "CATEGORY"
          ]
        },
        "listElementType": {
          "$ref": "XPSDataType",
          "description": "If type_code == ARRAY, then `list_element_type` is the type of the elements."
        },
        "nullable": {
          "type": "boolean",
          "description": "If true, this DataType can also be `null`."
        },
        "structType": {
          "description": "If type_code == STRUCT, then `struct_type` provides type information for the struct's fields.",
          "$ref": "XPSStructType"
        },
        "compatibleDataTypes": {
          "items": {
            "$ref": "XPSDataType"
          },
          "description": "The highly compatible data types to this data type.",
          "type": "array"
        }
      },
      "id": "XPSDataType",
      "description": "Indicated the type of data that can be stored in a structured data entity (e.g. a table)."
    },
    "XPSVideoModelArtifactSpec": {
      "id": "XPSVideoModelArtifactSpec",
      "type": "object",
      "properties": {
        "exportArtifact": {
          "type": "array",
          "items": {
            "$ref": "XPSModelArtifactItem"
          },
          "description": "The model binary files in different formats for model export."
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. batch predict) via public Cloud AI Platform API.",
          "$ref": "XPSModelArtifactItem"
        }
      }
    },
    "XPSVisionTrainingOperationMetadata": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "explanationUsage": {
          "description": "Aggregated infra usage within certain time period, for billing report purpose if XAI is enable in training request.",
          "$ref": "InfraUsage"
        }
      },
      "id": "XPSVisionTrainingOperationMetadata"
    },
    "DependencyEdge": {
      "id": "DependencyEdge",
      "description": "Represents dependency parse tree information for a token. (For more information on dependency labels, see http://www.aclweb.org/anthology/P13-2017",
      "type": "object",
      "properties": {
        "headTokenIndex": {
          "format": "int32",
          "description": "Represents the head of this token in the dependency tree. This is the index of the token which has an arc going to this token. The index is the position of the token in the array of tokens returned by the API method. If this token is a root token, then the `head_token_index` is its own index.",
          "type": "integer"
        },
        "label": {
          "enum": [
            "UNKNOWN",
            "ABBREV",
            "ACOMP",
            "ADVCL",
            "ADVMOD",
            "AMOD",
            "APPOS",
            "ATTR",
            "AUX",
            "AUXPASS",
            "CC",
            "CCOMP",
            "CONJ",
            "CSUBJ",
            "CSUBJPASS",
            "DEP",
            "DET",
            "DISCOURSE",
            "DOBJ",
            "EXPL",
            "GOESWITH",
            "IOBJ",
            "MARK",
            "MWE",
            "MWV",
            "NEG",
            "NN",
            "NPADVMOD",
            "NSUBJ",
            "NSUBJPASS",
            "NUM",
            "NUMBER",
            "P",
            "PARATAXIS",
            "PARTMOD",
            "PCOMP",
            "POBJ",
            "POSS",
            "POSTNEG",
            "PRECOMP",
            "PRECONJ",
            "PREDET",
            "PREF",
            "PREP",
            "PRONL",
            "PRT",
            "PS",
            "QUANTMOD",
            "RCMOD",
            "RCMODREL",
            "RDROP",
            "REF",
            "REMNANT",
            "REPARANDUM",
            "ROOT",
            "SNUM",
            "SUFF",
            "TMOD",
            "TOPIC",
            "VMOD",
            "VOCATIVE",
            "XCOMP",
            "SUFFIX",
            "TITLE",
            "ADVPHMOD",
            "AUXCAUS",
            "AUXVV",
            "DTMOD",
            "FOREIGN",
            "KW",
            "LIST",
            "NOMC",
            "NOMCSUBJ",
            "NOMCSUBJPASS",
            "NUMC",
            "COP",
            "DISLOCATED",
            "ASP",
            "GMOD",
            "GOBJ",
            "INFMOD",
            "MES",
            "NCOMP"
          ],
          "description": "The parse label for the token.",
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Abbreviation modifier",
            "Adjectival complement",
            "Adverbial clause modifier",
            "Adverbial modifier",
            "Adjectival modifier of an NP",
            "Appositional modifier of an NP",
            "Attribute dependent of a copular verb",
            "Auxiliary (non-main) verb",
            "Passive auxiliary",
            "Coordinating conjunction",
            "Clausal complement of a verb or adjective",
            "Conjunct",
            "Clausal subject",
            "Clausal passive subject",
            "Dependency (unable to determine)",
            "Determiner",
            "Discourse",
            "Direct object",
            "Expletive",
            "Goes with (part of a word in a text not well edited)",
            "Indirect object",
            "Marker (word introducing a subordinate clause)",
            "Multi-word expression",
            "Multi-word verbal expression",
            "Negation modifier",
            "Noun compound modifier",
            "Noun phrase used as an adverbial modifier",
            "Nominal subject",
            "Passive nominal subject",
            "Numeric modifier of a noun",
            "Element of compound number",
            "Punctuation mark",
            "Parataxis relation",
            "Participial modifier",
            "The complement of a preposition is a clause",
            "Object of a preposition",
            "Possession modifier",
            "Postverbal negative particle",
            "Predicate complement",
            "Preconjunt",
            "Predeterminer",
            "Prefix",
            "Prepositional modifier",
            "The relationship between a verb and verbal morpheme",
            "Particle",
            "Associative or possessive marker",
            "Quantifier phrase modifier",
            "Relative clause modifier",
            "Complementizer in relative clause",
            "Ellipsis without a preceding predicate",
            "Referent",
            "Remnant",
            "Reparandum",
            "Root",
            "Suffix specifying a unit of number",
            "Suffix",
            "Temporal modifier",
            "Topic marker",
            "Clause headed by an infinite form of the verb that modifies a noun",
            "Vocative",
            "Open clausal complement",
            "Name suffix",
            "Name title",
            "Adverbial phrase modifier",
            "Causative auxiliary",
            "Helper auxiliary",
            "Rentaishi (Prenominal modifier)",
            "Foreign words",
            "Keyword",
            "List for chains of comparable items",
            "Nominalized clause",
            "Nominalized clausal subject",
            "Nominalized clausal passive",
            "Compound of numeric modifier",
            "Copula",
            "Dislocated relation (for fronted/topicalized elements)",
            "Aspect marker",
            "Genitive modifier",
            "Genitive object",
            "Infinitival modifier",
            "Measure",
            "Nominal complement of a noun"
          ]
        }
      }
    },
    "AnalyzeEntitySentimentResponse": {
      "description": "The entity-level sentiment analysis response message.",
      "id": "AnalyzeEntitySentimentResponse",
      "type": "object",
      "properties": {
        "entities": {
          "type": "array",
          "description": "The recognized entities in the input document with associated sentiments.",
          "items": {
            "$ref": "Entity"
          }
        },
        "language": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details."
        }
      }
    },
    "CpuMetric": {
      "type": "object",
      "properties": {
        "coreSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Total seconds of core usage, e.g. 4."
        },
        "trackingLabels": {
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "machineSpec": {
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "cpuType": {
          "enum": [
            "UNKNOWN_CPU_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C3",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ],
          "description": "Required. Type of cpu, e.g. N2.",
          "type": "string",
          "enumDescriptions": [
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ]
        },
        "coreNumber": {
          "description": "Required. Number of CPU cores.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "CpuMetric",
      "description": "Metric for billing reports."
    },
    "XPSTablesTrainResponse": {
      "id": "XPSTablesTrainResponse",
      "type": "object",
      "properties": {
        "tablesModelColumnInfo": {
          "type": "array",
          "description": "Output only. Auxiliary information for each of the input_feature_column_specs, with respect to this particular model.",
          "items": {
            "$ref": "XPSTablesModelColumnInfo"
          }
        },
        "modelStructure": {
          "$ref": "XPSTablesModelStructure"
        },
        "predictionSampleRows": {
          "type": "array",
          "items": {
            "$ref": "XPSRow"
          },
          "description": "Sample rows from the dataset this model was trained."
        },
        "trainCostMilliNodeHours": {
          "type": "string",
          "format": "int64",
          "description": "The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget."
        }
      }
    },
    "XPSTablesModelStructureModelParameters": {
      "type": "object",
      "properties": {
        "hyperparameters": {
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelStructureModelParametersParameter"
          }
        }
      },
      "id": "XPSTablesModelStructureModelParameters",
      "description": "Model hyper-parameters for a model."
    },
    "XPSFloat64Stats": {
      "id": "XPSFloat64Stats",
      "description": "The data statistics of a series of FLOAT64 values.",
      "type": "object",
      "properties": {
        "mean": {
          "type": "number",
          "format": "double",
          "description": "The mean of the series."
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "quantiles": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "Ordered from 0 to k k-quantile values of the data series of n values. The value at index i is, approximately, the i*n/k-th smallest value in the series; for i = 0 and i = k these are, respectively, the min and max values."
        },
        "standardDeviation": {
          "type": "number",
          "format": "double",
          "description": "The standard deviation of the series."
        },
        "histogramBuckets": {
          "items": {
            "$ref": "XPSFloat64StatsHistogramBucket"
          },
          "description": "Histogram buckets of the data series. Sorted by the min value of the bucket, ascendingly, and the number of the buckets is dynamically generated. The buckets are non-overlapping and completely cover whole FLOAT64 range with min of first bucket being `\"-Infinity\"`, and max of the last one being `\"Infinity\"`.",
          "type": "array"
        }
      }
    },
    "Sentiment": {
      "id": "Sentiment",
      "description": "Represents the feeling associated with the entire text or entities in the text.",
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment)."
        },
        "magnitude": {
          "format": "float",
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment regardless of score (positive or negative).",
          "type": "number"
        }
      }
    },
    "XPSTuningTrial": {
      "type": "object",
      "properties": {
        "modelStructure": {
          "$ref": "XPSTablesModelStructure",
          "description": "Model parameters for the trial."
        },
        "trainingObjectivePoint": {
          "$ref": "XPSTrainingObjectivePoint",
          "description": "The optimization objective evaluation of the eval split data."
        }
      },
      "description": "Metrics for a tuning job generated, will get forwarded to Stackdriver as model tuning logs. Setting this as a standalone message out of CreateModelMetadata to avoid confusion as we expose this message only to users.",
      "id": "XPSTuningTrial"
    },
    "XPSStringStats": {
      "id": "XPSStringStats",
      "description": "The data statistics of a series of STRING values.",
      "type": "object",
      "properties": {
        "topUnigramStats": {
          "description": "The statistics of the top 20 unigrams, ordered by StringStats.UnigramStats.count.",
          "items": {
            "$ref": "XPSStringStatsUnigramStats"
          },
          "type": "array"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      }
    },
    "XPSVideoClassificationTrainResponse": {
      "type": "object",
      "properties": {
        "modelArtifactSpec": {
          "$ref": "XPSVideoModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope."
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        }
      },
      "id": "XPSVideoClassificationTrainResponse"
    },
    "ClassificationCategory": {
      "type": "object",
      "properties": {
        "confidence": {
          "description": "The classifier's confidence of the category. Number represents how certain the classifier is that this category represents the given text.",
          "format": "float",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "The name of the category representing the document."
        }
      },
      "id": "ClassificationCategory",
      "description": "Represents a category returned from the text classifier."
    },
    "AnnotateTextResponse": {
      "description": "The text annotations response message.",
      "id": "AnnotateTextResponse",
      "type": "object",
      "properties": {
        "tokens": {
          "type": "array",
          "description": "Tokens, along with their syntactic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_syntax.",
          "items": {
            "$ref": "Token"
          }
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Categories identified in the input document."
        },
        "documentSentiment": {
          "$ref": "Sentiment",
          "description": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment."
        },
        "language": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details.",
          "type": "string"
        },
        "sentences": {
          "type": "array",
          "items": {
            "$ref": "Sentence"
          },
          "description": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_syntax."
        },
        "entities": {
          "type": "array",
          "description": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities.",
          "items": {
            "$ref": "Entity"
          }
        },
        "moderationCategories": {
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Harmful and sensitive categories identified in the input document.",
          "type": "array"
        }
      }
    },
    "ClassifyTextRequest": {
      "id": "ClassifyTextRequest",
      "description": "The document classification request message.",
      "type": "object",
      "properties": {
        "classificationModelOptions": {
          "description": "Optional. Model options to use for classification. Defaults to v1 options if not specified.",
          "$ref": "ClassificationModelOptions"
        },
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        }
      }
    },
    "XPSMetricEntry": {
      "id": "XPSMetricEntry",
      "type": "object",
      "properties": {
        "argentumMetricId": {
          "description": "For billing metrics that are using legacy sku's, set the legacy billing metric id here. This will be sent to Chemist as the \"cloudbilling.googleapis.com/argentum_metric_id\" label. Otherwise leave empty.",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "description": "A double value.",
          "format": "double"
        },
        "systemLabels": {
          "type": "array",
          "description": "Billing system labels for this (metric, value) pair.",
          "items": {
            "$ref": "XPSMetricEntryLabel"
          }
        },
        "metricName": {
          "type": "string",
          "description": "The metric name defined in the service configuration."
        },
        "int64Value": {
          "description": "A signed 64-bit integer value.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry": {
      "id": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold.",
      "type": "object",
      "properties": {
        "recall": {
          "type": "number",
          "description": "Recall for the given confidence threshold.",
          "format": "float"
        },
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "The harmonic mean of recall and precision."
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "The confidence threshold value used to compute the metrics."
        }
      }
    },
    "XPSCorrelationStats": {
      "id": "XPSCorrelationStats",
      "description": "A correlation statistics between two series of DataType values. The series may have differing DataType-s, but within a single series the DataType must be the same.",
      "type": "object",
      "properties": {
        "cramersV": {
          "format": "double",
          "description": "The correlation value using the Cramer's V measure.",
          "type": "number"
        }
      }
    },
    "XPSExportModelOutputConfig": {
      "type": "object",
      "properties": {
        "exportFirebaseAuxiliaryInfo": {
          "type": "boolean",
          "description": "For any model and format: If true, will additionally export FirebaseExportedModelInfo in a firebase.txt file."
        },
        "outputGcrUri": {
          "type": "string",
          "description": "The Google Contained Registry path the exported files to be pushed to. This location is set if the exported format is DOCKDER."
        },
        "tfLiteFormat": {
          "$ref": "XPSTfLiteFormat"
        },
        "tfSavedModelFormat": {
          "$ref": "XPSTfSavedModelFormat"
        },
        "coreMlFormat": {
          "$ref": "XPSCoreMlFormat"
        },
        "tfJsFormat": {
          "$ref": "XPSTfJsFormat"
        },
        "edgeTpuTfLiteFormat": {
          "$ref": "XPSEdgeTpuTfLiteFormat"
        },
        "outputGcsUri": {
          "description": "The Google Cloud Storage directory where XPS will output the exported models and related files. Format: gs://bucket/directory",
          "type": "string"
        },
        "dockerFormat": {
          "$ref": "XPSDockerFormat"
        }
      },
      "id": "XPSExportModelOutputConfig"
    },
    "XPSConfidenceMetricsEntry": {
      "type": "object",
      "properties": {
        "recallAt1": {
          "type": "number",
          "format": "float",
          "description": "The recall (true positive rate) when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
        },
        "f1ScoreAt1": {
          "description": "The harmonic mean of recall_at1 and precision_at1.",
          "format": "float",
          "type": "number"
        },
        "precisionAt1": {
          "type": "number",
          "description": "The precision when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "format": "float"
        },
        "falsePositiveRate": {
          "format": "float",
          "description": "False Positive Rate for the given confidence threshold.",
          "type": "number"
        },
        "truePositiveCount": {
          "format": "int64",
          "description": "The number of model created labels that match a ground truth label.",
          "type": "string"
        },
        "confidenceThreshold": {
          "description": "Metrics are computed with an assumption that the model never return predictions with score lower than this value.",
          "format": "float",
          "type": "number"
        },
        "positionThreshold": {
          "format": "int32",
          "description": "Metrics are computed with an assumption that the model always returns at most this many predictions (ordered by their score, descendingly), but they all still need to meet the confidence_threshold.",
          "type": "integer"
        },
        "precision": {
          "type": "number",
          "format": "float",
          "description": "Precision for the given confidence threshold."
        },
        "falsePositiveCount": {
          "description": "The number of model created labels that do not match a ground truth label.",
          "format": "int64",
          "type": "string"
        },
        "falseNegativeCount": {
          "type": "string",
          "description": "The number of ground truth labels that are not matched by a model created label.",
          "format": "int64"
        },
        "falsePositiveRateAt1": {
          "type": "number",
          "description": "The False Positive Rate when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "format": "float"
        },
        "recall": {
          "description": "Recall (true positive rate) for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "description": "The harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        },
        "trueNegativeCount": {
          "format": "int64",
          "description": "The number of labels that were not created by the model, but if they would, they would not match a ground truth label.",
          "type": "string"
        }
      },
      "id": "XPSConfidenceMetricsEntry",
      "description": "ConfidenceMetricsEntry includes generic precision, recall, f1 score etc. Next tag: 16."
    },
    "ClassificationModelOptionsV1Model": {
      "description": "Options for the V1 model.",
      "id": "ClassificationModelOptionsV1Model",
      "type": "object",
      "properties": {}
    },
    "XPSTextExtractionEvaluationMetrics": {
      "type": "object",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "description": "If the enclosing EvaluationMetrics.label is empty, confidence_metrics_entries is an evaluation of the entire model across all labels. If the enclosing EvaluationMetrics.label is set, confidence_metrics_entries applies to that label."
        },
        "confusionMatrix": {
          "$ref": "XPSConfusionMatrix",
          "description": "Confusion matrix of the model, at the default confidence threshold (0.0). Only set for whole-model evaluation, not for evaluation per label."
        },
        "bestF1ConfidenceMetrics": {
          "$ref": "XPSConfidenceMetricsEntry",
          "description": "Values are at the highest F1 score on the precision-recall curve. Only confidence_threshold, recall, precision, and f1_score will be set.",
          "deprecated": true
        },
        "perLabelConfidenceMetrics": {
          "description": "Only recall, precision, and f1_score will be set.",
          "deprecated": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSConfidenceMetricsEntry"
          }
        }
      },
      "id": "XPSTextExtractionEvaluationMetrics"
    },
    "ClassificationModelOptionsV2Model": {
      "id": "ClassificationModelOptionsV2Model",
      "description": "Options for the V2 model.",
      "type": "object",
      "properties": {
        "contentCategoriesVersion": {
          "enum": [
            "CONTENT_CATEGORIES_VERSION_UNSPECIFIED",
            "V1",
            "V2"
          ],
          "description": "The content categories used for classification.",
          "type": "string",
          "enumDescriptions": [
            "If `ContentCategoriesVersion` is not specified, this option will default to `V1`.",
            "Legacy content categories of our initial launch in 2017.",
            "Updated content categories in 2022."
          ]
        }
      }
    },
    "XPSImageSegmentationTrainResponse": {
      "id": "XPSImageSegmentationTrainResponse",
      "type": "object",
      "properties": {
        "trainCostNodeSeconds": {
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64",
          "type": "string"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope. Model artifact spec stores and model gcs pathes and related metadata",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "stopReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'."
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec",
          "description": "NOTE: These fields are not used/needed in EAP but will be set later."
        },
        "colorMaps": {
          "items": {
            "$ref": "XPSColorMap"
          },
          "description": "Color map of the model.",
          "type": "array"
        }
      }
    },
    "XPSVideoActionMetricsEntry": {
      "id": "XPSVideoActionMetricsEntry",
      "description": "The Evaluation metrics entry given a specific precision_window_length.",
      "type": "object",
      "properties": {
        "meanAveragePrecision": {
          "description": "The mean average precision.",
          "format": "float",
          "type": "number"
        },
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          },
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array"
        },
        "precisionWindowLength": {
          "type": "string",
          "format": "google-duration",
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive."
        }
      }
    },
    "XPSBoundingBoxMetricsEntry": {
      "type": "object",
      "properties": {
        "iouThreshold": {
          "type": "number",
          "description": "The intersection-over-union threshold value used to compute this metrics entry.",
          "format": "float"
        },
        "meanAveragePrecision": {
          "type": "number",
          "description": "The mean average precision.",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry"
          },
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array"
        }
      },
      "id": "XPSBoundingBoxMetricsEntry",
      "description": "Bounding box matching model metrics for a single intersection-over-union threshold and multiple label match confidence thresholds."
    },
    "XPSTableSpec": {
      "id": "XPSTableSpec",
      "type": "object",
      "properties": {
        "rowCount": {
          "type": "string",
          "description": "The number of rows in the table.",
          "format": "int64"
        },
        "validRowCount": {
          "description": "The number of valid rows.",
          "format": "int64",
          "type": "string"
        },
        "importedDataSizeInBytes": {
          "description": "The total size of imported data of the table.",
          "format": "int64",
          "type": "string"
        },
        "timeColumnId": {
          "type": "integer",
          "format": "int32",
          "description": "The id of the time column."
        },
        "columnSpecs": {
          "description": "Mapping from column id to column spec.",
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          },
          "type": "object"
        }
      }
    },
    "XPSColorMapIntColor": {
      "type": "object",
      "properties": {
        "red": {
          "format": "int32",
          "description": "The value should be in range of [0, 255].",
          "type": "integer"
        },
        "blue": {
          "type": "integer",
          "description": "The value should be in range of [0, 255].",
          "format": "int32"
        },
        "green": {
          "type": "integer",
          "description": "The value should be in range of [0, 255].",
          "format": "int32"
        }
      },
      "id": "XPSColorMapIntColor",
      "description": "RGB color and each channel is represented by an integer."
    },
    "XPSIntegratedGradientsAttribution": {
      "id": "XPSIntegratedGradientsAttribution",
      "deprecated": true,
      "type": "object",
      "properties": {
        "stepCount": {
          "format": "int32",
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "type": "integer"
        }
      },
      "description": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365"
    },
    "XPSPreprocessResponse": {
      "type": "object",
      "properties": {
        "outputExampleSet": {
          "description": "Preprocessed examples, that are to be imported into AutoML storage. This should point to RecordIO file(s) of PreprocessedExample messages. The PreprocessedExample.mvp_training_data-s returned here are later verbatim passed to Train() call in TrainExample.mvp_training_data.",
          "$ref": "XPSExampleSet"
        },
        "speechPreprocessResp": {
          "$ref": "XPSSpeechPreprocessResponse"
        },
        "translationPreprocessResp": {
          "$ref": "XPSTranslationPreprocessResponse"
        },
        "tablesPreprocessResponse": {
          "$ref": "XPSTablesPreprocessResponse"
        }
      },
      "id": "XPSPreprocessResponse"
    },
    "GpuMetric": {
      "id": "GpuMetric",
      "type": "object",
      "properties": {
        "gpuType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_GPU_TYPE",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "NVIDIA_TESLA_K80",
            "NVIDIA_L4",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_V100",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_RTX_PRO_6000"
          ],
          "description": "Required. Type of GPU, e.g. NVIDIA_TESLA_V100."
        },
        "machineSpec": {
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "gpuSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Seconds of GPU usage, e.g. 3600."
        },
        "trackingLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\""
        }
      }
    },
    "XPSSpeechEvaluationMetrics": {
      "type": "object",
      "properties": {
        "subModelEvaluationMetrics": {
          "type": "array",
          "items": {
            "$ref": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric"
          },
          "description": "Evaluation metrics for all submodels contained in this model."
        }
      },
      "id": "XPSSpeechEvaluationMetrics"
    },
    "RamMetric": {
      "type": "object",
      "properties": {
        "machineSpec": {
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ],
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "ramType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Required. Type of ram.",
          "enum": [
            "UNKNOWN_RAM_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "C3",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ]
        },
        "gibSec": {
          "type": "string",
          "description": "Required. VM memory in Gigabyte second, e.g. 3600. Using int64 type to match billing metrics definition.",
          "format": "int64"
        },
        "memories": {
          "format": "double",
          "description": "Required. VM memory in gb.",
          "type": "number"
        },
        "trackingLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\""
        }
      },
      "id": "RamMetric"
    },
    "XPSSpeechPreprocessResponse": {
      "id": "XPSSpeechPreprocessResponse",
      "type": "object",
      "properties": {
        "speechPreprocessStats": {
          "$ref": "XPSSpeechPreprocessStats",
          "description": "Stats associated with the data."
        },
        "cnsTrainDataPath": {
          "type": "string",
          "description": "Location of shards of sstables (training data) of DataUtterance protos."
        },
        "cnsTestDataPath": {
          "description": "Location od shards of sstables (test data) of DataUtterance protos.",
          "type": "string"
        },
        "prebuiltModelEvaluationMetrics": {
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML.",
          "$ref": "XPSSpeechEvaluationMetrics"
        }
      }
    },
    "XPSVisionErrorAnalysisConfig": {
      "description": "The vision model error analysis configuration. Next tag: 3",
      "id": "XPSVisionErrorAnalysisConfig",
      "type": "object",
      "properties": {
        "queryType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified query type for model error analysis.",
            "Query similar samples across all classes in the dataset.",
            "Query similar samples from the same class of the input sample.",
            "Query dissimilar samples from the same class of the input sample."
          ],
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_ALL_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_DISSIMILAR"
          ],
          "description": "The query type used in retrieval. The enum values are frozen in the foreseeable future."
        },
        "exampleCount": {
          "format": "int32",
          "description": "The number of query examples in error analysis.",
          "type": "integer"
        }
      }
    },
    "XPSImageObjectDetectionEvaluationMetrics": {
      "id": "XPSImageObjectDetectionEvaluationMetrics",
      "description": "Model evaluation metrics for image object detection problems. Evaluates prediction quality of labeled bounding boxes.",
      "type": "object",
      "properties": {
        "evaluatedBoundingBoxCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of bounding boxes (i.e. summed over all images) the ground truth used to create this evaluation had."
        },
        "boundingBoxMetricsEntries": {
          "type": "array",
          "description": "The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair.",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          }
        },
        "boundingBoxMeanAveragePrecision": {
          "type": "number",
          "format": "float",
          "description": "The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries."
        }
      }
    },
    "XPSCommonStats": {
      "description": "Common statistics for a column with a specified data type.",
      "id": "XPSCommonStats",
      "type": "object",
      "properties": {
        "nullValueCount": {
          "type": "string",
          "format": "int64"
        },
        "distinctValueCount": {
          "type": "string",
          "format": "int64"
        },
        "validValueCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "XPSRegressionMetricsEntry": {
      "type": "object",
      "properties": {
        "trueValue": {
          "format": "float",
          "description": "The actual target value for a row in the dataset.",
          "type": "number"
        },
        "predictedValue": {
          "description": "The observed value for a row in the dataset.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "XPSRegressionMetricsEntry",
      "description": "A pair of actual & observed values for the model being evaluated."
    },
    "XPSEdgeTpuTfLiteFormat": {
      "description": "A model format used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
      "id": "XPSEdgeTpuTfLiteFormat",
      "type": "object",
      "properties": {}
    },
    "XPSTimestampStats": {
      "description": "The data statistics of a series of TIMESTAMP values.",
      "id": "XPSTimestampStats",
      "type": "object",
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "granularStats": {
          "description": "The string key is the pre-defined granularity. Currently supported: hour_of_day, day_of_week, month_of_year. Granularities finer that the granularity of timestamp data are not populated (e.g. if timestamps are at day granularity, then hour_of_day is not populated).",
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSTimestampStatsGranularStats"
          }
        },
        "medianTimestampNanos": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "XPSSpeechEvaluationMetricsSubModelEvaluationMetric": {
      "type": "object",
      "properties": {
        "sentenceAccuracy": {
          "description": "Below fields are used for debugging purposes",
          "format": "double",
          "type": "number"
        },
        "isEnhancedModel": {
          "type": "boolean",
          "description": "If true then it means we have an enhanced version of the biasing models."
        },
        "numSubstitutions": {
          "type": "integer",
          "format": "int32"
        },
        "numUtterances": {
          "type": "integer",
          "format": "int32",
          "description": "Number of utterances used in the wer computation."
        },
        "biasingModelType": {
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ],
          "type": "string",
          "description": "Type of the biasing model.",
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ]
        },
        "numWords": {
          "type": "integer",
          "description": "Number of words over which the word error rate was computed.",
          "format": "int32"
        },
        "numInsertions": {
          "type": "integer",
          "format": "int32"
        },
        "numDeletions": {
          "type": "integer",
          "format": "int32"
        },
        "wer": {
          "type": "number",
          "format": "double",
          "description": "Word error rate (standard error metric used for speech recognition)."
        }
      },
      "id": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric"
    },
    "XPSTfJsFormat": {
      "type": "object",
      "properties": {},
      "description": "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
      "id": "XPSTfJsFormat"
    },
    "AnnotateTextRequest": {
      "description": "The request message for the text annotation API, which can perform multiple analysis types (sentiment, entities, and syntax) in one call.",
      "id": "AnnotateTextRequest",
      "type": "object",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "encodingType": {
          "description": "The encoding type used by the API to calculate offsets.",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "type": "string"
        },
        "features": {
          "description": "Required. The enabled features.",
          "$ref": "AnnotateTextRequestFeatures"
        }
      }
    },
    "Color": {
      "type": "object",
      "properties": {
        "red": {
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        },
        "green": {
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "alpha": {
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float"
        }
      },
      "id": "Color",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
    },
    "XPSTextComponentModel": {
      "id": "XPSTextComponentModel",
      "description": "Component model.",
      "type": "object",
      "properties": {
        "servingArtifact": {
[...]
