{
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "revision": "20260412",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "resources": {
    "documents": {
      "methods": {
        "analyzeSentiment": {
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          },
          "id": "language.documents.analyzeSentiment",
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/documents:analyzeSentiment",
          "description": "Analyzes the sentiment of the provided text.",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1beta2/documents:analyzeSentiment"
        },
        "analyzeEntitySentiment": {
          "path": "v1beta2/documents:analyzeEntitySentiment",
          "response": {
            "$ref": "AnalyzeEntitySentimentResponse"
          },
          "id": "language.documents.analyzeEntitySentiment",
          "request": {
            "$ref": "AnalyzeEntitySentimentRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "flatPath": "v1beta2/documents:analyzeEntitySentiment",
          "description": "Finds entities, similar to AnalyzeEntities in the text and analyzes sentiment associated with each entity and its mentions.",
          "httpMethod": "POST"
        },
        "annotateText": {
          "path": "v1beta2/documents:annotateText",
          "response": {
            "$ref": "AnnotateTextResponse"
          },
          "id": "language.documents.annotateText",
          "request": {
            "$ref": "AnnotateTextRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "flatPath": "v1beta2/documents:annotateText",
          "description": "A convenience method that provides all syntax, sentiment, entity, and classification features in one call.",
          "httpMethod": "POST"
        },
        "analyzeEntities": {
          "flatPath": "v1beta2/documents:analyzeEntities",
          "parameters": {},
          "httpMethod": "POST",
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, salience, mentions for each entity, and other properties.",
          "path": "v1beta2/documents:analyzeEntities",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.documents.analyzeEntities",
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          },
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          }
        },
        "moderateText": {
          "id": "language.documents.moderateText",
          "request": {
            "$ref": "ModerateTextRequest"
          },
          "response": {
            "$ref": "ModerateTextResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/documents:moderateText",
          "description": "Moderates a document for harmful and sensitive categories.",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1beta2/documents:moderateText"
        },
        "analyzeSyntax": {
          "flatPath": "v1beta2/documents:analyzeSyntax",
          "parameters": {},
          "httpMethod": "POST",
          "description": "Analyzes the syntax of the text and provides sentence boundaries and tokenization along with part of speech tags, dependency trees, and other properties.",
          "path": "v1beta2/documents:analyzeSyntax",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AnalyzeSyntaxResponse"
          },
          "id": "language.documents.analyzeSyntax",
          "request": {
            "$ref": "AnalyzeSyntaxRequest"
          }
        },
        "classifyText": {
          "parameters": {},
          "flatPath": "v1beta2/documents:classifyText",
          "description": "Classifies a document into categories.",
          "httpMethod": "POST",
          "path": "v1beta2/documents:classifyText",
          "id": "language.documents.classifyText",
          "request": {
            "$ref": "ClassifyTextRequest"
          },
          "response": {
            "$ref": "ClassifyTextResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "version_module": true,
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "name": "language",
  "version": "v1beta2",
  "baseUrl": "https://language.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "canonicalName": "Cloud Natural Language",
  "rootUrl": "https://language.googleapis.com/",
  "schemas": {
    "ClassificationCategory": {
      "properties": {
        "name": {
          "description": "The name of the category representing the document.",
          "type": "string"
        },
        "confidence": {
          "description": "The classifier's confidence of the category. Number represents how certain the classifier is that this category represents the given text.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "ClassificationCategory",
      "description": "Represents a category returned from the text classifier.",
      "type": "object"
    },
    "XPSFloat64Stats": {
      "id": "XPSFloat64Stats",
      "description": "The data statistics of a series of FLOAT64 values.",
      "type": "object",
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "mean": {
          "type": "number",
          "description": "The mean of the series.",
          "format": "double"
        },
        "standardDeviation": {
          "format": "double",
          "type": "number",
          "description": "The standard deviation of the series."
        },
        "histogramBuckets": {
          "description": "Histogram buckets of the data series. Sorted by the min value of the bucket, ascendingly, and the number of the buckets is dynamically generated. The buckets are non-overlapping and completely cover whole FLOAT64 range with min of first bucket being `\"-Infinity\"`, and max of the last one being `\"Infinity\"`.",
          "items": {
            "$ref": "XPSFloat64StatsHistogramBucket"
          },
          "type": "array"
        },
        "quantiles": {
          "description": "Ordered from 0 to k k-quantile values of the data series of n values. The value at index i is, approximately, the i*n/k-th smallest value in the series; for i = 0 and i = k these are, respectively, the min and max values.",
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      }
    },
    "XPSExampleSet": {
      "type": "object",
      "id": "XPSExampleSet",
      "description": "Set of examples or input sources.",
      "properties": {
        "fileSpec": {
          "description": "File spec of the examples or input sources.",
          "$ref": "XPSFileSpec"
        },
        "numExamples": {
          "format": "int64",
          "type": "string",
          "description": "Number of examples."
        },
        "numInputSources": {
          "format": "int64",
          "description": "Number of input sources.",
          "type": "string"
        },
        "fingerprint": {
          "description": "Fingerprint of the example set.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "XPSResponseExplanationMetadata": {
      "id": "XPSResponseExplanationMetadata",
      "deprecated": true,
      "type": "object",
      "properties": {
        "inputs": {
          "description": "Metadata of the input.",
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataInputMetadata"
          }
        },
        "outputs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataOutputMetadata"
          },
          "description": "Metadata of the output."
        }
      }
    },
    "XPSStringStats": {
      "id": "XPSStringStats",
      "description": "The data statistics of a series of STRING values.",
      "type": "object",
      "properties": {
        "topUnigramStats": {
          "type": "array",
          "description": "The statistics of the top 20 unigrams, ordered by StringStats.UnigramStats.count.",
          "items": {
            "$ref": "XPSStringStatsUnigramStats"
          }
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      }
    },
    "XPSRegressionMetricsEntry": {
      "properties": {
        "trueValue": {
          "description": "The actual target value for a row in the dataset.",
          "type": "number",
          "format": "float"
        },
        "predictedValue": {
          "format": "float",
          "type": "number",
          "description": "The observed value for a row in the dataset."
        }
      },
      "type": "object",
      "id": "XPSRegressionMetricsEntry",
      "description": "A pair of actual & observed values for the model being evaluated."
    },
    "AnalyzeSentimentRequest": {
      "properties": {
        "encodingType": {
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "description": "The encoding type used by the API to calculate sentence offsets for the sentence sentiment.",
          "type": "string",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ]
        },
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        }
      },
      "type": "object",
      "id": "AnalyzeSentimentRequest",
      "description": "The sentiment analysis request message."
    },
    "XPSEvaluationMetrics": {
      "type": "object",
      "id": "XPSEvaluationMetrics",
      "description": "Contains xPS-specific model evaluation metrics either for a single annotation spec (label), or for the model overall. Next tag: 18.",
      "properties": {
        "translationEvalMetrics": {
          "$ref": "XPSTranslationEvaluationMetrics"
        },
        "textSentimentEvalMetrics": {
          "$ref": "XPSTextSentimentEvaluationMetrics"
        },
        "imageSegmentationEvalMetrics": {
          "$ref": "XPSImageSegmentationEvaluationMetrics"
        },
        "textClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "tablesClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "label": {
          "description": "The label for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The label maps to AnnotationSpec.display_name in Public API protos. Only used by MVP implementation and text sentiment FULL implementation.",
          "type": "string"
        },
        "category": {
          "description": "The integer category label for which this evaluation metric instance had been created. Valid categories are 0 or higher. Overall model evaluation should set this to negative values (rather than implicit zero). Only used for Image Segmentation (prefer to set annotation_spec_id_token instead). Note: uCAIP Image Segmentation should use annotation_spec_id_token.",
          "type": "integer",
          "format": "int32"
        },
        "evaluatedExampleCount": {
          "type": "integer",
          "description": "The number of examples used to create this evaluation metrics instance.",
          "format": "int32"
        },
        "annotationSpecIdToken": {
          "description": "The annotation_spec for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The value comes from the input annotations in AnnotatedExample. For MVP product or for text sentiment models where annotation_spec_id_token is not available, set label instead.",
          "type": "string"
        },
        "regressionEvalMetrics": {
          "$ref": "XPSRegressionEvaluationMetrics"
        },
        "videoClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "videoObjectTrackingEvalMetrics": {
          "$ref": "XPSVideoObjectTrackingEvaluationMetrics"
        },
        "videoActionRecognitionEvalMetrics": {
          "$ref": "XPSVideoActionRecognitionEvaluationMetrics"
        },
        "textExtractionEvalMetrics": {
          "$ref": "XPSTextExtractionEvaluationMetrics"
        },
        "tablesEvalMetrics": {
          "$ref": "XPSTablesEvaluationMetrics"
        },
        "imageClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "imageObjectDetectionEvalMetrics": {
          "$ref": "XPSImageObjectDetectionEvaluationMetrics"
        }
      }
    },
    "XPSBatchPredictResponse": {
      "id": "XPSBatchPredictResponse",
      "type": "object",
      "properties": {
        "exampleSet": {
          "$ref": "XPSExampleSet",
          "description": "Examples for batch prediction result. Under full API implementation, results are stored in shared RecordIO of AnnotatedExample protobufs, the annotations field of which is populated by XPS backend."
        }
      }
    },
    "XPSVideoExportModelSpec": {
      "properties": {
        "exportModelOutputConfig": {
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files.",
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "XPSVideoExportModelSpec",
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format."
    },
    "XPSColorMapIntColor": {
      "properties": {
        "blue": {
          "description": "The value should be in range of [0, 255].",
          "type": "integer",
          "format": "int32"
        },
        "green": {
          "format": "int32",
          "type": "integer",
          "description": "The value should be in range of [0, 255]."
        },
        "red": {
          "format": "int32",
          "type": "integer",
          "description": "The value should be in range of [0, 255]."
        }
      },
      "id": "XPSColorMapIntColor",
      "description": "RGB color and each channel is represented by an integer.",
      "type": "object"
    },
    "XPSImageObjectDetectionEvaluationMetrics": {
      "type": "object",
      "id": "XPSImageObjectDetectionEvaluationMetrics",
      "description": "Model evaluation metrics for image object detection problems. Evaluates prediction quality of labeled bounding boxes.",
      "properties": {
        "boundingBoxMetricsEntries": {
          "type": "array",
          "description": "The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair.",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          }
        },
        "boundingBoxMeanAveragePrecision": {
          "format": "float",
          "description": "The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries.",
          "type": "number"
        },
        "evaluatedBoundingBoxCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of bounding boxes (i.e. summed over all images) the ground truth used to create this evaluation had."
        }
      }
    },
    "XPSSpeechPreprocessResponse": {
      "properties": {
        "cnsTrainDataPath": {
          "description": "Location of shards of sstables (training data) of DataUtterance protos.",
          "type": "string"
        },
        "prebuiltModelEvaluationMetrics": {
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML.",
          "$ref": "XPSSpeechEvaluationMetrics"
        },
        "speechPreprocessStats": {
          "$ref": "XPSSpeechPreprocessStats",
          "description": "Stats associated with the data."
        },
        "cnsTestDataPath": {
          "type": "string",
          "description": "Location od shards of sstables (test data) of DataUtterance protos."
        }
      },
      "id": "XPSSpeechPreprocessResponse",
      "type": "object"
    },
    "XPSVideoActionMetricsEntry": {
      "type": "object",
      "id": "XPSVideoActionMetricsEntry",
      "description": "The Evaluation metrics entry given a specific precision_window_length.",
      "properties": {
        "precisionWindowLength": {
          "format": "google-duration",
          "type": "string",
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive."
        },
        "meanAveragePrecision": {
          "type": "number",
          "description": "The mean average precision.",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          }
        }
      }
    },
    "XPSResponseExplanationParameters": {
      "properties": {
        "xraiAttribution": {
          "description": "An attribution method that redistributes Integrated Gradients attribution to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 XRAI currently performs better on natural images, like a picture of a house or an animal. If the images are taken in artificial environments, like a lab or manufacturing line, or from diagnostic equipment, like x-rays or quality-control cameras, use Integrated Gradients instead.",
          "$ref": "XPSXraiAttribution"
        },
        "integratedGradientsAttribution": {
          "$ref": "XPSIntegratedGradientsAttribution",
          "description": "An attribution method that computes Aumann-Shapley values taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365"
        }
      },
      "type": "object",
      "id": "XPSResponseExplanationParameters",
      "deprecated": true
    },
    "XPSPreprocessResponse": {
      "id": "XPSPreprocessResponse",
      "type": "object",
      "properties": {
        "outputExampleSet": {
          "$ref": "XPSExampleSet",
          "description": "Preprocessed examples, that are to be imported into AutoML storage. This should point to RecordIO file(s) of PreprocessedExample messages. The PreprocessedExample.mvp_training_data-s returned here are later verbatim passed to Train() call in TrainExample.mvp_training_data."
        },
        "speechPreprocessResp": {
          "$ref": "XPSSpeechPreprocessResponse"
        },
        "translationPreprocessResp": {
          "$ref": "XPSTranslationPreprocessResponse"
        },
        "tablesPreprocessResponse": {
          "$ref": "XPSTablesPreprocessResponse"
        }
      }
    },
    "XPSColorMap": {
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "This type is deprecated in favor of the IntColor below. This is because google.type.Color represent color has a float which semantically does not reflect discrete classes/categories concept. Moreover, to handle it well we need to have some tolerance when converting to a discretized color. As such, the recommendation is to have API surface still use google.type.Color while internally IntColor is used.",
          "deprecated": true
        },
        "intColor": {
          "$ref": "XPSColorMapIntColor"
        },
        "displayName": {
          "type": "string",
          "description": "Should be used during preprocessing."
        },
        "annotationSpecIdToken": {
          "type": "string",
          "description": "Should be used during training."
        }
      },
      "id": "XPSColorMap",
      "description": "Map from color to display name. Will only be used by Image Segmentation for uCAIP.",
      "type": "object"
    },
    "XPSTablesRegressionMetrics": {
      "id": "XPSTablesRegressionMetrics",
      "description": "Metrics for Tables regression problems.",
      "type": "object",
      "properties": {
        "meanAbsoluteError": {
          "format": "double",
          "type": "number",
          "description": "Mean absolute error."
        },
        "rSquared": {
          "type": "number",
          "description": "R squared.",
          "format": "double"
        },
        "rootMeanSquaredError": {
          "format": "double",
          "type": "number",
          "description": "Root mean squared error."
        },
        "regressionMetricsEntries": {
          "description": "A list of actual versus predicted points for the model being evaluated.",
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          },
          "type": "array"
        },
        "meanAbsolutePercentageError": {
          "type": "number",
          "description": "Mean absolute percentage error, only set if all of the target column's values are positive.",
          "format": "double"
        },
        "rootMeanSquaredLogError": {
          "type": "number",
          "description": "Root mean squared log error.",
          "format": "double"
        }
      }
    },
    "XPSVideoModelArtifactSpec": {
      "type": "object",
      "id": "XPSVideoModelArtifactSpec",
      "properties": {
        "exportArtifact": {
          "type": "array",
          "description": "The model binary files in different formats for model export.",
          "items": {
            "$ref": "XPSModelArtifactItem"
          }
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. batch predict) via public Cloud AI Platform API.",
          "$ref": "XPSModelArtifactItem"
        }
      }
    },
    "XPSTextExtractionEvaluationMetrics": {
      "id": "XPSTextExtractionEvaluationMetrics",
      "type": "object",
      "properties": {
        "confusionMatrix": {
          "description": "Confusion matrix of the model, at the default confidence threshold (0.0). Only set for whole-model evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        },
        "perLabelConfidenceMetrics": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "description": "Only recall, precision, and f1_score will be set.",
          "deprecated": true
        },
        "confidenceMetricsEntries": {
          "description": "If the enclosing EvaluationMetrics.label is empty, confidence_metrics_entries is an evaluation of the entire model across all labels. If the enclosing EvaluationMetrics.label is set, confidence_metrics_entries applies to that label.",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "type": "array"
        },
        "bestF1ConfidenceMetrics": {
          "description": "Values are at the highest F1 score on the precision-recall curve. Only confidence_threshold, recall, precision, and f1_score will be set.",
          "deprecated": true,
          "$ref": "XPSConfidenceMetricsEntry"
        }
      }
    },
    "XPSSpeechPreprocessStats": {
      "id": "XPSSpeechPreprocessStats",
      "type": "object",
      "properties": {
        "trainSentencesCount": {
          "type": "integer",
          "description": "The number of sentences in the training data set.",
          "format": "int32"
        },
        "numLogsExamples": {
          "format": "int32",
          "type": "integer",
          "description": "The number of samples found in the previously recorded logs data."
        },
        "testWordsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of words in the test data set."
        },
        "testSentencesCount": {
          "type": "integer",
          "description": "The number of sentences in the test data set.",
          "format": "int32"
        },
        "trainExamplesCount": {
          "description": "The number of examples labeled as TRAIN by Speech xps server.",
          "type": "integer",
          "format": "int32"
        },
        "trainWordsCount": {
          "format": "int32",
          "description": "The number of words in the training data set.",
          "type": "integer"
        },
        "numMachineTranscribedExamples": {
          "type": "integer",
          "description": "The number of rows marked as MACHINE_TRANSCRIBED",
          "format": "int32"
        },
        "dataErrors": {
          "description": "Different types of data errors and the counts associated with them.",
          "items": {
            "$ref": "XPSDataErrors"
          },
          "type": "array"
        },
        "testExamplesCount": {
          "format": "int32",
          "description": "The number of examples labelled as TEST by Speech xps server.",
          "type": "integer"
        },
        "numHumanLabeledExamples": {
          "format": "int32",
          "description": "The number of rows marked HUMAN_LABELLED",
          "type": "integer"
        }
      }
    },
    "XPSArrayStats": {
      "id": "XPSArrayStats",
      "description": "The data statistics of a series of ARRAY values.",
      "type": "object",
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "memberStats": {
          "description": "Stats of all the values of all arrays, as if they were a single long series of data. The type depends on the element type of the array.",
          "$ref": "XPSDataStats"
        }
      }
    },
    "XPSXraiAttribution": {
      "properties": {
        "stepCount": {
          "format": "int32",
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "XPSXraiAttribution",
      "deprecated": true,
      "description": "An explanation method that redistributes Integrated Gradients attributions to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Only supports image Models (modality is IMAGE)."
    },
    "ClassifyTextRequest": {
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "classificationModelOptions": {
          "description": "Optional. Model options to use for classification. Defaults to v1 options if not specified.",
          "$ref": "ClassificationModelOptions"
        }
      },
      "type": "object",
      "id": "ClassifyTextRequest",
      "description": "The document classification request message."
    },
    "AnalyzeEntitiesResponse": {
      "properties": {
        "entities": {
          "description": "The recognized entities in the input document.",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        },
        "language": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AnalyzeEntitiesResponse",
      "description": "The entity analysis response message."
    },
    "XPSVisualization": {
      "properties": {
        "colorMap": {
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Positive: green. Negative: pink.",
            "Viridis color map: A perceptually uniform color mapping which is easier to see by those with colorblindness and progresses from yellow to green to blue. Positive: yellow. Negative: blue.",
            "Positive: red. Negative: red.",
            "Positive: green. Negative: green.",
            "Positive: green. Negative: red.",
            "PiYG palette."
          ],
          "description": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue.",
          "enum": [
            "COLOR_MAP_UNSPECIFIED",
            "PINK_GREEN",
            "VIRIDIS",
            "RED",
            "GREEN",
            "RED_GREEN",
            "PINK_WHITE_GREEN"
          ]
        },
        "clipPercentUpperbound": {
          "description": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9.",
          "type": "number",
          "format": "float"
        },
        "clipPercentLowerbound": {
          "type": "number",
          "description": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62.",
          "format": "float"
        },
        "overlayType": {
          "enum": [
            "OVERLAY_TYPE_UNSPECIFIED",
            "NONE",
            "ORIGINAL",
            "GRAYSCALE",
            "MASK_BLACK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as NONE.",
            "No overlay.",
            "The attributions are shown on top of the original image.",
            "The attributions are shown on top of grayscaled version of the original image.",
            "The attributions are used as a mask to reveal predictive parts of the image and hide the un-predictive parts."
          ],
          "description": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE."
        },
        "type": {
          "description": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES.",
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Shows which pixel contributed to the image prediction.",
            "Shows which region contributed to the image prediction by outlining the region."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXELS",
            "OUTLINES"
          ]
        },
        "polarity": {
          "enum": [
            "POLARITY_UNSPECIFIED",
            "POSITIVE",
            "NEGATIVE",
            "BOTH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as POSITIVE.",
            "Highlights the pixels/outlines that were most influential to the model's prediction.",
            "Setting polarity to negative highlights areas that does not lead to the models's current prediction.",
            "Shows both positive and negative attributions."
          ],
          "description": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE."
        }
      },
      "type": "object",
      "id": "XPSVisualization",
      "deprecated": true,
      "description": "Visualization configurations for image explanation."
    },
    "XPSSpeechModelSpec": {
      "type": "object",
      "id": "XPSSpeechModelSpec",
      "properties": {
        "datasetId": {
          "format": "int64",
          "type": "string",
          "description": "Required for speech xps backend. Speech xps has to use dataset_id and model_id as the primary key in db so that speech API can query the db directly."
        },
        "subModelSpecs": {
          "description": "Model specs for all submodels contained in this model.",
          "items": {
            "$ref": "XPSSpeechModelSpecSubModelSpec"
          },
          "type": "array"
        },
        "language": {
          "type": "string"
        }
      }
    },
    "XPSTfSavedModelFormat": {
      "properties": {},
      "id": "XPSTfSavedModelFormat",
      "description": "A tensorflow model format in SavedModel format.",
      "type": "object"
    },
    "XPSVideoActionRecognitionTrainResponse": {
      "properties": {
        "trainCostNodeSeconds": {
          "type": "string",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64"
        },
        "modelArtifactSpec": {
          "$ref": "XPSVideoModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope."
        }
      },
      "type": "object",
      "id": "XPSVideoActionRecognitionTrainResponse"
    },
    "XPSVideoTrainingOperationMetadata": {
      "type": "object",
      "id": "XPSVideoTrainingOperationMetadata",
      "properties": {
        "trainCostMilliNodeHour": {
          "description": "This is an estimation of the node hours necessary for training a model, expressed in milli node hours (i.e. 1,000 value in this field means 1 node hour). A node hour represents the time a virtual machine spends running your training job. The cost of one node running for one hour is a node hour.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "AnnotateTextRequestFeatures": {
      "properties": {
        "extractDocumentSentiment": {
          "type": "boolean",
          "description": "Extract document-level sentiment."
        },
        "classifyText": {
          "description": "Classify the full document into categories. If this is true, the API will use the default model which classifies into a [predefined taxonomy](https://cloud.google.com/natural-language/docs/categories).",
          "type": "boolean"
        },
        "extractEntities": {
          "description": "Extract entities.",
          "type": "boolean"
        },
        "extractEntitySentiment": {
          "description": "Extract entities and their associated sentiment.",
          "type": "boolean"
        },
        "moderateText": {
          "description": "Moderate the document for harmful and sensitive categories.",
          "type": "boolean"
        },
        "classificationModelOptions": {
          "description": "Optional. The model options to use for classification. Defaults to v1 options if not specified. Only used if `classify_text` is set to true.",
          "$ref": "ClassificationModelOptions"
        },
        "extractSyntax": {
          "description": "Extract syntax information.",
          "type": "boolean"
        }
      },
      "id": "AnnotateTextRequestFeatures",
      "description": "All available features for sentiment, syntax, and semantic analysis. Setting each one to true will enable that specific analysis for the input.",
      "type": "object"
    },
    "XPSVideoBatchPredictOperationMetadata": {
      "type": "object",
      "id": "XPSVideoBatchPredictOperationMetadata",
      "properties": {
        "outputExamples": {
          "description": "All the partial batch prediction results that are completed at the moment. Output examples are sorted by completion time. The order will not be changed. Each output example should be the path of a single RecordIO file of AnnotatedExamples.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "XPSImageExportModelSpec": {
      "id": "XPSImageExportModelSpec",
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format.",
      "type": "object",
      "properties": {
        "exportModelOutputConfig": {
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files.",
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          },
          "type": "array"
        }
      }
    },
    "XPSConfusionMatrixRow": {
      "id": "XPSConfusionMatrixRow",
      "description": "A row in the confusion matrix.",
      "type": "object",
      "properties": {
        "exampleCount": {
          "type": "array",
          "description": "Value of the specific cell in the confusion matrix. The number of values each row has (i.e. the length of the row) is equal to the length of the annotation_spec_id_token field.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "count": {
          "type": "array",
          "description": "Same as above except intended to represent other counts (for e.g. for segmentation this is pixel count). NOTE(params): Only example_count or count is set (oneoff does not support repeated fields unless they are embedded inside another message).",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "XPSTablesConfidenceMetricsEntry": {
      "properties": {
        "truePositiveRate": {
          "type": "number",
          "description": "TPR = #true positives / (#true positives + #false negatvies)",
          "format": "double"
        },
        "recall": {
          "format": "double",
          "description": "Recall = #true positives / (#true positives + #false negatives).",
          "type": "number"
        },
        "precision": {
          "description": "Precision = #true positives / (#true positives + #false positives).",
          "type": "number",
          "format": "double"
        },
        "f1Score": {
          "format": "double",
          "type": "number",
          "description": "The harmonic mean of recall and precision. (2 * precision * recall) / (precision + recall)"
        },
        "falsePositiveCount": {
          "format": "int64",
          "type": "string",
          "description": "False positive count."
        },
        "falsePositiveRate": {
          "format": "double",
          "type": "number",
          "description": "FPR = #false positives / (#false positives + #true negatives)"
        },
        "truePositiveCount": {
          "format": "int64",
          "type": "string",
          "description": "True positive count."
        },
        "trueNegativeCount": {
          "format": "int64",
          "description": "True negative count.",
          "type": "string"
        },
        "falseNegativeCount": {
          "description": "False negative count.",
          "type": "string",
          "format": "int64"
        },
        "confidenceThreshold": {
          "format": "double",
          "type": "number",
          "description": "The confidence threshold value used to compute the metrics."
        }
      },
      "id": "XPSTablesConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold.",
      "type": "object"
    },
    "XPSEvaluationMetricsSet": {
      "properties": {
        "fileSpec": {
          "description": "File spec containing evaluation metrics of a model, must point to RecordIO file(s) of intelligence.cloud.automl.xps.EvaluationMetrics messages.",
          "$ref": "XPSFileSpec"
        },
        "numEvaluationMetrics": {
          "type": "string",
          "description": "Number of the evaluation metrics (usually one per label plus overall).",
          "format": "int64"
        },
        "evaluationMetrics": {
          "type": "array",
          "description": "Inline EvaluationMetrics - should be relatively small. For passing large quantities of exhaustive metrics, use file_spec.",
          "items": {
            "$ref": "XPSEvaluationMetrics"
          }
        }
      },
      "type": "object",
      "id": "XPSEvaluationMetricsSet",
      "description": "Specifies location of model evaluation metrics."
    },
    "XPSEdgeTpuTfLiteFormat": {
      "id": "XPSEdgeTpuTfLiteFormat",
      "description": "A model format used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
      "type": "object",
      "properties": {}
    },
    "XPSTrainingObjectivePoint": {
      "properties": {
        "value": {
          "format": "float",
          "description": "The objective value when this point was recorded.",
          "type": "number"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time at which this point was recorded.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "XPSTrainingObjectivePoint"
    },
    "XPSImageClassificationTrainResponse": {
      "id": "XPSImageClassificationTrainResponse",
      "type": "object",
      "properties": {
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "trainCostNodeSeconds": {
          "format": "int64",
          "type": "string",
          "description": "The actual training cost, expressed in node seconds. Populated for models trained in node time."
        },
        "classCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of classes."
        },
        "modelArtifactSpec": {
          "$ref": "XPSImageModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope."
        },
        "exportModelSpec": {
          "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Populated for AutoMl requests.",
          "$ref": "XPSImageExportModelSpec"
        },
        "stopReason": {
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'."
        },
        "trainCostInNodeTime": {
          "format": "google-duration",
          "type": "string",
          "description": "The actual cost to create this model. - For edge type model, the cost is expressed in node hour. - For cloud type model,the cost is expressed in compute hour. - Populated for models created before GA. To be deprecated after GA."
        }
      }
    },
    "PartOfSpeech": {
      "id": "PartOfSpeech",
      "description": "Represents part of speech information for a token.",
      "type": "object",
      "properties": {
        "number": {
          "enum": [
            "NUMBER_UNKNOWN",
            "SINGULAR",
            "PLURAL",
            "DUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Number is not applicable in the analyzed language or is not predicted.",
            "Singular",
            "Plural",
            "Dual"
          ],
          "description": "The grammatical number."
        },
        "case": {
          "description": "The grammatical case.",
          "type": "string",
          "enumDescriptions": [
            "Case is not applicable in the analyzed language or is not predicted.",
            "Accusative",
            "Adverbial",
            "Complementive",
            "Dative",
            "Genitive",
            "Instrumental",
            "Locative",
            "Nominative",
            "Oblique",
            "Partitive",
            "Prepositional",
            "Reflexive",
            "Relative",
            "Vocative"
          ],
          "enum": [
            "CASE_UNKNOWN",
            "ACCUSATIVE",
            "ADVERBIAL",
            "COMPLEMENTIVE",
            "DATIVE",
            "GENITIVE",
            "INSTRUMENTAL",
            "LOCATIVE",
            "NOMINATIVE",
            "OBLIQUE",
            "PARTITIVE",
            "PREPOSITIONAL",
            "REFLEXIVE_CASE",
            "RELATIVE_CASE",
            "VOCATIVE"
          ]
        },
        "reciprocity": {
          "description": "The grammatical reciprocity.",
          "type": "string",
          "enumDescriptions": [
            "Reciprocity is not applicable in the analyzed language or is not predicted.",
            "Reciprocal",
            "Non-reciprocal"
          ],
          "enum": [
            "RECIPROCITY_UNKNOWN",
            "RECIPROCAL",
            "NON_RECIPROCAL"
          ]
        },
        "voice": {
          "enum": [
            "VOICE_UNKNOWN",
            "ACTIVE",
            "CAUSATIVE",
            "PASSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Voice is not applicable in the analyzed language or is not predicted.",
            "Active",
            "Causative",
            "Passive"
          ],
          "description": "The grammatical voice."
        },
        "tag": {
          "description": "The part of speech tag.",
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Adjective",
            "Adposition (preposition and postposition)",
            "Adverb",
            "Conjunction",
            "Determiner",
            "Noun (common and proper)",
            "Cardinal number",
            "Pronoun",
            "Particle or other function word",
            "Punctuation",
            "Verb (all tenses and modes)",
            "Other: foreign words, typos, abbreviations",
            "Affix"
          ],
          "enum": [
            "UNKNOWN",
            "ADJ",
            "ADP",
            "ADV",
            "CONJ",
            "DET",
            "NOUN",
            "NUM",
            "PRON",
            "PRT",
            "PUNCT",
            "VERB",
            "X",
            "AFFIX"
          ]
        },
        "tense": {
          "description": "The grammatical tense.",
          "type": "string",
          "enumDescriptions": [
            "Tense is not applicable in the analyzed language or is not predicted.",
            "Conditional",
            "Future",
            "Past",
            "Present",
            "Imperfect",
            "Pluperfect"
          ],
          "enum": [
            "TENSE_UNKNOWN",
            "CONDITIONAL_TENSE",
            "FUTURE",
            "PAST",
            "PRESENT",
            "IMPERFECT",
            "PLUPERFECT"
          ]
        },
        "mood": {
          "type": "string",
          "enumDescriptions": [
            "Mood is not applicable in the analyzed language or is not predicted.",
            "Conditional",
            "Imperative",
            "Indicative",
            "Interrogative",
            "Jussive",
            "Subjunctive"
          ],
          "description": "The grammatical mood.",
          "enum": [
            "MOOD_UNKNOWN",
            "CONDITIONAL_MOOD",
            "IMPERATIVE",
            "INDICATIVE",
            "INTERROGATIVE",
            "JUSSIVE",
            "SUBJUNCTIVE"
          ]
        },
        "gender": {
          "description": "The grammatical gender.",
          "type": "string",
          "enumDescriptions": [
            "Gender is not applicable in the analyzed language or is not predicted.",
            "Feminine",
            "Masculine",
            "Neuter"
          ],
          "enum": [
            "GENDER_UNKNOWN",
            "FEMININE",
            "MASCULINE",
            "NEUTER"
          ]
        },
        "form": {
          "enum": [
            "FORM_UNKNOWN",
            "ADNOMIAL",
            "AUXILIARY",
            "COMPLEMENTIZER",
            "FINAL_ENDING",
            "GERUND",
            "REALIS",
            "IRREALIS",
            "SHORT",
            "LONG",
            "ORDER",
            "SPECIFIC"
          ],
          "description": "The grammatical form.",
          "type": "string",
          "enumDescriptions": [
            "Form is not applicable in the analyzed language or is not predicted.",
            "Adnomial",
            "Auxiliary",
            "Complementizer",
            "Final ending",
            "Gerund",
            "Realis",
            "Irrealis",
            "Short form",
            "Long form",
            "Order form",
            "Specific form"
          ]
        },
        "person": {
          "enum": [
            "PERSON_UNKNOWN",
            "FIRST",
            "SECOND",
            "THIRD",
            "REFLEXIVE_PERSON"
          ],
          "description": "The grammatical person.",
          "type": "string",
          "enumDescriptions": [
            "Person is not applicable in the analyzed language or is not predicted.",
            "First",
            "Second",
            "Third",
            "Reflexive"
          ]
        },
        "aspect": {
          "enum": [
            "ASPECT_UNKNOWN",
            "PERFECTIVE",
            "IMPERFECTIVE",
            "PROGRESSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Aspect is not applicable in the analyzed language or is not predicted.",
            "Perfective",
            "Imperfective",
            "Progressive"
          ],
          "description": "The grammatical aspect."
        },
        "proper": {
          "type": "string",
          "enumDescriptions": [
            "Proper is not applicable in the analyzed language or is not predicted.",
            "Proper",
            "Not proper"
          ],
          "description": "The grammatical properness.",
          "enum": [
            "PROPER_UNKNOWN",
            "PROPER",
            "NOT_PROPER"
          ]
        }
      }
    },
    "XPSTuningTrial": {
      "properties": {
        "modelStructure": {
          "$ref": "XPSTablesModelStructure",
          "description": "Model parameters for the trial."
        },
        "trainingObjectivePoint": {
          "$ref": "XPSTrainingObjectivePoint",
          "description": "The optimization objective evaluation of the eval split data."
        }
      },
      "id": "XPSTuningTrial",
      "description": "Metrics for a tuning job generated, will get forwarded to Stackdriver as model tuning logs. Setting this as a standalone message out of CreateModelMetadata to avoid confusion as we expose this message only to users.",
      "type": "object"
    },
    "Token": {
      "properties": {
        "text": {
          "description": "The token text.",
          "$ref": "TextSpan"
        },
        "lemma": {
          "description": "[Lemma](https://en.wikipedia.org/wiki/Lemma_%28morphology%29) of the token.",
          "type": "string"
        },
        "partOfSpeech": {
          "description": "Parts of speech tag for this token.",
          "$ref": "PartOfSpeech"
        },
        "dependencyEdge": {
          "$ref": "DependencyEdge",
          "description": "Dependency tree parse for this token."
        }
      },
      "id": "Token",
      "description": "Represents the smallest syntactic building block of the text.",
      "type": "object"
    },
    "XPSFileSpec": {
      "id": "XPSFileSpec",
      "description": "Spec of input and output files, on external file systems (for example, Colossus Namespace System or Google Cloud Storage).",
      "type": "object",
      "properties": {
        "fileFormat": {
          "enum": [
            "FILE_FORMAT_UNKNOWN",
            "FILE_FORMAT_SSTABLE",
            "FILE_FORMAT_TRANSLATION_RKV",
            "FILE_FORMAT_RECORDIO",
            "FILE_FORMAT_RAW_CSV",
            "FILE_FORMAT_RAW_CAPACITOR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Internal format for parallel text data used by Google Translate.",
            "",
            "Only the lexicographically first file described by the file_spec contains the header line.",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false
          ]
        },
        "directoryPath": {
          "type": "string",
          "description": "Deprecated. Use file_spec.",
          "deprecated": true
        },
        "singleFilePath": {
          "type": "string",
          "description": "Deprecated. Use file_spec.",
          "deprecated": true
        },
        "fileSpec": {
          "description": "Single file path, or file pattern of format \"/path/to/file@shard_count\". E.g. /cns/cell-d/somewhere/file@2 is expanded to two files: /cns/cell-d/somewhere/file-00000-of-00002 and /cns/cell-d/somewhere/file-00001-of-00002.",
          "type": "string"
        }
      }
    },
    "XPSIntegratedGradientsAttribution": {
      "id": "XPSIntegratedGradientsAttribution",
      "deprecated": true,
      "description": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
      "type": "object",
      "properties": {
        "stepCount": {
          "type": "integer",
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "format": "int32"
        }
      }
    },
    "XPSTableSpec": {
      "properties": {
        "columnSpecs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          },
          "description": "Mapping from column id to column spec."
        },
        "validRowCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of valid rows."
        },
        "timeColumnId": {
          "format": "int32",
          "type": "integer",
          "description": "The id of the time column."
        },
        "rowCount": {
          "description": "The number of rows in the table.",
          "type": "string",
          "format": "int64"
        },
        "importedDataSizeInBytes": {
          "type": "string",
          "description": "The total size of imported data of the table.",
          "format": "int64"
        }
      },
      "id": "XPSTableSpec",
      "type": "object"
    },
    "XPSDataType": {
      "id": "XPSDataType",
      "description": "Indicated the type of data that can be stored in a structured data entity (e.g. a table).",
      "type": "object",
      "properties": {
        "typeCode": {
          "enum": [
            "TYPE_CODE_UNSPECIFIED",
            "FLOAT64",
            "TIMESTAMP",
            "STRING",
            "ARRAY",
            "STRUCT",
            "CATEGORY"
          ],
          "description": "Required. The TypeCode for this type.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. Should not be used.",
            "Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or `\"-Infinity\"`.",
            "Must be between 0AD and 9999AD. Encoded as `string` according to time_format, or, if that format is not set, then in RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z).",
            "Encoded as `string`.",
            "Encoded as `list`, where the list elements are represented according to list_element_type.",
            "Encoded as `struct`, where field values are represented according to struct_type.",
            "Values of this type are not further understood by AutoML, e.g. AutoML is unable to tell the order of values (as it could with FLOAT64), or is unable to say if one value contains another (as it could with STRING). Encoded as `string` (bytes should be base64-encoded, as described in RFC 4648, section 4)."
          ]
        },
        "nullable": {
          "description": "If true, this DataType can also be `null`.",
          "type": "boolean"
        },
        "structType": {
          "description": "If type_code == STRUCT, then `struct_type` provides type information for the struct's fields.",
          "$ref": "XPSStructType"
        },
        "listElementType": {
          "$ref": "XPSDataType",
          "description": "If type_code == ARRAY, then `list_element_type` is the type of the elements."
        },
        "compatibleDataTypes": {
          "type": "array",
          "description": "The highly compatible data types to this data type.",
          "items": {
            "$ref": "XPSDataType"
          }
        },
        "timeFormat": {
          "description": "If type_code == TIMESTAMP then `time_format` provides the format in which that time field is expressed. The time_format must be written in `strftime` syntax. If time_format is not set, then the default format as described on the field is used.",
          "type": "string"
        }
      }
    },
    "XPSTextTrainResponse": {
      "type": "object",
      "id": "XPSTextTrainResponse",
      "properties": {
        "componentModel": {
          "type": "array",
          "description": "Component submodels.",
          "items": {
            "$ref": "XPSTextComponentModel"
          }
        }
      }
    },
    "XPSTrackMetricsEntryConfidenceMetricsEntry": {
      "id": "XPSTrackMetricsEntryConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold. Next tag: 6.",
      "type": "object",
      "properties": {
        "confidenceThreshold": {
          "format": "float",
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "type": "number"
        },
        "boundingBoxIou": {
          "description": "Output only. Bounding box intersection-over-union precision. Measures how well the bounding boxes overlap between each other (e.g. complete overlap or just barely above iou_threshold).",
          "type": "number",
          "format": "float"
        },
        "mismatchRate": {
          "description": "Output only. Mismatch rate, which measures the tracking consistency, i.e. correctness of instance ID continuity.",
          "type": "number",
          "format": "float"
        },
        "trackingRecall": {
          "description": "Output only. Tracking recall.",
          "type": "number",
          "format": "float"
        },
        "trackingPrecision": {
          "format": "float",
          "description": "Output only. Tracking precision.",
          "type": "number"
        }
      }
    },
    "XPSRegressionEvaluationMetrics": {
      "properties": {
        "meanAbsolutePercentageError": {
          "format": "float",
          "type": "number",
          "description": "Mean absolute percentage error. Only set if all ground truth values are positive."
        },
        "rootMeanSquaredLogError": {
          "description": "Root mean squared log error.",
          "type": "number",
          "format": "float"
        },
        "meanAbsoluteError": {
          "description": "Mean Absolute Error (MAE).",
          "type": "number",
          "format": "float"
        },
        "rSquared": {
          "format": "float",
          "description": "R squared.",
          "type": "number"
        },
        "rootMeanSquaredError": {
          "type": "number",
          "description": "Root Mean Squared Error (RMSE).",
          "format": "float"
        },
        "regressionMetricsEntries": {
          "description": "A list of actual versus predicted points for the model being evaluated.",
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "XPSRegressionEvaluationMetrics",
      "description": "Model evaluation metrics for regression problems. It can be used for Tables."
    },
    "XPSVideoClassificationTrainResponse": {
      "properties": {
        "trainCostNodeSeconds": {
          "format": "int64",
          "type": "string",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        }
      },
      "type": "object",
      "id": "XPSVideoClassificationTrainResponse"
    },
    "DependencyEdge": {
      "properties": {
        "headTokenIndex": {
          "description": "Represents the head of this token in the dependency tree. This is the index of the token which has an arc going to this token. The index is the position of the token in the array of tokens returned by the API method. If this token is a root token, then the `head_token_index` is its own index.",
          "type": "integer",
          "format": "int32"
        },
        "label": {
          "enum": [
            "UNKNOWN",
            "ABBREV",
            "ACOMP",
            "ADVCL",
            "ADVMOD",
            "AMOD",
            "APPOS",
            "ATTR",
            "AUX",
            "AUXPASS",
            "CC",
            "CCOMP",
            "CONJ",
            "CSUBJ",
            "CSUBJPASS",
            "DEP",
            "DET",
            "DISCOURSE",
            "DOBJ",
            "EXPL",
            "GOESWITH",
            "IOBJ",
            "MARK",
            "MWE",
            "MWV",
            "NEG",
            "NN",
            "NPADVMOD",
            "NSUBJ",
            "NSUBJPASS",
            "NUM",
            "NUMBER",
            "P",
            "PARATAXIS",
            "PARTMOD",
            "PCOMP",
            "POBJ",
            "POSS",
            "POSTNEG",
            "PRECOMP",
            "PRECONJ",
            "PREDET",
            "PREF",
            "PREP",
            "PRONL",
            "PRT",
            "PS",
            "QUANTMOD",
            "RCMOD",
            "RCMODREL",
            "RDROP",
            "REF",
            "REMNANT",
            "REPARANDUM",
            "ROOT",
            "SNUM",
            "SUFF",
            "TMOD",
            "TOPIC",
            "VMOD",
            "VOCATIVE",
            "XCOMP",
            "SUFFIX",
            "TITLE",
            "ADVPHMOD",
            "AUXCAUS",
            "AUXVV",
            "DTMOD",
            "FOREIGN",
            "KW",
            "LIST",
            "NOMC",
            "NOMCSUBJ",
            "NOMCSUBJPASS",
            "NUMC",
            "COP",
            "DISLOCATED",
            "ASP",
            "GMOD",
            "GOBJ",
            "INFMOD",
            "MES",
            "NCOMP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Abbreviation modifier",
            "Adjectival complement",
            "Adverbial clause modifier",
            "Adverbial modifier",
            "Adjectival modifier of an NP",
            "Appositional modifier of an NP",
            "Attribute dependent of a copular verb",
            "Auxiliary (non-main) verb",
            "Passive auxiliary",
            "Coordinating conjunction",
            "Clausal complement of a verb or adjective",
            "Conjunct",
            "Clausal subject",
            "Clausal passive subject",
            "Dependency (unable to determine)",
            "Determiner",
            "Discourse",
            "Direct object",
            "Expletive",
            "Goes with (part of a word in a text not well edited)",
            "Indirect object",
            "Marker (word introducing a subordinate clause)",
            "Multi-word expression",
            "Multi-word verbal expression",
            "Negation modifier",
            "Noun compound modifier",
            "Noun phrase used as an adverbial modifier",
            "Nominal subject",
            "Passive nominal subject",
            "Numeric modifier of a noun",
            "Element of compound number",
            "Punctuation mark",
            "Parataxis relation",
            "Participial modifier",
            "The complement of a preposition is a clause",
            "Object of a preposition",
            "Possession modifier",
            "Postverbal negative particle",
            "Predicate complement",
            "Preconjunt",
            "Predeterminer",
            "Prefix",
            "Prepositional modifier",
            "The relationship between a verb and verbal morpheme",
            "Particle",
            "Associative or possessive marker",
            "Quantifier phrase modifier",
            "Relative clause modifier",
            "Complementizer in relative clause",
            "Ellipsis without a preceding predicate",
            "Referent",
            "Remnant",
            "Reparandum",
            "Root",
            "Suffix specifying a unit of number",
            "Suffix",
            "Temporal modifier",
            "Topic marker",
            "Clause headed by an infinite form of the verb that modifies a noun",
            "Vocative",
            "Open clausal complement",
            "Name suffix",
            "Name title",
            "Adverbial phrase modifier",
            "Causative auxiliary",
            "Helper auxiliary",
            "Rentaishi (Prenominal modifier)",
            "Foreign words",
            "Keyword",
            "List for chains of comparable items",
            "Nominalized clause",
            "Nominalized clausal subject",
            "Nominalized clausal passive",
            "Compound of numeric modifier",
            "Copula",
            "Dislocated relation (for fronted/topicalized elements)",
            "Aspect marker",
            "Genitive modifier",
            "Genitive object",
            "Infinitival modifier",
            "Measure",
            "Nominal complement of a noun"
          ],
          "description": "The parse label for the token."
        }
      },
      "type": "object",
      "id": "DependencyEdge",
      "description": "Represents dependency parse tree information for a token."
    },
    "XPSTablesTrainingOperationMetadata": {
      "id": "XPSTablesTrainingOperationMetadata",
      "type": "object",
      "properties": {
        "trainingStartTime": {
          "description": "Timestamp when training process starts.",
          "type": "string",
          "format": "google-datetime"
        },
        "trainBudgetMilliNodeHours": {
          "description": "Creating model budget.",
          "type": "string",
          "format": "int64"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "The optimization objective for model."
        },
        "topTrials": {
          "description": "This field is for training. When the operation is terminated successfully, AutoML Backend post this field to operation metadata in spanner. If the metadata has no trials returned, the training operation is supposed to be a failure.",
          "items": {
            "$ref": "XPSTuningTrial"
          },
          "type": "array"
        },
        "trainingObjectivePoints": {
          "type": "array",
          "description": "This field records the training objective value with respect to time, giving insight into how the model architecture search is performing as training time elapses.",
          "items": {
            "$ref": "XPSTrainingObjectivePoint"
          }
        },
        "createModelStage": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified stage.",
            "Prepare the model training pipeline and run data processing.",
            "Training model.",
            "Run evaluation.",
            "Finalizing model training pipeline."
          ],
          "description": "Current stage of creating model.",
          "enum": [
            "CREATE_MODEL_STAGE_UNSPECIFIED",
            "DATA_PREPROCESSING",
            "TRAINING",
            "EVALUATING",
            "MODEL_POST_PROCESSING"
          ]
        }
      }
    },
    "XPSColumnSpecCorrelatedColumn": {
      "id": "XPSColumnSpecCorrelatedColumn",
      "description": "Identifies a table's column, and its correlation with the column this ColumnSpec describes.",
      "type": "object",
      "properties": {
        "columnId": {
          "type": "integer",
          "format": "int32"
        },
        "correlationStats": {
          "$ref": "XPSCorrelationStats"
        }
      }
    },
    "InfraUsage": {
      "properties": {
        "tpuMetrics": {
          "type": "array",
          "description": "Aggregated tpu metrics since requested start_time.",
          "items": {
            "$ref": "TpuMetric"
          }
        },
        "diskMetrics": {
          "type": "array",
          "description": "Aggregated persistent disk metrics since requested start_time.",
          "items": {
            "$ref": "DiskMetric"
          }
        },
        "gpuMetrics": {
          "type": "array",
          "description": "Aggregated gpu metrics since requested start_time.",
          "items": {
            "$ref": "GpuMetric"
          }
        },
        "cpuMetrics": {
          "description": "Aggregated core metrics since requested start_time.",
          "items": {
            "$ref": "CpuMetric"
          },
          "type": "array"
        },
        "ramMetrics": {
          "description": "Aggregated ram metrics since requested start_time.",
          "items": {
            "$ref": "RamMetric"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "InfraUsage",
      "description": "LINT: LEGACY_NAMES Infra Usage of billing metrics."
    },
    "XPSImageModelServingSpec": {
      "properties": {
        "tfRuntimeVersion": {
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list",
          "type": "string"
        },
        "nodeQps": {
          "type": "number",
          "description": "An estimated value of how much traffic a node can serve. Populated for AutoMl request only.",
          "format": "double"
        },
        "modelThroughputEstimation": {
          "description": "Populate under uCAIP request scope.",
          "items": {
            "$ref": "XPSImageModelServingSpecModelThroughputEstimation"
          },
          "type": "array"
        }
      },
      "id": "XPSImageModelServingSpec",
      "description": "Serving specification for image models.",
      "type": "object"
    },
    "XPSImageModelServingSpecModelThroughputEstimation": {
      "type": "object",
      "id": "XPSImageModelServingSpecModelThroughputEstimation",
      "properties": {
        "computeEngineAcceleratorType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "Nvidia A100 80GB GPU.",
            "Nvidia L4 GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H200 141Gb GPU.",
            "Nvidia B200 GPU.",
            "Nvidia GB200 GPU.",
            "TPU v2 (JellyFish).",
            "TPU v3 (DragonFish).",
            "TPU_v4 (PufferFish).",
            "TPU v5 Lite Pods."
          ],
          "enum": [
            "UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_L4",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "TPU_V2",
            "TPU_V3",
            "TPU_V4_POD",
            "TPU_V5_LITEPOD"
          ]
        },
        "nodeQps": {
          "description": "The approximate qps a deployed node can serve.",
          "type": "number",
          "format": "double"
        },
        "latencyInMilliseconds": {
          "type": "number",
          "description": "Estimated latency.",
          "format": "double"
        },
        "servomaticPartitionType": {
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ]
        }
      }
    },
    "XPSDataStats": {
      "properties": {
        "arrayStats": {
          "description": "The statistics for ARRAY DataType.",
          "$ref": "XPSArrayStats"
        },
        "stringStats": {
          "description": "The statistics for STRING DataType.",
          "$ref": "XPSStringStats"
        },
        "distinctValueCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of distinct values."
        },
        "nullValueCount": {
          "type": "string",
          "description": "The number of values that are null.",
          "format": "int64"
        },
        "structStats": {
          "$ref": "XPSStructStats",
          "description": "The statistics for STRUCT DataType."
        },
        "categoryStats": {
          "description": "The statistics for CATEGORY DataType.",
          "$ref": "XPSCategoryStats"
        },
        "timestampStats": {
          "description": "The statistics for TIMESTAMP DataType.",
          "$ref": "XPSTimestampStats"
        },
        "float64Stats": {
          "$ref": "XPSFloat64Stats",
          "description": "The statistics for FLOAT64 DataType."
        },
        "validValueCount": {
          "type": "string",
          "description": "The number of values that are valid.",
          "format": "int64"
        }
      },
      "id": "XPSDataStats",
      "description": "The data statistics of a series of values that share the same DataType.",
      "type": "object"
    },
    "XPSTablesDatasetMetadata": {
      "properties": {
        "weightColumnId": {
          "format": "int32",
          "type": "integer",
          "description": "Id of the primary table column that should be used as the weight column."
        },
        "targetColumnId": {
          "description": "Id of the primary table column that should be used as the training label.",
          "type": "integer",
          "format": "int32"
        },
        "mlUseColumnId": {
          "format": "int32",
          "type": "integer",
          "description": "Id the column to split the table."
        },
        "primaryTableSpec": {
          "$ref": "XPSTableSpec",
          "description": "Primary table."
        },
        "targetColumnCorrelations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSCorrelationStats"
          },
          "description": "(the column id : its CorrelationStats with target column)."
        }
      },
      "id": "XPSTablesDatasetMetadata",
      "description": "Metadata for a dataset used for AutoML Tables.",
      "type": "object"
    },
    "XPSResponseExplanationMetadataOutputMetadata": {
      "id": "XPSResponseExplanationMetadataOutputMetadata",
      "description": "Metadata of the prediction output to be explained.",
      "type": "object",
      "properties": {
        "outputTensorName": {
          "type": "string",
          "description": "Name of the output tensor. Only needed in train response."
        }
      }
    },
    "GpuMetric": {
      "id": "GpuMetric",
      "type": "object",
      "properties": {
        "gpuSec": {
          "type": "string",
          "description": "Required. Seconds of GPU usage, e.g. 3600.",
          "format": "int64"
        },
        "trackingLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\""
        },
        "gpuType": {
          "enum": [
            "UNKNOWN_GPU_TYPE",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "NVIDIA_TESLA_K80",
            "NVIDIA_L4",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_V100",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_RTX_PRO_6000"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Type of GPU, e.g. NVIDIA_TESLA_V100."
        },
        "machineSpec": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ]
        }
      }
    },
    "XPSImageSegmentationTrainResponse": {
      "type": "object",
      "id": "XPSImageSegmentationTrainResponse",
      "properties": {
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope. Model artifact spec stores and model gcs pathes and related metadata",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "colorMaps": {
          "type": "array",
          "description": "Color map of the model.",
          "items": {
            "$ref": "XPSColorMap"
          }
        },
        "trainCostNodeSeconds": {
[...]
